Repository rapidsai/cudf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-python-codeowners, @rapidsai/cudf-dask-codeowners, @rapidsai/cudf-cmake-codeowners, @rapidsai/cudf-java-codeowners, @rapidsai/ops-codeowners

add copyright and use string buffer
  python/cudf/cudf/fuzz_tests/fuzz_test_csv.py
  python/cudf/cudf/fuzz_tests/fuzz_test_json.py
  python/cudf/cudf/fuzz_tests/fuzz_test_parquet.py
  python/cudf/cudf/testing/csv.py
  python/cudf/cudf/testing/fuzzer.py
  python/cudf/cudf/testing/json.py
  python/cudf/cudf/testing/main.py
  python/cudf/cudf/testing/parquet.py
  python/cudf/cudf/testing/utils.py
Owners: @rapidsai/cudf-python-codeowners

correct output column order and avoid int32-int64 comparision in test_groupby_multiindex_reset_index
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Owners: @rapidsai/cudf-dask-codeowners

change print to an error
  python/cudf/cudf/testing/utils.py
Owners: @rapidsai/cudf-python-codeowners

Java and Jni support for Struct columns (#6171)
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnViewAccess.java
  java/src/main/java/ai/rapids/cudf/DType.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ScalarTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Owners: @rapidsai/cudf-java-codeowners

handle keyboard interrupts and exit
  python/cudf/cudf/testing/fuzzer.py
Owners: @rapidsai/cudf-python-codeowners

review comments updates(vuule)
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/src/reductions/nth_element.cu
Owners: @rapidsai/cudf-cpp-codeowners

complexity warning added
  cpp/include/cudf/detail/reduction_functions.hpp
Owners: @rapidsai/cudf-cpp-codeowners

update changelog
  CHANGELOG.md
Owners: none

minmax benchmark, cub::reduce
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reduction/minmax_benchmark.cpp
  cpp/src/reductions/minmax.cu
Owners: @rapidsai/cudf-cmake-codeowners, @rapidsai/cudf-cpp-codeowners

[REVIEW] Add builder API for cuIO `csv_writer_options` and `csv_reader_options` (#6122)
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/include/cudf/io/avro.hpp
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/csv.hpp
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/libcudf_kafka/tests/kafka_consumer_tests.cpp
  cpp/src/io/avro/reader_impl.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/csv/writer_impl.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/_lib/cpp/io/csv.pxd
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/move.pxd
  python/cudf/cudf/_lib/parquet.pyx
Owners: @rapidsai/ops-codeowners, @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-python-codeowners

Replace function macros with inline functions (#6206)
  CHANGELOG.md
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/snap.cu
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/utilities/block_utils.cuh
Owners: @rapidsai/cudf-cpp-codeowners

move to non detail header and integrate normalization into the kernel
  cpp/include/cudf/detail/reshape.hpp
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/byte_cast.cu
  cpp/tests/reshape/byte_cast_tests.cpp
Owners: @rapidsai/cudf-cpp-codeowners

replace writing to parquet directly from pyarrow
  python/cudf/cudf/testing/parquet.py
Owners: @rapidsai/cudf-python-codeowners

remove skipping of timedelta types in csv
  python/cudf/cudf/testing/csv.py
Owners: @rapidsai/cudf-python-codeowners

give limits to datetime and duration types
  python/cudf/cudf/tests/dataset_generator.py
Owners: @rapidsai/cudf-python-codeowners

parametrize max_string_length
  python/cudf/cudf/testing/csv.py
  python/cudf/cudf/testing/fuzzer.py
  python/cudf/cudf/testing/json.py
  python/cudf/cudf/testing/main.py
  python/cudf/cudf/testing/parquet.py
  python/cudf/cudf/testing/utils.py
Owners: @rapidsai/cudf-python-codeowners

[struct] Fix struct filtering.
  CHANGELOG.md
  cpp/src/column/column.cu
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
Owners: @rapidsai/cudf-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cudf-cpp-codeowners

#python code owners
python/            @rapidsai/cudf-python-codeowners
notebooks/         @rapidsai/cudf-python-codeowners
python/dask_cudf/  @rapidsai/cudf-dask-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cudf-cmake-codeowners
**/cmake/          @rapidsai/cudf-cmake-codeowners

#java code owners
java/              @rapidsai/cudf-java-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
/ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
