Repository rapidsai/cudf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-python-codeowners, @rapidsai/cudf-dask-codeowners, @rapidsai/cudf-cmake-codeowners, @rapidsai/cudf-java-codeowners, @rapidsai/cudf-ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cudf-cpp-codeowners

#python code owners
python/            @rapidsai/cudf-python-codeowners
python/dask_cudf/  @rapidsai/cudf-dask-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cudf-cmake-codeowners
**/cmake/          @rapidsai/cudf-cmake-codeowners

#java code owners
java/              @rapidsai/cudf-java-codeowners

#build/ops code owners
.github/           @rapidsai/cudf-ops-codeowners 
ci/                @rapidsai/cudf-ops-codeowners
conda/             @rapidsai/cudf-ops-codeowners
**/Dockerfile      @rapidsai/cudf-ops-codeowners
**/.dockerignore   @rapidsai/cudf-ops-codeowners
docker/            @rapidsai/cudf-ops-codeowners

fix(code formatting)
  CHANGELOG.md
  python/cudf/cudf/tests/test_apply_rows.py
  python/cudf/cudf/utils/applyutils.py
Owners: @rapidsai/cudf-python-codeowners

fix(code formatting)
  python/cudf/cudf/utils/applyutils.py
Owners: @rapidsai/cudf-python-codeowners

fix(code formatting)
  CHANGELOG.md
Owners: none

fix(code formatting)
  CHANGELOG.md
Owners: none

fix(code formatting)
  python/cudf/cudf/utils/applyutils.py
Owners: @rapidsai/cudf-python-codeowners

fix(code formatting)
  python/cudf/cudf/tests/test_apply_rows.py
Owners: @rapidsai/cudf-python-codeowners

fix(code formatting)
  python/cudf/cudf/tests/test_apply_rows.py
Owners: @rapidsai/cudf-python-codeowners

fix(code formatting)
  python/cudf/cudf/utils/applyutils.py
Owners: @rapidsai/cudf-python-codeowners

Add groupby wo agg.
  cpp/src/groupby/groupby_without_aggregation.cu
Owners: @rapidsai/cudf-cpp-codeowners

Use updated groupby wo agg.
  cpp/src/groupby/groupby_without_aggregation.cu
Owners: @rapidsai/cudf-cpp-codeowners

Fixed some issues with string support
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Owners: @rapidsai/cudf-java-codeowners

Updated changelog
  CHANGELOG.md
Owners: none

Addressed review comments
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Owners: @rapidsai/cudf-java-codeowners

Update python/cudf/cudf/dataframe/column.py
  python/cudf/cudf/dataframe/column.py
Owners: @rapidsai/cudf-python-codeowners

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

fix(tests)
  CHANGELOG.md
  python/cudf/cudf/utils/applyutils.py
Owners: @rapidsai/cudf-python-codeowners

add information about style checks to `PULL_REQUEST_TEMPLATE.md`
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rapidsai/cudf-ops-codeowners

Don't use link in commented template, indicate to run from project root
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rapidsai/cudf-ops-codeowners

bringing categories to host and iterating
  python/cudf/cudf/dataframe/dataframe.py
Owners: @rapidsai/cudf-python-codeowners

Undo mutation of column name in label_encode
  python/cudf/cudf/dataframe/series.py
Owners: @rapidsai/cudf-python-codeowners

Update changelog
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

add missing files.
  cpp/tests/copying/nvstring_scatter_tests.cu
  cpp/tests/copying/scalar_scatter_tests.cu
Owners: @rapidsai/cudf-cpp-codeowners

using pandas series instead of list
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/series.py
Owners: @rapidsai/cudf-python-codeowners

Add **kwargs to astype() to enable ordered/unordered categoricals
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/dataframe/columnops.py
  python/cudf/cudf/dataframe/datetime.py
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/dataframe/string.py
  python/cudf/cudf/tests/test_dataframe.py
Owners: @rapidsai/cudf-python-codeowners

guarding with a to_pandas check to be more generic
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/series.py
Owners: @rapidsai/cudf-python-codeowners

flake8
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/dataframe/columnops.py
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/tests/test_dataframe.py
Owners: @rapidsai/cudf-python-codeowners

fixing cython flake8
  python/cudf/cudf/bindings/typecast.pyx
  python/cudf/cudf/bindings/unaryops.pxd
  python/cudf/cudf/bindings/unaryops.pyx
Owners: @rapidsai/cudf-python-codeowners

For column scatter with nvstring type now the value and the category are synchronized.
  cpp/src/copying/gather.cu
  cpp/src/string/nvcategory_util.cpp
  cpp/src/string/nvcategory_util.hpp
  cpp/tests/copying/nvstring_scatter_tests.cu
  cpp/tests/utilities/cudf_test_utils.cu
Owners: @rapidsai/cudf-cpp-codeowners

bump arrow and dask versions
  CHANGELOG.md
  CONTRIBUTING.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
Owners: @rapidsai/cudf-ops-codeowners, @rapidsai/cudf-cmake-codeowners

changelog #
  CHANGELOG.md
Owners: none
