Repository rapidsai/cudf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-python-codeowners, @rapidsai/cudf-dask-codeowners, @rapidsai/cudf-cmake-codeowners, @rapidsai/cudf-java-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cudf-cpp-codeowners

#python code owners
python/            @rapidsai/cudf-python-codeowners
notebooks/         @rapidsai/cudf-python-codeowners
python/dask_cudf/  @rapidsai/cudf-dask-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cudf-cmake-codeowners
**/cmake/          @rapidsai/cudf-cmake-codeowners

#java code owners
java/              @rapidsai/cudf-java-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
/ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners

[REVIEW] csv infinity parsing support (#6234)
  CHANGELOG.md
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/utilities/parsing_utils.cuh
  python/cudf/cudf/tests/test_csv.py
Owners: @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-python-codeowners

make max string length generation random
  python/cudf/cudf/testing/utils.py
Owners: @rapidsai/cudf-python-codeowners

add todo for list dtype support
  python/cudf/cudf/tests/dataset_generator.py
Owners: @rapidsai/cudf-python-codeowners

[REVIEW] cuio: rename reader/writer private members for visibility (#6218)
  CHANGELOG.md
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Owners: @rapidsai/cudf-cpp-codeowners

cudf::detail::span add explicit const and non-const constructors for host_span and device_span
  cpp/include/cudf/utilities/span.hpp
Owners: @rapidsai/cudf-cpp-codeowners

[REVIEW] Fix compilation error with GCC 8 (#6259)
  CHANGELOG.md
  cpp/benchmarks/common/generate_benchmark_input.cpp
Owners: @rapidsai/cudf-cpp-codeowners

name fix
  cpp/include/cudf/io/datasource.hpp
Owners: @rapidsai/cudf-cpp-codeowners

span_base: add generic constructor
  cpp/include/cudf/utilities/span.hpp
Owners: @rapidsai/cudf-cpp-codeowners

CMake change to find and link to cufile lib
  cpp/CMakeLists.txt
Owners: @rapidsai/cudf-cmake-codeowners

[lead/lag] Implement LEAD/LAG window functions
  CHANGELOG.md
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/rolling.cu
  cpp/src/rolling/rolling_detail.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/lead_lag/lead_lag_test.cpp
Owners: @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-cmake-codeowners

added new min_col function to dtypes and updates frame.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/utils/dtypes.py
Owners: @rapidsai/cudf-python-codeowners

added new min_col function to dtypes and updates frame.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/utils/dtypes.py
Owners: @rapidsai/cudf-python-codeowners

[REVIEW] Add builder API for cuIO `orc_writer_options` and `orc_reader_options` (#6138)
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/include/cudf/io/detail/orc.hpp
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/chunked_state.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/tests/io/orc_test.cpp
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/move.pxd
  python/cudf/cudf/_lib/orc.pyx
Owners: @rapidsai/ops-codeowners, @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-python-codeowners

changes to tests to ignore datatype.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_ops.py
Owners: @rapidsai/cudf-python-codeowners

Multi Level def level values calculation works
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.h
  cpp/src/io/parquet/writer_impl.cu
Owners: @rapidsai/cudf-cpp-codeowners

add nth_element with null_handling
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/src/reductions/nth_element.cu
Owners: @rapidsai/cudf-cmake-codeowners, @rapidsai/cudf-cpp-codeowners

add NTH_ELEMENT aggregation to reduce()
  cpp/src/reductions/reductions.cpp
Owners: @rapidsai/cudf-cpp-codeowners

add unit tests for nth_element
  cpp/tests/reductions/reduction_tests.cpp
Owners: @rapidsai/cudf-cpp-codeowners

changelog entry for PR#6262
  CHANGELOG.md
Owners: none

Single nesting level rep level cal works
  cpp/src/io/parquet/page_enc.cu
  cpp/tests/io/parquet_test.cpp
Owners: @rapidsai/cudf-cpp-codeowners

[REVIEW] duration csv writer, reader support (#6076)
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/converters.hpp
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/csv/durations.cu
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/csv/writer_impl.hpp
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/utilities/type_conversion.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json_test.cpp
Owners: @rapidsai/cudf-cmake-codeowners, @rapidsai/cudf-cpp-codeowners

Remove include statement for missing rmm/mr/device/default_memory_resource.hpp file
  CHANGELOG.md
  cpp/include/cudf/io/orc.hpp
Owners: @rapidsai/cudf-cpp-codeowners

Update JNI to use ORC options builder
  java/src/main/native/src/TableJni.cpp
Owners: @rapidsai/cudf-java-codeowners

changelog
  CHANGELOG.md
Owners: none

Update cpp/include/cudf/reduction.hpp
  cpp/include/cudf/reduction.hpp
Owners: @rapidsai/cudf-cpp-codeowners

Update cpp/include/cudf/reduction.hpp
  cpp/include/cudf/reduction.hpp
Owners: @rapidsai/cudf-cpp-codeowners

Update cpp/src/reductions/minmax.cu
  cpp/src/reductions/minmax.cu
Owners: @rapidsai/cudf-cpp-codeowners

Update cpp/src/reductions/minmax.cu
  cpp/src/reductions/minmax.cu
Owners: @rapidsai/cudf-cpp-codeowners

Update cpp/src/reductions/minmax.cu
  cpp/src/reductions/minmax.cu
Owners: @rapidsai/cudf-cpp-codeowners

Update cpp/src/reductions/minmax.cu
  cpp/src/reductions/minmax.cu
Owners: @rapidsai/cudf-cpp-codeowners

cudf::detail::span remove commented constructors from derived classes
  cpp/include/cudf/utilities/span.hpp
Owners: @rapidsai/cudf-cpp-codeowners

Update JNI to use ORC options builder (#6265)
  CHANGELOG.md
  java/src/main/native/src/TableJni.cpp
Owners: @rapidsai/cudf-java-codeowners

rmm change
  cpp/include/cudf/io/orc.hpp
Owners: @rapidsai/cudf-cpp-codeowners

Remove include statement for missing rmm/mr/device/default_memory_resource.hpp file (#6264)
  CHANGELOG.md
  cpp/include/cudf/io/orc.hpp
Owners: @rapidsai/cudf-cpp-codeowners

[lead/lag] Fixed typo in test code.
  cpp/tests/lead_lag/lead_lag_test.cpp
Owners: @rapidsai/cudf-cpp-codeowners

Add shuffle before WarpReduce
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_dict.cu
Owners: @rapidsai/cudf-cpp-codeowners

Updating and cleanup from comments
  cpp/include/cudf/reduction.hpp
  cpp/src/reductions/minmax.cu
Owners: @rapidsai/cudf-cpp-codeowners

PR#6171 Minor nit fixup in getStruct
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
Owners: @rapidsai/cudf-java-codeowners

fix invalid device function error, exec_policy, transform_iterator
  cpp/src/reductions/minmax.cu
Owners: @rapidsai/cudf-cpp-codeowners

Adding some changes requested by Karthik
  cpp/src/reductions/minmax.cu
Owners: @rapidsai/cudf-cpp-codeowners
