Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Prune rgs with bloom filters in expt PQ reader
  cpp/CMakeLists.txt
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf, CMake

Add missed group
  dependencies.yaml
Labels: none

Fix a typo
  cpp/tests/join/distinct_join_tests.cpp
Labels: libcudf

Have ci/test_python_common.sh accept multiple files, make new section for test_pylibcudf
  ci/test_python_common.sh
  dependencies.yaml
Labels: none

Add support for the Arrow device capsule interfaces (#15370)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pylibcudf/_interop_helpers.pxd
  python/pylibcudf/pylibcudf/_interop_helpers.pyx
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/table.pyx
  python/pylibcudf/pylibcudf/tests/test_interop.py
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

Expose join hash table load factor (#18361)
  cpp/benchmarks/join/distinct_join.cu
  cpp/include/cudf/detail/join/distinct_hash_join.cuh
  cpp/include/cudf/detail/join/hash_join.cuh
  cpp/include/cudf/join/distinct_hash_join.hpp
  cpp/include/cudf/join/hash_join.hpp
  cpp/src/join/distinct_hash_join.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join.cu
  cpp/tests/join/distinct_join_tests.cpp
  cpp/tests/join/join_tests.cpp
  java/src/main/native/src/HashJoinJni.cpp
  java/src/main/native/src/TableJni.cpp
Labels: libcudf, Java

Add back cudf root (#18544)
  conda/recipes/libcudf/recipe.yaml
Labels: none

removed buffer_string
  cpp/include/cudf/utilities/buffer_string.cuh
  cpp/src/transform/jit/kernel.cu
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

Updated test
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

removed buffer_string
  cpp/include/cudf/strings/detail/utf8.hpp
Labels: libcudf

fixed warnings
  cpp/include/cudf/jit/span.cuh
  cpp/src/transform/transform.cpp
Labels: libcudf

remove debug launch config/fix some tests
  python/cudf/cudf/core/udf/groupby_utils.py
Labels: Python

fixed tests
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

some more demo related typing and lowering, needs c++ side
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/cudf/core/udf/groupby_typing.py
Labels: Python

remove bool
  python/cudf_polars/cudf_polars/experimental/scheduler.py
Labels: Python, cudf.polars

make cache Mapping
  python/cudf_polars/cudf_polars/experimental/scheduler.py
Labels: Python, cudf.polars

Change type of `count` from `size_type` to `result_type` which is `double`
  cpp/src/groupby/sort/group_merge_m2.cu
Labels: libcudf

Use assert_groupby_results_equal for failing tests
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

Some cleanup
  cpp/src/groupby/sort/group_merge_m2.cu
Labels: libcudf

make from_gpumemoryview private and split up parse and validate
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

demo code runs clean
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

Use urllib instead of requests
  ci/cudf_pandas_scripts/fetch_pandas_versions.py
Labels: none

clean up
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Revert "Some cleanup"
  cpp/src/groupby/sort/group_merge_m2.cu
Labels: libcudf

Fix auto-detection of compression type in host-side decompression (#18440)
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/functions.cpp
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

Change `result_type` to `int64_t`
  cpp/src/groupby/sort/group_merge_m2.cu
Labels: libcudf

address review
  python/cudf_polars/cudf_polars/testing/io.py
  python/cudf_polars/tests/testing/test_io.py
Labels: Python, cudf.polars

Use trait APIs instead
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Fix as_index test and doctest
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

Implement separate code paths for different types of `count`
  cpp/src/groupby/sort/group_merge_m2.cu
Labels: libcudf

Fix `const`
  cpp/src/groupby/sort/group_merge_m2.cu
Labels: libcudf

Fix hard-coded type
  cpp/src/groupby/sort/group_merge_m2.cu
Labels: libcudf

Add tests for _can_values_be_equal
  python/cudf/cudf/tests/test_column.py
Labels: Python

[DOC] Running libcudf benchmarks and comparing output results
  cpp/doxygen/developer_guide/BENCHMARKING.md
Labels: libcudf

skip decompressing of pruned data pages
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
Labels: libcudf

reuse data_length, add docs about host column data
  python/cudf/cudf/core/dataframe.py
Labels: Python

Add by instead
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

Fix tests
  cpp/tests/groupby/merge_m2_tests.cpp
Labels: libcudf

use refcounting to clear cache
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/scheduler.py
Labels: Python, cudf.polars

Added `pylibcudf.utilities.is_ptds_enabled` (#18467)
  docs/cudf/source/pylibcudf/api_docs/index.rst
  docs/cudf/source/pylibcudf/api_docs/utilities.rst
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/__init__.pxd
  python/pylibcudf/pylibcudf/__init__.py
  python/pylibcudf/pylibcudf/libcudf/utilities/default_stream.pxd
  python/pylibcudf/pylibcudf/tests/test_utilities.py
  python/pylibcudf/pylibcudf/utilities.pxd
  python/pylibcudf/pylibcudf/utilities.pyi
  python/pylibcudf/pylibcudf/utilities.pyx
Labels: Python, pylibcudf, CMake
