Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

added int128_t support
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

Update Changelog [skip ci]
  CHANGELOG.md
Labels: none

address code review
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

add a comment
  python/cudf/cudf/pandas/_wrappers/numpy.py
Labels: Python, cudf.pandas

move pl-to-pa conversion from LiteralColumn init to translation
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Use explicit template instantiation rather than forwarding functions
  cpp/include/cudf/detail/rolling.hpp
  cpp/src/rolling/detail/range_following.cu
  cpp/src/rolling/detail/range_preceding.cu
  cpp/src/rolling/range_rolling.cu
Labels: libcudf

Move polyfill code to its use site
  cpp/include/cudf/detail/rolling.hpp
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/range_rolling.cu
Labels: libcudf

Naming
  cpp/src/rolling/range_rolling.cu
Labels: libcudf

fix merge conflict
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

fix merge conflicts
  dependencies.yaml
Labels: none

REL v25.02.00 release
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/libcudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, cudf.polars, pylibcudf

add a roundtrip test
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Remove deprecated rolling window functionality (#17993)
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
Labels: libcudf

updated polynomials benchmarks to use multi-input columns
  cpp/benchmarks/transform/polynomials.cpp
Labels: libcudf

refactoring
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

Create Conda CI test env in one step (#17995)
  ci/release/update-version.sh
  ci/test_python_common.sh
  ci/test_python_other.sh
  dependencies.yaml
Labels: none

Pass dtype objects to astype
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/utils/utils.py
Labels: Python

Add `Column.serialize` to cudf-polars (#17990)
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: Python, cudf.polars

[Bug] Fix Parquet-metadata sampling in cudf-polars (#17991)
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/tests/experimental/test_scan.py
Labels: Python, cudf.polars

Make `cudf.pandas` proxy array picklable (#17929)
  python/cudf/cudf/pandas/_wrappers/numpy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_holoviews.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_matplotlib.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_numpy.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_seaborn.py
Labels: Python, cudf.pandas

Refactor math_ops.cu dispatcher logic
  cpp/src/unary/math_ops.cu
Labels: libcudf

Remove _use_fast_lib in favor of just checking the _disable_count
  python/cudf/cudf/pandas/module_accelerator.py
Labels: Python, cudf.pandas

Prevent setting attributes to ColumnMethods
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_string.py
Labels: Python

style
  python/cudf/cudf/pandas/module_accelerator.py
Labels: Python, cudf.pandas

add get_first_and_last_offset utility
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/strings/utilities.cu
  cpp/src/text/normalize.cu
  cpp/tests/text/normalize_tests.cpp
Labels: libcudf

Update CMake minimum required to 3.30.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf_kafka/conda_build_config.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/pylibcudf/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/billion_rows/CMakeLists.txt
  cpp/examples/interop/CMakeLists.txt
  cpp/examples/nested_types/CMakeLists.txt
  cpp/examples/parquet_io/CMakeLists.txt
  cpp/examples/strings/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  dependencies.yaml
  java/src/main/native/CMakeLists.txt
  python/cudf/CMakeLists.txt
  python/cudf/pyproject.toml
  python/cudf/udf_cpp/CMakeLists.txt
  python/cudf_kafka/CMakeLists.txt
  python/cudf_kafka/pyproject.toml
  python/libcudf/CMakeLists.txt
  python/libcudf/pyproject.toml
  python/pylibcudf/CMakeLists.txt
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf, libcudf, CMake, Java

fixed formatting
  cpp/benchmarks/transform/polynomials.cpp
Labels: libcudf

use l/rcol dtype instead of category
  python/cudf/cudf/core/join/join.py
Labels: Python

merge again?
  python/pylibcudf/pylibcudf/nvtext/generate_ngrams.pyx
Labels: Python, pylibcudf

added q09 ndsh benchmarks for transforms
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/ndsh/q09_transforms.cpp
Labels: libcudf, CMake

Refactor predicate pushdown to reuse row group pruning in experimental PQ reader (#17946)
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

IR version bump
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

fix to_arrow for custom types
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python

cleanup
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_list.py
Labels: Python

lint
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

Remove deprecated single component datetime extract APIs
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  python/pylibcudf/pylibcudf/datetime.pxd
  python/pylibcudf/pylibcudf/datetime.pyi
  python/pylibcudf/pylibcudf/datetime.pyx
  python/pylibcudf/pylibcudf/libcudf/datetime.pxd
  python/pylibcudf/pylibcudf/tests/test_datetime.py
Labels: Python, pylibcudf, libcudf

missed some cython
  python/pylibcudf/pylibcudf/libcudf/datetime.pxd
Labels: Python, pylibcudf

Add first five APIs of hybrid scan
  cpp/CMakeLists.txt
  cpp/include/cudf/io/detail/experimental/hybrid_scan.hpp
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf, CMake

pivot
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Add skeleton for datetime conversion
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar.pxd
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
