Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

add pytests
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/tests/test_nvtext_minhash.py
Labels: Python, pylibcudf

Update pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update pr.yaml
  .github/workflows/pr.yaml
Labels: none

Compatibility with Dask `main` (#17992)
  python/dask_cudf/dask_cudf/_expr/__init__.py
  python/dask_cudf/dask_cudf/_expr/collection.py
Labels: Python

Add seed parameter to cudf hash_character_ngrams
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/generate_ngrams.pxd
  python/pylibcudf/pylibcudf/nvtext/generate_ngrams.pxd
  python/pylibcudf/pylibcudf/nvtext/generate_ngrams.pyi
  python/pylibcudf/pylibcudf/nvtext/generate_ngrams.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_generate_ngrams.py
Labels: Python, pylibcudf

Create Conda CI test env in one step
  ci/release/update-version.sh
  ci/test_python_common.sh
  ci/test_python_other.sh
  dependencies.yaml
Labels: none

address code review
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
Labels: Python, cudf.polars

Move cudf::lists::detail::make_empty_lists_column to public API
  cpp/include/cudf/column/column_factories.hpp
  cpp/src/lists/lists_column_factories.cu
  cpp/src/lists/sequences.cu
Labels: libcudf

move new parameter to the end of fn signature
  python/cudf/cudf/core/column/string.py
Labels: Python

use TypedDict for serialization headers
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/typing/__init__.py
Labels: Python, cudf.polars

Add missing @param in docstring
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Rename equality_literals to simply literals
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Address more test failures
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/tools/numeric.py
Labels: Python

fix function doc
  python/cudf/cudf/core/column/string.py
Labels: Python

fix test_string_udfs
  python/cudf/cudf/tests/test_string_udfs.py
Labels: Python

Remove decimal32/64 to decimal128 conversion in Parquet writer (#17869)
  cpp/CMakeLists.txt
  cpp/src/interop/decimal_conversion_utilities.cu
  cpp/src/interop/decimal_conversion_utilities.cuh
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_host.cu
  cpp/src/io/parquet/arrow_schema_writer.cpp
  cpp/src/io/parquet/ipc/Schema_generated.h
  cpp/src/io/parquet/ipc/schema/Schema.fbs
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf, CMake

Fix validation errors
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
Labels: Python, cudf.polars

add tests
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

update
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: Python, cudf.pandas

Continue on failures in cudf.pandas integration tests CI job (#17987)
  .github/workflows/pr.yaml
Labels: none

add profile names
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/typing/__init__.py
Labels: Python, cudf.polars

clean up
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Check null count too in sum aggregation (#17964)
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/containers/test_column.py
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/utils/test_broadcast.py
Labels: Python, cudf.polars

custom __reduce__
  python/cudf/cudf/pandas/_wrappers/numpy.py
  python/cudf/cudf/pandas/proxy_base.py
Labels: Python, cudf.pandas

Add `pylibcudf.Scalar.from_py` for construction from Python strings, bool, int, float (#17898)
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

Add catboost integration tests (#17931)
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
Labels: Python, cudf.pandas

custom __setstate__
  python/cudf/cudf/pandas/proxy_base.py
Labels: Python, cudf.pandas

Use KvikIO to enable file's fast host read and host write (#17764)
  cpp/CMakeLists.txt
  cpp/include/cudf/io/config_utils.hpp
  cpp/include/cudf/io/data_sink.hpp
  cpp/src/io/utilities/config_utils.cpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/file_io_test.cpp
  docs/cudf/source/user_guide/io/io.md
Labels: libcudf, CMake

add serialization workarounds
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/nodebase.py
Labels: Python, cudf.polars

add basic test coverage
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

Avoid cudf.dtype calls in build_column/column_empty/.where (#17979)
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_apply_rows.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_testing.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/queryutils.py
Labels: Python

Install upstream dev dependencies in nightly CI
  ci/test_wheel_dask_cudf.sh
Labels: none

modve __reduce__ to ndarray
  python/cudf/cudf/pandas/_wrappers/numpy.py
  python/cudf/cudf/pandas/proxy_base.py
Labels: Python, cudf.pandas

Added Multi-input & Scalar Support for Transform UDFs (#17881)
  cpp/include/cudf/transform.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  python/cudf/cudf/core/column/numerical.py
  python/pylibcudf/pylibcudf/libcudf/transform.pxd
  python/pylibcudf/pylibcudf/tests/test_transform.py
  python/pylibcudf/pylibcudf/transform.pxd
  python/pylibcudf/pylibcudf/transform.pyi
  python/pylibcudf/pylibcudf/transform.pyx
Labels: Python, pylibcudf, libcudf, Java

initial changes for decimal support
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

added fixed point header
  cpp/src/transform/jit/kernel.cu
Labels: libcudf

added sizeof_int128 define to make int128_t compile
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: libcudf, CMake
