Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Require `numba-cuda>=0.11.0` (#18770)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python

fix shuffle bug
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

roll back breaking changes
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

Update pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/test.yaml
  .github/workflows/test.yaml
Labels: none

fix spilling
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Avoid going OOM in `test_row_limit_exceed_raises` by using dummy array (#18802)
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

test
  cpp/tests/io/text/data_chunk_source_test.cpp
Labels: libcudf

fix
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Revert "fix"
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Revert "test"
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

style
  cpp/tests/io/text/data_chunk_source_test.cpp
Labels: libcudf

exception type
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Combine some tests, raise TypeError instead of ValueError
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
Labels: Python

Change calls to thrust::swap to cuda::std::swap
  cpp/src/sort/sort_column_impl.cuh
  cpp/src/text/edit_distance.cu
Labels: libcudf

Refactor distinct join to use primitive row operators when proper (#17726)
  cpp/include/cudf/detail/join/distinct_hash_join.cuh
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/primitive_row_operators.cuh
  cpp/src/join/distinct_hash_join.cu
Labels: libcudf

Mark DataFrame.dtypes as an _external_only_api
  python/cudf/cudf/core/dataframe.py
Labels: Python

add in more places
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  ci/use_gha_tools_from_branch.sh
Labels: none

Improve pandas version fetching script (#18793)
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/fetch_pandas_versions.py
Labels: none

Reduce more datasizes of Python IO tests
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Locally import pyarrow.dataset and fsspec for `import cudf` performance (#18663)
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python, cudf.pandas

Fix host decompression of empty Snappy data (#18800)
  cpp/src/io/comp/uncomp.cpp
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, libcudf

avoid random in metadata sampling
  python/cudf_polars/cudf_polars/experimental/io.py
Labels: Python, cudf.polars

avoid random in metadata sampling
  python/cudf_polars/cudf_polars/experimental/io.py
Labels: Python, cudf.polars

add test coverage for explain
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

refactor
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/cudf_polars/experimental/fusion.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_explain.py
  python/cudf_polars/tests/experimental/test_scan.py
Labels: Python, cudf.polars

deleted checksum example
  cpp/examples/string_transforms/int_output.cpp
Labels: libcudf

Scan a headerless CSV file with column names provided
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/io.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

Merge branch-25.06 into branch-25.08
  .github/workflows/pr.yaml
Labels: none

Mark DataFrame.dtypes as an _external_only_api (#18809)
  python/cudf/cudf/core/dataframe.py
Labels: Python

CUDA 12.9 use updated compression flags (#18755)
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: libcudf, CMake

Change cudf::sort googlebench benchmarks to nvbench (#18786)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/sort/rank.cpp
  cpp/benchmarks/sort/sort.cpp
  cpp/benchmarks/sort/sort_strings.cpp
Labels: libcudf, CMake

avoid calling fuse_ir_graph unless task_fusion is True
  python/cudf_polars/cudf_polars/experimental/fusion.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

bump coverage
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

Change calls to thrust::swap to cuda::std::swap (#18808)
  cpp/src/sort/sort_column_impl.cuh
  cpp/src/text/edit_distance.cu
Labels: libcudf

drop unnecessary assertion
  python/cudf_polars/cudf_polars/experimental/fusion.py
Labels: Python, cudf.polars

fix strict=False added by pre-commit
  python/cudf_polars/cudf_polars/experimental/fusion.py
Labels: Python, cudf.polars

address review
  python/cudf_polars/cudf_polars/experimental/fusion.py
Labels: Python, cudf.polars

improve comments
  python/cudf_polars/cudf_polars/experimental/fusion.py
Labels: Python, cudf.polars

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
