Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

update
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Labels: libcudf

convert cat feature to str
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
Labels: Python, cudf.pandas

Add `pylibcudf.gpumemoryview` support for `len()`/`nbytes`
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, pylibcudf

improve test coverage
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Minor improvements in arrow interop (#18053)
  cpp/include/cudf/interop.hpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/from_arrow_stream.cu
Labels: libcudf

Add gpumemoryview tests for `len()`/`nbytes`
  python/pylibcudf/pylibcudf/tests/test_gpumemoryview.py
Labels: Python, pylibcudf

Add `gpumemoryview.__cuda_array_interface__` tests
  python/pylibcudf/pylibcudf/tests/test_gpumemoryview.py
Labels: Python, pylibcudf

WIP: Support new callback API for lazyframe.profile
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/utils/timer.py
Labels: Python, cudf.polars

added zstandard to conda environment
  conda/recipes/libcudf/meta.yaml
  cpp/cmake/thirdparty/get_zstd.cmake
  dependencies.yaml
Labels: libcudf, CMake

fix
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
Labels: none

add to libcudf build config
  conda/recipes/libcudf/conda_build_config.yaml
Labels: none

fix
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

Just catch ImportError
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

put registers in an if block
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Use protocol for dlpack instead of deprecated function
  python/cudf/cudf/tests/test_dlpack.py
Labels: Python

add implementation and gtest
  cpp/src/interop/from_arrow_host_strings.cu
  cpp/tests/interop/from_arrow_host_test.cpp
Labels: libcudf

Update stubs
  python/pylibcudf/pylibcudf/gpumemoryview.pyi
Labels: Python, pylibcudf

Reduce concurrent ctests where pinned-memory is used
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Use protocol for dlpack instead of deprecated function
  python/cudf/cudf/tests/test_dlpack.py
Labels: Python

Add some more places
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/subword_tokenizer.py
Labels: Python

adjust test by review
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

mostly works
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

Use make casting explicit
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

jobs change
  .github/workflows/pr.yaml
Labels: none

Add pytests and improvements
  cpp/src/io/parquet/reader_impl_chunking.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, libcudf

add ConfigOptions class
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Fix typo in `__cuda_array_interface__` name
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, pylibcudf

maybe fix + ram size
  cpp/src/utilities/host_memory.cpp
Labels: libcudf

Ensure we don't leak np.str_ types
  python/cudf/cudf/core/scalar.py
Labels: Python

Remove comments as it matches pandas behavior
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
Labels: Python

Support CUDA deserializing to `pylibcudf.gpumemoryview`
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
Labels: Python, cudf.polars

tests pass
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

missed one
  cpp/src/io/comp/common_internal.hpp
Labels: libcudf

Add tests serializing RMM headers
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: Python, cudf.polars

fix typo
  cpp/src/utilities/host_memory.cpp
Labels: libcudf

limit block size to actual largest block
  cpp/src/io/orc/writer_impl.cu
Labels: libcudf

Use more, cheaper dtype checking utilities in cudf Python
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/utils.py
Labels: Python

Corrected bug fix and updated pytests
  cpp/src/io/parquet/reader_impl_chunking.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, libcudf

Use protocol for dlpack instead of deprecated function (#18134)
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/tests/test_dlpack.py
Labels: Python

Fix for lists
  cpp/src/io/parquet/reader_impl_preprocess.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
