Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Update for new header location
  cpp/tests/interop/arrow_data_structures_test.cpp
Labels: libcudf

Fix bug introduced in GH review application
  cpp/src/interop/arrow_data_structures.cpp
Labels: libcudf

Revert "Bump nightly check limit" (#18227)
  .github/workflows/pr.yaml
Labels: none

Minor clean up
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
Labels: libcudf

Always convert Timestamp to numpy in datetime normalization
  python/cudf/cudf/core/column/datetime.py
Labels: Python

Remove scalar binops examples from docstring
  python/cudf/cudf/core/scalar.py
Labels: Python

add benchmark; debug bitonic
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/dedup.cpp
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  cpp/tests/text/dedup_tests.cpp
Labels: libcudf, CMake

Remove errant setting of out_dtype for null like scalars
  python/cudf/cudf/core/column/numerical.py
Labels: Python

Appease linter
  cpp/include/cudf/interop.hpp
Labels: libcudf

Add early exit for zero cardinality avoid modulo by zero
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
Labels: libcudf

Add unsigned for div by zero
  python/cudf/cudf/core/column/numerical.py
Labels: Python

dask-polars: use splat everywhere. (#18243)
  python/cudf_polars/cudf_polars/experimental/base.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

address reviews
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
Labels: Python, cudf.polars

Avoid name collisions
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

test broadcast_join_limit
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_rapidsmp.py
Labels: Python, cudf.polars

add min_width param; fix bitonic
  cpp/benchmarks/text/dedup.cpp
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  cpp/tests/text/dedup_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pyi
  python/pylibcudf/pylibcudf/nvtext/dedup.pyx
Labels: Python, pylibcudf, libcudf

add compile time condition to device_read_async
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

lint
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

lint
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

refactor code
  cpp/src/text/dedup.cu
Labels: libcudf

Support `cudf-polars` `month_start`/`month_end` (#18211)
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Support BinOp, min, and max Aggregations in cudf-polars parallel groupby (#18266)
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Combine multiple str.minhash() APIs into one call (#18168)
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python

Allow any type scalar for strings
  python/cudf/cudf/core/column/string.py
Labels: Python

Support large strings in nvtext vocabulary-tokenizer
  cpp/src/text/vocabulary_tokenize.cu
Labels: libcudf

Remove cudf.Scalar test, binop with zerodim array
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_binops.py
Labels: Python

Use other_cudf_dtype for other dtype
  python/cudf/cudf/core/column/decimal.py
Labels: Python

split out non-rmp parts of 18231
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_shuffle.py
Labels: Python, cudf.polars

Address PR comments
  cpp/tests/streams/lists_test.cpp
Labels: libcudf

Fix most of the scalar tests
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_binops.py
Labels: Python

Require type annotations in cudf.polars
  pyproject.toml
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/nodebase.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/versions.py
Labels: Python, cudf.polars

Require type annotations in cudf.polars
  pyproject.toml
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/nodebase.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/versions.py
Labels: Python, cudf.polars

Make KeepOption a Class
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/DuplicateKeepOption.java
Labels: Java

Modify tests
  python/cudf/cudf/tests/test_binops.py
Labels: Python

Remove import
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Labels: Java

Add License
  java/src/main/java/ai/rapids/cudf/DuplicateKeepOption.java
Labels: Java

added overloads
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
Labels: Python, cudf.polars

Raise NotImplementedError for tz aware pd.Timestamp
  python/cudf/cudf/core/column/datetime.py
Labels: Python

Remove testing scalar
  python/cudf/cudf/tests/test_series.py
Labels: Python

Missing backslash
  ci/test_narwhals.sh
Labels: none

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
