Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

use all threads in a kernel
  cpp/src/io/parquet/page_enc.cu
Labels: libcudf

Remove RMM macro usage from to_arrow_device.cu (#18252)
  cpp/src/interop/to_arrow_device.cu
Labels: libcudf

add ZSTD test case for compression
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

pr reviews
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/json/read_json.cu
Labels: libcudf

Parametrize over nan_as_null
  python/cudf/cudf/tests/test_series.py
Labels: Python

Move function out of file
  python/cudf/cudf/core/column/struct.py
Labels: Python

Revert "Disable ARM CI in C++ and Python test CI jobs" (#18188)
  .github/workflows/pr.yaml
Labels: none

set seed to a/b dtype
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python

Address timedelta error, rename cudf scalar test
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_datetime.py
Labels: Python

Remove cudf.Scalar from Column.__setitem__ (#18221)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_setitem.py
Labels: Python

Copy over reader chunking and preprocess code
  cpp/include/cudf/io/detail/experimental/hybrid_scan.hpp
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
Labels: libcudf

Revert "Disable conda prefix patching to avoid mangling binaries (#18225)"
  conda/recipes/libcudf/recipe.yaml
Labels: none

[TST] Use RMM with embedded `__FILE__` fix
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/cpp_linters.sh
  ci/test_cpp_common.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  ci/use_conda_packages_from_prs.sh
Labels: none

Use normal RMM packages in style/lint checks
  ci/check_style.sh
  ci/cpp_linters.sh
Labels: none

Add copyright header
  ci/use_conda_packages_from_prs.sh
Labels: none

Modify Parameter Defaults
  cpp/include/cudf/lists/stream_compaction.hpp
Labels: libcudf

Formatting Fix
  cpp/include/cudf/lists/stream_compaction.hpp
Labels: libcudf

Drop custom RMM from docs & notebooks
  ci/build_docs.sh
  ci/test_notebooks.sh
Labels: none

Add RMM PR's channels to rattler-build
  ci/build_cpp.sh
  ci/build_python.sh
  ci/use_conda_packages_from_prs.sh
Labels: none

Add `file://` before local channels
  ci/use_conda_packages_from_prs.sh
Labels: none

Push all copied changes from normal reader
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Split `-c` and channel
  ci/use_conda_packages_from_prs.sh
Labels: none

Support new callback API for lazyframe.profile
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/utils/timer.py
  python/cudf_polars/tests/dsl/test_to_ast.py
  python/cudf_polars/tests/dsl/test_traversal.py
  python/cudf_polars/tests/expressions/test_sort.py
  python/cudf_polars/tests/test_profile.py
Labels: Python, cudf.polars

Updated interface for python scan
  python/cudf_polars/tests/test_python_scan.py
Labels: Python, cudf.polars

Require polars 1.25 as minimum version
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

Fix type stubs
  python/pylibcudf/pylibcudf/io/csv.pyi
  python/pylibcudf/pylibcudf/io/parquet.pyi
Labels: Python, pylibcudf

Remove polyfill compat
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/tests/test_join.py
Labels: Python, cudf.polars

OAOO
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Apply filters in chunked read
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

Filter all cudf.pandas profiler tests from running in parallel
  ci/cudf_pandas_scripts/run_tests.sh
Labels: none

clean
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
Labels: Python, cudf.polars

Raise in scan if file paths are requested to be included
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

updated benchmark and added noio
  cpp/benchmarks/ndsh/q09.cpp
Labels: libcudf

style
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Skip failing polars test test_general_prefiltering
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

separated mutable_column_device_view and column_device_view + refactoring
  cpp/include/cudf/jit/types.cuh
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
Labels: libcudf

added cuda::std traits header to cudf/traits.hpp
  cpp/include/cudf/utilities/traits.hpp
Labels: libcudf

add back copy on init
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

fix
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

add back missing test
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars
