Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

remove unneeded files, dependencies
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/include/nvtext/subword_tokenize.hpp
  dependencies.yaml
  python/cudf/cudf/tests/data/subword_tokenizer_data/__init__.py
  python/cudf/cudf/tests/data/subword_tokenizer_data/bert_base_cased_sampled/__init__.py
  python/cudf/cudf/tests/data/subword_tokenizer_data/bert_base_cased_sampled/vocab-hash.txt
  python/cudf/cudf/tests/data/subword_tokenizer_data/bert_base_cased_sampled/vocab.txt
  python/cudf/cudf/tests/data/subword_tokenizer_data/test_sentences.txt
  python/cudf/pyproject.toml
Labels: Python, libcudf

fix some comments
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python

Support `cudf-polars` `isoyear` and `week` (`isoweek`) (#18265)
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Skip decode of simple and string_view types.
  cpp/CMakeLists.txt
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_chunking.hpp
  cpp/src/io/parquet/reader_impl_page_pruning.cu
  cpp/src/io/parquet/reader_impl_page_pruning.hpp
Labels: libcudf, CMake

Update ci/test_narwhals.sh
  ci/test_narwhals.sh
Labels: none

minor clean up
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

reinstate vocab.txt
  .pre-commit-config.yaml
  python/cudf/cudf/tests/data/vocab.txt
  python/cudf/cudf/tests/text/test_subword_tokenizer.py
Labels: Python

comp check clean up
  cpp/src/io/comp/common.hpp
  cpp/src/io/comp/common_internal.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Add offsetalator to contiguous-split (#18312)
  cpp/src/copying/contiguous_split.cu
Labels: libcudf

reformat special table
  cpp/src/strings/case.cu
Labels: libcudf

remove test_hash_vocab.py
  python/cudf/cudf/tests/test_hash_vocab.py
Labels: Python

Minor updates
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/reader_impl_page_pruning.cu
Labels: libcudf

Prune for more decoders
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

fix vocab.txt
  python/cudf/cudf/tests/data/vocab.txt
Labels: Python

Deterministic hashing for DataFrameScan nodes
  python/cudf_polars/cudf_polars/dsl/_hashing.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_hashing.py
Labels: Python, cudf.polars

works!
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Handle lists
  cpp/src/io/parquet/decode_fixed.cu
Labels: libcudf

Support large strings in nvtext vocabulary-tokenizer (#18283)
  cpp/src/text/vocabulary_tokenize.cu
Labels: libcudf

Support lists in generic decoder
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_page_pruning.cu
  cpp/src/io/parquet/reader_impl_page_pruning.hpp
Labels: libcudf

Test for flba (byte stream split decode)
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_page_pruning.cu
  cpp/src/io/parquet/reader_impl_page_pruning.hpp
Labels: libcudf

Optimize sequences by introducing make_offsets_child_column
  cpp/src/lists/sequences.cu
Labels: libcudf

Code format
  cpp/src/lists/sequences.cu
Labels: libcudf

Expose grouped_range_rolling_window in pylibcudf
  python/pylibcudf/pylibcudf/aggregation.pxd
  python/pylibcudf/pylibcudf/aggregation.pyx
  python/pylibcudf/pylibcudf/libcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pyi
  python/pylibcudf/pylibcudf/rolling.pyx
Labels: Python, pylibcudf

Update new rolling window API
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
Labels: libcudf

Rewrite groupbys during IR translation
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils.py
  python/cudf_polars/cudf_polars/typing/__init__.py
Labels: Python, cudf.polars

No need for substitution mapping any more
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/expressions/ternary.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
Labels: Python, cudf.polars

Adapt partitioned groupby to new scheme
  python/cudf_polars/cudf_polars/experimental/groupby.py
Labels: Python, cudf.polars

Test empty agg case in groupby
  python/cudf_polars/tests/test_groupby.py
Labels: Python, cudf.polars

This file doesn't need to be compiled by nvcc
  cpp/CMakeLists.txt
  cpp/src/rolling/rolling.cpp
Labels: libcudf, CMake

Implement is_valid_rolling_aggregation, expose in pylibcudf
  cpp/CMakeLists.txt
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/detail/rolling.hpp
  cpp/src/rolling/detail/rolling_utils.cu
  cpp/src/rolling/rolling.cpp
  python/pylibcudf/pylibcudf/libcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pyi
  python/pylibcudf/pylibcudf/rolling.pyx
Labels: Python, pylibcudf, libcudf, CMake

Add check_sorted to rolling implementation
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Promote is_valid_aggregation to public API, expose in pylibcudf
  cpp/include/cudf/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  python/pylibcudf/pylibcudf/aggregation.pxd
  python/pylibcudf/pylibcudf/aggregation.pyi
  python/pylibcudf/pylibcudf/aggregation.pyx
  python/pylibcudf/pylibcudf/libcudf/aggregation.pxd
Labels: Python, pylibcudf, libcudf

WIP (very): start splitting out rolling groupby
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils.py
  python/cudf_polars/cudf_polars/dsl/utils/__init__.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/cudf_polars/dsl/utils/naming.py
  python/cudf_polars/cudf_polars/dsl/utils/rolling.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/expressions/test_rolling.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, cudf.polars

More tests
  python/cudf_polars/tests/test_groupby.py
Labels: Python, cudf.polars

Handle sum(all_nulls) in grouped/rolling aggregations
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
Labels: Python, cudf.polars

Deprecate nvtext subword tokenizer (#18334)
  .pre-commit-config.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/benchmarks/text/subword.cpp
  cpp/include/nvtext/subword_tokenize.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/text/subword_tokenize_test.cpp
  cpp/tests/text/subword_tests.cpp
  dependencies.yaml
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/core/wordpiece_tokenize.py
  python/cudf/cudf/tests/data/subword_tokenizer_data/__init__.py
  python/cudf/cudf/tests/data/subword_tokenizer_data/bert_base_cased_sampled/__init__.py
  python/cudf/cudf/tests/data/subword_tokenizer_data/bert_base_cased_sampled/vocab-hash.txt
  python/cudf/cudf/tests/data/subword_tokenizer_data/test_sentences.txt
  python/cudf/cudf/tests/data/vocab.txt
  python/cudf/cudf/tests/test_hash_vocab.py
  python/cudf/cudf/tests/text/test_subword_tokenizer.py
  python/cudf/pyproject.toml
  python/pylibcudf/pylibcudf/tests/test_nvtext_subword_tokenize.py
Labels: Python, pylibcudf, libcudf, CMake

refactor(rattler): enable strict channel priority for builds
  ci/build_cpp.sh
  ci/build_python.sh
Labels: none

address review
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

add test back
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

working test
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/sort_merge_join_tests.cpp
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
