Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Updates to unblock spark CI
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  cpp/tests/join/distinct_join_tests.cpp
Labels: libcudf, CMake

make sure upstream libkvikio is installed for pandas and polars tests
  ci/cudf_pandas_scripts/run_tests.sh
  ci/test_cudf_polars_polars_tests.sh
Labels: none

Update benchmark CMake as well
  cpp/benchmarks/CMakeLists.txt
Labels: libcudf, CMake

Improve performance of strings split-record on whitespace (#18510)
  cpp/src/strings/split/split_record.cu
Labels: libcudf

Move cudf/utils/utils.py to appropriate locations
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/mixins/__init__.py
  python/cudf/cudf/core/mixins/getitem.py
  python/cudf/cudf/core/mixins/notiterable.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/utils.py
Labels: Python

Add docs from #18480
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Use `cached_property` for Datetime and Timedelta column properties (#18601)
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python

Move function only used for buffer, prune another method
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/buffer/string.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/utils/utils.py
Labels: Python

Export the compilation flags and definitions
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Use pandas aliases instead of cudf aliases
  python/cudf/cudf/utils/utils.py
Labels: Python

and again
  ci/cudf_pandas_scripts/run_tests.sh
  ci/test_cudf_polars_polars_tests.sh
Labels: none

Fix style
  cpp/CMakeLists.txt
Labels: libcudf, CMake

High level interface for experimental PQ reader and implementation of metadata APIs (#18480)
  cpp/CMakeLists.txt
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf, CMake

Use the exported flags/definitions in Java JNI build
  java/src/main/native/CMakeLists.txt
Labels: CMake, Java

DOC v25.08 Updates [skip ci]
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  VERSION
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/examples/versions.cmake
  dependencies.yaml
  java/ci/README.md
  java/pom.xml
  python/cudf/cudf/VERSION
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/docs/overview.md
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/libcudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

get rid of extra lowering step
  python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/tests/experimental/test_unique.py
Labels: Python, cudf.polars

more ir hacks
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/expressions/test_booleanfunction.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

add group_by(n_unique) support
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Update cudf::cast internal function to use sizeof instead of size_of
  cpp/src/unary/cast_ops.cu
Labels: libcudf

Merge changes
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Improvements
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Minor improvement
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Set flag to always use unsafe atomic storage (#18590)
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Enable reporting peak memory usage for gtests (#18599)
  cpp/include/cudf_test/testing_main.hpp
  cpp/scripts/gtest_memory_usage.sh
  cpp/tests/CMakeLists.txt
  cpp/tests/large_strings/large_strings_fixture.cpp
  cpp/tests/streams/binaryop_test.cpp
  cpp/tests/streams/concatenate_test.cpp
  cpp/tests/streams/copying_test.cpp
  cpp/tests/streams/datetime_test.cpp
  cpp/tests/streams/dictionary_test.cpp
  cpp/tests/streams/filling_test.cpp
  cpp/tests/streams/groupby_test.cpp
  cpp/tests/streams/hash_test.cpp
  cpp/tests/streams/interop_test.cpp
  cpp/tests/streams/io/csv_test.cpp
  cpp/tests/streams/io/json_test.cpp
  cpp/tests/streams/io/multibyte_split_test.cpp
  cpp/tests/streams/io/orc_test.cpp
  cpp/tests/streams/io/parquet_test.cpp
  cpp/tests/streams/join_test.cpp
  cpp/tests/streams/labeling_bins_test.cpp
  cpp/tests/streams/lists_test.cpp
  cpp/tests/streams/null_mask_test.cpp
  cpp/tests/streams/partitioning_test.cpp
  cpp/tests/streams/pool_test.cu
  cpp/tests/streams/quantile_test.cpp
  cpp/tests/streams/reduction_test.cpp
  cpp/tests/streams/replace_test.cpp
  cpp/tests/streams/reshape_test.cpp
  cpp/tests/streams/rolling_test.cpp
  cpp/tests/streams/round_test.cpp
  cpp/tests/streams/scalar_test.cpp
  cpp/tests/streams/search_test.cpp
  cpp/tests/streams/sorting_test.cpp
  cpp/tests/streams/stream_compaction_test.cpp
  cpp/tests/streams/strings/strings_tests.cpp
  cpp/tests/streams/text/tokenize_test.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/streams/unary_test.cpp
Labels: libcudf, CMake

all updates
  python/cudf/cudf/pandas/scripts/conftest-patch.py
Labels: Python, cudf.pandas

Update test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Add APIs to check ORC and Parquet compression support at runtime (#18578)
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/comp.hpp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_misc_test.cpp
Labels: libcudf

Apply suggestions from code review
  cpp/include/cudf/io/parquet_metadata.hpp
Labels: libcudf

Add TemporalBaseColumn, more extraneous methods to other files
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/temporal_base.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/utils/temporal.py
  python/cudf/cudf/utils/utils.py
Labels: Python

deprecate instead of removing `type_kind()`
  cpp/include/cudf/io/parquet_metadata.hpp
Labels: libcudf

fix doxygen
  cpp/include/cudf/io/parquet_metadata.hpp
Labels: libcudf

minor improvement
  cpp/include/cudf/io/parquet_metadata.hpp
Labels: libcudf

Remove `type_kind()` again
  cpp/include/cudf/io/parquet_metadata.hpp
Labels: libcudf

Update test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Update python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

Update test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Fix some binop cases
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/temporal_base.py
Labels: Python

Remove commented out code
  python/cudf/cudf/core/column/datetime.py
Labels: Python

Minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf
