Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Raise NotImplementedError if `.merge(suffixes=)` introduces duplicate labels (#17905)
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: Python

Add polars.
  ci/test_narwhals.sh
  dependencies.yaml
Labels: none

Add script to run pylibcudf tests (#17882)
  ci/run_pylibcudf_pytests.sh
  ci/test_python_common.sh
  ci/test_python_cudf.sh
  python/pylibcudf/.coveragerc
Labels: Python, pylibcudf

Update comments
  cpp/CMakeLists.txt
  cpp/src/io/parquet/ipc/Schema_generated.h
Labels: libcudf, CMake

Update copyrights year.
  cpp/src/io/parquet/arrow_schema_writer.cpp
Labels: libcudf

Remove test
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Remove doc reference
  docs/cudf/source/user_guide/api_docs/general_functions.rst
Labels: none

Require batches to be non-empty in multi-batch JSON reader (#17837)
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json/json_test.cpp
Labels: libcudf

Use test_java
  .github/workflows/pr.yaml
Labels: none

use function overloading
  python/pylibcudf/pylibcudf/io/avro.pxd
  python/pylibcudf/pylibcudf/io/avro.pyi
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/orc.pxd
  python/pylibcudf/pylibcudf/io/orc.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/libcudf/io/avro.pxd
  python/pylibcudf/pylibcudf/libcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
  python/pylibcudf/pylibcudf/libcudf/io/orc.pxd
  python/pylibcudf/pylibcudf/libcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
Labels: Python, pylibcudf

Update cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.cu
Labels: libcudf

Fix bug in pylibcudf doc example
  docs/cudf/source/pylibcudf/index.rst
Labels: none

Initialize inout parameter
  cpp/src/io/avro/reader_impl.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
Labels: libcudf

Run spark-rapids-jni CI (#17781)
  .github/workflows/pr.yaml
  .github/workflows/spark-rapids-jni.yaml
Labels: none

fix datetime and timedelta ndarray writable bug
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python

Replaced std::string with std::string_view and removed excessive copies in cudf::io (#17734)
  cpp/benchmarks/json/json.cu
  cpp/benchmarks/string/join_strings.cpp
  cpp/benchmarks/string/like.cpp
  cpp/benchmarks/string/replace_re.cpp
  cpp/examples/strings/libcudf_apis.cpp
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/text/detail/trie.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/io/avro/avro.cpp
  cpp/src/io/avro/avro.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/text/multibyte_split.cu
  cpp/src/scalar/scalar.cpp
  cpp/tests/json/json_tests.cpp
  cpp/tests/strings/case_tests.cpp
  cpp/tests/strings/like_tests.cpp
  cpp/tests/text/bpe_tests.cpp
  cpp/tests/text/ngrams_tokenize_tests.cpp
Labels: libcudf

Fixed incorrect PTX parsing of `ret` instruction after branch label (#17859)
  cpp/src/jit/parser.cpp
  cpp/tests/jit/parse_ptx_function.cpp
Labels: libcudf

refactored changes
  cpp/src/transform/transform.cpp
Labels: libcudf

nit: namespaces
  cpp/src/transform/transform.cpp
Labels: libcudf

add longer strings to gtests
  cpp/src/text/normalize.cu
  cpp/tests/text/normalize_tests.cpp
Labels: libcudf

sort
  cpp/src/io/comp/comp.cpp
Labels: libcudf

Fix incorrect example in pylibcudf docs (#17912)
  docs/cudf/source/pylibcudf/index.rst
Labels: none

adopted code review changes
  cpp/src/jit/parser.cpp
  cpp/src/jit/parser.hpp
Labels: libcudf

Remove redundant gtest
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Fix copyright year again
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Add missing pin
  conda/recipes/pylibcudf/meta.yaml
Labels: none

fix typos
  cpp/include/nvtext/normalize.hpp
Labels: libcudf

remove unneeded includes
  cpp/src/text/normalize.cuh
Labels: libcudf

remove unneeded variable
  cpp/src/text/normalize.cu
Labels: libcudf

Remove superfluous ignores
  conda/recipes/cudf/meta.yaml
  conda/recipes/pylibcudf/meta.yaml
Labels: none

rename map2 to sub_map
  cpp/src/text/wordpiece_tokenize.cu
  cpp/tests/text/subword_tests.cpp
Labels: libcudf

Add multi-partition `Join` support to cuDF-Polars (#17518)
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

Don't run if not merged
  .github/workflows/auto-assign.yml
Labels: none

Remove other cudf.dtype calls
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Add missing pin (#17915)
  conda/recipes/cudf/meta.yaml
  conda/recipes/pylibcudf/meta.yaml
Labels: none

Update run.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
Labels: none

Update run-pandas-tests.sh
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

get durations
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

Update run-pandas-tests.sh
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

Avoid more cudf.dtype calls
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/io/csv.py
Labels: Python

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
