Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

update
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: none

Add a slice expression to polars IR
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Add a test
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
Labels: Python, cudf.polars

clean up
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/tests/expressions/test_slice.py
Labels: Python, cudf.polars

Add dictionary filtering basics
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
Labels: libcudf

Prevent setting custom attributes to `ColumnMethods` (#18005)
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_string.py
Labels: Python

GPU algorithm to conver per-page col to per-row col
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Expose `num_rows_per_source` (IO metadata) to pylibcudf (#18049)
  python/pylibcudf/pylibcudf/io/types.pyi
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/tests/io/test_types.py
Labels: Python, pylibcudf

Update java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/Table.java
Labels: Java

Update java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/Table.java
Labels: Java

add children attr
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
Labels: Python, cudf.polars

BaseDeviceMemoryBuffer for GPU mem bookkeep
  java/src/main/java/ai/rapids/cudf/BaseDeviceMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/MemoryBuffer.java
Labels: Java

Pass more dtype objects to `astype` calls (#18044)
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Fix get_client() usage, remove cache
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Register serialization at import
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Raise exception for oversize columns in from_arrow interop
  cpp/include/cudf/interop.hpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

Avoid concat for single-chunk arrow stream read
  cpp/src/interop/from_arrow_stream.cu
Labels: libcudf

fix
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/cpp/test/test_cpp.sh
  ci/cpp/test/test_cpp_memcheck.sh
  ci/python/test/run_cudf_kafka_pytests.sh
  ci/python/test/run_cudf_pandas_pytest_benchmarks.sh
  ci/python/test/run_cudf_polars_polars_tests.sh
  ci/python/test/run_cudf_polars_pytests.sh
  ci/python/test/run_cudf_pytest_benchmarks.sh
  ci/python/test/run_cudf_pytests.sh
  ci/python/test/run_custreamz_pytests.sh
  ci/python/test/run_dask_cudf_pytests.sh
  ci/python/test/run_pylibcudf_pytests.sh
  ci/python/test/test_python_cudf.sh
  ci/python/test/test_python_other.sh
Labels: none

fix benchmark memory-writes calculation
  cpp/benchmarks/text/subword.cpp
Labels: libcudf

Explicitly cast to int64_t in size comparison
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

IWYU
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

Update CMake version in java docker file
  java/ci/Dockerfile.rocky
Labels: Java

remove extra comment
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

update
  ci/python/test/test_notebooks.sh
Labels: none

update
  ci/python/test/test_python_cudf.sh
  ci/python/test/test_python_other.sh
  ci/python/test/test_wheel_cudf.sh
  ci/python/test/test_wheel_dask_cudf.sh
Labels: none

Add rattler-build recipe for dask-cudf
  conda/recipes/dask-cudf/build.sh
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/recipe.yaml
  python/dask_cudf/pyproject.toml
Labels: Python

Add rattler-build recipe for pylibcudf
  conda/recipes/pylibcudf/build.sh
  conda/recipes/pylibcudf/meta.yaml
  conda/recipes/pylibcudf/recipe.yaml
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

Add rattler-build recipe for libcudf
  ci/build_cpp.sh
  conda/recipes/libcudf/build.sh
  conda/recipes/libcudf/install_libcudf.sh
  conda/recipes/libcudf/install_libcudf_example.sh
  conda/recipes/libcudf/install_libcudf_kafka.sh
  conda/recipes/libcudf/install_libcudf_tests.sh
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf/recipe.yaml
  python/libcudf/pyproject.toml
Labels: Python

Add rattler-build recipe for custreamz
  conda/recipes/custreamz/build.sh
  conda/recipes/custreamz/meta.yaml
  conda/recipes/custreamz/recipe.yaml
Labels: none

Add rattler-build recipe for cudf_kafka
  conda/recipes/cudf_kafka/build.sh
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  python/cudf_kafka/pyproject.toml
Labels: Python

Add rattler-build recipe for cudf
  conda/recipes/cudf/build.sh
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf/recipe.yaml
  python/cudf/pyproject.toml
Labels: Python

Add rattler-build recipe for cudf-polars
  conda/recipes/cudf-polars/build.sh
  conda/recipes/cudf-polars/meta.yaml
  conda/recipes/cudf-polars/recipe.yaml
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

Update `build_python.sh` to use `rattler-build`
  ci/build_cpp.sh
  ci/build_python.sh
Labels: none

Fix 'Unexpected short subpass' exception in parquet chunked reader. (#18019)
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf

Fix ignore_run_export condition
  ci/build_python.sh
  conda/recipes/libcudf/recipe.yaml
Labels: none

Use custom job for narwhals tests.
  .github/workflows/pr.yaml
Labels: none

Fix upstream dask `loc` test (#18045)
  python/dask_cudf/dask_cudf/_expr/__init__.py
  python/dask_cudf/dask_cudf/_expr/expr.py
Labels: Python

first pass at has_nulls template culling
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_common_utils.cuh
  cpp/src/join/mixed_join_kernel.cu
  cpp/src/join/mixed_join_kernel.cuh
  cpp/src/join/mixed_join_kernel.hpp
  cpp/src/join/mixed_join_kernel_nulls.cu
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_size_kernel.cu
  cpp/src/join/mixed_join_size_kernel.cuh
  cpp/src/join/mixed_join_size_kernel.hpp
  cpp/src/join/mixed_join_size_kernel_nulls.cu
  cpp/src/transform/compute_column.cu
Labels: libcudf, CMake

Remove dtype
  python/cudf/cudf/utils/utils.py
Labels: Python

tests cleanup
  cpp/tests/io/comp/decomp_test.cpp
Labels: libcudf
