Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

remove stream count limit
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

update
  .github/workflows/pr.yaml
Labels: none

Remove unused round_up_pow2 utility (#18218)
  cpp/include/cudf/detail/utilities/cuda.cuh
Labels: libcudf

update
  .github/workflows/pr.yaml
Labels: none

Build with CCCL 2.8.2-rc0.
  rapids_config.cmake
Labels: CMake

update
  .github/workflows/pr.yaml
Labels: none

update
  .github/workflows/pr.yaml
Labels: none

Use CCCL::libcudacxx include directories in Jitify preprocessing. (#18233)
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: libcudf, CMake

update
  .github/workflows/pr.yaml
Labels: none

update
  .github/workflows/pr.yaml
Labels: none

update
  .github/workflows/pr.yaml
Labels: none

add remove-if-safe
  cpp/src/text/dedup.cu
Labels: libcudf

Remove cudf.Scalar for datetime/numeric binops
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/index.py
Labels: Python

Improve low cardinality groupby
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
Labels: libcudf

Formatting
  cpp/include/cudf/lists/detail/stream_compaction.hpp
  cpp/include/cudf/lists/stream_compaction.hpp
  cpp/src/lists/stream_compaction/distinct.cu
  java/src/main/native/src/ColumnViewJni.cpp
Labels: libcudf, Java

Support `top-k` expression (#18222)
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_top_and_bottom_k.py
Labels: Python, cudf.polars

dtype -> type
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
Labels: Python

Address other _scalar_to_plc_scalar usage
  python/cudf/cudf/core/column/column.py
Labels: Python

Modify _as_plc_scalar
  python/cudf/cudf/core/dtypes.py
Labels: Python

Remove some testing of cudf.Scalar
  python/cudf/cudf/tests/test_binops.py
Labels: Python

Remove some cudf.Scalar vs column ops tests
  python/cudf/cudf/tests/test_binops.py
Labels: Python

PR reviews; linked to experimental API
  cpp/cmake/thirdparty/get_zstd.cmake
  cpp/src/io/comp/uncomp.cpp
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf, CMake

fix datetime binops
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_datetime.py
Labels: Python

pr feedback
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

more pr reviews
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

fixing auto fallthrough
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

fix
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

fix the datatype: was the bug with always 0
  python/pylibcudf/pylibcudf/libcudf/io/types.pxd
Labels: Python, pylibcudf

fix experimental tests and reduce CI scope
  ci/run_cudf_polars_pytests.sh
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

Fix `cudf_kafka` run export for `cudatoolkit`
  conda/recipes/cudf_kafka/recipe.yaml
Labels: none

address reviews
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Explain why we disable parallelism for profiler tests to avoid pytest-cov issue (#18234)
  ci/cudf_pandas_scripts/run_tests.sh
Labels: none

Introduce type alias for slice
  python/cudf_polars/cudf_polars/typing/__init__.py
Labels: Python, cudf.polars

Introduce slice utility on columns
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/utils/conversion.py
Labels: Python, cudf.polars

Loosen requirements on top-k
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Move topk tests to expressions subdirectory
  python/cudf_polars/tests/expressions/test_top_and_bottom_k.py
Labels: Python, cudf.polars

update test commands
  conda/recipes/cudf/recipe.yaml
Labels: none

Test null handling in top/bottom-k
  python/cudf_polars/tests/expressions/test_top_and_bottom_k.py
Labels: Python, cudf.polars

Support polars < 1.24 in tests
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/tests/test_join.py
Labels: Python, cudf.polars

Add wordpiece tokenizer to cudf documentation
  docs/cudf/source/user_guide/api_docs/index.rst
  docs/cudf/source/user_guide/api_docs/wordpiece_tokenizer.rst
Labels: none
