Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Add backticks around kvikio_manager in the comments to change doc font to monospace
  cpp/include/cudf/io/kvikio_manager.hpp
Labels: libcudf

Make pylibcudf.Column.from_rmm_buffer a Python staticmethod (#18521)
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_device.py
Labels: Python, pylibcudf

new changes
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Add more short circuit checks for .equals (#18520)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_column.py
Labels: Python

Test Update
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Java

Remove participation of default io thread number from the unit test
  cpp/tests/io/kvikio_manager_test.cpp
Labels: libcudf

Apply suggestions from code review
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
Labels: libcudf

Consolidate logic in DataFrame.__init__ for listlike arguments (#18439)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Adjust cudf Python groupby test for cuCollections update
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

Implement `BITWISE_AGG` aggregation
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_bitwise.cu
  cpp/src/groupby/sort/group_reductions.hpp
Labels: libcudf, CMake

Suggestions from code review
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
Labels: libcudf

remove extraneous assertions
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Labels: Java

Avoid possible invalid kernel grid when `num_bitmasks = 0`
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

Refactor scan test I/O logic into shared `make_partitioned_source` helper (#18542)
  python/cudf_polars/cudf_polars/testing/io.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/test_scan.py
  python/cudf_polars/tests/testing/test_io.py
Labels: Python, cudf.polars

Add a test
  cpp/tests/bitmask/set_nullmask_tests.cu
Labels: libcudf

Minor improvement
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Adjust cudf Python groupby test for cuCollections update (#18550)
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

Fix
  cpp/tests/bitmask/set_nullmask_tests.cu
Labels: libcudf

Minor docstring update
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Apply suggestions from code review
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Convert as many scalar creations as possible
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

Improvements for tests
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Apply suggestions from code review
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Optimize .to_cupy and .values
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

guard the fast paths
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

clean up
  python/cudf/cudf/core/column/categorical.py
Labels: Python

missed object check
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

add xfail window function tests for cudf_polars
  python/cudf_polars/tests/test_window_functions.py
Labels: Python, cudf.polars

address review
  cpp/doxygen/developer_guide/BENCHMARKING.md
Labels: libcudf

fix test
  python/cudf_polars/cudf_polars/experimental/scheduler.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

Apply suggestions from code review
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, pylibcudf

Update pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

Make Python testing dependencies more specific to pylibcudf vs cudf (#18535)
  ci/cudf_pandas_scripts/fetch_pandas_versions.py
  ci/test_python_common.sh
  ci/test_python_cudf.sh
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.polars, pylibcudf

Remove Extraneous Code
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Labels: Java

Allow .iloc with cuDF objects as column indexers
  python/cudf/cudf/core/indexing_utils.py
  python/cudf/cudf/tests/test_indexing.py
Labels: Python

Implement reduction functions
  cpp/CMakeLists.txt
  cpp/include/cudf/reduction/detail/reduction_functions.hpp
  cpp/include/cudf/reduction/detail/reduction_operators.cuh
  cpp/src/reductions/bitwise.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/simple.cuh
Labels: libcudf, CMake

Update cpp/include/cudf/io/parquet_metadata.hpp
  cpp/include/cudf/io/parquet_metadata.hpp
Labels: libcudf

fix distance; remove extra sync()
  cpp/src/strings/like.cu
Labels: libcudf

Support plc.Scalar.from_py(None)
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, cudf.polars, pylibcudf

Implement reduction functions
  cpp/src/groupby/sort/group_bitwise.cu
  cpp/src/reductions/bitwise.cu
  cpp/src/reductions/simple.cuh
Labels: libcudf
