Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

undoing distr changes
  cpp/benchmarks/common/generate_input.hpp
Labels: libcudf

Remove 2 extra calls in categorical
  python/cudf/cudf/core/column/categorical.py
Labels: Python

Remove commented out code
  python/cudf/cudf/core/column/column.py
Labels: Python

add python and pylibcudf interfaces
  cpp/benchmarks/text/normalize.cpp
  cpp/include/nvtext/normalize.hpp
  cpp/tests/text/normalize_tests.cpp
  python/cudf/cudf/core/character_normalizer.py
  python/cudf/cudf/core/column/string.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/normalize.pxd
  python/pylibcudf/pylibcudf/nvtext/normalize.pxd
  python/pylibcudf/pylibcudf/nvtext/normalize.pyi
  python/pylibcudf/pylibcudf/nvtext/normalize.pyx
Labels: Python, pylibcudf, libcudf

Update docstring for variables
  cpp/include/cudf/io/types.hpp
Labels: libcudf

partially address review
  cpp/include/cudf/unary.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/unary/math_ops.cu
  cpp/tests/unary/math_ops_test.cpp
  cpp/tests/unary/unary_ops_test.cpp
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/10min.ipynb
  docs/cudf/source/user_guide/cupy-interop.ipynb
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
  docs/cudf/source/user_guide/missing-data.ipynb
  docs/cudf/source/user_guide/performance-comparisons/performance-comparisons.ipynb
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/tests/expressions/test_numeric_unaryops.py
  python/pylibcudf/pylibcudf/libcudf/unary.pxd
Labels: Python, cudf.polars, pylibcudf, libcudf

revert noitebook changes
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/10min.ipynb
  docs/cudf/source/user_guide/cupy-interop.ipynb
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
  docs/cudf/source/user_guide/missing-data.ipynb
  docs/cudf/source/user_guide/performance-comparisons/performance-comparisons.ipynb
Labels: none

Fix possible OOB mem access in Parquet decoder (#17841)
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

summarize plc and goals, add a note about outdated docs
  docs/cudf/source/developer_guide/library_design.md
  docs/cudf/source/pylibcudf/index.rst
Labels: none

Update cudf.pandas colab link in docs (#17846)
  docs/cudf/source/cudf_pandas/index.rst
Labels: none

Add public APIs to Access Underlying `cudf` and `pandas` Objects from `cudf.pandas` Proxy Objects (#17629)
  docs/cudf/source/cudf_pandas/faq.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Fix is_shared_memory_compatible determination
  cpp/src/groupby/hash/compute_aggregations.cuh
Labels: libcudf

fix corner case ListRootNoList
  cpp/src/io/json/host_tree_algorithms.cu
  cpp/src/io/json/json_column.cu
  cpp/tests/io/json/json_test.cpp
Labels: libcudf

Use cpu16 to build.
  .github/workflows/pr.yaml
Labels: none

Remove predicate param from DataFrameScan IR
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/tests/dsl/test_traversal.py
Labels: Python, cudf.polars

sort enum
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
Labels: Python, cudf.polars

Make method a property
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: Python, cudf.pandas

add a test
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Use L4 nodes for custom jobs, too.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

Use only amd64 jobs for testing.
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

Fix is_shared_memory_compatible determination
  cpp/src/groupby/hash/compute_aggregations.cuh
Labels: libcudf

Run only affected test.
  .github/workflows/pr.yaml
  ci/test_wheel_cudf.sh
Labels: none

Test NVKS runners
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: none

Run wheel tests in serial to determine if there is a hang.
  ci/test_wheel_cudf.sh
Labels: none

Add `verify-codeowners` hook (#17840)
  .github/CODEOWNERS
  .pre-commit-config.yaml
Labels: none

Update python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Add multi-partition `Shuffle` operation to cuDF Polars (#17744)
  python/cudf_polars/cudf_polars/experimental/base.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/experimental/test_shuffle.py
Labels: Python, cudf.polars

Add shellcheck to pre-commit and fix warnings (#17778)
  .pre-commit-config.yaml
  ci/build_docs.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_cudf_polars.sh
  ci/build_wheel_dask_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/check_style.sh
  ci/checks/doxygen.sh
  ci/cpp_linters.sh
  ci/cudf_pandas_scripts/pandas-tests/diff.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  ci/cudf_pandas_scripts/run_tests.sh
  ci/cudf_pandas_scripts/third-party-integration/run-library-tests.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  ci/release/update-version.sh
  ci/run_cudf_examples.sh
  ci/run_cudf_memcheck_ctests.sh
  ci/run_cudf_polars_polars_tests.sh
  ci/test_cpp.sh
  ci/test_cpp_memcheck.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
  ci/utils/nbtest.sh
  ci/validate_wheel.sh
Labels: none

code review cleanup
  python/cudf_polars/cudf_polars/experimental/join.py
Labels: Python, cudf.polars

apply suggestion from code review
  cpp/src/unary/math_ops.cu
Labels: libcudf

fixed `ret` instruction and branch label incorrect parsing
  cpp/src/jit/parser.cpp
  cpp/tests/jit/parse_ptx_function.cpp
Labels: libcudf

Add multi-source reading to JSON reader benchmarks (#17688)
  cpp/benchmarks/io/json/json_reader_input.cpp
Labels: libcudf

Apply a more restrictive check
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
  cpp/src/groupby/hash/single_pass_functors.cuh
Labels: libcudf

Remove final cudf.Scalar usage in datetimes.py
  python/cudf/cudf/core/tools/datetimes.py
Labels: Python

Remove if
  .github/workflows/pr.yaml
Labels: none

Move assertion for helper function
  python/cudf/cudf/tests/indexes/test_interval.py
Labels: Python

fix lower-case bug
  python/cudf_polars/cudf_polars/experimental/join.py
Labels: Python, cudf.polars

added support for custom types in PTX parser
  cpp/src/binaryop/binaryop.cpp
  cpp/src/jit/parser.cpp
  cpp/src/jit/parser.hpp
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/transform/transform.cpp
  cpp/tests/jit/parse_ptx_function.cpp
Labels: libcudf

fixed copyright dates
  cpp/src/jit/parser.cpp
  cpp/tests/jit/parse_ptx_function.cpp
Labels: libcudf

Make `_Series_dtype` method a property (#17854)
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
