Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Update docs/cudf/source/cudf_polars/usage.md
  docs/cudf/source/cudf_polars/usage.md
Labels: none

Update docs/cudf/source/cudf_polars/usage.md
  docs/cudf/source/cudf_polars/usage.md
Labels: none

[DOC] Improve clarity in parquet APIs set_row_groups and set_columns parquet (#18466)
  cpp/include/cudf/io/parquet.hpp
Labels: libcudf

More targets
  python/pylibcudf/pylibcudf/CMakeLists.txt
Labels: Python, pylibcudf, CMake

xfail tests
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Address review on comments
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

Update plugin.py
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Moved to utilities.pxd
  python/pylibcudf/pylibcudf/libcudf/utilities/__init__.pxd
  python/pylibcudf/pylibcudf/libcudf/utilities/default_stream.pxd
  python/pylibcudf/pylibcudf/utilities.pyx
Labels: Python, pylibcudf

address reviews
  cpp/CMakeLists.txt
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/table_to_array.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/reshape/table_to_array_tests.cpp
Labels: libcudf, CMake

clean up
  cpp/src/reshape/table_to_array.cu
  cpp/tests/reshape/table_to_array_tests.cpp
Labels: libcudf

link to polars gpu guide
  docs/cudf/source/cudf_polars/usage.md
Labels: none

Add ARM conda environments. (#18470)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Labels: none

Vendor RAPIDS.cmake
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
  cpp/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
  python/cudf/CMakeLists.txt
  python/cudf_kafka/CMakeLists.txt
  python/libcudf/CMakeLists.txt
  python/pylibcudf/CMakeLists.txt
Labels: Python, pylibcudf, libcudf, CMake, Java

save further work
  python/cudf_polars/cudf_polars/experimental/base.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

Fix prefetching for EMPTY
  cpp/src/column/column_view.cpp
Labels: libcudf

Add more stubs
  cpp/CMakeLists.txt
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
Labels: libcudf, CMake

New envs need updates
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
Labels: none

Remove unneeded definitions
  cpp/CMakeLists.txt
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
Labels: libcudf, CMake

Remove more declarations
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
Labels: libcudf

fix column-shuffle support
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

fix column-shuffle support
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/select.py
Labels: Python, cudf.polars

update
  cpp/src/transform/jit/kernel.cu
Labels: libcudf

minor fixes
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Labels: Python

Vendor RAPIDS.cmake (#18473)
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
  cpp/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
  python/cudf/CMakeLists.txt
  python/cudf_kafka/CMakeLists.txt
  python/libcudf/CMakeLists.txt
  python/pylibcudf/CMakeLists.txt
Labels: Python, pylibcudf, libcudf, CMake, Java

Use `decode_delta_binary_block_size`instead of 96 magic number
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

Add pytest rerun
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf/tests/test_repr.py
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.polars, pylibcudf

Bug fixing
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

improve resolve-duplicates-pair
  cpp/src/text/dedup.cu
Labels: libcudf

managed group correct result
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

Minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
Labels: libcudf

Removing unnecessary StreamSynchronization in reading (#18279)
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

Incorporate native stackframe into Java stackframe
  cpp/CMakeLists.txt
  java/src/main/java/ai/rapids/cudf/CudfException.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/include/jni_utils.hpp
Labels: libcudf, CMake, Java

Remove need for to_cudf_compatible_scalar
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

fix comment
  cpp/src/strings/capitalize.cu
Labels: libcudf

cleanup transform call
  cpp/src/text/dedup.cu
Labels: libcudf

update
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Labels: none

added raw_device_column_view
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/raw_column_device_view.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/transform/jit/kernel.cu
Labels: libcudf

bump polars version on ARM
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
Labels: none

update
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/raw_column_device_view.cuh
Labels: libcudf

update
  cpp/include/cudf/detail/normalizing_iterator.cuh
Labels: libcudf
