Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

PR review
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf

Remove redundant task-graph logic for streaming ``GroupBy`` (#18507)
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
Labels: Python, cudf.polars

Make from_rmm_buffer a Python staticmethod
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_device.py
Labels: Python, pylibcudf

Remove extra import
  python/pylibcudf/pylibcudf/column.pxd
Labels: Python, pylibcudf

Share more cudf.Column methods for `indices_of`/`isin` (#18423)
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

Add more `cudf.DataFrame` constructor pytest benchmarks (#18433)
  python/cudf/benchmarks/API/bench_dataframe.py
Labels: Python

Update cpp/tests/join/join_tests.cpp
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Make Python testing dependencies more specific to pylibcudf vs cudf
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pylibcudf/tests/io/test_avro.py
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
  python/pylibcudf/pylibcudf/tests/io/test_json.py
  python/pylibcudf/pylibcudf/tests/test_hashing.py
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.polars, pylibcudf

Apply suggestions from code review
  cpp/include/cudf/fixed_point/detail/floating_conversion.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/io/comp/comp.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
Labels: libcudf

Remove `_bulk` suffix from utility's name
  cpp/benchmarks/null_mask/set_null_mask.cpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

Change default memory resource for 'distributed' cudf-polars (#18531)
  python/cudf_polars/cudf_polars/callback.py
Labels: Python, cudf.polars

remove some functionality
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Java

Implemented String Input support for Transforms and Removed `jit::column_device_view` (#18378)
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_device_view_base.cuh
  cpp/include/cudf/detail/normalizing_iterator.cuh
  cpp/include/cudf/jit/types.cuh
  cpp/include/cudf/strings/detail/convert/string_to_float.cuh
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf, CMake

Add benchmark for join operations with low build table cardinality (#18105)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/join/join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/left_join.cu
  cpp/benchmarks/join/multiplicity_join.cu
Labels: libcudf, CMake

update
  cpp/include/cudf/jit/span.cuh
  cpp/include/cudf/strings/detail/utf8.hpp
  cpp/include/cudf/utilities/buffer_string.cuh
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

Fix copy-on-write buffer separation and cleanup (#18530)
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_copying.py
Labels: Python

Fix doxygen usage of the contraction for it is (#18517)
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/include/cudf/detail/utilities/linked_column.hpp
  cpp/include/cudf/detail/valid_if.cuh
  cpp/include/cudf/partitioning.hpp
  cpp/include/cudf/transform.hpp
  cpp/include/cudf/utilities/span.hpp
Labels: libcudf

Add missing typename.
  cpp/include/cudf/detail/copy_if_else.cuh
Labels: libcudf

Move device and memory_resource config
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

add other impl for benchmarking purposes
  cpp/src/reshape/table_to_array.cu
Labels: libcudf

documentation fixes
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

small shim updates
  python/cudf/udf_cpp/shim.cu
Labels: Python

clean up
  cpp/src/reshape/table_to_array.cu
Labels: libcudf

update hypothesis
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, pylibcudf

improve docs related to documentation contribution (#18418)
  CONTRIBUTING.md
  docs/cudf/source/developer_guide/documentation.md
Labels: none

Remove need for to_cudf_compatible_scalar (#18477)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Add to_arrow_host_stringview interop API (#18416)
  cpp/include/cudf/interop.hpp
  cpp/src/interop/to_arrow_host.cu
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: libcudf

Pin hypothesis<6.131.1 due to performance issues (#18532)
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, pylibcudf

Remove redundant task-graph logic for streaming ``GroupBy`` (#18507)
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
Labels: Python, cudf.polars

Share more cudf.Column methods for `indices_of`/`isin` (#18423)
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

Add more `cudf.DataFrame` constructor pytest benchmarks (#18433)
  python/cudf/benchmarks/API/bench_dataframe.py
Labels: Python

Change default memory resource for 'distributed' cudf-polars (#18531)
  python/cudf_polars/cudf_polars/callback.py
Labels: Python, cudf.polars

Implemented String Input support for Transforms and Removed `jit::column_device_view` (#18378)
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_device_view_base.cuh
  cpp/include/cudf/detail/normalizing_iterator.cuh
  cpp/include/cudf/jit/types.cuh
  cpp/include/cudf/strings/detail/convert/string_to_float.cuh
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf, CMake

Add benchmark for join operations with low build table cardinality (#18105)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/join/join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/left_join.cu
  cpp/benchmarks/join/multiplicity_join.cu
Labels: libcudf, CMake

Fix copy-on-write buffer separation and cleanup (#18530)
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_copying.py
Labels: Python

Fix doxygen usage of the contraction for it is (#18517)
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/include/cudf/detail/utilities/linked_column.hpp
  cpp/include/cudf/detail/valid_if.cuh
  cpp/include/cudf/partitioning.hpp
  cpp/include/cudf/transform.hpp
  cpp/include/cudf/utilities/span.hpp
Labels: libcudf

Move MemoryResource out of config
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Add multi-partition MapFunction support to cudf-polars (#18523)
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

Don't fetch dlpack headers when building cuDF Python (#18518)
  python/cudf/CMakeLists.txt
Labels: Python, CMake

Use `cuda::std::iter_value_t` instead of thrust iterator traits (#18509)
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/labeling/label_segments.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/detail/sizes_to_offsets_iterator.cuh
  cpp/include/cudf/reduction/detail/reduction.cuh
  cpp/include/cudf/reduction/detail/segmented_reduction.cuh
  cpp/src/reductions/minmax.cu
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
