Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Skip failing polars tests (#18015)
  ci/test_cudf_polars_polars_tests.sh
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

continued pivot
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/utilities/host_worker_pool.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/utilities/host_worker_pool.cpp
Labels: libcudf, CMake

fix dangling
  cpp/include/cudf/io/datasource.hpp
Labels: libcudf

oops add extract_datime_component back
  cpp/src/datetime/datetime_ops.cu
Labels: libcudf

ordering not garunteed in groupby agg
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

ordering not garunteed in groupby
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Ensure disabling the module accelerator is thread-safe (#17955)
  python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf_pandas_tests/test_disable_per_thread_safety.py
Labels: Python, cudf.pandas

lint
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Install duckdb the default backend for ibis in the cudf.pandas integration tests (#17972)
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

consolidate more conda solves in CI (#18014)
  ci/build_docs.sh
  ci/release/update-version.sh
  ci/test_cpp_common.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  dependencies.yaml
Labels: none

Fix `to_arrow` to return consistent pandas-metadata (#18009)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python

Fix failing ibis test
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Fix failing ibis test
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Fix failing ibis test (#18022)
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Remove incorrect stripeSizeRows check and update copyright
  java/src/main/java/ai/rapids/cudf/ORCWriterOptions.java
Labels: Java

Update spark-rapids-jni CI image version to cuda12.8.0
  .github/workflows/spark-rapids-jni.yaml
Labels: none

Don't cover Distributed client selector branch
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Reduce coverage threshold for Distributed CI tests
  ci/run_cudf_polars_pytests.sh
Labels: none

Add seed parameter to cudf hash_character_ngrams (#17994)
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/generate_ngrams.pxd
  python/pylibcudf/pylibcudf/nvtext/generate_ngrams.pxd
  python/pylibcudf/pylibcudf/nvtext/generate_ngrams.pyi
  python/pylibcudf/pylibcudf/nvtext/generate_ngrams.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_generate_ngrams.py
Labels: Python, pylibcudf

Use `bool_constant`
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/src/io/fst/agent_dfa.cuh
Labels: libcudf

Fix issues
  cpp/src/io/fst/agent_dfa.cuh
Labels: libcudf

Fix the compile error
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

Replace DistributedClusterResource with pytest.StashKey
  python/cudf_polars/tests/conftest.py
Labels: Python, cudf.polars

Delay Dask imports only if the cluster is requested
  python/cudf_polars/tests/conftest.py
Labels: Python, cudf.polars

Fix the build error due to KvikIO update (#18025)
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

Pass dtype objects to Column.astype (#18008)
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/utils/utils.py
Labels: Python

try relative importing ColumnBase
  python/cudf/cudf/core/_internals/copying.py
Labels: Python

add integration test for cuml.accel
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_cuml_accel.py
Labels: Python, cudf.pandas

implement row_index map function
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_mapfunction.py
Labels: Python, cudf.polars

Remove breakpoint
  python/cudf/cudf/core/dtypes.py
Labels: Python

change _impl to smart-pointer
  cpp/include/nvtext/normalize.hpp
  cpp/src/text/normalize.cu
Labels: libcudf

make hashable
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Update dask_cudf import
  python/dask_cudf/dask_cudf/_expr/__init__.py
Labels: Python

Adjust `is_scalar` import for dask_cudf
  python/dask_cudf/dask_cudf/_expr/__init__.py
Labels: Python

Run the narwhals test suite with cudf.pandas
  ci/test_narwhals.sh
Labels: none

vectorify the rest of the function
  cpp/src/io/parquet/reader_impl_helpers.cpp
Labels: libcudf

added imbalanced tree benchmarks for transforms
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/transform/transform.cpp
Labels: libcudf, CMake

address code review
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

add sliced test; add fix code for it
  cpp/include/nvtext/wordpiece_tokenize.hpp
  cpp/src/text/wordpiece_tokenize.cu
  cpp/tests/text/subword_tests.cpp
Labels: libcudf

minor refactoring
  cpp/benchmarks/transform/transform.cpp
Labels: libcudf
