Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Compatibility with dask.dataframe's `is_scalar` (#18030)
  python/dask_cudf/dask_cudf/_expr/__init__.py
Labels: Python

tests :D
  cpp/src/io/orc/reader_impl_chunking.cu
Labels: libcudf

Use Pyarrow 19 decimal32/64 objects in cudf Python
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/scalar.py
  python/pylibcudf/pylibcudf/interop.pyx
Labels: Python, pylibcudf

Use pyarrow < 18 supported API
  python/cudf/cudf/core/dtypes.py
Labels: Python

partial work
  cpp/tests/io/comp/decomp_test.cpp
Labels: libcudf

Avoid more string and None dtype passing
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/_join_helpers.py
Labels: Python

reuse max compressed block size
  cpp/src/io/comp/comp.cpp
Labels: libcudf

Separate stats filter utilities to reuse for page pruning
  cpp/CMakeLists.txt
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/stats_filter_helpers.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf, CMake

getenv_or std::move
  cpp/src/io/utilities/getenv_or.hpp
Labels: libcudf

Remove unused headers and style fix
  cpp/src/io/parquet/stats_filter_helpers.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf

Fix typo
  python/cudf/cudf/core/dtypes.py
Labels: Python

Update spark-rapids-jni CI image version to cuda12.8.0 (#18024)
  .github/workflows/spark-rapids-jni.yaml
Labels: none

Improve docstrings
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf

Move some definitions in hpp file for template instantiation
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/stats_filter_helpers.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf

Limit buffer size in reallocation policy in JSON reader (#17940)
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json/json_test.cpp
  cpp/tests/large_strings/json_tests.cu
Labels: libcudf

Replace `cub::Int2Type` with `cuda::std::integral_constant` (#18013)
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/src/io/fst/agent_dfa.cuh
Labels: libcudf

Remove cudf._lib.column in favor of pylibcudf. (#17760)
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/column.pxd
  python/cudf/cudf/_lib/column.pyi
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/binaryop.py
  python/cudf/cudf/core/_internals/copying.py
  python/cudf/cudf/core/_internals/search.py
  python/cudf/cudf/core/_internals/sorting.py
  python/cudf/cudf/core/_internals/stream_compaction.py
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, CMake

Dictionary page pruning basics and page pruning
  cpp/CMakeLists.txt
  cpp/include/cudf/io/detail/experimental/hybrid_scan.hpp
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/stats_filter_helpers.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf, CMake

Add missing standard includes
  cpp/src/io/parquet/writer_impl_helpers.cpp
Labels: libcudf

Drop `cuda::TransformInputIterator` in favor of `thrust::transform_iterator`
  cpp/src/io/fst/logical_stack.cuh
Labels: libcudf

Use internal `cub::detail::AliasTemporaries`
  cpp/src/io/fst/dispatch_dfa.cuh
Labels: libcudf

Drop reliance on `cub::KernelConfig`
  cpp/src/io/fst/dispatch_dfa.cuh
Labels: libcudf

Move Dask client/scheduler getter into separate function
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

fix docstring
  python/cudf/cudf/core/column/string.py
Labels: Python

change Column to ColumnBase
  python/cudf/cudf/core/column/string.py
Labels: Python

change thrust::get to cuda::std::get
  cpp/src/text/minhash.cu
Labels: libcudf

Remove deprecated single component datetime extract APIs (#18010)
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  python/pylibcudf/pylibcudf/datetime.pxd
  python/pylibcudf/pylibcudf/datetime.pyi
  python/pylibcudf/pylibcudf/datetime.pyx
  python/pylibcudf/pylibcudf/libcudf/datetime.pxd
  python/pylibcudf/pylibcudf/tests/test_datetime.py
Labels: Python, pylibcudf, libcudf

trivial dask_cudf.to_orc import fix
  python/dask_cudf/dask_cudf/__init__.py
Labels: Python

Fix hang on invalid UTF-8 data in string_view iterator
  cpp/include/cudf/strings/string_view.cuh
Labels: libcudf

Refactor math_ops.cu dispatcher logic (#18006)
  cpp/src/unary/math_ops.cu
Labels: libcudf

fix benchmark parameter
  cpp/benchmarks/text/subword.cpp
Labels: libcudf

improve test coverage
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: Python

roll back unnecessary change
  python/dask_cudf/dask_cudf/_legacy/io/parquet.py
Labels: Python

Use naive double hashing
  cpp/include/cudf/detail/join.hpp
Labels: libcudf

Skip the failing connectorx polars tests
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Skip the failing connectorx polars tests (#18037)
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

remove pip install
  ci/test_cudf_polars_polars_tests.sh
Labels: none

Cast row counting computations more carefully.
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf

Update to nvcomp 4.2.0.11
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
  python/libcudf/pyproject.toml
Labels: Python

wrap np.int8 in dtype, don't shallow copy in astype for empty
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
Labels: Python
