Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

address code review
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
Labels: Python, cudf.polars

improve docs related to documentation contribution (#18418)
  CONTRIBUTING.md
  docs/cudf/source/developer_guide/documentation.md
Labels: none

updated API
  cpp/benchmarks/ndsh/q09.cpp
  cpp/include/cudf/transform.hpp
  cpp/src/transform/transform.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

Clarify @brief tag as description/title on documentation guide
  cpp/doxygen/developer_guide/DOCUMENTATION.md
Labels: libcudf

pass defaults through
  cpp/src/io/json/write_json.cu
Labels: libcudf

Refactor polars configuration
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/docs/overview.md
Labels: Python, cudf.polars

Suggestions from code review
  cpp/tests/bitmask/set_nullmask_tests.cu
Labels: libcudf

Fix doxygen usage of the contraction for it is
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/include/cudf/detail/utilities/linked_column.hpp
  cpp/include/cudf/detail/valid_if.cuh
  cpp/include/cudf/partitioning.hpp
  cpp/include/cudf/transform.hpp
  cpp/include/cudf/utilities/span.hpp
Labels: libcudf

Don't fetch dlpack headers when building cuDF Python
  python/cudf/CMakeLists.txt
Labels: Python, CMake

Fixes
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

Add back old benchmark
  python/cudf/benchmarks/API/bench_dataframe.py
Labels: Python

Test shuffle method
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

Remove need for to_cudf_compatible_scalar (#18477)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

hashable
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

Move count_significant_bits to a separate header
  cpp/include/cudf/fixed_point/detail/count_significant_bits.hpp
  cpp/include/cudf/fixed_point/detail/floating_conversion.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/io/parquet/compact_protocol_reader.hpp
Labels: libcudf

style fix
  cpp/include/cudf/fixed_point/detail/count_significant_bits.hpp
Labels: libcudf

style fix
  cpp/include/cudf/fixed_point/detail/count_significant_bits.hpp
  cpp/include/cudf/fixed_point/detail/floating_conversion.hpp
Labels: libcudf

copyrights fix
  cpp/include/cudf/fixed_point/detail/count_significant_bits.hpp
Labels: libcudf

fix docs and doxygen
  cpp/include/nvtext/dedup.hpp
  python/cudf/cudf/core/column/string.py
  python/pylibcudf/pylibcudf/nvtext/dedup.pyx
Labels: Python, pylibcudf, libcudf

add custom synchronous scheduler
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/scheduler.py
Labels: Python, cudf.polars

Cleanup
  cpp/tests/utilities_tests/system_tests.cpp
Labels: libcudf

tweak error message
  python/cudf_polars/cudf_polars/experimental/scheduler.py
Labels: Python, cudf.polars

Revert changes to yaml files, given that nvml is dynamically loaded instead of dynamically linked
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/recipe.yaml
  dependencies.yaml
Labels: none

address review
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json/json_writer.cpp
Labels: libcudf

fixup
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/test_executors.py
Labels: Python, cudf.polars

fixup
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Revert previous commit and restore changes to yaml files
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/recipe.yaml
  dependencies.yaml
Labels: none

cleanup todos
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

fix typing
  python/cudf_polars/cudf_polars/experimental/scheduler.py
Labels: Python, cudf.polars

Add more short circut checks for .equals
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
Labels: Python

Add another short circut for Column.equals
  python/cudf/cudf/core/column/column.py
Labels: Python

Add .dtype in RangeIndex.equals
  python/cudf/cudf/core/index.py
Labels: Python

Add .dtype in RangeIndex.equals
  python/cudf/cudf/core/index.py
Labels: Python

Add verify=True keyword to pylibcudf.Column.from_rmm_buffer
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

docs fix
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/include/cudf/io/parquet_schema.hpp
Labels: libcudf

fix coverage
  python/cudf_polars/cudf_polars/experimental/scheduler.py
Labels: Python, cudf.polars

Improve nvtext::tokenize_with_vocabulary performance
  cpp/src/text/vocabulary_tokenize.cu
Labels: libcudf

initial changes
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Java

add simple MapFunction support
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

Reduce the number of miscellaenous pandas unit tests run with cudf.pandas
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas
