Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

remove space before shebang
  ci/use_conda_packages_from_prs.sh
Labels: none

Remove BaseIndex inheritance from RangeIndex
  python/cudf/cudf/core/index.py
Labels: Python

Require at least numba-cuda `0.10.1` (#18688)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python

try getting debug information (is this not using the correct gha-tools?)
  ci/use_gha_tools_from_branch.sh
Labels: none

Fix test with values out of range
  cpp/tests/reductions/bitwise_tests.cpp
Labels: libcudf

ugh
  ci/use_gha_tools_from_branch.sh
Labels: none

Update cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Apply suggestions from code reviews
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
Labels: libcudf

Migrate all methods from BaseIndex to Index
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_typing.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/testing/testing.py
  python/dask_cudf/dask_cudf/_expr/collection.py
  python/dask_cudf/dask_cudf/backends.py
Labels: Python, cudf.pandas

Remove other BaseIndex references
  python/cudf/benchmarks/API/bench_frame_or_index.py
  python/cudf/cudf/api/extensions/accessor.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_factorize.py
Labels: Python, cudf.pandas

Update copyright year
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/UnaryOp.java
Labels: Java

Expose column chunk metadata in `read_parquet_metadata()` (#18579)
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_reader_test.cpp
  python/cudf/cudf/utils/ioutils.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/pylibcudf/pylibcudf/io/parquet_metadata.pxd
  python/pylibcudf/pylibcudf/io/parquet_metadata.pyi
  python/pylibcudf/pylibcudf/io/parquet_metadata.pyx
  python/pylibcudf/pylibcudf/libcudf/io/parquet_metadata.pxd
Labels: Python, cudf.polars, pylibcudf, libcudf

In `pyproject.toml` set `pydistcheck` precision
  python/libcudf/pyproject.toml
Labels: Python

Remove IndexMeta, _values, redo __new__ constructor to match pandas
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python, cudf.pandas

Finally remove BaseIndex
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/_base_index.py
Labels: Python

address review
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/utils.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json/json_writer.cpp
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/pylibcudf/pylibcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/io/csv.pyi
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
Labels: Python, cudf.polars, pylibcudf, libcudf

Remove as_index
  python/cudf/cudf/core/index.py
Labels: Python

Fix `skip_compression` option in the Parquet writer with host compression (#18714)
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/snap.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Update cpp/tests/io/parquet_experimental_reader_test.cpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

style fix
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Update test_mvc.py
  python/cudf/cudf/tests/test_mvc.py
Labels: Python

Simplify Numba-CUDA MVC logic (#18724)
  python/cudf/cudf/tests/test_mvc.py
  python/cudf/cudf/utils/_numba.py
  python/cudf/cudf/utils/_ptxcompiler.py
Labels: Python

Include the name of the first path only in cudf-polars explain API
  python/cudf_polars/cudf_polars/experimental/explain.py
Labels: Python, cudf.polars

Implement `BITWISE_AGG` aggregations (bitwise `AND`, `OR` and `XOR`) for sort-based groupby and reduction (#18551)
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/reduction/detail/reduction_functions.hpp
  cpp/include/cudf/reduction/detail/reduction_operators.cuh
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_bitwise.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/reductions/bitwise.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/simple.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/bitwise_tests.cpp
  cpp/tests/reductions/bitwise_tests.cpp
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/java/ai/rapids/cudf/ReductionAggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: libcudf, CMake, Java

depend on numba-cuda to build python (probably too broad but can test), bump version
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

style
  python/cudf/cudf/tests/test_string_udfs.py
Labels: Python

clean up
  python/pylibcudf/pylibcudf/tests/test_hashing.py
  python/pylibcudf/pylibcudf/tests/test_nvtext_replace.py
  python/pylibcudf/pylibcudf/tests/test_string_convert_lists.py
Labels: Python, pylibcudf

fix(rattler): add `librmm` to host for `libcudf` to fix overlinking error
  conda/recipes/libcudf/recipe.yaml
Labels: none

Remove the file name
  python/cudf_polars/cudf_polars/experimental/explain.py
Labels: Python, cudf.polars

remove substring_duplicates
  cpp/benchmarks/text/deduplicate.cpp
  cpp/include/nvtext/deduplicate.hpp
  cpp/src/text/deduplicate.cu
  cpp/tests/text/deduplicate_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/deduplicate.pxd
  python/pylibcudf/pylibcudf/nvtext/deduplicate.pxd
  python/pylibcudf/pylibcudf/nvtext/deduplicate.pyi
  python/pylibcudf/pylibcudf/nvtext/deduplicate.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_deduplicate.py
Labels: Python, pylibcudf, libcudf

Set more CTK 12.9 fatbin compression flags to maintain existing binary sizes
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: libcudf, CMake

Update copyright year
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: libcudf, CMake

fix test
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

added row indices for user_data
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

Fix overflow case and clean up some logic (#18734)
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Correct type annotations for size_of
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
  python/pylibcudf/pylibcudf/libcudf/types.pxd
  python/pylibcudf/pylibcudf/types.pxd
  python/pylibcudf/pylibcudf/types.pyx
Labels: Python, pylibcudf

Correctly determine size of strings column view
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Expose strings_column_view in Cython and use it for char buffer size
  cpp/include/cudf/strings/strings_column_view.hpp
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/libcudf/strings/strings_column_view.pxd
Labels: Python, pylibcudf, libcudf

Simplify some imports
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

use scalar value()
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_record.cu
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
