Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Re-enable import tests.
  ci/build_python.sh
Labels: none

Use updated librmm artifact name.
  ci/use_wheels_from_prs.sh
Labels: none

code review
  cpp/tests/io/compression_common.hpp
Labels: libcudf

Extend to support viewing the logical plan (pre lowered plan)
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

make tmp_env_var non copyable and non movable
  cpp/tests/io/compression_common.hpp
Labels: libcudf

Raise from e
  python/cudf/cudf/utils/gpu_utils.py
Labels: Python

remove all skips
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_cuml.py
Labels: Python, cudf.pandas

fix style violations
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/nvtext/deduplicate.pyi
Labels: Python, pylibcudf

Clarify logic.
  python/cudf/cudf/utils/gpu_utils.py
Labels: Python

Simplify logic.
  python/cudf/cudf/utils/gpu_utils.py
Labels: Python

add tests
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

style
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

style 2
  python/cudf/cudf/tests/test_orc.py
Labels: Python

update
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

Switch from printing to logging
  cpp/src/column/column_view.cpp
Labels: libcudf

style 3
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

add some debug info
  python/cudf/cudf/utils/_numba.py
Labels: Python

Fix empty case, add tests
  cpp/src/interop/from_arrow_stream.cu
  python/pylibcudf/pylibcudf/tests/test_interop.py
Labels: Python, pylibcudf, libcudf

Make cuda12 as JNI default (#18651)
  java/README.md
  java/ci/Dockerfile.rocky
  java/ci/README.md
Labels: Java

Formatting
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/primitive_row_operators.cuh
  cpp/src/join/distinct_hash_join.cu
Labels: libcudf

Cleanups
  cpp/include/cudf/table/primitive_row_operators.cuh
Labels: libcudf

ci: run unit-tests-cudf-pandas on `branch-25.06` workflow (#18692)
  .github/workflows/pr.yaml
  python/cudf/cudf/utils/gpu_utils.py
Labels: Python

Add int to duration conversion in from_py
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

refresh for polars>=1.28
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/tests/test_mapfunction.py
  python/cudf_polars/tests/test_select.py
Labels: Python, cudf.polars

Replace a new pa.scalar call
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
Labels: Python, cudf.polars

Bug fixing
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

update failures
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

address review
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

remove device internal zstd cases
  cpp/tests/io/orc_chunked_reader_test.cu
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_chunked_reader_test.cu
  cpp/tests/io/parquet_reader_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

fix host path
  cpp/src/io/comp/comp.cpp
Labels: libcudf

fix snap kernel
  cpp/src/io/comp/snap.cu
Labels: libcudf

add tests
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Switch from printing to logging (#18711)
  cpp/src/column/column_view.cpp
Labels: libcudf

Skip all known pytest failures in pandas-tests (#18641)
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

move actual test to benchmarks
  python/cudf/benchmarks/API/bench_index.py
  python/cudf/cudf/tests/test_repr.py
Labels: Python

Minor clean up
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Sync
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Docs clean up
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Docs clean up
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Sync with child PRs
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
