Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Fix isin bug for casting float values to int always
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

Cleanups
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/transform/compute_column.cu
Labels: libcudf

update doxygen
  cpp/include/cudf/interop.hpp
  cpp/src/interop/to_arrow_host.cu
Labels: libcudf

Update comments
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

clean up
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

clean up
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

Update python/cudf/cudf/io/json.py
  python/cudf/cudf/io/json.py
Labels: Python

Add docs
  cpp/src/transform/compute_column.cu
Labels: libcudf

Fix complex type check
  cpp/src/transform/compute_column.cu
Labels: libcudf

namespace cleanup
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Labels: libcudf

partial work
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

finally, lists work
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Add a usage page to cudf-polars documentation
  docs/cudf/source/cudf_polars/index.rst
  docs/cudf/source/cudf_polars/usage.md
Labels: none

Write list offsets in all decoders
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

Improvements
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
Labels: libcudf

No need to write empty string index pairs
  cpp/src/io/parquet/page_data.cu
Labels: libcudf

Write empty string descriptors
  cpp/src/io/parquet/page_data.cu
Labels: libcudf

Minor improvements
  cpp/src/io/parquet/page_data.cu
Labels: libcudf

Suggestions from code review
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf

Update docstrings
  cpp/src/io/parquet/page_string_utils.cuh
Labels: libcudf

Update the hybrid scan test
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Minor comments update
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

refactor expression decomposition. Avoid IR manipulation at graph-construction time.
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

Expose `cudf::chunked_pack` in pylibcudf (#18411)
  cpp/src/copying/contiguous_split.cu
  python/pylibcudf/pylibcudf/contiguous_split.pxd
  python/pylibcudf/pylibcudf/contiguous_split.pyi
  python/pylibcudf/pylibcudf/contiguous_split.pyx
  python/pylibcudf/pylibcudf/libcudf/contiguous_split.pxd
  python/pylibcudf/pylibcudf/libcudf/utilities/span.pxd
  python/pylibcudf/pylibcudf/tests/test_contiguous_split.py
Labels: Python, pylibcudf, libcudf

fix finalize
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

use input_ir instead of child
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Add support for parquet scan + count operation
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_mapfunction.py
Labels: Python, cudf.polars

clean up
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

working for demo dataframes
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/cudf/core/udf/groupby_typing.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

stride
  python/cudf/udf_cpp/shim.cu
Labels: Python

add comment
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

get hashable
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

most basic possible test
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

support large strings columns
  cpp/src/interop/to_arrow_host.cu
Labels: libcudf

group -> groupview
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/cudf/core/udf/groupby_typing.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/utils/cudautils.py
Labels: Python

Update Changelog [skip ci]
  CHANGELOG.md
Labels: none

Add support for long string columns in cudf::contiguous_split (#18393)
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/slice_tests.cuh
  cpp/tests/copying/split_tests.cpp
Labels: libcudf

Deprecate cudf.Scalar (#18394)
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_struct.py
  python/cudf/cudf/tests/test_unaops.py
Labels: Python

[DOC] Improve clarity in parquet APIs set_row_groups and set_columns parquet
  cpp/include/cudf/io/parquet.hpp
Labels: libcudf

Minor improvements
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
