Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Fix empty inputt case
  cpp/src/unary/math_ops.cu
Labels: libcudf

Revert "Sigh, every index subclass needs __new__ now"
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Labels: Python

Remove unecessary _Ravelled class (#18771)
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Add `BIT_COUNT`
  python/pylibcudf/pylibcudf/libcudf/unary.pxd
Labels: Python, pylibcudf

Use ._column instead of ._values
  python/cudf/cudf/core/index.py
Labels: Python

Fix doc typos
  cpp/include/cudf/detail/join/distinct_hash_join.cuh
Labels: libcudf

Update docs
  cpp/include/cudf/table/experimental/row_operators.cuh
Labels: libcudf

Renaming
  cpp/src/join/distinct_hash_join.cu
Labels: libcudf

Define RangeIndex after Index, use less _values
  python/cudf/cudf/core/index.py
Labels: Python

small fix
  dependencies.yaml
Labels: none

Remove other type ignores, move some methods
  python/cudf/cudf/core/index.py
Labels: Python

Allow `pylibcudf.Column` to consume objects exposing `__arrow_c_stream__` (#18712)
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
  cpp/src/interop/from_arrow_stream.cu
  python/pylibcudf/pylibcudf/_interop_helpers.pyx
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/table.pyx
  python/pylibcudf/pylibcudf/tests/test_interop.py
Labels: Python, pylibcudf, libcudf

specialize for datetimeindex
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
Labels: Python

Add test
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

Fix bug in Scalar factory when dtype is None
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Fix noexcept annotations on strings_column_view (#18763)
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/src/strings/strings_column_view.cpp
Labels: libcudf

try using rapids-init-pip
  ci/build_cpp.sh
  ci/build_wheel.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_cudf_polars.sh
  ci/build_wheel_dask_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/cudf_pandas_scripts/run_tests.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
  ci/use_wheels_from_prs.sh
Labels: none

Revert modification to wrong place
  cpp/tests/reductions/bitwise_tests.cpp
Labels: libcudf

Add tests for `__int128_t` type
  cpp/tests/unary/math_ops_test.cpp
Labels: libcudf

Revert "Add tests for `__int128_t` type"
  cpp/tests/unary/math_ops_test.cpp
Labels: libcudf

Fix integer overflows in pylibcudf `from_column_view_of_arbitrary` (#18758)
  cpp/include/cudf/strings/strings_column_view.hpp
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
  python/pylibcudf/pylibcudf/libcudf/strings/strings_column_view.pxd
  python/pylibcudf/pylibcudf/libcudf/types.pxd
  python/pylibcudf/pylibcudf/types.pxd
  python/pylibcudf/pylibcudf/types.pyx
Labels: Python, pylibcudf, libcudf

Add check_sorted method to Column
  python/cudf_polars/cudf_polars/containers/column.py
Labels: Python, cudf.polars

Rework window function tests to assert all functionality
  python/cudf_polars/tests/test_window_functions.py
Labels: Python, cudf.polars

Implement expression-based rolling
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/replace.py
Labels: Python, cudf.polars

These tests now pass
  python/cudf_polars/tests/test_rolling.py
Labels: Python, cudf.polars

Fix bug in is_supported_rolling_aggregation
  cpp/src/rolling/detail/rolling_utils.cu
Labels: libcudf

Full coverage and fix some corner cases
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/rolling.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
  python/cudf_polars/tests/containers/test_column.py
  python/cudf_polars/tests/expressions/test_rolling.py
  python/cudf_polars/tests/test_rolling.py
Labels: Python, cudf.polars

Introduce ClosedInterval type alias
  python/cudf_polars/cudf_polars/typing/__init__.py
Labels: Python, cudf.polars

Pass schema of evaluation context into expression translation
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Raise for rolling/grouped aggregations that broadcast
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/tests/expressions/test_rolling.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, cudf.polars

Null replacement to handle difference between empty groups in polars/libcudf
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
Labels: Python, cudf.polars

Typing for durations
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
  python/cudf_polars/cudf_polars/typing/__init__.py
Labels: Python, cudf.polars

Tighter checking for pointwise ops in aggregation decomposition
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
Labels: Python, cudf.polars

Deterministic collection order for tests
  python/cudf_polars/tests/test_window_functions.py
Labels: Python, cudf.polars

Introduce Rolling node, translate to it and execute
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/rolling.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
Labels: Python, cudf.polars

Correctly handle grouped rolling sortedness
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/cudf_polars/dsl/utils/rolling.py
  python/cudf_polars/tests/test_rolling.py
Labels: Python, cudf.polars

Some passing polars tests
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Final bits
  python/cudf_polars/cudf_polars/dsl/utils/rolling.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/tests/expressions/test_rolling.py
Labels: Python, cudf.polars

Fix docstrings
  python/cudf_polars/cudf_polars/dsl/utils/rolling.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
Labels: Python, cudf.polars

NewType for duration
  python/cudf_polars/cudf_polars/typing/__init__.py
Labels: Python, cudf.polars

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
