Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Undo the comparison
  python/cudf/cudf/core/column/column.py
Labels: Python

Add dtype casts in test_dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Add resolution to type
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Move definitions to predicate_pushdown.cpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/stats_filter_helpers.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf

Add pragma once
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf

Bump polars version to <1.23 (#17986)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/meta.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_mapfunction.py
Labels: Python, cudf.polars

Update cpp/src/io/parquet/stats_filter_helpers.hpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf

Update cpp/src/io/parquet/stats_filter_helpers.hpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf

Apply suggestions from code review
  cpp/src/io/parquet/predicate_pushdown.cpp
Labels: libcudf

Apply suggestions from code review
  cpp/src/io/parquet/stats_filter_helpers.cpp
Labels: libcudf

Style fix and merge stats filter changes
  cpp/include/cudf/io/detail/experimental/hybrid_scan.hpp
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/stats_filter_helpers.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf

Remove redefinition of host_column
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Disable checking of chunk counts in various tests, due to fragility related to compression changes.
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf

Re-enable two chunk count checks that can safely be expected to always be 1.
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf

Re-enable a few more 1-chunk-expected tests.
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf

Pass more dtype objects to astype
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

nitpick_ignore some new type annotations
  docs/cudf/source/conf.py
Labels: none

add workaround for broken upstram loc test
  python/dask_cudf/dask_cudf/_expr/__init__.py
  python/dask_cudf/dask_cudf/_expr/expr.py
Labels: Python

Enable a few more tests using tiny chunk limits.
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf

Minor bug fix
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
Labels: libcudf

Improve CI usage by increasing parallelism
  ci/test_python_cudf.sh
Labels: none

Fix typo
  python/pylibcudf/pylibcudf/interop.pyx
Labels: Python, pylibcudf

update more jobs
  ci/test_python_other.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

Expose num_rows_per_source (IO metadata) to pylibcudf
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/tests/io/test_types.py
Labels: Python, pylibcudf

Move definitions back to stats_filter_helpers.hpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf

add type stub
  python/pylibcudf/pylibcudf/io/types.pyi
Labels: Python, pylibcudf

move defs to stats_filter_helpers.hpp
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf

Add workaround for to_pandas
  python/cudf/cudf/core/column/decimal.py
Labels: Python

share code between file source and remote source
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

Workaround pyarrow 19 bug with decimal pandas_metadata conversion
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python

Preserve precision in to_arrow
  python/cudf/cudf/core/column/decimal.py
Labels: Python

Handle out of precision values
  python/cudf/cudf/core/column/decimal.py
Labels: Python

xfail orc tests
  python/cudf/cudf/tests/test_orc.py
Labels: Python

update gitignore
  .gitignore
Labels: none

update
  .gitignore
  ci/cpp/build/build_cpp.sh
  ci/cpp/build/configure_cpp_static.sh
Labels: none

update
  .gitignore
Labels: none

update
  .gitignore
Labels: none

Test decimal 128 for now
  python/cudf/cudf/tests/test_rolling.py
Labels: Python

update
  ci/python/build/build_python.sh
  ci/python/build/build_wheel.sh
  ci/python/build/build_wheel_cudf.sh
  ci/python/build/build_wheel_cudf_polars.sh
  ci/python/build/build_wheel_dask_cudf.sh
  ci/python/build/build_wheel_libcudf.sh
  ci/python/build/build_wheel_pylibcudf.sh
  ci/python/build/validate_wheel.sh
Labels: none

update
  ci/check_style.sh
Labels: none
