Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Remove param from tdcolumn.sum
  python/cudf/cudf/core/column/timedelta.py
Labels: Python

Add as_proxy_object API
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_as_proxy_object.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

revert
  python/cudf/cudf_pandas_tests/test_as_proxy_object.py
Labels: Python, cudf.pandas

Require CMake 3.30.4 (#18007)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf_kafka/conda_build_config.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/pylibcudf/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/billion_rows/CMakeLists.txt
  cpp/examples/interop/CMakeLists.txt
  cpp/examples/nested_types/CMakeLists.txt
  cpp/examples/parquet_io/CMakeLists.txt
  cpp/examples/strings/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  dependencies.yaml
  java/ci/Dockerfile.rocky
  java/src/main/native/CMakeLists.txt
  python/cudf/CMakeLists.txt
  python/cudf/pyproject.toml
  python/cudf/udf_cpp/CMakeLists.txt
  python/cudf_kafka/CMakeLists.txt
  python/cudf_kafka/pyproject.toml
  python/libcudf/CMakeLists.txt
  python/libcudf/pyproject.toml
  python/pylibcudf/CMakeLists.txt
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf, libcudf, CMake, Java

[FEA] Expose `stripe_size_rows` setting for `ORCWriterOptions` (#17927)
  java/src/main/java/ai/rapids/cudf/ORCWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
Labels: Java

Use the right version macro `CCCL_MAJOR_VERSION`
  cpp/src/io/fst/dispatch_dfa.cuh
Labels: libcudf

Fix stupid
  cpp/src/rolling/range_rolling.cu
Labels: libcudf

Partial refactor following Vyas
  cpp/include/cudf/detail/rolling.hpp
  cpp/src/rolling/detail/range_following.cu
  cpp/src/rolling/detail/range_preceding.cu
  cpp/src/rolling/detail/range_utils.cuh
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/range_rolling.cu
Labels: libcudf

Support sorted merges in cudf.polars
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

added fixed-point output kernel for transforms
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

added fixed-point output kernel for transforms
  cpp/src/transform/jit/kernel.cu
Labels: libcudf

Fix `dask_cudf.to_orc` deprecation (#18038)
  python/dask_cudf/dask_cudf/__init__.py
Labels: Python

added if-constexpr
  cpp/benchmarks/transform/transform.cpp
Labels: libcudf

Apply suggestions from code review
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

Bump polars version to <1.24
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/meta.yaml
  dependencies.yaml
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

address reviews
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

skip test
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

remove xfail
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

document and add tests
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Grouping row info is named struct
  cpp/src/rolling/detail/range_utils.cuh
  cpp/src/rolling/detail/rolling_utils.cuh
Labels: libcudf

fix pytest to use new interface
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python

Update python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

add a test
  python/cudf_polars/tests/expressions/test_slice.py
Labels: Python, cudf.polars

changed upstream JITIFY
  cpp/cmake/thirdparty/get_jitify.cmake
  dependencies.yaml
Labels: libcudf, CMake

fix typo in pytest
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python

fallback to polars on cast from empty to string
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
Labels: Python, cudf.polars

Use the right version macro `CCCL_MAJOR_VERSION` (#18073)
  cpp/src/io/fst/dispatch_dfa.cuh
Labels: libcudf

Enable pytest-xdist runs for py-polars tests (#18016)
  ci/run_cudf_polars_polars_tests.sh
Labels: none

Update test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Update numba dep and upper-bound numpy
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.polars, pylibcudf

style
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Separate distance functors by window type
  cpp/src/rolling/detail/range_utils.cuh
Labels: libcudf

test
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  ci/python/test/test_python_cudf.sh
  ci/python/test/test_python_other.sh
  ci/python/test/test_wheel_cudf.sh
  ci/python/test/test_wheel_dask_cudf.sh
Labels: none

Support melt(ignore_index=False), operate on columns
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: Python

Add a slice expression to polars IR (#18050)
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/expressions/test_slice.py
Labels: Python, cudf.polars

add a test
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_merge_sorted.py
Labels: Python, cudf.polars

Remove `FindCUDAToolkit` backport
  cpp/cmake/Modules/FindCUDAToolkit.cmake
Labels: libcudf, CMake

cap default pool size
  cpp/src/utilities/host_worker_pool.cpp
Labels: libcudf

Support melt(ignore_index=False) (#18080)
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: Python

Make StringColumn require a data buffer
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: Python

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
