Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Validate old type
  python/cudf/cudf/core/column_accessor.py
Labels: Python

fix broken rapidsmp test
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/experimental/test_rapidsmp.py
Labels: Python, cudf.polars

Add rapidsmp shuffle support to cudf-polars (#18231)
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_rapidsmp.py
Labels: Python, cudf.polars

wrap_dataframe_in_spillable
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/spilling.py
Labels: Python, cudf.polars

[DOC] Fix typo in CONTRIBUTING.md on build type tests
  CONTRIBUTING.md
Labels: none

address code review
  python/cudf_polars/cudf_polars/experimental/repartition.py
  python/cudf_polars/cudf_polars/experimental/utils.py
Labels: Python, cudf.polars

fallback if cuda version < 12.8
  cpp/src/reshape/table_to_array.cu
Labels: libcudf

clean up
  cpp/src/reshape/table_to_array.cu
Labels: libcudf

update message for mismatched partition counts
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

update fallback message
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

needs setitem
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/cudf/core/udf/groupby_typing.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

partial work
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Automatic single-partition fallback in cudf-polars (#18405)
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/base.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

pr reviews
  python/cudf/cudf/io/json.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python

alphabetizing
  python/cudf/cudf/io/json.py
Labels: Python

rename _check_sub_expr to _valid_sub_expr
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

check leaf nodes
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Support `include_file_paths` in cudf polars (#18057)
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

Automatically dispatch between host and device decompression/compression based on the number of buffers (#18363)
  cpp/src/io/comp/common_internal.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Update bgzip_data_chunk_source.cu
  cpp/src/io/text/bgzip_data_chunk_source.cu
Labels: libcudf

[DOC] Fix typo in CONTRIBUTING.md on build type tests (#18456)
  CONTRIBUTING.md
Labels: none

address reviews
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reshape/table_to_array.cpp
  cpp/include/cudf/detail/reshape.hpp
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/table_to_array.cu
  cpp/tests/reshape/table_to_array.cpp
Labels: libcudf, CMake

partial code review
  python/cudf_polars/cudf_polars/dsl/traversal.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/tests/dsl/test_traversal.py
Labels: Python, cudf.polars

Suggestions from code reviews
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf

Revert copyright year for reader_impl.hpp
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf

Support title-case characters in strings capitalize() and title() APIs
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
Labels: libcudf

Carry over improvements from #18347
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Move parquet schema types and structs to public headers (#18424)
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_chunked_reader_test.cu
  cpp/tests/io/parquet_common.cpp
  cpp/tests/io/parquet_common.hpp
  cpp/tests/io/parquet_misc_test.cpp
  cpp/tests/io/parquet_reader_test.cpp
  cpp/tests/io/parquet_v2_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

fix typo
  cpp/src/io/avro/reader_impl.cu
Labels: libcudf

address review
  cpp/benchmarks/reshape/table_to_array.cpp
  cpp/src/reshape/table_to_array.cu
Labels: libcudf

Re-add changes after merge commit
  cpp/include/cudf/io/parquet_schema.hpp
Labels: libcudf

use snake case
  cpp/src/reshape/table_to_array.cu
Labels: libcudf

Fix a segfault when reading a Parquet file with unsupported compression type (#18451)
  cpp/src/io/parquet/reader_impl_chunking.cu
  python/cudf/cudf/tests/data/parquet/hadoop_lz4_compressed.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, libcudf

Ensure DataFrame column label operations reset label_dtype (#18452)
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Add support for dtype enum for all columns
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Labels: Python

Code cleanup
  cpp/src/io/parquet/decode_fixed.cu
Labels: libcudf

Minor code cleanup
  cpp/src/io/parquet/decode_fixed.cu
Labels: libcudf

Remove compute_column benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/ast/compute_column.cpp
Labels: libcudf, CMake

Add missing blank line
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Labels: libcudf

address review
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
