Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

gtest
  cpp/tests/io/parquet_reader_test.cpp
Labels: libcudf

Match pandas GroupBy documentation and fix associated errors
  docs/cudf/Makefile
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/api_docs/groupby.rst
  docs/cudf/source/user_guide/api_docs/series.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/groupby/__init__.py
  python/cudf/cudf/core/groupby/groupby.py
Labels: Python

Undo some unnecessary changes
  python/cudf/cudf/core/groupby/__init__.py
  python/cudf/cudf/core/groupby/groupby.py
Labels: Python

Add tests for `cudf.polars` to be able to work on a cpu-only machine (#18327)
  conda/recipes/cudf-polars/recipe.yaml
Labels: none

Fix for failing tests
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

docs update
  python/cudf/cudf/utils/ioutils.py
Labels: Python

style fix
  python/cudf/cudf/utils/ioutils.py
Labels: Python

Address review comments
  cpp/src/utilities/nvml_shim.cpp
Labels: libcudf

Bump polars version to <1.29
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

Update KvikIO S3 endpoint
  cpp/cmake/thirdparty/get_kvikio.cmake
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf, CMake

Update format
  cpp/cmake/thirdparty/get_kvikio.cmake
Labels: libcudf, CMake

Update
  cpp/cmake/thirdparty/get_kvikio.cmake
Labels: libcudf, CMake

Update
  cpp/cmake/thirdparty/get_kvikio.cmake
Labels: libcudf, CMake

Update dependencies.yaml
  dependencies.yaml
Labels: none

fix coverage
  python/cudf_polars/cudf_polars/experimental/distinct.py
Labels: Python, cudf.polars

Trying to minimize recipe changes
  conda/recipes/libcudf/recipe.yaml
Labels: none

Run rapids-dependency-file-generator to remove nvml dependency from conda CUDA 11.8
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
Labels: none

high-level notes
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Test matrix-type nightly to debug nightly CI failure
  .github/workflows/pr.yaml
Labels: none

Test NVTX update to support CPM
  cmake/rapids_config.cmake
Labels: CMake

add more empty and single-space test strings
  cpp/tests/strings/split_tests.cpp
Labels: libcudf

Remove unused capture
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

pre review: removed headers; more sync->nosync
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Update cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

pr reviews: more sync -> async
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Test overflow
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

Add nvtext substring duplication APIs (Part 1)
  cpp/CMakeLists.txt
  cpp/include/doxygen_groups.h
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/text/dedup_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/CMakeLists.txt
  python/pylibcudf/pylibcudf/nvtext/__init__.pxd
  python/pylibcudf/pylibcudf/nvtext/__init__.py
  python/pylibcudf/pylibcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pyi
  python/pylibcudf/pylibcudf/nvtext/dedup.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_dedup.py
Labels: Python, pylibcudf, libcudf, CMake

change thrust::distance to cuda::std::distance
  cpp/src/text/dedup.cu
Labels: libcudf

pr review: reusing mapping_functor
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Test RMM PR 1896
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  ci/test_cpp_common.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  ci/use_conda_packages_from_prs.sh
  ci/use_wheels_from_pr.sh
Labels: none

pr review: fix for reuse
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

pr review: adding a stream test
  cpp/tests/streams/join_test.cpp
Labels: libcudf

pr review: added test for invalid input
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

pr review: doc fix
  cpp/include/cudf/join/sort_merge_join.hpp
Labels: libcudf

Update KvikIO S3 endpoint usage (#18565)
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

pr review: uninitialized fill
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Fix some duplicate toctree issues and improve groupby docs (#18580)
  docs/cudf/Makefile
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/api_docs/dataframe.rst
  docs/cudf/source/user_guide/api_docs/groupby.rst
  docs/cudf/source/user_guide/api_docs/index.rst
  docs/cudf/source/user_guide/api_docs/list_handling.rst
  docs/cudf/source/user_guide/api_docs/series.rst
  docs/cudf/source/user_guide/api_docs/string_handling.rst
  docs/cudf/source/user_guide/api_docs/struct_handling.rst
  docs/cudf/source/user_guide/api_docs/wordpiece_tokenizer.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/groupby/__init__.py
  python/cudf/cudf/core/groupby/groupby.py
Labels: Python

[ci] use 'certifi' certificates in fetch_pandas_versions script
  ci/cudf_pandas_scripts/fetch_pandas_versions.py
  ci/cudf_pandas_scripts/run_tests.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: Python

Add xfail window function tests for cudf_polars (#18557)
  python/cudf_polars/tests/test_window_functions.py
Labels: Python, cudf.polars

Allow datetime.timedelta objects in pylibcudf.Scalar.from_py (#18577)
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar.pxd
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/libcudf/wrappers/durations.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
