Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

clean up, up test percentage
  cpp/src/io/orc/writer_impl.cu
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

revert pinned pool changes
  cpp/src/utilities/host_memory.cpp
Labels: libcudf

more
  cpp/src/utilities/host_memory.cpp
Labels: libcudf

revert yaml
  .github/workflows/pr.yaml
Labels: none

more clean up
  cpp/src/io/orc/writer_impl.cu
Labels: libcudf

kill me
  cpp/src/io/orc/writer_impl.cu
Labels: libcudf

Prune some seldom used dtype utils
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/testing/dataset_generator.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python

Remove some unnecessary module imports
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/utils/utils.py
Labels: Python

Bug fix for nested types and lists
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, libcudf

Minor comment update
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

update
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/mixed_join_kernel.cu
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_kernels_semi.cuh
  cpp/src/join/mixed_join_semi.cu
  cpp/src/join/mixed_join_size_kernel.cu
Labels: libcudf

update
  cpp/CMakeLists.txt
Labels: libcudf, CMake

add dummy test for rowgroup filter
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
Labels: Python, pylibcudf

tests
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

initial
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

basic, impl
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

map ordinal day to day of year
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

update
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join_kernel.cu
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_semi.cu
  cpp/src/join/mixed_join_size_kernel.cu
Labels: libcudf

update
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.hpp
Labels: libcudf

Add rattler-build recipe for libcudf
  ci/build_cpp.sh
  conda/recipes/libcudf/build.sh
  conda/recipes/libcudf/install_libcudf.sh
  conda/recipes/libcudf/install_libcudf_example.sh
  conda/recipes/libcudf/install_libcudf_kafka.sh
  conda/recipes/libcudf/install_libcudf_tests.sh
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf/recipe.yaml
  python/libcudf/pyproject.toml
Labels: Python

Add rattler-build recipe for pylibcudf
  conda/recipes/pylibcudf/build.sh
  conda/recipes/pylibcudf/meta.yaml
  conda/recipes/pylibcudf/recipe.yaml
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

Add rattler-build recipe for dask-cudf
  conda/recipes/dask-cudf/build.sh
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/recipe.yaml
  python/dask_cudf/pyproject.toml
Labels: Python

Add rattler-build recipe for cudf-polars
  conda/recipes/cudf-polars/build.sh
  conda/recipes/cudf-polars/meta.yaml
  conda/recipes/cudf-polars/recipe.yaml
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

Add rattler-build recipe for cudf_kafka
  conda/recipes/cudf_kafka/build.sh
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  python/cudf_kafka/pyproject.toml
Labels: Python

Add rattler-build recipe for custreamz
  conda/recipes/custreamz/build.sh
  conda/recipes/custreamz/meta.yaml
  conda/recipes/custreamz/recipe.yaml
Labels: none

Add rattler-build recipe for cudf
  conda/recipes/cudf/build.sh
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf/recipe.yaml
  python/cudf/pyproject.toml
Labels: Python

Fix ignore_run_export condition
  ci/build_python.sh
  conda/recipes/libcudf/recipe.yaml
Labels: none

Update `build_python.sh` to use `rattler-build`
  ci/build_cpp.sh
  ci/build_python.sh
Labels: none

disable non-conda workflows
  .github/workflows/pr.yaml
Labels: none

remove cuda_version pin from compiler
  conda/recipes/libcudf/recipe.yaml
Labels: none

add buildstringified py_version to all python recipes
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

swap build and requirements ordering
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix libcufile version typo
  conda/recipes/libcudf/recipe.yaml
Labels: none

use double-quotes everywhere
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

make whitespace and newlines consistent
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

fix(libcudf-tests): add missing else package
  conda/recipes/libcudf/recipe.yaml
Labels: none

ci(build_python): longname for cli args
  ci/build_python.sh
Labels: none

fix(build_python): consistently show and zero sccache stats
  ci/build_python.sh
Labels: none

fix(libcudf-examples): cuda-nvtx-dev for cuda12
  conda/recipes/libcudf/recipe.yaml
Labels: none

debug: render-only for cpp build because context seems wrong
  ci/build_cpp.sh
Labels: none

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
