Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Tweak comment
  cpp/src/utilities/system.cpp
Labels: libcudf

Add nvml dependency
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/recipe.yaml
  dependencies.yaml
Labels: none

Improve NVML
  cpp/src/utilities/system.cpp
Labels: libcudf

Tweak comment
  cpp/src/utilities/system.cpp
Labels: libcudf

Cleaup
  cpp/include/cudf/io/kvikio_manager.hpp
Labels: libcudf

Add test for KvikIO manager in C++
  cpp/tests/CMakeLists.txt
  cpp/tests/io/kvikio_manager_test.cpp
Labels: libcudf, CMake

Add missing_dso_allowlist for libcudf
  conda/recipes/libcudf/recipe.yaml
Labels: none

Update
  cpp/include/cudf/utilities/system.hpp
  cpp/src/utilities/system.cpp
  python/cudf/cudf/options.py
Labels: Python, libcudf

Identify Grace Hopper
  cpp/CMakeLists.txt
  cpp/include/cudf/utilities/system.hpp
  cpp/src/utilities/system.cpp
Labels: libcudf, CMake

Update
  python/cudf/cudf/options.py
  python/pylibcudf/pylibcudf/io/CMakeLists.txt
  python/pylibcudf/pylibcudf/io/__init__.pxd
  python/pylibcudf/pylibcudf/io/__init__.py
  python/pylibcudf/pylibcudf/io/kvikio_manager.pyx
  python/pylibcudf/pylibcudf/libcudf/io/kvikio_manager.pxd
Labels: Python, pylibcudf, CMake

Workaround for CUDA 11 issue
  cpp/src/utilities/system.cpp
Labels: libcudf

Update
  conda/recipes/libcudf/recipe.yaml
Labels: none

Fix comment issue
  cpp/include/cudf/io/kvikio_manager.hpp
Labels: libcudf

Fix cuda-nvml-dev dependencies
  conda/recipes/libcudf/recipe.yaml
Labels: none

Add more comments
  cpp/include/cudf/io/kvikio_manager.hpp
  cpp/src/io/utilities/kvikio_manager.cpp
  python/cudf/cudf/options.py
Labels: Python, libcudf

Update
  cpp/include/cudf/utilities/system.hpp
Labels: libcudf

Update
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
Labels: none

Update
  cpp/CMakeLists.txt
  cpp/include/cudf/io/kvikio_manager.hpp
  cpp/src/io/utilities/config_utils.cpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/kvikio_manager.cpp
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_options.py
Labels: Python, libcudf, CMake

Cleanup
  cpp/src/io/utilities/kvikio_manager.cpp
Labels: libcudf

Try to fix CI nvml error for wheel-build-libcudf CUDA 11.8
  conda/recipes/libcudf/recipe.yaml
Labels: none

right answer with meminfo plumbed, but full of compute sanitizer errors
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

Suggestions from code review
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf

Revert changes to reduce the scope of this PR
  cpp/CMakeLists.txt
  cpp/include/cudf/io/config_utils.hpp
  cpp/include/cudf/io/kvikio_manager.hpp
  cpp/src/io/utilities/config_utils.cpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/tests/CMakeLists.txt
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_options.py
  python/pylibcudf/pylibcudf/io/CMakeLists.txt
  python/pylibcudf/pylibcudf/io/__init__.pxd
  python/pylibcudf/pylibcudf/io/__init__.py
  python/pylibcudf/pylibcudf/io/kvikio_manager.pyx
  python/pylibcudf/pylibcudf/libcudf/io/kvikio_manager.pxd
Labels: Python, pylibcudf, libcudf, CMake

Revert more changes to reduce the scope of this PR
  cpp/src/io/utilities/kvikio_manager.cpp
  cpp/tests/io/kvikio_manager_test.cpp
Labels: libcudf

Merge decode skipping PR
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
Labels: libcudf

Update cmake
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Merge changes
  cpp/CMakeLists.txt
Labels: libcudf, CMake

pr reviews
  cpp/include/cudf/join.hpp
  cpp/include/cudf/join/conditional_join.hpp
  cpp/include/cudf/join/hash_join.hpp
  cpp/include/cudf/join/join.hpp
  cpp/include/cudf/join/mixed_join.hpp
Labels: libcudf

Revert changes to reduce scope of this PR
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/recipe.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/utilities/system.hpp
  cpp/src/utilities/system.cpp
  dependencies.yaml
Labels: libcudf, CMake

Fix unspecified behavior involving move semantics and order of evaluation (#18481)
  cpp/src/io/json/read_json.cu
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

rename functors
  cpp/src/text/dedup.cu
Labels: libcudf

added distinct hash join header
  cpp/benchmarks/join/distinct_join.cu
  cpp/include/cudf/join.hpp
  cpp/include/cudf/join/distinct_hash_join.hpp
  cpp/include/cudf/join/hash_join.hpp
  cpp/src/join/distinct_hash_join.cu
  cpp/tests/join/distinct_join_tests.cpp
Labels: libcudf

Push kernel, test and benchmark
  cpp/benchmarks/null_mask/set_null_mask.cpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/tests/bitmask/set_nullmask_tests.cu
Labels: libcudf

Remove sort patches.
  cpp/cmake/thirdparty/patches/cccl_override.json
  cpp/cmake/thirdparty/patches/thrust_faster_sort_compile_times.diff
Labels: libcudf, CMake

Remove remaining cuDF CCCL overrides.
  cpp/cmake/thirdparty/get_cccl.cmake
  cpp/cmake/thirdparty/patches/cccl_override.json
  cpp/cmake/thirdparty/patches/thrust_faster_scan_compile_times.diff
Labels: libcudf, CMake

style fix
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf

partial work
  cpp/include/cudf/join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

python updates
  python/pylibcudf/pylibcudf/libcudf/join.pxd
Labels: Python, pylibcudf

updating jni
  java/src/main/native/src/HashJoinJni.cpp
  java/src/main/native/src/TableJni.cpp
Labels: Java

style
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/io/json/nested_json.hpp
  cpp/src/lists/contains.cu
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
