Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Reorder args to decoders
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
Labels: libcudf

Add standard data ingestion pipelines to pylibcudf for ndarrays (#18311)
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
  python/pylibcudf/pylibcudf/tests/test_column_from_device.py
Labels: Python, pylibcudf

add static push and pop methods to NvtxRange (#18401)
  java/src/main/java/ai/rapids/cudf/NvtxRange.java
Labels: Java

Minor
  cpp/src/io/parquet/page_data.cu
Labels: libcudf

Doing type checking before launching kernel
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/transform/compute_column.cu
Labels: libcudf

cast to DataType
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Expand Python benchmarks for DataFrame constructor
  python/cudf/benchmarks/API/bench_dataframe.py
Labels: Python

Avoid stateful construction in `DataFrame.__init__` (#18306)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_json.py
Labels: Python

bug fixing
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

bug fixing for failing gtest
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

pass unit only
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

Add rank and label_bin methods to ColumnBase (#18407)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/resample.py
Labels: Python

add workaround for dask
  python/cudf/cudf/core/column/numerical.py
Labels: Python

Switch the ptr type in gpumemoryview from Py_ssize_t to uintptr_t (#18419)
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, pylibcudf

Move thrift-derived parquet schema to public headers
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_chunked_reader_test.cu
  cpp/tests/io/parquet_common.cpp
  cpp/tests/io/parquet_common.hpp
  cpp/tests/io/parquet_misc_test.cpp
  cpp/tests/io/parquet_reader_test.cpp
  cpp/tests/io/parquet_v2_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Style fix
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/tests/io/parquet_common.cpp
  cpp/tests/io/parquet_common.hpp
  cpp/tests/io/parquet_v2_test.cpp
Labels: libcudf

Cleanup
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

nested types work! structs and lists
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Use delete not free to release data allocated with new (#18412)
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
Labels: Python, pylibcudf

Be more careful with arrow string dtypes
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Conditionally produce string views based on pyarrow support
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
Labels: Python, cudf.polars

dont cast in fstring
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

fix comment wording
  cpp/src/strings/case.cu
Labels: libcudf

Deprecate old nvtext::normalize_characters (#18360)
  cpp/include/nvtext/normalize.hpp
  cpp/tests/streams/text/replace_test.cpp
  cpp/tests/text/normalize_tests.cpp
Labels: libcudf

Support creating a pylibcudf Column from an array interface object
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

Add optional dtype argument to `Scalar.from_any` (#18415)
  python/pylibcudf/pylibcudf/scalar.pyi
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

Allow polars arrow conversion to produce string_view (#18413)
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
Labels: Python, cudf.polars

Remove numpy requirement when converting 2d cuda array interface objects to pylibcudf Columns
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

pull in 25.06
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

update docs
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

update docs
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Remove some CCCL patches for libcudf build
  cpp/cmake/thirdparty/patches/thrust_faster_scan_compile_times.diff
Labels: libcudf, CMake

nit: exception message
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Support `cudf-polars` `strftime` (#18181)
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Implement refcount-based dropping of cache nodes
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/typing/__init__.py
Labels: Python, cudf.polars

Specialised hash and equality for cache nodes
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Remove numpy requirement when converting 2d cuda array interface objects to pylibcudf Columns (#18426)
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Update cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_hex.cu
Labels: libcudf

clean up
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Fix alpha versions of cudf package.
  ci/build_python.sh
  ci/build_wheel.sh
Labels: none
