Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

basic
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Use delete not free to release data allocated with new
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
Labels: Python, pylibcudf

flesh out test data
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Allow polars arrow conversion to produce string_view
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

parameterized more tests - removed assertion for non-nested inputs
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Add dtype argument to Scalar.from_any
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

dedup docs
  cpp/include/cudf/detail/utilities/vector_factories.hpp
Labels: libcudf

address review
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Convert d32/64 to d128 before Parquet write if pyarrow version < 19
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Add to_arrow_host_stringview interop API
  cpp/include/cudf/interop.hpp
  cpp/src/interop/to_arrow_host.cu
Labels: libcudf

add type stubs
  python/pylibcudf/pylibcudf/scalar.pyi
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Add strings::extract_single API
  cpp/include/cudf/strings/extract.hpp
  cpp/src/strings/extract/extract.cu
Labels: libcudf

fix doxygen for exceptions, etc
  cpp/include/cudf/strings/contains.hpp
Labels: libcudf

Share more logic in indices_of
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
Labels: Python

proclaim_return_type
  cpp/src/interop/to_arrow_host.cu
Labels: libcudf

address review
  python/pylibcudf/pylibcudf/scalar.pyi
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

Switch the ptr type in gpumemoryview from Py_ssize_t to uintptr_t
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, pylibcudf

basic
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Deterministic hashing for DataFrameScan nodes in cudf-polars multi-partition executor (#18351)
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

pr comments
  java/src/main/java/ai/rapids/cudf/NvtxRange.java
  java/src/main/native/src/NvtxRangeJni.cpp
Labels: Java

address review
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

Use pyarrow 15 in oldest dependency CI jobs (#18409)
  dependencies.yaml
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Backport: Deterministic hashing for DataFrameScan nodes in cudf-polars multi-partition executor (#18351) (#18420)
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Remove cudf.Scalar in as_column (#18331)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_indexing.py
  python/dask_cudf/dask_cudf/backends.py
Labels: Python

significantly reduce logic
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Simplify changes
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_chunking.hpp
  cpp/src/io/parquet/reader_impl_page_pruning.cu
Labels: libcudf

Remove reader_impl_page_pruning.cu from cmakefile
  cpp/CMakeLists.txt
Labels: libcudf, CMake

clean
  cpp/include/cudf/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  python/pylibcudf/pylibcudf/datetime.pxd
  python/pylibcudf/pylibcudf/datetime.pyx
  python/pylibcudf/pylibcudf/libcudf/datetime.pxd
  python/pylibcudf/pylibcudf/tests/test_datetime.py
Labels: Python, pylibcudf, libcudf

Share more methods for isin, indices_of
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/tools/datetimes.py
Labels: Python

Minor improvement
  cpp/src/io/parquet/page_string_utils.cuh
Labels: libcudf

minor improvements
  cpp/src/io/parquet/page_string_utils.cuh
Labels: libcudf

Improvements
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_page_pruning.cu
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Remove unused code
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf

Revert copyrights year
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf

Reorder input args to decoders
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
Labels: libcudf

Reorder args to decoders
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

Merge from #18347
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
Labels: libcudf

Remove hybrid_scan_page_pruning.cu from cmake
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Reorder args for missed decoders
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

fix docstring and args
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/parquet_gpu.hpp
Labels: libcudf
