Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Minor improvement
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Deduplicate parquet physical type enums (#18526)
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/tests/io/parquet_reader_test.cpp
Labels: libcudf

style fix after merge conflicts
  cpp/tests/io/parquet_reader_test.cpp
Labels: libcudf

ignore more tests
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

Improve cold cache dropping (#18626)
  cpp/benchmarks/io/cuio_common.cpp
Labels: libcudf

avoid skipping tests
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Add missing header to host_memory.cpp
  cpp/src/utilities/host_memory.cpp
Labels: libcudf

Make cuda12 as build default
  java/README.md
  java/ci/Dockerfile.rocky
  java/ci/README.md
Labels: Java

Add missing includes
  cpp/src/utilities/host_memory.cpp
Labels: libcudf

doc: ignore uint64_t
  docs/cudf/source/conf.py
Labels: none

some clean up
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

Fix optional operator* called on a disengaged value in clamp.cu
  cpp/src/replace/clamp.cu
Labels: libcudf

fix(rattler): bump numpy upper bound to match `dependencies.yaml`
  conda/recipes/cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

Improve nvtext::tokenize_with_vocabulary performance (#18522)
  cpp/src/text/vocabulary_tokenize.cu
Labels: libcudf

Add gtest error check for nvtext::wordpiece_tokenize (#18621)
  cpp/include/nvtext/wordpiece_tokenize.hpp
  cpp/src/text/wordpiece_tokenize.cu
  cpp/tests/text/subword_tests.cpp
Labels: libcudf

address review
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

Replace unnecessary cudf::size_of() calls with sizeof() (#18628)
  cpp/src/reshape/byte_cast.cu
  cpp/src/unary/cast_ops.cu
  cpp/tests/column/column_test.cpp
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/streams/column_view_test.cpp
Labels: libcudf

address review
  python/pylibcudf/pylibcudf/column.pyi
Labels: Python, pylibcudf

fix init type on std::accumulate call
  cpp/src/column/column.cu
Labels: libcudf

address review
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

address review
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

use transform-reduce
  cpp/src/column/column.cu
  cpp/src/table/table.cpp
Labels: libcudf

fix doxygen comment
  cpp/include/cudf/column/column.hpp
Labels: libcudf

add warning
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Revert "Set flag to always use unsafe atomic storage (#18590)"
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Fix device compression when writing Parquet files without using nvCOMP (#18644)
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/utilities/config_utils.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Update test_python_cudf.sh
  ci/test_python_cudf.sh
Labels: none

simplify typing for now
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/spilling.py
Labels: Python, cudf.polars

Preserve partitioning after ``Filter`` and ``Projection`` in cudf-polars (#18638)
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

address reviews
  cpp/benchmarks/reshape/table_to_array.cpp
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/table_to_array.cu
  cpp/tests/reshape/table_to_array_tests.cpp
Labels: libcudf

address review
  cpp/src/reshape/table_to_array.cu
  cpp/tests/reshape/table_to_array_tests.cpp
Labels: libcudf

don't actually include Empty IR nodes in graph
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Defer pyarrow.dataset import for import time
  python/cudf/cudf/io/parquet.py
Labels: Python

bugfix
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Don't import modules in udf/__init__.py
  python/cudf/cudf/core/udf/__init__.py
Labels: Python

skip code coverage on spilling file
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

Revert "Don't import modules in udf/__init__.py"
  python/cudf/cudf/core/udf/__init__.py
Labels: Python

address review
  python/cudf_polars/tests/expressions/test_booleanfunction.py
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, cudf.polars, pylibcudf

Fix warnings
  java/src/main/native/src/ColumnViewJni.cu
Labels: Java

Make fsspec imports lazy
  python/cudf/cudf/utils/ioutils.py
Labels: Python

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
