Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Add method for validating sink_csv options
  python/cudf_polars/cudf_polars/containers/dataframe.py
Labels: Python, cudf.polars

bug fix
  cpp/src/io/json/read_json.cu
Labels: libcudf

Parse rather than validate
  python/cudf_polars/cudf_polars/containers/dataframe.py
Labels: Python, cudf.polars

add mean support
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

update some comments
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

add todo comment
  python/cudf_polars/cudf_polars/experimental/select.py
Labels: Python, cudf.polars

fix the condition
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

add todo
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

test
  cpp/src/io/comp/comp.cpp
  cpp/src/io/utilities/getenv_or.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf, CMake

use namespace to avoid polluting with helper function
  cpp/src/io/comp/comp.cpp
Labels: libcudf

Address review comments. Minor refactor
  cpp/src/io/parquet/arrow_schema_writer.cpp
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf

Add cast_fn for type conversions
  cpp/benchmarks/groupby/group_max_multithreaded.cpp
  cpp/include/cudf/detail/utilities/cast_functor.cuh
  cpp/include/cudf/reduction/detail/reduction_operators.cuh
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/tests/iterator/value_iterator_test_transform.cu
  cpp/tests/rolling/collect_ops_test.cpp
Labels: libcudf

Address review comments. Not minor refactor
  cpp/src/io/parquet/arrow_schema_writer.cpp
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf

style
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

Patch `__init__` of `cudf` constructors to parse through `cudf.pandas` proxy objects (#17878)
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Use shared-workflows branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: none

handle cloud options and path
  python/cudf_polars/cudf_polars/containers/dataframe.py
Labels: Python, cudf.polars

Add new nvtext tokenized minhash API
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
Labels: libcudf

update numpy
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

Revert unrelated changes
  cpp/benchmarks/groupby/group_max_multithreaded.cpp
Labels: libcudf

skip more tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_cugraph.py
Labels: Python, cudf.pandas

Refactor predicate pushdown to use with hybrid scan
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Update docstrings
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Add blank line
  python/cudf/pyproject.toml
Labels: Python

Move stripeSizeRows to class ORCWriteOption
  java/src/main/java/ai/rapids/cudf/CompressionMetadataWriterOptions.java
  java/src/main/java/ai/rapids/cudf/ORCWriterOptions.java
Labels: Java

Test Conda packages for RAPIDS XGBoost 2.1.4
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

Remove deprecated nvtext::minhash_permuted APIs (#17939)
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
Labels: libcudf

Install cudf-polars properly.
  ci/test_narwhals.sh
  dependencies.yaml
Labels: none

add from_pandas proxies
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: Python, cudf.pandas

disable it
  cpp/src/groupby/hash/compute_aggregations.cuh
Labels: libcudf

fix
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/results-cudf-pandas.pickle
Labels: Python, cudf.pandas

Update cpp/include/cudf/detail/utilities/cast_functor.cuh
  cpp/include/cudf/detail/utilities/cast_functor.cuh
Labels: libcudf

Formatting
  cpp/include/cudf/detail/utilities/cast_functor.cuh
Labels: libcudf

Use shared-workflows branch-25.04 (#17943)
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: none

Update branch
  .github/workflows/pr.yaml
Labels: none

Allow cudf::type_to_id<T const>()
  cpp/include/cudf/utilities/type_dispatcher.hpp
Labels: libcudf

Add tests for type_to_id with cv.
  cpp/tests/types/type_dispatcher_test.cu
Labels: libcudf

Re-order functions.
  cpp/include/cudf/utilities/type_dispatcher.hpp
Labels: libcudf

Update cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
Labels: libcudf

fix kernel; add minhash64_ngrams, gtest
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
  cpp/tests/text/minhash_tests.cpp
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
