Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

address review
  python/pylibcudf/pylibcudf/io/csv.pyi
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/orc.pyi
  python/pylibcudf/pylibcudf/io/orc.pyx
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/utils.pyx
Labels: Python, pylibcudf

address review cont'd
  python/pylibcudf/pylibcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/orc.pxd
  python/pylibcudf/pylibcudf/io/parquet.pxd
Labels: Python, pylibcudf

address review cont'd
  python/pylibcudf/pylibcudf/io/avro.pxd
Labels: Python, pylibcudf

address review cont'd
  python/pylibcudf/pylibcudf/io/avro.pyx
Labels: Python, pylibcudf

test
  conda/recipes/cudf/recipe.yaml
Labels: none

Skip Narwhals cross join tests for cudf.pandas CI run
  ci/test_narwhals.sh
Labels: none

add todo
  ci/test_narwhals.sh
Labels: none

Fix `datetime64` vs `datetime` binops max resolution (#18241)
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_datetime.py
Labels: Python

Disable prefix mangling
  conda/recipes/libcudf/recipe.yaml
Labels: none

Use testing branch
  .github/workflows/pr.yaml
Labels: none

Pass name through when slicing column.
  python/cudf_polars/cudf_polars/containers/column.py
Labels: Python, cudf.polars

Unwrap table
  python/cudf_polars/cudf_polars/containers/column.py
Labels: Python, cudf.polars

add missing "or"
  ci/test_narwhals.sh
Labels: none

Better
  python/cudf_polars/cudf_polars/containers/column.py
Labels: Python, cudf.polars

Remove RMM macro usage from to_arrow_device.cu
  cpp/src/interop/to_arrow_device.cu
Labels: libcudf

Revert "Use testing branch"
  .github/workflows/pr.yaml
Labels: none

cleanup
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/json/read_json.cu
Labels: libcudf

Link to issue instead
  conda/recipes/libcudf/recipe.yaml
Labels: none

tokenizer to tokenize
  docs/cudf/source/user_guide/api_docs/wordpiece_tokenizer.rst
Labels: none

Skip Narwhals cross join tests for cudf.pandas CI run (#18249)
  ci/test_narwhals.sh
Labels: none

Fix `cudf_kafka` run export for `cudatoolkit` (#18245)
  conda/recipes/cudf_kafka/recipe.yaml
Labels: none

fix Dataframe.loc
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

build_suffix_array
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  python/cudf/cudf/core/column/string.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pyi
  python/pylibcudf/pylibcudf/nvtext/dedup.pyx
Labels: Python, pylibcudf, libcudf

Update cpp/benchmarks/ndsh/q09.cpp
  cpp/benchmarks/ndsh/q09.cpp
Labels: libcudf

Add test case for Column.slice(None)
  python/cudf_polars/tests/containers/test_column.py
Labels: Python, cudf.polars

Update dataframe.py
  python/cudf/cudf/core/dataframe.py
Labels: Python

Fix experimental cudf-polars tests (#18244)
  ci/run_cudf_polars_pytests.sh
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

dask-polars: use splat everywhere.
  python/cudf_polars/cudf_polars/experimental/base.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

set seed parameter to type int
  python/cudf/cudf/core/column/string.py
Labels: Python

Fix cudf-polars tests for polars < 1.24 (#18246)
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/cudf_polars/utils/conversion.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/tests/containers/test_column.py
  python/cudf_polars/tests/expressions/test_top_and_bottom_k.py
  python/cudf_polars/tests/test_join.py
Labels: Python, cudf.polars

Disable conda prefix patching to avoid mangling binaries (#18225)
  conda/recipes/libcudf/recipe.yaml
Labels: none

Fix cross join
  ci/test_narwhals.sh
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: Python

fix cython interface
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  python/pylibcudf/pylibcudf/libcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pyi
  python/pylibcudf/pylibcudf/nvtext/dedup.pyx
Labels: Python, pylibcudf, libcudf

Add flake8-print/debugger Ruff rules (#18217)
  pyproject.toml
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/options.py
  python/cudf/cudf/pandas/scripts/conftest-patch.py
  python/cudf/cudf/pandas/scripts/summarize-test-results.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_no_cuinit.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/utils/hash_vocab_utils.py
  python/cudf/cudf_pandas_tests/data/disable_cudf_pandas_multi_thread.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_tensorflow.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: Python, cudf.pandas

Deprecate Old Distinct
  cpp/include/cudf/lists/detail/stream_compaction.hpp
  cpp/include/cudf/lists/stream_compaction.hpp
  cpp/src/lists/stream_compaction/distinct.cu
  cpp/tests/streams/lists_test.cpp
  java/src/main/native/src/ColumnViewJni.cpp
Labels: libcudf, Java

Support `cudf-polars` `is_leap_year` (#18212)
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

const
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf

[DOC] Add wordpiece tokenizer to cudf documentation (#18247)
  docs/cudf/source/user_guide/api_docs/index.rst
  docs/cudf/source/user_guide/api_docs/wordpiece_tokenizer.rst
Labels: none

Support comparitive binops between catgorical and non categorical (#18200)
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/tests/test_binops.py
Labels: Python

Allow cudf.Series([pd.NA], dtype=)
  ci/test_narwhals.sh
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
