Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

overload so that mypy understands the types of replace
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/replace.py
Labels: Python, cudf.polars

Remove include file path xfails from polars xfail set
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Better workaround for mypy issue
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/replace.py
Labels: Python, cudf.polars

Quote head_rev in conda recipes
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

Only warn in cudf.pandas if rmm mode explicitly set
  python/cudf/cudf/pandas/__init__.py
Labels: Python, cudf.pandas

Change cudf::sort googlebench benchmarks to nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/sort/rank.cpp
  cpp/benchmarks/sort/sort.cpp
  cpp/benchmarks/sort/sort_strings.cpp
Labels: libcudf, CMake

Skip test that fails due to polars issue
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

upper bound
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python

Move RangeIndex implementation below Index (#18777)
  python/cudf/cudf/core/index.py
Labels: Python

Update `unary.pyi`
  python/pylibcudf/pylibcudf/unary.pyi
Labels: Python, pylibcudf

Update copyright year
  python/pylibcudf/pylibcudf/unary.pyi
Labels: Python, pylibcudf

Ensure scalar dtype is always set in from_py (#18780)
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

initial pass at IR fusion
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

Fix reading of Snappy compressed Avro files (#18774)
  cpp/src/io/avro/reader_impl.cu
Labels: libcudf

Add Python tests for different compression implementations (#18710)
  python/cudf/cudf/tests/conftest.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

fixes
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

improve pandas and python version handling
  ci/cudf_pandas_scripts/fetch_pandas_versions.py
Labels: none

Reuse `libcudf` dependencies for Java JNI build when they are available (#18682)
  build.sh
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: CMake, Java

testing
  .github/workflows/test.yaml
Labels: none

Pass epoch_days into duration_D instead of epoch_seconds
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Skip test that fails due to polars issue (#18787)
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Quote head_rev in conda recipes (#18784)
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

Use ._values instead of ._columns
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python

Add fast paths for DataFrame.to_cupy
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/benchmarks/common/config.py
  python/cudf/cudf/core/frame.py
  python/pylibcudf/pylibcudf/libcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pyi
  python/pylibcudf/pylibcudf/reshape.pyx
  python/pylibcudf/pylibcudf/tests/test_reshape.py
Labels: Python, pylibcudf

add general task-fusion support
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

experimental tests passing
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

Fix missing semicolon in label_bins.cu (#18765)
  cpp/src/labeling/label_bins.cu
Labels: libcudf

Implement `BIT_COUNT` unary operation (#18589)
  cpp/include/cudf/unary.hpp
  cpp/src/unary/math_ops.cu
  cpp/tests/unary/math_ops_test.cpp
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/UnaryOp.java
  python/pylibcudf/pylibcudf/libcudf/unary.pxd
  python/pylibcudf/pylibcudf/unary.pyi
Labels: Python, pylibcudf, libcudf, Java

deterministic partitioning
  python/cudf_polars/cudf_polars/experimental/io.py
Labels: Python, cudf.polars

Update CUDA version logic for compression
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: libcudf, CMake

Correct style issues found by CI
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: libcudf, CMake

clean up
  python/cudf/benchmarks/API/bench_dataframe.py
Labels: Python

Update .github/workflows/test.yaml
  .github/workflows/test.yaml
Labels: none

Update pr.yaml
  .github/workflows/pr.yaml
Labels: none

more clean up
  python/cudf/cudf/core/frame.py
Labels: Python

test
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

fix
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Move BaseIndex methods to Index
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

add tests and fix bug
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

Avoid OOM in test_row_limit_exceed_raises by using dummy array
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf
