Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

type stubs
  python/pylibcudf/pylibcudf/column.pyi
Labels: Python, pylibcudf

add a comment
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Test handling of cache node
  python/cudf_polars/tests/test_cache.py
Labels: Python, cudf.polars

nit: doc
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

nit: doc touch ups
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

add gtests; refactor some logic
  cpp/src/interop/to_arrow_host.cu
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: libcudf

style
  cpp/benchmarks/iterator/iterator.cu
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/get_value.cuh
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/include/cudf_test/column_utilities.hpp
  cpp/src/bitmask/is_element_valid.cpp
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/text/data_chunk_source_factories.cpp
  cpp/src/io/utilities/trie.cu
  cpp/src/json/json_path.cu
  cpp/src/partitioning/partitioning.cu
  cpp/src/partitioning/round_robin.cu
  cpp/src/quantiles/quantile.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/tests/bitmask/bitmask_tests.cpp
  cpp/tests/bitmask/set_nullmask_tests.cu
  cpp/tests/device_atomics/device_atomics_test.cu
  cpp/tests/io/json/nested_json_test.cpp
  cpp/tests/iterator/value_iterator_test.cuh
  cpp/tests/iterator/value_iterator_test_strings.cu
  cpp/tests/scalar/scalar_device_view_test.cu
  cpp/tests/strings/contains_tests.cpp
  cpp/tests/strings/factories_test.cu
  cpp/tests/table/table_view_tests.cu
  cpp/tests/utilities/debug_utilities.cu
  cpp/tests/utilities_tests/batched_memcpy_tests.cu
Labels: libcudf

Test against stable tags for narwhals
  ci/test_narwhals.sh
  dependencies.yaml
Labels: none

add gtests
  cpp/src/strings/extract/extract.cu
  cpp/tests/strings/extract_tests.cpp
Labels: libcudf

Fix alpha versions of cudf package. (#18429)
  ci/build_python.sh
  ci/build_wheel.sh
Labels: none

clean up
  .github/workflows/pr.yaml
  ci/test_narwhals.sh
Labels: none

Fix some errors, used config rows and columns
  python/cudf/benchmarks/API/bench_dataframe.py
Labels: Python

failing tests
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

clone the tag
  ci/test_narwhals.sh
Labels: none

clean up
  ci/test_narwhals.sh
Labels: none

removed wheel_dir variable from ci scripts
  ci/build_wheel_cudf.sh
  ci/build_wheel_cudf_polars.sh
  ci/build_wheel_dask_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
Labels: none

tests pass
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/unsnap.cu
Labels: libcudf

clean up
  cpp/src/io/avro/reader_impl.cu
Labels: libcudf

Fix printing decimal128 types that are zero
  cpp/include/cudf/fixed_point/temporary.hpp
Labels: libcudf

simplify kernel
  cpp/src/io/comp/unsnap.cu
Labels: libcudf

Remove `_sync` suffix from hostdevice types (#18404)
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/error.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/hostdevice_span.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/tests/io/comp/comp_test.cpp
  cpp/tests/utilities_tests/span_tests.cu
Labels: libcudf

code review
  cpp/src/io/comp/common_internal.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Cleanup and docstrings
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

merge
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Test against stable tags for narwhals (#18431)
  .github/workflows/pr.yaml
  ci/test_narwhals.sh
  dependencies.yaml
Labels: none

style
  cpp/src/io/comp/unsnap.cu
Labels: libcudf

More API cleanup, add docstrings
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Minor improvement
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

initial prototype
  cpp/src/transform/jit/kernel.cu
Labels: libcudf

Pass list.
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Performance improvement for to_lower/to_upper for multi-byte UTF-8 characters (#18345)
  cpp/src/strings/case.cu
  cpp/tests/strings/case_tests.cpp
Labels: libcudf

address code review
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

fix comments, names
  cpp/src/interop/to_arrow_host.cu
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: libcudf

use transform instead of foreach
  cpp/include/cudf/strings/extract.hpp
  cpp/src/strings/extract/extract.cu
Labels: libcudf

PR review changes. Add a test that tests all multiples of alignment (0, 4, 8, 12 bytes) and counts (1, 2, 3, 4) for offset copies.
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/split_tests.cpp
Labels: libcudf

Update cpp/tests/copying/slice_tests.cuh
  cpp/tests/copying/slice_tests.cuh
Labels: libcudf

disabled jitify minification
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: libcudf, CMake

Apply suggestions from code review
  cpp/src/io/comp/common_internal.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

partial work
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

renames
  cpp/src/io/avro/reader_impl.cu
Labels: libcudf
