Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Separate page and row group pruning in the gtests
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Style fix and minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan_page_pruning.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Add some scalar handling logic
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_indexing.py
Labels: Python

Code clean up. Update gtest to only check filter column
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Add comments to hybrid scan api use
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Add API 10-11 signatures
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Revert unnecessary changes + check tables equivalent instead of equal
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Revert eols in comments
  cpp/src/io/parquet/reader_impl_helpers.cpp
Labels: libcudf

finally unequal null is working
  cpp/include/cudf/join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

formatting
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Remove page pruning test cases
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_page_pruning.hpp
Labels: libcudf

moved code around
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

formatting
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

added fast compilation flag
  cpp/CMakeLists.txt
Labels: libcudf, CMake

remove nrt kwarg
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_string_udfs.py
Labels: Python

add a comment
  python/cudf_polars/cudf_polars/experimental/io.py
Labels: Python, cudf.polars

Bump polars version to <1.27
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

Skip polars tests that fail with pydantic deprecation warnings
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Fix dask_cudf as_column dtype passing
  python/dask_cudf/dask_cudf/backends.py
Labels: Python

Merge pull request #18388 from Matt711/bug/skip-polars-tests-pydantic
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Allow `cudf.DataFrame.from_pylibcudf` to accept a `pylibcudf.io.TableWithMetadata` (#18319)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Pin cmake in test_java to be less than 4.0.0
  dependencies.yaml
Labels: none

Improve test coverage in the catboost integration tests (#18126)
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
Labels: Python, cudf.pandas

Just plainly specify cmake reqversion uirement and ninja requirement
  dependencies.yaml
Labels: none

fix java-test cmake dependency
  dependencies.yaml
Labels: none

Add support for long strings in contiguous_split.
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/split_tests.cpp
Labels: libcudf

no clear scaling with threads; simplify threshold
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Update Dask array-conversion handling (#18382)
  python/dask_cudf/dask_cudf/_expr/collection.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: Python

fix type
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Fix failing tests and add tests for new alignment with pandas
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_json.py
Labels: Python

Add pack/unpack tests.
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/slice_tests.cuh
  cpp/tests/copying/split_tests.cpp
Labels: libcudf

address review
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_arraylike.py
Labels: Python, pylibcudf

Disable the full scale pack/unpack test.
  cpp/tests/copying/pack_tests.cpp
Labels: libcudf

use plc.filling.sequence
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

fix name
  python/pylibcudf/pylibcudf/tests/test_column_from_device.py
Labels: Python, pylibcudf

Update python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Deprecate cudf.Scalar
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_struct.py
  python/cudf/cudf/tests/test_unaops.py
Labels: Python

Test cudf.Scalar deprecation
  python/cudf/cudf/tests/test_scalar.py
Labels: Python

fix race cond in comp; remove stream param
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/comp.hpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/comp/comp_test.cpp
  cpp/tests/io/json/json_test.cpp
  cpp/tests/large_strings/json_tests.cu
Labels: libcudf

same for decomp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
