Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

add const decls
  cpp/tests/text/dedup_tests.cpp
Labels: libcudf

Replce more cudf.core and cudf.util imports across column, dataframe, index, resample
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

Add gtest error check for nvtext::wordpiece_tokenizer
  cpp/include/nvtext/wordpiece_tokenize.hpp
  cpp/src/text/wordpiece_tokenize.cu
  cpp/tests/text/subword_tests.cpp
Labels: libcudf

Update cudf::cast internal function to use sizeof instead of cudf::size_of (#18607)
  cpp/src/unary/cast_ops.cu
Labels: libcudf

Replace unnecessary cudf::size_of() calls with sizeof()
  cpp/src/reshape/byte_cast.cu
  cpp/src/unary/cast_ops.cu
  cpp/tests/column/column_test.cpp
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/streams/column_view_test.cpp
Labels: libcudf

use better streaming defaults
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Use `EXPECT_EQ` instead of `ASSERT_EQ` in tests
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Improve cold cache dropping
  cpp/benchmarks/io/cuio_common.cpp
Labels: libcudf

xfail all known errors in pandas-test suite (#18612)
  python/cudf/cudf/pandas/scripts/conftest-patch.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

Apply suggestions from code reviews
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/tests/io/parquet_reader_test.cpp
  python/cudf_polars/cudf_polars/experimental/io.py
  python/pylibcudf/pylibcudf/io/parquet_metadata.pyi
Labels: Python, cudf.polars, pylibcudf, libcudf

fixes
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
Labels: Python

style pls
  python/cudf_polars/cudf_polars/experimental/io.py
Labels: Python, cudf.polars

fix
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

Fix script name
  ci/use_wheels_from_prs.sh
Labels: none

Update wheel script
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/use_wheels_from_prs.sh
Labels: none

Remove more cudf.core absolute imports
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
Labels: Python

Move is_pandas_nullable_extension_dtype to avoid circular import
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Deprecate is_close
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

pr reviews
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Merge from reviews
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Update ci/cudf_pandas_scripts/third-party-integration/test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

add explain_query to pdsh.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/utils.py
Labels: Python, cudf.polars

small fix
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

xfail tests
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/tests/test_parquet_filters.py
Labels: Python, cudf.polars

remove to_arrow
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, cudf.polars, pylibcudf

remove duplicate `build_string_dict_indices`
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
Labels: libcudf

Deprecate Series methods
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_search.py
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_sparse_df.py
Labels: Python

Add streaming support for ``group_by -> n_unique`` to cudf-polars (#18606)
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Fix style
  cpp/benchmarks/io/cuio_common.cpp
Labels: libcudf

Add StringColumn to conf.py
  docs/cudf/source/conf.py
Labels: none

clean up
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

pylibcudf.Column: adding device_buffer_size
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

cudf-polars use pylibcudf's device_buffer_size
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
Labels: Python, cudf.polars

doc
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Apply suggestions from code review
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Apply suggestions from code review
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

gpumemoryview: adding buffer_size
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, pylibcudf

Support quantile in cudf-polars grouped aggregations
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, cudf.polars

_datatype_from_dtype_desc
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, pylibcudf

clean up
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, pylibcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
