Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Only run Auto Assign PR workflow if PR does not have an assignee
  .github/workflows/auto-assign.yml
Labels: none

Echo the assignees name
  .github/workflows/auto-assign.yml
Labels: none

Remove extra local var declaration from cudf.pandas 3rd-party integration shell script (#17886)
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Fix numpy data access
  python/cudf/cudf/pandas/_wrappers/numpy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

more code review changes
  python/cudf_polars/cudf_polars/experimental/join.py
Labels: Python, cudf.polars

pre-commit
  python/cudf_polars/cudf_polars/experimental/join.py
Labels: Python, cudf.polars

Update numpy.py
  python/cudf/cudf/pandas/_wrappers/numpy.py
Labels: Python, cudf.pandas

Update numpy.py
  python/cudf/cudf/pandas/_wrappers/numpy.py
Labels: Python, cudf.pandas

yeet
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/orc_field_reader.hpp
  cpp/src/io/orc/orc_field_writer.hpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/reader_impl_chunking.hpp
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/reader_impl_helpers.cpp
  cpp/src/io/orc/reader_impl_helpers.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Labels: libcudf

style
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc_field_reader.hpp
  cpp/src/io/orc/orc_field_writer.hpp
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/reader_impl_chunking.hpp
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/reader_impl_helpers.cpp
  cpp/src/io/orc/reader_impl_helpers.hpp
Labels: libcudf

test in ci
  .github/workflows/pr.yaml
Labels: none

fix
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Update ci/cudf_pandas_scripts/third-party-integration/test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Update test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Update test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Update test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

disallow fallback to Make in wheel builds
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/libcudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

Fix groupby scans with int and NA data in mode.pandas_compatible
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

shift variable naming
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

Remove cudf.Scalar from .dt timedelta properties (#17863)
  python/cudf/cudf/core/column/timedelta.py
Labels: Python

Migrate to NVKS for amd64 CI runners (#17877)
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: none

Temporarily convert pyarrow scalars to python scalars in for cudf scalar
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/scalar.py
Labels: Python

Undo change to shift
  python/cudf/cudf/core/column/column.py
Labels: Python

Remove `orc::gpu` namespace (#17891)
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/orc_field_reader.hpp
  cpp/src/io/orc/orc_field_writer.hpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/reader_impl_chunking.hpp
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/reader_impl_helpers.cpp
  cpp/src/io/orc/reader_impl_helpers.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Labels: libcudf

Add Scalar.as_py for str, bool, int, float
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

Remove unneeded code
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Remove decimal conversion utils
  cpp/src/interop/decimal_conversion_utilities.cu
  cpp/src/interop/decimal_conversion_utilities.cuh
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_host.cu
Labels: libcudf

fix coverage
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

Switch to using rapids-logger as a library
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_fmt.cmake
  cpp/include/cudf/logger.hpp
  cpp/tests/utilities_tests/logger_tests.cpp
  rapids_config.cmake
Labels: libcudf, CMake

Update dependencies
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: none

Make sure target is explicit
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Remove all packaging references to fmt and spdlog
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: none

More dependency stuff fixed
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/libcudf/pyproject.toml
Labels: Python

Import librmm in libcudf
  python/libcudf/libcudf/load.py
Labels: Python

Typos
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
  python/libcudf/pyproject.toml
Labels: Python

Test against rmm PR builds
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/cudf_pandas_scripts/run_tests.sh
  ci/test_wheel_cudf.sh
Labels: none

update
  ci/cudf_pandas_scripts/third-party-integration/run-library-tests.sh
Labels: none

update
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/conftest.py
Labels: Python, cudf.pandas

Auditwheel exclude rapids-logger
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
Labels: none

Typo
  ci/build_python.sh
Labels: none

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
