Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Fix incomplete replacement
  cpp/src/interop/to_arrow_device.cu
Labels: libcudf

docs
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cu
Labels: libcudf

passed formatting
  cpp/include/cudf/join/sort_merge_join.hpp
Labels: libcudf

refactor(rattler): enable strict channel priority for builds (#18358)
  ci/build_cpp.sh
  ci/build_python.sh
Labels: none

build fix
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

fix benchmark
  cpp/benchmarks/join/multiplicity_join.cu
Labels: libcudf

Add pylibcudf.Column.from_rmm_buffer (#18502)
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

function for testing
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Use owning Arrow types in C++ to expose data to Python (#18402)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/include/cudf/interop.hpp
  cpp/src/column/column_view.cpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_schema.cpp
  dependencies.yaml
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/cudf/core/column/column.py
  python/cudf/pyproject.toml
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/_interop_helpers.pxd
  python/pylibcudf/pylibcudf/_interop_helpers.pyx
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
  python/pylibcudf/pylibcudf/interop.pxd
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/null_mask.pxd
  python/pylibcudf/pylibcudf/null_mask.pyi
  python/pylibcudf/pylibcudf/null_mask.pyx
  python/pylibcudf/pylibcudf/table.pyx
  python/pylibcudf/pylibcudf/tests/test_labeling.py
  python/pylibcudf/pylibcudf/tests/test_null_mask.py
  python/pylibcudf/pylibcudf/tests/test_string_extract.py
  python/pylibcudf/pylibcudf/tests/test_string_padding.py
  python/pylibcudf/pylibcudf/tests/test_string_repeat.py
  python/pylibcudf/pylibcudf/tests/test_transform.py
Labels: Python, pylibcudf, libcudf, CMake

Add initial test of just schema using nanoarrow
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/pylibcudf/pylibcudf/tests/test_interop.py
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

Properly handle lifetime management in the array rather than the capsule
  python/pylibcudf/pylibcudf/_interop_helpers.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf

Enable ingestion of device array data in tables
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/table.pyx
  python/pylibcudf/pylibcudf/tests/test_interop.py
Labels: Python, pylibcudf

First version of device capsule support
  python/pylibcudf/pylibcudf/_interop_helpers.pxd
  python/pylibcudf/pylibcudf/_interop_helpers.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf

Add capsule support to columns
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf

Enable ingestion of device array data in columns
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf

Add tests and fix a couple of bugs
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_interop.py
Labels: Python, pylibcudf

Remove invalid TODOs
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
Labels: Python, pylibcudf

Optimize pandas metadata generation to reduce memory pressure (#18505)
  python/cudf/cudf/utils/ioutils.py
Labels: Python

no graph groupby
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
Labels: Python, cudf.polars

fix
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cu
Labels: libcudf

remove extra header files
  cpp/include/cudf/join/sort_merge_join.hpp
Labels: libcudf

fix oob access to title_case_table
  cpp/src/strings/capitalize.cu
Labels: libcudf

remove unused imports
  python/cudf_polars/cudf_polars/experimental/groupby.py
Labels: Python, cudf.polars

Add support for optional unescaped out in JSON writer
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json/json_writer.cpp
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
  python/pylibcudf/pylibcudf/tests/io/test_json.py
Labels: Python, pylibcudf, libcudf

clean, flatten, chase compute sanitizer errors
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

formatting
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
Labels: Python, cudf.polars

Support reading from device buffers in the pylibcudf IO APIs (#18496)
  python/pylibcudf/pylibcudf/io/types.pxd
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/libcudf/io/types.pxd
  python/pylibcudf/pylibcudf/tests/common/utils.py
  python/pylibcudf/pylibcudf/tests/io/test_avro.py
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
  python/pylibcudf/pylibcudf/tests/io/test_json.py
  python/pylibcudf/pylibcudf/tests/io/test_orc.py
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
Labels: Python, pylibcudf

Rename cudf-polars executors (#18499)
  ci/run_cudf_polars_pytests.sh
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/conftest.py
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_parallel.py
  python/cudf_polars/tests/experimental/test_rapidsmpf.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/experimental/test_select.py
  python/cudf_polars/tests/experimental/test_shuffle.py
  python/cudf_polars/tests/test_executors.py
Labels: Python, cudf.polars

fix tc_itr iterator calc
  cpp/src/strings/capitalize.cu
Labels: libcudf

Use `cuda::std::iter_value_t` instead of thrust iterator traits
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/labeling/label_segments.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/detail/sizes_to_offsets_iterator.cuh
  cpp/include/cudf/reduction/detail/reduction.cuh
  cpp/include/cudf/reduction/detail/segmented_reduction.cuh
  cpp/src/reductions/minmax.cu
Labels: libcudf

cleanup
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/io/parquet.py
Labels: Python

Change Java exception classes, incorporating native stacktrace into Java exception message
  java/src/main/java/ai/rapids/cudf/CudaException.java
  java/src/main/java/ai/rapids/cudf/CudfException.java
Labels: Java

Change JNI code, adding support for `thrust_stacktrace_recorder`
  java/src/main/native/include/jni_utils.hpp
Labels: Java

cleanup
  python/cudf/cudf/core/column/column.py
Labels: Python

Patch cccl to generate stacktrace upon throwing exception
  cpp/cmake/thirdparty/patches/cccl_override.json
  cpp/cmake/thirdparty/patches/thrust_stacktrace.diff
Labels: libcudf, CMake

pylibcudf test dependencies must be installed for testing
  dependencies.yaml
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

Moving wheel builds to specified location and uploading build artifacts to Github (#18346)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_cudf.sh
  ci/build_wheel_cudf_polars.sh
  ci/build_wheel_dask_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
Labels: none

Improve performance of strings split-record on whitespace
  cpp/src/strings/split/split_record.cu
Labels: libcudf

Only patch `cccl` if `CUDF_BUILD_STACKTRACE_DEBUG`
  cpp/cmake/thirdparty/get_cccl.cmake
  cpp/cmake/thirdparty/patches/cccl_override_with_stacktrace.json
Labels: libcudf, CMake

add doxygen group; remove unneeded comments
  cpp/include/doxygen_groups.h
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  cpp/tests/text/dedup_tests.cpp
Labels: libcudf
