Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

REL v25.04.00 release
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/libcudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, cudf.polars, pylibcudf

columns not in dataset are silently ignored
  cpp/include/cudf/io/parquet.hpp
Labels: libcudf

Fix logger macros (#18444)
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Added pylibcudf.utilities.is_ptds_enabled
  docs/cudf/source/pylibcudf/api_docs/index.rst
  docs/cudf/source/pylibcudf/api_docs/utilities.rst
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/__init__.pxd
  python/pylibcudf/pylibcudf/__init__.py
  python/pylibcudf/pylibcudf/libcudf/utilities/default_stream.pxd
  python/pylibcudf/pylibcudf/tests/test_utilities.py
  python/pylibcudf/pylibcudf/utilities.pyi
  python/pylibcudf/pylibcudf/utilities.pyx
Labels: Python, pylibcudf, CMake

remove commented out code
  cpp/src/text/dedup.cu
Labels: libcudf

Apply suggestions from review
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

Promote Parquet type enums to enum classes (#18441)
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_data.cuh
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/stats_filter_helpers.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_common.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

attempt to bifurcate groupview classes, yields zeroes
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/cudf/core/udf/groupby_typing.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

Added missing utilities.pxd module
  python/pylibcudf/pylibcudf/utilities.pxd
Labels: Python, pylibcudf

Update handling for BAs and FLBAs
  cpp/src/io/parquet/page_data.cu
Labels: libcudf

Split compute_column_kernel to reduce build time
  cpp/CMakeLists.txt
  cpp/src/transform/compute_column.cu
  cpp/src/transform/compute_column_kernel.cuh
  cpp/src/transform/compute_column_kernel.hpp
  cpp/src/transform/compute_column_kernel_complex.cu
  cpp/src/transform/compute_column_kernel_null_complex.cu
  cpp/src/transform/compute_column_kernel_null_primitive.cu
  cpp/src/transform/compute_column_kernel_primitive.cu
Labels: libcudf, CMake

Fix docs and copyright years
  cpp/src/transform/compute_column_kernel.hpp
  cpp/src/transform/compute_column_kernel_complex.cu
  cpp/src/transform/compute_column_kernel_null_complex.cu
  cpp/src/transform/compute_column_kernel_null_primitive.cu
  cpp/src/transform/compute_column_kernel_primitive.cu
Labels: libcudf

Add comment on dst buffer to note pre-conditions
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

Merge latest parquet changes
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Add missing definitions
  cpp/src/join/distinct_hash_join.cu
  cpp/src/join/hash_join.cu
Labels: libcudf

added zstandard to test dependencies
  python/cudf/pyproject.toml
Labels: Python

Get parquet file footer API
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Expose the protocol for columns as well and make column implementation independent of table
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/interop.pxd
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/table.pyx
  python/pylibcudf/pylibcudf/tests/test_labeling.py
  python/pylibcudf/pylibcudf/tests/test_string_extract.py
  python/pylibcudf/pylibcudf/tests/test_string_padding.py
  python/pylibcudf/pylibcudf/tests/test_string_repeat.py
  python/pylibcudf/pylibcudf/tests/test_transform.py
Labels: Python, pylibcudf

fix
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: none

Centralize common interop functions
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/_interop.pxd
  python/pylibcudf/pylibcudf/_interop.pyx
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/interop.pxd
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf, CMake

Rename to _interop_helpers
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/_interop_helpers.pxd
  python/pylibcudf/pylibcudf/_interop_helpers.pyx
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf, CMake

Minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
Labels: libcudf

Some cleanup and commenting
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf

Fix cudf Python chunk expectations
  python/cudf/cudf/core/column/column.py
Labels: Python

address review
  cpp/include/cudf/io/parquet.hpp
Labels: libcudf

Add sink support in cudf_polars
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Remove redundant expr declaration
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Remove breakpoint
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Bump polars version to <1.28
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

Directly use the hybrid_scan_reader instead of via duplicated APIs
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Add ARM conda environments.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Labels: none

the magic is gone
  cpp/src/io/comp/unsnap.cu
Labels: libcudf

Add hybrid scan reader stubs
  cpp/CMakeLists.txt
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf, CMake

Support json and parquet too
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Add one more include of dlpack
  python/pylibcudf/pylibcudf/CMakeLists.txt
Labels: Python, pylibcudf, CMake

Minor style and docs fix
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
Labels: libcudf

Typo
  python/pylibcudf/pylibcudf/CMakeLists.txt
Labels: Python, pylibcudf, CMake

docstring updates
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

document nested col selection
  cpp/include/cudf/io/parquet.hpp
Labels: libcudf

Update docs/cudf/source/cudf_polars/usage.md
  docs/cudf/source/cudf_polars/usage.md
Labels: none

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
