Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Don't materialize range in test_chunked_json_reader
  python/cudf/cudf/tests/test_json.py
Labels: Python

address review
  cpp/benchmarks/reshape/table_to_array.cpp
  cpp/include/cudf/detail/reshape.hpp
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/table_to_array.cu
  cpp/tests/reshape/table_to_array_tests.cpp
Labels: libcudf

Undo script changes
  ci/test_python_cudf.sh
  ci/test_wheel_cudf.sh
Labels: none

Pin numba-cuda!=0.10.0 due to hangs on ARM
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python

Update ci/test_python_cudf.sh
  ci/test_python_cudf.sh
Labels: none

Test with pyarrow for list types
  python/cudf/cudf/tests/input_output/test_parquet.py
Labels: Python

fixed lint error
  cpp/src/transform/transform.cpp
Labels: libcudf

Clean up
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Add erroneously removed function
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

parquet reader
  cpp/tests/io/compression_common.hpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_chunked_reader_test.cu
  cpp/tests/io/parquet_reader_test.cpp
Labels: libcudf

Minor clean ups
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Add `CUDF_INSTALL_DIR` and cleanup
  build.sh
  java/src/main/native/CMakeLists.txt
Labels: CMake, Java

compare test_parquet_writer_list_large via pyarrow
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Rename test_melt_many_column to test_melt_more_than_255_columns
  python/cudf/cudf/tests/test_reshape.py
Labels: Python

Clean up
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Clean up
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Reduce example size of repr tests
  python/cudf/cudf/tests/test_repr.py
Labels: Python

Access private objects by importing from module instead of `cudf.core/util` namespace (#18629)
  docs/cudf/source/conf.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

skip doctests that are failing due to (I think) new numpy version
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
Labels: Python

Deprecate Series.nullmask, Series.nullable, Series.from_categorical, Series.from_masked_array, cudf.isclose (#18631)
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_search.py
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_sparse_df.py
Labels: Python

Fix style
  java/src/main/native/CMakeLists.txt
Labels: CMake, Java

add nvidia-cuda-nvcc-cu12, nvidia-cuda-nvrtc-cu12
  dependencies.yaml
Labels: none

Fix environment variable
  build.sh
Labels: none

Pin numba-cuda>=0.9.0,!=0.10.0 due to CI hangs on ARM (#18661)
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python

Revert "Pin numba-cuda>=0.9.0,!=0.10.0 due to CI hangs on ARM (#18661)"
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python

orc reader
  cpp/tests/io/compression_common.hpp
  cpp/tests/io/orc_test.cpp
Labels: libcudf

Apply suggestions from code review
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

Clean up
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
Labels: libcudf

Add support for Python 3.13 (#18648)
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
  dependencies.yaml
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, cudf.polars, pylibcudf

Clean up
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

rename dedup to deduplicate
  cpp/CMakeLists.txt
  cpp/include/nvtext/deduplicate.hpp
  cpp/src/text/deduplicate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/text/deduplicate_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/tests/test_nvtext_deduplicate.py
Labels: Python, pylibcudf, libcudf, CMake

Fix environment variable
  build.sh
Labels: none

fix SpillableWrapper check
  python/cudf_polars/cudf_polars/experimental/spilling.py
Labels: Python, cudf.polars

avoid explain after iteration 0
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

orc chunked reader
  cpp/tests/io/orc_chunked_reader_test.cu
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf

style
  cpp/tests/io/compression_common.hpp
  cpp/tests/io/orc_chunked_reader_test.cu
Labels: libcudf

more style
  cpp/tests/io/compression_common.hpp
Labels: libcudf

minor
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Revert "Fix environment variable"
  build.sh
Labels: none

Another attemp to fix environment variable
  java/pom.xml
Labels: Java
