Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: cuDF (Python), libcudf, CMake, cuDF (Java), gpuCI, conda

review changes
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/statistics/column_stats.cu
Labels: libcudf

Use C++ casts
  cpp/benchmarks/string/replace_scalar_benchmark.cpp
Labels: libcudf

Semi-join fix
  cpp/src/join/semi_join.cu
Labels: libcudf

Only combine key columns in outer join if they have the same name
  python/cudf/cudf/core/join/join.py
Labels: cuDF (Python)

Adding in string vector support
  java/src/main/java/ai/rapids/cudf/ArrowColumnInfo.java
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorToArrowTest.java
Labels: cuDF (Java)

compile_udf: Cache PTX for similar functions
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  python/cudf/cudf/tests/test_compile_udf.py
  python/cudf/cudf/utils/cudautils.py
Labels: cuDF (Python), conda

move CPMFindPackage for GTest and GBench to top-level CMakeLists.txt
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

add cudftestutils to cudf-targets
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Handle when both _on and _index are provided
  python/cudf/cudf/core/join/join.py
Labels: cuDF (Python)

Fix sorting join result
  python/cudf/cudf/core/join/join.py
Labels: cuDF (Python)

Update python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/_fuzz_testing/utils.py
Labels: cuDF (Python)

Strings working
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorToArrowTest.java
Labels: cuDF (Java)

separate chunk and shunk streams init loops
  cpp/src/io/orc/writer_impl.cu
Labels: libcudf

Optimization: preprocess the json path into a simple command buffer instead of doing the parsing on the gpu.
  cpp/include/cudf/strings/substring.hpp
  cpp/src/strings/json/json_path.cu
  cpp/tests/strings/json_tests.cpp
Labels: libcudf

updating logic in stats
  cpp/src/io/statistics/column_stats.cu
Labels: libcudf

Use custom benchmark args to avoid exceeding cudf column limits
  cpp/benchmarks/string/replace_scalar_benchmark.cpp
Labels: libcudf

Replace with a shorter string
  cpp/benchmarks/string/replace_scalar_benchmark.cpp
Labels: libcudf

FindThrust better matches CMake best practices
  cpp/cmake/install/FindThrust.cmake
Labels: libcudf, CMake

Use the CMake Threads abstraction over pthreads
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

cudf build directory can now be CPM'd
  cpp/CMakeLists.txt
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/cudf-config.cmake.in
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

cuDF (Python):
  - 'python/**'
  - 'notebooks/**'
  
libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  
cuDF (Java):
  - 'java/**'

gpuCI:
  - 'ci/**'

conda:
  - 'conda/**'
