Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

fixed github downloads
  ci/build_docs.sh
  ci/build_wheel_cudf.sh
  ci/test_wheel_cudf.sh
Labels: none

Align StringColumn constructor with ColumnBase base class (#18086)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: Python

added benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/join/cardinality_join.cu
  cpp/benchmarks/join/join_common.hpp
Labels: libcudf, CMake

Finish off failing tests
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

start
  cpp/src/io/comp/common.hpp
  cpp/src/io/comp/common_internal.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/comp.hpp
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/gpuinflate.hpp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

Update doc of dtype param of view
  python/cudf/cudf/core/column/column.py
Labels: Python

remove move
  cpp/src/io/functions.cpp
Labels: libcudf

Add interop support from arrow StringView to libcudf strings column
  cpp/CMakeLists.txt
  cpp/src/interop/arrow_utilities.cpp
  cpp/src/interop/arrow_utilities.hpp
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/from_arrow_host.hpp
  cpp/src/interop/from_arrow_host_strings.cu
Labels: libcudf, CMake

fix rmm macro call
  java/src/main/native/src/RmmJni.cpp
Labels: Java

Support is_numeric_not_bool on data type with type_id::EMPTY
  cpp/src/utilities/traits.cpp
  python/pylibcudf/pylibcudf/tests/test_traits.py
Labels: Python, pylibcudf, libcudf

Simplify DecimalDtype and DecimalColumn operations
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/scalar.py
Labels: Python

orc
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

code linted
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/libcudf/io/types.pxd
  python/pylibcudf/pylibcudf/tests/io/test_types.py
Labels: Python, pylibcudf

fix host
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Fixed libraries naming
  .github/workflows/pr.yaml
Labels: none

Use _from_data more when constructing with Column objects
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
Labels: Python

Preserve DataFrame.column subclass and type during binop
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Remove breakpoint
  python/cudf/cudf/core/column_accessor.py
Labels: Python

remove rest of nvcomp from pq reader
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

style fix
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Allow pivot_table to accept single label index and column arguments
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: Python

new year, new me
  cpp/src/io/comp/common.hpp
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Add nitpick back
  docs/cudf/source/conf.py
Labels: none

Support storing and exporting pandas extension types
  python/cudf/cudf/_typing.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Allow pivot_table to accept single label index and column arguments (#18115)
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: Python

Simplify DecimalDtype and DecimalColumn operations (#18111)
  docs/cudf/source/conf.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/scalar.py
Labels: Python

make pytest optional
  docs/cudf/source/conf.py
  python/cudf/cudf/testing/narwhals_test_plugin.py
Labels: Python

Add `as_proxy_object` API to `cudf.pandas` (#18072)
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Make pylibcudf traits raise exceptions gracefully rather than terminating in C++
  python/pylibcudf/pylibcudf/libcudf/utilities/traits.pxd
Labels: Python, pylibcudf

Make Column.view/can_cast_safely accept a dtype object (#18066)
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/utils/utils.py
Labels: Python

Revert "Enable pytest-xdist runs for py-polars tests (#18016)"
  ci/run_cudf_polars_polars_tests.sh
Labels: none

Fix typo
  ci/test_cudf_polars_polars_tests.sh
Labels: none

unify check responsibility
  java/src/main/java/ai/rapids/cudf/BaseDeviceMemoryBuffer.java
Labels: Java

Replace more deprecated `CUB` functors
  cpp/src/io/fst/logical_stack.cuh
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/parquet/delta_enc.cuh
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

Bump polars version to <1.24 (#18076)
  ci/test_cudf_polars_polars_tests.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/meta.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

fix merge sorted when key column is sorted in descending order with nulls
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_merge_sorted.py
Labels: Python, cudf.polars

simplify a bit
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Minor typo fix in filling.pxd
  python/pylibcudf/pylibcudf/libcudf/filling.pxd
Labels: Python, pylibcudf

remove outdated test
  python/cudf_polars/tests/test_mapfunction.py
Labels: Python, cudf.polars

Update python/cudf/cudf/testing/narwhals_test_plugin.py
  python/cudf/cudf/testing/narwhals_test_plugin.py
Labels: Python

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
