Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Support `plc.Scalar.from_py(None)` and `plc.Scalar.from_py(int, float type)` (#18559)
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, cudf.polars, pylibcudf

Update hypothesis version (#18537)
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, pylibcudf

Avoid need for cartesian product overloads in cython
  python/pylibcudf/pylibcudf/libcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pyx
Labels: Python, pylibcudf

clean up
  cpp/doxygen/developer_guide/BENCHMARKING.md
Labels: libcudf

formatting
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

wording
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

[DOC] Running libcudf benchmarks and comparing output results (#18548)
  cpp/doxygen/developer_guide/BENCHMARKING.md
Labels: libcudf

Implement __dlpack__ dunder for pylibcudf columns
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/cmake/thirdparty/get_dlpack.cmake
  cpp/include/cudf/detail/interop.hpp
  cpp/include/cudf/interop.hpp
  cpp/src/interop/dlpack.cpp
  dependencies.yaml
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/interop.pxd
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/libcudf/utilities/default_stream.pxd
  python/pylibcudf/pylibcudf/tests/test_interop.py
Labels: Python, pylibcudf, libcudf, CMake

Fix formatting
  python/cudf_polars/tests/test_window_functions.py
Labels: Python, cudf.polars

test fix
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

Move min_periods into the rolling_request
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
Labels: libcudf

Adapt bindings
  python/pylibcudf/pylibcudf/aggregation.pxd
  python/pylibcudf/pylibcudf/aggregation.pyx
  python/pylibcudf/pylibcudf/libcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pyi
  python/pylibcudf/pylibcudf/rolling.pyx
  python/pylibcudf/pylibcudf/tests/test_rolling.py
Labels: Python, pylibcudf

address code review
  python/cudf_polars/cudf_polars/experimental/scheduler.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

Workaround TypeId.EMPTY for libcudf
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
Labels: Python, cudf.polars

More test fixes
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_scan.py
Labels: Python, cudf.polars

Download build artifacts from Github for CI jobs (#18539)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  ci/cudf_pandas_scripts/run_tests.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  ci/test_cpp_common.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

fixup test
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

Add unit test, fix dtype handling for datetime
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

rework base classes and detail APIs
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split.cuh
  cpp/src/strings/split/split_record.cu
Labels: libcudf

fix type hint for older python version
  python/cudf_polars/cudf_polars/experimental/scheduler.py
Labels: Python, cudf.polars

Test nvbench entropy stopping with throttling
  cmake/rapids_config.cmake
  cpp/benchmarks/join/join.cu
Labels: libcudf, CMake

Apply suggestions from code review
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
Labels: libcudf

Apply suggestions from code review
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Apply suggestions from code reviews + style
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
Labels: libcudf

Reduce cudf-polars pyarrow usage (#18554)
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

address review
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

Use host_vector<bool> instead of std::vector<bool> for page mask
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
Labels: libcudf

Use host_vector instead of std::vector for bool page mask
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Support datetime.datetime objects in pylibcudf.Scalar.from_py
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar.pxd
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/libcudf/wrappers/durations.pxd
  python/pylibcudf/pylibcudf/libcudf/wrappers/timestamps.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

Fix aggregation hashing bug
  cpp/include/cudf/detail/aggregation/aggregation.hpp
Labels: libcudf

Add unit tests
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/bitwise_tests.cpp
  cpp/tests/reductions/bitwise_tests.cpp
Labels: libcudf, CMake

Only check the last element for OOB
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

more test strings
  cpp/tests/strings/split_tests.cpp
Labels: libcudf

Style consistency
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf

Implement JNI
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/java/ai/rapids/cudf/ReductionAggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: Java

Fix template argument
  java/src/main/native/src/AggregationJni.cpp
Labels: Java

Add Java reduction tests
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: Java

Fix typo
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

Merge updates from #18480
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Merge from PR 18480
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
Labels: libcudf
