Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

add wide table tests
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/cudf_polars/testing/io.py
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

More code clean up
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Start converting pa.array to pl.Series calls
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Pickup Spark RAPIDS CUDA 12.9 image
  .github/workflows/spark-rapids-jni.yaml
Labels: none

Link to nvtx3::nvtx3-cpp instead of nvToolsExt
  cpp/examples/billion_rows/CMakeLists.txt
  cpp/examples/parquet_io/CMakeLists.txt
  cpp/examples/strings/CMakeLists.txt
Labels: libcudf, CMake

code coverage
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

Increase file size precision in wheel check
  ci/validate_wheel.sh
Labels: none

Increase file size precision in wheel check
  ci/validate_wheel.sh
Labels: none

In `pyproject.toml` set `pydistcheck` precision
  ci/validate_wheel.sh
  python/libcudf/pyproject.toml
Labels: Python

Revert "Increase file size precision in wheel check"
  ci/validate_wheel.sh
Labels: none

better coverage
  python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/tests/experimental/test_utils.py
Labels: Python, cudf.polars

Fix overflow case and clean up some logic
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

drop un-covered code block
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Support `ConditianalJoin` via broadcasting in cudf-polars streaming engine (#18723)
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

Switch back to main branch
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: none

Handle empty aggregations in multi-partition cudf.polars group_by (#18277)
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Pin polars>=1.29<1.30
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/expressions/test_booleanfunction.py
  python/cudf_polars/tests/expressions/test_stringfunction.py
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

address review
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

Add more `cudf.Series` microbenchmarks (#18718)
  python/cudf/benchmarks/API/bench_series.py
Labels: Python

require numba 0.10.1
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python

Support creating a pylibcudf Column from a host array (#18425)
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

Suggestions from code review
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Improve lowering of ``Distinct`` IR nodes for high-cardinality data (#18725)
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/tests/experimental/test_unique.py
  python/cudf_polars/tests/experimental/test_utils.py
Labels: Python, cudf.polars

Minor improvement
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
Labels: libcudf

Link to `nvtx3::nvtx3-cpp` instead of `nvToolsExt` (#18730)
  cpp/examples/billion_rows/CMakeLists.txt
  cpp/examples/parquet_io/CMakeLists.txt
  cpp/examples/strings/CMakeLists.txt
Labels: libcudf, CMake

Apply suggestions from code review
  dependencies.yaml
Labels: none

updates
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python

Support creating a pylibcudf Column from a general ndarray
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/common/utils.py
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

python complained about nested f-string, so removed it
  python/cudf_polars/cudf_polars/experimental/explain.py
Labels: Python, cudf.polars

address review
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

common fixture
  python/cudf/cudf/tests/conftest.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

address reviews
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

Map plc.type_id.String to pa.string()
  python/pylibcudf/pylibcudf/interop.pyx
Labels: Python, pylibcudf

style
  python/cudf/cudf/tests/conftest.py
Labels: Python

Extend `explain_query` to support printing the logical plan (pre lowered plan) (#18708)
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/cudf_polars/testing/io.py
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

add optimization pass to fuse simple reductions wiht a select->repartition->select pattern
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/select.py
Labels: Python, cudf.polars

test gha-tools changes
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_cudf_polars.sh
  ci/build_wheel_dask_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/test_cpp_common.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
  ci/use_conda_packages_from_prs.sh
  ci/use_gha_tools_from_branch.sh
  ci/use_wheels_from_prs.sh
Labels: none

Support creating a pylibcudf Column from a general ndarray (#18744)
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/common/utils.py
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

bugifx
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Apply suggestions from code review
  python/cudf/cudf/tests/test_mvc.py
Labels: Python
