Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Support include_file_paths in cudf polars
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/io.py
Labels: Python, cudf.polars

clean up
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Apply suggestions from code review
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

remove host buffers dealloc silliness
  cpp/src/io/orc/reader_impl_chunking.cu
Labels: libcudf

default
  cpp/include/cudf/io/datasource.hpp
Labels: libcudf

expand/fix docs
  cpp/include/cudf/io/datasource.hpp
Labels: libcudf

add asserts
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Fix plc interop test
  python/pylibcudf/pylibcudf/tests/test_interop.py
Labels: Python, pylibcudf

Change groupby tests to use 128
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

typo fix
  cpp/include/cudf/io/datasource.hpp
Labels: libcudf

adjust test_decimal_dtype_arrow_roundtrip
  python/cudf/cudf/tests/test_dtypes.py
Labels: Python

sort of fix
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Single solve environments.
  ci/test_narwhals.sh
  dependencies.yaml
Labels: none

Address review comments.
  ci/test_narwhals.sh
Labels: none

Fix hang on invalid UTF-8 data in string_view iterator (#18039)
  cpp/include/cudf/strings/string_view.cuh
Labels: libcudf

Revert "Register serialization at import"
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Replace deprecated CCCL features (#18036)
  cpp/src/io/fst/dispatch_dfa.cuh
  cpp/src/io/fst/logical_stack.cuh
  cpp/src/io/parquet/writer_impl_helpers.cpp
Labels: libcudf

disable non-conda workflows
  .github/workflows/pr.yaml
Labels: none

test
  ci/python/test/test_python_cudf.sh
  ci/python/test/test_python_other.sh
  ci/python/test/test_wheel_cudf.sh
  ci/python/test/test_wheel_dask_cudf.sh
Labels: none

add cuda error check, fix memcpy direction
  cpp/src/copying/concatenate.cu
Labels: libcudf

make cudf_dtype_from_pa_type handles new types
  python/cudf/cudf/utils/dtypes.py
Labels: Python

fixed!
  cpp/src/io/comp/uncomp.cpp
  cpp/tests/io/json/json_chunked_reader.cu
  cpp/tests/io/json/json_test.cpp
Labels: libcudf

fix formatting
  cpp/src/copying/concatenate.cu
Labels: libcudf

Cast numpy ints to python ints for pyarrow decimal scalars
  python/cudf/cudf/core/scalar.py
Labels: Python

Adjust decimal tests
  python/cudf/cudf/tests/test_decimal.py
Labels: Python

add sliced gtest
  cpp/src/text/minhash.cu
  cpp/tests/text/minhash_tests.cpp
Labels: libcudf

code cleanup
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

add some additional simplifications
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/scalar.py
Labels: Python

more cleanup
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Use numpy.generic instead
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

still more cleanup
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

ensure test_column uses numpy.dtypes
  python/cudf/cudf/tests/test_column.py
Labels: Python

Add CategoricalDtype.__eq__ condition for object representating str category
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/dtypes.py
Labels: Python

Test narwhals in CI (#17884)
  .github/workflows/pr.yaml
  ci/test_narwhals.sh
  dependencies.yaml
Labels: none

Don't cover Distributed client `else` selector branch
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Don't cover local Dask scheduler selector branch
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Use SerializerManager to prevent multiple serializer registrations
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Don't cover SerializerManager.run_on_cluster
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

test
  ci/python/test/test_python_cudf.sh
  ci/python/test/test_python_other.sh
  ci/python/test/test_wheel_cudf.sh
  ci/python/test/test_wheel_dask_cudf.sh
Labels: none

Update to nvcomp 4.2.0.11 (#18042)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
  python/libcudf/pyproject.toml
Labels: Python

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
