Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

print hashed-vocab
  cpp/src/text/subword/load_hash_file.cu
Labels: libcudf

more printfs
  ci/run_cudf_ctests.sh
  cpp/src/text/subword/load_hash_file.cu
Labels: libcudf

split printf
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

env var test
  ci/build_cpp.sh
Labels: none

-fsigned-char
  ci/run_cudf_ctests.sh
  cpp/CMakeLists.txt
  cpp/src/text/subword/load_hash_file.cu
Labels: libcudf, CMake

Drop unused `<thrust/optional.h>` include
  cpp/src/ast/operators.cpp
Labels: libcudf

Drop more thrust functions with libcu++ ones
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/src/reductions/minmax.cu
Labels: libcudf

mp_hasher/equal printfs
  cpp/src/text/bpe/byte_pair_encoding.cu
  cpp/tests/text/bpe_tests.cpp
Labels: libcudf

Export RAPIDS_ARTIFACTS_DIR.
  ci/build_cpp.sh
Labels: none

Export RAPIDS_ARTIFACTS_DIR.
  ci/build_cpp.sh
Labels: none

Drop more thrust functions with libcu++ ones (#18207)
  cpp/src/ast/operators.cpp
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/src/reductions/minmax.cu
Labels: libcudf

Define libcudacxx_raw_includes.
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: libcudf, CMake

split check; check space
  cpp/src/text/bpe/byte_pair_encoding.cu
  cpp/src/text/subword/load_hash_file.cu
Labels: libcudf

Fix libcudacxx include directories.
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: libcudf, CMake

std::string space
  cpp/src/strings/split/split.cuh
  cpp/src/text/bpe/byte_pair_encoding.cu
  cpp/src/text/subword/load_hash_file.cu
Labels: libcudf

cpp/cu find() check
  cpp/CMakeLists.txt
  cpp/include/nvtext/detail/load_hash_file.hpp
  cpp/include/nvtext/subword_tokenize.hpp
  cpp/src/text/subword/load_hash_file.cpp
  cpp/tests/text/subword_tests.cpp
Labels: libcudf, CMake

Bump polars version to <1.25
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  dependencies.yaml
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

added static_assert for rep layout compat check
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/tests/copying/copy_tests.cpp
Labels: libcudf

removed restrict
  cpp/include/cudf/jit/types.hpp
Labels: libcudf

more find printfs
  cpp/cmake/thirdparty/patches/j.diff
  cpp/src/text/subword/load_hash_file.cpp
Labels: libcudf, CMake

Better name
  cpp/src/rolling/detail/rolling_utils.cuh
Labels: libcudf

zstd symbol visibility check
  ci/check_symbols.sh
Labels: none

jitify patch
  cpp/cmake/thirdparty/patches/jitify_override.json
Labels: libcudf, CMake

remove symbol checking in libcudf recipe for now
  conda/recipes/libcudf/recipe.yaml
Labels: none

Update python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/join/join.py
Labels: Python

Update python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/join/join.py
Labels: Python

Update python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/join/join.py
Labels: Python

Update python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/join/join.py
Labels: Python

xfail test, update deprecated join arg
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/tests/test_join.py
Labels: Python, cudf.polars

Add Ruff rule to enforce cudf dtype utils over numpy/pandas dtype utils (#18169)
  pyproject.toml
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_api_types.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/dask_cudf/dask_cudf/backends.py
Labels: Python, cudf.pandas

refactored jit column accessor
  cpp/include/cudf/jit/types.cuh
  cpp/include/cudf/jit/types.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
Labels: libcudf

Bump nightly check limit
  .github/workflows/pr.yaml
Labels: none

Add flake8-debugger
  pyproject.toml
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: Python

add tracking issue
  .github/workflows/pr.yaml
Labels: none

Add flake8-print
  pyproject.toml
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/options.py
  python/cudf/cudf/pandas/scripts/conftest-patch.py
  python/cudf/cudf/pandas/scripts/summarize-test-results.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_no_cuinit.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/utils/hash_vocab_utils.py
  python/cudf/cudf_pandas_tests/data/disable_cudf_pandas_multi_thread.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_tensorflow.py
Labels: Python, cudf.pandas

strict=True
  python/cudf/cudf/core/join/join.py
Labels: Python

updated code docs
  cpp/include/cudf/jit/types.cuh
Labels: libcudf

delete
  python/cudf/cudf/core/join/join.py
Labels: Python

jitify patch attempt
  ci/run_cudf_ctests.sh
  cpp/cmake/thirdparty/get_jitify.cmake
  cpp/cmake/thirdparty/patches/j.diff
  cpp/cmake/thirdparty/patches/jitify_override.json
Labels: libcudf, CMake

Remove unused round_up_pow2 utility
  cpp/include/cudf/detail/utilities/cuda.cuh
Labels: libcudf
