Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

updated doc
  cpp/include/cudf/column/raw_column_device_view.cuh
Labels: libcudf

fix
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

test
  python/cudf/cudf/tests/data/parquet/empty_datapage_v2.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Revert the default hasher back to the legacy version
  cpp/include/cudf/hashing/detail/murmurhash3_x86_32.cuh
Labels: libcudf

style
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

style pls
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

renames
  cpp/src/io/avro/reader_impl.cu
Labels: libcudf

fix pytest
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python

Add `setup_page_index` to `hybrid_scan_helpers`
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
Labels: libcudf

Remove duplicate code
  cpp/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
Labels: libcudf, CMake, Java

Skip decoding of pages marked as pruned in PQ reader (#18347)
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
Labels: libcudf

Improve gtest
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Add a usage page to cudf-polars documentation (#18460)
  docs/cudf/source/cudf_polars/index.rst
  docs/cudf/source/cudf_polars/usage.md
Labels: none

Add hybrid scan reader's metadata API implementations
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf, CMake

Bump polars version to <1.28 (#18469)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

Revert erroneous comment change
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Add test_sink.py
  python/cudf_polars/tests/test_sink.py
Labels: Python, cudf.polars

pre-commit
  python/cudf_polars/tests/test_sink.py
Labels: Python, cudf.polars

plumb meminfo wrong answer
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

Add explicit fail
  python/cudf_polars/tests/test_sink.py
Labels: Python, cudf.polars

removed xfail polars test
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Replace direct use of nvCOMP and of its adapter with the higher-level decompression API (#18434)
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/text/bgzip_data_chunk_source.cu
Labels: libcudf

add sliced gtest
  cpp/src/interop/to_arrow_host.cu
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: libcudf

save view before moving column
  cpp/src/interop/to_arrow_host.cu
Labels: libcudf

add no-cover pragmas
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Fix an error when reading some compressed Parquet V2 files (#18478)
  cpp/src/io/parquet/reader_impl_chunking.cu
  python/cudf/cudf/tests/data/parquet/empty_datapage_v2.parquet
  python/cudf/cudf/tests/test_parquet.py
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars, libcudf

Rerun flaky pytests in CI (#18476)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf/tests/test_repr.py
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.polars, pylibcudf

Suggestions from code reviews
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Get tests passing
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_sink.py
Labels: Python, cudf.polars

Merge changes from 18480
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Fix unspecified behavior involving move semantics and order of evaluation
  cpp/src/io/json/read_json.cu
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

split
  cpp/include/cudf/join.hpp
  cpp/include/cudf/join/conditional_join.hpp
  cpp/include/cudf/join/hash_join.hpp
  cpp/include/cudf/join/join.hpp
  cpp/include/cudf/join/mixed_join.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/cross_join.cu
  cpp/src/join/distinct_hash_join.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_semi.cu
  cpp/src/join/semi_join.cu
  cpp/tests/join/conditional_join_tests.cu
  cpp/tests/join/cross_join_tests.cpp
  cpp/tests/join/distinct_join_tests.cpp
  cpp/tests/join/mixed_join_tests.cu
  cpp/tests/join/semi_anti_join_tests.cpp
  cpp/tests/streams/join_test.cpp
Labels: libcudf

style fix
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

more fixes
  cpp/benchmarks/common/ndsh_data_generator/table_helpers.cpp
  cpp/benchmarks/join/conditional_join.cu
  cpp/benchmarks/join/distinct_join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/mixed_join.cu
  cpp/benchmarks/ndsh/utilities.cpp
  cpp/examples/nested_types/deduplication.cpp
  cpp/examples/parquet_io/common_utils.cpp
  cpp/include/cudf/join.hpp
  cpp/tests/join/join_tests.cpp
Labels: libcudf

formatting
  cpp/benchmarks/common/ndsh_data_generator/table_helpers.cpp
  cpp/benchmarks/join/conditional_join.cu
  cpp/benchmarks/join/distinct_join.cu
  cpp/benchmarks/join/mixed_join.cu
  cpp/benchmarks/ndsh/utilities.cpp
  cpp/examples/nested_types/deduplication.cpp
  cpp/examples/parquet_io/common_utils.cpp
  cpp/include/cudf/join.hpp
  cpp/src/join/cross_join.cu
  cpp/src/join/join.cu
  cpp/src/join/mixed_join.cu
  cpp/tests/join/conditional_join_tests.cu
  cpp/tests/join/cross_join_tests.cpp
  cpp/tests/join/join_tests.cpp
  cpp/tests/join/semi_anti_join_tests.cpp
  cpp/tests/streams/join_test.cpp
Labels: libcudf

Add CategoricalIndex.from_codes
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: Python

Add a debug macro
  cpp/include/cudf/utilities/error.hpp
Labels: libcudf

fixes
  cpp/benchmarks/common/generate_input.cu
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/lists/contains.cu
Labels: libcudf

Increase wheel size limit.
  python/libcudf/pyproject.toml
Labels: Python

Update comment
  python/cudf/cudf/options.py
Labels: Python
