Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Remove cudf.Scalar from .dt timedelta properties
  python/cudf/cudf/core/column/timedelta.py
Labels: Python

Expose stream-ordering in scalar and avro APIs (#17766)
  cpp/include/cudf/io/avro.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/io/functions.cpp
  cpp/src/scalar/scalar.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/binaryop/assert-binops.h
  cpp/tests/streams/scalar_test.cpp
Labels: libcudf, CMake

Use cpu32 for devcontainers.
  .github/workflows/pr.yaml
Labels: none

added builder opts
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
Labels: Python, pylibcudf

formatting
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
Labels: Python, pylibcudf

add block-store
  cpp/src/text/normalize.cu
  cpp/src/text/subword/data_normalizer.cu
  python/cudf/cudf/core/character_normalizer.py
Labels: Python, libcudf

fix changed utility call
  cpp/src/text/wordpiece_tokenize.cu
Labels: libcudf

Avoid converting Decimal32/Decimal64 in `to_arrow` and `from_arrow` APIs (#17422)
  conda/recipes/cudf/meta.yaml
  conda/recipes/pylibcudf/meta.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  cpp/cmake/thirdparty/get_nanoarrow.cmake
  cpp/cmake/thirdparty/patches/nanoarrow_override.json
  cpp/src/interop/arrow_utilities.cpp
  cpp/src/interop/arrow_utilities.hpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_host.cu
  cpp/src/interop/to_arrow_schema.cpp
  cpp/tests/interop/arrow_utils.hpp
  cpp/tests/interop/from_arrow_device_test.cpp
  cpp/tests/interop/from_arrow_host_test.cpp
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/nanoarrow_utils.hpp
  cpp/tests/interop/to_arrow_device_test.cpp
  cpp/tests/interop/to_arrow_host_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_scalar.py
Labels: Python, libcudf, CMake, Java

Update cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_aggregations.cuh
Labels: libcudf

Formatting
  cpp/src/groupby/hash/compute_aggregations.cuh
Labels: libcudf

Remove cudf.Scalar from interval_range (#17844)
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/indexes/test_interval.py
Labels: Python

annotations
  python/pylibcudf/pylibcudf/io/json.pyi
Labels: Python, pylibcudf

func is out, correct line is in
  cpp/src/io/comp/nvcomp_adapter.cpp
Labels: libcudf

rebase
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json/json_test.cpp
Labels: libcudf

simplifying the batch size logic
  cpp/src/io/json/read_json.cu
Labels: libcudf

cleanup after review
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json/json_test.cpp
Labels: libcudf

removing unnecessary variables
  cpp/src/io/json/read_json.cu
Labels: libcudf

formatting
  python/pylibcudf/pylibcudf/io/json.pyx
Labels: Python, pylibcudf

fix block-store algo type
  cpp/src/text/normalize.cu
Labels: libcudf

Remove decimal32/64 to decimal128 conversions in parquet writer.
  cpp/src/io/parquet/arrow_schema_writer.cpp
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf

Build and test with CUDA 12.8.0 (#17834)
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  CONTRIBUTING.md
  README.md
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/libcudf/pyproject.toml
Labels: Python, cudf.pandas

Fix the bug in determining the heuristics for shared memory groupby (#17851)
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
  cpp/src/groupby/hash/single_pass_functors.cuh
Labels: libcudf

Explicitly call out that the GPU open beta runs on a single GPU
  docs/cudf/source/cudf_polars/index.rst
Labels: none

Updated polars links
  docs/cudf/source/cudf_polars/index.rst
Labels: none

fix style check violations
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
Labels: none

added notes for remove_quotes
  cpp/src/io/csv/reader_impl.cu
Labels: libcudf

update nvtx range names
  cpp/src/text/normalize.cu
Labels: libcudf

address review comments
  docs/cudf/source/pylibcudf/index.rst
Labels: none

Remove predicate param from `DataFrameScan` IR (#17852)
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/tests/dsl/test_traversal.py
Labels: Python, cudf.polars

initial pass
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/_wrappers/patching_utils.py
  python/cudf/cudf/pandas/module_accelerator.py
Labels: Python, cudf.pandas

Move imports to fast_slow_proxy
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

rename and move setting pandas compatibility mode to install
  docs/cudf/source/cudf_pandas/faq.md
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Use official spark-rapids-jni CI image
  .github/workflows/spark-rapids-jni.yaml
Labels: none

Review feedback
  .github/workflows/pr.yaml
  .github/workflows/spark-rapids-jni.yaml
Labels: none

Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: none

Add test_spark condition
  .github/workflows/pr.yaml
Labels: none

address review
  docs/cudf/source/cudf_polars/index.rst
Labels: none

Update comment
  cpp/src/io/parquet/bloom_filter_reader.cu
Labels: libcudf

Update docs/cudf/source/cudf_polars/index.rst
  docs/cudf/source/cudf_polars/index.rst
Labels: none

cleanup and add tests
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/_wrappers/patching_utils.py
  python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
