Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Remove unused `group_range_rolling_window` API (#18313)
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
Labels: libcudf

Improve the groupby performance for extremely low cardinality (#18290)
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
Labels: libcudf

Remove cudf.Scalar from binops (#18240)
  python/cudf/cudf/core/_internals/binaryop.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python

Remove cudf.Scalar in as_column
  python/cudf/cudf/core/column/column.py
Labels: Python

add python interface for resolve-duplicates apis
  python/cudf/cudf/core/column/string.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pyi
  python/pylibcudf/pylibcudf/nvtext/dedup.pyx
Labels: Python, pylibcudf

update
  conda/recipes/cudf-polars/recipe.yaml
Labels: none

add csv and json impl and tests
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

clean up
  python/cudf_polars/cudf_polars/containers/dataframe.py
Labels: Python, cudf.polars

Update hash groupby detail to use the proper overload of make_bucket_extent
  cpp/src/groupby/hash/helpers.cuh
Labels: libcudf

mypy check
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

add tests
  cpp/include/cudf/join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/join/sort_merge_join_tests.cpp
Labels: libcudf, CMake

Handle some NA like scalars
  python/cudf/cudf/core/column/column.py
Labels: Python

only for 4+ sources
  cpp/src/io/functions.cpp
Labels: libcudf

add pytest for resolve_duplicates_pair
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python

partially address review
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
Labels: Python, cudf.pandas

Use the proper overload of make_bucket_extent
  cpp/src/groupby/hash/helpers.cuh
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/parquet_gpu.cuh
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf

remove xfailed tests
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Update conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf-polars/recipe.yaml
Labels: none

fix index of right table for unary ast ops
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/tests/join/mixed_join_tests.cu
Labels: libcudf

Support 1.24 as well as 1.25
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_profile.py
  python/cudf_polars/tests/test_python_scan.py
Labels: Python, cudf.polars

skip sqlframe tests
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Fix index of right table in unary operators in AST, in Joins (#18333)
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/tests/join/mixed_join_tests.cu
Labels: libcudf

skipped the tests in the wrong place
  ci/test_narwhals.sh
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

clean up
  ci/test_narwhals.sh
Labels: none

clean up
  ci/test_narwhals.sh
Labels: none

add more gtests/pytests
  cpp/tests/text/dedup_tests.cpp
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python, libcudf

missed another typo
  ci/test_narwhals.sh
Labels: none

Deprecate nvtext subword tokenizer
  cpp/benchmarks/text/subword.cpp
  cpp/include/nvtext/subword_tokenize.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/text/subword_tokenize_test.cpp
  cpp/tests/text/subword_tests.cpp
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/core/wordpiece_tokenize.py
  python/cudf/cudf/tests/text/test_subword_tokenizer.py
  python/pylibcudf/pylibcudf/tests/test_nvtext_subword_tokenize.py
Labels: Python, pylibcudf, libcudf, CMake

Install pytest-env and hypothesis in test_narwhals.sh
  ci/test_narwhals.sh
Labels: none

Expose the Number of Filtered Parquet Rowgroups (IO Metadata) to pylibcudf (#18106)
  python/pylibcudf/pylibcudf/io/types.pyi
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/libcudf/io/types.pxd
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
  python/pylibcudf/pylibcudf/tests/io/test_types.py
Labels: Python, pylibcudf

Clarify that cudf.pandas should be enabled before importing pandas.
  docs/cudf/source/cudf_pandas/usage.md
Labels: none

Update deprecation for branch
  cpp/include/cudf/lists/stream_compaction.hpp
Labels: libcudf

Support new callback API for lazyframe.profile (#18132)
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/timer.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/dsl/test_to_ast.py
  python/cudf_polars/tests/dsl/test_traversal.py
  python/cudf_polars/tests/expressions/test_sort.py
  python/cudf_polars/tests/test_join.py
  python/cudf_polars/tests/test_profile.py
  python/cudf_polars/tests/test_python_scan.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

Clarify that cudf.pandas should be enabled before importing pandas. (#18339)
  docs/cudf/source/cudf_pandas/usage.md
Labels: none

Cache column view creation from arrow types (#18302)
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
  cpp/tests/interop/arrow_data_structures_test.cpp
Labels: libcudf

Fix index of right table in unary operators in AST, in Joins (#18333)
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/tests/join/mixed_join_tests.cu
Labels: libcudf

use dask-cuda for cudf-polars experimental testing
  dependencies.yaml
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/conftest.py
Labels: Python, cudf.polars

Backport: Fix index of right table in unary operators in AST, in Joins (#18342)
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/tests/join/mixed_join_tests.cu
Labels: libcudf

Performance improvement for to_lower/to_upper for multi-byte UTF-8 characters
  cpp/src/strings/case.cu
  cpp/tests/strings/case_tests.cpp
Labels: libcudf

added wheel build location
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_cudf.sh
  ci/build_wheel_cudf_polars.sh
  ci/build_wheel_dask_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
Labels: none

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
