Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

cleanup
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

formatting
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

implement for chunked parquet read
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

address review
  cpp/src/io/functions.cpp
Labels: libcudf

Expose join hash table load factor
  cpp/include/cudf/detail/join/distinct_hash_join.cuh
  cpp/include/cudf/detail/join/hash_join.cuh
  cpp/include/cudf/join.hpp
  cpp/src/join/distinct_hash_join.cu
  cpp/src/join/hash_join.cu
Labels: libcudf

Revert "Deterministic hashing for DataFrameScan nodes"
  python/cudf_polars/cudf_polars/dsl/_hashing.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_hashing.py
Labels: Python, cudf.polars

reviews
  cpp/benchmarks/join/join_common.hpp
Labels: libcudf

Avoid hash collision through randomness
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

fix lovely testing
  cpp/src/io/csv/reader_impl.cu
  python/cudf/cudf/tests/test_csv.py
Labels: Python, libcudf

fix type
  cpp/src/io/functions.cpp
Labels: libcudf

Deprecate old nvtext::normalize_characters
  cpp/include/nvtext/normalize.hpp
  cpp/tests/text/normalize_tests.cpp
Labels: libcudf

initial changes
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/jit/types.cuh
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

using sort merge inner join
  cpp/benchmarks/join/multiplicity_join.cu
Labels: libcudf

Deprecate old APIs and update JNI bindings
  cpp/include/cudf/join.hpp
  java/src/main/native/src/HashJoinJni.cpp
  java/src/main/native/src/TableJni.cpp
Labels: libcudf, Java

Update JNI
  java/src/main/native/src/HashJoinJni.cpp
Labels: Java

Update docs
  cpp/include/cudf/join.hpp
Labels: libcudf

Test change
  python/cudf/cudf/__init__.py
Labels: Python

adding more tests
  cpp/tests/CMakeLists.txt
  cpp/tests/join/join_tests.cpp
Labels: libcudf, CMake

we don't need separate sort merge tests
  cpp/tests/join/sort_merge_join_tests.cpp
Labels: libcudf

Optimize `sequences` by introducing `make_offsets_child_column` (#18357)
  cpp/src/lists/sequences.cu
Labels: libcudf

Simplify and remove repeated code
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_page_pruning.cu
  cpp/src/io/parquet/reader_impl_page_pruning.hpp
Labels: libcudf

Fix lambda name
  cpp/src/io/parquet/reader_impl.cpp
Labels: libcudf

Update comments
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
Labels: libcudf

decomp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

pq change
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

comp
  cpp/src/io/comp/comp.cpp
Labels: libcudf

Updates
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/reader_impl_page_pruning.hpp
Labels: libcudf

Clean up repeated code
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
Labels: libcudf

Minor updates
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_delta_decode.cu
Labels: libcudf

style fix
  cpp/src/io/parquet/reader_impl_page_pruning.cu
Labels: libcudf

Set default page pruning to NONE
  cpp/src/io/parquet/reader_impl_page_pruning.hpp
Labels: libcudf

Update function names
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_page_pruning.cu
Labels: libcudf

Style fix
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf

Revert print_pages
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Use cudf utility to update bitmask
  cpp/src/io/parquet/reader_impl_page_pruning.cu
Labels: libcudf

Remove unnecessary syncthreads
  cpp/src/io/parquet/decode_fixed.cu
Labels: libcudf

Swap in uv
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

Avoid patching sort algorithms from CCCL
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/patches/cccl_override.json
Labels: libcudf, CMake

Introduce new grouped rolling window API
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
Labels: libcudf

Update cpp/CMakeLists.txt
  cpp/CMakeLists.txt
Labels: libcudf, CMake
