Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Update conda recipe
  conda/recipes/cudf/recipe.yaml
Labels: none

Additional tests strings for strings split APIs (#18574)
  cpp/tests/strings/split_tests.cpp
Labels: libcudf

Reinstate test (now passing)
  python/cudf_polars/tests/test_groupby.py
Labels: Python, cudf.polars

Expunge mapping argument from expression evaluation
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/expressions/ternary.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/tests/expressions/test_evaluate_mapping.py
Labels: Python, cudf.polars

initial implementation
  python/cudf/cudf/pandas/scripts/conftest-patch.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

Add .cursorfile to .gitignore
  .gitignore
Labels: none

[DO NOT MERGE]: test upstream libkvikio wheel with vendored nvcomp
  ci/build_wheel_libcudf.sh
  dependencies.yaml
  python/libcudf/pyproject.toml
Labels: Python

Apply suggestions from code review
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/pylibcudf/pylibcudf/io/parquet_metadata.pyx
  python/pylibcudf/pylibcudf/libcudf/io/parquet_metadata.pxd
Labels: Python, cudf.polars, pylibcudf, libcudf

Constexpr
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

bucket path
  ci/build_wheel_libcudf.sh
Labels: none

pr review: reuse tv nullable func; rename vars to be descriptive
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Clean up
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  python/pylibcudf/pylibcudf/io/parquet_metadata.pyx
Labels: Python, pylibcudf, libcudf

tarball and wheel have different suffixes
  ci/build_wheel_libcudf.sh
Labels: none

Update cpp/tests/io/parquet_experimental_reader_test.cpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

add Select(unique) support
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/tests/experimental/test_unique.py
Labels: Python, cudf.polars

Fix typing and test output
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Disable spark failure tests
  cpp/tests/join/distinct_join_tests.cpp
Labels: libcudf

Suggestion from review
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

update sha and version suffix for updated kvikio
  ci/build_wheel_libcudf.sh
Labels: none

Inline the operator
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

Update `numba-cuda` dependency to `>=0.9.0` (#18591)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python

code review changes
  cpp/src/transform/transform.cpp
Labels: libcudf

omit tpch.py file from coverage
  python/cudf_polars/cudf_polars/experimental/benchmarks/tpch.py
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

switch tensorflow to use 12.x
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

make sure we use the updated kvikio wheel everywhere
  ci/build_wheel_cudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

cleaner downloading of artifacts from kvikio PR
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

disable using nvcomp runtime wheel
  ci/build_wheel_libcudf.sh
Labels: none

Revert "cleaner downloading of artifacts from kvikio PR"
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

Revert "disable using nvcomp runtime wheel"
  ci/build_wheel_libcudf.sh
Labels: none

Prune methods from Frame that are specific to subclasses
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

Fix `DataFrame.memory_usage` output order (#18595)
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Switch to 2D memcpy
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

Revert "Switch to 2D memcpy"
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

Add docs
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

docs update
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

minor updates
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

minor doc update
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

revert minor changes
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Enable reporting peak memory usage for gtests
  cpp/include/cudf_test/testing_main.hpp
  cpp/scripts/gtest_memory_usage.sh
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/binaryop_test.cpp
  cpp/tests/streams/concatenate_test.cpp
  cpp/tests/streams/copying_test.cpp
  cpp/tests/streams/datetime_test.cpp
  cpp/tests/streams/dictionary_test.cpp
  cpp/tests/streams/filling_test.cpp
  cpp/tests/streams/groupby_test.cpp
  cpp/tests/streams/hash_test.cpp
  cpp/tests/streams/interop_test.cpp
  cpp/tests/streams/io/csv_test.cpp
  cpp/tests/streams/io/json_test.cpp
  cpp/tests/streams/io/multibyte_split_test.cpp
  cpp/tests/streams/io/orc_test.cpp
  cpp/tests/streams/io/parquet_test.cpp
  cpp/tests/streams/join_test.cpp
  cpp/tests/streams/labeling_bins_test.cpp
  cpp/tests/streams/lists_test.cpp
  cpp/tests/streams/null_mask_test.cpp
  cpp/tests/streams/partitioning_test.cpp
  cpp/tests/streams/pool_test.cu
  cpp/tests/streams/quantile_test.cpp
  cpp/tests/streams/reduction_test.cpp
  cpp/tests/streams/replace_test.cpp
  cpp/tests/streams/reshape_test.cpp
  cpp/tests/streams/rolling_test.cpp
  cpp/tests/streams/round_test.cpp
  cpp/tests/streams/scalar_test.cpp
  cpp/tests/streams/search_test.cpp
  cpp/tests/streams/sorting_test.cpp
  cpp/tests/streams/stream_compaction_test.cpp
  cpp/tests/streams/strings/strings_tests.cpp
  cpp/tests/streams/text/tokenize_test.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/streams/unary_test.cpp
Labels: libcudf, CMake

pr review: removed abbrevs; added new class design apis
  cpp/include/cudf/join.hpp
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
