Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

add max-run-length edge case handling
  cpp/src/text/dedup.cu
Labels: libcudf

Switch to rvalues
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
  cpp/tests/interop/arrow_data_structures_test.cpp
Labels: libcudf

Put all new functions into a new namespace
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
  cpp/tests/interop/arrow_data_structures_test.cpp
Labels: libcudf

Revert list change
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Ban pandas.api.types
  pyproject.toml
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_api_types.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/dask_cudf/dask_cudf/backends.py
Labels: Python, cudf.pandas

Add fmt to the test/benchmarks env
  conda/recipes/libcudf/recipe.yaml
Labels: none

Use correct selectors for linux x86_64
  conda/recipes/cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

Add xfail for cupy bug
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_unaops.py
Labels: Python

Add fmt to the test/benchmarks env
  conda/recipes/libcudf/recipe.yaml
Labels: none

test
  .github/workflows/pr.yaml
Labels: none

undo temp changes
  conda/recipes/libcudf/recipe.yaml
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

Add fmt to the test/benchmarks env (#18173)
  conda/recipes/libcudf/recipe.yaml
Labels: none

static libzstd link
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

dummy change
  python/cudf_polars/cudf_polars/callback.py
Labels: Python, cudf.polars

debugging ci build issue
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

Use my fork and remove fmt again
  conda/recipes/libcudf/recipe.yaml
  rapids_config.cmake
Labels: CMake

skip subword-tokenize
  ci/run_cudf_pytests.sh
  python/pylibcudf/pylibcudf/tests/test_nvtext_subword_tokenize.py
Labels: Python, pylibcudf

move printf; add compute-sanitizer
  ci/run_cudf_ctests.sh
  ci/run_cudf_pytests.sh
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

Remove cudf.Scalar from where ops
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
Labels: Python

hiding libzstd symbols
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

hiding libzstd symbols
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

removed tracing symbols
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

Better fix for lists
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf

remove weak symbols
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

conda cleanup
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
Labels: none

Some more fixes
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Revert some fixes
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Drop use of thrust::optional
  cpp/include/cudf/ast/detail/operators.hpp
Labels: libcudf

Try and work around 11.8 compiler issue
  cpp/include/cudf/ast/detail/operators.hpp
Labels: libcudf

Drop `CUB_QUOTIENT_CEILING`
  cpp/src/io/fst/agent_dfa.cuh
  cpp/src/io/fst/dispatch_dfa.cuh
Labels: libcudf

Fixups
  docs/dask_cudf/source/api.rst
Labels: none

typo fix
  docs/dask_cudf/source/api.rst
Labels: none

added ast and transforms executor for ndsh q9
  cpp/benchmarks/ndsh/q09.cpp
Labels: libcudf

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

fix typo; add output to printf
  ci/run_cudf_ctests.sh
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Fix build.sh docs for default behavior
  build.sh
Labels: none

fix libcudf pins cu11 (#18161)
  conda/recipes/cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
