Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

partial code review
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/tests/dsl/test_expr.py
Labels: Python, cudf.polars

remove unused code
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

simplify _replace
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

update names
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Remove extranous modules from top level cudf namespace
  python/cudf/cudf/__init__.py
  python/cudf/cudf/tests/test_api.py
Labels: Python

initial fix
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

Formatting
  cpp/tests/streams/lists_test.cpp
  java/src/main/java/ai/rapids/cudf/DuplicateKeepOption.java
Labels: libcudf, Java

Updates
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
Labels: libcudf

partial work
  cpp/CMakeLists.txt
  cpp/include/cudf/join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf, CMake

pr reviews
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

Minor update
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
Labels: libcudf

Implemented Decimal Transforms (#17968)
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/jit/types.cuh
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/copying/copy_tests.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf, CMake

Minor renaming and remove chunking
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Turn back to numpy
  python/cudf/cudf/core/column/datetime.py
Labels: Python

Add extra backslashes
  ci/test_narwhals.sh
Labels: none

no explicit usage of kvikio::RemoteHandle
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

change test with pytest.mark.parametrize as bool-flag
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
Labels: Python, pylibcudf

lint
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
Labels: Python, pylibcudf

rename executors and add synchronous scheduler code
  ci/run_cudf_polars_pytests.sh
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/scheduler.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/conftest.py
  python/cudf_polars/tests/test_executors.py
Labels: Python, cudf.polars

pass leakcheck in string udf tests
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

style
  python/cudf/cudf/core/udf/masked_lowering.py
  python/cudf/cudf/core/udf/masked_typing.py
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/cudf/udf_cpp/CMakeLists.txt
  python/cudf/udf_cpp/shim.cu
  python/cudf/udf_cpp/strings/include/cudf/strings/udf/udf_apis.hpp
  python/cudf/udf_cpp/strings/include/cudf/strings/udf/udf_string.cuh
  python/cudf/udf_cpp/strings/include/cudf/strings/udf/udf_string.hpp
  python/cudf/udf_cpp/strings/src/strings/udf/udf_apis.cu
  python/pylibcudf/pylibcudf/libcudf/strings_udf.pxd
Labels: Python, pylibcudf, CMake

revise names, and slim down scheduler code
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/scheduler.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/conftest.py
  python/cudf_polars/tests/test_executors.py
Labels: Python, cudf.polars

update comments
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/scheduler.py
  python/cudf_polars/tests/test_executors.py
Labels: Python, cudf.polars

revise names again
  ci/run_cudf_polars_pytests.sh
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/conftest.py
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_parallel.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/experimental/test_select.py
  python/cudf_polars/tests/experimental/test_shuffle.py
  python/cudf_polars/tests/test_executors.py
Labels: Python, cudf.polars

update fix
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

style
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: Python, cudf.pandas

add tests
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

update tests
  ci/test_narwhals.sh
Labels: none

Add and revise experimental cudf-polars config options (#18284)
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_shuffle.py
Labels: Python, cudf.polars

Temporarily use changed-files-always branch of shared-workflows
  .github/workflows/pr.yaml
Labels: none

Update python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

update testing to use LocalCUDACluster
  dependencies.yaml
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/conftest.py
Labels: Python, cudf.polars

remove extra check
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
Labels: Python, cudf.polars

Make a pylibcudf Column from a CAI object with strides=None
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_device.py
Labels: Python, pylibcudf

change api to substring_duplicates
  cpp/benchmarks/text/dedup.cpp
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  cpp/tests/text/dedup_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pyi
  python/pylibcudf/pylibcudf/nvtext/dedup.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_dedup.py
Labels: Python, pylibcudf, libcudf

removed int128 flag for CUDA < 11.5
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: libcudf, CMake

limit input size to 2GB
  cpp/src/text/dedup.cu
Labels: libcudf

xfail narwhals sqlframe tests
  ci/test_narwhals.sh
  python/cudf/cudf/testing/narwhals_test_plugin.py
Labels: Python

refactored jit runtime support header
  cpp/include/cudf/jit/runtime_support.h
  cpp/src/jit/runtime_support.cpp
Labels: libcudf

removed version check and added todo
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: libcudf, CMake
