Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

fix table-map size
  cpp/src/text/bpe/load_merge_pairs.cu
Labels: libcudf

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

fixed dask refs
  docs/dask_cudf/source/api.rst
Labels: none

updated q9 benchmarks
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/ndsh/q09.cpp
  cpp/benchmarks/ndsh/q09_transforms.cpp
Labels: libcudf, CMake

combine source files
  cpp/src/text/bpe/byte_pair_encoding.cu
  cpp/src/text/bpe/byte_pair_encoding.cuh
  cpp/src/text/bpe/load_merge_pairs.cu
Labels: libcudf

Address test failures
  python/cudf/cudf/core/_internals/where.py
Labels: Python

Remove unused _normalize_categorical
  python/cudf/cudf/core/_internals/where.py
Labels: Python

More specific output typing
  python/cudf/cudf/core/_internals/where.py
Labels: Python

updated q9 benchmarks
  cpp/benchmarks/ndsh/q09.cpp
Labels: libcudf

out of ideas; adding more printfs
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

updated q9 benchmarks
  cpp/benchmarks/ndsh/q09.cpp
Labels: libcudf

clean up
  python/cudf_polars/cudf_polars/callback.py
Labels: Python, cudf.polars

added NVTX ranges
  cpp/benchmarks/ndsh/q09.cpp
Labels: libcudf

remove extra utility
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/from_arrow_host.hpp
  cpp/src/interop/from_arrow_host_strings.cu
Labels: libcudf

Test more configurations to isolate ARM CI issue
  .github/workflows/pr.yaml
Labels: none

add rmm_mode=cuda
  ci/run_cudf_ctests.sh
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

Fix BPE merges table static-map capacity size
  cpp/src/text/bpe/load_merge_pairs.cu
Labels: libcudf

Simplify trailing return types in AST operators.
  cpp/include/cudf/ast/detail/operators.hpp
Labels: libcudf

Define Column.where to be used across DataFrame/Series
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

Remove unneded comment
  python/cudf/cudf/core/column/column.py
Labels: Python

Skip flaky multi GPU test
  ci/run_cudf_polars_pytests.sh
Labels: none

Disable ARM CI in C++ and Python test CI jobs (#18175)
  .github/workflows/pr.yaml
Labels: none

Revert "Disable ARM CI in C++ and Python test CI jobs (#18175)"
  .github/workflows/pr.yaml
Labels: none

Ignore run exports of libcufile.
  conda/recipes/libcudf/recipe.yaml
Labels: none

Ignore run exports of libcufile.
  conda/recipes/libcudf/recipe.yaml
Labels: none

Revert rapids-cmake customization
  rapids_config.cmake
Labels: CMake

Fix libcudf_kafka, too.
  conda/recipes/libcudf/recipe.yaml
Labels: none

Fix libcudf_kafka, too.
  conda/recipes/libcudf/recipe.yaml
Labels: none

Skip flaky multi GPU test (#18187)
  ci/run_cudf_polars_pytests.sh
Labels: none

save state before column release
  cpp/src/interop/to_arrow_device.cu
Labels: libcudf

More minor fixes for CCCL (#17793)
  cpp/include/cudf/ast/detail/operators.hpp
Labels: libcudf

Fix build.sh docs for default behavior (#18180)
  build.sh
Labels: none

[DOC] Document character normalizer (#18125)
  docs/cudf/source/user_guide/api_docs/character_normalizer.rst
  docs/cudf/source/user_guide/api_docs/index.rst
Labels: none

Apply suggestions from code review
  cpp/src/io/comp/common.cpp
  cpp/src/io/comp/uncomp.cpp
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

Ignore libcufile from run-exports in libcudf-example and libcudf-tests.
  conda/recipes/libcudf/recipe.yaml
Labels: none
