Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

fix(libxml2): pin libxml2<2.14 to work around breaking ABI
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: none

Rename `page_validity` to `page_mask` and update docstrings
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
Labels: libcudf

move wildcard indexing inside like_kernel
  cpp/src/strings/like.cu
Labels: libcudf

updating compression formats supported
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
Labels: Python

formatting
  python/cudf/cudf/io/json.py
Labels: Python

bgzip as well
  cpp/src/io/text/bgzip_data_chunk_source.cu
Labels: libcudf

Allow selecting specified payload columns as well
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Consolidate logic from DataFrame.__init__ for listlike arguments
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

use warp-parallel for multi-patterns too
  cpp/src/strings/like.cu
  cpp/tests/strings/like_tests.cpp
Labels: libcudf

cleanup on supported formats; pr reviews
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python

fixing auto decompression
  cpp/src/io/comp/uncomp.cpp
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

Remove unnecessary _check_data_index_length_match
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
Labels: Python

json fix for AUTO
  cpp/src/io/functions.cpp
  cpp/tests/io/json/json_test.cpp
Labels: libcudf

Improve parquet type enums to enum classes
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_data.cuh
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/stats_filter_helpers.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_common.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Improve variable names and docstrings
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Use `numeric::detail::count_significant_bits` to count significant bits in PQ
  cpp/src/io/comp/comp.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/parquet_common.hpp
Labels: libcudf

fix
  cpp/src/io/functions.cpp
  cpp/tests/io/json/json_test.cpp
Labels: libcudf

Refcount-based dropping of cached evaluations in cudf-polars executor (#18430)
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/test_cache.py
Labels: Python, cudf.polars

Better documentation, review updates
  python/pylibcudf/pylibcudf/contiguous_split.pyx
Labels: Python, pylibcudf

chore: pin libxml2 for `test_cudf_python` key
  dependencies.yaml
Labels: none

Fix logger macros
  cpp/CMakeLists.txt
Labels: libcudf, CMake

refactor: move `libxml2` pin to `test_python_common`
  dependencies.yaml
Labels: none

Add a public API for converting a table_view to device array
  cpp/CMakeLists.txt
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/table_to_array.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/reshape/table_to_array.cpp
Labels: libcudf, CMake

address review
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

clean up
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Add docstrings for style checks
  cpp/include/cudf/io/parquet_schema.hpp
Labels: libcudf

Style fix, docstrings and address code reviews
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/tests/io/parquet_common.cpp
Labels: libcudf

Add doxygen for parquet schema
  cpp/include/cudf/io/parquet_schema.hpp
Labels: libcudf

Docstrings
  cpp/include/cudf/io/parquet_schema.hpp
Labels: libcudf

doxygen fix
  cpp/include/cudf/io/parquet_schema.hpp
Labels: libcudf

Fn to invalidate output buffer nullmasks for pruned pages
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf

support decimals and add more tests
  cpp/src/reshape/table_to_array.cu
  cpp/tests/reshape/table_to_array.cpp
Labels: libcudf

copyrights fix
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf

fix'n'test
  cpp/src/io/parquet/reader_impl_chunking.cu
  python/cudf/cudf/tests/data/parquet/hadoop_lz4_compressed.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, libcudf

EOF
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

style
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Ensure DataFrame column label operations reset label_dtype
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Make `has_lists` a template parameter
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
Labels: libcudf

Minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

More cleanups
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/compact_protocol_writer.cpp
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
