Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

use replace
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

avoid passing through options to renamed aggs unless the new options are explicitly defined
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

oops, should have been multiplicity
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/multiplicity_join.cu
Labels: libcudf, CMake

remove unused func
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Clean up find_common_dtype
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Cleanups
  cpp/include/cudf/detail/join/hash_join.cuh
  cpp/include/cudf/detail/join/join.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
Labels: libcudf

Minor fix
  cpp/src/join/join_common_utils.cuh
Labels: libcudf

Use find_common_type more than np.result_type
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
Labels: Python

cleanups
  cpp/src/join/join_common_utils.cuh
Labels: libcudf

Avoid can_cat in timedelta
  python/cudf/cudf/core/column/timedelta.py
Labels: Python

Fix more bugs in page filtering with stats
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Add Keep Option Parameter to Distinct
  cpp/include/cudf/lists/detail/stream_compaction.hpp
  cpp/include/cudf/lists/stream_compaction.hpp
  cpp/src/lists/stream_compaction/distinct.cu
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: libcudf, Java

Simplify casting
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
Labels: Python, cudf.polars

Remove `frames_to_gpumemoryview` function
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
Labels: Python, cudf.polars

Update python/cudf_polars/tests/test_merge_sorted.py
  python/cudf_polars/tests/test_merge_sorted.py
Labels: Python, cudf.polars

Update python/cudf_polars/tests/test_merge_sorted.py
  python/cudf_polars/tests/test_merge_sorted.py
Labels: Python, cudf.polars

Mild tidying
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/detail/range_utils.cuh
Labels: libcudf

fixup
  docs/dask_cudf/source/api.rst
Labels: none

Simplify the way row_info is handled
  cpp/src/rolling/detail/range_utils.cuh
  cpp/src/rolling/detail/rolling_utils.cuh
Labels: libcudf

address partial code review
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

remove strict=False everywhere
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

fix(rattler): fix linux-64 selector
  conda/recipes/cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

it's `linux` for the rattler selector (yeesh)
  conda/recipes/cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

nope, wrong again, it's `x86` for architecture
  conda/recipes/cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

Fix rmm macro call (#18108)
  java/src/main/native/src/RmmJni.cpp
Labels: Java

[DO NOT MERGE] Test driver `570`
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: none

test for bpe error
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

address review in select.py
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

pass but not free
  python/cudf/cudf/core/udf/masked_lowering.py
  python/cudf/cudf/core/udf/masked_typing.py
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/udf_cpp/CMakeLists.txt
Labels: Python, CMake

use NamedExprs to better keep track of ouput column names
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/select.py
Labels: Python, cudf.polars

adding throughput utilities
  cpp/benchmarks/join/join_common.hpp
Labels: libcudf

cleanup
  cpp/benchmarks/join/join_common.hpp
Labels: libcudf

more debug printfs
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

Remove _can_cast from where
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Add np.can_cast as a banned API
  pyproject.toml
  python/cudf/cudf/core/scalar.py
Labels: Python

Add numpy.result_type to banned APIs
  pyproject.toml
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Ban using numpy.result_type/issubdtype
  pyproject.toml
  python/cudf/cudf/api/types.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_stats.py
  python/dask_cudf/dask_cudf/backends.py
Labels: Python

Simplfy check
  python/cudf/cudf/core/_internals/where.py
Labels: Python

comment out troublesome stuff
  conda/recipes/libcudf/recipe.yaml
Labels: none

temp workaround build test
  conda/recipes/libcudf/recipe.yaml
Labels: none
