Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Add `pylibcudf.gpumemoryview` support for `len()`/`nbytes` (#18133)
  python/pylibcudf/pylibcudf/gpumemoryview.pyi
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
  python/pylibcudf/pylibcudf/tests/test_gpumemoryview.py
Labels: Python, pylibcudf

Added polynomials benchmark (#17695)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/ast/polynomials.cpp
  cpp/benchmarks/binaryop/polynomials.cpp
  cpp/benchmarks/transform/polynomials.cpp
Labels: libcudf, CMake

Added Imbalanced Tree Benchmarks for Transforms (#18032)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/transform/transform.cpp
Labels: libcudf, CMake

Fix Series construction from numpy array with non-native byte order (#18151)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

Add telemetry to build workflows
  .github/workflows/build.yaml
Labels: none

Combine separate ConfigureNVBench calls to fix cpp conda builds
  cpp/benchmarks/CMakeLists.txt
Labels: libcudf, CMake

xfail Narwhals over tests
  python/cudf/cudf/testing/narwhals_test_plugin.py
Labels: Python

Document `frames_to_gpumemoryview`
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
Labels: Python, cudf.polars

Update cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
Labels: libcudf, CMake

dask-cudf doc fixes
  docs/dask_cudf/Makefile
  docs/dask_cudf/source/api.rst
  docs/dask_cudf/source/best_practices.rst
  docs/dask_cudf/source/conf.py
  docs/dask_cudf/source/index.rst
  python/dask_cudf/dask_cudf/core.py
Labels: Python

alphabetize pylibcudf/nvtext/CMakeLists.txt entries
  python/pylibcudf/pylibcudf/nvtext/CMakeLists.txt
Labels: Python, pylibcudf, CMake

Move execution context into the Expr nodes
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/expressions/ternary.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/to_ast.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

add sliced support; fix pytest
  cpp/src/text/dedup.cu
  cpp/tests/text/dedup_tests.cpp
  python/pylibcudf/pylibcudf/tests/test_nvtext_dedup.py
Labels: Python, pylibcudf, libcudf

Fix overconstrained libcudf conda package for cuda 11
  conda/recipes/libcudf/recipe.yaml
Labels: none

Combine separate ConfigureNVBench calls to fix cpp conda builds (#18155)
  cpp/benchmarks/CMakeLists.txt
Labels: libcudf, CMake

ignore cache cuda-toolkit for all outputs in libcudf
  conda/recipes/libcudf/recipe.yaml
Labels: none

CI fixes
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
Labels: libcudf

Test cudf againist the latest stable branch of Narwhals
  ci/test_narwhals.sh
Labels: none

Use `static_cast`
  cpp/src/rolling/detail/range_utils.cuh
Labels: libcudf

Prune more seldom used dtype utils (#18150)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Move nanoarrow_utils.hpp from cpp/test/interop to cudf_test
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/interop/interop.cpp
  cpp/include/cudf_test/nanoarrow_utils.hpp
  cpp/tests/interop/from_arrow_device_test.cpp
  cpp/tests/interop/from_arrow_host_test.cpp
  cpp/tests/interop/from_arrow_stream_test.cpp
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_device_test.cpp
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: libcudf, CMake

Avoid some string specified types in select_dtype calls
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
Labels: Python

add empty string and null string to gtest
  cpp/src/interop/from_arrow_host_strings.cu
  cpp/tests/interop/from_arrow_host_test.cpp
Labels: libcudf

Separate stats filtering helpers to reuse in page pruning (#18034)
  cpp/CMakeLists.txt
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/stats_filter_helpers.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf, CMake

adding some metrics
  cpp/benchmarks/join/cardinality_join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/src/join/join.cu
Labels: libcudf

Undo cudf.CategoricalDtype
  python/cudf/cudf/core/reshape.py
Labels: Python

remove copy API and make ConfigOptions immutable
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

New nvtext::wordpiece_tokenizer APIs (#17600)
  cpp/CMakeLists.txt
  cpp/benchmarks/text/subword.cpp
  cpp/include/nvtext/wordpiece_tokenize.hpp
  cpp/src/text/wordpiece_tokenize.cu
  cpp/tests/text/subword_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/wordpiece_tokenize.py
  python/cudf/cudf/tests/text/test_subword_tokenizer.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/wordpiece_tokenize.pxd
  python/pylibcudf/pylibcudf/nvtext/CMakeLists.txt
  python/pylibcudf/pylibcudf/nvtext/__init__.pxd
  python/pylibcudf/pylibcudf/nvtext/__init__.py
  python/pylibcudf/pylibcudf/nvtext/wordpiece_tokenize.pxd
  python/pylibcudf/pylibcudf/nvtext/wordpiece_tokenize.pyi
  python/pylibcudf/pylibcudf/nvtext/wordpiece_tokenize.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_subword_tokenize.py
Labels: Python, pylibcudf, libcudf, CMake

Allow nonnative cupy dtype in cudf.Series
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

use typing_extensions for older python versions
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

formatting
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

partial
  python/cudf/cudf/_lib/strings_udf.pyx
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/udf/masked_typing.py
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/cudf/udf_cpp/CMakeLists.txt
  python/cudf/udf_cpp/shim.cu
  python/cudf/udf_cpp/strings/include/cudf/strings/udf/udf_apis.hpp
  python/cudf/udf_cpp/strings/include/cudf/strings/udf/udf_string.cuh
  python/cudf/udf_cpp/strings/include/cudf/strings/udf/udf_string.hpp
  python/cudf/udf_cpp/strings/src/strings/udf/udf_apis.cu
  python/pylibcudf/pylibcudf/libcudf/strings_udf.pxd
Labels: Python, pylibcudf, CMake

Update cpp/include/cudf/interop.hpp
  cpp/include/cudf/interop.hpp
Labels: libcudf

Move detail join headers to the new detail join folder
  cpp/include/cudf/detail/join/distinct_hash_join.cuh
  cpp/include/cudf/detail/join/hash_join.cuh
  cpp/include/cudf/detail/join/join.hpp
  cpp/src/join/distinct_hash_join.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.hpp
Labels: libcudf

Fix merge(how=left, left_on=, right_index=True, sort=True)
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: Python

break out the decomposition of a single groupby request into a stand-alone function
  python/cudf_polars/cudf_polars/experimental/groupby.py
Labels: Python, cudf.polars

break out the decomposition of a single groupby request into a stand-alone function
  python/cudf_polars/cudf_polars/experimental/groupby.py
Labels: Python, cudf.polars

revert to test
  cpp/src/io/orc/writer_impl.cu
Labels: libcudf

Combine multiple str.minhash() APIs into one call
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python

fix pytest
  cpp/src/text/dedup.cu
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python, libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
