Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

test sizeof columns
  python/cudf_polars/tests/experimental/test_dask_sizeof.py
Labels: Python, cudf.polars

lower lower bound and fix version gate the IR
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_profile.py
  python/cudf_polars/tests/test_python_scan.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

fix typo
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

doc
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, pylibcudf

Update python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

refactor: use upstream nightly wheel for libkvikio+nvcomp
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  ci/cudf_pandas_scripts/run_tests.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
  dependencies.yaml
  python/libcudf/CMakeLists.txt
Labels: Python, CMake

code coverage
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
Labels: Python, cudf.polars

print more information
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

fix bug
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

fix bug
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

Fix cpp wheel artifact name?
  ci/use_wheels_from_prs.sh
Labels: none

Add CUDA_ARCHITECTURES setting to cpp-linters script
  ci/cpp_linters.sh
Labels: none

preserve partition info in Filter and Projection
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Add alloc_size member function to cudf::column and cudf::table
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/table/table.hpp
  cpp/src/column/column.cu
  cpp/src/table/table.cpp
  cpp/tests/table/table_tests.cpp
Labels: libcudf

Skip all known errors
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

Add CUDA_ARCHITECTURES setting to cpp-linters script (#18637)
  ci/cpp_linters.sh
Labels: none

test
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

use Peters suggestion
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

fix copy-paste mistake
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Exclude librmm.so.
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
Labels: none

Cleanup libcudf detail/aggregation.hpp/.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/src/aggregation/aggregation.cu
  cpp/src/groupby/hash/create_sparse_results_table.cu
  cpp/src/groupby/hash/hash_compound_agg_finalizer.cu
Labels: libcudf

Switch `tensorflow` integration tests to use 12.x (#18596)
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

Update
  cpp/CMakeLists.txt
  debug/breakpoints.txt
  debug/debug.sh
  debug/orc_null/breakpoints.txt
  debug/orc_null/data/bad_OrcEmptyRowGroup.orc
  debug/orc_null/data/good_OrcEmptyRowGroup.orc
  debug/orc_null/data/ref.orc
  debug/orc_null/debug.sh
  debug/orc_null/generate_data.py
  debug/orc_null/rebuild_libcudf.sh
  debug/orc_null/view_data.py
  debug/rebuild_libcudf.sh
Labels: libcudf, CMake

use pyarrow infer_type
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

add test coverage
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

remove _print_tree
  python/cudf_polars/cudf_polars/experimental/utils.py
Labels: Python, cudf.polars

fix
  cpp/src/io/parquet/page_enc.cu
Labels: libcudf

tests
  cpp/src/io/utilities/config_utils.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Add `Distinct` support to the cudf-polars streaming executor (#18576)
  python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/tests/experimental/test_unique.py
Labels: Python, cudf.polars

refactor: use `libnvcomp` from `libkvikio` wheel to unblock Python 3.13 upgrade (#18593)
  ci/build_wheel_libcudf.sh
  dependencies.yaml
  python/libcudf/CMakeLists.txt
  python/libcudf/pyproject.toml
Labels: Python, CMake

expand tests a bit more
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

extend to group_by
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

Merge branch-25.06 into branch-25.08
  ci/build_wheel_libcudf.sh
  dependencies.yaml
  python/libcudf/CMakeLists.txt
  python/libcudf/pyproject.toml
Labels: Python, CMake

use CUDF_ENABLE_IF
  cpp/include/cudf/detail/utilities/device_operators.cuh
Labels: libcudf

Add support for Python 3.13.
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, cudf.polars, pylibcudf

Replace `GPU_ARCHS` build variable by `CMAKE_CUDA_ARCHITECTURES` (#18506)
  .github/workflows/spark-rapids-jni.yaml
  build.sh
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: CMake, Java

Sort-based inner join for high-multiplicity tables (#18318)
  cpp/CMakeLists.txt
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
  cpp/tests/streams/join_test.cpp
Labels: libcudf, CMake

Print the physical cudf-polars plan in ``pdsh.py`` (#18635)
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

more tests
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

drop the exit code
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
