Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Add check for children
  python/cudf/cudf/core/column/string.py
Labels: Python

missed one more overload
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

Remove `FindCUDAToolkit` backport (#18081)
  cpp/cmake/Modules/FindCUDAToolkit.cmake
Labels: libcudf, CMake

refactoring
  cpp/include/cudf/jit/types.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
Labels: libcudf

refactoring
  cpp/src/transform/transform.cpp
Labels: libcudf

Read the footers in parallel when reading multiple Parquet files (#17957)
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/utilities/host_worker_pool.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/utilities/host_worker_pool.cpp
Labels: libcudf, CMake

Add fix templating of methods, start defining timestamp types
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar.pxd
  python/pylibcudf/pylibcudf/libcudf/wrappers/timestamps.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Re-define duration types
  python/pylibcudf/pylibcudf/libcudf/wrappers/durations.pxd
Labels: Python, pylibcudf

the whole thing
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  python/cudf/cudf/io/parquet.py
Labels: Python, libcudf

docs
  python/cudf/cudf/utils/ioutils.py
Labels: Python

Finally compiles
  python/pylibcudf/pylibcudf/libcudf/wrappers/durations.pxd
  python/pylibcudf/pylibcudf/libcudf/wrappers/timestamps.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Remove declaration
  python/pylibcudf/pylibcudf/libcudf/wrappers/timestamps.pxd
Labels: Python, pylibcudf

First attempt
  cpp/CMakeLists.txt
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf, CMake

Support construction from streams
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
  cpp/tests/interop/from_arrow_stream_test.cpp
  cpp/tests/interop/nanoarrow_utils.hpp
Labels: libcudf

Add documentation
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
Labels: libcudf

Make ownership semantics consistent across types
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

Fix some bugs
  cpp/src/interop/arrow_column.cpp
Labels: libcudf

Get tests passing with complex nanoarrow host tables
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

Add arrow conversions
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

Support direct ingestion of ArrowArray data
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

Basic arrow table
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

Implement conversion to host array
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

Support single columns from arrow host data
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

Get basic conversion working starting with a cudf column
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

Some cleanup
  cpp/src/interop/arrow_column.cpp
Labels: libcudf

CMake testing changes
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Make sure stream and mr are forwarded everywhere
  cpp/src/interop/arrow_column.cpp
Labels: libcudf

Add explicit test of lifetime management
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

More CMake testing
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Also test nanoarrow device data
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

More CMake testing changes
  cpp/cmake/thirdparty/get_nanoarrow.cmake
Labels: libcudf, CMake

Use nanoarray for copying schema
  cpp/src/interop/arrow_column.cpp
Labels: libcudf

Fully passing first round of tests.
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

More CMake testing
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Enable getting views and try asserting equivalence
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

Fix reference bug
  cpp/src/interop/arrow_column.cpp
Labels: libcudf

Centralize as much logic as possible
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

Enable construction from an ArrowDeviceArray
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf

More cleanup
  cpp/src/interop/arrow_column.cpp
Labels: libcudf

Support construction from device array
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_column.cpp
  cpp/tests/interop/arrow_column_test.cpp
Labels: libcudf
