Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

refactored jit runtime support header
  cpp/CMakeLists.txt
Labels: libcudf, CMake

removed redundant fixed_point header
  cpp/src/transform/jit/kernel.cu
Labels: libcudf

added runtime jit checks and test skips
  cpp/src/transform/transform.cpp
  cpp/tests/binaryop/binop-generic-ptx-test.cpp
  cpp/tests/binaryop/binop-null-test.cpp
  cpp/tests/streams/binaryop_test.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

Add fallback case
  python/cudf/cudf/core/column/column.py
Labels: Python

address review
  python/pylibcudf/pylibcudf/tests/test_column_from_device.py
Labels: Python, pylibcudf

moved int128 flags to runtime
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/src/transform/transform.cpp
Labels: libcudf, CMake

Add description of the memory management logic and update some comments.
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
Labels: libcudf

Make to_arrow_schema const
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
Labels: libcudf

start 2nd api
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
Labels: libcudf

remove hardcoded buffer indices
  cpp/src/interop/from_arrow_host_strings.cu
Labels: libcudf

Check for error
  cpp/include/cudf_test/nanoarrow_utils.hpp
Labels: libcudf

Split Narwhals cudf.pandas tests failures into to fix and to skip (#18267)
  ci/test_narwhals.sh
Labels: none

address review
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Add owning types to hold Arrow data (#18084)
  cpp/CMakeLists.txt
  cpp/include/cudf/interop.hpp
  cpp/include/cudf_test/nanoarrow_utils.hpp
  cpp/src/interop/arrow_data_structures.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/interop/arrow_data_structures_test.cpp
  cpp/tests/interop/from_arrow_stream_test.cpp
Labels: libcudf, CMake

Introduce ZSTD host-side compression and decompression APIs (#17935)
  cpp/cmake/thirdparty/get_zstd.cmake
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/json/read_json.cu
  cpp/tests/io/comp/comp_test.cpp
  cpp/tests/io/json/json_chunked_reader.cu
  cpp/tests/io/json/json_test.cpp
Labels: libcudf, CMake

Add stream parameters in pylibcudf IO APIs (#17620)
  python/pylibcudf/pylibcudf/io/avro.pxd
  python/pylibcudf/pylibcudf/io/avro.pyi
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/io/csv.pyi
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/orc.pxd
  python/pylibcudf/pylibcudf/io/orc.pyi
  python/pylibcudf/pylibcudf/io/orc.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyi
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/libcudf/io/avro.pxd
  python/pylibcudf/pylibcudf/libcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
  python/pylibcudf/pylibcudf/libcudf/io/orc.pxd
  python/pylibcudf/pylibcudf/libcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/tests/io/test_avro.py
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
  python/pylibcudf/pylibcudf/tests/io/test_json.py
  python/pylibcudf/pylibcudf/tests/io/test_orc.py
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
  python/pylibcudf/pylibcudf/utils.pxd
  python/pylibcudf/pylibcudf/utils.pyx
Labels: Python, pylibcudf

Get tests passing again
  cpp/src/interop/arrow_data_structures.cpp
  cpp/tests/interop/arrow_data_structures_test.cpp
Labels: libcudf

Update APIs to use the stored view
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
Labels: libcudf

Remove incorrect comment
  cpp/include/cudf/interop.hpp
Labels: libcudf

Add view type to be owned by the arrow types
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
Labels: libcudf

Move around the code for better column and table alignment
  cpp/src/interop/arrow_data_structures.cpp
Labels: libcudf

Also resort the header
  cpp/include/cudf/interop.hpp
Labels: libcudf

Remove now unnecessary stream/mr parameters
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
Labels: libcudf

merge fix
  cpp/src/io/comp/comp.cpp
Labels: libcudf

update fix
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

Make a pylibcudf Column from a device array object with `strides=None` (#18295)
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_device.py
Labels: Python, pylibcudf

xfail narwhals sqlframe tests (#18297)
  ci/test_narwhals.sh
  python/cudf/cudf/testing/narwhals_test_plugin.py
Labels: Python

Remove import
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Java

Define Column.where to be used across DataFrame/Series (#18186)
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

another merge fix
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

First port of init cleanup
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

use dot notation in config name
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Fix some bugs
  python/cudf/cudf/core/dataframe.py
Labels: Python

xfail more tests
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

add n_unique support
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

Test include_files_paths falls back
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

Test plugin updates for 1.25.2
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Add interop support from arrow StringView to libcudf strings column (#18107)
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/interop/interop_stringview.cpp
  cpp/src/interop/arrow_utilities.cpp
  cpp/src/interop/arrow_utilities.hpp
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/from_arrow_host.hpp
  cpp/src/interop/from_arrow_host_strings.cu
  cpp/tests/interop/from_arrow_host_test.cpp
Labels: libcudf, CMake

Update recipe.yaml
  conda/recipes/cudf/recipe.yaml
Labels: none

Test out `update-latest-branch` workflow
  .github/workflows/pr.yaml
Labels: none

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
