Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Update test_stumpy_distributed.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: Python, cudf.pandas

skip
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: Python, cudf.pandas

pin ibis
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

refactored tests
  python/pylibcudf/pylibcudf/tests/test_transform.py
Labels: Python, pylibcudf

Enable third party library integration tests in CI with `cudf.pandas` (#17936)
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: Python, cudf.pandas

fix tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: Python, cudf.pandas

pass do_evaluate to rust
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

pass do_evaluate to rust
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

retarget 25.02
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Remove pandas backend from `cudf.pandas` - ibis integration tests (#17945)
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Use Conda XGBoost (#17959)
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

remove xfails
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_holoviews.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_matplotlib.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_numpy.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_seaborn.py
Labels: Python, cudf.pandas

Install duckdb the default backend for ibis in the cudf.pandas integration tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

Update cpp/include/cudf/detail/utilities/cast_functor.cuh
  cpp/include/cudf/detail/utilities/cast_functor.cuh
Labels: libcudf

Raise NotImplementedError for groupby.agg if duplicate columns would be created (#17956)
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

remove xfails
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_cugraph.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: Python, cudf.pandas

fix + asserts
  cpp/include/cudf/utilities/span.hpp
Labels: libcudf

Update python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/column.py
Labels: Python, cudf.polars

Update python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/column.py
Labels: Python, cudf.polars

refactor code and add more comments
  cpp/benchmarks/text/subword.cpp
  cpp/include/nvtext/wordpiece_tokenize.hpp
  cpp/src/text/wordpiece_tokenize.cu
Labels: libcudf

Fix race check failures
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
  cpp/src/groupby/hash/shared_memory_aggregator.cuh
Labels: libcudf

target 25.02
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Pin `ibis` version in the cudf.pandas integration tests <10.0.0 (#17975)
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Apply suggestions from code review
  cpp/src/io/comp/comp.cpp
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

small bug fix
  cpp/src/io/json/read_json.cu
Labels: libcudf

formatting
  cpp/src/io/json/read_json.cu
  cpp/tests/large_strings/json_tests.cu
Labels: libcudf

Revert testing changes
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  ci/cudf_pandas_scripts/run_tests.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_java.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
  rapids_config.cmake
Labels: CMake

Make load orders consistent
  python/libcudf/libcudf/load.py
Labels: Python

Avoid ternary and casting
  cpp/src/utilities/logger.cpp
Labels: libcudf

Get rid of the deprecated `thrust::identity` (#17942)
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/include/cudf/detail/utilities/cast_functor.cuh
  cpp/include/cudf/reduction/detail/reduction_operators.cuh
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/io/json/json_normalization.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join_utils.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/interleave_columns.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/sort/rank.cu
  cpp/src/stream_compaction/unique.cu
  cpp/src/strings/search/contains_multiple.cu
  cpp/tests/iterator/iterator_tests.cuh
  cpp/tests/iterator/value_iterator_test_transform.cu
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/utilities/column_utilities.cu
Labels: libcudf

Delete now redundant logger tests
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities_tests/logger_tests.cpp
Labels: libcudf, CMake

Rename equality_literals to simply literals for reuse elsewhere
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Make literals protected instead of private.
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Remove unnecessary index
  dependencies.yaml
Labels: none

apply fix correctly
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

Add the missed replacements
  cpp/src/io/parquet/bloom_filter_reader.cu
Labels: libcudf

Update python/libcudf/libcudf/load.py
  python/libcudf/libcudf/load.py
Labels: Python

Remove cudf.dtype calls from where
  python/cudf/cudf/core/_internals/where.py
Labels: Python

comments for tests
  cpp/tests/large_strings/json_tests.cu
Labels: libcudf

change min() to cuda::std::min()
  cpp/src/text/normalize.cu
Labels: libcudf
