Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Ignore libcufile from run-exports in libcudf-example and libcudf-tests.
  conda/recipes/libcudf/recipe.yaml
Labels: none

Prune some seldom used dtype utils (#18141)
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/testing/dataset_generator.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python

Support deserializing cudf-polars objects composed of RMM frames (#18138)
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: Python, cudf.polars

Test cudf against the latest stable branch of Narwhals (#18162)
  ci/test_narwhals.sh
Labels: none

Drop unnecessary fmt dep (#18177)
  conda/recipes/libcudf/recipe.yaml
Labels: none

renames
  cpp/src/io/comp/uncomp.cpp
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

Add telemetry to build workflows (#18154)
  .github/workflows/build.yaml
Labels: none

Unpin numpy<2.1 (#18128)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_unaops.py
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.polars, pylibcudf

docs + code reuse
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Apply suggestions from code review
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
  cpp/tests/interop/arrow_data_structures_test.cpp
Labels: libcudf

Some additional fixes
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
Labels: libcudf

Move nanoarrow_utils.hpp from cpp/tests/interop to cpp/include/cudf_test (#18163)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/interop/interop.cpp
  cpp/include/cudf_test/nanoarrow_utils.hpp
  cpp/tests/interop/from_arrow_device_test.cpp
  cpp/tests/interop/from_arrow_host_test.cpp
  cpp/tests/interop/from_arrow_stream_test.cpp
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_device_test.cpp
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: libcudf, CMake

fix strings; decomp optimizations
  cpp/src/io/comp/common.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Update Dask-cuDF documentation to fix all warnings and errors (#18157)
  docs/dask_cudf/Makefile
  docs/dask_cudf/source/api.rst
  docs/dask_cudf/source/best_practices.rst
  docs/dask_cudf/source/conf.py
  docs/dask_cudf/source/index.rst
  python/dask_cudf/dask_cudf/core.py
Labels: Python

Remove cudf.Scalar in where (#18178)
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
Labels: Python

send sccache logs to telemetry (#18069)
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
Labels: none

Allow nonnative cupy dtype in cudf.Series (#18164)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

Fix merge(how=left, left_on=, right_index=True, sort=True) (#18166)
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: Python

Ignore run exports of libcufile. (#18190)
  conda/recipes/libcudf/recipe.yaml
Labels: none

Fix some typos
  cpp/src/interop/arrow_data_structures.cpp
Labels: libcudf

Support sorted merges in cudf.polars (#18075)
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_mapfunction.py
  python/cudf_polars/tests/test_merge_sorted.py
Labels: Python, cudf.polars

Adjust where implementation for other ruff PR
  python/cudf/cudf/core/column/column.py
Labels: Python

Drop `CUB_QUOTIENT_CEILING` (#18179)
  cpp/src/io/fst/agent_dfa.cuh
  cpp/src/io/fst/dispatch_dfa.cuh
Labels: libcudf

Ensure dtype objects are passed within Column.astype (#17978)
  docs/cudf/source/conf.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Ensure RAPIDS_ARTIFACTS_DIR is set for build metrics reports.
  ci/build_cpp.sh
Labels: none

Breakthrough bug fixes
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf

Bug fix for the bug fix
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Update for tests
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Remove redundant tests
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Remove redundant tests
  cpp/src/io/parquet/reader_impl_chunking.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, libcudf

More tests
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Support `cudf-polars` `ordinal_day` (#18152)
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

passing compute sanitizer, but not leak check
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/udf_cpp/strings/include/cudf/strings/udf/udf_apis.hpp
Labels: Python

Added pyblibcudf.contiguous_split to API docs
  docs/cudf/source/pylibcudf/api_docs/contiguous_split.rst
  docs/cudf/source/pylibcudf/api_docs/index.rst
Labels: none

Try upstream jitify2
  cpp/cmake/thirdparty/get_jitify.cmake
Labels: libcudf, CMake

Test Basit's jitify fork
  cpp/cmake/thirdparty/get_jitify.cmake
Labels: libcudf, CMake

Include libnvjitlink-dev in build environments.
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/recipe.yaml
  dependencies.yaml
Labels: none

fix(rattler): add `cudatoolkit` ignore run export to `cudf`
  conda/recipes/cudf/recipe.yaml
Labels: none

more empty dictionary checks
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_host.cu
  cpp/tests/interop/to_arrow_device_test.cpp
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: libcudf

Use xdist worksteal on test suite
  ci/cudf_pandas_scripts/run_tests.sh
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/test_profiler.py
Labels: Python, cudf.pandas

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
