Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Improve docs
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

pr review: making the nested preprocessed table struct private
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

formatting; small fix
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

pr reviews: all temporaries in default mr
  cpp/benchmarks/join/multiplicity_join.cu
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Add parquet schema structs to `io_types` docs group
  cpp/include/cudf/io/parquet_schema.hpp
Labels: libcudf

Add hybrid_scan_reader to `io_readers` docs group
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Define THRUST_FORCE_32_BIT_OFFSET_TYPE=1 CCCL_AVOID_SORT_UNROLL=1 for tests.
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Also for benchmarks, just in case.
  cpp/benchmarks/CMakeLists.txt
Labels: libcudf, CMake

Deduplicate Parquet physical type enums
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/tests/io/parquet_reader_test.cpp
Labels: libcudf

pr review
  cpp/benchmarks/join/join_common.hpp
Labels: libcudf

Add to_arrow_host_stringview interop API (#18416)
  cpp/include/cudf/interop.hpp
  cpp/src/interop/to_arrow_host.cu
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: libcudf

address review
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json/json_writer.cpp
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
  python/pylibcudf/pylibcudf/tests/io/test_json.py
Labels: Python, pylibcudf, libcudf

address review
  cpp/src/io/json/write_json.cu
Labels: libcudf

address review
  python/pylibcudf/pylibcudf/tests/io/test_json.py
Labels: Python, pylibcudf

dont create a memory resource by default when distributed scheduler is active
  python/cudf_polars/cudf_polars/callback.py
Labels: Python, cudf.polars

fix buffer clearing in column for copy on write
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_copying.py
Labels: Python

pr review: bool->sorted enum; variable renaming
  cpp/benchmarks/join/multiplicity_join.cu
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Remove CCCL < 2.8 support in dispatch_dfa.cuh.
  cpp/src/io/fst/dispatch_dfa.cuh
Labels: libcudf

style fix
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Update dependencies.yaml
  dependencies.yaml
Labels: none

Update dependencies.yaml
  dependencies.yaml
Labels: none

Pin hypothesis<6.131.1 due to performance issues
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, pylibcudf

Update run.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
Labels: none

Update dependencies.yaml
  dependencies.yaml
Labels: none

Update docs and avoid using deprecated APIs
  cpp/include/cudf/join/distinct_hash_join.hpp
  cpp/include/cudf/join/hash_join.hpp
  cpp/src/join/join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Update pyproject.toml
  python/cudf/pyproject.toml
Labels: Python

pr review: exec policy sync->nosync
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Skip doxygen check for `using Type`
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/include/cudf/io/parquet_metadata.hpp
Labels: libcudf

fix coverage check
  python/cudf_polars/cudf_polars/callback.py
Labels: Python, cudf.polars

Skip doxygen for `byte_range_info`
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Update column.py
  python/cudf/cudf/core/column/column.py
Labels: Python

refactoring + added buffer_string abstraction
  cpp/include/cudf/jit/span.cuh
  cpp/include/cudf/utilities/buffer_string.cuh
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

address review
  python/cudf_polars/cudf_polars/testing/asserts.py
Labels: Python, cudf.polars

Apply suggestions from code review
  cpp/include/cudf/fixed_point/detail/count_significant_bits.hpp
  cpp/include/cudf/fixed_point/detail/floating_conversion.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/io/comp/comp.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
Labels: libcudf

Add tests for invalid load factor
  cpp/src/join/hash_join.cu
  cpp/tests/join/distinct_join_tests.cpp
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Use <cuda/std/iterator> instead of <thrust/iterator/iterator_traits.h>
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/labeling/label_segments.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/reduction/detail/reduction.cuh
  cpp/include/cudf/reduction/detail/segmented_reduction.cuh
  cpp/src/reductions/minmax.cu
Labels: libcudf

Add full occupancy tests
  cpp/tests/join/distinct_join_tests.cpp
  cpp/tests/join/join_tests.cpp
Labels: libcudf

address review, make sink node hashable
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/asserts.py
Labels: Python, cudf.polars

Pin hypothesis<6.131.1 due to performance issues (#18532)
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, pylibcudf

Fixes
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_select.py
  python/cudf_polars/tests/experimental/test_shuffle.py
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars
