Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

address review
  cpp/src/reshape/table_to_array.cu
Labels: libcudf

add imports back
  python/pylibcudf/pylibcudf/io/types.pyx
Labels: Python, pylibcudf

pass a device_span instead of a raw pointer
  cpp/benchmarks/reshape/table_to_array.cpp
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/table_to_array.cu
  cpp/tests/reshape/table_to_array_tests.cpp
Labels: libcudf

Add deprecated attribute
  cpp/include/cudf/join/distinct_hash_join.hpp
  cpp/include/cudf/join/hash_join.hpp
Labels: libcudf

Update benchmarks to use the new API
  cpp/benchmarks/join/distinct_join.cu
  cpp/include/cudf/join/distinct_hash_join.hpp
Labels: libcudf

rename executors
  ci/run_cudf_polars_pytests.sh
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/conftest.py
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_parallel.py
  python/cudf_polars/tests/experimental/test_rapidsmpf.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/experimental/test_select.py
  python/cudf_polars/tests/experimental/test_shuffle.py
  python/cudf_polars/tests/test_executors.py
Labels: Python, cudf.polars

add cython bindings
  python/pylibcudf/pylibcudf/libcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pyx
Labels: Python, pylibcudf

add imports back
  python/pylibcudf/pylibcudf/io/types.pxd
Labels: Python, pylibcudf

pr reviews
  cpp/src/io/comp/uncomp.cpp
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf

improve shuffle-method validation
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

fixing auto detection for other buffer types
  cpp/src/io/functions.cpp
Labels: libcudf

Update python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/io/types.pyx
Labels: Python, pylibcudf

add a test
  python/pylibcudf/pylibcudf/libcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pyx
  python/pylibcudf/pylibcudf/tests/test_reshape.py
Labels: Python, pylibcudf

Remove casting functions in pylibcudf utils (#18497)
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/contiguous_split.pyx
  python/pylibcudf/pylibcudf/null_mask.pyx
  python/pylibcudf/pylibcudf/transform.pyx
  python/pylibcudf/pylibcudf/utils.pxd
  python/pylibcudf/pylibcudf/utils.pyx
Labels: Python, pylibcudf

Add type stubs
  python/pylibcudf/pylibcudf/reshape.pyi
  python/pylibcudf/pylibcudf/reshape.pyx
Labels: Python, pylibcudf

sort file names
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Add null mask optimizations
  cpp/benchmarks/null_mask/set_null_mask.cpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

style fix
  cpp/benchmarks/null_mask/set_null_mask.cpp
Labels: libcudf

moved get_mask_offset_word
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_device_view_base.cuh
Labels: libcudf

docs pls
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/include/cudf/io/parquet_schema.hpp
Labels: libcudf

Minor comments
  cpp/benchmarks/null_mask/set_null_mask.cpp
Labels: libcudf

revise shuffle_method logic
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/experimental/test_shuffle.py
Labels: Python, cudf.polars

re-order evaluate logic
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Cleanup
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

remove scheduler_options for now
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

adjust docstring
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

always pass in config_options
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/experimental/test_shuffle.py
Labels: Python, cudf.polars

Improve heuristic
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

Code cleanup
  cpp/benchmarks/null_mask/set_null_mask.cpp
Labels: libcudf

Remove std::cout
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

Improvement
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

Improve test
  cpp/tests/bitmask/set_nullmask_tests.cu
Labels: libcudf

docs fix
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

update
  cpp/include/cudf/jit/raw_span.cuh
  cpp/include/cudf/jit/span.cuh
  cpp/include/cudf/transform.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
Labels: libcudf

add step to fguidelines olrcompplete contribution cycle
  CONTRIBUTING.md
Labels: none

improve docs related to documentation contribution
  CONTRIBUTING.md
  docs/cudf/source/developer_guide/documentation.md
Labels: none

replace mamba for conda
  CONTRIBUTING.md
Labels: none

no coverage for SerializerManager
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
Labels: Python, cudf.polars

Fix the issue that fails the cudf import test
  cpp/include/cudf/io/kvikio_manager.hpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/kvikio_manager.cpp
Labels: libcudf

improve coverage
  python/cudf_polars/tests/dsl/test_expr.py
Labels: Python, cudf.polars

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
