Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Update python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

formatting
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

style fix after suggestion
  python/cudf_polars/cudf_polars/experimental/io.py
Labels: Python, cudf.polars

Update python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

Cleanups
  cpp/include/cudf/table/primitive_row_operators.cuh
Labels: libcudf

improve coverage
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

improve coverage
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

improve coverage
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

fix
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_list.py
Labels: Python

used TypedDict
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

Skip MVC patching for ptxcompiler / CUDA 11 when running with a CUDA 12 driver.
  python/cudf/cudf/utils/_numba.py
Labels: Python

Use aligned_mr for bloom filter allocations
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Update
  cpp/src/io/orc/stripe_data.cu
  cpp/tests/io/orc_test.cpp
  debug/orc_null/breakpoints.txt
  debug/orc_null/data/five_elements.orc
  debug/orc_null/generate_data.py
Labels: libcudf

add test
  python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/tests/experimental/test_utils.py
Labels: Python, cudf.polars

Move distinct join query to a free function
  cpp/src/join/distinct_hash_join.cu
Labels: libcudf

Move code around
  cpp/src/join/distinct_hash_join.cu
Labels: libcudf

address review
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/utils.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json/json_writer.cpp
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/tests/test_sink.py
  python/pylibcudf/pylibcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/io/csv.pyi
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyi
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/libcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
  python/pylibcudf/pylibcudf/libcudf/io/parquet.pxd
Labels: Python, cudf.polars, pylibcudf, libcudf

Apply suggestions from code review
  python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Update python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/cudf_polars/experimental/distinct.py
Labels: Python, cudf.polars

Final cleanup
  cpp/src/join/distinct_hash_join.cu
Labels: libcudf

Update python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/join.py
Labels: Python, cudf.polars

fix formatting
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

Simplify test further (same logic for CUDA 11 and CUDA 12, with newer Numba version).
  python/cudf/cudf/tests/test_mvc.py
Labels: Python

Use Distinct in rewrite_groupby
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Update rapids_config.cmake: Test NVTX update
  cmake/rapids_config.cmake
Labels: CMake

update unique fallback
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/tests/experimental/test_unique.py
Labels: Python, cudf.polars

Revise `DaskIntegration` protocol to align with `rapidsmpf` (#18720)
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

Minor cleanups
  cpp/include/cudf/table/primitive_row_operators.cuh
Labels: libcudf

Update label_bins.cu
  cpp/src/labeling/label_bins.cu
Labels: libcudf

address review
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/utils.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/functions.cpp
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json/json_writer.cpp
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_sink.py
  python/pylibcudf/pylibcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/io/csv.pyi
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
Labels: Python, cudf.polars, pylibcudf, libcudf

remove to_cupy benchmark
  python/cudf/benchmarks/API/bench_series.py
Labels: Python

Import pyarrow dataset in cudf.pandas
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: Python, cudf.pandas

Remove _typ attribute
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: Python, cudf.pandas

Remove ABCSeries definition
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: Python, cudf.pandas

address review
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

Update docs
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
Labels: libcudf

add --explain-logical arg
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

Add string_view guarded by if statement
  python/pylibcudf/pylibcudf/interop.pyx
Labels: Python, pylibcudf

remove projection and select dispath functions
  python/cudf_polars/cudf_polars/experimental/explain.py
Labels: Python, cudf.polars

Code cleanup
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
