Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Fix `std::accumulate`s across the experimental reader
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Apply suggestions from code review
  cpp/benchmarks/common/generate_input.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
Labels: libcudf

bug fixing
  cpp/benchmarks/null_mask/set_null_mask.cpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/tests/bitmask/set_nullmask_tests.cu
Labels: libcudf

Fix docs build error
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Update cmake script. Use CUDA driver macro
  cpp/CMakeLists.txt
  cpp/src/utilities/system.cpp
Labels: libcudf, CMake

Update
  cpp/include/cudf/io/kvikio_manager.hpp
  cpp/src/io/utilities/kvikio_manager.cpp
Labels: libcudf

Improve implementation
  cpp/src/io/utilities/kvikio_manager.cpp
Labels: libcudf

Update
  cpp/include/cudf/io/kvikio_manager.hpp
  cpp/src/io/utilities/kvikio_manager.cpp
Labels: libcudf

more partial work
  cpp/include/cudf/join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

pr reviews
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
Labels: Python

Update compression formats supported in JSON reader (#18438)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
  python/cudf/pyproject.toml
Labels: Python

Update
  cpp/include/cudf/io/kvikio_manager.hpp
  cpp/src/io/utilities/kvikio_manager.cpp
  python/cudf/cudf/options.py
  python/pylibcudf/pylibcudf/io/kvikio_manager.pyx
  python/pylibcudf/pylibcudf/libcudf/io/kvikio_manager.pxd
Labels: Python, pylibcudf, libcudf

update
  cpp/include/cudf/jit/raw_span.cuh
  cpp/include/cudf/transform.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

refactor(rattler): use `RATTLER_ARGS` from `gha-tools`
  ci/build_cpp.sh
  ci/build_python.sh
Labels: none

Add stub file for kvikio manager
  python/pylibcudf/pylibcudf/io/kvikio_manager.pyi
Labels: Python, pylibcudf

Refactored Select decomposition - IR rewrites only - No new task-graph logic.
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/utils/__init__.py
  python/cudf_polars/cudf_polars/dsl/utils/naming.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/dsl/test_expr.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

Fix doxygen
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Split join header (#18484)
  cpp/benchmarks/common/ndsh_data_generator/table_helpers.cpp
  cpp/benchmarks/join/conditional_join.cu
  cpp/benchmarks/join/distinct_join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/mixed_join.cu
  cpp/benchmarks/ndsh/utilities.cpp
  cpp/examples/nested_types/deduplication.cpp
  cpp/examples/parquet_io/common_utils.cpp
  cpp/include/cudf/join.hpp
  cpp/include/cudf/join/conditional_join.hpp
  cpp/include/cudf/join/distinct_hash_join.hpp
  cpp/include/cudf/join/hash_join.hpp
  cpp/include/cudf/join/join.hpp
  cpp/include/cudf/join/mixed_join.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/cross_join.cu
  cpp/src/join/distinct_hash_join.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_semi.cu
  cpp/src/join/semi_join.cu
  cpp/tests/join/conditional_join_tests.cu
  cpp/tests/join/cross_join_tests.cpp
  cpp/tests/join/distinct_join_tests.cpp
  cpp/tests/join/join_tests.cpp
  cpp/tests/join/mixed_join_tests.cu
  cpp/tests/join/semi_anti_join_tests.cpp
  cpp/tests/streams/join_test.cpp
  java/src/main/native/src/HashJoinJni.cpp
  java/src/main/native/src/TableJni.cpp
  python/pylibcudf/pylibcudf/libcudf/join.pxd
Labels: Python, pylibcudf, libcudf, Java

rename rapdidsmp to rapidsmpf
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/experimental/test_rapidsmpf.py
Labels: Python, cudf.polars

partial work
  cpp/include/cudf/join.hpp
  cpp/include/cudf/sort_merge_join.cuh
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Renaming
  cpp/src/transform/compute_column_kernel.cuh
  cpp/src/transform/compute_column_kernel.hpp
Labels: libcudf

Apply suggestions from code review
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

Fix compilation with the C++20 standard (#18486)
  cpp/benchmarks/common/generate_input.cu
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/lists/contains.cu
Labels: libcudf

updates
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

Minor improvements and add loop benchmark
  cpp/benchmarks/null_mask/set_null_mask.cpp
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

moved and renamed raw_column_device_view
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_device_view_base.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/transform/jit/kernel.cu
Labels: libcudf

formatting and doc update
  cpp/include/cudf/column/column_device_view_base.cuh
  cpp/src/column/column_device_view.cu
Labels: libcudf

Add additional isin test case
  python/cudf/cudf/tests/test_series.py
Labels: Python

docs pls
  cpp/include/cudf/io/parquet_schema.hpp
Labels: libcudf

docs
  cpp/include/cudf/io/parquet_schema.hpp
Labels: libcudf

Update docs
  cpp/include/cudf/join/hash_join.hpp
Labels: libcudf

Support reading from device buffers in pylibcudf IO APIs
  python/pylibcudf/pylibcudf/io/types.pxd
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/libcudf/io/types.pxd
  python/pylibcudf/pylibcudf/tests/common/utils.py
  python/pylibcudf/pylibcudf/tests/io/test_avro.py
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
  python/pylibcudf/pylibcudf/tests/io/test_json.py
  python/pylibcudf/pylibcudf/tests/io/test_orc.py
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
Labels: Python, pylibcudf

add dtypebackend
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python

Add load factor check
  cpp/include/cudf/join/distinct_hash_join.hpp
  cpp/include/cudf/join/hash_join.hpp
  cpp/src/join/distinct_hash_join.cu
  cpp/src/join/hash_join.cu
Labels: libcudf

partial work
  cpp/include/cudf/join.hpp
  cpp/include/cudf/join/sort_merge_join.cuh
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Rename rapidsmp to rapidsmpf (#18493)
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/experimental/test_rapidsmpf.py
Labels: Python, cudf.polars

clean up
  python/pylibcudf/pylibcudf/io/types.pxd
Labels: Python, pylibcudf

Remove casting functions in pylibcudf utils
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/contiguous_split.pyx
  python/pylibcudf/pylibcudf/null_mask.pyx
  python/pylibcudf/pylibcudf/transform.pyx
  python/pylibcudf/pylibcudf/utils.pxd
  python/pylibcudf/pylibcudf/utils.pyx
Labels: Python, pylibcudf

docs
  python/pylibcudf/pylibcudf/io/types.pyx
Labels: Python, pylibcudf

Use cub::detail::AliasTemporaries in CCCL 2.8.
  cpp/src/io/fst/dispatch_dfa.cuh
Labels: libcudf
