Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

style
  python/pylibcudf/pylibcudf/io/parquet.pxd
Labels: Python, pylibcudf

Fix scatter_by_map with spilling enabled
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_spilling.py
Labels: Python

Remove unused var
  python/cudf/CMakeLists.txt
  python/cudf_kafka/CMakeLists.txt
  python/pylibcudf/CMakeLists.txt
Labels: Python, pylibcudf, CMake

Add a list of expected failures to narwhals tests
  ci/test_narwhals.sh
  python/cudf/cudf/testing/__init__.py
  python/cudf/cudf/testing/narwhals_tests_plugin.py
Labels: Python

Update numba dep and upper-bound numpy (#18078)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/pylibcudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.polars, pylibcudf

Remove static configure step (#18091)
  .github/workflows/pr.yaml
  ci/configure_cpp_static.sh
Labels: none

Run narwhals tests nightly. (#18093)
  .github/workflows/test.yaml
Labels: none

Add new nvtext::normalize_characters API (#17818)
  cpp/benchmarks/text/normalize.cpp
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/include/nvtext/normalize.hpp
  cpp/src/strings/utilities.cu
  cpp/src/text/normalize.cu
  cpp/src/text/normalize.cuh
  cpp/src/text/subword/data_normalizer.cu
  cpp/tests/text/normalize_tests.cpp
  python/cudf/cudf/core/character_normalizer.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/normalize.pxd
  python/pylibcudf/pylibcudf/nvtext/normalize.pxd
  python/pylibcudf/pylibcudf/nvtext/normalize.pyi
  python/pylibcudf/pylibcudf/nvtext/normalize.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_normalize.py
Labels: Python, pylibcudf, libcudf

Remove static column vectors from window function tests.
  cpp/tests/rolling/offset_row_window_test.cpp
Labels: libcudf

Remove unused var (#18096)
  python/cudf/CMakeLists.txt
  python/cudf_kafka/CMakeLists.txt
  python/pylibcudf/CMakeLists.txt
Labels: Python, pylibcudf, CMake

fixed wheel build locations
  ci/build_wheel.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_cudf_polars.sh
  ci/build_wheel_dask_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/validate_wheel.sh
Labels: none

Fixed copyright date.
  cpp/tests/rolling/offset_row_window_test.cpp
Labels: libcudf

Removed trailing whitespace.
  cpp/tests/rolling/offset_row_window_test.cpp
Labels: libcudf

Fix scatter_by_map with spilling enabled (#18095)
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_spilling.py
Labels: Python

Handle pandas IntervalDtype casting, IntervalDtype equality
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
Labels: Python

fixed issue with wheel locations
  ci/build_wheel.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
Labels: none

Fix `test_scan_csv_multi` cudf-polars test (#18064)
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

fixed wheel builds
  ci/build_wheel_cudf.sh
  ci/build_wheel_pylibcudf.sh
Labels: none

Rename test
  cpp/tests/CMakeLists.txt
  cpp/tests/interop/arrow_data_structures_test.cpp
Labels: libcudf, CMake

remove import
  python/cudf/cudf/testing/__init__.py
Labels: Python

Formatting.
  cpp/tests/rolling/offset_row_window_test.cpp
Labels: libcudf

add table_metadata num_row_groups_after_*_filter into pylibcudf (not working sofar)
  python/pylibcudf/pylibcudf/io/types.pyi
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/libcudf/io/types.pxd
Labels: Python, pylibcudf

add --importlib
  ci/test_narwhals.sh
Labels: none

import narwhals_tests_plugin
  python/cudf/cudf/testing/__init__.py
Labels: Python

Relax inconsistent schema handling in `dask_cudf.read_parquet` (#17554)
  python/dask_cudf/dask_cudf/_legacy/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: Python

lazy import narwhals_tests_plugin
  python/cudf/cudf/testing/__init__.py
Labels: Python

Short circuit Index.equal if compared Index isn't same type (#18067)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/index.py
Labels: Python

update api and tests
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

test
  ci/test_narwhals.sh
Labels: none

Add include for `<functional>`
  cpp/benchmarks/common/random_distribution_factory.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/host_tree_algorithms.cu
  cpp/src/io/json/read_json.cu
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/lists/dremel.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/replace/multi_re.cu
  cpp/src/table/row_operators.cu
  cpp/src/text/bpe/load_merge_pairs.cu
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/io/metadata_utilities.cpp
  cpp/tests/io/parquet_writer_test.cpp
  cpp/tests/reductions/scan_tests.cpp
Labels: libcudf

use new get_first_and_last_offset utility
  cpp/src/text/wordpiece_tokenize.cu
Labels: libcudf

Enforce deprecation of dtype parameter in sum/product (#18070)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_reductions.py
Labels: Python

Revert "lazy import narwhals_tests_plugin"
  python/cudf/cudf/testing/__init__.py
Labels: Python

Revert "import narwhals_tests_plugin"
  python/cudf/cudf/testing/__init__.py
Labels: Python

Revert "add --importlib"
  ci/test_narwhals.sh
Labels: none

Revert "remove import"
  python/cudf/cudf/testing/__init__.py
Labels: Python

Remove static column vectors from window function tests. (#18099)
  cpp/tests/rolling/offset_row_window_test.cpp
Labels: libcudf

Rename module so that it is installed into the wheel
  python/cudf/cudf/testing/__init__.py
  python/cudf/cudf/testing/narwhals_test_plugin.py
Labels: Python

Fix typo
  ci/test_narwhals.sh
Labels: none

Add nvtext substring deduplication API
  cpp/CMakeLists.txt
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/text/dedup_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/CMakeLists.txt
  python/pylibcudf/pylibcudf/nvtext/__init__.pxd
  python/pylibcudf/pylibcudf/nvtext/__init__.py
  python/pylibcudf/pylibcudf/nvtext/dedup.pxd
  python/pylibcudf/pylibcudf/nvtext/dedup.pyi
  python/pylibcudf/pylibcudf/nvtext/dedup.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_dedup.py
Labels: Python, pylibcudf, libcudf, CMake
