Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

catch attr error in fast-slow proxy module
  ci/cudf_pandas_scripts/third-party-integration/run-library-tests.sh
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

Expose stripe_size_rows setting
  java/src/main/java/ai/rapids/cudf/CompressionMetadataWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
Labels: Java

Remove incorrect stripe_size_rows
  java/src/main/native/src/TableJni.cpp
Labels: Java

Add missing includes
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/copying/pack.cpp
Labels: libcudf

Update java/src/main/java/ai/rapids/cudf/CompressionMetadataWriterOptions.java
  java/src/main/java/ai/rapids/cudf/CompressionMetadataWriterOptions.java
Labels: Java

Update java/src/main/java/ai/rapids/cudf/CompressionMetadataWriterOptions.java
  java/src/main/java/ai/rapids/cudf/CompressionMetadataWriterOptions.java
Labels: Java

switch to branch-25.04
  .github/workflows/pr.yaml
Labels: none

Fix numpy proxying bug
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

Add build_type input field for `test.yaml` (#17925)
  .github/workflows/test.yaml
Labels: none

lint
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

add basic aggregation support
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/traversal.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

Add catboost integration tests
  .github/workflows/pr.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

roll back change to literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
Labels: Python, cudf.polars

Add nvtext::tokenized_to_tensor API
  cpp/include/nvtext/subword_tokenize.hpp
  cpp/src/text/subword/subword_tokenize.cu
  cpp/tests/text/subword_tests.cpp
Labels: libcudf

Add more syncs
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/create_sparse_results_table.cu
Labels: libcudf

One more sync
  cpp/src/groupby/hash/compute_aggregations.cuh
Labels: libcudf

make get_expr_partition_count more efficient
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/experimental/select.py
Labels: Python, cudf.polars

make get_expr_partition_count more efficient
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

fix copyright changes
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
Labels: Python, cudf.polars

added python tests for UDF transforms
  python/pylibcudf/pylibcudf/tests/test_transform.py
Labels: Python, pylibcudf

use traversal
  python/cudf_polars/cudf_polars/dsl/traversal.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/select.py
Labels: Python, cudf.polars

roll back unnecessary date change
  python/cudf_polars/cudf_polars/dsl/traversal.py
Labels: Python, cudf.polars

move fuse_expr_graph
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/select.py
Labels: Python, cudf.polars

add tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_cugraph.py
Labels: Python, cudf.pandas

zstd host comp and decomp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

formatting
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

Add missing standard includes (#17928)
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/copying/pack.cpp
Labels: libcudf

optimizations
  cpp/src/io/comp/comp.cpp
Labels: libcudf

Replace thrust::identity with cuda::std::identity
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/io/json/json_normalization.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join_utils.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/interleave_columns.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/sort/rank.cu
  cpp/src/stream_compaction/unique.cu
  cpp/src/strings/search/contains_multiple.cu
  cpp/tests/iterator/iterator_tests.cuh
  cpp/tests/iterator/value_iterator_test_transform.cu
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/utilities/column_utilities.cu
Labels: libcudf

enable 3rd party tests
  .github/workflows/pr.yaml
Labels: none

cleanup
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/select.py
Labels: Python, cudf.polars

Add DataFrame.sink_csv for cudf_polars
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Undo IR version bump
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Update schema.fbs with the latest changes
  cpp/src/io/parquet/ipc/schema/Schema.fbs
Labels: libcudf

test
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

test
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Remove deprecated nvtext::minhash_permuted APIs
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
Labels: libcudf

test
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

update script
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

update
  .github/workflows/pr.yaml
Labels: none
