Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Oops
  .github/workflows/pr.yaml
Labels: none

refactor shuffle component of 'n_unique'
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

cleanup
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

Test out step-security changed-files action
  .github/workflows/pr.yaml
Labels: none

implemented code review recommendations and added jit support checks to python tests
  cpp/include/cudf/jit/runtime_support.hpp
  cpp/src/jit/runtime_support.cpp
  cpp/src/transform/transform.cpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/binaryop/binop-generic-ptx-test.cpp
  cpp/tests/binaryop/binop-null-test.cpp
  cpp/tests/streams/binaryop_test.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/__init__.pxd
  python/pylibcudf/pylibcudf/__init__.py
  python/pylibcudf/pylibcudf/jit.pxd
  python/pylibcudf/pylibcudf/jit.pyi
  python/pylibcudf/pylibcudf/jit.pyx
  python/pylibcudf/pylibcudf/libcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/libcudf/jit.pxd
  python/pylibcudf/pylibcudf/libcudf/jit.pyx
  python/pylibcudf/pylibcudf/tests/test_transform.py
Labels: Python, pylibcudf, libcudf, CMake

ran pre-commit
  python/pylibcudf/pylibcudf/jit.pxd
  python/pylibcudf/pylibcudf/jit.pyx
  python/pylibcudf/pylibcudf/libcudf/jit.pxd
Labels: Python, pylibcudf

skipped decimal transform tests for CUDA runtime < 11.5
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

Add standard data ingestion pipelines to pylibcudf
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_any.py
Labels: Python, pylibcudf

Undo reindex change, fix for empty series unmatching column
  python/cudf/cudf/core/dataframe.py
Labels: Python

fixed type and added < 11.5 skipping of runtime jit
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

Add current_branch input
  .github/workflows/pr.yaml
Labels: none

Rename input
  .github/workflows/pr.yaml
Labels: none

Add offsetalator to contiguous-split
  cpp/src/copying/contiguous_split.cu
Labels: libcudf

Pad with empty string
  python/cudf/cudf/core/dataframe.py
Labels: Python

Remove an unused API while we figure out what works best
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
Labels: libcudf

Handle constructing from None like scalar
  python/cudf/cudf/core/dataframe.py
Labels: Python

address review
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_any.py
Labels: Python, pylibcudf

alphabetized cython sources
  python/pylibcudf/pylibcudf/libcudf/CMakeLists.txt
Labels: Python, pylibcudf, CMake

First version of function for creating column view from another object
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, pylibcudf

address review
  python/pylibcudf/pylibcudf/column.pyi
Labels: Python, pylibcudf

Minor updates
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
Labels: libcudf

Update python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyi
Labels: Python, pylibcudf

Add link to Cython issue
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Revert inadvertent readonly change
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
Labels: Python, pylibcudf

Fix recursive call
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Apply suggestions from code review
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
Labels: libcudf

Formatting
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
Labels: libcudf

fix merge conflict
  cpp/tests/text/subword_tests.cpp
Labels: libcudf

check byte range offset and adjust a test
  cpp/src/io/csv/reader_impl.cu
  python/cudf/cudf/tests/test_csv.py
Labels: Python, libcudf

Fix add test_dataframe tests
  python/cudf/cudf/core/dataframe.py
Labels: Python

Implement new table API
  python/pylibcudf/pylibcudf/table.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf

temporarily drop coverage
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

Renaming and cleanup
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/table.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf

Use new function for contiguous split
  python/pylibcudf/pylibcudf/contiguous_split.pyx
Labels: Python, pylibcudf

reinstate faster sort with 2GB input limit
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
Labels: libcudf

Apply suggestions from code review
  python/pylibcudf/pylibcudf/jit.pxd
  python/pylibcudf/pylibcudf/jit.pyi
  python/pylibcudf/pylibcudf/jit.pyx
  python/pylibcudf/pylibcudf/libcudf/jit.pxd
Labels: Python, pylibcudf

Also apply the change to the unpack_from_memoryview function
  python/pylibcudf/pylibcudf/contiguous_split.pyx
Labels: Python, pylibcudf

[BUG] Disabled JIT for CUDA Runtime < 11.5 (#18296)
  cpp/CMakeLists.txt
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/jit/runtime_support.hpp
  cpp/src/jit/runtime_support.cpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/binaryop/binop-generic-ptx-test.cpp
  cpp/tests/binaryop/binop-null-test.cpp
  cpp/tests/streams/binaryop_test.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/__init__.pxd
  python/pylibcudf/pylibcudf/__init__.py
  python/pylibcudf/pylibcudf/jit.pxd
  python/pylibcudf/pylibcudf/jit.pyi
  python/pylibcudf/pylibcudf/jit.pyx
  python/pylibcudf/pylibcudf/libcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/libcudf/jit.pxd
  python/pylibcudf/pylibcudf/libcudf/jit.pyx
  python/pylibcudf/pylibcudf/tests/test_transform.py
Labels: Python, pylibcudf, libcudf, CMake

Require type annotations in cudf.polars (#18285)
  pyproject.toml
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/nodebase.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/versions.py
Labels: Python, cudf.polars

inner join naive
  cpp/include/cudf/join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
