Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Add conversion method from array interface objects to pylibcudf Columns
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_arraylike.py
Labels: Python, pylibcudf

fix doc string
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

remove _sync suffix from hostdevice types
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/error.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/hostdevice_span.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/tests/io/comp/comp_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
  cpp/tests/utilities_tests/span_tests.cu
Labels: libcudf

address review
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_arraylike.py
Labels: Python, pylibcudf

change test fname
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

revert accidental change
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Fixed indexing on empty DataFrame with no columns (#18381)
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_indexing.py
Labels: Python

Small benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/ast/compute_column.cpp
Labels: libcudf, CMake

Small benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/ast/compute_column.cpp
Labels: libcudf, CMake

implement fallback to single-partition
  python/cudf_polars/cudf_polars/experimental/base.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

something partial
  cpp/include/cudf/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  python/cudf_polars/tests/expressions/test_datetime_basic.py
  python/pylibcudf/pylibcudf/datetime.pxd
  python/pylibcudf/pylibcudf/datetime.pyx
  python/pylibcudf/pylibcudf/libcudf/datetime.pxd
  python/pylibcudf/pylibcudf/tests/test_datetime.py
Labels: Python, cudf.polars, pylibcudf, libcudf

fix typo
  python/cudf_polars/cudf_polars/experimental/groupby.py
Labels: Python, cudf.polars

Pass stream through when taking ownership from libcudf (#18367)
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/orc.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/io/types.pxd
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/table.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf

add static push and pop
  java/src/main/java/ai/rapids/cudf/NvtxRange.java
  java/src/main/native/src/NvtxRangeJni.cpp
Labels: Java

style
  cpp/src/io/parquet/error.hpp
  cpp/src/io/utilities/hostdevice_span.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/tests/utilities_tests/span_tests.cu
Labels: libcudf

Improve performance of strings::like for long strings
  cpp/benchmarks/string/like.cpp
  cpp/src/strings/like.cu
  cpp/tests/strings/like_tests.cpp
Labels: libcudf

Add rank and label_bin methods to ColumnBase
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/resample.py
Labels: Python

Fix keyword only syntax
  python/cudf/cudf/core/column/column.py
Labels: Python

automatic fallback to single partition
  python/dask_cudf/dask_cudf/_expr/__init__.py
  python/dask_cudf/dask_cudf/_legacy/io/parquet.py
Labels: Python

Bump polars version to <1.27 (#18387)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

Materialize payload columns
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_page_pruning.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Nodiscard
  cpp/include/cudf/rolling.hpp
Labels: libcudf

Allow passing any large enough span to chunked_pack::next
  cpp/src/copying/contiguous_split.cu
Labels: libcudf

Expose chunked_pack object in pylibcudf
  python/pylibcudf/pylibcudf/contiguous_split.pxd
  python/pylibcudf/pylibcudf/contiguous_split.pyi
  python/pylibcudf/pylibcudf/contiguous_split.pyx
  python/pylibcudf/pylibcudf/libcudf/contiguous_split.pxd
Labels: Python, pylibcudf

Minimally expose device_span
  python/pylibcudf/pylibcudf/libcudf/utilities/span.pxd
Labels: Python, pylibcudf

Drop gil when packing/unpacking
  python/pylibcudf/pylibcudf/contiguous_split.pyx
Labels: Python, pylibcudf

Add test of chunked packer
  python/pylibcudf/pylibcudf/tests/test_contiguous_split.py
Labels: Python, pylibcudf

Unpacking no longer copies the serialized data
  python/pylibcudf/pylibcudf/contiguous_split.pyx
Labels: Python, pylibcudf

added string find test
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

fix hack
  python/dask_cudf/dask_cudf/_expr/__init__.py
Labels: Python

Use pyarrow 15 in oldest dependency CI jobs
  dependencies.yaml
Labels: none

address review
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, pylibcudf

add helper class
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

clean up
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

fix null_handling type in rank
  python/cudf/cudf/core/column/column.py
Labels: Python

Deterministic hashing for DataFrameScan nodes in cudf-polars multi-partition executor (#18351)
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Fix synchronization issues in host compression and decompression (#18395)
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/comp.hpp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/json/write_json.cu
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
  cpp/tests/io/comp/comp_test.cpp
  cpp/tests/io/json/json_chunked_reader.cu
  cpp/tests/io/json/json_test.cpp
  cpp/tests/large_strings/json_tests.cu
Labels: libcudf

address review
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

make fallback configurable by passing ConfigOptions into lower_ir_graph
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

Remove comment, whitespace. Ensure empty columns are not shared
  python/cudf/cudf/core/dataframe.py
Labels: Python
