Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

fix(libcudf): disambiguate cuda11 versions for libcufile and libcurand
  conda/recipes/libcudf/recipe.yaml
Labels: none

(debug): turn off render-only
  ci/build_cpp.sh
Labels: none

fix(all): wrap cuda_major and date_string in quotes
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

fix(libcudf): make sure `cmake` is in `host` for `--install`
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix(libcudf): only use libcufile on linux64
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix(libcudf): add `make` (`CMAKE_BUILD_PROGRAM` not set)
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix(custreamz): update license, remove double $
  conda/recipes/custreamz/recipe.yaml
  python/custreamz/pyproject.toml
Labels: Python

fix(pypkgs): add `pip` to host
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

fix(libcudf): move `cmake` to `build`
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix(cudf): don't overconstrain cuda-version
  conda/recipes/cudf/recipe.yaml
Labels: none

fix(libcudf): fix overlinking
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix(custreamz): add `py_version`
  conda/recipes/custreamz/recipe.yaml
Labels: none

fix(custreamz): remove unnecessary ignore_run_exports
  conda/recipes/custreamz/recipe.yaml
Labels: none

fix(pylibcudf): simplify neq syntax
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

refactor(libcudf): multiline yaml block for build script
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix(libcudf): remove CMAKE_INSTALL_LIBDIR arg
  conda/recipes/libcudf/recipe.yaml
Labels: none

refactor(all): use multiline yaml block for all script contents
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

fix(dask-cudf): remove extraneous ignore_run_export
  conda/recipes/dask-cudf/recipe.yaml
Labels: none

fix(py): set explicit py_version for python outputs
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

chore(cudf): update numpy and numba pins
  conda/recipes/cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

fix(libcudf): allowlist `libnvidia-ml.so.1`
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix(cudf-polars): bump to <1.24
  conda/recipes/cudf-polars/recipe.yaml
Labels: none

fix(libcudf): resolve overlinking error
  conda/recipes/libcudf/recipe.yaml
Labels: none

chore: restore additional commented-out workflow jobs
  .github/workflows/pr.yaml
Labels: none

chore: remove secrets and env from pure python packages
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
Labels: none

chore: remove verbose flags
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
Labels: none

fix(python): prepend $CPP_CHANNEL to $RATTLER_CHANNELS
  ci/build_python.sh
Labels: none

fix(libcudf): remove cache-busting debug line from CFLAGS and CXXFLAGS
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix(build_python): channel flag is a separate array element
  ci/build_python.sh
Labels: none

fix(libcudf): remove cudf_ROOT argument
  conda/recipes/libcudf/recipe.yaml
Labels: none

chore: remove yaml schema line from header
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

check for periods
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

roll back unnecessary change
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Update the function calls that set KvikIO configs
  cpp/src/io/utilities/config_utils.cpp
Labels: libcudf

add stream param to chunked parquet reader
  python/pylibcudf/pylibcudf/io/parquet.pyi
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/libcudf/io/parquet.pxd
Labels: Python, pylibcudf

added code review suggestions
  cpp/include/cudf/jit/types.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

Update calls to KvikIO's config setter (#18144)
  cpp/src/io/utilities/config_utils.cpp
Labels: libcudf

REL v25.02.02 release
  VERSION
  java/ci/README.md
  java/pom.xml
Labels: Java

Codespell
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

adds pytest flag to cudf.pandas
  ci/test_narwhals.sh
  python/cudf/cudf/pandas/__main__.py
Labels: Python, cudf.pandas

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
