Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

missed one gtest
  cpp/tests/streams/text/replace_test.cpp
Labels: libcudf

use cuda::std::array for constant table
  cpp/src/strings/case.cu
Labels: libcudf

Expose grouped_range_rolling_window in pylibcudf
  python/pylibcudf/pylibcudf/aggregation.pxd
  python/pylibcudf/pylibcudf/aggregation.pyx
  python/pylibcudf/pylibcudf/libcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pyi
  python/pylibcudf/pylibcudf/rolling.pyx
Labels: Python, pylibcudf

Implement is_valid_rolling_aggregation, expose in pylibcudf
  cpp/CMakeLists.txt
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/detail/rolling.hpp
  cpp/src/rolling/detail/rolling_utils.cu
  cpp/src/rolling/rolling.cpp
  python/pylibcudf/pylibcudf/libcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pyi
  python/pylibcudf/pylibcudf/rolling.pyx
Labels: Python, pylibcudf, libcudf, CMake

Promote is_valid_aggregation to public API, expose in pylibcudf
  cpp/include/cudf/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  python/pylibcudf/pylibcudf/aggregation.pxd
  python/pylibcudf/pylibcudf/aggregation.pyi
  python/pylibcudf/pylibcudf/aggregation.pyx
  python/pylibcudf/pylibcudf/libcudf/aggregation.pxd
Labels: Python, pylibcudf, libcudf

Add pylibcudf interface tests
  python/pylibcudf/pylibcudf/tests/test_rolling.py
Labels: Python, pylibcudf

Pass --system
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

fix zstd build interface include definition
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Match pip behavior for multiple indexes
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

Minor fixes
  java/src/main/native/src/TableJni.cpp
Labels: Java

fix(rattler): ignore `libzlib` run dependency to avoid `pandoc` collision
  conda/recipes/libcudf/recipe.yaml
Labels: none

Handle decomposition of empty agg
  python/cudf_polars/cudf_polars/experimental/groupby.py
Labels: Python, cudf.polars

Type alias for Schema
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/typing/__init__.py
Labels: Python, cudf.polars

Rewrite groupbys during IR translation
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/__init__.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/cudf_polars/dsl/utils/naming.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, cudf.polars

Add more tests of groupby aggregations
  python/cudf_polars/tests/test_groupby.py
Labels: Python, cudf.polars

Test coverage of rolling not implemented
  python/cudf_polars/tests/test_rolling.py
Labels: Python, cudf.polars

More test coverage
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/tests/expressions/test_evaluate_mapping.py
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/test_rolling.py
Labels: Python, cudf.polars

Bump librdkafka to 2.8.0
  conda/recipes/libcudf/conda_build_config.yaml
Labels: none

Silence warning by setting BUILD_SHARED_LIBS
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

add restart kernel note in cudf pandas docs
  docs/cudf/source/cudf_pandas/usage.md
Labels: none

Fix zstd build interface include definition (#18366)
  cpp/CMakeLists.txt
Labels: libcudf, CMake

fix(rattler): ignore `libzlib` run dependency to avoid `pandoc` collision (#18368)
  conda/recipes/libcudf/recipe.yaml
Labels: none

Add Keep Option Parameter to Distinct (#18237)
  cpp/include/cudf/lists/detail/stream_compaction.hpp
  cpp/include/cudf/lists/stream_compaction.hpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/lists/set_operations.cu
  cpp/src/lists/stream_compaction/distinct.cu
  cpp/src/rolling/detail/rolling.cuh
  cpp/tests/streams/lists_test.cpp
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/DuplicateKeepOption.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: libcudf, Java

Bump related packages too
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/custreamz/recipe.yaml
  dependencies.yaml
  python/custreamz/pyproject.toml
Labels: Python

fix deprecated branch name
  cpp/include/nvtext/normalize.hpp
Labels: libcudf

Patch zstd to remove uninstall target
  cpp/cmake/thirdparty/get_zstd.cmake
  cpp/cmake/thirdparty/patches/zstd_override.json
  cpp/cmake/thirdparty/patches/zstd_remove_uninstall_target.patch
Labels: libcudf, CMake

Fix field
  cpp/cmake/thirdparty/patches/zstd_override.json
Labels: libcudf, CMake

Bump librdkafka to 2.8.0 (#18370)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
  python/custreamz/pyproject.toml
Labels: Python

Create file sources in parallel (#18094)
  cpp/src/io/functions.cpp
Labels: libcudf

Use the mapped buffer for all read operations in the memory-mapped source; switch default source to the kvikIO one (#18204)
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/utilities/datasource.cpp
  python/cudf/cudf/tests/test_csv.py
Labels: Python, libcudf

code reviews pt1
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

code reviews pt2
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

Code cleanup
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

opt
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

cleanup
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Changes from skip decode
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_page_pruning.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
Labels: libcudf

Revert erroneous changes
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf

Add hybrid_scan_page_pruning.cu to cmake
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Remove a bunch of handcoding
  cpp/src/io/parquet/reader_impl_chunking.hpp
  cpp/src/io/parquet/reader_impl_page_pruning.cu
  cpp/src/io/parquet/reader_impl_page_pruning.hpp
Labels: libcudf

Modernize for loop in page pruning
  cpp/src/io/parquet/reader_impl_page_pruning.cu
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
