Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

fix obvious mistake
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

fix misunderstanding
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

Update java/ci/build-in-docker.sh
  java/ci/build-in-docker.sh
Labels: Java

updatd jitify dep
  cpp/cmake/thirdparty/get_jitify.cmake
  cpp/src/transform/jit/kernel.cu
Labels: libcudf, CMake

update code
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Update python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

fix cudf.dtype
  python/cudf/cudf/core/dtypes.py
Labels: Python

update
  python/cudf/cudf/core/column/column.py
Labels: Python

Add back __dask_tokenize__
  python/cudf/cudf/core/multiindex.py
Labels: Python

Add retries to prevent failures in occasionally slow CI runs (#18843)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/test_disable_pandas_accelerator.py
  python/cudf/cudf_pandas_tests/test_disable_per_thread_safety.py
  python/cudf/pyproject.toml
Labels: Python, cudf.pandas

Add back shift
  docs/cudf/source/conf.py
  python/cudf/cudf/core/index.py
Labels: Python

Fix cudf_pandas tests with freq
  python/cudf/cudf/core/index.py
Labels: Python

Fix fencepost error in repartition task generation
  python/cudf_polars/cudf_polars/experimental/repartition.py
Labels: Python, cudf.polars

Use ucxx protocol in benchmark cluster setup
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

skip narwarls test
  ci/test_narwhals.sh
Labels: none

Only warn in cudf.pandas if rmm mode explicitly set and rmm already configured (#18785)
  python/cudf/cudf/pandas/__init__.py
Labels: Python, cudf.pandas

Upload examples conda package (#18847)
  .github/workflows/build.yaml
Labels: none

Remove top level cudf imports in core
  python/cudf/cudf/api/extensions/accessor.py
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/buffer/exposure_tracked_buffer.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Labels: Python

skip only specific tests
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

Fix TimedeltaIndex and IntervalIndex cases
  python/cudf/cudf/core/index.py
Labels: Python

Add pipe methods to conf.py
  docs/cudf/source/conf.py
Labels: none

Update pdsh benchmark script to support explain-only (#18826)
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
