Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

fix comment formatting in python source
  python/cudf/cudf/core/character_normalizer.py
  python/pylibcudf/pylibcudf/nvtext/normalize.pyx
Labels: Python, pylibcudf

Fix narrow conversion
  cpp/include/cudf/detail/utilities/cast_functor.cuh
Labels: libcudf

Fix DataFrame/Series.rank for int and null data in mode.pandas_compatible
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_rank.py
Labels: Python

just dtype object instead of string
  python/cudf/cudf/core/indexed_frame.py
Labels: Python

Add failing test
  python/cudf/cudf_pandas_tests/test_disable_per_thread_safety.py
Labels: Python, cudf.pandas

Fix lock usage
  python/cudf/cudf/pandas/module_accelerator.py
Labels: Python, cudf.pandas

Update python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf/pandas/module_accelerator.py
Labels: Python, cudf.pandas

Ensure that we test nesting disabled
  python/cudf/cudf_pandas_tests/test_disable_per_thread_safety.py
Labels: Python, cudf.pandas

Use a disable counter instead
  python/cudf/cudf/pandas/module_accelerator.py
Labels: Python, cudf.pandas

Remove now unused lock
  python/cudf/cudf/pandas/module_accelerator.py
Labels: Python, cudf.pandas

Raise NotImplementedError for if duplicate columns would be created
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

Use size_type instead of size_t
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
  cpp/src/groupby/hash/compute_shared_memory_aggs.hpp
Labels: libcudf

comments updates
  cpp/include/nvtext/wordpiece_tokenize.hpp
  python/cudf/cudf/core/wordpiece_tokenize.py
Labels: Python, libcudf

collapse isinstance call
  python/cudf/cudf/io/csv.py
Labels: Python

global thread pool + use in metadatas_from_sources
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/utilities/host_worker_pool.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/utilities/host_worker_pool.cpp
Labels: libcudf, CMake

Remove conditional for check for strings
  python/cudf/cudf/io/csv.py
Labels: Python

style
  cpp/include/cudf/detail/utilities/host_worker_pool.hpp
  cpp/src/utilities/host_worker_pool.cpp
Labels: libcudf

Update cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

Fix nested thread case and document thread-safety guarantees of disable_module_accelerator
  python/cudf/cudf/pandas/module_accelerator.py
Labels: Python, cudf.pandas

Move syncs to the kernel
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
Labels: libcudf

Fix DataFrame/Series.rank for int and null data in mode.pandas_compatible (#17954)
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_rank.py
Labels: Python

Update python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf/pandas/module_accelerator.py
Labels: Python, cudf.pandas

Use Conda XGBoost
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

Update python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

More avoid cudf.dtype internally in favor of pre-defined, supported types (#17918)
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Add userwarning for dropping duplicate columns
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

pre formatting
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json/json_test.cpp
  cpp/tests/large_strings/json_tests.cu
Labels: libcudf

fix wrapped array pickling bug
  python/cudf/cudf/pandas/_wrappers/numpy.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: Python, cudf.pandas

update copyright
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
Labels: Python, cudf.pandas

Update test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Update run-library-tests.sh
  ci/cudf_pandas_scripts/third-party-integration/run-library-tests.sh
Labels: none

Update ci/cudf_pandas_scripts/third-party-integration/test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Update test_stumpy_distributed.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: Python, cudf.pandas

Apply suggestions from code review
  ci/cudf_pandas_scripts/third-party-integration/run-library-tests.sh
Labels: none

Update test_stumpy_distributed.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: Python, cudf.pandas

rm
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/results-cudf-pandas.pickle
Labels: Python, cudf.pandas

Check null count too in sum aggregation
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/containers/test_column.py
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/utils/test_broadcast.py
Labels: Python, cudf.polars

fix incorrect find and replace
  python/cudf_polars/cudf_polars/containers/column.py
Labels: Python, cudf.polars
