Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Only run Auto Assign PR workflow if PR is not merged (#17888)
  .github/workflows/auto-assign.yml
Labels: none

Avoid cudf.Scalar in shift
  python/cudf/cudf/core/column/column.py
Labels: Python

add tests
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/orc.pyx
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/tests/io/test_avro.py
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
  python/pylibcudf/pylibcudf/tests/io/test_json.py
  python/pylibcudf/pylibcudf/tests/io/test_orc.py
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
Labels: Python, pylibcudf

remove old test
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
Labels: Python, pylibcudf

add doc
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/orc.pyx
  python/pylibcudf/pylibcudf/io/parquet.pyx
Labels: Python, pylibcudf

Make exception for casting decimal scalars/ make _validate_fillna_value return plc.Scalars
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
Labels: Python

Remove cudf.Scalar from date_range/to_datetime (#17860)
  python/cudf/cudf/core/tools/datetimes.py
Labels: Python

Added support for custom types in PTX parser (#17861)
  cpp/src/binaryop/binaryop.cpp
  cpp/src/jit/parser.cpp
  cpp/src/jit/parser.hpp
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/transform/transform.cpp
  cpp/tests/jit/parse_ptx_function.cpp
Labels: libcudf

refactoring & changed back to using cudf::size_type in kernels
  cpp/include/cudf/transform.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
Labels: libcudf

fixed copyright
  cpp/tests/jit/parse_ptx_function.cpp
Labels: libcudf

implemented code review suggestions
  cpp/src/transform/transform.cpp
Labels: libcudf

Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/build_wheel_libcudf.sh
  ci/configure_cpp_static.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

added codegen doc for transform unit tests
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

added codegen doc for transform unit tests
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

inital pass at plumbing cross join
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/utils/applyutils.py
Labels: Python

Use `rapids-pip-retry` in CI jobs that might need retries (#17920)
  ci/build_wheel.sh
  ci/build_wheel_libcudf.sh
  ci/configure_cpp_static.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

Fix groupby scans with int and NA data in mode.pandas_compatible (#17895)
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python

Remove breakpoint
  python/cudf/cudf/io/csv.py
Labels: Python

Fix torch integration test
  .github/workflows/pr.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_pytorch.py
Labels: Python, cudf.pandas

Add prints
  cpp/src/groupby/hash/compute_aggregations.cuh
Labels: libcudf

Debug other integration tests
  .github/workflows/pr.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_seaborn.py
Labels: Python, cudf.pandas

Debug other integration tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_holoviews.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_matplotlib.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_numpy.py
Labels: Python, cudf.pandas

Add build_type input field for `test.yaml`
  .github/workflows/test.yaml
Labels: none

copyright
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_seaborn.py
Labels: Python, cudf.pandas

add more gtests and pytests
  cpp/src/text/subword/subword_tokenize.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
  cpp/src/text/wordpiece_tokenize.cu
  cpp/tests/text/subword_tests.cpp
  python/cudf/cudf/tests/text/test_subword_tokenizer.py
  python/pylibcudf/pylibcudf/tests/test_nvtext_subword_tokenize.py
Labels: Python, pylibcudf, libcudf

Add more prints
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_groupby.cu
Labels: libcudf

update benchmark to include max-words
  cpp/benchmarks/text/subword.cpp
  cpp/src/text/normalize.cu
Labels: libcudf

Address dtlike test failures, workaround cast for plc decimals
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
Labels: Python

remove workstealing
  ci/cudf_pandas_scripts/third-party-integration/run-library-tests.sh
Labels: none

Move from header-only to source implementation
  cpp/CMakeLists.txt
  cpp/include/cudf/logger.hpp
  cpp/src/utilities/logger.cpp
Labels: libcudf, CMake

Add logger to function names
  cpp/include/cudf/logger.hpp
  cpp/src/utilities/logger.cpp
Labels: libcudf

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Update .github/workflows/pr.yaml
  .github/workflows/pr.yaml
Labels: none

Initialize inout parameter (#17911)
  cpp/src/io/avro/reader_impl.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
Labels: libcudf

Remove extraneous pragma once
  cpp/src/utilities/logger.cpp
Labels: libcudf

Force using global memory groupby
  cpp/src/groupby/hash/compute_aggregations.cuh
Labels: libcudf

Update run-pandas-tests.sh
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

Update ci/cudf_pandas_scripts/pandas-tests/run.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
Labels: none

Fix torch integration test (#17923)
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_pytorch.py
Labels: Python, cudf.pandas

Remove dataframe protocol (#17909)
  docs/cudf/source/user_guide/api_docs/general_functions.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
  python/cudf/cudf/tests/test_df_protocol.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas
