Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

pr review: removing old class design apis
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

build fix
  cpp/tests/join/join_tests.cpp
Labels: libcudf

code reviews
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/comp.hpp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_misc_test.cpp
Labels: libcudf

Annotate and simplify from_arrow
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

Move docs to class from constructor
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

minor doc updates
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

minor doc updates
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

docs build fix
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

docs fix pls
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

minor doc
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

minor docs improvement
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

revert erroneous docs change
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Use size_type instead of cudf::size_type in docs
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Use cached_property for datetime like column properties
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
Labels: Python

fix
  cpp/src/io/functions.cpp
Labels: libcudf

Rewrite groupby aggregations in cudf-polars to simplify evaluation (#18369)
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/expressions/ternary.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/test_rolling.py
Labels: Python, cudf.polars

code review changes
  cpp/src/transform/transform.cpp
Labels: libcudf

tweak test - need debugging
  python/cudf_polars/tests/experimental/test_unique.py
Labels: Python, cudf.polars

rename to nds-h (nvidia data science)
  python/cudf_polars/cudf_polars/experimental/benchmarks/ndsh.py
Labels: Python, cudf.polars

rename to pds
  python/cudf_polars/cudf_polars/experimental/benchmarks/pds.py
Labels: Python, cudf.polars

rename (last time)
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

more cleanup
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

update libcudf RPATH for libkvikio-bundled nvcomp
  ci/build_wheel_libcudf.sh
  python/libcudf/CMakeLists.txt
Labels: Python, CMake

try to fix install paths
  ci/build_wheel_cudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

get cudf-polars tests passing with polars==1.28
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

updates
  python/cudf/cudf/pandas/scripts/conftest-patch.py
Labels: Python, cudf.pandas

check pip install
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, cudf.pandas

add
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Update python/cudf_polars/pyproject.toml
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

realign split/rsplit get_tokens logic
  cpp/src/strings/split/split.cuh
Labels: libcudf

don't export nvcomp
  python/libcudf/CMakeLists.txt
Labels: Python, CMake

Add fast paths to `Series.to_cupy` and `Series.values` (#18555)
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

fix docstring
  python/cudf/cudf/core/column/string.py
Labels: Python

Fix test error message check
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python

Add sphinx ignore for pa.ListType
  docs/cudf/source/conf.py
Labels: none

add statitics mr to large-strings fixture
  cpp/tests/large_strings/large_strings_fixture.cpp
Labels: libcudf

Rename id_to_primitive_type as dispatch_void_if_complex
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Labels: libcudf

Add temporary pdsh benchmarks to ``cudf_polars.experimental`` (#18592)
  python/cudf_polars/cudf_polars/experimental/benchmarks/__init__.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/pyproject.toml
Labels: Python, cudf.polars

realign some logic for consistency
  cpp/src/strings/split/split.cuh
Labels: libcudf

remove old tpch.py file
  python/cudf_polars/cudf_polars/experimental/benchmarks/tpch.py
Labels: Python, cudf.polars
