Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

address schema and maintain_order issues
  python/cudf_polars/cudf_polars/experimental/groupby.py
Labels: Python, cudf.polars

Ignore `cudatoolkit` run exports by name, not package (#18230)
  conda/recipes/cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

WIP: type-erase offsets buffer type in contiguous_split
  cpp/src/copying/contiguous_split.cu
Labels: libcudf

Better ctor
  cpp/src/copying/contiguous_split.cu
Labels: libcudf

Perhaps this should be an int64
  cpp/src/copying/contiguous_split.cu
Labels: libcudf

Export RAPIDS_ARTIFACTS_DIR. (#18208)
  ci/build_cpp.sh
Labels: none

Run conda import tests on Python packages (#18197)
  ci/build_python.sh
Labels: none

fix
  ci/test_python_imports.sh
Labels: none

fix grep match
  ci/check_symbols.sh
Labels: none

update
  python/cudf/cudf/pandas/__init__.py
Labels: Python, cudf.pandas

removing symbol file
  ci/check_symbols.sh
Labels: none

use lawrences suggestions
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

skip some tests
  ci/test_narwhals.sh
Labels: none

revert __main__ changes
  python/cudf/cudf/pandas/__main__.py
Labels: Python, cudf.pandas

modify coverage
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

address review
  ci/cudf_pandas_scripts/run_tests.sh
Labels: none

more fixes
  python/cudf/cudf/pandas/__init__.py
Labels: Python, cudf.pandas

address review
  ci/cudf_pandas_scripts/run_tests.sh
Labels: none

Handle empty dictionary in to_arrow_device interop (#18121)
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_host.cu
  cpp/src/interop/to_arrow_schema.cpp
  cpp/tests/interop/to_arrow_device_test.cpp
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: libcudf

add filter and num processes
  ci/cudf_pandas_scripts/run_tests.sh
Labels: none

Indent continuation lines.
  ci/cudf_pandas_scripts/run_tests.sh
Labels: none

address small code-review comments
  python/cudf_polars/cudf_polars/experimental/groupby.py
Labels: Python, cudf.polars

update
  .github/workflows/pr.yaml
  ci/test_python_imports.sh
Labels: none

Link to libzstd for ZSTD compression and decompression APIs (#18129)
  ci/build_wheel_libcudf.sh
  ci/check_symbols.sh
  conda/recipes/libcudf/recipe.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

Minor comments and headers update
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

update
  .github/workflows/pr.yaml
  ci/test_python_imports.sh
Labels: none

update names
  .github/workflows/pr.yaml
Labels: none

fix
  .github/workflows/pr.yaml
Labels: none

Remove cudf.Scalar in binops part 1
  python/cudf/cudf/core/_internals/binaryop.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dtypes.py
Labels: Python

Use CCCL::libcudacxx include directories in Jitify preprocessing.
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: libcudf, CMake

Use xdist worksteal on the `cudf.pandas` test suite (#16930)
  ci/cudf_pandas_scripts/run_tests.sh
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Add basic multi-partition `GroupBy` support to cuDF-Polars (#17503)
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Explain why we disable parallelism for profiler tests to avoid pytest-cov issue
  ci/cudf_pandas_scripts/run_tests.sh
Labels: none

lint
  ci/cudf_pandas_scripts/run_tests.sh
Labels: none

minor clean up
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf

update
  .github/workflows/pr.yaml
Labels: none

test
  .github/workflows/pr.yaml
Labels: none

remove warning; remove clamp at call sites
  cpp/src/io/comp/comp.cpp
  cpp/src/io/json/read_json.cu
  cpp/src/utilities/stream_pool.cpp
Labels: libcudf

Run the narwhals test suite with cudf.pandas (#18031)
  ci/test_narwhals.sh
Labels: none

update
  .github/workflows/pr.yaml
Labels: none
