Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

update tests
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_series.py
Labels: Python

cleanup
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
Labels: Python

Completely disable stacktrace if it is not available
  java/src/main/native/include/jni_utils.hpp
Labels: Java

No conda-forge arm packages for nanoarrow
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
  python/pylibcudf/pylibcudf/tests/test_interop.py
Labels: Python, pylibcudf

avoid unnecessary imports
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

update configs
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

fix typo
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

bug fix
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cu
Labels: libcudf

formatting
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/join/join_tests.cpp
Labels: libcudf, CMake

Dynamically load nvml library
  cpp/CMakeLists.txt
  cpp/include/cudf/utilities/nvml_shim.hpp
  cpp/src/utilities/nvml_shim.cpp
  cpp/src/utilities/system.cpp
Labels: libcudf, CMake

Update diff file
  cpp/cmake/thirdparty/patches/thrust_stacktrace.diff
Labels: libcudf, CMake

cleaned tests
  cpp/tests/join/join_tests.cpp
Labels: libcudf

fix
  python/cudf/cudf/core/dtypes.py
Labels: Python

Test relative paths for `$PREFIX` in conda-build
  cmake/rapids_config.cmake
Labels: CMake

update type-hinting
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/spilling.py
  python/cudf_polars/tests/experimental/test_rapidsmpf.py
Labels: Python, cudf.polars

Implement `rmm_stacktrace_recorder`
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/patches/rmm_override.json
  cpp/cmake/thirdparty/patches/rmm_stacktrace.diff
  java/src/main/native/include/jni_utils.hpp
Labels: libcudf, CMake, Java

Remove pytest-benchmark bound now that the conda-forge fixes are merged
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: Python

update type-hinting further
  python/cudf_polars/cudf_polars/experimental/spilling.py
Labels: Python, cudf.polars

update type-hinting further
  python/cudf_polars/cudf_polars/experimental/spilling.py
Labels: Python, cudf.polars

Extract common Java code
  java/src/main/java/ai/rapids/cudf/CudaException.java
  java/src/main/java/ai/rapids/cudf/CudaFatalException.java
  java/src/main/java/ai/rapids/cudf/ExceptionUtils.java
Labels: Java

Update to nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/null_mask/set_null_mask.cpp
Labels: libcudf, CMake

Add comments
  java/src/main/native/include/jni_utils.hpp
Labels: Java

Fix Java code
  java/src/main/java/ai/rapids/cudf/CudaFatalException.java
Labels: Java

Update copyright year
  cpp/cmake/thirdparty/get_cccl.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
Labels: libcudf, CMake

refactor and clean up
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/tests/test_sink.py
Labels: Python, cudf.polars

fix print keyword argument in cudf pandas test
  python/cudf/cudf_pandas_tests/test_main.py
Labels: Python, cudf.pandas

managedgroupview has its own attrs
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/cudf/core/udf/groupby_typing.py
  python/cudf/udf_cpp/shim.cu
Labels: Python

Dispatch only decimals and string
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Labels: libcudf

Fix `print()` keyword argument in cudf pandas test (#18513)
  python/cudf/cudf_pandas_tests/test_main.py
Labels: Python, cudf.pandas

Add CategoricalIndex.from_codes (#18485)
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: Python

Remove extranous modules from top level cudf namespace (#18287)
  python/cudf/cudf/__init__.py
  python/cudf/cudf/tests/test_api.py
Labels: Python

Add nvml test
  cpp/src/utilities/nvml_shim.cpp
  cpp/src/utilities/system.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities_tests/system_tests.cpp
Labels: libcudf, CMake

Fix printing decimal128 types that are zero (#18435)
  cpp/include/cudf/fixed_point/temporary.hpp
Labels: libcudf

pr reviews; cleanup
  cpp/benchmarks/join/join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/left_join.cu
  cpp/benchmarks/join/multiplicity_join.cu
Labels: libcudf

code review changes
  cpp/include/cudf/column/column_device_view_base.cuh
  cpp/include/cudf/strings/string_view.cuh
Labels: libcudf

Add comments
  cpp/include/cudf/utilities/nvml_shim.hpp
  cpp/include/cudf/utilities/system.hpp
Labels: libcudf

Update python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/dtypes.py
Labels: Python

Support title-case characters in strings capitalize() and title() APIs (#18457)
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
Labels: libcudf

Fix CI reported comment style issue
  cpp/include/cudf/utilities/nvml_shim.hpp
Labels: libcudf

Refactor internal strings utility to separate header and definition file
  cpp/CMakeLists.txt
  cpp/src/strings/positions.cu
  cpp/src/strings/positions.hpp
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split.cuh
Labels: libcudf, CMake

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
