Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

increase coverage
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

add ImportError
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

use 12G fallback
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Suggestions from code review
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Remove the missed source_info from test
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Minor improvement
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

ORC writer w/ rep code
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Minor docs update
  cpp/include/cudf/io/parquet.hpp
Labels: libcudf

Test pinning some updated dependencies to test Python CI test hangs
  ci/test_python_cudf.sh
Labels: none

unblock ci
  .github/workflows/pr.yaml
Labels: none

test
  .github/workflows/pr.yaml
Labels: none

tests
  .github/workflows/pr.yaml
Labels: none

updates
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

Make note about fsspec import
  python/cudf/cudf/utils/ioutils.py
Labels: Python

fix slowdown
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/primitive_row_operators.cuh
  cpp/src/join/distinct_hash_join.cu
Labels: libcudf

Compre orc lists tests via pyarrow
  python/cudf/cudf/tests/test_orc.py
Labels: Python

Compare list/struct orc tests with pyarrow for performance
  python/cudf/cudf/tests/test_orc.py
Labels: Python

Compare parquet tests with list/struct type with pyarrow
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

unified fixture
  cpp/tests/io/compression_common.hpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_misc_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Reduce test size by an order of magnitude
  python/cudf/cudf/tests/test_orc.py
Labels: Python

Use hash set to remove filter columns
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Revert the file buffer span in test
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Bump to 1.5 hours, pin numba-cuda
  ci/test_python_cudf.sh
Labels: none

Space
  ci/test_python_cudf.sh
Labels: none

Sync with child PR
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/src/io/parquet/reader_impl.cpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

MInor improvement
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Unpin numba-cuda
  ci/test_python_cudf.sh
Labels: none

Fix compile warnings in Java JNI (#18660)
  java/src/main/native/src/ColumnViewJni.cu
Labels: Java

Try pinning numba-cuda again
  ci/test_python_cudf.sh
Labels: none

Disable `arm64` python tests (#18662)
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

Disable coverage of rapidsmpf serialization registration
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
Labels: Python, cudf.polars

pylibcudf.Column: add `device_buffer_size` and register a dask.sizeof function for cudf-polars Column and DataFrame (#18602)
  docs/cudf/source/conf.py
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
  python/cudf_polars/tests/experimental/test_dask_sizeof.py
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, cudf.polars, pylibcudf

Add missing header to host_memory.cpp (#18649)
  cpp/src/utilities/host_memory.cpp
Labels: libcudf

initial commit
  cpp/include/cudf/transform.hpp
Labels: libcudf

Implement row group pruning with stats in experimental PQ reader (#18543)
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Skip test_large_unique_categories_repr in CI
  python/cudf/cudf/tests/test_repr.py
Labels: Python

add stream and device_mr argument
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: Python, cudf.polars

removed indexing from user_data_accessor
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
Labels: libcudf

api draft
  cpp/include/cudf/transform.hpp
Labels: libcudf

Enable rapidsmpf spilling in cudf-polars (#18461)
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/spilling.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/experimental/test_rapidsmpf.py
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
