Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Merge uncomp changes from branch-25.06 in hybrid scan
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_page_pruning.cu
  cpp/src/io/parquet/reader_impl.cpp
Labels: libcudf

remove old code
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

test: Install pytest-env and hypothesis in test_narwhals.sh (#18337)
  ci/test_narwhals.sh
Labels: none

remve localrmpcluster
  python/cudf_polars/tests/conftest.py
Labels: Python, cudf.polars

Filter expression is not pointwise
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
Labels: Python, cudf.polars

Fix docstring
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
Labels: Python, cudf.polars

Vertical string concat is not pointwise
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
Labels: Python, cudf.polars

Drop/fill nulls only if necessary
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
Labels: Python, cudf.polars

Take names to be unique against in unique_names
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/cudf_polars/dsl/utils/naming.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
Labels: Python, cudf.polars

More groupby tests
  python/cudf_polars/tests/test_groupby.py
Labels: Python, cudf.polars

These tests now pass
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Better fill null
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
Labels: Python, cudf.polars

Don't support ternary in grouped aggregations
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
Labels: Python, cudf.polars

Pass stream through when taking ownership from libcudf
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/io/types.pxd
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/table.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, pylibcudf

Plumb streams through the remaining IO input routes
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/orc.pyx
Labels: Python, pylibcudf

removed jit::column_device_view and renamed CUDF_JIT_UDF to CUDF_RUNTIME_JIT
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/normalizing_iterator.cuh
  cpp/include/cudf/jit/types.cuh
  cpp/include/cudf/strings/detail/convert/string_to_float.cuh
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf, CMake

updated tests
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

code coverage and multigpu tests
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

revert
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
  python/custreamz/pyproject.toml
Labels: Python

revert
  dependencies.yaml
Labels: none

simplify and split
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

formatting
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

added only merge inner join for sorted tables
  cpp/include/cudf/join.hpp
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

tests
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

clean up
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

clean up
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

clean up
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Fixed indexing on empty DataFrame with no columns
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_indexing.py
Labels: Python

Adjust test for better index return
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

added todo
  cpp/include/cudf/column/column_device_view.cuh
Labels: libcudf

fix line break
  docs/cudf/source/cudf_pandas/usage.md
Labels: none

Decompress all data in a single `decompress_page_data` when reading Parquet input in a single chunk (#18352)
  cpp/src/io/comp/common.hpp
  cpp/src/io/comp/common_internal.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

fixed test
  python/cudf/cudf/tests/test_indexing.py
Labels: Python

Filter columns materialized
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_page_pruning.cu
  cpp/src/io/parquet/experimental/page_index_filter.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Fixed test, impl
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_indexing.py
Labels: Python

Fix orc for empty list columns
  python/cudf/cudf/io/orc.py
Labels: Python

Add restart kernel note in cudf pandas docs (#18374)
  docs/cudf/source/cudf_pandas/usage.md
Labels: none

Use dask-cuda for cudf-polars experimental testing (#18343)
  dependencies.yaml
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/conftest.py
Labels: Python, cudf.polars

update array-conversion handling
  python/dask_cudf/dask_cudf/_expr/collection.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: Python

update conftest
  python/cudf_polars/tests/conftest.py
Labels: Python, cudf.polars
