Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Fix race check failures in shared memory groupby
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
  cpp/src/groupby/hash/compute_shared_memory_aggs.hpp
  cpp/src/groupby/hash/shared_memory_aggregator.cuh
Labels: libcudf

Fix casting in astype
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
Labels: Python

adding more docs
  python/cudf/cudf/utils/ioutils.py
Labels: Python

Bump polars version to <1.23
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/meta.yaml
  dependencies.yaml
Labels: none

Fix resample and series astyping
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/series.py
Labels: Python

Continue on failures in cudf.pandas integration tests CI job
  .github/workflows/pr.yaml
Labels: none

Fix the index type in the indexing operator of the span types (#17971)
  cpp/include/cudf/utilities/span.hpp
Labels: libcudf

Fix race check failures in shared memory groupby (#17985)
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
  cpp/src/groupby/hash/compute_shared_memory_aggs.hpp
  cpp/src/groupby/hash/shared_memory_aggregator.cuh
Labels: libcudf

pr reviews; adding another test
  cpp/src/io/json/read_json.cu
  cpp/tests/large_strings/json_tests.cu
Labels: libcudf

fix doxygen, add more gtests
  cpp/include/nvtext/minhash.hpp
  cpp/tests/text/minhash_tests.cpp
Labels: libcudf

Get singledispatch working for float
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Get it working for int and bool
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

get string and bool working
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

initial driver PTX-JIT compilation for mixed-join kernels
  cpp/CMakeLists.txt
Labels: libcudf, CMake

upgraded virtual architecture to sm_70
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Add test for types not implemented
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

Remove some imports/implementations
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar.pxd
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
Labels: Python, pylibcudf

include missing header
  cpp/benchmarks/hashing/partition.cpp
Labels: libcudf

added option for selecting arch
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Fix copyrights year
  cpp/benchmarks/hashing/partition.cpp
Labels: libcudf

fixed mixed-joins compilation
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Add missing header
  cpp/examples/billion_rows/brc_pipeline.cpp
Labels: libcudf

Move uses to step.uses so continue-on-error is valid
  .github/workflows/pr.yaml
Labels: none

step -> steps
  .github/workflows/pr.yaml
Labels: none

Revert "step -> steps"
  .github/workflows/pr.yaml
Labels: none

Revert "Move uses to step.uses so continue-on-error is valid"
  .github/workflows/pr.yaml
Labels: none

Temorarily always exist as success
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

add Column serialization support
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: Python, cudf.polars

remove debug statement
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
Labels: Python, cudf.polars

fix file-count bug in experimental cudf-polars Scan
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/tests/experimental/test_scan.py
Labels: Python, cudf.polars

Continue on failures in cudf.pandas integration tests CI job
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Continue on failures in cudf.pandas integration tests CI job
  .github/workflows/pr.yaml
Labels: none

move to with block
  .github/workflows/pr.yaml
Labels: none

move to ndarray
  python/cudf/cudf/pandas/_wrappers/numpy.py
Labels: Python, cudf.pandas

Add missing include for calling std::iota() (#17983)
  cpp/benchmarks/hashing/partition.cpp
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/examples/billion_rows/brc_pipeline.cpp
  cpp/tests/copying/gather_tests.cpp
  cpp/tests/copying/reverse_tests.cpp
  cpp/tests/fixed_point/fixed_point_tests.cu
  cpp/tests/io/orc_test.cpp
  cpp/tests/join/conditional_join_tests.cu
  cpp/tests/join/distinct_join_tests.cpp
  cpp/tests/join/mixed_join_tests.cu
  cpp/tests/partitioning/hash_partition_test.cpp
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/search/search_test.cpp
  cpp/tests/sort/segmented_sort_tests.cpp
  cpp/tests/streams/column_view_test.cpp
  cpp/tests/strings/integers_tests.cpp
  cpp/tests/unary/math_ops_test.cpp
Labels: libcudf

Dask main compatibility
  python/dask_cudf/dask_cudf/_expr/__init__.py
  python/dask_cudf/dask_cudf/_expr/collection.py
Labels: Python

add more gtests
  cpp/src/text/minhash.cu
  cpp/tests/text/minhash_tests.cpp
Labels: libcudf

Remove deprecated rolling window functionality
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
Labels: libcudf

Remove compat code
  python/dask_cudf/dask_cudf/_expr/__init__.py
Labels: Python

updated architecture selection logic
  cpp/CMakeLists.txt
Labels: libcudf, CMake

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
