Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

corner case fix
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json/json_test.cpp
Labels: libcudf

No need for an internal enum tag
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/detail/range_utils.cuh
Labels: libcudf

Revert IR changes
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Replace `cub::Int2Type` with `cuda::std::integral_constant`
  cpp/src/io/fst/agent_dfa.cuh
Labels: libcudf

xfail some tests
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Update test_ibis.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Make most cudf-polars `Node` objects pickleable (#17998)
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/nodebase.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

consolidate more conda solves in CI
  ci/build_docs.sh
  ci/release/update-version.sh
  ci/test_cpp_common.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  dependencies.yaml
Labels: none

re-arrange scripts
  ci/test_cpp_common.sh
  ci/test_java.sh
  ci/test_notebooks.sh
Labels: none

clean up test_cpp
  dependencies.yaml
Labels: none

Fix pickle and unpickling for all objects (#17980)
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

Enable Distributed tests in CI
  ci/run_cudf_polars_pytests.sh
Labels: none

Deselect another failing test
  ci/run_cudf_polars_pytests.sh
Labels: none

Update python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pxd
Labels: Python, pylibcudf

Add skeleton from_numpy method
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

ns not us
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Update ci/test_java.sh
  ci/test_java.sh
Labels: none

Update python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf/pandas/module_accelerator.py
Labels: Python, cudf.pandas

Fix copyright
  python/cudf_polars/tests/conftest.py
Labels: Python, cudf.polars

address reviews
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python

add time_point_cast function
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

remove type munging logic
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Fix an issue where an incorrect computation in the chunked reader could lead us to believe that there weren't enough rows to process a subpass for a list column.
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf

fix errors
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

Formatting.
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf

Skip failing polars tests
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Replace multimap with multiset for hash join
  cpp/include/cudf/detail/join.hpp
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.hpp
Labels: libcudf

test distributed run
  ci/run_cudf_polars_polars_tests.sh
Labels: none

Update test_cudf_polars_polars_tests.sh
  ci/test_cudf_polars_polars_tests.sh
Labels: none

Support IntervalDtype(subtype=None)
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_interval.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Undo change to isinstance check
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Expose JSON reader options to builder in pylibcudf (#17866)
  python/cudf/cudf/utils/ioutils.py
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
Labels: Python, pylibcudf

Move cudf::lists::detail::make_empty_lists_column to public API (#17996)
  cpp/include/cudf/column/column_factories.hpp
  cpp/src/lists/lists_column_factories.cu
  cpp/src/lists/sequences.cu
Labels: libcudf

impl
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

pr reviews
  cpp/src/io/json/read_json.cu
Labels: libcudf

use cuda::std functions
  cpp/src/unary/math_ops.cu
Labels: libcudf

IR changes
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_mapfunction.py
Labels: Python, cudf.polars

Add pylibcudf.Scalar.from_numpy
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

lint
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, cudf.pandas

remove comment
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
