Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Also port `thrust::{minimum, maximum}`
  cpp/benchmarks/common/generate_input.cu
  cpp/include/cudf/detail/utilities/functional.hpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/filling/repeat.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_replace_nulls.cu
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/comp/nvcomp_adapter.cu
  cpp/src/io/json/column_tree_construction.cu
  cpp/src/io/json/host_tree_algorithms.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/json_tree.cu
  cpp/src/io/json/write_json.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/parquet/delta_enc.cuh
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/src/io/utilities/data_casting.cu
  cpp/src/lists/set_operations.cu
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/reductions/segmented/simple.cuh
  cpp/src/rolling/detail/rolling_collect_list.cu
  cpp/src/sort/rank.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_re.cu
  cpp/src/text/bpe/byte_pair_encoding.cu
  cpp/src/text/minhash.cu
  cpp/tests/iterator/iterator_tests.cuh
Labels: libcudf

Handle empty dictionary in to_arrow_device interop
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_schema.cpp
  cpp/tests/interop/to_arrow_device_test.cpp
Labels: libcudf

REL v25.02.01 release
  VERSION
  java/ci/README.md
  java/pom.xml
  python/libcudf/pyproject.toml
Labels: Python, Java

misspelled functions in example
  cpp/examples/interop/interop.cpp
Labels: libcudf

add schema to non_child_args
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

keep attributes for binop with scalar
  python/cudf/cudf/core/dataframe.py
Labels: Python

Add extra test
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Refactor a bit to reduce specialisations
  cpp/src/rolling/detail/range_utils.cuh
  cpp/src/rolling/detail/rolling_utils.cuh
Labels: libcudf

Remove now non-existent job
  .github/workflows/test.yaml
Labels: none

added dependency to cmake
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

Make pylibcudf traits raise exceptions gracefully rather than terminating in C++ (#18117)
  python/pylibcudf/pylibcudf/libcudf/utilities/traits.pxd
Labels: Python, pylibcudf

Remove now non-existent job (#18123)
  .github/workflows/test.yaml
Labels: none

Use cpu16 for build CI jobs
  .github/workflows/build.yaml
Labels: none

Use singledispatch pattern
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

nitpick ignore abc.Hashable
  docs/cudf/source/conf.py
Labels: none

Unpin numpy<2.1
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.polars, pylibcudf

Use cpu16 for build CI jobs (#18124)
  .github/workflows/build.yaml
Labels: none

Add include for `<functional>` (#18102)
  cpp/benchmarks/common/random_distribution_factory.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/host_tree_algorithms.cu
  cpp/src/io/json/read_json.cu
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/lists/dremel.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/replace/multi_re.cu
  cpp/src/table/row_operators.cu
  cpp/src/text/bpe/load_merge_pairs.cu
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/io/metadata_utilities.cpp
  cpp/tests/io/parquet_writer_test.cpp
  cpp/tests/reductions/scan_tests.cpp
Labels: libcudf

add shuffle-based groupby
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Add new nvtext tokenized minhash API (#17944)
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
  cpp/tests/text/minhash_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/minhash.pxd
  python/pylibcudf/pylibcudf/nvtext/minhash.pxd
  python/pylibcudf/pylibcudf/nvtext/minhash.pyi
  python/pylibcudf/pylibcudf/nvtext/minhash.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_minhash.py
Labels: Python, pylibcudf, libcudf

Add a list of expected failures to narwhals tests (#18097)
  ci/test_narwhals.sh
  docs/cudf/source/conf.py
  python/cudf/cudf/testing/__init__.py
  python/cudf/cudf/testing/narwhals_test_plugin.py
Labels: Python

[DOC] Document character normalizer
  docs/cudf/source/user_guide/api_docs/character_normalizer.rst
  docs/cudf/source/user_guide/api_docs/index.rst
  docs/cudf/source/user_guide/api_docs/string_handling.rst
Labels: none

Unpin numpy in meta.yaml
  conda/recipes/cudf/meta.yaml
Labels: none

Improve test coverage in the catboost integration tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
Labels: Python, cudf.pandas

make category column of ints
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
Labels: Python, cudf.pandas

fix
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

cleanup
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

force download since libzstd shared is not available otherwise
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

add a test
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

Fix for allowing `skip_rows` in Chunked parquet reader.
  cpp/src/io/parquet/reader.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf

Dont special case for just DecimalDtype
  python/cudf/cudf/core/scalar.py
Labels: Python

Style fix
  cpp/src/io/parquet/reader.cpp
Labels: libcudf

Removed Excessive Re-compilation of CUDFTESTUTIL
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

fixed benchmarks
  cpp/benchmarks/CMakeLists.txt
Labels: libcudf, CMake

update
  cpp/CMakeLists.txt
Labels: libcudf, CMake

first pass at has_nulls template culling
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_common_utils.cuh
  cpp/src/join/mixed_join_kernel.cu
  cpp/src/join/mixed_join_kernel.cuh
  cpp/src/join/mixed_join_kernel.hpp
  cpp/src/join/mixed_join_kernel_nulls.cu
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_size_kernel.cu
  cpp/src/join/mixed_join_size_kernel.cuh
  cpp/src/join/mixed_join_size_kernel.hpp
  cpp/src/join/mixed_join_size_kernel_nulls.cu
  cpp/src/transform/compute_column.cu
Labels: libcudf, CMake

update
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Labels: libcudf

fixes
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/ast/expression_evaluator.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/mixed_join_common_utils.cuh
  cpp/src/transform/compute_column.cu
Labels: libcudf, CMake

update
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Labels: libcudf

updated copyright notices
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/ast/expression_evaluator.cu
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_common_utils.cuh
  cpp/src/join/mixed_join_kernel.hpp
  cpp/src/join/mixed_join_size_kernel.hpp
  cpp/src/transform/compute_column.cu
Labels: libcudf
