Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Merge changes from #18011 and #18543
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

fix build error
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Update test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Sync with child PRs
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Add empty dictionary page filtering impls
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

fix build issues
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

merege with 18011 and minor build issues
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

pr reviews
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Register a sizeof function for Column and DataFrame
  python/cudf_polars/cudf_polars/experimental/dask_sizeof.py
Labels: Python, cudf.polars

rename SerializerManager => DaskRegisterManager
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

dask_registers.py
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/cudf_polars/experimental/dask_sizeof.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: Python, cudf.polars

dask_serialize: use chunked pack
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
Labels: Python, cudf.polars

only use chunked pack when a staging buffer is provided
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
Labels: Python, cudf.polars

test
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: Python, cudf.polars

tests
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/tests/experimental/test_dask_sizeof.py
Labels: Python, cudf.polars

yet another spot to constrain install
  ci/cudf_pandas_scripts/pandas-tests/run.sh
Labels: none

device_buffer_size
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/tests/experimental/test_dask_sizeof.py
Labels: Python, cudf.polars

typo
  python/cudf_polars/cudf_polars/containers/dataframe.py
Labels: Python, cudf.polars

initial commit
  cpp/examples/string_transforms/CMakeLists.txt
  cpp/examples/string_transforms/README.md
  cpp/examples/string_transforms/common.hpp
  cpp/examples/string_transforms/info.csv
  cpp/examples/string_transforms/int_output.cpp
  cpp/examples/string_transforms/output.cpp
  cpp/examples/string_transforms/preallocated.cpp
Labels: libcudf, CMake

update
  cpp/examples/build.sh
  cpp/examples/string_transforms/common.hpp
Labels: libcudf

Export cudf compiler flags and definitions (#18604)
  cpp/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
Labels: libcudf, CMake, Java

Pin to cython<3.1
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

minor updates
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  python/cudf/cudf/core/column/string.py
Labels: Python, libcudf

improve testing
  python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/tests/experimental/test_unique.py
Labels: Python, cudf.polars

Update test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Update test.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

add error tests
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  cpp/tests/text/dedup_tests.cpp
Labels: libcudf

Reduce register pressure for compute_column_kernel (#18226)
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/transform/compute_column.cu
  cpp/src/transform/compute_column_kernel.cuh
  cpp/src/transform/compute_column_kernel.hpp
  cpp/src/transform/compute_column_kernel_complex.cu
  cpp/src/transform/compute_column_kernel_null_complex.cu
  cpp/src/transform/compute_column_kernel_null_primitive.cu
  cpp/src/transform/compute_column_kernel_primitive.cu
Labels: libcudf, CMake

Minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

get more tests passing
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

bug fixes
  cpp/examples/string_transforms/common.hpp
  cpp/examples/string_transforms/info.csv
  cpp/examples/string_transforms/output.cpp
  cpp/examples/string_transforms/preallocated.cpp
Labels: libcudf

Pin to cython<3.1 (#18617)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

uncomment validation line
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Revert "Inline the operator"
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

Remove cudf.core imports from indexed_frame.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/indexed_frame.py
Labels: Python

Avoid cudf.core module imports in series.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
Labels: Python

Remove cudf.core and cudf.utils import from column files
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
Labels: Python

Apply suggestions from reviews
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf
