Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Implement `BIT_COUNT` unary op
  cpp/include/cudf/unary.hpp
  cpp/src/unary/math_ops.cu
Labels: libcudf

Add new implementation
  python/pylibcudf/pylibcudf/libcudf/wrappers/timestamps.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Add spark failure test
  cpp/tests/join/distinct_join_tests.cpp
Labels: libcudf

Construct using time_stamp(duration) constructor
  python/pylibcudf/pylibcudf/libcudf/wrappers/timestamps.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

Remove errant time_t import
  python/pylibcudf/pylibcudf/libcudf/wrappers/timestamps.pxd
Labels: Python, pylibcudf

Complete implementation
  cpp/src/unary/math_ops.cu
  cpp/tests/unary/math_ops_test.cpp
Labels: libcudf

Handle empty page mask in materialization
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

use 'certifi' certificates in fetch_pandas_versions script (#18588)
  ci/cudf_pandas_scripts/fetch_pandas_versions.py
  ci/cudf_pandas_scripts/run_tests.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: Python

Handle empty row mask in materialize payload column
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Update Java code
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/UnaryOp.java
Labels: Java

Suggestions from code reviews
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
Labels: libcudf

Revert changes to `BIT_INVERT`
  cpp/src/unary/math_ops.cu
  cpp/tests/unary/math_ops_test.cpp
Labels: libcudf

Misc
  cpp/src/unary/math_ops.cu
Labels: libcudf

Docstring updates
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

pr reviews
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Align index order and type information in DataFrame.memory_usage
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Update docstring
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf

build fix
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Fix comments
  cpp/include/cudf/detail/utilities/device_operators.cuh
Labels: libcudf

Set build options to avoid runtime failures
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

update numba cuda dependency
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python

docstring updates
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

Add `num_rows_in_row_groups` API
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
Labels: libcudf

Minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
Labels: libcudf

Add tests for bool type
  cpp/tests/groupby/bitwise_tests.cpp
Labels: libcudf

Add tests for bool type
  cpp/tests/reductions/bitwise_tests.cpp
Labels: libcudf

Use `__popc` and `__popcll`
  cpp/src/unary/math_ops.cu
  cpp/tests/unary/math_ops_test.cpp
Labels: libcudf

Simplify implementation
  cpp/src/unary/math_ops.cu
Labels: libcudf

Fix identity value
  cpp/include/cudf/detail/utilities/device_operators.cuh
Labels: libcudf

Fix compilation error
  cpp/include/cudf/detail/utilities/device_operators.cuh
Labels: libcudf

Expose new grouped_range_rolling API in pylibcudf (#18365)
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/rolling.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/rolling/detail/rolling.hpp
  cpp/src/rolling/detail/rolling_utils.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling.cpp
  python/pylibcudf/pylibcudf/aggregation.pxd
  python/pylibcudf/pylibcudf/aggregation.pyi
  python/pylibcudf/pylibcudf/aggregation.pyx
  python/pylibcudf/pylibcudf/libcudf/aggregation.pxd
  python/pylibcudf/pylibcudf/libcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pyi
  python/pylibcudf/pylibcudf/rolling.pyx
  python/pylibcudf/pylibcudf/tests/test_rolling.py
Labels: Python, pylibcudf, libcudf, CMake

Add synchronous task scheduler to cudf-polars (#18519)
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/scheduler.py
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

Support multi-partition ``Select`` operations with aggregations (#18492)
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/__init__.py
  python/cudf_polars/cudf_polars/dsl/utils/naming.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/dsl/test_expr.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, cudf.polars

Better docstrings
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
Labels: Python, cudf.polars

change sync to nosync
  cpp/src/text/vocabulary_tokenize.cu
Labels: libcudf

Use NamedExpr.reconstruct
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
Labels: Python, cudf.polars

tweak benchamrk
  python/cudf_polars/cudf_polars/experimental/benchmarks/tpch.py
Labels: Python, cudf.polars

simplify benchmark a bit
  python/cudf_polars/cudf_polars/experimental/benchmarks/__init__.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/tpch.py
Labels: Python, cudf.polars

add comment to test
  python/cudf_polars/tests/experimental/test_unique.py
Labels: Python, cudf.polars

remove unneeded min checks
  cpp/include/nvtext/dedup.hpp
  cpp/src/text/dedup.cu
  python/cudf/cudf/core/column/string.py
Labels: Python, libcudf
