Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Update polars test plugin for 1.25
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Skip failing polars test test_general_prefiltering (#18264)
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Update python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Move execution context into the Expr nodes
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/expressions/ternary.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/to_ast.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Update cpp/include/cudf/jit/types.cuh
  cpp/include/cudf/jit/types.cuh
Labels: libcudf

Add RMM PR local channels to C++ & Python tests
  ci/test_cpp_common.sh
  ci/test_python_common.sh
Labels: none

added missing pragma once
  cpp/include/cudf/jit/types.cuh
Labels: libcudf

Add `ConfigOptions` convenience class to cudf-polars (#18137)
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Filter all cudf.pandas profiler tests from running in parallel (#18262)
  ci/cudf_pandas_scripts/run_tests.sh
Labels: none

Support min and max in parallel groupby aggregations
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Handle BinOp in parallel groupby
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Split Narwhals cudf.pandas tests failures into to fix and to skip
  ci/test_narwhals.sh
Labels: none

Handle Literal in parallel groupby
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, cudf.polars

Fix `Dataframe.loc` to not modify the actual dataframe (#18254)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python

Fix `cross` join with extra columns (#18256)
  ci/test_narwhals.sh
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: Python

fix configs
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_shuffle.py
Labels: Python, cudf.polars

fix imports
  python/cudf_polars/tests/experimental/test_rapidsmp.py
Labels: Python, cudf.polars

simplify
  python/cudf_polars/cudf_polars/experimental/join.py
Labels: Python, cudf.polars

cleanup
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

add comments to test
  python/cudf_polars/tests/experimental/test_rapidsmp.py
Labels: Python, cudf.polars

Remove more cudf.Scalar tests, other -> rhs
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_binops.py
Labels: Python

simplifying benchmark
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/multiplicity_join.cu
Labels: libcudf

Address PR comments
  cpp/include/cudf/lists/stream_compaction.hpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/lists/set_operations.cu
  cpp/src/rolling/detail/rolling.cuh
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Labels: libcudf, Java

rename benchmark
  cpp/benchmarks/join/multiplicity_join.cu
Labels: libcudf

DOC v25.06 Updates [skip ci]
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  VERSION
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/examples/versions.cmake
  dependencies.yaml
  java/ci/README.md
  java/pom.xml
  python/cudf/cudf/VERSION
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/docs/overview.md
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/libcudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Remove some scalar tests from test_binops, make unitless nat nanosecond
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_binops.py
Labels: Python

Clarify comment
  python/cudf/cudf/core/column/datetime.py
Labels: Python

bump test coverage
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, cudf.polars

use grid_1d
  cpp/src/io/parquet/page_enc.cu
Labels: libcudf

fixed naming conventions
  cpp/src/transform/jit/kernel.cu
Labels: libcudf

Fix renaming datetime binop failures
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_datetime.py
Labels: Python

Remove cudf.Scalar tests from test_timedelta
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python

Missed One
  cpp/src/groupby/sort/aggregate.cpp
Labels: libcudf

Fix positioning
  cpp/src/groupby/sort/aggregate.cpp
Labels: libcudf

Remove warning in the stream pool when asking for more streams than available (#18236)
  cpp/src/io/comp/comp.cpp
  cpp/src/io/json/read_json.cu
  cpp/src/utilities/stream_pool.cpp
Labels: libcudf

Fix timedelta binops with diff units np dt objects, duration to float casting
  python/cudf/cudf/core/column/timedelta.py
Labels: Python

Consistent formatting
  cpp/src/groupby/sort/aggregate.cpp
Labels: libcudf

Always export pd.Timedeltas as to_numpy
  python/cudf/cudf/core/column/timedelta.py
Labels: Python

Minor clean up and optimizations in the Parquet writer (#18258)
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf

Remaining reader infrastructure
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/experimental/functions.cpp
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
