Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

remove cuda_version pin from compiler
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix libcufile version typo
  conda/recipes/libcudf/recipe.yaml
Labels: none

swap build and requirements ordering
  conda/recipes/libcudf/recipe.yaml
Labels: none

add buildstringified py_version to all python recipes
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

use double-quotes everywhere
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

fix(libcudf-tests): add missing else package
  conda/recipes/libcudf/recipe.yaml
Labels: none

make whitespace and newlines consistent
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

fix(build_python): consistently show and zero sccache stats
  ci/build_python.sh
Labels: none

debug: render-only for cpp build because context seems wrong
  ci/build_cpp.sh
Labels: none

ci(build_python): longname for cli args
  ci/build_python.sh
Labels: none

fix(libcudf): disambiguate cuda11 versions for libcufile and libcurand
  conda/recipes/libcudf/recipe.yaml
Labels: none

Optimization improvement for substr in cudf::string_view
  cpp/include/cudf/strings/string_view.cuh
Labels: libcudf

fix(libcudf-examples): cuda-nvtx-dev for cuda12
  conda/recipes/libcudf/recipe.yaml
Labels: none

fix pylibcudf pytest
  python/pylibcudf/pylibcudf/tests/test_nvtext_minhash.py
Labels: Python, pylibcudf

fix(all): wrap cuda_major and date_string in quotes
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

(debug): turn off render-only
  ci/build_cpp.sh
Labels: none

add deprecation warning
  python/cudf/cudf/core/column/string.py
Labels: Python

Allow cudf::type_to_id<T const>() (#17831)
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/tests/types/type_dispatcher_test.cu
Labels: libcudf

fix(libcudf): make sure `cmake` is in `host` for `--install`
  conda/recipes/libcudf/recipe.yaml
Labels: none

nitpick ignore pa.DecimalTypes from annotations
  docs/cudf/source/conf.py
Labels: none

Fix memcopy direction for concatenate (#18058)
  cpp/src/copying/concatenate.cu
Labels: libcudf

generalize test_scan_csv_multi
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

Only check lefthandside
  python/cudf/cudf/core/dtypes.py
Labels: Python

Test for conda package cache
  .github/workflows/pr.yaml
  ci/test_cpp_common.sh
Labels: none

Make Column.view accept a dtype object
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/utils/utils.py
Labels: Python

fix workflow
  .github/workflows/pr.yaml
Labels: none

Skip changed-files check.
  .github/workflows/pr.yaml
Labels: none

Support multiple clients in `SerializerManager`
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

fix(libcudf): only use libcufile on linux64
  conda/recipes/libcudf/recipe.yaml
Labels: none

Short circuit Index.equal if compared Index isn't same type
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/index.py
Labels: Python

Fix `SerializerManager` typing
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

Add fix for `test_groupby_maintain_order_random`
  python/cudf_polars/tests/conftest.py
Labels: Python, cudf.polars

commencing maximum log verbosity
  ci/test_cpp_common.sh
Labels: none

send sccache, ninja, and filesize logs to telemetry
  build.sh
Labels: none

[DO NOT MERGE] Test NVKS A100 Runners
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: none

Host Snappy compression (#17824)
  cpp/src/io/comp/comp.cpp
  cpp/src/io/utilities/getenv_or.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/comp/comp_test.cpp
Labels: libcudf, CMake

fix(libcudf): add `make` (`CMAKE_BUILD_PROGRAM` not set)
  conda/recipes/libcudf/recipe.yaml
Labels: none

make exception for categorical
  python/cudf/cudf/core/index.py
Labels: Python

Add exception for RangeINdex
  python/cudf/cudf/core/index.py
Labels: Python

Enforce deprecation of dtype parameter in reduction ops
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_reductions.py
Labels: Python

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
