Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Support rolling aggregations in in-memory cudf-polars execution (#18681)
  cpp/src/rolling/detail/rolling_utils.cu
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/cudf_polars/dsl/utils/replace.py
  python/cudf_polars/cudf_polars/dsl/utils/rolling.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/containers/test_column.py
  python/cudf_polars/tests/expressions/test_rolling.py
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/test_rolling.py
  python/cudf_polars/tests/test_window_functions.py
Labels: Python, cudf.polars, libcudf

Add more tests and clean up
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_iterable.py
Labels: Python, cudf.polars, pylibcudf

Use CUDA 12.9 branch with wheel tests workflow
  .github/workflows/pr.yaml
Labels: none

removed int_output and updated examples
  cpp/examples/string_transforms/CMakeLists.txt
  cpp/examples/string_transforms/preallocated.cpp
Labels: libcudf, CMake

replace pyarrow scalars with pylibcudf scalars
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
Labels: Python, cudf.polars

clean up
  python/pylibcudf/pylibcudf/types.pyx
Labels: Python, pylibcudf

clean up
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/types.pyi
Labels: Python, pylibcudf

Update clang-tidy and IWYU versions.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: none

Reduce more data sizes of Python tests (#18814)
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Fix memory access error in nvtext::edit_distance
  cpp/include/nvtext/edit_distance.hpp
  cpp/src/text/edit_distance.cu
  cpp/tests/text/edit_distance_tests.cpp
Labels: libcudf

avoid list.extend
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

switch to set
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Made mistakes in translations
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
Labels: Python, cudf.polars

Update expected version
  cpp/CMakeLists.txt
Labels: libcudf, CMake

added utf-8 text to stringoutput test
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf

refactor
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/nrt_utils.py
  python/cudf/cudf/core/udf/row_function.py
  python/cudf/cudf/core/udf/scalar_function.py
  python/cudf/cudf/core/udf/udf_kernel_base.py
  python/cudf/cudf/core/udf/utils.py
Labels: Python

remove redundant tests
  python/cudf/cudf/tests/test_string_udfs.py
Labels: Python

Revert builds to 12.8.
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: none

Use 12.8 in devcontainer builds
  .github/workflows/pr.yaml
Labels: none

Update strings benchmarks to use alloc_size column/table function
  cpp/benchmarks/string/case.cpp
  cpp/benchmarks/string/char_types.cpp
  cpp/benchmarks/string/combine.cpp
  cpp/benchmarks/string/contains.cpp
  cpp/benchmarks/string/convert_datetime.cpp
  cpp/benchmarks/string/convert_durations.cpp
  cpp/benchmarks/string/convert_fixed_point.cpp
  cpp/benchmarks/string/convert_numerics.cpp
  cpp/benchmarks/string/copy.cpp
  cpp/benchmarks/string/copy_if_else.cpp
  cpp/benchmarks/string/copy_range.cpp
  cpp/benchmarks/string/count.cpp
  cpp/benchmarks/string/extract.cpp
  cpp/benchmarks/string/factory.cpp
  cpp/benchmarks/string/filter.cpp
  cpp/benchmarks/string/find.cpp
  cpp/benchmarks/string/find_multiple.cpp
  cpp/benchmarks/string/join_strings.cpp
  cpp/benchmarks/string/lengths.cpp
  cpp/benchmarks/string/like.cpp
  cpp/benchmarks/string/repeat_strings.cpp
  cpp/benchmarks/string/replace.cpp
  cpp/benchmarks/string/replace_re.cpp
  cpp/benchmarks/string/reverse.cpp
  cpp/benchmarks/string/slice.cpp
  cpp/benchmarks/string/split.cpp
  cpp/benchmarks/string/split_re.cpp
  cpp/benchmarks/string/translate.cpp
  cpp/benchmarks/string/url_decode.cu
Labels: libcudf

signal nrt is needed if compiling under NRTContext
  python/cudf/cudf/core/udf/masked_typing.py
Labels: Python

fix stream pass to numeric-scalar
  cpp/src/text/edit_distance.cu
Labels: libcudf

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

fix spacing in doxygen
  cpp/include/nvtext/edit_distance.hpp
Labels: libcudf

skip
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

Update pdsh to support explain-only
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

add small test
  python/cudf/cudf/tests/test_pandas_interop.py
Labels: Python

style
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

address review
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/benchmarks/API/bench_series.py
  python/cudf/benchmarks/common/config.py
  python/cudf/benchmarks/conftest.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/single_column_frame.py
  python/pylibcudf/pylibcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pyx
  python/pylibcudf/pylibcudf/tests/test_reshape.py
Labels: Python, pylibcudf

Add initial_setup for cudf.Index.from_pandas
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: Python, cudf.pandas

address review
  python/cudf/cudf/core/frame.py
Labels: Python

address review
  python/pylibcudf/pylibcudf/tests/test_reshape.py
Labels: Python, pylibcudf

avoid fusing Sort nodes for now
  python/cudf_polars/cudf_polars/experimental/fusion.py
Labels: Python, cudf.polars

pre-commit
  python/cudf_polars/cudf_polars/experimental/fusion.py
Labels: Python, cudf.polars

address review
  python/cudf/benchmarks/common/config.py
  python/pylibcudf/pylibcudf/reshape.pyx
Labels: Python, pylibcudf

docs
  python/pylibcudf/pylibcudf/reshape.pyx
Labels: Python, pylibcudf

add suffix hints to help prevent overflow
  cpp/src/text/edit_distance.cu
Labels: libcudf

Update python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python

Update python/cudf/cudf/core/index.py
  python/cudf/cudf/core/index.py
Labels: Python

Update python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/multiindex.py
Labels: Python

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
