Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Fix various issues in offsets calculation
  cpp/src/interop/from_arrow_host.cu
Labels: libcudf

next pass
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Return col chunk metas in read_parquet_metadata
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_reader_test.cpp
Labels: libcudf

address code review
  python/cudf_polars/cudf_polars/experimental/scheduler.py
Labels: Python, cudf.polars

use set logic
  python/cudf_polars/cudf_polars/experimental/scheduler.py
Labels: Python, cudf.polars

Improve performance of strings::like for long strings (#18406)
  cpp/benchmarks/string/like.cpp
  cpp/include/cudf/strings/contains.hpp
  cpp/src/strings/like.cu
  cpp/tests/strings/like_tests.cpp
Labels: libcudf

Additional tests strings for strings split APIs
  cpp/tests/strings/split_tests.cpp
Labels: libcudf

Add ``Sort`` + ``head/tail`` support to streaming cudf-polars executor (#18538)
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/sort.py
  python/cudf_polars/tests/experimental/test_sort.py
Labels: Python, cudf.polars

Refactor polars configuration (#18516)
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/docs/overview.md
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_select.py
  python/cudf_polars/tests/experimental/test_shuffle.py
  python/cudf_polars/tests/test_config.py
  python/cudf_polars/tests/test_executors.py
Labels: Python, cudf.polars

Rework strings split_helper utility for better reuse
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split.cuh
  cpp/src/strings/split/split_record.cu
Labels: libcudf

Remove newline
  python/cudf_polars/tests/test_window_functions.py
Labels: Python, cudf.polars

Update rapids_config.cmake
  cmake/rapids_config.cmake
Labels: CMake

add rapidsmp spilling
  python/cudf_polars/cudf_polars/experimental/benchmarks/__init__.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/tpch.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/spilling.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

pr review: removed debug and profiling code
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Support `cudf-polars` `cast_time_unit` (#18442)
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Update to CCCL 2.8.x with no CCCL patches (#18235)
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/get_cccl.cmake
  cpp/cmake/thirdparty/patches/cccl_override.json
  cpp/cmake/thirdparty/patches/thrust_faster_scan_compile_times.diff
  cpp/cmake/thirdparty/patches/thrust_faster_sort_compile_times.diff
  cpp/src/io/fst/dispatch_dfa.cuh
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Remove some duplicate entries
  docs/cudf/source/user_guide/api_docs/dataframe.rst
Labels: none

Inline the accessor pages to avoid duplicate refs
  docs/cudf/source/user_guide/api_docs/index.rst
  docs/cudf/source/user_guide/api_docs/list_handling.rst
  docs/cudf/source/user_guide/api_docs/series.rst
  docs/cudf/source/user_guide/api_docs/string_handling.rst
  docs/cudf/source/user_guide/api_docs/struct_handling.rst
Labels: none

Add some missing items
  docs/cudf/source/user_guide/api_docs/dataframe.rst
  docs/cudf/source/user_guide/api_docs/groupby.rst
  docs/cudf/source/user_guide/api_docs/wordpiece_tokenizer.rst
Labels: none

pr reviews: cuda::std usage; more debug cleanup
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

pr review: ctad
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

pr reviews: header cleanup
  cpp/src/join/sort_merge_join.cu
Labels: libcudf

Sort the output before comparing
  cpp/tests/groupby/bitwise_tests.cpp
Labels: libcudf

Small changes
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/reduction/detail/reduction_functions.hpp
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/reductions/simple.cuh
  cpp/tests/groupby/bitwise_tests.cpp
  cpp/tests/reductions/bitwise_tests.cpp
Labels: libcudf

Update test_stumpy_distributed.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: Python, cudf.pandas

multi-partition Distinct support
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

multi-partition Distinct support
  python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/tests/experimental/test_unique.py
Labels: Python, cudf.polars

Allow datetime.timedelta objects in pylibcudf.Scalar.from_py
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar.pxd
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/libcudf/wrappers/durations.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, pylibcudf

Undo link change
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Enable `stumpy_distributed` tests (#17969)
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: Python, cudf.pandas

internal comp wider api
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/comp.hpp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

public api
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
Labels: libcudf

use in readers/writers
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf

use in tests
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_misc_test.cpp
Labels: libcudf

Python changes
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/CMakeLists.txt
  python/cudf/cudf/io/parquet.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/pylibcudf/pylibcudf/io/parquet_metadata.pxd
  python/pylibcudf/pylibcudf/io/parquet_metadata.pyx
  python/pylibcudf/pylibcudf/libcudf/io/parquet_metadata.pxd
Labels: Python, cudf.polars, pylibcudf, libcudf, CMake

Remove erroneous cmake changes
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Revert "Test nvbench entropy stopping with throttling"
  cmake/rapids_config.cmake
  cpp/benchmarks/join/join.cu
Labels: libcudf, CMake

Remove erroneous cmake change
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake

Use timestamp method and support dtype conversions
  python/pylibcudf/pylibcudf/libcudf/wrappers/timestamps.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: Python, pylibcudf

Add gtests
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/tests/io/parquet_reader_test.cpp
Labels: libcudf

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
