Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

fixes and cleanup
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python

Suggestions from code review
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
Labels: libcudf

cleanup
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/cudf_polars/experimental/fusion.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

initial draft of null-handling
  cpp/include/cudf/jit/span.cuh
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
Labels: libcudf

fix explain
  python/cudf_polars/cudf_polars/experimental/explain.py
Labels: Python, cudf.polars

fix explain test
  python/cudf_polars/tests/experimental/test_explain.py
Labels: Python, cudf.polars

Upload examples
  .github/workflows/build.yaml
Labels: none

fix typing import
  python/cudf_polars/cudf_polars/experimental/fusion.py
Labels: Python, cudf.polars

updates
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

address review
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_iterable.py
Labels: Python, cudf.polars, pylibcudf

Move the test to C++
  cpp/tests/io/parquet_chunked_reader_test.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, libcudf

Implement row group pruning with bloom filters in experimental PQ reader (#18545)
  cpp/CMakeLists.txt
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf, CMake

Update __all__ in cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

add a test
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

add todo
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

Adjust constructors
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Labels: Python

style fix
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
Labels: libcudf

Add nan_as_null to signatures, fix dtype logic in temporal indexes
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
Labels: Python

Adjust more tests
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: Python

Add equals method too
  python/cudf/cudf/core/multiindex.py
Labels: Python

Add docs and code cleanup
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Minor clean ups
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
Labels: libcudf

Fix cudf_polars pl.col(...).len() always excluding null values
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/tests/expressions/test_len.py
Labels: Python, cudf.polars

Suggestions from code review
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf

Suggestions from code review
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf

cleanup
  python/cudf/benchmarks/common/utils.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/io/hdf.py
Labels: Python

Fix import
  python/cudf/cudf/io/hdf.py
Labels: Python

add pytest-rerunfailures
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.polars, pylibcudf

add pytest-rerunfailures
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, cudf.polars, pylibcudf

Fix a small erroneous check and improve docs
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Remove another erroneous check
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
Labels: libcudf

Throw a descriptive exception in Parquet reader when trying to read files with more than two billion rows (#18835)
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf

Fix timedelta and categorical constructors
  python/cudf/cudf/core/index.py
Labels: Python

Fix cudf_polars pl.col(...).len() always excluding null values (#18849)
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/tests/expressions/test_len.py
Labels: Python, cudf.polars

Fix host decompression of empty DEFLATE data (#18805)
  cpp/src/io/comp/uncomp.cpp
  cpp/tests/io/text/data_chunk_source_test.cpp
Labels: libcudf

Add CUDF_INSTALL_DIR for package build
  java/ci/build-in-docker.sh
Labels: Java

Call the correct `from_pandas` in `hdf` reader (#18850)
  python/cudf/cudf/io/hdf.py
Labels: Python

Update `__all__` in `cudf_polars/dsl/ir.py` (#18848)
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

fixes
  python/cudf/cudf/core/indexed_frame.py
Labels: Python

add flag to pdsh.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
