Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Replace thrust functors with libcu++ ones
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cudf/detail/indexalator.cuh
  cpp/src/copying/concatenate.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/io/comp/comp.cu
  cpp/src/io/json/column_tree_construction.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/labeling/label_bins.cu
  cpp/src/sort/common_sort_impl.cuh
  cpp/src/sort/sort_column_impl.cuh
  cpp/src/strings/attributes.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/search/contains_multiple.cu
  cpp/src/text/edit_distance.cu
  cpp/src/text/normalize.cu
  cpp/src/text/subword/subword_tokenize.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
  cpp/tests/reductions/host_udf_example_tests.cu
Labels: libcudf

remove commented out parameter
  cpp/src/strings/like.cu
Labels: libcudf

fix comment: remove than
  cpp/src/strings/capitalize.cu
Labels: libcudf

Address review comments. Fix Python unit test failure
  cpp/include/cudf/io/kvikio_manager.hpp
  cpp/src/io/utilities/kvikio_manager.cpp
  cpp/tests/io/kvikio_manager_test.cpp
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_options.py
  python/pylibcudf/pylibcudf/io/kvikio_manager.pyi
  python/pylibcudf/pylibcudf/io/kvikio_manager.pyx
  python/pylibcudf/pylibcudf/libcudf/io/kvikio_manager.pxd
Labels: Python, pylibcudf, libcudf

revert 838e6e2321722044fdd15518c38f26eae56fbcfb
  python/pylibcudf/pylibcudf/libcudf/utilities/__init__.pxd
  python/pylibcudf/pylibcudf/libcudf/utilities/default_stream.pxd
  python/pylibcudf/pylibcudf/utilities.pyx
Labels: Python, pylibcudf

add const decl to functor method
  cpp/src/strings/extract/extract.cu
Labels: libcudf

move config defaults
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

renamed column offsets index
  cpp/include/cudf/column/column_device_view_base.cuh
Labels: libcudf

fix docs
  python/pylibcudf/pylibcudf/io/types.pyx
Labels: Python, pylibcudf

fix suffix-array min width calc; add more comments
  cpp/src/text/dedup.cu
Labels: libcudf

Add more python and c++ test
  cpp/tests/io/kvikio_manager_test.cpp
  python/cudf/cudf/tests/test_options.py
Labels: Python, libcudf

Fix cpp examples cmake for vendored rapids.cmake
  cpp/examples/set_cuda_architecture.cmake
Labels: libcudf, CMake

add tests
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

Remove comments.
  cpp/examples/set_cuda_architecture.cmake
Labels: libcudf, CMake

Disabled Jitify Minification (#18436)
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: libcudf, CMake

adjust conftest options
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/conftest.py
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_parallel.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/experimental/test_select.py
  python/cudf_polars/tests/experimental/test_shuffle.py
Labels: Python, cudf.polars

Increase wheel size limit. (#18487)
  python/libcudf/pyproject.toml
Labels: Python

Add pylibcudf.Column.from_rmm_buffer
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

update docstring
  cpp/include/cudf/null_mask.hpp
Labels: libcudf

style fix
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

Avoid patching sort algorithms from CCCL (#18364)
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/patches/cccl_override.json
Labels: libcudf, CMake

Fix cpp examples cmake to use the rapids_config.cmake (#18501)
  cpp/examples/set_cuda_architecture.cmake
Labels: libcudf, CMake

Some more optimization
  cpp/src/bitmask/null_mask.cu
Labels: libcudf

Replace host_buffer in favor of host_span in SourceInfo
  python/pylibcudf/pylibcudf/io/types.pxd
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/libcudf/io/types.pxd
  python/pylibcudf/pylibcudf/libcudf/utilities/span.pxd
  python/pylibcudf/pylibcudf/tests/io/test_types.py
Labels: Python, pylibcudf

fix coverage errors
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

optimize pandas metadata
  python/cudf/cudf/utils/ioutils.py
Labels: Python

partial work
  cpp/include/cudf/join/sort_merge_join.cuh
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf

Remove periods from brief docstrings
  cpp/include/cudf/null_mask.hpp
Labels: libcudf

plumb through cudf classic
  python/cudf/cudf/core/frame.py
Labels: Python

Add helper function for empty columns
  cpp/src/interop/to_arrow_device.cu
Labels: libcudf

Add missing throw
  cpp/src/interop/to_arrow_schema.cpp
Labels: libcudf

Switch to uintptr_t
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Rename cudf_object to plc_object
  python/pylibcudf/pylibcudf/interop.pyx
Labels: Python, pylibcudf

Replace thrust functors with libcu++ ones (#18500)
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cudf/detail/indexalator.cuh
  cpp/src/copying/concatenate.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/io/comp/comp.cu
  cpp/src/io/json/column_tree_construction.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/labeling/label_bins.cu
  cpp/src/sort/common_sort_impl.cuh
  cpp/src/sort/sort_column_impl.cuh
  cpp/src/strings/attributes.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/search/contains_multiple.cu
  cpp/src/text/edit_distance.cu
  cpp/src/text/normalize.cu
  cpp/src/text/subword/subword_tokenize.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
  cpp/tests/reductions/host_udf_example_tests.cu
Labels: libcudf

Add comments on inline C++
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
Labels: Python, pylibcudf

Add strings::extract_single API (#18417)
  cpp/include/cudf/strings/extract.hpp
  cpp/src/strings/extract/extract.cu
  cpp/tests/strings/extract_tests.cpp
Labels: libcudf

Remove redundant is_fixed_point check
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, pylibcudf

Remove `GPU_ARCHS`, replacing by `CMAKE_CUDA_ARCHITECTURES`
  .github/workflows/spark-rapids-jni.yaml
  build.sh
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: CMake, Java

Minor cleanup
  cpp/src/interop/from_arrow_device.cu
Labels: libcudf

moved everything to a class
  cpp/include/cudf/join.hpp
  cpp/include/cudf/join/sort_merge_join.cuh
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/join/join_tests.cu
Labels: libcudf, CMake
