Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

Reduce the number of miscellaenous pandas unit tests run with cudf.pandas (#18524)
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, cudf.pandas

Remove `_bulk` suffix from tests
  cpp/tests/bitmask/set_nullmask_tests.cu
Labels: libcudf

coverage
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

basic sort + head/tail support
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/sort.py
  python/cudf_polars/tests/experimental/test_sort.py
Labels: Python, cudf.polars

teak comment
  python/cudf_polars/cudf_polars/experimental/sort.py
Labels: Python, cudf.polars

Clarify @brief tag as description/title on documentation guide (#18515)
  cpp/doxygen/developer_guide/DOCUMENTATION.md
Labels: libcudf

fix imports
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

added downloads from Github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/test_cpp_common.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: none

Adds support for writing raw UTF-8 characters (without escaping) in the JSON writer (#18508)
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json/json_writer.cpp
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
  python/pylibcudf/pylibcudf/tests/io/test_json.py
Labels: Python, pylibcudf, libcudf

more coverage fixes
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

review
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Revert "No conda-forge arm packages for nanoarrow"
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
  python/pylibcudf/pylibcudf/tests/test_interop.py
Labels: Python, pylibcudf

PR review
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/docs/overview.md
Labels: Python, cudf.polars

formatting
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
Labels: Java

Remove unused in-memory config options
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

For testing
  cmake/rapids_config.cmake
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/src/groupby/hash/compute_mapping_indices.cuh
  cpp/src/groupby/hash/helpers.cuh
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/parquet_gpu.cuh
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.hpp
Labels: libcudf, CMake

Test cuCollections update to avoid deprecated Thrust features.
  cmake/rapids_config.cmake
Labels: CMake

Rename to parquet_partition_blocksize
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/docs/overview.md
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

ShuffleMethod fixes
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Update docstring to specify aliasing behavior
  cpp/include/cudf/null_mask.hpp
Labels: libcudf

Minor improvements
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
Labels: libcudf

Refactor scan test I/O logic into shared make_partitioned_source helper
  python/cudf_polars/cudf_polars/testing/io.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/test_scan.py
  python/cudf_polars/tests/testing/test_io.py
Labels: Python, cudf.polars

update coverage
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

remove need for _generate_ir_tasks_pwise - now default behavior.
  python/cudf_polars/cudf_polars/experimental/parallel.py
Labels: Python, cudf.polars

use typing.assert_never
  python/cudf_polars/cudf_polars/callback.py
Labels: Python, cudf.polars

Disable invalid load factor tests for now
  cpp/tests/join/distinct_join_tests.cpp
  cpp/tests/join/join_tests.cpp
Labels: libcudf

fixup
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

Don't use pytest.importorskip
  python/pylibcudf/pylibcudf/tests/io/test_avro.py
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
  python/pylibcudf/pylibcudf/tests/io/test_json.py
  python/pylibcudf/pylibcudf/tests/test_hashing.py
Labels: Python, pylibcudf

add tests
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Java

clean commit
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Java

clean commit
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Java

clean commit
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Labels: Java

minor updates
  cpp/src/join/hash_join.cu
Labels: libcudf

lint
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Java

Pass test_python_pylibcudf to rdfg
  ci/test_python_common.sh
  ci/test_python_cudf.sh
Labels: none

Add a utility to bulk set multiple null masks (#18489)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/null_mask/set_null_mask.cpp
  cpp/include/cudf/fixed_point/detail/floating_conversion.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/io/comp/comp.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/tests/bitmask/set_nullmask_tests.cu
Labels: libcudf, CMake

fixed other downloads to switch from S3 to Github
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  ci/cudf_pandas_scripts/run_tests.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: none

Simplify `select_payload_columns`
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Impl rg pruning with stats in expt PQ reader
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Add back cudf root
  conda/recipes/libcudf/recipe.yaml
Labels: none

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'
