Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

check for symbols post install
  conda/recipes/libcudf/recipe.yaml
Labels: none

Update copyright years
  cpp/include/cudf/detail/utilities/cuda.cuh
Labels: libcudf

Pass None to pa.scalar
  python/cudf/cudf/core/column/numerical.py
Labels: Python

cleanup
  conda/recipes/libcudf/recipe.yaml
Labels: none

again jitify
  cpp/cmake/thirdparty/get_jitify.cmake
  cpp/cmake/thirdparty/patches/j.diff
  cpp/cmake/thirdparty/patches/jitify_override.json
Labels: libcudf, CMake

Workaround for ARM compiler issue
  cpp/src/text/bpe/load_merge_pairs.cu
  cpp/src/text/subword/load_hash_file.cu
Labels: libcudf

Accelerate page span selection algorithm
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Extend and simplify API for calculation of range-based rolling window offsets (#17807)
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/rolling.hpp
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/detail/range_comparator_utils.cuh
  cpp/src/rolling/detail/range_utils.cuh
  cpp/src/rolling/detail/range_window_bounds.hpp
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/rolling/detail/rolling_utils.cuh
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/range_rolling.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/range_comparator_test.cu
  cpp/tests/rolling/range_window_type_test.cpp
Labels: libcudf, CMake

Update cpp/src/text/bpe/load_merge_pairs.cu
  cpp/src/text/bpe/load_merge_pairs.cu
Labels: libcudf

add rapidsmp integration
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: Python, cudf.polars

add test
  python/cudf_polars/tests/experimental/test_rapidsmp.py
Labels: Python, cudf.polars

Deduplicate `make_page_indices` function
  cpp/src/io/parquet/experimental/page_index_filter.cu
Labels: libcudf

Address test failures
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_setitem.py
Labels: Python

Support top-k expression
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_top_and_bottom_k.py
Labels: Python, cudf.polars

Update ci/test_narwhals.sh
  ci/test_narwhals.sh
Labels: none

Add missing `cudatoolkit` run_export ignore to `pylibcudf`
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

jitify part 3
  cpp/cmake/thirdparty/get_jitify.cmake
Labels: libcudf, CMake

Bump nightly check limit (#18213)
  .github/workflows/pr.yaml
Labels: none

Enabling `cross` join in `cudf` python (#17921)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/utils/applyutils.py
Labels: Python

add ZSTD back, as it will be supported before merge
  cpp/src/io/comp/uncomp.cpp
Labels: libcudf

aliasing libzstd_static to zstd for spark build issues
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

initial pass
  .github/workflows/pr.yaml
  ci/test_python_imports.sh
Labels: none

test-more-configs
  .github/workflows/pr.yaml
  cpp/src/text/bpe/load_merge_pairs.cu
Labels: libcudf

address review
  ci/cudf_pandas_scripts/run_tests.sh
Labels: none

oops
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

Revert "Bump nightly check limit (#18213)"
  .github/workflows/pr.yaml
Labels: none

undo pr.yaml change
  .github/workflows/pr.yaml
Labels: none

Make test consistent
  python/cudf/cudf/tests/test_setitem.py
Labels: Python

fix
  ci/test_python_imports.sh
Labels: none

Add missing `cudatoolkit` run_export ignore to `pylibcudf` (#18223)
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

exporting zstd build dir root
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake

test
  ci/test_python_imports.sh
Labels: none

Workaround for ARM compiler issue with single space literal string (#18220)
  cpp/src/text/bpe/load_merge_pairs.cu
  cpp/src/text/subword/load_hash_file.cu
Labels: libcudf

less printfs
  cpp/src/text/bpe/byte_pair_encoding.cu
Labels: libcudf

Ignore `cudatoolkit` run exports by name, not package
  conda/recipes/cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: none

Bump polars version to <1.25 (#18209)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_join.py
Labels: Python, cudf.polars

change test name
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, cudf.pandas

add test coverage
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/conftest.py
  python/cudf_polars/tests/experimental/test_rapidsmp.py
Labels: Python, cudf.polars

initial
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars

add isoyear need better tests
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: Python, cudf.polars
