Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

Update python/cudf/cudf/core/index.py
  python/cudf/cudf/core/index.py
Labels: Python

remove numba-cuda from build python common
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, pylibcudf

Skip a decompression test (#18825)
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

add build_python_cudf
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: Python

Remove toplevel import cudf from cudf/io files
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/io/hdf.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
Labels: Python

Scan a headerless CSV file with column names provided (#18816)
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/io.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

removed null tests in java transforms test
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Java

Remove toplevel from window/tools/join directories
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/rolling.py
Labels: Python

Move implemented BaseIndex methods over to Index (#18807)
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python, cudf.pandas

Fix int overflow
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/column_buffer.cpp
Labels: libcudf

Add test
  cpp/src/io/parquet/reader_impl_preprocess.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, libcudf

Minor improvement
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf

Use 12.8 for Spark
  .github/workflows/spark-rapids-jni.yaml
Labels: none

doc failure and benchmarks failures
  python/cudf/benchmarks/conftest.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: Python

docs
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Labels: Python

Implement row group pruning with dictionaries in experimental PQ reader
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

style fix
  cpp/src/io/parquet/experimental/hybrid_scan_chunking.cu
  cpp/src/io/parquet/experimental/hybrid_scan_preprocess.cu
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Minor docs update
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
Labels: libcudf

Improve test speed
  python/cudf/cudf/tests/test_parquet.py
Labels: Python

style check
  cpp/src/io/utilities/column_buffer.cpp
Labels: libcudf

docs
  docs/cudf/source/user_guide/api_docs/index_objects.rst
Labels: none

Implemented String Output & User-data Support for Transforms (#18490)
  cpp/benchmarks/ndsh/q09.cpp
  cpp/include/cudf/jit/span.cuh
  cpp/include/cudf/transform.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: libcudf, Java

Test with CUDA 12.9.0 (#18721)
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/libcudf/pyproject.toml
Labels: Python, cudf.pandas

Apply suggestion from code review
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf

Finish CUDA 12.9 migration and use branch-25.06 workflows
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
Labels: none

Add fast paths for `DataFrame.to_cupy` (#18801)
  docs/cudf/source/user_guide/api_docs/index_objects.rst
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/benchmarks/API/bench_series.py
  python/cudf/benchmarks/common/config.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
  python/pylibcudf/pylibcudf/libcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pyi
  python/pylibcudf/pylibcudf/reshape.pyx
  python/pylibcudf/pylibcudf/tests/test_reshape.py
Labels: Python, pylibcudf

Add new sources to cmake
  cpp/CMakeLists.txt
Labels: libcudf, CMake

Updates
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
Labels: libcudf

address review
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/utils.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/json/write_json.cu
Labels: libcudf

Finish CUDA 12.9 migration and use branch-25.06 workflows (#18839)
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
Labels: none

Add sink support in cudf_polars (#18468)
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/utils.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json/json_writer.cpp
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/tests/test_sink.py
  python/cudf_polars/tests/testing/test_asserts.py
  python/pylibcudf/pylibcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/io/csv.pyi
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyi
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/libcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
  python/pylibcudf/pylibcudf/libcudf/io/parquet.pxd
Labels: Python, cudf.polars, pylibcudf, libcudf

next batch of fixes
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
  python/cudf/cudf/utils/dtypes.py
Labels: Python, cudf.pandas

add retries to slow runs
  python/cudf/cudf_pandas_tests/test_disable_pandas_accelerator.py
  python/cudf/cudf_pandas_tests/test_disable_per_thread_safety.py
Labels: Python, cudf.pandas

Remove toplevel `import cudf` from window/tools/join directories (#18833)
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/rolling.py
Labels: Python

Remove toplevel `import cudf` from cudf/io files (#18829)
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/io/hdf.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
Labels: Python

removed int_output and updated examples
  cpp/examples/string_transforms/README.md
Labels: libcudf

formatting
  cpp/examples/build.sh
  cpp/examples/string_transforms/common.hpp
  cpp/examples/string_transforms/info.csv
  cpp/examples/string_transforms/output.cpp
Labels: libcudf

Work around file:// URI handling until Polars supports PythonScanSourceInput::Uri
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

remove xfails
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Remove all BaseIndex references
  python/cudf/cudf/core/index.py
Labels: Python
