Repository rapidsai/cudf, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, cudf.pandas, cudf.polars, pylibcudf, libcudf, CMake, Java

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

Python:
  - 'python/**'
  - 'notebooks/**'

cudf.pandas:
  - 'python/cudf/cudf/pandas/**'
  - 'python/cudf/cudf_pandas_tests/**'

cudf.polars:
  - 'python/cudf_polars/**'

pylibcudf:
  - 'python/pylibcudf/**'

libcudf:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  - '**/*.cmake'

Java:
  - 'java/**'

cleanup
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
Labels: Python, cudf.polars

update error message
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

test_dask_serialization_error
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: Python, cudf.polars

test
  .github/workflows/pr.yaml
Labels: none

replace parquet_blocksize with target_partition_size
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/spilling.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

Polars test xfail updates
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/tests/expressions/test_agg.py
Labels: Python, cudf.polars

Fix optional operator* called on a disengaged value in clamp.cu (#18655)
  cpp/src/replace/clamp.cu
Labels: libcudf

address review
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, cudf.polars

the real fix
  python/libcudf/pyproject.toml
Labels: Python

Skip test_large_unique_categories_repr in CI (#18666)
  python/cudf/cudf/tests/test_repr.py
Labels: Python

Add missing header
  cpp/benchmarks/io/cuio_common.cpp
Labels: libcudf

address review
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, cudf.polars

Revert "Disable `arm64` python tests (#18662)"
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

Revert "Skip test_large_unique_categories_repr in CI (#18666)"
  python/cudf/cudf/tests/test_repr.py
Labels: Python

Revert "Fix optional operator* called on a disengaged value in clamp.cu (#18655)"
  cpp/src/replace/clamp.cu
Labels: libcudf

Revert "Enable rapidsmpf spilling in cudf-polars (#18461)"
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/spilling.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/experimental/test_rapidsmpf.py
  python/cudf_polars/tests/test_config.py
Labels: Python, cudf.polars

Revert "Implement row group pruning with stats in experimental PQ reader (#18543)"
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: libcudf

Revert "Add missing header to host_memory.cpp (#18649)"
  cpp/src/utilities/host_memory.cpp
Labels: libcudf

Revert "pylibcudf.Column: add `device_buffer_size` and register a dask.sizeof function for cudf-polars Column and DataFrame (#18602)"
  docs/cudf/source/conf.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
  python/cudf_polars/tests/experimental/test_dask_sizeof.py
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, cudf.polars, pylibcudf

Revert "Disable `arm64` python tests (#18662)"
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

Add support for large list host Arrow data conversion (#18562)
  cpp/src/interop/arrow_utilities.cpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
  python/cudf_polars/cudf_polars/containers/dataframe.py
Labels: Python, cudf.polars, libcudf

Update test_python_cudf.sh
  ci/test_python_cudf.sh
Labels: none

Revert "Fix compile warnings in Java JNI (#18660)"
  java/src/main/native/src/ColumnViewJni.cu
Labels: Java

Revert "Preserve partitioning after ``Filter`` and ``Projection`` in cudf-polars (#18638)"
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, cudf.polars

Revert "Fix device compression when writing Parquet files without using nvCOMP (#18644)"
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/utilities/config_utils.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

Revert "Replace unnecessary cudf::size_of() calls with sizeof() (#18628)"
  cpp/src/reshape/byte_cast.cu
  cpp/src/unary/cast_ops.cu
  cpp/tests/column/column_test.cpp
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/streams/column_view_test.cpp
Labels: libcudf

Revert "Add gtest error check for nvtext::wordpiece_tokenize (#18621)"
  cpp/include/nvtext/wordpiece_tokenize.hpp
  cpp/src/text/wordpiece_tokenize.cu
  cpp/tests/text/subword_tests.cpp
Labels: libcudf

Revert "Improve nvtext::tokenize_with_vocabulary performance (#18522)"
  cpp/src/text/vocabulary_tokenize.cu
Labels: libcudf

Update pr.yaml
  .github/workflows/pr.yaml
Labels: none

remove passing test from xfail list
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, cudf.polars

Revert "Disable `arm64` python tests (#18662)"
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

Pin pytorch
  ci/test_python_cudf.sh
Labels: none

Drop ``Empty`` nodes from IR graph (#18658)
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, cudf.polars

Improve default config values for cudf-polars streaming (#18623)
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/utils/config.py
Labels: Python, cudf.polars

better cardinality_factor for l_partkey
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, cudf.polars

Update test_wheel_cudf.sh
  ci/test_wheel_cudf.sh
Labels: none

Polars dataframe serialize using chunked pack (#18614)
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: Python, cudf.polars

Improve tests
  cpp/tests/reductions/bitwise_tests.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: libcudf, Java

improve spilling before task execution
  python/cudf_polars/cudf_polars/experimental/spilling.py
Labels: Python, cudf.polars

Reduce number of columns in test_groupby_multi_agg_hash_groupby
  python/cudf/cudf/tests/test_groupby.py
Labels: Python
