Repository rapidsai/cudf, pull requests merged in 2018-11, with the labels that each got.

#315 [REVIEW] RTD build update to fix missing libcuda.so error
  README.md
  conda_environments/builddocs_py35.yml
  docs/source/index.rst
  readthedocs.yml
Labels: 3 - Ready for Review, doc

#323 [REVIEW] Add handling pyarrow boolean arrays in input/out, add tests; Fixes #322
  cudf/columnops.py
  cudf/numerical.py
  cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review

#320 [REVIEW] FIX out-of-bounds access error in reductions.cu
  libgdf/src/reductions.cu
Labels: 3 - Ready for Review, cuda

#336 [REVIEW] Fea ext csv reader strings
  .gitignore
  Dockerfile
  conda-recipes/cudf/meta.yaml
  conda-recipes/libgdf/meta.yaml
  conda-recipes/libgdf_cffi/meta.yaml
  cudf/io.py
  libgdf/CMakeLists.txt
  libgdf/include/gdf/cffi/convert_types.h
  libgdf/include/gdf/cffi/io_functions.h
  libgdf/include/gdf/cffi/io_types.h
  libgdf/include/gdf/gdf_io.h
  libgdf/src/io/csv/csv-reader.cu
  libgdf/src/io/csv/custr/CUDAStrings.h
  libgdf/src/io/csv/custr/NVCategory.h
  libgdf/src/io/csv/custr/NVStrings.h
  libgdf/src/io/csv/type_conversion.cuh
  libgdf/src/tests/csv/csv-test.cu
  travisci/libgdf/build_libgdf.sh
  travisci/libgdf/build_libgdf_cffi.sh
Labels: 3 - Ready for Review

#337 [REVIEW] Retain index on `scale()` function; fixes #79
  cudf/series.py
  cudf/tests/test_stats.py
Labels: 3 - Ready for Review

#341 [REVIEW] Preserve categorical dtype after groupby-agg (Fixes #288)
  cudf/categorical.py
  cudf/columnops.py
  cudf/dataframe.py
  cudf/libgdf_groupby.py
  cudf/tests/test_groupby.py
Labels: 3 - Ready for Review

#344 [REVIEW] Fix PyArrow 0.11 handing of booleans
  cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review

#342 [WIP] Fixing cmake to pull from conda env
  conda-recipes/cudf/meta.yaml
  conda-recipes/libgdf/meta.yaml
  conda-recipes/libgdf_cffi/meta.yaml
  conda_environments/builddocs_py35.yml
  conda_environments/testing_py35.yml
  libgdf/CMakeLists.txt
  libgdf/src/io/csv/csv-reader.cu
  libgdf/src/io/csv/custr/CUDAStrings.h
  libgdf/src/io/csv/custr/NVCategory.h
  libgdf/src/io/csv/custr/NVStrings.h
  travisci/build_cudf.sh
  travisci/libgdf/build_libgdf.sh
  travisci/libgdf/build_libgdf_cffi.sh
  travisci/libgdf/install-env-libgdf.sh
  travisci/libgdf/upload-anaconda.sh
  travisci/upload-anaconda.sh
Labels: 2 - In Progress

#321 [REVIEW] ENH Add file/line location logging and convenience macros for RMM
  libgdf/include/memory.h
  libgdf/include/rmm.h
  libgdf/python/librmm_cffi/wrapper.py
  libgdf/python/tests/test_rmm.py
  libgdf/src/column.cpp
  libgdf/src/groupby/groupby.cuh
  libgdf/src/groupby/hash/groupby_compute_api.h
  libgdf/src/hashing.cu
  libgdf/src/hashmap/managed_allocator.cuh
  libgdf/src/hashops.cu
  libgdf/src/io/convert/gdf-to-csr.cu
  libgdf/src/io/csv/csv-reader.cu
  libgdf/src/join/hash/join_compute_api.h
  libgdf/src/join/joining.cu
  libgdf/src/join/joining.h
  libgdf/src/join/sort/sort-join.cuh
  libgdf/src/memory/memory.cpp
  libgdf/src/memory/memory_manager.cpp
  libgdf/src/memory/memory_manager.h
  libgdf/src/scan.cu
  libgdf/src/segmented_sorting.cu
  libgdf/src/sorting.cu
  libgdf/src/tests/filterops_numeric/helper/utils.cu
  libgdf/src/tests/filterops_numeric/helper/utils.cuh
  libgdf/src/tests/filterops_numeric/test_example.cu
  libgdf/src/tests/groupby/groupby-test.cu
  libgdf/src/tests/hashing/gdf_test_utils.cuh
  libgdf/src/tests/join/join-tests.cu
  libgdf/src/tests/memory/memory_tests.cpp
  libgdf/src/tests/test_utils/gdf_test_utils.cuh
  libgdf/src/thrust_rmm_allocator.h
  libgdf/src/validops.cu
  libgdf/src/windowedops.cu
Labels: 3 - Ready for Review

#333 [REVIEW] DOC Add RMM documentation.
  libgdf/doc/RAPIDS_Memory_Manager.md
Labels: 3 - Ready for Review, doc

#346 [REVIEW] fixed for negative values in read_csv
  libgdf/src/io/csv/type_conversion.cuh
Labels: 3 - Ready for Review

#364 [REVIEW] Removes noexcept from managed_allocator & a CMakeLists fix for NVstrings
  libgdf/CMakeLists.txt
  libgdf/src/hashmap/managed_allocator.cuh
Labels: 3 - Ready for Review, cuda

#360 [REVIEW] Fixed negative float
  cudf/tests/test_csvreader.py
  libgdf/src/io/csv/type_conversion.cuh
Labels: 3 - Ready for Review

#381 [REVIEW] Faster InputTooLarge Join test completes in ms rather than minutes.
  libgdf/src/tests/join/join-tests.cu
Labels: 3 - Ready for Review, tests

#325 [REVIEW] Fix validity check for columns
  libgdf/include/gdf/cffi/functions.h
  libgdf/src/join/joining.cu
  libgdf/src/quantiles.cu
  libgdf/src/scan.cu
  libgdf/src/segmented_sorting.cu
  libgdf/src/sorting.cu
  libgdf/src/sqls_ops.cu
  libgdf/src/streamcompactionops.cu
  libgdf/src/tests/groupby/groupby-test.cu
  libgdf/src/tests/groupby/test_parameters.cuh
  libgdf/src/tests/join/join-tests.cu
  libgdf/src/tests/join/valid_vectors.h
  libgdf/src/tests/quantiles/quant_tester.cu
Labels: 3 - Ready for Review

#398 [REVIEW] Feature/shape
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, cuDF (Python)

#379 [REVIEW] Implement type_dispatcher
  cpp/CMakeLists.txt
  cpp/include/cudf/types.h
  cpp/src/dataframe/column.cpp
  cpp/src/dataframe/cudf_table.cuh
  cpp/src/dataframe/type_dispatcher.hpp
  cpp/src/dataframe/types.hpp
  cpp/tests/column/column_test.cu
Labels: 3 - Ready for Review, cuda, libcudf (C++/CUDA)

#349 [REVIEW] Improve performance for creating columns from memoryview objects; Fixes #348
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, cuDF (Python)

#266 [REVIEW] Change concat to use new libgdf method
  python/cudf/_gdf.py
  python/cudf/dataframe/buffer.py
  python/cudf/dataframe/column.py
  python/cudf/dataframe/series.py
Labels: 3 - Ready for Review, cuDF (Python)

#394 [REVIEW] Feature/10 min to cudf
  conda/environments/builddocs_py35.yml
  docs/requirement.txt
  docs/source/10min.rst
  docs/source/conf.py
  docs/source/index.rst
Labels: 3 - Ready for Review, cuDF (Python), doc

#408 Update Dockerfile for latest src tree structure
  Dockerfile
Labels: 4 - Needs Rework

#417 [REVIEW] Fix failing test for issue #416
  cpp/tests/hash_map/map_test.cu
  travisci/libcudf/build_libcudf.sh
  travisci/libcudf/build_libcudf_cffi.sh
Labels: 3 - Ready for Review

#414 [REVIEW] Fixed include file paths for the installation command in CMakeLists.txt
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, CMake

#418 [REVIEW] Properly cast string dtypes to programmatic dtypes when instantiating columns
  python/cudf/bindings/cudf_cpp.pyx
  python/cudf/dataframe/columnops.py
Labels: 3 - Ready for Review, cuDF (Python)

#427 [REVIEW] Concatenation illegal memory access with nulls
  python/cudf/dataframe/column.py
  python/cudf/tests/test_multi.py
Labels: 3 - Ready for Review, cuDF (Python)

#361 [REVIEW] Adding support to read strings with delimiters
  cpp/include/cudf/io_types.h
  cpp/src/io/csv/csv_reader.cu
  cpp/tests/io/csv/csv_test.cu
  python/cudf/io/csv.py
  python/cudf/tests/test_csvreader.py
Labels: 3 - Ready for Review, cuDF (Python), libcudf (C++/CUDA)
