Repository rapidsai/cudf, pull requests merged in 2018-09, with the labels that each got.

#235 [REVIEW] Fix (de)serialization error for DatetimeColumn
  pygdf/datetime.py
  pygdf/serialize.py
  pygdf/tests/test_serialize.py
Labels: 3 - Ready for Review

#236 [REVIEW] Allow for running concat against empty dataframes
  pygdf/dataframe.py
  pygdf/index.py
  pygdf/tests/test_dataframe.py
  pygdf/tests/test_index.py
Labels: 3 - Ready for Review

#237 [REVIEW] Use sets to avoid differently ordered columns
  pygdf/dataframe.py
  pygdf/tests/test_multi.py
Labels: 2 - In Progress

#239 [REVIEW] Enhance scalar_broadcast_to perf
  pygdf/cudautils.py
  pygdf/utils.py
Labels: 3 - Ready for Review

#211 [REVIEW] Calculating Null Mask when creating series/columns from device type objects, solving issue 135 and 183.
  pygdf/columnops.py
  pygdf/cudautils.py
  pygdf/tests/test_dataframe.py
  pygdf/tests/test_label_encode.py
  pygdf/tests/test_pandas_interop.py
Labels: 3 - Ready for Review

#229 [REVIEW] Add binding to libgdf gdf_hash_partition
  pygdf/_gdf.py
  pygdf/dataframe.py
  pygdf/tests/test_dataframe.py
Labels: 2 - In Progress

#242 [REVIEW] Handle 0 length category columns
  pygdf/cudautils.py
  pygdf/tests/test_categorical.py
Labels: 3 - Ready for Review

#244 [REVIEW] Allow for setting series when index isn't standard monotically increasing index
  pygdf/dataframe.py
  pygdf/tests/test_dataframe.py
Labels: 3 - Ready for Review

#255 [REVIEW] Fix bug in groupby from not sorting multiple aggregation results
  pygdf/libgdf_groupby.py
Labels: 3 - Ready for Review

#258 [REVIEW] Eliminate extra GPU device array deep copies in Buffer
  pygdf/buffer.py
Labels: 3 - Ready for Review

#262 Dask gdf fixes
  pygdf/__init__.py
  pygdf/dataframe.py
  pygdf/index.py
  pygdf/series.py
  pygdf/tests/test_dataframe.py
  pygdf/tests/test_index.py
  pygdf/tests/test_onehot.py
  setup.cfg
Labels: 2 - In Progress, proposal

#261 [REVIEW] Check for null_count > 0 instead of has_null_mask
  pygdf/column.py
  pygdf/columnops.py
  pygdf/dataframe.py
  pygdf/numerical.py
  pygdf/tests/test_dataframe.py
  pygdf/tests/test_sparse_df.py
Labels: 3 - Ready for Review

#253 [REVIEW] Change count_nonzero_mask to use libgdf
  pygdf/_gdf.py
  pygdf/column.py
  pygdf/cudautils.py
Labels: 3 - Ready for Review
