Repository rapidsai/cudf, pull requests merged in 2018-10, with the labels that each got.

#267 [REVIEW] Add to/from PyArrow functions and use PyArrow more heavily for data ingestion
  pygdf/_gdf.py
  pygdf/categorical.py
  pygdf/columnops.py
  pygdf/cudautils.py
  pygdf/dataframe.py
  pygdf/datetime.py
  pygdf/index.py
  pygdf/numerical.py
  pygdf/series.py
  pygdf/tests/test_dataframe.py
Labels: 3 - Ready for Review

#268 [REVIEW] PyArrow: Fix issue in typing of scalars, handle date32 and date64 types
  pygdf/_gdf.py
  pygdf/columnops.py
  pygdf/tests/test_dataframe.py
Labels: 3 - Ready for Review

#252 [REVIEW] Python wrapper and tests for CSV reader
  pygdf/__init__.py
  pygdf/_gdf.py
  pygdf/column.py
  pygdf/io.py
  pygdf/tests/test_csvreader.py
Labels: 3 - Ready for Review

#265 [REVIEW] Change dataframe to call new join api
  pygdf/_gdf.py
  pygdf/columnops.py
  pygdf/dataframe.py
  pygdf/tests/test_joining.py
Labels: 3 - Ready for Review

#292 [WIP] Changed outer joins to use new libgdf outer join API
  pygdf/_gdf.py
  pygdf/dataframe.py
Labels: 2 - In Progress

#291 [REVIEW] Quantile bindings
  pygdf/_gdf.py
  pygdf/column.py
  pygdf/dataframe.py
  pygdf/series.py
  pygdf/tests/test_stats.py
Labels: 3 - Ready for Review, depends on libgdf

#269 [REVIEW] Memory Manager
  pygdf/_gdf.py
  pygdf/applyutils.py
  pygdf/buffer.py
  pygdf/column.py
  pygdf/columnops.py
  pygdf/cudautils.py
  pygdf/dataframe.py
  pygdf/gpu_ipc_broker.py
  pygdf/gpuarrow.py
  pygdf/groupby.py
  pygdf/index.py
  pygdf/libgdf_groupby.py
  pygdf/numerical.py
  pygdf/queryutils.py
  pygdf/tests/conftest.py
  pygdf/tests/test_dataframe.py
  pygdf/tests/test_gpu_arrow_parser.py
  pygdf/tests/test_pickling.py
  pygdf/tests/test_serialize.py
  pygdf/tests/test_sparse_df.py
  pygdf/utils.py
Labels: 3 - Ready for Review, depends on libgdf

#303 [REVIEW] - Fix #206: resolved bug in printing empty dataframe
  cudf/dataframe.py
  cudf/formatting.py
  cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review

#311 [REVIEW] Document system requirements for conda install
  README.md
Labels: 3 - Ready for Review

#290 [REVIEW] Datetime Typecasting and fix empty column test
  cudf/buffer.py
  cudf/cudautils.py
  cudf/datetime.py
  cudf/numerical.py
  cudf/tests/test_dataframe.py
  cudf/tests/test_datetime.py
Labels: 3 - Ready for Review
