Repository rapidsai/cudf, pull requests merged in 2018-12, with the labels that each got.

#429 [REVIEW] Add CHANGELOG.md
  CHANGELOG.md
Labels: 3 - Ready for Review

#437 [REVIEW] Improve Dockerfile: install libcudf cffi bindings, add pytest, remove unused cmake flag
  CHANGELOG.md
  Dockerfile
  README.md
Labels: Container

#448 Update installation readme
  CHANGELOG.md
  README.md
Labels: doc

#439 [REVIEW] Dataframe drop method
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_dataframe.py
  python/cudf/tests/test_joining.py
  python/cudf/tests/test_multi.py
Labels: 3 - Ready for Review, cuDF (Python)

#426 [REVIEW] Phase 1 refactor of groupby
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/groupby/aggregation_operations.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/groupby_compute_api.h
  cpp/src/groupby/hash_groupby.cuh
  cpp/src/groupby/hash_groupby_kernels.cuh
  cpp/src/groupby/new_groupby.cu
  cpp/src/groupby/new_groupby.hpp
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/sqls/sqls_ops.cu
  cpp/src/utilities/cudf_utils.h
  cpp/src/utilities/wrapper_types.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/hash_map/map_test.cu
  cpp/tests/sqls/baselines/sqls_tests_new_api.dat
  cpp/tests/sqls/sqls_test.cu
  python/cudf/dataframe/dataframe.py
  python/cudf/groupby/groupby.py
  python/cudf/tests/test_groupby.py
  python/cudf/tests/test_libgdf_groupby.py
Labels: 3 - Ready for Review, cuDF (Python), libcudf (C++/CUDA)

#495 [REVIEW] Update README to correct cffi pytest failure
  CHANGELOG.md
  README.md
Labels: 3 - Ready for Review, bug, doc

#473 [REVIEW] FIX: Added missing include for <random>
  CHANGELOG.md
  cpp/tests/types/types_test.cpp
Labels: bug, libcudf (C++/CUDA)

#525 [REVIEW] Create issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/submit-question.md
  CHANGELOG.md
Labels: 3 - Ready for Review, doc, proposal

#411 [REVIEW] orderby null support
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/functions.h
  cpp/include/cudf/types.h
  cpp/src/dataframe/cudf_table.cuh
  cpp/src/groupby/groupby_compute_api.h
  cpp/src/orderby/orderby.cu
  cpp/src/sqls/sqls_ops.cu
  cpp/src/sqls/sqls_rtti_comp.h
  cpp/src/utilities/cudf_utils.h
  cpp/tests/CMakeLists.txt
  cpp/tests/join/join_tests.cu
  cpp/tests/orderby/order_by_type_vectors.h
  cpp/tests/orderby/orderby_tests.cu
  cpp/tests/utilities/valid_vectors.h
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#537 FIX CMAKE_CUDA_STANDARD_REQURIED typo
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: 4 - Needs libcudf Reviewer, CMake, libcudf (C++/CUDA)

#474 [REVIEW] Add ZLIB-based GZIP/ZIP support to read_csv()
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/io_types.h
  cpp/src/io/comp/io_uncomp.h
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/csv/csv_reader.cu
  python/cudf/io/csv.py
  python/cudf/tests/test_csvreader.py
Labels: cuDF (Python), cuda

#521 [REVIEW] Add assert_eq and test reductions and binary operators
  CHANGELOG.md
  python/cudf/tests/test_dataframe.py
  python/cudf/tests/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#513 [REVIEW] Minor tweaks in .gitignore
  .gitignore
  CHANGELOG.md
Labels: 5 - Ready to Merge, code quality, git

#545 [REVIEW] Temporarily disable thousands test to prevent segfault from breaking CI
  CHANGELOG.md
  python/cudf/tests/test_csvreader.py
Labels: 4 - Needs cuDF Reviewer, cuDF (Python)

#511 [REVIEW] init change to fix #504
  CHANGELOG.md
  python/cudf/bindings/join.pyx
Labels: 5 - Ready to Merge, cuDF (Python)

#502 [REVIEW] Coalescing dev/test/doc conda & pip envs, improving Dockerfile
  CHANGELOG.md
  Dockerfile
  conda/environments/dev_py35.yml
  conda/environments/testing_py35.yml
  docs/requirement.txt
Labels: 5 - Ready to Merge, Container

#490 [REVIEW] Create script to print relevant environment details for cuDF.
  .github/ISSUE_TEMPLATE/bug_report.md
  CHANGELOG.md
  print_env.sh
Labels: 3 - Ready for Review, git, help wanted, proposal

#512 [REVIEW] DataFrame.merge "on" bug fix
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_joining.py
Labels: 5 - Ready to Merge, cuDF (Python)

#350 [REVIEW] find_and_replace function
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/functions.h
  cpp/src/replace/replace.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/replace/replace_tests.cu
  cpp/tests/utilities/cudf_test_utils.cuh
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#501 [REVIEW] Add decimal and thousands parameters to read_csv_strings()
  CHANGELOG.md
  cpp/include/cudf/io_types.h
  cpp/src/io/csv/csv_reader.cu
  python/cudf/io/csv.py
  python/cudf/tests/test_csvreader.py
Labels: 5 - Ready to Merge, cuDF (Python), cuda

#559 added changes to fix 162
  CHANGELOG.md
  python/cudf/dataframe/numerical.py
  python/cudf/tests/test_applymap.py
Labels: 5 - Ready to Merge, cuDF (Python)

#558 [REVIEW] Jarvis v0 - Add cpu and gpu CI scripts to repo
  .travis.yml
  CHANGELOG.md
  ci/cpu/build.sh
  ci/cpu/cudf/build_cudf.sh
  ci/cpu/cudf/upload-anaconda.sh
  ci/cpu/libcudf/build_libcudf.sh
  ci/cpu/libcudf/build_libcudf_cffi.sh
  ci/cpu/libcudf/upload-anaconda.sh
  ci/cpu/libcudf/upload.sh
  ci/gpu/build.sh
  travisci/libcudf/install-cuda-trusty.sh
  travisci/libcudf/install-env-libcudf.sh
Labels: 3 - Ready for Review, jarvis

#478 [REVIEW] Csv Reader: Fix/Add python support for auto column detection, usecols, mangle_dupe_cols, header args
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  python/cudf/io/csv.py
  python/cudf/tests/test_csvreader.py
Labels: 5 - Ready to Merge, cuDF (Python), cuda

#505 [REVIEW] CSV Reader: Add support for user-specified boolean values
  CHANGELOG.md
  cpp/include/cudf/io_types.h
  cpp/src/io/csv/csv_reader.cu
  cpp/src/io/csv/type_conversion.cuh
  cpp/tests/io/csv/csv_test.cu
  python/cudf/io/csv.py
  python/cudf/tests/test_csvreader.py
Labels: 4 - Waiting on Author, cuDF (Python), cuda

#550 [REVIEW] CI style check script
  CHANGELOG.md
  ci/checks/style.sh
Labels: 5 - Ready to Merge, code quality, jarvis

#454 [REVIEW] Fixing python cudf.io.csv docstrings, bumping to 0.4.0 version in doc…
  CHANGELOG.md
  docs/source/api.rst
  docs/source/conf.py
  python/cudf/io/csv.py
Labels: cuDF (Python), doc

#509 [REVIEW] CSV reader: add support for buffer input
  CHANGELOG.md
  cpp/include/cudf/io_types.h
  cpp/src/io/csv/csv_reader.cu
  cpp/tests/io/csv/csv_test.cu
  python/cudf/io/csv.py
  python/cudf/tests/test_csvreader.py
Labels: 4 - Waiting on Author, cuDF (Python), cuda, libcudf (C++/CUDA)

#531 [REVIEW] CSV Reader: Fix incorrect parsing of quoted numbers
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  cpp/src/io/csv/type_conversion.cuh
  python/cudf/tests/test_csvreader.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#564 [REVIEW] Use new gdf_order_by function for sort_values
  CHANGELOG.md
  python/cudf/_gdf.py
  python/cudf/_sort.py
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/sort.pyx
  python/cudf/dataframe/column.py
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_sorting.py
  python/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#524 [REVIEW] Add Boolean Indexing (Fix Issue 515)
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#607 [REVIEW] Add iter and iteritems to DataFrame class
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)
