Repository rapidsai/cudf, pull requests merged in 2019-03, with the labels that each got.

#1073 [REVIEW] CSV Reader: Fix an issue where a column name includes the return character
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  python/cudf/tests/test_csvreader.py
Labels: cuIO

#561 [REVIEW] Add Doxygen style comments to Join CUDA functions
  CHANGELOG.md
  cpp/include/cudf/functions.h
  cpp/src/join/joining.cu
  cpp/src/quantiles/quantiles.cu
  cpp/tests/quantiles/quantiles_test.cu
  python/cudf/_gdf.py
  python/cudf/bindings/cudf_cpp.pxd
Labels: 4 - Waiting on Author

#1026 [REVIEW] CSV Reader: Change the meaning of the quoting parameter to match Pandas
  CHANGELOG.md
  cpp/include/cudf/io_types.h
  cpp/src/io/csv/csv_reader.cu
  cpp/tests/io/csv/csv_test.cu
  python/cudf/io/csv.py
  python/cudf/tests/test_csvreader.py
Labels: 5 - Ready to Merge, cuIO

#1052 [REVIEW] Add left_index, right_index, left_on, and right_on keywords to dataframe merge
  CHANGELOG.md
  python/cudf/bindings/join.pyx
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_joining.py
Labels: 5 - Ready to Merge

#952 [REVIEW] Added function for mapping a C++ type to it's gdf_dtype enum
  CHANGELOG.md
  cpp/src/utilities/release_assert.cuh
  cpp/src/utilities/type_dispatcher.hpp
  cpp/tests/filter/helper/utils.cuh
  cpp/tests/types/dispatcher_test.cu
Labels: 3 - Ready for Review

#1080 [REVIEW] Fix dtype handling for loc / iloc
  CHANGELOG.md
  python/cudf/dataframe/columnops.py
  python/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuDF (Python)

#823 [REVIEW] Add Doxygen configuration file and build Doxygen HTML
  .gitignore
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
Labels: 3 - Ready for Review, doc, help wanted

#1102 [REVIEW] CSV Reader: Minor fixes and memory usage improvements
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  python/cudf/io/csv.py
Labels: cuIO

#1108 [REVIEW] Sort Datetime
  CHANGELOG.md
  python/cudf/dataframe/datetime.py
  python/cudf/tests/test_datetime.py
Labels: cuDF (Python)

#1111 [REVIEW] Added cudf::table wrapper for a set of gdf_columns
  CHANGELOG.md
  cpp/include/types.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/table/table_tests.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#1118 Fixed issue of creating df from records
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1129 [REVIEW] Fix join performance with index parameters
  CHANGELOG.md
  python/cudf/dataframe/column.py
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/series.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer

#1100 [REVIEW] Introduce error checking macros that return exceptions
  CHANGELOG.md
  cpp/src/binary/binary_ops.cu
  cpp/src/bitmask/bit_mask.cuh
  cpp/src/bitmask/bitmask_ops.cu
  cpp/src/bitmask/valid_ops.cu
  cpp/src/compaction/stream_compaction_ops.cu
  cpp/src/dataframe/column.cpp
  cpp/src/dataframe/cudf_table.cuh
  cpp/src/datetime/datetime_ops.cu
  cpp/src/filter/filter_ops.cu
  cpp/src/groupby/hash_groupby.cuh
  cpp/src/groupby/new_groupby.cu
  cpp/src/hash/hash_ops.cu
  cpp/src/hash/hashing.cu
  cpp/src/io/convert/csr/cudf_to_csr.cu
  cpp/src/io/csv/csv_reader.cu
  cpp/src/join/join_compute_api.h
  cpp/src/join/joining.cu
  cpp/src/orderby/orderby.cu
  cpp/src/quantiles/quantiles.cu
  cpp/src/reductions/reductions.cu
  cpp/src/reductions/scan.cu
  cpp/src/replace/replace.cu
  cpp/src/sort/segmented_sorting.cu
  cpp/src/sort/sorting.cu
  cpp/src/sqls/sqls_ops.cu
  cpp/src/unary/unary_ops.cu
  cpp/src/utilities/cudf_utils.h
  cpp/src/utilities/error_utils.h
  cpp/src/utilities/error_utils.hpp
  cpp/src/windowed/windowed_ops.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/cudf/cudf_internal_test.cu
  cpp/tests/error/error_handling_test.cu
  cpp/tests/quantiles/quantiles_test.cu
  cpp/tests/sqls/sqls_test.cu
  cpp/tests/transpose/transpose_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#1090 Pruning / Updating Doxygen
  CHANGELOG.md
  cpp/include/cudf/functions.h
  cpp/include/cudf/types.h
  cpp/src/dataframe/column.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, code quality, doc, libcudf (C++/CUDA)

#1137 BLD Add prebuild script
  CHANGELOG.md
  ci/cpu/cudf/upload-anaconda.sh
  ci/cpu/libcudf/upload-anaconda.sh
  ci/cpu/prebuild.sh
Labels: 3 - Ready for Review

#1136 [REVIEW] Removed deprecated gdf_concat function
  CHANGELOG.md
  cpp/include/cudf/functions.h
  cpp/src/compaction/stream_compaction_ops.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/filter/test_gdf_concat.cu
  python/cudf/bindings/cudf_cpp.pxd
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#577 [REVIEW] Add scatter/gather functions
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/copying.hpp
  cpp/src/copying/gather.cu
  cpp/src/copying/gather.hpp
  cpp/src/copying/scatter.cu
  cpp/src/copying/scatter.hpp
  cpp/src/dataframe/cudf_table.cuh
  cpp/src/groupby/groupby_compute_api.h
  cpp/src/hash/hashing.cu
  cpp/src/join/join_compute_api.h
  cpp/src/join/joining.cu
  cpp/src/utilities/error_utils.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/gather_tests.cu
  cpp/tests/copying/scatter_tests.cu
  cpp/tests/utilities/tuple_vectors.h
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#1128 [REVIEW] CSV Reader: The last data row does not need to be line terminated
  CHANGELOG.md
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/csv/csv_reader.cu
  python/cudf/tests/test_csvreader.py
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, cuIO

#1033 [REVIEW] Update fillna()
  CHANGELOG.md
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/replace.pyx
  python/cudf/dataframe/categorical.py
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/datetime.py
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
  python/cudf/tests/test_replace.py
Labels: 2 - In Progress, cuDF (Python)

#1148 [REVIEW] cudf.sqrt
  CHANGELOG.md
  python/cudf/__init__.py
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/numerical.py
  python/cudf/ops.py
  python/cudf/tests/test_ops.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer

#1155 [REVIEW] Add ufunc for sqrt
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuDF (Python)

#1153 [REVIEW] Update `valid` allocations to be 64B padded
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/functions.h
  cpp/src/binary/binary_ops.cu
  cpp/src/binary/jit/core/binop.cpp
  cpp/src/bitmask/bitmask_ops.cu
  cpp/src/bitmask/legacy_bitmask.cpp
  cpp/src/bitmask/legacy_bitmask.hpp
  cpp/src/bitmask/valid_ops.cu
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/dataframe/column.cpp
  cpp/src/dataframe/cudf_table.cuh
  cpp/src/datetime/datetime_ops.cu
  cpp/src/filter/filter_ops.cu
  cpp/src/io/csv/csv_reader.cu
  cpp/src/join/joining.cu
  cpp/src/reductions/reductions.cu
  cpp/src/reductions/scan.cu
  cpp/src/replace/replace.cu
  cpp/src/sqls/sqls_rtti_comp.h
  cpp/src/transpose/transpose.cu
  cpp/src/unary/unary_ops.cu
  cpp/src/utilities/bit_util.cuh
  cpp/src/utilities/cudf_utils.h
  cpp/tests/column/column_test.cu
  cpp/tests/groupby/groupby_test.cu
  cpp/tests/join/join_tests.cu
  cpp/tests/orderby/orderby_tests.cu
  cpp/tests/quantiles/quantiles_test.cu
  cpp/tests/unary/unary_ops_test.cu
  cpp/tests/utilities/column_wrapper.cuh
  cpp/tests/utilities/cudf_test_utils.cu
  cpp/tests/utilities/cudf_test_utils.cuh
  cpp/tests/utilities/valid_vectors.h
  cpp/tests/utilities_tests/column_wrapper_tests.cu
Labels: 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1168 [REVIEW] to_frame now accepts name argument
  CHANGELOG.md
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1159 [REVIEW] Python bindings for dlpack
  CHANGELOG.md
  cpp/include/cudf/functions.h
  cpp/src/io/convert/dlpack/cudf_dlpack.cpp
  cpp/tests/io/convert/dlpack_test.cu
  python/cudf/__init__.py
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/dlpack.pxd
  python/cudf/bindings/dlpack.pyx
  python/cudf/dataframe/column.py
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/series.py
  python/cudf/io/__init__.py
  python/cudf/io/dlpack.py
  python/cudf/tests/test_dataframe.py
  python/cudf/tests/test_dlpack.py
  python/cudf/tests/utils.py
  python/cudf/utils/ioutils.py
  python/setup.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1174 [REVIEW] Fix release script for patches
  CHANGELOG.md
  ci/release/update-version.sh
Labels: ! - Release, 3 - Ready for Review

#1183 [REVIEW] Update arrow to 0.12.1 for 0.6 release
  CHANGELOG.md
  conda/environments/cudf_dev.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf_cffi/meta.yaml
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
  setup_pip.py
Labels: ! - Release, 3 - Ready for Review, CMake, cuDF (Python)

#908 [REVIEW] Testing code cleanup & some utility code include reordering
  CHANGELOG.md
  cpp/include/cudf/types.h
  cpp/src/utilities/bit_util.cuh
  cpp/src/utilities/cudf_utils.h
  cpp/src/utilities/type_dispatcher.hpp
  cpp/src/utilities/wrapper_types.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/bitmask/bit_mask_test.cu
  cpp/tests/bitmask/valid_ops_test.cu
  cpp/tests/column/column_test.cu
  cpp/tests/datetime/datetime_ops_test.cu
  cpp/tests/error/error_handling_test.cu
  cpp/tests/filter/helper/utils.cu
  cpp/tests/filter/helper/utils.cuh
  cpp/tests/filter/test_example.cu
  cpp/tests/filter/test_filter_ops.cu
  cpp/tests/groupby/groupby_test.cu
  cpp/tests/groupby/test_parameters.cuh
  cpp/tests/hash_map/map_test.cu
  cpp/tests/hash_map/multimap_test.cu
  cpp/tests/hashing/hash_partition_test.cu
  cpp/tests/hashing/hash_test.cu
  cpp/tests/io/csv/csv_test.cu
  cpp/tests/join/join_tests.cu
  cpp/tests/orderby/order_by_type_vectors.h
  cpp/tests/orderby/orderby_tests.cu
  cpp/tests/quantiles/quantiles_test.cu
  cpp/tests/replace/replace-nulls_tests.cu
  cpp/tests/replace/replace_tests.cu
  cpp/tests/sort/digitize_test.cu
  cpp/tests/sqls/sqls_test.cu
  cpp/tests/table/table_tests.cu
  cpp/tests/transpose/transpose_test.cu
  cpp/tests/types/dispatcher_test.cu
  cpp/tests/types/types_test.cpp
  cpp/tests/unary/unary_ops_test.cu
  cpp/tests/utilities/column_wrapper.cuh
  cpp/tests/utilities/cudf_test_fixtures.h
  cpp/tests/utilities/cudf_test_utils.cu
  cpp/tests/utilities/cudf_test_utils.cuh
  cpp/tests/utilities/tuple_vectors.h
  cpp/tests/utilities/valid_vectors.cpp
  cpp/tests/utilities/valid_vectors.h
  cpp/tests/utilities_tests/column_wrapper_tests.cu
Labels: 5 - Ready to Merge

#1184 [REVIEW] Fix iloc performance
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1200 [REVIEW] Fix use of numba for allocations instead of rmm
  CHANGELOG.md
  python/cudf/dataframe/column.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuDF (Python)

#1032 [REVIEW] String support for cuDF
  CHANGELOG.md
  ci/cpu/cudf/build_cudf.sh
  ci/cpu/cudf/upload-anaconda.sh
  ci/cpu/libcudf/build_libcudf.sh
  ci/cpu/libcudf/build_libcudf_cffi.sh
  ci/cpu/libcudf/upload.sh
  ci/gpu/build.sh
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf_cffi/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/types.h
  cpp/include/types.hpp
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/dataframe/column.cpp
  cpp/src/filter/filter_ops.cu
  cpp/src/groupby/hash_groupby.cuh
  cpp/src/groupby/new_groupby.cu
  cpp/src/io/csv/csv_reader.cu
  cpp/src/io/csv/type_conversion.cuh
  cpp/src/join/join_compute_api.h
  cpp/src/join/joining.cu
  cpp/src/string/nvcategory_util.cpp
  cpp/src/string/nvcategory_util.hpp
  cpp/src/utilities/error_utils.cpp
  cpp/src/utilities/type_dispatcher.hpp
  cpp/src/utilities/wrapper_types.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/csv/csv_test.cu
  cpp/tests/nvcategory/nvcategory_test.cu
  cpp/tests/types/dispatcher_test.cu
  cpp/tests/utilities/cudf_test_utils.cu
  python/cudf/_gdf.py
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/cudf_cpp.pyx
  python/cudf/bindings/join.pyx
  python/cudf/dataframe/__init__.py
  python/cudf/dataframe/column.py
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
  python/cudf/dataframe/string.py
  python/cudf/formatting.py
  python/cudf/groupby/groupby.py
  python/cudf/io/csv.py
  python/cudf/tests/test_csvreader.py
  python/cudf/tests/test_dataframe.py
  python/cudf/tests/test_joining.py
  python/cudf/tests/test_parquet.py
  python/cudf/tests/test_serialize.py
  python/cudf/tests/test_string.py
  python/cudf/utils/cudautils.py
  python/cudf/utils/utils.py
Labels: ! - Release, cuDF (Python)

#1208 [REVIEW] Change default build ABI to ON
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: ! - Release, 3 - Ready for Review, CMake

#1218 Adding dask-cudf API doc page
  CHANGELOG.md
  docs/source/dask-cudf.md
  docs/source/index.rst
Labels: 5 - Ready to Merge, doc

#1149 [REVIEW] CSV Reader: Change convertStrToValue() functions to __device__ only
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  cpp/src/io/csv/datetime_parser.cuh
  cpp/src/io/csv/type_conversion.cuh
Labels: 2 - In Progress, cuIO

#1242 Add explicit Thrust exec policy to fix NVCATEGORY_TEST segfault
  CHANGELOG.md
  cpp/src/copying/gather.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#1259 [REVIEW] Add dlpack include to pip build
  CHANGELOG.md
  setup_pip.py
Labels: 3 - Ready for Review

#1255 [REVIEW] Prevent cudf upload overwrites
  CHANGELOG.md
  ci/cpu/prebuild.sh
Labels: 3 - Ready for Review

#1238 [REVIEW] Improve performance of the CUDA trie used in the CSV reader
  CHANGELOG.md
  cpp/src/utilities/trie.cuh
Labels: 5 - Ready to Merge, cuIO

#1254 [REVIEW] CSV Reader: Fix data type detection for floating-point numbers in scientific notation
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  cpp/src/utilities/trie.cuh
  python/cudf/tests/test_csvreader.py
Labels: 3 - Ready for Review, cuIO, libcudf (C++/CUDA)

#1278 [REVIEW] Update CONTRIBUTING for new conda environment yml naming conventions
  CHANGELOG.md
  CONTRIBUTING.md
Labels: 5 - Ready to Merge, doc

#1275 [HOTFIX] Fix hash_partition exceptions on CentOS
  CHANGELOG.md
  cpp/src/hash/hashing.cu
Labels: ! - Hotfix, 5 - Ready to Merge, libcudf (C++/CUDA)

#1194 [REVIEW] Implement overloads for CUDA atomic operations
  CHANGELOG.md
  cpp/src/utilities/device_atomics.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities_tests/device_atomics_test.cu
Labels: 4 - Waiting on Author, libcudf (C++/CUDA)

#1289 [REVIEW] loop over each category instead of each value
  CHANGELOG.md
  python/cudf/dataframe/column.py
Labels: 5 - Ready to Merge

#1286 [REVIEW] Refactor some of the CSV Reader kernels into generic utility functions
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/io/csv/csv_reader.cu
  cpp/src/io/utilities/parsing_utils.cu
  cpp/src/io/utilities/parsing_utils.cuh
Labels: cuIO

#1292 [REVIEW] Bitwise binary ops AND, OR, XOR (&, |, ^)
  CHANGELOG.md
  cpp/include/cudf/types.h
  cpp/src/binary/jit/code/operation.cpp
  cpp/src/binary/jit/util/type.cpp
  cpp/tests/binary/integration/binary-operation-integration-test.cpp
  cpp/tests/binary/util/operation.h
  python/cudf/bindings/binops.pyx
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_binops.py
  python/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#1235 [REVIEW] Add GPU-accelerated Parquet Reader
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/io_functions.h
  cpp/include/cudf/io_types.h
  cpp/src/io/comp/brotli_dict.cpp
  cpp/src/io/comp/brotli_dict.h
  cpp/src/io/comp/brotli_tables.h
  cpp/src/io/comp/cpu_unbz2.cpp
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/gpuinflate.h
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet.cpp
  cpp/src/io/parquet/parquet.h
  cpp/src/io/parquet/parquet_common.h
  cpp/src/io/parquet/parquet_gpu.h
  cpp/src/io/parquet/parquet_reader.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/comp/decomp_test.cu
  cpp/tests/utilities/cudf_test_fixtures.h
  python/cudf/io/parquet.py
  python/cudf/tests/test_parquet.py
  python/cudf/utils/ioutils.py
Labels: 3 - Ready for Review, cuIO
