Repository rapidsai/cudf, pull requests merged in 2019-11, with the labels that each got.

#3267 [REVIEW] ORC writer: fix incorrect ByteRLE encoding of literal_run=128
  CHANGELOG.md
  cpp/src/io/orc/stripe_enc.cu
Labels: 3 - Ready for Review, cuIO

#3270 Move predicates files to legacy
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/legacy/predicates.hpp
  cpp/src/predicates/legacy/is_sorted.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/orderby/is_sorted/legacy/is_sorted_tests.cu
  python/cudf/cudf/_lib/includes/issorted.pxd
Labels: 3 - Ready for Review

#3239 [REVIEW] Adding floating point specialization to comparators for NaNs
  CHANGELOG.md
  cpp/include/cudf/table/row_operators.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/table/row_operators_tests.cu
Labels: 3 - Ready for Review, libcudf++

#3274 [REVIEW] Fix ORC writer integer RLEv2 mode2 unsigned base value encoding
  CHANGELOG.md
  cpp/src/io/orc/stripe_enc.cu
Labels: 3 - Ready for Review, cuIO

#3276 Update JNI includes for legacy moves
  CHANGELOG.md
  java/src/main/native/src/CudfJni.cpp
  java/src/main/native/src/TableJni.cpp
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#3277 Fix is_sorted, again.
  CHANGELOG.md
  cpp/src/predicates/legacy/is_sorted.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#3280 [REVIEW] Invalid children check in mutable_column_device_view
  CHANGELOG.md
  cpp/src/column/column_device_view.cu
Labels: 3 - Ready for Review, libcudf++

#3219 [REVIEW] Construct column from column_view
  CHANGELOG.md
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/column/column.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/bitmask/bitmask_tests.cu
  cpp/tests/column/column_test.cu
Labels: 5 - Ready to Merge, libcudf++

#3279 Fix shutdown hang issues with pinned memory pool init executor
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#3087 [REVIEW] Add new cudf::experimental bool8 wrapper
  CHANGELOG.md
  cpp/include/cudf/utilities/legacy/wrapper_types.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/include/cudf/wrappers/bool.hpp
  cpp/src/hash/hash_functions.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/hashing/legacy/hash_test.cu
  cpp/tests/sort/sort_test.cpp
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/column_wrapper.hpp
  cpp/tests/utilities/type_lists.hpp
  cpp/tests/wrappers/bools_test.cpp
Labels: 5 - Ready to Merge, libcudf++

#3282 Add num_bitmask_words
  CHANGELOG.md
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/tests/bitmask/bitmask_tests.cu
Labels: 3 - Ready for Review, libcudf++

#3268 [REVIEW] Adding null ordering per column feature when sorting
  CHANGELOG.md
  cpp/include/cudf/sorting.hpp
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/sort/sort.cu
  cpp/tests/sort/sort_test.cpp
  cpp/tests/table/row_operators_tests.cu
  cpp/tests/table/table_view_tests.cu
Labels: 3 - Ready for Review, libcudf++

#3068 [REVIEW] cudf::scalar
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/docs/TRANSITIONGUIDE.md
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_device_view.cuh
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/include/cudf/types.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/scalar/scalar.cpp
  cpp/src/scalar/scalar_factories.cpp
  cpp/src/strings/strings_scalar_factories.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/scalar/factories_test.cpp
  cpp/tests/scalar/scalar_device_view_test.cu
  cpp/tests/scalar/scalar_test.cpp
  cpp/tests/strings/factories_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf++

#3287 [REVIEW] Move rolling files to legacy
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/legacy/rolling.hpp
  cpp/src/rolling/legacy/jit/code/code.h
  cpp/src/rolling/legacy/jit/code/kernel.cpp
  cpp/src/rolling/legacy/jit/code/operation.cpp
  cpp/src/rolling/legacy/jit/util/type.cpp
  cpp/src/rolling/legacy/jit/util/type.h
  cpp/src/rolling/legacy/rolling.cu
  cpp/src/rolling/legacy/rolling_detail.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/legacy/rolling_test.cu
  python/cudf/cudf/_lib/includes/rolling.pxd
Labels: 3 - Ready for Review, libcudf++

#3182 [REVIEW]Define and implement new unary APIs `is_null` and `is_not_null`
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/unary.hpp
  cpp/include/cudf/unary.hpp
  cpp/src/unary/null_ops.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/unary/unary_ops_test.cu
Labels: 3 - Ready for Review, 5 - Ready to Merge, Spark, libcudf++

#3288 Make bit utilities usable in host code
  CHANGELOG.md
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/utilities/bit.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/column/column.cu
  cpp/tests/utilities/column_wrapper.hpp
Labels: libcudf++

#3293 [REVIEW] Disable minimum zip version check when loading compressed csv
  CHANGELOG.md
  cpp/src/io/comp/uncomp.cpp
Labels: 3 - Ready for Review, cuIO

#3294 [REVIEW] Upgrade arrow-cpp and pyarrow to v0.15.1
  CHANGELOG.md
  CONTRIBUTING.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libnvstrings/meta.yaml
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
Labels: 5 - Ready to Merge

#3295 [REVIEW] Fix storing invalid RMM exec policies
  CHANGELOG.md
  cpp/include/cudf/detail/unary.hpp
  cpp/src/filling/legacy/repeat.cu
  cpp/src/filling/legacy/tile.cu
  cpp/src/groupby/legacy/groupby_without_aggregation.cu
  cpp/src/stream_compaction/legacy/drop_duplicates.cu
  cpp/src/unary/legacy/null_ops.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#3281 [REVIEW] Add to_host specialization for strings in column test utilities
  CHANGELOG.md
  cpp/tests/utilities/column_utilities.hpp
  cpp/tests/utilities_tests/column_utilities_tests.cu
Labels: 3 - Ready for Review, libcudf++

#3289 [REVIEW] fix empty column issues with java memory usage API
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#3252 [REVIEW] Add new factory methods to include passing an existing null mask
  CHANGELOG.md
  cpp/include/cudf/column/column_factories.hpp
  cpp/tests/column/factories_test.cpp
  cpp/tests/wrappers/timestamps_test.cu
Labels: 3 - Ready for Review, Spark, libcudf++

#3307 [REVIEW] Handle pd.RangeIndex in from_pandas
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_pandas_interop.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer

#3028 [REVIEW] Port gather to libcudf++
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/gather.hpp
  cpp/include/cudf/table/table.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/copying/gather.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/gather_tests.cu
  cpp/tests/utilities/table_utilities.cu
  cpp/tests/utilities/table_utilities.hpp
Labels: 4 - Waiting on Author, Spark, libcudf++

#3291 Add cudf::normalize_nans_and_zeros.
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/replace.hpp
  cpp/src/replace/replace.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/replace/replace_tests.cu
Labels: 3 - Ready for Review, Spark, libcudf++

#3301 Add tests for empty column_wrapper
  CHANGELOG.md
  cpp/tests/utilities_tests/column_wrapper_tests.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#3310 [REVIEW] Port row_hasher to cudf++
  CHANGELOG.md
  cpp/include/cudf/table/row_operators.cuh
Labels: 3 - Ready for Review, libcudf++

#3313 [REVIEW] Fix public headers including non-public headers
  CHANGELOG.md
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/detail/utilities/release_assert.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/utilities/legacy/type_dispatcher.hpp
  cpp/include/cudf/utilities/legacy/wrapper_types.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/include/cudf/wrappers/bool.hpp
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/concurrent_unordered_multimap.cuh
  cpp/src/hash/legacy/hashing.cu
  cpp/src/io/csv/legacy/csv_reader_impl.hpp
  cpp/src/io/json/legacy/json_reader_impl.hpp
  cpp/src/io/orc/legacy/orc_reader_impl.cu
  cpp/src/io/orc/legacy/orc_reader_impl.hpp
  cpp/src/io/orc/legacy/orc_writer_impl.cu
  cpp/src/io/parquet/legacy/parquet_reader_impl.cu
  cpp/src/io/utilities/legacy/parsing_utils.cuh
  cpp/src/join/legacy/join_kernels.cuh
  cpp/src/quantiles/quantiles_util.hpp
  cpp/src/reshape/stack.cu
  cpp/src/sort/legacy/digitize.cu
  cpp/src/table/legacy/device_table.cuh
  cpp/tests/hashing/legacy/hash_partition_test.cu
  cpp/tests/strings/hash_string.cu
Labels: 3 - Ready for Review, bug

#3159 [REVIEW] Port NVStrings is-chars-types function to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/src/strings/char_types/char_flags.h
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/utilities.cu
  cpp/src/strings/utilities.cuh
  cpp/src/strings/utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/chars_types_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3300 [REVIEW] Implement DataFrame.insert
  CHANGELOG.md
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_joining.py
Labels: 3 - Ready for Review, cuDF (Python)

#3317 [REVIEW] Fix index-argument bug in dask_cudf parquet reader
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 3 - Ready for Review, 4 - Needs Dask Reviewer

#3318 [REVIEW] Revert arrow to 0.15.0 temporarily to unblock downstream projects CI
  CHANGELOG.md
  CONTRIBUTING.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libnvstrings/meta.yaml
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
Labels: 3 - Ready for Review

#3314 Drop `cython` from run requirements
  CHANGELOG.md
  conda/recipes/cudf/meta.yaml
Labels: 3 - Ready for Review, conda

#3286 Clean up the starter code on README
  CHANGELOG.md
  README.md
Labels: 5 - Ready to Merge, doc

#3012 [REVIEW] `to_gpu_array()` is used all over where a copy of data is not needed #1606
  CHANGELOG.md
  python/cudf/cudf/core/buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/legacy_groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3266 [REVIEW] Remove optional checks for CuPy
  CHANGELOG.md
  conda/recipes/cudf/meta.yaml
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3222 [REVIEW] Add nvtext character tokenizer
  CHANGELOG.md
  cpp/custrings/strings/NVStrings.cu
  cpp/custrings/strings/attrs.cu
  cpp/custrings/tests/test_text.cu
  cpp/custrings/text/tokens.cu
  cpp/include/nvstrings/NVStrings.h
  cpp/include/nvstrings/NVText.h
  python/nvstrings/cpp/pytext.cpp
  python/nvstrings/nvtext.py
  python/nvstrings/tests/test_text.py
Labels: 3 - Ready for Review, strings

#3217 [REVIEW] Port NVStrings lower() and upper() case conversion ops
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/case.hpp
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_cases.h
  cpp/src/strings/char_types/is_flags.h
  cpp/src/strings/utilities.cu
  cpp/src/strings/utilities.cuh
  cpp/src/strings/utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/case_tests.cu
Labels: 5 - Ready to Merge, libcudf++, strings

#3323 Fix `insert` non-assert test case
  CHANGELOG.md
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2691 [REVIEW] Row-wise reduction operations via CuPy
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2991 [REVIEW] cudf strings column combine ops
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/combine.hpp
  cpp/include/cudf/table/table_device_view.cuh
  cpp/src/strings/combine.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/combine_tests.cu
Labels: 5 - Ready to Merge, libcudf++, strings

#3133 [REVIEW] Port NVStrings attributes operations to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/attributes.hpp
  cpp/src/strings/attributes.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/attrs_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3170 [REVIEW] Port NVStrings substrings ops to cudf column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.inl
  cpp/include/cudf/strings/substring.hpp
  cpp/src/strings/substring.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/substring_tests.cu
Labels: 3 - Ready for Review, 5 - Ready to Merge, libcudf++, strings

#3189 [REVIEW] Port NVStrings find ops to cudf column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/find.hpp
  cpp/src/strings/find.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/find_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3333 [REVIEW] Adding device callable to bit functions
  CHANGELOG.md
  cpp/include/cudf/utilities/bit.hpp
Labels: 3 - Ready for Review, libcudf++

#3334 [REVIEW] Remove zero-size exception from strings factory functions
  CHANGELOG.md
  cpp/src/strings/strings_column_factories.cu
  cpp/tests/strings/factories_test.cu
Labels: 3 - Ready for Review, libcudf++

#3326 [REVIEW] Fix and test for gather map iterator value type inference
  CHANGELOG.md
  cpp/include/cudf/detail/gather.cuh
  cpp/tests/copying/gather_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA), libcudf++

#3337 Fix Java to pad validity buffers to 64-byte boundary
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/BitVectorHelper.java
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/main/native/include/jni_utils.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#3308 [REVIEW] Add in callbacks to give feedback on memory usage
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnFilterOptions.java
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/DevicePrediction.java
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/main/java/ai/rapids/cudf/JSONOptions.java
  java/src/main/java/ai/rapids/cudf/MemoryListener.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/java/ai/rapids/cudf/Schema.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#3299 Define and implement new predicates.hpp APIs
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/sorting.hpp
  cpp/src/sort/is_sorted.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/sort/is_sorted_tests.cu
  cpp/tests/utilities/type_lists.hpp
Labels: 2 - In Progress, libcudf++

#3243 [REVIEW] Remove dask_cudf join implementation
  CHANGELOG.md
  python/cudf/cudf/core/column/numerical.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_join.py
Labels: 5 - Ready to Merge, dask

#3341 [REVIEW] Fix `Series` constructor converting NoneType to "None" when casting to String
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, cuDF (Python)

#3340 Make all benchmarks use cudf base fixture
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/join/join_benchmark.cu
  cpp/benchmarks/quantiles/group_quantiles_benchmark.cu
  cpp/benchmarks/reshape/stack_benchmark.cu
  cpp/benchmarks/test/test_benchmark.cpp
Labels: 3 - Ready for Review, bug, libcudf (C++/CUDA)

#3345 [REVIEW] Add cache member for number of characters in string_view class
  CHANGELOG.md
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.inl
Labels: 3 - Ready for Review, libcudf++, strings

#3350 [REVIEW] Port NVStrings boolean to/from strings converters
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/convert/convert_booleans.hpp
  cpp/src/strings/convert/convert_booleans.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/booleans_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3357 [REVIEW] Disabling `column_view` iterators for non fixed-width types
  CHANGELOG.md
  cpp/include/cudf/column/column_view.hpp
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), libcudf++

#3328 [REVIEW] Partition by stripes in dask_cudf ORC reader
  CHANGELOG.md
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#3368 [REVIEW] Enable dropna kwarg in dask_cudf groupby aggregations
  CHANGELOG.md
  python/cudf/cudf/core/index.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, dask

#3309 [REVIEW] Add java and JNI bindings for search bounds
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#3369 [REVIEW] Adding to_parquet and write_partition definitions to dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/__init__.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 3 - Ready for Review, 4 - Needs Dask Reviewer, dask

#3298 [REVIEW] add null replacement iterator for column_device_view
  CHANGELOG.md
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/iterator.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/iterator/iterator_test.cu
  cpp/tests/iterator/legacy/iterator_test.cu
Labels: 3 - Ready for Review, libcudf++

#3371 [REVIEW] Add select method to table_view
  CHANGELOG.md
  cpp/include/cudf/table/table.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/table/table.cpp
  cpp/src/table/table_view.cpp
  cpp/tests/table/table_tests.cpp
  cpp/tests/table/table_view_tests.cu
Labels: 3 - Ready for Review, libcudf++

#3271 [REVIEW] Handle RMM Python API Changes
  CHANGELOG.md
  python/cudf/cudf/utils/utils.py
  python/nvstrings/notebooks/test_rmm.ipynb
  python/nvstrings/tests/utils.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#3191 [REVIEW] Port NVStrings integer convert ops to cudf column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/src/strings/convert/convert_integers.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/integers_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3386 [REVIEW] Removing external includes from `column_view.hpp`
  CHANGELOG.md
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/valid_if.cuh
  cpp/src/copying/slice.cpp
  cpp/tests/utilities/column_utilities.hpp
Labels: 5 - Ready to Merge, libcudf++

#3136 [REVIEW] Port transpose to cudf++
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/transpose.hpp
  cpp/include/cudf/table/table.hpp
  cpp/include/cudf/transpose.hpp
  cpp/src/transpose/transpose.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/transpose/transpose_test.cu
Labels: 3 - Ready for Review, 5 - Merge After Dependencies, libcudf++

#3382 [REVIEW] Add fill() function for strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/fill.hpp
  cpp/src/strings/filling/fill.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/fill_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#2791 [REVIEW] Groupby std and variance
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/legacy/groupby.hpp
  cpp/include/cudf/legacy/reduction.hpp
  cpp/src/groupby/common/legacy/aggregation_requests.hpp
  cpp/src/groupby/sort/legacy/groupby.cu
  cpp/src/reductions/legacy/group_reductions.hpp
  cpp/src/reductions/legacy/group_std.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/common/legacy/type_info.hpp
  cpp/tests/groupby/sort/ignore_null_keys/legacy/single_column_var_std.cu
  cpp/tests/reductions/legacy/group_std_test.cu
  cpp/tests/reductions/legacy/group_var_test.cu
  cpp/tests/utilities/legacy/compare_column_wrappers.cuh
  python/cudf/cudf/_lib/includes/reduce.pxd
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#3344 [Review] JNI bindings for split
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#3352 [REVIEW] Port NVStrings float convert ops
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/convert/convert_floats.hpp
  cpp/src/strings/convert/convert_floats.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/floats_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3383 [REVIEW] Null count fix for rolling_window. Fixes #2689
  CHANGELOG.md
  cpp/src/rolling/legacy/rolling.cu
  cpp/tests/rolling/legacy/rolling_test.cu
Labels: 3 - Ready for Review, Spark, bug, libcudf (C++/CUDA)

#3322 [REVIEW] Port NVStrings padding ops
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/padding.hpp
  cpp/src/strings/padding.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/pad_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3380 [REVIEW] Concatenate columns of strings function
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/concatenate.hpp
  cpp/src/strings/copying/concatenate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/concatenate_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3389 [REVIEW] Move quantiles.hpp files to legacy
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/quantiles/legacy/group_quantiles_benchmark.cu
  cpp/include/cudf/legacy/groupby.hpp
  cpp/include/cudf/legacy/io_types.hpp
  cpp/include/cudf/legacy/quantiles.hpp
  cpp/src/groupby/sort/legacy/groupby.cu
  cpp/src/quantiles/legacy/group_quantiles.cu
  cpp/src/quantiles/legacy/group_quantiles.hpp
  cpp/src/quantiles/legacy/quantiles.cu
  cpp/src/quantiles/legacy/quantiles_util.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/quantiles/legacy/group_quantiles_test.cu
  cpp/tests/quantiles/legacy/quantiles_test.cu
  java/src/main/native/src/ColumnVectorJni.cpp
  python/cudf/cudf/_lib/includes/quantile.pxd
Labels: 3 - Ready for Review, libcudf (C++/CUDA), libcudf++

#3232 [REVIEW] Port NVStrings datetime conversion ops to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/datetime_tests.cu
Labels: 5 - Ready to Merge, libcudf++, strings

#3398 [REVIEW] Move reshape.hpp files to legacy
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reshape/legacy/stack_benchmark.cu
  cpp/include/cudf/legacy/reshape.hpp
  cpp/src/reshape/legacy/stack.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/reshape/legacy/stack_test.cu
  python/cudf/cudf/_lib/includes/reshape.pxd
Labels: 3 - Ready for Review, libcudf (C++/CUDA), libcudf++

#3229 [REVIEW] Define and implement new search APIs
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/search.hpp
  cpp/include/cudf/table/table_device_view.cuh
  cpp/src/search/search.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/search/search_test.cu
  cpp/tests/utilities/column_wrapper.hpp
Labels: 3 - Ready for Review, libcudf++

#3393 [REVIEW] Enable covariance/correlation in dask_cudf
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
  python/dask_cudf/dask_cudf/backends.py
Labels: 3 - Ready for Review, 4 - Needs Dask Reviewer, 4 - Needs cuDF (Python) Reviewer

#3255 [REVIEW] Add utility to print column
  CHANGELOG.md
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/column_utilities.hpp
  cpp/tests/utilities_tests/column_utilities_tests.cu
Labels: 5 - Merge After Dependencies, Spark, libcudf++

#3401 [REVIEW] Add dask_cudf ORC writer (to_orc)
  CHANGELOG.md
  python/dask_cudf/dask_cudf/__init__.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/__init__.py
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
Labels: 4 - Waiting on Author, dask

#3372 [REVIEW] Fix dask-distributed scatter_by_map bug
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#3297 [WIP] Define and implement new hash based groupby
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation.hpp
  cpp/include/cudf/detail/groupby.hpp
  cpp/include/cudf/groupby.hpp
  cpp/include/cudf/types.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/groupby.cu
Labels: 3 - Ready for Review, libcudf++

#3413 Fix dask_cudf read_csv file-list bug
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/csv.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
Labels: 5 - Ready to Merge, dask

#3362 [REVIEW] Fix column upcasting with series.replace
  CHANGELOG.md
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2905 [REVIEW] Series median() with null support
  CHANGELOG.md
  cpp/src/quantiles/legacy/quantiles.cu
  cpp/tests/quantiles/legacy/quantiles_test.cu
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#3387 [REVIEW] Strings column gather function
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/src/strings/utilities.cuh
  cpp/src/strings/utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/gather_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3331 [REVIEW] Implementation of cudf::copy_if_else
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/src/copying/copy.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/copy_tests.cu
Labels: 3 - Ready for Review, Spark, libcudf (C++/CUDA)

#3419 [REVIEW] Correct end-of-string checking in strings timestamp parsing. Fixes #3353
  CHANGELOG.md
  cpp/custrings/strings/datetime.cu
  cpp/custrings/tests/test_datetime.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, bug, libcudf (C++/CUDA)

#3416 [REVIEW] Fix memory leak with strings when pulling data off the GPU
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Labels: Spark, cuDF (Java)

#3411 [REVIEW] Java host memory management API
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/DeviceMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/HostPrediction.java
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/main/java/ai/rapids/cudf/MemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/MemoryListener.java
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#3439 Fix index-name bug in StringColumn concat
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_concat.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#3425 [REVIEW] Strings column copy_if_else
  CHANGELOG.md
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/tests/copying/copy_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3303 [REVIEW] Define and implement new stream compaction APIs `copy_if`, `drop_nulls`, `apply_boolean_mask`, `drop_duplicate` and `unique_count`.
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/include/cudf/stream_compaction.hpp
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/wrappers/bool.hpp
  cpp/include/cudf/wrappers/timestamps.hpp
  cpp/src/copying/copy.cpp
  cpp/src/sort/sort.cu
  cpp/src/stream_compaction/apply_boolean_mask.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/src/stream_compaction/drop_nulls.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/gather_tests.cu
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cu
  cpp/tests/stream_compaction/drop_duplicates_tests.cu
  cpp/tests/stream_compaction/drop_nulls_tests.cu
Labels: 5 - Ready to Merge, libcudf++

#3356 [REVIEW] Table/Column vertical concatenation
  CHANGELOG.md
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/detail/null_mask.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/include/cudf/table/table.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/column/column.cu
  cpp/src/table/table.cpp
  cpp/src/table/table_view.cpp
  cpp/tests/bitmask/bitmask_tests.cu
  cpp/tests/column/column_test.cu
  cpp/tests/sort/is_sorted_tests.cu
  cpp/tests/table/table_tests.cpp
  cpp/tests/table/table_view_tests.cu
Labels: 5 - Ready to Merge

#3172 [Review] Define and implement new fill/repeat/copy_range APIs
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/copy_range.cuh
  cpp/include/cudf/detail/fill.hpp
  cpp/include/cudf/detail/iterator.cuh
  cpp/include/cudf/detail/repeat.hpp
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/include/cudf/filling.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/column/column.cu
  cpp/src/copying/copy_range.cu
  cpp/src/filling/fill.cu
  cpp/src/filling/repeat.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/column/column_test.cu
  cpp/tests/copying/copy_range_tests.cu
  cpp/tests/filling/fill_tests.cu
  cpp/tests/filling/repeat_tests.cu
  cpp/tests/stream_compaction/drop_duplicates_tests.cu
  cpp/tests/stream_compaction/drop_nulls_tests.cu
Labels: 3 - Ready for Review, 5 - Merge After Dependencies, Spark, libcudf++

#3440 [REVIEW] Strings scatter detail function
  CHANGELOG.md
  cpp/include/cudf/strings/copying.hpp
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/strings/copying/copying.cu
  cpp/src/strings/utilities.cu
  cpp/src/strings/utilities.hpp
  cpp/tests/strings/array_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#3213 [REVIEW] Port cuIO to libcudf++
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
  cpp/src/io/csv/csv.h
  cpp/src/io/csv/csv_common.h
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/csv_gpu.h
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/parquet_gpu.h
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/utilities/column_buffer.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/csv_test.cu
  cpp/tests/io/orc_test.cu
  cpp/tests/utilities/base_fixture.hpp
Labels: 3 - Ready for Review, Spark, cuIO, libcudf++

#3445 [REVIEW] Fix ORC Writer default stripe size
  CHANGELOG.md
  cpp/src/io/orc/legacy/orc_writer_impl.hpp
  cpp/src/io/orc/writer_impl.hpp
Labels: 3 - Ready for Review, cuIO

#3397 [REVIEW] Port unary cast to libcudf++
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/unary.hpp
  cpp/include/cudf/utilities/chrono.hpp
  cpp/include/cudf/wrappers/timestamps.hpp
  cpp/src/unary/cast_ops.cu
  cpp/tests/unary/unary_ops_test.cu
Labels: 3 - Ready for Review, libcudf++

#3442 [REVIEW] Add Bool-index + Multi column + DataFrame support for set-item
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_setitem.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3427 [REVIEW] Define and Implement new multi-search API
  CHANGELOG.md
  cpp/include/cudf/search.hpp
  cpp/src/hash/unordered_multiset.cuh
  cpp/src/search/search.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/search/search_test.cpp
Labels: 3 - Ready for Review, libcudf++

#3459 [REVIEW] Fix printing of invalid entries
  CHANGELOG.md
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities_tests/column_utilities_tests.cu
Labels: 5 - Ready to Merge

#3187 [REVIEW] Define and implement new replace APIs
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/iterator.cuh
  cpp/include/cudf/detail/replace.hpp
  cpp/include/cudf/replace.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/replace/replace.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/replace/normalize_replace_tests.cu
  cpp/tests/replace/replace_nulls_tests.cu
  cpp/tests/replace/replace_tests.cu
Labels: 3 - Ready for Review, libcudf++

#3468 [REVIEW] Fix memory leak issue in `drop_duplicate`
  CHANGELOG.md
  cpp/src/stream_compaction/legacy/drop_duplicates.cu
Labels: 3 - Ready for Review

#3462 [REVIEW] Add empty column factory
  CHANGELOG.md
  cpp/include/cudf/column/column_factories.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/copy_if.cuh
  cpp/src/column/column_factories.cpp
  cpp/src/copying/copy.cpp
  cpp/src/stream_compaction/apply_boolean_mask.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/tests/column/factories_test.cpp
  cpp/tests/copying/utility_tests.cu
Labels: 3 - Ready for Review

#3214 [REVIEW] Port unary to libcudf++
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/unary.hpp
  cpp/include/cudf/utilities/legacy/wrapper_types.hpp
  cpp/src/unary/math_ops.cu
  cpp/src/unary/unary_ops.cuh
  cpp/tests/unary/legacy/unary_ops_test.cu
  cpp/tests/unary/unary_ops_test.cu
Labels: 2 - In Progress, 3 - Ready for Review, libcudf++

#3476 [REVIEW] ORC reader: fix length of timezone table
  CHANGELOG.md
  cpp/src/io/orc/timezone.cpp
Labels: 3 - Ready for Review, cuIO

#3458 [REVIEW] Update transition guide string_view section
  CHANGELOG.md
  cpp/docs/TRANSITIONGUIDE.md
Labels: 5 - Ready to Merge, libcudf++

#3448 [REVIEW] Port scatter to tables to libcudf++
  CHANGELOG.md
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/scatter.hpp
  cpp/src/copying/scatter.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/scatter_to_tables_tests.cpp
  cpp/tests/copying/utility_tests.cu
Labels: 3 - Ready for Review, libcudf++

#3478 [WIP] Fix as_index deep copy via Index.rename inplace arg
  CHANGELOG.md
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: 2 - In Progress, cuDF (Python)

#3492 Small cleanup and comment
  CHANGELOG.md
  cpp/tests/utilities/timestamp_utilities.cuh
Labels: 3 - Ready for Review

#3465 [REVIEW] Port aggregation traits and utilities
  CHANGELOG.md
  cpp/include/cudf/detail/aggregation.hpp
  cpp/include/cudf/groupby.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/hash/groupby.cu
Labels: 3 - Ready for Review, libcudf++
