Repository rapidsai/cudf, pull requests merged in 2019-12, with the labels that each got.

#3475 [REVIEW] Add bitmask_to_host column utility
  CHANGELOG.md
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/column_utilities.hpp
  cpp/tests/utilities/timestamp_utilities.cuh
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Labels: 3 - Ready for Review, libcudf (C++/CUDA), libcudf++

#3487 Add is_boolean trait and random timestamp generator for testing
  CHANGELOG.md
  cpp/include/cudf/utilities/traits.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/bitmask/bitmask_tests.cu
  cpp/tests/utilities/base_fixture.hpp
Labels: 3 - Ready for Review, 5 - Merge After Dependencies, libcudf (C++/CUDA), libcudf++

#3466 [REVIEW] Fix gather null mask allocation for invalid index
  CHANGELOG.md
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/tests/copying/gather_tests.cu
  cpp/tests/copying/scatter_to_tables_tests.cpp
  cpp/tests/strings/gather_tests.cu
Labels: 4 - Waiting on Author, libcudf (C++/CUDA)

#3497 df.drop(): added inplace=False argument
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3332 [REVIEW] Port NVStrings replace ops
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/replace.hpp
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/utilities.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/replace_tests.cpp
Labels: 3 - Ready for Review, libcudf++, strings

#3188 [REVIEW] Properly slice up large dataframes
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_repr.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3272 [REVIEW] Support non-default streams when creating/destroying hash maps
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/concurrent_unordered_multimap.cuh
  cpp/src/hash/hash_allocator.cuh
  cpp/src/hash/managed_allocator.cuh
  cpp/src/join/legacy/join_compute_api.h
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#3407 Allow multiple row-groups per task in dask_cudf read_parquet
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 3 - Ready for Review, dask

#3500 [REVIEW] Fill & repeat (incl tests) for strings
  CHANGELOG.md
  cpp/include/cudf/strings/detail/fill.hpp
  cpp/src/filling/fill.cu
  cpp/src/strings/filling/fill.cu
  cpp/tests/filling/fill_tests.cu
  cpp/tests/filling/repeat_tests.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA), libcudf++

#3438 [REVIEW] Update scalar and scalar_device_view to better support strings
  CHANGELOG.md
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_device_view.cuh
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/scalar/scalar.cpp
  cpp/tests/scalar/scalar_test.cpp
  cpp/tests/strings/factories_test.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA), libcudf++

#3421 [REVIEW] Port NVStrings find_multiple to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/find_multiple.hpp
  cpp/src/strings/find_multiple.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/find_multiple_tests.cpp
Labels: 3 - Ready for Review, libcudf++, strings

#3414 [Review] Add copy_range() function for strings column
  CHANGELOG.md
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/src/column/column_view.cpp
  cpp/src/copying/copy_range.cu
  cpp/src/strings/utilities.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/copy_range_tests.cpp
Labels: 3 - Ready for Review, libcudf (C++/CUDA), libcudf++

#3523 [REVIEW] Fix lgenfe issue with debug build
  CHANGELOG.md
  cpp/src/groupby/hash/groupby.cu
Labels: 5 - Ready to Merge, libcudf++

#3144 [REVIEW] Port hashing to cudf++
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/hashing.hpp
  cpp/src/hash/hashing.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/hashing/hash_partition_test.cpp
  cpp/tests/hashing/hash_test.cpp
Labels: 5 - Ready to Merge, libcudf++

#3305 [REVIEW] Define and implement new rolling window APIs
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/legacy/rolling.cu
  cpp/src/rolling/legacy/rolling_detail.hpp
  cpp/src/rolling/rolling.cu
  cpp/src/rolling/rolling_detail.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/utilities/column_utilities.hpp
  cpp/tests/utilities/cudf_gtest.hpp
Labels: 3 - Ready for Review, libcudf++

#3512 FIX Remove unused CUDA conda labels
  CHANGELOG.md
  ci/cpu/upload_anaconda.sh
  ci/docs/build.sh
Labels: 3 - Ready for Review, conda

#3423 [REVIEW] Port NVStrings htoi to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/src/strings/convert/convert_hex.cu
  cpp/tests/strings/integers_tests.cu
Labels: 5 - Ready to Merge, libcudf++, strings

#3519 [REVIEW] Fix strings column concatenate handling zero-sized columns
  CHANGELOG.md
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/strings_column_view.cu
  cpp/tests/strings/concatenate_tests.cu
Labels: 5 - Ready to Merge, strings

#3539 Restrict CuPy to 6
  CHANGELOG.md
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/cudf/meta.yaml
Labels: 5 - Ready to Merge, conda, cuDF (Python)

#3540 [REVIEW] Fix unary_op null_mask bug and add missing test cases
  CHANGELOG.md
  cpp/src/unary/unary_ops.cuh
  cpp/tests/unary/unary_ops_test.cu
Labels: 5 - Ready to Merge, bug

#3532 [REVIEW] Fix use-after-free in parquet reader
  CHANGELOG.md
  cpp/src/io/parquet/legacy/parquet_reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
  python/cudf/cudf/tests/data/parquet/mixed_compression.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: ! - Release, 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, 4 - Needs cuIO Reviewer, cuIO

#3469 [Review] replace.hpp strings functionality
  CHANGELOG.md
  cpp/src/replace/replace.cu
  cpp/tests/replace/replace_nulls_tests.cu
  cpp/tests/replace/replace_tests.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), libcudf++

#3250 [REVIEW] Define and implement new merge APIs
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/merge.cuh
  cpp/include/cudf/merge.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/table/table_view.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/merge/merge.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/merge/merge-test.cu
Labels: 5 - Ready to Merge, libcudf++

#3284 [REVIEW] Add gpu-accelerated parquet writer
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet.cpp
  cpp/src/io/parquet/parquet.h
  cpp/src/io/parquet/parquet_common.h
  cpp/src/io/parquet/parquet_gpu.h
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/statistics/column_stats.h
  cpp/src/io/utilities/block_utils.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/io/parquet_test.cu
Labels: 3 - Ready for Review, cuIO

#3549 [REVIEW] Fix index name issue with iloc/get_item in RangeIndex
  CHANGELOG.md
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3559 [Hotfix]Use HighLevelGraph api in DataFrame constructor
  CHANGELOG.md
  python/dask_cudf/dask_cudf/core.py
Labels: ! - Hotfix, 5 - Ready to Merge, dask

#3572 [HOTFIX][REVIEW] Remove deadline from two other hypothesis driven tests.
  CHANGELOG.md
  python/cudf/cudf/tests/test_repr.py
Labels: ! - Hotfix, 5 - Ready to Merge

#3562 [REVIEW] Fix 4GB limit for gzipped-compressed csv files
  CHANGELOG.md
  cpp/src/io/comp/uncomp.cpp
Labels: 3 - Ready for Review, cuIO

#3502 [REVIEW] ORC reader: add option to read DECIMALs as INT64
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/include/cudf/legacy/io_readers.hpp
  cpp/include/cudf/legacy/io_types.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/legacy/io_functions.cpp
  cpp/src/io/orc/legacy/orc_reader_impl.cu
  cpp/src/io/orc/legacy/orc_reader_impl.hpp
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/_lib/includes/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, cuIO

#3550 Update Java package to 0.12-SNAPSHOT
  CHANGELOG.md
  java/pom.xml
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#3553 [REVIEW] Support python NoneType in numeric binops
  CHANGELOG.md
  python/cudf/cudf/_lib/binops.pyx
  python/cudf/cudf/_lib/cudf.pyx
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/tests/test_binops.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#3555 [REVIEW] Add support for column names in libcudf++ io readers/writers
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/csv_test.cu
  cpp/tests/io/orc_test.cu
  cpp/tests/io/parquet_test.cu
Labels: 3 - Ready for Review, Spark, cuIO, libcudf++

#3336 [REVIEW] Port to/from_dlpack to libcudf++
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/dlpack.hpp
  cpp/include/cudf/dlpack.hpp
  cpp/include/cudf/wrappers/bool.hpp
  cpp/src/dlpack/dlpack.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/dlpack/dlpack_test.cpp
Labels: 3 - Ready for Review, libcudf++

#3548 [REVIEW] Replace CUDA_RT_CALL with CUDA_TRY
  CHANGELOG.md
  cpp/src/groupby/hash/legacy/groupby.cu
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/concurrent_unordered_multimap.cuh
  cpp/src/hash/helper_functions.cuh
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#3590 [REVIEW] Specialize hash functions for floating point
  CHANGELOG.md
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/tests/hashing/hash_test.cpp
  cpp/tests/utilities/type_lists.hpp
Labels: 3 - Ready for Review, Spark

#3431 [REVIEW] Port NVStrings translate op to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/translate.hpp
  cpp/src/strings/translate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/translate_tests.cpp
Labels: 3 - Ready for Review, libcudf++, strings

#3527 [REVIEW] Strings functionality for merge
  CHANGELOG.md
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/merge/merge.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/merge/merge_string_test.cpp
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), libcudf++

#3564 [REVIEW] Fix cuda memory access error in gather_bitmask_kernel
  CHANGELOG.md
  cpp/include/cudf/detail/gather.cuh
Labels: 3 - Ready for Review, libcudf++

#3588 [REVIEW] Remove avro column reordering
  CHANGELOG.md
  cpp/src/io/avro/legacy/avro_reader_impl.cu
  cpp/src/io/avro/reader_impl.cu
  python/cudf/cudf/tests/test_avro.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, 4 - Needs cuIO Reviewer, cuIO

#3610 [REVIEW] Add `memory_usage` to DataFrame and Series APIs
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge

#3402 [REVIEW] Define and implement new quantiles APIs
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/quantiles.hpp
  cpp/include/cudf/types.hpp
  cpp/src/quantiles/quantiles.cu
  cpp/src/quantiles/quantiles_util.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/quantiles/quantiles_test.cu
  cpp/tests/utilities/scalar_utilities.cu
  cpp/tests/utilities/scalar_utilities.hpp
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), libcudf++

#3622 [REVIEW] Fixes for building with gcc-8
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/aggregation.hpp
  cpp/src/binaryop/legacy/binaryop.cpp
Labels: 3 - Ready for Review, bug

#3567 Include `strides` in `__cuda_array_interface__`
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3637 [REVIEW] Fix sorted set_index operations in dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, dask

#3364 [REVIEW] Port NVStrings split/rsplit functions to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/split/split.hpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.inl
  cpp/src/strings/split/split.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/split_tests.cpp
Labels: 3 - Ready for Review, libcudf++, strings

#3557 [REVIEW] contiguous_split function.
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/copying/contiguous_split_benchmark.cu
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/src/copying/contiguous_split.cu
  cpp/src/copying/slice.cpp
  cpp/src/copying/split.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/slice_tests.cu
  cpp/tests/copying/slice_tests.cuh
  cpp/tests/copying/split_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark

#3224 [REVIEW] Define and implement new join APIs
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/join.hpp
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/join_kernels.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/join/join_tests.cu
  cpp/tests/strings/concatenate_tests.cu
  cpp/tests/table/table_tests.cpp
Labels: 3 - Ready for Review, libcudf (C++/CUDA), libcudf++

#2981 [REVIEW] build targets without installation
  CHANGELOG.md
  build.sh
Labels: 4 - Waiting on Author, CMake, gpuCI

#3612 [REVIEW] Add ability to customize the JIT kernel cache path
  CHANGELOG.md
  ci/gpu/build.sh
  cpp/CMakeLists.txt
  cpp/src/jit/cache.cpp
  cpp/src/jit/cache.h
  cpp/tests/binaryop/legacy/unit/jit-cache-test.hpp
Labels: gpuCI, libcudf (C++/CUDA), libcudf++

#3629 [REVIEW] Fix hash map test failure
  CHANGELOG.md
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/concurrent_unordered_multimap.cuh
  cpp/tests/hash_map/map_test.cu
  cpp/tests/hash_map/multimap_test.cu
Labels: 3 - Ready for Review, libcudf++

#3641 [REVIEW] Remove duplicate CUDA_DEVICE_CALLABLE definitions
  CHANGELOG.md
  cpp/include/cudf/types.hpp
  cpp/src/utilities/legacy/bit_util.cuh
  cpp/src/utilities/legacy/cudf_utils.h
Labels: 3 - Ready for Review, tech debt

#3640 [REVIEW] Enable memory_usage in dask_cudf
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#3441 [REVIEW] Port NVStrings url encode/decode to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/convert/convert_urls.hpp
  cpp/src/strings/convert/convert_urls.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/urls_tests.cpp
Labels: 3 - Ready for Review, libcudf++, strings

#3655 [REVIEW] Use move with make_pair for non-trivially copyable types
  CHANGELOG.md
  cpp/docs/TRANSITIONGUIDE.md
  cpp/include/cudf/detail/valid_if.cuh
  cpp/src/groupby/hash/legacy/groupby.cu
  cpp/src/groupby/legacy/groupby_without_aggregation.cu
  cpp/src/groupby/sort/legacy/groupby.cu
  cpp/src/groupby/sort/legacy/sort_helper.cu
  cpp/src/io/csv/legacy/csv_reader_impl.cu
  cpp/src/join/hash_join.cuh
  cpp/src/quantiles/legacy/group_quantiles.cu
  cpp/src/reductions/legacy/group_std.cu
  cpp/src/stream_compaction/legacy/drop_duplicates.cu
  cpp/src/strings/utilities.cuh
  cpp/tests/groupby/common/legacy/groupby_test.hpp
  cpp/tests/utilities/column_wrapper.hpp
Labels: 3 - Ready for Review, tech debt

#3639 [REVIEW] Define and implement nans_to_nulls
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/transform/nans_to_nulls.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/transform/nans_to_null_test.cpp
Labels: 3 - Ready for Review, libcudf++

#3627 [REVIEW] Adding cudf::sort and cudf::sort_by_key
  CHANGELOG.md
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/sorting.hpp
  cpp/src/sort/sort.cu
  cpp/tests/sort/sort_test.cpp
Labels: 3 - Ready for Review, libcudf++

#3663 [REVIEW] Fix libcudf++ ORC swapped microseconds and milliseconds units
  CHANGELOG.md
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
Labels: 3 - Ready for Review, Spark, cuIO

#3453 [REVIEW] Port NVStrings convert ipv4 ops to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/convert/convert_ipv4.hpp
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/ipv4_tests.cpp
Labels: 3 - Ready for Review, libcudf++, strings
