Repository rapidsai/cudf, pull requests merged in 2019-05, with the labels that each got.

#1553 [REVIEW] Added an overload for `hash_row` that doesn't use initial hash values
  CHANGELOG.md
  cpp/src/hash/hashing.cu
  cpp/src/table/device_table.cuh
Labels: 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1531 [REVIEW] Refactor closures as private functions in gpuarrow
  CHANGELOG.md
  python/cudf/comm/gpuarrow.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, Cython, cuDF (Python)

#1551 [REVIEW] CSV Reader: Fix integer column name indexing
  CHANGELOG.md
  python/cudf/bindings/csv.pyx
  python/cudf/tests/test_csvreader.py
Labels: cuIO

#1466 [REVIEW] Add GPU-accelerated ORC Reader
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/io_functions.h
  cpp/include/cudf/io_types.h
  cpp/src/io/comp/io_uncomp.h
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/orc_reader.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/timezone.cpp
  cpp/src/io/orc/timezone.h
  python/cudf/bindings/orc.pxd
  python/cudf/bindings/orc.pyx
  python/cudf/io/orc.py
  python/cudf/tests/data/orc/TestOrcFile.decimal.orc
  python/cudf/tests/data/orc/TestOrcFile.testDate2038.orc
  python/cudf/tests/test_orc.py
  python/cudf/utils/ioutils.py
Labels: 2 - In Progress, cuIO

#1524 [REVIEW] Add GPU-accelerated JSON Lines parser with limited feature set
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/io_functions.h
  cpp/include/cudf/io_types.h
  cpp/src/io/comp/io_uncomp.h
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/csv/csv_reader.cu
  cpp/src/io/csv/datetime_parser.cuh
  cpp/src/io/csv/type_conversion.cuh
  cpp/src/io/cuio_common.cpp
  cpp/src/io/cuio_common.hpp
  cpp/src/io/json/json_reader.cu
  cpp/src/io/json/json_reader.hpp
  cpp/src/io/utilities/file_utils.cpp
  cpp/src/io/utilities/file_utils.hpp
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/io/utilities/wrapper_utils.hpp
  cpp/tests/io/json/json_test.cpp
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, cuIO

#1521 [REVIEW] Add `row_bitmask` feature. Cleanup/reorganization of bitmask_ops/valid_ops
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/bitmask.hpp
  cpp/include/cudf/functions.h
  cpp/include/types.hpp
  cpp/src/binary/jit/core/binop.cpp
  cpp/src/bitmask/bit_mask.cuh
  cpp/src/bitmask/bitmask_ops.cu
  cpp/src/bitmask/bitmask_ops.h
  cpp/src/bitmask/bitmask_ops.hpp
  cpp/src/bitmask/valid_ops.cu
  cpp/src/hash/hash_ops.cu
  cpp/src/utilities/cudf_utils.h
  cpp/tests/CMakeLists.txt
  cpp/tests/bitmask/bitmask_ops_test.cu
  cpp/tests/bitmask/valid_ops_test.cu
  python/cudf/bindings/cudf_cpp.pxd
Labels: 4 - Needs libcudf Reviewer, cuDF (Python), libcudf (C++/CUDA)

#1508 [REVIEW] Add Series isna, isnull, and notna
  CHANGELOG.md
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
  python/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1565 [REVIEW] Docs build script for cuDF [skip ci]
  CHANGELOG.md
  ci/docs/build.sh
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, doc, gpuCI

#1559 [REVIEW] Catch C++ exceptions from Cython
  CHANGELOG.md
  python/cudf/bindings/cudf_cpp.pxd
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, Cython, cuDF (Python)

#1525 [WIP] Add cudatoolkit dependencies to conda packages for community compatibility
  CHANGELOG.md
  README.md
  ci/cpu/upload_anaconda.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/libcudf/meta.yaml
Labels: 2 - In Progress, conda

#1301 [REVIEW] Add MultiIndex support for Dataframes and Series
  CHANGELOG.md
  ci/local/build.sh
  cpp/src/binary/binary_ops.cu
  python/cudf/__init__.py
  python/cudf/bindings/groupby.pyx
  python/cudf/dataframe/__init__.py
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/multiindex.py
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
  python/cudf/dataframe/string.py
  python/cudf/groupby/groupby.py
  python/cudf/tests/test_groupby.py
  python/cudf/tests/test_libgdf_groupby.py
  python/cudf/tests/test_multiindex.py
  python/cudf/tests/test_string.py
  python/cudf/tests/utils.py
Labels: 2 - In Progress, cuDF (Python)

#1533 [REVIEW] Remove stale join CFFI, fix memory leaks in join Cython
  CHANGELOG.md
  python/cudf/_gdf.py
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/join.pxd
  python/cudf/bindings/join.pyx
  python/cudf/bindings/sort.pyx
  python/cudf/dataframe/categorical.py
  python/cudf/dataframe/numerical.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, Cython, cuDF (Python)

#1588 [REVIEW] Add index typecasting
  CHANGELOG.md
  python/cudf/dataframe/index.py
  python/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuDF (Python)

#1591 [REVIEW] ORC/Parquet Reader: Fix missing import for FileNotFoundError exception
  CHANGELOG.md
  python/cudf/bindings/orc.pyx
  python/cudf/bindings/parquet.pyx
  python/cudf/tests/test_orc.py
  python/cudf/tests/test_parquet.py
  python/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuIO

#1573 [REVIEW] Parquet Reader: Fix crash due to clash with ORC reader datasource
  CHANGELOG.md
  cpp/include/cudf/io_functions.h
  cpp/src/io/orc/orc_reader.cu
  cpp/src/io/parquet/parquet_reader.cu
  cpp/src/io/utilities/datasource.hpp
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, cuIO

#1585 [REVIEW] Update `cudf::table` to make copy of wrapped `gdf_column*`s
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/table.hpp
  cpp/src/bitmask/bitmask_ops.cu
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/string/nvcategory_util.cpp
  cpp/src/table/device_table.cuh
  cpp/src/table/table.cpp
  cpp/tests/bitmask/bitmask_ops_test.cu
  cpp/tests/copying/gather_tests.cu
  cpp/tests/copying/scatter_tests.cu
  cpp/tests/table/table_tests.cu
Labels: 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1599 [REVIEW] Add level keyword in multiple forms to CUDF Groupby
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/multiindex.py
  python/cudf/groupby/groupby.py
  python/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1522 [REVIEW] Fix update-version script
  CHANGELOG.md
  ci/release/update-version.sh
Labels: 3 - Ready for Review

#1569 [REVIEW] Add support for Json Objects to the JSON Lines reader
  CHANGELOG.md
  cpp/src/io/json/json_reader.cu
  cpp/src/io/json/json_reader.hpp
  cpp/tests/io/json/json_test.cpp
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, cuIO

#1607 [REVIEW] Return by reference if possible in `column.to_dense_buffer`
  CHANGELOG.md
  python/cudf/dataframe/column.py
Labels: 5 - Ready to Merge, Performance, cuDF (Python)

#1609 [REVIEW] Add arbitrary list of Series as a valid argument to Groupby function
  CHANGELOG.md
  python/cudf/groupby/groupby.py
  python/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge

#1536 [REVIEW] Cythonize gpuarrow
  CHANGELOG.md
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/gpuarrow.pxd
  python/cudf/bindings/gpuarrow.pyx
  python/cudf/comm/gpuarrow.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#929 [REVIEW] Add dataframe support operations like sum, count, etc.
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1456 [REVIEW] Add Series.diff() via Numba kernel
  CHANGELOG.md
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
  python/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1590 [REVIEW] Remove CFFI from the codebase
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  ci/cpu/build.sh
  ci/cpu/libcudf_cffi/build_libcudf_cffi.sh
  ci/cpu/upload_anaconda.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf_cffi/build.sh
  conda/recipes/libcudf_cffi/meta.yaml
  cpp/CMakeLists.txt
  cpp/python/libgdf_cffi/__init__.py
  cpp/python/libgdf_cffi/libgdf_build.py
  cpp/python/libgdf_cffi/tests/__init__.py
  cpp/python/libgdf_cffi/tests/conftest.py
  cpp/python/libgdf_cffi/tests/test_binaryops.py
  cpp/python/libgdf_cffi/tests/test_errorhandling.py
  cpp/python/libgdf_cffi/tests/test_hashing.py
  cpp/python/libgdf_cffi/tests/test_ipc.py
  cpp/python/libgdf_cffi/tests/test_segmented_sorting.py
  cpp/python/libgdf_cffi/tests/test_sorting.py
  cpp/python/libgdf_cffi/tests/test_unaryops.py
  cpp/python/libgdf_cffi/tests/test_validity.py
  cpp/python/libgdf_cffi/tests/utils.py
  cpp/python/libgdf_cffi/wrapper.py
  cpp/python/setup.py
  docs/source/developer.rst
  python/cudf/__init__.py
  python/cudf/_gdf.py
  python/cudf/dataframe/column.py
  python/setup.cfg
  readthedocs.yml
  setup.cfg
  setup_pip.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, Cython, cuDF (Python)

#1556 [REVIEW] C++ transition guide [skip ci]
  CHANGELOG.md
  cpp/docs/TRANSITIONGUIDE.md
Labels: 4 - Needs libcudf Reviewer, doc, libcudf (C++/CUDA)

#1586 [REVIEW] Fix `scaler_wrapper::operator==`
  CHANGELOG.md
  cpp/tests/utilities/scalar_wrapper.cuh
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1617 [REVIEW] Convenience functions for `cudf::table`
  CHANGELOG.md
  cpp/include/table.hpp
  cpp/src/table/table.cpp
Labels: 4 - Needs libcudf Reviewer

#1631 [REVIEW] Fix for gcc-7 only failure of TYPES_TEST
  CHANGELOG.md
  cpp/tests/types/types_test.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1356 [REVIEW] Rolling window implementation and tests
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/rolling.hpp
  cpp/src/bitmask/bit_mask.cuh
  cpp/src/rolling/rolling.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/rolling_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1618 [REVIEW] ORC: Fix nrows/skiprows when not aligned with stripe boundaries
  CHANGELOG.md
  cpp/src/io/orc/orc_reader.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
  python/cudf/tests/test_orc.py
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, cuIO

#982 [REVIEW] Group by without aggregations
  CHANGELOG.md
  cpp/include/cudf/functions.h
  cpp/include/cudf/types.h
  cpp/include/groupby.hpp
  cpp/src/column/column.cpp
  cpp/src/column/context.cpp
  cpp/src/groupby/groupby_compute_api.h
  cpp/src/groupby/new_groupby.cu
  cpp/src/orderby/orderby.cu
  cpp/src/sqls/sqls_rtti_comp.h
  cpp/src/utilities/cudf_utils.h
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/groupby_test.cu
  cpp/tests/groupby/groupby_test_helpers.cuh
  cpp/tests/groupby/without_agg/groupby_wo_agg_test.cu
  cpp/tests/groupby/without_agg/test_parameters_wo.cuh
  cpp/tests/nvcategory/nvcategory_test.cu
  cpp/tests/orderby/orderby_tests.cu
  cpp/tests/utilities/cudf_test_utils.cuh
  cpp/tests/utilities/valid_vectors.h
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/cudf_cpp.pyx
  python/cudf/bindings/groupby.pyx
  python/cudf/bindings/join.pyx
  python/cudf/bindings/quantile.pyx
  python/cudf/bindings/sort.pxd
  python/cudf/bindings/sort.pyx
Labels: 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1648 [REVIEW] Fix potentially uninitialized tail rows when skiprows!=0
  CHANGELOG.md
  cpp/src/io/orc/stripe_data.cu
Labels: 5 - Ready to Merge, cuIO

#1583 [REVIEW] Fix Series.quantile()
  CHANGELOG.md
  python/cudf/dataframe/index.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuDF (Python)

#1676 [REVIEW] Fix groupby as_index behaviour with MultiIndex
  CHANGELOG.md
  python/cudf/bindings/groupby.pyx
  python/cudf/tests/test_groupby.py
Labels: 4 - Needs cuDF Reviewer, 5 - Ready to Merge

#1683 [REVIEW] Fix ORC timestamp to UTC conversion
  CHANGELOG.md
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/timezone.cpp
  cpp/src/io/orc/timezone.h
Labels: 5 - Ready to Merge, cuIO

#1656 [REVIEW] Drop object columns automatically when running numeric groupby aggregations.
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/groupby/groupby.py
  python/cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer

#1689 [REVIEW] Correct performance regression with 0.7 groupby.
  CHANGELOG.md
  python/cudf/dataframe/multiindex.py
  python/cudf/groupby/groupby.py
Labels: 4 - Needs cuDF Reviewer

#1694 [REVIEW] Add cython as runtime dependency to conda recipe
  CHANGELOG.md
  conda/recipes/cudf/meta.yaml
Labels: 5 - Ready to Merge

#1660 [REVIEW] Fixing loc bug when indexing by column name
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1613 [WIP] Special-case CategoricalColumn.fillna(-1)
  CHANGELOG.md
  python/cudf/dataframe/categorical.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1616 [WIP] Access CategoricalColumn categories by index instead of iteration
  CHANGELOG.md
  python/cudf/dataframe/categorical.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1709 [REVIEW] Handle datetime64[ms] in `select_dtypes` (branch-0.8)
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_dataframe.py
  python/cudf/utils/utils.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer

#1702 [REVIEW] Compute MultiIndex lazily whenever it is utilized, instead of doing it as part of groupby aggregation.
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/multiindex.py
  python/cudf/dataframe/series.py
  python/cudf/groupby/groupby.py
  python/cudf/tests/test_groupby.py
  python/cudf/tests/test_multiindex.py
  python/cudf/tests/utils.py
Labels: ! - Hotfix, 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuDF (Python)

#1708 [REVIEW] Handle datetime64[ms] in `select_dtypes`
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_dataframe.py
  python/cudf/utils/utils.py
Labels: ! - Hotfix, 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuDF (Python)

#1654 [REVIEW] cudf::apply_boolean_mask
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/copying.hpp
  cpp/include/cudf/functions.h
  cpp/include/stream_compaction.hpp
  cpp/src/bitmask/bit_mask.cuh
  cpp/src/compaction/stream_compaction_ops.cu
  cpp/src/copying/copy.cpp
  cpp/src/io/csv/type_conversion.cuh
  cpp/src/rolling/rolling.cu
  cpp/src/stream_compaction/copy_if.cuh
  cpp/src/stream_compaction/stream_compaction.cu
  cpp/src/utilities/device_atomics.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/copy_tests.cu
  cpp/tests/error/error_handling_test.cu
  cpp/tests/groupby/groupby_test_helpers.cuh
  cpp/tests/groupby/test_parameters.cuh
  cpp/tests/stream_compaction/stream_compaction_bench.cu
  cpp/tests/stream_compaction/stream_compaction_tests.cu
  cpp/tests/utilities/column_wrapper.cuh
  cpp/tests/utilities/cudf_test_fixtures.h
  cpp/tests/utilities/cudf_test_utils.cuh
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/stream_compaction.pxd
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#1487 [REVIEW] cython gather/scatter
  CHANGELOG.md
  python/cudf/bindings/copying.pxd
  python/cudf/bindings/copying.pyx
  python/cudf/bindings/types.pxd
  python/cudf/bindings/types.pyx
  python/cudf/dataframe/categorical.py
  python/cudf/dataframe/column.py
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/datetime.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_copying.py
  python/cudf/utils/cudautils.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuDF (Python), libcudf (C++/CUDA)

#1713 [REVIEW] Add Docs for Dask-XGBoost
  CHANGELOG.md
  docs/source/dask-xgb-10min.ipynb
  docs/source/index.rst
Labels: doc

#1651 [REVIEW] Fix query function on empty dataframe
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_query.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1675 [REVIEW] update readme conda install instructions for cudf version 0.6 and 0.7
  CHANGELOG.md
  README.md
Labels: 0 - Blocked, 5 - Ready to Merge, doc

#1680 [REVIEW] Fixing drop() error in `dask-cudf`
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1701 [REVIEW] Added `unique` method for string columns
  CHANGELOG.md
  python/cudf/dataframe/string.py
  python/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1704 [REVIEW] CSV Reader: Add support for the plus sign in number fields
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  cpp/src/io/csv/type_conversion.cuh
  python/cudf/tests/test_csvreader.py
Labels: 3 - Ready for Review, cuIO

#1666 [REVIEW] CSV Reader: Improve performance for files with large number of columns
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  python/cudf/tests/test_csvreader.py
Labels: 3 - Ready for Review, cuIO

#1687 [REVIEW] CSV reader: return an empty dataframe for zero size input
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  python/cudf/bindings/csv.pyx
  python/cudf/tests/test_csvreader.py
Labels: 3 - Ready for Review, cuIO

#1718 [REVIEW] [HOTFIX] Fix issue by handling multiindex in series groupby
  CHANGELOG.md
  python/cudf/groupby/groupby.py
Labels: ! - Hotfix, 5 - Ready to Merge, cuDF (Python)

#1725 [REVIEW] Fix issue by handling same-column-as-index rules for the first time.
  CHANGELOG.md
  python/cudf/bindings/groupby.pyx
  python/cudf/groupby/groupby.py
  python/cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer

#1465 [REVIEW] Fix for test_orc.py and test_sparse_df.py test failures
  CHANGELOG.md
  python/cudf/tests/test_orc.py
  python/cudf/tests/test_sparse_df.py
  python/setup.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1310 [REVIEW] 'slice' and 'split' functionality (copying).
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/copying.hpp
  cpp/src/bitmask/bit_mask.cuh
  cpp/src/column/column.cpp
  cpp/src/copying/slice.cu
  cpp/src/copying/slice.hpp
  cpp/src/copying/split.cu
  cpp/src/join/joining.cu
  cpp/src/string/nvcategory_util.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/copying_test_helper.hpp
  cpp/tests/copying/slice_tests.cu
  cpp/tests/copying/split_tests.cu
  cpp/tests/nvcategory/nvcategory_test.cu
  cpp/tests/utilities/column_wrapper.cuh
  cpp/tests/utilities/nvcategory_utils.cu
  cpp/tests/utilities/nvcategory_utils.cuh
Labels: 4 - Waiting on Author, libcudf (C++/CUDA)

#1422 [WIP] Added a RAII wrapper for CUDA streams.
  CHANGELOG.md
  cpp/src/utilities/cuda_utils.hpp
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#1735 [HOTFIX] Overload for atomicAdd on int64
  CHANGELOG.md
  cpp/src/utilities/device_atomics.cuh
  cpp/src/utilities/device_operators.cuh
  cpp/tests/device_atomics/device_atomics_test.cu
Labels: 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1734 [HOTFIX] Fix dtype for groupby-count
  CHANGELOG.md
  python/cudf/bindings/groupby.pyx
  python/cudf/tests/test_groupby.py
  python/cudf/tests/test_libgdf_groupby.py
  python/cudf/tests/test_string.py
Labels: ! - Hotfix, 5 - Ready to Merge, cuDF (Python)

#1642 [REVIEW] fix CSV_TEST gdf_csv_test.SkiprowsNrows failure
  CHANGELOG.md
  cpp/tests/io/csv/csv_test.cu
  cpp/tests/io/json/json_test.cpp
  cpp/tests/utilities/cudf_test_fixtures.h
Labels: 3 - Ready for Review, cuIO

#1630 [REVIEW] Add Python layer to the GPU-accelerated JSON reader
  CHANGELOG.md
  cpp/src/io/json/json_reader.cu
  cpp/tests/io/json/json_test.cpp
  python/cudf/bindings/json.pxd
  python/cudf/bindings/json.pyx
  python/cudf/io/json.py
  python/cudf/tests/test_json.py
  python/cudf/utils/ioutils.py
Labels: 3 - Ready for Review, cuIO

#1745 [REVIEW] Series.round via numba kernel
  CHANGELOG.md
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
  python/cudf/utils/cudautils.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuDF (Python)

#1749 [REVIEW] ORC Reader: fix long strings of NULLs corrupting decoded values
  CHANGELOG.md
  cpp/src/io/orc/stripe_data.cu
Labels: 3 - Ready for Review, cuIO

#1758 [REVIEW] Don't make RangeIndex the default choice for an empty index
  CHANGELOG.md
  python/cudf/dataframe/index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1767 [REVIEW] Speed up unit tests
  CHANGELOG.md
  python/cudf/tests/test_dataframe.py
  python/cudf/tests/test_sparse_df.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1755 [REVIEW] Add col_level keyword argument to melt
  CHANGELOG.md
  python/cudf/reshape/general.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1741 [REVIEW] Concatenate MultiIndex from groupby results for dask-cudf
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/multiindex.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: ! - Hotfix, 4 - Needs cuDF Reviewer, cuDF (Python)

#1703 concurrent_unordered_map updates
  CHANGELOG.md
  cpp/src/groupby/groupby_compute_api.h
  cpp/src/groupby/hash_groupby_kernels.cuh
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/tests/hash_map/map_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1768 [REVIEW] Fix handling read only schema buffers in gpuarrow reader
  CHANGELOG.md
  python/cudf/bindings/gpuarrow.pyx
  python/cudf/tests/test_gpu_arrow_parser.py
Labels: ! - Hotfix, Cython, cuDF (Python)

#1748 [REVIEW] Add nullability template argument to device_table row operators
  CHANGELOG.md
  cpp/src/hash/hashing.cu
  cpp/src/table/device_table.cuh
  cpp/tests/device_table/device_table_tests.cu
  cpp/tests/hashing/hash_partition_test.cu
  cpp/tests/utilities/column_wrapper.cuh
Labels: 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1770 [REVIEW] Added build.sh script, updated CI scripts and documentation
  CHANGELOG.md
  CONTRIBUTING.md
  build.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  conda/recipes/cudf/build.sh
  conda/recipes/libcudf/build.sh
Labels: CMake, doc

#1746 [REVIEW] Removed unused, untested, and dead code
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/functions.h
  cpp/include/cudf/types.h
  cpp/src/hash/hash_ops.cu
  cpp/src/sort/sorting.cu
  cpp/src/windowed/windowed_ops.cu
  python/cudf/bindings/hash.pxd
  python/cudf/bindings/sort.pxd
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, 4 - Needs libcudf Reviewer

#1757 [REVIEW] Allow concatenating columns with null columns
  CHANGELOG.md
  python/cudf/dataframe/column.py
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/string.py
  python/cudf/tests/test_multi.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1772 [REVIEW] JSON reader: add support for BytesIO and StringIO input
  CHANGELOG.md
  python/cudf/bindings/json.pyx
  python/cudf/tests/test_json.py
Labels: 5 - Ready to Merge, cuIO

#1742 [REVIEW] Parquet Reader: Fix index column name to match PANDAS compat
  CHANGELOG.md
  cpp/src/io/parquet/parquet_reader.cu
  python/cudf/bindings/parquet.pyx
  python/cudf/tests/test_parquet.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuIO

#1783 [REVIEW] Update conda dependencies
  CHANGELOG.md
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
Labels: 5 - Ready to Merge, conda

#1782 [REVIEW] Update libcudf version in docs [skip ci]
  CHANGELOG.md
  cpp/doxygen/Doxyfile
Labels: doc

#1739 [REVIEW] ORC Reader: Add more pytest coverage
  CHANGELOG.md
  cpp/src/io/orc/orc_reader.cu
  python/cudf/tests/data/orc/TestOrcFile.demo-12-zlib.orc
  python/cudf/tests/data/orc/TestOrcFile.nulls-at-end-snappy.orc
  python/cudf/tests/data/orc/TestOrcFile.testSnappy.orc
  python/cudf/tests/data/orc/TestOrcFile.testStringAndBinaryStatistics.orc
  python/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, cuIO

#1786 [REVIEW] Maintain the original series name in series.unique output
  CHANGELOG.md
  python/cudf/dataframe/series.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1538 [REVIEW] Inequality Comparator - LesserRTTI replacement
  CHANGELOG.md
  cpp/include/cudf/functions.h
  cpp/include/cudf/types.h
  cpp/include/groupby.hpp
  cpp/src/groupby/groupby_compute_api.h
  cpp/src/groupby/new_groupby.cu
  cpp/src/join/join_kernels.cuh
  cpp/src/orderby/orderby.cu
  cpp/src/sqls/sqls_rtti_comp.h
  cpp/src/table/device_table.cuh
  cpp/src/table/device_table_row_operators.cuh
  cpp/tests/device_table/device_table_tests.cu
  cpp/tests/groupby/without_agg/groupby_wo_agg_test.cu
  cpp/tests/groupby/without_agg/test_parameters_wo.cuh
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/cudf_cpp.pyx
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#1527 [REVIEW] Support GDF_BOOL8 in readers and writers
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  cpp/src/io/csv/csv_writer.cu
  cpp/src/io/cuio_common.cpp
  cpp/src/io/orc/orc_reader.cu
  cpp/src/io/parquet/parquet_reader.cu
  cpp/tests/io/csv/csv_test.cu
  python/cudf/tests/test_csvreader.py
  python/cudf/tests/test_orc.py
  python/cudf/tests/test_parquet.py
Labels: 2 - In Progress, cuIO

#1760 [REVIEW] CSV Reader: fix segfault when dtype list only includes columns from usecols list
  CHANGELOG.md
  cpp/include/cudf/io_types.h
  cpp/src/io/csv/csv_reader.cu
  cpp/tests/io/csv/csv_test.cu
  python/cudf/bindings/csv.pxd
  python/cudf/bindings/csv.pyx
  python/cudf/tests/test_csvreader.py
Labels: 3 - Ready for Review, cuIO

#1622 [REVIEW] Add Series.loc and DataFrame.loc
  CHANGELOG.md
  python/cudf/bindings/transpose.pyx
  python/cudf/dataframe/buffer.py
  python/cudf/dataframe/categorical.py
  python/cudf/dataframe/column.py
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/datetime.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
  python/cudf/dataframe/string.py
  python/cudf/groupby/legacy_groupby.py
  python/cudf/indexing.py
  python/cudf/tests/test_dataframe.py
  python/cudf/tests/test_multiindex.py
  python/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1811 [REVIEW] Add table copy functions
  CHANGELOG.md
  cpp/include/copying.hpp
  cpp/include/table.hpp
  cpp/src/copying/copy.cpp
  cpp/src/table/table.cpp
  cpp/tests/copying/copy_tests.cu
Labels: 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#1795 Added printing of submodule status to print_env.sh
  CHANGELOG.md
  print_env.sh
Labels: 3 - Ready for Review, git

#1759 [REVIEW] Add rolling average example to apply_grouped documentation
  CHANGELOG.md
  python/cudf/groupby/legacy_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#1823 [REVIEW] CSV Reader: default the column type to string for empty dataframes
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  python/cudf/tests/test_csvreader.py
Labels: 5 - Ready to Merge, cuIO

#1813 [REVIEW] ORC Reader: Add support for stripe selection
  CHANGELOG.md
  cpp/include/cudf/io_types.h
  cpp/src/io/orc/orc_reader.cu
  python/cudf/bindings/orc.pxd
  python/cudf/bindings/orc.pyx
  python/cudf/io/__init__.py
  python/cudf/io/orc.py
  python/cudf/tests/test_orc.py
  python/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuIO

#1825 [REVIEW] Fix issues with multiple aggregation and groupby
  CHANGELOG.md
  python/cudf/groupby/groupby.py
  python/cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer

#1828 [REVIEW] JSON Reader: add suport for bool8 columns
  CHANGELOG.md
  cpp/src/io/json/json_reader.cu
  cpp/src/io/json/json_reader.hpp
  python/cudf/tests/test_json.py
Labels: 3 - Ready for Review, cuIO

#1789 [REVIEW] CSV Reader: Fix missing support for specifying `int8` and `int16` dtypes
  CHANGELOG.md
  cpp/src/io/cuio_common.cpp
  cpp/tests/io/csv/csv_test.cu
  python/cudf/tests/test_csvreader.py
Labels: 3 - Ready for Review, cuIO

#1817 Operators on different sized dataframes
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_binops.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, cuDF (Python)

#1849 [REVIEW] Allow DataFrame support methods to pass arguments to the methods
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer

#1819 [REVIEW] Logical operators (AND, OR, NOT) for libcudf and cuDF
  CHANGELOG.md
  cpp/include/cudf/types.h
  cpp/src/binary/jit/code/operation.cpp
  cpp/src/binary/jit/util/type.cpp
  cpp/src/unary/math_ops.cu
  cpp/src/utilities/wrapper_types.hpp
  cpp/tests/binary/integration/binary-operation-integration-test.cpp
  cpp/tests/binary/util/operation.h
  cpp/tests/unary/unary_ops_test.cu
  python/cudf/__init__.py
  python/cudf/bindings/binops.pxd
  python/cudf/bindings/binops.pyx
  python/cudf/bindings/unaryops.pxd
  python/cudf/bindings/unaryops.pyx
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
  python/cudf/ops.py
  python/cudf/tests/test_binops.py
  python/cudf/tests/test_unaops.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer, 4 - Needs libcudf Reviewer, cuDF (Python), libcudf (C++/CUDA)

#1846 [REVIEW] type-erased gdf_equal_columns, and fix for gdf_equal_columns logic
  CHANGELOG.md
  cpp/tests/column/column_test.cu
  cpp/tests/transpose/transpose_test.cu
  cpp/tests/unary/unary_ops_test.cu
  cpp/tests/utilities/column_wrapper.cuh
  cpp/tests/utilities/cudf_test_utils.cu
  cpp/tests/utilities/cudf_test_utils.cuh
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#1665 [REVIEW] GIS: point-in-polygon function
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/gis.hpp
  cpp/src/gis/point_in_polygon.cu
  cpp/src/gis/point_in_polygon.hpp
  cpp/src/reductions/scan.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/gis/point_in_polygon_test.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#1838 Utilities for making *typed* empty columns
  CHANGELOG.md
  python/cudf/dataframe/column.py
  python/cudf/dataframe/columnops.py
Labels: 3 - Ready for Review, cuDF (Python)

#1847 [REVIEW] Fixed #1375 by moving the nvstring check into the wrapper function
  CHANGELOG.md
  python/cudf/dataframe/string.py
  python/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1863 [REVIEW] Series and Dataframe methods for all and any
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1840 [REVIEW] Retain index correctly during merge left_on right_on
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/index.py
  python/cudf/tests/test_joining.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1857 [REVIEW]Fix dtype handling for bool in `column_view_from_NDArrays`
  CHANGELOG.md
  python/cudf/bindings/cudf_cpp.pyx
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#1839 [REVIEW] Raise error when attempting to transpose string DataFrames.
  CHANGELOG.md
  python/cudf/bindings/transpose.pyx
Labels: 5 - Ready to Merge, cuDF (Python)

#1864 [REVIEW] Fixing cudf reduction for POWER platform
  CHANGELOG.md
  cpp/include/cudf/types.h
  python/cudf/bindings/cudf_cpp.pxd
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Cython, cuDF (Python), libcudf (C++/CUDA)

#1876 [REVIEW] Bug fix: add dtype for any, all
  CHANGELOG.md
  python/cudf/dataframe/numerical.py
  python/cudf/tests/test_dataframe.py
Labels: 4 - Needs cuDF Reviewer

#1882 [REVIEW] Add iloc and tests for MultiIndex dataframes
  CHANGELOG.md
  python/cudf/dataframe/multiindex.py
  python/cudf/indexing.py
  python/cudf/tests/test_multiindex.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1873 [REVIEW] Add column dtype checking for the all/any methods
  CHANGELOG.md
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, 4 - Needs cuDF Reviewer

#1869 [REVIEW] Parquet reader: add compile-time switch to convert us to ms
  CHANGELOG.md
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet_gpu.h
  cpp/src/io/parquet/parquet_reader.cu
  python/cudf/tests/data/parquet/usec_timestamp.parquet
  python/cudf/tests/test_parquet.py
Labels: 3 - Ready for Review, cuIO

#1875 [REVIEW] CSV reader: take NaN values into account in data type detection
  CHANGELOG.md
  cpp/src/io/csv/csv_reader.cu
  python/cudf/tests/test_csvreader.py
Labels: 5 - Ready to Merge, cuIO

#1896 [REVIEW] Remove levels and codes usage during groupby levels arg parsing.
  CHANGELOG.md
  python/cudf/dataframe/multiindex.py
  python/cudf/groupby/groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#1867 [REVIEW] JSON reader: add support for null/empty fields, including the 'null' literal
  CHANGELOG.md
  cpp/src/io/json/json_reader.cu
  cpp/src/io/json/json_reader.hpp
  python/cudf/tests/test_json.py
Labels: 3 - Ready for Review, cuIO

#1887 Fix for initialization issue in pq_read_arg,orc_read_arg
  CHANGELOG.md
  python/cudf/bindings/orc.pyx
  python/cudf/bindings/parquet.pyx
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, Cython, cuIO
