Repository rapidsai/cudf, pull requests merged in 2019-07, with the labels that each got.

#2151 [REVIEW] Fix null_count bug in cudf::copy_range
  CHANGELOG.md
  cpp/src/copying/copy_range.cuh
  cpp/tests/filling/filling_tests.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#2139 [REVIEW] matching to pandas describe behavior & fixing nan values issue
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer

#2129 [REVIEW] Adds fill, validityAsBooleanVector, replaceNulls, and isNull/isNotNull [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/java/ai/rapids/cudf/Cudf.java
  java/src/main/native/src/CudaJni.cpp
  java/src/main/native/src/CudfJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#2154 [REVIEW] CSV Reader: Fix bools misdetected as strings dtype
  CHANGELOG.md
  cpp/src/io/csv/csv_reader_impl.cu
  python/cudf/tests/test_csv.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuIO

#2131 [REVIEW] Chunk rows logic added to csv_writer
  CHANGELOG.md
  cpp/include/cudf/io_types.h
  cpp/src/io/csv/csv_writer.cu
  cpp/tests/io/csv/csv_test.cu
  python/cudf/bindings/csv.pxd
  python/cudf/bindings/csv.pyx
Labels: 3 - Ready for Review, cuIO

#2149 [REVIEW] CSV Reader: Add `hex` dtype for explicit hexadecimal parsing
  CHANGELOG.md
  cpp/src/io/csv/csv_reader_impl.cu
  cpp/src/io/csv/csv_reader_impl.hpp
  cpp/src/io/csv/type_conversion.cuh
  cpp/src/io/utilities/parsing_utils.cuh
  python/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, cuIO

#2165 [REVIEW] made changes to get_dummies api for it to be available in MethodCache
  CHANGELOG.md
  python/cudf/dataframe/dataframe.py
  python/cudf/reshape/general.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2109 [REVIEW] added name to Python column classes
  CHANGELOG.md
  python/cudf/dataframe/column.py
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/datetime.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
  python/cudf/dataframe/string.py
  python/cudf/tests/test_binops.py
  python/cudf/tests/test_dataframe.py
  python/cudf/tests/test_datetime.py
  python/cudf/tests/test_index.py
  python/cudf/tests/test_string.py
  python/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2178 Fix rolling mean() bug
  CHANGELOG.md
  python/cudf/bindings/rolling.pyx
Labels: 5 - Ready to Merge, Cython

#2171 [REVIEW] Add CodeCov integration
  CHANGELOG.md
  ci/gpu/build.sh
  cpp/doxygen/Doxyfile
Labels: 3 - Ready for Review, feature request

#2175 Remove old libcudf groupby implementation
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/functions.h
  cpp/src/groupby/aggregation_operations.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/groupby_compute_api.h
  cpp/src/groupby/groupby_without_aggregation.cu
  cpp/src/groupby/hash_groupby.cuh
  cpp/src/groupby/hash_groupby_kernels.cuh
  cpp/src/groupby/new_groupby.cu
  cpp/src/groupby/new_groupby.hpp
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/groupby_test.cu
  cpp/tests/hash_map/map_test.cu
  cpp/tests/nvcategory/nvcategory_test.cu
Labels: 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#2180 [REVIEW] Fix improper import ordering from isort with pytest.importorskip
  CHANGELOG.md
  python/cudf/cudf/tests/test_dask.py
  python/cudf/cudf/tests/test_serialize.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#2158 [REVIEW] CSV Reader: Support single, non-list/dict argument for `dtype`
  .gitignore
  CHANGELOG.md
  cpp/src/io/csv/csv_reader_impl.cu
  python/cudf/cudf/bindings/csv.pyx
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuIO

#2088 Refactor of Python-side groupby code
  CHANGELOG.md
  python/cudf/cudf/bindings/groupby/groupby.pyx
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/index.py
  python/cudf/cudf/dataframe/multiindex.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python), tech debt

#2186 Add getitem and getattr methods to Rolling
  CHANGELOG.md
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/window/rolling.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2187 [REVIEW] fix to honor dtype when numpy arrays are passed to columnops.as_column
  CHANGELOG.md
  python/cudf/cudf/dataframe/columnops.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2168 [REVIEW] Categorical cudf.Column categories
  .gitignore
  CHANGELOG.md
  python/cudf/cudf/bindings/copying.pyx
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/dataframe/column.py
  python/cudf/cudf/dataframe/columnops.py
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/index.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/dataframe/string.py
  python/cudf/cudf/reshape/general.py
  python/cudf/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2190 [REVIEW] Fix issue in astype conversion of string column to 'str'
  CHANGELOG.md
  python/cudf/cudf/dataframe/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 3 - Ready for Review, cuDF (Python)

#2146 [REVIEW] Unary op validity fix for java
  CHANGELOG.md
  java/src/main/native/src/CudfJni.cpp
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer

#2127 [REVIEW] Add in java Scalar tests
  CHANGELOG.md
  java/src/test/java/ai/rapids/cudf/ScalarTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#2103 Move old `column` and `bitmask` files to `legacy/` folder
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/cudf.h
  cpp/include/cudf/functions.h
  cpp/include/cudf/legacy/bitmask.hpp
  cpp/include/cudf/legacy/column.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/bitmask/legacy/BitMask.cuh
  cpp/src/bitmask/legacy/bit_mask.cuh
  cpp/src/bitmask/legacy/bitmask_ops.cu
  cpp/src/bitmask/legacy/bitmask_ops.hpp
  cpp/src/bitmask/legacy/legacy_bitmask.cpp
  cpp/src/bitmask/legacy/legacy_bitmask.hpp
  cpp/src/column/legacy/column.cpp
  cpp/src/column/legacy/context.cpp
  cpp/src/copying/copy_range.cuh
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/copying/slice.cu
  cpp/src/gis/point_in_polygon.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/iterator/iterator.cuh
  cpp/src/reductions/reductions.cu
  cpp/src/reductions/scan.cu
  cpp/src/replace/replace.cu
  cpp/src/rolling/rolling.cu
  cpp/src/stream_compaction/copy_if.cuh
  cpp/src/table/device_table.cuh
  cpp/src/table/table.cpp
  cpp/src/transpose/transpose.cu
  cpp/src/unary/unary_ops.cuh
  cpp/src/utilities/cudf_utils.h
  cpp/tests/CMakeLists.txt
  cpp/tests/bitmask/legacy/bit_mask_test.cu
  cpp/tests/bitmask/legacy/bitmask_ops_test.cu
  cpp/tests/column/legacy/column_test.cu
  cpp/tests/copying/slice_tests.cu
  cpp/tests/copying/split_tests.cu
  cpp/tests/device_table/device_table_tests.cu
  cpp/tests/groupby/groupby_test_helpers.cuh
  cpp/tests/groupby/without_agg/groupby_wo_agg_test.cu
  cpp/tests/nvcategory/nvcategory_test.cu
  cpp/tests/orderby/orderby_tests.cu
  cpp/tests/replace/replace_tests.cu
  cpp/tests/utilities/cudf_test_utils.cuh
  cpp/tests/utilities/nvcategory_utils.cu
  cpp/tests/utilities/valid_vectors.h
  python/cudf/cudf/bindings/cudf_cpp.pxd
  python/cudf/setup.py
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#2184 [dask-cudf] Remote ORC
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
Labels: 5 - Ready to Merge, dask

#2161 Fix handling of unsigned integer types in binops
  CHANGELOG.md
  python/cudf/cudf/bindings/cudf_cpp.pxd
  python/cudf/cudf/bindings/cudf_cpp.pyx
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/dataframe/column.py
  python/cudf/cudf/dataframe/columnops.py
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/index.py
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/dataframe/string.py
  python/cudf/cudf/reshape/general.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/utils.py
  python/cudf/setup.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#2177 [REVIEW] CSV Reader: Add `parse_dates` parameter for explicit date inference
  CHANGELOG.md
  cpp/include/cudf/io_readers.hpp
  cpp/src/io/csv/csv_reader_impl.cu
  cpp/src/io/csv/type_conversion.cuh
  cpp/src/io/utilities/parsing_utils.cuh
  python/cudf/cudf/bindings/csv.pxd
  python/cudf/cudf/bindings/csv.pyx
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/utils/ioutils.py
Labels: 3 - Ready for Review, cuIO

#2197 [REVIEW] Expose chunksize as param to_csv
  CHANGELOG.md
  python/cudf/cudf/bindings/csv.pyx
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/utils/ioutils.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer

#2193 Added documentation for specializing type dispatched functors
  CHANGELOG.md
  cpp/src/utilities/type_dispatcher.hpp
Labels: doc, libcudf (C++/CUDA)

#2208 [REVIEW] Fix one row dataframe head call
  CHANGELOG.md
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/indexing.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2209 [REVIEW] Matching get_dummies & select_dtypes behavior to pandas
  CHANGELOG.md
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/reshape/general.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_onehot.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2130 [REVIEW] Support for serialization and deserialization of tables using java API.
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/DeviceMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/main/java/ai/rapids/cudf/MemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/MemoryCleaner.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ByteColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/DoubleColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/FloatColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/HostMemoryBufferTest.java
  java/src/test/java/ai/rapids/cudf/IntColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/LongColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ShortColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#2157 [REVIEW] Add __array_function__ to DataFrame and Series
  CHANGELOG.md
  ci/gpu/build.sh
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/utils/utils.py
Labels: 3 - Ready for Review, 4 - Waiting on Author, cuDF (Python)

#2214 Doc fixes for install instructions
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  python/cudf/cudf/utils/ioutils.py
Labels: doc

#1993 [REVIEW] iterator driven reduction, mean, var, std
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/reduction.hpp
  cpp/src/reductions/compound.cuh
  cpp/src/reductions/max.cu
  cpp/src/reductions/mean.cu
  cpp/src/reductions/min.cu
  cpp/src/reductions/product.cu
  cpp/src/reductions/reduction.cuh
  cpp/src/reductions/reduction_functions.cuh
  cpp/src/reductions/reduction_operators.cuh
  cpp/src/reductions/reductions.cu
  cpp/src/reductions/simple.cuh
  cpp/src/reductions/std.cu
  cpp/src/reductions/sum.cu
  cpp/src/reductions/sum_of_squares.cu
  cpp/src/reductions/var.cu
  cpp/tests/iterator/iterator_bench.cu
  cpp/tests/iterator/iterator_test.cu
  cpp/tests/reductions/reduction_tests.cu
  python/cudf/cudf/bindings/reduce.pxd
  python/cudf/cudf/bindings/reduce.pyx
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/dataframe/series.py
Labels: 2 - In Progress, libcudf (C++/CUDA)

#2179 [Review] Support for Quantiles
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/QuantileMethod.java
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/CudfJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#2220 Update Java bindings for reduction rename
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/Cudf.java
  java/src/main/native/src/CudfJni.cpp
  java/src/test/java/ai/rapids/cudf/ReductionTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#2217 [Review]Use the new aggregates API
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Aggregate.java
  java/src/main/java/ai/rapids/cudf/AggregateOp.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#2176 [REVIEW] Added column dtype support for datetime, int8, int16 to csv_writer
  CHANGELOG.md
  cpp/src/io/csv/csv_writer.cu
  cpp/tests/io/csv/csv_test.cu
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, cuIO

#2224 [REVIEW] implement isna, isnull, notna as dataframe functions
  CHANGELOG.md
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2212 [REVIEW] Support for ORC reader
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ORCOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/resources/TestOrcFile.orc
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#2234 [REVIEW] Fix Local Build Script
  CHANGELOG.md
  ci/gpu/build.sh
  ci/local/build.sh
Labels: 5 - Ready to Merge, gpuCI

#2229 [REVIEW] Propagate exceptions from Cython cdef functions
  CHANGELOG.md
  python/cudf/cudf/bindings/cudf_cpp.pxd
  python/cudf/cudf/bindings/cudf_cpp.pyx
  python/cudf/cudf/bindings/utils.pxd
  python/cudf/cudf/bindings/utils.pyx
Labels: 5 - Ready to Merge, Cython

#2223 [REVIEW] Fix zero grid launch in small compressed ORC files
  CHANGELOG.md
  cpp/src/io/orc/orc_reader_impl.cu
  python/cudf/cudf/tests/data/orc/uncompressed_snappy.orc
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, cuIO

#2236 [REVIEW] Implement drop_duplicates for Series
  CHANGELOG.md
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/index.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/tests/test_duplicates.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#2162 [REVIEW] Setting correct is_unique and is_monotonic index attributes
  CHANGELOG.md
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/dataframe/column.py
  python/cudf/cudf/dataframe/datetime.py
  python/cudf/cudf/dataframe/index.py
  python/cudf/cudf/dataframe/multiindex.py
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/dataframe/string.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_monotonic.py
  python/cudf/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2225 [REVIEW] refactor to use libcudf for gathering columns in dataframes
  CHANGELOG.md
  python/cudf/cudf/dataframe/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2244 [REVIEW] Fix length of RLEv2 delta sequence with nonzero delta residual width
  CHANGELOG.md
  cpp/src/io/orc/stripe_data.cu
Labels: 3 - Ready for Review, cuIO

#2199 [REVIEW] Updated API to better support appending strings when building a column vector
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/DoubleColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/FloatColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/LongColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ShortColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer

#2300 [REVIEW] Add dask codeowners [skip ci]
  .github/CODEOWNERS
  CHANGELOG.md
Labels: dask, git

#2302 [REVIEW] Fixed java serialization corner case.
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer

#2297 [REVIEW] make `var/std` unsupported only at debug build
  CHANGELOG.md
  cpp/src/reductions/std.cu
  cpp/src/reductions/var.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#2215 `type_dispatcher` benchmark
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/synchronization/synchronization.cpp
  cpp/benchmarks/synchronization/synchronization.hpp
  cpp/benchmarks/type_dispatcher/type_dispatcher_benchmark.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Performance, libcudf (C++/CUDA)

#2105 [REVIEW] Add google benchmark for hash-based join
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/join/generate_input_tables.cuh
  cpp/benchmarks/join/join_benchmark.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#2309 Readers: Remove copying of result pointers to gdf_column
  CHANGELOG.md
  java/src/main/native/src/TableJni.cpp
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#2311 Fix copy behaviour for GenericIndex
  CHANGELOG.md
  python/cudf/cudf/dataframe/index.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2316 [REVIEW] Implement unique, nunique, and value_counts for datetime columns via refactor
  CHANGELOG.md
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/dataframe/column.py
  python/cudf/cudf/dataframe/datetime.py
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2293 [REVIEW] Improve compute_join_output_size performance
  CHANGELOG.md
  cpp/src/join/join_compute_api.h
  cpp/src/join/join_kernels.cuh
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#2328 [REVIEW] Ensure order is preserved in CategoricalAccessor._set_categories
  CHANGELOG.md
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/tests/test_categorical.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2323 Fix erroneous conversion of groupby result to categorical
  CHANGELOG.md
  python/cudf/cudf/bindings/groupby/groupby.pyx
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2326 Fix for bug in DLPack read multiple columns
  CHANGELOG.md
  cpp/src/io/convert/dlpack/cudf_dlpack.cpp
  cpp/tests/io/convert/dlpack_test.cu
  python/cudf/cudf/tests/test_dlpack.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf (C++/CUDA)

#2324 [REVIEW] Fix cudf Docker build [skip ci]
  CHANGELOG.md
  Dockerfile
Labels: 5 - Ready to Merge, container

#2235 [REVIEW] Fix get_dummies to be compatible with dask
  CHANGELOG.md
  python/cudf/cudf/reshape/general.py
  python/cudf/cudf/tests/test_onehot.py
  python/dask_cudf/dask_cudf/tests/test_onehot.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#2049 [REVIEW] sorted_merge functionality
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/merge.hpp
  cpp/src/copying/slice.cu
  cpp/src/merge/merge.cu
  cpp/src/table/device_table_row_operators.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/merge/merge-test.cu
  cpp/tests/utilities/column_wrapper_factory.hpp
  cpp/tests/utilities/cudf_test_utils.cuh
  cpp/tests/utilities/nvcategory_utils.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#2325 [REVIEW] ORC Reader: Fix patched base RLEv2 value with nonzero patch width
  CHANGELOG.md
  cpp/src/io/orc/stripe_data.cu
Labels: 3 - Ready for Review, cuIO

#2307 [REVIEW] Add isort, black, and cython flake8 to the style checker, fix existing style issues
  .pre-commit-config.yaml
  CHANGELOG.md
  ci/checks/style.sh
  python/cudf/.flake8.cython
  python/cudf/cudf/bindings/binops.pxd
  python/cudf/cudf/bindings/binops.pyx
  python/cudf/cudf/bindings/concat.pxd
  python/cudf/cudf/bindings/copying.pxd
  python/cudf/cudf/bindings/copying.pyx
  python/cudf/cudf/bindings/csv.pxd
  python/cudf/cudf/bindings/csv.pyx
  python/cudf/cudf/bindings/cudf_cpp.pxd
  python/cudf/cudf/bindings/cudf_cpp.pyx
  python/cudf/cudf/bindings/dlpack.pyx
  python/cudf/cudf/bindings/gpuarrow.pxd
  python/cudf/cudf/bindings/gpuarrow.pyx
  python/cudf/cudf/bindings/groupby/hash.pxd
  python/cudf/cudf/bindings/hash.pyx
  python/cudf/cudf/bindings/join.pyx
  python/cudf/cudf/bindings/json.pxd
  python/cudf/cudf/bindings/json.pyx
  python/cudf/cudf/bindings/nvtx.pyx
  python/cudf/cudf/bindings/quantile.pyx
  python/cudf/cudf/bindings/reduce.pxd
  python/cudf/cudf/bindings/reduce.pyx
  python/cudf/cudf/bindings/replace.pxd
  python/cudf/cudf/bindings/replace.pyx
  python/cudf/cudf/bindings/rolling.pxd
  python/cudf/cudf/bindings/rolling.pyx
  python/cudf/cudf/bindings/sort.pyx
  python/cudf/cudf/bindings/stream_compaction.pxd
  python/cudf/cudf/bindings/stream_compaction.pyx
  python/cudf/cudf/bindings/transpose.pxd
  python/cudf/cudf/bindings/transpose.pyx
  python/cudf/cudf/bindings/typecast.pyx
  python/cudf/cudf/bindings/types.pxd
  python/cudf/cudf/bindings/unaryops.pxd
  python/cudf/cudf/bindings/unaryops.pyx
  python/cudf/cudf/bindings/utils.pxd
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/dataframe/column.py
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/datetime.py
  python/cudf/cudf/dataframe/multiindex.py
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/dataframe/string.py
  python/cudf/cudf/reshape/general.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_monotonic.py
  python/cudf/cudf/tests/test_onehot.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/utils/cudautils.py
  python/dask_cudf/dask_cudf/tests/test_onehot.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), gpuCI

#2304 [REVIEW] gdf_group_by_without_aggregations returns gdf_column close #2239
  CHANGELOG.md
  cpp/include/cudf/groupby.hpp
  cpp/src/groupby/new_groupby.cu
  cpp/tests/groupby/without_agg/groupby_wo_agg_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#2332 [REVIEW] Zero initialize gdf dtype extra info
  CHANGELOG.md
  cpp/src/groupby/hash_groupby.cuh
  cpp/src/table/table.cpp
  cpp/tests/groupby/groupby_test.cu
  cpp/tests/join/join_tests.cu
  cpp/tests/orderby/orderby_tests.cu
  cpp/tests/utilities/column_wrapper.cuh
  cpp/tests/utilities/cudf_test_utils.cu
  cpp/tests/utilities/cudf_test_utils.cuh
Labels: 3 - Ready for Review, 4 - Waiting on Author, libcudf (C++/CUDA)

#2345 Restoring the removal of old groupby implementation
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/functions.h
  cpp/src/groupby/aggregation_operations.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/groupby_compute_api.h
  cpp/src/groupby/groupby_without_aggregation.cu
  cpp/src/groupby/hash_groupby.cuh
  cpp/src/groupby/hash_groupby_kernels.cuh
  cpp/src/groupby/new_groupby.cu
  cpp/src/groupby/new_groupby.hpp
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/groupby_test.cu
  cpp/tests/hash_map/map_test.cu
  cpp/tests/nvcategory/nvcategory_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#2329 [REVIEW] using libcudf cudf::copy for column deep copy
  CHANGELOG.md
  cpp/src/copying/copy.cpp
  python/cudf/cudf/bindings/copying.pxd
  python/cudf/cudf/bindings/copying.pyx
  python/cudf/cudf/bindings/cudf_cpp.pyx
  python/cudf/cudf/bindings/transpose.pyx
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/dataframe/column.py
  python/cudf/cudf/dataframe/columnops.py
  python/cudf/cudf/dataframe/index.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#2344 [REVIEW] Add docs for new code formatters for contributors [skip ci]
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CONTRIBUTING.md
Labels: 3 - Ready for Review, cuDF (Python), doc

#2355 Handle float16 in normalize_binop_value
  CHANGELOG.md
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/tests/test_binops.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2377 Just use `slice.indices()` to get slice start/stop/step
  CHANGELOG.md
  python/cudf/cudf/dataframe/index.py
  python/cudf/cudf/dataframe/multiindex.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2364 [REVIEW] Fix quantile api and other trivial issues around it
  CHANGELOG.md
  python/cudf/cudf/dataframe/column.py
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2360 [REVIEW] Fix missing dtype handling in cudf.Series & columnops.as_column
  CHANGELOG.md
  python/cudf/cudf/dataframe/columnops.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2361 [REVIEW] Fixed issue with `codes` of CategoricalIndex
  CHANGELOG.md
  python/cudf/cudf/dataframe/index.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2349 Open up some java APIs for appending Strings, and fix some minor stiring issues
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer

#2357 [REVIEW] Fixed inconsistent type of index created with from_pandas vs direct construction
  CHANGELOG.md
  python/cudf/cudf/dataframe/index.py
  python/cudf/cudf/indexing.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2356 [REVIEW] Java standard deviation reduction
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ReductionOp.java
  java/src/test/java/ai/rapids/cudf/ReductionTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#2389 Fix handling of window arg after Rolling.__getattr__/__getitem__
  CHANGELOG.md
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/window/rolling.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2337 [REVIEW] Slice a column into multiple vectors
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#2202 Unaryops allow empty input and API refactor
  CHANGELOG.md
  cpp/include/cudf/functions.h
  cpp/include/cudf/legacy/column.hpp
  cpp/include/cudf/types.h
  cpp/include/cudf/unary.hpp
  cpp/src/column/legacy/column.cpp
  cpp/src/copying/copy.cpp
  cpp/src/unary/cast_ops.cu
  cpp/src/unary/math_ops.cu
  cpp/src/unary/unary_ops.cuh
  cpp/tests/unary/unary_ops_test.cu
  python/cudf/cudf/bindings/cudf_cpp.pxd
  python/cudf/cudf/bindings/typecast.pyx
  python/cudf/cudf/bindings/unaryops.pxd
  python/cudf/cudf/bindings/unaryops.pyx
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/dataframe/series.py
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#2401 [REVIEW] Fix to a scalar datetime(of type Days) issue
  CHANGELOG.md
  python/cudf/cudf/bindings/unaryops.pxd
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2353 [REVIEW] Upgrade arrow to 0.14.1 and Dask to >=2.1.0
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
  cpp/include/cudf/functions.h
  cpp/include/cudf/ipc.hpp
  cpp/include/cudf/types.h
  cpp/src/comms/ipc/ipc.cpp
  cpp/src/comms/ipc/ipc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet.cpp
  cpp/tests/CMakeLists.txt
  python/cudf/cudf/bindings/arrow/__init__.py
  python/cudf/cudf/bindings/arrow/_cuda.pxd
  python/cudf/cudf/bindings/arrow/_cuda.pyx
  python/cudf/cudf/bindings/arrow/libarrow_cuda.pxd
  python/cudf/cudf/bindings/cudf_cpp.pxd
  python/cudf/cudf/bindings/dlpack.pxd
  python/cudf/cudf/bindings/dlpack.pyx
  python/cudf/cudf/bindings/gpuarrow.pxd
  python/cudf/cudf/bindings/gpuarrow.pyx
  python/cudf/cudf/comm/gpuarrow.py
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_gpu_arrow_parser.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/setup.py
Labels: 5 - Ready to Merge, CMake, conda

#2406 [REVIEW] Move existing `table` files to legacy/ directory
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/copying/gather_benchmark.cpp
  cpp/benchmarks/type_dispatcher/type_dispatcher_benchmark.cu
  cpp/include/cudf/io_functions.hpp
  cpp/include/cudf/io_readers.hpp
  cpp/include/cudf/legacy/table.hpp
  cpp/src/bitmask/legacy/bitmask_ops.cu
  cpp/src/copying/copy.cpp
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/groupby/groupby_without_aggregation.cu
  cpp/src/groupby/hash/aggregation_requests.cpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/hash/hashing.cu
  cpp/src/io/csv/csv_reader_impl.hpp
  cpp/src/io/io_functions.cpp
  cpp/src/io/json/json_reader_impl.hpp
  cpp/src/io/orc/orc_reader_impl.hpp
  cpp/src/io/parquet/parquet_reader_impl.hpp
  cpp/src/join/join_compute_api.h
  cpp/src/join/join_kernels.cuh
  cpp/src/join/joining.h
  cpp/src/merge/merge.cu
  cpp/src/orderby/orderby.cu
  cpp/src/stream_compaction/stream_compaction.cu
  cpp/src/string/nvcategory_util.cpp
  cpp/src/table/legacy/device_table.cuh
  cpp/src/table/legacy/device_table_row_operators.cuh
  cpp/src/table/legacy/table.cpp
  cpp/tests/bitmask/legacy/bitmask_ops_test.cu
  cpp/tests/copying/copy_tests.cu
  cpp/tests/copying/gather_tests.cu
  cpp/tests/copying/scatter_tests.cu
  cpp/tests/device_table/device_table_tests.cu
  cpp/tests/groupby/hash/single_column_avg.cu
  cpp/tests/groupby/hash/single_column_count.cu
  cpp/tests/groupby/hash/single_column_groupby_test.cuh
  cpp/tests/groupby/hash/single_column_max.cu
  cpp/tests/groupby/hash/single_column_min.cu
  cpp/tests/groupby/hash/single_column_sum.cu
  cpp/tests/groupby/without_agg/groupby_wo_agg_test.cu
  cpp/tests/hashing/hash_partition_test.cu
  cpp/tests/merge/merge-test.cu
  cpp/tests/stream_compaction/drop_duplicates_tests.cu
  cpp/tests/table/table_tests.cu
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/bindings/cudf_cpp.pxd
  python/cudf/cudf/bindings/types.pxd
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#2373 [REVIEW] cudf.DataFrame enchancements & Series.values support
  CHANGELOG.md
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/multi.py
  python/cudf/cudf/tests/test_dataframe.py
  python/dask_cudf/dask_cudf/backends.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2386 [REVIEW] Correctly allocate output valids in groupby
  CHANGELOG.md
  cpp/src/groupby/hash/groupby.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#2342 [REVIEW] All-way `astype()`
  CHANGELOG.md
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/dataframe/columnops.py
  python/cudf/cudf/dataframe/datetime.py
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/dataframe/string.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2415 [REVIEW] Revamp `value_counts` to use groupby count series of any type
  CHANGELOG.md
  python/cudf/cudf/dataframe/categorical.py
  python/cudf/cudf/dataframe/datetime.py
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/dataframe/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2411 [REVIEW] Fixed failures on binary op on single element string column
  CHANGELOG.md
  python/cudf/cudf/dataframe/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2420 [REVIEW] Remove `cudautils.astype` and replace with `typecast.apply_cast`
  CHANGELOG.md
  python/cudf/cudf/bindings/copying.pyx
  python/cudf/cudf/bindings/sort.pyx
  python/cudf/cudf/bindings/typecast.pyx
  python/cudf/cudf/dataframe/buffer.py
  python/cudf/cudf/dataframe/datetime.py
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/dataframe/string.py
  python/cudf/cudf/groupby/legacy_groupby.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2350 [REVIEW] Performance related changes to get_dummies
  CHANGELOG.md
  python/cudf/cudf/dataframe/dataframe.py
  python/cudf/cudf/dataframe/series.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2422 [FIX] logical binary operator compatibility w/pandas
  CHANGELOG.md
  python/cudf/cudf/dataframe/numerical.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/utils.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer

#2402 Fix copy_if bug where some valid bits are not stored
  CHANGELOG.md
  cpp/src/stream_compaction/copy_if.cuh
  cpp/tests/stream_compaction/stream_compaction_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, tests

#2380 [REVIEW] Adding is_sorted to check whether cudf::table is sorted or not
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/predicates.hpp
  cpp/src/predicates/is_sorted.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/orderby/is_sorted/is_sorted_tests.cu
  python/cudf/cudf/bindings/issorted.pxd
  python/cudf/cudf/bindings/issorted.pyx
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#2097 [REVIEW] GPU-accelerated AVRO reader
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/cudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/io_functions.hpp
  cpp/include/cudf/io_readers.hpp
  cpp/include/cudf/io_types.hpp
  cpp/src/io/avro/avro.cpp
  cpp/src/io/avro/avro.h
  cpp/src/io/avro/avro_common.h
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/avro_gpu.h
  cpp/src/io/avro/avro_reader_impl.cu
  cpp/src/io/avro/avro_reader_impl.hpp
  cpp/src/io/io_functions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/avro/avro_test.cpp
  python/cudf/cudf/__init__.py
  python/cudf/cudf/bindings/avro.pxd
  python/cudf/cudf/bindings/avro.pyx
  python/cudf/cudf/io/__init__.py
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/tests/data/avro/example.avro
  python/cudf/cudf/tests/test_avro.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuIO

#2437 [REVIEW] Add use_np_dtypes to orc reader options
  CHANGELOG.md
  cpp/include/cudf/io_readers.hpp
  cpp/include/cudf/io_types.hpp
  cpp/src/io/io_functions.cpp
  cpp/src/io/orc/orc_reader_impl.cu
  cpp/src/io/orc/orc_reader_impl.hpp
Labels: 3 - Ready for Review, cuIO

#2429 Get lengths for Strings in a ColumnVector
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)
