Repository rapidsai/cudf, pull requests merged in 2020-03, with the labels that each got.

#4262 [REVIEW] unary.pyx: cython bindings
  CHANGELOG.md
  cpp/include/cudf/unary.hpp
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/cpp/transform.pxd
  python/cudf/cudf/_libxx/cpp/unary.pxd
  python/cudf/cudf/_libxx/transform.pyx
  python/cudf/cudf/_libxx/unary.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Cython, cuDF (Python), libcudf++

#4287 [REVIEW] Parquet reader: fix empty string potentially read as null
  CHANGELOG.md
  cpp/src/io/parquet/page_data.cu
Labels: 3 - Ready for Review, cuIO

#4274 [REVIEW] Support negative position values for slice_strings
  CHANGELOG.md
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.inl
  cpp/include/cudf/strings/substring.hpp
  cpp/src/strings/substring.cu
  cpp/tests/strings/substring_tests.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4297 [REVIEW] Fix specification of package_data in setup.py
  CHANGELOG.md
  python/cudf/cudf/_lib/includes/__init__.py
  python/cudf/cudf/_lib/includes/groupby/__init__.py
  python/cudf/setup.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4305 [REVIEW] Move gpuarrow.pyx and related libarrow_cuda files into _libxx
  CHANGELOG.md
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/arrow/__init__.py
  python/cudf/cudf/_libxx/arrow/_cuda.pxd
  python/cudf/cudf/_libxx/arrow/_cuda.pyx
  python/cudf/cudf/_libxx/cpp/arrow/__init__.pxd
  python/cudf/cudf/_libxx/cpp/arrow/__init__.py
  python/cudf/cudf/_libxx/cpp/arrow/libarrow_cuda.pxd
  python/cudf/cudf/_libxx/cpp/gpuarrow.pxd
  python/cudf/cudf/_libxx/gpuarrow.pyx
  python/cudf/cudf/_libxx/move.pxd
  python/cudf/cudf/comm/gpuarrow.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++

#4063 [REVIEW] Define and implement new string capitalize and title API
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/capitalize.hpp
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cu
Labels: 3 - Ready for Review, libcudf++, strings

#4129 [FEA] add reshape functions interleave_columns and tile to libcudf++ cython
  CHANGELOG.md
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/cpp/reshape.pxd
  python/cudf/cudf/_libxx/reshape.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_reshape.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf++

#4306 [REVIEW] Port casting to new libcudf APIs
  CHANGELOG.md
  python/cudf/cudf/_libxx/unary.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++

#4302 [REVIEW] Update _is_local_filesystem logic
  CHANGELOG.md
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4275 [REVIEW] Fix for nullable values, non-nullable search space in upper bound
  CHANGELOG.md
  cpp/src/search/search.cu
  cpp/tests/dictionary/encode_test.cpp
  cpp/tests/search/search_test.cpp
Labels: 0 - Blocked

#4303 [REVIEW] Parquet reader: allow returning empty columns
  CHANGELOG.md
  cpp/src/io/parquet/reader_impl.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, cuIO, libcudf++

#4244 [REVIEW] Port nvstrings Substring Gather/Scatter functions to cuDF Python/Cython
  CHANGELOG.md
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/scalar.pxd
  python/cudf/cudf/_libxx/strings/__init__.pxd
  python/cudf/cudf/_libxx/strings/replace.pxd
  python/cudf/cudf/_libxx/strings/replace.pyx
  python/cudf/cudf/_libxx/strings/substring.pxd
  python/cudf/cudf/_libxx/strings/substring.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), strings

#4295 [REVIEW] Port reduce.pyx to libcudf++ API
  CHANGELOG.md
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/aggregation.pyx
  python/cudf/cudf/_libxx/cpp/reduce.pxd
  python/cudf/cudf/_libxx/reduce.pyx
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#4298 [REVIEW] Port orc.pyx to libcudf++ APIs
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/table/table.cpp
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/avro.pyx
  python/cudf/cudf/_libxx/cpp/io/functions.pxd
  python/cudf/cudf/_libxx/io/utils.pxd
  python/cudf/cudf/_libxx/io/utils.pyx
  python/cudf/cudf/_libxx/json.pyx
  python/cudf/cudf/_libxx/orc.pyx
  python/cudf/cudf/_libxx/types.pxd
  python/cudf/cudf/io/orc.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), cuIO, libcudf++

#4115 [REVIEW] Serialize an empty column table with non zero rows [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: Spark, cuDF (Java)

#4291 Add RmmEventHandler to allow Java callbacks for RMM memory events [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/RmmEventHandler.java
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/CudfJni.cpp
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#4253 [REVIEW] Fix dictionary functions decode and set_keys to handle offsets correctly
  CHANGELOG.md
  cpp/src/dictionary/decode.cu
  cpp/src/dictionary/set_keys.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/dictionary/slice_test.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4321 [REVIEW] Expose python Semi/Anti join
  CHANGELOG.md
  python/cudf/cudf/_libxx/cpp/join.pxd
  python/cudf/cudf/_libxx/join.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_joining.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#4327 [REVIEW] Preemptive fix for expected dask.dataframe dispatch changes
  CHANGELOG.md
  python/dask_cudf/dask_cudf/backends.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4166 [REVIEW] Port Cython (libxx) issorted
  CHANGELOG.md
  cpp/src/sort/is_sorted.cu
  python/cudf/cudf/_libxx/cpp/sorting.pxd
  python/cudf/cudf/_libxx/sort.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++

#4299 [REVIEW] libcudf shift: convert to column-based api
  CHANGELOG.md
  cpp/benchmarks/copying/shift_benchmark.cu
  cpp/include/cudf/copying.hpp
  cpp/src/copying/shift.cu
  cpp/tests/copying/shift_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#4220 [REVIEW] Port strings wrap functionality.
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/wrap.hpp
  cpp/src/strings/wrap.cu
  cpp/tests/strings/pad_tests.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), libcudf++, strings

#4315 [REVIEW] Add ShiftLeft (<<), ShiftRight (>>) and ShiftRightUnsigned (>>>) binops.
  CHANGELOG.md
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/jit/code/operation.cpp
  cpp/src/binaryop/jit/util.hpp
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/binaryop/util/operation.h
Labels: 3 - Ready for Review, Spark, libcudf (C++/CUDA)

#4336 [REVIEW] Move a bunch of internal nvstrings code to use native StringColumns
  CHANGELOG.md
  python/cudf/cudf/core/_sort.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf++

#4345 [REVIEW] Removed bogus backwards include in cuIO code.
  CHANGELOG.md
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/parquet.h
Labels: 3 - Ready for Review, cuIO, libcudf (C++/CUDA)

#4339 [REVIEW] Port libcudf strings wrap api to cython/python
  CHANGELOG.md
  python/cudf/cudf/_libxx/cpp/strings/wrap.pxd
  python/cudf/cudf/_libxx/strings/wrap.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++, strings

#4362 [REVIEW] Move pq_chunked_state into it's own header file to match orc.
  CHANGELOG.md
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/chunked_state.hpp
  cpp/src/io/parquet/parquet.h
  cpp/src/io/parquet/writer_impl.hpp
Labels: 3 - Ready for Review, cuIO

#4328 Add memory threshold callbacks for Java RMM event handler [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/RmmEventHandler.java
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/CudfJni.cpp
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#4324 [REVIEW] Fix slice_strings for out-of-range start position value
  CHANGELOG.md
  cpp/src/strings/substring.cu
  cpp/tests/strings/substring_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#4301 [REVIEW] chunked write support for ORC writer
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/chunked_state.hpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/orc_test.cu
Labels: 3 - Ready for Review, cuIO, libcudf (C++/CUDA)

#4369 [REVIEW] Fix race condition in gpuinflate
  CHANGELOG.md
  cpp/src/io/comp/gpuinflate.cu
Labels: 3 - Ready for Review, cuIO, libcudf (C++/CUDA)

#4358 [REVIEW] Fix strings::concat when narep parameter is an empty string
  CHANGELOG.md
  cpp/src/strings/combine.cu
  cpp/tests/strings/combine_tests.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), strings

#4272 [REVIEW] Stable sorted order
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/sorting.hpp
  cpp/src/sort/sort.cu
  cpp/src/sort/sort_impl.cuh
  cpp/src/sort/stable_sort.cu
  cpp/tests/sort/sort_test.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#4338 [REVIEW] Add cudf::sequence() for generating a column of incrementing values.
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/sequence.hpp
  cpp/include/cudf/filling.hpp
  cpp/src/filling/sequence.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/filling/sequence_tests.cpp
Labels: 3 - Ready for Review, Spark, libcudf (C++/CUDA)

#4288 [REVIEW] copying.pyx: cython bindings for cudf::shift
  CHANGELOG.md
  python/cudf/cudf/_libxx/copying.pyx
  python/cudf/cudf/_libxx/cpp/copying.pxd
  python/cudf/cudf/_libxx/cpp/libcpp/__init__.pxd
  python/cudf/cudf/_libxx/cpp/libcpp/functional.pxd
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++

#4333 [REVIEW] cudf::strings: Cython port for case handling
  CHANGELOG.md
  python/cudf/cudf/_libxx/cpp/strings/capitalize.pxd
  python/cudf/cudf/_libxx/cpp/strings/case.pxd
  python/cudf/cudf/_libxx/strings/capitalize.pyx
  python/cudf/cudf/_libxx/strings/case.pyx
  python/cudf/cudf/_libxx/strings/char_types.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
  python/nvstrings/tests/test_case.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++, strings

#4311 [REVIEW] Port nvstrings String Manipulations functions to cuDF Python/Cython
  CHANGELOG.md
  cpp/include/cudf/strings/padding.hpp
  cpp/src/strings/padding.cu
  cpp/tests/strings/pad_tests.cu
  python/cudf/cudf/_libxx/cpp/strings/char_types.pxd
  python/cudf/cudf/_libxx/cpp/strings/combine.pxd
  python/cudf/cudf/_libxx/cpp/strings/padding.pxd
  python/cudf/cudf/_libxx/cpp/strings/replace.pxd
  python/cudf/cudf/_libxx/cpp/strings/split/__init__.pxd
  python/cudf/cudf/_libxx/cpp/strings/split/partition.pxd
  python/cudf/cudf/_libxx/cpp/strings/split/split.pxd
  python/cudf/cudf/_libxx/cpp/strings/strip.pxd
  python/cudf/cudf/_libxx/cpp/strings/substring.pxd
  python/cudf/cudf/_libxx/strings/char_types.pyx
  python/cudf/cudf/_libxx/strings/combine.pyx
  python/cudf/cudf/_libxx/strings/padding.pxd
  python/cudf/cudf/_libxx/strings/padding.pyx
  python/cudf/cudf/_libxx/strings/replace.pyx
  python/cudf/cudf/_libxx/strings/split/__init__.pxd
  python/cudf/cudf/_libxx/strings/split/partition.pyx
  python/cudf/cudf/_libxx/strings/split/split.pyx
  python/cudf/cudf/_libxx/strings/strip.pyx
  python/cudf/cudf/_libxx/strings/substring.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++, strings

#4390 [REVIEW] Disable ScatterValid and ScatterNull legacy tests due to recent failures
  CHANGELOG.md
  cpp/tests/copying/legacy/scalar_scatter_tests.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), tests

#4386 Update Java package to 0.14-SNAPSHOT [skip ci]
  CHANGELOG.md
  java/pom.xml
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#4364 [REVIEW] Fix libcudf zfill strings logic
  CHANGELOG.md
  cpp/include/cudf/strings/padding.hpp
  cpp/src/strings/padding.cu
  cpp/tests/strings/pad_tests.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4381 Add Java support for copying buffers with asynchronous streams [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/BaseDeviceMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
  java/src/main/native/src/CudaJni.cpp
  java/src/test/java/ai/rapids/cudf/HostMemoryBufferTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#4319 [REVIEW] Add `repartition(columns=[...])` API to dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/batcher_sortnet.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4377 [REVIEW] Support loading avro files that contain nested arrays
  CHANGELOG.md
  cpp/src/io/avro/avro.cpp
  cpp/src/io/avro/avro_common.h
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/utilities/block_utils.cuh
Labels: 5 - Ready to Merge, cuIO, libcudf (C++/CUDA)

#4367 [REVIEW] Port copying.pyx to use new libcudf
  CHANGELOG.md
  python/cudf/cudf/_libxx/column.pyx
  python/cudf/cudf/_libxx/copying.pyx
  python/cudf/cudf/_libxx/cpp/copying.pxd
  python/cudf/cudf/_libxx/move.pxd
  python/cudf/cudf/_libxx/scalar.pyx
  python/cudf/cudf/_libxx/table.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++

#4406 [REVIEW] Fix sorted merge issue with null values and ascending=False
  CHANGELOG.md
  python/cudf/cudf/_libxx/merge.pyx
  python/cudf/cudf/tests/test_reshape.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#4412 Require Dask + Distributed 2.12.0+
  CHANGELOG.md
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/dask-cudf/meta.yaml
Labels: 5 - Ready to Merge, conda, cuDF (Python), dask

#4351 [REVIEW] Remove a bunch of internal usage of numba; set rmm as cupy allocator
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_libxx/rolling.pyx
  python/cudf/cudf/_libxx/transform.pyx
  python/cudf/cudf/comm/gpu_ipc_broker.py
  python/cudf/cudf/core/buffer.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_copying.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_pickling.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/cudf/utils/queryutils.py
  python/cudf/cudf/utils/utils.py
  python/dask_cudf/dask_cudf/core.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4399 [REVIEW] Make scalar destructor virtual.
  CHANGELOG.md
  cpp/include/cudf/scalar/scalar.hpp
Labels: 5 - Ready to Merge, bug, libcudf (C++/CUDA)

#4379 [REVIEW] Fix cuda-memcheck error in regex code
  CHANGELOG.md
  cpp/src/strings/regex/regexec.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4407 [REVIEW] Enable `.str.slice` & `.str.get` and `.str.zfill` unit-tests
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python), strings

#4402 [REVIEW] Fix join_strings logic with all-null strings and non-null narep
  CHANGELOG.md
  cpp/src/strings/combine.cu
  cpp/tests/strings/combine_tests.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#4352 [REVIEW] Add factory method make_column_from_scalar
  CHANGELOG.md
  cpp/include/cudf/column/column_factories.hpp
  cpp/include/cudf/detail/fill.hpp
  cpp/src/column/column_factories.cpp
  cpp/tests/column/factories_test.cpp
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4423 Tighten up Dask serialization checks
  CHANGELOG.md
  python/cudf/cudf/comm/serialize.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4236 [REVIEW] Use cudf to_parquet in dask_cudf
  CHANGELOG.md
  python/cudf/cudf/io/__init__.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 3 - Ready for Review, cuDF (Python), dask

#4304 [REVIEW] Add new NVTX ranges infrastructure
  CHANGELOG.md
  cpp/include/cudf/detail/nvtx/nvtx3.hpp
  cpp/include/cudf/detail/nvtx/ranges.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/column/column.cu
  cpp/src/column/column_factories.cpp
  cpp/src/copying/contiguous_split.cu
  cpp/src/copying/copy.cpp
  cpp/src/copying/copy.cu
  cpp/src/copying/copy_range.cu
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/copying/shift.cu
  cpp/src/copying/slice.cpp
  cpp/src/copying/split.cpp
  cpp/src/datetime/datetime_ops.cu
  cpp/src/filling/fill.cu
  cpp/src/filling/repeat.cu
  cpp/src/groupby/groupby.cu
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/concurrent_unordered_multimap.cuh
  cpp/src/hash/hashing.cu
  cpp/src/join/join.cu
  cpp/src/join/semi_join.cu
  cpp/src/merge/merge.cu
  cpp/src/quantiles/quantile.cu
  cpp/src/quantiles/quantiles.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/scan.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/replace.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/reshape/tile.cu
  cpp/src/rolling/rolling.cu
  cpp/src/round_robin/round_robin.cu
  cpp/src/search/search.cu
  cpp/src/sort/is_sorted.cu
  cpp/src/sort/sort.cu
  cpp/src/stream_compaction/apply_boolean_mask.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/src/stream_compaction/drop_nulls.cu
  cpp/src/table/table.cpp
  cpp/src/transform/bools_to_mask.cu
  cpp/src/transform/nans_to_nulls.cu
  cpp/src/transform/transform.cpp
  cpp/src/transpose/transpose.cu
  cpp/src/unary/cast_ops.cu
  cpp/src/unary/math_ops.cu
  cpp/src/unary/nan_ops.cu
  cpp/src/unary/null_ops.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4405 [REVIEW] Port nvstrings (Sub)string Comparisons functions to cuDF Python/Cython
  CHANGELOG.md
  python/cudf/cudf/_libxx/cpp/strings/contains.pxd
  python/cudf/cudf/_libxx/cpp/strings/find.pxd
  python/cudf/cudf/_libxx/cpp/strings/find_multiple.pxd
  python/cudf/cudf/_libxx/strings/char_types.pyx
  python/cudf/cudf/_libxx/strings/contains.pyx
  python/cudf/cudf/_libxx/strings/find.pyx
  python/cudf/cudf/_libxx/strings/find_multiple.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python), strings

#4434 [REVIEW] Fix join_strings logic with all-null strings and non-null narep -- back port PR4402
  CHANGELOG.md
  cpp/src/strings/combine.cu
  cpp/tests/strings/combine_tests.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#4140 [REVIEW] adding Corr() function inside dataframe.py to compute the correlation matrix of a data frame and adding examples in series.py
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#4231 [REVIEW] Custom IO data sinks for cuIO
  CHANGELOG.md
  cpp/include/cudf/io/data_sink.hpp
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/chunked_state.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/tests/io/parquet_test.cu
Labels: 3 - Ready for Review, Spark, cuIO, libcudf (C++/CUDA)

#4317 [REVIEW] Fix fill() when using string_scalar with an empty string
  CHANGELOG.md
  cpp/src/strings/filling/fill.cu
  cpp/tests/strings/fill_tests.cu
  cpp/tests/utilities/column_utilities.hpp
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4445 [REVIEW] Fix string issue for parquet reader and support `keep_index` for `scatter_to_tables`
  CHANGELOG.md
  python/cudf/cudf/_libxx/column.pyx
  python/cudf/cudf/_libxx/copying.pyx
  python/cudf/cudf/_libxx/hash.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#4436 [REVIEW] Enable `.str.cat` and fix `.str.split` on python side
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python), strings

#3782 [REVIEW] Add `fixed_point` class to support DecimalType
  CHANGELOG.md
  cpp/include/fixed_point/fixed_point.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/fixed_point/fixed_point_tests.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#4329 [REVIEW] Add support for dictionary columns in scatter
  CHANGELOG.md
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/dictionary/detail/update_keys.hpp
  cpp/include/cudf/dictionary/dictionary_column_view.hpp
  cpp/src/column/column.cu
  cpp/src/copying/scatter.cu
  cpp/src/dictionary/dictionary_column_view.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/dictionary/scatter_test.cpp
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4464 [REVIEW] Change NVTX to always be linked.
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#4461 [REVIEW] Port nvstrings Miscellaneous functions to cuDF Python/Cython
  CHANGELOG.md
  python/cudf/cudf/_libxx/cpp/strings/attributes.pxd
  python/cudf/cudf/_libxx/cpp/strings/translate.pxd
  python/cudf/cudf/_libxx/cpp/types.pxd
  python/cudf/cudf/_libxx/string_casting.pyx
  python/cudf/cudf/_libxx/strings/attributes.pyx
  python/cudf/cudf/_libxx/strings/convert/__init__.pxd
  python/cudf/cudf/_libxx/strings/convert/convert_urls.pyx
  python/cudf/cudf/_libxx/strings/translate.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python), strings

#4467 [REVIEW] Fix dropna issue for a DataFrame having np.nan
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dropna.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4465 [REVIEW] Fix use_pandas_index having no effect in libcudf++ parquet reader
  CHANGELOG.md
  cpp/src/io/parquet/reader_impl.cu
Labels: 5 - Ready to Merge, bug, cuIO, libcudf++

#4360 [REVIEW] java bindings for bitwise shift operators [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/BinaryOp.java
  java/src/main/java/ai/rapids/cudf/BinaryOperable.java
  java/src/test/java/ai/rapids/cudf/BinaryOpTest.java
Labels: 3 - Ready for Review, cuDF (Java)

#4474 [REVIEW] Fix to not materialize RangeIndex in copy_categories
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4480 [REVIEW] Fix string_scalar.value to return an empty string_view for empty string-scalar
  CHANGELOG.md
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_device_view.cuh
  cpp/tests/binaryop/binop-integration-test.cpp
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#4438 [REVIEW] Fix repl-template error for replace_with_backrefs
  CHANGELOG.md
  cpp/src/strings/replace/backref_re.cu
  cpp/tests/strings/replace_regex_tests.cpp
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4278 [REVIEW] filling.pyx: cython bindings
  CHANGELOG.md
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/_lib/includes/filling.pxd
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/column.pyx
  python/cudf/cudf/_libxx/cpp/filling.pxd
  python/cudf/cudf/_libxx/filling.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_fill.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++

#4494 Update Java memory resource handler for new supports_get_mem_info API [skip ci]
  CHANGELOG.md
  java/src/main/native/src/RmmJni.cpp
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#4290 [REVIEW] port parquet cython code. This closes: #3924
  .gitignore
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  python/cudf/cudf/_libxx/cpp/io/functions.pxd
  python/cudf/cudf/_libxx/cpp/io/parquet.pxd
  python/cudf/cudf/_libxx/cpp/io/types.pxd
  python/cudf/cudf/_libxx/json.pyx
  python/cudf/cudf/_libxx/parquet.pyx
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/parquet.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), cuIO, libcudf++

#4496 skip-multi-gpu-test
  CHANGELOG.md
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: 5 - Ready to Merge, dask, tests

#4493 [REVIEW] Optionally build legacy tests
  CHANGELOG.md
  build.sh
  ci/gpu/build.sh
Labels: 2 - In Progress, CMake, gpuCI

#4505 Fix 0 length buffers during serialization
  CHANGELOG.md
  python/cudf/cudf/comm/serialize.py
Labels: 5 - Ready to Merge, dask, dask-cudf

#4482 [REVIEW] Fix `.str.rsplit`, `.str.split`, `.str.find`, `.str.rfind`, `.str.index`, `.str.rindex` and enable related tests
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python), strings

#4499 [REVIEW]Adding changes to handle include `keep_index` and `RangeIndex`
  CHANGELOG.md
  python/cudf/cudf/_libxx/copying.pyx
  python/cudf/cudf/_libxx/table.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#4513 Backport scalar destructor fix
  CHANGELOG.md
  cpp/include/cudf/scalar/scalar.hpp
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#4486 [REVIEW] Remove explicit template parameter from `detail::scatter`
  CHANGELOG.md
  cpp/include/cudf/detail/scatter.cuh
  cpp/src/copying/scatter.cu
  cpp/src/partitioning/partitioning.cu
Labels: 3 - Ready for Review

#4503 [REVIEW] Port binaryop cython ++
  CHANGELOG.md
  cpp/include/cudf/binaryop.hpp
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/binops.pyx
  python/cudf/cudf/_lib/includes/binops.pxd
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/binaryop.pxd
  python/cudf/cudf/_libxx/binaryop.pyx
  python/cudf/cudf/_libxx/cpp/binaryop.pxd
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_udf_binops.py
  python/cudf/cudf/utils/applyutils.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#4156 [REVIEW] Make fill/copy_range no-op on empty columns
  CHANGELOG.md
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/filling.hpp
  cpp/src/column/column_view.cpp
  cpp/src/copying/copy_range.cu
  cpp/src/filling/fill.cu
  cpp/tests/copying/copy_range_tests.cpp
  cpp/tests/filling/fill_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA), libcudf++

#4519 [REVIEW] Remove `n` validation for `nlargest` & `nsmallest` and add negative support for `n`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_sorting.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4479 adding 10.2 environment support [skip ci]
  CHANGELOG.md
  conda/environments/cudf_dev_cuda10.2.yml
Labels: 5 - Ready to Merge, conda

#4398 [REVIEW] Fix failure in groupby MIN/MAX when strings in some groups are empty
  CHANGELOG.md
  cpp/include/cudf/detail/replace.hpp
  cpp/src/groupby/hash/groupby.cu
  cpp/tests/groupby/sort/group_max_test.cu
  cpp/tests/groupby/sort/group_min_test.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), strings

#4524 [REVIEW] Updating `__setitem__` for DataFrame to use scalar scatter
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4526 [REVIEW] Fix index slicing issue for index incase of an empty dataframe
  CHANGELOG.md
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4495 [REVIEW] Port nvtext functions to cuDF Python/Cython
  CHANGELOG.md
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/cpp/nvtext/__init__.pxd
  python/cudf/cudf/_libxx/cpp/nvtext/generate_ngrams.pxd
  python/cudf/cudf/_libxx/cpp/nvtext/ngrams_tokenize.pxd
  python/cudf/cudf/_libxx/cpp/nvtext/normalize.pxd
  python/cudf/cudf/_libxx/cpp/nvtext/tokenize.pxd
  python/cudf/cudf/_libxx/nvtext/__init__.pxd
  python/cudf/cudf/_libxx/nvtext/generate_ngrams.pyx
  python/cudf/cudf/_libxx/nvtext/ngrams_tokenize.pyx
  python/cudf/cudf/_libxx/nvtext/normalize.pyx
  python/cudf/cudf/_libxx/nvtext/tokenize.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++, strings

#4533 Import `tlz` for optional `cytoolz` support
  CHANGELOG.md
  python/dask_cudf/dask_cudf/accessor.py
  python/dask_cudf/dask_cudf/core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask, dask-cudf

#4534 [REVIEW] Disable errors from deprecation warnings.
  CHANGELOG.md
  cpp/CMakeLists.txt
  python/nvstrings/cpp/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#4527 [REVIEW] Add JNI and java bindings for matches_re [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#4308 [REVIEW] Replace dask_cudf sort_values and improve set_index
  CHANGELOG.md
  python/dask_cudf/dask_cudf/__init__.py
  python/dask_cudf/dask_cudf/batcher_sortnet.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_batcher_sortnet.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Labels: 5 - Ready to Merge, dask

#4506 [REVIEW] Check for multi-dimensional data in column/Series creation
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/utils/utils.py
  python/dask_cudf/dask_cudf/backends.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4073 Enable test after contiguous split for string went in [skip ci]
  CHANGELOG.md
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#4537 Use `elif` in Dask deserialize check
  CHANGELOG.md
  python/cudf/cudf/comm/serialize.py
Labels: 5 - Ready to Merge, cuDF (Python), dask, dask-cudf

#4549 [REVIEW] Add CMake option to disable deprecation warnings
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review

#4557 Disable compile-errors on deprecation warnings, for JNI [skip ci]
  CHANGELOG.md
  java/src/main/native/CMakeLists.txt
Labels: cuDF (Java)

#4235 [REVIEW][FEA] Port nvtx.pyx to use non-legacy libcudf APIs
  CHANGELOG.md
  python/cudf/cudf/_lib/avro.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/cudf.pxd
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/cpp/utilities/__init__.pxd
  python/cudf/cudf/_libxx/cpp/utilities/__init__.py
  python/cudf/cudf/_libxx/cpp/utilities/nvtx_utils.pxd
  python/cudf/cudf/_libxx/nvtx.pxd
  python/cudf/cudf/_libxx/nvtx.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), feature request, libcudf++

#4346 [REVIEW] Port groupby to libxx
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/includes/groupby/__init__.pxd
  python/cudf/cudf/_lib/includes/groupby/__init__.py
  python/cudf/cudf/_lib/includes/groupby/common.pxd
  python/cudf/cudf/_lib/includes/groupby/hash.pxd
  python/cudf/cudf/_lib/includes/groupby/sort.pxd
  python/cudf/cudf/_libxx/aggregation.pxd
  python/cudf/cudf/_libxx/aggregation.pyx
  python/cudf/cudf/_libxx/cpp/aggregation.pxd
  python/cudf/cudf/_libxx/cpp/groupby.pxd
  python/cudf/cudf/_libxx/cpp/types.pxd
  python/cudf/cudf/_libxx/groupby.pyx
  python/cudf/cudf/_libxx/move.pxd
  python/cudf/cudf/_libxx/reduce.pyx
  python/cudf/cudf/_libxx/rolling.pyx
  python/cudf/cudf/_libxx/table.pxd
  python/cudf/cudf/_libxx/table.pyx
  python/cudf/cudf/_libxx/types.pxd
  python/cudf/cudf/_libxx/types.pyx
  python/cudf/cudf/comm/serialize.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/__init__.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/groupby/legacy_groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_libgdf_groupby.py
  python/cudf/cudf/tests/test_serialize.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++

#4571 Load JNI native dependencies for Scalar class [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Scalar.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#4538 [REVIEW] Fix cudf::strings::slice_strings(step=-1) for empty strings
  CHANGELOG.md
  cpp/src/strings/substring.cu
  cpp/tests/strings/substring_tests.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), strings

#4563 [REVIEW] Remove copying to host for metadata generation in `generate_pandas_metadata`
  CHANGELOG.md
  python/cudf/cudf/_libxx/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4576 [REVIEW] Fix typo in serialize.py
  CHANGELOG.md
  python/cudf/cudf/comm/serialize.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4567 Optimize `__reduce__` in `StringColumn`
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4516 [REVIEW] Add negative value support for `.str.get`
  CHANGELOG.md
  python/cudf/cudf/_libxx/strings/substring.pyx
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), strings

#4570 [REVIEW] Fixing loc ordering issue in dataframe
  CHANGELOG.md
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4224 [REVIEW] Optimize concatenate for many partitions
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/column/concatenate_benchmark.cpp
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/concatenate.hpp
  cpp/include/cudf/detail/concatenate.cuh
  cpp/include/cudf/detail/null_mask.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/include/cudf/table/table.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/column/column.cu
  cpp/src/copying/concatenate.cu
  cpp/src/dictionary/add_keys.cu
  cpp/src/hash/hashing.cu
  cpp/src/join/join.cu
  cpp/src/table/table.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/bitmask/bitmask_tests.cu
  cpp/tests/column/column_test.cu
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/io/orc_test.cu
  cpp/tests/io/parquet_test.cu
  cpp/tests/table/table_tests.cpp
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/TableJni.cpp
Labels: 5 - Ready to Merge, Spark, feature request, libcudf (C++/CUDA)

#4590 Register a few more types for Dask serialization
  CHANGELOG.md
  python/cudf/cudf/comm/serialize.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4344 [REVIEW] Port concat.pyx to libcudf++ APIs
  CHANGELOG.md
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/concat.pyx
  python/cudf/cudf/_libxx/cpp/concatenate.pxd
  python/cudf/cudf/_libxx/utils.pxd
  python/cudf/cudf/_libxx/utils.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++

#4594 [REVIEW] Fix exec dangling pointer issue in legacy groupby
  CHANGELOG.md
  cpp/src/groupby/sort/legacy/sort_helper.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#4596 [REVIEW] Fix `_popn` issue with performance
  CHANGELOG.md
  python/cudf/cudf/core/multiindex.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4600 [REVIEW] Added missing rmm_api.h include to benchmark_fixture.hpp
  CHANGELOG.md
  cpp/benchmarks/fixture/benchmark_fixture.hpp
Labels: 4 - Waiting on Author, RMM, libcudf (C++/CUDA)

#4598 [REVIEW] Fix to handle `pd.DataFrame` in `DataFrame.__init__`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4564 [REVIEW] Java bindings for clamp [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, 5 - Ready to Merge, cuDF (Java)

#4591 [REVIEW] Fix for reading parquet consecutive rowgroups
  CHANGELOG.md
  cpp/src/io/parquet/reader_impl.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, cuIO

#4588 [REVIEW] Fix ordering issue in `MultiIndex`
  CHANGELOG.md
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4602 [REVIEW] Add Cython bindings for functions in `datetime.hpp`
  CHANGELOG.md
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/includes/stream_compaction.pxd
  python/cudf/cudf/_lib/includes/unaryops.pxd
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/_lib/typecast.pyx
  python/cudf/cudf/_lib/unaryops.pyx
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/cpp/datetime.pxd
  python/cudf/cudf/_libxx/datetime.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), libcudf++

#4599 [REVIEW] Add Java and JNI bindings for string replace [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, 5 - Ready to Merge

#4531 [REVIEW] Add doc note on conda channel_priority
  CHANGELOG.md
  CONTRIBUTING.md
Labels: 5 - Ready to Merge, conda

#4595 Fix auto merge branch 0.13 into 0.14
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/column/concatenate_benchmark.cpp
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/hashing/hashing_benchmark.cpp
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/concatenate.hpp
  cpp/include/cudf/detail/concatenate.cuh
  cpp/include/cudf/detail/null_mask.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/include/cudf/table/table.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/column/column.cu
  cpp/src/copying/concatenate.cu
  cpp/src/dictionary/add_keys.cu
  cpp/src/groupby/sort/legacy/sort_helper.cu
  cpp/src/hash/hashing.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/join/join.cu
  cpp/src/table/table.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/bitmask/bitmask_tests.cu
  cpp/tests/column/column_test.cu
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/io/orc_test.cu
  cpp/tests/io/parquet_test.cu
  cpp/tests/table/table_tests.cpp
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/concat.pyx
  python/cudf/cudf/_libxx/cpp/concatenate.pxd
  python/cudf/cudf/_libxx/utils.pxd
  python/cudf/cudf/_libxx/utils.pyx
  python/cudf/cudf/comm/serialize.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, gpuCI

#4615 [REVIEW] Fix potential OOB write in ORC writer compression stage
  CHANGELOG.md
  cpp/src/io/orc/stripe_enc.cu
Labels: 5 - Ready to Merge, bug, cuIO

#4554 [REVIEW] Remove raw allocation from column_device_view
  CHANGELOG.md
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/table/table_device_view.cu
Labels: 3 - Ready for Review

#4613 [REVIEW] Fix issue related to downcasting in `.loc`
  CHANGELOG.md
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4619 [REVIEW] Remove usage of `nvstrings` in `data_array_view`
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_copying.py
  python/dask_cudf/dask_cudf/backends.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4617 [REVIEW] Make aggregation destructor virtual
  CHANGELOG.md
  cpp/include/cudf/aggregation.hpp
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#4625 [Bugfix] Fix hash-based repartitionbug in dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4609 [REVIEW] Fix to handle `Series.factorize` when index is set
  CHANGELOG.md
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_factorize.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4611 [REVIEW] Fix to use direct slicing in iloc for multiindex than using gather under `_get_row_major`
  CHANGELOG.md
  python/cudf/cudf/_libxx/column.pyx
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexing.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4630 [REVIEW] Remove dangling pointer to RMM exec policy in drop duplicates test
  CHANGELOG.md
  cpp/tests/stream_compaction/legacy/drop_duplicates_tests.cu
Labels: 3 - Ready for Review, 5 - Ready to Merge

#4633 [REVIEW] String concatenation fix in `DataFrame.rename`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4639 [REVIEW] Fix Empty String Column in Java [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4472 [REVIEW] Add new `partition` API
  CHANGELOG.md
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/partitioning.hpp
  cpp/src/partitioning/partitioning.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/partitioning/partition_test.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/table_utilities.hpp
  cpp/tests/utilities/type_lists.hpp
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4632 [REVIEW] Fix handling of empty inputs for concatenate
  CHANGELOG.md
  cpp/src/copying/concatenate.cu
  cpp/tests/copying/concatenate_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#4626 [REVIEW] binary operator to compute log of an arbitrary base
  CHANGELOG.md
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/jit/code/operation.cpp
  cpp/src/binaryop/jit/util.hpp
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/binaryop/util/operation.h
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4645 [REVIEW] Add Alias for `kurtosis` as `kurt`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#4610 [REVIEW] Fix validity bug in string scalar factory
  CHANGELOG.md
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/src/strings/strings_scalar_factories.cpp
  cpp/tests/scalar/factories_test.cpp
  cpp/tests/strings/factories_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#4614 [REVIEW] Fix cuda-memcheck errors found in column_tests.cu and copying/utility_tests.cu
  CHANGELOG.md
  cpp/tests/column/column_test.cu
  cpp/tests/copying/utility_tests.cu
  cpp/tests/device_atomics/device_atomics_test.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4662 [REVIEW] Fix to handle `keep_index` in `partition_by_hash`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4548 [REVIEW] Remove string_view is_null method
  CHANGELOG.md
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_device_view.cuh
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.inl
  cpp/src/strings/combine.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/utilities.cu
  python/cudf/cudf/core/column/string.py
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#4641 [REVIEW] added replace example in dataframe.py
  CHANGELOG.md
  docs/cudf/source/10min.ipynb
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#4651 [REVIEW] Fix missing include in partition header
  CHANGELOG.md
  cpp/benchmarks/hashing/hashing_benchmark.cpp
Labels: 3 - Ready for Review, bug, libcudf (C++/CUDA)

#4655 [REVIEW] Raise error for list like dtypes in cudf
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4616 [REVIEW] Enable different RMM allocation modes in unit tests
  CHANGELOG.md
  cpp/tests/binaryop/assert-binops.h
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/binaryop/legacy/unit/jit-cache-test.hpp
  cpp/tests/bitmask/bitmask_tests.cu
  cpp/tests/column/column_test.cu
  cpp/tests/column/legacy/column_test.cu
  cpp/tests/copying/copy_tests.cu
  cpp/tests/copying/slice_tests.cu
  cpp/tests/copying/split_tests.cu
  cpp/tests/copying/utility_tests.cu
  cpp/tests/datetime/datetime_ops_test.cu
  cpp/tests/dictionary/add_keys_test.cpp
  cpp/tests/dictionary/decode_test.cpp
  cpp/tests/dictionary/slice_test.cpp
  cpp/tests/dlpack/dlpack_test.cpp
  cpp/tests/filling/fill_tests.cu
  cpp/tests/fixed_point/fixed_point_tests.cu
  cpp/tests/groupby/group_argmax_test.cu
  cpp/tests/hashing/hash_test.cpp
  cpp/tests/io/csv_test.cu
  cpp/tests/io/json_test.cu
  cpp/tests/io/orc_test.cu
  cpp/tests/io/parquet_test.cu
  cpp/tests/iterator/iterator_test.cu
  cpp/tests/join/join_tests.cu
  cpp/tests/merge/merge_test.cpp
  cpp/tests/partitioning/hash_partition_test.cpp
  cpp/tests/quantiles/quantile_test.cu
  cpp/tests/reductions/reduction_tests.cu
  cpp/tests/reductions/scan_tests.cu
  cpp/tests/replace/clamp_test.cpp
  cpp/tests/replace/replace_nulls_tests.cu
  cpp/tests/replace/replace_tests.cu
  cpp/tests/reshape/interleave_columns_tests.cu
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/scalar/factories_test.cpp
  cpp/tests/scalar/scalar_test.cpp
  cpp/tests/search/search_test.cpp
  cpp/tests/sort/is_sorted_tests.cu
  cpp/tests/sort/sort_test.cpp
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cu
  cpp/tests/strings/array_tests.cu
  cpp/tests/table/table_tests.cpp
  cpp/tests/text/ngrams_tests.cpp
  cpp/tests/transform/bools_to_mask.cpp
  cpp/tests/transpose/transpose_test.cu
  cpp/tests/unary/unary_ops_test.cu
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/cxxopts.hpp
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#4642 Change stringConcatenate to use array argument [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, 5 - Ready to Merge, Spark, cuDF (Java)

#4652 [REVIEW] Fix misaligned error when computing regex device structs
  CHANGELOG.md
  cpp/src/strings/regex/regexec.cu
  cpp/tests/strings/contains_tests.cpp
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#4676 Bug fix in _shuffle_group for repartition
  CHANGELOG.md
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4681 [REVIEW] Fix `test_repr` tests that generated RangeIndex column names
  CHANGELOG.md
  python/cudf/cudf/tests/test_repr.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4612 [REVIEW] Fix invalid index handling in cudf:dictionary:add-keys call to gather
  CHANGELOG.md
  cpp/src/dictionary/add_keys.cu
  cpp/tests/dictionary/add_keys_test.cpp
  cpp/tests/dictionary/scatter_test.cpp
Labels: 3 - Ready for Review, libcudf (C++/CUDA)
