Repository rapidsai/cudf, pull requests merged in 2020-06, with the labels that each got.

#5333 [REVIEW] Fix DataFrame.loc issue with list like argument
  CHANGELOG.md
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5347 [REVIEW] Fix APPLY_BOOLEAN_MASK_BENCH segfault
  CHANGELOG.md
  cpp/benchmarks/stream_compaction/apply_boolean_mask_benchmark.cpp
Labels: 3 - Ready for Review, libcudf

#5287 [REVIEW] Add `index.join` support
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5204 [REVIEW] concatenate row items using a separator defined per row
  CHANGELOG.md
  cpp/include/cudf/strings/combine.hpp
  cpp/src/strings/combine.cu
  cpp/tests/strings/combine_tests.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, feature request

#5354 Split Dask deserialization methods by dask/cuda
  CHANGELOG.md
  python/cudf/cudf/comm/serialize.py
Labels: 5 - Ready to Merge, dask

#5305 [REVIEW] Add support for numpy/cupy array in `DataFrame` construction
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5327 [REVIEW] Cross join feature.
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/reshape.hpp
  cpp/include/cudf/join.hpp
  cpp/src/join/cross_join.cu
  cpp/src/join/semi_join.cu
  cpp/src/reshape/tile.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/join/cross_join_tests.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#5356 [REVIEW] Change cudf::repeat to use size_type for the number of repeats.
  CHANGELOG.md
  cpp/include/cudf/detail/repeat.hpp
  cpp/include/cudf/filling.hpp
  cpp/src/filling/repeat.cu
  cpp/tests/filling/repeat_tests.cu
  python/cudf/cudf/_lib/cpp/filling.pxd
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/core/frame.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf

#5367 [REVIEW] Apply API change from cudf::repeat in cudf::cross_join.
  CHANGELOG.md
  cpp/src/join/cross_join.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, bug

#5336 [REVIEW] Initialize conversion tables on a per-context basis
  CHANGELOG.md
  cpp/src/strings/utilities.cu
Labels: 5 - Ready to Merge, libcudf

#5302 [REVIEW] Add missing comparison operators to `fixed_point` type
  CHANGELOG.md
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/tests/fixed_point/fixed_point_tests.cu
Labels: 3 - Ready for Review

#5368 [REVIEW] Fix loc indexing issue with `datetime` type index
  CHANGELOG.md
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5363 [REVIEW] Handle `0-dim` inputs while broadcasting to a column
  CHANGELOG.md
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5303 [REVIEW] compute substrings from beginning until delimiter or from a delimiter until end of string
  CHANGELOG.md
  cpp/include/cudf/strings/substring.hpp
  cpp/src/strings/substring.cu
  cpp/tests/strings/substring_tests.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, feature request

#5362 [REVIEW] Remove dependency on `rmm._DevicePointer`
  CHANGELOG.md
  python/cudf/cudf/core/buffer.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5292 [REVIEW] Add unsigned int type columns to libcudf
  CHANGELOG.md
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/types.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/io/utilities/type_conversion.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/unary/math_ops.cu
  cpp/tests/dlpack/dlpack_test.cpp
  cpp/tests/io/csv_test.cu
  cpp/tests/io/orc_test.cu
  cpp/tests/io/parquet_test.cu
  cpp/tests/partitioning/partition_test.cpp
  cpp/tests/quantiles/quantile_test.cpp
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
  cpp/tests/sort/is_sorted_tests.cu
  cpp/tests/strings/integers_tests.cu
  cpp/tests/unary/unary_ops_test.cu
  cpp/tests/utilities/type_lists.hpp
Labels: 3 - Ready for Review, libcudf

#5379 Avoid chaining `Buffer`s
  CHANGELOG.md
  python/cudf/cudf/core/buffer.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5326 [REVIEW] Fix `DataFrame.__init__` for list of scalar inputs and related dask issue
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5377 Handle array of cupy scalars in to_column
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5382 [REVIEW] Fix CategoricalDtype equality comparisons
  CHANGELOG.md
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5383 [REVIEW] Fix cython `type_id` enum mismatch
  CHANGELOG.md
  python/cudf/cudf/_lib/cpp/types.pxd
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#5390 Fix Java data type IDs and string interleave test [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/DType.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#5386 [REVIEW] Remove cub from include_dirs in setup.py
  CHANGELOG.md
  python/cudf/setup.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5389 Expose typed accessors for Java HostMemoryBuffer [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#5301 [REVIEW] Add Java bindings for zfill [skip-ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Spark, cuDF (Java)

#5385 [REVIEW] Fix index issues in `DataFrame.from_gpu_matrix`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5403 [REVIEW] update cmake version in contrib guide [skip ci]
  CHANGELOG.md
  CONTRIBUTING.md
Labels: 5 - Ready to Merge, CMake, doc

#5404 [REVIEW] Fix issue with column creation when chunked arrays are passed
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_column.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5374 [REVIEW] Port nvtext character_tokenize API to libcudf
  CHANGELOG.md
  cpp/include/cudf/detail/get_value.cuh
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/nvtext/tokenize.hpp
  cpp/src/text/tokenize.cu
  cpp/tests/text/tokenize_tests.cpp
Labels: 3 - Ready for Review, libcudf

#5405 [REVIEW] Add Error message to `StringColumn.unary_operator`
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5317 [REVIEW] Add precise shift overload for integers
  CHANGELOG.md
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/tests/fixed_point/fixed_point_tests.cu
Labels: 5 - Ready to Merge, Performance, libcudf

#5396 [REVIEW] Remove legacy tests env variable from build.sh
  CHANGELOG.md
  build.sh
Labels: 5 - Ready to Merge, CMake, gpuCI

#5409 [REVIEW] Use the correct memory resource when creating empty null masks
  CHANGELOG.md
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/src/bitmask/null_mask.cu
  cpp/src/dictionary/dictionary_factories.cu
  cpp/src/strings/combine.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/strings_column_factories.cu
  cpp/src/strings/substring.cu
Labels: 3 - Ready for Review, libcudf

#5420 [REVIEW] Aligning signature of `Series.value_counts` to Pandas
  CHANGELOG.md
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5331 [REVIEW] Adding support for `drop_nans`
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/stream_compaction/drop_nans.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/stream_compaction/drop_nans_tests.cu
Labels: 4 - Needs libcudf Reviewer, 5 - Ready to Merge, libcudf++

#5424 [REVIEW] Add python plumbing for `.str.character_tokenize`
  CHANGELOG.md
  cpp/src/text/tokenize.cu
  python/cudf/cudf/_lib/cpp/nvtext/tokenize.pxd
  python/cudf/cudf/_lib/nvtext/tokenize.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Cython, cuDF (Python), libcudf, strings

#5366 [REVIEW] Add benchmarks for cuIO writers
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/common/generate_benchmark_input.hpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/benchmarks/io/cuio_benchmarks_common.hpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks_benchmark.cpp
  cpp/tests/utilities/base_fixture.hpp
Labels: 5 - Ready to Merge, cuIO

#5349 [REVIEW] Add custom CSS styling to libcudf doxygen [skip-ci]
  CHANGELOG.md
  cpp/doxygen/Doxyfile
  cpp/doxygen/rapids.css
Labels: 3 - Ready for Review, doc, libcudf

#5399 [REVIEW] fix cpp compiler warnings of unreachable code
  CHANGELOG.md
  cpp/src/rolling/rolling_detail.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/shift_tests.cpp
  cpp/tests/utilities/type_lists.hpp
Labels: 3 - Ready for Review, tech debt

#5425 [REVIEW] Add `GroupBy.rolling()`
  CHANGELOG.md
  python/cudf/cudf/_lib/rolling.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5410 [REVIEW] Fix compile warning by disallowing bool column type for slice_strings
  CHANGELOG.md
  cpp/include/cudf/strings/substring.hpp
  cpp/src/strings/substring.cu
Labels: 3 - Ready for Review, libcudf

#5418 [REVIEW] Add support for `DataFrame.info`
  CHANGELOG.md
  docs/cudf/source/conf.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5429 [REVIEW] Enable wrapping long class names in libcudf Doxygen tables [skip-ci]
  CHANGELOG.md
  cpp/doxygen/rapids.css
Labels: 3 - Ready for Review, doc, libcudf

#5397 [REVIEW] Nested-loop equijoins.
  CHANGELOG.md
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Labels: libcudf

#5433 [REVIEW] Add support for column inputs in `strings::starts_with` and `strings::ends_with`
  CHANGELOG.md
  cpp/include/cudf/strings/find.hpp
  cpp/src/strings/find.cu
  cpp/tests/strings/find_tests.cpp
  python/cudf/cudf/_lib/cpp/strings/find.pxd
  python/cudf/cudf/_lib/strings/find.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf, strings

#5443 [REVIEW] Remove unused `is_simple` trait
  CHANGELOG.md
  cpp/include/cudf/utilities/traits.hpp
  cpp/tests/types/traits_test.cpp
Labels: 3 - Ready for Review

#4990 [REVIEW] Nested list column types, phase 2
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/column/column_factories.hpp
  cpp/include/cudf/lists/detail/concatenate.hpp
  cpp/include/cudf/lists/lists_column_view.hpp
  cpp/include/doxygen_groups.h
  cpp/src/copying/concatenate.cu
  cpp/src/lists/copying/concatenate.cu
  cpp/src/lists/lists_column_factories.cu
  cpp/src/lists/lists_column_view.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/column_utilities.hpp
  cpp/tests/utilities/column_wrapper.hpp
  cpp/tests/utilities/detail/column_utilities.hpp
  cpp/tests/utilities_tests/lists_column_wrapper_tests.cu
Labels: 3 - Ready for Review, Spark, libcudf

#5392 [REVIEW] Update documentation links
  CHANGELOG.md
  docs/cudf/source/guide-to-udfs.ipynb
Labels: 3 - Ready for Review, doc

#5364 [REVIEW] Validate array interface during Buffer construction
  CHANGELOG.md
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/tests/test_buffer.py
  python/cudf/cudf/tests/test_pickling.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5446 [REVIEW] Build compile error fix in column_utilities.cu
  CHANGELOG.md
  cpp/tests/utilities/column_utilities.cu
Labels: 5 - Ready to Merge, libcudf

#5426 [REVIEW] Refactor strings code to minimize calls to regex
  CHANGELOG.md
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/utilities.cuh
Labels: 3 - Ready for Review, libcudf

#5444 [REVIEW] Remove deprecated RMM APIs and headers.
  CHANGELOG.md
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/join/generate_input_tables.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/hash/hash_allocator.cuh
  cpp/src/io/comp/uncomp.cpp
  cpp/src/reductions/scan.cu
  cpp/src/strings/regex/regexec.cu
  cpp/src/strings/utilities.cu
  cpp/src/table/table_device_view.cu
  cpp/tests/error/error_handling_test.cu
Labels: 5 - Ready to Merge, RMM, libcudf

#5408 [REVIEW] Update pyrrow and arrow-cpp to 0.17.1
  CHANGELOG.md
  CONTRIBUTING.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
  cpp/include/cudf/ipc.hpp
  cpp/src/comms/ipc/ipc.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/csv_test.cu
  cpp/tests/io/json_test.cu
  python/cudf/cudf/_lib/arrow/__init__.py
  python/cudf/cudf/_lib/arrow/_cuda.pxd
  python/cudf/cudf/_lib/arrow/_cuda.pyx
  python/cudf/cudf/_lib/cpp/arrow/__init__.pxd
  python/cudf/cudf/_lib/cpp/arrow/__init__.py
  python/cudf/cudf/_lib/cpp/arrow/libarrow_cuda.pxd
  python/cudf/cudf/_lib/cpp/gpuarrow.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/gpuarrow.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/io/feather.py
  python/cudf/cudf/tests/test_gpu_arrow_parser.py
  python/cudf/cudf/utils/utils.py
  python/cudf/setup.py
Labels: 5 - Ready to Merge, CMake, conda, cuDF (Python), libcudf

#5437 [REVIEW] Join docs cleanup
  CHANGELOG.md
  cpp/include/cudf/join.hpp
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
Labels: 5 - Ready to Merge, doc, libcudf

#5459 [REVIEW] Fix str.translate to convert table characters to UTF-8
  CHANGELOG.md
  python/cudf/cudf/_lib/strings/translate.pyx
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5439 [REVIEW] Fix nvtext ngrams_tokenize performance for multi-byte UTF8
  CHANGELOG.md
  cpp/src/text/utilities/tokenize_ops.cuh
Labels: 3 - Ready for Review, libcudf, strings

#5458 [REVIEW] Install meta packages for dependencies
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review

#5463 [REVIEW] Add `.str.byte_count` python api and cython(bindings)
  CHANGELOG.md
  python/cudf/cudf/_lib/cpp/strings/attributes.pxd
  python/cudf/cudf/_lib/strings/attributes.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), strings

#5442 [REVIEW] Add support for `cudf.isclose`
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5431 [REVIEW] Adding support for unsigned int
  CHANGELOG.md
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/copying/gather.cu
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_copying.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dataframe_copy.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_feather.py
  python/cudf/cudf/tests/test_gpu_arrow_parser.py
  python/cudf/cudf/tests/test_hdf.py
  python/cudf/cudf/tests/test_hdfs.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_label_encode.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_reshape.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_scan.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_transform.py
  python/cudf/cudf/tests/test_udf_binops.py
  python/cudf/cudf/tests/test_unaops.py
  python/cudf/cudf/tests/utils.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5381 [REVIEW] Change numpy usages to cupy in 10min.ipynb
  CHANGELOG.md
  docs/cudf/source/10min.ipynb
Labels: 5 - Ready to Merge, doc

#5465 [REVIEW] Fix benchmark_fixture cnmem errors
  CHANGELOG.md
  cpp/benchmarks/fixture/benchmark_fixture.hpp
Labels: 3 - Ready for Review, libcudf

#5472 [REVIEW] Fix str concat issue with indexed series
  CHANGELOG.md
  cpp/cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5479 [REVIEW] allow linking arrow libraries statically
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
  cpp/tests/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake, conda

#5387 [REVIEW] Port nvtext replace_tokens API to libcudf
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/doxygen_groups.h
  cpp/include/nvtext/replace.hpp
  cpp/src/text/replace.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/text/replace_tests.cpp
Labels: 3 - Ready for Review, libcudf

#5480 [REVIEW] Fix merge sort docs
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, doc

#5484 [REVIEW] Ensure flat index after groupby if nlevels == 1
  CHANGELOG.md
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5477 [REVIEW] Add `is_index_type` trait
  CHANGELOG.md
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/partitioning/partitioning.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf++

#5478 [REVIEW] Fix `loc` and `iloc` doc
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5483 [REVIEW] Add NVTX range calls to dictionary APIs
  CHANGELOG.md
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/decode.cu
  cpp/src/dictionary/encode.cu
  cpp/src/dictionary/remove_keys.cu
  cpp/src/dictionary/search.cu
  cpp/src/dictionary/set_keys.cu
Labels: 3 - Ready for Review, libcudf

#5452 [REVIEW] Add support for strings conversion using negative timestamps
  CHANGELOG.md
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
  python/cudf/cudf/tests/test_string.py
Labels: 3 - Ready for Review, libcudf, strings

#5486 [REVIEW] link boost static libraries in java [skip ci]
  CHANGELOG.md
  java/README.md
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/NativeDepsLoader.java
Labels: cuDF (Java)

#5487 [REVIEW] Use sorted lists instead of sets for pytest parameterization
  CHANGELOG.md
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_copying.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_feather.py
  python/cudf/cudf/tests/test_hdf.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_reshape.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_udf_binops.py
  python/cudf/cudf/tests/test_unaops.py
  python/cudf/cudf/tests/utils.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python), tests

#5482 [REVIEW] Use rmm::device_uvector in place of rmm::device_vector for `cudf::detail::copy_if`
  CHANGELOG.md
  cpp/include/cudf/detail/copy_if.cuh
Labels: 3 - Ready for Review, RMM, libcudf blocker

#5489 [REVIEW] Fix dropna / drop_nulls / boolean_mask data corruption for large columns
  CHANGELOG.md
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
  cpp/tests/stream_compaction/drop_duplicates_tests.cpp
  cpp/tests/stream_compaction/drop_nans_tests.cpp
  cpp/tests/stream_compaction/drop_nulls_tests.cpp
Labels: 5 - Ready to Merge, libcudf

#5434 [REVIEW] Add nvtext function generate_character_ngrams
  CHANGELOG.md
  cpp/include/nvtext/generate_ngrams.hpp
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/tokenize.cu
  cpp/tests/text/ngrams_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/generate_ngrams.pxd
  python/cudf/cudf/_lib/nvtext/generate_ngrams.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: 5 - Ready to Merge, libcudf, strings

#5491 [REVIEW] allow build lib in custom dir
  CHANGELOG.md
  build.sh
Labels: 3 - Ready for Review, gpuCI

#5488 [REVIEW] Add plumbings for `.str.replace_tokens`
  CHANGELOG.md
  python/cudf/cudf/_lib/cpp/nvtext/replace.pxd
  python/cudf/cudf/_lib/nvtext/replace.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: 5 - Ready to Merge, cuDF (Python), strings

#5423 [REVIEW] Fix any() reduction ignore nulls
  CHANGELOG.md
  cpp/include/cudf/detail/reduction_operators.cuh
  cpp/include/cudf/detail/utilities/transform_unary_functions.cuh
  cpp/src/reductions/compound.cuh
  cpp/src/reductions/simple.cuh
  cpp/tests/reductions/reduction_tests.cpp
  python/cudf/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#5468 [REVIEW] Add cudf::unique_count(table_view)
  CHANGELOG.md
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/tests/stream_compaction/drop_duplicates_tests.cpp
Labels: 5 - Ready to Merge, libcudf

#5497 [REVIEW] Add `.str.isinteger` & `.str.isfloat`
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python), strings

#5503 [REVIEW] Change `unique_count` to `distinct_count` [skip ci]
  CHANGELOG.md
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/src/reductions/reductions.cpp
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/tests/stream_compaction/drop_duplicates_tests.cpp
  python/cudf/cudf/_lib/cpp/stream_compaction.pxd
  python/cudf/cudf/_lib/partitioning.pyx
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Labels: 3 - Ready for Review

#5496 [REVIEW] rename tests .cu (zero cuda kernels) to .cpp
  CHANGELOG.md
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/binaryop/binop-generic-ptx-test.cpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/copying/slice_tests.cpp
  cpp/tests/copying/split_tests.cpp
  cpp/tests/copying/utility_tests.cpp
  cpp/tests/datetime/datetime_ops_test.cpp
  cpp/tests/filling/fill_tests.cpp
  cpp/tests/filling/repeat_tests.cpp
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json_test.cpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/jit/jit-cache-test.cpp
  cpp/tests/join/join_tests.cpp
  cpp/tests/quantiles/quantiles_test.cpp
  cpp/tests/replace/normalize_replace_tests.cpp
  cpp/tests/replace/replace_nans_tests.cpp
  cpp/tests/replace/replace_nulls_tests.cpp
  cpp/tests/replace/replace_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/reshape/tile_tests.cpp
  cpp/tests/sort/is_sorted_tests.cpp
  cpp/tests/table/row_operators_tests.cpp
  cpp/tests/transform/integration/unary-transform-test.cpp
  cpp/tests/transpose/transpose_test.cpp
  cpp/tests/unary/unary_ops_test.cpp
  cpp/tests/utilities_tests/column_wrapper_tests.cpp
  cpp/tests/utilities_tests/lists_column_wrapper_tests.cpp
Labels: 5 - Ready to Merge, CMake, code quality, tests

#5502 [REVIEW] Unsigned types support in dlpack
  CHANGELOG.md
  cpp/src/dlpack/dlpack.cpp
  cpp/tests/dlpack/dlpack_test.cpp
  python/cudf/cudf/tests/test_dlpack.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer

#5473 [WIP] Fix orc reader RLEv2 reader
  CHANGELOG.md
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.RLEv2.orc
  python/cudf/cudf/tests/test_orc.py
Labels: 2 - In Progress, cuIO

#5510 [REVIEW] Add support for `cudf.Index` to create Indexes
  CHANGELOG.md
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5534 [REVIEW] Fix java build around type_id [skip ci]
  CHANGELOG.md
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/ScalarJni.cpp
Labels: cuDF (Java)

#5504 [REVIEW] Remove some java assertions that are not needed [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#5523 [REVIEW] Handle `dtype` of `Buffer` objects when not passed explicitly
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_column.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5514 [REVIEW] `convert_datetime.cu` Small Cleanup
  CHANGELOG.md
  cpp/src/strings/convert/convert_datetime.cu
Labels: 3 - Ready for Review, code quality, tech debt

#4879 [REVIEW] Fix output for cudf.concat with axis=1 for pandas parity
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_concat.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5124 [REVIEW] `DataFrame.rename` support for renaming indexes w/ default for index.
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5559 [REVIEW] Java APIs for missing date/time operators [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
Labels: Spark, cuDF (Java)

#5561 [REVIEW] Fix `copy_bitmask` issue with offset
  CHANGELOG.md
  cpp/src/bitmask/null_mask.cu
  cpp/tests/copying/slice_tests.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#5562 [REVIEW] Add missing join types to java [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, Spark, cuDF (Java)

#5528 [REVIEW] Unsigned int support for parquet reader and writer
  CHANGELOG.md
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.h
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO, libcudf

#5537 [REVIEW] Fix issue related to using `set_index` on a string series
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask-cudf, strings

#5564 [REVIEW] Fix CudfEngine.read_metadata API in dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: 5 - Ready to Merge, dask

#5570 [REVIEW] Add Index APIs such as `Int64Index`, `UInt64Index` and others.
  CHANGELOG.md
  docs/cudf/source/api.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/__init__.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5490 [REVIEW] Fix python column view
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_column.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5578 [REVIEW] Fix getattr logic in GroupBy
  CHANGELOG.md
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4546 [REVIEW] Support Pandas 1.0+
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_feather.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/utils/dtypes.py
  python/custreamz/custreamz/tests/test_dataframes.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), pandas

#5591 [REVIEW] Add `__arrow_array__` protocol and raise a descriptive error message
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5582 [REVIEW] Add support for axis and other parameters to `DataFrame.sort_index` and fix other bunch of issues.
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5584 [REVIEW] Refactor `CompactProtocolReader::InitSchema`
  CHANGELOG.md
  cpp/src/io/parquet/parquet.cpp
Labels: 3 - Ready for Review, code quality

#3504 [REVIEW] Externalized Kafka Datasource
  CHANGELOG.md
  build.sh
  ci/gpu/build.sh
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/include/cudf/io/datasource.hpp
  cpp/include/doxygen_groups.h
  cpp/libcudf_kafka/include/cudf_kafka/kafka_consumer.hpp
  cpp/libcudf_kafka/src/kafka_consumer.cpp
  cpp/libcudf_kafka/tests/CMakeLists.txt
  cpp/libcudf_kafka/tests/kafka_consumer_tests.cpp
  cpp/tests/io/csv_test.cpp
Labels: 5 - Ready to Merge, cuIO, libcudf

#5501 [REIVEW] Adding only unsigned types support for categorical column codes
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/cudf/utils/dtypes.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5601 [REVIEW] Instantiate Table instances in Frame._concat to avoid DF.insert() overhead
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5609 [REVIEW] Fix loc and iloc issue with column like input
  CHANGELOG.md
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5608 [REVIEW] Fix issue related to string types being represented as binary types
  CHANGELOG.md
  cpp/src/io/parquet/writer_impl.cu
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO
