Repository rapidsai/cudf, pull requests merged in 2020-05, with the labels that each got.

#5057 [REVIEW] Fix metadata_out parameter not reaching parquet write_all()
  CHANGELOG.md
  cpp/src/io/functions.cpp
Labels: 5 - Ready to Merge, cuIO, libcudf

#4798 [REVIEW] Add UDF support to grouped rolling window
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/rolling/jit/code/code.h
  cpp/src/rolling/jit/code/kernel.cpp
  cpp/src/rolling/rolling.cu
  cpp/src/rolling/rolling_jit_detail.hpp
  cpp/tests/grouped_rolling/grouped_rolling_test.cpp
Labels: 3 - Ready for Review, libcudf

#5070 [REVIEW] Fix regressions in the libcudf++ csv reader port
  CHANGELOG.md
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/tests/io/csv_test.cu
Labels: 5 - Ready to Merge, cuIO, libcudf, libcudf++

#4900 [REVIEW] get_element(column_view, index) libcudf API
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/include/cudf/dictionary/dictionary_factories.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/src/copying/get_element.cu
  cpp/src/scalar/scalar_factories.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/get_value_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#4739 [REVIEW] add missing aggregations to libcudf++ column reduction
  CHANGELOG.md
  cpp/benchmarks/groupby/group_nth_benchmark.cu
  cpp/benchmarks/groupby/group_sum_benchmark.cu
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/groupby.hpp
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/groupby.hpp
  cpp/include/cudf/reduction.hpp
  cpp/include/cudf/sorting.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/include/cudf/types.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/encode.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_nth_element.cu
  cpp/src/groupby/sort/group_nunique.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/groupby.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/scan.cu
  cpp/src/rolling/rolling.cu
  cpp/src/sort/rank.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/group_count_test.cpp
  cpp/tests/groupby/group_nth_element_test.cpp
  cpp/tests/groupby/group_nunique_test.cpp
  cpp/tests/groupby/groupby_keys_test.cpp
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/grouped_rolling/grouped_rolling_test.cpp
  cpp/tests/iterator/iterator_test.cu
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/sort/rank_test.cpp
  cpp/tests/stream_compaction/drop_duplicates_tests.cu
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/_lib/cpp/groupby.pxd
  python/cudf/cudf/_lib/cpp/sorting.pxd
  python/cudf/cudf/_lib/cpp/stream_compaction.pxd
  python/cudf/cudf/_lib/cpp/types.pxd
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/_lib/types.pxd
  python/cudf/cudf/_lib/types.pyx
Labels: 3 - Ready for Review

#5040 [REVIEW] make_scalar_iterator avoid D->H copy of value
  CHANGELOG.md
  cpp/include/cudf/detail/iterator.cuh
  cpp/src/replace/clamp.cu
  cpp/tests/iterator/iterator_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#5047 [REVIEW] Cython binding for libcudf++ CSV reader
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  cpp/src/io/functions.cpp
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf++

#5076 [REVIEW] Fix java code for null_policy enum [skip-ci]
  CHANGELOG.md
  java/src/main/native/src/TableJni.cpp
Labels: 5 - Ready to Merge, cuDF (Java)

#5072 [REVIEW] Adding cython binding to get_element
  CHANGELOG.md
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/_lib/replace.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/_lib/strings/substring.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/frame.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5029 [REVIEW] Change cuIO test temporary dir to working dir
  CHANGELOG.md
  cpp/tests/utilities/base_fixture.hpp
Labels: 3 - Ready for Review, tests

#5061 [REVIEW] Allow writing parquet to python file like objects
  CHANGELOG.md
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5022 Add timestamp header to transform
  CHANGELOG.md
  cpp/src/binaryop/binaryop.cpp
  cpp/src/jit/common_headers.hpp
  cpp/src/transform/jit/code/code.h
  cpp/src/transform/jit/code/kernel.cpp
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary-transform-test.cu
Labels: Jitify, bug, libcudf

#4998 [REVIEW] Clean up aggregation + result_cache
  CHANGELOG.md
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/aggregation/result_cache.hpp
  cpp/src/aggregation/result_cache.cpp
  cpp/src/groupby/common/utils.hpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/groupby.cu
  cpp/src/reductions/reductions.cpp
Labels: 3 - Ready for Review, code quality, libcudf

#5089 [REVIEW] Return false for sign-only string in libcudf is_float and is_integer
  CHANGELOG.md
  cpp/include/cudf/strings/string.cuh
  cpp/tests/strings/chars_types_tests.cpp
Labels: 3 - Ready for Review, libcudf

#5093 [REVIEW] Add `.cat.as_known` related test in `dask_cudf`
  CHANGELOG.md
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: 5 - Ready to Merge, cuDF (Python), dask-cudf

#5099 [REVIEW] Add git commit hook for clang-format [skip ci]
  .pre-commit-config.yaml
  CHANGELOG.md
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, git

#5064 [REVIEW] Fix `hash()` and `construct_join_output_df()` to use user-provided memory resource correctly
  CHANGELOG.md
  cpp/src/hash/hashing.cu
  cpp/src/join/join.cu
Labels: 3 - Ready for Review, code quality, libcudf

#5101 add POSITION_INDEPENDENT_CODE flag to static cudftestutil library
  CHANGELOG.md
  cpp/tests/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#5090 [REVIEW] Fix losing nulls while creating DataFrame from dictionary
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4995 [REVIEW] Add CMake option for per-thread default stream
  CHANGELOG.md
  cpp/CMakeLists.txt
  java/README.md
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#5104 [REVIEW] Add missing `.inl` files to clang-format and git commit hook
  .pre-commit-config.yaml
  CHANGELOG.md
  cpp/include/cudf/strings/string_view.inl
  cpp/scripts/run-clang-format.py
  cpp/src/strings/regex/regex.inl
Labels: 3 - Ready for Review, code quality, git

#5103 [REVIEW] Fix read_csv issue with names and header
  CHANGELOG.md
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5109 [REVIEW] Update CONTRIBUTING.md for `clang-format` pre-commit hook [skip ci]
  CHANGELOG.md
  CONTRIBUTING.md
Labels: 5 - Ready to Merge, doc

#5055 [REVIEW] atan2 binary operator
  CHANGELOG.md
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/jit/code/operation.cpp
  cpp/src/binaryop/jit/util.hpp
  cpp/tests/binaryop/assert-binops.h
  cpp/tests/binaryop/binop-generic-ptx-test.cu
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/binaryop/util/operation.h
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, feature request

#5106 [REVIEW] Remove table concatenate from experimental namespace and add detail API with stream parameter
  CHANGELOG.md
  cpp/benchmarks/column/concatenate_benchmark.cpp
  cpp/include/cudf/concatenate.hpp
  cpp/include/cudf/detail/concatenate.cuh
  cpp/src/copying/concatenate.cu
  cpp/src/join/join.cu
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/io/orc_test.cu
  cpp/tests/io/parquet_test.cu
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/cpp/concatenate.pxd
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, libcudf, tech debt

#5068 [REVIEW] Java bindings for arctan2 [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/BinaryOp.java
  java/src/main/java/ai/rapids/cudf/BinaryOperable.java
  java/src/test/java/ai/rapids/cudf/BinaryOpTest.java
  java/src/test/java/ai/rapids/cudf/TestUtils.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#5084 Use lot less memory in `label_encoding()`
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_label_encode.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#5004 [REVIEW] max/min binary operator that considers null values
  CHANGELOG.md
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/binaryop/compiled/binary_ops.hpp
  cpp/src/binaryop/jit/code/kernel.cpp
  cpp/src/binaryop/jit/code/operation.cpp
  cpp/src/binaryop/jit/util.hpp
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, feature request

#5123 [REVIEW] Display more useful info on `clang-format` CI Failure
  CHANGELOG.md
  cpp/scripts/run-clang-format.py
Labels: 3 - Ready for Review, gpuCI

#5115 [REVIEW] Fix hex-to-integer logic when string has prefix '0x'
  CHANGELOG.md
  cpp/src/strings/convert/convert_hex.cu
  cpp/tests/strings/integers_tests.cu
Labels: 5 - Ready to Merge, libcudf

#5075 Add simple row-group-aggregating parquet reader
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/opt_parquet.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#5129 Fix missed reference in ColumnVectorTests from #5118 [skip ci]
  CHANGELOG.md
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#5138 Install `contextvars` backport on Python 3.6
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, dask, gpuCI

#5112 [REVIEW] Adding `htoi` and `ip2int` support to `StringMethods`
  CHANGELOG.md
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5092 [REVIEW] Replace nans
  CHANGELOG.md
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/replace.hpp
  cpp/include/cudf/detail/unary.hpp
  cpp/include/cudf/replace.hpp
  cpp/src/copying/copy.cu
  cpp/src/replace/replace.cu
  cpp/src/unary/nan_ops.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/replace/replace_nans_tests.cu
  cpp/tests/strings/floats_tests.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, bug, libcudf

#5024 [REVIEW] CSV reader input stage optimizations
  CHANGELOG.md
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/csv_gpu.h
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
Labels: 3 - Ready for Review, Performance, cuIO, libcudf

#5145 [REVIEW] Fix an issue with calling an aggregation operation on SeriesGroupBy
  CHANGELOG.md
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5132 Support out-of-band buffers in Python pickling
  CHANGELOG.md
  python/cudf/cudf/core/buffer.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5153 [REVIEW] Add in java API for regular expression extract [skip-ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#5156 [REVIEW] Error if boolean mask in masking has nulls
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5108 [REVIEW] Fix float-to-string convert for -0.0
  CHANGELOG.md
  cpp/src/strings/convert/convert_floats.cu
  cpp/tests/strings/floats_tests.cpp
Labels: 5 - Ready to Merge, libcudf

#5054 [REVIEW] Change String typecasting to be inline with Pandas
  CHANGELOG.md
  python/cudf/cudf/_lib/cpp/strings/char_types.pxd
  python/cudf/cudf/_lib/strings/char_types.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python), strings

#5159 [REVIEW] Add `make_meta_object` in `dask_cudf` backend and add `str.split` test
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#5036 [REVIEW] positive remainder binary op
  CHANGELOG.md
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/jit/code/operation.cpp
  cpp/src/binaryop/jit/util.hpp
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/binaryop/util/operation.h
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, feature request

#5163 [REVIEW] Fix parquet INT96 timestamps before the epoch
  CHANGELOG.md
  cpp/src/io/parquet/page_data.cu
  python/cudf/cudf/tests/data/parquet/spark_timestamp.snappy.parquet
Labels: 3 - Ready for Review, Spark, bug, cuIO, libcudf

#5165 [REVIEW] Fix potentially missing last row in csv reader
  CHANGELOG.md
  cpp/src/io/csv/csv_gpu.cu
Labels: 5 - Ready to Merge, cuIO, libcudf

#5100 [REVIEW] Add documentation on libcudf doxygen guidelines [skip ci]
  CHANGELOG.md
  cpp/docs/DOCUMENTATION.md
Labels: 3 - Ready for Review, doc, libcudf

#5167 [REVIEW] Fix regex extract match to return empty string
  CHANGELOG.md
  cpp/src/strings/extract.cu
  cpp/tests/strings/extract_tests.cpp
Labels: 3 - Ready for Review, libcudf

#5184 Fix style checks
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/setup.py
  python/dask_cudf/dask_cudf/backends.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4822 [REVIEW] RAII-ify `pq_chunked_state` [skip ci]
  CHANGELOG.md
  cpp/src/io/parquet/chunked_state.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
Labels: 3 - Ready for Review, code quality, cuIO

#5149 Java bindings for PMOD [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/BinaryOp.java
  java/src/main/java/ai/rapids/cudf/BinaryOperable.java
  java/src/test/java/ai/rapids/cudf/BinaryOpTest.java
  java/src/test/java/ai/rapids/cudf/TestUtils.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#5196 [REVIEW] Added java null aware bin ops bindings [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/BinaryOp.java
  java/src/main/java/ai/rapids/cudf/BinaryOperable.java
  java/src/test/java/ai/rapids/cudf/BinaryOpTest.java
Labels: Spark, cuDF (Java)

#5185 [REVIEW] Fix flake8 3.8 issues
  .pre-commit-config.yaml
  CHANGELOG.md
  ci/checks/style.sh
  python/.flake8
  python/.flake8.cython
  python/cudf/setup.cfg
  python/dask_cudf/setup.cfg
  python/nvstrings/setup.cfg
Labels: 5 - Ready to Merge, cuDF (Python), gpuCI

#5042 [REVIEW] Use RMM for Numba
  CHANGELOG.md
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/cudf/__init__.py
  python/cudf/cudf/tests/test_gpu_arrow_parser.py
  python/cudf/cudf/tests/test_sparse_df.py
  python/cudf/cudf/utils/cudautils.py
Labels: 3 - Ready for Review, cuDF (Python), numba

#5193 [REVIEW] Fix potential OOB read in csv reader
  CHANGELOG.md
  cpp/src/io/csv/csv_gpu.cu
Labels: 5 - Ready to Merge, bug, cuIO, libcudf

#5194 [REVIEW] Update Series.fillna to reflect dtype behavior.
  CHANGELOG.md
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#5162 [REVIEW] Fix issues related to empty `Dataframe` in `as_gpu_matrix` & `astype`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5199 [REVIEW] Add index support in `DataFrame.query`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/queryutils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4484 [REVIEW] Port CSV writer.
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/include/cudf/strings/detail/modify_strings.cuh
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/csv/writer_impl.hpp
  cpp/src/io/functions.cpp
  cpp/src/strings/capitalize.cu
  cpp/tests/io/csv_test.cu
Labels: 5 - Ready to Merge, cuIO, libcudf, libcudf++

#5191 [REVIEW] Fix the use of the device memory resource
  CHANGELOG.md
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/reduction.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/column/column.cu
  cpp/src/column/column_factories.cpp
  cpp/src/copying/concatenate.cu
  cpp/src/copying/copy.cu
  cpp/src/copying/scatter.cu
  cpp/src/copying/shift.cu
  cpp/src/datetime/datetime_ops.cu
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/dictionary_factories.cu
  cpp/src/dictionary/encode.cu
  cpp/src/dictionary/remove_keys.cu
  cpp/src/filling/fill.cu
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/join/join.cu
  cpp/src/merge/merge.cu
  cpp/src/partitioning/partitioning.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/replace.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/src/strings/attributes.cu
  cpp/src/strings/combine.cu
  cpp/src/strings/copying/copying.cu
  cpp/src/strings/extract.cu
  cpp/src/strings/find.cu
  cpp/src/strings/findall.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/split/split.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/src/text/tokenize.cu
  cpp/src/transpose/transpose.cu
Labels: 3 - Ready for Review, libcudf

#5058 [REVIEW] Binding for libcudf++ CSV writer
  CHANGELOG.md
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_s3.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Cython, cuDF (Python), libcudf++

#5198 [REVIEW] Add detail headers for strings converter functions
  CHANGELOG.md
  cpp/include/cudf/strings/detail/combine.hpp
  cpp/include/cudf/strings/detail/converters.hpp
  cpp/src/strings/combine.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_integers.cu
Labels: 3 - Ready for Review, libcudf

#5212 Fix memory leak in dlpack.pyx:from_dlpack()
  CHANGELOG.md
  python/cudf/cudf/_lib/dlpack.pyx
Labels: 5 - Ready to Merge, cuDF (Python)

#5205 [REVIEW] add ci test for libcudf, libnvstrings headers existence check
  CHANGELOG.md
  ci/checks/headers_test.sh
  ci/checks/style.sh
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libnvstrings/meta.yaml
Labels: 3 - Ready for Review, gpuCI

#4972 [REVIEW] Nested types, phase 1
  CHANGELOG.md
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/lists/list_view.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/types.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/column/column.cu
  cpp/src/column/column_factories.cpp
  cpp/src/copying/concatenate.cu
  cpp/src/copying/copy.cu
  cpp/src/copying/copy_range.cu
  cpp/src/copying/get_element.cu
  cpp/src/copying/scatter.cu
  cpp/src/dictionary/search.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/filling/fill.cu
  cpp/src/groupby/sort/group_nunique.cu
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/json/json_gpu.cu
  cpp/src/jit/type.cpp
  cpp/src/reductions/simple.cuh
  cpp/src/replace/clamp.cu
  cpp/src/rolling/rolling.cu
  cpp/src/rolling/rolling_detail.hpp
  cpp/src/scalar/scalar_factories.cpp
  cpp/src/search/search.cu
  cpp/tests/grouped_rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/types/traits_test.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/scalar_utilities.cu
  cpp/tests/utilities/type_lists.hpp
Labels: 3 - Ready for Review, Spark, libcudf

#5224 [REVIEW] Add new headers from 5198 to conda/recipes/libcudf/meta.yaml
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
Labels: 3 - Ready for Review

#5207 [REVIEW] Break up backref_re.cu into multiple source files to improve compile time
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/backref_re_large.cu
  cpp/src/strings/replace/backref_re_medium.cu
Labels: 3 - Ready for Review, libcudf

#5147 [REVIEW] use logging_resource_adaptor from RMM
  CHANGELOG.md
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmMemoryAccessorTest.java
Labels: 3 - Ready for Review, RMM, Spark, libcudf

#5069 [REVIEW] Remove duplicate definitions from docs
  CHANGELOG.md
  cpp/include/cudf/binaryop.hpp
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/concatenate.hpp
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/binaryop.hpp
  cpp/include/cudf/detail/concatenate.cuh
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/copy_range.cuh
  cpp/include/cudf/detail/dlpack.hpp
  cpp/include/cudf/detail/fill.hpp
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/gather.hpp
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/iterator.cuh
  cpp/include/cudf/detail/repeat.hpp
  cpp/include/cudf/detail/replace.hpp
  cpp/include/cudf/detail/scatter.hpp
  cpp/include/cudf/detail/search.hpp
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/detail/transpose.hpp
  cpp/include/cudf/detail/unary.hpp
  cpp/include/cudf/filling.hpp
  cpp/include/cudf/reduction.hpp
  cpp/include/cudf/replace.hpp
  cpp/include/cudf/search.hpp
  cpp/include/cudf/sorting.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/include/cudf/transform.hpp
  cpp/include/cudf/unary.hpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#5219 [REVIEW] Jit context cache
  CHANGELOG.md
  cpp/src/jit/cache.cpp
  cpp/src/jit/cache.h
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#5209 [REVIEW] Add `nan_as_null` support to `cudf.from_pandas`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5203 [REVIEW] Java bindings for numeric tests [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, cuDF (Java)

#5139 Add ``Serializable`` ABC for Python
  CHANGELOG.md
  python/cudf/cudf/comm/serialize.py
  python/cudf/cudf/core/abc.py
  python/cudf/cudf/core/buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_pickling.py
  python/cudf/cudf/tests/test_serialize.py
Labels: 4 - Needs Dask Reviewer, 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#5218 [REVIEW] Reduce mem usage by categorical `codes`, when they have null(s).
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_categorical.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5228 [REVIEW] Automatically typecast unsupported datetime scalars
  CHANGELOG.md
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5235 [WIP] Make DataFrame.clean_renderable_dataframe() and DataFrame.get_renderable_dataframe non-public methods
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 2 - In Progress, cuDF (Python)

#4983 [REVIEW] Fix from_cudf in dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4806 [REVIEW] Modify doc and correct cupy array conversions in `10min-cudf-cupy.ipynb`
  CHANGELOG.md
  docs/cudf/source/10min-cudf-cupy.ipynb
Labels: 5 - Ready to Merge, cuDF (Python), doc

#5251 [REVIEW] more spell check fixes in cpp comments and strings
  CHANGELOG.md
  cpp/benchmarks/synchronization/synchronization.hpp
  cpp/benchmarks/type_dispatcher/type_dispatcher_benchmark.cu
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/strings/detail/modify_strings.cuh
  cpp/include/nvstrings/NVCategory.h
  cpp/include/nvstrings/NVStrings.h
  cpp/src/copying/shift.cu
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cu
  cpp/tests/iterator/iterator_test.cu
  cpp/tests/replace/replace_tests.cu
  cpp/tests/strings/replace_tests.cpp
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/wrappers/timestamps_test.cu
Labels: 3 - Ready for Review, doc, tech debt

#5256 [REVIEW] ORC reader: fix loading individual timestamp columns
  CHANGELOG.md
  cpp/src/io/orc/reader_impl.cu
Labels: 3 - Ready for Review, 5 - Ready to Merge, cuIO, libcudf

#5227 [REVIEW] Refactor `detail::gather` API to use scoped enumerators [skip ci]
  CHANGELOG.md
  cpp/include/cudf/detail/gather.hpp
  cpp/src/copying/gather.cu
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/decode.cu
  cpp/src/dictionary/remove_keys.cu
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_argmax.cu
  cpp/src/groupby/sort/group_argmin.cu
  cpp/src/groupby/sort/groupby.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/rolling/rolling.cu
  cpp/src/sort/sort.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/src/strings/copying/copying.cu
  cpp/src/strings/sorting/sorting.cu
  cpp/tests/copying/gather_tests.cu
Labels: 3 - Ready for Review, bug, code quality

#5023 [REVIEW] Object oriented join with column agnostic typecasting
  CHANGELOG.md
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/join/__init__.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_numerical.py
  python/dask_cudf/dask_cudf/tests/test_join.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5261 [WIP] Add short git commit to conda package name
  CHANGELOG.md
  ci/cpu/build.sh
  conda/recipes/cudf/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libnvstrings/meta.yaml
  conda/recipes/nvstrings/meta.yaml
Labels: 2 - In Progress, conda

#5231 Type `Buffer` as `uint8`
  CHANGELOG.md
  python/cudf/cudf/core/abc.py
  python/cudf/cudf/core/buffer.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5213 [REVIEW] Documentation enhancements to `cudf` python APIs
  CHANGELOG.md
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  docs/cudf/source/_static/copybutton_pydocs.js
  docs/cudf/source/_static/params.css
  docs/cudf/source/api.rst
  docs/cudf/source/conf.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_string.py
  python/dask_cudf/dask_cudf/core.py
Labels: 3 - Ready for Review, cuDF (Python), doc

#5192 [REVIEW] Add support for `cudf.to_datetime`
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/tools/__init__.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5288 Drop `auto_pickle` decorator
  CHANGELOG.md
  python/cudf/cudf/_lib/column.pyx
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#5250 [REVIEW] Use iobase_data_sink with CSV writer
  CHANGELOG.md
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), cuIO

#5270 [REVIEW] Add support to check for "NaT" and "None" strings while typecasting to `datetime64`
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5268 Rely on NumPy arrays for out-of-band pickling
  CHANGELOG.md
  python/cudf/cudf/core/abc.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5269 Explicitly require NumPy
  CHANGELOG.md
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/recipes/cudf/meta.yaml
Labels: 5 - Ready to Merge, conda

#5293 [REVIEW] Implement Java bindings for replace_with_backrefs
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Spark, cuDF (Java)

#5299 Update package version for Java bindings [skip ci]
  CHANGELOG.md
  java/pom.xml
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#5254 [REVIEW] Deprecate nvstrings
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
  python/nvstrings/nvcategory.py
  python/nvstrings/nvstrings.py
  python/nvstrings/nvtext.py
Labels: 5 - Ready to Merge, cuDF (Python), strings

#5297 Manual Merge Branch 0.14 -> Branch 0.15
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 5 - Ready to Merge

#5285 [REVIEW] Fix DEBUG compilation failure due to `fixed_point.hpp`
  CHANGELOG.md
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/tests/fixed_point/fixed_point_tests.cu
Labels: 3 - Ready for Review, bug

#5271 [REVIEW] Fix issue when different dtype values are passed to `.cat.add_categories`
  CHANGELOG.md
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_categorical.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5298 [REVIEW] Remove unused native deps from java library [skip-ci]
  CHANGELOG.md
  java/README.md
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/NativeDepsLoader.java
Labels: cuDF (Java)

#5283 [REVIEW] Fix strings::ipv4_to_integers overflow to negative
  CHANGELOG.md
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/tests/strings/ipv4_tests.cpp
Labels: 3 - Ready for Review, libcudf

#5239 [REVIEW] Support for custom cuIO datasource classes
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/io/datasource.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/datasource.hpp
  cpp/tests/io/csv_test.cu
  python/cudf/cudf/_lib/cpp/io/types.pxd
Labels: 3 - Ready for Review, cuIO

#5222 [REVIEW] Adding clip feature support to DataFrame and Series
  CHANGELOG.md
  python/cudf/cudf/_lib/replace.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_replace.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5308 Coerce frames to `Buffer`s in deserialization
  CHANGELOG.md
  python/cudf/cudf/core/abc.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5248 [REVIEW] interleave_columns support for string types
  CHANGELOG.md
  cpp/src/reshape/interleave_columns.cu
  cpp/tests/reshape/interleave_columns_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, feature request

#5245 [REVIEW] column reduction benchmark
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reduction/reduce_benchmark.cpp
Labels: 5 - Ready to Merge, Performance

#5300 [REVIEW] Add support to ignore `None` in `cudf.concat` input
  CHANGELOG.md
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_concat.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5312 Test serializing `Series` after `slice`
  CHANGELOG.md
  python/cudf/cudf/tests/test_serialize.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5334 Fix pickling sizeof test
  CHANGELOG.md
  python/cudf/cudf/tests/test_pickling.py
Labels: 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#5309 Handle host frames in serialization
  CHANGELOG.md
  python/cudf/cudf/core/abc.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5342 [REVIEW] Add support for `StringMethods.__getitem__`
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5337 Fix broken alias from DataFrame.{at,iat} to {loc,iloc}
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, cuDF (Python)
