Repository rapidsai/cudf, pull requests merged in 2020-09, with the labels that each got.

#6128 [REVIEW] Add support for numpy RandomState handling in `sample`
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5874 [REVIEW] Add `COLLECT` groupby aggregation
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/group_collect.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/groupby.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/group_collect_test.cpp
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf

#6125 [REVIEW] Add support for `Series.mode` and `DataFrame.mode`
  CHANGELOG.md
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6015 [REVIEW] upgrade CUB/Thrust to the latest commit
  CHANGELOG.md
  thirdparty/CMakeLists.txt
  thirdparty/thrust-ret-if-fail.patch
Labels: 3 - Ready for Review, CMake, libcudf

#6124 [REVIEW] fix gcc-9 compilation errors on tests
  CHANGELOG.md
  cpp/tests/copying/copy_tests.cu
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/utilities/column_wrapper.hpp
Labels: 5 - Ready to Merge, libcudf

#5975 [REVIEW] Add strings filter_characters API
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/translate.hpp
  cpp/src/strings/filter_chars.cu
  cpp/tests/strings/translate_tests.cpp
  python/cudf/cudf/_lib/cpp/strings/translate.pxd
  python/cudf/cudf/_lib/strings/translate.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, libcudf, strings

#6141 [REVIEW] fix Dataframe name typo and legacy addition of consumer
  CHANGELOG.md
  python/custreamz/README.md
Labels: 5 - Ready to Merge, cuStreamz, doc

#6143 [REVIEW] Small fixes and improvements to java Arrow IPC [skip-ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ArrowIPCOptions.java
  java/src/main/java/ai/rapids/cudf/ArrowIPCWriterOptions.java
  java/src/main/java/ai/rapids/cudf/StreamedTableReader.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6106 [REVIEW] days to int64_t to compute 64 bit arithmetic
  CHANGELOG.md
  cpp/src/io/csv/datetime.cuh
  python/cudf/cudf/tests/test_csv.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, cuIO, libcudf

#6150 [REVIEW] Fix issue related to inferring `datetime64` format with UTC timezone in string data
  CHANGELOG.md
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6154 [REVIEW] Row-wise op warning when necessary
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5984 [REVIEW] Support gather() for CUDF struct columns
  CHANGELOG.md
  cpp/include/cudf/detail/gather.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/gather_struct_tests.cu
  cpp/tests/structs/structs_column_tests.cu
Labels: 5 - Ready to Merge, libcudf

#6155 [REVIEW] use the CUB submodule in Thrust instead of fetching it
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#6176 [REVIEW] Fix CMake warnings in external projects
  CHANGELOG.md
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Modules/ConfigureGoogleBenchmark.cmake
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
Labels: 5 - Ready to Merge, CMake

#6172 [REVIEW] Fix slice issue with empty column
  CHANGELOG.md
  cpp/src/copying/slice.cpp
  cpp/tests/copying/slice_tests.cpp
Labels: 5 - Ready to Merge, libcudf

#6159 [REVIEW] Fix issue related to empty `Dataframe` with columns input to `DataFrame.appened`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6186 [REVIEW] Fix the java build now that cub has moved locations [skip ci]
  CHANGELOG.md
  java/src/main/native/CMakeLists.txt
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6163 [REVIEW] Use `Column.full` instead of `scalar_broadcast_to` or `cupy.zeros`
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/dask_cudf/dask_cudf/backends.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6184 [REVIEW] Add cuda 11 dev environment.yml
  CHANGELOG.md
  conda/environments/cudf_dev_cuda11.0.yml
Labels: 5 - Ready to Merge, cuDF (Python)

#6173 [REVIEW] Fix normalize_characters offset logic on sliced strings column
  CHANGELOG.md
  cpp/src/text/normalize.cu
  cpp/src/text/subword/data_normalizer.cu
  cpp/src/text/subword/detail/data_normalizer.hpp
  cpp/src/text/subword/detail/wordpiece_tokenizer.hpp
  cpp/src/text/subword/subword_tokenize.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
  cpp/tests/text/normalize_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings

#6182 [REVIEW] Fix cmake build for arrow
  CHANGELOG.md
  cpp/cmake/Modules/ConfigureArrow.cmake
Labels: 5 - Ready to Merge, CMake

#5779 [REVIEW] Add DataFrame pivot/unstack
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/null_mask.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/dictionary/encode.cu
  cpp/src/transform/encode.cpp
  cpp/src/transform/encode.cu
  cpp/tests/encode/encode_tests.cpp
  python/cudf/cudf/_lib/cpp/transform.pxd
  python/cudf/cudf/_lib/move.pxd
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_reshape.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf

#6051 [REVIEW] Add builder API for cuIO `write_parquet_args` and `read_parquet_args`
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/io/parquet/parquet_reader_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks_benchmark.cpp
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/chunked_state.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_test.cpp
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/move.pxd
  python/cudf/cudf/_lib/parquet.pyx
Labels: 5 - Ready to Merge, cuDF (Python), libcudf

#6189 Avoid guid use from deprecated pyarrow.compat
  CHANGELOG.md
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#6190 Avoid reading full csv files for metadata in dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/csv.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
Labels: 5 - Ready to Merge, dask

#6195 Update JNI to use parquet options builder [skip ci]
  CHANGELOG.md
  java/src/main/native/src/TableJni.cpp
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6099 [REVIEW] Add fluent builder apis to `json_reader_options` and `avro_reader_options`
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/io/avro.hpp
  cpp/include/cudf/io/detail/avro.hpp
  cpp/include/cudf/io/detail/json.hpp
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/json.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/_lib/avro.pyx
  python/cudf/cudf/_lib/cpp/io/avro.pxd
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/cpp/io/json.pxd
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/move.pxd
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, cuDF (Python), libcudf

#6194 [REVIEW] Remove unnecessary memory-resource parameter in cudf::contains API
  CHANGELOG.md
  cpp/include/cudf/detail/search.hpp
  cpp/include/cudf/search.hpp
  cpp/src/search/search.cu
Labels: 3 - Ready for Review, libcudf

#6197 Remove librmm dependency for libcudf
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#6152 [REVIEW] Change dictionary indices to uint32
  CHANGELOG.md
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/dictionary/detail/encode.hpp
  cpp/include/cudf/dictionary/detail/search.hpp
  cpp/include/cudf/dictionary/encode.hpp
  cpp/include/cudf/dictionary/search.hpp
  cpp/src/column/column.cu
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/decode.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/dictionary_column_view.cpp
  cpp/src/dictionary/dictionary_factories.cu
  cpp/src/dictionary/encode.cu
  cpp/src/dictionary/remove_keys.cu
  cpp/src/dictionary/search.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/filling/fill.cu
  cpp/src/interop/from_arrow.cpp
  cpp/src/interop/to_arrow.cpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/dictionary/add_keys_test.cpp
  cpp/tests/dictionary/encode_test.cpp
  cpp/tests/dictionary/factories_test.cpp
  cpp/tests/dictionary/search_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, libcudf

#6199 Fix index preservation for dask_cudf parquet
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 5 - Ready to Merge, dask

#6162 [REVIEW] cuio: reduce output parameters in csv + json impl:
  CHANGELOG.md
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/csv_gpu.h
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/json_gpu.h
  cpp/src/io/json/reader_impl.cu
Labels: 5 - Ready to Merge, cuIO, libcudf

#6092 [REVIEW] Add `name` and `dtype` field to `Index.copy`
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6207 Remove shared libs from Java sources jar [skip ci]
  CHANGELOG.md
  java/pom.xml
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6179 [BUG] `make_elements` copies to `iterator` without adjusting `size`
  CHANGELOG.md
  cpp/tests/copying/gather_tests.cu
  cpp/tests/utilities/column_wrapper.hpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, bug

#6212 [REVIEW] Update CODEOWNERS file [skip-ci]
  .github/CODEOWNERS
  CHANGELOG.md
Labels: 3 - Ready for Review

#6226 [REVIEW] Add in some JNI checks for null handles [skip ci]
  CHANGELOG.md
  java/src/main/native/src/ColumnVectorJni.cpp
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6209 [REVIEW] Remove cxx11 abi handling from CMake
  CHANGELOG.md
  CONTRIBUTING.md
  build.sh
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Modules/ConfigureGoogleBenchmark.cmake
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/libcudf_kafka/cmake/Modules/ConfigureGoogleTest.cmake
Labels: 5 - Ready to Merge, CMake

#6223 Remove CXX11 ABI flag from JNI build [skip ci]
  CHANGELOG.md
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6214 [REVIEW] Small clean up to use more algorithms
  CHANGELOG.md
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/reader_impl.cu
Labels: 3 - Ready for Review, code quality

#6215 Add cmake command-line setting for spdlog logging level
  CHANGELOG.md
  cpp/CMakeLists.txt
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake, cuDF (Java), libcudf

#6060 [REVIEW] Add support for all types in `Series.describe` and `DataFrame.describe`
  CHANGELOG.md
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_scan.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_setitem.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/docutils.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6157 [REVIEW] Concatenate an empty and non-empty series
  CHANGELOG.md
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_concat.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6174 [REVIEW] Data profile support in random data generator; Expand cuIO benchmarks
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/common/generate_benchmark_input.cpp
  cpp/benchmarks/common/generate_benchmark_input.hpp
  cpp/benchmarks/common/random_distribution_factory.hpp
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/benchmarks/io/cuio_benchmarks_common.hpp
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_reader_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks_benchmark.cpp
  cpp/benchmarks/type_dispatcher/type_dispatcher_benchmark.cu
Labels: 5 - Ready to Merge, cuIO, libcudf

#6204 Add dockerfile and script to build cuDF jar
  CHANGELOG.md
  java/ci/Dockerfile.centos7
  java/ci/README.md
  java/ci/build-in-docker.sh
Labels: cuDF (Java)

#6217 [REVIEW] Parquet reader bounds checking error fix.
  CHANGELOG.md
  cpp/src/io/parquet/page_data.cu
Labels: 4 - Needs cuIO Reviewer, bug

#6240 [REVIEW] Don't shallow copy index in as_index() unless necessary
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/join.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6202 [REVIEW] Add additional parameter support to `DataFrame.drop`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_hdf.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6245 [REVIEW] Split up replace.cu into multiple source files
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/replace/nans.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
Labels: 5 - Ready to Merge, libcudf

#6251 Remove remaining calls to RMM get_default_resource
  CHANGELOG.md
  cpp/include/cudf/io/avro.hpp
  cpp/include/cudf/io/detail/avro.hpp
  cpp/include/cudf/io/detail/json.hpp
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/json.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/strings/translate.hpp
  cpp/src/interop/to_arrow.cpp
  cpp/src/transform/encode.cu
Labels: 3 - Ready for Review, libcudf

#6258 [REVIEW] Pin conda boost-cpp to 1.72.0
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
Labels: 5 - Ready to Merge, conda

#6234 [REVIEW] csv infinity parsing support
  CHANGELOG.md
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/utilities/parsing_utils.cuh
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO, libcudf

#6218 [REVIEW] cuio: rename reader/writer private members for visibility
  CHANGELOG.md
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Labels: 5 - Ready to Merge, cuIO

#6259 [REVIEW] Fix compilation error with GCC 8
  CHANGELOG.md
  cpp/benchmarks/common/generate_benchmark_input.cpp
Labels: 3 - Ready for Review, 5 - Ready to Merge

#6138 [REVIEW] Add builder API for cuIO `orc_writer_options` and `orc_reader_options`
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/include/cudf/io/detail/orc.hpp
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/chunked_state.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/tests/io/orc_test.cpp
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/move.pxd
  python/cudf/cudf/_lib/orc.pyx
Labels: 5 - Ready to Merge, cuDF (Python), libcudf

#6265 Update JNI to use ORC options builder [skip ci]
  CHANGELOG.md
  java/src/main/native/src/TableJni.cpp
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6264 [REVIEW] Remove include statement for missing rmm/mr/device/default_memory_resource.hpp file
  CHANGELOG.md
  cpp/include/cudf/io/orc.hpp
Labels: 5 - Ready to Merge, libcudf

#6171 [REVIEW] Java and Jni support for Struct columns [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnViewAccess.java
  java/src/main/java/ai/rapids/cudf/DType.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ScalarTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6122 [REVIEW] Add builder API for cuIO `csv_writer_options` and `csv_reader_options`
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/include/cudf/io/avro.hpp
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/csv.hpp
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/libcudf_kafka/tests/kafka_consumer_tests.cpp
  cpp/src/io/avro/reader_impl.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/csv/writer_impl.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/_lib/cpp/io/csv.pxd
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/move.pxd
  python/cudf/cudf/_lib/parquet.pyx
Labels: 5 - Ready to Merge, cuDF (Python), libcudf

#6206 [REVIEW] Replace function macros with inline functions
  CHANGELOG.md
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/snap.cu
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/utilities/block_utils.cuh
Labels: cuIO

#6273 Update JNI to use CSV options builder [skip ci]
  CHANGELOG.md
  java/src/main/native/src/TableJni.cpp
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6262 Add nth element agg with null handling for column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/src/reductions/nth_element.cu
  cpp/src/reductions/reductions.cpp
  cpp/tests/reductions/reduction_tests.cpp
Labels: 5 - Ready to Merge, libcudf

#6257 [REVIEW] Support truncated fractions in cudf::strings::to_timestamp
  CHANGELOG.md
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Labels: 5 - Ready to Merge, libcudf, strings

#6230 [REVIEW] Support any unsigned int type for dictionary indices
  CHANGELOG.md
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/indexalator.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/dictionary/detail/encode.hpp
  cpp/include/cudf/dictionary/dictionary_factories.hpp
  cpp/include/cudf/dictionary/encode.hpp
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/dictionary_factories.cu
  cpp/src/dictionary/encode.cu
  cpp/src/dictionary/remove_keys.cu
  cpp/src/dictionary/search.cu
  cpp/src/dictionary/set_keys.cu
Labels: 3 - Ready for Review, libcudf

#6289 [REVIEW] Revert 6206
  CHANGELOG.md
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/snap.cu
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/utilities/block_utils.cuh
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, cuIO, libcudf

#6287 [REVIEW] Make java aggregate API follow C++ API [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Aggregate.java
  java/src/main/java/ai/rapids/cudf/AggregateOp.java
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/AggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/AggregationOverWindow.java
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/QuantileMethod.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/WindowAggregate.java
  java/src/main/java/ai/rapids/cudf/WindowAggregateOp.java
  java/src/main/java/ai/rapids/cudf/WindowOptions.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/AggregationJni.cpp
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/cudf_jni_apis.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ReductionTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6120 [REVIEW] Consolidate functionality in NestedHostColumnVector and HostColumnVector [skip-ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVectorCore.java
  java/src/main/java/ai/rapids/cudf/MemoryCleaner.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6286 [REVIEW] Fix read_csv `int32` overflow
  CHANGELOG.md
  cpp/include/cudf/io/csv.hpp
  python/cudf/cudf/_lib/cpp/io/csv.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, cuIO, libcudf

#6183 [REVIEW] Fix output based on dtype for acos( )
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_ops.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6304 [REVIEW] Fix span_tests.cu includes
  CHANGELOG.md
  cpp/tests/utilities_tests/span_tests.cu
Labels: 5 - Ready to Merge, libcudf, libcudf blocker

#6292 remove individual size tracking from JNI tracking resource adaptor [skip ci]
  CHANGELOG.md
  java/src/main/native/src/RmmJni.cpp
Labels: 5 - Ready to Merge, cuDF (Java)

#6231 [REVIEW] Match `DataFrame.set_index` with pandas
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6281 [REVIEW] fix warning unreachable code in datetime.cuh
  CHANGELOG.md
  cpp/src/io/csv/datetime.cuh
Labels: 5 - Ready to Merge, libcudf

#6298 [REVIEW] fix gcc-9 compilation error
  CHANGELOG.md
  cpp/src/dictionary/remove_keys.cu
Labels: 5 - Ready to Merge, libcudf

#6243 [REVIEW] Move `equals()` logic to `Frame`
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6285 Remove unsafe `reinterpret_cast` and implicit pointer-to-bool casts
  CHANGELOG.md
  cpp/src/io/avro/avro_gpu.cu
Labels: 5 - Ready to Merge, cuIO, libcudf

#6248 [REVIEW] Optimize groupby-agg in dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/__init__.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, dask

#6114 [REVIEW] Implement Fuzz tests for cuIO
  CHANGELOG.md
  python/cudf/cudf/fuzz_tests/fuzz_test_csv.py
  python/cudf/cudf/fuzz_tests/fuzz_test_json.py
  python/cudf/cudf/fuzz_tests/fuzz_test_parquet.py
  python/cudf/cudf/fuzz_tests/readme.md
  python/cudf/cudf/testing/csv.py
  python/cudf/cudf/testing/fuzzer.py
  python/cudf/cudf/testing/io.py
  python/cudf/cudf/testing/json.py
  python/cudf/cudf/testing/main.py
  python/cudf/cudf/testing/parquet.py
  python/cudf/cudf/testing/utils.py
  python/cudf/cudf/tests/dataset_generator.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO

#6291 [REVIEW] Fix issue related to row-wise operations in `cudf.DataFrame`
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6310 Replace a misspelled reference to `master` branch with `main` branch in a comment in changelog.sh
  CHANGELOG.md
  ci/checks/changelog.sh
Labels: 5 - Ready to Merge, gpuCI

#6311 [REVIEW] Switch thrust to use the NVIDIA/thrust repo
  CHANGELOG.md
  thirdparty/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#6254 [REVIEW] Add cudf::make_dictionary_from_scalar factory function
  CHANGELOG.md
  cpp/include/cudf/column/column_factories.hpp
  cpp/src/column/column_factories.cpp
  cpp/tests/column/factories_test.cpp
Labels: 3 - Ready for Review, libcudf

#6294 [REVIEW] Fix/read parquet for empty DataFrame
  CHANGELOG.md
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO

#6301 Add JNI bindings to nvcomp [skip ci]
  CHANGELOG.md
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/MemoryCleaner.java
  java/src/main/java/ai/rapids/cudf/NativeDepsLoader.java
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/UnsafeMemoryAccessor.java
  java/src/main/java/ai/rapids/cudf/nvcomp/BatchedLZ4Compressor.java
  java/src/main/java/ai/rapids/cudf/nvcomp/BatchedLZ4Decompressor.java
  java/src/main/java/ai/rapids/cudf/nvcomp/CompressionType.java
  java/src/main/java/ai/rapids/cudf/nvcomp/Decompressor.java
  java/src/main/java/ai/rapids/cudf/nvcomp/LZ4Compressor.java
  java/src/main/java/ai/rapids/cudf/nvcomp/NvcompCudaException.java
  java/src/main/java/ai/rapids/cudf/nvcomp/NvcompException.java
  java/src/main/java/ai/rapids/cudf/nvcomp/NvcompJni.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/cmake/Modules/ConfigureNvcomp.cmake
  java/src/main/native/cmake/Templates/Nvcomp.CMakeLists.txt.cmake
  java/src/main/native/src/NvcompJni.cpp
  java/src/test/java/ai/rapids/cudf/HostMemoryBufferTest.java
  java/src/test/java/ai/rapids/cudf/UnsafeMemoryAccessorTest.java
  java/src/test/java/ai/rapids/cudf/nvcomp/NvcompTest.java
Labels: 3 - Ready for Review, cuDF (Java)

#6321 [REVIEW] Add JNI support for `arena_memory_resource` [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/RmmAllocationMode.java
  java/src/main/native/src/RmmJni.cpp
Labels: 3 - Ready for Review, cuDF (Java)

#6296 [REVIEW] Handle double quote and escape character in json
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/strings/detail/replace.hpp
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/strings/replace/replace.cu
  python/cudf/cudf/tests/test_json.py
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, 4 - Needs libcudf Reviewer, cuIO, libcudf

#6271 [REVIEW] Add support to deep-copy struct columns from struct column-view
  CHANGELOG.md
  cpp/src/column/column.cu
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
  cpp/tests/structs/structs_column_tests.cu
Labels: 3 - Ready for Review

#6293 [REVIEW] Replace shuffle warp reduce with cub calls
  CHANGELOG.md
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/statistics/column_stats.cu
Labels: code quality, cuIO, libcudf

#6278 [REVIEW] Add filter tests and nested type host side API [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6302 [REVIEW] Custom accessors
  CHANGELOG.md
  docs/cudf/source/api.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/api/__init__.py
  python/cudf/cudf/api/extensions/__init__.py
  python/cudf/cudf/api/extensions/accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_custom_accessor.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6331 [REVIEW] Avoids materializing `RangeIndex` during frame concatnation (when not needed)
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6220 [REVIEW] Kafka list topics
  CHANGELOG.md
  cpp/libcudf_kafka/include/cudf_kafka/kafka_consumer.hpp
  cpp/libcudf_kafka/src/kafka_consumer.cpp
  python/cudf_kafka/cudf_kafka/_lib/kafka.pxd
  python/cudf_kafka/cudf_kafka/_lib/kafka.pyx
  python/custreamz/custreamz/kafka.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, cuStreamz

#6306 [REVIEW] Remove cpw macros from page encode kernels
  CHANGELOG.md
  cpp/src/io/avro/avro.h
  cpp/src/io/avro/avro_common.h
  cpp/src/io/avro/avro_gpu.h
  cpp/src/io/comp/brotli_dict.h
  cpp/src/io/comp/brotli_tables.h
  cpp/src/io/comp/gpuinflate.h
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/parquet/chunked_state.hpp
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet.cpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/writer_impl.hpp
Labels: code quality, cuIO, libcudf

#6330 [REVIEW] add ability to query if PTDS is enabled
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/utilities/default_stream.hpp
  cpp/src/utilities/default_stream.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities_tests/default_stream_tests.cpp
Labels: 5 - Ready to Merge, libcudf

#6308 [REVIEW] Add dictionary support to cudf::scatter with scalar
  CHANGELOG.md
  cpp/include/cudf/detail/indexalator.cuh
  cpp/src/copying/scatter.cu
  cpp/tests/dictionary/scatter_test.cpp
Labels: 3 - Ready for Review, libcudf

#6139 [REVIEW] Byte casting functionality
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/byte_cast.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/reshape/byte_cast_tests.cpp
Labels: 3 - Ready for Review, Spark, libcudf

#6335 [FIX] README: fix conda commands for outdated python version [skip-ci]
  CHANGELOG.md
  README.md
Labels: 4 - Waiting on Author, doc

#6357 Use `pandas.testing`
  CHANGELOG.md
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_delayed_io.py
Labels: 5 - Ready to Merge, dask

#6332 [REVIEW] Add support to return csv as string when `path=None` in `to_csv`
  CHANGELOG.md
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuIO

#6205 [REVIEW] Add dictionary support to cudf::contains
  CHANGELOG.md
  cpp/include/cudf/search.hpp
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/filling/fill.cu
  cpp/src/search/search.cu
  cpp/tests/dictionary/add_keys_test.cpp
  cpp/tests/search/search_test.cpp
Labels: 3 - Ready for Review, libcudf

#6315 [REVIEW] Native code for string-map lookups for cudf-java
  CHANGELOG.md
  java/pom.xml
  java/src/main/native/CMakeLists.txt
  java/src/main/native/cmake/EvalGpuArchs.cmake
  java/src/main/native/src/map_lookup.cu
  java/src/main/native/src/map_lookup.hpp
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, Spark

#6328 [REVIEW] Data buffer bugfix and Java bindings for getMapValue/map_lookup [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVectorCore.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#6371 [REVIEW] Use ColumnViewAccess on Host side [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnViewAccess.java
  java/src/main/java/ai/rapids/cudf/HostColumnVectorCore.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#6354 [REVIEW] perform shallow clone of external projects
  CHANGELOG.md
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
  cpp/libcudf_kafka/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
Labels: 5 - Ready to Merge, CMake, libcudf

#6345 Fix ambiguous constructor compile error with devtoolset
  CHANGELOG.md
  cpp/tests/io/parquet_test.cpp
Labels: 5 - Ready to Merge, libcudf

#6232 [REVIEW] `Json` and `Avro` benchmarking in python
  CHANGELOG.md
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  python/cudf/cudf/benchmarks/README.md
  python/cudf/cudf/benchmarks/bench_cudf_io.py
  python/cudf/cudf/benchmarks/conftest.py
  python/cudf/cudf/benchmarks/get_datasets.sh
  python/cudf/setup.cfg
Labels: 5 - Ready to Merge, cuDF (Python)

#6377 [REVIEW] Update ci/local/README.md
  CHANGELOG.md
  ci/local/README.md
Labels: 5 - Ready to Merge, gpuCI
