Repository rapidsai/cudf, pull requests merged in 2020-12, with the labels that each got.

#6859 Move align_ptr_for_type() from cuda.cuh to alignment.hpp
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/utilities/alignment.hpp
  cpp/include/cudf/detail/utilities/cuda.cuh
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, feature request, libcudf, non-breaking

#6861 Fix compile error in type_dispatch_benchmark.cu
  CHANGELOG.md
  cpp/benchmarks/type_dispatcher/type_dispatcher_benchmark.cu
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#6666 [REVIEW] Add dictionary support to cudf::reduce
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/reduction.cuh
  cpp/src/copying/get_element.cu
  cpp/src/quantiles/quantile.cu
  cpp/src/reductions/all.cu
  cpp/src/reductions/any.cu
  cpp/src/reductions/compound.cuh
  cpp/src/reductions/max.cu
  cpp/src/reductions/mean.cu
  cpp/src/reductions/min.cu
  cpp/src/reductions/nth_element.cu
  cpp/src/reductions/product.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/simple.cuh
  cpp/src/reductions/std.cu
  cpp/src/reductions/sum.cu
  cpp/src/reductions/sum_of_squares.cu
  cpp/src/reductions/var.cu
  cpp/tests/reductions/reduction_tests.cpp
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, feature request, libcudf, non-breaking

#6800 [REVIEW] Push DeviceScalar to cython-only
  CHANGELOG.md
  python/cudf/cudf/_lib/nvtext/generate_ngrams.pyx
  python/cudf/cudf/_lib/nvtext/ngrams_tokenize.pyx
  python/cudf/cudf/_lib/nvtext/replace.pyx
  python/cudf/cudf/_lib/nvtext/tokenize.pyx
  python/cudf/cudf/_lib/strings/char_types.pyx
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/strings/find.pyx
  python/cudf/cudf/_lib/strings/replace.pyx
  python/cudf/cudf/_lib/strings/replace_re.pyx
  python/cudf/cudf/_lib/strings/split/partition.pyx
  python/cudf/cudf/_lib/strings/split/split.pyx
  python/cudf/cudf/_lib/strings/strip.pyx
  python/cudf/cudf/_lib/strings/translate.pyx
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/utils/utils.py
Labels: 3 - Ready for Review, Cython, cuDF (Python)

#6809 [REVIEW] Verify that concatenating columns does not overflow size_type
  CHANGELOG.md
  cpp/src/copying/concatenate.cu
  cpp/tests/copying/concatenate_tests.cu
Labels: 6 - Okay to Auto-Merge, improvement, libcudf, non-breaking

#6807 Refactor `std::array` usage in row group index writing in ORC
  CHANGELOG.md
  cpp/src/io/orc/writer_impl.cu
Labels: 6 - Okay to Auto-Merge, cuIO, improvement, libcudf, non-breaking

#6869 Specify git branches to avoid pip unresolvable issues
  CHANGELOG.md
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/recipes/dask-cudf/run_test.sh
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#6771 [REVIEW] Fix index handling in parquet reader and writer
  CHANGELOG.md
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_pandas_interop.py
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, Cython, cuDF (Python), improvement, non-breaking

#6392 [REVIEW] add groupby hash mean aggregation, 2-pass method of hash groupby
  CHANGELOG.md
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/hash/groupby_kernels.cuh
  cpp/src/groupby/hash/multi_pass_kernels.cuh
  cpp/src/groupby/sort/groupby.cu
  cpp/src/reductions/reductions.cpp
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, Performance, feature request, libcudf, non-breaking

#6806 [REVIEW] Force local artifact install [skip-ci]
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#6619 [REVIEW] Improve Dockerfile
  CHANGELOG.md
  Dockerfile
Labels: 6 - Okay to Auto-Merge, container, improvement, non-breaking

#6875 [REVIEW] Remove bounds check for `cudf::gather`
  CHANGELOG.md
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/gather.hpp
  cpp/src/copying/gather.cu
  cpp/src/copying/sample.cu
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/decode.cu
  cpp/src/dictionary/remove_keys.cu
  cpp/src/filling/repeat.cu
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_argmax.cu
  cpp/src/groupby/sort/group_argmin.cu
  cpp/src/groupby/sort/group_nth_element.cu
  cpp/src/groupby/sort/groupby.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/semi_join.cu
  cpp/src/lists/extract.cu
  cpp/src/partitioning/round_robin.cu
  cpp/src/quantiles/quantiles.cu
  cpp/src/reshape/tile.cu
  cpp/src/rolling/rolling.cu
  cpp/src/sort/sort.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/src/strings/copying/copying.cu
  cpp/src/strings/sorting/sorting.cu
  cpp/src/transform/encode.cu
  cpp/tests/copying/detail_gather_tests.cu
  cpp/tests/copying/gather_list_tests.cu
  cpp/tests/copying/gather_str_tests.cu
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/_lib/cpp/reduce.pxd
  python/cudf/cudf/_lib/reduce.pyx
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, breaking, cuDF (Python), feature request, libcudf

#6726 Support selecting different hash functions in hash_partition
  CHANGELOG.md
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/partitioning.hpp
  cpp/src/hash/hashing.cu
  cpp/src/partitioning/partitioning.cu
  cpp/tests/partitioning/hash_partition_test.cpp
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, feature request, libcudf, non-breaking

#6887 Fix typo and `0-d` numpy array handling in binary operation
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_binops.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, cuDF (Python), non-breaking

#6839 [REVIEW]Handle index when dispatching __array_function__ and __array_ufunc__ to cupy for cudf.Series
  CHANGELOG.md
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), improvement, non-breaking

#6781 [REVIEW] Serial murmur3 hash with configurable seed
  CHANGELOG.md
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/types.hpp
  cpp/src/hash/hashing.cu
  cpp/tests/hashing/hash_test.cpp
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HashType.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  python/cudf/cudf/_lib/cpp/hash.pxd
  python/cudf/cudf/_lib/cpp/types.pxd
  python/cudf/cudf/_lib/hash.pyx
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, Spark, improvement, libcudf, non-breaking

#6808 [REVIEW] Adding `decimal32` and `decimal64` support to parquet reading
  CHANGELOG.md
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, Spark, cuIO, feature request, libcudf, non-breaking

#6815 [REVIEW] Support read_parquet with paths resolving to multiple files
  CHANGELOG.md
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), cuIO, feature request, non-breaking

#6899 Update JNI to new gather boundary check API [skip ci]
  CHANGELOG.md
  java/src/main/native/src/map_lookup.cu
Labels: bug, cuDF (Java), non-breaking

#6898 Fix missing clone overrides on derived aggregations
  CHANGELOG.md
  cpp/include/cudf/detail/aggregation/aggregation.hpp
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, libcudf, non-breaking

#6908 [REVIEW] Parquet option for strictly decimal reading [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ParquetOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/resources/decimal.parquet
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking

#6483 [REVIEW] Create agg() function for dataframes
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), feature request, non-breaking

#6914 [REVIEW] Enable groupby `list` aggregation for strings
  CHANGELOG.md
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, cuDF (Python), non-breaking

#6902 [Review] Implement DataFrame.quantile for datetime and timedelta data types
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), improvement, non-breaking

#6912 Fix rmm_mode=managed parameter for gtests
  CHANGELOG.md
  cpp/include/cudf_test/base_fixture.hpp
Labels: 6 - Okay to Auto-Merge, bug, libcudf, non-breaking, tests

#6929 [REVIEW] Add `Index.set_names` api
  CHANGELOG.md
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), feature request, non-breaking

#6838 [REVIEW] Fix `columns` & `index` handling in dataframe constructor
  CHANGELOG.md
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/dask_cudf/dask_cudf/sorting.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, cuDF (Python), non-breaking

#6814 Implement `cudf::reduce` for `decimal32` and `decimal64` (part 1)
  CHANGELOG.md
  cpp/include/cudf/detail/reduction.cuh
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/reductions/simple.cuh
  cpp/tests/reductions/reduction_tests.cpp
Labels: 5 - Ready to Merge, feature request, libcudf, non-breaking

#6275 [REVIEW] Update to official libcu++ on Github
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/common/generate_benchmark_input.cpp
  cpp/benchmarks/common/generate_benchmark_input.hpp
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/include/cudf/wrappers/durations.hpp
  cpp/include/cudf/wrappers/timestamps.hpp
  cpp/include/cudf_test/timestamp_utilities.cuh
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/jit/code/kernel.cpp
  cpp/src/binaryop/jit/code/operation.cpp
  cpp/src/binaryop/jit/code/traits.cpp
  cpp/src/datetime/datetime_ops.cu
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/csv/durations.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/jit/common_headers.hpp
  cpp/src/jit/type.h
  cpp/src/rolling/rolling.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/transform/jit/code/kernel.cpp
  cpp/src/transform/transform.cpp
  cpp/src/unary/cast_ops.cu
  cpp/tests/binaryop/binop-generic-ptx-test.cpp
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/binaryop/binop-null-test.cpp
  cpp/tests/binaryop/binop-verify-input-test.cpp
  cpp/tests/datetime/datetime_ops_test.cpp
  cpp/tests/io/csv_test.cpp
  cpp/tests/transform/integration/unary-transform-test.cpp
  cpp/tests/wrappers/timestamps_test.cu
  thirdparty/CMakeLists.txt
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, CMake, improvement, libcudf, non-breaking, tech debt

#6750 [REVIEW] Remove **kwargs from string/categorical methods
  CHANGELOG.md
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), improvement, non-breaking

#6922 [REVIEW] Fix N/A detection for empty fields in CSV reader
  CHANGELOG.md
  cpp/include/cudf/detail/utilities/trie.cuh
  cpp/include/cudf/io/csv.hpp
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/io/csv_test.cpp
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
Labels: 6 - Okay to Auto-Merge, bug, cuIO, libcudf, non-breaking

#6948 fix libcu++ include path for jni [skip ci]
  java/src/main/native/CMakeLists.txt
Labels: 3 - Ready for Review, 5 - Ready to Merge, 6 - Okay to Auto-Merge, CMake, Spark, bug, non-breaking

#6942 Fix cudf::merge gtest for dictionary columns
  CHANGELOG.md
  cpp/tests/merge/merge_dictionary_test.cpp
  cpp/tests/merge/merge_test.cpp
Labels: 6 - Okay to Auto-Merge, bug, libcudf, non-breaking, tests

#6949 Update Java bindings version to 0.18-SNAPSHOT [skip ci]
  java/ci/README.md
  java/pom.xml
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, 6 - Okay to Auto-Merge, cuDF (Java), improvement, non-breaking

#6950 `fixed_point_value` double-shifts in `fixed_point` construction
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/reductions/simple.cuh
  cpp/tests/reductions/reduction_tests.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#6954 Add in basic support to JNI for logical_cast [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, Spark, cuDF (Java), improvement, non-breaking

#6970 Fix type comparison for java [skip ci]
  java/src/main/java/ai/rapids/cudf/BinaryOperable.java
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVectorCore.java
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/main/java/ai/rapids/cudf/ORCOptions.java
  java/src/main/java/ai/rapids/cudf/ParquetOptions.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ReductionTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
Labels: 3 - Ready for Review, 5 - Ready to Merge, 6 - Okay to Auto-Merge, Spark, bug, cuDF (Java), non-breaking

#6972 Add Java bindings for URL conversion [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Java), improvement, non-breaking

#6940 Add JNI wrapper for the cuFile API (GDS) [skip ci]
  java/README.md
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/CuFile.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/CuFileJni.cpp
  java/src/test/java/ai/rapids/cudf/CuFileTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, 6 - Okay to Auto-Merge, Spark, cuDF (Java), doc, non-breaking

#6964 Align `Series.groupby` API to match Pandas
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, breaking, bug, cuDF (Python), dask

#6957 Fix typo in numerical.py
  python/cudf/cudf/core/column/numerical.py
Labels: 6 - Okay to Auto-Merge, bug, cuDF (Python), non-breaking

#6945 Fix groupby agg/apply behaviour when no key columns are provided
  CHANGELOG.md
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/utils.py
Labels: 6 - Okay to Auto-Merge, bug, cuDF (Python), non-breaking

#6975 Make `cudf::round` for `fixed_point` when `scale = -decimal_places` a no-op
  cpp/src/round/round.cu
  cpp/tests/round/round_tests.cpp
Labels: 6 - Okay to Auto-Merge, bug, libcudf, non-breaking

#6953 Remove duplicate file array_tests.cpp
  cpp/tests/strings/array_tests.cpp
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking, tech debt, tests

#6856 Add groupby idxmin, idxmax aggregation
  CHANGELOG.md
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/tests/test_groupby.py
Labels: 6 - Okay to Auto-Merge, feature request, libcudf, non-breaking

#6907 Add `replace_null` API with `replace_policy` parameter, `fixed_width` column support
  CHANGELOG.md
  cpp/include/cudf/detail/replace.hpp
  cpp/include/cudf/replace.hpp
  cpp/src/replace/nulls.cu
  cpp/tests/replace/replace_nulls_tests.cpp
  python/cudf/cudf/_lib/cpp/replace.pxd
  python/cudf/cudf/_lib/replace.pyx
Labels: 6 - Okay to Auto-Merge, Cython, feature request, libcudf, non-breaking

#6976 Minor `cudf::round` internal refactoring
  cpp/src/round/round.cu
Labels: 6 - Okay to Auto-Merge, code quality, improvement, libcudf, non-breaking, tech debt

#6951 Add null mask `fixed_point_column_wrapper` constructors
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/round/round_tests.cpp
  cpp/tests/unary/cast_tests.cpp
Labels: 6 - Okay to Auto-Merge, improvement, libcudf, non-breaking

#6967 Fix default parameter values of `write_csv` and `write_parquet`
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/tests/io/csv_test.cpp
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, breaking, bug, cuDF (Python), cuIO, libcudf

#6987 Fix java cufile tests when cufile is not installed [skip ci]
  java/src/test/java/ai/rapids/cudf/CuFileTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, 6 - Okay to Auto-Merge, bug, non-breaking, tests

#6995 Manual merge of branch 0.17 into branch 0.18 [skip-ci]
  CHANGELOG.md
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
Labels: feature request, non-breaking

#6943 [REVIEW] Avoid inserting null elements into join hash table when nulls are treated as unequal
  CHANGELOG.md
  cpp/benchmarks/join/join_benchmark.cu
  cpp/include/cudf/join.hpp
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_kernels.cuh
  cpp/tests/join/join_tests.cpp
Labels: 6 - Okay to Auto-Merge, bug, libcudf++, non-breaking

#6959 Fix timestamp parsing in ORC reader for timezones without transitions
  cpp/src/io/orc/timezone.cpp
  python/cudf/cudf/tests/data/orc/TestOrcFile.gmt.orc
  python/cudf/cudf/tests/test_orc.py
Labels: 6 - Okay to Auto-Merge, bug, cuIO, non-breaking

#6991 [REVIEW]Fix int to datetime conversion in csv_read
  cpp/src/io/csv/csv_gpu.cu
  cpp/tests/io/csv_test.cpp
Labels: 6 - Okay to Auto-Merge, bug, cuIO, libcudf, non-breaking

#6982 Disable some pragma unroll statements in thrust sort.h
  CHANGELOG.md
  thirdparty/CMakeLists.txt
  thirdparty/thrust.patch
Labels: 6 - Okay to Auto-Merge, improvement, libcudf, non-breaking

#6889 Fix nullmask offset handling in parquet and orc writer
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/bitmask/null_mask.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/statistics/column_stats.h
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_test.cpp
Labels: 6 - Okay to Auto-Merge, bug, cuIO, libcudf, non-breaking

#6938 Pass numeric scalars of the same dtype through numeric binops
  CHANGELOG.md
  python/cudf/cudf/core/column/numerical.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, cuDF (Python), non-breaking

#7002 Fix Thrust unroll patch command
  thirdparty/CMakeLists.txt
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, CMake, bug, libcudf, non-breaking

#6997 Check output size overflow on strings gather
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/tests/strings/array_tests.cu
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, improvement, libcudf, non-breaking

#6988 fix excluding cufile tests by default [skip ci]
  java/pom.xml
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, 6 - Okay to Auto-Merge, Spark, bug, non-breaking

#7001 Remove warning in from_dlpack and to_dlpack methods
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/io/dlpack.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), doc, non-breaking

#6903 Add null count test for apply_boolean_mask
  CHANGELOG.md
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
Labels: 6 - Okay to Auto-Merge, improvement, libcudf, non-breaking, tests

#7009 Skip Thrust sort patch if already applied
  thirdparty/CMakeLists.txt
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, CMake, bug, non-breaking

#6969 [REVIEW] Enable strict_decimal_types in parquet reading
  CHANGELOG.md
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/tests/io/parquet_test.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 6 - Okay to Auto-Merge, cuIO, improvement, non-breaking

#7006 Fix `cudf::hash_partition` for `decimal32` and `decimal64`
  cpp/src/partitioning/partitioning.cu
  cpp/tests/partitioning/hash_partition_test.cpp
  cpp/tests/partitioning/partition_test.cpp
Labels: 6 - Okay to Auto-Merge, bug, libcudf, non-breaking

#6775 [REVIEW] Implement cudf.DateOffset for months
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_binops.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, Cython, cuDF (Python), feature request, non-breaking

#6958 [REVIEW] Add pytest-xdist to dev environment.yml
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), feature request, gpuCI, non-breaking

#7021 Pin librdkakfa to gcc 7 compatible version
  conda/recipes/libcudf_kafka/meta.yaml
Labels: 5 - Ready to Merge, bug, non-breaking

#6993 Fix loc behaviour when key of incorrect type is used
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, cuDF (Python), non-breaking

#7014 Fix round operator's HALF_EVEN computation for negative integers
  cpp/src/round/round.cu
  cpp/tests/round/round_tests.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, 6 - Okay to Auto-Merge, bug, non-breaking

#6980 Implement `cudf::reduce` for `decimal32` and `decimal64` (part 2)
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_device_view.cuh
  cpp/src/copying/get_element.cu
  cpp/src/quantiles/quantile.cu
  cpp/src/reductions/simple.cuh
  cpp/tests/copying/scatter_tests.cpp
  cpp/tests/reductions/reduction_tests.cpp
Labels: 6 - Okay to Auto-Merge, feature request, libcudf, non-breaking

#7004 Extend `replace_nulls_policy` to `string` and `dictionary` type
  cpp/src/replace/nulls.cu
  cpp/tests/replace/replace_nulls_tests.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, 6 - Okay to Auto-Merge, feature request, libcudf, non-breaking

#7029 Restore usual instance/subclass checking to cudf.DateOffset
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, non-breaking

#7013 Add compression="infer" as default for dask_cudf.read_csv
  python/dask_cudf/dask_cudf/io/csv.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, dask, improvement, non-breaking

#6512 Refactor rolling.cu to reduce compile time
  CHANGELOG.md
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling.cu
  cpp/src/rolling/rolling_detail.cuh
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, improvement, libcudf, non-breaking, tech debt

#7032 Decimal casts in JNI became a NOOP [skip ci]
  java/src/main/native/src/ColumnViewJni.cpp
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, Spark, bug, non-breaking

#6998 Add `method` field to `fillna` for fixed width columns
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_replace.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), feature request, non-breaking

#7012 Correct ORC docstring; other minor cuIO improvements
  cpp/include/cudf/detail/utilities/trie.cuh
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/reader_impl.cu
  python/cudf/cudf/utils/ioutils.py
Labels: 6 - Okay to Auto-Merge, cuIO, improvement, non-breaking

#7020 Fix libcudf strings logic where size_type is used to access INT32 column data
  cpp/benchmarks/common/generate_benchmark_input.cpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/strings/combine.cu
  cpp/src/strings/contains.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/copying/copying.cu
  cpp/src/strings/findall.cu
  cpp/src/strings/regex/regexec.cu
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/split/split_record.cu
  cpp/src/strings/strings_column_factories.cu
  cpp/src/text/edit_distance.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/utilities/tokenize_ops.cuh
  cpp/tests/strings/find_tests.cpp
  cpp/tests/strings/substring_tests.cpp
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, improvement, libcudf, non-breaking

#6884 [Review] Correct the sampling range when sampling with replacement
  CHANGELOG.md
  cpp/src/copying/sample.cu
  python/cudf/cudf/core/frame.py
Labels: 6 - Okay to Auto-Merge, bug, cuDF (Python), libcudf, non-breaking

#7036 Add `ffill` and `bfill` to string columns
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_replace.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), feature request, non-breaking

#7034 Fix `read_orc` for decimal type
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.decimal.runpos.issue.orc
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, cuDF (Python), cuIO, libcudf, non-breaking

#6973 Add Ufunc alias look up for appropriate numpy ufunc dispatching
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), feature request, non-breaking

#7033 [REVIEW] Fix backward compatibility of loading a 0.16 pkl file
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/data/pkl/stringColumnWithRangeIndex_cudf_0.16.pkl
  python/cudf/cudf/tests/test_serialize.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, bug, cuDF (Python), non-breaking

#6885 Share `factorize` implementation with Index and cudf module
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_factorize.py
  python/cudf/cudf/tests/test_series.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, breaking, cuDF (Python), feature request

#6992 [REVIEW] Improve representation of `MultiIndex`
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_repr.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), improvement, non-breaking

#7050 [REVIEW] Update cudf python docstrings with new null representation (`<NA>`)
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuDF (Python), doc, non-breaking

#7005 Reduce number of hostdevice_vector allocations in parquet reader
  cpp/src/io/parquet/reader_impl.cu
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, cuIO, improvement, non-breaking

#7037 Implement `cudf::rolling` for `decimal32` and `decimal64`
  cpp/src/aggregation/aggregation.cpp
  cpp/src/rolling/rolling_detail.cuh
  cpp/src/rolling/rolling_detail.hpp
  cpp/tests/rolling/rolling_test.cpp
Labels: 6 - Okay to Auto-Merge, feature request, libcudf, non-breaking
