Repository rapidsai/cudf, pull requests merged in 2020-07, with the labels that each got.

#5602 [REVIEW] Add support for concatenation of `Series` & `DataFrame` in `cudf.concat` when `axis=0`
  CHANGELOG.md
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5612 [REVIEW] Add is_hex strings API
  CHANGELOG.md
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/src/strings/convert/convert_hex.cu
  cpp/tests/strings/integers_tests.cu
  python/cudf/cudf/_lib/cpp/strings/convert/convert_integers.pxd
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, cuDF (Python), libcudf, strings

#5619 [REVIEW] Fix issue related to typecasting when using a `CategoricalDtype`
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5318 [REVIEW] Leverage dask.dataframe shuffle API in dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/sorting.py
Labels: 5 - Ready to Merge, dask

#5607 [REVIEW] Java bindings for duration type [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/DType.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/native/src/ScalarJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java)

#5536 [REVIEW] Parquet reader - add support for multiple sources
  CHANGELOG.md
  cpp/include/cudf/io/datasource.hpp
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/parquet.h
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/utilities/datasource.cpp
  cpp/tests/io/parquet_test.cpp
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/avro.pyx
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/opt_parquet.py
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: 5 - Ready to Merge, cuIO

#5644 [REVIEW] Fix issue related to Dataframe init when passing in `columns`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5603 [REVIEW] Refactor JIT `parser.cpp`
  CHANGELOG.md
  cpp/src/jit/parser.cpp
Labels: 3 - Ready for Review, code quality

#5649 [REVIEW] Fix issue when empty Dataframe with index are passed to `cudf.concat`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5623 [REVIEW] Add is_ipv4 strings API
  CHANGELOG.md
  cpp/include/cudf/strings/convert/convert_ipv4.hpp
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/tests/strings/ipv4_tests.cpp
  python/cudf/cudf/_lib/cpp/strings/convert/convert_ipv4.pxd
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf, strings

#5613 [REVIEW] Fix assigning an equal length object into a masked out Series
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_setitem.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5637 [REVIEW] Parameterize Null comparator behaviour in Joins
  CHANGELOG.md
  cpp/include/cudf/join.hpp
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/nested_loop_join.cuh
  cpp/src/join/semi_join.cu
  cpp/tests/join/join_tests.cpp
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, Spark, cuDF (Java)

#5662 Make Java ColumnVector(long nativePointer) constructor public [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#5511 [REVIEW] Port of clx subword tokenizer to cudf
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/subword_benchmark.cpp
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/nvtext/detail/load_hash_file.hpp
  cpp/include/nvtext/subword_tokenize.hpp
  cpp/src/strings/utilities.cu
  cpp/src/text/subword/data_normalizer.cu
  cpp/src/text/subword/detail/codepoint_metadata.ah
  cpp/src/text/subword/detail/cp_data.h
  cpp/src/text/subword/detail/data_normalizer.hpp
  cpp/src/text/subword/detail/hash_utils.cuh
  cpp/src/text/subword/detail/tokenizer_utils.cuh
  cpp/src/text/subword/detail/wordpiece_tokenizer.hpp
  cpp/src/text/subword/load_hash_file.cu
  cpp/src/text/subword/subword_tokenize.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/text/subword_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/subword_tokenize.pxd
  python/cudf/cudf/_lib/nvtext/subword_tokenize.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: 5 - Ready to Merge, libcudf, strings

#5535 [REVIEW] Updated document for XGBoost usage with dask-cuda.
  CHANGELOG.md
  docs/cudf/source/dask-xgb-10min.ipynb
Labels: 5 - Ready to Merge, dask, doc

#5632 [REVIEW] switch from CNMeM to `pool_memory_resource` [skip ci]
  CHANGELOG.md
  java/README.md
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/NativeDepsLoader.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/RmmJni.cpp
Labels: 5 - Merge After Dependencies, cuDF (Java)

#5073 [REVIEW] gather() support for LIST column type.
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/lists/detail/gather.cuh
  cpp/src/hash/hashing.cu
  cpp/src/lists/copying/gather.cu
  cpp/src/lists/lists_column_factories.cu
  cpp/src/partitioning/partitioning.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/gather_list_tests.cu
Labels: 3 - Ready for Review, Spark, libcudf

#5605 [REVIEW] auto flush RMM logs in JNI [skip ci]
  CHANGELOG.md
  java/src/main/native/src/RmmJni.cpp
Labels: 5 - Merge After Dependencies, cuDF (Java)

#5672 Fix crash in parquet writer while writing criteo day 0 dataset
  CHANGELOG.md
  cpp/src/io/parquet/page_enc.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuIO, libcudf

#5454 [REVIEW] Add support for `DataFrame.append`, `Index.append`, `Index.difference` and `Index.empty`
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5411 [REVIEW] Enable metadata collection for chunked parquet writer
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_test.cpp
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, cuDF (Python), cuIO

#5671 [REVIEW] Fix chunksize issue with `DataFrame.to_csv`
  CHANGELOG.md
  cpp/src/io/csv/writer_impl.cu
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5673 [REVIEW] enable per-thread default stream in gpu ci
  CHANGELOG.md
  build.sh
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, gpuCI

#5635 [REVIEW] cuIO reader benchmarks for CSV, ORC and Parquet
  .gitignore
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_reader_benchmark.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Performance, cuIO, libcudf

#5679 Use `pickle5` to test older Python versions
  CHANGELOG.md
  python/cudf/cudf/tests/test_pickling.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5684 Use `pickle5` in `Serializable` (when available)
  CHANGELOG.md
  python/cudf/cudf/core/abc.py
Labels: 3 - Ready for Review, cuDF (Python)

#5460 [REVIEW] Support to write directly to remote/cloud locations
  CHANGELOG.md
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_gcs.py
  python/cudf/cudf/tests/test_hdfs.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5663 [REVIEW] Move Duration types under Timestamps in doxygen Modules page
  CHANGELOG.md
  cpp/include/cudf/wrappers/durations.hpp
Labels: 3 - Ready for Review, doc, libcudf

#5666 [REVIEW] Add filter_characters_of_type strings API
  CHANGELOG.md
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/src/strings/char_types/char_types.cu
  cpp/tests/strings/chars_types_tests.cpp
  python/cudf/cudf/_lib/cpp/strings/char_types.pxd
  python/cudf/cudf/_lib/strings/char_types.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 3 - Ready for Review, libcudf, strings

#5654 [REVIEW] Adding support for `cudf.DataFrame.sample` and `cudf.Series.sample`
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/src/copying/sample.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/sample_tests.cpp
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf

#5692 [REVIEW] Fix compilation issue with gcc 7.4.0 and CUDA 10.1
  CHANGELOG.md
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/concurrent_unordered_multimap.cuh
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#5340 [REVIEW] Disable iteration in cudf objects and add support for `DataFrame` initialization with list of `Series`
  CHANGELOG.md
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_factorize.py
  python/cudf/cudf/tests/test_gpu_arrow_parser.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_label_encode.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_sparse_df.py
  python/cudf/cudf/tests/test_transform.py
  python/cudf/cudf/tests/test_udf_binops.py
  python/cudf/cudf/utils/utils.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5703 [REVIEW] Small fix for dataframe constructor with cuda array interface objects that don't have `descr` field
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, cuDF (Python)

#5658 [REVIEW] Add filter_tokens nvtext API
  CHANGELOG.md
  cpp/include/nvtext/replace.hpp
  cpp/src/text/replace.cu
  cpp/tests/text/replace_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/replace.pxd
  python/cudf/cudf/_lib/nvtext/replace.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: 3 - Ready for Review, cuDF (Python), libcudf, strings

#5690 [skip ci] Update master references for main branch
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  python/custreamz/README.md
Labels: 4 - Needs cuDF (Python) Reviewer, 5 - Merge After Dependencies, doc

#5629 [REVIEW] Add `ListColumn/ListDtype`
  CHANGELOG.md
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5709 [REVIEW] Update java build to help cu-spacial with java bindings [skip-ci]
  CHANGELOG.md
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/NativeDepsLoader.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/CudfTestBase.java
Labels: cuDF (Java)

#5708 [REVIEW] Add support for `dummy_na` in `get_dummies`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_onehot.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5713 [REVIEW] Remove old nvtx_utils
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/utilities/nvtx_utils.hpp
  cpp/src/rolling/rolling.cu
  cpp/src/transpose/transpose.cu
  cpp/src/utilities/nvtx/nvtx_utils.cpp
  python/cudf/cudf/_lib/cpp/utilities/nvtx_utils.pxd
Labels: 3 - Ready for Review, libcudf, tech debt

#5668 [REVIEW] Adding support for `cudf.testing`
  CHANGELOG.md
  docs/cudf/source/api.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/testing/__init__.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_testing.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5674 Support for JIT compilation of libcudacxx on ppc64
  CHANGELOG.md
  cpp/src/jit/common_headers.hpp
Labels: 5 - Ready to Merge, Jitify, libcudf

#5529 [WIP] Fix issue with negative timestamp in orc writer
  CHANGELOG.md
  cpp/src/io/orc/stripe_enc.cu
  cpp/tests/io/orc_test.cpp
Labels: 2 - In Progress, cuIO, libcudf

#5702 [REVIEW] Add inherited methods to python docs and other docs fixes
  CHANGELOG.md
  docs/cudf/source/10min.ipynb
  docs/cudf/source/api.rst
  docs/cudf/source/conf.py
  docs/cudf/source/dask-cudf.md
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/_lib/strings/convert/convert_urls.pyx
  python/cudf/cudf/core/abc.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf/tests/test_dropna.py
  python/cudf/cudf/utils/gpu_utils.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#5719 [REVIEW] Fix Frame._concat() with categorical columns
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_concat.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5720 [REVIEW] [CUIO] Replace owning raw pointers with std::unique_ptr
  CHANGELOG.md
  cpp/src/io/comp/io_uncomp.h
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Labels: cuIO, tech debt

#5687 [REVIEW] Change strings::split_record to return a lists column
  CHANGELOG.md
  cpp/include/cudf/strings/split/split.hpp
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_record.cu
  cpp/src/strings/split/split_utils.cuh
  cpp/tests/strings/split_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings

#5659 [REVIEW] Added IDE changes for JNI files to have intelliSense and changes for rapids-compose [skip ci]
  CHANGELOG.md
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#5726 [REVIEW] Replace use of assert_frame_equal in tests with assert_eq
  CHANGELOG.md
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_fill.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_pickling.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_reshape.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_text.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5736 [REVIEW] Disable unsigned type in ORC writer bench
  CHANGELOG.md
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#5394 [REVIEW] duration type unary casts and binary ops
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/utilities/traits.hpp
  cpp/include/cudf/wrappers/timestamps.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/jit/code/kernel.cpp
  cpp/src/binaryop/jit/code/operation.cpp
  cpp/src/binaryop/jit/code/traits.cpp
  cpp/src/reductions/simple.cuh
  cpp/src/rolling/rolling_detail.hpp
  cpp/src/unary/cast_ops.cu
  cpp/tests/binaryop/assert-binops.h
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/binaryop/util/operation.h
  cpp/tests/copying/copy_range_tests.cpp
  cpp/tests/copying/copy_tests.cu
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/copying/scatter_tests.cpp
  cpp/tests/copying/shift_tests.cpp
  cpp/tests/datetime/datetime_ops_test.cpp
  cpp/tests/dlpack/dlpack_test.cpp
  cpp/tests/filling/fill_tests.cpp
  cpp/tests/filling/repeat_tests.cpp
  cpp/tests/groupby/group_argmax_test.cpp
  cpp/tests/groupby/group_argmin_test.cpp
  cpp/tests/groupby/group_max_test.cpp
  cpp/tests/groupby/group_min_test.cpp
  cpp/tests/groupby/group_nth_element_test.cpp
  cpp/tests/groupby/group_nunique_test.cpp
  cpp/tests/grouped_rolling/grouped_rolling_test.cpp
  cpp/tests/hashing/hash_test.cpp
  cpp/tests/join/cross_join_tests.cpp
  cpp/tests/merge/merge_string_test.cpp
  cpp/tests/merge/merge_test.cpp
  cpp/tests/partitioning/hash_partition_test.cpp
  cpp/tests/partitioning/partition_test.cpp
  cpp/tests/partitioning/round_robin_test.cpp
  cpp/tests/quantiles/quantile_test.cpp
  cpp/tests/quantiles/quantiles_test.cpp
  cpp/tests/replace/clamp_test.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/reshape/tile_tests.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/scalar/scalar_device_view_test.cu
  cpp/tests/scalar/scalar_test.cpp
  cpp/tests/sort/is_sorted_tests.cpp
  cpp/tests/transpose/transpose_test.cpp
  cpp/tests/unary/unary_ops_test.cpp
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/column_wrapper.hpp
  cpp/tests/utilities/timestamp_utilities.cuh
  cpp/tests/utilities/type_lists.hpp
  cpp/tests/utilities_tests/column_utilities_tests.cpp
  cpp/tests/utilities_tests/column_wrapper_tests.cpp
  cpp/tests/wrappers/timestamps_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, libcudf

#5733 [REVIEW] Add support for `size` property in `DataFrame`/ `Series` / `Index`/ `MultiIndex`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_series.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5691 [REVIEW] Throw error on incompatible mixed-type input for a column
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_column.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5675 [REVIEW] Allow lists_column_wrappers to be constructed from incomplete hierarchies of empty lists.
  CHANGELOG.md
  cpp/src/lists/copying/concatenate.cu
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/copying/gather_list_tests.cu
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/column_wrapper.hpp
  cpp/tests/utilities_tests/lists_column_wrapper_tests.cpp
Labels: 4 - Needs libcudf Reviewer, bug, code quality, libcudf

#5743 [REVIEW] Reduce number of concatenate benchmark test cases
  CHANGELOG.md
  cpp/benchmarks/column/concatenate_benchmark.cpp
Labels: 3 - Ready for Review, gpuCI

#5745 Update JNI cast for inability to cast timestamp and integer types [skip ci]
  CHANGELOG.md
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#5750 Add RMM_ROOT/include to the spdlog search path in JNI build [skip ci]
  CHANGELOG.md
  java/src/main/native/CMakeLists.txt
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#5419 [REVIEW] rolling support for durations types
  CHANGELOG.md
  cpp/src/rolling/rolling_detail.hpp
  cpp/tests/filling/fill_tests.cpp
  cpp/tests/grouped_rolling/grouped_rolling_test.cpp
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/utilities/type_lists.hpp
Labels: 5 - Ready to Merge, libcudf

#5752 [REVIEW] Add cuDF internals documentation (ColumnAccessor)
  CHANGELOG.md
  docs/cudf/source/index.rst
  docs/cudf/source/internals.md
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_column_accessor.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#5763 [REVIEW] Update Java slf4j version to match Spark 3.0 [skip ci]
  CHANGELOG.md
  java/pom.xml
Labels: cuDF (Java)

#5756 [REVIEW] Switch JNI code to use the RMM owning wrapper [skip ci]
  CHANGELOG.md
  java/src/main/native/src/RmmJni.cpp
Labels: cuDF (Java)

#5727 [REVIEW] Fix `Index.__repr__` to allow representation of null values
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/utils/dtypes.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#5759 [REVIEW] Update cache docstring.
  CHANGELOG.md
  cpp/src/jit/cache.h
Labels: 3 - Ready for Review

#5748 [REVIEW] Disable `tolist` API in `Series` & `Index` and add `tolist` dispatch in `dask-cudf`
  CHANGELOG.md
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  docs/cudf/source/api.rst
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/sorting.py
Labels: 5 - Ready to Merge, cuDF (Python), dask-cudf

#5766 [REVIEW] Fix issue related to `iloc` and slicing a `DataFrame`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_repr.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5729 [REVIEW] Create nvtext normalize_characters API from the subword_tokenize internal function
  CHANGELOG.md
  cpp/include/nvtext/normalize.hpp
  cpp/include/nvtext/subword_tokenize.hpp
  cpp/src/text/normalize.cu
  cpp/tests/text/normalize_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/normalize.pxd
  python/cudf/cudf/_lib/nvtext/normalize.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf, strings

#5568 [REVIEW] Add support for `Series.keys()` and `DataFrame.keys()`
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_replace.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5775 Update read_parquet to align with upstream-dask improvements
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/opt_parquet.py
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: 5 - Ready to Merge, dask-cudf

#5780 [REVIEW] JNI Pad bindings [skip-ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/PadSide.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#5319 [REVIEW] disallow SUM and MEAN of timestamp types
  CHANGELOG.md
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/src/rolling/rolling_detail.hpp
  cpp/tests/device_atomics/device_atomics_test.cu
  cpp/tests/grouped_rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/rolling_test.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, 5 - Merge After Dependencies

#5774 Add fallback for when `tolist` is absent
  CHANGELOG.md
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
  python/dask_cudf/dask_cudf/backends.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#5645 [REVIEW] Enforce pd.NA and Pandas nullable dtype parity
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dropna.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_fill.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_pandas_interop.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_scan.py
  python/cudf/cudf/tests/test_setitem.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/utils.py
  python/cudf/cudf/utils/dtypes.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_binops.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
  python/dask_cudf/dask_cudf/tests/utils.py
Labels: 5 - Ready to Merge, cuDF (Python), pandas

#5669 [REVIEW] Add support for reading JSON files with missing or out-of-order fields
  CHANGELOG.md
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/concurrent_unordered_multimap.cuh
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/json_gpu.h
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/tests/test_json.py
Labels: 4 - Waiting on Author, cuIO

#5786 [REVIEW] JNI Header Cleanup for cuspacial [skip-ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/CudaJni.cpp
  java/src/main/native/src/CudfJni.cpp
  java/src/main/native/src/RmmJni.cpp
  java/src/main/native/src/ScalarJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/cudf_jni_apis.hpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#5787 [REVIEW] Fix column create from dictionary column view
  CHANGELOG.md
  cpp/src/column/column.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/dictionary/slice_test.cpp
Labels: 3 - Ready for Review, libcudf

#5739 [REVIEW] Add nvtext::detokenize API
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/nvtext/tokenize.hpp
  cpp/src/text/detokenize.cu
  cpp/src/text/replace.cu
  cpp/tests/text/tokenize_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/tokenize.pxd
  python/cudf/cudf/_lib/nvtext/tokenize.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: 5 - Ready to Merge, libcudf, strings

#5793 [REVIEW] Fixes a leak in mutable_table_device_view
  CHANGELOG.md
  cpp/include/cudf/table/table_device_view.cuh
  cpp/src/table/table_device_view.cu
Labels: 5 - Ready to Merge

#5791 [REVIEW] Get nullable_pd_dtype from kwargs if provided in assert_eq
  CHANGELOG.md
  python/cudf/cudf/tests/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5795 [REVIEW] clarify documentation on boost dependency
  CHANGELOG.md
  CONTRIBUTING.md
  java/README.md
Labels: 5 - Ready to Merge, doc

#5642 [REVIEW] Add GroupBy.groups
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5785 [REVIEW] Enable computing views of ListColumns
  CHANGELOG.md
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/cpp/column/column.pxd
  python/cudf/cudf/_lib/cpp/lists/__init__.pxd
  python/cudf/cudf/_lib/cpp/lists/lists_column_view.pxd
  python/cudf/cudf/_lib/types.pxd
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5797 [REVIEW] Fix a missing data issue in some Parquet files
  CHANGELOG.md
  cpp/src/io/parquet/page_enc.cu
  python/cudf/cudf/tests/data/parquet/trailing_nans.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, cuIO

#5803 [REVIEW] Add in JNI support for the repeat command [skip-ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java)

#5744 [REVIEW] Reduce number of cases of reduction benchmark
  CHANGELOG.md
  cpp/benchmarks/reduction/reduce_benchmark.cpp
Labels: 3 - Ready for Review, gpuCI

#5800 [REVIEW] Expose arrow datasource instead of directly taking a RandomAccessFile
  CHANGELOG.md
  cpp/include/cudf/io/datasource.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/_lib/cpp/io/types.pxd
Labels: cuIO

#5716 [REVIEW] Add a double type dispatcher.
  CHANGELOG.md
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/tests/types/type_dispatcher_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#5810 [REVIEW] Make Cython subdirs packages and simplify package_data
  CHANGELOG.md
  python/cudf/cudf/_lib/cpp/libcpp/__init__.py
  python/cudf/cudf/_lib/cpp/lists/__init__.py
  python/cudf/cudf/_lib/cpp/nvtext/__init__.py
  python/cudf/cudf/_lib/cpp/strings/__init__.py
  python/cudf/cudf/_lib/cpp/strings/convert/__init__.py
  python/cudf/cudf/_lib/cpp/strings/split/__init__.py
  python/cudf/cudf/_lib/nvtext/__init__.py
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/convert/__init__.py
  python/cudf/cudf/_lib/strings/split/__init__.py
  python/cudf/setup.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5704 [REVIEW] Initial `fixed_point` Column Support
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/column/column_factories.hpp
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/reduction.cuh
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_device_view.cuh
  cpp/include/cudf/types.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/jit/code/kernel.cpp
  cpp/src/copying/copy.cu
  cpp/src/copying/get_element.cu
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/jit/common_headers.hpp
  cpp/src/jit/type.cpp
  cpp/src/reductions/simple.cuh
  cpp/src/replace/clamp.cu
  cpp/src/replace/replace.cu
  cpp/src/scalar/scalar_factories.cpp
  cpp/src/unary/cast_ops.cu
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/column/factories_test.cpp
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/copying/copy_tests.cu
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/copying/scatter_tests.cpp
  cpp/tests/copying/shift_tests.cpp
  cpp/tests/device_atomics/device_atomics_test.cu
  cpp/tests/filling/fill_tests.cpp
  cpp/tests/filling/repeat_tests.cpp
  cpp/tests/fixed_point/fixed_point_tests.cu
  cpp/tests/groupby/group_max_test.cpp
  cpp/tests/groupby/group_min_test.cpp
  cpp/tests/grouped_rolling/grouped_rolling_test.cpp
  cpp/tests/merge/merge_string_test.cpp
  cpp/tests/merge/merge_test.cpp
  cpp/tests/partitioning/hash_partition_test.cpp
  cpp/tests/partitioning/round_robin_test.cpp
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/replace/clamp_test.cpp
  cpp/tests/replace/replace_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/scalar/factories_test.cpp
  cpp/tests/scalar/scalar_device_view_test.cu
  cpp/tests/scalar/scalar_test.cpp
  cpp/tests/search/search_test.cpp
  cpp/tests/sort/sort_test.cpp
  cpp/tests/transpose/transpose_test.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/column_wrapper.hpp
  cpp/tests/utilities/type_lists.hpp
  cpp/tests/utilities_tests/column_utilities_tests.cpp
  cpp/tests/utilities_tests/column_wrapper_tests.cpp
Labels: 5 - Ready to Merge

#5782 [REVIEW] introduce kafka consumer and meta client to custreamz
  .gitignore
  CHANGELOG.md
  build.sh
  conda/recipes/custreamz/build.sh
  conda/recipes/custreamz/meta.yaml
  cpp/libcudf_kafka/include/cudf_kafka/kafka_consumer.hpp
  cpp/libcudf_kafka/src/kafka_consumer.cpp
  python/cudf_kafka/cudf_kafka/_lib/kafka.pxd
  python/cudf_kafka/cudf_kafka/_lib/kafka.pyx
  python/custreamz/custreamz/__init__.py
  python/custreamz/custreamz/_version.py
  python/custreamz/custreamz/kafka.py
  python/custreamz/custreamz/tests/conftest.py
  python/custreamz/custreamz/tests/test_kafka.py
  python/custreamz/setup.cfg
  python/custreamz/setup.py
  python/custreamz/versioneer.py
Labels: 5 - Ready to Merge, conda, cuStreamz

#5820 [REVIEW] Fix ListColumn.to_arrow for all null case
  CHANGELOG.md
  python/cudf/cudf/core/column/lists.py
Labels: 5 - Ready to Merge, cuDF (Python)
