Repository rapidsai/cudf, pull requests merged in 2020-01, with the labels that each got.

#3668 [REVIEW] Fixing CHECK_CUDA debug build issue
  CHANGELOG.md
  cpp/src/join/hash_join.cuh
Labels: 3 - Ready for Review, libcudf++

#3684 [REVIEW] Fix ends_with logic for matching string case
  CHANGELOG.md
  cpp/src/strings/find.cu
  cpp/tests/strings/find_tests.cu
Labels: 3 - Ready for Review, bug, strings

#3370 [REVIEW] Port NVStrings strip functions to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/strip.hpp
  cpp/src/strings/strip.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/strip_tests.cpp
Labels: 3 - Ready for Review, libcudf++, strings

#3690 [REVIEW] Add bools_to_mask
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/transform/bools_to_mask.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/transform/bools_to_mask.cpp
Labels: 3 - Ready for Review, libcudf++

#3593 [REVIEW] Add mutable_column_device_view::begin()/end()
  CHANGELOG.md
  cpp/include/cudf/column/column_device_view.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/column/column_device_view_test.cu
Labels: 3 - Ready for Review, libcudf++

#3697 [REVIEW] Improve DataFrame.insert performance for wide frames
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3694 [REVIEW] Allow for null columns parameter in csv_writer
  CHANGELOG.md
  cpp/src/io/csv/legacy/csv_writer.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#3604 [REVIEW] Add nvtext ngrams tokenize
  CHANGELOG.md
  cpp/custrings/tests/test_text.cu
  cpp/custrings/text/ngram.cu
  cpp/custrings/text/tokens.cu
  cpp/include/nvstrings/NVText.h
  python/nvstrings/cpp/pytext.cpp
  python/nvstrings/nvtext.py
  python/nvstrings/tests/test_text.py
Labels: 3 - Ready for Review, feature request, strings

#3620 [REVIEW] Add stream parameter to unary ops
  CHANGELOG.md
  cpp/include/cudf/detail/unary.hpp
  cpp/include/cudf/unary.hpp
  cpp/src/unary/cast_ops.cu
  cpp/src/unary/math_ops.cu
  cpp/src/unary/null_ops.cu
Labels: 3 - Ready for Review, libcudf (C++/CUDA)

#3701 [REVIEW] Fix hash_partition hashing all columns instead of columns_to_hash
  CHANGELOG.md
  cpp/src/hash/hashing.cu
  cpp/tests/hashing/hash_partition_test.cpp
Labels: 3 - Ready for Review, bug

#3619 Allow CuPy 7.0.0
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/cudf/meta.yaml
Labels: 5 - Ready to Merge, cuDF (Python)

#3647 [REVIEW] Remove PatchedNumbaDeviceArray with CuPy 6.6.0+
  CHANGELOG.md
  python/cudf/cudf/core/series.py
  python/cudf/cudf/utils/numbautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3709 [REVIEW] Fix inner_join incorrect result issue
  CHANGELOG.md
  cpp/src/join/hash_join.cuh
  cpp/tests/join/join_tests.cu
Labels: 5 - Ready to Merge, Spark, libcudf++

#3710 [REVIEW] Remove multiple CMake configure steps in root build script
  CHANGELOG.md
  build.sh
Labels: 5 - Ready to Merge

#3731 [REVIEW] Fix iloc zero size performance
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3734 [REVIEW] Update numba to 0.46 in conda files
  CHANGELOG.md
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/cudf/meta.yaml
Labels: 5 - Ready to Merge, cuDF (Python), numba

#3706 [REVIEW] Remove extra type-dispatcher call from merge
  CHANGELOG.md
  cpp/include/cudf/detail/merge.cuh
  cpp/src/merge/merge.cu
Labels: 3 - Ready for Review, libcudf++

#3273 [REVIEW] port reductions to libcudf++
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/reduction.cuh
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/include/cudf/detail/reduction_operators.cuh
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/detail/utilities/transform_unary_functions.cuh
  cpp/include/cudf/reduction.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/src/iterator/legacy/iterator.cuh
  cpp/src/reductions/all.cu
  cpp/src/reductions/any.cu
  cpp/src/reductions/compound.cuh
  cpp/src/reductions/max.cu
  cpp/src/reductions/mean.cu
  cpp/src/reductions/min.cu
  cpp/src/reductions/product.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/scan.cu
  cpp/src/reductions/simple.cuh
  cpp/src/reductions/std.cu
  cpp/src/reductions/sum.cu
  cpp/src/reductions/sum_of_squares.cu
  cpp/src/reductions/var.cu
  cpp/src/scalar/scalar_factories.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/iterator/iterator_test.cu
  cpp/tests/reductions/reduction_tests.cu
  cpp/tests/reductions/scan_tests.cu
  cpp/tests/scalar/factories_test.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf++

#3292 [REVIEW] Port NVStrings regex contains ops
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/contains.hpp
  cpp/src/strings/char_types/is_flags.h
  cpp/src/strings/contains.cu
  cpp/src/strings/regex/regcomp.cpp
  cpp/src/strings/regex/regcomp.h
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/regex/regexec.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/contains_tests.cpp
Labels: 3 - Ready for Review, libcudf++, strings

#3672 [REVIEW] Fix to_host issue with column_view having offset
  CHANGELOG.md
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/column_utilities.hpp
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Labels: 5 - Ready to Merge

#3463 [REVIEW] Port NVStrings partition ops to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/split/partition.hpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.inl
  cpp/src/strings/split/partition.cu
  cpp/tests/strings/split_tests.cpp
Labels: 5 - Ready to Merge, libcudf++, strings

#3743 [WIP] Fix for `None` data in `__array_interface__`
  CHANGELOG.md
  python/cudf/cudf/core/buffer.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3730 CSV reader: Set invalid float values to NaN/null.
  CHANGELOG.md
  cpp/src/io/csv/csv_gpu.cu
  cpp/tests/io/csv_test.cu
Labels: cuIO

#3724 [REVIEW] Bump rmm to 0.12+
  CHANGELOG.md
  ci/release/update-version.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda9.2.yml
Labels: 5 - Ready to Merge, conda

#3511 [REVIEW] Dataframe to Series mixed arithmetic
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3351 [REVIEW] Add warning when filepath to readers resolves to multiple files
  CHANGELOG.md
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO

#3670 [REVIEW] Floor when casting between timestamps of different precisions
  CHANGELOG.md
  cpp/src/unary/cast_ops.cu
  cpp/tests/datetime/datetime_ops_test.cu
  cpp/tests/unary/unary_ops_test.cu
  cpp/tests/utilities/timestamp_utilities.cuh
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#3657 [REVIEW] Define and implement compiled binops for string column comparisons
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_device_view.cuh
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/binaryop/compiled/binary_ops.hpp
  cpp/src/binaryop/jit/code/kernel.cpp
  cpp/tests/binaryop/assert-binops.h
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/binaryop/util/operation.h
Labels: 5 - Ready to Merge, Spark, libcudf (C++/CUDA), libcudf++

#3699 Stringify libcudacxx headers for binary op JIT
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/binaryop/binaryop.cpp
Labels: 5 - Ready to Merge, Spark, libcudf (C++/CUDA)

#3728 [REVIEW] Fix apply_boolean_mask issue with non-null string column
  CHANGELOG.md
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/gather_tests.cu
  cpp/tests/join/join_tests.cu
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cu
  cpp/tests/strings/gather_tests.cu
Labels: 3 - Ready for Review, libcudf++

#3395 [REVIEW] Port NVStrings regex extract to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/extract.hpp
  cpp/src/strings/extract.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/extract_tests.cpp
Labels: 5 - Ready to Merge, libcudf++, strings

#3451 [REVIEW] Add implicit typecasting of join columns when dtypes do not match
  CHANGELOG.md
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_numerical.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3490 [REVIEW] add pair_iterator and factories, tests
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/iterator/iterator_benchmark.cu
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/iterator.cuh
  cpp/include/cudf/detail/utilities/transform_unary_functions.cuh
  cpp/tests/iterator/iterator_bench.cu
  cpp/tests/iterator/iterator_test.cu
  cpp/tests/utilities/cudf_gmock.hpp
  cpp/tests/utilities/legacy/cudf_test_utils.cuh
Labels: 5 - Ready to Merge, Spark, libcudf++

#3520 [REVIEW] Revert recent gather_statistics changes and add warnings
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: 3 - Ready for Review, cuDF (Python), dask

#3775 Fix segfault when reading compressed CSV files larger than 4GB
  CHANGELOG.md
  cpp/src/io/comp/io_uncomp.h
  cpp/src/io/comp/uncomp.cpp
Labels: cuIO

#3616 [WIP] Add aggregation infrastructure for argmax/argmin
  CHANGELOG.md
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/utilities/release_assert.cuh
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/hash/groupby.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), libcudf++

#3780 [REVIEW] Add functions to do cudaSetDevice and free to initialize a gpu id, update PinnedPoolManager to also set gpu id
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/native/src/CudaJni.cpp
Labels: Spark, cuDF (Java)

#3783 [REVIEW] Bind cuDF operators to Dask Dataframe
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_binops.py
Labels: 3 - Ready for Review, cuDF (Python), dask-cudf

#3741 [REVIEW] Construct DataFrame from dict-of-Series with alignment
  CHANGELOG.md
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_avro.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3769 [REVIEW] Don't look for a name attribute in column
  CHANGELOG.md
  python/cudf/cudf/_lib/utils.pyx
Labels: 5 - Ready to Merge, cuDF (Python)

#3653 [REVIEW] make gather_bitmask_kernal more reusable.
  CHANGELOG.md
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/valid_if.cuh
  cpp/src/copying/scatter.cu
Labels: 5 - Ready to Merge, code quality, libcudf++, tech debt

#3486 [REVIEW] Pandas > 0.25 compatability
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda9.2.yml
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_repr.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3803 [REVIEW] Keep name when unpickling an Index
  CHANGELOG.md
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_pickling.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3561 [REVIEW] Rework contains implementation in search
  CHANGELOG.md
  cpp/src/search/search.cu
Labels: 5 - Merge After Dependencies, libcudf (C++/CUDA)

#3792 [REVIEW] Adding is_nan and is_notnan
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/unary.hpp
  cpp/src/unary/nan_ops.cu
  cpp/tests/unary/unary_ops_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, libcudf++

#3805 Avoid CuPy 7.1.0 for now
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda9.2.yml
  conda/recipes/cudf/meta.yaml
Labels: 5 - Ready to Merge, conda, cuDF (Python)

#3804 [REVIEW] Fix cuda crash in AVRO reader
  CHANGELOG.md
  cpp/src/io/avro/legacy/avro_reader_impl.cu
  cpp/src/io/avro/reader_impl.cu
  python/cudf/cudf/tests/test_avro.py
Labels: 5 - Ready to Merge, cuIO

#3417 [REVIEW] Port NVStrings regex findall function to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/findall.hpp
  cpp/src/strings/findall.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/findall_tests.cpp
Labels: 5 - Ready to Merge, libcudf++, strings

#3766 Remove references to cudf::type_id::CATEGORY from IO code
  CHANGELOG.md
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
Labels: 5 - Ready to Merge, cuIO

#3758 [REVIEW] detail::scatter variant with map iterator support
  CHANGELOG.md
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/src/copying/scatter.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf++

#3409 [REVIEW] Port NVStrings regex replace functions to cudf strings column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/replace_re.hpp
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/utilities.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/replace_regex_tests.cpp
Labels: 5 - Ready to Merge, libcudf++, strings

#3817 Don't always deepcopy an index
  CHANGELOG.md
  python/cudf/cudf/core/index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3673 [REVIEW] Parquet reader: improve conversion between time units
  CHANGELOG.md
  cpp/src/io/parquet/page_data.cu
  cpp/tests/io/parquet_test.cu
Labels: 3 - Ready for Review, cuIO

#3799 [REVIEW] Python changes to align index on input Series to setitem calls
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_search.py
  python/cudf/cudf/tests/test_setitem.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3829 [REVIEW] Parquet writer: fix empty dataframe causing cuda launch errors
  CHANGELOG.md
  cpp/src/io/parquet/writer_impl.cu
Labels: 3 - Ready for Review, cuIO

#3835 [REVIEW] Fix memory leak in string columns with nulls
  CHANGELOG.md
  python/cudf/cudf/_lib/cudf.pyx
Labels: 3 - Ready for Review, Cython, cuDF (Python)

#3821 [REVIEW] Fix OOB read in gpuinflate prefetcher
  CHANGELOG.md
  cpp/src/io/comp/gpuinflate.cu
Labels: 3 - Ready for Review, cuIO

#3776 [REVIEW] Column equivalence comparator and test utility
  CHANGELOG.md
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/column_utilities.hpp
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)

#3124 [REVIEW] cudf column support for grand-children
  CHANGELOG.md
  cpp/src/column/column_device_view.cu
  cpp/src/table/table_device_view.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/column/compound_test.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), libcudf++

#3597 [REVIEW] Implement new sort groupby
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_sum_benchmark.cu
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/groupby.hpp
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/include/cudf/groupby.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/aggregation/aggregation.cpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/bitmask/null_mask.cu
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_count.cu
  cpp/src/groupby/sort/group_max.cu
  cpp/src/groupby/sort/group_min.cu
  cpp/src/groupby/sort/group_quantiles.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/groupby/sort/group_std.cu
  cpp/src/groupby/sort/group_sum.cu
  cpp/src/groupby/sort/groupby.cu
  cpp/src/groupby/sort/result_cache.cpp
  cpp/src/groupby/sort/result_cache.hpp
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/jit/type.cpp
  cpp/src/quantiles/quantiles_util.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/common/groupby_test_util.hpp
  cpp/tests/groupby/sort/group_count_test.cu
  cpp/tests/groupby/sort/group_max_test.cu
  cpp/tests/groupby/sort/group_mean_test.cu
  cpp/tests/groupby/sort/group_median_test.cu
  cpp/tests/groupby/sort/group_min_test.cu
  cpp/tests/groupby/sort/group_quantile_test.cu
  cpp/tests/groupby/sort/group_std_test.cu
  cpp/tests/groupby/sort/group_sum_test.cu
  cpp/tests/groupby/sort/group_var_test.cu
  cpp/tests/groupby/sort/groupby_keys_test.cu
  cpp/tests/utilities/column_utilities.cu
Labels: 5 - Ready to Merge, libcudf++

#3761 [REVIEW] Introduce Frame class and make Index, DataFrame and Series subclasses of Frame
  CHANGELOG.md
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/column.pxd
  python/cudf/cudf/_libxx/column.pyx
  python/cudf/cudf/_libxx/gather.pyx
  python/cudf/cudf/_libxx/table.pxd
  python/cudf/cudf/_libxx/table.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/table.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3618 [REVIEW] Update Errors in docs: 10min-cudf-cupy.ipynb and Dataframes section
  CHANGELOG.md
  docs/cudf/source/10min-cudf-cupy.ipynb
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#3807 [REVIEW] Add nvstring full version to update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: 3 - Ready for Review

#3850 [WIP] Fix merge typecast scope issue
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#2438 [REVIEW] Build GBench Benchmarks in CI
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, gpuCI

#3858 [REVIEW] Fixes the broken debug build
  CHANGELOG.md
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/strings/detail/gather.cuh
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA)

#3733 [REVIEW] Port legacy hash partition kernel to new API
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/hashing/hashing_benchmark.cpp
  cpp/benchmarks/hashing/legacy/hashing_benchmark.cu
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/hashing.hpp
  cpp/src/hash/hashing.cu
  cpp/tests/hashing/hash_partition_test.cpp
Labels: 3 - Ready for Review, Spark, libcudf++

#3713 [REVIEW] Adding aggregation support to rolling_window
  CHANGELOG.md
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/rolling.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/rolling/rolling.cu
  cpp/src/rolling/rolling_detail.hpp
  cpp/tests/rolling/rolling_test.cpp
Labels: 3 - Ready for Review, libcudf++

#3868 Fix CUDA kernel logic in apply_grouped moving average example
  CHANGELOG.md
  python/cudf/cudf/core/groupby/legacy_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python), numba

#3866 [REVIEW] Remove unnecessary if check in NVStrings.create_offsets
  CHANGELOG.md
  cpp/custrings/strings/NVStrings.cu
Labels: 5 - Ready to Merge, strings

#3471 [REVIEW] Add overloads for copy_if_else : scalar/column, column/scalar, scalar/scalar
  CHANGELOG.md
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_tests.cu
Labels: 3 - Ready for Review, Spark, libcudf (C++/CUDA)

#3869 [REVIEW] Fixed size calculation in NVStrings::byte_count()
  CHANGELOG.md
  cpp/custrings/strings/attrs.cu
Labels: 5 - Ready to Merge, strings

#3594 [REVIEW] Adding clamp support to libcudf++
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/replace.hpp
  cpp/src/replace/clamp.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/replace/clamp_test.cpp
Labels: 3 - Ready for Review, libcudf++

#3855 [REVIEW] Modify reset_index to handle a new MC column
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3691 [REVIEW] Fix create_offsets to handle offset correctly
  CHANGELOG.md
  cpp/include/cudf/strings/string_view.inl
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/src/strings/strings_column_view.cu
  cpp/tests/strings/factories_test.cu
Labels: 5 - Ready to Merge, libcudf++, strings

#3875 Add abstract sink for IO writers, used by ORC and Parquet writers for now
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/io/writers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/data_sink.hpp
  cpp/tests/io/orc_test.cu
  cpp/tests/io/parquet_test.cu
Labels: cuIO

#3538 [REVIEW] Define and implement left semi join and left anti join
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/join.hpp
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/semi_join.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/join/semi_join_tests.cpp
Labels: 3 - Ready for Review, 5 - Merge After Dependencies, libcudf (C++/CUDA)

#3871 [REVIEW] Repair issue involving `split_out`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#3888 Drop `ptr=None` from `DeviceBuffer` call
  CHANGELOG.md
  python/cudf/cudf/core/buffer.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3886 [REVIEW] materializing a string column from a sliced string view fix
  CHANGELOG.md
  cpp/src/column/column.cu
  cpp/tests/copying/slice_tests.cu
Labels: Spark

#3403 [REVIEW] Define and implement new stack + tile APIs
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/reshape.hpp
  cpp/src/filling/legacy/tile.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/reshape/tile.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/reshape/interleave_columns_tests.cu
  cpp/tests/reshape/tile_tests.cu
Labels: 2 - In Progress, libcudf++

#3823 [REVIEW] Add header file for detail search functions
  CHANGELOG.md
  cpp/include/cudf/detail/search.hpp
  cpp/src/search/search.cu
Labels: 5 - Ready to Merge, libcudf++

#3893 [REVIEW] Fix segfault reading empty parquet file
  CHANGELOG.md
  cpp/src/io/parquet/legacy/parquet_reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
Labels: 5 - Ready to Merge, cuIO

#3882 Fail loudly when creating a StringColumn from nvstrings with > MAX_VAL(int32) bytes
  CHANGELOG.md
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/column.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3900 [REVIEW] Fix libcudf tests cmake to properly detect and link against nvstrings and nvcategory
  CHANGELOG.md
  cpp/tests/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, conda

#3906 [REVIEW] Update cudf meta for pandas version #3486 [skip-ci]
  conda/recipes/cudf/meta.yaml
Labels: 3 - Ready for Review

#3953 Fix overflow in column_buffer when computing the device buffer size
  CHANGELOG.md
  cpp/src/io/utilities/column_buffer.hpp
Labels: 5 - Ready to Merge, libcudf (C++/CUDA), libcudf++

#3902 Fixed bug for large size GPU array
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3959 [REVIEW] Add dask_cudf dispatch function to hash cudf.Series
  CHANGELOG.md
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#3910 [REVIEW] Adding sinh, cosh, tanh, asinh, acosh, atanh, cube root and rint unary support.
  CHANGELOG.md
  cpp/include/cudf/unary.hpp
  cpp/src/unary/math_ops.cu
  cpp/tests/unary/unary_ops_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf++

#3970 [REVIEW] Fix Series pickle
  CHANGELOG.md
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_pickling.py
Labels: 5 - Ready to Merge, bug, cuDF (Python)

#3698 [REVIEW] Implement count_(un)set_bits functions taking multiple ranges and update slice to compute null counts at once
  CHANGELOG.md
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/null_mask.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/copying/slice.cpp
  cpp/tests/bitmask/bitmask_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf (C++/CUDA), libcudf++

#3971 [REVIEW] Adding `as_table` to convert Column to Table in python
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3931 [REVIEW] dask cudf groupby `.agg` multicolumn handling fix
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_multiindex.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: ! - Release, 3 - Ready for Review, 4 - Needs Dask Reviewer, cuDF (Python), dask

#3759 Update 10min.ipynb with addition Dask verbiage/clarification
  CHANGELOG.md
  docs/cudf/source/10min.ipynb
Labels: 5 - Ready to Merge, doc

#3972 Add Java bindings for left_semi_join and left_anti_join
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer

#3976 Fix string serialization and memory_usage method to be consistent
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_serialize.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3982 [REVIEW] Fix java unary op enum and add missing ops
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/UnaryOp.java
  java/src/test/java/ai/rapids/cudf/UnaryOpTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#3911 [REVIEW] Adding null boolean handling for copy_if_else
  CHANGELOG.md
  cpp/include/cudf/copying.hpp
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf++

#3916 [REVIEW] Refactor gather bindings
  CHANGELOG.md
  python/cudf/cudf/_libxx/__init__.py
  python/cudf/cudf/_libxx/copying.pyx
  python/cudf/cudf/_libxx/lib.pxd
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Labels: 4 - Waiting on Author, cuDF (Python)

#3983 [REVIEW] Fix 0.12 --> 0.13 automerge
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_multiindex.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#3897 [REVIEW] Port cuIO JSON reader to `cudf::column` types
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/src/io/csv/csv_common.h
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/csv_gpu.h
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/json.h
  cpp/src/io/json/json_common.h
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/json_gpu.h
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/src/io/utilities/parsing_utils.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/io/utilities/type_conversion.cu
  cpp/src/io/utilities/type_conversion.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/io/json_test.cu
Labels: 5 - Ready to Merge, cuIO

#4000 Minor dask_cudf sort_values optimization for single partitions
  CHANGELOG.md
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4002 [REVIEW] Adding to_frame and fix for categorical column issue
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4005 [REVIEW] Fix null mask allocation bug in gather_bitmask
  CHANGELOG.md
  cpp/include/cudf/detail/scatter.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/scatter_tests.cpp
Labels: 3 - Ready for Review, bug

#3979 [REVIEW] Add name to Series serialize and deserialize
  CHANGELOG.md
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_serialize.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4009 [REVIEW] Updates to enable cudf build without installing
  CHANGELOG.md
  build.sh
Labels: 5 - Ready to Merge, CMake

#4003 Drop old `to_device` utility wrapper function
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4007 [REVIEW] Fix for copy_bitmask issue with uninitialized device_buffer
  CHANGELOG.md
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/column_utilities.hpp
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Labels: 5 - Ready to Merge, libcudf++

#4013 added cython definition for io readers cudf/io/io_types.hpp
  CHANGELOG.md
  python/cudf/cudf/_libxx/io_types.pxd
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#3748 [REVIEW] Optimize hash partition using shared memory
  CHANGELOG.md
  cpp/benchmarks/hashing/hashing_benchmark.cpp
  cpp/benchmarks/hashing/legacy/hashing_benchmark.cu
  cpp/include/cudf/detail/scatter.cuh
  cpp/src/hash/hashing.cu
  cpp/tests/hashing/hash_partition_test.cpp
Labels: 3 - Ready for Review, Performance

#4014 [REVIEW] ORC/Parquet: add count parameter to stripe/rowgroup-based reader API
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
Labels: 3 - Ready for Review, cuIO

#4017 [REVIEW] Fix memory leaks in `GDF_STRING` cython and `nans_to_nulls` cython
  CHANGELOG.md
  python/cudf/cudf/_lib/cudf.pyx
  python/cudf/cudf/_lib/unaryops.pyx
Labels: ! - Release, 5 - Ready to Merge, Cython, cuDF (Python)

#4008 [REVIEW] Eliminate extra copy in column constructor
  CHANGELOG.md
  cpp/src/column/column.cu
Labels: 5 - Ready to Merge, code quality, libcudf (C++/CUDA)

#4021 quantiles: rename and adjust signature for clarity.
  CHANGELOG.md
  cpp/include/cudf/quantiles.hpp
  cpp/src/quantiles/quantiles.cu
  cpp/tests/quantiles/quantiles_test.cu
Labels: 5 - Ready to Merge, libcudf (C++/CUDA)
