Repository rapidsai/cudf, pull requests merged in 2020-04, with the labels that each got.

#4766 [REVIEW] Update to use header-only nvtx3
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/nvtx/nvtx3.hpp
  cpp/src/utilities/nvtx/legacy/nvtx_utils.h
  cpp/src/utilities/nvtx/nvtx_utils.cpp
Labels: 5 - Ready to Merge, libcudf

#4660 [REVIEW] Port `cudf::partition` api to python/cython
  CHANGELOG.md
  cpp/src/copying/split.cpp
  cpp/tests/copying/split_tests.cu
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/partitioning.pxd
  python/cudf/cudf/_lib/cpp/types.pxd
  python/cudf/cudf/_lib/partitioning.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_sorting.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4767 [WIP] Remove linking against `gtest_main` and `gmock_main` in unit tests
  CHANGELOG.md
  cpp/tests/CMakeLists.txt
  cpp/tests/device_atomics/device_atomics_test.cu
  cpp/tests/device_table/device_table_tests.cu
  cpp/tests/error/error_handling_test.cu
  cpp/tests/hash_map/map_test.cu
  cpp/tests/io/comp/decomp_test.cu
  cpp/tests/nvcategory/nvcategory_test.cu
  cpp/tests/replace/normalize_replace_tests.cu
  cpp/tests/types/traits_test.cpp
  cpp/tests/types/type_dispatcher_test.cu
  cpp/tests/wrappers/bools_test.cpp
  cpp/tests/wrappers/timestamps_test.cu
Labels: 3 - Ready for Review, libcudf

#4774 DOC Add missing changelog entries [skip ci]
  CHANGELOG.md
Labels: doc

#4775 DOC Add missing changelog entries [skip ci]
  CHANGELOG.md
Labels: doc

#4771 [REVIEW] Added in an option to statically link against cudart
  CHANGELOG.md
  cpp/CMakeLists.txt
  java/README.md
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#4761 [REVIEW] Fix issues with nan_as_null in certain case
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_column.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4778 [REVIEW] Remove `scatter_to_tables` from libcudf, cython and python
  CHANGELOG.md
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/scatter.hpp
  cpp/src/copying/scatter.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/scatter_to_tables_tests.cpp
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/core/frame.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, cuDF (Python), libcudf

#4777 [WIP] Fix data pointer for column slices of zero length
  CHANGELOG.md
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/tests/test_column.py
Labels: 3 - Ready for Review, Cython, cuDF (Python)

#4466 [REVIEW] Fix merge key column sorting
  CHANGELOG.md
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_joining.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4770 [REVIEW] Fix readonly flag in `Column. __cuda_array_interface__`
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4692 [REVIEW] Add GPU and CUDA validations
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_cuda/__init__.py
  python/cudf/cudf/_cuda/gpu.pxd
  python/cudf/cudf/_cuda/gpu.pyx
  python/cudf/cudf/errors.py
  python/cudf/cudf/utils/gpu_utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4756 [REVIEW] Fix regex error checking for valid quantifier condition
  CHANGELOG.md
  cpp/src/strings/regex/regcomp.cpp
  cpp/tests/strings/contains_tests.cpp
  cpp/tests/strings/extract_tests.cpp
Labels: 3 - Ready for Review, libcudf

#4748 [REVIEW] Fix strings::all_characters_of_type to allow verify-types mask
  CHANGELOG.md
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/contains.cu
  cpp/src/strings/extract.cu
  cpp/src/strings/findall.cu
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/chars_types_tests.cpp
  python/cudf/cudf/_lib/cpp/strings/char_types.pxd
  python/cudf/cudf/_lib/strings/char_types.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 3 - Ready for Review, libcudf

#4796 [REVIEW] Fix groupby apply for operations that fail on empty groups
  CHANGELOG.md
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4793 [REVIEW] Add `cudf._cuda` to setup.py
  .gitignore
  CHANGELOG.md
  python/cudf/cudf/_cuda/__init__.pxd
  python/cudf/setup.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4801 [REVIEW] gitignore `_cuda/*.cpp` files
  .gitignore
  CHANGELOG.md
Labels: 5 - Ready to Merge, git

#4800 [REVIEW] Fix dataframe slicing with strides
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4520 [REVIEW] Add support for single->multi char string case mapping. Fix several single -> single mappings.
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/char_types/char_cases.hpp
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_cases.cu
  cpp/src/strings/char_types/char_cases.h
  cpp/src/strings/char_types/char_flags.h
  cpp/src/strings/char_types/is_flags.h
  cpp/src/strings/utilities.cu
  cpp/src/strings/utilities.hpp
  cpp/tests/strings/case_tests.cu
Labels: 3 - Ready for Review, Spark, libcudf, strings

#4790 [REVIEW] Replace the use of deprecated rmm APIs in the test environment
  CHANGELOG.md
  cpp/tests/CMakeLists.txt
  cpp/tests/device_table/device_table_tests.cu
  cpp/tests/nvcategory/nvcategory_test.cu
  cpp/tests/utilities/base_fixture.hpp
Labels: 3 - Ready for Review, RMM, libcudf

#4776 [REVIEW] Improve doxygen comments for libcudf string/timestamp conversion formats
  CHANGELOG.md
  cpp/include/cudf/strings/convert/convert_datetime.hpp
Labels: 3 - Ready for Review, libcudf

#4543 [REVIEW] Add `inplace` parameter support for `Series.replace` & `DataFrame.replace`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_replace.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#4804 [REVIEW] Fix issue related `repartition` during hash based repartition
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/ops.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4733 [REVIEW] Fix `isin` docs for `DataFrame`, `Series`, `Index`, and add `DataFrame.isin` support
  CHANGELOG.md
  python/cudf/cudf/_lib/replace.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4802 [REVIEW] refactor cudf::transpose in terms of interleave_columns + split
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/transpose/transpose_benchmark.cu
  cpp/include/cudf/detail/transpose.hpp
  cpp/include/cudf/transpose.hpp
  cpp/src/transpose/transpose.cu
  cpp/tests/transpose/transpose_test.cu
  python/cudf/cudf/_lib/cpp/transpose.pxd
  python/cudf/cudf/_lib/move.pxd
  python/cudf/cudf/_lib/transpose.pyx
Labels: 5 - Ready to Merge, cuDF (Python), libcudf

#4814 [REVIEW] Raise error if to_csv does not get `filename/path`
  CHANGELOG.md
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4813 [REVIEW] Fix `GenericIndex` printing
  CHANGELOG.md
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_repr.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4817 [REVIEW] Fix `fixed_point` documentation
  CHANGELOG.md
  cpp/include/fixed_point/fixed_point.hpp
Labels: 3 - Ready for Review, doc

#4811 [REVIEW] Add precision to subsecond specifier in timestamp/string conversion format
  CHANGELOG.md
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cu
Labels: 3 - Ready for Review, libcudf

#4825 [REVIEW] update the iloc exp in dataframe.py
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#4772 [REVIEW] Cleanup dask_cudf to_parquet and enable _metadata creation
  CHANGELOG.md
  python/cudf/cudf/io/__init__.py
  python/cudf/cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4797 [REVIEW] Fix string timestamp to datetime conversion with `ms` and `ns`
  CHANGELOG.md
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4842 Java bindings for titlizing a String column [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, 5 - Ready to Merge, Spark, cuDF (Java)

#4783 [REVIEW] Add support for child columns to mutable_column_device_view
  CHANGELOG.md
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_view.hpp
  cpp/src/column/column_device_view.cu
  cpp/tests/column/compound_test.cu
Labels: 3 - Ready for Review, libcudf

#4845 [REVIEW] Add CUDF_FUNC_RANGE to top-level cuIO function APIs
  CHANGELOG.md
  cpp/src/io/functions.cpp
Labels: 3 - Ready for Review, cuIO, libcudf

#4839 Update Java bindings for timestamp cast formatting changes [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4849 Update Java bindings to use new NVTX API [skip ci]
  CHANGELOG.md
  java/src/main/native/src/NvtxRangeJni.cpp
Labels: 5 - Ready to Merge, cuDF (Java)

#4815 Add JNI total memory allocated API [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4848 [REVIEW] [PERF] Side step `unique_count` calculation in `scatter_by_map`
  CHANGELOG.md
  python/cudf/cudf/_lib/partitioning.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_sorting.py
Labels: 5 - Ready to Merge, Performance, cuDF (Python)

#4834 [REVIEW] Fixes bug in transform in handling single line UDFs
  CHANGELOG.md
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary-transform-test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#4805 Update/Fix hash_object_dispatch definitions in dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4846 [REVIEW] Fix CSV parsing with byte_range parameter and string columns
  CHANGELOG.md
  cpp/src/io/csv/legacy/csv_reader_impl.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/io/csv_test.cu
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO, libcudf

#4852 [REVIEW] Add NVTX range calls to strings APIs
  CHANGELOG.md
  cpp/src/strings/attributes.cu
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/combine.cu
  cpp/src/strings/contains.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/extract.cu
  cpp/src/strings/find.cu
  cpp/src/strings/find_multiple.cu
  cpp/src/strings/findall.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/split/partition.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/strings_column_factories.cu
  cpp/src/strings/strings_column_view.cu
  cpp/src/strings/strip.cu
  cpp/src/strings/substring.cu
  cpp/src/strings/translate.cu
  cpp/src/strings/wrap.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/src/text/normalize.cu
  cpp/src/text/tokenize.cu
Labels: 3 - Ready for Review, libcudf

#4841 [REVIEW] Remove unused single_lane_block_popc_reduce
  CHANGELOG.md
  cpp/include/cudf/detail/utilities/cuda.cuh
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#4807 [REVIEW] Fix `categories` duplication in `dask_cudf`
  CHANGELOG.md
  python/dask_cudf/dask_cudf/accessor.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4860 [REVIEW] HostMemoryBufferTest should tear down the pinned memory pool [skip ci]
  CHANGELOG.md
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/HostMemoryBufferTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4840 [REVIEW] Add docs for `T`, `empty` & `values`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#4816 [Review] Remove java API use of deprecated RMM APIs [skip ci]
  CHANGELOG.md
  java/README.md
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/DeviceMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/NativeDepsLoader.java
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmMemoryAccessorTest.java
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Labels: 5 - Ready to Merge, Spark, cuDF (Java)

#4859 [REVIEW] JSON reader: fix data type inference for string columns
  CHANGELOG.md
  cpp/src/io/json/json_gpu.cu
  cpp/tests/io/csv_test.cu
  cpp/tests/io/json_test.cu
Labels: 3 - Ready for Review, cuIO

#4869 Expose contiguous table when deserializing from Java [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ContiguousTable.java
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4872 [REVIEW] Fix broken column wrapper in benchmark
  CHANGELOG.md
  cpp/benchmarks/merge/merge_benchmark.cpp
Labels: 3 - Ready for Review, bug, libcudf

#4838 [REVIEW] Fix to support empty inputs to `replace` method
  CHANGELOG.md
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_replace.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4871 [REVIEW] Add in the build information when building the java jar file [skip ci]
  CHANGELOG.md
  java/buildscripts/build-info
  java/pom.xml
Labels: 5 - Ready to Merge, Spark, cuDF (Java)

#4868 [REVIEW] Temporary fix to skip validation on Dask related runs
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/utils/gpu_utils.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4826 [REVIEW] Move memory resource from RmmTestEnvironment to the custom gtest main() scope
  CHANGELOG.md
  cpp/tests/utilities/base_fixture.hpp
Labels: 3 - Ready for Review, libcudf

#4865 [REVIEW] Add docs and clarify limitations of `applymap`
  CHANGELOG.md
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#4847 [REVIEW] Replace legacy NVTX calls with "standalone" NVTX bindings calls
  CHANGELOG.md
  python/cudf/cudf/_lib/legacy/csv.pyx
  python/cudf/cudf/_lib/nvtx.pxd
  python/cudf/cudf/_lib/nvtx.pyx
  python/cudf/cudf/_lib/nvtx/__init__.py
  python/cudf/cudf/_lib/nvtx/_lib/__init__.py
  python/cudf/cudf/_lib/nvtx/_lib/lib.pxd
  python/cudf/cudf/_lib/nvtx/_lib/lib.pyx
  python/cudf/cudf/_lib/nvtx/colors.py
  python/cudf/cudf/_lib/nvtx/nvtx.py
  python/cudf/cudf/_lib/nvtx/utils/__init__.py
  python/cudf/cudf/_lib/nvtx/utils/cached.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/utils/__init__.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4876 Mark Java cleaner objects as being cleaned even if exception is thrown [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/java/ai/rapids/cudf/DeviceMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/MemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/java/ai/rapids/cudf/RmmEventHandler.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4867 [REVIEW] Parquet reader: coalesce adjacent column chunk reads
  CHANGELOG.md
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
Labels: 3 - Ready for Review, Performance, cuIO, libcudf

#4873 [REVIEW] Remove null_count invocation from mutable_view
  CHANGELOG.md
  cpp/src/column/column.cu
  cpp/src/groupby/sort/sort_helper.cu
Labels: 3 - Ready for Review, Performance, libcudf

#4861 [REVIEW] Fix cudf::strings::to_integers illegal-memory-access with all-empty strings column
  CHANGELOG.md
  cpp/src/strings/convert/convert_integers.cu
  cpp/tests/strings/integers_tests.cu
Labels: 3 - Ready for Review, libcudf

#4780 [REVIEW] Handle nulls in Statistical column operations
  CHANGELOG.md
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#4884 [REVIEW] Add more NVTX annotations in cuDF Python
  CHANGELOG.md
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/io/csv.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4857 [REVIEW] Change JIT cache location to user home
  CHANGELOG.md
  cpp/src/jit/cache.cpp
  cpp/src/jit/cache.h
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#4887 [REVIEW] Remove `developer.rst` and any links
  CHANGELOG.md
  docs/cudf/source/developer.rst
  docs/cudf/source/index.rst
Labels: 5 - Ready to Merge, cuDF (Python), doc

#4875 [REVIEW] Fix cudf::strings::from_integer logic converting min integer to string
  CHANGELOG.md
  cpp/src/strings/convert/convert_integers.cu
  cpp/tests/strings/integers_tests.cu
Labels: 3 - Ready for Review, libcudf

#4870 [REVIEW] Allow chunked parquet file writing from python
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  python/cudf/cudf/_lib/cpp/io/functions.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, cuDF (Python), cuIO

#4899 [REVIEW] Fix series inplace handling
  CHANGELOG.md
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_setitem.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4789 [REVIEW] disallow timestamp diff and sum via binaryop
  CHANGELOG.md
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/jit/code/operation.cpp
  cpp/src/binaryop/jit/code/traits.cpp
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/binaryop/util/operation.h
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, libcudf

#4902 [REVIEW] Use ContextDecorator instead of contextmanager for nvtx.annotate
  CHANGELOG.md
  python/cudf/cudf/_lib/nvtx/nvtx.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4878 [REVIEW] Remove obsolete string_from_host utility
  CHANGELOG.md
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/search/search.cu
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/combine.cu
  cpp/src/strings/contains.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/copying/copying.cu
  cpp/src/strings/extract.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/find.cu
  cpp/src/strings/findall.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/split/partition.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/strings_column_factories.cu
  cpp/src/strings/strip.cu
  cpp/src/strings/substring.cu
  cpp/src/strings/translate.cu
  cpp/src/strings/utilities.hpp
  cpp/src/strings/wrap.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/src/text/normalize.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/array_tests.cpp
  cpp/tests/strings/attrs_tests.cpp
  cpp/tests/strings/booleans_tests.cpp
  cpp/tests/strings/case_tests.cpp
  cpp/tests/strings/combine_tests.cpp
  cpp/tests/strings/concatenate_tests.cpp
  cpp/tests/strings/datetime_tests.cpp
  cpp/tests/strings/fill_tests.cpp
  cpp/tests/strings/find_tests.cpp
  cpp/tests/strings/floats_tests.cpp
  cpp/tests/strings/pad_tests.cpp
  cpp/tests/strings/substring_tests.cpp
  cpp/tests/strings/utilities.cu
  cpp/tests/strings/utilities.h
Labels: 3 - Ready for Review, libcudf

#4905 [REVIEW] Get decorated function name as message when annotating
  CHANGELOG.md
  python/cudf/cudf/_lib/nvtx/nvtx.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4883 [REVIEW] Fix series get/set to match pandas
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_setitem.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4888 [REVIEW] Handle dropping of nan's & nulls using `skipna` parameter in Statistical reduction ops
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_stats.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4907 [REVIEW] Reuse EventAttributes across NVTX annotations
  CHANGELOG.md
  python/cudf/cudf/_lib/nvtx/_lib/__init__.py
  python/cudf/cudf/_lib/nvtx/_lib/lib.pyx
  python/cudf/cudf/_lib/nvtx/nvtx.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4877 [REVIEW] Fix `DataFrame.mask` and align `mask` & `where` behavior with pandas
  CHANGELOG.md
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4912 [REVIEW] Drop old `valid` check in `element_indexing`
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4779 [REVIEW] Add support for reading arbitrary stripes/rowgroup lists
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/io/readers.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/parquet/parquet_gpu.h
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/tests/io/orc_test.cu
  cpp/tests/io/parquet_test.cu
  python/cudf/cudf/_lib/cpp/io/functions.pxd
Labels: 3 - Ready for Review, cuIO, libcudf

#4901 [REVIEW] Improve unit tests for casting Java numeric types to string [skip ci]
  CHANGELOG.md
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4906 [REVIEW] Java bindings for interleave_columns [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4915 [REVIEW] Fix to `reset_index` inplace in MultiIndex and other places
  CHANGELOG.md
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/multiindex.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4889 [REVIEW] Fix MultiIndex Merging
  CHANGELOG.md
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_joining.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#4909 Added cuda method to test transform [skip ci]
  CHANGELOG.md
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4917 [REVIEW] Add support for casting unsupported `dtypes` of same kind
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4844 [REVIEW] Change Doxygen color to RAPIDS purple (and other misc changes)
  CHANGELOG.md
  cpp/doxygen/Doxyfile
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/groupby.hpp
  cpp/tests/fixed_point/fixed_point_tests.cu
Labels: 3 - Ready for Review, doc

#4903 [REVIEW] Add more doxygen documentation for cudf-io [de]compression kernels
  CHANGELOG.md
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/snap.cu
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/statistics/column_stats.cu
Labels: 3 - Ready for Review, cuIO, doc

#4929 Java methods ensure calling thread's CUDA device matches RMM device [skip ci]
  CHANGELOG.md
  java/README.md
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/CudaJni.cpp
  java/src/main/native/src/RmmJni.cpp
  java/src/main/native/src/ScalarJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmMemoryAccessorTest.java
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4918 [REVIEW] Adding support for `cupy.ndarray` in `series.loc`
  CHANGELOG.md
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_scan.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4923 [REVIEW]Add Java and JNI bindings for stringSplit [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4933 [REVIEW] Enable nop annotate
  CHANGELOG.md
  python/cudf/cudf/_lib/nvtx/__init__.py
  python/cudf/cudf/_lib/nvtx/nvtx.py
Labels: 5 - Ready to Merge, Performance, cuDF (Python)

#4927 Use stack for memory in `deviceGetName`
  CHANGELOG.md
  python/cudf/cudf/_cuda/gpu.pyx
  python/cudf/cudf/utils/gpu_utils.py
Labels: 5 - Ready to Merge, Cython

#4943 Fix-up error handling in GPU detection
  CHANGELOG.md
  python/cudf/cudf/_cuda/gpu.pxd
  python/cudf/cudf/_cuda/gpu.pyx
Labels: 5 - Ready to Merge, Cython

#4703 [REVIEW] Optimize strings concatenate for many columns
  CHANGELOG.md
  cpp/benchmarks/column/concatenate_benchmark.cpp
  cpp/include/cudf/detail/concatenate.cuh
  cpp/include/cudf/strings/detail/concatenate.hpp
  cpp/src/copying/concatenate.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/tests/strings/concatenate_tests.cpp
Labels: 5 - Ready to Merge, Performance, libcudf

#4864 [REVIEW] Add support for `__array__` method in cuDF
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_cuda_apply.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_numpy_interop.py
  python/cudf/cudf/tests/test_onehot.py
  python/cudf/cudf/tests/test_scan.py
  python/cudf/cudf/tests/test_string.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python)

#4863 [REVIEW] Create is_integer/is_float functions for checking characters before calling to_integers/to_floats
  CHANGELOG.md
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/include/cudf/strings/string.cuh
  cpp/src/strings/char_types/char_types.cu
  cpp/tests/strings/chars_types_tests.cpp
Labels: 3 - Ready for Review, libcudf

#4950 Fix import errors with Numba 0.49+
  CHANGELOG.md
  python/cudf/cudf/utils/applyutils.py
Labels: 5 - Ready to Merge, cuDF (Python), numba

#4924 Cleanup dask_cudf rearrange_by_hash and implement edge cases
  CHANGELOG.md
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4949 [REVIEW] scatter, gather benchmark constructor fix
  CHANGELOG.md
  cpp/benchmarks/copying/gather_benchmark.cu
  cpp/benchmarks/copying/scatter_benchmark.cu
  cpp/tests/io/legacy/io_test_utils.hpp
Labels: 3 - Ready for Review

#4953 [REVIEW] Document supported NVIDIA GPUs and CUDA versions for cuDF
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libnvstrings/meta.yaml
  python/nvstrings/README.md
Labels: 5 - Ready to Merge

#4963 Use `cudaDeviceAttr` in `getDeviceAttribute`
  CHANGELOG.md
  python/cudf/cudf/_cuda/gpu.pyx
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#4960 [REVIEW] Return the result of `to_json`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4886 [REVIEW] Minimize regex-find calls in multi-replace cudf::strings::replace_re function
  CHANGELOG.md
  cpp/src/strings/replace/multi_re.cu
Labels: 3 - Ready for Review, libcudf

#4962 [REVIEW] Add missing parameters to `DataFrame.replace` & `Series.replace`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4968 [REVIEW] Add CODE_OF_CONDUCT.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
Labels: 3 - Ready for Review

#4928 [REVIEW] Misc performance improvements for `scatter_by_map`
  CHANGELOG.md
  python/cudf/cudf/_lib/column.pxd
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/_lib/nvtx/nvtx.py
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, Cython, Performance, cuDF (Python)

#4965 [REVIEW] Raise Error when there are duplicate columns sent to `cudf.concat`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_concat.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4938 [REVIEW] Add Java bindings for strip [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4980 Change Java HostMemoryBuffer default to prefer pinned memory [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4985 [REVIEW] Add null_count to column ctors and use already computed null_count
  CHANGELOG.md
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/cpp/column/column.pxd
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/dask_cudf/dask_cudf/backends.py
Labels: 5 - Ready to Merge, Performance, cuDF (Python)

#4940 [REVIEW] Fix boolean mask issue with large sized Dataframe
  CHANGELOG.md
  cpp/include/cudf/detail/copy_if.cuh
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf++

#4993 Remove Java memory prediction code [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnFilterOptions.java
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/DevicePrediction.java
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/HostPrediction.java
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/main/java/ai/rapids/cudf/MemoryListener.java
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/java/ai/rapids/cudf/Schema.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/CudfTestBase.java
Labels: 5 - Ready to Merge, Spark, cuDF (Java)

#4956 [REVIEW] Dropping `find_first_value` and `find_last_value`
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/series.py
Labels: 3 - Ready for Review, cuDF (Python)

#4977 Fix compilation of cuDF benchmarks with build.sh
  CHANGELOG.md
  build.sh
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reshape/legacy/stack_benchmark.cu
  cpp/benchmarks/stream_compaction/apply_boolean_mask_benchmark.cu
  cpp/tests/CMakeLists.txt
Labels: CMake, gpuCI

#5002 Fix Column.__reduce__ to accept `null_count`
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4984 [REVIEW] fix groupby nth aggregation negative n and exclude nulls
  CHANGELOG.md
  cpp/src/groupby/sort/group_nth_element.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/group_argmax_test.cpp
  cpp/tests/groupby/group_argmin_test.cpp
  cpp/tests/groupby/group_count_test.cpp
  cpp/tests/groupby/group_max_test.cpp
  cpp/tests/groupby/group_mean_test.cpp
  cpp/tests/groupby/group_median_test.cpp
  cpp/tests/groupby/group_min_test.cpp
  cpp/tests/groupby/group_nth_element_test.cpp
  cpp/tests/groupby/group_nth_element_test.cu
  cpp/tests/groupby/group_nunique_test.cpp
  cpp/tests/groupby/group_quantile_test.cpp
  cpp/tests/groupby/group_std_test.cpp
  cpp/tests/groupby/group_sum_test.cpp
  cpp/tests/groupby/group_var_test.cpp
  cpp/tests/groupby/groupby_groups_test.cpp
  cpp/tests/groupby/groupby_keys_test.cpp
Labels: 3 - Ready for Review

#4975 [REVIEW] Implement Java bindings for first/last based on nth_element [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Aggregate.java
  java/src/main/java/ai/rapids/cudf/AggregateOp.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge, Spark, cuDF (Java)

#5006 [REVIEW] Add Java and JNI bindings for strip, lstrip and rstrip[skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#5011 [REVIEW] Fix DataFrame loc issue with boolean masking
  CHANGELOG.md
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5009 [REVIEW] Fix pickling for string and categorical columns
  CHANGELOG.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_pickling.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5005 [REVIEW] Fix CSV reader error when only one of the row selection parameters is set
  CHANGELOG.md
  cpp/include/cudf/io/functions.hpp
  cpp/include/cudf/legacy/io_types.hpp
  cpp/src/io/csv/legacy/csv_reader_impl.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/io/csv_test.cu
  cpp/tests/io/legacy/csv_test.cu
Labels: 3 - Ready for Review

#4996 [REVIEW] Parquet writer: fix potentially zero-sized string dictionary
  CHANGELOG.md
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
Labels: 3 - Ready for Review, bug, cuIO, libcudf

#4922 [REVIEW] Fix cudf::strings:split logic for many columns
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/strings/split/split.hpp
  cpp/src/rolling/rolling.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_record.cu
  cpp/tests/strings/split_tests.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf, strings

#4958 [REVIEW] Fix strings::replace perf for long strings
  CHANGELOG.md
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.inl
  cpp/tests/io/legacy/io_test_utils.hpp
Labels: 3 - Ready for Review, libcudf

#5020 Fix #5019 - conda install pre_commit not found [skip ci]
  CHANGELOG.md
  CONTRIBUTING.md
Labels: 5 - Ready to Merge, doc

#4947 [REVIEW] Add support for `CategoricalColumn` to be type-casted with different categories
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.0.yml
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: 3 - Ready for Review, 4 - Needs Dask Reviewer, cuDF (Python)

#5021 [REVIEW] Fix bug with unsigned right shift and scalar lhs
  CHANGELOG.md
  cpp/src/binaryop/jit/code/operation.cpp
  cpp/tests/binaryop/binop-integration-test.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, libcudf

#4788 [REVIEW] find the day of the year
  CHANGELOG.md
  cpp/include/cudf/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, Spark, feature request, libcudf

#5000 [REVIEW] Performance improvements in `isin` and dask_cudf backend
  CHANGELOG.md
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/utils/dtypes.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/sorting.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#4992 Java bindings for nans to nulls [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, Spark, cuDF (Java)

#5018 [REVIEW] Jit cache path improvements
  CHANGELOG.md
  cpp/src/jit/cache.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#5033 Fix Numba deprecation warnings with Numba 0.49+
  CHANGELOG.md
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/tests/test_udf_binops.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/cudautils.py
Labels: 5 - Ready to Merge, cuDF (Python), numba

#5030 [REVIEW] Fix GroupBy sort=True
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, cuDF (Python)

#4967 [REVIEW] Add more comments to top-level gpuinflate and debrotli kernels
  CHANGELOG.md
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
Labels: 3 - Ready for Review, cuIO, doc, libcudf

#5039 [REVIEW] Make `annotate` picklable
  CHANGELOG.md
  python/cudf/cudf/_lib/nvtx/nvtx.py
Labels: 5 - Ready to Merge, cuDF (Python)

#5041 [REVIEW] Fix invalid java test [skip-ci]
  CHANGELOG.md
  java/src/test/java/ai/rapids/cudf/BinaryOpTest.java
Labels: 5 - Ready to Merge, cuDF (Java)

#4483 [REVIEW] Add support for fill() on dictionary columns
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cudf/dictionary/detail/search.hpp
  cpp/include/cudf/dictionary/encode.hpp
  cpp/include/cudf/dictionary/search.hpp
  cpp/src/dictionary/encode.cu
  cpp/src/dictionary/search.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/filling/fill.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/dictionary/fill_test.cpp
  cpp/tests/dictionary/search_test.cpp
Labels: 3 - Ready for Review, libcudf

#5027 [REVIEW] Move nvstrings standalone docs pages to libcudf doxygen pages
  CHANGELOG.md
  cpp/doxygen/Doxyfile
  cpp/doxygen/main_page.md
  cpp/doxygen/regex.md
  cpp/doxygen/unicode.md
  cpp/include/cudf/strings/attributes.hpp
  cpp/include/cudf/strings/capitalize.hpp
  cpp/include/cudf/strings/case.hpp
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/include/cudf/strings/combine.hpp
  cpp/include/cudf/strings/contains.hpp
  cpp/include/cudf/strings/convert/convert_booleans.hpp
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/include/cudf/strings/convert/convert_floats.hpp
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/include/cudf/strings/convert/convert_ipv4.hpp
  cpp/include/cudf/strings/convert/convert_urls.hpp
  cpp/include/cudf/strings/copying.hpp
  cpp/include/cudf/strings/extract.hpp
  cpp/include/cudf/strings/find.hpp
  cpp/include/cudf/strings/find_multiple.hpp
  cpp/include/cudf/strings/findall.hpp
  cpp/include/cudf/strings/padding.hpp
  cpp/include/cudf/strings/replace.hpp
  cpp/include/cudf/strings/replace_re.hpp
  cpp/include/cudf/strings/split/partition.hpp
  cpp/include/cudf/strings/split/split.hpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/include/cudf/strings/strip.hpp
  cpp/include/cudf/strings/substring.hpp
  cpp/include/cudf/strings/translate.hpp
  cpp/include/cudf/strings/wrap.hpp
  cpp/include/nvtext/generate_ngrams.hpp
  cpp/include/nvtext/ngrams_tokenize.hpp
  cpp/include/nvtext/normalize.hpp
  cpp/include/nvtext/tokenize.hpp
  cpp/src/strings/regex/regcomp.cpp
  cpp/src/text/utilities/tokenize_ops.cuh
Labels: 3 - Ready for Review, doc, libcudf

#5043 [REVIEW] Remove invalid examples page from libcudf doxygen
  CHANGELOG.md
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/search.hpp
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/join.hpp
  cpp/include/cudf/legacy/join.hpp
  cpp/include/cudf/legacy/search.hpp
  cpp/include/cudf/search.hpp
  cpp/include/cudf/sorting.hpp
  cpp/include/cudf/stream_compaction.hpp
Labels: 3 - Ready for Review, doc, libcudf

#5045 [REVIEW] Remove call to `unique()` in concat when `axis=1`
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/reshape.py
Labels: 5 - Ready to Merge, cuDF (Python)
