Repository rapidsai/cudf, pull requests merged in 2020-11, with the labels that each got.

#6636 [REVIEW] Fix orc boolean column corruption issue
  CHANGELOG.md
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.boolean.orc
  python/cudf/cudf/tests/test_orc.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, 4 - Needs cuIO Reviewer, cuDF (Python), cuIO

#6621 [REVIEW] Fix subword tokenizer metadata for token count equal to max_sequence_length
  CHANGELOG.md
  cpp/src/text/subword/subword_tokenize.cu
  cpp/tests/text/subword_tests.cpp
Labels: 3 - Ready for Review, libcudf

#6640 [REVIEW] Add error message for unsupported `axis` parameter in DataFrame APIs
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6622 [REVIEW] Update `to_pandas` api docs
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, doc

#6638 [REVIEW] Add support for `pipe` API
  CHANGELOG.md
  python/cudf/cudf/core/__init__.py
  python/cudf/cudf/core/common.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_series.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6556 [REVIEW] Add dictionary support to libcudf join APIs
  CHANGELOG.md
  cpp/include/cudf/join.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/semi_join.cu
  cpp/src/table/table_view.cpp
  cpp/tests/join/join_tests.cpp
  cpp/tests/join/semi_join_tests.cpp
Labels: 3 - Ready for Review, libcudf

#6562 [REVIEW] Implement `cudf::round` floating point and integer types (`HALF_UP`) [skip ci]
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/round.hpp
  cpp/include/cudf/round.hpp
  cpp/src/round/round.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/round/round_tests.cpp
Labels: 3 - Ready for Review, libcudf

#6610 [REVIEW] Add ability to set scalar values in `cudf.DataFrame`
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_setitem.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6545 [REVIEW] Pin cmake policies to cmake 3.17 version
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/EvalGpuArchs.cmake
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
  cpp/tests/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake

#6653 [REVIEW] Replaced SHFL_XOR calls with cub::WarpReduce
  CHANGELOG.md
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
Labels: 5 - Ready to Merge, code quality, cuIO

#6635 [REVIEW] Add cudf::test::dictionary_column_wrapper class
  CHANGELOG.md
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/dictionary/search.cu
  cpp/tests/dictionary/search_test.cpp
  cpp/tests/search/search_test.cpp
Labels: 3 - Ready for Review, libcudf

#6609 [REVIEW] Support fixed-point decimal for HostColumnVector [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/DType.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVectorCore.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/DecimalColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ScalarTest.java
Labels: cuDF (Java)

#6643 [REVIEW] Fix csv writer handling embedded comma delimiter
  CHANGELOG.md
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
Labels: 3 - Ready for Review, libcudf

#6647 [REVIEW] Implement `cudf::round` floating point and integer types (`HALF_EVEN`)
  CHANGELOG.md
  cpp/include/cudf/round.hpp
  cpp/src/round/round.cu
  cpp/tests/round/round_tests.cpp
Labels: 5 - Ready to Merge, libcudf

#6616 [REVIEW] Disallow `fixed_point` `cudf::concatenate` with different scales
  CHANGELOG.md
  cpp/include/cudf/types.hpp
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/fixed_point/fixed_point_tests.cu
  cpp/tests/scalar/factories_test.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, bug, libcudf

#6142 [REVIEW] Reading ORC statistics
  .gitignore
  CHANGELOG.md
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/functions.cpp
  python/cudf/cudf/_lib/cpp/io/orc_metadata.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/data/orc/TestOrcFile.testStripeLevelStats.orc
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
  python/cudf/cudf/utils/metadata/__init__.py
  python/cudf/cudf/utils/metadata/orc_column_statistics.proto
  python/cudf/setup.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO, libcudf

#6651 [REVIEW] Add cudf::dictionary::make_dictionary_pair_iterator
  CHANGELOG.md
  cpp/include/cudf/dictionary/detail/iterator.cuh
  cpp/include/cudf/utilities/traits.hpp
Labels: 3 - Ready for Review, libcudf

#6687 [REVIEW] Fix issue where index name of caller object is being modified in csv writer
  CHANGELOG.md
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6644 [REVIEW] Cover different CSV reader/writer options in benchmarks
  CHANGELOG.md
  cpp/benchmarks/common/generate_benchmark_input.cpp
  cpp/benchmarks/common/generate_benchmark_input.hpp
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/benchmarks/io/cuio_benchmark_common.cpp
  cpp/benchmarks/io/cuio_benchmark_common.hpp
Labels: 5 - Ready to Merge, cuIO

#6673 [REVIEW] Parameterize avro and json benchmark
  CHANGELOG.md
  python/cudf/cudf/benchmarks/bench_cudf_io.py
  python/cudf/cudf/benchmarks/get_datasets.py
  python/cudf/cudf/benchmarks/get_datasets.sh
Labels: 5 - Ready to Merge, cuDF (Python)

#6693 [REVIEW] Fix issue related to `na_values` input in `read_csv`
  CHANGELOG.md
  cpp/include/cudf/io/csv.hpp
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf

#6692 [REVIEW] Fix handling of empty column name in csv writer
  CHANGELOG.md
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6690 [REVIEW] Explicitly set legacy or per-thread default stream in JNI [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Cuda.java
Labels: cuDF (Java)

#6675 [REVIEW] Add DecimalDtype to cuDF
  CHANGELOG.md
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_dtypes.py
Labels: 3 - Ready for Review, cuDF (Python)

#6685 [REVIEW] Implement `cudf::round` `decimal32` & `decimal64` (`HALF_UP` and `HALF_EVEN`)
  CHANGELOG.md
  cpp/include/cudf/round.hpp
  cpp/src/round/round.cu
  cpp/tests/round/round_tests.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#6670 [REVIEW] Fix a bug where PTX parser fails to correctly parse a python lambda generated UDF
  CHANGELOG.md
  cpp/src/jit/parser.cpp
  python/cudf/cudf/tests/test_transform.py
Labels: 4 - Needs libcudf Reviewer, cuDF (Python), libcudf

#6704 Fix leak warnings in JNI unit tests [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/nvcomp/BatchedLZ4Decompressor.java
  java/src/main/java/ai/rapids/cudf/nvcomp/Decompressor.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/DecimalColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6709 [REVIEW] Raise informative error while converting a pandas dataframe with duplicate columns
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6701 [REVIEW] Fix issue when `numpy.str_` is given as input to string parameters in io APIs
  CHANGELOG.md
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#6708 [REVIEW] Apply `na_rep` to column names in csv writer
  CHANGELOG.md
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#6710 [REVIEW] Fix an out-of-bounds indexing error in gather() for LIST type.
  CHANGELOG.md
  cpp/include/cudf/lists/detail/gather.cuh
Labels: Spark, bug, libcudf

#6705 Add nested type support to Java table serialization [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/DType.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6722 Handle index=False in dask_cudf.read_parquet
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#6711 Implement `cudf::cast` for `decimal32/64` to/from integer and floating point
  CHANGELOG.md
  cpp/include/cudf/unary.hpp
  cpp/src/unary/cast_ops.cu
  cpp/tests/unary/unary_ops_test.cpp
Labels: 5 - Ready to Merge, libcudf

#6721 Add serialization methods for ListColumn
  CHANGELOG.md
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_serialize.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#6732 Fix cuDF benchmarks build with static Arrow lib and fix rapids-compose cuDF JNI build [skip-ci]
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  java/pom.xml
Labels: CMake, cuDF (Java), libcudf

#6712 [REVIEW] Remove reinterpret_cast conversions between pointer types in Avro
  CHANGELOG.md
  cpp/src/io/avro/avro.cpp
  cpp/src/io/avro/avro.h
  cpp/src/io/avro/avro_common.h
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/avro_gpu.h
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
Labels: 5 - Ready to Merge, cuIO, tech debt

#6676 [REVIEW] Add dictionary support to cudf::quantile
  CHANGELOG.md
  cpp/src/quantiles/quantile.cu
  cpp/tests/quantiles/quantile_test.cpp
Labels: 5 - Ready to Merge, libcudf

#6727 [REVIEW] Remove 2nd type-dispatcher call from cudf::reduce for simple operations
  CHANGELOG.md
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/reduction.hpp
  cpp/src/reductions/all.cu
  cpp/src/reductions/any.cu
  cpp/src/reductions/max.cu
  cpp/src/reductions/min.cu
  cpp/src/reductions/product.cu
  cpp/src/reductions/simple.cuh
  cpp/src/reductions/sum.cu
  cpp/src/reductions/sum_of_squares.cu
Labels: 3 - Ready for Review, libcudf

#6459 [REVIEW] Adding map method for series
  CHANGELOG.md
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_seriesmap.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6720 [REVIEW] Fix implementation of `dtype` parameter in `cudf.read_csv`
  CHANGELOG.md
  cpp/src/io/utilities/type_conversion.cu
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6739 [REVIEW] Add Java bindings for is_timestamp [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: cuDF (Java)

#6742 Fix concat bug in dask_cudf Series/Index creation
  CHANGELOG.md
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask

#6748 Add Java API to concatenate serialized tables to ContiguousTable [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6749 Update nested JNI builder so we can do it incrementally. [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java)

#6728 [REVIEW] Fix cudf python docs and associated build warnings
  CHANGELOG.md
  docs/cudf/source/api.rst
  python/cudf/cudf/comm/gpuarrow.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, doc

#6571 [REVIEW] Add ORC fuzz tests with varying function parameters
  CHANGELOG.md
  python/cudf/cudf/_fuzz_testing/orc.py
  python/cudf/cudf/_fuzz_testing/tests/fuzz_test_orc.py
  python/cudf/cudf/_fuzz_testing/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6702 [REVIEW] Fix orc read corruption on boolean column
  CHANGELOG.md
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.boolean_corruption_PR_6636.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.boolean_corruption_PR_6702.orc
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO

#6662 [REVIEW] `RangeIndex` support for step parameter
  CHANGELOG.md
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_monotonic.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6698 [REVIEW] Remove macros from ORC reader and writer
  CHANGELOG.md
  cpp/src/io/functions.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_field_reader.hpp
  cpp/src/io/orc/orc_field_writer.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
Labels: 5 - Ready to Merge, code quality, cuIO, libcudf

#6559 [REVIEW] Refactoring cooperative loading with single thread loading
  CHANGELOG.md
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
Labels: 3 - Ready for Review, cuIO

#6713 [REVIEW] Add missing call to cudaStreamSynchronize() in get_value()
  CHANGELOG.md
  cpp/include/cudf/detail/get_value.cuh
Labels: bug, libcudf

#6297 [REVIEW] cuDF python scalars
  CHANGELOG.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/reduce.pxd
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/_lib/nvtext/generate_ngrams.pyx
  python/cudf/cudf/_lib/nvtext/ngrams_tokenize.pyx
  python/cudf/cudf/_lib/nvtext/replace.pyx
  python/cudf/cudf/_lib/nvtext/tokenize.pyx
  python/cudf/cudf/_lib/quantiles.pyx
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/_lib/replace.pyx
  python/cudf/cudf/_lib/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/_lib/strings/char_types.pyx
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/strings/contains.pyx
  python/cudf/cudf/_lib/strings/extract.pyx
  python/cudf/cudf/_lib/strings/find.pyx
  python/cudf/cudf/_lib/strings/findall.pyx
  python/cudf/cudf/_lib/strings/padding.pyx
  python/cudf/cudf/_lib/strings/replace.pyx
  python/cudf/cudf/_lib/strings/replace_re.pyx
  python/cudf/cudf/_lib/strings/split/partition.pyx
  python/cudf/cudf/_lib/strings/split/split.pyx
  python/cudf/cudf/_lib/strings/strip.pyx
  python/cudf/cudf/_lib/strings/substring.pyx
  python/cudf/cudf/_lib/strings/translate.pyx
  python/cudf/cudf/core/__init__.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/tests/test_unaops.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#6632 [REVIEW] Fix DataFrame initialization from list of dicts
  CHANGELOG.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6734 [REVIEW] Binary operations support for decimal type in cudf Java [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/BinaryOperable.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/test/java/ai/rapids/cudf/BinaryOpTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge

#6761 [REVIEW] Add Java/JNI bindings for round [skip-ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/RoundMode.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer

#6767 [REVIEW] Fix sort order of parameters in `test_scalar_invalid_implicit_conversion` pytest
  CHANGELOG.md
  python/cudf/cudf/tests/test_scalar.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6116 [REVIEW] Filtering ORC
  CHANGELOG.md
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python), cuIO, libcudf

#6652 [REVIEW] Struct column support for cudf::concatenate
  CHANGELOG.md
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/structs/detail/concatenate.hpp
  cpp/include/cudf/structs/structs_column_view.hpp
  cpp/src/copying/concatenate.cu
  cpp/src/structs/copying/concatenate.cu
  cpp/src/structs/structs_column_view.cu
  cpp/src/structs/utilities.cu
  cpp/src/structs/utilities.hpp
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/utilities/column_utilities.cu
Labels: 5 - Ready to Merge, libcudf

#6729 Implement `cudf::cast` for `decimal32/64` to/from different `type_id`
  CHANGELOG.md
  cpp/include/cudf/unary.hpp
  cpp/src/round/round.cu
  cpp/src/unary/cast_ops.cu
  cpp/tests/unary/unary_ops_test.cpp
Labels: 5 - Ready to Merge, libcudf

#6735 Fix hash join hash values mapping to reserved empty value
  CHANGELOG.md
  cpp/src/join/join_kernels.cuh
  cpp/tests/join/join_tests.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#6780 Move `cudf::cast` tests to separate test file
  CHANGELOG.md
  cpp/tests/CMakeLists.txt
  cpp/tests/unary/cast_tests.cpp
  cpp/tests/unary/unary_ops_test.cpp
Labels: 5 - Ready to Merge, code quality, libcudf

#6737 Project Flash
  CHANGELOG.md
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/gpu/build.sh
  conda/recipes/libcudf/build.sh
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf_kafka/build.sh
  conda/recipes/libcudf_kafka/meta.yaml
Labels: 3 - Ready for Review

#6787 Update java reduction APIs to reflect C++ changes [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ReductionTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6786 Add nested type support to ColumnVector#getDeviceMemorySize [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6770 [REVIEW] Support building decimal columns with Table.TestBuilder [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java)

#6741 [REVIEW] Cover different ORC and Parquet reader/writer options in benchmarks
  CHANGELOG.md
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/benchmarks/io/cuio_benchmark_common.cpp
  cpp/benchmarks/io/cuio_benchmark_common.hpp
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_reader_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
Labels: 3 - Ready for Review, cuIO

#6776 [REVIEW] Use `void` return type for kernel wrapper functions instead of returning `cudaError_t`
  CHANGELOG.md
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/statistics/column_stats.h
Labels: 5 - Ready to Merge, cuIO

#6777 Implement `cudf::unary_operation` for `decimal32` & `decimal64`
  CHANGELOG.md
  cpp/include/cudf/unary.hpp
  cpp/src/unary/math_ops.cu
  cpp/tests/unary/unary_ops_test.cpp
Labels: 5 - Ready to Merge, libcudf

#6751 [REVIEW] Rework ColumnViewAccess and its usage [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/ColumnViewAccess.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVectorCore.java
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/DecimalColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java)

#6766 [REVIEW] Fix race conditions in parquet
  CHANGELOG.md
  cpp/src/io/parquet/page_data.cu
Labels: 5 - Ready to Merge, cuIO

#6686 [REVIEW] Fix output size for orc read for skip_rows option
  CHANGELOG.md
  cpp/src/io/orc/reader_impl.cu
  cpp/tests/io/orc_test.cpp
Labels: cuIO, libcudf

#6789 [REVIEW] Rename `unary_op` to `unary_operator`
  CHANGELOG.md
  cpp/include/cudf/detail/unary.hpp
  cpp/include/cudf/unary.hpp
  cpp/src/binaryop/jit/util.hpp
  cpp/src/groupby/sort/groupby.cu
  cpp/src/unary/math_ops.cu
  cpp/src/unary/unary_ops.cuh
  cpp/tests/unary/math_ops_test.cpp
  cpp/tests/unary/unary_ops_test.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  python/cudf/cudf/_lib/cpp/unary.pxd
  python/cudf/cudf/_lib/unary.pyx
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, 4 - Needs libcudf Reviewer, cuDF (Python), libcudf

#6792 Implement `cudf::clamp` for `decimal32` and `decimal64`
  CHANGELOG.md
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/iterator.cuh
  cpp/src/replace/clamp.cu
  cpp/tests/replace/clamp_test.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#6794 [REVIEW] Fix AVRO reader issues with empty input
  CHANGELOG.md
  cpp/src/io/avro/avro.cpp
  cpp/src/io/avro/reader_impl.cu
  python/cudf/cudf/tests/test_avro.py
Labels: 5 - Ready to Merge, cuIO

#6765 [REVIEW]Cupy fallback for __array_function__ and __array_ufunc__ for cudf.Series
  CHANGELOG.md
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6703 [REVIEW] Parquet writer list statistics
  CHANGELOG.md
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/statistics/column_stats.h
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/utils.py
Labels: 5 - Ready to Merge, cuDF (Python), libcudf

#6796 Add support for create_metadata_file in dask_cudf
  CHANGELOG.md
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 5 - Ready to Merge, dask

#6764 [REVIEW] Add dictionary support to cudf::minmax
  CHANGELOG.md
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/reduction.hpp
  cpp/include/cudf/wrappers/dictionary.hpp
  cpp/src/reductions/minmax.cu
  cpp/tests/reductions/reduction_tests.cpp
Labels: 3 - Ready for Review, libcudf

#6824 Fix JNI build [skip ci]
  CHANGELOG.md
  java/src/main/native/src/TableJni.cpp
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6826 Fix resource management in Java ColumnBuilder [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java)

#6798 [REVIEW] Fix `read_avro` docs
  CHANGELOG.md
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, doc

#6336 [REVIEW] Add support for join parameter in cudf concat
  CHANGELOG.md
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_concat.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6768 Support scatter() for list columns
  CHANGELOG.md
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/lists/list_device_view.cuh
  cpp/include/cudf/lists/lists_column_device_view.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/src/strings/utilities.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/scatter_list_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer

#6819 Use CMake 3.19 for RMM when building cuDF jar [skip ci]
  CHANGELOG.md
  java/ci/Dockerfile.centos7
  java/ci/README.md
  java/ci/build-in-docker.sh
Labels: cuDF (Java)

#6833 Use settings.xml if existing for internal build [skip ci]
  CHANGELOG.md
  java/ci/build-in-docker.sh
Labels: cuDF (Java)

#6805 [REVIEW] Enable copy_if for fixed-point decimal columns
  CHANGELOG.md
  cpp/include/cudf/detail/copy_if.cuh
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, libcudf

#6615 [REVIEW] Optimization and nested type support for contiguous_split.
  CHANGELOG.md
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/structs/structs_column_view.hpp
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/slice_tests.cuh
  cpp/tests/copying/split_tests.cpp
Labels: 3 - Ready for Review, Spark, libcudf

#6829 [REVIEW] Enable workaround to write categorical columns in csv
  CHANGELOG.md
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python)

#6790 [REVIEW] Fix result representation in groupby.apply
  CHANGELOG.md
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6830 [REVIEW]Fix categorical scalar insertion
  CHANGELOG.md
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6813 [REVIEW] Enable `expand=False` in `.str.split` and `.str.rsplit`
  CHANGELOG.md
  python/cudf/cudf/_lib/cpp/strings/split/split.pxd
  python/cudf/cudf/_lib/strings/split/split.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python)

#6811 First class support for unbounded window function bounds
  CHANGELOG.md
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/rolling.cu
  cpp/tests/grouped_rolling/grouped_rolling_test.cpp
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/WindowOptions.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 2 - In Progress, 4 - Needs cuDF (Java) Reviewer

#6511 [REVIEW] Add LogicalType to Parquet reader
  CHANGELOG.md
  cpp/src/io/parquet/parquet.cpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/reader_impl.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, cuIO

#6843 Implement `cudf::copy_range` for `decimal32` and `decimal64`
  CHANGELOG.md
  cpp/include/cudf/detail/copy_range.cuh
  cpp/src/copying/copy_range.cu
  cpp/tests/copying/copy_range_tests.cpp
Labels: 5 - Ready to Merge, libcudf

#6822 [REVIEW] Split out cudf::distinct_count from drop_duplicates.cu
  CHANGELOG.md
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/stream_compaction/drop_duplicates_benchmark.cpp
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/stream_compaction/drop_duplicates.cu
Labels: 5 - Ready to Merge, libcudf

#6845 Implement `cudf::copy_if_else` for `decimal32` and `decimal64`
  CHANGELOG.md
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/src/copying/copy.cu
  cpp/src/dictionary/replace.cu
  cpp/src/replace/nans.cu
  cpp/tests/copying/copy_range_tests.cpp
  cpp/tests/copying/copy_tests.cu
Labels: 5 - Ready to Merge, libcudf

#6848 [REVIEW] Parquet writer int96 [skip ci]
  CHANGELOG.md
  java/src/main/java/ai/rapids/cudf/ParquetWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, Spark, cuDF (Java)

#6837 Avoid gather when copying strings view from start of strings column
  CHANGELOG.md
  cpp/src/strings/copying/copying.cu
  cpp/tests/replace/replace_nulls_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings

#6817 Add support for scatter() on lists-of-struct columns
  CHANGELOG.md
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/tests/copying/scatter_list_tests.cu
Labels: 3 - Ready for Review, libcudf

#6605 reduce HtoD copies in `cudf::concatenate` #6605
  CHANGELOG.md
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/include/cudf/table/table_device_view.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/table/table_device_view.cu
  cpp/tests/copying/concatenate_tests.cu
Labels: 5 - Ready to Merge, Performance, libcudf

#6855 [REVIEW] Fix `.str.replace_with_backrefs` docs examples
  CHANGELOG.md
  python/cudf/cudf/core/column/string.py
Labels: 5 - Ready to Merge, cuDF (Python), doc

#6782 [REVIEW] Replace cuio macros with constexpr and inline functions
  CHANGELOG.md
  cpp/src/io/avro/avro.cpp
  cpp/src/io/avro/avro.h
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/comp/brotli_dict.h
  cpp/src/io/comp/brotli_tables.h
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/io_uncomp.h
  cpp/src/io/comp/snap.cu
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/utilities/block_utils.cuh
Labels: 5 - Ready to Merge, cuIO, libcudf

#6847 [REVIEW] add a cmake option to link to GDS/cuFile [skip ci]
  CHANGELOG.md
  cpp/cmake/Modules/FindcuFile.cmake
  java/src/main/native/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, Spark, cuDF (Java)

#6835 [REVIEW] Move template param to member var to improve compile of hash/groupby.cu
  CHANGELOG.md
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/hash/groupby_kernels.cuh
Labels: 3 - Ready for Review, libcudf

#6844 [REVIEW] fix uint32_t undefined errors
  CHANGELOG.md
  cpp/src/io/orc/orc_common.h
  cpp/src/text/subword/detail/codepoint_metadata.ah
  cpp/src/text/subword/detail/cp_data.h
  cpp/src/text/subword/detail/hash_utils.cuh
Labels: 3 - Ready for Review, libcudf
