Repository rapidsai/cudf, pull requests merged in 2021-12, with the labels that each got.

#9770 Fix some doxygen warnings and add missing documentation
  cpp/doxygen/Doxyfile
  cpp/include/cudf/lists/combine.hpp
  cpp/include/cudf/scalar/scalar_device_view.cuh
  cpp/include/cudf/strings/convert/convert_lists.hpp
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf_test/base_fixture.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/include/cudf_test/file_utilities.hpp
  cpp/include/cudf_test/table_utilities.hpp
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#9793 Fix overflow for min calculation in strings::from_timestamps
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, Spark, strings, non-breaking

#9768 Use CTAD with Thrust function objects
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/copying/concatenate.cu
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join_utils.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/contains.cu
  cpp/src/lists/interleave_columns.cu
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling_collect_list.cu
  cpp/src/sort/rank.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/findall.cu
  cpp/src/strings/repeat_strings.cu
  cpp/src/strings/split/split.cu
  cpp/tests/iterator/iterator_tests.cuh
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
  cpp/tests/strings/fixed_point_tests.cpp
  cpp/tests/transform/row_bit_count_test.cu
Labels: code quality, libcudf, 5 - Ready to Merge, improvement, non-breaking

#9772 Avoid overflow for `fixed_point` `cudf::cast` and performance optimization
  cpp/src/unary/cast_ops.cu
  cpp/tests/unary/cast_tests.cpp
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#9756 [Java] Allow cast decimal128 to string and add tests
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: cuDF (Java), improvement, non-breaking

#9778 Fix memory error due to lambda return type deduction limitation
  cpp/src/sort/rank.cu
  cpp/tests/sort/rank_test.cpp
Labels: bug, 3 - Ready for Review, cuda, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#9759 Fix make_empty_scalar_like on list_type
  cpp/src/scalar/scalar_factories.cpp
  cpp/tests/reductions/reduction_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#9728 Add sample JNI API
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, cuDF (Java), Spark, non-breaking

#9821 Fix caching in `Series.applymap`
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/cudf/cudf/utils/cudautils.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#9679 Fix stream usage in `segmented_gather()`
  cpp/src/lists/copying/segmented_gather.cu
  cpp/src/lists/extract.cu
Labels: bug, libcudf, non-breaking

#9808 Fix ORC writer crash with empty input columns
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/utilities/hostdevice_vector.hpp
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), cuIO, non-breaking

#9746 Update cmake and conda to 22.02
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
Labels: bug, gpuCI, libcudf, CMake, non-breaking

#9720 Add directory-partitioned data support to cudf.read_parquet
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#9830 Fix join of MultiIndex to Index with one column and overlapping name.
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/tests/test_joining.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#9816 Move the binary_ops common dispatcher logic to be executed on the CPU
  cpp/CMakeLists.txt
  cpp/benchmarks/binaryop/compiled_binaryop_benchmark.cpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/binaryop/compiled/NullEquals.cu
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/binaryop/compiled/binary_ops.cuh
  cpp/src/binaryop/compiled/equality_ops.cu
Labels: libcudf, CMake, 5 - Ready to Merge, ! - Hotfix, Performance, improvement, non-breaking

#9818 [Java] Added a few more tests for Decimal to String cast
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: cuDF (Java), improvement, non-breaking

#9831 Fix ORC writer crash with empty input columns
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/utilities/hostdevice_vector.hpp
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), ! - Hotfix, cuIO, non-breaking

#9841 Add JNI for `cudf::drop_duplicates`
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), Spark, non-breaking

#9623 Allow runtime has_nulls parameter for row operators
  cpp/benchmarks/groupby/group_sum_benchmark.cu
  cpp/benchmarks/hashing/hash_benchmark.cpp
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/iterator.cuh
  cpp/include/cudf/detail/merge.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/copying/copy.cu
  cpp/src/copying/segmented_shift.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_nunique.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/hash/hashing.cu
  cpp/src/hash/murmur_hash.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/semi_join.cu
  cpp/src/partitioning/partitioning.cu
  cpp/src/reductions/arg_minmax_util.cuh
  cpp/src/reductions/scan/rank_scan.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/reductions/simple.cuh
  cpp/src/replace/clamp.cu
  cpp/src/replace/nans.cu
  cpp/src/search/search.cu
  cpp/src/sort/is_sorted.cu
  cpp/src/sort/rank.cu
  cpp/src/sort/sort_impl.cuh
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/src/transform/one_hot_encode.cu
  cpp/tests/iterator/optional_iterator_test.cuh
  cpp/tests/iterator/optional_iterator_test_numeric.cu
  cpp/tests/table/table_view_tests.cu
  cpp/tests/utilities/column_utilities.cu
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#9704 Use stream allocator adaptor for hash join table
  cpp/cmake/thirdparty/get_cucollections.cmake
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.hpp
Labels: libcudf, CMake, 5 - Ready to Merge, tech debt, improvement, non-breaking

#9806 Use vector factories for host-device copies.
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/io/orc/timezone.cpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/translate.cu
  cpp/src/transform/row_bit_count.cu
Labels: 3 - Ready for Review, code quality, libcudf, improvement, non-breaking

#9837 Fix build instructions for libcudf doxygen
  cpp/docs/DOCUMENTATION.md
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#9835 adding `series.transpose`
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: feature request, cuDF (Python), 5 - Ready to Merge, non-breaking

#9853 Remove deprecated methods from Java Table class
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java), 4 - Needs cuDF (Java) Reviewer, tech debt, improvement, non-breaking

#9833 Adding support for `Series.autocorr`
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: feature request, cuDF (Python), 5 - Ready to Merge, non-breaking

#9804 [REVIEW] Raise temporary error for `decimal128` types in parquet reader
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/data/parquet/nested_decimal128_file.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: feature request, cuDF (Python), 5 - Ready to Merge, cuIO, breaking

#9814 Enforce boolean `ascending` for dask-cudf `sort_values`
  python/dask_cudf/dask_cudf/sorting.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask-cudf, non-breaking

#9765 Add decimal128 support to Parquet reader and writer
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_test.cpp
  java/src/main/java/ai/rapids/cudf/ParquetOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, cuDF (Java), breaking

#9775 Pick smallest decimal type with required precision in ORC reader
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/tests/io/orc_test.cpp
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
Labels: libcudf, cuDF (Python), cuIO, improvement, breaking

#9748 Update to UCX-Py 0.24
  ci/gpu/build.sh
  ci/gpu/java.sh
Labels: gpuCI, improvement, non-breaking

#9846 Add_suffix and add_prefix for DataFrames and Series
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: feature request, cuDF (Python), 5 - Ready to Merge, non-breaking

#9838 add templated benchmark with fixture
  cpp/benchmarks/ast/transform_benchmark.cpp
  cpp/benchmarks/binaryop/compiled_binaryop_benchmark.cpp
  cpp/benchmarks/column/concatenate_benchmark.cpp
  cpp/benchmarks/fixture/templated_benchmark_fixture.hpp
  cpp/benchmarks/string/url_decode_benchmark.cpp
Labels: 3 - Ready for Review, tests, libcudf, 4 - Needs libcudf Reviewer, improvement, non-breaking

#9767 Fix missing streams
  cpp/src/copying/copy.cu
  cpp/src/copying/scatter.cu
  cpp/src/copying/segmented_shift.cu
  cpp/src/copying/shift.cu
  cpp/src/filling/fill.cu
  cpp/src/groupby/common/utils.hpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_count.cu
  cpp/src/groupby/sort/group_nth_element.cu
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/groupby/sort/scan.cpp
  cpp/src/interop/from_arrow.cu
  cpp/src/interop/to_arrow.cu
  cpp/src/io/avro/reader_impl.cu
  cpp/src/labeling/label_bins.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/copying/copying.cu
  cpp/src/lists/copying/gather.cu
  cpp/src/lists/drop_list_duplicates.cu
  cpp/src/lists/interleave_columns.cu
  cpp/src/lists/segmented_sort.cu
  cpp/src/merge/merge.cu
  cpp/src/quantiles/quantile.cu
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/reductions/nth_element.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/reductions/simple.cuh
  cpp/src/replace/nans.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/round/round.cu
  cpp/src/search/search.cu
  cpp/src/strings/split/split_record.cu
  cpp/src/structs/utilities.cpp
  cpp/src/unary/cast_ops.cu
  cpp/src/unary/nan_ops.cu
Labels: bug, cuda, libcudf, 5 - Ready to Merge, tech debt, non-breaking

#9872 Load libcufile.so with RTLD_NODELETE flag
  cpp/src/io/utilities/file_io_utilities.cpp
Labels: bug, libcudf, cuIO, non-breaking

#9870 [HOTFIX] Fix indexing into a single row of a MultiIndex
  ci/checks/style.sh
  cpp/cmake/thirdparty/get_dlpack.cmake
  cpp/cmake/thirdparty/get_jitify.cmake
  cpp/cmake/thirdparty/get_libcudacxx.cmake
  docs/cudf/source/user_guide/10min-cudf-cupy.ipynb
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, gpuCI, libcudf, cuDF (Python), CMake, non-breaking

#9880 [RELEASE] v21.12.01 cudf
  ci/checks/style.sh
  cpp/cmake/thirdparty/get_dlpack.cmake
  cpp/cmake/thirdparty/get_jitify.cmake
  cpp/cmake/thirdparty/get_libcudacxx.cmake
  docs/cudf/source/user_guide/10min-cudf-cupy.ipynb
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: gpuCI, libcudf, cuDF (Python), CMake

#9873 Support statically linking CUDA runtime for Java bindings
  java/README.md
  java/ci/build-in-docker.sh
  java/pom.xml
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/emptyfile.cpp
Labels: CMake, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#9848 Add one-level list encoding support in parquet reader
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/reader_impl.cu
  python/cudf/cudf/tests/data/parquet/one_level_list.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#9879 add run_benchmarks target for running benchmarks with json output
  cpp/benchmarks/CMakeLists.txt
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, non-breaking

#9820 Support round operation on datetime64[ns] datatypes
  cpp/include/cudf/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_index.py
Labels: feature request, libcudf, cuDF (Python), 5 - Ready to Merge, Cython, non-breaking

#9774 Revert regex $/EOL end-of-string new-line special case handling
  cpp/src/strings/regex/regex.inl
  cpp/tests/strings/contains_tests.cpp
  python/cudf/cudf/tests/test_string.py
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), strings, non-breaking

#9588 Refactor bit counting APIs, introduce valid/null count functions, and split host/device side code for segmented counts.
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/null_mask.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/column/column.cu
  cpp/src/column/column_view.cpp
  cpp/src/copying/scatter.cu
  cpp/src/copying/slice.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/tests/bitmask/bitmask_tests.cpp
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, breaking

#9890 Add zlib to cudfjni link when using static libcudf library dependency
  java/src/main/native/CMakeLists.txt
Labels: bug, CMake, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#9891 Fix fallback to sort aggregation for grouping only hash aggregate
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_no_requests_benchmark.cu
  cpp/src/groupby/hash/groupby.cu
Labels: bug, libcudf, CMake, Performance, non-breaking

#9867 Break tie for `top` categorical columns in `Series.describe`
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#9631 Add utility to format ninja-log build times
  build.sh
  ci/gpu/build.sh
  cpp/scripts/sort_ninja_log.py
Labels: 3 - Ready for Review, gpuCI, libcudf, improvement, non-breaking

#9896 Fix a memcheck error in ORC writer
  cpp/src/io/orc/writer_impl.cu
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#9810 Add partitioning support in parquet writer
  cpp/include/cudf/io/data_sink.hpp
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_test.cpp
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
Labels: feature request, libcudf, cuDF (Python), cuIO, 4 - Needs cuIO Reviewer, breaking

#9893 [REVIEW] Introduce `nan_as_null` parameter for `cudf.Index`
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, 5 - Ready to Merge, breaking

#9875 Fix cudf.Scalar string datetime construction
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/utils/dtypes.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#9905 Fix compilation of benchmark for parquet writer.
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
Labels: bug, libcudf blocker, libcudf, non-breaking

#9897 Update ucx-py version on release using rvc
  ci/gpu/build.sh
  ci/gpu/java.sh
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#9908 Fix the java build after parquet partitioning support
  java/src/main/native/src/TableJni.cpp
Labels: bug, 3 - Ready for Review, cuDF (Java), non-breaking

#9910 Remove conda envs for CUDA 11.0 and 11.2.
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
Labels: conda, improvement, non-breaking

#9903 Implement JNI for `cudf::scatter` APIs
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), Spark, non-breaking

#9843 Use pandas `to_offset` to parse frequency string in `date_range`
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#9915 Replace `thrust/std::get` with structure bindings
  cpp/include/cudf/detail/merge.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/src/dictionary/detail/merge.cu
  cpp/src/merge/merge.cu
  cpp/tests/copying/sample_tests.cpp
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/transform/mask_to_bools_test.cpp
Labels: code quality, libcudf, 5 - Ready to Merge, improvement, non-breaking

#9920 Add missing imports tests
  conda/recipes/dask-cudf/meta.yaml
Labels: conda, improvement, non-breaking

#9864 Fix null handling for structs `min` and `arg_min` in groupby, groupby scan, reduction, and inclusive_scan
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/reductions/arg_minmax_util.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/reductions/simple.cuh
  cpp/src/reductions/struct_minmax_util.cuh
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, Spark, non-breaking

#9898 Fix fallback to sort aggregation for grouping only hash aggregate (21.12)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_no_requests_benchmark.cu
  cpp/src/groupby/hash/groupby.cu
Labels: bug, ! - Hotfix, Performance, non-breaking

#9924 [RELEASE] cudf v21.12.02
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_no_requests_benchmark.cu
  cpp/src/groupby/hash/groupby.cu
Labels: libcudf, CMake

#9901 JNI: Function to copy and set validity from bool column.
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/ColumnViewJni.cu
  java/src/main/native/src/ColumnViewJni.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, CMake, cuDF (Java), non-breaking

#9852 Add test for map column metadata handling in ORC writer
  cpp/tests/io/orc_test.cpp
Labels: tests, libcudf, cuIO, improvement, non-breaking

#9902 Use dynamic nullate for join hasher and equality comparator
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/semi_join.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#9895 [REVIEW] Fix see also links for IO APIs
  docs/cudf/source/api_docs/io.rst
  python/cudf/cudf/utils/ioutils.py
Labels: doc, cuDF (Python), 5 - Ready to Merge, non-breaking

#9884 [BUG FIX] TimedeltaIndex constructor raises an AttributeError.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: bug, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, 5 - Ready to Merge, non-breaking

#9776 Add decimal types to cuIO benchmarks
  cpp/benchmarks/common/generate_benchmark_input.cpp
  cpp/benchmarks/common/generate_benchmark_input.hpp
  cpp/benchmarks/common/random_distribution_factory.hpp
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_reader_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
Labels: tests, libcudf, cuIO, improvement, non-breaking

#9510 Implement `lists::index_of()` to find positions in list rows
  cpp/include/cudf/lists/contains.hpp
  cpp/src/lists/contains.cu
  cpp/tests/lists/contains_tests.cpp
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  python/cudf/cudf/tests/test_list.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), 5 - Ready to Merge, cuDF (Java), breaking

#9947 Forward-merge branch-21.12 to branch-22.02 [skip gpuci]
  CHANGELOG.md
Labels: improvement, non-breaking

#9951 Use gpuci_mamba_retry to install local artifacts.
  ci/gpu/build.sh
Labels: bug, gpuCI, non-breaking

#9942 Remove deprecated method Series.hash_encode.
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/hash/hashing.cu
  cpp/src/hash/murmur_hash.cu
  cpp/tests/hashing/hash_test.cpp
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/_lib/cpp/hash.pxd
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: libcudf, cuDF (Python), 5 - Ready to Merge, tech debt, improvement, breaking, deprecation

#9710 Add `first` and `last` method to `IndexedFrame`
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_datetime.py
Labels: feature request, cuDF (Python), 5 - Ready to Merge, non-breaking

#9956 Fix cudf compilation instructions.
  CONTRIBUTING.md
Labels: doc, non-breaking

#9958 Fix cudf java build error.
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
Labels: bug, 5 - Ready to Merge, cuDF (Java), non-breaking
