Repository rapidsai/cudf, pull requests merged in 2021-07, with the labels that each got.

#8549 String-to-boolean conversion is different from Pandas
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: breaking, bug, cuDF (Python)

#8620 Add delimiter parameter to cudf::strings::capitalize()
  cpp/include/cudf/strings/capitalize.hpp
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
Labels: 3 - Ready for Review, breaking, feature request, libcudf, strings

#8624 JNI support for capitalize [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Merge After Dependencies, 5 - Ready to Merge, cuDF (Java), feature request, non-breaking

#8642 Temporarily disable libcudf example build tests
  ci/gpu/build.sh
Labels: CMake, bug, gpuCI, non-breaking

#8637 Ensure dev environment uses Arrow GPU packages
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
Labels: 3 - Ready for Review, bug, conda, non-breaking

#8627 [REVIEW] ENH Add Java CI build script
  ci/gpu/java.sh
Labels: gpuCI, improvement, non-breaking

#8654 Update GDS lib version to 1.0.0 [skip ci]
  java/ci/Dockerfile.centos7
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking

#8651 Pin `*arrow` to use `*cuda` in `run`
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
Labels: 3 - Ready for Review, bug, conda, non-breaking

#8647 Support multi-char case conversion in capitalize function
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking, strings

#8045 Add collect list to dask-cudf groupby aggregations
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, bug, cuDF (Python), dask, non-breaking

#8599 Adding support for list and struct type in ORC Reader
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/utilities/hostdevice_vector.hpp
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, libcudf, non-breaking

#8508 Fix double counting of selected columns in CSV reader
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/io/csv_test.cpp
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, bug, cuIO, libcudf, non-breaking

#8645 Fix repeated mangled names in read_csv with duplicate column names
  cpp/src/io/csv/reader_impl.cu
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, bug, cuIO, non-breaking

#8671 Remove flatbuffers dependency
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
Labels: conda, cuDF (Python), improvement, non-breaking

#8662 Add ConfigureNVBench to avoid concurrent main() entry points
  cpp/benchmarks/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, bug, libcudf, non-breaking

#8605 Implement groupby aggregations `M2` and `MERGE_M2`
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_m2.cu
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/m2_tests.cpp
  cpp/tests/groupby/merge_m2_tests.cpp
Labels: 5 - Ready to Merge, CMake, Spark, feature request, libcudf, non-breaking

#8686 JNI build no longer looks for Arrow in conda environment
  java/src/main/native/CMakeLists.txt
Labels: 4 - Needs cuDF (Java) Reviewer, CMake, bug, cuDF (Java), non-breaking

#8603 Add DeprecationWarning to `ser.str.subword_tokenize`
  python/cudf/cudf/core/column/string.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking, tech debt

#8692 Update `conda` environment name for CI
  ci/checks/style.sh
Labels: gpuCI, improvement, non-breaking

#8670 [FEA] Add options to build Arrow with Python and Parquet support
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Labels: CMake, improvement, libcudf, non-breaking

#8701 JNI: Hotfix on testGetCudaRuntimeInfo [skip ci]
  java/src/test/java/ai/rapids/cudf/CudaTest.java
Labels: ! - Hotfix, 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, bug, cuDF (Java), non-breaking

#8648 Add strings support to cudf::shift function
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/copying.hpp
  cpp/src/copying/shift.cu
  cpp/src/strings/copying/shift.cu
  cpp/tests/copying/shift_tests.cpp
Labels: 3 - Ready for Review, CMake, feature request, libcudf, non-breaking

#8629 Struct scalar from host dictionary
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_struct.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8649 Add proper support for tolerances in testing methods.
  python/cudf/cudf/testing/testing.py
Labels: 3 - Ready for Review, bug, cuDF (Python), non-breaking

#8630 Support Scatter `struct_scalar`
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/null_mask.hpp
  cpp/src/copying/scatter.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/scatter_struct_scalar_tests.cpp
Labels: CMake, feature request, libcudf, non-breaking

#8700 Adding fix for skip_rows and crash in orc reader
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.timestamp.issue.orc
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), libcudf, non-breaking

#8706 Fix orc reader assert on create data_type in debug
  cpp/src/io/orc/reader_impl.cu
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#8694 Add post-processing steps to `dask_cudf.groupby.CudfSeriesGroupby.aggregate`
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, bug, cuDF (Python), dask-cudf, non-breaking

#8698 Translate Markdown documentation to rST and remove recommonmark
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  docs/cudf/source/conf.py
  docs/cudf/source/dask-cudf.md
  docs/cudf/source/dask-cudf.rst
  docs/cudf/source/groupby.md
  docs/cudf/source/groupby.rst
  docs/cudf/source/index.rst
  docs/cudf/source/internals.md
  docs/cudf/source/internals.rst
Labels: 3 - Ready for Review, conda, doc, non-breaking

#8705 Fix min/max inclusive cudf::scan for strings column
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/reductions/scan_tests.cpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#8697 Fix a crash in pack() when being handed tables with no columns.
  cpp/include/cudf/copying.hpp
  cpp/src/copying/pack.cpp
  cpp/tests/copying/pack_tests.cpp
Labels: 5 - Ready to Merge, breaking, bug, libcudf

#8711 Add `datetime::is_leap_year`
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Labels: feature request, libcudf, non-breaking

#8724 [skip-ci] Fix instructions for running cuDF/dask-cuDF tests in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc, non-breaking

#8731 Fix min/max sorted groupby aggregation on string column with nulls (argmin, argmax sentinel value missing on nulls)
  cpp/src/groupby/sort/group_argmax.cu
  cpp/src/groupby/sort/group_argmin.cu
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
Labels: bug, libcudf, non-breaking, strings

#8214 Enable AST-based joining
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/ast/transform_benchmark.cpp
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/join.hpp
  cpp/src/ast/linearizer.cpp
  cpp/src/ast/transform.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/join/conditional_join_tests.cu
Labels: 3 - Ready for Review, CMake, feature request, libcudf, non-breaking

#8736 Add `is_leap_year` to `DateTimeProperties` and `DatetimeIndex`
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 3 - Ready for Review, cuDF (Python), feature request, non-breaking

#8306 Refactor ColumnMethods and its subclasses to remove `column` argument and require `parent` argument
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/_typing.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: cuDF (Python), improvement, non-breaking, tech debt

#8737 Implement `__setitem__` for `StructColumn`
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_struct.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8745 [REVIEW] Pin `mimesis` to `<4.1`
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
Labels: conda, cuDF (Python), improvement, non-breaking, tech debt

#8728 Add `DataFrame.to_struct()` method to convert a DataFrame to a struct Series
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_struct.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8598 Rewrite binary operations for improved performance and additional type support
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
Labels: 3 - Ready for Review, Performance, code quality, cuDF (Python), improvement, non-breaking, tech debt

#8560 Apply metadata to keys before returning in `Frame._encode`
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_reshape.py
Labels: 3 - Ready for Review, bug, cuDF (Python), non-breaking

#8747 [REVIEW] Fix `where` to handle `DataFrame` & `Series` input combination
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8699 Bug fix: `replace_nulls_policy` functor not returning correct indices for gathermap
  cpp/include/cudf/detail/replace/nulls.cuh
  cpp/tests/replace/replace_nulls_tests.cpp
  python/cudf/cudf/tests/test_replace.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), libcudf, non-breaking

#8213 Generalized null support in user defined functions
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/transform.hpp
  cpp/src/transform/jit/masked_udf_kernel.cu
  cpp/src/transform/transform.cpp
  python/cudf/cudf/_lib/cpp/transform.pxd
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/__init__.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/udf/__init__.py
  python/cudf/cudf/core/udf/_ops.py
  python/cudf/cudf/core/udf/classes.py
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/tests/test_extension_compilation.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/cudf/cudf/utils/cudautils.py
Labels: 4 - Needs libcudf Reviewer, 5 - Ready to Merge, CMake, Cython, Jitify, cuDF (Python), feature request, libcudf, non-breaking

#8753 [REVIEW] Fix issues with `MultiIndex` in `dropna`, `stack` & `reset_index`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_reshape.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, bug, cuDF (Python), non-breaking

#8755 Bump `isort` to `5.6.4` and remove `isort` overrides made for 5.0.7
  ci/checks/style.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/cudf/__init__.py
  python/cudf_kafka/dev_requirements.txt
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dev_requirements.txt
Labels: 3 - Ready for Review, conda, cuDF (Python), feature request, gpuCI, non-breaking

#8749 Write pandas extension types to parquet file metadata
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), cuIO, non-breaking

#7770 Add peak memory usage tracking to cuIO benchmarks
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_reader_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks_benchmark.cpp
Labels: 2 - In Progress, cuIO, improvement, libcudf, non-breaking

#8738 Fix issue in slice() where columns with a positive offset were computing null counts incorrectly.
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/null_mask.cuh
  cpp/src/bitmask/null_mask.cu
  cpp/src/copying/slice.cu
  cpp/tests/copying/slice_tests.cpp
Labels: CMake, bug, libcudf, non-breaking

#8771 Fix isort error in utils.pyx
  python/cudf/cudf/_lib/utils.pyx
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8751 Allow cudf to be built without libcuda.so existing
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, code quality, container, improvement, libcudf, non-breaking

#8739 Handle sliced structs properly in pack/contiguous_split.
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/split_tests.cpp
Labels: bug, libcudf, non-breaking

#8772 Fix dask.dataframe API docs links after reorg
  docs/cudf/source/10min.ipynb
  docs/cudf/source/dask-cudf.rst
Labels: 5 - Ready to Merge, doc, non-breaking

#8744 [REVIEW] Fix `replace` to handle null values correctly
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_replace.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8666 Handle arbitrarily different data in null list column rows when checking for equivalency.
  cpp/include/cudf_test/column_utilities.hpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/copying/reverse_tests.cpp
  cpp/tests/copying/scatter_struct_scalar_tests.cpp
  cpp/tests/copying/scatter_struct_tests.cpp
  cpp/tests/datetime/datetime_ops_test.cpp
  cpp/tests/filling/repeat_tests.cpp
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/groupby/m2_tests.cpp
  cpp/tests/groupby/merge_lists_tests.cpp
  cpp/tests/groupby/merge_m2_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
  cpp/tests/hashing/hash_test.cpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/lists/combine/concatenate_list_elements_tests.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/search/search_struct_test.cpp
  cpp/tests/strings/combine/concatenate_tests.cpp
  cpp/tests/strings/combine/join_list_elements_tests.cpp
  cpp/tests/strings/floats_tests.cpp
  cpp/tests/strings/repeat_strings_tests.cpp
  cpp/tests/strings/substring_tests.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Labels: Spark, bug, libcudf, non-breaking

#8719 Fix slicing from struct columns and accessing struct columns
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_struct.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8763 Implement JNI for groupby aggregations `M2` and `MERGE_M2`
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, Spark, cuDF (Java), feature request, non-breaking

#8784 Revert "Remove cudf unneeded build time requirement of the cuda driver"
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, bug, libcudf, non-breaking

#8790 [gpuCI] Forward-merge branch-21.08 to branch-21.10 [skip ci]
  cpp/CMakeLists.txt
Labels: CMake, libcudf

#8786 Remove anonymous namespace from null_mask.cuh
  cpp/include/cudf/detail/null_mask.cuh
Labels: code quality, improvement, libcudf, non-breaking

#8663 Remove unused cudf::strings::create_offsets
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/include/cudf/table/table_device_view.cuh
  cpp/include/cudf_test/column_utilities.hpp
  cpp/src/strings/strings_column_view.cu
  cpp/tests/strings/factories_test.cu
Labels: 3 - Ready for Review, breaking, improvement, libcudf

#8452 Fix failures when performing binary operations on DataFrames with empty columns
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_binops.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#8588 Nested scalar support for copy if else
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Labels: 3 - Ready for Review, Spark, feature request, libcudf, non-breaking

#8735 [REVIEW] Fix `cudf.Series` constructor to handle list of sequences
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8760 Handle sliced struct/list columns properly in concatenate() bounds checking.
  cpp/src/copying/concatenate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/concatenate_tests.cu
  python/cudf/cudf/core/column/column.py
Labels: CMake, bug, cuDF (Python), libcudf, non-breaking

#8561 Add `strings::repeat_strings` API that can repeat each string a different number of times
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/src/strings/repeat_strings.cu
  cpp/tests/strings/repeat_strings_tests.cpp
  java/src/main/native/src/ScalarJni.cpp
Labels: 3 - Ready for Review, Spark, breaking, cuDF (Java), feature request, libcudf, strings

#8729 Add `struct.explode()` method
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_struct.py
Labels: cuDF (Python), feature request, non-breaking

#8811 Fix concatenating structs
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_concat.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8808 Set CMake vars for python/parquet support in libarrow builds
  cpp/cmake/cudf-build-config.cmake.in
Labels: CMake, bug, libcudf, non-breaking

#8810 [DOC] Update Python UDFs notebook
  docs/cudf/source/guide-to-udfs.ipynb
Labels: 5 - Ready to Merge, doc, non-breaking

#8393 Enable multi-file partitioning in dask_cudf.read_parquet
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 3 - Ready for Review, 4 - Needs Dask Reviewer, cuDF (Python), improvement, non-breaking

#8791 Handle empty child columns in row_bit_count()
  cpp/src/transform/row_bit_count.cu
  cpp/tests/transform/row_bit_count_test.cu
Labels: Spark, bug, libcudf, non-breaking

#8723 Add support for list type in ORC writer
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/include/cudf/utilities/span.hpp
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/timezone.cuh
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/statistics/column_statistics.cuh
  cpp/src/io/statistics/statistics.cuh
  cpp/src/io/statistics/statistics_type_identification.cuh
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/src/io/utilities/hostdevice_vector.hpp
  docs/cudf/source/io-supported-types.rst
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO, feature request, libcudf, non-breaking

#8638 Use conda-sourced cudf artifacts for libcudf example in CI
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/libcudf_example/build.sh
  conda/recipes/libcudf_example/meta.yaml
  cpp/examples/build.sh
Labels: 3 - Ready for Review, bug, conda, gpuCI, libcudf, non-breaking

#8643 Custom Sphinx Extension: `PandasCompat`
  docs/cudf/source/PandasCompat.rst
  docs/cudf/source/_ext/PandasCompat.py
  docs/cudf/source/conf.py
  docs/cudf/source/index.rst
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/multiindex.py
Labels: 5 - Ready to Merge, cuDF (Python), doc, non-breaking

#8675 Accessing struct columns from `dask_cudf`
  python/cudf/cudf/core/column/column.py
  python/dask_cudf/dask_cudf/tests/test_struct.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8794 Provide a better error message when `CUDA::cuda_driver` not found
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, code quality, improvement, libcudf, non-breaking

#8589 Benchmark for `strings::repeat_strings` APIs
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/repeat_strings_benchmark.cpp
Labels: 3 - Ready for Review, CMake, Spark, feature request, libcudf, non-breaking, strings

#8650 Added pct_change to Series
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Labels: 3 - Ready for Review, cuDF (Python), feature request, non-breaking

#8829 Remove unused variable from `row_bit_count_test`.
  cpp/tests/transform/row_bit_count_test.cu
Labels: bug, code quality, libcudf, non-breaking, tests

#8819 Fixes issue with null struct columns in ORC reader
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.testPySparkStruct.orc
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), libcudf, non-breaking

#8652 Support for groupby/scan rank and dense_rank aggregations
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_scan.hpp
  cpp/src/groupby/sort/scan.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge, CMake, Spark, cuDF (Java), improvement, libcudf, non-breaking

#8834 [REVIEW] Fix `contains` check in string column
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_categorical.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking, strings

#8752 Add multi-thread reading to GDS reads
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
  cpp/src/io/utilities/thread_pool.hpp
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, cuIO, improvement, libcudf, non-breaking

#8799 Small cleanup (unused headers / commented code removals)
  cpp/src/copying/copy.cu
  cpp/tests/strings/fixed_point_tests.cpp
Labels: 5 - Ready to Merge, code quality, improvement, libcudf, non-breaking

#8765 Update cudf java bindings to 21.10.0-SNAPSHOT
  java/ci/README.md
  java/pom.xml
Labels: cuDF (Java), improvement, non-breaking

#8798 Support header with embedded delimiter in csv writer
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8805 List GDS-enabled formats in the docs
  docs/cudf/source/io-gds-integration.rst
Labels: doc, non-breaking

#8851 [REVIEW] Add min `pytorch` version to `importorskip` in pytest
  python/cudf/cudf/tests/test_cuda_array_interface.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#8572 Implement JNI for `strings:repeat_strings` that repeats each string separately by different numbers of times
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, Spark, cuDF (Java), depends on libcudf, feature request, non-breaking, strings

#8779 Add quarters to libcudf datetime
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Labels: 5 - Ready to Merge, feature request, libcudf, non-breaking

#8843 Re-enable JSON tests
  cpp/tests/io/json_test.cpp
Labels: 5 - Ready to Merge, bug, cuIO, libcudf, non-breaking

#8849 Fix `select_dtypes` to work when non-class dtypes present in dataframe
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8847 Java bindings for regex replace
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking

#8859 [REVIEW] Pin max `dask` & `distributed` versions
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: conda, cuDF (Python), improvement, non-breaking

#8867 Update Java build instructions to mention Arrow S3 and Docker
  java/README.md
Labels: cuDF (Java), doc, non-breaking

#8861 Fix the RLE stream size for timestamp columns
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.largeTimestamps.orc
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), cuIO, libcudf, non-breaking

#8877 fix cufilejni build w/ c++17
  java/src/main/native/CMakeLists.txt
Labels: CMake, cuDF (Java), improvement, non-breaking

#8844 Series datetime is_month_start
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 4 - Needs cuDF (Python) Reviewer, 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8857 Change cudf::scalar copy and move constructors to protected
  cpp/include/cudf/scalar/scalar.hpp
  cpp/tests/binaryop/binop-fixture.hpp
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#8881 [REVIEW] Remove max version pin for `dask` & `distributed` on development branch
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: conda, cuDF (Python), improvement, non-breaking

#8846 Add Java bindings for AST transform
  java/src/main/java/ai/rapids/cudf/MemoryCleaner.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/ast/AstNode.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryExpression.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperator.java
  java/src/main/java/ai/rapids/cudf/ast/ColumnReference.java
  java/src/main/java/ai/rapids/cudf/ast/CompiledExpression.java
  java/src/main/java/ai/rapids/cudf/ast/Expression.java
  java/src/main/java/ai/rapids/cudf/ast/Literal.java
  java/src/main/java/ai/rapids/cudf/ast/TableReference.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryExpression.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryOperator.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/CompiledExpression.cpp
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Labels: CMake, Spark, cuDF (Java), feature request, non-breaking

#8863 Add JNI for extract_quarter, add_calendrical_months, and is_leap_year
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking

#8815 Refactor conditional joins
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/join.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/join_kernels.cuh
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking, tech debt

#8855 [REVIEW] FIX Allow consumers of libcudf to use driver link
  cpp/CMakeLists.txt
Labels: CMake, bug, libcudf, non-breaking

#8866 replace auto with auto& ref for cast<&>
  cpp/include/cudf/detail/indexalator.cuh
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/column/column_factories.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/reductions/simple.cuh
  cpp/src/replace/nulls.cu
  cpp/src/rolling/rolling_detail.cuh
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, bug, libcudf, non-breaking, tech debt

#8770 ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking

#8889 Enable casting to pandas nullable dtypes
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_joining.py
Labels: bug, cuDF (Python), non-breaking

#8888 Add Java bindings for conditional join gather maps
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/ast/CompiledExpression.java
  java/src/main/native/src/CompiledExpression.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/jni_compiled_expr.hpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking

#8902 Move `structs_column_tests.cu` to `.cpp`.
  cpp/tests/CMakeLists.txt
  cpp/tests/structs/structs_column_tests.cpp
Labels: 3 - Ready for Review, CMake, code quality, improvement, libcudf, non-breaking

#8864 Add missing include<optional> in binops
  cpp/src/binaryop/compiled/util.cpp
Labels: bug, non-breaking

#8917 Avoid index equality check in `_CPackedColumns.from_py_table()`
  python/cudf/cudf/_lib/copying.pyx
Labels: 3 - Ready for Review, Performance, cuDF (Python), feature request, non-breaking
