Repository rapidsai/cudf, pull requests merged in 2021-05, with the labels that each got.

#8061 enable all aggregations for dictionary type
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/tests/groupby/group_argmax_test.cpp
  cpp/tests/groupby/group_argmin_test.cpp
  cpp/tests/groupby/group_count_test.cpp
  cpp/tests/groupby/group_max_test.cpp
  cpp/tests/groupby/group_mean_test.cpp
  cpp/tests/groupby/group_median_test.cpp
  cpp/tests/groupby/group_min_test.cpp
  cpp/tests/groupby/group_nunique_test.cpp
  cpp/tests/groupby/group_product_test.cpp
  cpp/tests/groupby/group_quantile_test.cpp
  cpp/tests/groupby/group_std_test.cpp
  cpp/tests/groupby/group_sum_of_squares_test.cpp
  cpp/tests/groupby/group_sum_test.cpp
  cpp/tests/groupby/group_var_test.cpp
Labels: 3 - Ready for Review, feature request, libcudf, non-breaking

#8118 Some APIs to help with out of core joins in Spark [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/prefix_sum.cu
  java/src/main/native/src/prefix_sum.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, CMake, Spark, cuDF (Java), improvement, non-breaking

#7950 Use spans in parquet writer
  cpp/include/cudf/utilities/span.hpp
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
Labels: 4 - Needs cuIO Reviewer, code quality, cuIO, improvement, libcudf, non-breaking, tech debt

#8116 Update Developer Guide to mention structured bindings
  cpp/docs/DEVELOPER_GUIDE.md
Labels: doc, libcudf, non-breaking

#8108 Fix fragile logic in dask_cudf chunksize parquet test
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), dask, non-breaking, tests

#8048 Redirect callable aggregations to their named equivalent in dask-cuDF
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), dask, non-breaking

#8046 Implement interleave_columns for list type
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/lists/detail/interleave_columns.hpp
  cpp/src/lists/interleave_columns.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/tests/reshape/interleave_columns_tests.cpp
Labels: 3 - Ready for Review, CMake, conda, feature request, libcudf, non-breaking

#8115 Create a common code path for 1d Frames
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_pickling.py
  python/cudf/cudf/tests/test_series.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking, tech debt

#7942 Subword Tokenizer HuggingFace like API
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  docs/cudf/source/api.rst
  python/cudf/cudf/_lib/cpp/nvtext/subword_tokenize.pxd
  python/cudf/cudf/_lib/nvtext/subword_tokenize.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/tests/data/subword_tokenizer_data/bert_base_cased_sampled/vocab-hash.txt
  python/cudf/cudf/tests/data/subword_tokenizer_data/bert_base_cased_sampled/vocab.txt
  python/cudf/cudf/tests/data/subword_tokenizer_data/test_sentences.txt
  python/cudf/cudf/tests/data/vocab_hash/bert-base-uncased-vocab-5per.txt
  python/cudf/cudf/tests/data/vocab_hash/ground_truth_vocab_hash_5per.txt
  python/cudf/cudf/tests/test_hash_vocab.py
  python/cudf/cudf/tests/test_subword_tokenizer.py
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.1/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf/setup.py
Labels: conda, cuDF (Python), feature request, non-breaking

#8049 Implement concatenate_rows for list type
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/lists/concatenate_rows.hpp
  cpp/include/doxygen_groups.h
  cpp/src/lists/concatenate_rows.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/lists/concatenate_rows_tests.cpp
Labels: 3 - Ready for Review, feature request, libcudf, non-breaking

#8062 Extend LEAD/LAG to work with non-fixed-width types
  cpp/src/rolling/lead_lag_nested_detail.cuh
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/lead_lag_test.cpp
Labels: 5 - Ready to Merge, feature request, libcudf, non-breaking

#8146 [REVIEW] Update io supported types docs page
  docs/cudf/source/io-supported-types.rst
Labels: 5 - Ready to Merge, doc, non-breaking

#8008 Add binary ops benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/binaryop/binaryop_benchmark.cpp
  cpp/benchmarks/binaryop/jit_binaryop_benchmark.cpp
Labels: CMake, Performance, improvement, libcudf, non-breaking, tests

#8004 [REVIEW] convert replace/clamp.cu to use optional iterator
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/replace/clamp_benchmark.cpp
  cpp/src/replace/clamp.cu
Labels: CMake, improvement, libcudf, non-breaking

#8127 Fix groupby reduce_functor for fixed-point result-type
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8099 [REVIEW] Enable concat for decimal columns with mixed precision and scale
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8154 [REVIEW] Fix `factorize` doc string
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, cuDF (Python), doc, non-breaking

#8143 [REVIEW] Enable not equal for decimal columns
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_binops.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8155 Fix scatter output size for structs.
  cpp/include/cudf/detail/scatter.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/scatter_list_tests.cpp
  cpp/tests/copying/scatter_struct_tests.cpp
Labels: 5 - Ready to Merge, CMake, bug, libcudf, non-breaking

#8107 [REVIEW] Add `decimal64Dtype` support in data-generator
  python/cudf/cudf/_fuzz_testing/parquet.py
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/tests/dataset_generator.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO, improvement, non-breaking

#8057 Refactor AggregationJni to support collectSet [skip ci]
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge, cuDF (Java), improvement, non-breaking

#8152 ENH Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Labels: 3 - Ready for Review, gpuCI, improvement, non-breaking

#8112 Move scalar function definitions from scalar.hpp to scalar.cpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/scalar/scalar.cpp
  cpp/tests/scalar/scalar_test.cpp
Labels: 3 - Ready for Review, code quality, improvement, libcudf, non-breaking

#8103 Fix lists strings scatter to handle zero child rows
  cpp/include/cudf/lists/detail/copying.hpp
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/src/lists/copying/copying.cu
  cpp/tests/partitioning/partition_test.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8141 Fix hash of fixed-point type to hash value component
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/hash/hashing.cu
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8132 Allow users to set jitify cache file limit via an environment variable
  cpp/src/jit/cache.cpp
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#8139 Enable join results with size > INT32_MAX
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join_kernels.cuh
  cpp/tests/join/join_tests.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#7998 Java bindings for Parquet struct support
  cpp/include/cudf/io/parquet.hpp
  java/src/main/java/ai/rapids/cudf/ParquetColumnWriterOptions.java
  java/src/main/java/ai/rapids/cudf/ParquetWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, 5 - Ready to Merge, CMake, breaking, cuDF (Java), improvement, libcudf

#8106 Convert grouped_rolling to use device_uvector
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/detail/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
Labels: 5 - Ready to Merge, conda, improvement, libcudf, non-breaking

#8148 Convert remaining uses of device_vector in groupby
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_nth_element.cu
  cpp/src/groupby/sort/group_quantiles.cu
  cpp/src/groupby/sort/group_scan_util.cuh
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#8113 Add a `copy()` method to `Buffer`
  python/cudf/cudf/core/buffer.py
  python/cudf/cudf/tests/test_buffer.py
Labels: cuDF (Python), improvement, non-breaking

#8169 Fix Java nightly build [skip ci]
  java/src/main/native/CMakeLists.txt
Labels: 4 - Needs cuDF (Java) Reviewer, CMake, bug, cuDF (Java), non-breaking

#8168 Split up hashing.cu to improve compile time
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/hashing/hash_benchmark.cpp
  cpp/benchmarks/hashing/partition_benchmark.cpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/src/hash/hashing.cu
  cpp/src/hash/md5_hash.cu
  cpp/src/hash/murmur_hash.cu
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#8166 Merge Index and Series binops
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, Performance, cuDF (Python), improvement, non-breaking, tech debt

#7604 Refactor tests/groupby/**
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/argmax_tests.cpp
  cpp/tests/groupby/argmin_tests.cpp
  cpp/tests/groupby/collect_list_tests.cpp
  cpp/tests/groupby/collect_set_tests.cpp
  cpp/tests/groupby/count_scan_tests.cpp
  cpp/tests/groupby/count_tests.cpp
  cpp/tests/groupby/groups_tests.cpp
  cpp/tests/groupby/keys_tests.cpp
  cpp/tests/groupby/max_scan_tests.cpp
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/mean_tests.cpp
  cpp/tests/groupby/median_tests.cpp
  cpp/tests/groupby/min_scan_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/nth_element_tests.cpp
  cpp/tests/groupby/nunique_tests.cpp
  cpp/tests/groupby/product_tests.cpp
  cpp/tests/groupby/quantile_tests.cpp
  cpp/tests/groupby/shift_tests.cpp
  cpp/tests/groupby/std_tests.cpp
  cpp/tests/groupby/sum_of_squares_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
  cpp/tests/groupby/var_tests.cpp
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking, tests

#8125 Add chars-tokenizer to nvtext tokenize_benchmark.cpp
  cpp/benchmarks/text/tokenize_benchmark.cpp
  cpp/src/text/tokenize.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#8111 add Java unit tests for making list of list
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: cuDF (Java), improvement, non-breaking

#8172 [REVIEW] Enable decimal fillna with integer scalars and series
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_replace.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8176 Fix struct scatter to correctly cascade null_mask to children columns
  cpp/include/cudf/detail/scatter.cuh
  cpp/tests/copying/scatter_struct_tests.cpp
Labels: bug, libcudf, non-breaking

#8171 Support listConcatenateByRows in Java package [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, 5 - Merge After Dependencies, Spark, cuDF (Java), feature request, non-breaking

#8052 Change aggregation class hierarchy to allow per-algorithm type enforcement.
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/rolling.hpp
  cpp/include/cudf/rolling.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/reductions/reductions.cpp
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/collect_list_test.cpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/lead_lag_test.cpp
  cpp/tests/rolling/range_rolling_window_test.cpp
  cpp/tests/rolling/rolling_test.cpp
  python/cudf/cudf/_lib/aggregation.pxd
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/_lib/cpp/rolling.pxd
  python/cudf/cudf/_lib/rolling.pyx
Labels: 4 - Needs cuDF (Python) Reviewer, breaking, cuDF (Python), improvement, libcudf

#8069 JNI Rolling Aggregation Changes [skip ci]
  java/src/main/java/ai/rapids/cudf/Aggregate.java
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/AggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/AggregationOverWindow.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/NaNEquality.java
  java/src/main/java/ai/rapids/cudf/NullEquality.java
  java/src/main/java/ai/rapids/cudf/NullPolicy.java
  java/src/main/java/ai/rapids/cudf/RollingAggregation.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/WindowAggregate.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Merge After Dependencies, breaking, cuDF (Java), improvement

#8174 Fix orc reader assert on create data_type
  cpp/src/io/orc/reader_impl.cu
Labels: 3 - Ready for Review, bug, cuIO, libcudf, non-breaking

#8071 Support `get_element` from LIST column
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/docs/DEVELOPER_GUIDE.md
  cpp/include/cudf/detail/is_element_valid.hpp
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/src/bitmask/is_element_valid.cpp
  cpp/src/copying/get_element.cu
  cpp/src/scalar/scalar_factories.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/bitmask/is_element_valid_tests.cpp
  cpp/tests/copying/get_value_tests.cpp
Labels: 5 - Ready to Merge, CMake, conda, feature request, libcudf, non-breaking

#8173 Creates an empty column for the null `LIST Scalar` [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/ScalarJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ScalarTest.java
Labels: 5 - Ready to Merge, cuDF (Java), feature request, non-breaking

#8149 [REVIEW] Enable division operator for decimal columns
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_binops.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8135 Support nested input columns in copy_if_else()
  cpp/src/copying/copy.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Labels: CMake, feature request, libcudf, non-breaking

#8181 Fix interleave_columns on ListType with nullable child
  cpp/src/lists/interleave_columns.cu
  cpp/tests/lists/concatenate_rows_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#7932 Remove `boost` dependency
  Dockerfile
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/cudf-config.cmake.in
  cpp/cmake/thirdparty/CUDF_FindBoost.cmake
  cpp/src/jit/cache.cpp
  docker_build/Dockerfile
  java/LICENSE-bundled
  java/README.md
  java/ci/Dockerfile.centos7
  java/ci/build-in-docker.sh
  java/pom.xml
Labels: 3 - Ready for Review, CMake, conda, cuDF (Java), improvement, libcudf, non-breaking

#8203 [REVIEW] Add notes in IO supported types doc table.
  docs/cudf/source/io-supported-types.rst
  python/cudf/cudf/core/column/string.py
Labels: cuDF (Python), cuIO, doc, non-breaking

#8199 patch thrust to fix intmax num elements limitation in scan_by_key
  cpp/cmake/thrust.patch
Labels: CMake, bug, libcudf, non-breaking

#8204 Account for offset columns in lists::contains()
  cpp/include/cudf/lists/list_device_view.cuh
  cpp/include/cudf/lists/lists_column_device_view.cuh
  cpp/tests/copying/scatter_list_tests.cpp
  cpp/tests/lists/contains_tests.cpp
Labels: bug, libcudf, non-breaking

#8221 Bump up GDS user-space lib version to 0.95.1 [skip ci]
  java/ci/Dockerfile.centos7
Labels: cuDF (Java), improvement, non-breaking

#8087 Add Python bindings to list concatenation functions
  python/cudf/cudf/_lib/cpp/lists/concatenate_rows.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), feature request, non-breaking

#8195 Update split-by-char to use input offsets column
  python/cudf/cudf/core/column/string.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#8205 Convert tests to use device_uvector
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/include/cudf/utilities/span.hpp
  cpp/include/cudf_test/type_lists.hpp
  cpp/src/copying/concatenate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/bitmask/bitmask_tests.cpp
  cpp/tests/bitmask/set_nullmask_tests.cu
  cpp/tests/column/compound_test.cu
  cpp/tests/device_atomics/device_atomics_test.cu
  cpp/tests/fixed_point/fixed_point_tests.cu
  cpp/tests/hash_map/map_test.cu
  cpp/tests/hash_map/multimap_test.cu
  cpp/tests/iterator/iterator_tests.cuh
  cpp/tests/iterator/optional_iterator_test_numeric.cu
  cpp/tests/iterator/value_iterator_test.cuh
  cpp/tests/iterator/value_iterator_test_strings.cu
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/replace/clamp_test.cpp
  cpp/tests/replace/replace_nulls_tests.cpp
  cpp/tests/replace/replace_tests.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/scalar/scalar_device_view_test.cu
  cpp/tests/stream_compaction/drop_duplicates_tests.cpp
  cpp/tests/strings/array_tests.cu
  cpp/tests/strings/factories_test.cu
  cpp/tests/strings/hash_string.cu
  cpp/tests/strings/integers_tests.cpp
  cpp/tests/table/table_view_tests.cu
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/types/type_dispatcher_test.cu
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/wrappers/timestamps_test.cu
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#8211 Enable scatter on list of fixed point
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/tests/copying/copy_if_else_nested_tests.cpp
  cpp/tests/copying/scatter_list_tests.cpp
Labels: Spark, improvement, libcudf, non-breaking

#8208 Convert benchmarks to use device_uvector
  cpp/benchmarks/iterator/iterator_benchmark.cu
  cpp/benchmarks/join/generate_input_tables.cuh
  cpp/benchmarks/type_dispatcher/type_dispatcher_benchmark.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#8216 Reduce contiguous-split block_size for copy_partition
  cpp/src/copying/contiguous_split.cu
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8225 Enable scattering integers into decimal columns
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_decimal.py
Labels: 3 - Ready for Review, cuDF (Python), feature request, non-breaking

#8044 Support exclude null_policy for collect list/set in groupby
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_collect.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/tests/groupby/collect_list_tests.cpp
  cpp/tests/groupby/collect_set_tests.cpp
Labels: improvement, libcudf, non-breaking

#8197 Exposing cudf list accessors to dask_cudf
  python/dask_cudf/dask_cudf/accessors.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: 3 - Ready for Review, cuDF (Python), feature request, non-breaking

#8224 [REVIEW] Remove cuda 11.1 related files
  CONTRIBUTING.md
  README.md
  conda/environments/cudf_dev_cuda11.1.yml
  python/cudf/requirements/cuda-11.1/dev_requirements.txt
Labels: 3 - Ready for Review, conda, cuDF (Python), feature request, non-breaking, tech debt

#8222 Update release script [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#7909 add java bindings for non-timestamps range window queries [skip ci]
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/WindowOptions.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: ! - Release, 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, Spark, breaking, cuDF (Java), improvement

#8201 Fix doxygens and comments for various APIs
  cpp/include/cudf/strings/combine.hpp
  cpp/src/lists/concatenate_rows.cu
  cpp/src/lists/interleave_columns.cu
Labels: 3 - Ready for Review, doc, libcudf, non-breaking, not a bug, strings

#8243 [REVIEW] Fix cython flag to use c++17
  python/cudf/setup.py
  python/cudf_kafka/setup.py
Labels: 5 - Ready to Merge, Cython, bug, cuDF (Python), non-breaking

#8245 Revert #7909 add java bindings for non-timestamps range window queries [skip ci]
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/WindowOptions.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, 5 - Ready to Merge, breaking, bug, cuDF (Java)

#8183 Split up scan.cu to improve compile time
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thrust.patch
  cpp/include/cudf/detail/scan.hpp
  cpp/src/reductions/scan.cu
  cpp/src/reductions/scan/scan.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/reductions/scan_tests.cpp
Labels: 3 - Ready for Review, CMake, conda, improvement, libcudf, non-breaking

#8248 add java bindings for non-timestamps range window queries [skip ci]
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/WindowOptions.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: Spark, breaking, cuDF (Java), feature request

#8209 Check if a map contains a specific key [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/map_lookup.cu
  java/src/main/native/src/map_lookup.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: cuDF (Java), feature request, non-breaking

#8234 Add scientific notation support to cudf::strings::to_fixed_point and cudf::strings::is_fixed_point
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/tests/strings/fixed_point_tests.cpp
Labels: 3 - Ready for Review, feature request, libcudf, non-breaking, strings

#8249 Fix reductions gtests failing for debug build
  cpp/src/reductions/std.cu
  cpp/src/reductions/var.cu
  cpp/tests/reductions/reduction_tests.cpp
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#8238 Split out non-device code from fixed_point_tests.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/fixed_point/fixed_point_tests.cpp
  cpp/tests/fixed_point/fixed_point_tests.cu
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#8251 Make java rolling window operation APIs consistent [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/WindowOptions.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, Spark, breaking, bug, cuDF (Java)

#8130 Column refactoring 2
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_string.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking, tech debt

#8239 [Review] Correct unused parameter warnings in dictonary algorithms
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/search.cu
  cpp/src/dictionary/set_keys.cu
Labels: 3 - Ready for Review, code quality, improvement, libcudf, non-breaking, tech debt

#8267 Update cudfjni version to 21.06 [skip ci]
  java/ci/README.md
  java/pom.xml
Labels: cuDF (Java), improvement, non-breaking

#8271 Fix CMake FindPackage rmm, pin dev envs' dlpack to v0.3
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
Labels: 5 - Ready to Merge, CMake, conda, improvement, libcudf, non-breaking

#8270 [Review] CMake always explicitly specify a source files extension
  cpp/tests/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, bug, libcudf, non-breaking

#8198 Add support for decimal types in ORC writer
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/tests/io/orc_test.cpp
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO, feature request, libcudf, non-breaking

#8241 Update ORC statistics API to use C++17 standard library
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/tests/io/orc_test.cpp
Labels: 5 - Ready to Merge, breaking, cuIO, improvement, libcudf

#8220 Support for struct scalars.
  cpp/CMakeLists.txt
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/include/cudf/types.hpp
  cpp/src/column/column_factories.cpp
  cpp/src/column/column_factories.cu
  cpp/src/scalar/scalar.cpp
  cpp/src/scalar/scalar_factories.cpp
  cpp/src/structs/structs_column_factories.cu
  cpp/src/structs/utilities.cpp
  cpp/src/structs/utilities.hpp
  cpp/tests/column/factories_test.cpp
  cpp/tests/scalar/factories_test.cpp
  cpp/tests/scalar/scalar_test.cpp
Labels: CMake, Spark, feature request, libcudf, non-breaking

#8253 Move more methods into SingleColumnFrame
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), improvement, non-breaking, tech debt

#8258 Fix incorrect assertion in Java concat [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: bug, cuDF (Java), non-breaking

#8260 Pass compiler environment variables to conda python build
  conda/recipes/cudf/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
Labels: conda, improvement, non-breaking

#8232 Correct unused parameters in the copying algorithms
  cpp/include/cudf/detail/copy_if.cuh
  cpp/src/copying/contiguous_split.cu
  cpp/src/copying/copy.cu
  cpp/src/copying/copy_range.cu
  cpp/src/copying/get_element.cu
  cpp/src/copying/scatter.cu
  cpp/src/copying/segmented_shift.cu
  cpp/src/copying/shift.cu
Labels: 3 - Ready for Review, code quality, improvement, libcudf, non-breaking, tech debt

#8284 Update docs build script [skip ci]
  ci/docs/build.sh
Labels: gpuCI, improvement, non-breaking

#8144 Add a flag for allowing single quotes in JSON strings.
  cpp/include/cudf/strings/detail/json.hpp
  cpp/include/cudf/strings/json.hpp
  cpp/src/strings/json/json_path.cu
  cpp/tests/strings/json_tests.cpp
Labels: Spark, improvement, libcudf, non-breaking

#8283 [DOC] Remove unused parameter from copy_partition kernel documentation
  cpp/src/copying/contiguous_split.cu
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#8259 add unit tests for lead/lag on list for row window [skip ci]
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java), feature request, non-breaking

#8261 Fixes CSV-reader type inference for thousands separator and decimal point
  cpp/src/io/csv/csv_gpu.cu
  cpp/tests/io/csv_test.cpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#8185 Support create lists column from a `list_scalar`
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/column/column_factories.hpp
  cpp/include/cudf/lists/lists_column_factories.hpp
  cpp/src/column/column_factories.cu
  cpp/src/lists/lists_column_factories.cu
  cpp/tests/column/factories_test.cpp
Labels: 5 - Ready to Merge, conda, feature request, libcudf, non-breaking

#8257 Create a String column from UTF8 String byte arrays [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, Spark, cuDF (Java), feature request, non-breaking

#8294 Java: Support creating a scalar from utf8 string [skip ci]
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/test/java/ai/rapids/cudf/ScalarTest.java
Labels: 3 - Ready for Review, 5 - Ready to Merge, Spark, cuDF (Java), feature request, non-breaking

#8266 support RMM aligned resource adapter in JNI [skip ci]
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
Labels: 3 - Ready for Review, Performance, RMM, Spark, cuDF (Java), improvement, non-breaking

#8297 Update `CHANGELOG.md` [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#8254 Remove abc inheritance from Serializable
  python/cudf/cudf/core/abc.py
Labels: 3 - Ready for Review, Performance, cuDF (Python), improvement, non-breaking

#8231 Implement `lists::concatenate_list_elements`
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/lists/combine.hpp
  cpp/include/cudf/lists/detail/combine.hpp
  cpp/include/doxygen_groups.h
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/combine/concatenate_rows.cu
  cpp/src/lists/concatenate_rows.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/lists/combine/concatenate_list_elements_tests.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  java/src/main/native/src/ColumnVectorJni.cpp
  python/cudf/cudf/_lib/cpp/lists/combine.pxd
  python/cudf/cudf/_lib/lists.pyx
Labels: 3 - Ready for Review, CMake, conda, cuDF (Java), cuDF (Python), feature request, libcudf, non-breaking

#8272 Actually test equality in assert_groupby_results_equal
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), non-breaking

#8302 Merge `branch-0.19` into `branch-21.06` [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#8303 Update `CHANGELOG.md` links for calver [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#8301 use address and length for GDS reads/writes [skip ci]
  java/src/main/java/ai/rapids/cudf/CuFile.java
Labels: 3 - Ready for Review, Performance, Spark, cuDF (Java), improvement, non-breaking

#8265 Return python lists for __getitem__ calls to list type series
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_list.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), feature request, non-breaking

#8244 Copy nested types upon construction
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_dtypes.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8292 Update cudfjni version to 21.06.0 [skip ci]
  java/ci/README.md
  java/pom.xml
Labels: cuDF (Java), improvement, non-breaking

#8312 Fix concatenate_lists_ignore_null on rows of all_nulls
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/tests/lists/combine/concatenate_list_elements_tests.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
Labels: bug, libcudf, non-breaking

#8315 Update readme with correct CUDA versions [skip-ci]
  README.md
Labels: 3 - Ready for Review, doc, non-breaking

#8279 COLLECT_LIST support returning empty output columns.
  cpp/src/groupby/groupby.cu
  cpp/tests/groupby/collect_list_tests.cpp
  cpp/tests/groupby/collect_set_tests.cpp
  cpp/tests/groupby/nth_element_tests.cpp
Labels: bug, libcudf, non-breaking

#8296 Added decimal writing for CSV writer
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
Labels: 5 - Ready to Merge, cuIO, feature request, libcudf, non-breaking

#8276 [REVIEW] Enable implicit casting when concatenating mixed types
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/utils/dtypes.py
Labels: cuDF (Python), improvement, non-breaking

#8282 Add separator-on-null parameter to strings concatenate APIs
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/combine.hpp
  cpp/include/cudf/strings/detail/combine.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/strings/combine/concatenate.cu
  cpp/src/strings/combine/join_list_elements.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/combine/concatenate_tests.cpp
  cpp/tests/strings/combine/join_list_elements_tests.cpp
  python/cudf/cudf/_lib/cpp/strings/combine.pxd
  python/cudf/cudf/_lib/strings/combine.pyx
Labels: 3 - Ready for Review, CMake, breaking, bug, cuDF (Python), libcudf, strings

#8310 JNI: Refactor the code of making column from scalar [skip ci]
  java/src/main/native/src/ColumnVectorJni.cpp
Labels: 3 - Ready for Review, Spark, cuDF (Java), improvement, non-breaking

#8293 Add description of the cuIO GDS integration
  docs/cudf/source/io-gds-integration.rst
  docs/cudf/source/io.rst
Labels: doc, non-breaking

#8263 Revert "patch thrust to fix intmax num elements limitation in scan_by_key"
  cpp/cmake/thrust.patch
Labels: 3 - Ready for Review, CMake, bug, libcudf, non-breaking

#8299 added _is_homogeneous property
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8314 Use empty_like in scatter
  cpp/include/cudf/lists/detail/copying.hpp
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/src/lists/copying/copying.cu
  cpp/tests/partitioning/partition_test.cpp
Labels: Spark, bug, libcudf, non-breaking

#8321 Update environment variable used to determine `cuda_version`
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
Labels: conda, improvement, non-breaking

#8330 Update Java string concatenate test for single column [skip ci]
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, Spark, bug, cuDF (Java), non-breaking

#8331 [DOC] Fix cudf release version in readme
  README.md
Labels: 3 - Ready for Review, doc, non-breaking

#8307 Add option to link Java bindings with Arrow dynamically [skip ci]
  java/README.md
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, CMake, cuDF (Java), improvement, non-breaking

#8158 Refactor of rolling_window implementation.
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/src/rolling/lead_lag_nested_detail.cuh
  cpp/src/rolling/rolling_collect_list.cuh
  cpp/src/rolling/rolling_detail.cuh
  cpp/src/rolling/rolling_detail.hpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/rolling/rolling_test.hpp
Labels: improvement, libcudf, non-breaking

#8277 Do not add nulls to the hash table when null_equality::NOT_EQUAL is passed to left_semi_join and left_anti_join
  cpp/benchmarks/join/join_benchmark.cu
  cpp/include/cudf/join.hpp
  cpp/src/join/semi_join.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/join/semi_anti_join_tests.cpp
  cpp/tests/join/semi_join_tests.cpp
Labels: CMake, Spark, improvement, libcudf, non-breaking

#8206 Preserve column hierarchy when getting NULL row from `LIST` column
  cpp/src/copying/get_element.cu
  cpp/src/scalar/scalar_factories.cpp
  cpp/tests/copying/get_value_tests.cpp
Labels: 5 - Ready to Merge, breaking, bug, libcudf

#8256 Support scattering `list_scalar`
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/src/copying/scatter.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/scatter_list_scalar_tests.cpp
Labels: 5 - Ready to Merge, CMake, feature request, libcudf, non-breaking

#7118 Add `groupby::replace_nulls(replace_policy)` api
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/groupby/group_replace_nulls.hpp
  cpp/include/cudf/detail/replace/nulls.cuh
  cpp/include/cudf/groupby.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/group_replace_nulls.cu
  cpp/src/replace/nulls.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/replace_nulls_tests.cpp
  python/cudf/cudf/_lib/cpp/groupby.pxd
  python/cudf/cudf/_lib/groupby.pyx
Labels: 5 - Ready to Merge, CMake, Cython, conda, cuDF (Python), feature request, libcudf, non-breaking

#8268 Fix struct binary search and struct flattening
  cpp/include/cudf/table/table_view.hpp
  cpp/src/search/search.cu
  cpp/src/structs/utilities.cpp
  cpp/tests/search/search_struct_test.cpp
  cpp/tests/sort/sort_test.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking, tests

#8344 Update Java bindings to 21.08-SNAPSHOT [skip ci]
  java/ci/README.md
  java/pom.xml
Labels: cuDF (Java), improvement, non-breaking

#8318 Fix structs column description in dev docs
  cpp/docs/DEVELOPER_GUIDE.md
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#8262 upgrade dlpack to 0.5
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/cmake/thirdparty/CUDF_GetDLPack.cmake
  cpp/include/cudf/interop.hpp
  cpp/libcudf_kafka/cmake/thirdparty/CUDF_KAFKA_GetCUDF.cmake
  cpp/src/interop/dlpack.cpp
  cpp/tests/interop/dlpack_test.cpp
Labels: 5 - Ready to Merge, CMake, bug, conda, libcudf, non-breaking

#8327 Java: Support struct scalar [skip ci]
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/ScalarJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ScalarTest.java
Labels: cuDF (Java), feature request, non-breaking

#8342 [REVIEW] Add support for `make_meta_obj` dispatch in `dask-cudf`
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, breaking, bug, cuDF (Python), dask-cudf

#8334 Statically link libnvcomp into libcudfjni [skip ci]
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/NativeDepsLoader.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/cmake/Templates/Nvcomp.CMakeLists.txt.cmake
  java/src/main/native/cmake/nvcomp.patch
Labels: 4 - Needs cuDF (Java) Reviewer, CMake, cuDF (Java), improvement, non-breaking

#8280 Make device_buffer streams explicit and enforce move construction
  cpp/benchmarks/iterator/iterator_benchmark.cu
  cpp/benchmarks/type_dispatcher/type_dispatcher_benchmark.cu
  cpp/docs/DEVELOPER_GUIDE.md
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/types.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/column/column.cu
  cpp/src/column/column_factories.cu
  cpp/src/copying/scatter.cu
  cpp/src/dictionary/dictionary_factories.cu
  cpp/src/interop/from_arrow.cu
  cpp/src/io/avro/reader_impl.cu
  cpp/src/lists/explode.cu
  cpp/src/lists/lists_column_factories.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/replace.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/scalar/scalar.cpp
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/strings_column_factories.cu
  cpp/src/structs/structs_column_factories.cu
  cpp/tests/bitmask/bitmask_tests.cpp
  cpp/tests/bitmask/valid_if_tests.cu
  cpp/tests/column/column_test.cu
  cpp/tests/column/compound_test.cu
  cpp/tests/column/factories_test.cpp
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/copying/pack_tests.cu
  cpp/tests/copying/split_tests.cpp
  cpp/tests/datetime/datetime_ops_test.cpp
  cpp/tests/dictionary/factories_test.cpp
  cpp/tests/fixed_point/fixed_point_tests.cpp
  cpp/tests/groupby/collect_list_tests.cpp
  cpp/tests/io/comp/decomp_test.cu
  cpp/tests/iterator/iterator_tests.cuh
  cpp/tests/unary/cast_tests.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/row_conversion.cu
  python/cudf/cudf/_lib/null_mask.pyx
Labels: 5 - Ready to Merge, cuDF (Java), cuDF (Python), improvement, libcudf, non-breaking

#8368 [REVIEW] Add backward compatibility for `dask-cudf` to work with other versions of `dask`
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: 5 - Ready to Merge, bug, conda, cuDF (Python), dask-cudf, non-breaking

#8278 Introduce a common parent class for NumericalColumn and DecimalColumn
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_transform.py
Labels: 5 - Ready to Merge, breaking, cuDF (Python), improvement

#8353 Add aliases for string methods
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#8349 [REVIEW] Raise error when unsupported arguments are passed to `dask_cudf.DataFrame.sort_values`
  python/dask_cudf/dask_cudf/core.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), dask-cudf, non-breaking

#8347 [REVIEW] Raise `NotImplementedError` for axis=1 in `rank`
  python/cudf/cudf/core/frame.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8355 [REVIEW] Add docstring for `dask_cudf.read_csv`
  python/dask_cudf/dask_cudf/io/csv.py
Labels: 5 - Ready to Merge, cuDF (Python), dask-cudf, doc, non-breaking

#8191 IO statistics cleanup
  cpp/CMakeLists.txt
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/statistics/column_statistics.cuh
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/statistics/conversion_type_select.cuh
  cpp/src/io/statistics/orc_column_statistics.cu
  cpp/src/io/statistics/parquet_column_statistics.cu
  cpp/src/io/statistics/statistics.cuh
  cpp/src/io/statistics/statistics_type_identification.cuh
  cpp/src/io/statistics/temp_storage_wrapper.cuh
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, CMake, code quality, cuDF (Python), cuIO, improvement, libcudf, non-breaking

#8131 `Groupby.shift` c++ API refactor and python binding
  cpp/benchmarks/groupby/group_shift_benchmark.cu
  cpp/include/cudf/groupby.hpp
  cpp/src/groupby/groupby.cu
  cpp/tests/groupby/shift_tests.cpp
  python/cudf/cudf/_lib/cpp/groupby.pxd
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/dataset_generator.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, breaking, cuDF (Python), feature request, libcudf

#8285 `strings::join_list_elements` options for empty list inputs
  cpp/include/cudf/strings/combine.hpp
  cpp/src/strings/combine/join_list_elements.cu
  cpp/tests/strings/combine/join_list_elements_tests.cpp
  python/cudf/cudf/_lib/cpp/strings/combine.pxd
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, Spark, cuDF (Python), feature request, libcudf, non-breaking, strings

#7881 Support collect_set on rolling window
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/rolling/rolling_collect_list.cuh
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/collect_ops_test.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#8289 Add Java API for Concatenate strings with separator [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, Spark, cuDF (Java), feature request, non-breaking

#8369 Compilation fix: Remove redefinition for `std::is_same_v()`
  cpp/tests/utilities_tests/type_list_tests.cpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#8374 Fix struct flattening to add a validity column only when the input column has null element
  cpp/src/structs/utilities.cpp
Labels: ! - Hotfix, 5 - Ready to Merge, Spark, bug, libcudf, non-breaking

#8359 Handle empty results with nested types in copy_if_else
  cpp/include/cudf/copying.hpp
  cpp/src/copying/copy.cpp
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_tests.cu
  cpp/tests/copying/utility_tests.cpp
Labels: bug, libcudf, non-breaking

#8350 Handle nested column types properly for empty parquet files.
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/column_buffer.hpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 5 - Ready to Merge, bug, cuIO, libcudf, non-breaking

#8332 [REVIEW] Add support merging b/w categorical data
  python/cudf/cudf/api/__init__.py
  python/cudf/cudf/api/types/__init__.py
  python/cudf/cudf/api/types/categoricals.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, cuDF (Python), dask-cudf, feature request, non-breaking
