Repository rapidsai/cudf, pull requests merged in 2021-04, with the labels that each got.

#7731 [REVIEW] Support groupby operations for decimal dtypes
  docs/cudf/source/groupby.md
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), improvement, non-breaking

#7716 Add decimal column comparison operations
  docs/cudf/source/basics.rst
  python/cudf/cudf/_lib/cpp/wrappers/decimals.pxd
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/tests/test_binops.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7769 User resource fix for replace_nulls
  cpp/src/replace/nulls.cu
Labels: bug, libcudf, non-breaking

#7781 Fix compiler warning about non-POD types passed through ellipsis
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/src/copying/copy.cu
Labels: bug, libcudf, non-breaking

#7771 Allow hash_partition to take a seed value
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/partitioning.hpp
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/types.hpp
  cpp/src/partitioning/partitioning.cu
  cpp/tests/partitioning/hash_partition_test.cpp
Labels: 4 - Waiting on Author, breaking, improvement, libcudf

#7720 Adding support for equi-join on struct
  cpp/src/join/hash_join.cu
  cpp/tests/join/join_tests.cpp
Labels: 5 - Ready to Merge, feature request, libcudf, non-breaking

#7755 Fix slicing and arrow representations of decimal columns
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_column.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7802 Sort by index in groupby tests more consistently
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7811 Don't install Thrust examples, tests, docs, and python files
  cpp/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake, bug, libcudf, non-breaking

#7788 Add decimal column handling in copy_type_metadata
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_decimal.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/utils.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7776 [REVIEW] Enable basic reductions for decimal columns
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_reductions.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7752 Implement scatter for struct columns
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/scatter_struct_tests.cu
  cpp/tests/partitioning/partition_test.cpp
Labels: 3 - Ready for Review, CMake, bug, libcudf, non-breaking, tests

#7823 [REVIEW] Revert dask versioning of concat dispatch
  python/dask_cudf/dask_cudf/backends.py
Labels: 5 - Ready to Merge, dask, improvement, non-breaking

#7825 Constrain dask and distributed versions to 2021.3.1
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: 5 - Ready to Merge, conda, cuDF (Python), improvement, non-breaking

#7764 [REVIEW] Enable join on decimal columns
  python/cudf/cudf/_lib/replace.pyx
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/tests/test_joining.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7736 Allow merging index column with data column using keyword "on"
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: 5 - Ready to Merge, breaking, cuDF (Python), feature request

#7182 Interval index and interval_range
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/__init__.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#7833 Add USE_GDS as an option in build script [skip ci]
  java/ci/build-in-docker.sh
Labels: 3 - Ready for Review, Spark, cuDF (Java), improvement, non-breaking

#7826 add an allocate method with stream in java DeviceMemoryBuffer [skip ci]
  java/src/main/java/ai/rapids/cudf/DeviceMemoryBuffer.java
Labels: 3 - Ready for Review, Spark, cuDF (Java), improvement, non-breaking

#7848 [REVIEW] Add ability to extract include dirs from `CUDF_HOME`
  docker_build/Dockerfile
  python/cudf/setup.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#7852 cudf and cudf_kafka 0.20 now request 0.20 dependencies, and report as 0.20
  ci/release/update-version.sh
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  cpp/CMakeLists.txt
  cpp/libcudf_kafka/cmake/thirdparty/CUDF_KAFKA_GetCUDF.cmake
  java/src/main/native/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake, bug, conda, cuDF (Java), gpuCI, libcudf, non-breaking

#7372 jitify 2 support
  cpp/CMakeLists.txt
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/cmake/Modules/StringifyJITHeaders.cmake
  cpp/cmake/thirdparty/CUDF_GetJitify.cmake
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/jit/code/kernel.cpp
  cpp/src/binaryop/jit/code/operation.cpp
  cpp/src/binaryop/jit/code/traits.cpp
  cpp/src/binaryop/jit/kernel.cu
  cpp/src/binaryop/jit/operation-udf.hpp
  cpp/src/binaryop/jit/operation.hpp
  cpp/src/binaryop/jit/traits.hpp
  cpp/src/binaryop/jit/util.hpp
  cpp/src/copying/pack.cpp
  cpp/src/jit/cache.cpp
  cpp/src/jit/cache.h
  cpp/src/jit/cache.hpp
  cpp/src/jit/common_headers.hpp
  cpp/src/jit/launcher.cpp
  cpp/src/jit/launcher.h
  cpp/src/jit/parser.cpp
  cpp/src/jit/parser.hpp
  cpp/src/jit/type.cpp
  cpp/src/jit/type.hpp
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/jit/code/operation.cpp
  cpp/src/rolling/jit/kernel.cu
  cpp/src/rolling/jit/operation-udf.hpp
  cpp/src/rolling/jit/operation.hpp
  cpp/src/rolling/rolling_detail.cuh
  cpp/src/transform/jit/code/kernel.cpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/jit/operation-udf.hpp
  cpp/src/transform/transform.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/jit/jit-cache-multiprocess-test.cpp
  cpp/tests/jit/jit-cache-test.cpp
  cpp/tests/jit/jit-cache-test.hpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 5 - Ready to Merge, CMake, improvement, libcudf, non-breaking

#7778 Update README and CONTRIBUTING for 0.19
  CONTRIBUTING.md
  README.md
Labels: improvement, non-breaking

#7855 Update cudf to use the latest version of CPM ( 0.32.0 )
  cpp/cmake/thirdparty/CUDF_GetCPM.cmake
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
  cpp/libcudf_kafka/cmake/thirdparty/CUDF_KAFKA_GetCUDF.cmake
Labels: CMake, improvement, libcudf, non-breaking

#7785 Update pull request template instructions
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 3 - Ready for Review, doc, non-breaking

#7863 cudf now sets an install rpath of $ORIGIN
  cpp/CMakeLists.txt
Labels: CMake, bug, libcudf, non-breaking

#7864 Push DeviceScalar construction into cython for list.contains
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_contains.py
Labels: 5 - Ready to Merge, Cython, bug, cuDF (Python), non-breaking

#7870 [gpuCI] Forward-merge branch-0.19 to branch-0.20 [skip ci]
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_contains.py
Labels: cuDF (Python)

#7858 Update `dask` + `distributed` to `2021.4.0`
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: 3 - Ready for Review, conda, cuDF (Python), dask, improvement, non-breaking

#7757 Add `StructMethods.field()` API to access field of struct column
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_struct.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, Cython, breaking, cuDF (Python), feature request

#7872 CMake jit_preprocess_files function only runs when needed
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: 5 - Ready to Merge, CMake, bug, libcudf, non-breaking

#7890 Fix join API doxygen [skip-ci]
  cpp/include/cudf/join.hpp
Labels: doc, libcudf, non-breaking

#7886 disable verbose output for jitify_preprocess
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: 5 - Ready to Merge, CMake, bug, non-breaking

#7887 [REVIEW] cudf consistently specifies the cuda runtime
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Labels: 5 - Ready to Merge, CMake, bug, libcudf, non-breaking

#7892 Fix declaration in empty lists concatenation test.
  cpp/tests/copying/concatenate_tests.cu
Labels: bug, libcudf, non-breaking, tests

#7894 fix "incompatible redefinition" warnings
  cpp/include/cudf/utilities/bit.hpp
  cpp/src/jit/cache.cpp
  cpp/tests/unary/math_ops_test.cpp
Labels: 5 - Ready to Merge, bug, depends on libcudf, libcudf, non-breaking

#7896 Use dynamic cudart for nvcomp in java build [skip-ci]
  java/ci/build-in-docker.sh
  java/src/main/native/cmake/Modules/ConfigureNvcomp.cmake
Labels: 3 - Ready for Review, CMake, bug, cuDF (Java), non-breaking

#7877 fix GDS include path for version 0.95
  cpp/cmake/Modules/FindcuFile.cmake
Labels: 5 - Ready to Merge, CMake, Spark, improvement, libcudf, non-breaking

#7780 Update build system and docs to new minimum cudf-0.20 requirements
  CONTRIBUTING.md
  README.md
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
  cpp/src/text/subword/load_hash_file.cu
Labels: CMake, breaking, feature request, libcudf

#7846 [REVIEW] Handle `OverflowError` in `replace`
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_replace.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7774 Clean up literal zero cuda_stream_view arguments
  cpp/benchmarks/column/concatenate_benchmark.cpp
  cpp/benchmarks/join/join_benchmark.cu
  cpp/benchmarks/sort/sort_benchmark.cpp
  cpp/benchmarks/sort/sort_strings_benchmark.cpp
  cpp/benchmarks/string/case_benchmark.cpp
  cpp/benchmarks/string/combine_benchmark.cpp
  cpp/benchmarks/string/contains_benchmark.cpp
  cpp/benchmarks/string/copy_benchmark.cpp
  cpp/benchmarks/string/extract_benchmark.cpp
  cpp/benchmarks/string/factory_benchmark.cu
  cpp/benchmarks/string/filter_benchmark.cpp
  cpp/benchmarks/string/find_benchmark.cpp
  cpp/benchmarks/string/replace_benchmark.cpp
  cpp/benchmarks/string/replace_re_benchmark.cpp
  cpp/benchmarks/string/split_benchmark.cpp
  cpp/benchmarks/string/substring_benchmark.cpp
  cpp/benchmarks/string/translate_benchmark.cpp
  cpp/benchmarks/string/url_decode_benchmark.cpp
  cpp/benchmarks/text/normalize_benchmark.cpp
  cpp/benchmarks/text/normalize_spaces_benchmark.cpp
  cpp/benchmarks/text/tokenize_benchmark.cpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/types.hpp
  cpp/src/copying/concatenate.cu
  cpp/src/copying/pack.cpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/replace/nans.cu
  cpp/src/strings/substring.cu
  cpp/src/text/subword/subword_tokenize.cu
  cpp/tests/copying/gather_struct_tests.cu
  cpp/tests/replace/replace_nulls_tests.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities_tests/span_tests.cu
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking

#7798 Change device_vector to device_uvector for strings_column_view
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/include/cudf_test/column_utilities.hpp
  cpp/src/io/utilities/column_buffer.hpp
  cpp/src/io/utilities/file_io_utilities.hpp
  cpp/src/strings/strings_column_factories.cu
  cpp/src/strings/strings_column_view.cu
  cpp/tests/strings/factories_test.cu
Labels: 3 - Ready for Review, breaking, improvement, libcudf

#7915 [REVIEW] Explicitly re-running CMake won't cause unnecessary recompilation
  cpp/cmake/thirdparty/CUDF_GetThrust.cmake
Labels: CMake, improvement, libcudf, non-breaking

#7847 [REVIEW] Replace OrderedDict with dict
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/utils/utils.py
Labels: 3 - Ready for Review, Performance, cuDF (Python), improvement, non-breaking, tech debt

#7789 Update strings extract gbenchmark to measure multiple groups
  cpp/benchmarks/string/extract_benchmark.cpp
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, strings

#7813 Replace device_vector with device_uvector in encode and is_sorted
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/src/sort/is_sorted.cu
  cpp/src/transform/encode.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#7923 Update to Thrust 1.12.0
  cpp/cmake/thirdparty/CUDF_GetThrust.cmake
  cpp/include/cudf/utilities/span.hpp
Labels: 5 - Ready to Merge, CMake, improvement, libcudf, non-breaking

#7902 Fix out-of-bounds access in ORC writer
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
Labels: bug, cuIO, libcudf, non-breaking

#7931 Cleanup using C++17 features
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/include/cudf_test/timestamp_utilities.cuh
  cpp/src/copying/contiguous_split.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/merge/merge.cu
  cpp/tests/wrappers/timestamps_test.cu
Labels: 5 - Ready to Merge, code quality, improvement, libcudf, non-breaking

#7933 update cudfJni build env to gcc 9.3+ [skip ci]
  java/ci/Dockerfile.centos7
  java/ci/README.md
Labels: cuDF (Java), improvement, non-breaking

#7779 add missing stream, mr arguments at libcudf column creation
  cpp/src/dictionary/replace.cu
  cpp/src/lists/copying/copying.cu
  cpp/src/replace/replace.cu
  cpp/src/strings/convert/convert_urls.cu
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking, tech debt

#7609 Add to/from arrow for fixed point columns
  cpp/CMakeLists.txt
  cpp/src/interop/from_arrow.cu
  cpp/src/interop/to_arrow.cu
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  python/cudf/cudf/core/column/column.py
Labels: 4 - Needs libcudf Reviewer, CMake, cuDF (Python), feature request, libcudf, non-breaking

#7935 update cudfjni CXX_STANDARD to 17 [skip ci]
  java/README.md
  java/ci/README.md
  java/src/main/native/CMakeLists.txt
Labels: 4 - Needs cuDF (Java) Reviewer, CMake, cuDF (Java), improvement, non-breaking

#7939 [REVIEW] Fix empty series `__repr__`
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_repr.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7925 Replace device_vector with device_uvector in sort_impl
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/src/sort/sort_impl.cuh
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#7948 [REVIEW] Reindex in `DataFrame.__setitem__`
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_setitem.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7952 add GDS user-space lib to cudfjni build dockerfile [skip ci]
  java/ci/Dockerfile.centos7
Labels: cuDF (Java), improvement, non-breaking

#7941 Remove null-count parm from cudf::strings::detail::create_chars_child_column utility
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/modify_strings.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/hash/hashing.cu
  cpp/src/io/csv/durations.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/combine.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/backref_re_large.cu
  cpp/src/strings/replace/backref_re_medium.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/strip.cu
  cpp/src/strings/substring.cu
  cpp/src/strings/translate.cu
  cpp/src/strings/utilities.cu
  cpp/src/strings/utilities.cuh
  cpp/src/text/detokenize.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/src/text/normalize.cu
  cpp/src/text/replace.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#7962 [REVIEW][HOTFIX] Fix slow decompression performance
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/utilities/block_utils.cuh
Labels: ! - Hotfix, bug, cuIO, libcudf, non-breaking

#7969 [RELEASE] v0.18.2 `cudf` release [skip-ci]
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/utilities/block_utils.cuh
Labels: libcudf

#7972 fix literal zero cuda_stream_view argument in JNI [skip ci]
  java/src/main/native/src/row_conversion.cu
Labels: ! - Hotfix, 3 - Ready for Review, RMM, Spark, bug, cuDF (Java), non-breaking

#7968 Clean up more literal zero cuda_stream_view arguments
  cpp/benchmarks/string/json_benchmark.cpp
  cpp/benchmarks/text/ngrams_benchmark.cpp
  cpp/benchmarks/text/replace_benchmark.cpp
  cpp/src/strings/json/json_path.cu
  cpp/tests/transform/row_bit_count_test.cu
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#7975 [REVIEW] Fix slow decompression performance
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/utilities/block_utils.cuh
Labels: ! - Release, 3 - Ready for Review, gpuCI, libcudf

#7953 [REVIEW] Remove `cuda 10.x` related files
  CONTRIBUTING.md
  Dockerfile
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  python/cudf/requirements/cuda-10.1/dev_requirements.txt
  python/cudf/requirements/cuda-10.2/dev_requirements.txt
Labels: 5 - Ready to Merge, conda, container, cuDF (Python), improvement, non-breaking

#7958 Fix links to Google test
  cpp/docs/TESTING.md
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#7818 Refactor Python and Cython internals for groupby aggregation
  python/cudf/cudf/_lib/aggregation.pxd
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/_lib/rolling.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, Cython, code quality, cuDF (Python), improvement, non-breaking, tech debt

#7957 [REVIEW] Reindex in `DataFrame.__setitem__`
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_setitem.py
  python/cudf/requirements/cuda-10.1/dev_requirements.txt
  python/cudf/requirements/cuda-10.2/dev_requirements.txt
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.1/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf/setup.py
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: ! - Release, 5 - Ready to Merge, bug, conda, cuDF (Python), non-breaking

#7876 [REVIEW] Refactor utils and remove unnecessary functions
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, breaking, code quality, cuDF (Python), improvement, tech debt

#7730 Java API change for supporting structs
  cpp/include/cudf/io/parquet.hpp
  java/src/main/java/ai/rapids/cudf/ParquetColumnWriterOptions.java
  java/src/main/java/ai/rapids/cudf/ParquetWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge, Spark, breaking, cuDF (Java), improvement, libcudf

#7979 Fix automerge 0.19 --> 0.20
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.1/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf/setup.py
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: conda, cuDF (Python), improvement, non-breaking

#7758 Replace device_vector with device_uvector in gather
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/include/cudf/detail/valid_if.cuh
  cpp/tests/copying/detail_gather_tests.cu
  cpp/tests/copying/gather_str_tests.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, improvement, libcudf, non-breaking

#7845 [REVIEW] Centralize logic for getattr->getitem override
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/utils/utils.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), improvement, non-breaking, tech debt

#7899 Enable scattering scalars into decimal columns
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_decimal.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7983 auto set device in cufile jni functions [skip ci]
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/CuFileJni.cpp
Labels: 3 - Ready for Review, CMake, Spark, cuDF (Java), improvement, non-breaking

#7853 Remove `device_vector`s from parquet
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
Labels: 5 - Merge After Dependencies, improvement, libcudf, non-breaking

#7982 Update to CPM with fix for `FETCHCONTENT_BASE_DIR`
  cpp/cmake/thirdparty/CUDF_GetCPM.cmake
Labels: 5 - Ready to Merge, CMake, improvement, libcudf, non-breaking

#7959 Fix union operation in `_is_supported()`
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, bug, cuDF (Python), dask, non-breaking

#7841 Remove nvstrdesc_s from cuio
  cpp/CMakeLists.txt
  cpp/src/io/avro/avro_common.h
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/avro_gpu.h
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
  cpp/src/io/csv/csv.h
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/csv/writer_impl.hpp
  cpp/src/io/json/json.h
  cpp/src/io/json/json_common.h
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/json_gpu.h
  cpp/src/io/json/reader_impl.hpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc_field_reader.hpp
  cpp/src/io/orc/orc_field_writer.hpp
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet.cpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/io/utilities/block_utils.cuh
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/column_buffer.hpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/parsing_utils.cuh
Labels: 3 - Ready for Review, CMake, cuIO, improvement, libcudf, non-breaking

#7987 Revert "Java API change for supporting structs (#7730)"
  cpp/include/cudf/io/parquet.hpp
  java/src/main/java/ai/rapids/cudf/ParquetColumnWriterOptions.java
  java/src/main/java/ai/rapids/cudf/ParquetWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java), improvement, libcudf, non-breaking

#7914 Remove char_width member from cudf::string_view class
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
  cpp/src/strings/substring.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, strings

#7984 Update CUDA version in build scripts
  ci/cpu/prebuild.sh
Labels: bug, gpuCI, non-breaking

#7988 Fix ORC reader issue with bystream reader
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, bug, cuIO, libcudf, non-breaking

#7992 [REVIEW] Unpin pandas to patch version
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.1/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf/setup.py
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: 5 - Ready to Merge, conda, cuDF (Python), improvement, non-breaking

#7865 Struct binary search (lower_bound/upper_bound)
  cpp/src/search/search.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/search/search_dictionary_test.cpp
  cpp/tests/search/search_struct_test.cpp
  cpp/tests/search/search_test.cpp
Labels: 3 - Ready for Review, CMake, feature request, libcudf, non-breaking

#7897 Defer to `iloc` when indexer is an integer-like object and the `Index` is non-numeric dtype
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7937 Refactor libcudf strings concatenate to use make_strings_children
  cpp/CMakeLists.txt
  cpp/src/strings/combine.cu
  cpp/src/strings/combine/concatenate.cu
  cpp/src/strings/combine/join.cu
  cpp/tests/strings/combine_tests.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking, strings

#7996 [REVIEW] Fix a `NameError` in meta dispatch API
  python/dask_cudf/dask_cudf/backends.py
Labels: ! - Release, 5 - Ready to Merge, bug, cuDF (Python), dask, non-breaking

#7954 Add JNI for splitting groups in a table after groupby [skip-ci]
  java/src/main/java/ai/rapids/cudf/GroupByOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, 5 - Ready to Merge, Spark, cuDF (Java), feature request, non-breaking

#7843 Fix incorrect explode_outer_position column null values in some cases
  cpp/src/lists/explode.cu
  cpp/tests/lists/explode_tests.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, bug, cuDF (Java), libcudf, non-breaking

#7772 [REVIEW] Introduces `make_optional_iterator` for nullable column and scalars
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/iterator.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/iterator/optional_iterator_test.cu
Labels: CMake, improvement, libcudf, non-breaking

#7970 Adding support for Decimal/Fixed-point to ORC reader
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/data/orc/TestOrcFile.int_decimal.precision_19.orc
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, breaking, cuDF (Python), cuIO, feature request, libcudf

#7965 Remove obsolete cudf::strings::replace_nulls
  cpp/include/cudf/strings/detail/replace.hpp
  cpp/include/cudf/strings/replace.hpp
  cpp/src/strings/replace/replace.cu
  cpp/tests/strings/replace_tests.cpp
Labels: 3 - Ready for Review, breaking, code quality, improvement, libcudf

#7763 Add groupby product support
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_product.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/group_product_test.cpp
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, CMake, cuDF (Python), feature request, libcudf, non-breaking

#8013 Update `ci/local/build.sh` default `$DOCKER_IMAGE`
  ci/local/build.sh
Labels: 3 - Ready for Review, gpuCI, improvement, non-breaking

#7851 Improve CSV writer tests
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO, improvement, non-breaking, tests

#7927 Enable quantile for decimal columns
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#8012 Support setting to a new column in `DataFrame.loc`
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8021 Fix dask_cudf metadata-inference when first ORC path is empty
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), dask, non-breaking

#7805 Use rmm::device_uvector in place of rmm::device_vector for CSV reader/writer
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/csv_gpu.h
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/csv/writer_impl.cu
Labels: 5 - Ready to Merge, cuIO, improvement, libcudf, non-breaking

#8025 Fix returned column type when extracting from an empty list column
  cpp/src/lists/extract.cu
  cpp/tests/lists/extract_tests.cpp
Labels: bug, libcudf, non-breaking

#7938 add null order support to detail::drop_duplicates
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/src/transform/encode.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, improvement, libcudf, non-breaking, tech debt

#8007 remove decimals_as_float64 from orc benchmarks
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking, tech debt

#8005 [REVIEW] Bump cmake minimum version to 3.18 in dev environments
  CONTRIBUTING.md
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf_kafka/meta.yaml
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#8026 Don't reindex an new value on setitem if the original dataframe was empty
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: ! - Hotfix, ! - Release, 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8031 Fix returned column type when extracting from an empty list column
  cpp/src/lists/extract.cu
  cpp/tests/lists/extract_tests.cpp
Labels: ! - Hotfix, ! - Release, bug, libcudf, non-breaking

#8037 [RELEASE] v0.19.1 cudf
  cpp/src/lists/extract.cu
  cpp/tests/lists/extract_tests.cpp
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: cuDF (Python), libcudf

#7759 Add groupby scan aggregation to cudf
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/groupby.pxd
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python), feature request, non-breaking

#7973 Use segmented_sort_by_key for sorting smaller lists
  cpp/src/lists/segmented_sort.cu
Labels: improvement, libcudf, non-breaking

#8027 Remove references to deprecated "rmm/thrust_rmm_allocator.h"
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/src/groupby/sort/group_quantiles.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/merge/merge_test.cpp
Labels: improvement, libcudf, non-breaking

#7078 Support more units in `cudf.DateOffset`
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_offset.py
  python/cudf/cudf/tests/utils.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7584 Add `list_scalar` API
  cpp/include/cudf/scalar/scalar.hpp
  cpp/tests/scalar/scalar_test.cpp
Labels: feature request, libcudf, non-breaking

#8040 [REVIEW] Add column validation in equality operations
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_reductions.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7719 Reduce peak device memory usage in ORC writer
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Labels: 2 - In Progress, bug, cuIO, libcudf, non-breaking

#7867 [REVIEW] Refactor concatenation logic and fix various bugs
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), improvement, non-breaking, tech debt

#8028 Adding struct support for semi_join
  cpp/src/join/semi_join.cu
  cpp/tests/join/semi_join_tests.cpp
Labels: 3 - Ready for Review, feature request, libcudf, non-breaking

#7963 Fixed join on mixed nullability columns
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/structs/utilities.cu
  cpp/src/structs/utilities.hpp
  cpp/tests/join/join_tests.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#7929 Implement string list concatenation
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/combine.hpp
  cpp/src/strings/combine/concatenate_list_elements.cu
  cpp/src/strings/utilities.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/combine/concatenate_list_elements_tests.cpp
  cpp/tests/strings/combine/concatenate_tests.cpp
  cpp/tests/strings/combine/join_strings_tests.cpp
Labels: 3 - Ready for Review, CMake, feature request, libcudf, non-breaking, strings

#8009 Use device_read/device_write in Avro reader and ORC reader/writer
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
Labels: 5 - Ready to Merge, cuIO, improvement, libcudf, non-breaking

#8041 Adds serialization of Decimal Columns and dtypes
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_decimal.py
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/utils.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7910 Add `groupby::shift` API
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_shift_benchmark.cu
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/groupby.hpp
  cpp/src/copying/segmented_shift.cu
  cpp/src/groupby/groupby.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/group_shift_test.cpp
Labels: 3 - Ready for Review, CMake, feature request, libcudf, non-breaking

#8056 constexpr all is_*_impl::operator()<T>()
  cpp/include/cudf/utilities/traits.hpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#8043 Convert cudf::merge to use device_uvector instead of device_vector
  cpp/benchmarks/merge/merge_benchmark.cpp
  cpp/benchmarks/string/factory_benchmark.cu
  cpp/benchmarks/string/filter_benchmark.cpp
  cpp/benchmarks/string/find_benchmark.cpp
  cpp/benchmarks/string/split_benchmark.cpp
  cpp/benchmarks/string/string_bench_args.hpp
  cpp/benchmarks/text/normalize_benchmark.cpp
  cpp/include/cudf/detail/merge.cuh
  cpp/src/merge/merge.cu
Labels: improvement, libcudf, non-breaking

#8068 [REVIEW] Add validation for `errors` parameter in `cudf.to_datetime`
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7949 Remove 10.2 workarounds in groupby functions for dictionary column types
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/src/groupby/groupby.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/tests/groupby/group_mean_test.cpp
  cpp/tests/groupby/group_std_test.cpp
  cpp/tests/groupby/group_sum_of_squares_test.cpp
  cpp/tests/groupby/group_sum_test.cpp
  cpp/tests/groupby/group_var_test.cpp
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#8017 Numba version and deprecation updates
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/tests/test_udf_binops.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.1/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf/setup.py
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: 5 - Ready to Merge, breaking, conda, cuDF (Python), improvement

#8072 Fix bug when constructing `list_scalar`, `stream` and `mr` was not passed on to construct validity data
  cpp/include/cudf/scalar/scalar.hpp
Labels: bug, libcudf, non-breaking

#8065 [REVIEW] Fix `Series` inputs handling in `Dataframe` constructor
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8075 Fix semi join on mixed nullability columns
  cpp/src/join/semi_join.cu
  cpp/tests/join/semi_join_tests.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#7928 Replace cudf::strings::detail::modify_strings utility with make_strings_children
  cpp/include/cudf/strings/detail/combine.hpp
  cpp/include/cudf/strings/detail/modify_strings.cuh
  cpp/src/io/csv/writer_impl.cu
  cpp/src/strings/capitalize.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#8063 Remove `strong_typedef` in `fixed_point.hpp`
  cpp/include/cudf/fixed_point/fixed_point.hpp
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking

#8066 Update codeowners for benchmarks / tests CMake [skip ci]
  .github/CODEOWNERS
Labels: improvement, non-breaking

#8053 expand the cuFile JNI wrapper to allow for more flexibility [skip ci]
  java/src/main/java/ai/rapids/cudf/CuFile.java
  java/src/main/java/ai/rapids/cudf/CuFileBuffer.java
  java/src/main/java/ai/rapids/cudf/CuFileDriver.java
  java/src/main/java/ai/rapids/cudf/CuFileHandle.java
  java/src/main/java/ai/rapids/cudf/CuFileReadHandle.java
  java/src/main/java/ai/rapids/cudf/CuFileResourceCleaner.java
  java/src/main/java/ai/rapids/cudf/CuFileResourceDestroyer.java
  java/src/main/java/ai/rapids/cudf/CuFileWriteHandle.java
  java/src/main/java/ai/rapids/cudf/MemoryCleaner.java
  java/src/main/native/src/CuFileJni.cpp
  java/src/test/java/ai/rapids/cudf/CuFileTest.java
Labels: 5 - Ready to Merge, Spark, cuDF (Java), improvement, non-breaking

#8076 Convert cudf::quantiles to use device_uvector
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/quantiles/quantiles_benchmark.cpp
  cpp/src/quantiles/quantiles.cu
Labels: CMake, improvement, libcudf, non-breaking

#8060 Move make_strings_children to strings/detail/utilities.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/src/io/csv/durations.cu
  cpp/src/io/csv/writer_impl.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/combine/concatenate.cu
  cpp/src/strings/combine/concatenate_list_elements.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/strings_column_factories.cu
  cpp/src/strings/strip.cu
  cpp/src/strings/substring.cu
  cpp/src/strings/translate.cu
  cpp/src/strings/utf8.cuh
  cpp/src/strings/utilities.cu
  cpp/src/strings/utilities.cuh
  cpp/src/strings/wrap.cu
  cpp/src/text/detokenize.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/src/text/normalize.cu
  cpp/src/text/replace.cu
  cpp/src/text/stemmer.cu
Labels: 3 - Ready for Review, code quality, improvement, libcudf, non-breaking, strings

#8089 Remove remaining "when C++17" comments
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/include/cudf_test/column_utilities.hpp
  cpp/src/aggregation/result_cache.cpp
  cpp/src/io/json/reader_impl.cu
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking, tech debt

#8073 unsnap: busy wait a number of cycles
  cpp/src/io/comp/unsnap.cu
Labels: ! - Hotfix, bug, libcudf, non-breaking

#8100 [RELEASE] v0.19.2 cudf [skip-ci]
  cpp/src/io/comp/unsnap.cu
Labels: libcudf

#8081 Refactoring column logic Part 1
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
Labels: 3 - Ready for Review, Performance, code quality, cuDF (Python), improvement, non-breaking, tech debt

#8082 Allow CuPy 9 to be used with cuDF
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
Labels: 3 - Ready for Review, conda, feature request, non-breaking

#8042 Convert cudf::repeat to use device_uvector instead of device_vector
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/common/generate_benchmark_input.cpp
  cpp/benchmarks/filling/repeat_benchmark.cpp
  cpp/src/filling/repeat.cu
Labels: CMake, improvement, libcudf, non-breaking

#8086 Fix bug: allow `lists::copy_slice` from an valid row that has an empty list
  cpp/src/lists/copying/copying.cu
  cpp/tests/column/column_test.cu
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#7866 Extend range window queries to non-timestamp order-by columns
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/rolling.hpp
  cpp/include/cudf/rolling/range_window_bounds.hpp
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/range_window_bounds.cpp
  cpp/src/rolling/range_window_bounds_detail.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/range_rolling_window_test.cpp
  cpp/tests/rolling/range_window_bounds_test.cpp
Labels: 5 - Ready to Merge, CMake, conda, feature request, libcudf, non-breaking

#7985 Add support for pydocstyle and test on abc.py
  .pre-commit-config.yaml
  ci/checks/style.sh
  python/.flake8
  python/cudf/cudf/core/abc.py
Labels: 3 - Ready for Review, cuDF (Python), gpuCI, improvement, non-breaking

#8085 [REVIEW] Add python/cython bindings for `str.join` API
  python/cudf/cudf/_lib/cpp/strings/combine.pxd
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking, strings

#8074 Convert hashing, partitioning, and nested_loop_join APIs to use device_uvector
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/src/hash/hashing.cu
  cpp/src/join/nested_loop_join.cuh
  cpp/src/partitioning/partitioning.cu
  cpp/src/partitioning/round_robin.cu
  cpp/tests/partitioning/hash_partition_test.cpp
Labels: 3 - Ready for Review, breaking, improvement, libcudf

#8105 ensure cuFile JNI library is loaded before any use [skip ci]
  java/src/main/java/ai/rapids/cudf/CuFile.java
  java/src/main/java/ai/rapids/cudf/CuFileBuffer.java
  java/src/main/java/ai/rapids/cudf/CuFileDriver.java
  java/src/main/java/ai/rapids/cudf/CuFileHandle.java
Labels: 3 - Ready for Review, Spark, bug, cuDF (Java), non-breaking

#8077 JNI support for scalar of list [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/CudaJni.cpp
  java/src/main/native/src/ScalarJni.cpp
  java/src/main/native/src/cudf_jni_apis.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ScalarTest.java
Labels: 3 - Ready for Review, cuDF (Java), feature request, non-breaking

#8114 Use `cupy.ndarray` (without `core`)
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_factorize.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking, tests

#8093 Fix subword tokenizer to handle zero hash bin size
  cpp/src/text/subword/detail/hash_utils.cuh
  cpp/tests/text/subword_tests.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking, strings

#8122 ENH Remove conda defaults channel in dev environments
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.1.yml
  conda/environments/cudf_dev_cuda11.2.yml
Labels: improvement, non-breaking
