Repository rapidsai/cudf, pull requests merged in 2021-06, with the labels that each got.

#8392 Support Dask + Distributed 2021.05.1
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: conda, cuDF (Python), dask, improvement, non-breaking

#8290 BUG FIX: Raise appropriate strings error when concatenating strings column
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_column.py
Labels: bug, cuDF (Python), non-breaking

#8419 [REVIEW] Add nightly version for ucx-py in ci script
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, bug, gpuCI, non-breaking

#8421 [REVIEW] Pin dask for ci in `21.06`
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/dask-cudf/run_test.sh
Labels: 5 - Ready to Merge, conda, gpuCI, improvement, non-breaking

#8402 Add benchmark for strings/integers convert APIs
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/convert_floats_benchmark.cpp
  cpp/benchmarks/string/convert_numerics_benchmark.cpp
Labels: 5 - Ready to Merge, CMake, improvement, libcudf, non-breaking

#8348 Fix concurrent_unordered_map to prevent accessing padding bits in pair_type
  cpp/src/hash/concurrent_unordered_map.cuh
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#8343 Replace remaining uses of device_vector
  cpp/docs/DEVELOPER_GUIDE.md
  cpp/src/quantiles/quantile.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/comp/decomp_test.cpp
Labels: 5 - Ready to Merge, CMake, improvement, libcudf, non-breaking

#8425 [REVIEW] Unpin dask version on CI
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/dask-cudf/run_test.sh
Labels: 3 - Ready for Review, conda, gpuCI, improvement, non-breaking

#7980 Optimize string gather performance for large strings
  cpp/benchmarks/string/copy_benchmark.cpp
  cpp/include/cudf/strings/detail/gather.cuh
Labels: 5 - Ready to Merge, Performance, improvement, libcudf, non-breaking

#8417 Add benchmark for strings/fixed_point convert APIs
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/convert_fixed_point_benchmark.cpp
  cpp/tests/strings/fixed_point_tests.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#8406 [Java] CollectSetAggregation: implement RollingAggregation interface [skip ci]
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: bug, cuDF (Java), non-breaking

#8396 Improve test coverage for struct search
  cpp/tests/search/search_struct_test.cpp
Labels: Spark, feature request, libcudf, non-breaking, tests

#8326 Minor code refactor for sorted_order
  cpp/src/sort/sort_impl.cuh
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#8415 Fix null_equality config of rolling_collect_set
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/groupby/collect_set_tests.cpp
  cpp/tests/rolling/collect_ops_test.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8433 JNI bindings for get_element [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java), improvement, non-breaking

#8426 [REVIEW] Update dask make_meta changes to be compatible with dask upstream
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, breaking, cuDF (Python), improvement

#8325 Fixed documentation bug in groupby agg method
  python/cudf/cudf/core/groupby/groupby.py
Labels: 5 - Ready to Merge, cuDF (Python), doc, non-breaking

#8429 Add public libcudf match_dictionaries API
  cpp/include/cudf/dictionary/detail/update_keys.hpp
  cpp/include/cudf/dictionary/update_keys.hpp
  cpp/src/dictionary/replace.cu
  cpp/src/dictionary/set_keys.cu
  cpp/tests/dictionary/set_keys_test.cpp
Labels: 3 - Ready for Review, feature request, libcudf, non-breaking

#8439 JNI bindings for sort_lists [skip ci]
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java), feature request, non-breaking

#8446 Update UCX-Py version to 0.20
  ci/gpu/build.sh
Labels: bug, gpuCI, non-breaking

#8358 Refactor setting stack size in regex code
  cpp/src/strings/contains.cu
  cpp/src/strings/extract.cu
  cpp/src/strings/findall.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/regex/regexec.cu
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/tests/strings/contains_tests.cpp
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, strings

#8179 [FEA] Implement `.describe() ` for `DataFrameGroupBy`
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: cuDF (Python), feature request, non-breaking

#8437 Replace `all_null()` and `all_valid()` by `iterator_all_nulls()` and `iterator_no_null()` in tests
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/groupby/argmax_tests.cpp
  cpp/tests/groupby/argmin_tests.cpp
  cpp/tests/groupby/count_scan_tests.cpp
  cpp/tests/groupby/count_tests.cpp
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/groupby/groups_tests.cpp
  cpp/tests/groupby/keys_tests.cpp
  cpp/tests/groupby/max_scan_tests.cpp
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/mean_tests.cpp
  cpp/tests/groupby/median_tests.cpp
  cpp/tests/groupby/min_scan_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/nth_element_tests.cpp
  cpp/tests/groupby/nunique_tests.cpp
  cpp/tests/groupby/product_tests.cpp
  cpp/tests/groupby/quantile_tests.cpp
  cpp/tests/groupby/replace_nulls_tests.cpp
  cpp/tests/groupby/std_tests.cpp
  cpp/tests/groupby/sum_of_squares_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
  cpp/tests/groupby/var_tests.cpp
  cpp/tests/replace/replace_nulls_tests.cpp
Labels: 3 - Ready for Review, code quality, feature request, libcudf, non-breaking, not a bug, tests

#8255 Refactor `scatter` for list columns
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/lists/copying/scatter_lists_benchmark.cu
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/lists/detail/scatter_helper.cuh
  cpp/src/lists/copying/scatter_helper.cu
Labels: 5 - Ready to Merge, CMake, conda, improvement, libcudf, non-breaking

#8435 Replace make_empty_strings_column with make_empty_column
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/copying/copy.cpp
  cpp/src/interop/from_arrow.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/reshape/interleave_columns.cu
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/combine/concatenate.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/combine/join_list_elements.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/copying/copying.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/strip.cu
  cpp/src/strings/substring.cu
  cpp/src/strings/translate.cu
  cpp/src/strings/utilities.cu
  cpp/src/strings/wrap.cu
  cpp/tests/copying/pack_tests.cu
  cpp/tests/copying/split_tests.cpp
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, strings

#8428 Add move constructors for `string_scalar` and `struct_scalar`
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/scalar/scalar.cpp
Labels: 3 - Ready for Review, feature request, libcudf, libcudf blocker, non-breaking

#8420 Install only the same Thrust files that Thrust itself installs
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetThrust.cmake
Labels: 3 - Ready for Review, CMake, bug, libcudf, non-breaking

#8423 Implement `strings::repeat_strings`
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/include/doxygen_groups.h
  cpp/src/strings/repeat_strings.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/repeat_strings_tests.cpp
Labels: 3 - Ready for Review, CMake, Spark, conda, feature request, libcudf, non-breaking, strings

#8390 [Review] Correct unused parameter warnings in rolling algorithms
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/range_window_bounds_detail.hpp
  cpp/src/rolling/rolling_detail.cuh
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8389 [Review] Correct unused parameters in column round and search
  cpp/src/column/column_factories.cu
  cpp/src/round/round.cu
  cpp/src/search/search.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8458 Update minimum Dask requirement to 2021.6.0
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: conda, cuDF (Python), improvement, non-breaking

#8309 Remove special Index class from the general index class hierarchy
  python/cudf/cudf/__init__.py
  python/cudf/cudf/api/extensions/accessor.py
  python/cudf/cudf/core/__init__.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_factorize.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_onehot.py
  python/dask_cudf/dask_cudf/backends.py
Labels: 3 - Ready for Review, breaking, cuDF (Python), improvement, tech debt

#8467 Correct unused parameter warnings in groupby
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_nunique.cu
  cpp/src/groupby/sort/group_quantiles.cu
  cpp/src/groupby/sort/group_std.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8468 Correct unused parameter warnings in filling algorithms
  cpp/src/filling/fill.cu
  cpp/src/filling/repeat.cu
  cpp/src/filling/sequence.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8463 Add `str.edit_distance_matrix`
  python/cudf/cudf/_lib/cpp/nvtext/edit_distance.pxd
  python/cudf/cudf/_lib/nvtext/edit_distance.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8477 Expose half_up rounding in cuDF
  python/cudf/cudf/_lib/round.pyx
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), feature request, non-breaking

#8481 Correct unused parameter warnings in reduction algorithms
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8487 Fix `21.06` CHANGELOG.md entries
  CHANGELOG.md
Labels: improvement, non-breaking

#8362 Add `groupby.fillna`
  cpp/src/groupby/groupby.cu
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, libcudf, non-breaking

#8465 Java APIs to fetch CUDA runtime info [skip ci]
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/java/ai/rapids/cudf/CudaComputeMode.java
  java/src/main/native/src/CudaJni.cpp
  java/src/test/java/ai/rapids/cudf/CudaTest.java
Labels: cuDF (Java), feature request, non-breaking

#8002 Adding cudf.cut method
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/__init__.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_cut.py
Labels: 2 - In Progress, cuDF (Python), improvement, non-breaking

#8483 Correct unused parameter warnings in replace algorithms
  cpp/src/replace/clamp.cu
  cpp/src/replace/nans.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8480 Correct unused parameter warnings in io algorithms
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/utilities/parsing_utils.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8479 Correct unused parameter warnings in interop algorithms
  cpp/src/interop/from_arrow.cu
  cpp/src/interop/to_arrow.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8442 Create objects from iterables that contain cudf.NA
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_decimal.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_struct.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8496 Fix Cython formatting command in Contributing.md.
  CONTRIBUTING.md
Labels: cuDF (Python), improvement, non-breaking

#8490 Adding support for writing empty dataframe
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), libcudf, non-breaking

#8494 Correct unused parameter warnings in partitioning and stream compact
  cpp/src/partitioning/partitioning.cu
  cpp/src/stream_compaction/drop_nans.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8432 Add workaround for crash in libcudf debug build using output_indexalator in thrust::lower_bound
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/set_keys.cu
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8502 Fix `21.08` forward-merge conflicts
  CHANGELOG.md
Labels: improvement, non-breaking

#8491 Add JNI for `strings::repeat_strings` [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/ScalarJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ScalarTest.java
Labels: 3 - Ready for Review, Spark, cuDF (Java), feature request, non-breaking, strings

#8461 Add info about NVTX ranges to dev guide
  cpp/docs/DEVELOPER_GUIDE.md
Labels: doc, libcudf, non-breaking

#8453 Add accurate hash join size functions
  cpp/include/cudf/join.hpp
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/tests/join/join_tests.cpp
Labels: 3 - Ready for Review, breaking, feature request, libcudf

#8499 Disallow groupby aggs for `StructColumns`
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, bug, cuDF (Python), non-breaking

#8466 use libcu++ time_point as timestamp
  cpp/include/cudf/wrappers/timestamps.hpp
  cpp/tests/iterator/iterator_tests.cuh
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking

#8391 Handle pre-sliced nested columns in contiguous_split.
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/pack_tests.cu
  cpp/tests/copying/split_tests.cpp
Labels: bug, libcudf, non-breaking

#8507 Incorrect map size in scatter_to_gather corrupts struct columns
  cpp/include/cudf/detail/scatter.cuh
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_if_else_nested_tests.cpp
  cpp/tests/copying/scatter_struct_tests.cpp
Labels: 3 - Ready for Review, Spark, bug, libcudf, non-breaking

#7709 Use Arrow URI FileSystem backed instance to retrieve remote files
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
  cpp/include/cudf/io/datasource.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/arrow_io_source_test.cpp
Labels: 2 - In Progress, CMake, cuIO, feature request, libcudf, non-breaking

#8495 Bug/correct unused parameters in reshape and text
  cpp/src/reshape/byte_cast.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/text/detokenize.cu
  cpp/src/text/normalize.cu
  cpp/src/text/stemmer.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8493 Correct unused parameter warnings in labelling and list algorithms
  cpp/src/labeling/label_bins.cu
  cpp/src/lists/contains.cu
  cpp/src/lists/interleave_columns.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8500 replace_nulls properly propagates memory resource to gather calls
  cpp/src/replace/nulls.cu
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8509 Correct unused parameter warnings in string algorithms
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/substring.cu
Labels: improvement, libcudf, non-breaking, tech debt

#8373 Add functionality to apply `Dtype` metadata to `ColumnBase`
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#8450 Add cudf::strings::integer_to_hex convert API
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/src/strings/convert/convert_hex.cu
  cpp/tests/strings/integers_tests.cpp
  python/cudf/cudf/_lib/cpp/strings/convert/convert_integers.pxd
  python/cudf/cudf/_lib/string_casting.pyx
Labels: cuDF (Python), feature request, libcudf, non-breaking

#8489 Add `Index.get_loc` for Numerical, String Index support
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8517 [REVIEW] Fix importing `apply` from `dask`
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/dask-cudf/run_test.sh
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/csv.py
Labels: 5 - Ready to Merge, bug, conda, cuDF (Python), dask-cudf, gpuCI, non-breaking

#8308 Add first-class dtype utilities
  python/.flake8
  python/cudf/cudf/__init__.py
  python/cudf/cudf/api/__init__.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/api/types/__init__.py
  python/cudf/cudf/api/types/categoricals.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_api_types.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, breaking, cuDF (Python), improvement, tech debt

#8515 Fix offset of the string dictionary length stream
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), cuIO, libcudf, non-breaking

#8410 Implement reverse in libcudf
  cpp/CMakeLists.txt
  cpp/include/cudf/copying.hpp
  cpp/src/copying/reverse.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/reverse_tests.cpp
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
Labels: 5 - Ready to Merge, CMake, cuDF (Python), feature request, libcudf, non-breaking

#8422 STRUCT column support for cudf::merge.
  cpp/include/cudf/merge.hpp
  cpp/src/merge/merge.cu
  cpp/tests/merge/merge_test.cpp
Labels: Spark, feature request, libcudf, non-breaking

#8528 Minor clean up of various internal column and frame utilities
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), improvement, non-breaking, tech debt

#8535 Fix README.md [skip ci]
  README.md
Labels: doc, non-breaking

#8521 Correct unused parameter warnings in transform and unary ops
  cpp/src/transform/row_bit_count.cu
  cpp/src/unary/cast_ops.cu
  cpp/src/unary/math_ops.cu
Labels: improvement, libcudf, non-breaking, tech debt

#8531 Added optional flag for building Arrow with S3 filesystem support
  cpp/CMakeLists.txt
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
  cpp/tests/CMakeLists.txt
  cpp/tests/io/arrow_io_source_test.cpp
  java/ci/build-in-docker.sh
Labels: CMake, cuDF (Java), improvement, libcudf, non-breaking

#8533 [REVIEW] Unpin `dask` version in CI
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/dask-cudf/run_test.sh
Labels: 5 - Ready to Merge, conda, gpuCI, improvement, non-breaking

#8523 Change namespace contains_nulls to struct
  cpp/include/cudf/column/column_device_view.cuh
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#8525 Correct the last warnings and issues when using newer cuda versions
  cpp/src/replace/clamp.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8534 Small cleanup
  cpp/src/merge/merge.cu
Labels: 5 - Ready to Merge, code quality, improvement, libcudf, non-breaking

#8498 Fixes out-of-bounds access for small files in unzip
  cpp/src/io/comp/uncomp.cpp
  python/cudf/cudf/tests/test_csv.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), cuIO, libcudf, non-breaking

#8538 Fix offset of the string dictionary length stream
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Labels: ! - Hotfix, bug, cuDF (Python), libcudf, non-breaking

#8542 [RELEASE] cudf v21.06.01
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Labels: cuDF (Python), libcudf

#8403 Support multiple input files/buffers for read_json
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), feature request, libcudf, non-breaking

#8543 cudf_kafka explicitly search for a matching patch version of cudf
  cpp/libcudf_kafka/cmake/thirdparty/CUDF_KAFKA_GetCUDF.cmake
Labels: CMake, libcudf

#8544 REL Fix for building 21.06.01 [skip-ci]
  cpp/libcudf_kafka/cmake/thirdparty/CUDF_KAFKA_GetCUDF.cmake
Labels: CMake, libcudf

#8540 Refactor `tests/iterator_utilities.hpp` functions
  cpp/include/cudf_test/iterator_utilities.hpp
  cpp/tests/copying/copy_if_else_nested_tests.cpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/copying/scatter_struct_tests.cpp
  cpp/tests/groupby/argmax_tests.cpp
  cpp/tests/groupby/argmin_tests.cpp
  cpp/tests/groupby/count_scan_tests.cpp
  cpp/tests/groupby/count_tests.cpp
  cpp/tests/groupby/groups_tests.cpp
  cpp/tests/groupby/keys_tests.cpp
  cpp/tests/groupby/max_scan_tests.cpp
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/mean_tests.cpp
  cpp/tests/groupby/median_tests.cpp
  cpp/tests/groupby/min_scan_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/nth_element_tests.cpp
  cpp/tests/groupby/nunique_tests.cpp
  cpp/tests/groupby/product_tests.cpp
  cpp/tests/groupby/quantile_tests.cpp
  cpp/tests/groupby/replace_nulls_tests.cpp
  cpp/tests/groupby/std_tests.cpp
  cpp/tests/groupby/sum_of_squares_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
  cpp/tests/groupby/var_tests.cpp
  cpp/tests/lists/combine/concatenate_list_elements_tests.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  cpp/tests/replace/replace_nulls_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/rolling/lead_lag_test.cpp
  cpp/tests/search/search_struct_test.cpp
  cpp/tests/strings/combine/join_list_elements_tests.cpp
  cpp/tests/strings/repeat_strings_tests.cpp
Labels: 3 - Ready for Review, feature request, libcudf, libcudf blocker, non-breaking, tests

#7671 Example to build custom application and link to libcudf
  ci/gpu/build.sh
  ci/release/update-version.sh
  cpp/examples/README.md
  cpp/examples/basic/4stock_5day.csv
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/basic/README.md
  cpp/examples/basic/src/process_csv.cpp
  cpp/examples/build.sh
Labels: 4 - Waiting on Author, CMake, container, feature request, gpuCI, libcudf, non-breaking

#8485 Refactor index construction
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking, tech debt

#8527 Rename some copying_test source files .cu to .cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/gather_list_tests.cpp
  cpp/tests/copying/gather_str_tests.cpp
  cpp/tests/copying/gather_struct_tests.cpp
  cpp/tests/copying/gather_tests.cpp
  cpp/tests/copying/pack_tests.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#8548 enable window lead/lag test on struct [skip ci]
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java), improvement, non-breaking

#8492 Warn when downscaling decimal columns
  python/cudf/cudf/core/column/decimal.py
Labels: 4 - Needs cuDF (Python) Reviewer, cuDF (Python), feature request, non-breaking

#8539 Fix size passed to column constructors in _with_type_metadata
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 3 - Ready for Review, bug, cuDF (Python), non-breaking

#8546 Add Java methods to split and write column views [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ColumnViewJni.cpp
Labels: CMake, cuDF (Java), improvement, non-breaking

#8460 Modify reprog_device::extract to return groups in a single pass
  cpp/CMakeLists.txt
  cpp/src/strings/contains.cu
  cpp/src/strings/extract.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/backref_re_large.cu
  cpp/src/strings/replace/backref_re_medium.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/tests/strings/replace_regex_tests.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking, strings

#8547 [REVIEW] Fix `__repr__` output with `display.max_rows` is `None`
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_repr.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8441 Add serialization methods for `List` and `StructDtype`
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_decimal.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_struct.py
Labels: cuDF (Python), improvement, non-breaking

#8554 Fix debug compile error in gather_struct_tests.cpp
  cpp/tests/copying/gather_struct_tests.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8571 [REVIEW] Make `cudf.api.types` imports consistent
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking, tech debt

#8436 Implement groupby `MERGE_LISTS` and `MERGE_SETS` aggregates
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_merge_lists.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/merge_lists_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
Labels: 3 - Ready for Review, CMake, Spark, feature request, libcudf, non-breaking

#8568 Modernize libcudf basic example CMakeFile; updates CI build tests
  ci/gpu/build.sh
  ci/release/update-version.sh
  cpp/examples/basic/CMakeLists.txt
Labels: CMake, gpuCI, improvement, libcudf, non-breaking

#8576 Remove strings_count parameter from cudf::strings::detail::create_chars_child_column
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/hash/md5_hash.cu
  cpp/src/io/csv/durations.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/json/json_path.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/repeat_strings.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/utilities.cu
  cpp/src/text/detokenize.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#8478 Fix exclusive scan when including nulls and improve testing
  cpp/include/cudf_test/type_lists.hpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/reductions/scan_tests.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking, tests

#8579 Remove checking if an unsigned value is less than zero
  cpp/src/aggregation/result_cache.cpp
Labels: 3 - Ready for Review, code quality, improvement, libcudf, non-breaking, tech debt

#8586 Use cmake 3.20.1 as it is now required by rmm
  CONTRIBUTING.md
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf_kafka/meta.yaml
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#8555 Rename concatenate_tests.cu to .cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/concatenate_tests.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#8511 Decimal support csv reader
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/strings/detail/convert/fixed_point.cuh
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/tests/io/csv_test.cpp
Labels: cuIO, feature request, libcudf, non-breaking

#8595 [REVIEW] Fix `mypy` errors surfacing because of `numpy-1.21.0`
  python/cudf/cudf/core/column/numerical.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking, tech debt

#8581 Dask-CuDF: use default Dask Dataframe optimizer
  python/dask_cudf/dask_cudf/core.py
Labels: 3 - Ready for Review, Performance, cuDF (Python), improvement, non-breaking

#8593 Update cmake to 3.20.5 in the Java Docker image [skip ci]
  java/ci/Dockerfile.centos7
  java/ci/build-in-docker.sh
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, 5 - Ready to Merge, bug, cuDF (Java), non-breaking

#8516 Support MERGE_LISTS and MERGE_SETS in Java package [skip ci]
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, cuDF (Java), feature request, non-breaking

#8600 Fix missed renumbering of Aggregation values [skip ci]
  java/src/main/native/src/AggregationJni.cpp
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, bug, cuDF (Java), non-breaking

#8142 [REVIEW] ORC - Support reading multiple orc files/buffers in a single operation
  cpp/examples/basic/CMakeLists.txt
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/tests/io/orc_test.cpp
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, CMake, cuDF (Python), cuIO, feature request, libcudf, non-breaking

#8609 Fix orc_reader_benchmark.cpp compile error
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8578 Add `get_element` for struct column
  cpp/src/copying/get_element.cu
  cpp/tests/copying/get_value_tests.cpp
Labels: 5 - Ready to Merge, feature request, libcudf, non-breaking

#8459 Support constructing `cudf.Scalar` objects from host side lists
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_list.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), feature request, non-breaking

#8575 Fix bug in replace_with_backrefs when group has greedy quantifier
  cpp/src/strings/extract.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
  cpp/tests/strings/replace_regex_tests.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#8584 Remove device debug symbols from cmake CUDF_CUDA_FLAGS
  CONTRIBUTING.md
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#8602 Add sequence_type parameter to cudf::strings::title function
  cpp/include/cudf/strings/capitalize.hpp
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/src/strings/capitalize.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/tests/strings/case_tests.cpp
Labels: 3 - Ready for Review, feature request, libcudf, non-breaking, strings

#8587 [REVIEW] User specified decimal columns to float64
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO, feature request, libcudf, non-breaking

#8611 Change default datetime index resolution to ns to match pandas
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: 3 - Ready for Review, breaking, cuDF (Python), feature request

#8618 Propagate **kwargs through to as_*_column methods
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8577 Python changes for adding `__getitem__` for `struct`
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_struct.py
Labels: 3 - Ready for Review, cuDF (Python), feature request, non-breaking

#8594 Remove unneeded includes from cudf::string_view headers
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, strings

#8438 Expose a Decimal32Dtype in cuDF Python
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/strings/convert/convert_fixed_point.pyx
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_decimal.py
  python/cudf/cudf/utils/dtypes.py
Labels: breaking, cuDF (Python), feature request

#8505 Add column type tests
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/lists/detail/scatter_helper.cuh
  cpp/include/cudf/utilities/type_checks.hpp
  cpp/src/lists/copying/scatter_helper.cu
  cpp/src/utilities/type_checks.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities_tests/type_check_tests.cpp
Labels: 5 - Ready to Merge, CMake, conda, feature request, libcudf, non-breaking

#8631 [REVIEW] Use absolute imports in `cudf`
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/window/rolling.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking, tech debt

#8628 Fix bug that columns only initialized once when specified `columns` and `index` in dataframe ctor
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#8626 Add dayofyear and day_of_year to Series, DatetimeColumn, and DatetimeIndex
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#8632 Fix usage of deprecated arrow ipc API [skip ci]
  java/src/main/native/src/TableJni.cpp
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking, tech debt

#8556 Fix for strings containing special JSON characters in get_json_object().
  cpp/src/strings/json/json_path.cu
  cpp/tests/strings/json_tests.cpp
Labels: Spark, bug, libcudf, non-breaking

#8619 Add NVBench in CMake
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetNVBench.cmake
Labels: CMake, feature request, libcudf, non-breaking

#8153 Expose pack/unpack API to Python
  cpp/include/cudf/copying.hpp
  python/cudf/cudf/_lib/copying.pxd
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/tests/test_pack.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, libcudf, non-breaking

#8606 ListColumn `__setitem__`
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_list.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), feature request, non-breaking

#8006 Add Python bindings for `lists::concatenate_list_elements` and expose them as `.list.concat()`
  python/cudf/cudf/_lib/cpp/lists/combine.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_list.py
Labels: cuDF (Python), feature request, non-breaking
