Repository rapidsai/cudf, pull requests merged in 2021-10, with the labels that each got.

#9341 Update cuco git tag
  cpp/cmake/thirdparty/get_cucollections.cmake
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#9352 [gpuCI] Forward-merge branch-21.10 to branch-21.12 [skip gpuci]
  cpp/cmake/thirdparty/get_cucollections.cmake
Labels: libcudf, CMake

#9339 Fix memcheck error in groupby-tdigest get_scalar_minmax
  cpp/src/groupby/sort/group_tdigest.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#9306 Add optional-iterator support to indexalator
  cpp/include/cudf/detail/indexalator.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/iterator/indexalator_test.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#9291 Deprecate method parameters to DataFrame.join, DataFrame.merge.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_joining.py
Labels: 3 - Ready for Review, doc, cuDF (Python), tech debt, non-breaking

#9236 New array conversion methods
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_applymap.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_cuda_apply.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dataframe_copy.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_factorize.py
  python/cudf/cudf/tests/test_gpu_arrow_parser.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_label_encode.py
  python/cudf/cudf/tests/test_onehot.py
  python/cudf/cudf/tests/test_pandas_interop.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_scan.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_sparse_df.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/tests/test_transform.py
  python/cudf/cudf/tests/test_unaops.py
  python/cudf/cudf/utils/dtypes.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), tech debt, non-breaking

#9308 doc reorder mr, stream to stream, mr
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/gather.hpp
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/include/cudf/dictionary/detail/concatenate.hpp
  cpp/include/cudf/dictionary/detail/update_keys.hpp
  cpp/include/cudf/strings/detail/concatenate.hpp
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/include/cudf/strings/detail/fill.hpp
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/nvtext/detail/tokenize.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/binary_ops.hpp
  cpp/src/dictionary/remove_keys.cu
  cpp/src/dictionary/replace.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/partitioning/round_robin.cu
  cpp/src/reductions/minmax.cu
  cpp/src/reductions/simple.cuh
  cpp/src/strings/find.cu
  cpp/src/strings/substring.cu
  cpp/src/unary/cast_ops.cu
Labels: 3 - Ready for Review, doc, libcudf, tech debt, non-breaking

#9217 Series `apply` method backed by masked UDFs
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Labels: feature request, numba, cuDF (Python), 5 - Ready to Merge, non-breaking

#9350 Remove usage of deprecated thrust::host_space_tag.
  cpp/src/io/orc/reader_impl.cu
Labels: libcudf, tech debt, improvement, non-breaking

#9354 Fixing SubwordTokenizer docs issue
  docs/cudf/source/api_docs/index.rst
  docs/cudf/source/api_docs/subword_tokenize.rst
Labels: doc, 5 - Ready to Merge, non-breaking

#9299 Use gather.hpp when gather-map exists in device memory
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/gather.hpp
  cpp/include/cudf/detail/scatter.hpp
  cpp/src/copying/copy.cu
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_collect.cu
  cpp/src/groupby/sort/group_nth_element.cu
  cpp/src/groupby/sort/group_replace_nulls.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/copying/copying.cu
  cpp/src/lists/drop_list_duplicates.cu
  cpp/src/lists/extract.cu
  cpp/src/partitioning/partitioning.cu
  cpp/src/quantiles/quantile.cu
  cpp/src/replace/nulls.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/rolling/lead_lag_nested_detail.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#9315 Remove Table class
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/avro.pyx
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pxd
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/merge.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/partitioning.pyx
  python/cudf/cudf/_lib/quantiles.pyx
  python/cudf/cudf/_lib/reshape.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/search.pyx
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/strings/extract.pyx
  python/cudf/cudf/_lib/strings/findall.pyx
  python/cudf/cudf/_lib/strings/split/partition.pyx
  python/cudf/cudf/_lib/strings/split/split.pyx
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyi
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking

#9304 Add Arrow-NativeFile and PythonFile support to read_parquet and read_csv in cudf
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/datasource.pxd
  python/cudf/cudf/_lib/io/datasource.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), 5 - Ready to Merge, Cython, Performance, improvement, non-breaking

#9351 Move rank scan implementations from scan_inclusive.cu to rank_scan.cu
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/scan.hpp
  cpp/src/reductions/scan/rank_scan.cu
  cpp/src/reductions/scan/scan.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/reductions/scan_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#9368 Fix the crash in stats code
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), cuIO, 4 - Needs cuIO Reviewer, non-breaking

#9360 Fix libcudf compile warnings on debug 11.4 build
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/io/json/json_gpu.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#9320 Fix #9247: Prevent Numba Performance Warnings in cuDF
  python/cudf/cudf/__init__.py
Labels: cuDF (Python), improvement, non-breaking

#9347 [DOC] Improved deprecation warnings.
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: 3 - Ready for Review, doc, cuDF (Python), non-breaking

#9195 Update groupby result_cache to allow sharing intermediate results based on column_view instead of requests.
  cpp/include/cudf/detail/aggregation/result_cache.hpp
  cpp/src/aggregation/result_cache.cpp
  cpp/src/groupby/common/utils.hpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/functors.hpp
  cpp/src/groupby/sort/scan.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#9348 Fix cudf_assert in cudf::io::orc::gpu::gpuDecodeOrcColumnData
  cpp/src/io/orc/stripe_data.cu
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#9385 Fix Java table partition test to account for non-deterministic ordering
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: bug, tests, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#9266 Change strings copy_if_else to use optional-iterator instead of pair-iterator
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/src/copying/copy.cu
  cpp/src/copying/segmented_shift.cu
  cpp/src/replace/nans.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#9376 Use Arrow PythonFile for remote CSV storage
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_gcs.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#9484 Enable linting of CMake files using pre-commit
  .pre-commit-config.yaml
  cpp/scripts/run-cmake-format.sh
Labels: feature request, 3 - Ready for Review, code quality, libcudf, non-breaking

#9550 remove alignment options for RMM jni
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
Labels: 3 - Ready for Review, cuDF (Java), Spark, improvement, non-breaking

#9560 Revert "Implement Series.datetime.floor"
  cpp/include/cudf/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Labels: libcudf, cuDF (Python)

#9499 Add list output option to character_ngrams() function
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: feature request, cuDF (Python), 5 - Ready to Merge, non-breaking
