Repository rapidsai/cudf, pull requests merged in 2021-03, with the labels that each got.

#7477 Prepare Changelog for Automation [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#7415 Improve scalar string replace performance for long strings
  cpp/include/cudf/strings/detail/replace.hpp
  cpp/src/strings/replace/replace.cu
  cpp/tests/strings/replace_tests.cpp
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, strings

#7433 Improve string gather performance
  cpp/benchmarks/string/copy_benchmark.cpp
  cpp/benchmarks/string/replace_benchmark.cpp
  cpp/benchmarks/string/string_bench_args.hpp
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/tests/copying/gather_str_tests.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, strings

#7476 [REVIEW] Fix `__repr__` for categorical dtype
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_applymap.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_pandas_interop.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/utils.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7107 Rework libcudf CMakeLists.txt to export targets for CPM
  build.sh
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/Modules/ConfigureGoogleBenchmark.cmake
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/cmake/Modules/EvalGPUArchs.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
  cpp/cmake/Modules/StringifyJITHeaders.cmake
  cpp/cmake/Templates/GoogleBenchmark.CMakeLists.txt.cmake
  cpp/cmake/config.json
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/cudf-config.cmake.in
  cpp/cmake/install/FindThrust.cmake
  cpp/cmake/thirdparty/CUDF_FindBoost.cmake
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
  cpp/cmake/thirdparty/CUDF_GetCPM.cmake
  cpp/cmake/thirdparty/CUDF_GetDLPack.cmake
  cpp/cmake/thirdparty/CUDF_GetJitify.cmake
  cpp/cmake/thirdparty/CUDF_GetLibcudacxx.cmake
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
  cpp/cmake/thirdparty/CUDF_GetThrust.cmake
  cpp/cmake/thrust.patch
  cpp/libcudf_kafka/CMakeLists.txt
  cpp/libcudf_kafka/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/libcudf_kafka/tests/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  cpp/thirdparty
  python/cudf/setup.py
  thirdparty/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake, code quality, cuDF (Python), improvement, libcudf, non-breaking, tech debt

#7479 [REVIEW] Add `isin` examples in Docstring
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Labels: 5 - Ready to Merge, cuDF (Python), doc, non-breaking

#7410 Fix string to double conversion and row equivalent comparison
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/convert_floats_benchmark.cpp
  cpp/src/strings/convert/convert_floats.cu
  cpp/tests/strings/floats_tests.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, 5 - Ready to Merge, CMake, bug, libcudf, non-breaking, strings, tests

#7486 Fix JNI build after removal of libcudf sub-libraries [skip ci]
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/NativeDepsLoader.java
  java/src/main/native/CMakeLists.txt
Labels: 4 - Needs cuDF (Java) Reviewer, CMake, bug, cuDF (Java), non-breaking

#7473 Fix java float/double parsing tests [skip ci]
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, bug, cuDF (Java), non-breaking

#7485 Correctly compile benchmarks
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
  cpp/tests/CMakeLists.txt
Labels: CMake, bug, libcudf, non-breaking

#7480 Combine rolling window function tests
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/collect_list_test.cpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/lead_lag_test.cpp
Labels: 3 - Ready for Review, CMake, code quality, improvement, libcudf, non-breaking

#7451 Remove dependence on managed memory for multimap test
  cpp/tests/hash_map/multimap_test.cu
Labels: improvement, libcudf, non-breaking

#7469 Pass stream and user resource to make_default_constructed_scalar
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/src/copying/get_element.cu
  cpp/src/reductions/minmax.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/scalar/scalar_factories.cpp
  cpp/tests/scalar/factories_test.cpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#7373 Rename `logical_cast` to `bit_cast` and allow additional conversions
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/column/column_view.cpp
  cpp/src/filling/fill.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/column/bit_cast_test.cpp
  cpp/tests/column/column_view_test.cpp
Labels: 3 - Ready for Review, 5 - Ready to Merge, breaking, improvement, libcudf

#7501 Fix JNI deprecation of all, put it on the wrong version before [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Labels: 3 - Ready for Review, bug, cuDF (Java), non-breaking

#7493 JNI bit cast [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking

#7507 [REVIEW] xfail failing pytest in pandas 1.2.3
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/tests/test_setitem.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#7397 Refactor strings column factories
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/common/generate_benchmark_input.cpp
  cpp/benchmarks/copying/shift_benchmark.cu
  cpp/include/cudf/column/column_factories.hpp
  cpp/include/cudf/detail/utilities/trie.cuh
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/include/cudf/utilities/span.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/include/cudf_test/iterator_utilities.hpp
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/avro_gpu.h
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
  cpp/src/io/comp/io_uncomp.h
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/csv_gpu.h
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/json_gpu.h
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/orc/timezone.cuh
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/reductions/scan.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/extract.cu
  cpp/src/strings/findall.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/split/partition.cu
  cpp/src/strings/strings_column_factories.cu
  cpp/src/strings/utilities.cu
  cpp/src/text/tokenize.cu
  cpp/tests/strings/factories_test.cu
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities_tests/span_tests.cu
Labels: 5 - Ready to Merge, breaking, conda, feature request, libcudf

#7471 Java support for explode position
  cpp/include/cudf/reshape.hpp
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, cuDF (Java), improvement, libcudf, non-breaking

#7502 Fix off-by-one error in char-parallel string scalar replace
  cpp/src/strings/replace/replace.cu
  cpp/tests/strings/replace_tests.cpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking, strings

#7324 Partial clean up of ORC writer
  cpp/include/cudf/utilities/span.hpp
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/tests/utilities_tests/span_tests.cu
Labels: 5 - Ready to Merge, cuIO, improvement, libcudf, non-breaking

#7474 Java cleaner synchronization [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/java/ai/rapids/cudf/DeviceMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/HostColumnVectorCore.java
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/MemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/MemoryCleaner.java
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/java/ai/rapids/cudf/nvcomp/BatchedLZ4Decompressor.java
  java/src/main/java/ai/rapids/cudf/nvcomp/Decompressor.java
Labels: bug, cuDF (Java), non-breaking

#7510 Change jit launch to safe_launch
  cpp/src/jit/launcher.h
Labels: Jitify, bug, libcudf, non-breaking

#7429 Add cython for converting strings/fixed-point functions
  python/cudf/cudf/_lib/cpp/strings/convert/convert_fixed_point.pxd
  python/cudf/cudf/_lib/strings/convert/convert_fixed_point.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 3 - Ready for Review, cuDF (Python), feature request, non-breaking

#7457 JNI: Support skipping nulls for collect aggregation [skip ci]
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java), improvement, non-breaking

#7518 Rename ARROW_STATIC_LIB because it conflicts with one in FindArrow.cmake
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Labels: 5 - Ready to Merge, CMake, breaking, improvement, libcudf, tech debt

#7439 Statistics cleanup
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/detail/utilities/int_fastdiv.h
  cpp/include/cudf/strings/string.cuh
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/statistics/column_stats.h
  cpp/src/io/utilities/column_utils.cuh
  cpp/src/io/utilities/hostdevice_vector.hpp
Labels: 2 - In Progress, code quality, cuIO, improvement, libcudf, non-breaking

#7526 Update JNI build to use CUDF_USE_ARROW_STATIC [skip ci]
  java/README.md
  java/ci/build-in-docker.sh
  java/src/main/native/CMakeLists.txt
Labels: 4 - Needs cuDF (Java) Reviewer, CMake, bug, cuDF (Java), non-breaking

#7508 [REVIEW] FIX Remove random build directory generation for ccache
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking

#7417 Java support for casting of nested child columns [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, cuDF (Java), improvement, non-breaking

#7406 bitmask_or implementation with bitmask refactor
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/null_mask.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/structs/structs_column_factories.cu
  cpp/tests/bitmask/bitmask_tests.cu
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 5 - Ready to Merge, Spark, cuDF (Java), improvement, libcudf, non-breaking

#7532 Change dask and distributed branch to main [skip-ci]
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
Labels: bug, conda, gpuCI, non-breaking

#7522 Add gbenchmarks for strings extract function
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/extract_benchmark.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#7516 Reduce compile time/size for scan.cu
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reduction/scan_benchmark.cpp
  cpp/include/cudf/detail/iterator.cuh
  cpp/src/reductions/scan.cu
  cpp/tests/iterator/value_iterator_test.cu
  cpp/tests/reductions/scan_tests.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#7535 fix missing renames of dask git branches from master to main [skip ci]
  ci/benchmark/build.sh
  conda/recipes/dask-cudf/run_test.sh
Labels: bug, conda, gpuCI, non-breaking

#7533 Remove detail from device_span
  cpp/include/cudf/detail/null_mask.cuh
  cpp/src/bitmask/null_mask.cu
  cpp/src/structs/structs_column_factories.cu
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#7524 Make sure rmm::rmm CMake target is visibile to cudf users
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
Labels: 5 - Ready to Merge, CMake, bug, libcudf, non-breaking

#7540 [REVIEW] FIX Retry conda output location
  ci/cpu/upload.sh
Labels: bug, gpuCI, non-breaking

#7544 Decimal32 Build Fix [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, bug, cuDF (Java), non-breaking

#7546 [REVIEW] Update missing docstring examples in python public APIs
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, breaking, bug, cuDF (Python)

#7450 Enable type conversion from float to decimal type
  python/cudf/cudf/_lib/unary.pyx
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/tests/test_decimal.py
Labels: Cython, cuDF (Python), feature request, non-breaking

#7550 Update Changelog Link [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#7515 Fix contiguous_split not properly handling output partitions > 2 GB.
  cpp/src/copying/contiguous_split.cu
Labels: 3 - Ready for Review, 5 - Ready to Merge, bug, libcudf, non-breaking

#7552 [REVIEW] FIX Revert gpuci_conda_retry on conda file output locations
  ci/cpu/upload.sh
Labels: bug, gpuCI, non-breaking

#7304 Add `Series.drop` api
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7443 Support `Series.__setitem__` with key to a new row
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7551 Fix offset_end iterator for lists_column_view, which was not correctl…
  cpp/include/cudf/lists/lists_column_view.hpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#7549 Fix no such file dlpack.h error when build libcudf
  cpp/cmake/thirdparty/CUDF_GetDLPack.cmake
Labels: CMake, bug, libcudf, non-breaking

#7555 [REVIEW] Fix index mismatch issue in equality related APIs
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7558 FIX Fix Anaconda upload args
  ci/cpu/upload.sh
Labels: bug, gpuCI, non-breaking

#7512 Change device_vector to device_uvector in nvtext source files
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/src/text/tokenize.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#7509 Removed unneeded includes from traits.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/interop/dlpack.cpp
  cpp/src/io/csv/csv_gpu.cu
Labels: 3 - Ready for Review, code quality, improvement, libcudf, non-breaking

#7564 Fix cudf::lists::sort_lists failing for sliced column
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/lists/detail/sorting.hpp
  cpp/src/lists/segmented_sort.cu
  cpp/tests/lists/sort_lists_tests.cpp
Labels: bug, conda, libcudf, non-breaking

#7525 Remove unneeded step parameter from strings::detail::copy_slice
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/strings/detail/copying.hpp
  cpp/src/column/column.cu
  cpp/src/strings/attributes.cu
  cpp/src/strings/copying/copying.cu
  cpp/tests/strings/array_tests.cu
Labels: 3 - Ready for Review, breaking, conda, improvement, libcudf, strings

#7575 Another fix for offsets_end() iterator in lists_column_view
  cpp/include/cudf/lists/lists_column_view.hpp
Labels: bug, libcudf, non-breaking

#7528 Implement drop_list_duplicates
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/lists/drop_list_duplicates.hpp
  cpp/include/doxygen_groups.h
  cpp/src/lists/drop_list_duplicates.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/lists/drop_list_duplicates_tests.cpp
Labels: 3 - Ready for Review, conda, feature request, libcudf, non-breaking

#7565 Fix ORC writer output corruption with string columns
  cpp/src/io/orc/dict_enc.cu
  cpp/tests/io/orc_test.cpp
Labels: bug, cuIO, libcudf, non-breaking

#7580 Fix missing Dask imports
  python/dask_cudf/dask_cudf/io/orc.py
Labels: bug, cuDF (Python), dask, non-breaking

#7531 Add `__repr__` for Column and ColumnAccessor
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/utils/cudautils.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#7568 Fix null-bounds calculation for ranged window queries
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/recipes/dask-cudf/run_test.sh
  cpp/src/rolling/grouped_rolling.cu
  python/dask_cudf/dask_cudf/io/orc.py
Labels: ! - Hotfix, Spark, bug, conda, cuDF (Python), gpuCI, libcudf, non-breaking

#7435 `fixed_point` + `cudf::binary_operation` API Changes
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/unary/cast_ops.cu
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/fixed_point/fixed_point_tests.cu
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/types.pxd
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/utils/dtypes.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, 4 - Needs libcudf Reviewer, breaking, cuDF (Python), improvement, libcudf, tech debt

#7579 CMAKE_CUDA_ARCHITECTURES doesn't change when build-system invokes cmake
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
Labels: CMake, bug, libcudf, non-breaking

#7594 ENH Fix stale GHA and prevent duplicates [skip-ci]
  .github/workflows/stale.yaml
Labels: improvement, non-breaking

#7595 Revert "ENH Fix stale GHA and prevent duplicates [skip-ci]"
  .github/workflows/stale.yaml
Labels: improvement, non-breaking

#7523 Use device_uvector, device_span in sort groupby
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/group_argmax.cu
  cpp/src/groupby/sort/group_argmin.cu
  cpp/src/groupby/sort/group_collect.cu
  cpp/src/groupby/sort/group_count.cu
  cpp/src/groupby/sort/group_max.cu
  cpp/src/groupby/sort/group_min.cu
  cpp/src/groupby/sort/group_nth_element.cu
  cpp/src/groupby/sort/group_nunique.cu
  cpp/src/groupby/sort/group_quantiles.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/groupby/sort/group_std.cu
  cpp/src/groupby/sort/group_sum.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/rolling/grouped_rolling.cu
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking, tech debt

#7581 Fix ORC issue with incorrect timestamp nanosecond values
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  python/cudf/cudf/tests/test_orc.py
Labels: bug, cuDF (Python), cuIO, libcudf, non-breaking

#7585 [RELEASE] Release v0.18.1 cudf
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/recipes/dask-cudf/run_test.sh
  cpp/src/rolling/grouped_rolling.cu
  python/dask_cudf/dask_cudf/io/orc.py
Labels: conda, cuDF (Python), gpuCI, libcudf

#7593 Fix auto-detecting GPU architectures
  build.sh
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/Modules/EvalGPUArchs.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#7490 Match Pandas logic for comparing two objects with nulls
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/cpp/binaryop.pxd
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_setitem.py
Labels: 3 - Ready for Review, breaking, cuDF (Python), feature request

#7589 Fix 0.18 --> 0.19 automerge [skip ci]
  cpp/src/rolling/grouped_rolling.cu
Labels: bug, libcudf, non-breaking

#7612 Fix specifying GPU architecture in JNI build [skip ci]
  java/src/main/native/CMakeLists.txt
Labels: 4 - Needs cuDF (Java) Reviewer, 5 - Ready to Merge, CMake, bug, cuDF (Java), non-breaking

#7527 Support Decimal DIV changes in cudf [skip ci]
  java/src/main/java/ai/rapids/cudf/BinaryOperable.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
Labels: 3 - Ready for Review, Spark, cuDF (Java), improvement, non-breaking

#7616 Use file(COPY ) over file(INSTALL ) so cmake output is reduced
  cpp/cmake/Modules/StringifyJITHeaders.cmake
Labels: CMake, improvement, libcudf, non-breaking

#7574 Always build and export the cudf::cudftestutil target
  cpp/CMakeLists.txt
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/cudf-config.cmake.in
  cpp/cmake/thirdparty/CUDF_GetCPM.cmake
  cpp/cmake/thirdparty/CUDF_GetGTest.cmake
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
  cpp/tests/CMakeLists.txt
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, CMake, improvement, libcudf, non-breaking

#7605 Fix ORC writer OOM issue
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
Labels: 5 - Ready to Merge, bug, cuIO, libcudf, non-breaking

#7499 Add explode_outer and explode_outer_position
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/lists/explode.hpp
  cpp/include/cudf/reshape.hpp
  cpp/include/cudf/table/table.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/lists/explode.cu
  cpp/src/reshape/explode.cu
  cpp/src/table/table.cpp
  cpp/src/table/table_view.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/lists/explode_tests.cpp
  cpp/tests/reshape/explode_tests.cpp
Labels: 5 - Ready to Merge, CMake, conda, feature request, libcudf, non-breaking

#7444 Use cuFile for Parquet IO when available
  cpp/CMakeLists.txt
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/cmake/Modules/FindcuFile.cmake
  cpp/include/cudf/io/data_sink.hpp
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
Labels: CMake, Performance, cuIO, improvement, libcudf, non-breaking

#7610 Refactor Java host-side buffer concatenation to expose separate steps [skip ci]
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking

#7626 Add JNI support for IDENTITY hash partitioning [skip ci]
  java/src/main/java/ai/rapids/cudf/HashType.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, 5 - Ready to Merge, Spark, cuDF (Java), improvement, non-breaking

#7599 Refactor string conversion check
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/include/cudf/strings/convert/convert_floats.hpp
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/tests/strings/chars_types_tests.cpp
  cpp/tests/strings/floats_tests.cpp
  cpp/tests/strings/integers_tests.cu
  java/src/main/native/src/ColumnViewJni.cpp
  python/cudf/cudf/_lib/cpp/strings/char_types.pxd
  python/cudf/cudf/_lib/cpp/strings/convert/convert_floats.pxd
  python/cudf/cudf/_lib/cpp/strings/convert/convert_integers.pxd
  python/cudf/cudf/_lib/strings/char_types.pyx
  python/cudf/cudf/_lib/strings/convert/convert_floats.pyx
  python/cudf/cudf/_lib/strings/convert/convert_integers.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/tools/datetimes.py
Labels: 3 - Ready for Review, Cython, cuDF (Java), cuDF (Python), improvement, libcudf, non-breaking, strings

#7491 Fix Series/Dataframe Mixed Arithmetic
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7625 Java support on explode_outer [skip ci]
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, cuDF (Java), improvement, non-breaking

#7576 Optimize cudf::make_strings_column for long strings
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/factory_benchmark.cu
  cpp/benchmarks/string/string_bench_args.hpp
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/utilities/traits.hpp
  cpp/tests/strings/factories_test.cu
Labels: 5 - Ready to Merge, CMake, Performance, improvement, libcudf, non-breaking, strings

#7591 Adds `list.take`, python binding for `cudf::lists::segmented_gather`
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/lists/gather.pxd
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7635 Add explicit fixed_point merge test
  cpp/tests/merge/merge_test.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, improvement, libcudf, non-breaking

#7637 Add in JNI support for table partition [skip ci]
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java), improvement, non-breaking

#7560 Add gbenchmark for strings::concatenate
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/combine_benchmark.cpp
  cpp/benchmarks/string/string_bench_args.hpp
  cpp/src/strings/combine.cu
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking, strings

#7607 Adds `explode` API
  python/cudf/cudf/_lib/cpp/lists/explode.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: 3 - Ready for Review, cuDF (Python), feature request, non-breaking

#7645 Fix internal compiler error during JNI Docker build [skip ci]
  java/ci/Dockerfile.centos7
  java/ci/README.md
  java/ci/build-in-docker.sh
  java/src/main/native/CMakeLists.txt
Labels: 4 - Needs cuDF (Java) Reviewer, CMake, bug, cuDF (Java), non-breaking

#7639 Handle constructing a `cudf.Scalar` from a `cudf.Scalar`
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_scalar.py
Labels: cuDF (Python), improvement, non-breaking

#7563 Eliminate literal parameters to uvector::set_element_async and device_scalar::set_value
  cpp/src/io/json/reader_impl.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/nested_loop_join.cuh
  cpp/tests/jit/jit-cache-multiprocess-test.cpp
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking

#7461 Add struct support to parquet writer
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/io/utilities/column_utils.cuh
  cpp/tests/io/parquet_test.cpp
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, breaking, cuDF (Python), cuIO, feature request, libcudf

#7655 Fix Java Parquet write after writer API changes [skip ci]
  java/src/main/java/ai/rapids/cudf/ParquetWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/WriterOptions.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, breaking, bug, cuDF (Java)

#7652 Work-around for gcc7 compile error on Centos7
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#7656 Fix ORC reader issue with reading empty string columns
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), libcudf, non-breaking

#7598 JNI: Pass names of children struct columns to native Arrow IPC writer [skip ci]
  java/src/main/java/ai/rapids/cudf/ArrowIPCWriterOptions.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge, cuDF (Java), improvement, non-breaking

#7614 Use rmm::device_uvector in place of rmm::device_vector for ORC reader/writer and cudf::io::column_buffer
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/timezone.cpp
  cpp/src/io/orc/timezone.cuh
  cpp/src/io/utilities/column_buffer.hpp
Labels: 5 - Ready to Merge, cuIO, improvement, libcudf, non-breaking

#7658 Fix `find_package(cudf)`
  cpp/CMakeLists.txt
  cpp/cmake/cudf-config.cmake.in
  cpp/cmake/thirdparty/CUDF_GetGTest.cmake
  cpp/cmake/thirdparty/CUDF_GetThrust.cmake
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#7633 Fix Debug build break with device_uvectors in grouped_rolling.cu
  cpp/src/rolling/grouped_rolling.cu
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, bug, libcudf, non-breaking

#7483 Fix bool column corruption with ORC Reader
  cpp/src/io/orc/stripe_data.cu
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, bug, libcudf, non-breaking

#7641 Add gbenchmark for converting strings to/from timestamps
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/convert_datetime_benchmark.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking, strings

#7624 Fix ORC reader for empty DataFrame/Table
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/test_orc.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, bug, cuDF (Python), libcudf, non-breaking

#7623 Java support of casting string from/to decimal [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 4 - Needs cuDF (Java) Reviewer, Spark, cuDF (Java), improvement, non-breaking

#7617 Add gbenchmark for cudf::strings::translate function
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/translate_benchmark.cpp
  cpp/src/strings/translate.cu
Labels: 5 - Ready to Merge, CMake, Performance, improvement, libcudf, non-breaking, strings

#7583 Reduce cudf library size
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/indexalator.cuh
  cpp/include/cudf/detail/utilities/assert.cuh
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/lists/list_device_view.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/groupby/hash/multi_pass_kernels.cuh
  cpp/src/io/parquet/page_data.cu
  cpp/src/quantiles/quantiles_util.hpp
  cpp/tests/error/error_handling_test.cu
Labels: CMake, improvement, libcudf, non-breaking

#7668 Add gbenchmark for nvtext normalize functions
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/normalize_benchmark.cpp
  cpp/benchmarks/text/normalize_spaces_benchmark.cpp
  cpp/src/text/normalize.cu
Labels: 3 - Ready for Review, CMake, Performance, improvement, libcudf, non-breaking, strings

#7541 Add gbenchmarks for strings replace regex functions
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/replace_re_benchmark.cpp
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/backref_re_large.cu
  cpp/src/strings/replace/backref_re_medium.cu
  cpp/src/strings/replace/multi_re.cu
Labels: CMake, improvement, libcudf, non-breaking, strings

#7505 Add Python bindings for `lists::extract_lists_element`
  python/cudf/cudf/_lib/cpp/lists/extract.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: 3 - Ready for Review, Cython, cuDF (Python), feature request, non-breaking

#7667 [REVIEW] Resolve unnecessary import of thrust/optional.hpp in types.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/types.hpp
  cpp/src/lists/explode.cu
  cpp/src/strings/convert/convert_datetime.cu
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking, tech debt

#7673 Enable decimal support in parquet writer
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/tests/test_parquet.py
Labels: 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, cuDF (Python), cuIO, feature request, non-breaking

#7420 Implement groupby collect_set
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/lists/detail/drop_list_duplicates.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/lists/drop_list_duplicates.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/src/rolling/rolling_detail.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/collect_set_test.cpp
  cpp/tests/groupby/group_collect_test.cpp
  cpp/tests/rolling/collect_list_test.cpp
  java/src/main/native/src/AggregationJni.cpp
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
Labels: 5 - Ready to Merge, CMake, conda, cuDF (Java), cuDF (Python), feature request, libcudf, non-breaking

#7627 Parquet reader: Fix issue when using skip_rows on non-nested columns containing nulls
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/tests/io/parquet_test.cpp
  python/cudf/cudf/tests/test_parquet.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), libcudf, non-breaking

#7660 [REVIEW] Feature/optimize accessor copy
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/utils.py
Labels: 5 - Ready to Merge, Performance, cuDF (Python), improvement, non-breaking

#7688 Fix/correct cudf installed package requirements
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/cudf-config.cmake.in
  cpp/cmake/thirdparty/CUDF_GetCPM.cmake
  cpp/cmake/thirdparty/CUDF_GetGTest.cmake
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
Labels: CMake, bug, libcudf, non-breaking

#7554 [REVIEW] Implement cudf::label_bins()
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/label_bins.hpp
  cpp/include/cudf/labeling/label_bins.hpp
  cpp/include/doxygen_groups.h
  cpp/src/labeling/label_bins.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/labeling/label_bins_tests.cpp
Labels: 3 - Ready for Review, CMake, conda, feature request, libcudf, non-breaking

#7657 Add `lists.sort_values` API
  docs/cudf/source/api.rst
  python/cudf/cudf/_lib/cpp/lists/sorting.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_list.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7642 Add is_integer API that can check for the validity of a string-to-integer conversion
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/src/strings/convert/convert_integers.cu
  cpp/tests/strings/integers_tests.cu
Labels: 3 - Ready for Review, feature request, libcudf, non-breaking, strings, tests

#7684 Add gbenchmark for nvtext tokenize functions
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/tokenize_benchmark.cpp
Labels: 5 - Ready to Merge, CMake, improvement, libcudf, non-breaking

#7643 Refactor ConfigureCUDA to not conditionally insert compiler flags
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: CMake, improvement, libcudf, non-breaking

#7701 Update codeowners file [skip-ci]
  .github/CODEOWNERS
Labels: improvement, non-breaking

#7649 Fixing empty null lists throwing explode_outer for a loop.
  cpp/src/lists/explode.cu
  cpp/tests/lists/explode_tests.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#7686 Misc Python/Cython optimizations
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/core/buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#7672 Fix SparkMurmurHash3_32 hash inconsistencies with Apache Spark
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/tests/hashing/hash_test.cpp
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, Spark, bug, cuDF (Java), libcudf, non-breaking

#7706 [REVIEW] Fix return type of `DataFrame.argsort`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7711 [REVIEW] Materialize `RangeIndex` when `index=True` in parquet writer
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7707 [REVIEW] Implement scan operations for decimal columns
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_scan.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7504 Fix comparison between Datetime/Timedelta columns and NULL scalars
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_binops.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7621 Convert cudf::concatenate APIs to use spans and device_uvector
  cpp/include/cudf/column/column_factories.hpp
  cpp/include/cudf/concatenate.hpp
  cpp/include/cudf/detail/concatenate.cuh
  cpp/include/cudf/detail/concatenate.hpp
  cpp/include/cudf/dictionary/detail/concatenate.hpp
  cpp/include/cudf/lists/detail/concatenate.hpp
  cpp/include/cudf/strings/detail/concatenate.hpp
  cpp/include/cudf/structs/detail/concatenate.hpp
  cpp/include/cudf/utilities/span.hpp
  cpp/src/copying/concatenate.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/interop/from_arrow.cpp
  cpp/src/join/hash_join.cu
  cpp/src/lists/copying/concatenate.cu
  cpp/src/replace/replace.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/structs/copying/concatenate.cu
  cpp/src/structs/utilities.cu
  cpp/src/structs/utilities.hpp
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/merge/merge_test.cpp
  python/cudf/cudf/_lib/cpp/concatenate.pxd
  python/cudf/cudf/_lib/cpp/utilities/host_span.pxd
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, breaking, cuDF (Python), improvement, libcudf

#7676 Add column_device_view to orc writer
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/statistics/column_stats.h
Labels: 3 - Ready for Review, code quality, cuIO, improvement, libcudf, non-breaking

#7674 cudf_kafka now uses cuDF CMake export targets (CPM)
  build.sh
  ci/release/update-version.sh
  cpp/cmake/cudf-config.cmake.in
  cpp/libcudf_kafka/CMakeLists.txt
  cpp/libcudf_kafka/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/libcudf_kafka/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
  cpp/libcudf_kafka/cmake/thirdparty/CUDF_KAFKA_GetCUDF.cmake
  cpp/libcudf_kafka/cmake/thirdparty/CUDF_KAFKA_GetRDKafka.cmake
  cpp/libcudf_kafka/tests/CMakeLists.txt
Labels: CMake, gpuCI, improvement, libcudf, non-breaking

#7710 [REVIEW] Don't identify decimals as strings.
  python/cudf/cudf/utils/dtypes.py
Labels: 5 - Ready to Merge, breaking, bug, cuDF (Python)

#7547 Add Python bindings for `lists::contains`
  python/cudf/cudf/_lib/cpp/lists/contains.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: 5 - Ready to Merge, Cython, cuDF (Python), feature request, non-breaking

#7729 Change JNI API to avoid loading native dependencies when creating sort order classes. [skip ci]
  java/src/main/java/ai/rapids/cudf/OrderByArg.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: Spark, breaking, bug, cuDF (Java)

#7422 Add struct column support to cudf::sort and cudf::sorted_order
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/table/table_device_view.cuh
  cpp/include/cudf/table/table_view.hpp
  cpp/include/cudf/types.hpp
  cpp/src/sort/is_sorted.cu
  cpp/src/sort/sort_impl.cuh
  cpp/src/structs/utilities.cu
  cpp/src/structs/utilities.hpp
  cpp/src/table/table_device_view.cu
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  cpp/tests/sort/is_sorted_tests.cpp
  cpp/tests/sort/sort_test.cpp
  cpp/tests/structs/structs_column_tests.cu
Labels: 3 - Ready for Review, feature request, libcudf, non-breaking

#7724 [REVIEW] Expose libcudf's label_bins function to cudf
  python/cudf/cudf/_lib/cpp/labeling.pxd
  python/cudf/cudf/_lib/labeling.pyx
Labels: 3 - Ready for Review, Cython, cuDF (Python), feature request, non-breaking

#7698 Cleanup groupby to use host_span, device_span, device_uvector
  cpp/include/cudf/detail/groupby.hpp
  cpp/include/cudf/groupby.hpp
  cpp/src/groupby/common/utils.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_nth_element.cu
  cpp/src/groupby/sort/group_quantiles.cu
  cpp/src/groupby/sort/scan.cpp
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking, tech debt

#7708 Add gbenchmark for nvtext replace-tokens function
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/replace_benchmark.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#7726 Add support for `unique` groupby aggregation
  docs/cudf/source/groupby.md
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7739 Added JNI support for new is_integer [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Spark, cuDF (Java), improvement, non-breaking

#7744 Fix string length in stripe dictionary building
  cpp/src/io/orc/dict_enc.cu
Labels: 2 - In Progress, bug, cuIO, libcudf, non-breaking

#7737 Fix dictionary size computation in ORC writer
  cpp/src/io/orc/writer_impl.cu
Labels: 5 - Ready to Merge, bug, cuIO, libcudf, non-breaking

#7705 Use stream in groupby calls
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/functors.hpp
  cpp/src/groupby/sort/scan.cpp
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/rolling/grouped_rolling.cu
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking, tech debt

#7733 Fix `cudf::cast` overflow for `decimal64` to `int32_t` or smaller in certain cases
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/tests/unary/cast_tests.cpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#7734 Create and promote library aliases in libcudf installations
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/cudf-config.cmake.in
  cpp/cmake/thirdparty/CUDF_GetGTest.cmake
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
  cpp/libcudf_kafka/cmake/thirdparty/CUDF_KAFKA_GetCUDF.cmake
  cpp/libcudf_kafka/tests/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake, conda, improvement, libcudf, non-breaking

#7750 Add replacements column support for Java replaceNulls [skip ci]
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking

#7748 Remove unused JVM array creation [skip ci]
  java/src/main/native/src/ColumnVectorJni.cpp
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking

#7746 [REVIEW] Fix data corruption in string columns
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_string.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: bug, cuDF (Python), dask, non-breaking, strings

#7717 Memory map the input file only when GDS compatiblity mode is not used
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
Labels: cuIO, improvement, libcudf, non-breaking

#7534 cudf::row_bit_count() support.
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/lists/lists_column_view.hpp
  cpp/include/cudf/transform.hpp
  cpp/include/cudf/types.hpp
  cpp/src/jit/type.cpp
  cpp/src/lists/drop_list_duplicates.cu
  cpp/src/transform/row_bit_count.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/utilities/column_utilities.cu
Labels: CMake, Spark, feature request, libcudf, non-breaking

#7454 Join APIs that return gathermaps
  cpp/benchmarks/join/join_benchmark.cu
  cpp/include/cudf/join.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/copying/gather.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/semi_join.cu
  cpp/tests/join/join_tests.cpp
  cpp/tests/join/semi_join_tests.cpp
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/join.pxd
  python/cudf/cudf/_lib/cpp/table/table_view.pxd
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/__init__.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/join/casting_logic.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_string.py
Labels: breaking, cuDF (Python), improvement, libcudf, tech debt
