Repository rapidsai/cudf, pull requests merged in 2021-02, with the labels that each got.

#7064 [REVIEW] Add List types support in data generator
  python/cudf/cudf/_fuzz_testing/avro.py
  python/cudf/cudf/_fuzz_testing/csv.py
  python/cudf/cudf/_fuzz_testing/fuzzer.py
  python/cudf/cudf/_fuzz_testing/io.py
  python/cudf/cudf/_fuzz_testing/json.py
  python/cudf/cudf/_fuzz_testing/main.py
  python/cudf/cudf/_fuzz_testing/orc.py
  python/cudf/cudf/_fuzz_testing/parquet.py
  python/cudf/cudf/_fuzz_testing/tests/fuzz_test_csv.py
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/tests/dataset_generator.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7207 [REVIEW] Handle various parameter combinations in `replace` API
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_replace.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7209 Define and implement more behavior for merging on categorical variables
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/join/casting_logic.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking

#7248 Disallow picking output columns from nested columns.
  cpp/src/io/parquet/reader_impl.cu
  python/cudf/cudf/tests/data/parquet/nested_column_map.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: 4 - Needs cuDF (Python) Reviewer, bug, cuIO, libcudf, non-breaking

#7250 Remove floating point types from cudf::sort fast-path
  cpp/src/sort/sort.cu
  cpp/tests/table/row_operators_tests.cpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#6977 libcudf Developer Guide [skip-ci]
  cpp/docs/BENCHMARKING.md
  cpp/docs/DEVELOPER_GUIDE.md
  cpp/docs/TESTING.md
  cpp/docs/TRANSITIONGUIDE.md
Labels: 5 - Ready to Merge, doc, non-breaking

#7279 Fix style issues related to NumPy
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/cudf/_lib/column.pyi
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7272 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#7297 Fix merge conflicts for #7295 [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#7283 Python API for `LIstMethods.len()`
  python/cudf/cudf/_lib/cpp/lists/count_elements.pxd
  python/cudf/cudf/_lib/cpp/lists/lists_column_view.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7010 [REVIEW] Add docs for working with missing data
  docs/cudf/source/Working-with-missing-data.ipynb
  docs/cudf/source/index.rst
Labels: 5 - Ready to Merge, doc, non-breaking

#6860 [REVIEW] FIX Add codecov upload block to gpu script
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, bug, gpuCI, non-breaking

#7096 Pack/unpack functionality to convert tables to and from a serialized format.
  CHANGELOG.md
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/src/copying/contiguous_split.cu
  cpp/src/copying/pack.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/pack_tests.cu
  cpp/tests/copying/split_tests.cpp
Labels: 5 - Ready to Merge, Spark, breaking, feature request, libcudf

#7270 Build.sh use cmake --build to drive build system invocation
  build.sh
Labels: 5 - Ready to Merge, CMake, improvement, non-breaking

#7266 Move lists utility function definition out of header
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/lists/detail/utilities.cuh
  cpp/src/rolling/rolling_detail.cuh
Labels: 5 - Ready to Merge, bug, code quality, non-breaking

#7122 Add Segmented sort
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/lists/list_device_view.cuh
  cpp/include/cudf/lists/sorting.hpp
  cpp/include/cudf/sorting.hpp
  cpp/src/lists/count_elements.cu
  cpp/src/lists/segmented_sort.cu
  cpp/src/sort/segmented_sort.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/lists/sort_lists_tests.cpp
  cpp/tests/sort/segmented_sort_tests.cpp
Labels: 5 - Ready to Merge, feature request, non-breaking

#7261 Throw if bool column would cause incorrect result when writing to ORC
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, bug, cuIO, non-breaking

#7303 Use string literals in `fixed_point` `release_assert`s
  cpp/include/cudf/fixed_point/fixed_point.hpp
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking

#7127 Update JNI for contiguous_split packed results [skip ci]
  java/src/main/java/ai/rapids/cudf/ContiguousTable.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ContiguousTableJni.cpp
  java/src/main/native/src/CudfJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/cudf_jni_apis.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge, Spark, cuDF (Java), improvement, non-breaking

#7307 Update Java bindings version to 0.19-SNAPSHOT [skip ci]
  java/ci/README.md
  java/pom.xml
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, cuDF (Java), improvement, non-breaking

#7296 fix java cuFile tests [skip ci]
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/CuFile.java
  java/src/main/native/src/CuFileJni.cpp
  java/src/test/java/ai/rapids/cudf/CuFileTest.java
Labels: 5 - Ready to Merge, Spark, bug, cuDF (Java), non-breaking

#7220 Improve `assert_eq` handling of scalar
  python/cudf/cudf/tests/test_testing.py
  python/cudf/cudf/tests/utils.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking, tests

#7309 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#7097 Add column_device_view pointers to EncColumnDesc
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_test.cpp
Labels: 2 - In Progress, code quality, cuIO, improvement, libcudf, non-breaking

#7271 Fix copying dtype metadata after calling libcudf functions
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_struct.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7256 Use `uvector` in `replace_nulls`; Fix `sort_helper::grouped_value` doc
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/src/replace/nulls.cu
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#7236 Replace stream.value() with stream for stream_view args
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/src/ast/transform.cu
  cpp/src/binaryop/binaryop.cpp
  cpp/src/column/column.cu
  cpp/src/column/column_factories.cpp
  cpp/src/copying/sample.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/interop/from_arrow.cpp
  cpp/src/lists/copying/concatenate.cu
  cpp/src/quantiles/quantile.cu
  cpp/src/reductions/minmax.cu
  cpp/src/reductions/simple.cuh
  cpp/src/search/search.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/src/strings/findall.cu
Labels: 5 - Ready to Merge, improvement, non-breaking, tech debt

#7313 Fix failing CI ORC test
  python/cudf/cudf/tests/test_orc.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), cuIO, non-breaking

#7121 Add Java unit tests for window aggregate 'collect' [skip ci]
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 5 - Ready to Merge, cuDF (Java), improvement, non-breaking, tests

#7253 Fix typo in cudf.core.column.string.extract docs
  .github/PULL_REQUEST_TEMPLATE.md
  python/cudf/cudf/core/column/string.py
Labels: 5 - Ready to Merge, cuDF (Python), doc, non-breaking

#7190 Implement `cudf::group_by` (hash) for `decimal32` and `decimal64`
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/tests/groupby/group_count_test.cpp
  cpp/tests/groupby/group_max_test.cpp
  cpp/tests/groupby/group_min_test.cpp
  cpp/tests/groupby/group_sum_test.cpp
  cpp/tests/groupby/groupby_keys_test.cpp
Labels: 5 - Ready to Merge, feature request, libcudf, non-breaking

#7319 Remove incorrect std::move call on return variable
  cpp/src/sort/segmented_sort.cu
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#7298 Disallow constructing frames from a ColumnAccessor
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, bug, non-breaking

#7277 Fix bug when `iloc` slice terminates at before-the-zero position
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_indexing.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7158 Update 10 minutes to cuDF and CuPy with new APIs
  docs/cudf/source/10min-cudf-cupy.ipynb
Labels: cuDF (Python), doc, non-breaking

#7318 [skip-ci] Update readme
  README.md
  ci/release/update-version.sh
Labels: doc, non-breaking

#7292 Add UTF-8 chars to create_random_column<string_view> benchmark utility
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/common/generate_benchmark_input.cpp
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking

#6546 Cleaning up `for` loops with `make_(counting_)transform_iterator`
  cpp/include/cudf/column/column_view.hpp
  cpp/src/column/column.cu
  cpp/src/column/column_device_view.cu
  cpp/src/column/column_view.cpp
  cpp/src/copying/copy.cpp
  cpp/src/copying/slice.cpp
  cpp/src/interop/to_arrow.cpp
Labels: 5 - Ready to Merge, code quality, improvement, libcudf, non-breaking

#7333 Change block size parameter from a global to a template param.
  cpp/src/copying/contiguous_split.cu
Labels: 5 - Ready to Merge, code quality, improvement, libcudf, non-breaking, tech debt

#7044 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: improvement, non-breaking

#7340 Handle cupy array in `Dataframe.__setitem__`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), non-breaking

#7342 Remove std::cout and print in the scatter test function EmptyListsOfNullableStrings.
  cpp/tests/copying/scatter_list_tests.cu
Labels: 3 - Ready for Review, improvement, libcudf, non-breaking

#7338 Use `cudf::detail::make_counting_transform_iterator`
  cpp/include/cudf/detail/iterator.cuh
  cpp/include/cudf/dictionary/detail/iterator.cuh
  cpp/include/cudf/strings/detail/modify_strings.cuh
  cpp/src/copying/contiguous_split.cu
  cpp/src/copying/sample.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/replace.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/lists/copying/segmented_gather.cu
  cpp/src/reshape/tile.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/sort/rank.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/translate.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/normalize.cu
  cpp/tests/strings/array_tests.cu
  cpp/tests/utilities_tests/lists_column_wrapper_tests.cpp
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking

#7335 Unpin from numpy < 1.20
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/recipes/cudf/meta.yaml
Labels: conda, cuDF (Python), improvement, non-breaking

#7360 Fix incorrect strings_column_view::chars_size documentation
  cpp/include/cudf/strings/strings_column_view.hpp
Labels: 5 - Ready to Merge, doc, libcudf, non-breaking

#7316 Add gbenchmark for cudf::strings::to_lower
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/case_benchmark.cpp
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_cases.cu
  cpp/src/strings/char_types/char_cases.h
Labels: 3 - Ready for Review, Performance, improvement, libcudf, non-breaking, strings

#7358 fix Arrow CMake file
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
Labels: 5 - Ready to Merge, CMake, Spark, bug, libcudf, non-breaking

#7336 Fix invalid-device-fn error in cudf::strings::replace_re with multiple regex's
  cpp/src/strings/replace/multi_re.cu
  cpp/tests/merge/merge_string_test.cpp
  cpp/tests/partitioning/round_robin_test.cpp
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#7156 avro reader integration tests
  python/cudf/cudf/tests/test_avro.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
Labels: 5 - Ready to Merge, cuDF (Python), cuIO, improvement, non-breaking

#7254 Add support for special tokens in nvtext::subword_tokenizer
  cpp/src/text/subword/load_hash_file.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
  cpp/tests/text/subword_tests.cpp
Labels: 3 - Ready for Review, feature request, libcudf, non-breaking

#7357 [REVIEW] Update orc reader and writer fuzz tests
  python/cudf/cudf/_fuzz_testing/orc.py
  python/cudf/cudf/_fuzz_testing/tests/fuzz_test_orc.py
  python/cudf/cudf/_fuzz_testing/utils.py
Labels: 5 - Ready to Merge, cuDF (Python), improvement, non-breaking, tech debt

#7362 Add groupby SUM_OF_SQUARES support
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/src/groupby/hash/groupby.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/group_sum_of_squares_test.cpp
Labels: 5 - Ready to Merge, CMake, feature request, libcudf, non-breaking

#7278 Abstracting block reduce and block scan from cuIO kernels with `cub` apis
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/statistics/column_stats.cu
  cpp/src/io/utilities/block_utils.cuh
Labels: 5 - Ready to Merge, cuIO, improvement, libcudf, non-breaking

#7380 Fix std::exeception catch-by-reference gcc9 compile error
  cpp/src/text/subword/load_hash_file.cu
Labels: 3 - Ready for Review, bug, libcudf, non-breaking

#7353 Improve url_decode performance for long strings
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/url_decode_benchmark.cpp
  cpp/src/strings/convert/convert_urls.cu
  cpp/tests/strings/urls_tests.cpp
Labels: CMake, Performance, improvement, libcudf, non-breaking, strings

#7359 Fix skiprows issue with ORC Reader
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Labels: 3 - Ready for Review, 4 - Needs cuIO Reviewer, bug, cuDF (Python), cuIO, libcudf, non-breaking

#7381 Added in JNI support for out of core sort algorithm [skip ci]
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, Spark, cuDF (Java), improvement, non-breaking

#7388 Add GHA to mark issues/prs as stale/rotten [skip ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#7369 Add string scalar replace benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/replace_scalar_benchmark.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking, strings

#7384 Refactor libcudf strings::replace to use make_strings_children utility
  cpp/src/strings/replace/replace.cu
Labels: 3 - Ready for Review, Performance, improvement, libcudf, non-breaking, strings

#7393 upgrade maven-antrun-plugin to support maven parallel builds [skip ci]
  java/pom.xml
Labels: 5 - Ready to Merge, Spark, cuDF (Java), improvement, non-breaking, tech debt

#7395 Update stale GHA with exemptions & new labels [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#7363 Fix typo in regex.md doc page [skip ci]
  cpp/doxygen/regex.md
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#7401 Clean up included headers in `device_operators.cuh`
  cpp/include/cudf/detail/utilities/device_operators.cuh
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking, tech debt

#7382 Fix thrust failure when transfering data from device_vector to host_vector with vectors of size 1
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/tests/utilities/column_utilities.cu
Labels: 4 - Needs libcudf Reviewer, bug, libcudf, non-breaking, tests

#7264 Support null_policy::EXCLUDE for COLLECT rolling aggregation
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf_test/iterator_utilities.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/groupby.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/collect_list/collect_list_test.cpp
  cpp/tests/groupby/group_collect_test.cpp
Labels: 3 - Ready for Review, 4 - Needs libcudf Reviewer, 5 - Ready to Merge, conda, feature request, libcudf, non-breaking

#7366 Add gbenchmark for strings contains_re/count_re functions
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/contains_benchmark.cpp
  cpp/src/strings/regex/regex.inl
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking, strings

#7411 Merge branch-0.18 into branch-0.19 [skip-ci]
  .github/workflows/stale.yaml
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/recipes/cudf/meta.yaml
Labels: 3 - Ready for Review, conda, feature request, gpuCI, non-breaking

#7351 [gpuCI] Auto-merge branch-0.18 to branch-0.19 [skip ci]
  .github/workflows/stale.yaml
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/recipes/cudf/meta.yaml
Labels: conda, gpuCI

#7352 `cudf::ast` Small Refactorings
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/linearizer.hpp
  cpp/src/ast/linearizer.cpp
  cpp/src/ast/transform.cu
Labels: 5 - Ready to Merge, code quality, improvement, libcudf, non-breaking

#6984 Adding Interval Dtype
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/tests/test_interval.py
  python/cudf/cudf/utils/dtypes.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#7364 Add string conversion to/from decimal values libcudf APIs
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/strings/convert/convert_fixed_point.hpp
  cpp/include/cudf/strings/detail/converters.hpp
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/utilities.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/fixed_point_tests.cpp
Labels: 3 - Ready for Review, CMake, conda, feature request, libcudf, non-breaking

#7403 Add other cudf::strings::replace functions to current strings replace gbenchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/replace_benchmark.cpp
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking

#7399 Move nullable index iterator to indexalator factory
  cpp/include/cudf/detail/indexalator.cuh
  cpp/src/dictionary/replace.cu
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking

#7391 [REVIEW] Use CMAKE_CUDA_ARCHITECTURES
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/EvalGpuArchs.cmake
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
Labels: 3 - Ready for Review, CMake, breaking, improvement, libcudf

#7392 Add gbenchmark for strings find/contains functions
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/find_benchmark.cpp
  cpp/src/strings/find.cu
Labels: 5 - Ready to Merge, CMake, improvement, libcudf, non-breaking, strings

#7349 Fix lists::contains() for NaN and Decimals
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/iterator.cuh
  cpp/include/cudf/lists/list_device_view.cuh
  cpp/include/cudf/scalar/scalar_device_view.cuh
  cpp/src/lists/contains.cu
  cpp/tests/lists/contains_tests.cpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#7409 Remove unneeded temporary device vector for strings scatter specialization
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/copy_benchmark.cpp
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/strings/utilities.cu
Labels: CMake, improvement, libcudf, non-breaking

#7398 ENH Pass ccache variables to conda recipe & use Ninja in CI
  ci/cpu/build.sh
  conda/recipes/libcudf/meta.yaml
Labels: 3 - Ready for Review, conda, gpuCI, improvement, non-breaking

#7423 Fix typo in list_device_view::pair_rep_end()
  cpp/include/cudf/lists/list_device_view.cuh
  cpp/src/lists/contains.cu
Labels: 4 - Needs libcudf Reviewer, 5 - Ready to Merge, bug, libcudf, non-breaking

#7419 Simplify type dispatch with `device_storage_dispatch`
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/copying/concatenate.cu
  cpp/src/copying/copy.cu
  cpp/src/copying/copy_range.cu
  cpp/src/copying/scatter.cu
  cpp/src/copying/shift.cu
  cpp/src/dictionary/search.cu
  cpp/src/merge/merge.cu
  cpp/src/partitioning/partitioning.cu
  cpp/src/reductions/scan.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/sort/sort.cu
  cpp/src/sort/sort_column.cu
  cpp/src/sort/stable_sort_column.cu
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking

#7431 Don't use user resource for a temporary allocation in sort_by_key
  cpp/src/sort/sort.cu
Labels: 5 - Ready to Merge, improvement, libcudf, non-breaking

#7135 Adding support to specify "level" parameter for `Dataframe.rename`
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_column_accessor.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 5 - Ready to Merge, cuDF (Python), feature request, non-breaking

#7424 Change nvtext::load_vocabulary_file to return a unique ptr
  cpp/benchmarks/text/subword_benchmark.cpp
  cpp/include/nvtext/detail/load_hash_file.hpp
  cpp/include/nvtext/subword_tokenize.hpp
  cpp/src/text/subword/load_hash_file.cu
  cpp/src/text/subword/subword_tokenize.cu
  cpp/tests/text/subword_tests.cpp
Labels: 3 - Ready for Review, breaking, improvement, libcudf, strings

#7425 Update JNI build to use CMAKE_CUDA_ARCHITECTURES [skip ci]
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/TableJni.cpp
Labels: 3 - Ready for Review, 4 - Needs cuDF (Java) Reviewer, CMake, cuDF (Java), improvement, non-breaking

#7445 fix cuFile JNI compile errors [skip ci]
  java/src/main/native/src/CuFileJni.cpp
Labels: 3 - Ready for Review, Spark, bug, cuDF (Java), non-breaking

#7428 Replace thrust::max_element with thrust::reduce in strings findall_re
  cpp/src/strings/findall.cu
Labels: 5 - Ready to Merge, code quality, improvement, libcudf, non-breaking

#7449 Missing `device_storage_dispatch` change affecting `cudf::gather`
  cpp/include/cudf/detail/gather.cuh
  cpp/src/lists/copying/gather.cu
  cpp/tests/collect_list/collect_list_test.cpp
  cpp/tests/copying/gather_list_tests.cu
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#7430 Detail APIs for datetime functions
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
Labels: 5 - Ready to Merge, conda, improvement, libcudf, non-breaking

#7427 Add gbenchmark for strings split/split_record functions
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/split_benchmark.cpp
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_record.cu
Labels: 3 - Ready for Review, CMake, improvement, libcudf, non-breaking, strings

#7432 Make inclusive scan safe for cases with leading nulls
  cpp/src/bitmask/null_mask.cu
  cpp/tests/bitmask/set_nullmask_tests.cu
  cpp/tests/reductions/scan_tests.cpp
Labels: 5 - Ready to Merge, bug, libcudf, non-breaking

#7434 Fix BUG: Exception when PYTHONOPTIMIZE=2
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/utils/docutils.py
Labels: 3 - Ready for Review, breaking, bug, cuDF (Python)

#7438 Add gbenchmarks for strings filter functions
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/filter_benchmark.cpp
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/strip.cu
Labels: 3 - Ready for Review, CMake, Performance, improvement, libcudf, non-breaking, strings

#7371 [REVIEW] compile_udf: Cache PTX for similar functions
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/cudf/tests/test_compile_udf.py
  python/cudf/cudf/utils/cudautils.py
Labels: conda, cuDF (Python), improvement, non-breaking

#7376 Add cudf::explode_position
  cpp/include/cudf/lists/lists_column_view.hpp
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/explode.cu
  cpp/tests/reshape/explode_tests.cpp
Labels: 5 - Ready to Merge, feature request, libcudf, non-breaking

#7463 [skip-ci] Update 0.18 changelog entry
  CHANGELOG.md
Labels: improvement, non-breaking

#7375 [REVIEW] Upgrade pandas to 1.2
  conda/environments/cudf_dev_cuda10.1.yml
  conda/environments/cudf_dev_cuda10.2.yml
  conda/environments/cudf_dev_cuda11.0.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_dropna.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_hdf.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_ops.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_reshape.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_setitem.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/utils.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
Labels: 5 - Ready to Merge, breaking, code quality, conda, cuDF (Python), improvement

#7453 Improve stability of dask_cudf.DataFrame.var and dask_cudf.DataFrame.std
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 5 - Ready to Merge, bug, cuDF (Python), dask, non-breaking
