Repository rapidsai/cudf, pull requests merged in 2022-06, with the labels that each got.

#10923 Fix doxygen warnings in structs, lists headers
  cpp/include/cudf/lists/drop_list_duplicates.hpp
  cpp/include/cudf/lists/list_device_view.cuh
  cpp/include/cudf/lists/lists_column_device_view.cuh
  cpp/include/cudf/lists/lists_column_view.hpp
  cpp/include/cudf/structs/structs_column_device_view.cuh
  cpp/include/cudf/structs/structs_column_view.hpp
Labels: 3 - Ready for Review, doc, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#10921 Fix doxygen warnings in ast/, rolling, tdigest/, wrappers/, dictionary/ headers
  cpp/include/cudf/ast/expressions.hpp
  cpp/include/cudf/dictionary/dictionary_column_view.hpp
  cpp/include/cudf/rolling/range_window_bounds.hpp
  cpp/include/cudf/tdigest/tdigest_column_view.cuh
  cpp/include/cudf/wrappers/dictionary.hpp
  cpp/include/cudf/wrappers/timestamps.hpp
Labels: 3 - Ready for Review, doc, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#10922 Fix doxygen warnings in fixed_point.hpp
  cpp/include/cudf/fixed_point/fixed_point.hpp
Labels: 3 - Ready for Review, doc, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#10999 Cleanup `iterator.cuh` and add fixed point support for `scalar_optional_accessor`
  cpp/include/cudf/detail/iterator.cuh
Labels: 3 - Ready for Review, libcudf blocker, libcudf, helps: Spark, improvement, non-breaking

#10945 Generate group labels from offsets
  cpp/include/cudf/detail/labeling/label_segments.cuh
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/lists/drop_list_duplicates.cu
  cpp/tests/lists/drop_list_duplicates_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf blocker, libcudf, helps: Spark, non-breaking

#10937 Fix Doxygen warnings in strings / header files
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/include/cudf/strings/detail/convert/fixed_point.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/cudf/strings/json.hpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
  cpp/include/cudf/strings/strings_column_view.hpp
Labels: 3 - Ready for Review, doc, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#10964 Fix Doxygen warnings in table header files
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/table/table.hpp
  cpp/include/cudf/table/table_device_view.cuh
  cpp/include/cudf/table/table_view.hpp
Labels: 3 - Ready for Review, doc, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#11029 [REVIEW] Drop python `3.7` in code-base
  README.md
  conda/environments/cudf_dev_cuda11.5.yml
  pyproject.toml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), 5 - Ready to Merge, conda, improvement, breaking

#11032 Remove public API of cudf.merge_sorted.
  docs/cudf/source/api_docs/general_functions.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#11035 Add docs to rolling var, std, count.
  docs/cudf/source/api_docs/window.rst
  python/cudf/cudf/_lib/rolling.pyx
  python/cudf/cudf/core/window/rolling.py
Labels: doc, cuDF (Python), 5 - Ready to Merge, non-breaking

#10974 Fix doxygen warnings in utilities/ headers
  cpp/include/cudf/utilities/bit.hpp
  cpp/include/cudf/utilities/error.hpp
  cpp/include/cudf/utilities/span.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
Labels: 3 - Ready for Review, doc, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#10870 Configurable NaN handling in device_row_comparators
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/groupby/hash/groupby.cu
  cpp/src/reductions/scan/rank_scan.cu
  cpp/src/search/contains_nested.cu
  cpp/src/search/search_ordered.cu
  cpp/src/sort/sort_impl.cuh
  cpp/src/stream_compaction/distinct.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/lists_tests.cu
  cpp/tests/table/experimental_row_operator_tests.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#11013 Change build.sh to find C++ library by default and avoid shadowing CMAKE_ARGS
  build.sh
  ci/gpu/build.sh
  conda/recipes/cudf/build.sh
Labels: gpuCI, 5 - Ready to Merge, conda, improvement, non-breaking

#11017 Generate group offsets from element labels
  cpp/include/cudf/detail/labeling/label_segments.cuh
  cpp/src/lists/drop_list_duplicates.cu
Labels: feature request, 3 - Ready for Review, libcudf blocker, libcudf, helps: Spark, non-breaking

#11046 Fix groupby include
  cpp/include/cudf/groupby.hpp
Labels: libcudf, tech debt, improvement, non-breaking

#11039 [REVIEW] Add docstring entry for `DataFrame.value_counts`
  docs/cudf/source/api_docs/dataframe.rst
Labels: 3 - Ready for Review, doc, non-breaking

#11020 Fix docs for Numba UDFs.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Labels: doc, non-breaking

#10963 Fix Doxygen warnings in column header files
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_factories.hpp
  cpp/include/cudf/column/column_view.hpp
Labels: 3 - Ready for Review, doc, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#10980 Expose row-group size options in cudf ParquetWriter
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: 3 - Ready for Review, cuDF (Python), Cython, improvement, non-breaking

#11054 Fix BPE uninitialized size value for null and empty input strings
  cpp/src/text/subword/bpe_tokenizer.cu
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#10932 Generate Doxygen Tag File for Libcudf
  cpp/doxygen/Doxyfile
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#11051 [REVIEW] Add support for `Series.between`
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11057 Add Doxygen CI check
  ci/checks/style.sh
  cpp/include/cudf/table/experimental/row_operators.cuh
Labels: feature request, 3 - Ready for Review, gpuCI, code quality, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#10884 Improve the capture of fatal cuda error
  cpp/include/cudf/utilities/error.hpp
  cpp/tests/error/error_handling_test.cu
  java/pom.xml
  java/src/main/native/include/jni_utils.hpp
  java/src/test/java/ai/rapids/cudf/CudaFatalTest.java
  java/src/test/java/ai/rapids/cudf/CudaTest.java
Labels: gpuCI, libcudf, cuDF (Python), CMake, conda, cuDF (Java), improvement, non-breaking

#10983 Update cuCollections for thrust upgrade
  cpp/cmake/thirdparty/get_cucollections.cmake
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_semi.cu
  cpp/src/join/semi_join.cu
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/text/subword/load_merges_file.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#11070 [REVIEW] Fix duplicate `cudatoolkit` pinning issue
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/gpu/java.sh
  conda/recipes/cudf/meta.yaml
Labels: bug, gpuCI, 5 - Ready to Merge, conda, non-breaking

#11068 Maintain the input index in the result of a groupby-transform
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), non-breaking

#11086 Forward-merge branch-22.06 to branch-22.08
  CHANGELOG.md
Labels: improvement, non-breaking

#10816 [REVIEW] Upgrade to `arrow-8`
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
Labels: libcudf, CMake, 5 - Ready to Merge, conda, improvement, non-breaking

#10975 Cleanup cudf::strings::detail::regex_parser class source
  cpp/src/strings/regex/regcomp.cpp
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#11058 [REVIEW] Unpin `dask` & `distributed` for development
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
  python/dask_cudf/setup.py
Labels: gpuCI, cuDF (Python), 5 - Ready to Merge, conda, improvement, non-breaking

#11059 Fix bug with row count comparison for expect_columns_equivalent().
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Labels: bug, libcudf, non-breaking

#11036 Support for ZLIB compression in ORC writer
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/comp/nvcomp_adapter.cu
  cpp/src/io/comp/nvcomp_adapter.cuh
  cpp/src/io/comp/nvcomp_adapter.hpp
  cpp/src/io/orc/orc_common.hpp
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Labels: feature request, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#11083 Exclude CudaFatalTest when selecting all Java tests
  build.sh
  java/ci/build-in-docker.sh
Labels: bug, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#11064 Use new nvCOMP API to optimize the decompression temp memory size
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/comp/nvcomp_adapter.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#11101 FindcuFile now searches in the current CUDA Toolkit location
  cpp/cmake/Modules/FindcuFile.cmake
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#11104 [Java] Added JNI for getMapValueForKeys
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), non-breaking

#11018 Return empty dataframe when reading a Parquet file using empty `columns` option
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/tests/io/parquet_test.cpp
  java/src/main/java/ai/rapids/cudf/ColumnFilterOptions.java
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, cuDF (Python), cuIO, cuDF (Java), breaking

#11073 Remove deprecated Index methods from Frame
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_replace.py
Labels: 3 - Ready for Review, cuDF (Python), tech debt, improvement, breaking

#11105 [REVIEW] Handle multiple files metadata in `read_parquet`
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11076 Add doxygen-check pre-commit hook
  .pre-commit-config.yaml
  CONTRIBUTING.md
  ci/checks/doxygen.sh
  ci/checks/style.sh
  conda/environments/cudf_dev_cuda11.5.yml
  cpp/doxygen/Doxyfile
Labels: feature request, 3 - Ready for Review, gpuCI, libcudf, 4 - Needs libcudf Reviewer, conda, non-breaking

#11126 Fix compile error due to missing header
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/comp/nvcomp_adapter.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#10970 Handle missing fields as nulls in get_json_object()
  cpp/include/cudf/strings/json.hpp
  cpp/src/strings/json/json_path.cu
  cpp/tests/strings/json_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11063 column to row refactor for performance
  java/src/main/native/src/row_conversion.cu
Labels: 3 - Ready for Review, code quality, Performance, cuDF (Java), improvement, non-breaking

#11124 Clean up repo root
  .dockerignore
  .github/CODEOWNERS
  MANIFEST.in
  cpp/.clang-tidy
Labels: tech debt, improvement, non-breaking

#11132 Remove docs mentioning scalar_view since no such class exists.
  cpp/docs/DEVELOPER_GUIDE.md
Labels: doc, libcudf, non-breaking

#11133 [REVIEW] Switch `language` from `None` to `"en"` in docs build
  docs/cudf/source/conf.py
  python/cudf/cudf/tests/test_parquet.py
Labels: doc, cuDF (Python), 5 - Ready to Merge, non-breaking

#11052 Support `duplicate_keep_option` in `cudf::distinct`
  cpp/CMakeLists.txt
  cpp/benchmarks/stream_compaction/distinct.cpp
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_reduce.cu
  cpp/src/stream_compaction/distinct_reduce.cuh
  cpp/src/stream_compaction/unique.cu
  cpp/src/transform/encode.cu
  cpp/tests/stream_compaction/distinct_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf blocker, libcudf, CMake, 4 - Needs libcudf Reviewer, Performance, helps: Spark, non-breaking

#11118 Support `nan_equality` in `cudf::distinct`
  cpp/benchmarks/stream_compaction/distinct.cpp
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_reduce.cu
  cpp/src/stream_compaction/distinct_reduce.cuh
  cpp/src/transform/encode.cu
  cpp/tests/stream_compaction/distinct_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf blocker, libcudf, helps: Spark, non-breaking

#11019 Refactor `lists::contains`
  cpp/include/cudf/lists/contains.hpp
  cpp/src/lists/contains.cu
  cpp/tests/lists/contains_tests.cpp
Labels: 3 - Ready for Review, libcudf blocker, libcudf, helps: Spark, improvement, non-breaking

#11134 Remove deprecated PER_THREAD_DEFAULT_STREAM
  build.sh
  cpp/CMakeLists.txt
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: feature request, libcudf, CMake, cuDF (Java), tech debt, non-breaking

#11139 Update get_cucollections to use rapids-cmake
  cpp/cmake/thirdparty/get_cucollections.cmake
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#11138 Remove unnecessary extra function for libcudacxx detection
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_libcudacxx.cmake
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#11128 [Java] Added a Java method to check the existence of a list of keys in a map
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/include/maps_column_view.hpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/maps_column_view.cu
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), non-breaking

#11140 Add new `_from_data_like_self` factory
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#11131 Remove Index.replace API
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
Labels: 3 - Ready for Review, cuDF (Python), tech debt, improvement, breaking

#11145 Refactor Spark hashing tests
  cpp/tests/hashing/hash_test.cpp
Labels: tests, libcudf, improvement, non-breaking

#11152 Fix compatibility issues with pandas 1.4.3
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_concat.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11151 Refactor inline conditionals.
  python/cudf/cudf/_fuzz_testing/io.py
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_interpolate.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_onehot.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/utils/utils.py
Labels: cuDF (Python), 5 - Ready to Merge, tech debt, improvement, non-breaking

#11045 Regex cleanup internal reclass and reclass_device classes
  cpp/src/strings/regex/regcomp.cpp
  cpp/src/strings/regex/regcomp.h
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/regex/regexec.cu
  cpp/tests/strings/contains_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#11154 [REVIEW] Add `nvcc` conda package in dev environment
  conda/environments/cudf_dev_cuda11.5.yml
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#11125 Feature/python benchmarking
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.5.yml
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/benchmarks/API/bench_frame_or_index.py
  python/cudf/benchmarks/API/bench_functions.py
  python/cudf/benchmarks/API/bench_functions_cases.py
  python/cudf/benchmarks/API/bench_index.py
  python/cudf/benchmarks/API/bench_indexed_frame.py
  python/cudf/benchmarks/API/bench_multiindex.py
  python/cudf/benchmarks/API/bench_series.py
  python/cudf/benchmarks/common/config.py
  python/cudf/benchmarks/common/utils.py
  python/cudf/benchmarks/conftest.py
  python/cudf/benchmarks/internal/bench_column.py
  python/cudf/benchmarks/internal/bench_dataframe_internal.py
  python/cudf/benchmarks/internal/bench_rangeindex_internal.py
  python/cudf/benchmarks/internal/conftest.py
  python/cudf/benchmarks/pytest.ini
Labels: feature request, 3 - Ready for Review, gpuCI, cuDF (Python), conda, non-breaking

#11147 Ensure cuco export set is installed in cmake build
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cucollections.cmake
Labels: bug, libcudf, CMake, non-breaking

#11099 Fix regex word boundary logic to include underline
  cpp/src/strings/regex/regex.inl
  cpp/tests/strings/replace_regex_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#11106 Fix split_re matching logic for word boundaries
  cpp/src/strings/count_matches.cu
  cpp/src/strings/split/split_re.cu
  cpp/tests/strings/split_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#11157 Move _drop_rows_by_label from Frame to IndexedFrame
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking

#11142 [REVIEW] Avoid redundant deepcopy in `cudf.from_pandas`
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11022 Function for bfill, ffill #9591
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: feature request, cuDF (Python), non-breaking
