Repository rapidsai/cudf, pull requests merged in 2022-09, with the labels that each got.

#11466 Adds Nested Json benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/json/nested_json.cpp
Labels: feature request, 2 - In Progress, tests, libcudf, CMake, non-breaking

#11637 Fix compile error in benchmark nested_json.cpp
  cpp/benchmarks/io/json/nested_json.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11612 [REVIEW] Fix host scalars construction of nested types
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_struct.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11613 Generic type casting to support the new nested JSON reader
  cpp/include/cudf/io/detail/data_casting.cuh
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/io/json_type_cast_test.cu
Labels: feature request, libcudf, CMake, cuIO, tech debt, non-breaking

#11634 Update zfill to match Python output
  cpp/include/cudf/strings/padding.hpp
  cpp/src/strings/padding.cu
  cpp/tests/strings/pad_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), strings, breaking

#11597 Preserve order if necessary when deduping categoricals internally
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), non-breaking

#11633 [FIX] Fix incorrect `nullCount` in `get_json_object`
  cpp/src/strings/json/json_path.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11614 Generate unique keys table in java JNI `contiguousSplitGroups`
  java/src/main/java/ai/rapids/cudf/ContigSplitGroupByResult.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/ContiguousTableJni.cpp
  java/src/main/native/src/CudfJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/cudf_jni_apis.hpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, cuDF (Java), non-breaking

#11631 Simplify `hostdevice_vector`
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/utilities/hostdevice_vector.hpp
Labels: libcudf, 5 - Ready to Merge, tech debt, improvement, non-breaking

#11649 fixes overflows in benchmarks
  cpp/benchmarks/io/fst.cu
Labels: bug, libcudf, cuIO, non-breaking

#11246 Cache cudf.Scalar
  python/cudf/benchmarks/API/bench_frame_or_index.py
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/_lib/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/utils/utils.py
Labels: cuDF (Python), improvement, non-breaking

#11571 Refactor dask_cudf groupby to use apply_concat_apply
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, tech debt, improvement, non-breaking

#11642 Fix some libcudf detail calls not passing the stream variable
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/src/copying/purge_nonempty_nulls.cu
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/src/unary/null_ops.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11449 Handle some zero-sized corner cases in dlpack interop
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
  cpp/src/interop/dlpack.cpp
  cpp/tests/interop/dlpack_test.cpp
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/tests/test_buffer.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/setup.py
  python/dask_cudf/setup.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, conda, non-breaking

#11646 Call set_null_count on a returning column if null-count is known
  cpp/src/copying/concatenate.cu
  cpp/src/datetime/datetime_ops.cu
  cpp/src/filling/fill.cu
  cpp/src/groupby/sort/group_correlation.cu
  cpp/src/lists/copying/scatter_helper.cu
  cpp/src/lists/set_operations.cu
  cpp/src/reductions/simple_segmented.cuh
  cpp/src/replace/nans.cu
  cpp/src/round/round.cu
  cpp/src/search/contains_column.cu
  cpp/src/strings/capitalize.cu
  cpp/src/strings/contains.cu
  cpp/src/strings/like.cu
  cpp/src/text/stemmer.cu
  cpp/src/unary/math_ops.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11647 Update git metadata
  .gitattributes
  .gitignore
Labels: improvement, non-breaking

#11651 Fix bug in `device_write()`: it uses an incorrect size
  ci/gpu/build.sh
  cpp/src/io/utilities/data_sink.cpp
Labels: bug, gpuCI, libcudf, non-breaking

#11659 Add support for `group_keys` in `groupby`
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11644 Fix regex negated classes to not automatically include new-lines
  cpp/src/strings/regex/regcomp.cpp
  cpp/tests/strings/contains_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, breaking

#11654 Fix invalid regex quantifier check to not include alternation
  cpp/src/strings/regex/regcomp.cpp
  cpp/tests/strings/replace_regex_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11499 Add `gdb` pretty-printers for simple types
  cpp/CMakeLists.txt
  cpp/scripts/gdb-pretty-printers.py
  cpp/scripts/load-pretty-printers.in
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, non-breaking

#11655 Fix multi-file remote datasource bug
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/tests/test_s3.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, Cython, non-breaking

#11640 Update to mypy 0.971
  .pre-commit-config.yaml
  conda/environments/cudf_dev_cuda11.5.yml
  python/cudf/cudf/_typing.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  setup.cfg
Labels: 3 - Ready for Review, code quality, cuDF (Python), conda, improvement, non-breaking

#11677 Maintain the index name after `.loc`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_indexing.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11129 List lexicographic comparator
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/sort/sort_lists.cpp
  cpp/include/cudf/lists/detail/dremel.hpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/table_view.hpp
  cpp/src/binaryop/compiled/struct_binary_ops.cuh
  cpp/src/search/search_ordered.cu
  cpp/src/sort/sort_impl.cuh
  cpp/src/table/row_operators.cu
  cpp/src/table/table_view.cpp
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/sort/sort_test.cpp
  cpp/tests/table/experimental_row_operator_tests.cu
Labels: feature request, libcudf, CMake, non-breaking

#11685 [REVIEW] Ignore protobuf generated files in `mypy` checks
  setup.cfg
Labels: bug, 5 - Ready to Merge, non-breaking

#11671 [REVIEW] Fix issue with extracting nested column data & dtype preservation
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11669 Check conda recipe headers with pre-commit
  .pre-commit-config.yaml
  ci/checks/headers_test.sh
  ci/checks/style.sh
Labels: gpuCI, improvement, non-breaking

#11668 Remove redundant style check for clang-format.
  .pre-commit-config.yaml
  ci/checks/style.sh
  cpp/.clang-format
  cpp/src/column/column_factories.cpp
Labels: gpuCI, libcudf, improvement, non-breaking

#11551 Enable ZSTD compression in ORC and Parquet writers
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/gpuinflate.hpp
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/comp/nvcomp_adapter.cu
  cpp/src/io/comp/nvcomp_adapter.cuh
  cpp/src/io/comp/nvcomp_adapter.hpp
  cpp/src/io/comp/snap.cu
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/orc_common.hpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/comp/decomp_test.cpp
  java/src/main/java/ai/rapids/cudf/CompressionType.java
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: feature request, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, cuDF (Java), non-breaking

#11666 Ensure that all cudf tests and benchmarks are conda env aware
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#11689 [REVIEW] Fix an issue related to `Multindex` when `group_keys=True`
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11586 Fix encode/decode of negative timestamps in ORC reader/writer
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, cuIO, non-breaking

#11690 Default to Snappy compression in `to_orc` when using cuDF or Dask
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/orc.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#11645 Support DECIMAL order-by for RANGE window functions
  cpp/src/rolling/detail/range_window_bounds.hpp
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/range_window_bounds.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/grouped_rolling_range_test.cpp
  cpp/tests/rolling/range_window_bounds_test.cpp
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, 3 - Ready for Review, libcudf, CMake, cuDF (Java), non-breaking

#11697 Fix compile error due to missing header
  cpp/src/io/comp/nvcomp_adapter.hpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11698 [REVIEW] Fix `DataFrame.from_arrow` to preserve type metadata
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11704 Drop split_out=None test from groupby.agg
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: tests, cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11699 Modify ORC reader timestamp parsing to match the apache reader behavior
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.apache_timestamp.orc
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#11681 Special-case multibyte_split for single-byte delimiter
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Labels: libcudf, 5 - Ready to Merge, Performance, improvement, non-breaking

#11121 Add generic type inference for cuIO
  cpp/src/io/fst/agent_dfa.cuh
  cpp/src/io/utilities/column_type_histogram.hpp
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/io/utilities/type_inference.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/io/type_inference_test.cu
Labels: feature request, 3 - Ready for Review, libcudf, CMake, cuIO, non-breaking

#11710 Include decimal in supported types for range window order-by columns
  java/src/main/java/ai/rapids/cudf/Table.java
Labels: cuDF (Java), helps: Spark, improvement, non-breaking

#11712 Add missing copyright headers.
  ci/gpu/test-notebooks.sh
  ci/local/build.sh
  ci/utils/nbtest.sh
  cpp/examples/basic/src/process_csv.cpp
  cpp/include/cudf/io/text/detail/tile_state.hpp
  cpp/tests/utilities/table_utilities.cu
  docs/cudf/source/_ext/PandasCompat.py
  print_env.sh
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/core/udf/__init__.py
  python/cudf/cudf/core/udf/_ops.py
  python/cudf/cudf/core/udf/api.py
  python/cudf/cudf/core/window/__init__.py
  python/cudf/cudf/tests/test_apply_rows.py
  python/cudf/cudf/tests/test_datasets.py
  python/cudf/cudf/tests/test_numpy_interop.py
  python/cudf/cudf/tests/test_query_mask.py
  python/dask_cudf/dask_cudf/io/json.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dask_cudf/tests/test_delayed_io.py
  python/dask_cudf/dask_cudf/tests/test_dispatch.py
  python/dask_cudf/dask_cudf/tests/test_join.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
  python/dask_cudf/dask_cudf/tests/test_struct.py
Labels: improvement, non-breaking

#11715 Fix get_thrust.cmake format at patch command
  cpp/cmake/thirdparty/get_thrust.cmake
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#11680 Remove isort exclusions
  .pre-commit-config.yaml
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/udf/__init__.py
  python/cudf/cudf/io/__init__.py
  python/cudf/cudf/utils/utils.py
  python/cudf/setup.py
  python/cudf_kafka/setup.py
  python/custreamz/setup.py
  python/dask_cudf/setup.py
Labels: cuDF (Python), improvement, non-breaking

#11687 Transfer correct dtype to exploded column
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_list.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11665 Update to Thrust 1.17.2 to fix cub ODR issues
  cpp/cmake/thirdparty/get_thrust.cmake
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#11518 Adds GPU implementation of JSON-token-stream to JSON-tree
  cpp/CMakeLists.txt
  cpp/src/io/json/json_tree.cu
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/json_tree.cpp
  cpp/tests/io/nested_json_test.cpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, non-breaking

#11574 Adds type inference and type conversion for leaf-columns to the nested JSON parser
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json_test.cpp
  cpp/tests/io/nested_json_test.cpp
  python/cudf/cudf/tests/test_json.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), cuIO, non-breaking

#11695 Add regex capture-group parameter to auto convert to non-capture groups
  cpp/include/cudf/strings/regex/flags.hpp
  cpp/src/strings/contains.cu
  cpp/src/strings/extract/extract.cu
  cpp/src/strings/extract/extract_all.cu
  cpp/src/strings/regex/regcomp.cpp
  cpp/src/strings/regex/regcomp.h
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regexec.cu
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/search/findall.cu
  cpp/tests/strings/contains_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#11617 [REVIEW] Upgrade `pandas` to `1.5`
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_setitem.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/setup.py
  python/dask_cudf/setup.py
Labels: gpuCI, cuDF (Python), 5 - Ready to Merge, conda, improvement, breaking

#11725 Don't assume stream is a compile-time constant expression
  cpp/tests/io/json_tree.cpp
  cpp/tests/io/nested_json_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11692 Add a `__dataframe__` method to the protocol dataframe object
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/tests/test_df_protocol.py
Labels: cuDF (Python), improvement, non-breaking

#11682 Adds option to take explicit nested schema for nested JSON reader
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/experimental/read_json.cpp
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/tests/io/json_test.cpp
  cpp/tests/io/nested_json_test.cpp
Labels: feature request, libcudf, cuIO, non-breaking

#11678 Refactor CSV reader benchmarks with nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/csv/csv_reader.cpp
  cpp/benchmarks/io/csv/csv_reader_input.cpp
  cpp/benchmarks/io/csv/csv_reader_options.cpp
  cpp/benchmarks/io/nvbench_helpers.hpp
Labels: 3 - Ready for Review, libcudf, CMake, cuIO, tech debt, improvement, non-breaking

#11623 Refactor parquet writer benchmarks with nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/nvbench_helpers.hpp
  cpp/benchmarks/io/orc/orc_writer.cpp
  cpp/benchmarks/io/parquet/parquet_writer.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks.cpp
Labels: 3 - Ready for Review, libcudf, CMake, cuIO, tech debt, improvement, non-breaking

#11740 Fix ORC string sum statistics
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/orc/stats_enc.cu
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), cuIO, non-breaking

#11735 Update libcudf documentation build command in DOCUMENTATION.md
  cpp/doxygen/developer_guide/DOCUMENTATION.md
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#11706 Disable very large column gtest for contiguous-split
  cpp/tests/copying/split_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11730 Add `strings_udf` package for python 3.9
  ci/cpu/upload.sh
Labels: bug, 3 - Ready for Review, gpuCI, non-breaking

#11732 Reduces memory requirements in JSON parser and adds bytes/s and peak memory usage to benchmarks
  cpp/benchmarks/io/json/nested_json.cpp
  cpp/src/io/json/nested_json_gpu.cu
Labels: libcudf, cuIO, tech debt, improvement, non-breaking

#11745 [REVIEW] Add ability to construct `ListColumn` when size is `None`
  python/cudf/cudf/core/column/column.py
Labels: 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, non-breaking

#11753 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/cudf/cudf/core/column/column.py
Labels: cuDF (Python)

#11755 Resolve dask_cudf failures caused by upstream groupby changes
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: bug, 2 - In Progress, cuDF (Python), dask, non-breaking

#11757 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: cuDF (Python)

#11726 Ensure that all tests launch kernels on cudf's default stream
  cpp/tests/column/column_test.cu
  cpp/tests/column/compound_test.cu
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/copying/detail_gather_tests.cu
  cpp/tests/device_atomics/device_atomics_test.cu
  cpp/tests/error/error_handling_test.cu
  cpp/tests/fixed_point/fixed_point_tests.cu
  cpp/tests/groupby/lists_tests.cu
  cpp/tests/hash_map/map_test.cu
  cpp/tests/io/json_type_cast_test.cu
  cpp/tests/io/type_inference_test.cu
  cpp/tests/iterator/iterator_tests.cuh
  cpp/tests/iterator/optional_iterator_test_numeric.cu
  cpp/tests/iterator/pair_iterator_test_numeric.cu
  cpp/tests/join/conditional_join_tests.cu
  cpp/tests/scalar/scalar_device_view_test.cu
  cpp/tests/strings/factories_test.cu
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/types/type_dispatcher_test.cu
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities_tests/span_tests.cu
  cpp/tests/wrappers/timestamps_test.cu
Labels: bug, 3 - Ready for Review, tests, libcudf, non-breaking

#11610 JSON tree traversal
  cpp/src/io/json/json_tree.cu
  cpp/src/io/json/nested_json.hpp
  cpp/tests/io/json_tree.cpp
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#11763 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  cpp/src/io/json/json_tree.cu
  cpp/src/io/json/nested_json.hpp
  cpp/tests/io/json_tree.cpp
Labels: libcudf

#11747 Add hasNull statistic reading ability to ORC
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
  cpp/tests/io/orc_test.cpp
Labels: feature request, libcudf, cuIO, non-breaking

#11761 [REVIEW] Pass `dtype` param to avoid `pd.Series` warnings
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11759 Ensure all libcudf APIs run on cudf's default stream
  cpp/src/dictionary/search.cu
  cpp/src/interop/to_arrow.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11703 Fix cudf::lists::sort_lists for NaN and Infinity values
  cpp/src/lists/segmented_sort.cu
  cpp/tests/lists/sort_lists_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11773 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/lists/segmented_sort.cu
  cpp/tests/io/parquet_test.cpp
  cpp/tests/lists/sort_lists_tests.cpp
Labels: libcudf

#11772 [REVIEW] Update strings udf version updater script
  ci/release/update-version.sh
Labels: gpuCI, 5 - Ready to Merge, improvement, non-breaking

#11770 [REVIEW] Add doc section for `list` & `struct` handling
  docs/cudf/source/api_docs/index.rst
  docs/cudf/source/api_docs/list_handling.rst
  docs/cudf/source/api_docs/series.rst
  docs/cudf/source/api_docs/struct_handling.rst
Labels: doc, 5 - Ready to Merge, non-breaking

#11760 [REVIEW] Fix issue with set-item incase of `list` and `struct` types
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_setitem.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11769 Fix return type of `Index.isna` & `Index.notna`
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#11777 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: cuDF (Python)

#11762 [REVIEW] Remove `kwargs` in `read_csv` & `to_csv`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#11781 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python)

#11709 Fix `cudf::partition*` APIs that do not return offsets for empty output table
  cpp/src/partitioning/partitioning.cu
  cpp/src/partitioning/round_robin.cu
  cpp/tests/partitioning/hash_partition_test.cpp
  cpp/tests/partitioning/partition_test.cpp
  cpp/tests/partitioning/round_robin_test.cpp
  python/cudf/cudf/_lib/cpp/table/table.pxd
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/core/indexed_frame.py
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), helps: Spark, breaking

#11782 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  cpp/src/partitioning/partitioning.cu
  cpp/src/partitioning/round_robin.cu
  cpp/tests/partitioning/hash_partition_test.cpp
  cpp/tests/partitioning/partition_test.cpp
  cpp/tests/partitioning/round_robin_test.cpp
  python/cudf/cudf/_lib/cpp/table/table.pxd
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/core/indexed_frame.py
Labels: libcudf, cuDF (Python)

#11714 JSON Column creation in GPU
  cpp/CMakeLists.txt
  cpp/benchmarks/io/json/nested_json.cpp
  cpp/include/cudf/io/detail/data_casting.cuh
  cpp/src/io/fst/dispatch_dfa.cuh
  cpp/src/io/json/experimental/read_json.cpp
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/json_tree.cu
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/utilities/type_inference.cuh
  cpp/tests/io/json_tree.cpp
  cpp/tests/io/nested_json_test.cpp
  python/cudf/cudf/tests/test_json.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), CMake, 4 - Needs libcudf Reviewer, cuIO, non-breaking

#11652 Add BGZIP `data_chunk_reader`
  cpp/CMakeLists.txt
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/text/bgzip_data_chunk_source.cu
  cpp/src/io/text/data_chunk_source_factories.cpp
  cpp/src/io/text/device_data_chunks.hpp
  cpp/tests/io/text/data_chunk_source_test.cpp
Labels: feature request, libcudf, CMake, 4 - Needs libcudf Reviewer, non-breaking

#11746 [REVIEW] Enable `schema_element` & `keep_quotes` support in json reader
  python/cudf/cudf/_lib/cpp/io/json.pxd
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking, deprecation

#11738 Add `istitle` to string UDFs
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/strings_udf/cpp/include/cudf/strings/udf/char_types.cuh
  python/strings_udf/cpp/src/strings/udf/shim.cu
  python/strings_udf/strings_udf/_typing.py
  python/strings_udf/strings_udf/lowering.py
  python/strings_udf/strings_udf/tests/test_string_udfs.py
Labels: feature request, cuDF (Python), non-breaking

#11751 Document that minimum required CMake version is now 3.23.1
  CONTRIBUTING.md
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/strings_udf/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
  python/cudf/CMakeLists.txt
  python/cudf/pyproject.toml
  python/strings_udf/CMakeLists.txt
  python/strings_udf/cpp/CMakeLists.txt
Labels: 3 - Ready for Review, doc, libcudf, cuDF (Python), CMake, conda, cuDF (Java), non-breaking

#11565 [REVIEW] Reduce code duplication for `dask` & `distributed` nightly/stable installs
  ci/benchmark/build.sh
  ci/gpu/build.sh
Labels: bug, gpuCI, 5 - Ready to Merge, non-breaking

#11785 Build `cudf` locally before building `strings_udf` conda packages in CI
  ci/cpu/build.sh
Labels: bug, gpuCI, non-breaking

#11576 Expose "explicit-comms" option in shuffle-based dask_cudf functions
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: cuDF (Python), 4 - Needs Dask Reviewer, improvement, non-breaking

#11733 Add docs for use of string data to `DataFrame.apply` and `Series.apply` and update guide to UDFs notebook
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Labels: 3 - Ready for Review, doc, cuDF (Python), non-breaking

#11779 Fix an issue in cudf::row_bit_count involving structs and lists at multiple levels.
  cpp/src/transform/row_bit_count.cu
  cpp/tests/transform/row_bit_count_test.cu
Labels: bug, libcudf, non-breaking

#11801 Merge branch-22.10 into branch-22.12
  CONTRIBUTING.md
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/strings_udf/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  cpp/src/transform/row_bit_count.cu
  cpp/tests/transform/row_bit_count_test.cu
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
  java/src/main/native/CMakeLists.txt
  python/cudf/CMakeLists.txt
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/pyproject.toml
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
  python/strings_udf/CMakeLists.txt
  python/strings_udf/cpp/CMakeLists.txt
Labels: gpuCI, git, libcudf, cuDF (Python), CMake, 5 - Ready to Merge, conda, cuDF (Java), improvement, non-breaking

#11797 Fix regex out-of-bounds write in strided rows logic
  cpp/src/strings/regex/utilities.cuh
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#11803 Revert problematic shuffle=explicit-comms changes
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11808 Build `strings_udf` package with other python packages in nightlies
  ci/cpu/upload.sh
Labels: bug, gpuCI, non-breaking

#11800 Support shuffle-based groupby aggregations in dask_cudf
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 2 - In Progress, cuDF (Python), improvement, non-breaking

#11816 [REVIEW] Fix operator `NotImplemented` issue with `numpy`
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_scalar.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11798 Fix compile warning from CUDF_FUNC_RANGE in a member function
  cpp/include/cudf/detail/nvtx/nvtx3.hpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11814 Add examples for Nested JSON reader
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11823 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python)

#11824 [REVIEW] Pin `numpy` to `<1.23`
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
Labels: 3 - Ready for Review, conda, improvement, breaking, non-breaking

#11811 Disable nvCOMP DEFLATE integration
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, breaking

#11711 Fix copyright check issues in pre-commit
  .pre-commit-config.yaml
  ci/checks/copyright.py
  ci/checks/gitutils.py
  ci/checks/style.sh
Labels: 2 - In Progress, gpuCI, improvement, non-breaking

#11701 Use CubinLinker for CUDA Minor Version Compatibility
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/udf/__init__.py
  python/cudf/setup.py
  python/dask_cudf/setup.py
  python/strings_udf/strings_udf/__init__.py
  python/strings_udf/strings_udf/tests/test_string_udfs.py
Labels: 3 - Ready for Review, gpuCI, cuDF (Python), conda, improvement, non-breaking

#11799 Update docstring for cudf.read_text
  python/cudf/cudf/utils/ioutils.py
Labels: doc, cuDF (Python), non-breaking

#11832 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python)

#11836 Fix bug in new shuffle-based groupby implementation
  python/dask_cudf/dask_cudf/groupby.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask, non-breaking
