Repository rapidsai/cudf, pull requests merged in 2022-04, with the labels that each got.

#10560 Add Replace Backreferences section to Regex Features page
  cpp/doxygen/regex.md
  cpp/include/cudf/strings/split/split_re.hpp
Labels: 3 - Ready for Review, doc, libcudf, strings, non-breaking

#10570 pin more cmake versions
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
Labels: bug, 3 - Ready for Review, conda, non-breaking

#10568 JNI Bindings to fetch CUDA compute capability versions.
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/native/src/CudaJni.cpp
Labels: feature request, 3 - Ready for Review, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#10503 [REVIEW] Upgrade `arrow-cpp` & `pyarrow` to `7.0.0`
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
Labels: libcudf, CMake, 5 - Ready to Merge, conda, improvement, non-breaking

#10561 Fix doxygen Modules page for cudf::lists::sequences
  cpp/include/cudf/lists/combine.hpp
  cpp/include/doxygen_groups.h
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#10585 Fix missing RMM_STATIC_CUDART define when compiling JNI with static CUDA runtime
  java/ci/build-in-docker.sh
  java/src/main/native/CMakeLists.txt
Labels: bug, CMake, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#10577 Add patch for thrust-cub 1.16 to fix sort compile times
  cpp/cmake/thrust.patch
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#10516 Remove ColumnBase.__getitem__
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_df_protocol.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_testing.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10586 Revert Thrust 1.16 to Thrust 1.15
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/cmake/thrust.patch
Labels: bug, libcudf, CMake, non-breaking

#10581 Refactor binary ops for timedelta and datetime columns
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10594 Update deprecated methods in 10 min CuPy notebook
  docs/cudf/source/user_guide/10min-cudf-cupy.ipynb
Labels: 3 - Ready for Review, doc, non-breaking

#10598 [REVIEW] Resolve Forward merging of `branch-22.04` into `branch-22.06`
  ci/cpu/upload.sh
  ci/release/update-version.sh
  ci/utils/nbtestlog2junitxml.py
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/io/cuio_common.cpp
  cpp/benchmarks/io/cuio_common.hpp
  cpp/benchmarks/join/conditional_join.cu
  cpp/benchmarks/join/left_join.cu
  cpp/benchmarks/lists/copying/scatter_lists.cu
  cpp/benchmarks/null_mask/set_null_mask.cpp
  cpp/benchmarks/string/convert_durations.cpp
  cpp/benchmarks/text/replace.cpp
  cpp/benchmarks/text/subword.cpp
  cpp/examples/basic/CMakeLists.txt
  cpp/scripts/run-clang-format.py
  cpp/scripts/run-clang-tidy.py
  cpp/src/io/utilities/config_utils.cpp
  cpp/src/io/utilities/config_utils.hpp
  cpp/src/join/conditional_join.cu
  cpp/tests/join/mixed_join_tests.cu
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/10min-cudf-cupy.ipynb
  fetch_rapids.cmake
  java/src/main/native/src/cudf_jni_apis.hpp
  python/cudf/cudf/_fuzz_testing/io.py
  python/cudf/cudf/_fuzz_testing/main.py
  python/cudf/cudf/_version.py
  python/cudf/cudf/comm/gpuarrow.py
  python/cudf/cudf/core/udf/row_function.py
  python/cudf/cudf/core/udf/scalar_function.py
  python/cudf/cudf/core/udf/templates.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/datasets.py
  python/cudf/cudf/errors.py
  python/cudf/cudf/tests/test_copying.py
  python/cudf/cudf/tests/test_factorize.py
  python/cudf/cudf/tests/test_gcs.py
  python/cudf/cudf/tests/test_hdfs.py
  python/cudf/cudf/tests/test_pack.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_struct.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/cudf/utils/gpu_utils.py
  python/cudf/cudf/utils/queryutils.py
  python/cudf_kafka/cudf_kafka/_version.py
  python/cudf_kafka/versioneer.py
  python/custreamz/custreamz/_version.py
  python/custreamz/custreamz/tests/test_dataframes.py
  python/dask_cudf/dask_cudf/_version.py
  python/dask_cudf/dask_cudf/io/orc.py
Labels: 3 - Ready for Review, improvement, non-breaking

#10513 Support nvComp 2.3 if local, otherwise use nvcomp 2.2
  cpp/cmake/thirdparty/get_nvcomp.cmake
  java/src/main/java/ai/rapids/cudf/nvcomp/LZ4Compressor.java
  java/src/main/java/ai/rapids/cudf/nvcomp/LZ4Decompressor.java
  java/src/main/java/ai/rapids/cudf/nvcomp/NvcompJni.java
  java/src/main/native/src/NvcompJni.cpp
  java/src/test/java/ai/rapids/cudf/nvcomp/NvcompTest.java
Labels: feature request, 3 - Ready for Review, libcudf, CMake, cuDF (Java), breaking

#10545 [FEA] Enable building static libs
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cucollections.cmake
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#10597 Fix strings strip() to accept only str Scalar for to_strip parameter
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#10547 Add default= kwarg to .list.get() accessor method
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: feature request, cuDF (Python), breaking

#10576 Move binop methods from Frame to IndexedFrame and standardize the docstring
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, breaking

#10610 Verify compression type in Parquet reader
  cpp/src/io/parquet/reader_impl.cu
  python/cudf/cudf/tests/data/parquet/spark_zstd.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, cuDF (Python), cuIO, non-breaking

#10619 Allow libcudfjni to be built as a static library
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: CMake, cuDF (Java), Spark, 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#10559 Reduce kernel calls to build strings findall results
  cpp/src/strings/search/findall.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#10555 Update strings contains benchmark to measure varying match rates
  cpp/benchmarks/string/contains.cpp
  cpp/src/strings/regex/regex.cuh
  cpp/tests/strings/contains_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#10624 Branch 22.06 merge 22.04
  CHANGELOG.md
Labels: improvement, non-breaking

#10627 Fix type-o in docstring for json_reader_options
  cpp/include/cudf/io/json.hpp
Labels: doc, libcudf, non-breaking

#10604 Fix struct row comparator's exception on empty structs
  cpp/benchmarks/sort/sort_structs.cpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/table/row_operators.cu
  cpp/tests/sort/sort_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#10549 Add python bindings for cudf::list::index_of
  python/cudf/cudf/_lib/cpp/lists/contains.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), non-breaking

#10580 Refactor cudf::strings::count_re API to use count_matches utility
  cpp/src/strings/contains.cu
  cpp/src/strings/count_matches.cu
  cpp/src/strings/count_matches.hpp
  cpp/src/strings/extract/extract_all.cu
  cpp/src/strings/search/findall.cu
  cpp/src/strings/search/findall_record.cu
  cpp/src/strings/split/split_re.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#10607 Update guide to UDFs with notes about `Series.applymap` deprecation and related changes
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
Labels: doc, non-breaking

#10623 [REVIEW] Unpin `dask` & `distributed` for development
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/setup.py
Labels: gpuCI, cuDF (Python), 5 - Ready to Merge, conda, improvement, non-breaking

#10631 Fix 10 minute cupy notebook for older cupy versions
  docs/cudf/source/user_guide/10min-cudf-cupy.ipynb
Labels: 3 - Ready for Review, doc, non-breaking

#10617 Fix to_timestamps to support Z for %z format specifier
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#10622 Slightly improve accuracy of stod in to_floats
  cpp/src/strings/convert/convert_floats.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#10578 Automate Java cudf jar build with statically linked dependencies
  build.sh
  java/ci/Dockerfile.centos7
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: CMake, cuDF (Java), tech debt, improvement, non-breaking

#10564 Enable passing a sequence for the `index` argument to `.list.get()`
  python/cudf/cudf/_lib/cpp/lists/extract.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: feature request, cuDF (Python), 5 - Ready to Merge, non-breaking

#10640 Use cudf.read_json as documented API name.
  docs/cudf/source/api_docs/io.rst
  python/cudf/cudf/utils/ioutils.py
Labels: doc, cuDF (Python), non-breaking

#10639 Fix docstring section headings.
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/cudf/utils/utils.py
Labels: doc, cuDF (Python), non-breaking

#10642 Remove `concurrent_unordered_multimap`.
  cpp/src/hash/concurrent_unordered_multimap.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/hash_map/multimap_test.cu
Labels: libcudf, CMake, tech debt, improvement, non-breaking

#10643 Add missing APIs to documentation.
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/utils/ioutils.py
Labels: doc, cuDF (Python), non-breaking

#10289 List element Equality comparator
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reduction/rank.cpp
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/iterator.cuh
  cpp/include/cudf/detail/utilities/column.hpp
  cpp/include/cudf/lists/list_device_view.cuh
  cpp/include/cudf/lists/lists_column_device_view.cuh
  cpp/include/cudf/structs/structs_column_device_view.cuh
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/reductions/scan/rank_scan.cu
  cpp/src/table/row_operators.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/reductions/list_rank_test.cpp
Labels: feature request, libcudf, CMake, 4 - Needs libcudf Reviewer, conda, non-breaking

#10651 Remove implementation details from `apply` docstrings
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Labels: doc, cuDF (Python), 5 - Ready to Merge, non-breaking

#10542 Add `cudf.DataFrame.applymap`
  docs/cudf/source/api_docs/dataframe.rst
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_applymap.py
  python/dask_cudf/dask_cudf/tests/test_applymap.py
  python/dask_cudf/dask_cudf/tests/test_binops.py
  python/dask_cudf/dask_cudf/tests/utils.py
Labels: feature request, 3 - Ready for Review, numba, cuDF (Python), dask, non-breaking

#10647 Deprecate various functions that don't need to be defined for Index.
  python/cudf/cudf/core/frame.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10646 Update pinning to allow newer CMake versions.
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
Labels: 3 - Ready for Review, conda, improvement, non-breaking

#10630 Improve cudf::cuda_error
  cpp/include/cudf/utilities/error.hpp
  cpp/include/cudf_test/cudf_gtest.hpp
  cpp/tests/error/error_handling_test.cu
Labels: libcudf, tech debt, improvement, non-breaking

#10573 Cleanup libcudf strings regex classes
  cpp/src/strings/regex/regcomp.cpp
  cpp/src/strings/regex/regcomp.h
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/regex/regexec.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#10629 Add support for numeric_only in DataFrame._reduce
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_stats.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), non-breaking

#10658 Clean up C++ includes to use <> instead of "".
  cpp/benchmarks/io/orc/orc_writer.cpp
  cpp/benchmarks/sort/rank.cpp
  cpp/benchmarks/string/convert_durations.cpp
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/libcudf_kafka/src/kafka_callback.cpp
  cpp/libcudf_kafka/src/kafka_consumer.cpp
  cpp/src/merge/merge.cu
  cpp/src/structs/structs_column_view.cpp
  cpp/tests/binaryop/binop-compiled-fixed_point-test.cpp
  cpp/tests/hash_map/map_test.cu
  cpp/tests/iterator/value_iterator_test_strings.cu
  cpp/tests/partitioning/partition_test.cpp
Labels: code quality, libcudf, tech debt, improvement, non-breaking

#10663 Improve User Guide docs
  docs/cudf/source/basics/basics.rst
  docs/cudf/source/basics/internals.rst
  docs/cudf/source/basics/io-gds-integration.rst
  docs/cudf/source/basics/io-nvcomp-integration.rst
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/single_column_frame.py
Labels: doc, cuDF (Python), 5 - Ready to Merge, non-breaking

#10660 [REVIEW] Fix some docstrings formatting
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/api_docs/series.rst
  docs/cudf/source/api_docs/string_handling.rst
  docs/cudf/source/conf.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/tools/numeric.py
Labels: doc, cuDF (Python), 5 - Ready to Merge, non-breaking

#10488 Add option to drop cache in cuIO benchmarks
  cpp/benchmarks/io/csv/csv_reader.cpp
  cpp/benchmarks/io/cuio_common.cpp
  cpp/benchmarks/io/cuio_common.hpp
  cpp/benchmarks/io/orc/orc_reader.cpp
  cpp/benchmarks/io/parquet/parquet_reader.cpp
  cpp/benchmarks/io/text/multibyte_split.cpp
Labels: feature request, tests, libcudf, cuIO, non-breaking

#10662 cuco isn't a cudf dependency when we are built shared
  cpp/cmake/thirdparty/get_cucollections.cmake
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#10668 Update UDF notebook in User Guide.
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
Labels: doc, non-breaking

#10664 Use `std::filesystem` for temporary directory location and deletion
  cpp/benchmarks/text/subword.cpp
  cpp/include/cudf_test/file_utilities.hpp
Labels: tests, libcudf, improvement, non-breaking

#10504 Add column field ID control in parquet writer
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_test.cpp
  java/src/main/java/ai/rapids/cudf/ColumnWriterOptions.java
  java/src/main/java/ai/rapids/cudf/CompressionMetadataWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#10625 Add support for null and non-numeric types in Series.diff and DataFrame.diff
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/cudautils.py
Labels: cuDF (Python), improvement, non-breaking

#10649 Rework JNI CMake to leverage rapids_find_package
  build.sh
  java/README.md
  java/ci/build-in-docker.sh
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: CMake, cuDF (Java), improvement, non-breaking

#10678 Fix list of testing requirements in setup.py.
  python/cudf/setup.py
Labels: bug, cuDF (Python), non-breaking

#10680 Standardize imports.
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/null_mask.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/rolling.pyx
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/tests/test_api_types.py
  python/cudf/cudf/tests/test_contains.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_hdfs.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/queryutils.py
Labels: code quality, cuDF (Python), improvement, non-breaking

#10679 Standardize usage of collections.abc.
  python/cudf/cudf/_fuzz_testing/json.py
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/api/types.py
  python/cudf/cudf/comm/gpuarrow.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/_utils.py
Labels: code quality, cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10669 Enable segmented_gather in Java package
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), non-breaking

#10463 Use Lists of Columns for Various Files
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/partitioning.pyx
  python/cudf/cudf/_lib/quantiles.pyx
  python/cudf/cudf/_lib/reshape.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/search.pyx
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/tests/test_search.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10661 cleanup benchmark includes
  cpp/benchmarks/copying/contiguous_split.cu
  cpp/benchmarks/copying/copy_if_else.cpp
  cpp/benchmarks/hashing/hash.cpp
  cpp/benchmarks/io/csv/csv_reader.cpp
  cpp/benchmarks/io/csv/csv_writer.cpp
  cpp/benchmarks/io/cuio_common.hpp
  cpp/benchmarks/io/orc/orc_reader.cpp
  cpp/benchmarks/io/orc/orc_writer.cpp
  cpp/benchmarks/io/parquet/parquet_reader.cpp
  cpp/benchmarks/io/parquet/parquet_writer.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks.cpp
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/benchmarks/iterator/iterator.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/merge/merge.cpp
  cpp/benchmarks/null_mask/set_null_mask.cpp
  cpp/benchmarks/reduction/scan.cpp
  cpp/benchmarks/replace/clamp.cpp
  cpp/benchmarks/replace/nans.cpp
  cpp/benchmarks/sort/rank.cpp
  cpp/benchmarks/sort/sort.cpp
  cpp/benchmarks/sort/sort_strings.cpp
  cpp/benchmarks/sort/sort_structs.cpp
  cpp/benchmarks/string/case.cpp
  cpp/benchmarks/string/combine.cpp
  cpp/benchmarks/string/contains.cpp
  cpp/benchmarks/string/convert_datetime.cpp
  cpp/benchmarks/string/convert_durations.cpp
  cpp/benchmarks/string/convert_fixed_point.cpp
  cpp/benchmarks/string/convert_numerics.cpp
  cpp/benchmarks/string/copy.cu
  cpp/benchmarks/string/extract.cpp
  cpp/benchmarks/string/factory.cu
  cpp/benchmarks/string/filter.cpp
  cpp/benchmarks/string/find.cpp
  cpp/benchmarks/string/repeat_strings.cpp
  cpp/benchmarks/string/replace.cpp
  cpp/benchmarks/string/replace_re.cpp
  cpp/benchmarks/string/split.cpp
  cpp/benchmarks/string/substring.cpp
  cpp/benchmarks/string/translate.cpp
  cpp/benchmarks/string/url_decode.cu
  cpp/benchmarks/text/ngrams.cpp
  cpp/benchmarks/text/normalize.cpp
  cpp/benchmarks/text/normalize_spaces.cpp
  cpp/benchmarks/text/replace.cpp
  cpp/benchmarks/text/subword.cpp
  cpp/benchmarks/text/tokenize.cpp
  cpp/benchmarks/type_dispatcher/type_dispatcher.cu
Labels: 3 - Ready for Review, tests, code quality, libcudf, 4 - Needs libcudf Reviewer, tech debt, improvement, non-breaking

#10671 Split up mixed-join kernels source files
  cpp/CMakeLists.txt
  cpp/src/join/mixed_join_kernel.cu
  cpp/src/join/mixed_join_kernel.cuh
  cpp/src/join/mixed_join_kernel_nulls.cu
  cpp/src/join/mixed_join_size_kernel.cu
  cpp/src/join/mixed_join_size_kernel.cuh
  cpp/src/join/mixed_join_size_kernel_nulls.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#10653 Handle RuntimeError thrown by CUDA Python in `validate_setup`
  python/cudf/cudf/utils/gpu_utils.py
Labels: cuDF (Python), improvement, non-breaking

#10675 Cython API Refactor: `transpose.pyx`, `sort.pyx`
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10677 add data generation to benchmark documentation
  cpp/docs/BENCHMARKING.md
Labels: 3 - Ready for Review, doc, tests, libcudf, non-breaking

#10635 Improve parquet dictionary encoding
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
Labels: 3 - Ready for Review, libcudf, cuIO, tech debt, improvement, non-breaking

#10690 Fix sphinx/jupyter heading issue in UDF notebook
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
Labels: 3 - Ready for Review, doc, non-breaking

#10462 Additional refactoring of hash functions
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/src/groupby/hash/groupby.cu
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/partitioning/partitioning.cu
  cpp/src/text/subword/bpe_tokenizer.cu
  cpp/src/text/subword/bpe_tokenizer.cuh
  cpp/src/text/subword/load_merges_file.cu
Labels: libcudf, improvement, breaking

#10593 KvikIO as an alternative GDS backend
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_kvikio.cmake
  cpp/src/io/utilities/config_utils.cpp
  cpp/src/io/utilities/config_utils.hpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
  docs/cudf/source/basics/io-gds-integration.rst
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#10684 Remove cudf::strings::string namespace
  cpp/include/cudf/strings/string.cuh
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_integers.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#10252 Introduce deprecation policy to developer guide.
  cpp/docs/DEVELOPER_GUIDE.md
  cpp/docs/DOCUMENTATION.md
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#10682 Support `args` in groupby apply
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: feature request, 2 - In Progress, cuDF (Python), non-breaking

#10693 Add `.list.astype()` to cast list leaves to specified dtype
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: feature request, cuDF (Python), non-breaking

#10705 Remove or simplify various utility functions
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dropna.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/utils/utils.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), improvement, non-breaking

#10698 Cython API refactor: `merge.pyx`
  python/cudf/cudf/_lib/merge.pyx
  python/cudf/cudf/core/reshape.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10672 Fix rounding to zero error in stod on very small float numbers
  cpp/src/strings/convert/convert_floats.cu
  cpp/tests/strings/floats_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#10551 JNI: throw CUDA errors more specifically
  java/src/main/java/ai/rapids/cudf/CudaException.java
  java/src/main/java/ai/rapids/cudf/CudaFatalException.java
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/CudaJni.cpp
  java/src/test/java/ai/rapids/cudf/CudaTest.java
Labels: cuDF (Java), 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#10729 [REVIEW] Fix `fillna` to retain `columns` when it is `MultiIndex`
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_replace.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#10685 Migrated user guide notebooks to MyST-NB and added sphinx extension
  conda/environments/cudf_dev_cuda11.5.yml
  docs/cudf/source/_static/params.css
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/10min.ipynb
Labels: doc, conda, non-breaking

#10732 Rename tests from multiIndex to multiindex.
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_repr.py
Labels: cuDF (Python), improvement, non-breaking

#10716 Retain series name in `Series.apply`
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Labels: bug, cuDF (Python), non-breaking

#10567 First step toward statistics in ORC files with chunked writes
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/statistics/column_statistics.cuh
  cpp/src/io/statistics/statistics.cuh
  cpp/src/io/utilities/hostdevice_vector.hpp
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, non-breaking

#10683 JNI: Add generateListOffsets API
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/ColumnViewJni.cu
  java/src/main/native/src/ColumnViewJni.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), Spark, 4 - Needs cuDF (Java) Reviewer, non-breaking

#10697 [REVIEW] Fix random string data length to become variable
  python/cudf/cudf/testing/dataset_generator.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10721 Missing `f` prefix on f-strings fix
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/testing/testing.py
  python/dask_cudf/dask_cudf/io/orc.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10737 Fix `cupy` function in notebook
  docs/cudf/source/user_guide/10min-cudf-cupy.ipynb
Labels: bug, 5 - Ready to Merge, non-breaking

#10734 Improve use of isinstance.
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/dtypes.py
Labels: code quality, cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10735 Use canonical "magic methods" (replace `x.__repr__()` with `repr(x)`).
  python/cudf/cudf/_fuzz_testing/fuzzer.py
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_repr.py
Labels: code quality, cuDF (Python), improvement, non-breaking

#10689 Deprecate index merging
  python/cudf/cudf/core/_base_index.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10726 Use structured bindings instead of std::tie
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/quantiles/quantile.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/rolling/rolling_collect_list.cuh
  cpp/src/strings/copying/concatenate.cu
  cpp/tests/partitioning/hash_partition_test.cpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/sort/rank_test.cpp
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/unary/cast_tests.cpp
Labels: 3 - Ready for Review, libcudf, 4 - Needs libcudf Reviewer, tech debt, improvement, non-breaking

#10696 Add bindings for index_of with column search key
  python/cudf/cudf/_lib/cpp/lists/contains.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10727 Replace std::make_pair with std::pair (C++17 CTAD)
  cpp/benchmarks/reduction/segment_reduce.cu
  cpp/docs/DEVELOPER_GUIDE.md
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/valid_if.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/copying/contiguous_split.cu
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_collect.cu
  cpp/src/groupby/sort/scan.cpp
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/join/conditional_join.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join.cu
  cpp/src/join/join_utils.cu
  cpp/src/join/mixed_join.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/copying/scatter_helper.cu
  cpp/src/partitioning/partitioning.cu
  cpp/src/partitioning/round_robin.cu
  cpp/src/replace/clamp.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/json/json_path.cu
  cpp/src/strings/repeat_strings.cu
  cpp/src/structs/utilities.cpp
  cpp/src/text/subword/data_normalizer.cu
  cpp/src/transform/bools_to_mask.cu
  cpp/src/transform/encode.cu
  cpp/src/transform/nans_to_nulls.cu
  cpp/src/transform/one_hot_encode.cu
  cpp/src/transpose/transpose.cu
  cpp/tests/groupby/m2_tests.cpp
  cpp/tests/groupby/merge_lists_tests.cpp
  cpp/tests/groupby/merge_m2_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
  cpp/tests/interop/to_arrow_test.cpp
  cpp/tests/join/conditional_join_tests.cu
  cpp/tests/join/join_tests.cpp
  cpp/tests/join/mixed_join_tests.cu
  cpp/tests/merge/merge_test.cpp
  cpp/tests/search/search_struct_test.cpp
  cpp/tests/stream_compaction/distinct_count_tests.cpp
  cpp/tests/stream_compaction/unique_count_tests.cpp
  cpp/tests/strings/translate_tests.cpp
Labels: 3 - Ready for Review, code quality, libcudf, 4 - Needs libcudf Reviewer, tech debt, improvement, non-breaking

#10724 Fix scatter for all-empty-string column case
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/src/lists/copying/scatter_helper.cu
  cpp/src/strings/utilities.cu
  cpp/tests/copying/scatter_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#10644 Revise CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc, non-breaking

#10709 Prepare dask_cudf test_parquet.py for upcoming API changes
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, improvement, non-breaking

#8022 Implement DataFrame.eval using libcudf ASTs
  cpp/include/cudf/ast/expressions.hpp
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/cpp/expressions.pxd
  python/cudf/cudf/_lib/cpp/transform.pxd
  python/cudf/cudf/_lib/expressions.pxd
  python/cudf/cudf/_lib/expressions.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/_internals/expressions.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), non-breaking

#10695 Add `detail::hash_join`
  cpp/include/cudf/detail/join.hpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/join.hpp
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/join_utils.cu
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_kernel.cuh
  cpp/src/join/mixed_join_semi.cu
  cpp/src/join/mixed_join_size_kernel.cuh
  cpp/src/join/semi_join.cu
Labels: feature request, 3 - Ready for Review, libcudf, tech debt, non-breaking

#9569 Implement all methods of groupby rank aggregation in libcudf, python
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_rank_benchmark.cu
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/scan.hpp
  cpp/include/cudf/sorting.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/functors.hpp
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_scan.hpp
  cpp/src/groupby/sort/scan.cpp
  cpp/src/reductions/scan/rank_scan.cu
  cpp/src/reductions/scan/scan.cpp
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/list_rank_test.cpp
  cpp/tests/reductions/rank_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
  java/src/main/native/src/AggregationJni.cpp
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/_lib/cpp/sorting.pxd
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/sort.pxd
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_groupby.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), CMake, 4 - Needs cuDF (Python) Reviewer, 4 - Needs libcudf Reviewer, cuDF (Java), non-breaking

#10699 Partial cuIO GPU decompression refactor
  cpp/CMakeLists.txt
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/gpuinflate.h
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/comp/nvcomp_adapter.cu
  cpp/src/io/comp/nvcomp_adapter.cuh
  cpp/src/io/comp/nvcomp_adapter.hpp
  cpp/src/io/comp/snap.cu
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/tests/io/comp/decomp_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, cuIO, improvement, non-breaking

#10748 Enable pydocstyle rules involving quotes
  .pre-commit-config.yaml
  python/.flake8
  python/cudf/cudf/comm/gpuarrow.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Labels: 3 - Ready for Review, doc, cuDF (Python), non-breaking

#10759 Enable pydocstyle for all packages.
  .pre-commit-config.yaml
  python/.flake8
  python/custreamz/custreamz/kafka.py
Labels: doc, cuDF (Python), non-breaking

#10750 Fix an issue with one_level_list schemas in parquet reader.
  cpp/src/io/parquet/reader_impl.cu
  python/cudf/cudf/tests/data/parquet/one_level_list2.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, cuDF (Python), 4 - Needs libcudf Reviewer, non-breaking

#10447 Support Segmented Min/Max Reduction on String Type
  cpp/include/cudf/detail/reduction.cuh
  cpp/include/cudf/detail/utilities/element_argminmax.cuh
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/reductions/simple_segmented.cuh
  cpp/tests/reductions/segmented_reduction_tests.cpp
Labels: feature request, libcudf, 5 - Ready to Merge, non-breaking

#10762 Flush output streams before creating a process to drop caches
  cpp/benchmarks/io/cuio_common.cpp
Labels: tests, libcudf, cuIO, improvement, non-breaking

#10736 Use generator expressions in any/all functions.
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_custom_accessor.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_text.py
Labels: code quality, cuDF (Python), improvement, non-breaking
