Repository rapidsai/cudf, pull requests merged in 2022-03, with the labels that each got.

#10362 Fix warnings in test_csv.py.
  python/cudf/cudf/tests/test_csv.py
Labels: cuDF (Python), improvement, non-breaking

#10150 byte_range support for multibyte_split/read_text
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/io/text/byte_range_info.hpp
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/include/cudf/io/text/detail/trie.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/byte_range_info.cpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
  python/cudf/cudf/_lib/cpp/io/text.pxd
  python/cudf/cudf/_lib/text.pyx
  python/cudf/cudf/io/text.py
  python/cudf/cudf/tests/test_text.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), CMake, conda, non-breaking

#10349 Create a dispatcher for invoking regex kernel functions
  cpp/src/strings/contains.cu
  cpp/src/strings/count_matches.cu
  cpp/src/strings/extract/extract.cu
  cpp/src/strings/extract/extract_all.cu
  cpp/src/strings/regex/dispatcher.hpp
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/search/findall.cu
  cpp/src/strings/search/findall_record.cu
  cpp/src/strings/split/split_re.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#10360 Implement a mixin for binops
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/mixins/__init__.py
  python/cudf/cudf/core/mixins/binops.py
  python/cudf/cudf/core/mixins/binops.pyi
  python/cudf/cudf/core/mixins/mixin_factory.py
  python/cudf/cudf/core/mixins/reductions.pyi
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/utils/utils.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10364 Refactor array function
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/utils/utils.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10385 Include <optional> in multibyte split.
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/multibyte_split.cu
Labels: bug, libcudf, non-breaking

#10377 [REVIEW] Fix issue with column and scalar re-assignment
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_setitem.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#10374 [REVIEW] Add `nvtx` annotations for `Series` and `Index`
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10262 Rewrites `sample` API
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/conftest.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, breaking

#10381 Consolidate some Frame APIs
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking, deprecation

#10358 Implement a mixin for scans
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/mixins/__init__.py
  python/cudf/cudf/core/mixins/scans.py
  python/cudf/cudf/core/mixins/scans.pyi
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10332 Support `min` and `max` operations for structs in rolling window
  cpp/src/reductions/struct_minmax_util.cuh
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, Spark, non-breaking

#10387 Add `cudf::stable_sort_by_key`
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/sorting.hpp
  cpp/src/sort/stable_sort.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/sort/sort_test.cpp
  cpp/tests/sort/stable_sort_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#10372 Fix floating point data generation in benchmarks
  cpp/benchmarks/common/generate_input.hpp
Labels: bug, tests, libcudf, cuIO, Performance, non-breaking

#10373 Support Java bindings for Avro reader
  java/src/main/java/ai/rapids/cudf/AvroOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/resources/alltypes_plain.avro
Labels: feature request, 5 - Ready to Merge, cuDF (Java), non-breaking

#10347 [REVIEW] Fix `codecov` in CI
  ci/gpu/build.sh
  python/cudf/.coveragerc
  python/dask_cudf/.coveragerc
Labels: gpuCI, 5 - Ready to Merge, improvement, non-breaking

#10369 Move standalone UTF8 functions from string_view.hpp to utf8.hpp
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/strings/detail/utf8.hpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
Labels: 3 - Ready for Review, libcudf, conda, strings, improvement, non-breaking

#10395 Limiting async allocator using alignment of 512
  java/src/main/native/src/RmmJni.cpp
Labels: bug, 3 - Ready for Review, RMM, cuDF (Java), Spark, non-breaking

#9847 Pin libcudf runtime dependency for cudf / libcudf-kafka nightlies
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf_kafka/meta.yaml
Labels: bug, 3 - Ready for Review, conda, non-breaking

#9882 Add `assert_column_memory_*`
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_testing.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking, inactive-30d

#10379 Refactor hash function templates and `hash_combine`
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/table/row_operators.cuh
Labels: libcudf, improvement, breaking

#10359 Refactor cython interface: `copying.pyx`
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
Labels: cuDF (Python), tech debt, improvement, non-breaking

#10398 Fix error thrown in compiled-binaryop benchmark
  cpp/benchmarks/binaryop/compiled_binaryop.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#10402 Fix warnings in test_cuda_apply, test_numerical, test_pickling, test_unaops.
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/tests/test_cuda_apply.py
  python/cudf/cudf/tests/test_pickling.py
  python/cudf/cudf/tests/test_unaops.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10405 Fix warnings in `test_rolling`
  python/cudf/cudf/tests/test_rolling.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10403 Fix lifespan of the temporary directory that holds cuFile configuration file
  cpp/include/cudf_test/file_utilities.hpp
  cpp/src/io/utilities/file_io_utilities.cpp
Labels: bug, libcudf, cuIO, non-breaking

#10353 Support collect aggregations in reduction
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/src/reductions/collect_ops.cu
  cpp/src/reductions/reductions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/reductions/collect_ops_tests.cpp
Labels: feature request, libcudf, CMake, 4 - Needs libcudf Reviewer, Spark, non-breaking

#10400 Set column names in `_from_columns_like_self` factory
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10404 [REVIEW] Enable `codecov` github-check in CI
  codecov.yml
Labels: 5 - Ready to Merge, improvement, non-breaking

#9621 Support segmented reductions and null mask reductions
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reduction/segment_reduce.cu
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/reduction.cuh
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/include/cudf/detail/valid_if.cuh
  cpp/include/cudf/reduction.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/reductions/segmented_all.cu
  cpp/src/reductions/segmented_any.cu
  cpp/src/reductions/segmented_max.cu
  cpp/src/reductions/segmented_min.cu
  cpp/src/reductions/segmented_product.cu
  cpp/src/reductions/segmented_reductions.cpp
  cpp/src/reductions/segmented_sum.cu
  cpp/src/reductions/simple_segmented.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/reductions/segmented_reduction_tests.cpp
Labels: feature request, libcudf, CMake, non-breaking

#10410 Use str instead of builtins.str.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/single_column_frame.py
Labels: code quality, cuDF (Python), improvement, non-breaking

#10342 Remove is_relationally_comparable for table device views
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/table/table_device_view.cuh
  cpp/src/table/table_device_view.cu
  cpp/src/table/table_view.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#10411 Drop unsupported method argument from nunique and distinct_count.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/single_column_frame.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#10416 [REVIEW] Fix some warnings in `test_parquet.py`
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
Labels: cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, non-breaking

#10357 Add scan_aggregation and reduce_aggregation derived types.
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/scan.hpp
  cpp/include/cudf/reduction.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/scan/scan.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/reductions/collect_ops_tests.cpp
  cpp/tests/reductions/rank_tests.cpp
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  python/cudf/cudf/_lib/aggregation.pxd
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/_lib/cpp/reduce.pxd
  python/cudf/cudf/_lib/reduce.pyx
Labels: libcudf, cuDF (Python), cuDF (Java), improvement, breaking

#10418 [REVIEW] Remove warnings in `test_timedelta.py`
  python/cudf/cudf/tests/test_timedelta.py
Labels: 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, non-breaking

#10386 Consolidate .cov and .corr for sort groupby
  python/cudf/cudf/core/groupby/groupby.py
Labels: cuDF (Python), improvement, non-breaking

#10412 Clean up null mask after purging null entries
  cpp/src/groupby/sort/group_collect.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#10370 Refactor stream compaction APIs
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/stream_compaction/distinct.cpp
  cpp/benchmarks/stream_compaction/unique.cpp
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/lists/drop_list_duplicates.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/stream_compaction/drop_duplicates.cu
  cpp/src/stream_compaction/drop_duplicates.cuh
  cpp/src/stream_compaction/stream_compaction_common.cuh
  cpp/src/stream_compaction/unique.cu
  cpp/src/stream_compaction/unique_count.cu
  cpp/src/transform/encode.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/stream_compaction/distinct_tests.cpp
  cpp/tests/stream_compaction/drop_duplicates_tests.cpp
  cpp/tests/stream_compaction/unique_count_tests.cpp
  cpp/tests/stream_compaction/unique_tests.cpp
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/cpp/sorting.pxd
  python/cudf/cudf/_lib/cpp/stream_compaction.pxd
  python/cudf/cudf/_lib/stream_compaction.pyx
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), CMake, cuDF (Java), breaking

#10413 JNI support for segmented reduce
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/SegmentedReductionAggregation.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/SegmentedReductionTest.java
Labels: 3 - Ready for Review, cuDF (Java), Spark, 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#10420 Add `.github/ops-bot.yaml` config file [skip ci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#10422 Centralization of tdigest aggregation code.
  cpp/CMakeLists.txt
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/quantiles/tdigest/tdigest.hpp
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
Labels: libcudf, CMake, improvement, non-breaking

#10428 Fix benchmarks to work with new aggregation types
  cpp/benchmarks/reduction/anyall.cpp
  cpp/benchmarks/reduction/dictionary.cpp
  cpp/benchmarks/reduction/reduce.cpp
  cpp/benchmarks/reduction/scan.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#10182 [REVIEW] Unpin `dask` & `distributed`
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: gpuCI, cuDF (Python), 5 - Ready to Merge, conda, improvement, non-breaking

#10380 Implement `maps_column_view` abstraction over `LIST<STRUCT<K,V>>`
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/lists/detail/contains.hpp
  cpp/include/cudf/lists/detail/extract.hpp
  cpp/src/lists/contains.cu
  cpp/src/lists/extract.cu
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/include/maps_column_view.hpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/maps_column_view.cu
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, libcudf, CMake, conda, cuDF (Java), non-breaking

#10427 JNI support for Collect Ops in Reduction
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/java/ai/rapids/cudf/ReductionAggregation.java
  java/src/test/java/ai/rapids/cudf/ReductionTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#10431 [REVIEW] Fix error in `cudf.to_numeric` when a `bool` input is passed
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/tests/test_numerical.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#10434 [REVIEW] Fix `list` and `struct` meta generation issue in `dask-cudf`
  codecov.yml
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: bug, cuDF (Python), dask, non-breaking

#10442 Update dask_cudf imports to be compatible with latest dask
  python/dask_cudf/dask_cudf/backends.py
Labels: bug, cuDF (Python), non-breaking

#10437 Fix for integer overflow in contiguous-split
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/split_tests.cpp
Labels: bug, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#10436 Fix has_null predicate for drop_list_duplicates on nested structs
  cpp/src/lists/drop_list_duplicates.cu
  cpp/tests/lists/drop_list_duplicates_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, Spark, non-breaking

#10435 Fix empty reduce with List output and non-List input
  cpp/src/reductions/reductions.cpp
  cpp/tests/reductions/collect_ops_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#10421 Simplify column binary operations
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_timedelta.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking

#10414 Fix cudf::shift to handle offset greater than column size
  cpp/include/cudf/copying.hpp
  cpp/src/copying/shift.cu
  cpp/src/strings/copying/shift.cu
  cpp/tests/copying/shift_tests.cpp
  python/cudf/cudf/core/column/column.py
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), non-breaking

#10270 Add nvtext::byte_pair_encoding API
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/combine.hpp
  cpp/include/nvtext/bpe_tokenize.hpp
  cpp/src/text/subword/bpe_tokenizer.cu
  cpp/src/text/subword/bpe_tokenizer.cuh
  cpp/src/text/subword/load_merges_file.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/text/bpe_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, strings, non-breaking

#10452 [gpuCI] Forward-merge branch-22.04 to branch-22.06 [skip gpuci]
  cpp/CMakeLists.txt
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/strings/detail/combine.hpp
  cpp/include/nvtext/bpe_tokenize.hpp
  cpp/src/copying/shift.cu
  cpp/src/strings/copying/shift.cu
  cpp/src/text/subword/bpe_tokenizer.cu
  cpp/src/text/subword/bpe_tokenizer.cuh
  cpp/src/text/subword/load_merges_file.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/shift_tests.cpp
  cpp/tests/text/bpe_tests.cpp
  python/cudf/cudf/core/column/column.py
Labels: libcudf, cuDF (Python), CMake

#10371 Refactor `filling.repeat` API
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
Labels: cuDF (Python), improvement, non-breaking

#9727 Add CUDF_UNREACHABLE macro.
  cpp/benchmarks/type_dispatcher/type_dispatcher.cu
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/indexalator.cuh
  cpp/include/cudf/detail/utilities/assert.cuh
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/src/groupby/hash/multi_pass_kernels.cuh
  cpp/src/hash/md5_hash.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/quantiles/quantiles_util.hpp
  cpp/tests/reductions/scan_tests.cpp
  cpp/tests/unary/cast_tests.cpp
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#10460 [gpuCI] Forward-merge branch-22.04 to branch-22.06 [skip gpuci]
  cpp/benchmarks/type_dispatcher/type_dispatcher.cu
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/indexalator.cuh
  cpp/include/cudf/detail/utilities/assert.cuh
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/src/groupby/hash/multi_pass_kernels.cuh
  cpp/src/hash/md5_hash.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/quantiles/quantiles_util.hpp
  cpp/tests/reductions/scan_tests.cpp
  cpp/tests/unary/cast_tests.cpp
Labels: libcudf

#10419 Use list of columns for methods in `Groupby.pyx`
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_typing.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10063 Support nanosecond timestamps in parquet
  cpp/CMakeLists.txt
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/statistics/column_statistics.cuh
  cpp/src/io/statistics/orc_column_statistics.cu
  cpp/src/io/statistics/parquet_column_statistics.cu
  cpp/src/io/statistics/statistics.cuh
  cpp/src/io/statistics/statistics_type_identification.cuh
  cpp/tests/io/parquet_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, cuIO, non-breaking

#10439 Remove or split up Frame methods that use the index
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), improvement, non-breaking

#10429 [REVIEW] Support cupy array in `quantile` input
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_quantiles.py
  python/cudf/cudf/tests/test_stats.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#10433 Add support for tdigest and merge_tdigest aggregations through cudf::reduce
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf_test/tdigest_utilities.cuh
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/quantiles/tdigest/tdigest.hpp
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/reductions/reductions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/quantiles/percentile_approx_test.cu
  cpp/tests/quantiles/tdigest_utilities.cu
  cpp/tests/reductions/tdigest_tests.cu
Labels: feature request, libcudf, CMake, non-breaking

#10474 [gpuCI] Forward-merge branch-22.04 to branch-22.06 [skip gpuci]
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf_test/tdigest_utilities.cuh
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/quantiles/tdigest/tdigest.hpp
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/reductions/reductions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/quantiles/percentile_approx_test.cu
  cpp/tests/quantiles/tdigest_utilities.cu
  cpp/tests/reductions/tdigest_tests.cu
Labels: libcudf, CMake

#9995 Make snappy decompress check more efficient
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
Labels: 4 - Waiting on Author, libcudf, cuIO, Performance, improvement, non-breaking

#10164 Faster struct row comparator
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/sort/sort_structs.cpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/sort/sort_impl.cuh
  cpp/src/table/row_operators.cu
  cpp/src/table/table_view.cpp
  cpp/tests/sort/sort_test.cpp
Labels: 2 - In Progress, libcudf, CMake, Performance, improvement, non-breaking

#10479 Add `cut` to API docs
  docs/cudf/source/api_docs/general_functions.rst
Labels: doc, non-breaking

#10483 Include <cstddef> to fix compilation of parquet reader on GCC 11.
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/io/parquet/compact_protocol_reader.hpp
Labels: libcudf, tech debt, improvement, non-breaking

#10235 Column to JCUDF row for tables with strings
  java/src/main/native/src/row_conversion.cu
Labels: feature request, 3 - Ready for Review, 4 - Needs libcudf Reviewer, cuDF (Java), non-breaking

#10481 [REVIEW] Pin `dask` and `distributed`
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Labels: 3 - Ready for Review, gpuCI, cuDF (Python), conda, improvement, non-breaking

#7141 Add 'spearman' correlation method for `dataframe.corr`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), non-breaking

#10448 Batch of fixes for index overflows in grid stride loops.
  cpp/include/cudf/detail/valid_if.cuh
  cpp/include/cudf/types.hpp
  cpp/src/copying/scatter.cu
  cpp/src/replace/nulls.cu
  cpp/src/rolling/jit/kernel.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/src/transform/compute_column.cu
Labels: bug, libcudf, non-breaking

#10496 Temporarily disable new `ops-bot` functionality [skip ci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#10465 Add StringIO support to read_text
  python/cudf/cudf/_lib/text.pyx
  python/cudf/cudf/tests/test_text.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), non-breaking

#10502 [REVIEW] Add `scipy` skip for a test
  python/cudf/cudf/tests/test_stats.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10450 Remove deprecated code.
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/ops.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_ops.py
  python/cudf/cudf/tests/test_unaops.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, breaking

#10506 Fix an issue with tdigest merge aggregations.
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/tests/reductions/tdigest_tests.cu
Labels: bug, libcudf, non-breaking

#10471 Namespace/Docstring Fixes for Reduction
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/src/reductions/all.cu
  cpp/src/reductions/any.cu
  cpp/src/reductions/compound.cuh
  cpp/src/reductions/max.cu
  cpp/src/reductions/mean.cu
  cpp/src/reductions/min.cu
  cpp/src/reductions/product.cu
  cpp/src/reductions/simple.cuh
  cpp/src/reductions/std.cu
  cpp/src/reductions/sum.cu
  cpp/src/reductions/sum_of_squares.cu
  cpp/src/reductions/var.cu
Labels: libcudf, improvement, breaking

#10484 Allow users to specify data types for a subset of columns in `read_csv`
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/io/csv_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#10467 Update cudfjni 22.06.0-SNAPSHOT
  java/ci/README.md
  java/pom.xml
Labels: cuDF (Java), 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#10446 Add Java bindings for t-digest reduction
  java/src/main/java/ai/rapids/cudf/ReductionAggregation.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, cuDF (Java), improvement, non-breaking

#10509 Define proper binary operation APIs for columns
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/_typing.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/mixins/binops.py
  python/cudf/cudf/core/mixins/binops.pyi
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/utils.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#10457 Fix default value of str.split expand parameter.
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#10486 move benchmark input generation in device in reduction nvbench
  cpp/benchmarks/reduction/segment_reduce.cu
Labels: feature request, tests, libcudf, 5 - Ready to Merge, Performance, tech debt, non-breaking

#10491 Fix findall_record to return empty list for no matches
  cpp/doxygen/regex.md
  cpp/include/cudf/strings/findall.hpp
  cpp/src/strings/search/findall_record.cu
  cpp/tests/strings/findall_tests.cpp
Labels: bug, libcudf, 5 - Ready to Merge, strings, breaking

#10526 [skip ci] add accidentally removed comment.
  python/cudf/cudf/_lib/column.pyi
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#10459 Fix Series.str.findall behavior for expand=False.
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking, deprecation

#10525 Update conda environment.
  conda/environments/cudf_dev_cuda11.5.yml
Labels: 3 - Ready for Review, conda, improvement, non-breaking

#10524 Fix temp data cleanup in `test_text.py`
  python/cudf/cudf/tests/test_text.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#10497 Deprecate `Series.applymap`
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_applymap.py
  python/cudf/cudf/tests/test_transform.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Labels: feature request, 3 - Ready for Review, numba, cuDF (Python), non-breaking, deprecation

#10531 [skip-ci] Updates to 10min notebook
  docs/cudf/source/user_guide/10min.ipynb
Labels: doc, non-breaking

#10515 Remove deprecated `decimal_cols_as_float` in the ORC reader
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/tests/io/orc_test.cpp
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, breaking

#10534 Adds launch bounds hints to mixed join kernels to address regression seen in NDS q72 in Spark
  cpp/src/join/mixed_join_kernels.cu
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_size_kernels.cu
  cpp/src/join/mixed_join_size_kernels_semi.cu
Labels: libcudf, Performance, Spark, improvement, non-breaking

#10541 Remove Click pinnings that are unnecessary after upgrading black.
  .pre-commit-config.yaml
  conda/environments/cudf_dev_cuda11.5.yml
Labels: 3 - Ready for Review, conda, improvement, non-breaking

#10543 Remove pip requirements files.
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf_kafka/dev_requirements.txt
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
Labels: cuDF (Python), tech debt, improvement, non-breaking

#10530 Adjust the valid range of group index for replace_with_backrefs
  cpp/include/cudf/strings/replace_re.hpp
  cpp/src/strings/replace/backref_re.cu
  cpp/tests/strings/replace_regex_tests.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, libcudf, cuDF (Java), improvement, non-breaking

#10544 Pin CMake to prevent 3.23 bugs
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf_example/meta.yaml
  conda/recipes/libcudf_kafka/meta.yaml
Labels: bug, 3 - Ready for Review, ! - Release, conda, non-breaking

#10557 Forward-merge branch-22.04 to branch-22.06
  conda/environments/cudf_dev_cuda11.5.yml
Labels: conda, improvement, non-breaking

#10562 Re-enable Build Metrics Report
  conda/recipes/libcudf/build.sh
Labels: bug, 3 - Ready for Review, conda, non-breaking
