Repository rapidsai/cudf, pull requests merged in 2022-12, with the labels that each got.

#12229 Cover parsing to decimal types in `read_json` tests
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json_test.cpp
Labels: tests, libcudf, tech debt, improvement, non-breaking

#12238 Rework cudf::strings::pad and zfill to use make_strings_children
  cpp/src/strings/padding.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#12280 Fix compile issue in `json_chunked_reader.cpp`
  cpp/tests/io/json_chunked_reader.cpp
Labels: bug, 3 - Ready for Review, tests, non-breaking

#12227 Add cudf::strings::reverse function
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/reverse.cpp
  cpp/include/cudf/strings/reverse.hpp
  cpp/src/strings/reverse.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/reverse_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, conda, strings, non-breaking

#12251 Add environment variable to control host memory allocation in `hostdevice_vector`
  cpp/src/io/utilities/hostdevice_vector.hpp
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#12281 Remove deprecated code for 23.02
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/ioutils.py
  python/cudf/cudf/utils/utils.py
  python/dask_cudf/dask_cudf/core.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#10835 Consolidate dask-cudf `groupby_agg` calls in one place
  python/dask_cudf/dask_cudf/groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, tech debt, dask-cudf, improvement, non-breaking, inactive-30d

#12165 [REVIEW] Pin `dask` and `distributed` for release
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  dependencies.yaml
  python/dask_cudf/setup.py
Labels: gpuCI, cuDF (Python), 5 - Ready to Merge, conda, improvement, non-breaking

#12078 Enable specifying exceptions in error macros
  cpp/include/cudf/utilities/error.hpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12257 Fix reduction gtests coded in namespace cudf::test
  cpp/tests/reductions/collect_ops_tests.cpp
  cpp/tests/reductions/rank_tests.cpp
  cpp/tests/reductions/segmented_reduction_tests.cpp
  cpp/tests/reductions/tdigest_tests.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12268 [REVIEW] Add pandas nullable type support in `Index.to_pandas`
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_index.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#12296 Define needs for pr-builder workflow.
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#12297 Re-enable `sccache` for Jenkins builds
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: improvement, non-breaking, ci

#12283 Implement JNI for `strings::reverse`
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), helps: Spark, non-breaking

#12294 Forward merge 22.12 into 23.02
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  dependencies.yaml
  python/dask_cudf/setup.py
Labels: cuDF (Python), conda, improvement, non-breaking, ci

#12291 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  dependencies.yaml
  python/dask_cudf/setup.py
Labels: cuDF (Python), conda, ci

#12272 Null element for parsing error in numeric types in JSON, CSV reader
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/tests/test_csv.py
Labels: feature request, libcudf, cuDF (Python), cuIO, breaking

#12131 Floor division uses integer division for integral arguments
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/compiled/operation.cuh
  cpp/tests/binaryop/binop-compiled-test.cpp
  cpp/tests/binaryop/util/operation.h
  python/cudf/cudf/tests/test_binops.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, breaking

#12270 Fix replace gtests coded in namespace cudf::test
  cpp/tests/replace/replace_nans_tests.cpp
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#12190 Workaround thrust-copy-if limit in json get_tree_representation
  cpp/src/io/json/json_tree.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12247 Correct behaviour of sort in `concat` for singleton concatenations
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_concat.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#12306 Fix NumericPairIteratorTest for float values
  cpp/tests/iterator/pair_iterator_test_numeric.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12304 Fix warnings in test_joining.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: 3 - Ready for Review, tests, code quality, cuDF (Python), tech debt, improvement, non-breaking

#12320 Fix `check_style.sh` script
  ci/check_style.sh
Labels: improvement, non-breaking, ci

#12322 Add eval to docs.
  docs/cudf/source/api_docs/dataframe.rst
Labels: 3 - Ready for Review, doc, non-breaking

#12285 Improved error reporting when reading multiple JSON files
  cpp/src/io/json/experimental/read_json.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/tests/io/json_test.cpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#12292 Fix table gtests coded in namespace cudf::test
  cpp/tests/table/experimental_row_operator_tests.cu
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#12267 Rework nvtext::detokenize to use indexalator for row indices
  cpp/src/text/detokenize.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12289 Change cython for regex calls to use cudf::strings::regex_program
  python/cudf/cudf/_lib/cpp/strings/contains.pxd
  python/cudf/cudf/_lib/cpp/strings/extract.pxd
  python/cudf/cudf/_lib/cpp/strings/findall.pxd
  python/cudf/cudf/_lib/cpp/strings/regex_program.pxd
  python/cudf/cudf/_lib/cpp/strings/replace_re.pxd
  python/cudf/cudf/_lib/cpp/strings/split/split.pxd
  python/cudf/cudf/_lib/strings/contains.pyx
  python/cudf/cudf/_lib/strings/extract.pyx
  python/cudf/cudf/_lib/strings/findall.pyx
  python/cudf/cudf/_lib/strings/replace_re.pyx
  python/cudf/cudf/_lib/strings/split/split.pyx
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#12282 Fix regex \A and \Z to strictly match string begin/end
  cpp/doxygen/regex.md
  cpp/src/strings/regex/regcomp.cpp
  cpp/src/strings/regex/regex.inl
  cpp/tests/strings/contains_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#12191 Fix null order in sort-based groupby and improve groupby tests
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/include/cudf/groupby.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/groupby/lists_tests.cpp
  cpp/tests/groupby/quantile_tests.cpp
  cpp/tests/groupby/structs_tests.cpp
Labels: libcudf, CMake, improvement, non-breaking

#12309 CSV, JSON reader to infer integer column with nulls as int64 instead of float64
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/utilities/type_inference.cuh
  cpp/tests/io/json_test.cpp
  cpp/tests/io/type_inference_test.cu
  python/cudf/cudf/tests/test_json.py
Labels: libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, tech debt, improvement, breaking

#12180 Add cudf::detail::sizes_to_offsets_iterator to allow checking overflow in offsets
  cpp/include/cudf/detail/sizes_to_offsets_iterator.cuh
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/src/strings/regex/utilities.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/iterator/sizes_to_offsets_iterator_test.cu
Labels: bug, 3 - Ready for Review, libcudf, CMake, strings, non-breaking

#12343 [HOTFIX] strings_udf: use libcudf caching of character tables
  python/strings_udf/strings_udf/lowering.py
Labels: bug, cuDF (Python), ! - Hotfix, non-breaking

#12346 [HOTFIX] cudf v22.12.01 [skip-gpuci]
  python/strings_udf/strings_udf/lowering.py
Labels: cuDF (Python)

#12300 Fixes memory allocation in nested JSON tokenizer
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#12313 Fix warnings in test_index.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking

#12324 Fix warnings in test_groupby.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, tests, code quality, cuDF (Python), tech debt, improvement, non-breaking

#12334 Fix warnings in test_monotonic.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_monotonic.py
Labels: 3 - Ready for Review, tests, code quality, cuDF (Python), tech debt, improvement, non-breaking

#12362 Merge 22.12 into 23.02
  CHANGELOG.md
  python/strings_udf/strings_udf/lowering.py
Labels: cuDF (Python)

#12339 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  CHANGELOG.md
  python/strings_udf/strings_udf/lowering.py
Labels: cuDF (Python)

#12325 Fail loudly to avoid data corruption with unsupported input in `read_orc`
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, breaking

#12279 Change reductions any/all to return valid values for empty input
  cpp/include/cudf/reduction.hpp
  cpp/src/reductions/reductions.cpp
  cpp/tests/reductions/reduction_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12277 Clean up handling of max_page_size_bytes in Parquet writer
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_test.cpp
Labels: libcudf, cuIO, improvement, non-breaking

#12321 Fix transform gtests coded in namespace cudf::test
  cpp/tests/CMakeLists.txt
  cpp/tests/transform/integration/assert_unary.h
  cpp/tests/transform/integration/unary_transform_test.cpp
  cpp/tests/transform/one_hot_encode_tests.cpp
  cpp/tests/transform/row_bit_count_test.cu
Labels: 3 - Ready for Review, libcudf, CMake, tech debt, improvement, non-breaking

#12336 Implement `lists::reverse`
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/lists/detail/reverse.hpp
  cpp/include/cudf/lists/reverse.hpp
  cpp/src/lists/reverse.cu
  cpp/src/lists/utilities.cu
  cpp/src/lists/utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/lists/reverse_tests.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, 3 - Ready for Review, libcudf, CMake, conda, cuDF (Java), helps: Spark, non-breaking

#12377 Pin arrow 9 in testing dependencies to prevent conda solve issues
  ci/gpu/build.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf/tests/test_subword_tokenizer.py
  python/cudf/setup.py
Labels: bug, 2 - In Progress, cuDF (Python), conda, non-breaking, ci

#12374 Fix reductions any/all return value for empty input
  cpp/include/cudf/reduction.hpp
  cpp/src/reductions/reductions.cpp
  cpp/tests/reductions/reduction_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12284 Deprecate Frame.sum_of_squares
  python/cudf/cudf/core/frame.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#12364 Use correct memory resource in io::make_column
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/column_buffer.hpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12381 Fix warnings in test_datetime.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_datetime.py
Labels: 3 - Ready for Review, tests, code quality, cuDF (Python), tech debt, improvement, non-breaking

#12317 Rework cudf::strings::from_timestamps to use make_strings_children
  cpp/src/strings/convert/convert_datetime.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#12347 Accelerate stable-segmented-sort with CUB segmented sort
  cpp/CMakeLists.txt
  cpp/benchmarks/sort/segmented_sort.cpp
  cpp/src/sort/segmented_sort.cu
  cpp/src/sort/segmented_sort_impl.cuh
  cpp/src/sort/stable_segmented_sort.cu
  cpp/tests/sort/segmented_sort_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#12402 [skip gpuci] Update `ops-bot.yaml`
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#12384 Fix get_json_object to return empty column on empty input
  cpp/src/strings/json/json_path.cu
  cpp/tests/strings/json_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12396 When building Arrow shared look for a shared OpenSSL
  cpp/cmake/thirdparty/get_arrow.cmake
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#12239 Purge non-empty nulls for `superimpose_nulls` and `push_down_nulls`
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reduction/scan_structs.cpp
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/scalar/scalar.cpp
  cpp/src/structs/structs_column_factories.cu
  cpp/src/structs/utilities.cpp
  cpp/src/table/row_operators.cu
  cpp/tests/copying/purge_nonempty_nulls_tests.cpp
  cpp/tests/io/parquet_chunked_reader_test.cpp
  cpp/tests/structs/utilities_tests.cpp
  cpp/tests/transform/row_bit_count_test.cu
Labels: bug, 3 - Ready for Review, libcudf, CMake, breaking

#12387 Fix COPYING_TEST: gtests coded in namespace cudf::test
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/copying/copy_if_else_nested_tests.cpp
  cpp/tests/copying/copy_range_tests.cpp
  cpp/tests/copying/copy_tests.cpp
  cpp/tests/copying/gather_list_tests.cpp
  cpp/tests/copying/gather_struct_tests.cpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/scatter_list_scalar_tests.cpp
  cpp/tests/copying/scatter_list_tests.cpp
  cpp/tests/copying/scatter_struct_scalar_tests.cpp
  cpp/tests/copying/scatter_tests.cpp
  cpp/tests/copying/segmented_gather_list_tests.cpp
  cpp/tests/copying/shift_tests.cpp
  cpp/tests/copying/split_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12360 Add code to detect possible malformed page data in parquet files.
  cpp/src/io/parquet/reader_impl_preprocess.cu
  python/cudf/cudf/tests/data/parquet/nested-unsigned-malformed.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, cuDF (Python), cuIO, non-breaking

#12390 Expose the RMM pool size in JNI
  java/src/main/java/ai/rapids/cudf/Rmm.java
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#12366 Use gpu-latest-1 runner tag
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#12404 Fix bug in Parquet column index encoding
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, 4 - Needs cuIO Reviewer, non-breaking

#12244 Turn on xfail_strict=true
  .pre-commit-config.yaml
  docs/cudf/source/developer_guide/testing.md
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/pytest.ini
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, doc, cuDF (Python), tech debt, non-breaking

#12369 Fix warnings in dataframe.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, tests, code quality, cuDF (Python), tech debt, improvement, non-breaking

#12423 Fix xfail incompatibilities
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#12365 Rework cudf::strings::from_booleans to use make_strings_children
  cpp/src/strings/convert/convert_booleans.cu
Labels: libcudf, tech debt, strings, improvement, non-breaking

#12368 Update conda recipes.
  ci/test_cpp.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  ci/test_python_other.sh
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/strings_udf/meta.yaml
Labels: conda, improvement, non-breaking, ci

#12406 Fix warnings in remaining modules
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_decimal.py
  python/cudf/cudf/tests/test_df_protocol.py
  python/cudf/cudf/tests/test_doctests.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_hash_vocab.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/tests/test_rank.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_reshape.py
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_testing.py
Labels: 3 - Ready for Review, tests, code quality, cuDF (Python), tech debt, improvement, non-breaking

#12435 Re-enable `Recently Updated` Check
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#12441 JNI build image default as cuda11.8
  java/ci/Dockerfile.centos7
  java/ci/README.md
Labels: cuDF (Java), improvement, non-breaking

#12330 Improve JSON column creation performance (list offsets)
  cpp/src/io/json/json_column.cu
Labels: libcudf, 5 - Ready to Merge, cuIO, Performance, improvement, non-breaking
