Repository rapidsai/cudf, pull requests merged in 2022-11, with the labels that each got.

#12006 Remove default parameters for cudf::dictionary::detail functions
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/dictionary/detail/concatenate.hpp
  cpp/include/cudf/dictionary/detail/encode.hpp
  cpp/include/cudf/dictionary/detail/replace.hpp
  cpp/include/cudf/dictionary/detail/search.hpp
  cpp/include/cudf/dictionary/detail/update_keys.hpp
  cpp/src/copying/copy_range.cu
  cpp/src/copying/scatter.cu
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/remove_keys.cu
  cpp/src/dictionary/replace.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/filling/fill.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/replace.cu
  cpp/src/search/contains_column.cu
  cpp/src/search/contains_scalar.cu
  cpp/src/search/search_ordered.cu
  cpp/tests/dictionary/search_test.cpp
  cpp/tests/replace/replace_nulls_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12030 [REVIEW] Update cuda-python dependency to 11.7.1
  README.md
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/strings_udf/meta.yaml
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#12025 [REVIEW] Reduce/Remove reliance on `**kwargs` and `*args` in `IO` readers & writers
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking, deprecation

#11815 Add `read_orc_metadata` to libcudf
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/io/csv/csv_writer.cpp
  cpp/benchmarks/io/orc/orc_reader_input.cpp
  cpp/benchmarks/io/orc/orc_reader_options.cpp
  cpp/benchmarks/io/orc/orc_writer.cpp
  cpp/benchmarks/io/orc/orc_writer_chunks.cpp
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
  cpp/benchmarks/io/parquet/parquet_reader_options.cpp
  cpp/benchmarks/io/parquet/parquet_writer.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks.cpp
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/include/cudf/io/orc_types.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/tests/io/orc_test.cpp
Labels: feature request, libcudf, cuIO, conda, 4 - Needs cuIO Reviewer, non-breaking

#11996 Leverage rapids_cython for more automated RPATH handling
  python/cudf/CMakeLists.txt
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/io/CMakeLists.txt
  python/cudf/cudf/_lib/nvtext/CMakeLists.txt
  python/cudf/cudf/_lib/strings/CMakeLists.txt
  python/cudf/cudf/_lib/strings/convert/CMakeLists.txt
  python/cudf/cudf/_lib/strings/split/CMakeLists.txt
  python/strings_udf/strings_udf/_lib/CMakeLists.txt
Labels: 3 - Ready for Review, cuDF (Python), CMake, improvement, non-breaking

#12036 Force black exclusions for pre-commit.
  pyproject.toml
Labels: bug, non-breaking

#12035 Remove smart quotes from all docstrings.
  .pre-commit-config.yaml
  README.md
  docs/cudf/source/user_guide/10min.ipynb
  docs/cudf/source/user_guide/missing-data.ipynb
  python/cudf/cudf/_lib/search.pyx
  python/cudf/cudf/_lib/strings/convert/convert_urls.pyx
  python/cudf/cudf/_lib/strings/padding.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/utils/docutils.py
  python/cudf/cudf/utils/ioutils.py
  python/custreamz/README.md
Labels: code quality, cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11854 Fix Parquet support for seconds and milliseconds duration types
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/statistics/statistics_type_identification.cuh
  cpp/tests/io/parquet_test.cpp
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#12045 Forward merge 22.10 into 22.12
  CHANGELOG.md
Labels: 3 - Ready for Review, improvement, non-breaking

#12004 Port thrust's pinned_allocator to cudf, since Thrust 1.17 removes the type
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/include/cudf/detail/utilities/pinned_allocator.hpp
  cpp/include/cudf/utilities/span.hpp
  cpp/src/io/text/bgzip_data_chunk_source.cu
  cpp/src/io/text/data_chunk_source_factories.cpp
  cpp/src/io/utilities/hostdevice_vector.hpp
Labels: bug, 3 - Ready for Review, libcudf, conda, non-breaking

#12042 Standardize newlines at ends of files.
  .pre-commit-config.yaml
  cpp/benchmarks/reduction/rank.cpp
  cpp/include/cudf/detail/utilities/algorithm.cuh
  cpp/include/cudf/detail/utilities/linked_column.hpp
  cpp/include/cudf_test/detail/column_utilities.hpp
  cpp/src/text/subword/detail/codepoint_metadata.ah
  cpp/tests/strings/json_tests.cpp
  docs/cudf/source/_templates/autosummary/class_with_autosummary.rst
  docs/cudf/source/_templates/autosummary/class_without_autosummary.rst
  docs/cudf/source/api_docs/window.rst
  docs/cudf/source/user_guide/cudf.CategoricalDtype.rst
  docs/cudf/source/user_guide/cudf.Decimal128Dtype.rst
  docs/cudf/source/user_guide/cudf.Decimal32Dtype.rst
  docs/cudf/source/user_guide/cudf.Decimal64Dtype.rst
  docs/cudf/source/user_guide/cudf.ListDtype.rst
  docs/cudf/source/user_guide/cudf.StructDtype.rst
  java/ci/README.md
  java/src/main/java/ai/rapids/cudf/DeviceMemoryBufferView.java
  java/src/main/java/ai/rapids/cudf/ReplacePolicyWithColumn.java
  java/src/main/java/ai/rapids/cudf/StreamedTableReader.java
  java/src/main/java/ai/rapids/cudf/WindowOptions.java
  java/src/main/native/.clang-format
  java/src/main/native/src/dtype_utils.hpp
  java/src/test/java/ai/rapids/cudf/PinnedMemoryPoolTest.java
  python/cudf/cudf/_fuzz_testing/tests/readme.md
  python/cudf/cudf/benchmarks/README.md
  python/cudf_kafka/setup.cfg
Labels: code quality, libcudf, cuDF (Python), cuDF (Java), improvement, non-breaking

#12041 Trim trailing whitespace from all files.
  .github/labeler.yml
  .github/workflows/add_to_project.yml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  ci/cpu/build.sh
  ci/gpu/build.sh
  cpp/cmake/config.json
  cpp/cmake/thirdparty/patches/thrust_faster_sort_compile_times.diff
  cpp/cmake/thirdparty/patches/thrust_transform_iter_with_reduce_by_key.diff
  cpp/doxygen/DoxygenLayout.xml
  cpp/doxygen/main_page.md
  cpp/doxygen/unicode.md
  cpp/scripts/run-cmake-format.sh
  cpp/tests/copying/scatter_list_tests.cpp
  cpp/tests/copying/segmented_gather_list_tests.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  cpp/tests/lists/sort_lists_tests.cpp
  cpp/tests/rolling/nth_element_test.cpp
  cpp/tests/strings/json_tests.cpp
  cpp/tests/transform/integration/unary-transform-test.cpp
  docs/cudf/README.md
  docs/cudf/source/api_docs/groupby.rst
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/api_docs/series.rst
  docs/cudf/source/api_docs/string_handling.rst
  docs/cudf/source/api_docs/subword_tokenize.rst
  docs/cudf/source/developer_guide/benchmarking.md
  docs/cudf/source/developer_guide/contributing_guide.md
  docs/cudf/source/developer_guide/documentation.md
  docs/cudf/source/developer_guide/library_design.md
  docs/cudf/source/user_guide/cudf.CategoricalDtype.rst
  docs/cudf/source/user_guide/cudf.Decimal128Dtype.rst
  docs/cudf/source/user_guide/cudf.Decimal32Dtype.rst
  docs/cudf/source/user_guide/cudf.Decimal64Dtype.rst
  docs/cudf/source/user_guide/cudf.ListDtype.rst
  docs/cudf/source/user_guide/cudf.StructDtype.rst
  docs/cudf/source/user_guide/data-types.md
  java/README.md
  java/src/main/java/ai/rapids/cudf/BinaryOperable.java
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/java/ai/rapids/cudf/NvtxRange.java
  java/src/main/java/ai/rapids/cudf/OutOfBoundsPolicy.java
  java/src/main/java/ai/rapids/cudf/RollingAggregation.java
  java/src/main/native/.clang-format
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
  python/cudf/cudf/_fuzz_testing/tests/readme.md
  python/custreamz/README.md
Labels: gpuCI, code quality, libcudf, cuDF (Python), CMake, cuDF (Java), improvement, non-breaking

#11912 Add strings udf C++ classes and functions for phase II
  cpp/include/cudf/strings/detail/char_tables.hpp
  cpp/include/cudf/strings/string_view.hpp
  python/strings_udf/cpp/include/cudf/strings/udf/case.cuh
  python/strings_udf/cpp/include/cudf/strings/udf/numeric.cuh
  python/strings_udf/cpp/include/cudf/strings/udf/pad.cuh
  python/strings_udf/cpp/include/cudf/strings/udf/split.cuh
  python/strings_udf/cpp/include/cudf/strings/udf/strip.cuh
  python/strings_udf/cpp/include/cudf/strings/udf/udf_apis.hpp
  python/strings_udf/cpp/include/cudf/strings/udf/udf_string.cuh
  python/strings_udf/cpp/include/cudf/strings/udf/udf_string.hpp
  python/strings_udf/cpp/src/strings/udf/udf_apis.cu
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), non-breaking

#12009 Rollback of `DeviceBufferLike`
  python/cudf/cudf/_lib/column.pyi
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/null_mask.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/abc.py
  python/cudf/cudf/core/buffer.py
  python/cudf/cudf/core/buffer/__init__.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/utils.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_buffer.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf/tests/test_df_protocol.py
  python/cudf/cudf/tests/test_pickling.py
  python/cudf/cudf/tests/test_testing.py
  python/cudf/cudf/utils/utils.py
  python/strings_udf/strings_udf/_lib/cudf_jit_udf.pyx
Labels: cuDF (Python), improvement, breaking

#11884 Enable CEC for `strings_udf`
  ci/gpu/build.sh
  conda/recipes/strings_udf/meta.yaml
  python/cudf/cudf/core/udf/__init__.py
  python/cudf/cudf/core/udf/strings_utils.py
  python/strings_udf/strings_udf/__init__.py
  python/strings_udf/strings_udf/tests/test_string_udfs.py
Labels: feature request, 3 - Ready for Review, gpuCI, cuDF (Python), conda, non-breaking

#11955 Add full page indexes to Parquet writer benchmarks
  cpp/benchmarks/io/parquet/parquet_writer.cpp
Labels: libcudf, cuIO, improvement, non-breaking

#8916 [FIX] Make all `nvcc` warnings into errors
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/include/cudf/detail/interop.hpp
  cpp/include/cudf/interop.hpp
  cpp/include/cudf/io/datasource.hpp
Labels: libcudf, CMake, improvement, non-breaking, inactive-90d

#11199 Add developer docs for writing tests
  docs/cudf/source/developer_guide/index.md
  docs/cudf/source/developer_guide/testing.md
Labels: 3 - Ready for Review, doc, non-breaking

#11898 Trim quotes for non-string values in nested json parsing
  cpp/include/cudf/io/detail/data_casting.cuh
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/utilities/parsing_utils.cuh
  python/cudf/cudf/tests/test_json.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), 4 - Needs libcudf Reviewer, 4 - Needs cuIO Reviewer, breaking

#12032 Add strings `like` jni and native method
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), helps: Spark, strings, non-breaking

#12033 [REVIEW] Add `memory_usage` & `items` implementation for `Struct` column & dtype
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_struct.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11994 [HOTFIX] Update cuda-python dependency to 11.7.1
  README.md
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/strings_udf/meta.yaml
Labels: bug, ! - Hotfix, conda, non-breaking

#12064 Force using old fmt in nvbench.
  cpp/CMakeLists.txt
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#12067 Force using old fmt in nvbench.
  cpp/CMakeLists.txt
Labels: bug, 3 - Ready for Review, CMake, non-breaking

#12069 Force using old fmt in nvbench. (#12064)
  cpp/CMakeLists.txt
Labels: libcudf, CMake

#12056 Allow falling back to `shim_60.ptx` by default in `strings_udf`
  python/strings_udf/cpp/CMakeLists.txt
  python/strings_udf/strings_udf/__init__.py
Labels: bug, 3 - Ready for Review, cuDF (Python), CMake, non-breaking

#12003 Remove default parameters for cudf::strings::detail functions
  cpp/benchmarks/string/json.cu
  cpp/include/cudf/strings/detail/combine.hpp
  cpp/include/cudf/strings/detail/concatenate.hpp
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/include/cudf/strings/detail/copying.hpp
  cpp/include/cudf/strings/detail/fill.hpp
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/json.hpp
  cpp/include/cudf/strings/detail/replace.hpp
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/strings/attributes.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/contains.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/count_matches.hpp
  cpp/src/strings/extract/extract_all.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/like.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/search/find.cu
  cpp/src/strings/search/find_multiple.cu
  cpp/src/strings/search/findall.cu
  cpp/src/strings/split/partition.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_re.cu
  cpp/src/strings/split/split_record.cu
  cpp/src/strings/strings_column_factories.cu
  cpp/src/strings/strip.cu
  cpp/src/strings/substring.cu
  cpp/src/strings/translate.cu
  cpp/src/strings/wrap.cu
  cpp/tests/strings/array_tests.cpp
  cpp/tests/strings/concatenate_tests.cpp
  cpp/tests/strings/fill_tests.cpp
  cpp/tests/strings/replace_tests.cpp
  python/strings_udf/cpp/src/strings/udf/udf_apis.cu
Labels: 3 - Ready for Review, libcudf, cuDF (Python), strings, improvement, non-breaking

#12063 [REVIEW] Remove overflow error during decimal binops
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_decimal.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#12060 Fixes List offset bug in Nested JSON reader
  cpp/src/io/json/json_column.cu
  python/cudf/cudf/tests/test_json.py
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), cuIO, 4 - Needs cuIO Reviewer, non-breaking

#12059 Mark nvcomp zstd compression stable
  cpp/src/io/comp/nvcomp_adapter.cpp
  docs/cudf/source/user_guide/io.md
Labels: feature request, libcudf, cuIO, 4 - Needs cuIO Reviewer, non-breaking

#12054 [JNI] Add debug-only onAllocated/onDeallocated to RmmEventHandler
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/RmmEventHandler.java
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Labels: feature request, cuDF (Java), helps: Spark, non-breaking

#11435 Adding feature Truncate to DataFrame and Series
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: feature request, cuDF (Python), non-breaking, inactive-30d

#11904 Fix type casting in Series.__setitem__
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_setitem.py
Labels: bug, 3 - Ready for Review, pandas, cuDF (Python), non-breaking

#12070 Fix ingest_raw_data performance issue in Nested JSON reader due to RVO
  cpp/src/io/json/experimental/read_json.cpp
  cpp/src/io/json/reader_impl.cu
Labels: 3 - Ready for Review, libcudf, cuIO, 4 - Needs cuIO Reviewer, Performance, improvement, non-breaking

#10853 Add checks for HLG layers in dask-cudf groupby tests
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, tests, cuDF (Python), dask-cudf, improvement, non-breaking, inactive-30d

#12049 Fix quantile gtests coded in namespace cudf::test
  cpp/CMakeLists.txt
  cpp/include/cudf/tdigest/tdigest_column_view.cuh
  cpp/include/cudf_test/tdigest_utilities.cuh
  cpp/src/quantiles/tdigest/tdigest_column_view.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/quantiles/percentile_approx_test.cpp
  cpp/tests/quantiles/quantile_test.cpp
  cpp/tests/quantiles/quantiles_test.cpp
  cpp/tests/utilities/tdigest_utilities.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#12080 Throw an error when libcudf is built without cuFile and `LIBCUDF_CUFILE_POLICY` is set to `"ALWAYS"`
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
Labels: libcudf, cuIO, improvement, breaking

#12082 [REVIEW] Move and update `dask` nigthly install in CI
  ci/benchmark/build.sh
  ci/gpu/build.sh
Labels: gpuCI, 5 - Ready to Merge, improvement, non-breaking

#12038 Use nosync policy in gather and scatter implementations.
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/lists/detail/gather.cuh
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/src/copying/scatter.cu
  cpp/src/lists/copying/scatter_helper.cu
  cpp/tests/copying/detail_gather_tests.cu
Labels: libcudf, improvement, non-breaking

#12076 Remove macros that inspect the contents of exceptions
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cudf_test/cudf_gtest.hpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/copying/segmented_gather_list_tests.cpp
  cpp/tests/error/error_handling_test.cu
  cpp/tests/groupby/count_scan_tests.cpp
  cpp/tests/groupby/keys_tests.cpp
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/io/json_tree.cpp
  cpp/tests/io/nested_json_test.cpp
  cpp/tests/lists/stream_compaction/apply_boolean_mask_tests.cpp
  cpp/tests/reductions/rank_tests.cpp
  cpp/tests/sort/segmented_sort_tests.cpp
Labels: 3 - Ready for Review, code quality, libcudf, improvement, non-breaking

#11933 Enable returning string data from UDFs used through `apply`
  python/cudf/cudf/core/udf/__init__.py
  python/cudf/cudf/core/udf/masked_lowering.py
  python/cudf/cudf/core/udf/masked_typing.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/strings_udf/cpp/src/strings/udf/shim.cu
  python/strings_udf/strings_udf/_lib/cpp/strings_udf.pxd
  python/strings_udf/strings_udf/_lib/cudf_jit_udf.pyx
  python/strings_udf/strings_udf/_typing.py
  python/strings_udf/strings_udf/lowering.py
  python/strings_udf/strings_udf/tests/test_string_udfs.py
Labels: feature request, 3 - Ready for Review, numba, cuDF (Python), non-breaking

#11674 Bifurcate Dependency Lists [skip-gpuci]
  .github/workflows/dependency-files.yml
  CONTRIBUTING.md
  ci/release/update-version.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/cudf_dev_cuda11.5.yml
  dependencies.yaml
Labels: gpuCI, conda, improvement, non-breaking, inactive-30d

#12088 Remove CUDA 10 compatibility code.
  cpp/src/copying/concatenate.cu
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/rolling/jit/kernel.cu
  cpp/src/strings/copying/concatenate.cu
  python/custreamz/README.md
Labels: libcudf, cuDF (Python), tech debt, improvement, non-breaking

#12050 Change cudf::detail::tdigest to cudf::tdigest::detail
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/detail/quantiles.hpp
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf/quantiles.hpp
  cpp/include/cudf/tdigest/tdigest_column_view.hpp
  cpp/include/cudf_test/tdigest_utilities.cuh
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/quantiles/tdigest/tdigest_column_view.cpp
  cpp/src/quantiles/tdigest/tdigest_util.cuh
  cpp/src/reductions/reductions.cpp
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/quantiles/percentile_approx_test.cpp
  cpp/tests/utilities/tdigest_utilities.cu
  java/src/main/native/src/ColumnViewJni.cpp
Labels: 3 - Ready for Review, libcudf, conda, cuDF (Java), improvement, non-breaking

#11927 Add regex_program class for use with all regex APIs
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/contains.hpp
  cpp/include/cudf/strings/extract.hpp
  cpp/include/cudf/strings/findall.hpp
  cpp/include/cudf/strings/regex/flags.hpp
  cpp/include/cudf/strings/regex/regex_program.hpp
  cpp/include/cudf/strings/replace_re.hpp
  cpp/include/cudf/strings/split/split_re.hpp
  cpp/include/doxygen_groups.h
  cpp/src/strings/contains.cu
  cpp/src/strings/extract/extract.cu
  cpp/src/strings/extract/extract_all.cu
  cpp/src/strings/regex/regcomp.cpp
  cpp/src/strings/regex/regcomp.h
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex_program.cpp
  cpp/src/strings/regex/regex_program_impl.h
  cpp/src/strings/regex/regexec.cpp
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/search/findall.cu
  cpp/src/strings/split/split_re.cu
  cpp/tests/strings/contains_tests.cpp
  cpp/tests/strings/extract_tests.cpp
  cpp/tests/strings/findall_tests.cpp
  cpp/tests/strings/replace_regex_tests.cpp
  cpp/tests/strings/split_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, conda, strings, improvement, non-breaking

#12085 [REVIEW] Fix an error in IO with `GzipFile` type
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12107 Update Numba docs links.
  docs/cudf/source/user_guide/cupy-interop.ipynb
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
  python/cudf/cudf/core/dataframe.py
Labels: doc, cuDF (Python), non-breaking

#12109 [REVIEW] Add `truncate` API to python doc pages
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/series.rst
Labels: doc, 5 - Ready to Merge, non-breaking

#12101 Expose engine argument in dask_cudf.read_json
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/io/json.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, improvement, non-breaking

#12098 Fix reading of CSV files with blank second row
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/io/csv_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#12091 Support `strip`, `lstrip`, and `rstrip` in `strings_udf`
  python/cudf/cudf/core/udf/__init__.py
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/strings_udf/cpp/src/strings/udf/shim.cu
  python/strings_udf/strings_udf/_typing.py
  python/strings_udf/strings_udf/lowering.py
  python/strings_udf/strings_udf/tests/test_string_udfs.py
Labels: feature request, numba, cuDF (Python), 5 - Ready to Merge, non-breaking

#12103 [REVIEW] First pass of `pd.read_orc` changes in tests
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/tests/test_gcs.py
  python/cudf/cudf/tests/test_hdfs.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_s3.py
Labels: cuDF (Python), 5 - Ready to Merge, tech debt, improvement, non-breaking

#12095 Remove "Multi-GPU with Dask-cuDF" notebook.
  docs/cudf/source/user_guide/dask-cudf.md
  docs/cudf/source/user_guide/index.md
Labels: doc, non-breaking

#12121 Fix conditional_full_join benchmark
  cpp/benchmarks/join/conditional_join.cu
Labels: bug, libcudf, non-breaking

#12119 Fix regex working-memory-size refactor error
  cpp/src/strings/regex/regexec.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#12046 Refactor Parquet reader
  cpp/CMakeLists.txt
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.cuh
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/writer_impl.cu
Labels: 3 - Ready for Review, libcudf blocker, libcudf, CMake, 4 - Needs cuIO Reviewer, helps: Spark, improvement, non-breaking

#12128 Add symlinks to notebooks.
  notebooks/10min.ipynb
  notebooks/cupy-interop.ipynb
  notebooks/guide-to-udfs.ipynb
  notebooks/missing-data.ipynb
Labels: doc, non-breaking

#12113 [Java] Add JNI for `substring` without 'end' parameter.
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
Labels: bug, 3 - Ready for Review, 5 - Ready to Merge, cuDF (Java), breaking

#12077 Fix alignment of compressed blocks in ORC writer
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/comp/nvcomp_adapter.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/text/bgzip_data_chunk_source.cu
  cpp/tests/io/comp/decomp_test.cpp
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, cuDF (Python), cuIO, non-breaking

#12125 [JNI] Adds an EventHandler to Java MemoryBuffer to be invoked on close
  java/src/main/java/ai/rapids/cudf/MemoryBuffer.java
  java/src/test/java/ai/rapids/cudf/MemoryBufferTest.java
Labels: feature request, cuDF (Java), helps: Spark, non-breaking

#12075 Fix singleton-range `__setitem__` edge case
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/tests/test_setitem.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12124 Enable automatic column projection in groupby().agg
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#12048 [REVIEW] Add support for `DataFrame.from_dict`\`to_dict` and `Series.to_dict`
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
  python/dask_cudf/dask_cudf/backends.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#12110 Create an `int8` column in `read_csv` when all elements are missing
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/utilities/column_type_histogram.hpp
  cpp/tests/io/csv_test.cpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, breaking

#12122 Fix/disable jitify lto
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/cmake/thirdparty/get_jitify.cmake
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#12151 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/cmake/thirdparty/get_jitify.cmake
Labels: libcudf, CMake

#12118 Add in negative size checks for columns
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/column/column_factories.hpp
  cpp/src/column/column_factories.cpp
Labels: bug, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#12138 Safely allocate `udf_string` pointers in `strings_udf`
  python/strings_udf/cpp/src/strings/udf/shim.cu
  python/strings_udf/strings_udf/lowering.py
Labels: bug, numba, cuDF (Python), non-breaking

#12148 Update cp.clip call
  python/cudf/cudf/core/subword_tokenizer.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11969 Accelerate libcudf segmented sort with CUB segmented sort
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/sort/segmented_sort.cpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/lists/segmented_sort.cu
  cpp/src/sort/segmented_sort.cu
  cpp/src/utilities/traits.cpp
  cpp/tests/sort/segmented_sort_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, tech debt, improvement, non-breaking

#12142 [REVIEW] Fix decimal binary operations
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_binops.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12074 Fix type promotion edge cases in numerical binops
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: bug, 3 - Ready for Review, cuDF (Python), breaking

#12117 Support `+` in `strings_udf`
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/strings_udf/cpp/src/strings/udf/shim.cu
  python/strings_udf/strings_udf/_typing.py
  python/strings_udf/strings_udf/lowering.py
  python/strings_udf/strings_udf/tests/test_string_udfs.py
Labels: feature request, 2 - In Progress, numba, cuDF (Python), non-breaking

#12166 Use rapidsai CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: doc, non-breaking

#12169 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  CODE_OF_CONDUCT.md
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/strings_udf/cpp/src/strings/udf/shim.cu
  python/strings_udf/strings_udf/_typing.py
  python/strings_udf/strings_udf/lowering.py
  python/strings_udf/strings_udf/tests/test_string_udfs.py
Labels: cuDF (Python)

#12176 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/common_utils.cuh
  cpp/src/groupby/sort/functors.hpp
  cpp/src/groupby/sort/group_nunique.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/sort/sort_impl.cuh
  cpp/tests/groupby/keys_tests.cpp
  cpp/tests/groupby/lists_tests.cu
Labels: libcudf

#12111 Refactor `purge_nonempty_nulls`
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/copy.cuh
  cpp/include/cudf/detail/copy.hpp
  cpp/src/copying/purge_nonempty_nulls.cu
  cpp/src/lists/set_operations.cu
  cpp/tests/copying/purge_nonempty_nulls_tests.cpp
  cpp/tests/io/parquet_test.cpp
Labels: 3 - Ready for Review, libcudf blocker, code quality, libcudf, conda, improvement, breaking

#12164 Don't rely on GNU find in headers_test.sh
  ci/checks/headers_test.sh
Labels: gpuCI, improvement, non-breaking

#12018 Fix issues when both `usecols` and `names` options are used in `read_csv`
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/io/csv_test.cpp
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/utils/ioutils.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#12099 Support `upper` and `lower` in `strings_udf`
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/strings_udf/cpp/src/strings/udf/shim.cu
  python/strings_udf/cpp/src/strings/udf/udf_apis.cu
  python/strings_udf/strings_udf/_lib/cpp/strings_udf.pxd
  python/strings_udf/strings_udf/_lib/tables.pyx
  python/strings_udf/strings_udf/_typing.py
  python/strings_udf/strings_udf/lowering.py
  python/strings_udf/strings_udf/tests/test_string_udfs.py
Labels: feature request, numba, cuDF (Python), 5 - Ready to Merge, non-breaking

#12094 Allow setting malloc heap size in string udfs
  python/cudf/cudf/core/udf/__init__.py
  python/strings_udf/strings_udf/__init__.py
Labels: feature request, 2 - In Progress, numba, cuDF (Python), non-breaking

#12189 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  python/cudf/cudf/core/udf/__init__.py
  python/strings_udf/strings_udf/__init__.py
Labels: cuDF (Python)

#12139 Ensure dlpack include is provided to cudf interop lib
  cpp/cmake/thirdparty/get_dlpack.cmake
  python/cudf/CMakeLists.txt
  python/cudf/cudf/_lib/CMakeLists.txt
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), CMake, non-breaking

#11867 Implement chunked Parquet reader
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/column_buffer.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/parquet_chunked_reader_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, helps: Spark, non-breaking

#12096 Add wheel builds
  .github/workflows/wheels.yml
  .gitignore
  cpp/CMakeLists.txt
  python/cudf/CMakeLists.txt
  python/cudf/LICENSE
  python/cudf/_custom_build/backend.py
  python/cudf/cmake/Modules/WheelHelpers.cmake
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/pyproject.toml
  python/cudf/setup.py
  python/dask_cudf/LICENSE
  python/dask_cudf/setup.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), CMake, non-breaking

#12188 Don't use CMake 3.25.0 as it has a show stopping FindCUDAToolkit bug
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/strings_udf/conda_build_config.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: bug, cuDF (Python), 5 - Ready to Merge, ! - Hotfix, conda, non-breaking

#12196 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/strings_udf/conda_build_config.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: cuDF (Python), conda

#12173 Clean up existing JNI scalar to column code
  java/src/main/native/src/ColumnVectorJni.cpp
Labels: 3 - Ready for Review, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#12197 Reduce number of tests marked `spilling`
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_reshape.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11961 Implement JNI for chunked Parquet reader
  java/src/main/java/ai/rapids/cudf/ParquetChunkedReader.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ChunkedReaderJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/resources/splittable.parquet
Labels: feature request, 3 - Ready for Review, CMake, cuDF (Java), helps: Spark, non-breaking

#12203 [REVIEW] Fix `from_dict` backend dispatch to match upstream `dask`
  python/dask_cudf/dask_cudf/backends.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12193 Remove Python dependencies from Java CI.
  ci/gpu/java.sh
Labels: gpuCI, tech debt, improvement, non-breaking

#12208 Adds in new java APIs for appending byte arrays to host columnar data
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#12194 Fix compression in ORC writer
  cpp/src/io/orc/stripe_enc.cu
Labels: bug, libcudf, non-breaking

#12214 [REVIEW] Add `Series.hasnans` and `Index.hasnans`
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#12217 Workaround for CUB segmented-sort bug with boolean keys
  cpp/src/sort/segmented_sort.cu
  cpp/tests/sort/segmented_sort_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12225 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  cpp/src/sort/segmented_sort.cu
  cpp/tests/sort/segmented_sort_tests.cpp
Labels: libcudf

#12160 Fix data corruption when reading ORC files with empty stripes
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.AllNulls.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.EmptyListStripe.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.NullStructStripe.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.OneEmptyList.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.OneEmptyMap.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.OneNullStruct.orc
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), cuIO, non-breaking

#12226 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.AllNulls.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.EmptyListStripe.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.NullStructStripe.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.OneEmptyList.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.OneEmptyMap.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.Hive.OneNullStruct.orc
  python/cudf/cudf/tests/test_orc.py
Labels: libcudf, cuDF (Python)

#12185 Move strings children functions from cudf/strings/detail/utilities.cuh to new header
  cpp/benchmarks/string/json.cu
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/groupby/sort/group_collect.cu
  cpp/src/hash/md5_hash.cu
  cpp/src/io/csv/durations.cu
  cpp/src/io/csv/writer_impl.cu
  cpp/src/lists/copying/scatter_helper.cu
  cpp/src/lists/interleave_columns.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/src/reshape/byte_cast.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/rolling/detail/rolling_collect_list.cuh
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/combine/concatenate.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/combine/join_list_elements.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_lists.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/regex/utilities.cuh
  cpp/src/strings/repeat_strings.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/search/findall.cu
  cpp/src/strings/substring.cu
  cpp/src/strings/translate.cu
  cpp/src/text/detokenize.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/src/text/normalize.cu
  cpp/src/text/replace.cu
  cpp/src/text/stemmer.cu
  cpp/src/text/subword/bpe_tokenizer.cu
  cpp/src/text/subword/load_hash_file.cu
Labels: 3 - Ready for Review, libcudf, tech debt, strings, improvement, non-breaking

#12233 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  python/dask_cudf/setup.py
Labels: cuDF (Python)

#12210 Add cudf::strings:udf::replace function
  python/strings_udf/cpp/include/cudf/strings/udf/replace.cuh
Labels: 3 - Ready for Review, cuDF (Python), strings, improvement, non-breaking

#12220 Clean up of `test_spilling.py`
  python/cudf/cudf/tests/test_spilling.py
Labels: cuDF (Python), improvement, non-breaking

#12206 Fix memory leak in udf_string::assign(&&) function
  python/strings_udf/cpp/include/cudf/strings/udf/udf_string.cuh
Labels: bug, 3 - Ready for Review, cuDF (Python), strings, non-breaking

#12168 Workaround thrust-copy-if limit in wordpiece-tokenizer
  cpp/src/text/subword/wordpiece_tokenizer.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12181 Support regex EOL where the string ends with a new-line character
  cpp/doxygen/regex.md
  cpp/src/strings/regex/regex.inl
  cpp/tests/strings/contains_tests.cpp
  cpp/tests/strings/extract_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, strings, non-breaking

#12223 Spill Statistics
  docs/cudf/source/developer_guide/library_design.md
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_spilling.py
Labels: cuDF (Python), improvement, non-breaking

#12114 Update 10 minutes to cuDF
  docs/cudf/source/user_guide/10min.ipynb
Labels: 3 - Ready for Review, doc, non-breaking

#12221 Use CUDF_JNI_ENABLE_PROFILING to conditionally enable profiling support.
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/CudaJni.cpp
Labels: CMake, cuDF (Java), improvement, non-breaking

#12234 Patch CUB DeviceSegmentedSort and remove workaround
  cpp/cmake/thirdparty/patches/cub_segmented_sort_with_bool_key.diff
  cpp/cmake/thirdparty/patches/thrust_override.json
  cpp/src/sort/segmented_sort.cu
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#12242 Replace column/table test utilities with macros
  cpp/include/cudf_test/column_utilities.hpp
  cpp/include/cudf_test/table_utilities.hpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/column/bit_cast_test.cpp
  cpp/tests/column/column_test.cu
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/copying/gather_list_tests.cpp
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/slice_tests.cpp
  cpp/tests/copying/split_tests.cpp
  cpp/tests/copying/utility_tests.cpp
  cpp/tests/encode/encode_tests.cpp
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/io/csv_test.cpp
  cpp/tests/quantiles/percentile_approx_test.cpp
  cpp/tests/rolling/lead_lag_test.cpp
  cpp/tests/strings/replace_tests.cpp
  cpp/tests/structs/structs_column_tests.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/table_utilities.cu
  cpp/tests/utilities_tests/column_utilities_tests.cpp
  cpp/tests/utilities_tests/lists_column_wrapper_tests.cpp
Labels: 3 - Ready for Review, tests, libcudf, tech debt, improvement, non-breaking

#12237 Fix sort gtests coded in namespace cudf::test
  cpp/include/cudf/detail/sorting.hpp
  cpp/tests/sort/is_sorted_tests.cpp
  cpp/tests/sort/rank_test.cpp
  cpp/tests/sort/segmented_sort_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12250 Fix include line for IO Cython modules
  python/cudf/cudf/_lib/io/CMakeLists.txt
Labels: bug, 3 - Ready for Review, cuDF (Python), CMake, non-breaking

#12253 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  python/cudf/cudf/_lib/io/CMakeLists.txt
Labels: cuDF (Python), CMake

#12252 Fix spill to device limit
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/tests/test_spilling.py
Labels: bug, cuDF (Python), non-breaking

#12182 Fix page size calculation in Parquet writer
  cpp/src/io/parquet/page_enc.cu
Labels: bug, libcudf, cuIO, non-breaking

#12207 Support `replace` in `strings_udf`
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/strings_udf/cpp/src/strings/udf/shim.cu
  python/strings_udf/strings_udf/_typing.py
  python/strings_udf/strings_udf/lowering.py
  python/strings_udf/strings_udf/tests/test_string_udfs.py
Labels: feature request, 3 - Ready for Review, numba, cuDF (Python), non-breaking

#12271 Only exclude join keys that are indices from key columns
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#12040 Move `_label_encoding` from Series to Column
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/series.py
Labels: code quality, cuDF (Python), tech debt, improvement, non-breaking

#12254 Remove default parameters from cudf::detail::sort function declarations
  cpp/include/cudf/detail/quantiles.hpp
  cpp/include/cudf/detail/sorting.hpp
  cpp/src/quantiles/quantiles.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/reductions/reductions.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12230 Rename `cudf::structs::detail::superimpose_parent_nulls` APIs
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/scalar/scalar.cpp
  cpp/src/structs/structs_column_factories.cu
  cpp/src/structs/utilities.cpp
  cpp/src/table/row_operators.cu
  cpp/tests/io/parquet_chunked_reader_test.cpp
  cpp/tests/join/join_tests.cpp
  cpp/tests/structs/utilities_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, breaking
