Repository rapidsai/cudf, pull requests merged in 2022-08, with the labels that each got.

#11409 Revert "Allow CuPy 11"
  conda/recipes/cudf/meta.yaml
  python/cudf/setup.py
  python/dask_cudf/setup.py
Labels: bug, cuDF (Python), conda, non-breaking

#11383 Remove HASH_SERIAL_MURMUR3 / serial32BitMurmurHash3
  cpp/benchmarks/hashing/hash.cpp
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/hashing.hpp
  cpp/src/hash/hashing.cu
  cpp/tests/hashing/hash_test.cpp
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HashType.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  python/cudf/cudf/_lib/cpp/hash.pxd
Labels: libcudf, cuDF (Python), cuDF (Java), tech debt, improvement, breaking

#11272 Provide an Option for Default Integer and Floating Bitwidth
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/conftest.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), non-breaking

#11412 Relax arrow pinning to just 8.x and remove cuda build dependency from cudf recipe
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
Labels: bug, 3 - Ready for Review, conda, non-breaking

#11379 Add Spark list hashing Java tests
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: tests, cuDF (Java), improvement, non-breaking

#11418 [REVIEW] Relax arrow version in dev env
  conda/environments/cudf_dev_cuda11.5.yml
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#11417 libcudf c++ example updated to CPM version 0.35.3
  cpp/examples/basic/CMakeLists.txt
Labels: bug, libcudf, CMake, non-breaking

#11400 [REVIEW] Fix issues with day & night modes in python docs
  cpp/doxygen/Doxyfile
  cpp/doxygen/footer.html
  cpp/doxygen/rapids.css
  docs/cudf/source/_static/params.css
  docs/cudf/source/conf.py
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#11419 Return schema info from JSON reader
  cpp/src/io/json/reader_impl.cu
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/io/json.py
Labels: feature request, libcudf, cuDF (Python), cuIO, non-breaking

#11376 Move cmake to the build section.
  conda/recipes/cudf/meta.yaml
Labels: 3 - Ready for Review, conda, improvement, non-breaking

#11371 Fix read_text when byte_range is aligned with field
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
  python/dask_cudf/dask_cudf/io/text.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, non-breaking

#11428 [REVIEW] Fix `distributed` error related to `loop_in_thread`
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask-cudf, non-breaking

#11429 Change cmake to allow controlling Arrow version via cmake variable
  cpp/cmake/thirdparty/get_arrow.cmake
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, non-breaking

#11430 [REVIEW] Use documented header template for `doxygen`
  cpp/doxygen/Doxyfile
  cpp/doxygen/footer.html
  cpp/doxygen/header.html
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#11433 [REVIEW] Pin `dask` & `distributed` for release
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/dask_cudf/setup.py
Labels: gpuCI, cuDF (Python), 5 - Ready to Merge, conda, improvement, non-breaking

#11297 Quickly error out when trying to build with unsupported nvcc versions
  cpp/CMakeLists.txt
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#11420 Fix atomic operations on NaN values
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
Labels: bug, libcudf, 4 - Needs libcudf Reviewer, helps: Spark, non-breaking

#11410 [Java] Added Java bindings for Parquet options for binary read
  java/src/main/java/ai/rapids/cudf/ParquetOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/resources/binary.parquet
Labels: cuDF (Java), improvement, non-breaking

#11431 Add in JNI for parsing JSON data and getting the metadata back too.
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/TableWithMeta.java
  java/src/main/native/src/TableJni.cpp
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#11426 Python API for the future experimental JSON reader
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/_lib/cpp/io/json.pxd
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
Labels: feature request, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#11421 Deprecate unflatten_nested_columns
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/src/structs/utilities.cpp
  cpp/tests/structs/utilities_tests.cpp
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#11451 Make Index Join Tests on Default Precisions Deterministic
  python/cudf/cudf/tests/test_index.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#11448 [gpuCI] Forward-merge branch-22.08 to branch-22.10 [skip gpuci]
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  java/src/main/java/ai/rapids/cudf/ParquetOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/resources/binary.parquet
  python/cudf/cudf/tests/test_index.py
Labels: libcudf, cuDF (Python), cuDF (Java)

#11424 Convert byte_array_view to use std::byte
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/io/statistics/byte_array_view.cuh
  cpp/src/io/statistics/statistics.cuh
Labels: 3 - Ready for Review, code quality, libcudf, improvement, non-breaking

#11356 Add column constructor from device_uvector&&
  cpp/include/cudf/column/column.hpp
  cpp/tests/column/column_test.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11446 Return empty dataframe when reading an ORC file using empty `columns` option
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/aggregate_orc_metadata.hpp
  cpp/tests/io/orc_test.cpp
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, cuDF (Java), breaking

#11455 Convert thrust::optional usages to std::optional
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/parquet.hpp
Labels: feature request, 3 - Ready for Review, libcudf, breaking

#11456 Make CMake hooks verbose
  .pre-commit-config.yaml
  cpp/scripts/run-cmake-format.sh
Labels: 3 - Ready for Review, code quality, libcudf, improvement, non-breaking

#11373 Fix regex quantifier check to include capture groups
  cpp/src/strings/regex/regcomp.cpp
  cpp/tests/strings/contains_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#11457 Add missing Thrust #includes.
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/io/orc/orc_writer_chunks.cpp
  cpp/benchmarks/iterator/iterator.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/include/cudf/detail/copy.cuh
  cpp/include/cudf/detail/indexalator.cuh
  cpp/include/cudf/detail/labeling/label_segments.cuh
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/lists/list_device_view.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/binaryop/compiled/struct_binary_ops.cuh
  cpp/src/copying/purge_nonempty_nulls.cu
  cpp/src/groupby/sort/group_collect.cu
  cpp/src/groupby/sort/group_correlation.cu
  cpp/src/groupby/sort/group_quantiles.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/hash/spark_murmur_hash.cu
  cpp/src/io/comp/nvcomp_adapter.cu
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.cuh
  cpp/src/lists/combine/concatenate_rows.cu
  cpp/src/lists/contains.cu
  cpp/src/lists/stream_compaction/apply_boolean_mask.cu
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/replace/clamp.cu
  cpp/src/rolling/detail/nth_element.cuh
  cpp/src/rolling/detail/rolling_collect_list.cu
  cpp/src/rolling/detail/rolling_fixed_window.cu
  cpp/src/rolling/detail/rolling_variable_window.cu
  cpp/src/sort/sort.cu
  cpp/src/stream_compaction/drop_nans.cu
  cpp/src/stream_compaction/drop_nulls.cu
  cpp/src/strings/attributes.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/search/find.cu
  cpp/src/strings/search/findall.cu
  cpp/src/strings/strip.cu
  cpp/src/table/row_operators.cu
  cpp/src/text/replace.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
  cpp/tests/io/csv_test.cpp
  cpp/tests/iterator/optional_iterator_test_numeric.cu
  cpp/tests/join/conditional_join_tests.cu
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
Labels: libcudf, tech debt, improvement, non-breaking

#11464 Add groupby `max` aggregation benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_max.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking, not a bug

#11465 [REVIEW] Defer loading of `custom.js`
  docs/cudf/source/conf.py
Labels: doc, non-breaking

#11461 Extract Dremel encoding code from Parquet
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/utilities/linked_column.hpp
  cpp/include/cudf/lists/detail/dremel.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/lists/dremel.cu
  cpp/src/table/row_operators.cu
Labels: 3 - Ready for Review, libcudf, CMake, conda, improvement, non-breaking

#11235 Create main developer guide for Python
  docs/cudf/source/conf.py
  docs/cudf/source/developer_guide/contributing_guide.md
  docs/cudf/source/developer_guide/documentation.md
  docs/cudf/source/developer_guide/index.md
  docs/cudf/source/developer_guide/library_design.md
Labels: 3 - Ready for Review, doc, non-breaking

#11480 [REVIEW] Drop support for `skiprows` and `num_rows` in `cudf.read_parquet`
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), 5 - Ready to Merge, cuIO, improvement, breaking

#11482 Refactor group_nunique.cu to use nullate::DYNAMIC for reduce-by-key functor
  cpp/src/groupby/sort/group_nunique.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11365 column: calculate null_count before release()ing the cudf::column
  python/cudf/cudf/_lib/column.pyx
Labels: bug, 3 - Ready for Review, code quality, Cython, non-breaking

#7917 cuDF error handling document
  docs/cudf/source/developer_guide/contributing_guide.md
  docs/cudf/source/developer_guide/index.md
Labels: 3 - Ready for Review, doc, non-breaking

#11264 Adds JSON tokenizer
  cpp/CMakeLists.txt
  cpp/src/io/fst/lookup_tables.cuh
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/fst/common.hpp
  cpp/tests/io/fst/fst_test.cu
  cpp/tests/io/nested_json_test.cu
Labels: feature request, 3 - Ready for Review, libcudf, CMake, cuIO, non-breaking

#11472 Add groupby `nunique` aggregation benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_nunique.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#11492 [REVIEW] Unpin `dask` and `distributed` for development
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/dask_cudf/setup.py
Labels: gpuCI, cuDF (Python), 5 - Ready to Merge, conda, improvement, non-breaking

#11470 Disable Arrow S3 support by default.
  conda/recipes/libcudf/build.sh
  cpp/CMakeLists.txt
Labels: libcudf, CMake, conda, improvement, breaking

#11443 [REVIEW] Fix a misalignment in `cudf.get_dummies` docstring
  python/cudf/cudf/core/reshape.py
Labels: doc, cuDF (Python), 5 - Ready to Merge, non-breaking

#11450 Remove unused is_struct trait.
  cpp/include/cudf/utilities/traits.hpp
Labels: libcudf, improvement, breaking

#11489 Move SparkMurmurHash3_32 functor.
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/src/hash/spark_murmur_hash.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11497 Fix out-of-bound access in `cudf::detail::label_segments`
  cpp/include/cudf/detail/labeling/label_segments.cuh
Labels: bug, 3 - Ready for Review, libcudf, ! - Hotfix, helps: Spark, non-breaking

#11473 Add reduction `distinct_count` benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reduction/distinct_count.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#11505 [REVIEW] Update parquet fuzz tests to drop support for `skiprows` & `num_rows`
  python/cudf/cudf/_fuzz_testing/parquet.py
  python/cudf/cudf/_fuzz_testing/tests/fuzz_test_parquet.py
Labels: bug, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, 5 - Ready to Merge, non-breaking

#11507 [REVIEW] Upgrade to `arrow-9.x`
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
Labels: libcudf, CMake, 5 - Ready to Merge, conda, improvement, non-breaking

#11437 Update to Thrust 1.17.0
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/cmake/thrust.patch
Labels: libcudf, CMake, improvement, non-breaking

#11508 copy_range ballot_syncs to have no execution dependency
  cpp/include/cudf/detail/copy_range.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11447 [REVIEW] Refactor the `Buffer` class
  python/cudf/cudf/_lib/column.pyi
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/null_mask.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/abc.py
  python/cudf/cudf/core/buffer.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_buffer.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf/tests/test_df_protocol.py
  python/cudf/cudf/tests/test_pickling.py
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_testing.py
  python/cudf/cudf/utils/string.py
  python/cudf/cudf/utils/utils.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, breaking

#11513 Fix cmake error after upgrading to Arrow 9
  cpp/cmake/thirdparty/get_arrow.cmake
Labels: bug, libcudf, CMake, 5 - Ready to Merge, non-breaking

#11512 Fix reverse binary operators acting on a host value and cudf.Scalar
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/utils/dtypes.py
Labels: bug, cuDF (Python), non-breaking

#11030 Remove deprecated expand parameter from str.findall.
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: cuDF (Python), improvement, breaking

#11498 Sanitize percentile_approx() output for empty input
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/tests/quantiles/percentile_approx_test.cu
Labels: libcudf, improvement, non-breaking

#11511 Fix Feather test warning.
  python/cudf/cudf/tests/test_feather.py
Labels: cuDF (Python), tech debt, improvement, non-breaking

#11503 Remove support for skip_rows / num_rows options in the parquet reader.
  cpp/benchmarks/io/parquet/parquet_reader.cpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/tests/io/parquet_test.cpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, breaking

#11314 Added 'crosstab' and 'pivot_table' features
  python/cudf/benchmarks/API/bench_functions.py
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), non-breaking

#11388 Adds the end-to-end JSON parser implementation
  cpp/include/cudf_test/io_metadata_utilities.hpp
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/metadata_utilities.cpp
  cpp/tests/io/nested_json_test.cpp
  cpp/tests/io/nested_json_test.cu
Labels: feature request, libcudf, CMake, cuIO, non-breaking

#11517 Fix invalid results from conditional-left-anti-join in debug build
  cpp/src/join/conditional_join_kernels.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11479 Add fluent API builder to `data_profile`
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/common/generate_input.hpp
  cpp/benchmarks/copying/contiguous_split.cu
  cpp/benchmarks/filling/repeat.cpp
  cpp/benchmarks/groupby/group_max.cpp
  cpp/benchmarks/groupby/group_no_requests.cpp
  cpp/benchmarks/groupby/group_nth.cpp
  cpp/benchmarks/groupby/group_nunique.cpp
  cpp/benchmarks/groupby/group_rank.cpp
  cpp/benchmarks/groupby/group_scan.cpp
  cpp/benchmarks/groupby/group_shift.cpp
  cpp/benchmarks/groupby/group_struct_keys.cpp
  cpp/benchmarks/groupby/group_struct_values.cpp
  cpp/benchmarks/groupby/group_sum.cpp
  cpp/benchmarks/io/orc/orc_reader.cpp
  cpp/benchmarks/io/orc/orc_writer.cpp
  cpp/benchmarks/io/parquet/parquet_reader.cpp
  cpp/benchmarks/io/parquet/parquet_writer.cpp
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/benchmarks/quantiles/quantiles.cpp
  cpp/benchmarks/reduction/anyall.cpp
  cpp/benchmarks/reduction/dictionary.cpp
  cpp/benchmarks/reduction/distinct_count.cpp
  cpp/benchmarks/reduction/rank.cpp
  cpp/benchmarks/reduction/reduce.cpp
  cpp/benchmarks/reduction/segment_reduce.cu
  cpp/benchmarks/search/contains.cpp
  cpp/benchmarks/search/search.cpp
  cpp/benchmarks/sort/rank.cpp
  cpp/benchmarks/sort/sort.cpp
  cpp/benchmarks/stream_compaction/apply_boolean_mask.cpp
  cpp/benchmarks/stream_compaction/distinct.cpp
  cpp/benchmarks/stream_compaction/unique.cpp
  cpp/benchmarks/string/combine.cpp
  cpp/benchmarks/string/contains.cpp
  cpp/benchmarks/string/copy.cu
  cpp/benchmarks/string/extract.cpp
  cpp/benchmarks/string/factory.cu
  cpp/benchmarks/string/filter.cpp
  cpp/benchmarks/string/find.cpp
  cpp/benchmarks/string/json.cu
  cpp/benchmarks/string/repeat_strings.cpp
  cpp/benchmarks/string/replace.cpp
  cpp/benchmarks/string/replace_re.cpp
  cpp/benchmarks/string/split.cpp
  cpp/benchmarks/string/substring.cpp
  cpp/benchmarks/string/translate.cpp
  cpp/benchmarks/text/ngrams.cpp
  cpp/benchmarks/text/normalize.cpp
  cpp/benchmarks/text/normalize_spaces.cpp
  cpp/benchmarks/text/tokenize.cpp
Labels: feature request, tests, libcudf, 5 - Ready to Merge, non-breaking

#11404 Add regex ASCII flag support for matching builtin character classes
  cpp/doxygen/regex.md
  cpp/include/cudf/strings/regex/flags.hpp
  cpp/src/strings/regex/regcomp.cpp
  cpp/tests/strings/contains_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, strings, non-breaking

#11522 [REVIEW] Deprecate `skiprows` and `num_rows` in `read_orc`
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking, deprecation

#11526 Fixing crash when writing binary nested data in parquet
  cpp/src/io/utilities/column_utils.cuh
  cpp/tests/io/parquet_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#11535 find_package(cudf) + arrow9 usable with cudf build directory
  cpp/cmake/thirdparty/get_arrow.cmake
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#11520 Struct support for `NULL_EQUALS` binary operation
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/binaryop/compiled/struct_binary_ops.cuh
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/ScalarJni.cpp
  java/src/test/java/ai/rapids/cudf/BinaryOpTest.java
Labels: 3 - Ready for Review, libcudf, cuDF (Java), helps: Spark, improvement, non-breaking

#11438 Refactor pad_side and strip_type enums into side_type enum
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/strings/padding.hpp
  cpp/include/cudf/strings/side_type.hpp
  cpp/include/cudf/strings/strip.hpp
  cpp/src/strings/padding.cu
  cpp/src/strings/strip.cu
  cpp/tests/strings/pad_tests.cpp
  cpp/tests/strings/strip_tests.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  python/cudf/cudf/_lib/cpp/strings/padding.pxd
  python/cudf/cudf/_lib/cpp/strings/side_type.pxd
  python/cudf/cudf/_lib/cpp/strings/strip.pxd
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/padding.pxd
  python/cudf/cudf/_lib/strings/padding.pyx
  python/cudf/cudf/_lib/strings/strip.pyx
  python/cudf/cudf/core/column/string.py
Labels: 3 - Ready for Review, libcudf, cuDF (Python), conda, cuDF (Java), improvement, breaking

#11493 Use rapids-cmake 22.10 best practice for RAPIDS.cmake location
  fetch_rapids.cmake
Labels: bug, 3 - Ready for Review, non-breaking

#11454 Control Parquet page size through Python API
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), improvement, non-breaking

#11490 Add `create_random_column` function to the data generator
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/common/generate_input.hpp
  cpp/benchmarks/copying/contiguous_split.cu
  cpp/benchmarks/filling/repeat.cpp
  cpp/benchmarks/groupby/group_max.cpp
  cpp/benchmarks/groupby/group_nth.cpp
  cpp/benchmarks/groupby/group_nunique.cpp
  cpp/benchmarks/groupby/group_scan.cpp
  cpp/benchmarks/groupby/group_struct_keys.cpp
  cpp/benchmarks/groupby/group_sum.cpp
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/benchmarks/reduction/anyall.cpp
  cpp/benchmarks/reduction/dictionary.cpp
  cpp/benchmarks/reduction/distinct_count.cpp
  cpp/benchmarks/reduction/minmax.cpp
  cpp/benchmarks/reduction/reduce.cpp
  cpp/benchmarks/reduction/scan.cpp
  cpp/benchmarks/reduction/segment_reduce.cu
  cpp/benchmarks/replace/clamp.cpp
  cpp/benchmarks/replace/nans.cpp
  cpp/benchmarks/search/contains.cpp
  cpp/benchmarks/sort/rank.cpp
  cpp/benchmarks/stream_compaction/apply_boolean_mask.cpp
  cpp/benchmarks/stream_compaction/distinct.cpp
  cpp/benchmarks/stream_compaction/unique.cpp
  cpp/benchmarks/string/case.cpp
  cpp/benchmarks/string/convert_datetime.cpp
  cpp/benchmarks/string/convert_fixed_point.cpp
  cpp/benchmarks/string/convert_numerics.cpp
  cpp/benchmarks/string/extract.cpp
  cpp/benchmarks/string/factory.cu
  cpp/benchmarks/string/filter.cpp
  cpp/benchmarks/string/find.cpp
  cpp/benchmarks/string/replace.cpp
  cpp/benchmarks/string/replace_re.cpp
  cpp/benchmarks/string/split.cpp
  cpp/benchmarks/string/substring.cpp
  cpp/benchmarks/string/translate.cpp
  cpp/benchmarks/text/ngrams.cpp
  cpp/benchmarks/text/normalize.cpp
  cpp/benchmarks/text/normalize_spaces.cpp
  cpp/benchmarks/text/tokenize.cpp
  cpp/docs/BENCHMARKING.md
Labels: feature request, libcudf, non-breaking

#11524 Adding optional parquet reader schema
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/column_buffer.hpp
  cpp/tests/io/parquet_test.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, cuDF (Java), breaking

#11527 Add hexadecimal value separators
  cpp/docs/DEVELOPER_GUIDE.md
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/copy_range.cuh
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/detail/utilities/int_fastdiv.h
  cpp/include/cudf/detail/valid_if.cuh
  cpp/include/cudf/strings/detail/utf8.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/copying/concatenate.cu
  cpp/src/io/avro/avro.hpp
  cpp/src/io/comp/cpu_unbz2.cpp
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/snap.cu
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet.hpp
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/merge/merge.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/rolling/jit/kernel.cu
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/json/json_path.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/text/normalize.cu
  cpp/src/text/subword/detail/codepoint_metadata.ah
  cpp/src/text/subword/detail/cp_data.h
  cpp/tests/device_atomics/device_atomics_test.cu
  cpp/tests/hashing/hash_test.cpp
  cpp/tests/io/parquet_test.cpp
  java/src/main/native/src/row_conversion.cu
Labels: libcudf, cuDF (Java), improvement, non-breaking

#11544 Removing unnecessary asserts in parquet tests
  cpp/tests/io/parquet_test.cpp
Labels: 3 - Ready for Review, code quality, libcudf, cuIO, tech debt, improvement, non-breaking

#11364 Use the new JSON parser when the experimental reader is selected
  cpp/include/cudf/io/types.hpp
  cpp/src/io/json/experimental/read_json.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/tests/io/json_test.cpp
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/tests/test_json.py
Labels: feature request, libcudf, cuDF (Python), cuDF (Java), breaking

#11528 Reuse MurmurHash3_32 in Parquet page data.
  cpp/src/io/parquet/page_data.cu
Labels: libcudf, improvement, non-breaking

#11556 JNI support for writing binary columns in parquet
  java/src/main/java/ai/rapids/cudf/ColumnWriterOptions.java
  java/src/main/java/ai/rapids/cudf/CompressionMetadataWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#10656 Fully support nested types in `cudf::contains`
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/search.hpp
  cpp/src/search/contains_column.cu
  cpp/src/search/contains_nested.cu
  cpp/src/search/contains_scalar.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/search/search_list_test.cpp
  cpp/tests/search/search_struct_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, helps: Spark, non-breaking

#11547 Support additional dictionary bit widths in Parquet writer
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_test.cpp
Labels: 3 - Ready for Review, libcudf, cuIO, improvement, non-breaking

#11554 Remove unused cpp/img folder
  cpp/img/GPU_df_arch_diagram.png
  cpp/img/goai_logo_3.png
  cpp/img/mapd-conda-h2o.png
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#11567 xfail custreamz display test for now
  python/custreamz/custreamz/tests/test_dataframes.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11566 Fix JNI for TableWithMeta to use schema_info instead of column_names
  java/src/main/java/ai/rapids/cudf/TableWithMeta.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: bug, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, non-breaking

#11561 Fix groupby failures in dask_cudf CI
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11523 Fix for: error when assigning a value to an empty series
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#11538 Fix for pivot: error when 'values' is a multicharacter string
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#11562 Add byte_range to multibyte_split benchmark + NVBench refactor
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/text/multibyte_split.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#11403 Truncate parquet column indexes
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/strings/detail/utf8.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_test.cpp
Labels: feature request, libcudf, cuIO, non-breaking

#11557 Handle hyphen as literal for regex cclass when incomplete range
  cpp/doxygen/regex.md
  cpp/src/strings/regex/regcomp.cpp
  cpp/tests/strings/contains_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, non-breaking

#10548 Support nested types in `lists::contains`
  cpp/include/cudf/lists/list_device_view.cuh
  cpp/src/lists/contains.cu
  cpp/tests/lists/contains_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#11568 [REVIEW] Add ability to write `list(struct)` columns as `map` type in orc writer
  cpp/include/cudf/io/types.hpp
  python/cudf/cudf/_lib/cpp/lists/lists_column_view.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Labels: libcudf, cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11543 Clean up ORC reader benchmarks with NVBench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/orc/orc_reader.cpp
  cpp/benchmarks/io/orc/orc_reader_input.cpp
  cpp/benchmarks/io/orc/orc_reader_options.cpp
Labels: 3 - Ready for Review, libcudf, CMake, cuIO, tech debt, improvement, non-breaking

#11582 Enable more Pydocstyle rules
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/testing/dataset_generator.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/cudf/utils/ioutils.py
  python/cudf/cudf/utils/utils.py
  python/custreamz/custreamz/kafka.py
  python/dask_cudf/dask_cudf/core.py
  setup.cfg
Labels: doc, cuDF (Python), non-breaking

#11584 Correct distribution data type in `quantiles` benchmark
  cpp/benchmarks/quantiles/quantiles.cpp
Labels: bug, tests, libcudf, 5 - Ready to Merge, non-breaking

#11590 [REVIEW] Fix an issue with `to_arrow` when column name type is not a string
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11287 Enable using upstream jitify2
  cpp/CMakeLists.txt
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/cmake/thirdparty/get_jitify.cmake
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/fixed_point/temporary.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/strings/convert/convert_fixed_point.cu
Labels: libcudf, CMake, improvement, non-breaking

#11534 Adds support for json lines format to the nested JSON reader
  cpp/src/io/json/experimental/read_json.cpp
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json_test.cpp
  cpp/tests/io/nested_json_test.cpp
  python/cudf/cudf/tests/test_json.py
Labels: feature request, libcudf, cuDF (Python), cuIO, non-breaking

#11601 Use stream in Java API.
  java/src/main/native/src/row_conversion.cu
Labels: cuDF (Java), improvement, non-breaking

#11578 Add casting operators to masked UDFs
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Labels: feature request, 2 - In Progress, cuDF (Python), non-breaking

#11583 Fix multibyte_split benchmark for host buffers
  cpp/CMakeLists.txt
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/src/io/text/data_chunk_source_factories.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/text/data_chunk_source_test.cpp
Labels: bug, libcudf, CMake, 5 - Ready to Merge, non-breaking

#11600 Refactors of public/detail APIs, CUDF_FUNC_RANGE, stream handling.
  cpp/include/cudf/concatenate.hpp
  cpp/include/cudf/detail/concatenate.cuh
  cpp/src/binaryop/binaryop.cpp
  cpp/src/copying/concatenate.cu
  cpp/src/copying/contiguous_split.cu
  cpp/src/copying/get_element.cu
  cpp/src/copying/sample.cu
  cpp/src/copying/shift.cu
  cpp/src/filling/calendrical_month_sequence.cu
  cpp/src/filling/sequence.cu
  cpp/src/interop/dlpack.cpp
  cpp/src/interop/to_arrow.cu
  cpp/src/labeling/label_bins.cu
  cpp/src/lists/copying/segmented_gather.cu
  cpp/src/lists/extract.cu
  cpp/src/lists/stream_compaction/apply_boolean_mask.cu
  cpp/src/partitioning/round_robin.cu
  cpp/src/quantiles/quantiles.cu
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/reductions/minmax.cu
  cpp/src/reductions/scan/scan.cpp
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling.cu
  cpp/src/round/round.cu
  cpp/src/sort/rank.cu
  cpp/src/sort/stable_sort.cu
  cpp/src/stream_compaction/drop_nans.cu
  cpp/src/stream_compaction/drop_nulls.cu
  cpp/src/strings/substring.cu
  cpp/src/transform/encode.cu
  cpp/src/transform/mask_to_bools.cu
  cpp/src/transform/row_bit_count.cu
  cpp/src/unary/null_ops.cu
Labels: code quality, libcudf, tech debt, improvement, non-breaking

#11607 Fix compile warning in nested_json_gpu.cu
  cpp/src/io/json/nested_json_gpu.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11558 Add strings 'like' function
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/like.cpp
  cpp/include/cudf/strings/contains.hpp
  cpp/src/strings/like.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/like_tests.cpp
  docs/cudf/source/api_docs/string_handling.rst
  python/cudf/cudf/_lib/cpp/strings/contains.pxd
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/contains.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: feature request, libcudf, cuDF (Python), CMake, 5 - Ready to Merge, strings, non-breaking

#11608 Forward-merge branch-22.08 to branch-22.10 [skip gpuci]
  CHANGELOG.md
Labels: improvement, non-breaking

#11604 [REVIEW] Change default value of `ordered` to `False` in `CategoricalDtype`
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_categorical.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#11031 Remove deprecated Series.applymap.
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_applymap.py
  python/cudf/cudf/tests/test_seriesmap.py
  python/cudf/cudf/tests/test_transform.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#11588 Fix exception in segmented-reduce benchmark
  cpp/benchmarks/reduction/segment_reduce.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11594 Add is_timestamp test for leap second (60)
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11575 Move cudf::strings::findall_record to cudf::strings::findall
  cpp/CMakeLists.txt
  cpp/doxygen/regex.md
  cpp/include/cudf/strings/findall.hpp
  cpp/src/strings/search/findall.cu
  cpp/src/strings/search/findall_record.cu
  cpp/tests/strings/findall_tests.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  python/cudf/cudf/_lib/cpp/strings/findall.pxd
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/findall.pyx
  python/cudf/cudf/core/column/string.py
Labels: libcudf, cuDF (Python), CMake, 5 - Ready to Merge, cuDF (Java), improvement, breaking

#11618 Fix incorrect memory resource used in rolling temp columns
  cpp/src/rolling/grouped_rolling.cu
Labels: tech debt, improvement, non-breaking

#11598 Improve ORC writer benchmark with nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/nvbench_helpers.hpp
  cpp/benchmarks/io/orc/orc_reader_input.cpp
  cpp/benchmarks/io/orc/orc_reader_options.cpp
  cpp/benchmarks/io/orc/orc_writer.cpp
  cpp/benchmarks/io/orc/orc_writer_chunks.cpp
Labels: 3 - Ready for Review, libcudf, CMake, cuIO, tech debt, improvement, non-breaking

#11619 changing version of cmake to 3.23.3
  java/ci/Dockerfile.centos7
Labels: feature request, 3 - Ready for Review, cuDF (Java), non-breaking

#11370 Remove use of CUDA driver API calls from libcudf
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/utilities.cuh
Labels: libcudf, CMake, improvement, non-breaking

#11500 Single-pass `multibyte_split`
  cpp/include/cudf/io/text/byte_range_info.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#11585 Move split_utils.cuh to strings/detail
  cpp/include/cudf/strings/detail/split_utils.cuh
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_record.cu
Labels: 2 - In Progress, 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#11622 Rework contains_scalar to check nulls at runtime
  cpp/src/search/contains_scalar.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11587 Tune multibyte_split kernel
  cpp/include/cudf/io/text/detail/multistate.hpp
  cpp/src/io/text/multibyte_split.cu
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#11616 Move type-dispatcher calls from traits.hpp to traits.cpp
  cpp/CMakeLists.txt
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/utilities/traits.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/hash/md5_hash.cu
  cpp/src/hash/spark_murmur_hash.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/statistics/column_statistics.cuh
  cpp/src/io/utilities/column_utils.cuh
  cpp/src/utilities/traits.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#11627 Removed converted type for INT32 and INT64 since they do not convert
  cpp/src/io/parquet/writer_impl.cu
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking
