Repository rapidsai/cudf, pull requests merged in 2022-07, with the labels that each got.

#11103 Fix index alignment for Series objects with repeated index
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11174 Pin max version of `cuda-python` to `11.7.0`
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
  python/cudf/setup.py
Labels: cuDF (Python), conda, improvement, non-breaking

#11181 Remove usage of Frame in StringMethods
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
Labels: code quality, cuDF (Python), 5 - Ready to Merge, tech debt, improvement, non-breaking

#11168 Refactor and optimize Frame.where
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/benchmarks/API/bench_dataframe_cases.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
Labels: 3 - Ready for Review, cuDF (Python), Performance, improvement, non-breaking

#11156 Clean up _copy_type_metadata
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking

#11178 Add thrift support for parquet column and offset indexes
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_common.hpp
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, non-breaking

#10979 Feature axes
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: feature request, cuDF (Python), non-breaking

#11200 [skip ci] Document why Development component is needing for CMake.
  python/cudf/cudf/_lib/CMakeLists.txt
Labels: 3 - Ready for Review, cuDF (Python), CMake, improvement, non-breaking

#11127 Move char-type table function declarations from src to detail
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/include/cudf/strings/char_types/char_types_enum.hpp
  cpp/include/cudf/strings/detail/char_tables.hpp
  cpp/include/cudf/strings/detail/utf8.hpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/regex/regexec.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/utf8.cuh
  cpp/src/strings/utilities.cu
Labels: 3 - Ready for Review, libcudf, conda, strings, improvement, non-breaking

#11184 Standardize join internals around DataFrame
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/join/join.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking

#11196 Add JNI bindings for extractAllRecord
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), helps: Spark, strings, non-breaking

#11195 cleanup unused code in rolling_test.hpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/rolling/rolling_test.hpp
Labels: 3 - Ready for Review, tests, code quality, libcudf, tech debt, improvement, non-breaking

#11177 Modify CheckPageRows in parquet_test to use datasources
  cpp/tests/io/parquet_test.cpp
Labels: 3 - Ready for Review, libcudf, cuIO, improvement, non-breaking

#11161 Provides a method for the user to remove the hook and re-register the hook in a custom shutdown hook manager
  java/src/main/java/ai/rapids/cudf/MemoryCleaner.java
Labels: bug, cuDF (Java), non-breaking

#11205 Generate benchmark data with correct run length regardless of cardinality
  cpp/benchmarks/common/generate_input.cu
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#11158 Support `nth_element` for window functions
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/rolling/nth_element.cuh
  cpp/src/rolling/rolling.cu
  cpp/src/rolling/rolling_collect_list.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/src/rolling/rolling_detail.hpp
  cpp/src/rolling/rolling_detail_fixed_window.cu
  cpp/src/rolling/rolling_detail_variable_window.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/nth_element_test.cpp
Labels: feature request, libcudf, CMake, non-breaking

#11170 Fix assertion in dask_cudf test_struct_explode
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask, non-breaking

#11188 Fix cumulative count index behavior
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), non-breaking

#11220 Fix const qualifier when using `host_span<bitmask_type const*>`
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
Labels: bug, 3 - Ready for Review, libcudf blocker, libcudf, helps: Spark, non-breaking

#11213 Avoid using `nvcompBatchedDeflateDecompressGetTempSizeEx` in cuIO
  cpp/src/io/comp/nvcomp_adapter.cpp
Labels: bug, libcudf, non-breaking

#11202 Improve performance for `cudf::contains` when searching for a scalar
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/search/contains.cpp
  cpp/src/search/contains.cu
  cpp/src/search/contains_nested.cu
Labels: 3 - Ready for Review, libcudf, CMake, Performance, improvement, non-breaking

#11166 Add npos const static member to cudf::string_view
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
  cpp/src/strings/capitalize.cu
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/search/find.cu
  cpp/src/strings/split/split_record.cu
  cpp/src/strings/substring.cu
  cpp/src/text/stemmer.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#11201 JNI bindings for NTH_ELEMENT window aggregation
  java/src/main/java/ai/rapids/cudf/RollingAggregation.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#11229 [REVIEW] Pin `dask-cuda` in dev environment
  ci/release/update-version.sh
  conda/environments/cudf_dev_cuda11.5.yml
Labels: 3 - Ready for Review, gpuCI, 5 - Ready to Merge, conda, improvement, non-breaking

#11153 Struct binary comparison op functionality for spark rapids
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/binaryop/compiled/binary_ops.cuh
  cpp/src/binaryop/compiled/struct_binary_ops.cuh
  java/src/main/native/include/maps_column_view.hpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/ScalarJni.cpp
  java/src/test/java/ai/rapids/cudf/BinaryOpTest.java
Labels: 3 - Ready for Review, libcudf, cuDF (Java), helps: Spark, improvement, non-breaking

#11231 Update nvCOMP integration table
  docs/cudf/source/user_guide/io.md
Labels: doc, cuIO, non-breaking

#11215 Enable positive group indices for extractAllRecord on JNI
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), non-breaking

#11173 Fix unresolved links in markdown
  cpp/docs/DEVELOPER_GUIDE.md
  docs/cudf/source/user_guide/data-types.md
  docs/cudf/source/user_guide/pandas-comparison.md
  python/custreamz/README.md
Labels: 3 - Ready for Review, doc, libcudf, cuDF (Python), non-breaking

#11221 Remove cruft in map_lookup
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/map_lookup.cu
  java/src/main/native/src/map_lookup.hpp
Labels: code quality, cuDF (Java), helps: Spark, improvement, non-breaking

#11232 Use `cudf::distinct` in Java binding
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, Performance, cuDF (Java), helps: Spark, improvement, non-breaking

#11066 Use per-page max compressed size estimate for compression
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
Labels: libcudf, 4 - Needs cuIO Reviewer, improvement, non-breaking

#11226 Treat zstd as stable in nvcomp releases 2.3.2 and later
  cpp/src/io/comp/nvcomp_adapter.cpp
Labels: feature request, libcudf, 4 - Needs cuIO Reviewer, non-breaking

#11149 Implement `lists::distinct` and `cudf::detail::stable_distinct`
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/lists/detail/stream_compaction.hpp
  cpp/include/cudf/lists/stream_compaction.hpp
  cpp/src/lists/stream_compaction/apply_boolean_mask.cu
  cpp/src/lists/stream_compaction/distinct.cu
  cpp/src/lists/utilities.cu
  cpp/src/lists/utilities.hpp
  cpp/src/stream_compaction/stable_distinct.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/lists/stream_compaction/apply_boolean_mask_tests.cpp
  cpp/tests/lists/stream_compaction/distinct_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf blocker, libcudf, CMake, helps: Spark, non-breaking

#11078 Adds the Logical Stack algorithm
  cpp/include/cudf_test/print_utilities.cuh
  cpp/src/io/fst/logical_stack.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/io/fst/logical_stack_test.cu
Labels: feature request, 3 - Ready for Review, libcudf, CMake, cuIO, non-breaking

#11180 Expose get_json_object_options to Python
  python/cudf/cudf/_lib/cpp/strings/json.pxd
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/json.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#11183 Move character case table declarations from src to detail
  cpp/include/cudf/strings/detail/char_tables.hpp
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_cases.h
  cpp/src/strings/char_types/is_flags.h
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/wrap.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#11238 Fix `tests/rolling/empty_input_test`
  cpp/tests/rolling/empty_input_test.cpp
Labels: bug, 3 - Ready for Review, libcudf blocker, libcudf, non-breaking

#11254 Fix a memory aliasing/crash issue in scatter for lists.
  cpp/src/lists/copying/scatter_helper.cu
Labels: bug, libcudf, non-breaking

#11137 Allow initial value for cudf::reduce and cudf::segmented_reduce.
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/reduction.cuh
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/include/cudf/reduction.hpp
  cpp/src/lists/stream_compaction/apply_boolean_mask.cu
  cpp/src/reductions/all.cu
  cpp/src/reductions/any.cu
  cpp/src/reductions/compound.cuh
  cpp/src/reductions/max.cu
  cpp/src/reductions/min.cu
  cpp/src/reductions/product.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/segmented_all.cu
  cpp/src/reductions/segmented_any.cu
  cpp/src/reductions/segmented_max.cu
  cpp/src/reductions/segmented_min.cu
  cpp/src/reductions/segmented_product.cu
  cpp/src/reductions/segmented_reductions.cpp
  cpp/src/reductions/segmented_sum.cu
  cpp/src/reductions/simple.cuh
  cpp/src/reductions/simple_segmented.cuh
  cpp/src/reductions/sum.cu
  cpp/src/reductions/sum_of_squares.cu
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/reductions/segmented_reduction_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11255 Ensure DeprecationWarnings are not introduced via pre-commit
  .pre-commit-config.yaml
Labels: 3 - Ready for Review, code quality, tech debt, improvement, non-breaking

#11234 Use `cudf::lists::distinct` in Python binding
  python/cudf/cudf/_lib/cpp/lists/stream_compaction.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/lists.py
Labels: cuDF (Python), 5 - Ready to Merge, Cython, Performance, improvement, non-breaking, helps: Python

#11257 Fix compile error due to missing header
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/include/cudf/reduction.hpp
  cpp/src/reductions/simple_segmented.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11258 Remove redundant black config specifications.
  .pre-commit-config.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking

#11260 Consolidate flake8 and pydocstyle configuration
  .pre-commit-config.yaml
  python/.flake8
  python/.flake8.cython
  setup.cfg
Labels: 3 - Ready for Review, code quality, tech debt, improvement, non-breaking

#11263 Returns DataFrame When Concating Along Axis 1
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_concat.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11075 Performance improvements for row to column conversions
  java/src/main/native/src/row_conversion.cu
Labels: 3 - Ready for Review, code quality, Performance, cuDF (Java), improvement, non-breaking

#11250 Move rolling impl details to detail/ directory.
  cpp/CMakeLists.txt
  cpp/src/rolling/detail/lead_lag_nested.cuh
  cpp/src/rolling/detail/nth_element.cuh
  cpp/src/rolling/detail/range_window_bounds.hpp
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/rolling/detail/rolling.hpp
  cpp/src/rolling/detail/rolling_collect_list.cu
  cpp/src/rolling/detail/rolling_collect_list.cuh
  cpp/src/rolling/detail/rolling_fixed_window.cu
  cpp/src/rolling/detail/rolling_jit.hpp
  cpp/src/rolling/detail/rolling_variable_window.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/jit/kernel.cu
  cpp/src/rolling/range_window_bounds.cpp
  cpp/src/rolling/rolling.cu
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/range_rolling_window_test.cpp
  cpp/tests/rolling/range_window_bounds_test.cpp
  cpp/tests/rolling/rolling_test.cpp
Labels: libcudf, CMake, tech debt, improvement, non-breaking

#11267 Fix `cudf` recipe
  conda/recipes/cudf/meta.yaml
Labels: improvement, non-breaking

#10538 Remove _getattr_ method in RangeIndex class
  python/cudf/benchmarks/API/bench_rangeindex.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: cuDF (Python), 5 - Ready to Merge, Performance, improvement, non-breaking

#11228 Refactor `collect_set` to use `cudf::distinct` and `cudf::lists::distinct`
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/reductions/collect_ops.cu
  cpp/src/rolling/detail/rolling.cuh
  cpp/tests/groupby/collect_set_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
  cpp/tests/reductions/collect_ops_tests.cpp
  cpp/tests/rolling/collect_ops_test.cpp
  java/src/test/java/ai/rapids/cudf/ReductionTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Java), helps: Spark, non-breaking

#8247 Adding bins to value counts
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11273 Fix `cudf` recipes syntax
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
Labels: conda, improvement, non-breaking

#11265 Run mypy on all packages
  .pre-commit-config.yaml
  python/cudf/setup.cfg
  python/dask_cudf/dask_cudf/core.py
  setup.cfg
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking

#11266 Cleanup config files
  .pre-commit-config.yaml
  python/cudf/setup.cfg
  python/cudf_kafka/setup.cfg
  python/custreamz/custreamz/tests/conftest.py
  python/custreamz/setup.cfg
  python/dask_cudf/setup.cfg
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking

#11275 Add NotImplementedError when on is specified in DataFrame.join.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_joining.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#11276 Note null behavior in `where` docs
  python/cudf/cudf/core/frame.py
Labels: doc, cuDF (Python), non-breaking

#11284 Fix inconsistency when hashing two tables in `cudf::detail::contains`
  cpp/src/search/contains_table.cu
  cpp/tests/join/semi_anti_join_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#11289 [REVIEW] Pin `pytorch` to temporarily unblock from `libcupti` errors
  conda/environments/cudf_dev_cuda11.5.yml
Labels: bug, 5 - Ready to Merge, conda, non-breaking

#11217 Add dev docs for documentation writing
  docs/cudf/README.md
  docs/cudf/source/developer_guide/documentation.md
  docs/cudf/source/developer_guide/index.md
Labels: 3 - Ready for Review, doc, non-breaking

#11233 Use `cudf::lists::distinct` in Java binding
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/ColumnViewJni.cu
  java/src/main/native/src/ColumnViewJni.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: Performance, cuDF (Java), helps: Spark, improvement, non-breaking

#11274 Remove legacy join APIs
  cpp/benchmarks/join/join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/left_join.cu
  cpp/include/cudf/join.hpp
  cpp/src/join/join.cu
  cpp/src/join/semi_join.cu
  cpp/tests/join/join_tests.cpp
  cpp/tests/join/semi_anti_join_tests.cpp
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, code quality, libcudf, cuDF (Java), tech debt, improvement, breaking

#11268 Fix invalid allocate_like() and empty_like() tests.
  cpp/tests/copying/utility_tests.cpp
Labels: bug, libcudf, non-breaking

#11294 Update parquet reader to take stream parameter
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
Labels: 3 - Ready for Review, libcudf, cuIO, tech debt, improvement, non-breaking

#11306 Add cupy version to setup.py install_requires
  python/cudf/setup.py
  python/dask_cudf/setup.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#11305 removing some unused code
  cpp/src/io/parquet/page_enc.cu
Labels: 3 - Ready for Review, code quality, libcudf, tech debt, improvement, non-breaking

#11309 Add JNI support for the join_strings API
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#10995 Remove Arrow CUDA IPC code
  conda/environments/cudf_dev_cuda11.5.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_arrow.cmake
  cpp/include/cudf/ipc.hpp
  cpp/src/comms/ipc/ipc.cpp
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/cpp/gpuarrow.pxd
  python/cudf/cudf/_lib/gpuarrow.pyx
  python/cudf/cudf/comm/gpuarrow.py
  python/cudf/cudf/tests/test_gpu_arrow_parser.py
  python/cudf/cudf/tests/test_sparse_df.py
Labels: libcudf, cuDF (Python), CMake, conda, improvement, breaking

#11252 Optimization to gpu::PreprocessColumnData in parquet reader.
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
Labels: libcudf, improvement, non-breaking

#11218 [REVIEW] Deprecate `skiprows` & `num_rows` in parquet reader
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#11282 [REVIEW] Fix issue related to numpy array and `category` dtype
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_categorical.py
Labels: bug, cuDF (Python), non-breaking

#11216 Add 24 bit dictionary support to Parquet writer
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
Labels: feature request, libcudf, cuIO, non-breaking

#11326 Switch death test to use explicit trap.
  cpp/tests/error/error_handling_test.cu
Labels: 3 - Ready for Review, tests, libcudf, improvement, non-breaking

#11236 Remove `lists::drop_list_duplicates`
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/lists/detail/drop_list_duplicates.hpp
  cpp/include/cudf/lists/drop_list_duplicates.hpp
  cpp/src/lists/drop_list_duplicates.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/lists/drop_list_duplicates_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, conda, tech debt, improvement, breaking, deprecation

#11242 Adds the Finite-State Transducer algorithm
  cpp/include/cudf_test/cudf_gtest.hpp
  cpp/src/io/fst/agent_dfa.cuh
  cpp/src/io/fst/device_dfa.cuh
  cpp/src/io/fst/dispatch_dfa.cuh
  cpp/src/io/fst/in_reg_array.cuh
  cpp/src/io/fst/lookup_tables.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/io/fst/fst_test.cu
  cpp/tests/io/fst/logical_stack_test.cu
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, cuIO, non-breaking

#11321 Add --output-on-failure to ctest args.
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#10774 Revise PR template.
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: doc, non-breaking

#11330 Fix performance issue and add a new code path to `cudf::detail::contains`
  cpp/src/search/contains_table.cu
Labels: bug, 3 - Ready for Review, libcudf, Performance, helps: Spark, non-breaking

#11339 Fix unsigned-compare compile warning in IntPow binops
  cpp/src/binaryop/compiled/operation.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11345 [REVIEW] Update missing data handling APIs in docs
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/series.rst
Labels: 3 - Ready for Review, doc, non-breaking

#11336 Add lists filtering APIs to doxygen group.
  cpp/include/cudf/lists/stream_compaction.hpp
  cpp/include/doxygen_groups.h
Labels: doc, libcudf, non-breaking

#11342 [REVIEW] Fix `DatetimeIndex` & `TimedeltaIndex` constructors
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#11243 FST benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/fst.cu
  cpp/tests/io/fst/common.hpp
  cpp/tests/io/fst/fst_test.cu
Labels: feature request, 3 - Ready for Review, libcudf, CMake, cuIO, non-breaking

#11347 Improve multibyte_split performance
  cpp/src/io/text/multibyte_split.cu
Labels: libcudf, improvement, non-breaking

#11302 Add column indexes to Parquet writer
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, non-breaking

#11043 Support set operations
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/lists/detail/set_operations.hpp
  cpp/include/cudf/lists/set_operations.hpp
  cpp/include/doxygen_groups.h
  cpp/src/lists/set_operations.cu
  cpp/src/lists/utilities.cu
  cpp/src/lists/utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/lists/set_operations/difference_distinct_tests.cpp
  cpp/tests/lists/set_operations/have_overlap_tests.cpp
  cpp/tests/lists/set_operations/intersect_distinct_tests.cpp
  cpp/tests/lists/set_operations/union_distinct_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, conda, helps: Spark, non-breaking

#11315 Consolidate remaining DataFrame/Series APIs
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), tech debt, improvement, non-breaking

#11355 Fix memory_usage() for `ListSeries`
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#10889 Dask-cuDF cumulative groupby ops
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: feature request, cuDF (Python), non-breaking

#11372 [gpuCI] Forward-merge branch-22.08 to branch-22.10 [skip gpuci]
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: cuDF (Python)

#11353 Handle parquet corner case: Columns with more rows than are in the row group.
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/reader_impl.cu
Labels: bug, libcudf, non-breaking

#11338 Update jni version to 22.10.0-SNAPSHOT
  java/ci/README.md
  java/pom.xml
Labels: cuDF (Java), improvement, non-breaking

#11369 [REVIEW] Fix `moto` timeouts
  conda/environments/cudf_dev_cuda11.5.yml
Labels: bug, 5 - Ready to Merge, conda, non-breaking

#11322 Adding byte array view structure
  cpp/src/io/statistics/byte_array_view.cuh
Labels: feature request, 3 - Ready for Review, libcudf, non-breaking

#11343 Remove unused custreamz thirdparty directory
  python/custreamz/thirdparty/LICENSE
Labels: cuDF (Python), 5 - Ready to Merge, tech debt, improvement, non-breaking

#11143 Add JNI for set operations
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/ColumnViewJni.cu
  java/src/main/native/src/ColumnViewJni.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), helps: Spark, non-breaking

#11292 Spark list hashing
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/hash/hashing.cu
  cpp/src/hash/spark_murmur_hash.cu
  cpp/src/table/row_operators.cu
  cpp/tests/hashing/hash_test.cpp
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Labels: 3 - Ready for Review, libcudf, CMake, cuDF (Java), improvement, non-breaking

#11357 Set `+/-infinity` as the `identity` values for floating-point numbers in device operators `min` and `max`
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#11193 Add `cudf.options`
  docs/cudf/source/api_docs/index.rst
  docs/cudf/source/api_docs/options.rst
  docs/cudf/source/developer_guide/index.md
  docs/cudf/source/developer_guide/options.md
  docs/cudf/source/user_guide/index.md
  docs/cudf/source/user_guide/options.md
  python/cudf/cudf/__init__.py
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_options.py
Labels: feature request, cuDF (Python), non-breaking

#11354 Fix constructing Column from column_view with expired mask
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/tests/test_indexing.py
Labels: bug, cuDF (Python), non-breaking

#11340 Fix table_view_base doxygen format
  cpp/include/cudf/table/table_device_view.cuh
  cpp/include/cudf/table/table_view.hpp
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#11160 Adding binary read/write as options for parquet
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/statistics/column_statistics.cuh
  cpp/tests/io/parquet_test.cpp
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/cpp/io/types.pxd
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), cuIO, cuDF (Java), non-breaking

#11393 Allow CuPy 11
  conda/recipes/cudf/meta.yaml
  python/cudf/setup.py
  python/dask_cudf/setup.py
Labels: cuDF (Python), conda, improvement, non-breaking

#11390 Update contributing doc to include links to the developer guides
  CONTRIBUTING.md
  docs/cudf/README.md
Labels: 3 - Ready for Review, doc, non-breaking

#11328 Adding support for list<int8> columns to be written as byte arrays in parquet
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/column_utils.cuh
  cpp/tests/io/parquet_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, non-breaking

#11367 Fix to_timestamps truncated subsecond calculation
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#11334 Add placeholder for the experimental JSON reader
  cpp/CMakeLists.txt
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/experimental/read_json.cpp
  cpp/src/io/json/experimental/read_json.hpp
  cpp/src/io/json/reader_impl.cu
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, cuIO, non-breaking
