Repository rapidsai/cudf, pull requests merged in 2023-08, with the labels that each got.

#13791 Update documentation to reflect recent changes in JSON reader and writer
  docs/cudf/source/user_guide/io/io.md
Labels: doc, 5 - Ready to Merge, cuIO, non-breaking

#13790 Update get_arrow to arrows 12 CMake target name of arrow::xsimd
  cpp/cmake/thirdparty/get_arrow.cmake
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#13783 Move Spark-indpendent Table debug to cudf Java
  java/src/main/java/ai/rapids/cudf/TableDebug.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: tests, cuDF (Java), improvement, non-breaking

#13792 Remove unnecessary pointer copying in JIT GroupBy Apply
  python/cudf/cudf/core/udf/groupby_lowering.py
Labels: feature request, numba, cuDF (Python), non-breaking

#13767 Support `corr` in `GroupBy.apply` through the jit engine
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/cudf/core/udf/groupby_typing.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/udf_cpp/shim.cu
Labels: feature request, cuDF (Python), non-breaking

#13799 Remove hangs from trying to construct un-bounded sequences
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13776 Cast only time of day to nanos to avoid an overflow in Parquet INT96 write
  cpp/src/io/parquet/page_enc.cu
  cpp/tests/io/parquet_test.cpp
Labels: bug, libcudf, cuIO, helps: Spark, non-breaking

#13802 Pin `dask` and `distributed` for `23.08` release
  ci/test_wheel_dask_cudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), 5 - Ready to Merge, conda, dask-cudf, improvement, non-breaking, ci

#13805 Reduce `lists::contains` dispatches for scalars
  cpp/src/lists/contains.cu
Labels: libcudf, improvement, non-breaking

#13811 Fix unbounded sequence issue in `DataFrame` constructor
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#13806 Fix for Parquet writer when requested pages per row is smaller than fragment size
  cpp/src/io/parquet/page_enc.cu
  cpp/tests/io/parquet_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#13757 Restructure JSON code to correctly reflect legacy/experimental status
  cpp/CMakeLists.txt
  cpp/include/cudf/io/detail/data_casting.cuh
  cpp/include/cudf/io/detail/json.hpp
  cpp/src/io/json/byte_range_info.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/legacy/json_gpu.cu
  cpp/src/io/json/legacy/json_gpu.hpp
  cpp/src/io/json/legacy/read_json.hpp
  cpp/src/io/json/legacy/reader_impl.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/json/read_json.cu
  cpp/src/io/json/read_json.hpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json_chunked_reader.cpp
  cpp/tests/io/json_type_cast_test.cu
Labels: libcudf, CMake, tech debt, improvement, non-breaking

#13810 Update `lists::contains` to experimental row comparator
  cpp/src/lists/contains.cu
Labels: libcudf, improvement, non-breaking

#13812 Avoid use of CUDF_EXPECTS in libcudf unit tests outside of helper functions with return values
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/copying/split_tests.cpp
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  cpp/tests/io/arrow_io_source_test.cpp
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json_test.cpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/transpose/transpose_test.cpp
Labels: tests, libcudf, improvement, non-breaking

#13822 Branch 23.10 merge 23.08
  ci/test_wheel_dask_cudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: bug, cuDF (Python), conda, non-breaking, ci

#13804 Forward-merge branch-23.08 to branch-23.10
  ci/test_wheel_dask_cudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, ci

#13777 Update to Cython 3.0.0
  ci/test_wheel_dask_cudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  dependencies.yaml
  python/cudf/cudf/_lib/cpp/column/column.pxd
  python/cudf/cudf/_lib/cpp/column/column_view.pxd
  python/cudf/cudf/_lib/cpp/table/table.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/datasource.pxd
  python/cudf/cudf/_lib/io/datasource.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
Labels: 3 - Ready for Review, cuDF (Python), conda, Cython, improvement, breaking, ci, python

#13819 No need to dlsym EnsureS3Finalized we can call it directly
  cpp/tests/io/arrow_io_source_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13789 Fix all warnings in Python docs
  ci/build_docs.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  docs/cudf/Makefile
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/extension_dtypes.rst
  docs/cudf/source/api_docs/index.rst
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/api_docs/io.rst
  docs/cudf/source/api_docs/list_handling.rst
  docs/cudf/source/api_docs/series.rst
  docs/cudf/source/api_docs/string_handling.rst
  docs/cudf/source/api_docs/struct_handling.rst
  docs/cudf/source/api_docs/subword_tokenize.rst
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/10min.ipynb
  docs/cudf/source/user_guide/cudf.CategoricalDtype.rst
  docs/cudf/source/user_guide/cudf.Decimal128Dtype.rst
  docs/cudf/source/user_guide/cudf.Decimal32Dtype.rst
  docs/cudf/source/user_guide/cudf.Decimal64Dtype.rst
  docs/cudf/source/user_guide/cudf.ListDtype.rst
  docs/cudf/source/user_guide/cudf.StructDtype.rst
  docs/cudf/source/user_guide/cupy-interop.ipynb
  docs/cudf/source/user_guide/data-types.md
  docs/cudf/source/user_guide/groupby.md
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
  docs/cudf/source/user_guide/pandas-comparison.md
  docs/dask_cudf/Makefile
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
Labels: 3 - Ready for Review, doc, cuDF (Python), conda, non-breaking, ci

#13830 Raise error when trying to construct time-zone aware timestamps
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/utils/dtypes.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13829 Fix cuFile I/O factories
  cpp/src/io/utilities/file_io_utilities.cpp
Labels: bug, libcudf, cuIO, non-breaking

#13826 Simplify Python doc configuration
  docs/cudf/source/_templates/autosummary/class.rst
  docs/cudf/source/_templates/autosummary/class_with_autosummary.rst
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/extension_dtypes.rst
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/api_docs/io.rst
  docs/cudf/source/api_docs/series.rst
  docs/cudf/source/api_docs/subword_tokenize.rst
  docs/cudf/source/conf.py
  docs/cudf/source/developer_guide/documentation.md
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Labels: 3 - Ready for Review, doc, cuDF (Python), non-breaking

#13835 Raise error for more cases when `timezone-aware` data is passed to `as_column`
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#13831 Fix `any`, `all` reduction behavior for `axis=None` and warn for other reductions
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_reductions.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#13716 Refactors JSON reader's pushdown automaton
  cpp/src/io/fst/lookup_tables.cuh
  cpp/src/io/json/nested_json_gpu.cu
Labels: 3 - Ready for Review, libcudf, cuIO, improvement, non-breaking

#13698 Remove Arrow dependency from the `datasource.hpp` public header
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/io/arrow_io_source.hpp
  cpp/include/cudf/io/datasource.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/utilities/arrow_io_source.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/tests/io/arrow_io_source_test.cpp
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/_lib/cpp/io/arrow_io_source.pxd
  python/cudf/cudf/_lib/cpp/io/data_sink.pxd
  python/cudf/cudf/_lib/cpp/io/datasource.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/datasource.pxd
  python/cudf/cudf/_lib/io/datasource.pyx
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf_kafka/cudf_kafka/_lib/kafka.pxd
  python/cudf_kafka/cudf_kafka/_lib/kafka.pyx
Labels: libcudf, cuDF (Python), CMake, cuIO, conda, improvement, breaking

#13842 Fix binary operations between `Series` and `Index`
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/utils/utils.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13844 Simplify implementation of interval_range() and fix behaviour for floating `freq`
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/indexes/test_interval.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, cuDF (Python), non-breaking

#13853 Fix an issue with fetching `NA` from a `TimedeltaColumn`
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/tests/test_timedelta.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13850 Fixes a performance regression in FST
  cpp/src/io/fst/agent_dfa.cuh
Labels: 3 - Ready for Review, libcudf, cuIO, improvement, non-breaking

#13849 Fix typo in parquet/page_decode.cuh
  cpp/src/io/parquet/page_decode.cuh
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#13857 Disable construction of Index when `freq` is set in pandas-compatibility mode
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13870 Fix return type of `MultiIndex.levels`
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13841 Update make_lists_column_from_scalar to use make_offsets_child_column utility
  cpp/include/cudf/lists/detail/gather.cuh
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/lists_column_factories.cu
  cpp/tests/column/factories_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13782 Add 'poll' function to custreamz kafka consumer
  python/custreamz/custreamz/kafka.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), non-breaking

#13868 Change `NA` to `NaT` for `datetime` and `timedelta` types
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/missing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/utils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#13862 Raise error when `astype(object)` is called in pandas compatibility mode
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking, python

#13877 Bring parity with pandas for `datetime` & `timedelta` comparison operations
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13879 Check for the presence of all values in `MultiIndex.isin`
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, non-breaking

#13872 Exclude some tests from running with the compute sanitizer
  java/src/test/java/ai/rapids/cudf/CudaTest.java
  java/src/test/java/ai/rapids/cudf/RmmTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/java/ai/rapids/cudf/UnsafeMemoryAccessorTest.java
Labels: feature request, 3 - Ready for Review, tests, cuDF (Java), non-breaking

#13751 Optionally write version 2 page headers in Parquet writer
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf_test/base_fixture.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_test.cpp
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#13775 Refactor Parquet reader handling of V2 page header info
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: 3 - Ready for Review, libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#13874 Fix nvtext::generate_character_ngrams performance regression for longer strings
  cpp/src/text/generate_ngrams.cu
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#13838 Fix read out of bounds in string concatenate
  cpp/src/strings/copying/concatenate.cu
  cpp/tests/copying/concatenate_tests.cpp
Labels: bug, libcudf, non-breaking

#13889 Raise error when trying to construct a `DataFrame` with mixed types
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13808 Add cudf::strings::find function with target per row
  cpp/include/cudf/strings/find.hpp
  cpp/src/strings/search/find.cu
  cpp/tests/strings/find_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, strings, non-breaking

#13890 Disable creation of `DatetimeIndex` when `freq` is passed to `cudf.date_range`
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13814 Register the memory mapped buffer in `datasource` to improve H2D throughput
  cpp/src/io/utilities/datasource.cpp
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, Performance, non-breaking

#13869 Fix List's missing children metadata in JSON writer
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/tests/test_json.py
Labels: bug, 3 - Ready for Review, cuDF (Python), cuIO, Cython, 4 - Needs cuIO Reviewer, non-breaking

#13896 Return `Timestamp` & `Timedelta` for fetching scalars in `DatetimeIndex` & `TimedeltaIndex`
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13886 Enable RLE boolean encoding for v2 Parquet files
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
Labels: feature request, libcudf, cuIO, breaking

#13807 Fix Byte-Pair-Encoding usage of cuco static-map for storing merge-pairs
  cpp/include/nvtext/bpe_tokenize.hpp
  cpp/src/text/subword/bpe_tokenizer.cu
  cpp/src/text/subword/bpe_tokenizer.cuh
  cpp/src/text/subword/load_merges_file.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13901 Use cuda-nvtx-dev CUDA 12 package.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, conda, non-breaking

#13881 Correctly detect the BOM mark in `read_csv` with compressed input
  cpp/src/io/csv/reader_impl.cu
  python/cudf/cudf/tests/test_csv.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, non-breaking

#13898 [JNI] Adds HostColumnVector.EventHandler for spillability checks
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: cuDF (Java), helps: Spark, improvement, non-breaking

#13904 Add noSanitizer tag to Java reduction tests failing with sanitizer in CUDA 12
  java/src/test/java/ai/rapids/cudf/ReductionTest.java
Labels: bug, tests, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#13060 Introduce Numba CUDA Runtime API
  ci/checks/copyright.py
  python/cudf/udf_cpp/CMakeLists.txt
  python/cudf/udf_cpp/nrt/numba_cuda_runtime.cuh
  python/cudf/udf_cpp/shim.cu
Labels: feature request, numba, cuDF (Python), CMake, non-breaking, ci

#13908 Use `empty()` instead of `size()` where possible
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/legacy/reader_impl.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/hostdevice_vector.hpp
Labels: code quality, libcudf, cuIO, tech debt, improvement, non-breaking

#13903 Remove the internal use of the cudf's default stream in cuIO
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/csv/csv_gpu.hpp
  cpp/src/io/fst/logical_stack.cuh
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: bug, libcudf, non-breaking

#13917 Preserve index `name` in `reindex`
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13884 Return `nan` when one variable to be correlated has zero variance in JIT GroupBy Apply
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/udf_cpp/shim.cu
Labels: bug, numba, cuDF (Python), non-breaking

#13909 Ensure cudf internals use pylibcudf in pure Python mode
  python/cudf/cudf/_lib/column.pxd
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/pylibcudf/column.pxd
  python/cudf/cudf/_lib/pylibcudf/column.pyx
  python/cudf/cudf/_lib/pylibcudf/gpumemoryview.pxd
  python/cudf/cudf/_lib/pylibcudf/table.pxd
  python/cudf/cudf/_lib/pylibcudf/table.pyx
  python/cudf/cudf/_lib/types.pxd
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
Labels: 3 - Ready for Review, cuDF (Python), Cython, improvement, non-breaking

#13796 Add minhash support for MurmurHash3_x64_128
  cpp/benchmarks/text/minhash.cpp
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
  cpp/tests/text/minhash_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/minhash.pxd
  python/cudf/cudf/_lib/nvtext/minhash.pyx
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), breaking

#13925 Fix handling of typecasting in `searchsorted`
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_search.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13935 Unpin `dask` and `distributed` for `23.10` development
  ci/test_wheel_dask_cudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), 5 - Ready to Merge, dask, conda, improvement, non-breaking, ci

#13929 Fix an issue with `loc` when column names is `MultiIndex`
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_indexing.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13894 Fix memory access error in cudf::shift for sliced strings
  cpp/src/strings/copying/shift.cu
  cpp/tests/copying/shift_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#13937 Fixed processed bytes calculation in APPLY_BOOLEAN_MASK benchmark.
  cpp/benchmarks/stream_compaction/apply_boolean_mask.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13910 Use `cudf::thread_index_type` in cuIO to prevent overflow in row indexing
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/json/legacy/json_gpu.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/text/multibyte_split.cu
  cpp/src/io/utilities/parsing_utils.cu
Labels: bug, libcudf, cuIO, non-breaking

#13932 Fix construction of `Grouping` objects
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_serialize.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#13637 [FEA] Add DELTA_BINARY_PACKED decoding support to Parquet reader
  cpp/CMakeLists.txt
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/delta_binary.cuh
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/rle_stream.cuh
  python/cudf/cudf/tests/data/parquet/delta_encoding.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: feature request, libcudf, cuDF (Python), CMake, 5 - Ready to Merge, cuIO, non-breaking

#13924 Add HostMemoryAllocator interface
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/DefaultHostMemoryAllocator.java
  java/src/main/java/ai/rapids/cudf/HostMemoryAllocator.java
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/nvcomp/BatchedLZ4Compressor.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ColumnViewNonEmptyNullsTest.java
  java/src/test/java/ai/rapids/cudf/CuFileTest.java
  java/src/test/java/ai/rapids/cudf/GatherMapTest.java
  java/src/test/java/ai/rapids/cudf/MemoryBufferTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/java/ai/rapids/cudf/nvcomp/NvcompTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), helps: Spark, non-breaking

#13944 Fix `index` of `Groupby.apply` results when it is performed on empty objects
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13942 Fix type mismatch in groupby reduction for empty objects
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13946 Raise error for string types in `nsmallest` and `nlargest`
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13914 Enable hugepage for arrow host allocations
  cpp/src/interop/detail/arrow_allocator.cpp
Labels: libcudf, improvement, non-breaking

#13927 Rewrite `DataFrame.stack` to support multi level column names
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_reshape.py
Labels: feature request, cuDF (Python), non-breaking, python

#13938 Add `bytes_per_second` to compiled binaryop benchmark
  cpp/benchmarks/binaryop/compiled_binaryop.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13437 Read FIXED_LEN_BYTE_ARRAY as binary in parquet reader
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  python/cudf/cudf/tests/data/parquet/fixed_len_byte_array.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, cuIO, non-breaking

#13955 Fix setting of categories order when `dtype` is passed to a `CategoricalColumn`
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/tests/test_categorical.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13959 Add pandas compatible output to `Series.unique`
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13957 Fix type metadata issue preservation with `Column.unique`
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_interval.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13951 Handle `as_index` in `GroupBy.apply`
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), non-breaking

#13915 Use cudf::size_type instead of int32 where appropriate in nvtext functions
  cpp/src/text/normalize.cu
  cpp/src/text/replace.cu
  cpp/src/text/stemmer.cu
  cpp/src/text/subword/data_normalizer.cu
  cpp/src/text/subword/detail/data_normalizer.hpp
  cpp/src/text/subword/detail/tokenizer_utils.cuh
  cpp/src/text/subword/detail/wordpiece_tokenizer.hpp
  cpp/src/text/subword/subword_tokenize.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
  cpp/src/text/tokenize.cu
  cpp/src/text/utilities/tokenize_ops.cuh
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#13958 Fix an issue with `IntervalIndex.repr` when null values are present
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_repr.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13966 Fix `MultiIndex.to_numpy` to return numpy array with tuples
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13956 Handle `Interval` scalars when passed in list-like inputs to `cudf.Index`
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_interval.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13931 Switch pylibcudf-enabled types to use enum class in Cython
  docs/cudf/source/developer_guide/pylibcudf.md
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/cpp/CMakeLists.txt
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/_lib/cpp/copying.pyx
  python/cudf/cudf/_lib/cpp/types.pxd
  python/cudf/cudf/_lib/cpp/types.pyx
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/column.pyx
  python/cudf/cudf/_lib/pylibcudf/copying.pxd
  python/cudf/cudf/_lib/pylibcudf/copying.pyx
  python/cudf/cudf/_lib/pylibcudf/types.pxd
  python/cudf/cudf/_lib/pylibcudf/types.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/strings/convert/convert_fixed_point.pyx
  python/cudf/cudf/_lib/types.pyx
Labels: feature request, 3 - Ready for Review, cuDF (Python), CMake, Cython, non-breaking

#13907 Fix for encodings listed in the Parquet column chunk metadata
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#13973 Use `thread_index_type` in `partitioning.cu`
  cpp/src/partitioning/partitioning.cu
Labels: libcudf, improvement, non-breaking

#13928 Use cuco::static_set in JSON tree algorithm
  cpp/src/io/json/json_tree.cu
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#13980 Restore column type metadata with `dropna` to fix `factorize` API
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_factorize.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13978 Fix `CategoricalIndex` ordering in `Groupby.agg` when pandas-compatibility mode is enabled
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13982 Enable `codes` dtype parity in pandas-compatibility mode for `factorize` API
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/tests/test_factorize.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13943 Fix integer overflow in shim `device_sum` functions
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/udf_cpp/shim.cu
Labels: bug, numba, cuDF (Python), non-breaking

#13968 Use cudf::thread_index_type in strings custom kernels
  cpp/src/strings/attributes.cu
  cpp/src/strings/convert/convert_urls.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13987 Expose streams in public concatenate APIs
  cpp/include/cudf/concatenate.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/copying/concatenate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/concatenate_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#13970 Use `copy-pr-bot`
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#13990 Expose streams in public filling APIs
  cpp/include/cudf/filling.hpp
  cpp/src/filling/calendrical_month_sequence.cu
  cpp/src/filling/fill.cu
  cpp/src/filling/repeat.cu
  cpp/src/filling/sequence.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/filling_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#13962 Use cudf::thread_index_type in get_json_object and tdigest kernels
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/strings/json/json_path.cu
Labels: bug, libcudf, non-breaking

#13975 Use HostMemoryAllocator in jni::allocate_host_buffer
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/src/ContiguousTableJni.cpp
  java/src/main/native/src/CudfJni.cpp
  java/src/main/native/src/RmmJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/cudf_jni_apis.hpp
  java/src/main/native/src/jni_writer_data_sink.hpp
Labels: feature request, 3 - Ready for Review, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, non-breaking

#13986 Fix `name` selection in `Index.difference` and `Index.intersection`
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13960 Add `bytes_per_second` to copy_if_else benchmark
  cpp/benchmarks/copying/copy_if_else.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13965 Add `bytes_per_second` to hash_partition benchmark
  cpp/benchmarks/hashing/partition.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13993 Add tab as literal to cudf::test::to_string output
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13912 Improve performance of nvtext::edit_distance
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/edit_distance.cpp
  cpp/src/text/edit_distance.cu
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#13994 Fix an issue where casting null-array to `object` dtype will result in a failure
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13920 Create table_input_metadata from a table_metadata
  cpp/include/cudf/io/types.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/utilities/column_buffer.cpp
  cpp/tests/io/parquet_test.cpp
Labels: feature request, libcudf, 5 - Ready to Merge, breaking

#14009 Fix return type of `MultiIndex.difference`
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14006 Raise an error when timezone subtypes are encountered in `pd.IntervalDtype`
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_interval.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13967 Enable fractional null probability for hashing benchmark
  cpp/benchmarks/hashing/hash.cpp
Labels: feature request, libcudf, non-breaking

#14018 Explicitly depend on zlib in conda recipes
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#13963 Simplify wheel build scripts and allow alphas of RAPIDS dependencies
  ci/build_wheel.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_dask_cudf.sh
  ci/release/apply_wheel_modifications.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#13997 Add stream parameter to public cudf::strings::split APIs
  cpp/include/cudf/strings/split/split.hpp
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_record.cu
Labels: feature request, 3 - Ready for Review, libcudf, non-breaking

#14014 Preserve types of scalar being returned when possible in `quantile`
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_quantiles.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking
