Repository rapidsai/cudf, pull requests merged in 2023-02, with the labels that each got.

#12671 Don't upload `libcudf-example` to Anaconda.org
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#12663 Fix dask-cudf read_parquet bug for multi-file aggregation
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12670 [REVIEW] Handle bool types in `round` API
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12665 [REVIEW] Fix `from_arrow` to load a sliced arrow table
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12684 Remove DataFrame.quantiles from docs.
  docs/cudf/source/api_docs/dataframe.rst
Labels: improvement, non-breaking

#12681 [JNI] Remove child fom newCudaAsyncMemoryResource
  java/src/main/native/src/RmmJni.cpp
Labels: bug, cuDF (Java), helps: Spark, non-breaking

#12666 Add `regex_program` searching APIs and related java classes
  java/src/main/java/ai/rapids/cudf/CaptureGroups.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/RegexFlag.java
  java/src/main/java/ai/rapids/cudf/RegexProgram.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), non-breaking

#12696 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#12661 Move date to build string in `conda` recipe
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/strings_udf/meta.yaml
Labels: conda, improvement, non-breaking

#12699 Add `regex_program` strings extract java APIs and tests
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), non-breaking

#12695 [REVIEW] Pin `dask` and `distributed` for release
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/setup.py
Labels: 3 - Ready for Review, cuDF (Python), conda, improvement, breaking, ci

#12709 [REVIEW] Resolve auto-merger
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/setup.py
Labels: cuDF (Python), conda, ci

#12707 Forward-merge branch-23.02 to branch-23.04
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/setup.py
Labels: cuDF (Python), conda, ci

#12652 Refactor reduction logic for fixed-point types
  cpp/src/reductions/simple.cuh
  cpp/tests/reductions/reduction_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12723 Add build dependencies to Java tests.
  ci/test_java.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#12658 Enable doctests for GroupBy methods
  python/cudf/cudf/core/groupby/__init__.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_doctests.py
Labels: doc, cuDF (Python), non-breaking

#12713 Add `regex_program` strings splitting java APIs and tests
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), non-breaking

#12380 Support conversion to/from cudf in dask.dataframe.core.to_backend
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, improvement, non-breaking

#12609 Remove cudf::strings::repeat_strings_output_sizes and optional parameter from cudf::strings::repeat_strings
  cpp/benchmarks/string/repeat_strings.cpp
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/src/strings/repeat_strings.cu
  cpp/tests/strings/repeat_strings_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, breaking

#12698 Handle parquet list data corner case
  cpp/src/io/parquet/page_data.cu
Labels: bug, libcudf, cuIO, non-breaking

#12733 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#12706 Fix faulty conditional logic in JIT `GroupBy.apply`
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/udf_cpp/groupby/function.cu
Labels: bug, numba, cuDF (Python), non-breaking

#12701 Add `regex_program` strings replacing java APIs and tests
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), non-breaking

#12735 Bump pinned rapids wheel deps to 23.4
  python/cudf/setup.py
  python/dask_cudf/setup.py
Labels: bug, cuDF (Python), non-breaking

#12738 Reduce error handling verbosity in CI tests scripts
  ci/test_cpp.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  ci/test_python_cudf.sh
  ci/test_python_other.sh
Labels: improvement, non-breaking, ci

#12715 Allow setting the seed argument for hash partition
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
Labels: 3 - Ready for Review, 5 - Ready to Merge, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#12704 `partition_by_hash()`: use `_split()`
  python/cudf/cudf/core/dataframe.py
Labels: cuDF (Python), improvement, non-breaking

#12722 Fix memcheck read error in compound segmented reduce
  cpp/include/cudf/detail/segmented_reduction.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12745 Fix update-version.sh
  ci/release/update-version.sh
Labels: bug, non-breaking, ci

#12737 Reduce the number of test cases in multibyte_split benchmark
  cpp/benchmarks/io/text/multibyte_split.cpp
Labels: 3 - Ready for Review, libcudf, cuIO, tech debt, improvement, non-breaking

#12740 Update default data source in cuio reader benchmarks
  cpp/benchmarks/io/csv/csv_reader_input.cpp
  cpp/benchmarks/io/orc/orc_reader_input.cpp
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, non-breaking

#12710 [REVIEW] Unpin `dask` and `distributed` for development
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/setup.py
Labels: cuDF (Python), 5 - Ready to Merge, conda, improvement, non-breaking, ci

#12519 Fix `Series` comparison vs scalars
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, cuDF (Python), non-breaking

#12728 Add nvbench environment class for initializing RMM in benchmarks
  cpp/CMakeLists.txt
  cpp/benchmarks/fixture/rmm_pool_raii.hpp
  cpp/benchmarks/groupby/group_max.cpp
  cpp/benchmarks/groupby/group_nunique.cpp
  cpp/benchmarks/groupby/group_rank.cpp
  cpp/benchmarks/groupby/group_struct_keys.cpp
  cpp/benchmarks/io/csv/csv_reader_input.cpp
  cpp/benchmarks/io/csv/csv_reader_options.cpp
  cpp/benchmarks/io/fst.cu
  cpp/benchmarks/io/json/nested_json.cpp
  cpp/benchmarks/io/orc/orc_reader_input.cpp
  cpp/benchmarks/io/orc/orc_reader_options.cpp
  cpp/benchmarks/io/orc/orc_writer.cpp
  cpp/benchmarks/io/orc/orc_writer_chunks.cpp
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
  cpp/benchmarks/io/parquet/parquet_reader_options.cpp
  cpp/benchmarks/io/parquet/parquet_writer.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks.cpp
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/benchmarks/join/join.cu
  cpp/benchmarks/join/mixed_join.cu
  cpp/benchmarks/reduction/distinct_count.cpp
  cpp/benchmarks/reduction/rank.cpp
  cpp/benchmarks/reduction/scan_structs.cpp
  cpp/benchmarks/reduction/segment_reduce.cu
  cpp/benchmarks/search/contains.cpp
  cpp/benchmarks/sort/rank_lists.cpp
  cpp/benchmarks/sort/rank_structs.cpp
  cpp/benchmarks/sort/segmented_sort.cpp
  cpp/benchmarks/sort/sort_lists.cpp
  cpp/benchmarks/sort/sort_structs.cpp
  cpp/benchmarks/stream_compaction/distinct.cpp
  cpp/benchmarks/stream_compaction/unique.cpp
  cpp/benchmarks/string/like.cpp
  cpp/benchmarks/string/reverse.cpp
  cpp/cmake/thirdparty/get_nvbench.cmake
  cpp/cmake/thirdparty/patches/nvbench_global_setup.diff
  cpp/cmake/thirdparty/patches/nvbench_override.json
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#12714 Reenable stream identification library in CI
  ci/test_cpp.sh
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  cpp/tests/identify_stream_usage/test_default_stream_identification.cu
  cpp/tests/utilities/identify_stream_usage.cpp
  cpp/tests/utilities/identify_stream_usage/CMakeLists.txt
  python/cudf/CMakeLists.txt
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), CMake, non-breaking, ci

#12712 Remove gpuCI scripts.
  README.md
  ci/benchmark/build.sh
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/gpu/java.sh
  ci/gpu/test-notebooks.sh
  ci/local/README.md
  ci/local/build.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_python_cudf.sh
  conda/recipes/dask-cudf/run_test.sh
Labels: conda, improvement, non-breaking, ci

#12732 JNI switches to nested JSON reader
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, 5 - Ready to Merge, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#12688 Fix missing trailing comma in json writer
  cpp/src/io/json/write_json.cu
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/tests/test_json.py
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, cuIO, 4 - Needs cuIO Reviewer, Performance, non-breaking

#12768 Stop force pulling fmt in nvbench.
  cpp/cmake/thirdparty/get_nvbench.cmake
  cpp/cmake/thirdparty/patches/nvbench_global_setup.diff
  cpp/cmake/thirdparty/patches/nvbench_override.json
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#12783 [REVIEW] Add `GroupBy.dtypes`
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf_kafka/setup.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12676 Fast path for `experimental::row::equality`
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/binaryop/compiled/struct_binary_ops.cuh
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_nunique.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/lists/contains.cu
  cpp/src/reductions/scan/rank_scan.cu
  cpp/src/search/contains_scalar.cu
  cpp/src/search/contains_table.cu
  cpp/src/sort/rank.cu
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_reduce.cu
  cpp/src/stream_compaction/distinct_reduce.cuh
  cpp/src/stream_compaction/unique.cu
  cpp/src/transform/one_hot_encode.cu
  cpp/tests/table/experimental_row_operator_tests.cu
Labels: libcudf, improvement, non-breaking

#12619 [REVIEW] Merge `copy-on-write` feature branch into `branch-23.04`
  docs/cudf/source/developer_guide/library_design.md
  docs/cudf/source/user_guide/copy-on-write.md
  docs/cudf/source/user_guide/index.md
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/buffer/__init__.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/cow_buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/buffer/utils.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/options.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_copying.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/utils/applyutils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#12752 Update `is_sorted` to use `experimental::row::lexicographic`
  cpp/src/sort/is_sorted.cu
  cpp/tests/sort/is_sorted_tests.cpp
Labels: feature request, libcudf, non-breaking

#12767 Fix bug in all-null list due to join_list_elements special handling
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json_writer.cpp
Labels: bug, 3 - Ready for Review, libcudf, 4 - Needs libcudf Reviewer, cuIO, 4 - Needs cuIO Reviewer, non-breaking

#12796 Tell cudf_kafka to use header-only fmt
  python/cudf_kafka/setup.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#12784 Fix groupby gtests coded in namespace cudf::test
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/argmax_tests.cpp
  cpp/tests/groupby/argmin_tests.cpp
  cpp/tests/groupby/collect_list_tests.cpp
  cpp/tests/groupby/collect_set_tests.cpp
  cpp/tests/groupby/correlation_tests.cpp
  cpp/tests/groupby/count_scan_tests.cpp
  cpp/tests/groupby/count_tests.cpp
  cpp/tests/groupby/covariance_tests.cpp
  cpp/tests/groupby/groupby_test_util.cpp
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/groupby/groups_tests.cpp
  cpp/tests/groupby/keys_tests.cpp
  cpp/tests/groupby/lists_tests.cpp
  cpp/tests/groupby/max_scan_tests.cpp
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/mean_tests.cpp
  cpp/tests/groupby/median_tests.cpp
  cpp/tests/groupby/min_scan_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/nth_element_tests.cpp
  cpp/tests/groupby/nunique_tests.cpp
  cpp/tests/groupby/product_tests.cpp
  cpp/tests/groupby/quantile_tests.cpp
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/groupby/replace_nulls_tests.cpp
  cpp/tests/groupby/shift_tests.cpp
  cpp/tests/groupby/std_tests.cpp
  cpp/tests/groupby/structs_tests.cpp
  cpp/tests/groupby/sum_of_squares_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/groupby/var_tests.cpp
  cpp/tests/replace/replace_nulls_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, tech debt, improvement, non-breaking

#12761 Update `hash_partition` to use `experimental::row::row_hasher`
  cpp/src/partitioning/partitioning.cu
  cpp/tests/partitioning/hash_partition_test.cpp
Labels: feature request, libcudf, non-breaking

#12705 Produce useful guidance on overflow error in `to_csv`
  cpp/include/cudf/detail/sizes_to_offsets_iterator.cuh
  cpp/include/cudf/lists/filling.hpp
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/src/lists/sequences.cu
  cpp/src/strings/regex/utilities.cuh
  cpp/src/text/ngrams_tokenize.cu
  cpp/tests/strings/repeat_strings_tests.cpp
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/utils/ioutils.py
Labels: bug, libcudf, cuDF (Python), breaking

#12749 Fix a bug with `num_keys` in `_scatter_by_slice`
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_setitem.py
Labels: bug, cuDF (Python), non-breaking

#12781 Fix a leak in a test and clarify some test names
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ScalarTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: bug, 3 - Ready for Review, tests, cuDF (Java), non-breaking

#12750 Add build metrics report as artifact to cpp-build workflow
  build.sh
  ci/build_cpp.sh
  ci/test_cpp.sh
  conda/recipes/libcudf/meta.yaml
Labels: 3 - Ready for Review, conda, improvement, non-breaking, ci

#12730 Changing `cudf::io::source_info` to use `cudf::host_span<std::byte>` in a non-breaking form
  cpp/include/cudf/io/datasource.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/utilities/datasource.cpp
  cpp/tests/io/parquet_test.cpp
Labels: 3 - Ready for Review, code quality, libcudf, cuIO, improvement, non-breaking

#12729 Rework logic in cudf::strings::split_record to improve performance
  cpp/benchmarks/string/split.cpp
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split.cuh
  cpp/src/strings/split/split_record.cu
  cpp/tests/strings/split_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#12758 Remove now redundant cuda initialization
  python/cudf/CMakeLists.txt
Labels: 3 - Ready for Review, cuDF (Python), CMake, tech debt, improvement, non-breaking

#12808 Fixing parquet coalescing of reads
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: 3 - Ready for Review, code quality, libcudf, cuIO, Performance, improvement, non-breaking

#12799 Enable groupby std and variance aggregation types in libcudf Debug build
  cpp/src/groupby/sort/group_std.cu
  cpp/tests/groupby/std_tests.cpp
  cpp/tests/groupby/var_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12685 Variable fragment sizes for Parquet writer
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_chunked_reader_test.cpp
  cpp/tests/io/parquet_test.cpp
Labels: feature request, libcudf, cuIO, Performance, non-breaking

#12741 Stop using versioneer to manage versions
  .gitattributes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  ci/checks/copyright.py
  ci/release/apply_wheel_modifications.sh
  ci/release/update-version.sh
  python/cudf/_custom_build/backend.py
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_version.py
  python/cudf/pyproject.toml
  python/cudf/setup.cfg
  python/cudf/setup.py
  python/cudf/versioneer.py
  python/cudf_kafka/cudf_kafka/_version.py
  python/cudf_kafka/setup.cfg
  python/cudf_kafka/setup.py
  python/cudf_kafka/versioneer.py
  python/custreamz/custreamz/_version.py
  python/custreamz/setup.cfg
  python/custreamz/setup.py
  python/custreamz/versioneer.py
  python/dask_cudf/dask_cudf/__init__.py
  python/dask_cudf/dask_cudf/_version.py
  python/dask_cudf/setup.cfg
  python/dask_cudf/setup.py
  python/dask_cudf/versioneer.py
  setup.cfg
Labels: 3 - Ready for Review, cuDF (Python), tech debt, improvement, non-breaking, ci

#12680 Add segmented reduction support for fixed-point types
  cpp/CMakeLists.txt
  cpp/src/reductions/segmented/compound.cuh
  cpp/src/reductions/segmented/counts.cu
  cpp/src/reductions/segmented/counts.hpp
  cpp/src/reductions/segmented/simple.cuh
  cpp/tests/reductions/segmented_reduction_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#12800 Add compute-sanitizer github workflow action to nightly tests
  .github/workflows/test.yaml
  ci/test_cpp.sh
  ci/test_cpp_common.sh
  ci/test_cpp_memcheck.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: 2 - In Progress, gpuCI, conda, improvement, non-breaking, ci

#12592 Add docs build job
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .gitignore
  ci/build_docs.sh
  dependencies.yaml
  docs/cudf/source/conf.py
Labels: improvement, non-breaking, ci

#12809 Shuffling read into a sub function in parquet read
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: 3 - Ready for Review, libcudf, cuIO, improvement, non-breaking

#12835 [REVIEW] Adapt `value_counts` behavior to match `pandas-2.x`
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Labels: 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, breaking

#12795 Expose seed argument to hash_values
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: cuDF (Python), improvement, non-breaking

#12838 Fix parquet `RangeIndex` bug
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, Cython, non-breaking

#12727 Add `always_nullable` flag to Dremel encoding
  cpp/include/cudf/lists/detail/dremel.hpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/lists/dremel.cu
  cpp/src/table/row_operators.cu
  cpp/tests/search/search_list_test.cpp
Labels: bug, libcudf, non-breaking

#12824 [REVIEW] Deprecate `inplace` parameters in categorical methods
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/tests/test_categorical.py
Labels: cuDF (Python), 4 - Needs cuDF (Python) Reviewer, 5 - Ready to Merge, improvement, non-breaking

#12840 Update datasets download URL
  python/cudf/cudf/benchmarks/get_datasets.py
Labels: cuDF (Python), improvement, non-breaking

#12831 Remove KAFKA_HOST_TEST from compute-sanitizer check
  ci/test_cpp_memcheck.sh
Labels: bug, 3 - Ready for Review, non-breaking, ci

#12834 Consolidate linter configs into pyproject.toml
  .flake8
  .pre-commit-config.yaml
  ci/release/update-version.sh
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/common/generate_input.hpp
  docs/cudf/source/developer_guide/contributing_guide.md
  pyproject.toml
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/pyproject.toml
  python/cudf/setup.cfg
  python/cudf_kafka/pyproject.toml
  python/cudf_kafka/setup.cfg
  python/custreamz/pyproject.toml
  python/custreamz/setup.cfg
  python/dask_cudf/pyproject.toml
  python/dask_cudf/setup.cfg
  setup.cfg
Labels: 3 - Ready for Review, code quality, libcudf, cuDF (Python), tech debt, improvement, non-breaking, ci

#12846 [REVIEW] Drop `inplace` parameter in categorical methods
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/tests/test_categorical.py
Labels: cuDF (Python), 4 - Needs cuDF (Python) Reviewer, 5 - Ready to Merge, improvement, breaking

#12848 Enable nbqa pre-commit hooks for isort and black.
  .pre-commit-config.yaml
  docs/cudf/source/user_guide/10min.ipynb
  docs/cudf/source/user_guide/cupy-interop.ipynb
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
  docs/cudf/source/user_guide/missing-data.ipynb
Labels: improvement, non-breaking

#12843 [REVIEW] Raise error when `numeric_only=True` for non-numeric Series
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_rank.py
Labels: cuDF (Python), 4 - Needs cuDF (Python) Reviewer, 5 - Ready to Merge, improvement, breaking, python

#12819 Add dfg as a pre-commit hook
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#12803 CI: Remove specification of manual stage for check_style.sh script.
  ci/check_style.sh
Labels: 3 - Ready for Review, tech debt, improvement, non-breaking, ci

#12426 Replace message parsing with throwing more specific exceptions
  cpp/include/cudf/binaryop.hpp
  cpp/include/cudf/concatenate.hpp
  cpp/include/cudf/lists/combine.hpp
  cpp/include/cudf/lists/contains.hpp
  cpp/include/cudf/lists/gather.hpp
  cpp/include/cudf/strings/json.hpp
  cpp/include/cudf/utilities/error.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/equality_ops.cu
  cpp/src/binaryop/compiled/struct_binary_ops.cuh
  cpp/src/copying/concatenate.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/contains.cu
  cpp/src/lists/copying/segmented_gather.cu
  cpp/src/strings/json/json_path.cu
  cpp/tests/binaryop/binop-compiled-fixed_point-test.cpp
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/copying/segmented_gather_list_tests.cpp
  cpp/tests/lists/combine/concatenate_list_elements_tests.cpp
  cpp/tests/lists/contains_tests.cpp
  cpp/tests/strings/json_tests.cpp
  docs/cudf/source/developer_guide/contributing_guide.md
  java/src/main/native/include/jni_utils.hpp
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/_lib/cpp/lists/contains.pxd
  python/cudf/cudf/_lib/exception_handler.hpp
  python/cudf/cudf/_lib/exception_handler.pxd
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_column.py
Labels: 3 - Ready for Review, code quality, libcudf, cuDF (Python), CMake, cuDF (Java), improvement, breaking, helps: Python

#12742 Add JNI methods for detecting and purging non-empty nulls from LIST and STRUCT
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, cuDF (Java), improvement, non-breaking

#12779 Improve performance for cudf::strings::count_characters for long strings
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/lengths.cpp
  cpp/src/strings/attributes.cu
  cpp/tests/strings/attrs_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#12836 Make docs builds less verbose
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#12853 [REVIEW] Drop `is_monotonic` from `Series` and `Index`
  docs/cudf/source/api_docs/index_objects.rst
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_monotonic.py
Labels: 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, breaking

#12861 Update RMM allocators
  python/cudf/cudf/__init__.py
Labels: 3 - Ready for Review, cuDF (Python), RMM, improvement, non-breaking, deprecation, python
