Repository rapidsai/cudf, pull requests merged in 2023-05, with the labels that each got.

#13232 Add metadata_builder helper class
  cpp/include/cudf/detail/contiguous_split.hpp
  cpp/src/copying/pack.cpp
Labels: libcudf, improvement, non-breaking

#13248 Enable sccache hits from local builds
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
Labels: conda, improvement, non-breaking, ci

#13257 Roll our own generate_string() because mimesis' has gone away
  python/cudf/cudf/testing/dataset_generator.py
Labels: cuDF (Python), improvement, non-breaking

#13076 Refactor Parquet chunked writer
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, helps: Spark, non-breaking

#13202 Clean up and simplify `gpuDecideCompression`
  cpp/src/io/parquet/page_enc.cu
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#13263 Fix unused variables/parameters in parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12953 Support lists of structs in row lexicographic comparator
  cpp/benchmarks/sort/nested_types_common.hpp
  cpp/benchmarks/sort/sort_lists.cpp
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/table/row_operators.cu
  cpp/tests/search/search_list_test.cpp
  cpp/tests/sort/sort_nested_types_tests.cpp
  cpp/tests/table/experimental_row_operator_tests.cu
Labels: feature request, 3 - Ready for Review, libcudf, CMake, helps: Spark, non-breaking

#13279 Add an event handler for ColumnVector.close
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), helps: Spark, non-breaking

#13249 Build wheels using new single image workflow
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#13275 Fix unused variables and functions
  cpp/CMakeLists.txt
  cpp/src/binaryop/binaryop.cpp
  cpp/src/copying/split.cpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/utilities/type_conversion.cpp
  cpp/src/io/utilities/type_conversion.hpp
  cpp/tests/binaryop/binop-compiled-fixed_point-test.cpp
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/slice_tests.cpp
  cpp/tests/copying/split_tests.cpp
  cpp/tests/dictionary/gather_test.cpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/io/text/multibyte_split_test.cpp
  cpp/tests/partitioning/hash_partition_test.cpp
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/strings/durations_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#13227 Remove default null-count parameter from cudf::make_strings_column factory
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/string/factory.cu
  cpp/examples/strings/custom_optimized.cu
  cpp/include/cudf/column/column_factories.hpp
  cpp/src/hash/md5_hash.cu
  cpp/src/io/text/multibyte_split.cu
  cpp/src/text/subword/load_merges_file.cu
  cpp/tests/strings/contains_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, breaking

#13286 Branch 23.06 merge 23.04
  CHANGELOG.md
Labels: improvement, non-breaking

#13284 Update cupy dependency
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#13271 Numba 0.57 compatibility fixes
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/row_function.py
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/utils.py
Labels: cuDF (Python), improvement, non-breaking

#13295 First check for `BaseDtype` when infering the data type of an arbitrary object
  python/cudf/cudf/core/dtypes.py
Labels: cuDF (Python), improvement, non-breaking

#13296 Change default value of the `observed=` argument in groupby to `True` to reflect the actual behaviour
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
Labels: cuDF (Python), improvement, breaking

#13289 Support CUDA 12.0 for pip wheels
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/apply_wheel_modifications.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/core/udf/utils.py
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking, ci

#13258 Remove default null-count parameter from some libcudf factory functions
  cpp/benchmarks/join/join_common.hpp
  cpp/include/cudf/column/column_factories.hpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/tests/copying/utility_tests.cpp
  cpp/tests/fixed_point/fixed_point_tests.cpp
  java/src/main/native/src/aggregation128_utils.cu
Labels: 3 - Ready for Review, libcudf, cuDF (Java), improvement, non-breaking

#13277 Fix parquet schema interpretation issue
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_test.cpp
  python/cudf/cudf/tests/data/parquet/one_level_list3.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), cuIO, non-breaking, python

#13306 Address feedback from 13289
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/recipes/cudf/meta.yaml
Labels: conda, improvement, non-breaking

#13226 Performance improvement in cudf::strings::find/rfind for long strings
  cpp/benchmarks/string/find.cpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/strings/search/find.cu
  cpp/tests/strings/find_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#13231 Use libkvikio conda packages in libcudf, add explicit libcufile dependency.
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking, ci

#13142 Performance improvement for libcudf upper/lower conversion for long strings
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/case.cpp
  cpp/src/strings/case.cu
  cpp/tests/strings/case_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#13319 Fix gtest pinning to 1.13.0.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#13242 Fix the row index stream order in ORC reader
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_init.cu
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#13290 Support the case=False argument to str.contains
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: feature request, cuDF (Python), non-breaking

#13262 Clean up buffers in case AssertionError
  java/src/main/java/ai/rapids/cudf/BitVectorHelper.java
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: bug, cuDF (Java), non-breaking

#13321 Clean up `distinct_count` benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/stream_compaction/distinct_count.cpp
Labels: libcudf, CMake, tech debt, improvement, non-breaking

#13285 Fix approach to detecting assignment for gte/lte operators
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking, python

#13316 Support gcc 12 as the C++ compiler
  cpp/cmake/thirdparty/patches/nvbench_override.json
  cpp/include/cudf_test/iterator_utilities.hpp
  cpp/include/cudf_test/type_lists.hpp
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json_test.cpp
  cpp/tests/scalar/scalar_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#13340 Update mypy to 1.3
  .pre-commit-config.yaml
  python/cudf/cudf/_lib/column.pyi
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/buffer/utils.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/single_column_frame.py
Labels: cuDF (Python), improvement, non-breaking

#13342 Fix `contiguous_split` performance
  cpp/include/cudf/detail/contiguous_split.hpp
  cpp/src/copying/contiguous_split.cu
  cpp/src/copying/pack.cpp
Labels: 3 - Ready for Review, libcudf, Performance, helps: Spark, improvement, non-breaking

#13276 Fix 64bit shift bug in avro reader
  cpp/src/io/avro/avro.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#13346 Expunge most uses of `TypeVar(bound="Foo")`
  python/cudf/cudf/_lib/column.pyi
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/cow_buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/tools/datetimes.py
Labels: cuDF (Python), improvement, non-breaking

#13327 Move `meta` calculation in `dask_cudf.read_parquet`
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: 3 - Ready for Review, cuDF (Python), dask, improvement, non-breaking, helps: Dask

#13259 Performance improvement in cudf::strings::all_characters_of_type
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/char_types.cpp
  cpp/src/strings/char_types/char_types.cu
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#13331 Fix some libcudf functions to set the null count on returning columns
  cpp/src/binaryop/binaryop.cpp
  cpp/src/copying/copy_range.cu
  cpp/src/filling/fill.cu
  cpp/tests/copying/purge_nonempty_nulls_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13288 Refactor `transform_lists_of_structs` in `row_operators.cu`
  cpp/src/table/row_operators.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13343 Improve `distinct_count` with `cuco::static_set`
  cpp/src/stream_compaction/distinct_count.cu
Labels: 3 - Ready for Review, libcudf, CMake, Performance, improvement, non-breaking

#13241 Introduce `pandas_compatible` option in `cudf`
  python/cudf/cudf/api/extensions/__init__.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking, python

#13330 Change cudf::detail::concatenate_masks to return null-count
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/detail/concatenate_masks.hpp
  cpp/src/copying/concatenate.cu
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/join/hash_join.cu
  cpp/src/lists/copying/concatenate.cu
  cpp/src/structs/copying/concatenate.cu
Labels: 3 - Ready for Review, libcudf, conda, improvement, non-breaking

#13283 Performance improvement in cudf::strings::join_strings for long strings
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/join_strings.cpp
  cpp/src/strings/combine/join.cu
  cpp/tests/strings/combine/join_strings_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#13113 Automatically select `GroupBy.apply` algorithm based on if the UDF is jittable
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/udf/groupby_utils.py
Labels: feature request, numba, cuDF (Python), non-breaking, python

#13333 Performance improvement for nvtext::minhash
  cpp/src/text/minhash.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#13335 [Java] Purge non-empty nulls when setting validity
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnViewNonEmptyNullsTest.java
Labels: cuDF (Java), improvement, non-breaking

#13311 Remove null mask and null count from column_view constructors
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/include/cudf/strings/convert/convert_lists.hpp
  cpp/include/cudf_test/tdigest_utilities.cuh
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/column/column_factories.cu
  cpp/src/copying/copy.cpp
  cpp/src/copying/copy.cu
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/dictionary_factories.cu
  cpp/src/dictionary/remove_keys.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/json/write_json.cu
  cpp/src/sort/segmented_sort_impl.cuh
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/tokenize.cu
  cpp/tests/interop/dlpack_test.cpp
  cpp/tests/iterator/sizes_to_offsets_iterator_test.cu
  cpp/tests/join/join_tests.cpp
  cpp/tests/join/mixed_join_tests.cu
  cpp/tests/join/semi_anti_join_tests.cpp
  cpp/tests/partitioning/hash_partition_test.cpp
  java/src/main/native/src/ColumnViewJni.cpp
Labels: 3 - Ready for Review, libcudf, cuDF (Java), improvement, breaking

#13294 Optionally return compression statistics from ORC and Parquet writers
  cpp/CMakeLists.txt
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/comp/gpuinflate.hpp
  cpp/src/io/comp/statistics.cu
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_test.cpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, cuIO, non-breaking

#13345 Remove all references to UNKNOWN_NULL_COUNT in Python
  cpp/include/cudf/detail/null_mask.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/cpp/null_mask.pxd
  python/cudf/cudf/_lib/cpp/types.pxd
Labels: 3 - Ready for Review, libcudf, cuDF (Python), improvement, non-breaking

#13362 Switch back to using primary shared-action-workflows branch
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#13361 Deprecate `StringIndex` and use `Index` instead
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_monotonic.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_text.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13350 Use _compile_or_get in JIT groupby apply
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
Labels: feature request, numba, cuDF (Python), non-breaking, python

#13366 run docs nightly too
  .github/workflows/build.yaml
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#13367 Fix unused parameter warning/error in parquet/page_data.cu
  cpp/src/io/parquet/page_data.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13355 Ensure columns have valid null counts in CUDF JNI.
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/row_conversion.cu
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 2 - In Progress, libcudf, cuDF (Python), cuDF (Java), helps: Spark, improvement, non-breaking

#13328 Add tz_convert method to convert between timestamps
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/indexes/datetime/test_indexing.py
  python/cudf/cudf/tests/indexes/datetime/test_time_specific.py
  python/cudf/cudf/tests/series/test_datetimelike.py
Labels: feature request, cuDF (Python), conda, non-breaking

#13260 Implement a chunked_pack API
  cpp/benchmarks/copying/contiguous_split.cu
  cpp/include/cudf/contiguous_split.hpp
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/split_tests.cpp
Labels: feature request, libcudf, helps: Spark, non-breaking

#13384 Fix JNI method with mismatched parameter list
  java/src/main/native/src/CudfJni.cpp
Labels: 3 - Ready for Review, cuDF (Java), tech debt, improvement, non-breaking

#13341 Remove default UNKNOWN_NULL_COUNT from cudf::column member functions
  cpp/benchmarks/common/generate_input.cu
  cpp/include/cudf/column/column.hpp
  cpp/src/column/column_factories.cpp
  cpp/src/datetime/timezone.cpp
  cpp/src/interop/from_arrow.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/json/write_json.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/lists/copying/copying.cu
  cpp/src/partitioning/partitioning.cu
  cpp/src/round/round.cu
  cpp/src/text/subword/load_hash_file.cu
  cpp/tests/bitmask/bitmask_tests.cpp
  cpp/tests/column/column_test.cpp
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/datetime/datetime_ops_test.cpp
  cpp/tests/structs/structs_column_tests.cpp
  cpp/tests/unary/cast_tests.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/row_conversion.cu
  python/cudf/cudf/_lib/join.pyx
Labels: 3 - Ready for Review, libcudf, cuDF (Python), cuDF (Java), improvement, non-breaking

#13376 Add JNI for ORC/Parquet writer compression statistics
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/TableWriter.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), helps: Spark, non-breaking

#13278 JNI api for cudf::chunked_pack
  java/src/main/java/ai/rapids/cudf/ChunkedPack.java
  java/src/main/java/ai/rapids/cudf/ContiguousTable.java
  java/src/main/java/ai/rapids/cudf/PackedColumnMetadata.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ChunkedPackJni.cpp
  java/src/main/native/src/ContiguousTableJni.cpp
  java/src/main/native/src/PackedColumnMetadataJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, CMake, cuDF (Java), helps: Spark, non-breaking

#13385 Remove numba JIT kernel usage from dataframe copy tests
  python/cudf/cudf/tests/test_dataframe_copy.py
Labels: feature request, cuDF (Python), non-breaking, python

#13364 Fix page size estimation in Parquet writer
  cpp/src/io/parquet/page_enc.cu
  cpp/tests/io/parquet_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#13387 Fix unused argument errors in nvcc 11.5
  cpp/src/copying/contiguous_split.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13389 Correctly reorder and reindex scan groupbys with null keys
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#13386 [JNI] Pass this ColumnVector to the onClosed event handler
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: cuDF (Java), helps: Spark, improvement, non-breaking

#13392 Add cudf::stable_distinct public API, tests, and benchmarks.
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/stream_compaction/stable_distinct.cpp
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/src/stream_compaction/stable_distinct.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/stream_compaction/distinct_tests.cpp
  cpp/tests/stream_compaction/stable_distinct_tests.cpp
Labels: libcudf, CMake, improvement, non-breaking

#13398 Fix groupby head/tail for empty dataframe
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), non-breaking

#13406 Drop extraneous dependencies from cudf conda recipe.
  conda/recipes/cudf/meta.yaml
Labels: conda, improvement, non-breaking

#13363 Add log messages about kvikIO compatibility mode
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf, cuIO, improvement, non-breaking

#11656 Implement Python drop_duplicates with cudf::stable_distinct.
  python/cudf/cudf/_lib/cpp/stream_compaction.pxd
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_onehot.py
  python/cudf/cudf/tests/test_string.py
Labels: feature request, cuDF (Python), Cython, breaking

#13417 [REVIEW] Fix csv reader pytest to pass `date_format='mixed'`
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_csv.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, non-breaking

#13337 cuDF numba cuda 12 updates
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_extension_compilation.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/utils/_numba.py
  python/cudf/cudf/utils/_ptxcompiler.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/cudf/utils/queryutils.py
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: feature request, numba, cuDF (Python), conda, non-breaking, python

#13420 Forward-merge branch-23.06 to branch-23.08
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_extension_compilation.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/utils/_numba.py
  python/cudf/cudf/utils/_ptxcompiler.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/cudf/utils/queryutils.py
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda

#13403 Fix tokenize with non-space delimiter
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: bug, cuDF (Python), non-breaking

#13372 Remove UNKNOWN_NULL_COUNT
  cpp/benchmarks/common/generate_input.cu
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/detail/copy_range.cuh
  cpp/include/cudf/types.hpp
  cpp/src/column/column.cu
  cpp/src/column/column_view.cpp
  cpp/src/groupby/sort/group_std.cu
  cpp/src/transform/compute_column.cu
  cpp/tests/copying/utility_tests.cpp
  cpp/tests/groupby/var_tests.cpp
  java/src/main/native/src/row_conversion.cu
Labels: libcudf, 5 - Ready to Merge, cuDF (Java), improvement, breaking

#13411 Inline Cython exception handler
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/exception_handler.hpp
  python/cudf/cudf/_lib/exception_handler.pxd
  python/cudf_kafka/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), CMake, 5 - Ready to Merge, Cython, improvement, non-breaking, python

#13382 Split up experimental_row_operator_tests.cu to improve its compile time
  cpp/tests/CMakeLists.txt
  cpp/tests/table/experimental_row_operator_tests.cu
  cpp/tests/table/row_operator_tests_utilities.cu
  cpp/tests/table/row_operator_tests_utilities.hpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#13373 Deprecate cudf::strings::slice_strings APIs that accept delimiters
  cpp/benchmarks/string/slice.cpp
  cpp/include/cudf/strings/slice.hpp
  cpp/tests/strings/slice_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#13368 Move some nvtext benchmarks to nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/normalize.cpp
  cpp/benchmarks/text/normalize_spaces.cpp
  cpp/benchmarks/text/replace.cpp
  cpp/benchmarks/text/tokenize.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#13436 Forward-merge branch-23.06 to branch-23.08
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/normalize.cpp
  cpp/benchmarks/text/normalize_spaces.cpp
  cpp/benchmarks/text/replace.cpp
  cpp/benchmarks/text/tokenize.cpp
Labels: libcudf, CMake

#13323 Use std::overflow_error when output would exceed column size limit
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/detail/join.hpp
  cpp/include/cudf/detail/sizes_to_offsets_iterator.cuh
  cpp/include/cudf/filling.hpp
  cpp/include/cudf/join.hpp
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/include/nvtext/minhash.hpp
  cpp/include/nvtext/subword_tokenize.hpp
  cpp/src/copying/concatenate.cu
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
  cpp/src/filling/repeat.cu
  cpp/src/interop/dlpack.cpp
  cpp/src/io/utilities/row_selection.cpp
  cpp/src/io/utilities/row_selection.hpp
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/lists/sequences.cu
  cpp/src/strings/case.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/regex/utilities.cuh
  cpp/src/strings/repeat_strings.cu
  cpp/src/text/minhash.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/src/text/normalize.cu
  cpp/src/text/subword/subword_tokenize.cu
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/filling/repeat_tests.cpp
  cpp/tests/interop/dlpack_test.cpp
  cpp/tests/io/row_selection_test.cpp
  cpp/tests/strings/array_tests.cpp
  cpp/tests/strings/repeat_strings_tests.cpp
  cpp/tests/text/minhash_tests.cpp
  cpp/tests/text/subword_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, breaking

#13433 Patch numba if it is imported first to ensure minor version compatibility works.
  python/cudf/cudf/tests/test_numba_import.py
  python/cudf/cudf/utils/_numba.py
Labels: bug, cuDF (Python), non-breaking

#13434 Fix invalid use of std::exclusive_scan in Parquet writer
  cpp/src/io/parquet/writer_impl.cu
Labels: bug, libcudf, non-breaking

#13401 Init JNI version 23.08.0-SNAPSHOT
  java/ci/README.md
  java/pom.xml
Labels: cuDF (Java), 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#13418 Fix cudf::strings::replace_with_backrefs hang on empty match result
  cpp/src/strings/replace/backref_re.cuh
  cpp/tests/strings/replace_regex_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#13325 Changes to support Numpy >= 1.24
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_feather.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_rank.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_sparse_df.py
  python/cudf/cudf/tests/test_unaops.py
  python/cudf/cudf/utils/queryutils.py
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, tech debt, improvement, non-breaking

#13429 Reject functions without bytecode from `_can_be_jitted` in GroupBy Apply
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, numba, cuDF (Python), non-breaking, python

#13435 Separate io-text and nvtext pytests into different files
  .pre-commit-config.yaml
  python/cudf/cudf/tests/input_output/test_text.py
  python/cudf/cudf/tests/test_subword_tokenizer.py
  python/cudf/cudf/tests/text/test_subword_tokenizer.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#13453 Deprecate `Groupby.dtypes`
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: 5 - Ready to Merge, improvement, non-breaking, python

#13423 Enforce Groupby.__iter__ deprecation and miscellaneous pytest fixes
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_column_accessor.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_replace.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13424 Allow newer scikit-build
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#13378 JNI: Remove cleaned objects in memory cleaner
  java/src/main/java/ai/rapids/cudf/MemoryCleaner.java
Labels: 3 - Ready for Review, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking, Reliability

#13442 Preserve Index and grouped columns in `Groupby.nth`
  python/cudf/cudf/core/groupby/groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13466 Fix writing of ORC files with empty rowgroups
  cpp/src/io/orc/stripe_enc.cu
  cpp/tests/io/orc_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#13471 Forward-merge branch-23.06 to branch-23.08
  cpp/src/filling/repeat.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/tests/filling/repeat_tests.cpp
  cpp/tests/io/orc_test.cpp
Labels: libcudf
