Repository rapidsai/cudf, pull requests merged in 2023-03, with the labels that each got.

#12753 Adds JSON reader, writer io benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/json/json_reader_input.cpp
  cpp/benchmarks/io/json/json_writer.cpp
  cpp/src/io/json/write_json.cu
Labels: 3 - Ready for Review, tests, libcudf, CMake, cuIO, improvement, non-breaking

#12874 [REVIEW] Fix docs build to be `pydata-sphinx-theme=0.13.0` compatible
  docs/cudf/source/conf.py
Labels: doc, 5 - Ready to Merge, non-breaking

#12870 Parquet writer column_size() should return a size_t
  cpp/src/io/parquet/writer_impl.cu
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#12871 Use python -m pytest for nightly wheel tests
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: bug, non-breaking

#12770 Deallocate encoded data in ORC writer immediately after compression
  cpp/src/io/orc/writer_impl.cu
Labels: libcudf, improvement, non-breaking

#12754 Throw an exception if an unsupported page encoding is detected in Parquet reader
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  python/cudf/cudf/tests/data/parquet/delta_encoding.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, cuDF (Python), non-breaking

#12751 Use test paths relative to package directory.
  ci/test_python_other.sh
  python/custreamz/.coveragerc
Labels: improvement, non-breaking, ci

#12883 Expect cupy to now support bool arrays for dlpack.
  python/cudf/cudf/tests/test_df_protocol.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#12724 Split C++ and Python build dependencies into separate lists.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#12818 [REVIEW] Deprecate `datetime_is_numeric` from `describe`
  docs/cudf/source/developer_guide/contributing_guide.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/docutils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking, deprecation

#12850 Migrate as much as possible to pyproject.toml
  ci/release/apply_wheel_modifications.sh
  ci/release/update-version.sh
  python/cudf/MANIFEST.in
  python/cudf/README.md
  python/cudf/pyproject.toml
  python/cudf/setup.py
  python/custreamz/LICENSE
  python/custreamz/pyproject.toml
  python/custreamz/setup.py
  python/dask_cudf/pyproject.toml
  python/dask_cudf/setup.cfg
  python/dask_cudf/setup.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking, ci

#12825 [REVIEW] Deprecate `names` & `dtype` in `Index.copy`
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Labels: 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, breaking, deprecation

#12886 min_rows and num_rows are swapped in ComputePageSizes declaration in Parquet reader
  cpp/src/io/parquet/parquet_gpu.hpp
Labels: bug, libcudf, cuIO, non-breaking

#12868 Update to GCC 11
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf_kafka/conda_build_config.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/benchmarks/sort/nested_types_common.hpp
  dependencies.yaml
Labels: libcudf, conda, improvement, non-breaking

#12864 Update to protobuf>=4.21.6,<4.22.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#12881 Update JNI build ENV default to gcc 11
  java/ci/Dockerfile.centos7
  java/ci/README.md
Labels: cuDF (Java), helps: Spark, improvement, non-breaking

#12863 Fix cudf::hash_partition kernel launch error with decimal128 types
  cpp/src/partitioning/partitioning.cu
  cpp/tests/partitioning/hash_partition_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12817 [REVIEW] Deprecate `na_sentinel` in `factorize`
  docs/cudf/source/api_docs/general_functions.rst
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking, deprecation

#12776 Update `distinct/unique_count` to `experimental::row` hasher/comparator
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/stream_compaction/stream_compaction_common.cuh
  cpp/src/stream_compaction/stream_compaction_common.hpp
  cpp/src/stream_compaction/unique_count.cu
  cpp/tests/stream_compaction/distinct_count_tests.cpp
  cpp/tests/stream_compaction/unique_count_tests.cpp
Labels: feature request, libcudf, non-breaking

#12890 [REVIEW] Drop `datetime_is_numeric` parameter from `describe`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/docutils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking, python

#12898 [REVIEW] Drop `names`, `dtype` in `Index.copy` and `dtype`, `levels`, `codes` in `MultiIndex.copy`
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking, python

#12820 [REVIEW] Deprecate `Index.is_*` methods
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking, deprecation

#12595 [REVIEW] Add performance benchmarks to user facing docs
  ci/test_notebooks.sh
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/index.md
  docs/cudf/source/user_guide/performance_comparisons.ipynb
  notebooks/performance_comparisons.ipynb
Labels: cuDF (Python), improvement, non-breaking, ci

#12756 Add try/except for expected null-schema error in read_parquet
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask, non-breaking

#12856 [REVIEW] Drop `kind` parameter from `Index.get_slice_bound`
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_monotonic.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#12896 Deprecate `line_terminator` in favor of `lineterminator` in `to_csv`
  docs/cudf/source/conf.py
  python/cudf/cudf/_fuzz_testing/tests/fuzz_test_csv.py
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking, deprecation

#12910 Pass `SCCACHE_S3_USE_SSL` to conda builds
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
Labels: conda, improvement, non-breaking

#12892 Add `stream` and `mr` parameters for `structs::detail::flatten_nested_columns`
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/include/cudf/detail/unary.hpp
  cpp/src/join/hash_join.cu
  cpp/src/reductions/struct_minmax_util.cuh
  cpp/src/search/contains_table.cu
  cpp/src/structs/utilities.cpp
  cpp/tests/structs/utilities_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12891 Deprecate libcudf regex APIs accepting pattern strings directly
  cpp/benchmarks/string/contains.cpp
  cpp/benchmarks/string/extract.cpp
  cpp/benchmarks/string/replace_re.cpp
  cpp/include/cudf/strings/contains.hpp
  cpp/include/cudf/strings/extract.hpp
  cpp/include/cudf/strings/findall.hpp
  cpp/include/cudf/strings/replace_re.hpp
  cpp/include/cudf/strings/split/split_re.hpp
  cpp/include/doxygen_groups.h
  cpp/tests/strings/contains_tests.cpp
  cpp/tests/strings/extract_tests.cpp
  cpp/tests/strings/findall_tests.cpp
  cpp/tests/strings/replace_regex_tests.cpp
  cpp/tests/strings/split_tests.cpp
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#12857 Drop Python 3.7 handling for pickle protocol 4
  python/cudf/cudf/tests/test_pack.py
  python/cudf/cudf/tests/test_pickling.py
Labels: cuDF (Python), improvement, non-breaking

#12907 Fix FST, JSON gtests & benchmarks coded in namespace cudf::test
  cpp/benchmarks/io/fst.cu
  cpp/tests/io/fst/common.hpp
  cpp/tests/io/fst/fst_test.cu
  cpp/tests/io/json_tree.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12914 Fix io/text gtests coded in namespace cudf::test
  cpp/tests/io/text/data_chunk_source_test.cpp
  cpp/tests/io/text/multibyte_split_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12915 Fix benchmarks coded in namespace cudf and using namespace cudf
  cpp/benchmarks/binaryop/compiled_binaryop.cpp
  cpp/benchmarks/groupby/group_rank.cpp
  cpp/benchmarks/lists/copying/scatter_lists.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12878 Change return type of `cudf::structs::detail::flatten_nested_columns` to smart pointer
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/include/cudf/detail/join.hpp
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/join/hash_join.cu
  cpp/src/reductions/simple.cuh
  cpp/src/reductions/struct_minmax_util.cuh
  cpp/src/search/contains_table.cu
  cpp/src/sort/is_sorted.cu
  cpp/src/sort/sort_impl.cuh
  cpp/src/structs/utilities.cpp
  cpp/tests/structs/utilities_tests.cpp
Labels: 3 - Ready for Review, libcudf blocker, libcudf, helps: Spark, improvement, non-breaking

#12363 Allow casting from `UDFString` back to `StringView` to call methods in `strings_udf`
  python/cudf/cudf/core/udf/masked_typing.py
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/cudf/udf_cpp/shim.cu
Labels: bug, numba, cuDF (Python), non-breaking

#12859 Fix an issue with parquet chunked reader undercounting string lengths.
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_chunked_reader_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#12814 Make string methods return a Series with a useful Index
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: bug, cuDF (Python), non-breaking

#12908 Remove return type from @return doxygen tags
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/concatenate.hpp
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/io/data_sink.hpp
  cpp/include/cudf/io/datasource.hpp
  cpp/include/cudf/lists/contains.hpp
  cpp/include/cudf/lists/lists_column_view.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/include/cudf/round.hpp
  cpp/include/cudf/sorting.hpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/transform.hpp
  cpp/include/cudf/types.hpp
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#12866 Fix null hive-partition behavior in dask-cudf parquet
  python/cudf/cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, improvement, non-breaking

#12923 Fix libcudf gtests to pass null-count=0 for empty validity masks
  cpp/benchmarks/common/generate_input.cu
  cpp/tests/copying/gather_struct_tests.cpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/lists/explode_tests.cpp
  cpp/tests/reductions/tdigest_tests.cu
  cpp/tests/sort/sort_test.cpp
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
  cpp/tests/structs/structs_column_tests.cpp
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/utilities_tests/lists_column_wrapper_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12847 [REVIEW] Update `numeric_only` behavior in reduction APIs
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_stats.py
Labels: 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, breaking, python

#12887 [REVIEW] Update minimum `pandas` and `numpy` pinnings
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_reshape.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_setitem.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/pyproject.toml
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), 5 - Ready to Merge, conda, dask-cudf, improvement, breaking

#12918 Migrate parquet encoding to use experimental row operators
  cpp/src/io/parquet/chunk_dict.cu
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#12637 Add logging to libcudf
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_fmt.cmake
  cpp/cmake/thirdparty/get_spdlog.cmake
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cudf/detail/utilities/logger.hpp
  cpp/include/cudf/utilities/logger.hpp
  cpp/src/io/utilities/config_utils.cpp
  cpp/src/io/utilities/config_utils.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/src/utilities/logger.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities_tests/logger_tests.cpp
  dependencies.yaml
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, conda, non-breaking

#12839 [REVIEW] Drop `DataFrame.append` and `Series.append`
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, breaking

#12927 Use get_current_device_resource for intermediate allocations in COLLECT_LIST window code
  cpp/src/rolling/detail/rolling_collect_list.cuh
Labels: bug, 3 - Ready for Review, libcudf, tech debt, non-breaking

#12668 Ensure all of device bitmask is initialized in from_arrow
  cpp/src/interop/from_arrow.cu
Labels: bug, libcudf, non-breaking

#12924 [REVIEW] Drop `na_sentinel` from `factorize`
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_series.py
Labels: 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, breaking, python

#12888 Remove default parameters from detail headers in include
  cpp/benchmarks/common/generate_input.cu
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/gather.hpp
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/interop.hpp
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/lists/detail/gather.cuh
  cpp/src/binaryop/compiled/binary_ops.hpp
  cpp/src/copying/copy.cu
  cpp/src/copying/scatter.cu
  cpp/src/rolling/detail/lead_lag_nested.cuh
  cpp/src/sort/segmented_sort_impl.cuh
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/stream_compaction/stable_distinct.cu
  cpp/src/stream_compaction/unique_count.cu
  cpp/tests/copying/detail_gather_tests.cu
  cpp/tests/copying/gather_str_tests.cpp
  java/src/main/native/src/ColumnViewJni.cu
Labels: 3 - Ready for Review, libcudf, cuDF (Java), improvement, non-breaking

#12909 [REVIEW] Add information about `Index.is_*` method deprecation
  python/cudf/cudf/core/_base_index.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#12841 Setting a threshold for KvikIO IO
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
Labels: libcudf, improvement, non-breaking

#12089 Enable detection of undesired stream usage
  ci/test_cpp.sh
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf_test/base_fixture.hpp
  cpp/include/cudf_test/default_stream.hpp
  cpp/include/cudf_test/stream_checking_resource_adaptor.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/error/error_handling_test.cu
  cpp/tests/utilities/default_stream.cpp
  cpp/tests/utilities/identify_stream_usage.cpp
Labels: feature request, 3 - Ready for Review, gpuCI, libcudf, CMake, conda, non-breaking, ci

#12946 Add README symlink for dask-cudf.
  python/dask_cudf/README.md
Labels: doc, cuDF (Python), non-breaking

#12877 Refactor `io::orc::ProtobufWriter`
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/orc_field_writer.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, helps: Spark, non-breaking, Reliability

#12945 [REVIEW] Avoid building cython twice
  build.sh
Labels: bug, 5 - Ready to Merge, non-breaking

#12943 Remove remaining default stream parameters
  cpp/src/binaryop/compiled/struct_binary_ops.cuh
  cpp/src/join/conditional_join.hpp
  cpp/src/merge/merge.cu
  cpp/src/partitioning/round_robin.cu
  cpp/src/rolling/detail/range_window_bounds.hpp
  cpp/tests/rolling/range_window_bounds_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12942 [REVIEW] Fix set index error for Series rolling window operations
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_rolling.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#12930 Preserve integer dtype of hive-partitioned column containing nulls
  python/cudf/cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask, non-breaking

#12904 Update libcudf counting functions to specify cudf::size_type
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cudf/lists/contains.hpp
  cpp/include/cudf/lists/count_elements.hpp
  cpp/include/cudf/search.hpp
  cpp/include/cudf/sorting.hpp
  cpp/include/cudf/strings/attributes.hpp
  cpp/include/cudf/strings/contains.hpp
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/nvtext/detail/tokenize.hpp
  cpp/include/nvtext/tokenize.hpp
  cpp/src/strings/attributes.cu
  cpp/src/strings/count_matches.cu
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#12906 Generate pyproject dependencies using dfg
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  ci/release/update-version.sh
  ci/test_java.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/MANIFEST.in
  python/cudf_kafka/pyproject.toml
  python/cudf_kafka/setup.py
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: 3 - Ready for Review, libcudf, cuDF (Python), CMake, conda, improvement, non-breaking, ci

#12921 Mark dlpack tensor deleter as noexcept to match PyCapsule_Destructor signature.
  python/cudf/cudf/_lib/interop.pyx
Labels: bug, cuDF (Python), non-breaking

#12933 Make Parquet writer `nullable` option application to single table writes
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_test.cpp
Labels: feature request, libcudf, cuIO, non-breaking

#12788 Implement initial support for avro logical types (#6482)
  cpp/src/io/avro/avro.cpp
  cpp/src/io/avro/avro.hpp
  cpp/src/io/avro/avro_common.hpp
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/avro_gpu.hpp
  cpp/src/io/avro/reader_impl.cu
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
Labels: feature request, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#12938 Fix calculation of null counts for Parquet statistics
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/statistics/column_statistics.cuh
  cpp/src/io/statistics/statistics.cuh
  cpp/tests/io/parquet_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12858 Improve performance for replace-multi for long strings
  cpp/CMakeLists.txt
  cpp/benchmarks/string/replace.cpp
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/replace/replace.cu
  cpp/tests/strings/replace_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#12957 cudftestutil supports static gtest dependencies
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
Labels: bug, 3 - Ready for Review, libcudf, CMake, conda, non-breaking

#12947 Declare a different name for nan_equality.UNEQUAL to prevent Cython warnings.
  python/cudf/cudf/_lib/cpp/types.pxd
  python/cudf/cudf/_lib/lists.pyx
Labels: cuDF (Python), improvement, breaking

#12956 Include gtest in build environment.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: bug, 3 - Ready for Review, conda, non-breaking

#12960 Remove MANIFEST.in use auto-generated one for sdists and package_data for wheels
  build.sh
  python/cudf/MANIFEST.in
  python/cudf/setup.py
  python/cudf_kafka/MANIFEST.in
  python/cudf_kafka/setup.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#12959 Update to use rapids-export(COMPONENTS) feature.
  cpp/CMakeLists.txt
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#12823 Add optional text file support to ninja-log utility
  build.sh
  cpp/scripts/sort_ninja_log.py
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12521 [REVIEW] Fix fetching of MultiIndex values when a label is passed
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12916 Fix conda recipe post-link.sh typo
  conda/recipes/libcudf/post-link.sh
Labels: bug, conda, non-breaking

#12968 Remove default detail mrs: part5
  cpp/include/cudf/detail/reshape.hpp
  cpp/include/cudf/io/detail/csv.hpp
  cpp/include/cudf/io/detail/tokenize_json.hpp
  cpp/include/cudf/lists/detail/combine.hpp
  cpp/include/cudf/lists/detail/set_operations.hpp
  cpp/src/copying/get_element.cu
  cpp/src/filling/fill.cu
  cpp/src/filling/sequence.cu
  cpp/src/io/csv/durations.hpp
  cpp/src/io/json/json_column.cu
  cpp/src/lists/set_operations.cu
  cpp/tests/io/json_tree.cpp
  cpp/tests/io/nested_json_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12949 Refactor orc chunked writer
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Labels: feature request, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#12977 Stop setting package version attribute in wheels
  ci/release/apply_wheel_modifications.sh
Labels: improvement, non-breaking, ci

#12966 Remove default detail mrs: part3
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/include/cudf/detail/round.hpp
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/detail/scatter.hpp
  cpp/include/cudf/detail/search.hpp
  cpp/include/cudf/detail/sequence.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/detail/transpose.hpp
  cpp/include/cudf/detail/unary.hpp
  cpp/include/cudf/detail/valid_if.cuh
  cpp/include/cudf/io/text/detail/tile_state.hpp
  cpp/include/cudf/io/text/detail/trie.hpp
  cpp/include/cudf/lists/detail/contains.hpp
  cpp/src/groupby/sort/scan.cpp
  cpp/src/interop/to_arrow.cu
  cpp/src/io/text/multibyte_split.cu
  cpp/src/join/semi_join.cu
  cpp/src/lists/combine/concatenate_rows.cu
  cpp/src/lists/extract.cu
  cpp/src/lists/set_operations.cu
  cpp/tests/bitmask/valid_if_tests.cu
  java/src/main/native/src/ColumnViewJni.cu
  java/src/main/native/src/maps_column_view.cu
  java/src/main/native/src/row_conversion.cu
Labels: 3 - Ready for Review, libcudf, cuDF (Java), improvement, non-breaking

#12777 Update `tests/column_utilities` to use `experimental::equality` row comparator
  cpp/include/cudf/utilities/type_checks.hpp
  cpp/src/copying/purge_nonempty_nulls.cu
  cpp/src/table/row_operators.cu
  cpp/src/utilities/type_checks.cpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities_tests/type_check_tests.cpp
Labels: feature request, libcudf, non-breaking

#12978 Add developer documentation forbidding default parameters in detail APIs
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#12805 Make timezone table independent from ORC
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/timezone.cuh
  cpp/include/cudf/detail/timezone.hpp
  cpp/include/cudf/timezone.hpp
  cpp/src/datetime/timezone.cpp
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/timezone.cuh
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, cuIO, conda, non-breaking

#12451 Use rapids-cmake parallel testing feature
  ci/test_cpp.sh
  cpp/cmake/config.json
  cpp/include/cudf_test/base_fixture.hpp
  cpp/libcudf_kafka/tests/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  dependencies.yaml
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking, ci

#12985 Rework gtests SequenceTest to remove using namepace cudf
  cpp/tests/filling/sequence_tests.cpp
Labels: 2 - In Progress, libcudf, improvement, non-breaking

#12984 Remove unused variable and fix memory issue in ORC writer
  cpp/src/io/orc/writer_impl.cu
Labels: bug, 3 - Ready for Review, libcudf blocker, libcudf, non-breaking

#12971 Move detail reduction functions to cudf::reduction::detail namespace
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/reduction/detail/reduction.cuh
  cpp/include/cudf/reduction/detail/reduction_functions.hpp
  cpp/include/cudf/reduction/detail/reduction_operators.cuh
  cpp/include/cudf/reduction/detail/segmented_reduction.cuh
  cpp/include/cudf/reduction/detail/segmented_reduction_functions.hpp
  cpp/src/lists/stream_compaction/apply_boolean_mask.cu
  cpp/src/reductions/all.cu
  cpp/src/reductions/any.cu
  cpp/src/reductions/collect_ops.cu
  cpp/src/reductions/compound.cuh
  cpp/src/reductions/max.cu
  cpp/src/reductions/mean.cu
  cpp/src/reductions/min.cu
  cpp/src/reductions/nth_element.cu
  cpp/src/reductions/product.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/segmented/all.cu
  cpp/src/reductions/segmented/any.cu
  cpp/src/reductions/segmented/compound.cuh
  cpp/src/reductions/segmented/max.cu
  cpp/src/reductions/segmented/mean.cu
  cpp/src/reductions/segmented/min.cu
  cpp/src/reductions/segmented/product.cu
  cpp/src/reductions/segmented/reductions.cpp
  cpp/src/reductions/segmented/simple.cuh
  cpp/src/reductions/segmented/std.cu
  cpp/src/reductions/segmented/sum.cu
  cpp/src/reductions/segmented/sum_of_squares.cu
  cpp/src/reductions/segmented/var.cu
  cpp/src/reductions/simple.cuh
  cpp/src/reductions/std.cu
  cpp/src/reductions/struct_minmax_util.cuh
  cpp/src/reductions/sum.cu
  cpp/src/reductions/sum_of_squares.cu
  cpp/src/reductions/var.cu
Labels: 3 - Ready for Review, libcudf, conda, tech debt, improvement, non-breaking

#12967 Remove default detail mrs: part4
  cpp/include/cudf/detail/null_mask.hpp
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/include/cudf/lists/detail/concatenate.hpp
  cpp/include/cudf/lists/detail/extract.hpp
  cpp/include/cudf/lists/detail/interleave_columns.hpp
  cpp/include/cudf/lists/detail/reverse.hpp
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/lists/detail/sorting.hpp
  cpp/include/cudf/lists/detail/stream_compaction.hpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_semi.cu
  cpp/src/reductions/struct_minmax_util.cuh
  cpp/src/scalar/scalar.cpp
  cpp/src/search/contains_table.cu
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/table/row_operators.cu
  cpp/src/unary/cast_ops.cu
  cpp/tests/join/join_tests.cpp
  cpp/tests/structs/utilities_tests.cpp
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/ColumnViewJni.cu
Labels: 3 - Ready for Review, libcudf, cuDF (Java), improvement, non-breaking

#12991 Fix `__setitem__` on string columns when the scalar value ends in a null byte
  python/cudf/cudf/tests/test_setitem.py
  python/cudf/cudf/utils/dtypes.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12882 [ENH] Implement `groupby.sample`
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/cudf/_lib/cpp/sorting.pxd
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: cuDF (Python), improvement, non-breaking

#12537 [REVIEW] Fix `find_common_dtype` and `values` to handle complex dtypes
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/dtypes.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12983 Pre-emptive fix for upstream `dask.dataframe.read_parquet` changes
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask, non-breaking

#13001 Pin numba version
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: 3 - Ready for Review, cuDF (Python), conda, improvement, non-breaking

#12979 Add JNI method for strings::replace multi variety
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), helps: Spark, non-breaking

#12997 [REVIEW] Fix `DataFrame` constructor to broadcast scalar inputs properly
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12994 Fix `GroupBy.apply` doc examples rendering
  python/cudf/cudf/core/groupby/groupby.py
Labels: doc, cuDF (Python), non-breaking, python

#12802 Cache JIT `GroupBy.apply` functions
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_groupby.py
Labels: feature request, 3 - Ready for Review, numba, cuDF (Python), non-breaking

#12965 Remove default detail mrs: part2
  cpp/include/cudf/detail/concatenate.hpp
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/copy_range.cuh
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/repeat.hpp
  cpp/include/cudf/detail/replace.hpp
  cpp/include/cudf/detail/rolling.hpp
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf/io/detail/avro.hpp
  cpp/include/cudf/io/detail/json.hpp
  cpp/include/cudf_test/tdigest_utilities.cuh
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/lists/combine/concatenate_rows.cu
  cpp/src/lists/set_operations.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/replace/replace.cu
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/quantiles/percentile_approx_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12996 [REVIEW] Drop `force_nullable_schema` from chunked parquet writer
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#12995 Fix gtest column utility comparator diff reporting
  cpp/tests/utilities/column_utilities.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13006 Fix memcheck script to execute only _TEST files found in bin/gtests/libcudf
  ci/test_cpp_memcheck.sh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking, ci

#13009 Fix auto merger from `branch-23.04` to `branch-23.06`
  ci/test_cpp_memcheck.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  cpp/include/cudf/detail/concatenate.hpp
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/copy_range.cuh
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/repeat.hpp
  cpp/include/cudf/detail/replace.hpp
  cpp/include/cudf/detail/rolling.hpp
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf/io/detail/avro.hpp
  cpp/include/cudf/io/detail/json.hpp
  cpp/include/cudf_test/tdigest_utilities.cuh
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/lists/combine/concatenate_rows.cu
  cpp/src/lists/set_operations.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/replace/replace.cu
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/quantiles/percentile_approx_test.cpp
  cpp/tests/utilities/column_utilities.cu
  dependencies.yaml
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/pyproject.toml
Labels: libcudf, cuDF (Python), conda, cuDF (Java), improvement, non-breaking, ci

#12900 Rework some code logic to reduce iterator and comparator inlining to improve compile time
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/stream_compaction/unique_count.cpp
  cpp/src/groupby/sort/group_m2.cu
  cpp/src/groupby/sort/group_nunique.cu
  cpp/src/groupby/sort/group_std.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/search/contains_scalar.cu
  cpp/src/sort/is_sorted.cu
  cpp/src/stream_compaction/unique.cu
  cpp/src/stream_compaction/unique_count.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#12992 [REVIEW] Handle index names while performing `groupby`
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#13017 Forward-merge branch-23.04 to branch-23.06
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: cuDF (Python)

#12982 add sphinx building and s3 uploading for dask-cudf docs
  ci/build_docs.sh
Labels: doc, 5 - Ready to Merge, non-breaking, ci

#12972 Add nunique aggregation support for cudf::segmented_reduce
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reduction/segmented_reduce.cpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/reduction/detail/segmented_reduction_functions.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/reductions/segmented/nunique.cu
  cpp/src/reductions/segmented/reductions.cpp
  cpp/tests/reductions/segmented_reduction_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#13025 Remove underscore in build string.
  conda/recipes/cudf/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#13021 Bump up JNI version 23.06.0-SNAPSHOT
  java/ci/README.md
  java/pom.xml
Labels: cuDF (Java), 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#13027 Remove console output from some libcudf gtests
  cpp/tests/io/json_test.cpp
  cpp/tests/reductions/reduction_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12757 [REVIEW] Upgrade to `arrow-11`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
Labels: libcudf, cuDF (Python), CMake, 5 - Ready to Merge, conda, improvement, breaking, ci

#13041 Pin cupy in wheel tests to supported versions
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#12962 [REVIEW] Miscellaneous pytest fixes for pandas-2.0
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_reshape.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_string.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking, python

#13044 [REVIEW] Add notes to performance comparisons notebook
  ci/test_notebooks.sh
  docs/cudf/source/user_guide/index.md
  docs/cudf/source/user_guide/performance-comparisons/index.md
  docs/cudf/source/user_guide/performance-comparisons/performance-comparisons.ipynb
  notebooks/performance-comparisons
  notebooks/performance_comparisons.ipynb
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking, ci
