Repository rapidsai/cudf, pull requests merged in 2023-11, with the labels that each got.

#14351 Add the new manylinux builds to the build job
  .github/workflows/build.yaml
Labels: bug, 3 - Ready for Review, non-breaking

#14336 Improve performance of nvtext::tokenize_with_vocabulary for long strings
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/vocab.cpp
  cpp/src/text/vocabulary_tokenize.cu
  cpp/tests/text/tokenize_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14287 Register ``partd`` encode dispatch in ``dask_cudf``
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, improvement, non-breaking

#14342 Expose streams in public unary APIs
  cpp/include/cudf/detail/unary.hpp
  cpp/include/cudf/unary.hpp
  cpp/src/interop/to_arrow.cu
  cpp/src/unary/cast_ops.cu
  cpp/src/unary/math_ops.cu
  cpp/src/unary/nan_ops.cu
  cpp/src/unary/null_ops.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/unary_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#14329 Expose stream parameter in public nvtext replace APIs
  cpp/include/nvtext/normalize.hpp
  cpp/include/nvtext/replace.hpp
  cpp/src/text/normalize.cu
  cpp/src/text/replace.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/text/replace_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14368 Fix a pytest typo in `test_kurt_skew_error`
  python/cudf/cudf/tests/test_stats.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#14371 Upgrade to arrow 14
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
Labels: libcudf, cuDF (Python), CMake, conda, improvement, non-breaking

#14376 Fix benchmark image.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  docs/cudf/source/_static/duckdb-benchmark-groupby-join.png
  docs/cudf/source/cudf_pandas/benchmarks.md
Labels: doc, non-breaking, ci

#14374 Update README
  README.md
Labels: doc, non-breaking

#14377 Revert changes to docs build scripts.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
Labels: ci

#14316 Add python tests for Parquet DELTA_BINARY_PACKED encoder
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/delta_enc.cuh
  cpp/src/io/parquet/page_enc.cu
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: feature request, libcudf, cuDF (Python), 5 - Ready to Merge, non-breaking

#14358 Split up scan_inclusive.cu to improve its compile time
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/scan.hpp
  cpp/include/cudf/structs/detail/scan.hpp
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/strings/scan/scan_inclusive.cu
  cpp/src/structs/scan/scan_inclusive.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#14387 Update to Arrow 14.0.1.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
Labels: libcudf, cuDF (Python), CMake, 5 - Ready to Merge, conda, improvement, non-breaking

#14348 cudf jit parser now supports .pragma instructions with quotes
  cpp/src/jit/parser.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/jit/parse_ptx_function.cpp
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#13815 Upgrade to nvCOMP 3.0.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
Labels: feature request, cuIO, conda, breaking

#14382 Remove Cython libcpp wrappers
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  dependencies.yaml
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/_lib/cpp/groupby.pxd
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/cpp/io/timezone.pxd
  python/cudf/cudf/_lib/cpp/libcpp/__init__.pxd
  python/cudf/cudf/_lib/cpp/libcpp/__init__.py
  python/cudf/cudf/_lib/cpp/libcpp/functional.pxd
  python/cudf/cudf/_lib/cpp/libcpp/memory.pxd
  python/cudf/cudf/_lib/cpp/libcpp/optional.pxd
  python/cudf/cudf/_lib/expressions.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/_lib/null_mask.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/timezone.pyx
  python/cudf/pyproject.toml
  python/cudf_kafka/cudf_kafka/_lib/kafka.pyx
  python/cudf_kafka/pyproject.toml
Labels: 3 - Ready for Review, cuDF (Python), conda, tech debt, improvement, non-breaking

#14234 Normalizing offsets iterator
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/indexalator.cuh
  cpp/include/cudf/detail/normalizing_iterator.cuh
  cpp/include/cudf/detail/offsets_iterator.cuh
  cpp/include/cudf/detail/offsets_iterator_factory.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/iterator/indexalator_test.cu
  cpp/tests/iterator/offsetalator_test.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#14364 Use new rapids-dask-dependency metapackage for managing dask versions
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_wheel_dask_cudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/dask-cudf/meta.yaml
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking, ci

#14399 Always build nvbench statically so we don't need to package it
  cpp/cmake/thirdparty/get_nvbench.cmake
  cpp/cmake/thirdparty/patches/nvbench_override.json
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#13891 Add BytePairEncoder class to cuDF
  python/cudf/cudf/_lib/cpp/nvtext/byte_pair_encode.pxd
  python/cudf/cudf/_lib/nvtext/CMakeLists.txt
  python/cudf/cudf/_lib/nvtext/byte_pair_encode.pyx
  python/cudf/cudf/core/byte_pair_encoding.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), CMake, non-breaking

#14393 Fix token-count logic in nvtext::tokenize_with_vocabulary
  cpp/benchmarks/text/vocab.cpp
  cpp/src/text/vocabulary_tokenize.cu
  cpp/tests/text/tokenize_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#14407 Cleanup remaining usages of dask dependencies
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#14340 Added streams to CSV reader and writer api
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/csv.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/functions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/io/csv_test.cpp
Labels: libcudf, CMake, improvement, non-breaking

#14411 Ensure nvbench initializes nvml context when built statically
  cpp/cmake/thirdparty/patches/nvbench_override.json
Labels: bug, libcudf, CMake, non-breaking

#14390 Fix as_column(pd.Timestamp/Timedelta, length=) not respecting length
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_column.py
Labels: bug, cuDF (Python), non-breaking

#14367 Fix and disable encoding for nanosecond statistics in ORC writer
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/tests/io/orc_test.cpp
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#14400 Raise error in `reindex` when `index` is not unique
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
  python/dask_cudf/dask_cudf/backends.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#14420 Fix dask dependency in custreamz
  conda/recipes/custreamz/meta.yaml
Labels: bug, 3 - Ready for Review, conda, non-breaking

#14402 Support java AST String literal with desired encoding
  java/src/main/java/ai/rapids/cudf/ast/Literal.java
Labels: bug, cuDF (Java), helps: Spark, non-breaking

#13795 Example code for blog on new row comparators
  ci/release/update-version.sh
  cpp/examples/README.md
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/build.sh
  cpp/examples/fetch_dependencies.cmake
  cpp/examples/nested_types/CMakeLists.txt
  cpp/examples/nested_types/deduplication.cpp
  cpp/examples/nested_types/example.json
  cpp/examples/strings/CMakeLists.txt
Labels: doc, libcudf, CMake, non-breaking, ci

#14427 Remove needs: wheel-build-cudf.
  .github/workflows/test.yaml
Labels: bug, non-breaking, ci

#14426 Forward-merge branch-23.12 to branch-24.02
  ci/release/update-version.sh
  cpp/examples/README.md
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/build.sh
  cpp/examples/fetch_dependencies.cmake
  cpp/examples/nested_types/CMakeLists.txt
  cpp/examples/nested_types/deduplication.cpp
  cpp/examples/nested_types/example.json
  cpp/examples/strings/CMakeLists.txt
Labels: libcudf, CMake, 5 - DO NOT MERGE, improvement, non-breaking, ci

#14363 Change `nullable()` to `has_nulls()` in `cudf::detail::gather`
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/null_mask.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/groupby/sort/group_quantiles.cu
  cpp/tests/join/join_tests.cpp
Labels: libcudf, improvement, non-breaking

#14429 Raise error in `reindex` when `index` is not unique
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
  python/dask_cudf/dask_cudf/backends.py
Labels: bug, ! - Hotfix, breaking

#14101 Add decoder for DELTA_BYTE_ARRAY to Parquet reader
  cpp/src/io/parquet/delta_binary.cuh
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  python/cudf/cudf/tests/data/parquet/delta_byte_arr.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: feature request, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#14428 Match pandas join ordering obligations in pandas-compatible mode
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_join_order.py
Labels: cuDF (Python), improvement, non-breaking

#14441 Build concurrency for nightly and merge triggers
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#14357 Implement user_datasource_wrapper is_empty() and is_device_read_preferred().
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#14447 Forward-merge branch-23.12 to branch-24.02
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf

#14444 JSON writer: avoid default stream use in `string_scalar` constructors
  cpp/src/io/json/write_json.cu
Labels: bug, libcudf, cuIO, non-breaking

#14445 Fix intermediate type checking in expression parsing
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/tests/ast/transform_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14449 Forward-merge branch-23.12 to branch-24.02
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/tests/ast/transform_tests.cpp
Labels: libcudf

#14015 Add cuDF devcontainers
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  .pre-commit-config.yaml
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  cpp/.clangd
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  dependencies.yaml
Labels: 3 - Ready for Review, libcudf, CMake, conda, improvement, non-breaking, ci

#14452 Fix io reference in docs.
  docs/cudf/source/user_guide/data-types.md
Labels: doc, non-breaking

#13650 Use `pynvjitlink` for CUDA 12+ MVC
  python/cudf/cudf/tests/test_mvc.py
  python/cudf/cudf/tests/test_numba_import.py
  python/cudf/cudf/utils/_numba.py
Labels: feature request, numba, cuDF (Python), 5 - Ready to Merge, non-breaking

#14448 Remove the use of `volatile` in Parquet
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_string_decode.cu
Labels: libcudf, cuIO, Performance, improvement, non-breaking

#14454 Remove warning in dask-cudf docs
  docs/dask_cudf/source/api.rst
Labels: doc, non-breaking

#14381 Preserve DataFrame(columns=).columns dtype during empty-like construction
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), non-breaking

#14456 Expose stream parameter in public nvtext APIs
  cpp/include/nvtext/edit_distance.hpp
  cpp/include/nvtext/stemmer.hpp
  cpp/src/text/edit_distance.cu
  cpp/src/text/stemmer.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/text/edit_distance_test.cpp
  cpp/tests/streams/text/stemmer_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14473 Correct dtype of count aggregations on empty dataframes
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/groupby/test_agg.py
Labels: bug, non-breaking

#14475 Remove unsanitized null from input strings column in rank_tests.cpp
  cpp/tests/reductions/rank_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14378 Update README links with redirects.
  README.md
  img/GDF_community.png
  img/goai_logo.png
  img/rapids_arrow.png
  python/custreamz/README.md
Labels: doc, cuDF (Python), non-breaking

#14459 Introduce Comprehensive Pathological Unit Tests for Issue #14409
  cpp/tests/ast/transform_tests.cpp
Labels: libcudf, improvement, non-breaking

#14491 Expunge as_frame conversions in Column algorithms
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_search.py
Labels: cuDF (Python), improvement, breaking

#14474 Enable `pd.Timestamp` objects to be picklable when `cudf.pandas` is active
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, cuDF (Python), non-breaking

#14469 Some doxygen improvements
  cpp/include/cudf/ast/expressions.hpp
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/dictionary/update_keys.hpp
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/lists/lists_column_view.hpp
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/include/cudf/structs/structs_column_view.hpp
  cpp/include/cudf/utilities/default_stream.hpp
  cpp/include/cudf/utilities/span.hpp
  cpp/include/doxygen_groups.h
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#14438 REF: Remove **kwargs from to_pandas, raise if nullable is not implemented
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/dataframe/test_conversion.py
  python/cudf/cudf/tests/series/test_conversion.py
  python/cudf/cudf/tests/series/test_datetimelike.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: cuDF (Python), improvement, breaking

#14483 REF: Make DataFrame.from_pandas process by column
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, cuDF (Python), non-breaking

#14470 Avoid DataFrame conversion in `MultiIndex.from_pandas`
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_dropna.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, cuDF (Python), non-breaking

#14514 Fix function name typo in `cudf.pandas` profiler
  python/cudf/cudf/pandas/__main__.py
  python/cudf/cudf_pandas_tests/data/profile_basic.py
  python/cudf/cudf_pandas_tests/test_profiler.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#14443 Fix default stream use in the CSV reader
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/streams/io/csv_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#14523 Make DefaultHostMemoryAllocator settable
  java/src/main/java/ai/rapids/cudf/DefaultHostMemoryAllocator.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, non-breaking, Reliability

#14277 Deprecate `fill_method` and `limit` in `pct_change` APIs
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_stats.py
Labels: cuDF (Python), improvement, non-breaking

#14460 Remove deprecated nvtext::load_merge_pairs_file
  cpp/include/nvtext/byte_pair_encoding.hpp
  cpp/src/text/bpe/load_merge_pairs.cu
Labels: 3 - Ready for Review, libcudf, improvement, breaking

#14394 Consolidate 1D pandas object handling in as_column
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), improvement, breaking, python

#14478 Improve memory footprint of isin by using contains
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/multiindex.py
Labels: bug, cuDF (Python), non-breaking, no-oom
