Repository rapidsai/cudf, pull requests merged in 2023-09, with the labels that each got.

#14025 Fix typo in docstring: metadata.
  cpp/include/cudf/contiguous_split.hpp
Labels: doc, libcudf, non-breaking

#13996 Use grid_stride for stride computations.
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/include/cudf/detail/valid_if.cuh
  cpp/src/bitmask/null_mask.cu
  cpp/src/copying/scatter.cu
  cpp/src/partitioning/partitioning.cu
  cpp/src/replace/nulls.cu
  cpp/src/transform/compute_column.cu
Labels: libcudf, improvement, non-breaking

#13964 Added pinned pool reservation API for java
  java/src/main/java/ai/rapids/cudf/HostMemoryReservation.java
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#14028 Remove quadratic runtime due to accessing Frame._dtypes in loop
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
Labels: improvement, non-breaking

#14010 Expose streams in public replace APIs
  cpp/include/cudf/replace.hpp
  cpp/src/replace/clamp.cu
  cpp/src/replace/nans.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/replace/replace_nulls_tests.cpp
  cpp/tests/replace/replace_tests.cpp
  cpp/tests/streams/replace_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#13906 Use cudf::thread_index_type in concatenate.cu.
  cpp/src/copying/concatenate.cu
Labels: bug, libcudf, non-breaking

#13905 Use cudf::thread_index_type in replace.cu.
  cpp/src/replace/replace.cu
Labels: bug, libcudf, non-breaking

#14030 Use cudf::make_empty_column instead of column_view constructor
  cpp/src/io/json/write_json.cu
  cpp/tests/copying/gather_str_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/strings/array_tests.cpp
  cpp/tests/strings/attrs_tests.cpp
  cpp/tests/strings/booleans_tests.cpp
  cpp/tests/strings/case_tests.cpp
  cpp/tests/strings/combine/concatenate_tests.cpp
  cpp/tests/strings/combine/join_strings_tests.cpp
  cpp/tests/strings/concatenate_tests.cpp
  cpp/tests/strings/datetime_tests.cpp
  cpp/tests/strings/durations_tests.cpp
  cpp/tests/strings/fill_tests.cpp
  cpp/tests/strings/find_multiple_tests.cpp
  cpp/tests/strings/find_tests.cpp
  cpp/tests/strings/integers_tests.cpp
  cpp/tests/strings/ipv4_tests.cpp
  cpp/tests/strings/pad_tests.cpp
  cpp/tests/strings/replace_tests.cpp
  cpp/tests/strings/reverse_tests.cpp
  cpp/tests/strings/slice_tests.cpp
  cpp/tests/strings/split_tests.cpp
  cpp/tests/strings/strip_tests.cpp
  cpp/tests/strings/translate_tests.cpp
  cpp/tests/strings/urls_tests.cpp
  cpp/tests/text/ngrams_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14032 Raise NotImplementedError for Categoricals with timezones
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_interval.py
Labels: bug, cuDF (Python), non-breaking

#14033 Implement `sort_remaining` for `sort_index`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, non-breaking

#14003 Fix map column can not be non-nullable for java
  java/src/main/java/ai/rapids/cudf/ColumnWriterOptions.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: bug, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#13972 Use `cudf::thread_index_type` in `merge.cu`
  cpp/src/merge/merge.cu
Labels: libcudf, improvement, non-breaking

#14026 Temporary fix Parquet metadata with empty value string being ignored from writing
  java/src/main/native/src/TableJni.cpp
Labels: bug, 3 - Ready for Review, cuIO, cuDF (Java), helps: Spark, non-breaking, Reliability

#14037 Raise NotImplementedError for to_datetime with z format
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, cuDF (Python), non-breaking

#14034 Expose streams in public search APIs
  cpp/include/cudf/search.hpp
  cpp/src/search/contains_column.cu
  cpp/src/search/contains_scalar.cu
  cpp/src/search/search_ordered.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/search_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#14044 Raise TypeError for any non-parseable argument in to_datetime
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, cuDF (Python), non-breaking, python

#14049 Raise `NotImplementedError` for `MultiIndex.to_series`
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#14051 Fix `IntervalIndex.union` to preserve type-metadata
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14050 Raise `MixedTypeError` when a column of mixed-dtype is being constructed
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#14052 Fix empty string column construction
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13971 Use thread_index_type to avoid out of bounds accesses in conditional joins
  cpp/src/join/conditional_join_kernels.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14059 Update doxygen to 1.9.1
  ci/checks/doxygen.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  cpp/doxygen/Doxyfile
  dependencies.yaml
Labels: libcudf, conda, improvement, non-breaking, ci

#14067 Use `conda mambabuild` rather than `mamba mambabuild`
  ci/build_cpp.sh
  ci/build_python.sh
Labels: bug, non-breaking, ci

#14053 Fix `Index.difference` to match with pandas
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/utils/dtypes.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14072 Remove header tests
  .pre-commit-config.yaml
  ci/checks/headers_test.sh
  conda/recipes/libcudf/meta.yaml
Labels: conda, improvement, non-breaking, ci

#14057 Remove the mr from the base fixture
  cpp/tests/column/factories_test.cpp
  cpp/tests/copying/split_tests.cpp
  cpp/tests/scalar/factories_test.cpp
  cpp/tests/wrappers/timestamps_test.cu
Labels: 3 - Ready for Review, tests, libcudf, improvement, non-breaking

#14063 Remove debug print in a Parquet test
  cpp/tests/io/parquet_test.cpp
Labels: tests, libcudf, improvement, non-breaking

#13976 Produce a fatal error if cudf is unable to find pyarrow include directory
  python/cudf/cudf/_lib/CMakeLists.txt
Labels: cuDF (Python), CMake, improvement, non-breaking

#14080 Fix renaming `Series` and `Index`
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14054 Fix various issues in `Index.intersection`
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/utils/dtypes.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14082 Add fallback matrix for nvcomp.
  dependencies.yaml
Labels: improvement, non-breaking

#14078 [Java] Add recoverWithNull to JSONOptions and pass to Table.readJSON
  java/src/main/java/ai/rapids/cudf/JSONOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/resources/people_with_invalid_lines.json
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, improvement, non-breaking

#13922 Global stream pool
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/utilities/stream_pool.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/text/multibyte_split.cu
  cpp/src/utilities/stream_pool.cpp
Labels: feature request, libcudf, CMake, Performance, non-breaking

#14098 Validate ignore_index type in drop_duplicates
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_duplicates.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14099 Add support for `__round__` in `Series` and `DataFrame`
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14103 Only use memory resources that haven't been freed
  cpp/include/cudf_test/base_fixture.hpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14105 Fix naming issues with `Index.to_frame` and `MultiIndex.to_frame` APIs
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14095 Refactor `hash_reduce_by_row`
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/hash_reduce_by_row.cuh
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/stream_compaction/distinct_helpers.cu
  cpp/src/stream_compaction/distinct_helpers.hpp
  cpp/src/stream_compaction/distinct_reduce.cu
  cpp/src/stream_compaction/stream_compaction_common.cuh
  cpp/src/stream_compaction/stream_compaction_common.hpp
Labels: feature request, 3 - Ready for Review, libcudf blocker, libcudf, CMake, helps: Spark, non-breaking

#14074 Raise NotImplementedError in to_datetime if Z (or tz component) in string
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_string.py
Labels: bug, cuDF (Python), non-breaking

#14111 Allow `numeric_only=True` for reduction operations on numeric types
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_stats.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14070 Raise NotImplementedError for datetime strings with UTC offset
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, cuDF (Python), non-breaking

#14058 Raise NotImplementedError in to_datetime with dayfirst without infer_format
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, cuDF (Python), non-breaking

#14069 Update pyarrow-related dispatch logic in dask_cudf
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_dispatch.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask, non-breaking

#14106 Drop `kwargs` from `Series.count`
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
  python/dask_cudf/dask_cudf/core.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14119 Add support for nested dict in `DataFrame` constructor
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#14118 Restrict iterables of `DataFrame`'s as input to `DataFrame` constructor
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13848 Expand statistics support in ORC writer
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/include/cudf/strings/detail/convert/fixed_point_to_string.cuh
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/statistics/statistics_type_identification.cuh
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/tests/io/orc_test.cpp
  python/cudf/cudf/tests/test_orc.py
Labels: feature request, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, non-breaking

#14056 Expose streams in public strings case APIs
  cpp/include/cudf/strings/capitalize.hpp
  cpp/include/cudf/strings/case.hpp
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/strings/case_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#13803 Long string optimization for string column parsing in JSON reader
  cpp/CMakeLists.txt
  cpp/include/cudf/io/detail/data_casting.cuh
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/json/write_json.cu
  cpp/src/io/utilities/data_casting.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/io/utilities/string_parsing.hpp
  cpp/src/io/utilities/type_inference.cu
  cpp/tests/io/json_test.cpp
  cpp/tests/io/json_type_cast_test.cu
  cpp/tests/io/type_inference_test.cu
Labels: libcudf, CMake, 5 - Ready to Merge, cuIO, Performance, improvement, non-breaking

#14125 Avoid circular cimports in _lib/cpp/reduce.pxd
  python/cudf/cudf/_lib/cpp/reduce.pxd
Labels: bug, 3 - Ready for Review, cuDF (Python), Cython, non-breaking

#14114 Implement `GroupBy.value_counts` to match pandas API
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: feature request, cuDF (Python), non-breaking

#14134 Fix DataFrame.values with no columns but index
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14116 Fix type of empty `Index` and raise warning in `Series` constructor
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dropna.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_stats.py
Labels: cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, non-breaking, deprecation

#14136 Don't sort columns for DataFrame init from list of Series
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), non-breaking

#14097 Refactor parquet thrift reader
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/writer_impl.cu
Labels: feature request, libcudf, cuIO, non-breaking

#14138 Reduce memory usage of as_categorical_column
  python/cudf/cudf/core/column/column.py
Labels: cuDF (Python), Performance, improvement, non-breaking

#14060 Expose stream parameter in public strings find APIs
  cpp/include/cudf/strings/find.hpp
  cpp/include/cudf/strings/find_multiple.hpp
  cpp/include/cudf/strings/findall.hpp
  cpp/src/strings/search/find.cu
  cpp/src/strings/search/find_multiple.cu
  cpp/src/strings/search/findall.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/strings/find_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14139 Fix kernel launch error for cudf::io::orc::gpu::rowgroup_char_counts_kernel
  cpp/src/io/orc/dict_enc.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14093 Support negative preceding/following for ROW window functions
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/rolling/detail/rolling_fixed_window.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/offset_row_window_test.cpp
  cpp/tests/rolling/rolling_test.cpp
Labels: feature request, libcudf, CMake, helps: Spark, non-breaking

#14145 Update image names
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#14156 Pin to numpy<1.25 and numba<0.58 to avoid errors and deprecation warnings-as-errors.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: bug, cuDF (Python), conda, non-breaking

#14158 Fix calls to copy_bitmask to pass stream parameter
  cpp/src/lists/count_elements.cu
  cpp/src/replace/clamp.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14061 Expose stream parameter in public nvtext ngram APIs
  cpp/benchmarks/text/ngrams.cpp
  cpp/benchmarks/text/tokenize.cpp
  cpp/include/nvtext/generate_ngrams.hpp
  cpp/include/nvtext/ngrams_tokenize.hpp
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/jaccard.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/text/ngrams_test.cpp
  cpp/tests/text/ngrams_tests.cpp
  cpp/tests/text/ngrams_tokenize_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, breaking

#14142 Support callables in DataFrame.assign
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: cuDF (Python), improvement, non-breaking

#14174 Forward-merge branch-23.10 to branch-23.12
  cpp/benchmarks/text/ngrams.cpp
  cpp/benchmarks/text/tokenize.cpp
  cpp/include/nvtext/generate_ngrams.hpp
  cpp/include/nvtext/ngrams_tokenize.hpp
  cpp/src/lists/count_elements.cu
  cpp/src/replace/clamp.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/jaccard.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/text/ngrams_test.cpp
  cpp/tests/text/ngrams_tests.cpp
  cpp/tests/text/ngrams_tokenize_tests.cpp
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: libcudf, cuDF (Python), CMake

#14173 Pin to `aws-sdk-cpp<1.11`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: bug, 3 - Ready for Review, conda, non-breaking

#14146 Expose streams in all public sorting APIs
  cpp/include/cudf/sorting.hpp
  cpp/src/lists/segmented_sort.cu
  cpp/src/sort/is_sorted.cu
  cpp/src/sort/rank.cu
  cpp/src/sort/segmented_sort.cu
  cpp/src/sort/segmented_sort_impl.cuh
  cpp/src/sort/sort.cu
  cpp/src/sort/stable_segmented_sort.cu
  cpp/src/sort/stable_sort.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/sorting_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#14121 Enable direct ingestion and production of Arrow scalars
  cpp/include/cudf/detail/interop.hpp
  cpp/include/cudf/interop.hpp
  cpp/src/interop/from_arrow.cu
  cpp/src/interop/to_arrow.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  cpp/tests/streams/interop_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#14168 Fix assert failure for range window functions
  cpp/src/rolling/grouped_rolling.cu
Labels: bug, libcudf, non-breaking

#14164 Fix Memcheck error found in JSON_TEST JsonReaderTest.ErrorStrings
  cpp/src/io/utilities/data_casting.cu
Labels: bug, 3 - Ready for Review, libcudf, 4 - Needs libcudf Reviewer, cuIO, 4 - Needs cuIO Reviewer, non-breaking

#14163 Move cpp/src/hash/hash_allocator.cuh to include/cudf/hashing/detail
  cpp/include/cudf/hashing/detail/hash_allocator.cuh
  cpp/include/cudf/hashing/detail/helper_functions.cuh
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/unordered_multiset.cuh
  cpp/src/io/json/json_tree.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/stream_compaction/stream_compaction_common.hpp
  cpp/src/text/subword/bpe_tokenizer.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14182 Forward-merge branch-23.10 to branch-23.12
  cpp/include/cudf/hashing/detail/hash_allocator.cuh
  cpp/include/cudf/hashing/detail/helper_functions.cuh
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/unordered_multiset.cuh
  cpp/src/io/json/json_tree.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/stream_compaction/stream_compaction_common.hpp
  cpp/src/text/subword/bpe_tokenizer.cuh
Labels: libcudf

#14157 Fix DataFrame from Series with different CategoricalIndexes
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), non-breaking

#13893 Allow explicit `shuffle="p2p"` within dask-cudf API
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_dispatch.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: 3 - Ready for Review, cuDF (Python), dask, improvement, non-breaking, helps: Dask

#14147 Add Parquet reader benchmarks for row selection
  cpp/benchmarks/io/cuio_common.cpp
  cpp/benchmarks/io/orc/orc_reader_options.cpp
  cpp/benchmarks/io/parquet/parquet_reader_options.cpp
Labels: tests, libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#14186 Forward-merge branch-23.10 to branch-23.12
  cpp/benchmarks/io/cuio_common.cpp
  cpp/benchmarks/io/orc/orc_reader_options.cpp
  cpp/benchmarks/io/parquet/parquet_reader_options.cpp
Labels: libcudf

#14115 Add stream parameter to external dict APIs
  cpp/include/cudf/dictionary/encode.hpp
  cpp/include/cudf/dictionary/search.hpp
  cpp/include/cudf/dictionary/update_keys.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/decode.cu
  cpp/src/dictionary/encode.cu
  cpp/src/dictionary/remove_keys.cu
  cpp/src/dictionary/search.cu
  cpp/src/dictionary/set_keys.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/dictionary_test.cpp
Labels: libcudf, CMake, improvement, non-breaking

#14124 Replace Python scalar conversions with libcudf
  python/cudf/cudf/_lib/cpp/interop.pxd
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_struct.py
  python/cudf/cudf/utils/dtypes.py
Labels: 3 - Ready for Review, cuDF (Python), Cython, improvement, non-breaking

#14193 Disable `Recently Updated` Check
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#14199 Forward-merge branch-23.10 to branch-23.12
  ci/build_docs.sh
Labels: ci

#14064 Refactor `contains_table` with cuco::static_set
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/search/contains_scalar.cpp
  cpp/benchmarks/search/contains_table.cpp
  cpp/include/cudf/detail/search.hpp
  cpp/src/search/contains_table.cu
Labels: 3 - Ready for Review, libcudf, CMake, tech debt, improvement, non-breaking

#14203 Forward-merge branch-23.10 to branch-23.12
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/search/contains_scalar.cpp
  cpp/benchmarks/search/contains_table.cpp
  cpp/include/cudf/detail/search.hpp
  cpp/src/search/contains_table.cu
  python/cudf/cudf/tests/test_cuda_array_interface.py
Labels: libcudf, cuDF (Python), CMake

#13930 Add nvtext::tokenize_with_vocabulary API
  cpp/CMakeLists.txt
  cpp/include/nvtext/tokenize.hpp
  cpp/src/text/vocabulary_tokenize.cu
  cpp/tests/text/tokenize_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/tokenize.pxd
  python/cudf/cudf/_lib/nvtext/tokenize.pyx
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/tokenize_vocabulary.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), CMake, strings, non-breaking

#14204 Forward-merge branch-23.10 to branch-23.12
  cpp/CMakeLists.txt
  cpp/include/nvtext/tokenize.hpp
  cpp/src/text/vocabulary_tokenize.cu
  cpp/tests/text/tokenize_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/tokenize.pxd
  python/cudf/cudf/_lib/nvtext/tokenize.pyx
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/tokenize_vocabulary.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: libcudf, cuDF (Python), CMake

#14201 Workaround for illegal instruction error in sm90 for warp instrinsics with mask
  cpp/src/io/utilities/data_casting.cu
Labels: bug, 3 - Ready for Review, cuda, libcudf, 4 - Needs libcudf Reviewer, cuIO, 4 - Needs cuIO Reviewer, non-breaking

#14197 Marginally reduce memory footprint of joins
  python/cudf/cudf/core/join/join.py
Labels: cuDF (Python), improvement, non-breaking

#14045 Implement `HISTOGRAM` and `MERGE_HISTOGRAM` aggregations
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/hash_reduce_by_row.cuh
  cpp/include/cudf/reduction/detail/histogram.hpp
  cpp/include/cudf/reduction/detail/reduction_functions.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_histogram.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/reductions/histogram.cu
  cpp/src/reductions/reductions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/histogram_tests.cpp
  cpp/tests/reductions/reduction_tests.cpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, helps: Spark, non-breaking

#14108 Correct numerous 20054-D: dynamic initialization errors found on arm+12.2
  cpp/src/io/avro/avro_common.hpp
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/statistics/column_statistics.cuh
  cpp/src/io/statistics/statistics.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14205 [Java] Add JNI bindings for `integers_to_hex`
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/DType.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#14154 JNI for `HISTOGRAM` and `MERGE_HISTOGRAM` aggregations
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/java/ai/rapids/cudf/ReductionAggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, 3 - Ready for Review, 0 - Blocked, cuDF (Java), helps: Spark, non-breaking

#14110 Preserve name of the column while initializing a `DataFrame`
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14167 Propagate errors from Parquet reader kernels back to host
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#14222 Forward-merge branch-23.10 to branch-23.12
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
Labels: libcudf

#14079 Support for progressive parquet chunked reading.
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_chunked_reader_test.cpp
Labels: feature request, libcudf, cuIO, non-breaking

#14223 Forward-merge branch-23.10 to branch-23.12
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_chunked_reader_test.cpp
Labels: libcudf

#14172 Add `bytes_per_second` to distinct_count of stream_compaction nvbench.
  cpp/benchmarks/stream_compaction/distinct_count.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14225 Pin `dask` and `distributed` for `23.10` release
  ci/test_wheel_dask_cudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: 3 - Ready for Review, cuDF (Python), conda, improvement, non-breaking, ci

#14231 Forward merge `23.10` into `23.12`
  ci/test_wheel_dask_cudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking, ci

#14228 Forward-merge branch-23.10 to branch-23.12
  ci/test_wheel_dask_cudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, ci

#14112 cuDF: Build CUDA 12.0 ARM conda packages.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
Labels: improvement, non-breaking
