Repository rapidsai/cudf, pull requests merged in 2023-07, with the labels that each got.

#13307 Exposure Tracked Buffer (first step towards unifying copy-on-write and spilling)
  docs/cudf/source/developer_guide/library_design.md
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/buffer/__init__.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/cow_buffer.py
  python/cudf/cudf/core/buffer/exposure_tracked_buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/buffer/utils.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_copying.py
Labels: cuDF (Python), improvement, non-breaking

#13634 Expose stable versions of libcudf sort routines
  python/cudf/cudf/_lib/cpp/sorting.pxd
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
Labels: cuDF (Python), improvement, non-breaking

#13657 [REVIEW] Introduce parity with pandas for `MultiIndex.loc` ordering & fix a bug in `Groupby` with `as_index`
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13635 Fix inf/NaN comparisons for FLOAT orderby in window functions
  cpp/src/rolling/detail/range_comparator_utils.cuh
  cpp/src/rolling/grouped_rolling.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/grouped_rolling_range_test.cpp
  cpp/tests/rolling/range_comparator_test.cu
Labels: bug, libcudf, CMake, helps: Spark, non-breaking

#13660 Fix multiindex loc ordering in pandas-compat mode
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: cuDF (Python), improvement, non-breaking

#13626 Create separate libcudf hash APIs for each supported hash function
  cpp/include/cudf/detail/aggregation/result_cache.hpp
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/column/column_view.cpp
  cpp/src/hash/hashing.cu
  cpp/src/hash/md5_hash.cu
  cpp/src/hash/murmur_hash.cu
  cpp/src/hash/spark_murmur_hash.cu
  cpp/src/io/json/json_tree.cu
  cpp/tests/io/json_tree.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13583 Clean up cudf device atomic with `cuda::atomic_ref`
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/src/groupby/hash/multi_pass_kernels.cuh
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/unordered_multiset.cuh
  cpp/src/io/json/json_column.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join_size_kernel.cuh
  cpp/src/join/mixed_join_size_kernels_semi.cu
  cpp/src/reductions/all.cu
  cpp/src/reductions/any.cu
  cpp/src/strings/case.cu
  cpp/src/strings/search/find.cu
  cpp/src/strings/split/split.cuh
  cpp/src/text/minhash.cu
  cpp/tests/device_atomics/device_atomics_test.cu
  cpp/tests/hash_map/map_test.cu
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#13648 Avoid storing metadata in pointers in ORC and Parquet writers
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_test.cpp
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
Labels: libcudf, cuDF (Python), cuIO, cuDF (Java), improvement, breaking

#13673 Add `cuda-nvcc-impl` to `cudf` for `numba` CUDA 12
  conda/recipes/cudf/meta.yaml
Labels: bug, conda, non-breaking

#13665 Use `thrust::identity` as hash functions for byte pair encoding
  cpp/src/text/subword/bpe_tokenizer.cu
  cpp/src/text/subword/load_merges_file.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13633 Separate out hash_test.cpp source for each hash API
  cpp/tests/CMakeLists.txt
  cpp/tests/hashing/hash_test.cpp
  cpp/tests/hashing/md5_test.cpp
  cpp/tests/hashing/murmur3_test.cpp
  cpp/tests/hashing/spark_murmur3_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#13562 Add pylibcudf subpackage with gather implementation
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/column.pxd
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/types.pxd
  python/cudf/cudf/_lib/expressions.pyx
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/column.pxd
  python/cudf/cudf/_lib/pylibcudf/column.pyx
  python/cudf/cudf/_lib/pylibcudf/copying.pxd
  python/cudf/cudf/_lib/pylibcudf/copying.pyx
  python/cudf/cudf/_lib/pylibcudf/gpumemoryview.pxd
  python/cudf/cudf/_lib/pylibcudf/gpumemoryview.pyx
  python/cudf/cudf/_lib/pylibcudf/table.pxd
  python/cudf/cudf/_lib/pylibcudf/table.pyx
  python/cudf/cudf/_lib/pylibcudf/types.pxd
  python/cudf/cudf/_lib/pylibcudf/types.pyx
  python/cudf/cudf/_lib/pylibcudf/utils.pxd
  python/cudf/cudf/_lib/pylibcudf/utils.pyx
  python/cudf/cudf/_lib/types.pxd
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
Labels: feature request, 3 - Ready for Review, cuDF (Python), CMake, Cython, non-breaking, python

#13675 Allow ORC and Parquet writers to write nullable columns without nulls as non-nullable
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_test.cpp
Labels: libcudf, cuIO, improvement, non-breaking

#13639 Add pylibcudf to developer guide
  docs/cudf/source/developer_guide/index.md
  docs/cudf/source/developer_guide/pylibcudf.md
Labels: 3 - Ready for Review, doc, non-breaking

#13676 Support `min` and `max` aggregations for list type in groupby and reduction
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/reductions/nested_type_minmax_util.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/reductions/simple.cuh
  cpp/src/rolling/detail/rolling.cuh
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/reductions/reduction_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#13654 Add nvtext hash_character_ngrams function
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/hash_ngrams.cpp
  cpp/include/nvtext/detail/generate_ngrams.hpp
  cpp/include/nvtext/generate_ngrams.hpp
  cpp/src/text/generate_ngrams.cu
  cpp/tests/text/ngrams_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/generate_ngrams.pxd
  python/cudf/cudf/_lib/nvtext/generate_ngrams.pyx
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: 3 - Ready for Review, libcudf, cuDF (Python), CMake, strings, improvement, non-breaking

#13629 Expose streams in all public copying APIs
  cpp/benchmarks/lists/copying/scatter_lists.cu
  cpp/include/cudf/copying.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/copying/copy.cpp
  cpp/src/copying/copy.cu
  cpp/src/copying/copy_range.cu
  cpp/src/copying/gather.cu
  cpp/src/copying/get_element.cu
  cpp/src/copying/purge_nonempty_nulls.cu
  cpp/src/copying/reverse.cu
  cpp/src/copying/sample.cu
  cpp/src/copying/scatter.cu
  cpp/src/copying/shift.cu
  cpp/src/copying/slice.cu
  cpp/src/copying/split.cpp
  cpp/src/lists/interleave_columns.cu
  cpp/src/reductions/minmax.cu
  cpp/src/replace/nulls.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/structs/utilities.cpp
  cpp/src/transform/one_hot_encode.cu
  cpp/src/transpose/transpose.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/copying_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, breaking

#13693 Add pandas compatibility note to DataFrame.query docstring
  python/cudf/cudf/core/dataframe.py
Labels: doc, non-breaking

#13580 Use `cuco::static_map` to build string dictionaries in ORC writer
  cpp/src/io/json/json_tree.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/text/subword/bpe_tokenizer.cuh
Labels: feature request, libcudf, cuIO, non-breaking

#13534 Implement iloc-getitem using parse-don't-validate approach
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/benchmarks/internal/bench_dataframe_internal.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/copy_types.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/indexing_utils.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_indexing.py
Labels: cuDF (Python), improvement, non-breaking

#13688 Data generator - include offsets in the size estimate of list elments
  cpp/benchmarks/common/generate_input.cu
Labels: bug, tests, libcudf, non-breaking

#13681 Separate MurmurHash32 from hash_functions.cuh
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/aggregation/result_cache.hpp
  cpp/include/cudf/detail/join.hpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/hashing/detail/default_hash.cuh
  cpp/include/cudf/hashing/detail/hash_functions.cuh
  cpp/include/cudf/hashing/detail/hashing.hpp
  cpp/include/cudf/hashing/detail/murmurhash3_x86_32.cuh
  cpp/include/cudf/join.hpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/include/nvtext/minhash.hpp
  cpp/src/column/column_view.cpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/hashing.cu
  cpp/src/hash/md5_hash.cu
  cpp/src/hash/murmurhash3_x86_32.cu
  cpp/src/hash/spark_murmurhash3_x86_32.cu
  cpp/src/hash/unordered_multiset.cuh
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/json_tree.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join_common_utils.cuh
  cpp/src/partitioning/partitioning.cu
  cpp/src/search/contains_table.cu
  cpp/src/stream_compaction/stream_compaction_common.hpp
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/minhash.cu
  cpp/src/text/subword/bpe_tokenizer.cu
  cpp/src/text/subword/bpe_tokenizer.cuh
  cpp/src/text/subword/load_merges_file.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/hashing/murmurhash3_x86_32_test.cpp
  cpp/tests/hashing/spark_murmurhash3_x86_32_test.cpp
  cpp/tests/io/json_tree.cpp
Labels: 3 - Ready for Review, libcudf, CMake, conda, improvement, non-breaking

#13701 Fix a corner case of list lexicographic comparator
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/tests/sort/sort_nested_types_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#13697 Fix combined filtering and column projection in `dask_cudf.read_parquet`
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: bug, 3 - Ready for Review, cuDF (Python), dask, non-breaking, helps: Dask

#13699 Update cython-lint and replace flake8 with ruff
  .flake8
  .pre-commit-config.yaml
  ci/checks/copyright.py
  docs/cudf/source/developer_guide/contributing_guide.md
  pyproject.toml
  python/cudf/cmake/Modules/ProtobufHelpers.cmake
  python/cudf/cudf/_lib/column.pyi
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/nvtext/stemmer.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/_lib/strings/char_types.pyx
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/strings/translate.pyx
  python/cudf/cudf/_lib/strings_udf.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_custom_accessor.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/queryutils.py
  python/custreamz/custreamz/tests/test_dataframes.py
Labels: code quality, cuDF (Python), CMake, improvement, non-breaking, ci

#13694 Convert libcudf hashing benchmarks to nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/hashing/hash.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#13696 Revert fetch-rapids changes
  fetch_rapids.cmake
Labels: bug, non-breaking

#13710 Enforce deprecations and add clarifications around existing deprecations
  docs/cudf/source/developer_guide/contributing_guide.md
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking, python

#13703 fix limit overflow message in a docstring
  cpp/include/cudf/detail/sizes_to_offsets_iterator.cuh
Labels: libcudf, improvement, non-breaking

#13604 Add murmurhash3_x64_128 function to libcudf
  cpp/CMakeLists.txt
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/hashing/detail/hash_functions.cuh
  cpp/include/cudf/hashing/detail/hashing.hpp
  cpp/include/cudf/hashing/detail/murmurhash3_x64_128.cuh
  cpp/src/hash/murmurhash3_x64_128.cu
  cpp/src/hash/spark_murmurhash3_x86_32.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/hashing/murmurhash3_x64_128_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#13695 Add `__dask_tokenize__` definitions to cudf classes
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/utils/utils.py
  python/dask_cudf/dask_cudf/tests/test_dispatch.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, improvement, non-breaking, helps: Dask

#13702 Alleviates JSON parser's need for multi-file sources to end with a newline
  cpp/CMakeLists.txt
  cpp/src/io/json/experimental/read_json.cu
  cpp/tests/io/json_test.cpp
Labels: libcudf, CMake, cuIO, improvement, non-breaking

#13680 Improve performance of cudf::strings::split on whitespace
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/split.cpp
  cpp/include/cudf/strings/detail/split_utils.cuh
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_record.cu
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#13719 Revert CUDA 12.0 CI workflows to branch-23.08.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#13718 Fix doxygen groups for io data sources and sinks
  cpp/include/cudf/io/data_sink.hpp
  cpp/include/cudf/io/datasource.hpp
  cpp/include/doxygen_groups.h
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#13713 Adding identify minimum version requirement
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: 3 - Ready for Review, conda, tech debt, improvement, non-breaking

#13612 Add XXHash_64 hash function to cudf
  cpp/CMakeLists.txt
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/hashing/detail/hashing.hpp
  cpp/src/hash/xxhash_64.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/hashing/xxhash_64_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#13721 Fix character counting when writing sliced tables into ORC
  cpp/src/io/orc/dict_enc.cu
  cpp/tests/io/orc_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#13669 Add nvtext::jaccard_index API for strings columns
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/jaccard.cpp
  cpp/include/doxygen_groups.h
  cpp/include/nvtext/generate_ngrams.hpp
  cpp/include/nvtext/jaccard.hpp
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/jaccard.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/text/jaccard_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/jaccard.pxd
  python/cudf/cudf/_lib/nvtext/CMakeLists.txt
  python/cudf/cudf/_lib/nvtext/jaccard.pyx
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), CMake, non-breaking

#13722 Remove the erroneous "empty level" short-circuit from ORC reader
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.Spark.NestedNotNullableStruct.orc
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, non-breaking

#13732 Enforce deprecations in `23.10`
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: cuDF (Python), 5 - Ready to Merge, dask-cudf, improvement, breaking

#13723 Switch to new wheel building pipeline
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel_cudf.sh
  ci/build_wheel_dask_cudf.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_dask_cudf.sh
Labels: improvement, non-breaking, ci

#13753 Branch 23.10 merge 23.08
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel_cudf.sh
  ci/build_wheel_dask_cudf.sh
  ci/release/update-version.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_dask_cudf.sh
Labels: improvement, non-breaking, ci

#13745 Fix writing of ORC files with empty child string columns
  cpp/src/io/orc/dict_enc.cu
  cpp/tests/io/orc_test.cpp
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#13759 Forward-merge branch-23.08 to branch-23.10
  cpp/src/io/orc/dict_enc.cu
  cpp/tests/io/orc_test.cpp
Labels: libcudf

#13708 Optimize ORC reader performance for list data
  cpp/src/io/orc/reader_impl.cu
Labels: 3 - Ready for Review, libcudf, cuIO, improvement, non-breaking

#13760 Forward-merge branch-23.08 to branch-23.10
  cpp/src/io/orc/reader_impl.cu
Labels: libcudf

#13758 Don't test strings shorter than the requested ngram size
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#13754 Add CUDA version to custreamz build string.
  conda/recipes/custreamz/meta.yaml
Labels: bug, conda, non-breaking

#13727 Switch fully unbounded window functions to use aggregations
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/groupby.hpp
  cpp/include/cudf/reduction/detail/reduction.hpp
  cpp/include/cudf/rolling.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/rolling/detail/optimized_unbounded_window.cpp
  cpp/src/rolling/detail/optimized_unbounded_window.hpp
  cpp/src/rolling/grouped_rolling.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/groupby_test_util.cpp
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/rolling/grouped_rolling_range_test.cpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/streams/groupby_test.cpp
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 2 - In Progress, libcudf, CMake, conda, cuDF (Java), helps: Spark, improvement, non-breaking

#13746 Provide our own Cython declaration for make_unique
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/libcpp/memory.pxd
  python/cudf/cudf/_lib/expressions.pyx
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/_lib/null_mask.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf_kafka/cudf_kafka/_lib/kafka.pyx
Labels: bug, cuDF (Python), non-breaking

#13707 Fix reading of RLE encoded boolean data from parquet files with V2 page headers
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  python/cudf/cudf/tests/data/parquet/rle_boolean_encoding.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, cuDF (Python), cuIO, non-breaking

#13769 Add CUDA version to cudf_kafka and libcudf-example build strings.
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/meta.yaml
Labels: bug, conda, non-breaking

#13773 Branch 23.10 merge 23.08
  .github/workflows/test.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  python/cudf/cudf/tests/data/parquet/rle_boolean_encoding.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: libcudf, cuDF (Python), conda, improvement, non-breaking

#13765 Forward-merge branch-23.08 to branch-23.10
  .github/workflows/test.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  python/cudf/cudf/tests/data/parquet/rle_boolean_encoding.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: libcudf, cuDF (Python), conda

#13348 [FEA] AST filtering in parquet reader
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/expression_transformer.hpp
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/ast/expressions.cpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_test.cpp
  python/cudf/cudf/_lib/cpp/expressions.pxd
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/expressions.pxd
  python/cudf/cudf/_lib/expressions.pyx
Labels: feature request, libcudf, cuDF (Python), CMake, 5 - Ready to Merge, cuIO, conda, non-breaking

#13779 Fix contains(`in`) method for `Series`
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, 3 - Ready for Review, 4 - Needs cuDF (Python) Reviewer, non-breaking, python

#13768 Raise error on constructing an array from mixed type inputs
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/errors.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#13780 Fix negative unary operation for boolean type
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_unaops.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13772 Preserve names of column object in various APIs
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13766 Fix construction of DataFrames from dict when columns are provided
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13778 Fix binary operation column ordering and missing column issues
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#13784 Forward-merge branch-23.08 to branch-23.10
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/expression_transformer.hpp
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/ast/expressions.cpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_test.cpp
  dependencies.yaml
  python/cudf/cudf/_lib/cpp/expressions.pxd
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/expressions.pxd
  python/cudf/cudf/_lib/expressions.pyx
  python/cudf/pyproject.toml
Labels: libcudf, cuDF (Python), CMake, conda

#13728 Upgrade to arrow 12
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  cpp/tests/io/arrow_io_source_test.cpp
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
Labels: libcudf, cuDF (Python), CMake, conda, improvement, breaking

#13786 Raise error when trying to join `datetime` and `timedelta` types with other types
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/tests/test_joining.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#13787 Fix default behavior of index metaclass instance and subclass checks
  python/cudf/cudf/core/index.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking
