Repository rapidsai/cudf, pull requests merged in 2023-04, with the labels that each got.

#12963 Reduce peak memory use when writing compressed ORC files.
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#13043 Log cuIO warnings using the libcudf logger
  cpp/benchmarks/io/cuio_common.cpp
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/parquet/writer_impl.cu
Labels: feature request, libcudf, cuIO, non-breaking

#13011 Fix OOB memory access in CSV reader when reading without NA values
  cpp/src/io/utilities/trie.cu
  cpp/src/io/utilities/trie.cuh
  cpp/tests/io/csv_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#13054 Add except declaration in Cython interface for regex_program::create
  python/cudf/cudf/_lib/cpp/strings/regex_program.pxd
  python/cudf/cudf/_lib/strings/contains.pyx
  python/cudf/cudf/_lib/strings/extract.pyx
  python/cudf/cudf/_lib/strings/findall.pyx
  python/cudf/cudf/_lib/strings/replace_re.pyx
  python/cudf/cudf/_lib/strings/split/split.pyx
  python/cudf/cudf/tests/test_string.py
Labels: bug, 3 - Ready for Review, cuDF (Python), Cython, non-breaking

#13066 Fix tests/identify_stream_usage.cpp
  cpp/tests/utilities/identify_stream_usage.cpp
Labels: bug, libcudf, non-breaking

#13068 Add algorithm include in data_sink.hpp
  cpp/include/cudf/io/data_sink.hpp
Labels: bug, libcudf, non-breaking

#13070 [REVIEW] Pin `dask` and `distributed` for release
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: 3 - Ready for Review, cuDF (Python), conda, improvement, breaking

#12787 Update `join` to use experimental row hasher and comparator
  cpp/include/cudf/detail/join.hpp
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/mixed_join.cu
  cpp/tests/join/join_tests.cpp
Labels: feature request, libcudf, non-breaking

#13080 Resolved automerger from `branch-23.04` to `branch-23.06`
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: 5 - DO NOT MERGE, improvement, non-breaking

#13075 Forward-merge branch-23.04 to branch-23.06
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda

#12981 Adding `hostdevice_span` that is a span createable from `hostdevice_vector`
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/utilities/hostdevice_span.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/tests/utilities_tests/span_tests.cu
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#13082 Fix column selection `read_parquet` benchmarks
  cpp/benchmarks/io/orc/orc_reader_options.cpp
  cpp/benchmarks/io/parquet/parquet_reader_options.cpp
Labels: bug, libcudf, 5 - Ready to Merge, non-breaking

#12931 Compute column sizes in Parquet preprocess with single kernel
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13047 Reduce shared memory usage in gpuComputePageSizes by 50%
  cpp/src/io/parquet/page_data.cu
Labels: libcudf, cuIO, helps: Spark, improvement, non-breaking

#13083 [REVIEW] Fix pytests to add coverage for index ufunc support introduced in `pandas-2.0`
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_array_ufunc.py
Labels: 3 - Ready for Review, cuDF (Python)

#12934 [REVIEW] datetime and timedelta improvements
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/cudf/cudf/utils/dtypes.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#13092 [REVIEW] Fix `MultiIndex` as column construction with `pandas-2.0`
  python/cudf/cudf/core/column_accessor.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, improvement

#13086 Raise `NotImplementedError` when attempting to construct cuDF objects from timezone-aware datetimes
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking, python

#13067 Remove deprecated regex functions from libcudf
  cpp/include/cudf/strings/contains.hpp
  cpp/include/cudf/strings/extract.hpp
  cpp/include/cudf/strings/findall.hpp
  cpp/include/cudf/strings/replace_re.hpp
  cpp/include/cudf/strings/split/split_re.hpp
  cpp/src/strings/contains.cu
  cpp/src/strings/extract/extract.cu
  cpp/src/strings/extract/extract_all.cu
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/search/findall.cu
  cpp/src/strings/split/split_re.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, breaking

#13093 Fix unused variable error/warning in page_data.cu
  cpp/src/io/parquet/page_data.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13101 [REVIEW] Fix missing confluent kafka version
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  dependencies.yaml
  python/cudf_kafka/pyproject.toml
  python/custreamz/pyproject.toml
Labels: bug, cuDF (Python), 5 - Ready to Merge, conda, non-breaking

#12769 Optimize set-like operations
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/lists/set_operations.cpp
  cpp/src/lists/set_operations.cu
  cpp/tests/lists/set_operations/difference_distinct_tests.cpp
  cpp/tests/lists/set_operations/intersect_distinct_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, Performance, helps: Spark, improvement, non-breaking

#13108 Fixes sliced list and struct column bug in JSON chunked writer
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json_writer.cpp
Labels: bug, libcudf, 5 - Ready to Merge, non-breaking

#13117 Fix GPU_ARCHS setting in Java CMake build and CMAKE_CUDA_ARCHITECTURES in Python package build.
  build.sh
  java/pom.xml
Labels: bug, 3 - Ready for Review, cuDF (Java), non-breaking

#13099 Use make_empty_lists_column instead of make_empty_column(type_id::LIST)
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/lists/detail/lists_column_factories.hpp
  cpp/src/column/column_factories.cu
  cpp/src/lists/lists_column_factories.cu
  cpp/src/lists/sequences.cu
  cpp/src/strings/extract/extract_all.cu
  cpp/src/strings/split/split_record.cu
  cpp/tests/strings/split_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, conda, non-breaking

#13094 Cleanup Parquet chunked writer
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
Labels: 3 - Ready for Review, code quality, libcudf, cuIO, improvement, breaking

#13127 Pin curand version
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: bug, 3 - Ready for Review, libcudf, ! - Hotfix, conda, non-breaking

#13129 [RELEASE] v23.04.00
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: conda

#13131 Branch 23.06 merge 23.04
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: 3 - Ready for Review, conda, improvement, non-breaking

#13130 Forward-merge branch-23.04 to branch-23.06
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: conda

#13115 Adds checks to make sure json reader won't overflow
  cpp/src/io/json/nested_json_gpu.cu
Labels: bug, libcudf, cuIO, non-breaking

#13120 Fix hash join when the input tables have nulls on only one side
  cpp/benchmarks/join/join.cu
  cpp/include/cudf/detail/join.hpp
  cpp/include/cudf/join.hpp
  cpp/src/join/hash_join.cu
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/mixed_join.cu
  cpp/tests/join/join_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#11971 Purge nonempty nulls from byte_cast list outputs.
  cpp/include/cudf/lists/detail/lists_column_factories.hpp
  cpp/src/lists/lists_column_factories.cu
  cpp/src/reshape/byte_cast.cu
  cpp/tests/reshape/byte_cast_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13111 Fix `null_count` of columns returned by `chunked_parquet_reader`
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/tests/io/parquet_chunked_reader_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#13134 Remove more instances of `UNKNOWN_NULL_COUNT`
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/strings/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  fetch_rapids.cmake
  java/src/main/native/CMakeLists.txt
Labels: 3 - Ready for Review, libcudf, CMake, cuDF (Java), improvement, non-breaking

#13104 Explicitly compute null count in concatenate APIs
  cpp/src/lists/copying/concatenate.cu
  cpp/src/structs/copying/concatenate.cu
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#13122 [REVIEW] Fix `Series` and `DataFrame` constructors to validate index lengths
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#13090 [REVIEW] Enable `numeric_only` for row-wise ops
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, breaking, python

#13135 Use CTAD instead of functions in ProtobufReader
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
Labels: libcudf, cuIO, improvement, non-breaking

#13124 Compute null-count in cudf::detail::slice
  cpp/include/cudf/detail/copy.hpp
  cpp/src/column/column.cu
  cpp/src/copying/get_element.cu
  cpp/src/copying/slice.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/interop/from_arrow.cu
  cpp/src/stream_compaction/unique.cu
  cpp/tests/transform/mask_to_bools_test.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13121 Set null-count in linked_column_view conversion operator
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/utilities/linked_column.hpp
  cpp/src/utilities/linked_column.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#13095 Use `.element()` instead of `.data()` for window range calculations
  cpp/src/rolling/grouped_rolling.cu
Labels: libcudf, improvement, non-breaking

#13081 Change cudf::test::make_null_mask to also return null-count
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf_test/column_utilities.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/tests/bitmask/bitmask_tests.cpp
  cpp/tests/bitmask/valid_if_tests.cu
  cpp/tests/column/column_test.cu
  cpp/tests/column/column_view_shallow_test.cpp
  cpp/tests/column/factories_test.cpp
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/copying/copy_if_else_nested_tests.cpp
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/purge_nonempty_nulls_tests.cpp
  cpp/tests/copying/scatter_list_tests.cpp
  cpp/tests/copying/split_tests.cpp
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/hashing/hash_test.cpp
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  cpp/tests/io/json_test.cpp
  cpp/tests/io/json_type_cast_test.cu
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_chunked_reader_test.cpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  cpp/tests/lists/contains_tests.cpp
  cpp/tests/lists/explode_tests.cpp
  cpp/tests/lists/stream_compaction/apply_boolean_mask_tests.cpp
  cpp/tests/quantiles/percentile_approx_test.cpp
  cpp/tests/reductions/list_rank_test.cpp
  cpp/tests/reductions/rank_tests.cpp
  cpp/tests/reshape/byte_cast_tests.cpp
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/sort/sort_test.cpp
  cpp/tests/stream_compaction/distinct_tests.cpp
  cpp/tests/stream_compaction/unique_tests.cpp
  cpp/tests/structs/structs_column_tests.cpp
  cpp/tests/transform/bools_to_mask_test.cpp
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/utilities_tests/column_utilities_tests.cpp
  cpp/tests/utilities_tests/lists_column_wrapper_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, cuDF (Java), improvement, non-breaking

#13140 [REVIEW] Deprecate `pad` and `backfill` methods
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13034 Enable binary operations between scalars and columns of differing decimal types
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_binops.py
Labels: cuDF (Python), improvement, non-breaking

#13139 [REVIEW] Fix `DataFrame.__getitem__` to work with `pandas-2.0`
  python/cudf/cudf/core/dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#13146 Fix a few clang-format style check errors
  cpp/tests/stream_compaction/distinct_tests.cpp
  cpp/tests/stream_compaction/unique_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13107 Add null-count parameter to json experimental parse_data utility
  cpp/include/cudf/io/detail/data_casting.cuh
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json_type_cast_test.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12826 Add Python bindings for time zone data (TZiF) reader
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/cpp/io/timezone.pxd
  python/cudf/cudf/_lib/cpp/libcpp/optional.pxd
  python/cudf/cudf/_lib/timezone.pyx
  python/cudf/cudf/core/_internals/timezones.py
Labels: libcudf, cuDF (Python), CMake, conda, improvement, non-breaking

#13123 Use ARC V2 self-hosted runners for GPU jobs
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#12912 Fix read_avro() skip_rows and num_rows.
  cpp/src/io/avro/avro.cpp
  cpp/src/io/avro/avro.hpp
  cpp/src/io/avro/avro_common.hpp
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/avro_gpu.hpp
  cpp/src/io/avro/reader_impl.cu
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
Labels: bug, libcudf, cuDF (Python), CMake, cuIO, conda, cuDF (Java), non-breaking, ci

#13057 Improve performance of slice_strings for long strings
  cpp/benchmarks/string/slice.cpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
  cpp/src/strings/slice.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#13156 [REVIEW] Drop support for `pad` and `backfill` in `GroupBy`
  docs/cudf/source/api_docs/groupby.rst
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#13152 [REVIEW] Add `no_default` and adapt `Series.reset_index` to differentiate `None` for `name` parameter
  python/cudf/cudf/api/extensions/__init__.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#13141 [REVIEW] Fix `is_string_dtype` to adapt to `pandas-2.0` changes
  python/cudf/cudf/api/types.py
  python/cudf/cudf/tests/test_api_types.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking, python

#13151 Remove wheel pytest verbosity
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#13168 [REVIEW] Handle pandas warnings for `pad` and `backfill`
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, improvement

#13164 [REVIEW] Fix datetime pytests & raise errors for timezone un-aware typecasting
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#13138 [REVIEW] Raise error when there is a binary operation between certain `DataFrame` and `Series` objects
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, breaking

#13100 Performance improvement for cudf::string_view::find functions
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
  cpp/tests/strings/find_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#13175 [REVIEW] Fix `datetime64` related inconsistencies in pytests
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_resampling.py
  python/cudf/cudf/tests/test_string.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, non-breaking

#13061 Add string scalar support in AST
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/tests/ast/transform_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, 4 - Needs libcudf Reviewer, non-breaking

#13148 Fix gtests to always pass null-count to set_null_mask calls
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/tests/column/column_test.cpp
  cpp/tests/column/column_view_shallow_test.cpp
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/rank_tests.cpp
  cpp/tests/rolling/grouped_rolling_range_test.cpp
  cpp/tests/transform/nans_to_null_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13165 Use nvtx3 includes in string examples.
  cpp/examples/strings/custom_optimized.cu
  cpp/examples/strings/custom_prealloc.cu
  cpp/examples/strings/custom_with_malloc.cu
  cpp/examples/strings/libcudf_apis.cpp
Labels: libcudf, improvement, non-breaking

#13191 [REVIEW] Fix `DataFrame.describe` pytests
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, non-breaking, python

#13188 Avoid skbuild 0.17.2 which affected the cmake -DPython_LIBRARY string
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: bug, cuDF (Python), conda, non-breaking

#13187 Fix `hostdevice_vector::subspan`
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/tests/utilities_tests/span_tests.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13143 STRING order-by column for RANGE window functions
  cpp/include/cudf/rolling/range_window_bounds.hpp
  cpp/src/rolling/detail/range_window_bounds.hpp
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/range_window_bounds.cpp
  cpp/tests/rolling/grouped_rolling_range_test.cpp
Labels: feature request, libcudf, helps: Spark, non-breaking

#12961 Add nvtext::minhash function
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/minhash.cpp
  cpp/include/doxygen_groups.h
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/text/minhash_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/minhash.pxd
  python/cudf/cudf/_lib/nvtext/CMakeLists.txt
  python/cudf/cudf/_lib/nvtext/minhash.pyx
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_text.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), CMake, strings, non-breaking

#13195 Back port #13188 to `branch-23.04`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: bug, cuDF (Python), conda, non-breaking

#13028 Update `mixed_join` to use experimental row hasher and comparator
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_common_utils.cuh
  cpp/src/join/mixed_join_kernel.cu
  cpp/src/join/mixed_join_kernel.cuh
  cpp/src/join/mixed_join_kernel_nulls.cu
  cpp/src/join/mixed_join_kernels.cuh
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_kernels_semi.cuh
  cpp/src/join/mixed_join_semi.cu
  cpp/src/join/mixed_join_size_kernel.cu
  cpp/src/join/mixed_join_size_kernel.cuh
  cpp/src/join/mixed_join_size_kernel_nulls.cu
  cpp/src/join/mixed_join_size_kernels_semi.cu
  cpp/src/search/contains_table.cu
Labels: feature request, libcudf, non-breaking

#13178 Fix slice_strings to return empty strings for stop < start indices
  cpp/src/strings/slice.cu
  cpp/tests/strings/slice_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#13174 [REVIEW] Change default `dtype` for `get_dummies` to `bool`
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_onehot.py
Labels: 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, breaking

#13190 [REVIEW] Update parameter ordering in `DataFrame.pivot`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, breaking

#13144 Optimize JSON writer
  cpp/benchmarks/io/json/json_writer.cpp
  cpp/src/io/json/write_json.cu
  python/cudf/cudf/_lib/json.pyx
Labels: libcudf, cuDF (Python), 5 - Ready to Merge, Cython, Performance, strings, improvement, non-breaking

#13199 JNI changes for range-extents in window functions.
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/WindowOptions.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, cuDF (Java), helps: Spark, non-breaking

#13071 Assert for non-empty nulls
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/AssertEmptyNulls.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ColumnViewNonEmptyNullsTest.java
Labels: cuDF (Java), improvement, non-breaking

#13206 Refactor pinned memory vector and ORC+Parquet writers
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/include/cudf/detail/utilities/pinned_host_vector.hpp
  cpp/include/cudf/io/detail/orc.hpp
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/detail/utils.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/io/text/bgzip_data_chunk_source.cu
  cpp/src/io/text/data_chunk_source_factories.cpp
  cpp/src/io/utilities/hostdevice_vector.hpp
Labels: 3 - Ready for Review, libcudf blocker, libcudf, conda, helps: Spark, improvement, non-breaking

#13196 Update minimum Python version to Python 3.9
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), CMake, conda, improvement, breaking

#13169 Split up unique_count.cu to improve build time
  cpp/CMakeLists.txt
  cpp/src/stream_compaction/unique_count.cu
  cpp/src/stream_compaction/unique_count_column.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#13201 Use std::array for a statically sized vector in `create_serialized_trie`
  cpp/src/io/utilities/trie.cu
Labels: libcudf, cuIO, improvement, non-breaking

#13072 Add Java bindings for string literal support in AST
  java/src/main/java/ai/rapids/cudf/ast/Literal.java
  java/src/main/native/src/CompiledExpression.cpp
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), cuDF (Java), 4 - Needs cuDF (Java) Reviewer, non-breaking

#13207 Update cudf recipes to use GTest version to >=1.13
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
Labels: feature request, 3 - Ready for Review, conda, non-breaking

#13213 Skip Non-Empty nulls tests for the nightly build just like we skip CuFileTest and CudaFatalTest
  build.sh
  java/ci/build-in-docker.sh
Labels: cuDF (Java), improvement, non-breaking

#13119 Update `contains_table` to experimental row hasher and equality comparator
  cpp/src/search/contains_table.cu
Labels: feature request, libcudf, non-breaking

#13214 Fix race in ORC string dictionary creation
  cpp/src/io/orc/dict_enc.cu
Labels: bug, 3 - Ready for Review, libcudf, cuIO, helps: Spark, non-breaking

#13219 Add [[maybe_unused]] to nvbench environment.
  cpp/cmake/thirdparty/patches/nvbench_global_setup.diff
Labels: bug, libcudf, CMake, non-breaking

#13194 Add scalar argtypes to udf cache keys
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking, python

#12941 Add nvtx annotatations to groupby methods
  python/cudf/cudf/core/groupby/groupby.py
Labels: cuDF (Python), improvement, non-breaking

#13186 Refactor contiguous_split API into contiguous_split.hpp
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/copying/contiguous_split.cu
  cpp/include/cudf/contiguous_split.hpp
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/contiguous_split.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/include/doxygen_groups.h
  cpp/src/copying/contiguous_split.cu
  cpp/src/copying/pack.cpp
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/split_tests.cpp
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/ContiguousTableJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/cudf_jni_apis.hpp
  python/cudf/cudf/_lib/copying.pxd
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/contiguous_split.pxd
  python/cudf/cudf/_lib/cpp/copying.pxd
Labels: libcudf, cuDF (Python), conda, cuDF (Java), improvement, breaking

#13078 Fix bugs in iterative groupby apply algorithm
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking, python

#13218 Fix `ceil`, `floor` & `round` pytests to support `pandas-2.0+`
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13223 Add chunked reader benchmark
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13171 Enable mixed-dtype decimal/scalar binary operations
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_decimal.py
Labels: cuDF (Python), improvement, non-breaking

#13210 Use canonicalized name for dlopen'd libraries (libcufile)
  cpp/src/io/utilities/file_io_utilities.cpp
Labels: libcudf, tech debt, improvement, non-breaking

#13221 Set the null count in output columns in the CSV reader
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/csv_gpu.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/io/csv_test.cpp
Labels: libcudf, cuIO, Performance, improvement, non-breaking

#13205 Remove UNKNOWN_NULL_COUNT where it can be easily computed
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/include/cudf/structs/structs_column_view.hpp
  cpp/src/copying/concatenate.cu
  cpp/src/copying/contiguous_split.cu
  cpp/src/io/json/write_json.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/lists/copying/copying.cu
  cpp/src/merge/merge.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/strings/copying/copying.cu
  cpp/src/structs/copying/concatenate.cu
  cpp/src/structs/structs_column_view.cpp
  cpp/src/structs/utilities.cpp
  cpp/src/transform/row_bit_count.cu
  cpp/tests/structs/utilities_tests.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, libcudf, improvement, breaking

#13217 Fix `kurtosis` pytests to support `numeric_only` parameter
  python/cudf/cudf/tests/test_stats.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, non-breaking

#13216 Fix parquet pytests errors with pandas-2.0
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13163 Add support for DatetimeTZDtype and tz_localize
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/indexes/datetime/test_time_specific.py
  python/cudf/cudf/tests/series/test_datetimelike.py
  python/cudf/cudf/utils/dtypes.py
Labels: feature request, cuDF (Python), 0 - Blocked, non-breaking

#13212 Fix string_scalar stream usage in write_json.cu
  cpp/src/copying/contiguous_split.cu
  cpp/src/io/json/write_json.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#11392 Fix consumption of CPU-backed interchange protocol dataframes
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_df_protocol.py
Labels: bug, gpuCI, libcudf, cuDF (Python), CMake, conda, cuDF (Java), non-breaking, ci

#13240 Make `is_decompression_disabled` and `is_compression_disabled` thread-safe
  cpp/src/io/comp/nvcomp_adapter.cpp
Labels: bug, cuIO, non-breaking

#13247 Revert to branch-23.06 for shared-action-workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
