Repository rapidsai/cudf, pull requests merged in 2023-01, with the labels that each got.

#12462 Update workflows for nightly tests
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#12327 [REVIEW] Upgrade to `arrow-10.0.1`
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  cpp/include/cudf/detail/interop.hpp
  cpp/include/cudf/interop.hpp
  cpp/tests/interop/arrow_utils.hpp
  cpp/tests/interop/from_arrow_test.cpp
  dependencies.yaml
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/io/CMakeLists.txt
  python/cudf/pyproject.toml
  python/cudf/setup.py
  python/cudf_kafka/setup.py
Labels: libcudf, cuDF (Python), CMake, 5 - Ready to Merge, conda, cuDF (Java), improvement, breaking, ci

#12401 Rework cudf::strings::integers_to_ipv4 to use make_strings_children utility
  cpp/src/strings/convert/convert_ipv4.cu
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#12464 Update cudf_assert docs with correct NDEBUG behavior
  cpp/include/cudf/detail/utilities/assert.cuh
Labels: doc, libcudf, 5 - Ready to Merge, non-breaking

#12465 Fix compile issue with arrow 10
  cpp/include/cudf/io/datasource.hpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12466 Use cudaMemcpyDefault.
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/benchmarks/type_dispatcher/type_dispatcher.cu
  cpp/include/cudf/detail/get_value.cuh
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/include/cudf_test/column_utilities.hpp
  cpp/src/bitmask/is_element_valid.cpp
  cpp/src/copying/contiguous_split.cu
  cpp/src/interop/to_arrow.cu
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/json/experimental/read_json.cpp
  cpp/src/io/json/json_tree.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/text/bgzip_data_chunk_source.cu
  cpp/src/io/text/data_chunk_source_factories.cpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/src/quantiles/quantiles_util.hpp
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/reductions/minmax.cu
  cpp/src/scalar/scalar.cpp
  cpp/src/strings/combine/join.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/regex/regexec.cpp
  cpp/src/text/subword/load_hash_file.cu
  cpp/tests/bitmask/bitmask_tests.cpp
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/io/comp/decomp_test.cpp
  cpp/tests/io/fst/logical_stack_test.cu
  cpp/tests/io/parquet_test.cpp
  cpp/tests/io/text/data_chunk_source_test.cpp
  cpp/tests/quantiles/percentile_approx_test.cpp
  cpp/tests/strings/factories_test.cu
  cpp/tests/strings/integers_tests.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/tdigest_utilities.cu
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/row_conversion.cu
Labels: libcudf, cuDF (Java), improvement, non-breaking

#12338 Enable max compression ratio small block optimization for ZSTD
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/tests/io/orc_test.cpp
Labels: 4 - Waiting on Author, libcudf, cuIO, improvement, non-breaking

#12269 Add cudf::strings:like function with multiple patterns
  cpp/include/cudf/strings/contains.hpp
  cpp/src/strings/like.cu
  cpp/tests/strings/like_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, strings, non-breaking

#12455 Refactor `thrust_copy_if` into `cudf::detail::copy_if_safe`
  cpp/include/cudf/detail/utilities/algorithm.cuh
  cpp/src/groupby/hash/groupby.cu
  cpp/src/io/json/json_tree.cu
Labels: feature request, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#12385 Rework cudf::strings::url_encode to use make_strings_children utility
  cpp/src/strings/capitalize.cu
  cpp/src/strings/convert/convert_urls.cu
Labels: 3 - Ready for Review, libcudf, tech debt, strings, improvement, non-breaking

#12424 Remove arguments for checking exception messages in Python
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_quantiles.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_seriesmap.py
  python/cudf/cudf/tests/test_setitem.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: 3 - Ready for Review, code quality, cuDF (Python), improvement, non-breaking

#12468 Raise warnings as errors in the test suite
  docs/cudf/source/developer_guide/contributing_guide.md
  docs/cudf/source/developer_guide/testing.md
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/pytest.ini
  python/cudf/cudf/tests/test_reductions.py
Labels: 3 - Ready for Review, tests, code quality, cuDF (Python), improvement, non-breaking

#12467 [REVIEW] Remove `int32` hard-coding in python
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/reshape.py
  python/dask_cudf/dask_cudf/backends.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#12421 Clean up cuco usage
  cpp/src/io/json/json_tree.cu
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_semi.cu
  cpp/src/search/contains_table.cu
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/stream_compaction/stream_compaction_common.hpp
  cpp/src/text/subword/load_merges_file.cu
Labels: libcudf, tech debt, improvement, non-breaking

#12370 Purge non-empty nulls in `cudf::make_lists_column`
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/src/lists/extract.cu
  cpp/src/lists/lists_column_factories.cu
  cpp/tests/column/factories_test.cpp
  cpp/tests/io/json_test.cpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  cpp/tests/lists/extract_tests.cpp
  cpp/tests/structs/structs_column_tests.cpp
  cpp/tests/utilities_tests/column_utilities_tests.cpp
  cpp/tests/utilities_tests/lists_column_wrapper_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#12158 Remove JIT type names, refactor id_to_type.
  cpp/CMakeLists.txt
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/datetime/datetime_ops.cu
  cpp/src/jit/util.cpp
  cpp/src/jit/util.hpp
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/table/row_operators.cu
  cpp/src/transform/transform.cpp
  cpp/src/utilities/type_dispatcher.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: libcudf, CMake, tech debt, improvement, breaking

#12395 Update pre-commit hooks guide
  CONTRIBUTING.md
Labels: doc, non-breaking

#12482 [REVIEW] Link unsupported iteration API docstrings
  docs/cudf/source/user_guide/pandas-comparison.md
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/utils/utils.py
Labels: doc, cuDF (Python), 5 - Ready to Merge, non-breaking

#12469 `strings_udf` doc update
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
Labels: 3 - Ready for Review, doc, non-breaking

#12448 Add trailing comma support for nested JSON reader
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, 4 - Needs libcudf Reviewer, cuIO, 4 - Needs cuIO Reviewer, breaking

#12487 [REVIEW] Fix missing metadata transfer in concat for `ListColumn`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_concat.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12480 Rework nvtext::generate_character_ngrams to use make_strings_children
  cpp/src/text/generate_ngrams.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12491 [REVIEW] Enable metadata transfer for complex types in transpose
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12478 `one_hot_encode` to use experimental row comparators
  cpp/src/transform/one_hot_encode.cu
  cpp/tests/transform/one_hot_encode_tests.cpp
Labels: feature request, libcudf, non-breaking

#12492 Stop using pandas._testing
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_feather.py
  python/cudf/cudf/tests/test_hdf.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_serialize.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: 3 - Ready for Review, cuDF (Python), tech debt, improvement, non-breaking

#12314 Use `device_read` in experimental `read_json`
  cpp/benchmarks/io/json/nested_json.cpp
  cpp/src/io/json/experimental/read_json.cpp
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/nested_json_test.cpp
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, Performance, non-breaking

#12434 Rework remaining cudf::strings::from_xyz functions to use make_strings_children
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_integers.cu
Labels: libcudf, 5 - Ready to Merge, strings, improvement, non-breaking

#12354 JSON column performance optimization - struct column nulls
  cpp/src/io/json/json_column.cu
Labels: 3 - Ready for Review, libcudf, cuIO, Performance, improvement, non-breaking

#12457 Build CUDA `11.8` and Python `3.10` Packages
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  README.md
  ci/test_notebooks.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
  python/cudf/setup.py
  python/cudf_kafka/setup.py
  python/custreamz/setup.py
  python/dask_cudf/setup.py
  python/strings_udf/setup.py
  python/strings_udf/strings_udf/__init__.py
Labels: cuDF (Python), conda, improvement, non-breaking, ci

#12511 Update rapids-cmake definitions version in GitHub Actions style checks.
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#12427 Build wheels alongside conda CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/wheels.yml
  ci/wheel_smoke_test_cudf.py
  cpp/cmake/thirdparty/get_arrow.cmake
  python/cudf/pyproject.toml
  python/cudf/setup.py
Labels: libcudf, cuDF (Python), CMake, improvement, non-breaking, ci

#12525 build.sh switch to use `RAPIDS` magic value
  build.sh
Labels: bug, 3 - Ready for Review, non-breaking

#12371 Nested JSON depth benchmark
  cpp/benchmarks/io/json/nested_json.cpp
Labels: feature request, 3 - Ready for Review, libcudf, 4 - Needs libcudf Reviewer, cuIO, non-breaking

#12211 Selectively use dictionary encoding in Parquet writer
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_test.cpp
Labels: feature request, libcudf, cuIO, helps: Spark, non-breaking

#12447 Fix List offsets bug in mixed type list column in nested JSON reader
  cpp/src/io/json/json_column.cu
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/tests/test_json.py
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), 4 - Needs libcudf Reviewer, cuIO, 4 - Needs cuIO Reviewer, non-breaking

#12528 Update TODOs from issue 10432.
  cpp/src/reductions/segmented_reductions.cpp
  cpp/src/reductions/simple_segmented.cuh
Labels: libcudf, improvement, non-breaking

#12399 Use `numpy.empty()` instead of `bytearray` to allocate host memory for spilling
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
Labels: cuDF (Python), improvement, non-breaking

#12486 Fix erroneously skipped ORC ZSTD test
  cpp/tests/io/orc_test.cpp
Labels: tests, libcudf, improvement, non-breaking

#12159 Updating `stream_compaction/unique` to use new row comparators
  cpp/benchmarks/stream_compaction/unique.cpp
  cpp/src/stream_compaction/unique.cu
  cpp/tests/stream_compaction/unique_tests.cpp
Labels: feature request, libcudf, non-breaking

#12375 Mixed Join Benchmarks
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/join/conditional_join.cu
  cpp/benchmarks/join/join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/mixed_join.cu
Labels: libcudf, CMake, improvement, non-breaking

#12526 Update libcudf reduction docs for casting output types
  cpp/include/cudf/reduction.hpp
  cpp/src/reductions/simple_segmented.cuh
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#12490 Fix ROLLING_TEST gtests coded in namespace cudf::test
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/rolling/empty_input_test.cpp
  cpp/tests/rolling/grouped_rolling_range_test.cpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/lead_lag_test.cpp
  cpp/tests/rolling/nth_element_test.cpp
  cpp/tests/rolling/range_rolling_window_test.cpp
  cpp/tests/rolling/range_window_bounds_test.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/rolling/rolling_test.hpp
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#12394 Deprecate chunksize from dask_cudf.read_csv
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/io/csv.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, improvement, non-breaking

#11718 [REVIEW] Copy on write implementation
  docs/cudf/source/developer_guide/library_design.md
  docs/cudf/source/user_guide/copy-on-write.md
  docs/cudf/source/user_guide/index.md
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/buffer/__init__.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/cow_buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/buffer/utils.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/options.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_copying.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/utils/applyutils.py
Labels: 3 - Ready for Review, gpuCI, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement, non-breaking

#12539 Make string quoting optional on CSV write
  cpp/include/cudf/io/csv.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
  java/src/main/java/ai/rapids/cudf/CSVOptions.java
  java/src/main/java/ai/rapids/cudf/CSVWriterOptions.java
  java/src/main/java/ai/rapids/cudf/QuoteStyle.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, libcudf, cuDF (Java), helps: Spark, non-breaking

#12533 Use new nvCOMP API to optimize the compression temp memory size
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/comp/nvcomp_adapter.cu
  cpp/src/io/comp/nvcomp_adapter.cuh
Labels: feature request, libcudf, cuIO, non-breaking

#12544 Default `cudf::io::read_json` to nested JSON parser
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/reader_impl.cu
  cpp/tests/io/arrow_io_source_test.cpp
  cpp/tests/io/json_chunked_reader.cpp
  cpp/tests/io/json_test.cpp
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/cpp/io/json.pxd
  python/cudf/cudf/_lib/json.pyx
Labels: feature request, libcudf, cuDF (Python), cuIO, cuDF (Java), breaking

#12547 Optimize `cudf::make_lists_column`
  cpp/src/lists/lists_column_factories.cu
  cpp/tests/copying/purge_nonempty_nulls_tests.cpp
Labels: 3 - Ready for Review, libcudf, Performance, improvement, non-breaking

#12499 Add JSON reader page in user guide
  docs/cudf/source/user_guide/index.md
  docs/cudf/source/user_guide/io/index.md
  docs/cudf/source/user_guide/io/io.md
  docs/cudf/source/user_guide/io/read-json.md
Labels: doc, non-breaking

#12553 Mixed Join benchmark bug due to wrong conditional column
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/mixed_join.cu
Labels: bug, libcudf, non-breaking

#12484 Rename libcudf substring source files to slice
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/slice.cpp
  cpp/examples/strings/libcudf_apis.cpp
  cpp/include/cudf/strings/slice.hpp
  cpp/include/doxygen_groups.h
  cpp/src/strings/slice.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/strings/slice_tests.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  python/cudf/cudf/_lib/cpp/strings/substring.pxd
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), CMake, conda, cuDF (Java), tech debt, strings, non-breaking

#12541 Replace exclusive_scan with sizes_to_offsets in cudf::lists::sequences
  cpp/src/lists/sequences.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12475 Support %W and %w format specifiers in cudf::strings::to_timestamps
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, strings, non-breaking

#12540 Rework nvtext::ngrams_tokenize to use sizes-to-offsets utility
  cpp/src/text/ngrams_tokenize.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#12557 Add strings methods removeprefix and removesuffix
  docs/cudf/source/api_docs/string_handling.rst
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: feature request, cuDF (Python), 5 - Ready to Merge, non-breaking

#12536 Fix binary-ops gtests coded in namespace cudf::test
  cpp/tests/CMakeLists.txt
  cpp/tests/binaryop/assert-binops.h
  cpp/tests/binaryop/binop-compiled-fixed_point-test.cpp
  cpp/tests/binaryop/binop-compiled-test.cpp
  cpp/tests/binaryop/binop-fixture.hpp
  cpp/tests/binaryop/binop-generic-ptx-test.cpp
  cpp/tests/binaryop/binop-null-test.cpp
  cpp/tests/binaryop/binop-verify-input-test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, tech debt, improvement, non-breaking

#12560 Use `has_nonempty_nulls` instead of `may_contain_non_empty_nulls` in `superimpose_nulls` and `push_down_nulls`
  cpp/src/structs/utilities.cpp
Labels: feature request, 3 - Ready for Review, libcudf, Performance, helps: Spark, non-breaking

#12543 Rework repeat_strings to use sizes-to-offsets utility
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/src/strings/repeat_strings.cu
Labels: 3 - Ready for Review, libcudf blocker, libcudf, helps: Spark, strings, improvement, non-breaking

#12527 Fix documentation author
  docs/cudf/source/conf.py
Labels: doc, non-breaking

#12024 Add device buffer datasource
  cpp/benchmarks/io/cuio_common.cpp
  cpp/benchmarks/io/cuio_common.hpp
  cpp/benchmarks/io/nvbench_helpers.hpp
  cpp/benchmarks/io/orc/orc_reader_input.cpp
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
  cpp/include/cudf/io/datasource.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/tests/io/json_chunked_reader.cpp
  cpp/tests/io/parquet_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, 4 - Needs cuIO Reviewer, non-breaking

#12572 Make JNI QuoteStyle accessible outside ai.rapids.cudf
  java/src/main/java/ai/rapids/cudf/QuoteStyle.java
Labels: bug, non-breaking

#12534 Dynamically read PTX version
  python/strings_udf/strings_udf/__init__.py
Labels: bug, numba, cuDF (Python), non-breaking

#12564 Remove `spill_lock` parameter from `SpillableBuffer.get_ptr()`
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/tests/test_spilling.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#12580 Include missing groupby functions in documentation
  docs/cudf/source/api_docs/groupby.rst
Labels: doc, 5 - Ready to Merge, non-breaking

#12546 Remove `cudf::strings::repeat_strings_output_sizes` from Java and JNI
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, tech debt, strings, improvement, non-breaking

#12554 `partition_by_hash()`: support index
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), non-breaking

#12545 Test that cuInit is not called when RAPIDS_NO_INITIALIZE is set
  python/cudf/cudf/tests/test_no_cuinit.py
Labels: cuDF (Python), tech debt, improvement, non-breaking

#12586 lists: Transfer dtypes correctly through list.get
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12538 Update List Lexicographical Comparator
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/tests/sort/sort_test.cpp
Labels: bug, libcudf, non-breaking

#12585 timedelta: Don't go via float intermediates for floordiv
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#12498 Support "values" orient (array of arrays) in Nested JSON reader
  cpp/src/io/json/experimental/read_json.cpp
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/json_tree.cu
  cpp/src/io/json/nested_json.hpp
  cpp/tests/io/json_test.cpp
  cpp/tests/io/json_tree.cpp
  python/cudf/cudf/tests/test_json.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), 4 - Needs libcudf Reviewer, cuIO, 4 - Needs cuIO Reviewer, non-breaking

#12584 Fixing BUG, `get_next_chunk()` should use the blocking function `device_read()`
  ci/gpu/build.sh
  ci/test_cpp.sh
  cpp/src/io/text/data_chunk_source_factories.cpp
Labels: bug, libcudf, non-breaking, ci

#12571 [REVIEW] Add support for `category` dtypes in CSV reader
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/tests/test_csv.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#12589 Fix incorrect null counts for sliced columns in JCudfSerialization
  java/src/main/java/ai/rapids/cudf/JCudfSerialization.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: bug, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, non-breaking

#12531 Guard CUDA runtime APIs with error checking
  cpp/benchmarks/io/json/nested_json.cpp
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/benchmarks/string/json.cu
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/text/multibyte_split.cu
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/lists/dremel.cu
  cpp/tests/io/comp/decomp_test.cpp
  cpp/tests/io/fst/logical_stack_test.cu
  cpp/tests/io/text/data_chunk_source_test.cpp
  cpp/tests/utilities/tdigest_utilities.cu
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#12488 Fix issues with parquet chunked reader
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: bug, libcudf, cuIO, non-breaking

#12290 Reconstruct dtypes correctly for list aggs of struct columns
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#12509 [REVIEW] Switch `engine=cudf` to the new `JSON` reader
  docs/cudf/source/user_guide/io/read-json.md
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/json.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#12574 Use kvikIO as the default IO backend
  ci/gpu/build.sh
  ci/test_cpp.sh
  cpp/src/io/utilities/config_utils.cpp
  docs/cudf/source/user_guide/io/io.md
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, Performance, non-breaking, ci

#12578 Remove column names
  cpp/benchmarks/io/parquet/parquet_reader_options.cpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cpp
  cpp/tests/io/csv_test.cpp
  python/cudf/cudf/_lib/avro.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
Labels: libcudf, cuDF (Python), cuIO, cuDF (Java), tech debt, improvement, breaking

#12597 Forward-merge branch-23.02 to branch-23.04
  ci/gpu/build.sh
  ci/test_cpp.sh
  cpp/benchmarks/io/parquet/parquet_reader_options.cpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/utilities/config_utils.cpp
  cpp/tests/io/csv_test.cpp
  docs/cudf/source/user_guide/io/io.md
  python/cudf/cudf/_lib/avro.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
Labels: libcudf, cuDF (Python), ci

#12598 Fix link to NVTX
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
Labels: doc, libcudf, non-breaking

#12600 Forward-merge branch-23.02 to branch-23.04
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
Labels: libcudf

#12577 Parquet reader optimization to address V100 regression.
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_test.cpp
Labels: libcudf, cuIO, improvement, non-breaking

#12612 Forward-merge branch-23.02 to branch-23.04
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_test.cpp
Labels: libcudf

#12607 Handle when spillable buffers own each other
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/buffer/utils.py
  python/cudf/cudf/tests/test_spilling.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12602 Use CTK 118/cp310 branch of wheel workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#12587 [REVIEW] Change ways to access `ptr` in `Buffer`
  docs/cudf/source/developer_guide/library_design.md
  python/cudf/cudf/_lib/column.pyi
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_buffer.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dataframe_copy.py
  python/cudf/cudf/tests/test_df_protocol.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_pack.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_spilling.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/queryutils.py
  python/strings_udf/strings_udf/_typing.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#12548 Add `regex_program` java APIs and unit tests
  java/src/main/java/ai/rapids/cudf/CaptureGroups.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/RegexFlag.java
  java/src/main/java/ai/rapids/cudf/RegexProgram.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, cuDF (Java), non-breaking

#12556 [REVIEW] Update `copy-on-write` with `branch-23.02` changes
  docs/cudf/source/developer_guide/library_design.md
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/cow_buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/utils/applyutils.py
Labels: cuDF (Python), improvement, non-breaking

#12625 Fix leaks in ColumnVectorTest
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: bug, tests, cuDF (Java), helps: Spark, non-breaking

#12631 Forward-merge branch-23.02 to branch-23.04
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: cuDF (Java)

#11452 Implement groupby apply with JIT
  .github/CODEOWNERS
  .gitignore
  ci/release/update-version.sh
  python/cudf/CMakeLists.txt
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/udf/__init__.py
  python/cudf/cudf/core/udf/groupby_lowering.py
  python/cudf/cudf/core/udf/groupby_typing.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/templates.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/udf_cpp/groupby/CMakeLists.txt
  python/cudf/udf_cpp/groupby/function.cu
  python/strings_udf/strings_udf/__init__.py
  python/strings_udf/strings_udf/_typing.py
Labels: feature request, 3 - Ready for Review, gpuCI, cuDF (Python), CMake, 5 - Ready to Merge, non-breaking, ci

#12474 Add JSON Writer
  cpp/CMakeLists.txt
  cpp/include/cudf/io/detail/data_casting.cuh
  cpp/include/cudf/io/detail/json.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/write_json.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/json_test.cpp
  cpp/tests/io/json_writer.cpp
  python/cudf/cudf/_lib/cpp/io/json.pxd
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
Labels: feature request, libcudf, cuDF (Python), CMake, 5 - Ready to Merge, cuIO, non-breaking

#12599 Init JNI version 23.04.0-SNAPSHOT
  java/ci/README.md
  java/pom.xml
Labels: cuDF (Java), improvement, non-breaking

#12647 [REVIEW] Fix a mask data corruption in UDF
  python/cudf/cudf/core/indexed_frame.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12611 Add comment about CUB patch for SegmentedSortInt.Bool gtest
  cpp/tests/sort/segmented_sort_tests.cpp
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#12639 Revert regex program java APIs and tests
  java/src/main/java/ai/rapids/cudf/CaptureGroups.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/RegexFlag.java
  java/src/main/java/ai/rapids/cudf/RegexProgram.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: bug, cuDF (Java), helps: Spark, non-breaking

#12653 Forward-merge branch-23.02 to branch-23.04
  java/src/main/java/ai/rapids/cudf/CaptureGroups.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/RegexFlag.java
  java/src/main/java/ai/rapids/cudf/RegexProgram.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: cuDF (Java)

#12644 tests: Skip cuInit tests if cuda-gdb is not found or not working
  python/cudf/cudf/tests/test_no_cuinit.py
Labels: bug, tests, cuDF (Python), non-breaking

#12657 Forward-merge branch-23.02 to branch-23.04
  python/cudf/cudf/tests/test_no_cuinit.py
Labels: cuDF (Python)

#12632 Pay off some JNI RMM API tech debt
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/RmmArenaMemoryResource.java
  java/src/main/java/ai/rapids/cudf/RmmCudaAsyncMemoryResource.java
  java/src/main/java/ai/rapids/cudf/RmmCudaMemoryResource.java
  java/src/main/java/ai/rapids/cudf/RmmDeviceMemoryResource.java
  java/src/main/java/ai/rapids/cudf/RmmEventHandlerResourceAdaptor.java
  java/src/main/java/ai/rapids/cudf/RmmLimitingResourceAdaptor.java
  java/src/main/java/ai/rapids/cudf/RmmLoggingResourceAdaptor.java
  java/src/main/java/ai/rapids/cudf/RmmManagedMemoryResource.java
  java/src/main/java/ai/rapids/cudf/RmmPoolMemoryResource.java
  java/src/main/java/ai/rapids/cudf/RmmTrackingResourceAdaptor.java
  java/src/main/java/ai/rapids/cudf/RmmWrappingDeviceMemoryResource.java
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, tech debt, improvement, non-breaking

#12606 Pin cuda-nvrtc.
  conda/recipes/libcudf/meta.yaml
Labels: conda, improvement, non-breaking

#12659 Pin wheel dependencies to same RAPIDS release
  ci/release/update-version.sh
  python/cudf/setup.py
  python/dask_cudf/setup.py
Labels: cuDF (Python), improvement, non-breaking, ci

#12604 Remove cudf::test::print calls from libcudf gtests
  cpp/tests/copying/split_tests.cpp
  cpp/tests/join/join_tests.cpp
  cpp/tests/sort/rank_test.cpp
  cpp/tests/sort/sort_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#12643 Fix AllocateLikeTest gtests reading uninitialized null-mask
  cpp/src/copying/copy.cpp
  cpp/tests/copying/utility_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking
