Repository rapidsai/cudf, pull requests merged in 2023-06, with the labels that each got.

#13470 Cleanup doc repetitions in libcudf
  cpp/include/cudf/ast/expressions.hpp
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/indexalator.cuh
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/include/cudf/table/row_operators.cuh
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#13484 Remove applying nvbench that doesn't exist in 23.08
  cpp/cmake/thirdparty/patches/nvbench_override.json
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#13477 Update JNI JSON reader column compatability for Spark
  java/src/main/java/ai/rapids/cudf/Schema.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
Labels: bug, 3 - Ready for Review, cuDF (Java), non-breaking

#13482 Fix chunked Parquet reader benchmark
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
Labels: bug, tests, libcudf, cuIO, non-breaking

#13463 Remove unused max_rows_tensor parameter from subword tokenizer
  cpp/benchmarks/text/subword.cpp
  cpp/include/nvtext/subword_tokenize.hpp
  cpp/src/text/subword/detail/wordpiece_tokenizer.hpp
  cpp/src/text/subword/subword_tokenize.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
  cpp/tests/text/subword_tests.cpp
  python/cudf/cudf/_lib/cpp/nvtext/subword_tokenize.pxd
  python/cudf/cudf/_lib/nvtext/subword_tokenize.pyx
  python/cudf/cudf/core/subword_tokenizer.py
Labels: 3 - Ready for Review, libcudf, cuDF (Python), strings, improvement, breaking

#13488 Ensure `single_lane_block_sum_reduce` is safe to call in a loop
  cpp/include/cudf/detail/utilities/cuda.cuh
Labels: bug, libcudf, non-breaking

#13495 Remove documentation build scripts for Jenkins
  ci/docs/build.sh
Labels: improvement, non-breaking, ci

#13455 Fix unsanitized output of scan with strings
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/reductions/scan_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13489 Fix valid count computation in offset_bitmask_binop kernel
  cpp/include/cudf/detail/null_mask.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13472 Parse column chunk metadata statistics in parquet reader
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, 4 - Needs cuIO Reviewer, non-breaking

#13499 Enforce merge validation deprecation for unequal levels
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#13497 Enable `sort=True` for `Index.union`, `Index.difference` and `Index.intersection`
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13496 Fix a groupby pytest related to `numeric_only`
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13483 Drop special handling of `min_periods` for `Rolling.count`
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_rolling.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#13476 Fix JSON reader pytests
  python/cudf/cudf/tests/test_json.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13486 Update all versions in pyproject.toml files.
  ci/release/update-version.sh
Labels: bug, non-breaking, ci

#13508 Unpin `dask` and `distributed` for development
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), 5 - Ready to Merge, conda, dask-cudf, improvement, non-breaking

#13506 Use test default stream
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13507 Change build.sh to use pip install instead of setup.py
  build.sh
Labels: 3 - Ready for Review, improvement, breaking

#13500 Fix `DataFrame.mode` pytest
  python/cudf/cudf/tests/test_dataframe.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13519 Remove preload lib from CMake for now
  cpp/tests/CMakeLists.txt
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#13517 Remove numba kernels from `find_index_of_val`
  python/cudf/cudf/utils/cudautils.py
Labels: feature request, numba, cuDF (Python), 5 - Ready to Merge, non-breaking, python

#13524 Make sure to build without isolation or installing dependencies
  build.sh
Labels: bug, non-breaking

#13518 use rapids-upload-docs script
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#13536 s3 folder naming fix
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#13503 Fix missing separator after null values in JSON writer
  cpp/benchmarks/io/json/json_reader_input.cpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json_writer.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#13520 Use sizes_to_offsets_iterator in cudf::gather for strings
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/gather.cpp
  cpp/include/cudf/strings/detail/gather.cuh
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#13523 Add libcufile to dependencies.yaml.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#13521 Fix some memoization logic in groupby/sort/sort_helper.cu
  cpp/src/groupby/sort/sort_helper.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13513 Move stream-related test configuration to CMake
  ci/test_cpp.sh
  cpp/tests/CMakeLists.txt
Labels: tests, libcudf, CMake, improvement, non-breaking, ci

#13537 Fix the null mask size in json reader
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json.hpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13541 Clarify source of error message in stream testing.
  cpp/tests/utilities/identify_stream_usage.cpp
Labels: libcudf, improvement, non-breaking

#13540 Deprecate `strings_to_categorical` in `cudf.read_parquet`
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13298 Add stacktrace into cudf exception types
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/utilities/stacktrace.hpp
  cpp/include/cudf/utilities/error.hpp
  cpp/include/cudf_test/stream_checking_resource_adaptor.hpp
  cpp/src/utilities/stacktrace.cpp
  cpp/tests/utilities/identify_stream_usage.cpp
  java/src/main/java/ai/rapids/cudf/CudaException.java
  java/src/main/java/ai/rapids/cudf/CudaFatalException.java
  java/src/main/java/ai/rapids/cudf/CudfException.java
  java/src/main/native/include/jni_utils.hpp
  java/src/test/java/ai/rapids/cudf/CudaFatalTest.java
  java/src/test/java/ai/rapids/cudf/CudaTest.java
Labels: 3 - Ready for Review, libcudf, CMake, conda, cuDF (Java), improvement, non-breaking

#13511 Implement `cudf.option_context`
  docs/cudf/source/api_docs/options.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_copying.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_options.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13224 Fix decimal scale reductions in `_get_decimal_type`
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_decimal.py
Labels: bug, cuDF (Python), breaking

#13408 Add `abs` function to apply
  python/cudf/cudf/core/udf/masked_lowering.py
  python/cudf/cudf/core/udf/masked_typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Labels: feature request, numba, cuDF (Python), non-breaking

#13533 Fix cudf::strings::strip for all-empty input column
  cpp/include/cudf/strings/detail/strip.cuh
  cpp/tests/strings/strip_tests.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Java), strings, non-breaking

#13554 Fix out-of-bounds memory write in cudf::dictionary::detail::concatenate
  cpp/src/dictionary/detail/concatenate.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13538 Update to CMake 3.26.4
  CONTRIBUTING.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf_kafka/conda_build_config.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/strings/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  dependencies.yaml
  java/src/main/native/CMakeLists.txt
  python/cudf/CMakeLists.txt
  python/cudf/pyproject.toml
  python/cudf/udf_cpp/CMakeLists.txt
Labels: libcudf, cuDF (Python), CMake, conda, cuDF (Java), improvement, non-breaking

#13539 Add unicode encoding for string columns in JSON writer
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json_writer.cpp
Labels: feature request, 3 - Ready for Review, libcudf, 4 - Needs libcudf Reviewer, 4 - Needs cuIO Reviewer, non-breaking

#13467 Use pandas public APIs where available
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_api_types.py
  python/cudf/cudf/tests/test_joining.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13553 Get rid of `cuco::pair_type` aliases
  cpp/src/join/join_common_utils.hpp
  cpp/src/text/subword/load_merges_file.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13548 Fix `dask_cudf` pytest failures for `pandas-2.0` upgrade
  python/cudf/cudf/testing/testing.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#13558 Add dispatch for `cudf.Dataframe` to/from `pyarrow.Table` conversion
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_dispatch.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, improvement, non-breaking, helps: Dask

#13555 Fix an issue with `dask_cudf.read_csv` when lines are needed to be skipped
  cpp/include/cudf/io/csv.hpp
  cpp/tests/io/csv_test.cpp
  python/dask_cudf/dask_cudf/io/csv.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, non-breaking

#12090 Add stream parameter to hashing APIs
  cpp/include/cudf/hashing.hpp
  cpp/src/hash/hashing.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/hash_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#13419 Refactor sort_by_values to sort_values, drop indices from return values.
  python/cudf/cudf/_lib/cpp/sorting.pxd
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/reshape.py
Labels: cuDF (Python), improvement, non-breaking

#13528 Add benchmark (Google Benchmark) dependency to conda packages.
  ci/test_cpp.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcudf/build.sh
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/string/case.cpp
  dependencies.yaml
Labels: libcudf, conda, improvement, non-breaking, ci

#13494 Use east const in include files
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_factories.hpp
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/aggregation/result_cache.hpp
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/copy_range.cuh
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/scatter.hpp
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/detail/utilities/int_fastdiv.h
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/include/cudf/detail/utilities/pinned_host_vector.hpp
  cpp/include/cudf/groupby.hpp
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/data_sink.hpp
  cpp/include/cudf/io/datasource.hpp
  cpp/include/cudf/io/detail/data_casting.cuh
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/json.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/join.hpp
  cpp/include/cudf/lists/lists_column_view.hpp
  cpp/include/cudf/reduction.hpp
  cpp/include/cudf/reduction/detail/reduction_operators.cuh
  cpp/include/cudf/rolling.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/scalar/scalar_device_view.cuh
  cpp/include/cudf/strings/combine.hpp
  cpp/include/cudf/strings/detail/char_tables.hpp
  cpp/include/cudf/strings/detail/convert/fixed_point.cuh
  cpp/include/cudf/strings/detail/convert/is_float.cuh
  cpp/include/cudf/strings/detail/convert/string_to_float.cuh
  cpp/include/cudf/strings/detail/convert/string_to_int.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/strings/detail/utf8.hpp
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
  cpp/include/cudf/tdigest/tdigest_column_view.hpp
  cpp/include/cudf/utilities/error.hpp
  cpp/include/cudf/utilities/span.hpp
  cpp/include/cudf/wrappers/dictionary.hpp
  cpp/include/cudf_test/base_fixture.hpp
  cpp/include/cudf_test/cxxopts.hpp
  cpp/include/cudf_test/file_utilities.hpp
  cpp/libcudf_kafka/include/cudf_kafka/kafka_callback.hpp
Labels: libcudf, 5 - Ready to Merge, tech debt, improvement, non-breaking

#13573 Add java bindings for distinct count
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, 4 - Needs cuDF (Java) Reviewer, improvement, non-breaking

#13465 Allow pd.ArrowDtype in cudf.from_pandas
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: cuDF (Python), improvement, non-breaking

#13547 Add JNI for `lists::concatenate_list_elements`
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, 3 - Ready for Review, cuDF (Java), helps: Spark, non-breaking

#13574 Fix memcheck errors found in REDUCTION_TEST
  cpp/src/reductions/all.cu
  cpp/src/reductions/any.cu
  cpp/tests/reductions/reduction_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13560 Add exception to string_scalar if input string exceeds size_type
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/scalar/scalar.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13428 Add a move_to function to cudf::string_view::const_iterator
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#13561 Fix the the doxygen text for cudf::concatenate and other places
  cpp/benchmarks/io/csv/csv_writer.cpp
  cpp/benchmarks/io/json/json_reader_input.cpp
  cpp/benchmarks/io/json/json_writer.cpp
  cpp/benchmarks/io/orc/orc_reader_input.cpp
  cpp/benchmarks/io/orc/orc_reader_options.cpp
  cpp/benchmarks/io/orc/orc_writer.cpp
  cpp/benchmarks/io/orc/orc_writer_chunks.cpp
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
  cpp/benchmarks/io/parquet/parquet_reader_options.cpp
  cpp/benchmarks/io/parquet/parquet_writer.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks.cpp
  cpp/examples/strings/common.hpp
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/concatenate.hpp
  cpp/include/cudf/detail/valid_if.cuh
  cpp/include/cudf/join.hpp
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/include/doxygen_groups.h
  cpp/src/datetime/datetime_ops.cu
  cpp/src/jit/parser.hpp
  cpp/src/lists/copying/concatenate.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/search/contains_table.cu
  cpp/src/structs/copying/concatenate.cu
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
  java/src/main/native/src/ColumnViewJni.cu
  java/src/main/native/src/ColumnViewJni.hpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  python/cudf/cmake/Modules/WheelHelpers.cmake
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/utils/ioutils.py
Labels: 3 - Ready for Review, doc, libcudf, cuDF (Python), CMake, cuDF (Java), non-breaking

#13592 Update docs for top-level API.
  docs/cudf/source/api_docs/general_functions.rst
Labels: doc, non-breaking

#13512 Floating point order-by columns for RANGE window functions
  cpp/src/rolling/detail/range_window_bounds.hpp
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/range_window_bounds.cpp
  cpp/tests/rolling/grouped_rolling_range_test.cpp
Labels: feature request, libcudf, non-breaking

#13590 Handle nullptr return value from bitmask_or in distinct_count
  cpp/src/stream_compaction/distinct_count.cu
  cpp/tests/stream_compaction/distinct_count_tests.cpp
Labels: bug, libcudf, non-breaking

#13588 Fix cudf.melt when there are more than 255 columns
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: bug, cuDF (Python), non-breaking

#13577 Fix memcheck error found in INTEROP_TEST
  cpp/src/interop/from_arrow.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13595 Java support: Floating point order-by columns for RANGE window functions
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, cuDF (Java), helps: Spark, non-breaking

#13589 Bring parity with pandas in Index.join
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_joining.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#13551 Introduce parity with pandas when `sort=False` in `Groupby`
  docs/cudf/source/user_guide/pandas-comparison.md
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#13578 Fix memcheck error found in STRINGS_TEST
  cpp/src/strings/search/find.cu
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#13564 Preemptive fix for hive-partitioning change in dask
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask, non-breaking, helps: Dask

#13603 Fix `localize(None)` for timezone-naive columns
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/indexes/datetime/test_time_specific.py
  python/cudf/cudf/tests/series/test_datetimelike.py
Labels: bug, cuDF (Python), non-breaking

#13598 Fix repeated words in doxygen text
  cpp/include/cudf/contiguous_split.hpp
  cpp/include/cudf/detail/nvtx/nvtx3.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/rolling/range_window_bounds.hpp
  cpp/include/cudf/types.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/include/cudf_test/cudf_gtest.hpp
  cpp/src/copying/contiguous_split.cu
  cpp/src/datetime/timezone.cpp
  cpp/src/text/subword/wordpiece_tokenizer.cu
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#13594 Performance improvement for cudf::strings::like
  cpp/benchmarks/string/like.cpp
  cpp/src/strings/like.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13586 Fix memory issues in cuIO due to removal of memory padding
  cpp/src/io/comp/gpuinflate.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/text/bgzip_data_chunk_source.cu
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#13302 Write string data directly to column_buffer in Parquet reader
  cpp/CMakeLists.txt
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/common/generate_input.hpp
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/column_buffer.hpp
Labels: libcudf, CMake, cuIO, 4 - Needs cuIO Reviewer, Performance, improvement, non-breaking

#13322 Performance improvement for some libcudf regex functions for long strings
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/src/strings/contains.cu
  cpp/src/strings/count_matches.cu
  cpp/src/strings/extract/extract.cu
  cpp/src/strings/extract/extract_all.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/regex/regex_program_impl.h
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/search/findall.cu
  cpp/src/strings/split/split_re.cu
  cpp/tests/strings/extract_tests.cpp
  cpp/tests/strings/findall_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#13597 Fixed a memory leak caused by Exception thrown while constructing a ColumnView
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Scalar.java
  java/src/main/java/ai/rapids/cudf/Table.java
Labels: bug, cuDF (Java), non-breaking

#13606 Fix floating point window range extents.
  cpp/src/rolling/grouped_rolling.cu
  cpp/tests/rolling/grouped_rolling_range_test.cpp
Labels: bug, libcudf, non-breaking

#13610 Fix tz_localize for dask_cudf Series
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: bug, cuDF (Python), non-breaking

#13615 Use cuda-version to constrain cudatoolkit.
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#13584 Fix Parquet multi-file reading
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_test.cpp
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#13621 Fix compile warning for unused variable in split_re.cu
  cpp/src/strings/split/split_re.cu
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#13609 Fix issue with no decompressed data in ORC reader
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.Spark.EmptyDecompData.orc
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, helps: Spark, non-breaking

#13566 Use nvcomp conda package.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf/nvcomp.txt
  conda/recipes/libcudf/post-link.sh
  dependencies.yaml
  fetch_rapids.cmake
Labels: conda, improvement, non-breaking

#13475 Add pd.Float*Dtype to Avro and ORC mappings
  python/cudf/cudf/_fuzz_testing/utils.py
Labels: cuDF (Python), improvement, non-breaking

#13623 Add convert_dtypes API
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/series.rst
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/dataframe/test_conversion.py
  python/cudf/cudf/tests/series/test_conversion.py
Labels: cuDF (Python), improvement, non-breaking

#13617 Clean up cupy in dependencies.yaml.
  dependencies.yaml
Labels: improvement, non-breaking

#13396 Refactor ORC reader
  cpp/include/cudf/io/detail/orc.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/aggregate_orc_metadata.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/utilities/row_selection.cpp
  cpp/src/io/utilities/row_selection.hpp
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#13628 Remove deprecated cudf::strings::slice_strings (by delimiter) functions
  cpp/include/cudf/strings/slice.hpp
  cpp/src/strings/slice.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, breaking

#13618 Bump typing_extensions minimum version to 4.0.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#13556 Document stream validation approach used in testing
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/doxygen/developer_guide/TESTING.md
  cpp/tests/utilities/identify_stream_usage.cpp
Labels: doc, libcudf, non-breaking

#13643 Fix memcheck error in ORC reader call to cudf::io::copy_uncompressed_kernel
  cpp/src/io/orc/reader_impl.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13647 Fix `has_nonempty_nulls` ignoring column offset
  cpp/src/copying/purge_nonempty_nulls.cu
  cpp/tests/copying/purge_nonempty_nulls_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#13636 Fix CUDA 12 conda environment to remove cubinlinker and ptxcompiler.
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, 3 - Ready for Review, conda, non-breaking

#13480 Performance improvement for nvtext tokenize/token functions
  cpp/src/text/normalize.cu
  cpp/src/text/tokenize.cu
  cpp/src/text/utilities/tokenize_ops.cuh
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#13069 Update `struct_minmax_util` to experimental row comparator
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/reductions/struct_minmax_util.cuh
  cpp/src/structs/utilities.cpp
  cpp/tests/structs/utilities_tests.cpp
Labels: feature request, libcudf, non-breaking

#13645 [Java] Avoid double-free corruption in case of an Exception while creating a ColumnView
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Labels: bug, cuDF (Java), non-breaking

#13625 Refactor `Index` search to simplify code and increase correctness
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_monotonic.py
  python/cudf/cudf/utils/cudautils.py
  python/cudf/cudf/utils/utils.py
Labels: bug, cuDF (Python), non-breaking

#13646 Acquire spill lock in to/from_arrow
  python/cudf/cudf/_lib/interop.pyx
Labels: cuDF (Python), improvement, non-breaking

#13649 Fix memcheck error found in nvtext tokenize functions
  cpp/src/text/utilities/tokenize_ops.cuh
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking
