Repository rapidsai/cudf, pull requests merged in 2023-10, with the labels that each got.

#14233 Fix inaccuracy in decimal128 rounding.
  cpp/src/round/round.cu
  cpp/tests/round/round_tests.cpp
Labels: bug, libcudf, non-breaking

#14242 Fix inaccurate ceil/floor and inaccurate rescaling casts of fixed-point values.
  cpp/src/unary/cast_ops.cu
  cpp/src/unary/math_ops.cu
  cpp/tests/unary/cast_tests.cpp
  cpp/tests/unary/unary_ops_test.cpp
Labels: bug, libcudf, non-breaking

#14175 Remove the use of volatile in ORC
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
Labels: libcudf, cuIO, Performance, improvement, non-breaking

#14187 Expose streams in binaryop APIs
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/binaryop_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#14238 Improve `contains_column` by invoking `contains_table`
  cpp/src/hash/unordered_multiset.cuh
  cpp/src/search/contains_column.cu
Labels: libcudf, Performance, tech debt, improvement, non-breaking

#14235 Fix strings replace for adjacent, identical multi-byte UTF-8 character targets
  cpp/src/strings/replace/replace.cu
  cpp/tests/strings/replace_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#14251 cudf::detail::pinned_allocator doesn't throw from `deallocate`
  cpp/include/cudf/detail/utilities/pinned_host_vector.hpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#13715 Fixing parquet list of struct interpretation
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#14133 Add pylibcudf.Scalar that interoperates with Arrow scalars
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/nvtext/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/interop.pxd
  python/cudf/cudf/_lib/pylibcudf/interop.pyx
  python/cudf/cudf/_lib/pylibcudf/scalar.pxd
  python/cudf/cudf/_lib/pylibcudf/scalar.pyx
  python/cudf/cudf/_lib/pylibcudf/table.pxd
  python/cudf/cudf/_lib/pylibcudf/table.pyx
  python/cudf/cudf/_lib/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/strings/CMakeLists.txt
  python/cudf/cudf/_lib/strings/convert/CMakeLists.txt
  python/cudf/cudf/_lib/strings/split/CMakeLists.txt
Labels: feature request, 3 - Ready for Review, cuDF (Python), CMake, Cython, non-breaking

#14259 Cleanup of namespaces in parquet code.
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/delta_binary.cuh
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/parquet_gpu.cuh
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/rle_stream.cuh
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_test.cpp
Labels: code quality, libcudf, cuIO, improvement, non-breaking

#14262 Centralize chunked reading code in the parquet reader to reader_impl_chunking.cu
  cpp/CMakeLists.txt
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_chunking.hpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/column_buffer.cpp
Labels: libcudf, CMake, cuIO, improvement, non-breaking

#14256 Make parquet schema index type consistent
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
Labels: 3 - Ready for Review, code quality, libcudf, cuIO, tech debt, improvement, non-breaking

#14260 Expose stream parameter in public strings APIs
  cpp/include/cudf/strings/padding.hpp
  cpp/include/cudf/strings/slice.hpp
  cpp/include/cudf/strings/strip.hpp
  cpp/include/cudf/strings/wrap.hpp
  cpp/src/strings/padding.cu
  cpp/src/strings/slice.cu
  cpp/src/strings/strip.cu
  cpp/src/strings/wrap.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/strings/strings_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14170 Add `bytes_per_second` to transpose benchmark
  cpp/benchmarks/transpose/transpose.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#13950 Add `bytes_per_second` to shift benchmark
  cpp/benchmarks/copying/shift.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14254 Add in java bindings for DataSource
  cpp/src/io/utilities/datasource.cpp
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/java/ai/rapids/cudf/DataSource.java
  java/src/main/java/ai/rapids/cudf/DataSourceHelper.java
  java/src/main/java/ai/rapids/cudf/DeviceMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/MultiBufferDataSource.java
  java/src/main/java/ai/rapids/cudf/ParquetChunkedReader.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ChunkedReaderJni.cpp
  java/src/main/native/src/CudfJni.cpp
  java/src/main/native/src/DataSourceHelperJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/cudf_jni_apis.hpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, libcudf, CMake, cuDF (Java), helps: Spark, improvement, non-breaking

#14252 Fixes behaviour for incomplete lines when `recover_with_nulls` is enabled
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json_test.cpp
  cpp/tests/io/nested_json_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#14247 Expose stream parameter in public strings split/partition APIs
  cpp/include/cudf/strings/split/partition.hpp
  cpp/include/cudf/strings/split/split_re.hpp
  cpp/src/strings/split/partition.cu
  cpp/src/strings/split/split_re.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/strings/split_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14271 Use branch-23.12 workflows.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#14261 Expose stream parameter in public strings replace APIs
  cpp/include/cudf/strings/replace.hpp
  cpp/include/cudf/strings/replace_re.hpp
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/strings/replace_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14274 Deprecate `is_categorical_dtype`
  python/cudf/cudf/_fuzz_testing/csv.py
  python/cudf/cudf/_fuzz_testing/json.py
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_api_types.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/utils/dtypes.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/sorting.py
Labels: bug, cuDF (Python), non-breaking

#14275 Deprecate `is_datetime64tz_dtype` and `is_interval_dtype`
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/testing/testing.py
Labels: bug, cuDF (Python), non-breaking

#14208 Return error if BOOL8 column-type is used with integers-to-hex
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/utilities/traits.cpp
  cpp/tests/strings/integers_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14278 Deprecate `method` in `fillna` API
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_replace.py
Labels: cuDF (Python), improvement, non-breaking, deprecation

#14255 Expose stream parameter in public strings convert APIs
  cpp/include/cudf/strings/convert/convert_booleans.hpp
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/include/cudf/strings/convert/convert_durations.hpp
  cpp/include/cudf/strings/convert/convert_fixed_point.hpp
  cpp/include/cudf/strings/convert/convert_floats.hpp
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/include/cudf/strings/convert/convert_ipv4.hpp
  cpp/include/cudf/strings/convert/convert_lists.hpp
  cpp/include/cudf/strings/convert/convert_urls.hpp
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_lists.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/strings/convert_test.cpp
  cpp/tests/strings/booleans_tests.cpp
  cpp/tests/strings/format_lists_tests.cpp
  java/src/main/native/src/ColumnViewJni.cpp
Labels: 3 - Ready for Review, libcudf, CMake, cuDF (Java), strings, improvement, breaking

#14265 Update rapids-cmake functions to non-deprecated signatures
  cpp/cmake/thirdparty/get_arrow.cmake
  cpp/cmake/thirdparty/get_cufile.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/thirdparty/get_kvikio.cmake
  cpp/cmake/thirdparty/get_libcudacxx.cmake
  cpp/cmake/thirdparty/get_spdlog.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#14283 Fix memset error in nvtext::edit_distance_matrix
  cpp/src/text/edit_distance.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14272 Add stream parameter to List Sort and Filter APIs
  cpp/include/cudf/lists/extract.hpp
  cpp/include/cudf/lists/filling.hpp
  cpp/include/cudf/lists/gather.hpp
  cpp/include/cudf/lists/reverse.hpp
  cpp/include/cudf/lists/sorting.hpp
  cpp/include/cudf/lists/stream_compaction.hpp
  cpp/src/lists/copying/segmented_gather.cu
  cpp/src/lists/extract.cu
  cpp/src/lists/reverse.cu
  cpp/src/lists/segmented_sort.cu
  cpp/src/lists/sequences.cu
  cpp/src/lists/stream_compaction/apply_boolean_mask.cu
  cpp/src/lists/stream_compaction/distinct.cu
  cpp/tests/groupby/histogram_tests.cpp
  cpp/tests/streams/lists_test.cpp
Labels: libcudf, improvement, non-breaking

#14206 Enable indexalator for device code
  cpp/include/cudf/detail/normalizing_iterator.cuh
  cpp/tests/iterator/indexalator_test.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14289 Update `shared-action-workflows` references
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#14196 Add nvtx annotations to spilling-based data movement
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
  python/cudf/cudf/utils/nvtx_annotation.py
  python/cudf/cudf/utils/utils.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/sorting.py
Labels: cuDF (Python), improvement, non-breaking

#14300 Update `shared-action-workflows` references (backport from `23.12` to `23.10`)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#14296 Downgrade to Arrow 12.0.0 for aws-sdk-cpp and fix cudf_kafka builds for new CI containers
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/build.sh
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
Labels: bug, libcudf, cuDF (Python), CMake, conda, non-breaking

#14279 Changes JSON reader's recovery option's behaviour to ignore all characters after a valid JSON record
  cpp/src/io/fst/lookup_tables.cuh
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json_test.cpp
  cpp/tests/io/nested_json_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#14100 Add DELTA_BINARY_PACKED encoder for Parquet writer
  cpp/src/io/parquet/delta_binary.cuh
  cpp/src/io/parquet/delta_enc.cuh
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/tests/io/parquet_test.cpp
Labels: feature request, libcudf, cuIO, 4 - Needs cuIO Reviewer, non-breaking

#14263 Expose streams in public null mask APIs
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/null_mask.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/copying/concatenate.cu
  cpp/src/copying/scatter.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/lists/contains.cu
  cpp/src/merge/merge.cu
  cpp/src/round/round.cu
  cpp/src/search/contains_column.cu
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/split/split_re.cu
  cpp/src/strings/split/split_record.cu
  cpp/src/unary/cast_ops.cu
  cpp/src/unary/math_ops.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/null_mask_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#14237 Detect and report errors in Parquet header parsing
  cpp/src/io/parquet/error.hpp
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  python/cudf/cudf/tests/data/parquet/bad_dict.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, improvement, non-breaking

#14264 Refactor LogicalType for Parquet
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_test.cpp
Labels: code quality, libcudf, cuIO, improvement, non-breaking

#13720 Extract `debug_utilities.hpp/cu` from `column_utilities.hpp/cu`
  cpp/CMakeLists.txt
  cpp/include/cudf_test/column_utilities.hpp
  cpp/include/cudf_test/debug_utilities.hpp
  cpp/include/cudf_test/detail/column_utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/structs_tests.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities/debug_utilities.cu
  cpp/tests/utilities_tests/column_debug_tests.cpp
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Labels: 3 - Ready for Review, tests, libcudf, CMake, improvement, non-breaking

#14281 Expose stream parameter in public strings combine APIs
  cpp/include/cudf/strings/combine.hpp
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/src/strings/combine/concatenate.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/combine/join_list_elements.cu
  cpp/src/strings/repeat_strings.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/strings/combine_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14318 test is_valid before reading column data
  cpp/src/io/parquet/page_enc.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14319 Remove aws-sdk-pinning and revert to arrow 12.0.1
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), CMake, conda, non-breaking

#14321 Avoid `pyarrow.fs` import for local storage
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
Labels: 2 - In Progress, cuDF (Python), improvement, non-breaking, helps: Python

#14290 fixing thread index overflow issue
  cpp/src/strings/convert/convert_urls.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14323 Drop `pyorc` dependency and use `pandas`/`pyarrow` instead
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  cpp/tests/io/orc_test.cpp
  dependencies.yaml
  docs/cudf/source/conf.py
  docs/dask_cudf/source/conf.py
  python/cudf/cudf/_fuzz_testing/orc.py
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/pyproject.toml
Labels: libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, conda, improvement, non-breaking

#14280 Expose stream parameter in public strings contains APIs
  cpp/include/cudf/strings/contains.hpp
  cpp/include/cudf/strings/extract.hpp
  cpp/src/strings/contains.cu
  cpp/src/strings/extract/extract.cu
  cpp/src/strings/extract/extract_all.cu
  cpp/src/strings/like.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/strings/contains_test.cpp
  cpp/tests/streams/strings/extract_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14327 Run IO tests for Dask-cuDF
  ci/test_wheel_dask_cudf.sh
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask, non-breaking, ci

#14308 Minor improvements in `source_info`
  cpp/include/cudf/io/avro.hpp
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/json.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/functions.cpp
Labels: libcudf, cuIO, improvement, non-breaking

#14320 Unpin `dask` and `distributed` for `23.12` development
  ci/test_wheel_dask_cudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/run_test.sh
  dependencies.yaml
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking, ci

#14312 Fix gtest validity setting for TextTokenizeTest.Vocabulary
  cpp/tests/text/tokenize_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14284 Move and rename byte-pair-encoding source files
  cpp/CMakeLists.txt
  cpp/include/nvtext/byte_pair_encoding.hpp
  cpp/src/text/bpe/byte_pair_encoding.cu
  cpp/src/text/bpe/byte_pair_encoding.cuh
  cpp/src/text/bpe/load_merge_pairs.cu
  cpp/tests/text/bpe_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#14305 Add stream parameter to Set Operations (Public List APIs)
  cpp/benchmarks/lists/set_operations.cpp
  cpp/include/cudf/lists/set_operations.hpp
  cpp/src/lists/set_operations.cu
  cpp/tests/streams/lists_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14293 Expose stream parameter in public strings filter APIs
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/include/cudf/strings/reverse.hpp
  cpp/include/cudf/strings/translate.hpp
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/reverse.cu
  cpp/src/strings/translate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/strings/filter_test.cpp
  cpp/tests/streams/strings/reverse_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14317 Expose stream parameter in public nvtext tokenize APIs
  cpp/include/nvtext/tokenize.hpp
  cpp/src/text/detokenize.cu
  cpp/src/text/tokenize.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/text/tokenize_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#14190 Optimize ORC writer for decimal columns
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Labels: libcudf, cuIO, Performance, improvement, non-breaking

#14328 Fix host buffer access from device function in the Parquet reader
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#14338 Enable `dask_cudf/io` pytests in CI
  ci/test_python_other.sh
Labels: bug, 5 - Ready to Merge, non-breaking, ci

#14230 Fix the precision when converting a decimal128 column to an arrow array
  cpp/include/cudf/detail/interop.hpp
  cpp/include/cudf/interop.hpp
  cpp/src/interop/to_arrow.cu
  cpp/tests/interop/arrow_utils.hpp
  cpp/tests/interop/to_arrow_test.cpp
Labels: bug, libcudf, non-breaking

#14344 Add cramjam
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: bug, 3 - Ready for Review, cuDF (Python), conda, non-breaking

#14313 Added streams to JSON reader and writer api
  cpp/include/cudf/io/detail/json.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/write_json.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/json_test.cpp
  cpp/tests/io/json_writer.cpp
  cpp/tests/streams/io/json_test.cpp
Labels: libcudf, CMake, improvement, non-breaking

#14309 Fixes stack context for json lines format that recovers from invalid JSON lines
  cpp/src/io/fst/logical_stack.cuh
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/fst/logical_stack_test.cu
  cpp/tests/io/nested_json_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#14339 Upgrade wheels to use arrow 13
  .github/workflows/pr.yaml
  ci/build_wheel_cudf.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_dask_cudf.sh
  cpp/cmake/thirdparty/get_arrow.cmake
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
Labels: 2 - In Progress, libcudf, cuDF (Python), CMake, improvement, non-breaking, ci

#14285 Update versioning strategy
  VERSION
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  python/cudf/cudf/VERSION
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_version.py
  python/cudf/pyproject.toml
  python/cudf/setup.py
  python/cudf_kafka/cudf_kafka/VERSION
  python/cudf_kafka/cudf_kafka/__init__.py
  python/cudf_kafka/cudf_kafka/_version.py
  python/cudf_kafka/pyproject.toml
  python/cudf_kafka/setup.py
  python/custreamz/custreamz/VERSION
  python/custreamz/custreamz/__init__.py
  python/custreamz/custreamz/_version.py
  python/custreamz/pyproject.toml
  python/custreamz/setup.py
  python/dask_cudf/dask_cudf/VERSION
  python/dask_cudf/dask_cudf/__init__.py
  python/dask_cudf/dask_cudf/_version.py
  python/dask_cudf/pyproject.toml
  python/dask_cudf/setup.py
Labels: 3 - Ready for Review, cuDF (Python), conda, improvement, non-breaking, ci

#14295 Sort dictionary data alphabetically in the ORC writer
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/tests/io/orc_test.cpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#14345 Fix overflow check in `cudf::merge`
  cpp/src/merge/merge.cu
Labels: bug, libcudf, non-breaking
