Repository rapidsai/cudf, pull requests merged in 2024-04, with the labels that each got.

#15300 First pass at adding testing for pylibcudf
  ci/test_python_cudf.sh
  ci/test_wheel_cudf.sh
  cpp/include/cudf/copying.hpp
  cpp/src/copying/copy.cpp
  cpp/src/copying/copy_range.cu
  cpp/src/copying/scatter.cu
  docs/cudf/source/developer_guide/pylibcudf.md
  docs/cudf/source/developer_guide/testing.md
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/_lib/pylibcudf/column.pxd
  python/cudf/cudf/_lib/pylibcudf/column.pyx
  python/cudf/cudf/_lib/pylibcudf/copying.pxd
  python/cudf/cudf/_lib/pylibcudf/copying.pyx
  python/cudf/cudf/_lib/pylibcudf/interop.pyx
  python/cudf/cudf/_lib/pylibcudf/table.pxd
  python/cudf/cudf/_lib/pylibcudf/table.pyx
  python/cudf/cudf/_lib/pylibcudf/types.pyx
  python/cudf/cudf/pylibcudf_tests/common/utils.py
  python/cudf/cudf/pylibcudf_tests/conftest.py
  python/cudf/cudf/pylibcudf_tests/pytest.ini
  python/cudf/cudf/pylibcudf_tests/test_copying.py
Labels: tests, libcudf, cuDF (Python), improvement, non-breaking, ci

#15335 Apply the cuFile error work around to data_sink as well
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
Labels: bug, libcudf, non-breaking

#15337 Refactor stream mode setup for gtests
  cpp/include/cudf_test/testing_main.hpp
  cpp/tests/error/error_handling_test.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15408 Enable ``dask_cudf`` json and s3 tests with query-planning on
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_s3.py
  python/dask_cudf/dask_cudf/tests/utils.py
Labels: 2 - In Progress, cuDF (Python), dask, improvement, non-breaking

#15047 Add `to_arrow_device` function to cudf interop using nanoarrow
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nanoarrow.cmake
  cpp/include/cudf/interop.hpp
  cpp/include/cudf/interop/detail/arrow.hpp
  cpp/src/interop/to_arrow_device.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/interop/nanoarrow_utils.hpp
  cpp/tests/interop/to_arrow_device_test.cpp
  docs/cudf/source/conf.py
Labels: feature request, libcudf, CMake, non-breaking

#15419 Fixes potential race in JSON parser when parsing JSON lines format and when recovering from invalid lines
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#15407 Bump ruff and codespell pre-commit checks
  .pre-commit-config.yaml
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/src/copying/contiguous_split.cu
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  pyproject.toml
  python/cudf/benchmarks/common/config.py
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/pandas/scripts/analyze-test-failures.py
  python/cudf/cudf/pandas/scripts/summarize-test-results.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_monotonic.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/utils/docutils.py
  python/cudf/cudf/utils/dtypes.py
Labels: libcudf, cuDF (Python), improvement, non-breaking

#15393 Fix errors in chunked ORC writer when no tables were (successfully) written
  cpp/include/cudf/io/detail/orc.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/tests/io/orc_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#15286 Rework cudf::replace_nulls to use strings::detail::copy_if_else
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/replace/nulls.cpp
  cpp/src/replace/nulls.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#15437 Test static builds in CI and fix nanoarrow configure
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/configure_cpp_static.sh
  cpp/cmake/thirdparty/get_nanoarrow.cmake
  cpp/cmake/thirdparty/patches/nanoarrow_cmake.diff
  dependencies.yaml
Labels: bug, libcudf, CMake, non-breaking, ci

#14824 Use offsetalator in cudf::strings::replace functions
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_nulls.cu
  cpp/src/strings/replace/replace_slice.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15139 Align date_range defaults with pandas, support tz
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: cuDF (Python), improvement, breaking

#15288 [FEA] Performance improvement for mixed left semi/anti join
  cpp/CMakeLists.txt
  cpp/include/cudf/join.hpp
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_kernels_semi.cuh
  cpp/src/join/mixed_join_semi.cu
  cpp/src/join/mixed_join_size_kernels_semi.cu
  cpp/tests/join/mixed_join_tests.cu
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: libcudf, CMake, Performance, cuDF (Java), improvement, breaking

#15451 Allow jit compilation when using a splayed CUDA toolkit
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#15375 Remove deprecated hash() and spark_murmurhash3_x86_32()
  cpp/CMakeLists.txt
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/hashing/detail/hashing.hpp
  cpp/include/cudf/partitioning.hpp
  cpp/src/hash/hashing.cu
  cpp/src/hash/spark_murmurhash3_x86_32.cu
  cpp/tests/hashing/spark_murmurhash3_x86_32_test.cpp
  cpp/tests/partitioning/hash_partition_test.cpp
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HashType.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: 3 - Ready for Review, libcudf, CMake, cuDF (Java), improvement, breaking

#15457 Fix base_normalator::integer_sizeof_fn integer dispatch
  cpp/include/cudf/detail/normalizing_iterator.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15195 Large strings support in cudf::concatenate
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/include/cudf_test/column_utilities.hpp
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/utilities.cu
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/utilities/column_utilities.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15378 Support implicit array conversion with query-planning enabled
  python/dask_cudf/dask_cudf/expr/_collection.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14715 Cleanup some timedelta/datetime column logic
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/series/test_datetimelike.py
Labels: cuDF (Python), improvement, non-breaking

#15463 Fix debug build errors from to_arrow_device_test.cpp
  cpp/tests/interop/nanoarrow_utils.hpp
  cpp/tests/interop/to_arrow_device_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15466 Use cached_property for NumericColumn.nan_count instead of ._nan_count variable
  python/cudf/cudf/core/column/numerical.py
Labels: cuDF (Python), improvement, non-breaking

#15402 Enable all tests for `arm` arch
  ci/test_wheel_cudf.sh
  ci/wheel_smoke_test_cudf.py
Labels: 5 - Ready to Merge, improvement, non-breaking, ci

#15464 Add custom status check workflow
  .github/workflows/status.yaml
Labels: improvement, non-breaking

#14651 Refactor numpy array input in as_column
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), improvement, non-breaking

#15369 Enable test-reporting for pandas pytests in CI
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/pandas-tests/diff.sh
  ci/cudf_pandas_scripts/pandas-tests/job-summary.py
Labels: improvement, non-breaking, ci

#15440 Remove prior test skipping in run-pandas-tests with testing 2.2.1
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: pandas, cuDF (Python), improvement, non-breaking

#15347 Patch dask-expr `var` logic in dask-cudf
  ci/build_docs.sh
  python/dask_cudf/dask_cudf/expr/_expr.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
Labels: bug, 2 - In Progress, cuDF (Python), non-breaking, ci

#15454 Remove deprecated strings offsets_begin
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/src/strings/strings_column_view.cpp
Labels: 3 - Ready for Review, libcudf, improvement, breaking

#15469 Avoid "p2p" shuffle as a default when `dask_cudf` is imported
  python/dask_cudf/dask_cudf/expr/__init__.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask, non-breaking

#15461 Enable tests/strings/test_api.py and tests/io/pytables in cudf.pandas tests
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: pandas, cuDF (Python), improvement, non-breaking

#15468 Ignore pandas tests for cudf.pandas that need motoserver
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: pandas, cuDF (Python), improvement, non-breaking

#15124 Introduce benchmark suite for JSON reader options
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/json/json_reader_option.cpp
  cpp/benchmarks/io/nvbench_helpers.hpp
Labels: feature request, 2 - In Progress, libcudf, CMake, non-breaking

#15486 Enable tests/scalar and test/series in cudf.pandas tests
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: pandas, cuDF (Python), improvement, non-breaking

#15475 Avoid .ordered and .categories from being settable in CategoricalColumn and CategoricalDtype
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_categorical.py
Labels: cuDF (Python), improvement, non-breaking

#15056 `ModuleAccelerator` performance: cache the result of checking if a caller is in the denylist
  python/cudf/cudf/pandas/module_accelerator.py
Labels: cuDF (Python), Performance, improvement, non-breaking

#15444 Enable tests/windows/ in cudf.pandas tests
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: pandas, cuDF (Python), improvement, non-breaking

#15472 Only use data_type constructor with scale for decimal types
  python/cudf/cudf/_lib/pylibcudf/types.pyx
Labels: bug, cuDF (Python), non-breaking

#15439 Support orc and text IO with dask-expr using legacy conversion
  python/dask_cudf/dask_cudf/__init__.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/expr/_collection.py
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_text.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, improvement, non-breaking

#15474 Fixed page data truncation in parquet writer under certain conditions.
  cpp/src/io/parquet/page_enc.cu
Labels: bug, libcudf, cuIO, helps: Spark, non-breaking

#15346 Fix for logical and syntactical errors in libcudf c++ examples
  cpp/examples/build.sh
  cpp/examples/strings/common.hpp
  cpp/examples/strings/custom_optimized.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15148 Use less _is_categorical_dtype
  python/cudf/cudf/_fuzz_testing/csv.py
  python/cudf/cudf/_fuzz_testing/json.py
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/utils/dtypes.py
Labels: cuDF (Python), improvement, non-breaking

#15438 Floating <--> fixed-point conversion must now be called explicitly
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/unary.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/binaryop/compiled/binary_ops.cuh
  cpp/src/quantiles/quantiles_util.hpp
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/unary/cast_ops.cu
  cpp/tests/fixed_point/fixed_point_tests.cpp
  cpp/tests/io/orc_test.cpp
Labels: libcudf, improvement, breaking

#15515 nanoarrow uses package override for proper pinned versions generation
  cpp/cmake/thirdparty/get_nanoarrow.cmake
  cpp/cmake/thirdparty/patches/nanoarrow_override.json
Labels: bug, libcudf, CMake, helps: Spark, non-breaking

#13255 Fix and clarify notes on result ordering
  docs/cudf/source/user_guide/pandas-comparison.md
Labels: doc, cuDF (Python), non-breaking

#15497 Fix async synchronization issues in json_column.cu
  cpp/src/io/json/json_column.cu
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#15516 Move to pandas-tests to a dedicated workflow file and trigger it from branch.yaml
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/cudf_pandas_scripts/pandas-tests/diff.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
Labels: improvement, non-breaking, ci

#15523 cudf.pandas: Series dt accessor is CombinedDatetimelikeProperties
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: bug, cuDF (Python), non-breaking

#15441 Performance improvement in libcudf case conversion for long strings
  cpp/src/strings/case.cu
  cpp/tests/strings/case_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15521 Skip pandas unit tests that crash pytest workers in `cudf.pandas`
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: pandas, cuDF (Python), improvement, non-breaking

#15467 Update CONTRIBUTING.md to use latest cuda env
  CONTRIBUTING.md
Labels: 3 - Ready for Review, doc, non-breaking

#15530 rm-dup-doc in frame.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
Labels: doc, cuDF (Python), non-breaking

#15527 Make some private class properties not settable
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/single_column_frame.py
Labels: cuDF (Python), improvement, non-breaking

#15506 Relax protobuf lower bound to 3.20.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#15517 Fix exponent overflow in strings-to-double conversion
  cpp/include/cudf/strings/detail/convert/string_to_float.cuh
  cpp/tests/strings/floats_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#15539 Remove conda channel setup from wheel CI image script.
  ci/configure_cpp_static.sh
Labels: bug, non-breaking, ci

#15450 Handle case of scan aggregation in groupby-transform
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/groupby/test_transform.py
Labels: bug, cuDF (Python), non-breaking

#15334 Benchmark decimal <--> floating conversions.
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/common/generate_input.hpp
  cpp/benchmarks/decimal/convert_floating.cpp
Labels: libcudf, CMake, Performance, improvement, non-breaking

#15528 Removing all batching code from parquet writer
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
Labels: 3 - Ready for Review, libcudf, cuIO, improvement, breaking

#15542 Remove checks dependency from static-configure test job.
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#15068 Extend cudf devcontainers to specify jitify2 kernel cache
  .devcontainer/Dockerfile
Labels: feature request, 3 - Ready for Review, non-breaking

#15518 Fix for some compiler warnings in parquet/page_decode.cuh
  cpp/src/io/parquet/page_decode.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15535 Enable more ignored pandas unit tests for cudf.pandas
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: pandas, cuDF (Python), improvement, non-breaking

#15526 Fea/move to latest nanoarrow
  cpp/cmake/thirdparty/get_nanoarrow.cmake
  cpp/cmake/thirdparty/patches/nanoarrow_cmake.diff
  cpp/cmake/thirdparty/patches/nanoarrow_override.json
Labels: feature request, libcudf, CMake, non-breaking

#15547 Enable pandas plotting unit tests for cudf.pandas
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: cuDF (Python), improvement, non-breaking, cudf.pandas

#15553 Rename JSON_READER_OPTION to JSON_READER_OPTION_NVBENCH.
  cpp/benchmarks/CMakeLists.txt
Labels: bug, libcudf, CMake, non-breaking

#15276 Clean up special casing in `as_column` for non-typed input
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/docutils.py
Labels: cuDF (Python), improvement, non-breaking

#15554 Upgrade upper bound pinning to `pandas-2.2.2`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/core/_compat.py
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#15398 Bind `read_parquet_metadata` API to libcudf instead of pyarrow and extract `RowGroup` information
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  python/cudf/cudf/_lib/cpp/io/parquet_metadata.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: 3 - Ready for Review, libcudf, cuDF (Python), cuIO, improvement, breaking

#15558 Deprecate legacy JSON reader options.
  cpp/include/cudf/io/json.hpp
Labels: libcudf, improvement, non-breaking

#15557 Use same .clang-format in cuDF JNI
  java/src/main/native/.clang-format
  java/src/main/native/clang-format.README
  java/src/main/native/include/jni_utils.hpp
  java/src/main/native/include/maps_column_view.hpp
  java/src/main/native/src/Aggregation128UtilsJni.cpp
  java/src/main/native/src/AggregationJni.cpp
  java/src/main/native/src/ChunkedPackJni.cpp
  java/src/main/native/src/ChunkedReaderJni.cpp
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/ColumnViewJni.cu
  java/src/main/native/src/ColumnViewJni.hpp
  java/src/main/native/src/CompiledExpression.cpp
  java/src/main/native/src/ContiguousTableJni.cpp
  java/src/main/native/src/CuFileJni.cpp
  java/src/main/native/src/CudaJni.cpp
  java/src/main/native/src/CudfJni.cpp
  java/src/main/native/src/DataSourceHelperJni.cpp
  java/src/main/native/src/HashJoinJni.cpp
  java/src/main/native/src/HostMemoryBufferNativeUtilsJni.cpp
  java/src/main/native/src/NvcompJni.cpp
  java/src/main/native/src/NvtxRangeJni.cpp
  java/src/main/native/src/NvtxUniqueRangeJni.cpp
  java/src/main/native/src/PackedColumnMetadataJni.cpp
  java/src/main/native/src/RmmJni.cpp
  java/src/main/native/src/ScalarJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/aggregation128_utils.cu
  java/src/main/native/src/aggregation128_utils.hpp
  java/src/main/native/src/check_nvcomp_output_sizes.cu
  java/src/main/native/src/check_nvcomp_output_sizes.hpp
  java/src/main/native/src/csv_chunked_writer.hpp
  java/src/main/native/src/cudf_jni_apis.hpp
  java/src/main/native/src/dtype_utils.hpp
  java/src/main/native/src/jni_compiled_expr.hpp
  java/src/main/native/src/jni_writer_data_sink.hpp
  java/src/main/native/src/maps_column_view.cu
  java/src/main/native/src/nvtx_common.hpp
Labels: cuDF (Java), improvement, non-breaking

#15477 Clean up __cuda_array_interface__ handling in as_column
  python/cudf/cudf/core/column/column.py
Labels: cuDF (Python), improvement, non-breaking

#15381 add correct labels to pandas_function_request.md
  .github/ISSUE_TEMPLATE/pandas_function_request.md
Labels: improvement, non-breaking

#15531 DOC: add pandas intersphinx mapping
  docs/cudf/source/conf.py
  python/cudf/cudf/core/dataframe.py
Labels: doc, cuDF (Python), non-breaking

#15563 Fix deprecation warnings for json legacy reader
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json_test.cpp
  cpp/tests/streams/io/json_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15524 Large strings support in regex replace APIs
  cpp/src/strings/regex/utilities.cuh
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/replace_re.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15411 Add option to Parquet writer to skip compressing individual columns
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: feature request, libcudf, cuIO, non-breaking

#15566 Refactor JNI native dependency loading to allow returning of library path
  java/src/main/java/ai/rapids/cudf/NativeDepsLoader.java
Labels: cuDF (Java), improvement, non-breaking

#15568 Rename experimental JSON tests.
  cpp/tests/io/json_test.cpp
  cpp/tests/io/nested_json_test.cpp
Labels: libcudf, improvement, non-breaking

#15569 Allow apply udf to reference global modules in cudf.pandas
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, cuDF (Python), non-breaking, cudf.pandas

#15574 Ignore new cupy warning
  python/cudf/cudf/tests/pytest.ini
Labels: bug, cuDF (Python), non-breaking

#15564 Remove protobuf and use parsed ORC statistics from libcudf
  .gitignore
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  cpp/include/cudf/io/orc_metadata.hpp
  dependencies.yaml
  pyproject.toml
  python/cudf/CMakeLists.txt
  python/cudf/cmake/Modules/ProtobufHelpers.cmake
  python/cudf/cudf/_lib/cpp/io/orc_metadata.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/variant.pxd
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/utils/metadata/__init__.py
  python/cudf/cudf/utils/metadata/orc_column_statistics.proto
  python/cudf/pyproject.toml
Labels: libcudf, cuDF (Python), CMake, conda, improvement, breaking

#15436 Unify Copy-On-Write and Spilling
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/exposure_tracked_buffer.py
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/buffer/utils.py
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_copying.py
  python/cudf/cudf/tests/test_spilling.py
Labels: cuDF (Python), improvement, non-breaking

#15460 Enable test_parsing in cudf.pandas tests
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: pandas, cuDF (Python), improvement, non-breaking

#15465 Add to_arrow_device() functions that accept views
  cpp/CMakeLists.txt
  cpp/include/cudf/interop.hpp
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_schema.cpp
  cpp/src/interop/to_arrow_utilities.cpp
  cpp/src/interop/to_arrow_utilities.hpp
  cpp/tests/interop/to_arrow_device_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#15374 Large strings support in cudf::merge
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/merge/merge_strings.cpp
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/merge.hpp
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/src/merge/merge.cu
  cpp/src/strings/merge/merge.cu
  cpp/tests/merge/merge_string_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#15573 Add cuda-sanitizer-api dependency for test-cpp matrix 11.4
  dependencies.yaml
Labels: bug, 3 - Ready for Review, non-breaking

#15514 Remove index name overrides in dask-cudf pyarrow table dispatch
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_dispatch.py
Labels: bug, 3 - Ready for Review, cuDF (Python), dask, non-breaking

#15496 Clean up index methods
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
Labels: cuDF (Python), improvement, non-breaking

#15581 Preserve RangeIndex.step in to_arrow/from_arrow
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), non-breaking

#15555 Large strings support for cudf::fill
  cpp/src/strings/filling/fill.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15534 Remove public gtest dependency from libcudf conda package
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/include/cudf_test/cudf_gtest.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/groupby_test_util.cpp
  cpp/tests/utilities/random_seed.cpp
  dependencies.yaml
Labels: feature request, libcudf, CMake, conda, non-breaking

#15584 Disable compute-sanitizer usage in CI tests with CUDA<11.6
  ci/run_cudf_examples.sh
  dependencies.yaml
Labels: bug, 3 - Ready for Review, non-breaking, ci

#15492 Update NVBench fixture to use new hooks, fix pinned memory segfault.
  cpp/benchmarks/fixture/nvbench_fixture.hpp
  cpp/benchmarks/fixture/nvbench_main.cpp
  cpp/cmake/thirdparty/patches/nvbench_global_setup.diff
  cpp/cmake/thirdparty/patches/nvbench_override.json
Labels: libcudf, CMake, improvement, non-breaking

#15421 Add some missing optional fields to the Parquet RowGroup metadata
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, non-breaking

#15458 Add `from_arrow_device` function to cudf interop using nanoarrow
  cpp/CMakeLists.txt
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_utilities.hpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/to_arrow_device.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/interop/from_arrow_device_test.cpp
  cpp/tests/interop/nanoarrow_utils.hpp
  cpp/tests/interop/to_arrow_device_test.cpp
Labels: 2 - In Progress, libcudf, CMake, improvement, non-breaking

#15311 Add BYTE_STREAM_SPLIT support to Parquet
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_data.cuh
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_common.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: feature request, libcudf, non-breaking

#15513 Large strings gtest fixture and utilities
  cpp/include/cudf_test/testing_main.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/large_strings/concatenate_tests.cpp
  cpp/tests/large_strings/large_strings_fixture.cpp
  cpp/tests/large_strings/large_strings_fixture.hpp
  cpp/tests/large_strings/merge_tests.cpp
  cpp/tests/merge/merge_string_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#15576 Replace RangeIndex._start/_stop/_step with _range
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: cuDF (Python), improvement, non-breaking

#15582 Don't materialize column during RangeIndex methods
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: cuDF (Python), improvement, non-breaking

#15578 Improve performance for cudf::strings::count_re
  cpp/benchmarks/string/contains.cpp
  cpp/benchmarks/string/count.cpp
  cpp/src/strings/regex/regex.inl
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15596 Fix debug warnings/errors in from_arrow_device_test.cpp
  cpp/tests/interop/from_arrow_device_test.cpp
  cpp/tests/interop/nanoarrow_utils.hpp
  cpp/tests/interop/to_arrow_device_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15590 Minor fixups for future NumPy 2 compatibility
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_api_types.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/utils/dtypes.py
Labels: cuDF (Python), improvement, non-breaking

#15452 Add Parquet encoding statistics to column chunk metadata
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, non-breaking

#15412 Add fields to Parquet Statistics structure that were added in parquet-format 2.10
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet.hpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: feature request, libcudf, non-breaking

#15562 Update developer guide with device_async_resource_ref guidelines
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
Labels: doc, libcudf, non-breaking

#14646 Refactor joins for conditional semis and antis
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join_common_utils.cuh
Labels: 3 - Ready for Review, libcudf, Performance, improvement, non-breaking

#15396 Optimizing multi-source byte range reading in JSON reader
  cpp/include/cudf/io/detail/json.hpp
  cpp/src/io/json/json_normalization.cu
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json_quote_normalization_test.cpp
  cpp/tests/io/json_test.cpp
  cpp/tests/io/json_whitespace_normalization_test.cu
Labels: libcudf, Performance, improvement, non-breaking

#15619 Remove jni-docker-build workflow
  .github/workflows/jni-docker-build.yml
Labels: improvement, non-breaking

#15586 Use experimental make_strings_children for strings replace/filter/translate
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_slice.cu
  cpp/src/strings/translate.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15587 Use experimental make_strings_children for capitalize/case/pad functions
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/padding.cu
Labels: 2 - In Progress, libcudf, strings, improvement, non-breaking
