Repository rapidsai/cudf, pull requests merged in 2024-01, with the labels that each got.

#14644 Update dependencies.yaml to support CUDA 12.*.
  .pre-commit-config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#14630 Drop Pascal GPU support.
  CONTRIBUTING.md
  README.md
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/tests/io/comp/decomp_test.cpp
  python/cudf/cudf/utils/gpu_utils.py
  python/custreamz/README.md
Labels: libcudf, cuDF (Python), improvement, breaking

#14545 JSON quote normalization
  cpp/tests/CMakeLists.txt
  cpp/tests/io/fst/quote_normalization_test.cu
Labels: feature request, 4 - Waiting on Author, libcudf, CMake, non-breaking

#14696 Change `io::detail::orc` namespace into `io::orc::detail`
  cpp/include/cudf/io/detail/orc.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Labels: 3 - Ready for Review, libcudf blocker, code quality, libcudf, helps: Spark, improvement, non-breaking

#14695 Fix call to deprecated factory function
  cpp/src/transform/row_conversion.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14708 Update to Dask's `shuffle_method` kwarg
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Labels: bug, 3 - Ready for Review, cuDF (Python), dask, breaking

#14702 Skip numba test that fails on ARM
  pyproject.toml
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, cuDF (Python), non-breaking

#14706 Potential fix for peformance regression in #14415
  cpp/src/io/parquet/page_decode.cuh
Labels: bug, libcudf, cuIO, Performance, non-breaking

#14697 Use make_strings_children for fill() specialization logic
  cpp/src/strings/filling/fill.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#14711 Fix strings::contains matching end of string target
  cpp/src/strings/search/find.cu
  cpp/tests/strings/find_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#14662 Custom error messages for IO with nonexistent files
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
Labels: libcudf, improvement, non-breaking

#14701 Allow Z in datetime string parsing in non pandas compat mode
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, cuDF (Python), non-breaking

#14691 Change empty column dtype to `string` from `float64`
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dropna.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_onehot.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_stats.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#14611 Use the offsetalator in cudf::concatenate for strings
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/utilities.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#14707 Write file-level statistics when writing ORC files with zero rows
  cpp/include/cudf/io/detail/orc.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/tests/io/orc_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#14713 Update dask-cudf wheel name
  .github/workflows/pr.yaml
  ci/build_wheel.sh
  ci/build_wheel_dask_cudf.sh
  python/dask_cudf/pyproject.toml
Labels: bug, cuDF (Python), non-breaking, ci

#14723 Remove mimesis as a testing dependency
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf/testing/dataset_generator.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, breaking

#14450 Refactor cudf.Series.__init__
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), improvement, non-breaking

#14722 Split cuda versions for notebook testing
  dependencies.yaml
Labels: bug, non-breaking

#14705 Ensure DataFrame column types are preserved during serialization
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_serialize.py
Labels: bug, cuDF (Python), non-breaking

#14718 Fix to_numeric not preserving Series index and name
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/tests/test_numerical.py
Labels: bug, cuDF (Python), non-breaking

#14642 Convert `FieldType` to scoped enum
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/compact_protocol_writer.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet_common.hpp
Labels: libcudf, cuIO, tech debt, improvement, non-breaking

#13813 Expand JIT groupby test suite
  python/cudf/cudf/tests/test_groupby.py
Labels: feature request, cuDF (Python), non-breaking

#14724 Ensure column.fillna signatures are consistent
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: cuDF (Python), improvement, non-breaking

#14719 Replace as_numerical with as_numerical_column/codes
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
Labels: cuDF (Python), improvement, non-breaking

#14730 Remove unneeded methods in Column
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/dtypes.py
Labels: cuDF (Python), improvement, non-breaking

#14721 Write cuDF version in Parquet "created_by" metadata field
  cpp/CMakeLists.txt
  cpp/src/io/parquet/writer_impl.cu
Labels: feature request, libcudf, CMake, cuIO, non-breaking

#14657 Explicitly pass .dtype into is_foo_dtype functions
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/testing/testing.py
Labels: cuDF (Python), improvement, non-breaking

#14688 Fix nan_as_null not being respected when passing arrow object
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), non-breaking

#14686 Fix constructing Series/Index from arrow array and dtype
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), non-breaking

#14733 refactor CUDA versions in dependencies.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#14359 Expose streams in Parquet reader and writer APIs
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/io/parquet_test.cpp
Labels: libcudf, CMake, improvement, non-breaking

#14635 Remove unnecessary **kwargs in function signatures
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
Labels: cuDF (Python), improvement, non-breaking

#14693 Describe unpickling expectations when cudf.pandas is enabled
  docs/cudf/source/cudf_pandas/faq.md
Labels: doc, non-breaking

#14746 Fix CMake args
  ci/build_wheel_cudf.sh
Labels: bug, non-breaking, ci

#14748 Remove usages of rapids-env-update
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#14725 Clean up base column methods
  python/cudf/benchmarks/internal/bench_column.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/io/dlpack.py
Labels: cuDF (Python), improvement, non-breaking

#14689 Use as_column instead of arange for range like inputs
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_column.py
Labels: cuDF (Python), improvement, non-breaking

#14731 [Java] Choose The Correct RoundingMode For Checking Decimal OutOfBounds
  java/src/main/java/ai/rapids/cudf/DecimalUtils.java
  java/src/test/java/ai/rapids/cudf/DecimalUtilsTest.java
Labels: bug, cuDF (Java), non-breaking

#14742 Fix logic bug introduced in #14730
  python/cudf/cudf/core/column/categorical.py
Labels: bug, cuDF (Python), non-breaking

#14728 Fix ``Groupby.get_group``
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/groupby/test_indexing.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking, python

#13801 Refactoring of Buffers (last step towards unifying COW and Spilling)
  docs/cudf/source/developer_guide/library_design.md
  python/cudf/cudf/core/abc.py
  python/cudf/cudf/core/buffer/__init__.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/exposure_tracked_buffer.py
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/buffer/utils.py
  python/cudf/cudf/tests/test_buffer.py
  python/cudf/cudf/tests/test_copying.py
  python/cudf/cudf/tests/test_spilling.py
Labels: cuDF (Python), improvement, non-breaking

#14756 Pin pytest-cases<3.8.2
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#14762 Revise ``shuffle`` deprecation to align with dask/dask
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: bug, 3 - Ready for Review, cuDF (Python), dask, non-breaking

#14741 Provide explicit pool size and avoid RMM detail APIs
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/fixture/nvbench_fixture.hpp
  cpp/examples/basic/src/process_csv.cpp
  cpp/examples/nested_types/deduplication.cpp
  cpp/examples/strings/common.hpp
  cpp/include/cudf_test/testing_main.hpp
Labels: libcudf, improvement, non-breaking

#14767 Fix ptx file discovery in editable installs
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/utils/_numba.py
  python/cudf/udf_cpp/CMakeLists.txt
Labels: bug, cuDF (Python), CMake, non-breaking

#14350 Expose streams in ORC reader and writer APIs
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/functions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/io/orc_test.cpp
Labels: libcudf, CMake, improvement, non-breaking

#13690 Defer PTX file load to runtime
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_no_device.py
  python/cudf/cudf/tests/test_string_udfs.py
Labels: bug, cuDF (Python), non-breaking

#14665 Reorganize ORC reader into multiple files and perform some small fixes to cuIO code
  cpp/CMakeLists.txt
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/aggregate_orc_metadata.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/reader_impl_chunking.hpp
  cpp/src/io/orc/reader_impl_helpers.cpp
  cpp/src/io/orc/reader_impl_helpers.hpp
  cpp/src/io/orc/reader_impl_preprocess.cu
  cpp/src/io/utilities/hostdevice_vector.hpp
Labels: 3 - Ready for Review, libcudf, CMake, helps: Spark, improvement, non-breaking

#14750 Reduce execution time of Parquet C++ tests
  cpp/tests/io/parquet_misc_test.cpp
  cpp/tests/io/parquet_reader_test.cpp
  cpp/tests/io/parquet_v2_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: tests, libcudf, cuIO, improvement, non-breaking

#14740 Implement `cudf.MultiIndex.from_arrays`
  docs/cudf/source/user_guide/api_docs/index_objects.rst
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: cuDF (Python), improvement, non-breaking

#14755 Use _from_data instead of _from_columns for initialzing Frame
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/io/dlpack.py
Labels: cuDF (Python), improvement, non-breaking

#14761 Resolve degenerate performance in `create_structs_data`
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/structs/create_structs.cpp
  cpp/src/structs/utilities.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#14780 Remove unparseable attributes from all nodes
  docs/cudf/source/conf.py
Labels: bug, non-breaking

#14764 fix benchmarks compatibility with newer pytest-cases
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/benchmarks/API/bench_functions.py
  python/cudf/benchmarks/API/cases_dataframe.py
  python/cudf/benchmarks/API/cases_functions.py
  python/cudf/pyproject.toml
Labels: 3 - Ready for Review, tests, cuDF (Python), conda, improvement, non-breaking

#14788 Forward-merge branch-24.02 to branch-24.04
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/benchmarks/API/bench_functions.py
  python/cudf/benchmarks/API/cases_dataframe.py
  python/cudf/benchmarks/API/cases_functions.py
  python/cudf/pyproject.toml
Labels: cuDF (Python), conda

#14774 Clean up `DatetimeIndex.__init__` constructor
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_datetime.py
Labels: cuDF (Python), improvement, non-breaking

#14641 Use instance over is_foo_dtype
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/_lib/utils.pyx
Labels: cuDF (Python), improvement, non-breaking

#14796 Disable parallel build
  ci/build_docs.sh
Labels: doc, non-breaking, ci

#14798 Forward-merge branch-24.02 to branch-24.04
  ci/build_docs.sh
Labels: ci

#14763 Add `pynvjitlink` as a dependency
  ci/build_wheel.sh
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/utils/_numba.py
Labels: cuDF (Python), conda, improvement, non-breaking, ci

#13677 Add pip install instructions to README
  README.md
Labels: doc, non-breaking

#14775 Clean up `TimedeltaIndex.__init__` constructor
  python/cudf/cudf/core/index.py
Labels: cuDF (Python), improvement, non-breaking

#14779 Move cudf::char_utf8 definition from detail to public header
  cpp/include/cudf/strings/detail/utf8.hpp
  cpp/include/cudf/types.hpp
  docs/cudf/source/conf.py
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14803 Forward-merge branch-24.02 to branch-24.04
  cpp/include/cudf/labeling/label_bins.hpp
  cpp/include/cudf/strings/detail/utf8.hpp
  cpp/include/cudf/types.hpp
  cpp/src/labeling/label_bins.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/labeling_bins_test.cpp
  docs/cudf/source/conf.py
Labels: libcudf, CMake

#14765 Remove **kwargs from astype
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: cuDF (Python), improvement, breaking

#14807 Forward-merge branch-24.02 to branch-24.04
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: cuDF (Python)

#14784 Fix shared-workflows repo name
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#14809 Branch 24.04 merge branch 24.02
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#14678 Add BaseOffset as a final proxy type to pass instancechecks for offsets against `BaseOffset`
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, cuDF (Python), non-breaking

#14612 Create strings-specific make_offsets_child_column for multiple offset types
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/strings/utilities.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#14810 Forward-merge branch-24.02 to branch-24.04
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/strings/utilities.cu
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: libcudf, cuDF (Python)

#14754 Consolidate cudf object handling in as_column
  python/cudf/cudf/core/column/column.py
Labels: cuDF (Python), improvement, non-breaking

#14811 Forward-merge branch-24.02 to branch-24.04
  python/cudf/cudf/core/column/column.py
Labels: cuDF (Python)

#14766 Some `frame.py` typing, move seldom used methods in `frame.py`
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/udf/groupby_utils.py
Labels: cuDF (Python), improvement, non-breaking

#14791 Add pylibcudf to the docs
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/api_docs/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/column.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/copying.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/gpumemoryview.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/scalar.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/table.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/types.rst
  python/cudf/cudf/_lib/pylibcudf/column.pxd
  python/cudf/cudf/_lib/pylibcudf/column.pyx
  python/cudf/cudf/_lib/pylibcudf/copying.pyx
  python/cudf/cudf/_lib/pylibcudf/gpumemoryview.pyx
  python/cudf/cudf/_lib/pylibcudf/interop.pyx
  python/cudf/cudf/_lib/pylibcudf/scalar.pyx
  python/cudf/cudf/_lib/pylibcudf/table.pyx
  python/cudf/cudf/_lib/pylibcudf/types.pyx
Labels: doc, cuDF (Python), non-breaking

#14752 Enable intermediate proxies to be picklable
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, cuDF (Python), non-breaking

#14749 Implement to_datetime(..., utc=True)
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: cuDF (Python), improvement, non-breaking

#14817 Forward-merge branch-24.02 to branch-24.04
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: cuDF (Python)

#14572 JSON - Parse mixed types as string in JSON reader
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/json_tree.cu
  cpp/src/io/json/nested_json.hpp
  cpp/tests/io/json_test.cpp
  cpp/tests/io/json_tree.cpp
  java/src/main/java/ai/rapids/cudf/JSONOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/resources/mixed_types_1.json
  java/src/test/resources/mixed_types_2.json
  python/cudf/cudf/_lib/cpp/io/json.pxd
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/io/json.py
Labels: feature request, 2 - In Progress, libcudf, cuDF (Python), cuIO, cuDF (Java), helps: Spark, non-breaking

#14772 Work around incompatibilities between V2 page header handling and zStandard compression in Parquet writer
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#14751 Add CUDF_TEST_PROGRAM_MAIN macro to tests lacking it
  cpp/tests/json/json_tests.cpp
  cpp/tests/transform/row_conversion.cpp
Labels: bug, libcudf, non-breaking

#14391 Add SHA-1 and SHA-2 hash functions.
  cpp/CMakeLists.txt
  cpp/benchmarks/hashing/hash.cpp
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/hashing/detail/hash_functions.cuh
  cpp/include/cudf/hashing/detail/hashing.hpp
  cpp/src/hash/md5_hash.cu
  cpp/src/hash/sha1_hash.cu
  cpp/src/hash/sha224_hash.cu
  cpp/src/hash/sha256_hash.cu
  cpp/src/hash/sha384_hash.cu
  cpp/src/hash/sha512_hash.cu
  cpp/src/hash/sha_hash.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/hashing/md5_test.cpp
  cpp/tests/hashing/sha1_test.cpp
  cpp/tests/hashing/sha224_test.cpp
  cpp/tests/hashing/sha256_test.cpp
  cpp/tests/hashing/sha384_test.cpp
  cpp/tests/hashing/sha512_test.cpp
  python/cudf/cudf/_lib/cpp/hash.pxd
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: libcudf, cuDF (Python), CMake, improvement, non-breaking

#14831 Forward-merge branch-24.02 to branch-24.04
  cpp/CMakeLists.txt
  cpp/benchmarks/hashing/hash.cpp
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/hashing/detail/hash_functions.cuh
  cpp/include/cudf/hashing/detail/hashing.hpp
  cpp/src/hash/md5_hash.cu
  cpp/src/hash/sha1_hash.cu
  cpp/src/hash/sha224_hash.cu
  cpp/src/hash/sha256_hash.cu
  cpp/src/hash/sha384_hash.cu
  cpp/src/hash/sha512_hash.cu
  cpp/src/hash/sha_hash.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/hashing/md5_test.cpp
  cpp/tests/hashing/sha1_test.cpp
  cpp/tests/hashing/sha224_test.cpp
  cpp/tests/hashing/sha256_test.cpp
  cpp/tests/hashing/sha384_test.cpp
  cpp/tests/hashing/sha512_test.cpp
  cpp/tests/json/json_tests.cpp
  cpp/tests/transform/row_conversion.cpp
  python/cudf/cudf/_lib/cpp/hash.pxd
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: libcudf, cuDF (Python), CMake

#14820 Remove -DNVBench_ENABLE_CUPTI=OFF.
  conda/recipes/libcudf/build.sh
Labels: conda, improvement, non-breaking

#14802 Fix total_byte_size in Parquet row group metadata
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#14834 Forward-merge branch-24.02 to branch-24.04
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf

#14825 Fix 24.04 versions
  ci/release/update-version.sh
  dependencies.yaml
Labels: bug, non-breaking, ci

#14818 Preserve empty index types in parquet reader
  python/cudf/cudf/_lib/parquet.pyx
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14679 Fix Aggregation Type Promotion: Ensure Unsigned Input Types Result in Unsigned Output for Sum and Multiply
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/tests/groupby/sum_tests.cpp
Labels: bug, libcudf, non-breaking

#14835 Forward-merge branch-24.02 to branch-24.04
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/tests/groupby/sum_tests.cpp
Labels: libcudf

#14743 Use get_offset_value utility in strings shift function
  cpp/src/strings/copying/shift.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#14821 Migrate binary operations to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/binaryop.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  python/cudf/cudf/_lib/binaryop.pxd
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/cpp/CMakeLists.txt
  python/cudf/cudf/_lib/cpp/binaryop.pxd
  python/cudf/cudf/_lib/cpp/binaryop.pyx
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/binaryop.pxd
  python/cudf/cudf/_lib/pylibcudf/binaryop.pyx
  python/cudf/cudf/tests/test_udf_binops.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), CMake, non-breaking

#14778 Refactor and add validation to IntervalIndex.__init__
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/indexes/test_interval.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Labels: bug, cuDF (Python), non-breaking

#14768 Add ci check for external kernels
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  cpp/cmake/thirdparty/patches/cccl_override.json
Labels: feature request, libcudf, CMake, non-breaking

#14836 Add developer guideline to use east const.
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#14758 Simplify ColumnAccessor methods; avoid unnecessary validations
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
Labels: cuDF (Python), improvement, non-breaking

#14833 Use `rapids_cuda_set_runtime` to determine cuda runtime usage by target
  cpp/CMakeLists.txt
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake, improvement, non-breaking

#14838 Fix calls to deprecated strings factory API in examples.
  cpp/examples/strings/custom_optimized.cu
Labels: libcudf, improvement, non-breaking

#14832 Remove get_mem_info functions from custom memory resources
  cpp/include/cudf_test/stream_checking_resource_adaptor.hpp
  java/src/main/native/src/RmmJni.cpp
Labels: libcudf, cuDF (Java), improvement, non-breaking

#14851 Fix `Dataframe.agg` to not return incorrect dtypes
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#14852 Catch warnings in reduction pytest
  python/cudf/cudf/tests/test_reductions.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, improvement

#14858 Catch groupby jit apply warnings
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#12641 Notes convert to Pandas-compat
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
Labels: doc, cuDF (Python), non-breaking

#14869 Fix all reduction pytest failures
  python/cudf/cudf/tests/test_stats.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#14854 Update conda-cpp-post-build-checks to branch-24.04.
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
  docs/dask_cudf/source/conf.py
Labels: improvement, non-breaking, ci

#14785 Add row index and stripe size options to Python ORC chunked writer
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/tests/test_orc.py
Labels: feature request, cuDF (Python), cuIO, non-breaking

#14360 Parquet sub-rowgroup reading.
  cpp/src/io/comp/nvcomp_adapter.hpp
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_chunking.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/column_buffer.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: feature request, libcudf, CMake, cuIO, non-breaking

#14875 Forward-merge branch-24.02 to branch-24.04
  cpp/src/io/comp/nvcomp_adapter.hpp
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_chunking.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/column_buffer.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf, CMake

#14837 Update pre-commit hooks
  .pre-commit-config.yaml
  python/cudf/benchmarks/conftest.py
  python/cudf/benchmarks/internal/conftest.py
  python/cudf/cudf/_fuzz_testing/fuzzer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/core/udf/strings_typing.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_cut.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_dropna.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_extension_compilation.py
  python/cudf/cudf/tests/test_factorize.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_hdf.py
  python/cudf/cudf/tests/test_interval.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_reshape.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_search.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_testing.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/tests/test_transform.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/hash_vocab_utils.py
  python/cudf/cudf/utils/ioutils.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/custreamz/custreamz/tests/conftest.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
  python/dask_cudf/dask_cudf/io/text.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
Labels: cuDF (Python), improvement, non-breaking

#14871 Fix empty groupby return types
  python/cudf/cudf/core/groupby/groupby.py
Labels: cuDF (Python)

#14874 Support kurt/skew(axis=None) for multi columns/low row count
  python/cudf/cudf/core/dataframe.py
Labels: bug, cuDF (Python), non-breaking

#14879 Fix miscellaneous failures in pytests
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_series.py
  python/dask_cudf/dask_cudf/backends.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, non-breaking

#14876 Move all core types to using enum class in Cython
  python/cudf/cudf/_lib/cpp/types.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/stream_compaction.pyx
Labels: cuDF (Python), improvement, non-breaking

#14878 Preserve columns `dtype` in dataframe constructor
  python/cudf/cudf/core/dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14889 Fixed an issue with output chunking computation stemming from input chunking.
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: bug, libcudf, cuIO, non-breaking

#14891 Forward-merge branch-24.02 to branch-24.04
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf

#14890 Enable CI in pandas 2.0 branch
  .github/workflows/pr.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#14856 Optimize doc builds
  ci/build_docs.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  docs/cudf/source/conf.py
Labels: doc, conda, non-breaking, ci

#14895 FIx more miscellaneous pytests failures
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_stats.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, non-breaking

#14894 Fix some pytests
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: cuDF (Python), improvement, non-breaking

#14887 Align datetimeindex slicing behaviour with Pandas 2.x
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_indexing.py
Labels: cuDF (Python)

#14899 Parquet Writer: Write `non-string` columns pandas-compatibility mode only
  python/cudf/cudf/_lib/utils.pyx
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer

#14900 Deprecate `method` in `replace` and warn for a specific combination of `value` and `to_replace`
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_replace.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, non-breaking

#14857 Remove supports_streams from cuDF custom memory resources.
  cpp/include/cudf_test/stream_checking_resource_adaptor.hpp
  java/src/main/native/src/RmmJni.cpp
Labels: feature request, libcudf, cuDF (Java), non-breaking

#14892 Unpin numpy<1.25
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_datasets.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#14903 Fix incorrect set usage
  python/cudf/cudf/core/indexed_frame.py
Labels: bug, cuDF (Python), non-breaking

#14902 Remove pandas Index subclasses in cudf pandas
  docs/cudf/source/conf.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: cuDF (Python), improvement, non-breaking

#14898 Allow `any` and `all` only for all-`NA` and empty string columns
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: bug, 3 - Ready for Review, cuDF (Python), 4 - Needs cuDF (Python) Reviewer, non-breaking

#14914 Prevent converting strings to arrow strings in `dask_cudf` pytests
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#14826 Fix debug build by splitting row_operator_tests_utilities.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/table/row_operator_tests_utilities.cu
  cpp/tests/table/row_operator_tests_utilities.hpp
  cpp/tests/table/row_operator_tests_utilities2.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#14918 Fix style issues in 2.0 feature branch
  .github/workflows/pr.yaml
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_api_types.py
  python/cudf/cudf/tests/test_applymap.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_column_accessor.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_datasets.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_dropna.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_monotonic.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_resampling.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#14905 Remove strict=False from xfail marks
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: cuDF (Python), improvement, non-breaking

#14907 Revert sum/product aggregation to always produce `int64_t` type
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/tests/groupby/sum_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#14844 Use offsetalator in cudf::strings::copy_slice
  cpp/src/strings/copying/copying.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#14920 Pin `pytest<8`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: 3 - Ready for Review, cuDF (Python), conda, improvement, non-breaking

#14923 Forward-merge branch-24.02 to branch-24.04
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda

#14919 Change pandas version range
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), 5 - Ready to Merge, conda, improvement, non-breaking

#14925 Fix `custreamz` pytests to test on `float64` types
  python/custreamz/custreamz/tests/test_dataframes.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14877 Add detail `cuco_allocator`
  cpp/include/cudf/detail/cuco_helpers.hpp
  cpp/include/cudf/detail/hash_reduce_by_row.cuh
  cpp/include/cudf/detail/join.hpp
  cpp/include/cudf/hashing/detail/hash_allocator.cuh
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/io/json/json_tree.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_semi.cu
  cpp/src/reductions/histogram.cu
  cpp/src/search/contains_table.cu
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/stream_compaction/stream_compaction_common.hpp
  cpp/src/text/bpe/byte_pair_encoding.cuh
  cpp/src/text/bpe/load_merge_pairs.cu
  cpp/src/text/vocabulary_tokenize.cu
Labels: 3 - Ready for Review, libcudf, tech debt, improvement, non-breaking

#14927 Remove pandas 1.3, 1.4 checks
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), improvement, non-breaking

#14908 Allow hash_array to be findable in pandas 2.0; add workaround for test_resample for cudf.pandas
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, cuDF (Python), non-breaking

#14928 Remove pandas 1.5 checks
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_df_protocol.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/test_setitem.py
  python/cudf/cudf/tests/test_string.py
Labels: cuDF (Python), improvement, non-breaking

#14937 Fix documentation builds with pandas 2 changes
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/api_docs/index_objects.rst
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_index.py
Labels: cuDF (Python), improvement, non-breaking

#14841 Fix V2 Parquet page alignment for use with zStandard compression
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_v2_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf, improvement, non-breaking

#14829 Fix dask token normalization
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/dask_cudf/dask_cudf/tests/test_dispatch.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking
