Repository rapidsai/cudf, pull requests merged in 2024-09, with the labels that each got.

#16660 Remove java ColumnView.copyWithBooleanColumnAsValidity
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/ColumnViewJni.cu
  java/src/main/native/src/ColumnViewJni.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: bug, 3 - Ready for Review, Java, breaking, cuDF (Java)

#16702 No support for producing dataframes with Empty columns
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, improvement, non-breaking, cudf.polars

#16720 Partially reject dynamic groupby
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_groupby_dynamic.py
Labels: Python, improvement, non-breaking, cudf.polars

#16708 Ensure we pass the has_nulls tparam to mixed_join kernels
  cpp/src/join/mixed_join_kernel.cuh
  cpp/src/join/mixed_join_size_kernel.cuh
Labels: bug, libcudf, non-breaking

#16707 Add boost-devel to Java CI Docker image
  java/ci/Dockerfile.rocky
Labels: bug, Java, non-breaking

#16700 Fix typo in column_factories.hpp comment from 'depth 1' to 'depth 2'
  cpp/include/cudf/column/column_factories.hpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#16716 Use Series._from_column more consistently to avoid validation
  python/cudf/cudf/_lib/text.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/io/text.py
Labels: Python, improvement, non-breaking

#16696 Add return type annotations to MultiIndex
  docs/cudf/source/conf.py
  python/cudf/cudf/core/multiindex.py
Labels: Python, improvement, non-breaking

#16722 Remove ERROR_TEST gtest from libcudf
  cpp/tests/CMakeLists.txt
  cpp/tests/error/error_handling_test.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#16728 Refactor cudf pandas integration tests CI
  ci/cudf_pandas_scripts/third-party-integration/run-library-tests.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: tests, improvement, non-breaking, ci

#16476 Implement Kleene logic handling for Any/All and bitwise Or/And
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/expressions/test_booleanfunction.py
Labels: Python, improvement, non-breaking, cudf.polars

#16719 Some fixes for unary functions
  dependencies.yaml
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/expressions/test_numeric_unaryops.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, improvement, non-breaking, cudf.polars

#16689 Implement unpivot in cudf-polars
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
  python/cudf_polars/tests/test_mapfunction.py
Labels: Python, improvement, non-breaking, cudf.polars

#16721 Small scan-handler fixes
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, improvement, non-breaking, cudf.polars

#16657 Multi-file and Parquet-aware prefetching from remote storage
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python, 5 - Ready to Merge, Performance, improvement, non-breaking

#16570 CI: Test against old versions of key dependencies
  ci/cudf_pandas_scripts/run_tests.sh
  ci/test_python_common.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
  dependencies.yaml
  python/cudf/cudf/tests/indexes/test_interval.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_doctests.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_interpolate.py
  python/cudf/cudf/tests/test_interval.py
  python/cudf/cudf/tests/test_join_order.py
  python/cudf/cudf/tests/test_mvc.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_resampling.py
  python/cudf/cudf/tests/test_reshape.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/dask_cudf/dask_cudf/tests/test_applymap.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: Python, improvement, non-breaking, cudf.pandas

#16601 Make isinstance check pass for proxy ndarrays
  python/cudf/cudf/pandas/_wrappers/numpy.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/proxy_base.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: feature request, 3 - Ready for Review, Python, non-breaking, cudf.pandas

#16574 Performance improvement for strings::slice for wide strings
  cpp/src/strings/slice.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#16500 Implement cudf-polars datetime extraction methods
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/_lib/pylibcudf/datetime.pyx
  python/cudf/cudf/pylibcudf_tests/test_datetime.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: feature request, Python, non-breaking, cudf.polars, pylibcudf

#16076 Upgrade to nvcomp 4.0.1
  ci/build_wheel_cudf.sh
  ci/build_wheel_pylibcudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/NativeDepsLoader.java
  java/src/main/native/CMakeLists.txt
  python/libcudf/CMakeLists.txt
Labels: feature request, Python, CMake, Java, non-breaking

#16693 Add performance tips to cudf.pandas FAQ.
  docs/cudf/source/cudf_pandas/faq.md
Labels: doc, non-breaking

#15983 Add libcudf example with large strings
  cpp/examples/billion_rows/CMakeLists.txt
  cpp/examples/billion_rows/README.md
  cpp/examples/billion_rows/brc.cpp
  cpp/examples/billion_rows/brc_chunks.cpp
  cpp/examples/billion_rows/brc_pipeline.cpp
  cpp/examples/billion_rows/common.hpp
  cpp/examples/billion_rows/groupby_results.cpp
  cpp/examples/billion_rows/groupby_results.hpp
  cpp/examples/build.sh
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#16745 Add support for Python 3.12, update Kafka dependencies to 2.5.x
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
  python/cudf/cudf/core/_internals/expressions.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/pytest.ini
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.pandas, cudf.polars

#16755 Polars 1.7 will change a minor thing in the IR, adapt to that
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
Labels: Python, cudf.polars

#16763 allow pandas patch version to float in cudf-pandas unit tests
  ci/cudf_pandas_scripts/run_tests.sh
Labels: improvement, non-breaking

#16705 Remove xfail from torch-cudf.pandas integration test
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_pytorch.py
Labels: tests, Python, improvement, non-breaking, cudf.pandas

#16697 [DOC] Remove out of date section from cudf.pandas docs
  docs/cudf/source/cudf_pandas/faq.md
Labels: 3 - Ready for Review, doc, non-breaking

#16493 Check index bounds in compact protocol reader.
  cpp/src/io/parquet/compact_protocol_reader.cpp
Labels: bug, libcudf, non-breaking

#16769 Allow read_csv(header=None) to return int column labels in `mode.pandas_compatible`
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/tests/test_csv.py
Labels: bug, Python, non-breaking

#16761 Add labeling APIs to pylibcudf
  docs/cudf/source/developer_guide/pylibcudf.md
  python/cudf/cudf/_lib/labeling.pyx
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/__init__.pxd
  python/pylibcudf/pylibcudf/__init__.py
  python/pylibcudf/pylibcudf/labeling.pxd
  python/pylibcudf/pylibcudf/labeling.pyx
  python/pylibcudf/pylibcudf/libcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/libcudf/labeling.pxd
  python/pylibcudf/pylibcudf/libcudf/labeling.pyx
  python/pylibcudf/pylibcudf/tests/test_labeling.py
Labels: Python, CMake, improvement, non-breaking

#16762 Simplify the nvCOMP adapter
  cpp/include/cudf/io/nvcomp_adapter.hpp
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/comp/nvcomp_adapter.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/writer_impl_helpers.cpp
  cpp/tests/io/comp/decomp_test.cpp
Labels: libcudf, cuIO, improvement, non-breaking

#16591 Extend the Parquet writer's dictionary encoding benchmark.
  cpp/benchmarks/io/parquet/parquet_writer.cpp
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#16779 Add labeling pylibcudf doc pages
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/labeling.rst
Labels: doc, non-breaking, pylibcudf

#16778 use libkvikio wheels in wheel builds
  dependencies.yaml
  python/libcudf/pyproject.toml
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#16675 Fix empty cluster handling in tdigest merge
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf_test/tdigest_utilities.cuh
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/quantiles/percentile_approx_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, breaking

#16663 Move NDS-H examples into benchmarks
  .gitignore
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/common/ndsh_data_generator/ndsh_data_generator.cpp
  cpp/benchmarks/common/ndsh_data_generator/ndsh_data_generator.hpp
  cpp/benchmarks/common/ndsh_data_generator/random_column_generator.cu
  cpp/benchmarks/common/ndsh_data_generator/random_column_generator.hpp
  cpp/benchmarks/common/ndsh_data_generator/table_helpers.cpp
  cpp/benchmarks/common/ndsh_data_generator/table_helpers.hpp
  cpp/benchmarks/ndsh/README.md
  cpp/benchmarks/ndsh/q01.cpp
  cpp/benchmarks/ndsh/q05.cpp
  cpp/benchmarks/ndsh/q06.cpp
  cpp/benchmarks/ndsh/q09.cpp
  cpp/benchmarks/ndsh/q10.cpp
  cpp/benchmarks/ndsh/utilities.cpp
  cpp/benchmarks/ndsh/utilities.hpp
  cpp/examples/build.sh
  cpp/examples/tpch/CMakeLists.txt
  cpp/examples/tpch/README.md
  cpp/examples/tpch/datagen/correct_datatypes.py
  cpp/examples/tpch/datagen/datagen.sh
  cpp/examples/tpch/datagen/tpch.patch
  cpp/examples/tpch/utils.hpp
Labels: feature request, libcudf, CMake, non-breaking

#16744 [FEA] Add support for `cudf.NamedAgg`
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/groupby/__init__.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/groupby/test_agg.py
Labels: feature request, Python, non-breaking

#16770 nvCOMP GZIP integration
  cpp/include/cudf/io/nvcomp_adapter.hpp
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  docs/cudf/source/user_guide/io/io.md
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#16777 Fix slice_strings wide strings logic with multi-byte characters
  cpp/src/strings/slice.cu
  cpp/tests/strings/slice_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#16773 Fix nvbench output for sha512
  cpp/benchmarks/hashing/hash.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#16639 Support reading multiple PQ sources with mismatching nullability for columns
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: libcudf, Python, 5 - Ready to Merge, cuIO, improvement, breaking

#16782 Recommending `miniforge` for conda install
  README.md
  python/custreamz/README.md
Labels: doc, Python, non-breaking

#16800 Revert "Fix empty cluster handling in tdigest merge (#16675)"
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf_test/tdigest_utilities.cuh
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/quantiles/percentile_approx_test.cpp
Labels: bug, libcudf, non-breaking

#16765 Migrate dask-cudf README improvements to dask-cudf sphinx docs
  docs/cudf/source/user_guide/10min.ipynb
  docs/dask_cudf/source/index.rst
  python/dask_cudf/README.md
Labels: doc, Python, 5 - Ready to Merge, dask, non-breaking

#16784 Java: Make ColumnVector.fromViewWithContiguousAllocation public
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Labels: Java, Spark, improvement, non-breaking

#16753 API Doc for Polars GPU Engine
  docs/cudf/source/_static/Polars_GPU_speedup_80GB.png
  docs/cudf/source/_static/compute_heavy_queries_polars.png
  docs/cudf/source/_static/pds_benchmark_polars.png
  docs/cudf/source/cudf_polars/index.rst
  docs/cudf/source/index.rst
Labels: doc, non-breaking

#16786 Fix `cov`/`corr` bug in dask-cudf
  python/dask_cudf/dask_cudf/expr/_collection.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#16805 Add ability to set parquet row group max #rows and #bytes in java
  java/src/main/java/ai/rapids/cudf/ParquetWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: Java, improvement, non-breaking, cuDF (Java)

#16795 Support drop_first in get_dummies
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_onehot.py
Labels: Python, improvement, non-breaking

#16808 Use cupy 12.2.0 as oldest dependency pinning on CUDA 12 ARM
  dependencies.yaml
Labels: bug, non-breaking

#15368 Word-based nvtext::minhash function
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/word_minhash.cpp
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
  cpp/tests/text/minhash_tests.cpp
  python/cudf/cudf/_lib/nvtext/minhash.pyx
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/minhash.pxd
Labels: feature request, 3 - Ready for Review, libcudf, Python, CMake, strings, non-breaking

#15961 Support multiple new-line characters in regex APIs
  cpp/doxygen/regex.md
  cpp/include/cudf/strings/regex/flags.hpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/strings/regex/regcomp.cpp
  cpp/src/strings/regex/regex.inl
  cpp/tests/strings/contains_tests.cpp
  cpp/tests/strings/extract_tests.cpp
  cpp/tests/strings/findall_tests.cpp
  cpp/tests/strings/replace_regex_tests.cpp
  cpp/tests/strings/special_chars.h
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#16809 Add io_type axis with default `PINNED_BUFFER` to nvbench PQ multithreaded reader
  cpp/benchmarks/io/parquet/parquet_reader_multithread.cpp
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#16751 Add a benchmark to study Parquet reader's performance for wide tables
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#16819 use get-pr-info from nv-gha-runners
  .github/workflows/pr.yaml
Labels: improvement, non-breaking, ci

#16750 Change the Parquet writer's `default_row_group_size_bytes` from 128MB to inf
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/writer_impl.cu
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: libcudf, Python, 4 - Needs Review, improvement, non-breaking

#16230 Refactor mixed_semi_join using cuco::static_set
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join_common_utils.cuh
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_kernels_semi.cuh
  cpp/src/join/mixed_join_semi.cu
  cpp/tests/join/mixed_join_tests.cu
Labels: libcudf, 4 - Needs Review, improvement, non-breaking

#16832 Use CI workflow branch 'branch-24.10' again
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#16831 Rename the NDS-H benchmark binaries
  cpp/benchmarks/CMakeLists.txt
Labels: improvement, non-breaking

#16759 Whitespace normalization of nested column coerced as string column in JSONL inputs
  cpp/include/cudf/io/detail/json.hpp
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/json_normalization.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/json/read_json.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/tests/io/json/json_test.cpp
  cpp/tests/io/json/json_whitespace_normalization_test.cu
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, breaking

#16739 Generate GPU vs CPU usage metrics per pytest file in pandas testsuite for `cudf.pandas`
  ci/cudf_pandas_scripts/pandas-tests/job-summary.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/scripts/conftest-patch.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
  python/cudf/cudf/pandas/scripts/summarize-test-results.py
Labels: Python, improvement, non-breaking, cudf.pandas

#16822 Improve aggregation documentation
  cpp/include/cudf/detail/aggregation/aggregation.hpp
Labels: doc, libcudf, non-breaking

#16834 Add string.repeats API to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/strings/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/strings/repeat.rst
  python/cudf/cudf/_lib/strings/repeat.pyx
  python/pylibcudf/pylibcudf/libcudf/strings/repeat.pxd
  python/pylibcudf/pylibcudf/strings/CMakeLists.txt
  python/pylibcudf/pylibcudf/strings/__init__.py
  python/pylibcudf/pylibcudf/strings/repeat.pxd
  python/pylibcudf/pylibcudf/strings/repeat.pyx
  python/pylibcudf/pylibcudf/tests/test_string_repeat.py
Labels: Python, CMake, improvement, non-breaking

#16814 Add string.contains APIs to pylibcudf
  python/cudf/cudf/_lib/strings/contains.pyx
  python/pylibcudf/pylibcudf/libcudf/strings/contains.pxd
  python/pylibcudf/pylibcudf/strings/contains.pxd
  python/pylibcudf/pylibcudf/strings/contains.pyx
  python/pylibcudf/pylibcudf/tests/test_string_contains.py
Labels: Python, improvement, non-breaking

#16767 Remove `MultiIndex._poplevel` inplace implementation.
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
Labels: Python, improvement, non-breaking

#16823 Add string.extract APIs to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/strings/extract.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/strings/index.rst
  python/cudf/cudf/_lib/strings/extract.pyx
  python/cudf/cudf/core/column/string.py
  python/pylibcudf/pylibcudf/libcudf/strings/extract.pxd
  python/pylibcudf/pylibcudf/strings/CMakeLists.txt
  python/pylibcudf/pylibcudf/strings/__init__.pxd
  python/pylibcudf/pylibcudf/strings/__init__.py
  python/pylibcudf/pylibcudf/strings/extract.pxd
  python/pylibcudf/pylibcudf/strings/extract.pyx
  python/pylibcudf/pylibcudf/tests/test_string_extract.py
Labels: Python, CMake, improvement, non-breaking

#16787 Intentionally leak thread_local CUDA resources to avoid crash (part 1)
  cpp/src/utilities/stream_pool.cpp
Labels: bug, libcudf, 5 - Ready to Merge, non-breaking

#16652 Access Frame attributes instead of ColumnAccessor attributes when available
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: Python, improvement, non-breaking

#16855 Revert "Refactor mixed_semi_join using cuco::static_set"
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join_common_utils.cuh
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_kernels_semi.cuh
  cpp/src/join/mixed_join_semi.cu
  cpp/tests/join/mixed_join_tests.cu
Labels: bug, libcudf, 5 - Ready to Merge, non-breaking

#16851 Switch to using native `traceback`
  ci/test_wheel_cudf.sh
  ci/test_wheel_dask_cudf.sh
  python/cudf/benchmarks/pytest.ini
  python/cudf/cudf/tests/pytest.ini
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/pytest.ini
  python/cudf_kafka/cudf_kafka/tests/pytest.ini
  python/cudf_polars/tests/pytest.ini
  python/custreamz/custreamz/tests/pytest.ini
  python/dask_cudf/dask_cudf/tests/pytest.ini
  python/pylibcudf/pylibcudf/tests/pytest.ini
Labels: Python, improvement, non-breaking, cudf.pandas, cudf.polars

#16840 Add cudf.pandas dependencies.yaml to update-version.sh
  ci/release/update-version.sh
Labels: bug, non-breaking

#16836 JSON tree algorithm code reorg
  cpp/CMakeLists.txt
  cpp/src/io/json/host_tree_algorithms.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json.hpp
Labels: 3 - Ready for Review, libcudf, CMake, cuIO, improvement, non-breaking

#16793 Exposed stream-ordering to join API
  cpp/benchmarks/common/ndsh_data_generator/table_helpers.cpp
  cpp/benchmarks/ndsh/utilities.cpp
  cpp/examples/parquet_io/parquet_io.cpp
  cpp/include/cudf/join.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.hpp
  cpp/src/join/cross_join.cu
  cpp/src/join/join.cu
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_semi.cu
  cpp/src/join/semi_join.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/join/join_tests.cpp
  cpp/tests/join/semi_anti_join_tests.cpp
  cpp/tests/streams/join_test.cpp
Labels: libcudf, CMake, improvement, non-breaking

#16821 Add best practices page to Dask cuDF docs
  docs/dask_cudf/source/best_practices.rst
  docs/dask_cudf/source/index.rst
  python/dask_cudf/README.md
Labels: doc, Python, 5 - Ready to Merge, non-breaking

#16760 Add transform APIs to pylibcudf
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/pylibcudf/pylibcudf/tests/test_transform.py
  python/pylibcudf/pylibcudf/transform.pxd
  python/pylibcudf/pylibcudf/transform.pyx
Labels: Python, improvement, non-breaking

#16868 Update labeler for pylibcudf
  .github/labeler.yml
Labels: bug, non-breaking

#16774 Exposed stream-ordering to datetime API
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/include/cudf/detail/timezone.hpp
  cpp/include/cudf/timezone.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/src/datetime/timezone.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/datetime_test.cpp
Labels: libcudf, CMake, improvement, non-breaking

#16867 Add in support for setting delim when parsing JSON through java
  java/src/main/java/ai/rapids/cudf/JSONOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, Java, Spark, improvement, non-breaking, cuDF (Java)

#16820 Improve Polars docs
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  docs/cudf/source/cudf_polars/index.rst
Labels: doc, non-breaking

#16872 Ignore numba warning specific to ARM runners
  python/cudf/cudf/tests/pytest.ini
Labels: Python, 5 - Ready to Merge, improvement, non-breaking

#16806 Update fmt (to 11.0.2) and spdlog (to 1.14.1).
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_spdlog.cmake
  dependencies.yaml
Labels: libcudf, CMake, improvement, non-breaking

#16880 Add in support for setting delim when parsing JSON through java (#16867)
  java/src/main/java/ai/rapids/cudf/JSONOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, Java, Spark, improvement, non-breaking, cuDF (Java)

#16796 Add in option for Java JSON APIs to do column pruning in CUDF
  java/src/main/java/ai/rapids/cudf/JSONOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
Labels: 3 - Ready for Review, Performance, Java, Spark, improvement, non-breaking

#16891 Update update-version.sh to use packaging lib
  ci/release/update-version.sh
Labels: improvement, non-breaking

#16883 Update oldest deps for `pyarrow` & `numpy`
  ci/cudf_pandas_scripts/run_tests.sh
  ci/test_python_common.sh
  ci/test_python_cudf.sh
  ci/test_python_other.sh
  dependencies.yaml
Labels: bug, non-breaking

#16842 Fix metadata after implicit array conversion from Dask cuDF
  python/dask_cudf/dask_cudf/expr/_collection.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#16879 Remove unnecessary flag from build.sh
  build.sh
Labels: improvement, non-breaking

#16825 Add string.findall APIs to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/strings/findall.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/strings/index.rst
  python/cudf/cudf/_lib/strings/findall.pyx
  python/pylibcudf/pylibcudf/libcudf/strings/findall.pxd
  python/pylibcudf/pylibcudf/strings/CMakeLists.txt
  python/pylibcudf/pylibcudf/strings/__init__.pxd
  python/pylibcudf/pylibcudf/strings/__init__.py
  python/pylibcudf/pylibcudf/strings/findall.pxd
  python/pylibcudf/pylibcudf/strings/findall.pyx
  python/pylibcudf/pylibcudf/tests/test_string_findall.py
Labels: Python, CMake, improvement, non-breaking, pylibcudf

#16899 Add dask-cudf workaround for missing `rename_axis` support in cudf
  python/dask_cudf/dask_cudf/expr/_collection.py
  python/dask_cudf/dask_cudf/expr/_expr.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: bug, 3 - Ready for Review, Python, dask, non-breaking

#16886 Pin polars for 24.10 and update polars test suite xfail list
  ci/run_cudf_polars_polars_tests.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_wheel_cudf_polars.sh
  dependencies.yaml
  python/cudf_polars/cudf_polars/__init__.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/testing/test_asserts.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.polars

#16712 Fix DataFrame.drop(columns=cudf.Series/Index, axis=1)
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, Python, non-breaking

#16810 [DOC] Update Pylibcudf doc strings
  python/pylibcudf/pylibcudf/binaryop.pyx
  python/pylibcudf/pylibcudf/column_factories.pyx
  python/pylibcudf/pylibcudf/groupby.pyx
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/labeling.pyx
  python/pylibcudf/pylibcudf/lists.pyx
  python/pylibcudf/pylibcudf/merge.pyx
  python/pylibcudf/pylibcudf/quantiles.pyx
  python/pylibcudf/pylibcudf/reshape.pyx
  python/pylibcudf/pylibcudf/search.pyx
  python/pylibcudf/pylibcudf/sorting.pyx
  python/pylibcudf/pylibcudf/stream_compaction.pyx
  python/pylibcudf/pylibcudf/strings/findall.pyx
  python/pylibcudf/pylibcudf/transform.pyx
Labels: doc, Python, 5 - Ready to Merge, non-breaking, pylibcudf

#16914 Branch 24.12 merge branch 24.10
  build.sh
  ci/run_cudf_polars_polars_tests.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_wheel_cudf_polars.sh
  dependencies.yaml
  python/cudf_polars/cudf_polars/__init__.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/testing/test_asserts.py
Labels: Python, cudf.polars

#16780 Optimization of tdigest merge aggregation.
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/quantiles/tdigest.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
Labels: libcudf, CMake, Spark, improvement, non-breaking

#16864 Display deltas for `cudf.pandas` test summary
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/pandas-tests/job-summary.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#15979 JSON tree algorithms refactor I: CSR data structure for column tree
  cpp/CMakeLists.txt
  cpp/src/io/json/column_tree_construction.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/json/json_tree_csr.cu
Labels: libcudf, CMake, 5 - Ready to Merge, cuIO, improvement, non-breaking

#16910 Make tests deterministic
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking

#16875 Add polars to "all" dependency list.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: feature request, 5 - Ready to Merge, non-breaking

#16042 Migrate ORC reader to pylibcudf
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
  python/pylibcudf/pylibcudf/io/CMakeLists.txt
  python/pylibcudf/pylibcudf/io/__init__.pxd
  python/pylibcudf/pylibcudf/io/__init__.py
  python/pylibcudf/pylibcudf/io/orc.pxd
  python/pylibcudf/pylibcudf/io/orc.pyx
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/libcudf/io/orc.pxd
  python/pylibcudf/pylibcudf/libcudf/io/orc_metadata.pxd
  python/pylibcudf/pylibcudf/tests/common/utils.py
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
  python/pylibcudf/pylibcudf/tests/io/test_orc.py
Labels: feature request, Python, CMake, 5 - Ready to Merge, non-breaking, pylibcudf

#16918 Branch 24.12 merge branch 24.10
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/pandas-tests/job-summary.py
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/quantiles/tdigest.cu
  cpp/src/io/json/column_tree_construction.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json.hpp
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/json/json_tree_csr.cu
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
  python/pylibcudf/pylibcudf/binaryop.pyx
  python/pylibcudf/pylibcudf/column_factories.pyx
  python/pylibcudf/pylibcudf/groupby.pyx
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/labeling.pyx
  python/pylibcudf/pylibcudf/lists.pyx
  python/pylibcudf/pylibcudf/merge.pyx
  python/pylibcudf/pylibcudf/quantiles.pyx
  python/pylibcudf/pylibcudf/reshape.pyx
  python/pylibcudf/pylibcudf/search.pyx
  python/pylibcudf/pylibcudf/sorting.pyx
  python/pylibcudf/pylibcudf/stream_compaction.pyx
  python/pylibcudf/pylibcudf/strings/findall.pyx
  python/pylibcudf/pylibcudf/transform.pyx
Labels: libcudf, Python, CMake, pylibcudf

#16749 Add transpose API to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/transpose.rst
  python/cudf/cudf/_lib/transpose.pyx
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/__init__.pxd
  python/pylibcudf/pylibcudf/__init__.py
  python/pylibcudf/pylibcudf/tests/test_transpose.py
  python/pylibcudf/pylibcudf/transpose.pxd
  python/pylibcudf/pylibcudf/transpose.pyx
Labels: Python, CMake, improvement, non-breaking, pylibcudf

#16684 Add experimental `filesystem="arrow"` support in `dask_cudf.read_parquet`
  docs/dask_cudf/source/best_practices.rst
  docs/dask_cudf/source/index.rst
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/expr/_expr.py
  python/dask_cudf/dask_cudf/io/tests/test_s3.py
Labels: feature request, Python, 5 - Ready to Merge, dask, non-breaking

#16876 Fix 24.10 to 24.12 forward merge
  .github/workflows/pr.yaml
  ci/release/update-version.sh
  ci/test_cudf_polars_polars_tests.sh
  docs/dask_cudf/source/best_practices.rst
Labels: improvement, non-breaking

#16785 Add string.attributes APIs to pylibcudf
  python/cudf/cudf/_lib/strings/attributes.pyx
  python/pylibcudf/pylibcudf/strings/CMakeLists.txt
  python/pylibcudf/pylibcudf/strings/__init__.pxd
  python/pylibcudf/pylibcudf/strings/__init__.py
  python/pylibcudf/pylibcudf/strings/attributes.pxd
  python/pylibcudf/pylibcudf/strings/attributes.pyx
  python/pylibcudf/pylibcudf/tests/test_string_attributes.py
Labels: Python, CMake, 5 - Ready to Merge, improvement, non-breaking, pylibcudf

#16545 [REVIEW] JSON host tree algorithms
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/host_tree_algorithms.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/json_tree.cu
  cpp/src/io/json/nested_json.hpp
  cpp/tests/io/json/json_test.cpp
  cpp/tests/io/json/json_tree.cpp
  cpp/tests/io/json/json_tree_csr.cu
  java/src/main/java/ai/rapids/cudf/JSONOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
Labels: libcudf, 5 - Ready to Merge, cuIO, Java, improvement, non-breaking

#16771 Add io/timezone APIs to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/io/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/io/timezone.rst
  python/cudf/cudf/_lib/timezone.pyx
  python/pylibcudf/pylibcudf/io/CMakeLists.txt
  python/pylibcudf/pylibcudf/io/__init__.pxd
  python/pylibcudf/pylibcudf/io/__init__.py
  python/pylibcudf/pylibcudf/io/timezone.pxd
  python/pylibcudf/pylibcudf/io/timezone.pyx
  python/pylibcudf/pylibcudf/tests/io/test_timezone.py
Labels: Python, CMake, 5 - Ready to Merge, improvement, non-breaking, pylibcudf

#16781 Add partitioning APIs to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/partitioning.rst
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/_lib/partitioning.pyx
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/__init__.pxd
  python/pylibcudf/pylibcudf/__init__.py
  python/pylibcudf/pylibcudf/libcudf/partitioning.pxd
  python/pylibcudf/pylibcudf/partitioning.pxd
  python/pylibcudf/pylibcudf/partitioning.pyx
  python/pylibcudf/pylibcudf/tests/test_partitioning.py
Labels: Python, CMake, improvement, non-breaking, pylibcudf

#16859 Reapply `mixed_semi_join` refactoring and bug fixes
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/mixed_join_common_utils.cuh
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_kernels_semi.cuh
  cpp/src/join/mixed_join_semi.cu
  cpp/tests/join/mixed_join_tests.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#16921 Respect groupby.nunique(dropna=False)
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, Python, non-breaking

#16929 Fix links in Dask cuDF documentation
  docs/dask_cudf/source/best_practices.rst
  docs/dask_cudf/source/conf.py
  docs/dask_cudf/source/index.rst
Labels: doc, 5 - Ready to Merge, non-breaking

#16713 Use `changed-files` shared workflow
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#16928 Fix cudf::strings::findall error with empty input
  cpp/src/strings/search/findall.cu
  cpp/tests/strings/findall_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#16896 reduce wheel build verbosity, narrow deprecation warning filter
  ci/build_wheel.sh
  python/cudf/cudf/tests/pytest.ini
  python/dask_cudf/pyproject.toml
Labels: Python, improvement, non-breaking

#16474 Use numba-cuda>=0.0.13
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: numba, Python, improvement, non-breaking

#16937 clang-tidy fixes part 1
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/include/cudf/detail/utilities/host_vector.hpp
  cpp/include/cudf/dictionary/dictionary_column_view.hpp
  cpp/include/cudf/groupby.hpp
  cpp/include/cudf/io/json.hpp
  cpp/include/cudf/lists/lists_column_view.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/strings/detail/char_tables.hpp
  cpp/include/cudf/strings/regex/regex_program.hpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/include/cudf/structs/structs_column_view.hpp
  cpp/include/cudf/tdigest/tdigest_column_view.hpp
  cpp/include/cudf/utilities/span.hpp
Labels: libcudf, improvement, non-breaking

#16939 clang-tidy fixes part 3
  cpp/tests/copying/copy_tests.cpp
  cpp/tests/filling/sequence_tests.cpp
  cpp/tests/groupby/collect_list_tests.cpp
  cpp/tests/interop/dlpack_test.cpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_chunked_writer_test.cpp
  cpp/tests/io/parquet_common.cpp
  cpp/tests/io/parquet_misc_test.cpp
  cpp/tests/io/parquet_reader_test.cpp
  cpp/tests/io/parquet_v2_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
  cpp/tests/json/json_tests.cpp
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
  cpp/tests/rolling/nth_element_test.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/strings/chars_types_tests.cpp
  cpp/tests/strings/contains_tests.cpp
  cpp/tests/strings/durations_tests.cpp
  cpp/tests/strings/extract_tests.cpp
  cpp/tests/strings/findall_tests.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: libcudf, improvement, non-breaking

#16829 Remove superfluous use of std::vector for std::future
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf, improvement, non-breaking

#16938 clang-tidy fixes part 2
  cpp/src/datetime/timezone.cpp
  cpp/src/dictionary/dictionary_column_view.cpp
  cpp/src/interop/dlpack.cpp
  cpp/src/io/avro/avro.cpp
  cpp/src/io/avro/avro.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/jit/parser.cpp
  cpp/src/strings/regex/regcomp.cpp
  cpp/src/utilities/stream_pool.cpp
Labels: libcudf, improvement, non-breaking

#16747 Avoid public constructors when called with columns to avoid unnecessary validation
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/core/window/rolling.py
Labels: Python, improvement, non-breaking

#16927 Fix JsonLargeReaderTest.MultiBatch use of LIBCUDF_JSON_BATCH_SIZE env var
  cpp/tests/large_strings/json_tests.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#16923 Parse newline as whitespace character while tokenizing JSONL inputs with non-newline delimiter
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json/json_test.cpp
  cpp/tests/io/json/nested_json_test.cpp
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#16949 Apply clang-tidy autofixes
  cpp/.clang-tidy
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf_test/type_list_utilities.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/utilities/output_builder.cuh
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/binaryop/util/operation.h
  cpp/tests/groupby/mean_tests.cpp
  cpp/tests/io/json/json_test.cpp
  cpp/tests/io/parquet_common.hpp
  cpp/tests/io/text/multibyte_split_test.cpp
Labels: libcudf, improvement, non-breaking

#16826 Rework `read_csv` IO to avoid reading whole input with a single `host_read`
  cpp/src/io/csv/reader_impl.cu
Labels: libcudf, Performance, improvement, non-breaking

#16907 Fix order-preservation in cudf-polars groupby
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_groupby.py
Labels: bug, Python, non-breaking, cudf.polars

#16942 Fix order-preservation in pandas-compat unsorted groupby
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/groupby/test_ordering_pandas_compat.py
Labels: bug, Python, non-breaking, cudf.pandas, cuDF (Python)
