Repository rapidsai/cudf, pull requests merged in 2024-03, with the labels that each got.

#14921 Fix chunked reads of Parquet delta encoded pages
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_string_decode.cu
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#15169 Implement `segmented_row_bit_count` for computing row sizes by segments of rows
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/transform/row_bit_count.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/transform/segmented_row_bit_count_test.cu
Labels: feature request, 3 - Ready for Review, libcudf, CMake, helps: Spark, non-breaking

#15194 Fix includes for row_operators.cuh
  cpp/include/cudf/table/row_operators.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15171 Change make_strings_children to return uvector
  cpp/benchmarks/json/json.cu
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/json/write_json.cu
  cpp/src/lists/interleave_columns.cu
  cpp/src/replace/clamp.cu
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/combine/concatenate.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/combine/join_list_elements.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_lists.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/regex/utilities.cuh
  cpp/src/strings/repeat_strings.cu
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/replace/replace_slice.cu
  cpp/src/strings/slice.cu
  cpp/src/strings/translate.cu
  cpp/src/text/detokenize.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/normalize.cu
  cpp/src/text/replace.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15166 Implement search using pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/search.rst
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/search.pxd
  python/cudf/cudf/_lib/pylibcudf/search.pyx
  python/cudf/cudf/_lib/search.pyx
Labels: feature request, 3 - Ready for Review, cuDF (Python), CMake, non-breaking

#15210 [JNI] Disable testChunkedPackTwoPasses for now
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: bug, tests, cuDF (Java), non-breaking

#15212 Fix accessing `.columns` by an external API
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15175 Expose new stable_sort and finish stream_compaction in pylibcudf
  python/cudf/cudf/_lib/cpp/sorting.pxd
  python/cudf/cudf/_lib/cpp/stream_compaction.pxd
  python/cudf/cudf/_lib/pylibcudf/sorting.pxd
  python/cudf/cudf/_lib/pylibcudf/sorting.pyx
  python/cudf/cudf/_lib/pylibcudf/stream_compaction.pxd
  python/cudf/cudf/_lib/pylibcudf/stream_compaction.pyx
  python/cudf/cudf/_lib/stream_compaction.pyx
Labels: cuDF (Python), improvement, non-breaking

#15207 Switch `pytest-xdist` algo to `worksteal`
  ci/test_python_cudf.sh
  ci/test_python_other.sh
  ci/test_wheel_cudf.sh
Labels: 5 - Ready to Merge, improvement, non-breaking, ci

#14917 Replace local copyright check with pre-commit-hooks verify-copyright
  .pre-commit-config.yaml
  ci/checks/copyright.py
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#15033 API for JSON unquoted whitespace normalization
  cpp/CMakeLists.txt
  cpp/include/cudf/io/detail/json.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/json_normalization.cu
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json_whitespace_normalization_test.cu
  java/src/main/java/ai/rapids/cudf/JSONOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/resources/whitespaces.json
Labels: feature request, 2 - In Progress, libcudf, CMake, cuDF (Java), non-breaking

#15155 Fix `ListColumn.to_pandas()` to retain `list` type
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15208 Update labeler and codeowner configs for CMake files
  .github/CODEOWNERS
  .github/labeler.yml
Labels: bug, non-breaking

#15099 Update devcontainers to CUDA Toolkit 12.2
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#15182 Allow to_pandas to return pandas.ArrowDtype
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), improvement, non-breaking

#14698 Use as_column instead of full
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_testing.py
  python/cudf/cudf/utils/utils.py
  python/dask_cudf/dask_cudf/backends.py
Labels: cuDF (Python), improvement, non-breaking

#15228 Add ListColumns.to_pandas(arrow_type=)
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), improvement, non-breaking

#15189 Implement zero-copy host buffer source instead of using an arrow implementation
  cpp/src/io/utilities/datasource.cpp
Labels: feature request, libcudf, 5 - Ready to Merge, non-breaking

#15220 Fix testchunkedPackTwoPasses to copy from the bounce buffer
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: bug, tests, cuDF (Java), non-breaking

#15197 Change strings_column_view::char_size to return int64
  cpp/benchmarks/string/case.cpp
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/src/strings/strings_column_view.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, breaking

#15188 Improvements for `__cuda_array_interface__` tests
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
Labels: cuDF (Python), improvement, non-breaking

#15143 Fix GroupBy.get_group and GroupBy.indices
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/groupby/test_groupby_obj.py
Labels: bug, cuDF (Python), non-breaking

#15202 Tune up row size estimation in the data generator
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/common/generate_input.hpp
Labels: tests, libcudf, 5 - Ready to Merge, improvement, non-breaking

#15219 [JNI] rmm based pinned pool
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/HostMemoryBufferTest.java
  java/src/test/java/ai/rapids/cudf/PinnedMemoryPoolTest.java
Labels: feature request, Performance, cuDF (Java), helps: Spark, non-breaking

#15140 Use `hostdevice_vector` in `kernel_error` to avoid the pageable copy
  cpp/src/io/parquet/error.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/hostdevice_span.hpp
Labels: libcudf, cuIO, Performance, helps: Spark, improvement, non-breaking

#15180 Ignore `byte_range` in `read_json` when the size is not smaller than the input data
  cpp/src/io/json/read_json.cu
Labels: libcudf, cuIO, Performance, improvement, non-breaking

#15218 Clean up usage of __CUDA_ARCH__ and other macros.
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/src/filling/repeat.cu
  cpp/src/hash/managed.cuh
  cpp/src/io/comp/snap.cu
  cpp/src/io/fst/agent_dfa.cuh
  cpp/src/transform/row_conversion.cu
Labels: libcudf, improvement, non-breaking

#15191 Generalize GHA selectors for pure Python testing
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#15234 Remove row conversion code from libcudf
  cpp/CMakeLists.txt
  cpp/include/cudf/row_conversion.hpp
  cpp/src/transform/row_conversion.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/transform/row_conversion.cpp
Labels: 3 - Ready for Review, libcudf, CMake, helps: Spark, improvement, non-breaking

#15238 Update `developer_guide.md` with new guidance on quoted internal includes
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/src/io/parquet/error.hpp
Labels: doc, libcudf, non-breaking

#15149 Add distinct left join
  cpp/benchmarks/join/distinct_join.cu
  cpp/include/cudf/detail/distinct_hash_join.cuh
  cpp/include/cudf/join.hpp
  cpp/src/join/distinct_hash_join.cu
  cpp/tests/join/distinct_join_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, Performance, non-breaking

#15081 Add ability to request Parquet encodings on a per-column basis
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: feature request, libcudf, non-breaking

#15205 Deprecate strings_column_view::offsets_begin()
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/strings_column_view.cpp
  cpp/tests/strings/array_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15203 Add `get_upstream_resource` method to `stream_checking_resource_adaptor`
  cpp/include/cudf_test/stream_checking_resource_adaptor.hpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15237 Update dlpack to version 0.8
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/cmake/thirdparty/get_dlpack.cmake
  dependencies.yaml
Labels: libcudf, CMake, conda, improvement, non-breaking

#15223 Treat dask-cudf CI artifacts as pure wheels
  ci/build_wheel_dask_cudf.sh
  ci/test_wheel_dask_cudf.sh
Labels: improvement, non-breaking, ci

#15154 Java bindings for left outer distinct join
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: cuDF (Java), helps: Spark, improvement, non-breaking

#15125 Clean up Columns.astype & cudf.dtype
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/utils/dtypes.py
Labels: cuDF (Python), improvement, non-breaking

#15129 DataFrame.columns = ... retains RangeIndex & set dtype
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), non-breaking

#15150 Avoid factorization in MultiIndex.to_pandas
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dropna.py
Labels: bug, cuDF (Python), non-breaking

#15225 Migrate filling operations to pylibcudf
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/api_docs/pylibcudf/filling.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/filling.pxd
  python/cudf/cudf/_lib/pylibcudf/filling.pyx
Labels: feature request, cuDF (Python), CMake, non-breaking

#14973 Use page statistics in Parquet reader
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_reader_test.cpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#14939 Fix Null literals to be not parsed as string when mixed types as string is enabled in JSON reader
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, 4 - Needs Review, cuIO, non-breaking

#15247 Add CUDA 12.4 to supported PTX versions
  python/cudf/cudf/utils/_numba.py
Labels: cuDF (Python), improvement, non-breaking

#15167 Don't override to_pandas for Datelike columns
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
Labels: cuDF (Python), improvement, non-breaking

#15123 Simplify some to_pandas implementations
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/utils/dtypes.py
Labels: cuDF (Python), improvement, non-breaking

#15079 Add general purpose host memory allocator reference to cuIO with a demo of pooled-pinned allocation.
  cpp/benchmarks/fixture/nvbench_fixture.hpp
  cpp/benchmarks/fixture/nvbench_main.cpp
  cpp/include/cudf/detail/utilities/rmm_host_vector.hpp
  cpp/include/cudf/io/memory_resource.hpp
  cpp/include/cudf/utilities/export.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/config_utils.cpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities_tests/io_utilities_tests.cpp
Labels: libcudf, CMake, cuIO, improvement, non-breaking

#15248 Fix number of rows in randomly generated lists columns
  cpp/benchmarks/common/generate_input.cu
Labels: bug, tests, libcudf, 5 - Ready to Merge, non-breaking

#15239 Add DELTA_BYTE_ARRAY encoder for Parquet
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_reader_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: feature request, libcudf, non-breaking

#15241 Remove create_chars_child_column utility
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/strings/utilities.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15213 Rewrite conversion in terms of column
  cpp/include/cudf/detail/interop.hpp
  cpp/src/interop/from_arrow.cu
  python/cudf/cudf/_lib/scalar.pyx
Labels: libcudf, cuDF (Python), improvement, non-breaking

#15236 Improve performance in JSON reader when `mixed_types_as_string` option is enabled
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json.hpp
Labels: libcudf, 5 - Ready to Merge, Performance, improvement, non-breaking

#15178 Use NVTX from GitHub.
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvtx.cmake
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cudf/detail/nvtx/nvtx3.hpp
  cpp/include/cudf/detail/nvtx/ranges.hpp
  cpp/src/join/distinct_hash_join.cu
  cpp/tests/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/NvtxRangeJni.cpp
  java/src/main/native/src/NvtxUniqueRangeJni.cpp
  java/src/main/native/src/check_nvcomp_output_sizes.cu
Labels: feature request, libcudf, CMake, cuDF (Java), non-breaking

#15255 Use JNI pinned pool resource with cuIO
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/PinnedMemoryPoolTest.java
Labels: feature request, cuDF (Java), helps: Spark, non-breaking

#15134 Add cardinality control for groupby benchs with flat types
  cpp/benchmarks/groupby/group_max.cpp
  cpp/benchmarks/groupby/group_nunique.cpp
  cpp/benchmarks/groupby/group_rank.cpp
Labels: feature request, 3 - Ready for Review, libcudf, non-breaking

#14936 Support casting of Map type to string in JSON reader
  cpp/CMakeLists.txt
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/parser_features.cpp
  cpp/tests/io/json_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, 4 - Needs Review, cuIO, helps: Spark, non-breaking

#15265 Temporarily disable docs errors.
  ci/build_docs.sh
  python/cudf/cudf/core/column/column.py
Labels: doc, cuDF (Python), non-breaking, ci

#15269 Revert "Temporarily disable docs errors. (#15265)"
  ci/build_docs.sh
Labels: doc, non-breaking, ci

#15259 Workaround compute-sanitizer memcheck bug
  ci/run_cudf_memcheck_ctests.sh
  cpp/tests/iterator/value_iterator_test_numeric.cu
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/reductions/segmented_reduction_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking, ci

#15271 Make linking of nvtx3-cpp BUILD_LOCAL_INTERFACE
  cpp/CMakeLists.txt
Labels: bug, 2 - In Progress, libcudf, CMake, non-breaking

#15242 Roll back ipow changes due to register pressure.
  cpp/include/cudf/fixed_point/fixed_point.hpp
Labels: libcudf, Performance, improvement, non-breaking

#14805 Introduce basic "cudf" backend for Dask Expressions
  ci/test_python_other.sh
  ci/test_wheel_dask_cudf.sh
  python/dask_cudf/dask_cudf/__init__.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/expr/__init__.py
  python/dask_cudf/dask_cudf/expr/_collection.py
  python/dask_cudf/dask_cudf/expr/_expr.py
  python/dask_cudf/dask_cudf/expr/_groupby.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_s3.py
  python/dask_cudf/dask_cudf/io/tests/test_text.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_applymap.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_join.py
  python/dask_cudf/dask_cudf/tests/test_onehot.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
  python/dask_cudf/dask_cudf/tests/utils.py
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking, ci

#15252 Cleanup `hostdevice_vector` and add more APIs
  cpp/src/io/utilities/hostdevice_vector.hpp
Labels: bug, 3 - Ready for Review, libcudf, helps: Spark, non-breaking

#15254 Implement grouped product scan
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/group_product_scan.cu
  cpp/src/groupby/sort/group_scan.hpp
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/scan.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/product_scan_tests.cpp
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/tests/test_groupby.py
Labels: libcudf, cuDF (Python), CMake, improvement, non-breaking

#15147 Enable pandas pytests for `cudf.pandas`
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  dependencies.yaml
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
  python/cudf/pyproject.toml
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking, ci

#14962 Add missing atomic operators, refactor atomic operators, move atomic operators to detail namespace.
  cpp/benchmarks/join/generate_input_tables.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/json/legacy/json_gpu.cu
  cpp/src/io/utilities/parsing_utils.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/tests/device_atomics/device_atomics_test.cu
Labels: libcudf, improvement, breaking

#15263 Fix cudf::test::to_host return of host_vector
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf_test/column_utilities.hpp
  cpp/tests/utilities/column_utilities.cu
Labels: libcudf, improvement, non-breaking

#15109 Correctly handle output for `GroupBy.apply` when chunk results are reindexed series
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), non-breaking

#15284 Add timeout for `cudf.pandas` pandas tests
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: cuDF (Python), improvement, non-breaking

#15283 Add upper bound to prevent usage of NumPy 2
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#15287 Reintroduce PANDAS_GE_220 import
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, 5 - Ready to Merge, non-breaking

#15291 Fix Doxygen upload directory
  ci/build_docs.sh
Labels: bug, non-breaking, ci

#15244 Implement DataFrame|Series.squeeze
  docs/cudf/source/user_guide/api_docs/dataframe.rst
  docs/cudf/source/user_guide/api_docs/series.rst
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
  python/dask_cudf/dask_cudf/expr/_expr.py
Labels: cuDF (Python), improvement, non-breaking

#15296 Make test_read_parquet_partitioned_filtered data deterministic
  python/cudf/cudf/tests/test_parquet.py
Labels: cuDF (Python), improvement, non-breaking

#15215 DOC: use constants in performance-comparisons.ipynb
  docs/cudf/source/user_guide/performance-comparisons/performance-comparisons.ipynb
Labels: improvement, non-breaking

#15282 Fix mean computation for the geometric distribution in the data generator
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/common/generate_input.hpp
  cpp/benchmarks/common/random_distribution_factory.cuh
Labels: bug, tests, libcudf, 5 - Ready to Merge, non-breaking

#15307 This fixes an NPE when trying to read empty JSON data by adding a new API for missing information
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/TableWithMeta.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: 3 - Ready for Review, cuDF (Java), helps: Spark, improvement, non-breaking

#15309 Fix OOB read in `inflate_kernel`
  cpp/src/io/comp/gpuinflate.cu
Labels: bug, libcudf, cuIO, non-breaking

#15317 Fix gtests/ERROR_TEST errors when run in Debug
  cpp/tests/error/error_handling_test.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15312 Replace black with ruff-format
  .pre-commit-config.yaml
  pyproject.toml
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/udf/strings_lowering.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/profiler.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), improvement, non-breaking

#15293 Work around a cuFile error when running CSV tests with memcheck
  cpp/src/io/utilities/datasource.cpp
Labels: bug, libcudf, cuIO, non-breaking

#15316 Enable branch testing for `cudf.pandas`
  .github/workflows/test.yaml
  ci/cudf_pandas_scripts/pandas-tests/run.sh
Labels: improvement, non-breaking, ci

#15326 Allow ``numeric_only=True`` for simple groupby reductions
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: cuDF (Python), dask, improvement, non-breaking

#15301 Update script input name
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#15325 Restructure pylibcudf/arrow interop facilities
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/nvtext/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/column.pyx
  python/cudf/cudf/_lib/pylibcudf/interop.pxd
  python/cudf/cudf/_lib/pylibcudf/interop.pyx
  python/cudf/cudf/_lib/pylibcudf/scalar.pxd
  python/cudf/cudf/_lib/pylibcudf/scalar.pyx
  python/cudf/cudf/_lib/pylibcudf/table.pxd
  python/cudf/cudf/_lib/pylibcudf/table.pyx
  python/cudf/cudf/_lib/pylibcudf/types.pxd
  python/cudf/cudf/_lib/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/strings/CMakeLists.txt
  python/cudf/cudf/_lib/strings/convert/CMakeLists.txt
  python/cudf/cudf/_lib/strings/split/CMakeLists.txt
Labels: cuDF (Python), CMake, improvement, breaking

#15319 Change exceptions thrown by copying APIs
  cpp/include/cudf/contiguous_split.hpp
  cpp/include/cudf/copying.hpp
  cpp/include/cudf/detail/null_mask.cuh
  cpp/src/copying/contiguous_split.cu
  cpp/src/copying/copy.cu
  cpp/src/copying/copy_range.cu
  cpp/src/copying/gather.cu
  cpp/src/copying/get_element.cu
  cpp/src/copying/scatter.cu
  cpp/src/copying/shift.cu
  cpp/src/copying/slice.cu
  cpp/src/copying/split.cpp
  cpp/tests/bitmask/bitmask_tests.cpp
  cpp/tests/copying/copy_range_tests.cpp
  cpp/tests/copying/copy_tests.cpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/copying/scatter_tests.cpp
  cpp/tests/copying/shift_tests.cpp
  cpp/tests/copying/slice_tests.cpp
  cpp/tests/copying/split_tests.cpp
Labels: libcudf, improvement, breaking

#15281 Fix Parquet decimal64 stats
  cpp/src/io/parquet/page_enc.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15324 Address inconsistency in single quote normalization in JSON reader
  cpp/src/io/json/json_normalization.cu
  cpp/tests/io/json_quote_normalization_test.cpp
Labels: feature request, libcudf, non-breaking

#15200 Fix `offset` value for generating test data in `parquet_chunked_reader_test.cu`
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: tests, libcudf, improvement, non-breaking

#15333 Avoid duplicate dask-cudf testing
  ci/test_python_other.sh
  ci/test_wheel_dask_cudf.sh
Labels: 3 - Ready for Review, tests, improvement, non-breaking, ci

#15304 Address poor performance of Parquet string decoding
  cpp/src/io/parquet/page_string_decode.cu
Labels: 2 - In Progress, libcudf, improvement, non-breaking

#15340 Avoid importing dask-expr if "query-planning" config is `False`
  python/dask_cudf/dask_cudf/expr/__init__.py
Labels: bug, cuDF (Python), dask, non-breaking

#15343 Disable dask-expr in docs builds.
  ci/build_docs.sh
Labels: bug, libcudf, cuDF (Python), CMake, conda, cuDF (Java), non-breaking, ci

#15323 Drop CentOS 7 support.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_cudf.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  ci/cudf_pandas_scripts/run_tests.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_dask_cudf.sh
  cpp/cmake/thirdparty/get_arrow.cmake
Labels: libcudf, CMake, improvement, non-breaking, ci

#15349 Forward-merge branch-24.04 to branch-24.06
  cpp/src/io/parquet/page_string_decode.cu
  python/dask_cudf/dask_cudf/expr/__init__.py
Labels: libcudf, cuDF (Python), improvement, non-breaking

#13535 List all notable breaking changes
  docs/cudf/source/user_guide/index.md
  docs/cudf/source/user_guide/pandas-2.0-breaking-changes.md
Labels: improvement, non-breaking

#15351 [BUG][JNI] Trigger MemoryBuffer.onClosed after memory is freed
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/MemoryBuffer.java
Labels: bug, cuDF (Java), helps: Spark, non-breaking

#15357 Forward-merge branch-24.04 to branch-24.06
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/MemoryBuffer.java
Labels: cuDF (Java)

#15342 Fix an issue with multiple short list rowgroups using the Parquet chunked reader.
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: bug, libcudf, helps: Spark, non-breaking

#15355 Update pre-commit-hooks to v0.0.3
  .pre-commit-config.yaml
Labels: bug, non-breaking

#15345 Use ruff pydocstyle over pydocstyle pre-commit hook
  .pre-commit-config.yaml
  docs/cudf/source/developer_guide/contributing_guide.md
  docs/cudf/source/developer_guide/documentation.md
  pyproject.toml
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/accessors.py
Labels: cuDF (Python), improvement, non-breaking

#15362 Remove boundscheck=False setting in cython files
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/parquet.pyx
Labels: bug, cuDF (Python), non-breaking

#15305 Rework cudf::find_and_replace_all to use gather-based make_strings_column
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/replace.hpp
  cpp/src/replace/replace.cu
  cpp/src/strings/replace/find_replace.cu
  cpp/tests/replace/replace_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#15373 Fix arrow-based round trip of empty dataframes
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/dataframe/test_io_serialization.py
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, cuDF (Python), non-breaking

#15331 Update udf_cpp to use rapids_cpm_cccl.
  python/cudf/udf_cpp/CMakeLists.txt
Labels: cuDF (Python), CMake, improvement, non-breaking

#15392 Ignore DLManagedTensor in the docs build
  docs/cudf/source/conf.py
Labels: 3 - Ready for Review, doc, non-breaking

#15365 Use logical types in Parquet reader
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_data.cuh
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf, improvement, non-breaking

#15403 Use `conda env create --yes` instead of `--force`
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_cpp_common.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
Labels: improvement, non-breaking, ci
