Repository rapidsai/cudf, pull requests merged in 2024-06, with the labels that each got.

#15830 Add an option to run cuIO benchmarks with pinned buffers as input
  cpp/benchmarks/io/csv/csv_reader_input.cpp
  cpp/benchmarks/io/csv/csv_writer.cpp
  cpp/benchmarks/io/cuio_common.cpp
  cpp/benchmarks/io/cuio_common.hpp
  cpp/benchmarks/io/json/json_reader_input.cpp
  cpp/benchmarks/io/json/json_writer.cpp
  cpp/benchmarks/io/nvbench_helpers.hpp
  cpp/benchmarks/io/orc/orc_reader_input.cpp
  cpp/benchmarks/io/orc/orc_writer.cpp
  cpp/benchmarks/io/parquet/parquet_reader_multithread.cpp
  cpp/benchmarks/io/parquet/parquet_writer.cpp
Labels: feature request, tests, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#15479 Implement day_name and month_name to match pandas
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Labels: cuDF (Python), improvement, non-breaking

#15898 Rename strings multiple target replace API
  cpp/benchmarks/string/replace.cpp
  cpp/include/cudf/strings/detail/replace.hpp
  cpp/include/cudf/strings/replace.hpp
  cpp/src/strings/replace/multi.cu
  cpp/tests/json/json_tests.cpp
  cpp/tests/streams/strings/replace_test.cpp
  cpp/tests/strings/replace_tests.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  python/cudf/cudf/_lib/pylibcudf/libcudf/strings/replace.pxd
  python/cudf/cudf/_lib/strings/replace.pyx
Labels: 3 - Ready for Review, libcudf, cuDF (Python), cuDF (Java), strings, improvement, breaking

#15870 Use offsetalator in strings shift functor
  cpp/src/strings/copying/shift.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15892 Clean up pylibcudf test assertations
  python/cudf/cudf/pylibcudf_tests/common/utils.py
  python/cudf/cudf/pylibcudf_tests/test_copying.py
  python/cudf/cudf/pylibcudf_tests/test_reshape.py
  python/cudf/cudf/pylibcudf_tests/test_string_capitalize.py
Labels: cuDF (Python), improvement, non-breaking, pylibcudf

#15888 Improve options docs
  docs/cudf/source/cudf_pandas/how-it-works.md
  docs/cudf/source/user_guide/api_docs/options.rst
  docs/cudf/source/user_guide/options.md
Labels: doc, non-breaking

#15893 Update Python labels and remove unnecessary ones
  .github/labeler.yml
Labels: improvement, non-breaking

#15399 Add support for additional metaclasses of proxies and use for ExcelWriter
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, non-breaking

#15257 Migrate column factories to pylibcudf
  cpp/src/column/column_factories.cpp
  cpp/tests/column/factories_test.cpp
  cpp/tests/fixed_point/fixed_point_tests.cpp
  docs/cudf/source/user_guide/api_docs/pylibcudf/column_factories.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/column_factories.pxd
  python/cudf/cudf/_lib/pylibcudf/column_factories.pyx
  python/cudf/cudf/_lib/pylibcudf/interop.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/column/column_factories.pxd
  python/cudf/cudf/_lib/pylibcudf/types.pxd
  python/cudf/cudf/_lib/pylibcudf/types.pyx
  python/cudf/cudf/pylibcudf_tests/test_column_factories.py
  python/cudf/cudf/pylibcudf_tests/test_interop.py
Labels: feature request, 3 - Ready for Review, libcudf, Python, CMake, non-breaking, pylibcudf

#15887 Add overflow check when converting large strings to lists columns
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/reshape/byte_cast.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15890 Ensure literals have correct dtype
  python/cudf/cudf/_lib/pylibcudf/interop.pyx
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/__init__.py
  python/cudf_polars/tests/expressions/__init__.py
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/expressions/test_distinct.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#15861 Make Frame.astype return Self instead of a ColumnAccessor
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
Labels: Python, improvement, non-breaking

#15833 Make Column.to_pandas return Index instead of Series
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
Labels: Python, improvement, non-breaking

#15851 Remove internal usage of core.index.as_index in favor of cudf.Index
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_contains.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: Python, improvement, non-breaking

#15839 Migrate string replace.pxd to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/strings/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/strings/replace.rst
  python/cudf/cudf/_lib/pylibcudf/strings/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/strings/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/strings/__init__.py
  python/cudf/cudf/_lib/pylibcudf/strings/replace.pxd
  python/cudf/cudf/_lib/pylibcudf/strings/replace.pyx
  python/cudf/cudf/_lib/strings/replace.pyx
  python/cudf/cudf/pylibcudf_tests/test_string_replace.py
Labels: feature request, Python, CMake, non-breaking, pylibcudf

#15889 DOC: Add documentation for cudf.pandas in the Developer Guide
  docs/cudf/source/developer_guide/cudf_pandas.md
  docs/cudf/source/developer_guide/index.md
Labels: 3 - Ready for Review, doc, non-breaking, cudf.pandas

#15933 Allow tests to be built when stream util is disabled
  cpp/tests/CMakeLists.txt
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#15880 Migrate strings `contains` operations to `pylibcudf`
  docs/cudf/source/user_guide/api_docs/pylibcudf/strings/contains.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/strings/index.rst
  python/cudf/cudf/_lib/pylibcudf/libcudf/strings/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/libcudf/strings/regex_flags.pxd
  python/cudf/cudf/_lib/pylibcudf/libcudf/strings/regex_flags.pyx
  python/cudf/cudf/_lib/pylibcudf/strings/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/strings/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/strings/__init__.py
  python/cudf/cudf/_lib/pylibcudf/strings/contains.pxd
  python/cudf/cudf/_lib/pylibcudf/strings/contains.pyx
  python/cudf/cudf/_lib/pylibcudf/strings/regex_flags.pxd
  python/cudf/cudf/_lib/pylibcudf/strings/regex_flags.pyx
  python/cudf/cudf/_lib/pylibcudf/strings/regex_program.pxd
  python/cudf/cudf/_lib/pylibcudf/strings/regex_program.pyx
  python/cudf/cudf/_lib/strings/contains.pyx
  python/cudf/cudf/pylibcudf_tests/test_regex_program.py
  python/cudf/cudf/pylibcudf_tests/test_string_contains.py
Labels: feature request, Python, CMake, non-breaking, pylibcudf

#15914 Introduce `NamedColumn` concept in cudf-polars
  python/cudf_polars/cudf_polars/containers/__init__.py
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
  python/cudf_polars/cudf_polars/utils/sorting.py
  python/cudf_polars/docs/overview.md
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/test_select.py
  python/cudf_polars/tests/test_union.py
Labels: Python, improvement, non-breaking, cudf.polars

#15728 Implement chunked parquet reader in cudf-python
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/parquet.pxd
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, pylibcudf

#15940 Document how to use cudf.pandas in tandem with multiprocessing
  docs/cudf/source/cudf_pandas/usage.md
Labels: doc, non-breaking, cudf.pandas

#15942 Add more complete type annotations in polars interpreter
  .pre-commit-config.yaml
  python/cudf_polars/cudf_polars/__init__.py
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/py.typed
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.polars

#15874 Migrate quantile.pxd to pylibcudf
  cpp/src/quantiles/quantiles.cu
  cpp/tests/quantiles/quantiles_test.cpp
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/quantiles.rst
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/quantiles.pxd
  python/cudf/cudf/_lib/pylibcudf/quantiles.pyx
  python/cudf/cudf/_lib/quantiles.pyx
  python/cudf/cudf/pylibcudf_tests/conftest.py
  python/cudf/cudf/pylibcudf_tests/test_quantiles.py
Labels: feature request, libcudf, Python, CMake, non-breaking, pylibcudf

#15900 Use offsetalator in cudf::io::json::detail::parse_string
  cpp/src/io/utilities/data_casting.cu
  cpp/tests/io/json_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15921 Fix offsetalator when accessing over 268 million rows
  cpp/include/cudf/detail/offsets_iterator.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/large_strings/large_strings_fixture.cpp
  cpp/tests/large_strings/large_strings_fixture.hpp
  cpp/tests/large_strings/many_strings_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#15784 Allow anonymous user in devcontainer name.
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/CODEOWNERS
Labels: bug, non-breaking

#15941 Reland "Fix docs for IO readers and strings_convert" (#15872)"
  ci/build_docs.sh
  docs/cudf/source/libcudf_docs/api_docs/io_readers.rst
  docs/cudf/source/libcudf_docs/api_docs/strings_convert.rst
Labels: doc, non-breaking

#15923 Define Column.nan_as_null to return self
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_series.py
Labels: Python, improvement, non-breaking

#15885 Handling for `NaN` and `inf` when converting floating point to fixed point types
  cpp/src/unary/cast_ops.cu
  cpp/tests/unary/cast_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, Spark, non-breaking

#15936 Add __array_interface__ to cudf.pandas numpy.ndarray proxy
  python/cudf/cudf/pandas/_wrappers/common.py
  python/cudf/cudf/pandas/_wrappers/numpy.py
Labels: bug, Python, non-breaking, cudf.pandas

#15955 Remove unused parsing utilities
  cpp/CMakeLists.txt
  cpp/src/io/utilities/parsing_utils.cu
  cpp/src/io/utilities/parsing_utils.cuh
Labels: libcudf, CMake, cuIO, improvement, non-breaking

#15837 Add an Environment Variable for debugging the fast path in cudf.pandas
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: feature request, Python, non-breaking, cudf.pandas

#15831 Refactor Parquet writer options and builders
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/parquet.pxd
Labels: libcudf, Python, improvement, non-breaking, pylibcudf

#15829 Fix large strings handling in nvtext::character_tokenize
  cpp/benchmarks/text/tokenize.cpp
  cpp/include/nvtext/tokenize.hpp
  cpp/src/text/tokenize.cu
  cpp/tests/text/tokenize_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: bug, 3 - Ready for Review, libcudf, Python, strings, breaking

#15950 Support arbitrary CUDA versions in UDF code
  python/cudf/cudf/_lib/pylibcudf/libcudf/strings_udf.pxd
  python/cudf/cudf/_lib/strings_udf.pyx
  python/cudf/cudf/utils/_numba.py
  python/cudf/udf_cpp/CMakeLists.txt
  python/cudf/udf_cpp/strings/include/cudf/strings/udf/udf_apis.hpp
  python/cudf/udf_cpp/strings/src/strings/udf/udf_apis.cu
Labels: Python, CMake, improvement, non-breaking, pylibcudf

#15935 Support timezone aware pandas inputs in cudf
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/series/test_datetimelike.py
  python/cudf/cudf/tests/test_datetime.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: Python, improvement, non-breaking, cuDF (Python)

#15949 Preserve column type and class information in more DataFrame operations
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, Python, non-breaking, cuDF (Python)

#15959 Explicitly build for all GPU architectures
  conda/recipes/libcudf/build.sh
Labels: bug, non-breaking

#15704 Update PandasCompat.py to resolve references
  docs/cudf/source/_ext/PandasCompat.py
  docs/cudf/source/conf.py
Labels: doc, non-breaking

#15965 Add typing to single_column_frame
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python, improvement, non-breaking

#15945 Add external issue label and project automation
  .github/workflows/external_issue_labeler.yml
  .github/workflows/pr_issue_status_automation.yml
Labels: improvement, non-breaking

#15931 Migrate left join and conditional join benchmarks to use nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/join/conditional_join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/left_join.cu
Labels: feature request, libcudf, CMake, non-breaking

#15958 Condense pylibcudf data fixtures
  python/cudf/cudf/pylibcudf_tests/test_copying.py
  python/cudf/cudf/pylibcudf_tests/test_quantiles.py
  python/cudf/cudf/pylibcudf_tests/test_reshape.py
  python/cudf/cudf/pylibcudf_tests/test_string_capitalize.py
  python/cudf/cudf/pylibcudf_tests/test_string_contains.py
  python/cudf/cudf/pylibcudf_tests/test_string_find.py
Labels: Python, improvement, non-breaking, pylibcudf

#15953 Remove `Scalar` container type from polars interpreter
  python/cudf_polars/cudf_polars/__init__.py
  python/cudf_polars/cudf_polars/containers/__init__.py
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/containers/scalar.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/sorting.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/utils/__init__.py
  python/cudf_polars/tests/utils/test_broadcast.py
Labels: Python, improvement, non-breaking, cudf.polars

#15929 Fix `dask_cudf.read_parquet` regression for legacy timestamp data
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#15971 Project automation bug fixes
  .github/workflows/external_issue_labeler.yml
  .github/workflows/pr_issue_status_automation.yml
Labels: improvement, non-breaking

#15956 Add a developer check for proxy objects
  docs/cudf/source/developer_guide/cudf_pandas.md
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: feature request, 3 - Ready for Review, Python, 4 - Needs Review, non-breaking, cudf.pandas

#15978 Fix Cython typo preventing proper inheritance
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/parquet.pxd
Labels: bug, Python, non-breaking, pylibcudf

#15947 Support large strings in cudf::io::text::multibyte_split
  cpp/src/io/text/multibyte_split.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15928 Migrate lists/combine to pylibcudf
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/pylibcudf/lists.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pyx
  python/cudf/cudf/pylibcudf_tests/test_lists.py
Labels: feature request, Python, non-breaking, pylibcudf

#15895 Pinned vector factory that uses the global pool
  cpp/CMakeLists.txt
  cpp/benchmarks/fixture/nvbench_fixture.hpp
  cpp/benchmarks/io/cuio_common.cpp
  cpp/benchmarks/io/cuio_common.hpp
  cpp/benchmarks/io/parquet/parquet_reader_multithread.cpp
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/include/cudf/detail/utilities/host_vector.hpp
  cpp/include/cudf/detail/utilities/pinned_host_vector.hpp
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/include/cudf/io/memory_resource.hpp
  cpp/include/cudf/utilities/pinned_memory.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/text/bgzip_data_chunk_source.cu
  cpp/src/io/text/data_chunk_source_factories.cpp
  cpp/src/io/utilities/config_utils.cpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/src/utilities/pinned_memory.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/json_test.cpp
  cpp/tests/utilities_tests/io_utilities_tests.cpp
  cpp/tests/utilities_tests/pinned_memory_tests.cpp
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, Java, breaking

#15990 Add test coverage for slicing with "out of bounds" negative indices
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/test_slice.py
Labels: Python, improvement, non-breaking, cudf.polars

#15944 Enable round-tripping of large strings in `cudf`
  cpp/src/interop/from_arrow.cu
  cpp/src/interop/to_arrow.cu
  cpp/tests/interop/from_arrow_test.cpp
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: libcudf, Python, 5 - Ready to Merge, improvement, non-breaking

#16000 Fix typo bug in gather implementation
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/expressions/test_gather.py
Labels: Python, improvement, non-breaking, cudf.polars

#16006 Add test that diagonal concat with mismatching schemas raises
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_union.py
Labels: Python, improvement, non-breaking, cudf.polars

#16007 Add tests of implemented StringFunctions
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/expressions/test_stringfunction.py
Labels: Python, improvement, non-breaking, cudf.polars

#16005 Add coverage selecting len from a dataframe (number of rows)
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/tests/expressions/test_len.py
Labels: Python, improvement, non-breaking, cudf.polars

#15992 Raise early on unhandled PythonScan node
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_python_scan.py
Labels: Python, improvement, non-breaking, cudf.polars

#15918 Plumb pylibcudf strings `contains_re` through cudf_polars
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/test_string.py
Labels: feature request, Python, non-breaking, cudf.polars

#15916 Port start of datetime.hpp to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/datetime.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/datetime.pxd
  python/cudf/cudf/_lib/pylibcudf/datetime.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/CMakeLists.txt
  python/cudf/cudf/pylibcudf_tests/conftest.py
  python/cudf/cudf/pylibcudf_tests/test_datetime.py
  python/cudf/cudf/pylibcudf_tests/test_round.py
Labels: Python, CMake, improvement, non-breaking, pylibcudf

#15963 Move some misc Frame methods to appropriate locations
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
Labels: Python, improvement, non-breaking

#15628 Add ability to enable rmm pool on `cudf.pandas` import
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas, cuDF (Python)

#16021 Refactor rmm usage in `cudf.pandas`
  python/cudf/cudf/pandas/__init__.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas, cuDF (Python)

#16014 Support IntervalDtype in cudf.from_pandas
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_interval.py
Labels: bug, Python, non-breaking

#16024 Fix the pool size alignment issue
  cpp/src/utilities/pinned_memory.cpp
Labels: bug, libcudf, non-breaking

#16028 Fix the int32 overflow when computing page fragment sizes for large string columns
  cpp/src/io/parquet/writer_impl.cu
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#16009 orc multithreaded benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/orc/orc_reader_multithreaded.cpp
Labels: tests, libcudf, CMake, improvement, non-breaking

#15969 Remove CCCL 2.2 patches as we now always use 2.5+
  cpp/cmake/thirdparty/patches/cccl_override.json
  cpp/cmake/thirdparty/patches/revert_pr_211_cccl_2.5.0.diff
  cpp/cmake/thirdparty/patches/thrust_disable_64bit_dispatching.diff
  cpp/cmake/thirdparty/patches/thrust_disable_64bit_dispatching_cccl_2.5.0.diff
  cpp/cmake/thirdparty/patches/thrust_faster_scan_compile_times.diff
  cpp/cmake/thirdparty/patches/thrust_faster_scan_compile_times_cccl_2.5.0.diff
  cpp/cmake/thirdparty/patches/thrust_faster_sort_compile_times.diff
  cpp/cmake/thirdparty/patches/thrust_faster_sort_compile_times_cccl_2.5.0.diff
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#16030 Fix exclude regex in pre-commit clang-format hook
  .pre-commit-config.yaml
  cpp/benchmarks/io/orc/orc_reader_multithreaded.cpp
  cpp/tests/interop/from_arrow_test.cpp
Labels: libcudf, improvement, non-breaking

#16033 Fix initialization error in to_arrow for empty string views
  cpp/src/interop/to_arrow.cu
Labels: bug, libcudf, non-breaking

#16015 Enable ruff TCH: typing imports under if TYPE_CHECKING
  docs/cudf/source/conf.py
  pyproject.toml
  python/cudf/cudf/_typing.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python, improvement, non-breaking

#15912 Avoid redefining Frame._get_columns_by_label in subclasses
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
Labels: Python, improvement, non-breaking

#16035 Project automation update: skip if not in project
  .github/workflows/pr_issue_status_automation.yml
Labels: improvement, non-breaking

#14513 Add `codecov` coverage for `pandas_tests`
  ci/cudf_pandas_scripts/run_tests.sh
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, improvement, non-breaking, cudf.pandas

#15962 Fix nunique for `MultiIndex`, `DataFrame`, and all NA case with `dropna=False`
  cpp/src/stream_compaction/distinct_count.cu
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, libcudf, Python, non-breaking

#16038 Fix decimal -> float cast in ast code
  cpp/include/cudf/ast/detail/operators.hpp
Labels: libcudf, improvement, non-breaking

#16032 Delete unused code from stringfunction evaluator
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/conftest.py
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/expressions/test_distinct.py
  python/cudf_polars/tests/expressions/test_numeric_binops.py
  python/cudf_polars/tests/expressions/test_stringfunction.py
  python/cudf_polars/tests/test_string.py
Labels: Python, improvement, non-breaking, cudf.polars

#16047 Return `FrozenList` for `Index.names`
  python/cudf/cudf/core/_base_index.py
  python/dask_cudf/dask_cudf/io/parquet.py
Labels: Python, improvement, breaking

#15991 Remove mapfunction nodes that don't exist/aren't supported
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_mapfunction.py
Labels: Python, improvement, non-breaking, cudf.polars

#16040 Add ruff rules to avoid importing from typing
  pyproject.toml
  python/cudf/cudf/_lib/column.pyi
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/expressions.py
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/exposure_tracked_buffer.py
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/buffer/utils.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/indexing_utils.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/mixins/binops.pyi
  python/cudf/cudf/core/mixins/reductions.pyi
  python/cudf/cudf/core/mixins/scans.pyi
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/udf/groupby_typing.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/options.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf/pandas/profiler.py
  python/cudf/cudf/pylibcudf_tests/common/utils.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_df_protocol.py
  python/cudf/cudf/tests/test_spilling.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/queryutils.py
  python/cudf/cudf/utils/utils.py
  python/cudf/cudf_pandas_tests/test_fast_slow_proxy.py
  python/dask_cudf/dask_cudf/groupby.py
Labels: Python, improvement, non-breaking, cudf.pandas

#15987 Standardize and type `Series.dt` methods
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
Labels: Python, improvement, non-breaking

#15993 Fix implemention of any, all, and isbetween
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/expressions/test_booleanfunction.py
Labels: Python, improvement, non-breaking, cudf.polars

#15865 Expose stream parameter to public rolling APIs
  cpp/include/cudf/rolling.hpp
  cpp/include/cudf/rolling/range_window_bounds.hpp
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/range_window_bounds.cpp
  cpp/src/rolling/rolling.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/rolling_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, breaking

#16017 Fix target counting in strings char-parallel replace
  cpp/src/strings/replace/replace.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/large_strings/replace_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#16051 Fix `atomic_ref` scope when multiple blocks are updating the same output
  cpp/src/strings/case.cu
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/split/split.cuh
  cpp/src/text/tokenize.cu
Labels: bug, libcudf, non-breaking

#16036 Reduce conditional_join nvbench configurations
  cpp/benchmarks/join/conditional_join.cu
Labels: libcudf, Performance, improvement, non-breaking

#16001 Remove deprecated ExtContext node
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_extcontext.py
Labels: Python, improvement, non-breaking, cudf.polars

#16043 Remove `override_dtypes` and `include_index` from `Frame._copy_type_metadata`
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python, improvement, non-breaking

#16053 Fix a size overflow bug in hash groupby
  cpp/src/groupby/hash/groupby.cu
  java/src/test/java/ai/rapids/cudf/TableTest.java
  python/cudf/cudf/core/groupby/groupby.py
Labels: bug, libcudf, Python, Java, non-breaking

#16054 Reduce deep copies in Index ops
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: Python, improvement, non-breaking

#15994 Test behaviour of containers
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/tests/containers/__init__.py
  python/cudf_polars/tests/containers/test_column.py
  python/cudf_polars/tests/containers/test_dataframe.py
Labels: Python, improvement, non-breaking, cudf.polars

#15998 Coverage of binops where one or both operands are a scalar
  python/cudf_polars/tests/expressions/test_numeric_binops.py
Labels: Python, improvement, non-breaking, cudf.polars

#15930 Fix JSON multi-source reading when total source size exceeds `INT_MAX` bytes
  cpp/include/cudf/io/types.hpp
  cpp/src/io/json/read_json.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/large_strings/json_tests.cpp
Labels: bug, libcudf, CMake, cuIO, non-breaking

#16003 Add basic tests of dataframe scan
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/docs/overview.md
  python/cudf_polars/tests/test_dataframescan.py
  python/cudf_polars/tests/test_scan.py
  python/cudf_polars/tests/testing/__init__.py
  python/cudf_polars/tests/testing/test_asserts.py
Labels: Python, improvement, non-breaking, cudf.polars

#16012 Fix memory size in create_byte_range_infos_consecutive
  cpp/src/io/text/byte_range_info.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15832 Add test of interoperability of cuDF and arrow BYTE_STREAM_SPLIT encoders
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, improvement, non-breaking

#16002 Add coverage for both expression and dataframe filter
  python/cudf_polars/tests/expressions/test_filter.py
  python/cudf_polars/tests/test_filter.py
Labels: Python, improvement, non-breaking, cudf.polars

#15997 Add full coverage for whole-frame Agg expressions
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/expressions/test_agg.py
Labels: Python, improvement, non-breaking, cudf.polars

#15995 Add full coverage of utility functions
  python/cudf_polars/cudf_polars/utils/dtypes.py
  python/cudf_polars/cudf_polars/utils/sorting.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/expressions/test_datetime_basic.py
  python/cudf_polars/tests/utils/test_dtypes.py
  python/cudf_polars/tests/utils/test_sorting.py
Labels: Python, improvement, non-breaking, cudf.polars

#16064 Account for FIXED_LEN_BYTE_ARRAY when calculating fragment sizes in Parquet writer
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf, cuIO, improvement, non-breaking

#16067 More safely parse CUDA versions when subprocess output is contaminated
  python/cudf/cudf/utils/_ptxcompiler.py
Labels: bug, Python, non-breaking

#9027 cuDF/libcudf exponentially weighted moving averages
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/reductions/scan/ewm.cu
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/reductions/ewm_tests.cpp
  docs/cudf/source/user_guide/api_docs/dataframe.rst
  docs/cudf/source/user_guide/api_docs/series.rst
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/pylibcudf/aggregation.pxd
  python/cudf/cudf/_lib/pylibcudf/aggregation.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/aggregation.pxd
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/window/__init__.py
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/tests/test_ewm.py
Labels: feature request, 3 - Ready for Review, libcudf, Python, CMake, non-breaking, cudf.pandas, pylibcudf

#15999 Extend coverage of groupby and rolling window nodes
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/expressions/test_rolling.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, improvement, non-breaking, cudf.polars

#16061 Prevent bad ColumnAccessor state after .sort_index(axis=1, ignore_index=True)
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, Python, non-breaking

#16019 Improve multibyte-split byte-range performance
  cpp/benchmarks/io/text/multibyte_split.cpp
  cpp/src/io/text/data_chunk_source_factories.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15957 Refactor fillna logic to push specifics toward Frame subclasses and Column subclasses
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: Python, improvement, non-breaking

#16050 Add support to ArrowDataSource in SourceInfo
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/CMakeLists.txt
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/pylibcudf/io/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/io/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/io/__init__.py
  python/cudf/cudf/_lib/pylibcudf/io/datasource.pxd
  python/cudf/cudf/_lib/pylibcudf/io/datasource.pyx
  python/cudf/cudf/_lib/pylibcudf/io/types.pyx
  python/cudf/cudf/pylibcudf_tests/test_source_info.py
  python/cudf_kafka/cudf_kafka/_lib/kafka.pxd
Labels: feature request, Python, CMake, non-breaking, pylibcudf

#16045 Add ast cast test
  cpp/tests/ast/transform_tests.cpp
Labels: libcudf, improvement, non-breaking

#16097 Expose and then implement support for cross joins in cudf-polars
  python/cudf/cudf/_lib/pylibcudf/join.pxd
  python/cudf/cudf/_lib/pylibcudf/join.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/join.pxd
  python/cudf/cudf/pylibcudf_tests/test_join.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_join.py
Labels: improvement, non-breaking

#16085 Fix `is_monotonic_*` APIs to include `nan's`
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_monotonic.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#16094 Fix segfault in conditional join
  cpp/src/join/conditional_join.cu
  cpp/tests/join/conditional_join_tests.cu
Labels: libcudf, improvement, non-breaking

#16080 Reduce/clean copy usage in Series, reshaping
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
Labels: Python, improvement, non-breaking

#16052 Implement chunked column wise concat in chunked parquet reader
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, improvement, non-breaking

#16079 Explain line profiler and how to know which functions are GPU-accelerated.
  docs/cudf/source/_static/cudf-pandas-line-profile.png
  docs/cudf/source/cudf_pandas/faq.md
  docs/cudf/source/cudf_pandas/usage.md
  docs/cudf/source/user_guide/api_docs/index.rst
Labels: doc, non-breaking

#16060 Reduce (shallow) copies in DataFrame ops
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python, improvement, non-breaking

#15984 Refactor distinct with hashset-based algorithms
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_count.cu
  cpp/src/stream_compaction/distinct_helpers.cu
  cpp/src/stream_compaction/distinct_helpers.hpp
  cpp/src/stream_compaction/stream_compaction_common.cuh
  cpp/src/stream_compaction/stream_compaction_common.hpp
  cpp/src/stream_compaction/unique.cu
Labels: libcudf, Performance, improvement, non-breaking

#15934 Kernel copy for pinned memory
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/utilities/cuda_memcpy.hpp
  cpp/include/cudf/utilities/pinned_memory.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/src/utilities/cuda_memcpy.cu
  cpp/src/utilities/pinned_memory.cpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, Performance, non-breaking

#16108 Fix pylibcudf Table.num_rows for 0 columns case and add interop to docs
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/interop.rst
  python/cudf/cudf/_lib/pylibcudf/table.pyx
  python/cudf/cudf/pylibcudf_tests/test_table.py
Labels: bug, Python, non-breaking, pylibcudf

#16081 Adapt to polars upstream changes and turn on CI testing
  .github/workflows/pr.yaml
  ci/test_cudf_polars.sh
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/expressions/test_booleanfunction.py
  python/cudf_polars/tests/expressions/test_rolling.py
  python/cudf_polars/tests/expressions/test_stringfunction.py
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/test_join.py
  python/cudf_polars/tests/test_mapfunction.py
  python/cudf_polars/tests/test_python_scan.py
  python/cudf_polars/tests/test_union.py
Labels: Python, improvement, non-breaking, cudf.polars

#16099 Fix unnecessarily strict check in parquet chunked reader for choosing split locations.
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: bug, libcudf, cuIO, non-breaking

#16111 Fix dtype errors in `StringArrays`
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas

#16110 Ensure MultiIndex.to_frame deep copies columns
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_repr.py
Labels: Python, improvement, non-breaking

#16098 Finish implementation of cudf-polars boolean function handlers
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/expressions/test_booleanfunction.py
Labels: Python, improvement, non-breaking, cudf.polars

#16114 Implement Ternary copy_if_else
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/expressions/test_when_then.py
Labels: Python, improvement, non-breaking, cudf.polars

#15866 Memory Profiling
  docs/cudf/source/user_guide/api_docs/index.rst
  docs/cudf/source/user_guide/api_docs/performance_tracking.rst
  docs/cudf/source/user_guide/index.md
  docs/cudf/source/user_guide/memory-profiling.md
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_performance_tracking.py
  python/cudf/cudf/utils/nvtx_annotation.py
  python/cudf/cudf/utils/performance_tracking.py
  python/cudf/cudf/utils/utils.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/sorting.py
Labels: Python, improvement, non-breaking

#16068 stable_distinct public api now has a stream parameter
  cpp/include/cudf/detail/stream_compaction.hpp
  cpp/include/cudf/stream_compaction.hpp
  cpp/src/stream_compaction/stable_distinct.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/stream_compaction_test.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking

#16117 Add ensure_index to not unnecessarily shallow copy cudf.Index
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python, improvement, non-breaking

#16116 Make binary operators work between fixed-point and floating args
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/compiled/binary_ops.cuh
  cpp/src/binaryop/compiled/util.cpp
  cpp/tests/binaryop/binop-compiled-fixed_point-test.cpp
Labels: libcudf, improvement, non-breaking

#16107 Add support for proxy `np.flatiter` objects
  python/cudf/cudf/pandas/_wrappers/numpy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, non-breaking, cudf.pandas

#15981 Migrate lists/contains to pylibcudf
  cpp/include/cudf/lists/lists_column_view.hpp
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/pylibcudf/column.pxd
  python/cudf/cudf/_lib/pylibcudf/column.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/contains.pxd
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/lists_column_view.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pyx
  python/cudf/cudf/pylibcudf_tests/test_lists.py
Labels: feature request, 3 - Ready for Review, libcudf, Python, non-breaking, pylibcudf

#16103 Update libcudf compiler requirements in contributing doc
  CONTRIBUTING.md
Labels: 3 - Ready for Review, doc, non-breaking

#15911 Templatization of fixed-width parquet decoding kernels.
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf, cuIO, improvement, non-breaking

#16070 Move common string utilities to public api
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/include/cudf/strings/utilities.hpp
  cpp/src/strings/utilities.cu
  cpp/tests/column/factories_test.cpp
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/strings/array_tests.cpp
  cpp/tests/strings/repeat_strings_tests.cpp
  python/cudf/udf_cpp/strings/src/strings/udf/udf_apis.cu
Labels: feature request, libcudf, Python, non-breaking

#16087 Installed cudf header use cudf::allocate_like
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/src/copying/sample.cu
  cpp/src/lists/copying/segmented_gather.cu
Labels: feature request, libcudf, non-breaking

#16127 Use size_t to allow large conditional joins
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join_common_utils.cuh
Labels: bug, libcudf, non-breaking

#15938 Update implementations to build with the latest cuco
  cpp/include/cudf/detail/distinct_hash_join.cuh
  cpp/src/join/distinct_hash_join.cu
  cpp/src/search/contains_table.cu
  cpp/src/text/bpe/byte_pair_encoding.cuh
  cpp/src/text/vocabulary_tokenize.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking
