Repository rapidsai/cudf, pull requests merged in 2024-05, with the labels that each got.

#15622 Make ColumnBase.__cuda_array_interface__ opt out instead of opt in
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
Labels: cuDF (Python), improvement, non-breaking

#15610 Backport: Relax protobuf lower bound to 3.20. (#15506)
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/tests/pytest.ini
  python/cudf/pyproject.toml
Labels: cuDF (Python), conda, improvement, non-breaking

#15626 [HOTFIX] v24.04.01
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/tests/pytest.ini
  python/cudf/pyproject.toml
Labels: cuDF (Python), conda

#15599 Use experimental make_strings_children for json/csv writers
  cpp/benchmarks/json/json.cu
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/json/write_json.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15595 Use experimental make_strings_children in nvtext APIs
  cpp/src/text/detokenize.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/normalize.cu
  cpp/src/text/replace.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15591 Fix categorical-accessor support and testing in dask-cudf
  python/cudf/cudf/core/indexed_frame.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_text.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/utils.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, dask, non-breaking

#15593 Add "collect" aggregation support to dask-cudf
  python/dask_cudf/dask_cudf/expr/_collection.py
  python/dask_cudf/dask_cudf/expr/_groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), 4 - Needs Review, dask, non-breaking

#15533 Large strings support for cudf::clamp
  cpp/src/replace/clamp.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15383 Doc: interleave columns pandas compat
  python/cudf/cudf/core/dataframe.py
Labels: doc, cuDF (Python), non-breaking

#15615 Construct `pylibcudf` columns from objects supporting `__cuda_array_interface__`
  python/cudf/cudf/_lib/pylibcudf/column.pyx
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/pylibcudf_tests/test_column_from_device.py
Labels: feature request, cuDF (Python), non-breaking

#15633 Remove NVBench SHA override.
  cpp/cmake/thirdparty/get_nvbench.cmake
  cpp/cmake/thirdparty/patches/nvbench_override.json
Labels: libcudf, CMake, improvement, non-breaking

#15608 Drop Centos7 support
  build.sh
  java/ci/Dockerfile.centos7
  java/ci/Dockerfile.rocky
  java/ci/README.md
Labels: cuDF (Java), improvement, non-breaking

#14996 Add JSON option to prune columns
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/parser_features.cpp
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/_lib/cpp/io/json.pxd
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/io/json.py
  python/cudf/cudf/utils/ioutils.py
Labels: feature request, 3 - Ready for Review, libcudf, cuDF (Python), 4 - Needs Review, cuIO, non-breaking

#15638 Fix operator precedence problem in Parquet reader
  cpp/src/io/parquet/page_decode.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#15635 Fix -Werror=type-limits.
  cpp/src/io/comp/cpu_unbz2.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
Labels: libcudf, improvement, non-breaking

#15094 Implement ORC chunked reader
  cpp/CMakeLists.txt
  cpp/benchmarks/io/orc/orc_reader_input.cpp
  cpp/include/cudf/io/detail/orc.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/aggregate_orc_metadata.hpp
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/reader_impl_chunking.hpp
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/utilities/row_selection.cpp
  cpp/src/io/utilities/row_selection.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/orc_chunked_reader_test.cu
  cpp/tests/io/row_selection_test.cpp
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
Labels: feature request, 2 - In Progress, libcudf, cuDF (Python), CMake, helps: Spark, non-breaking

#15519 Preserve column metadata during more DataFrame operations
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: cuDF (Python), improvement, non-breaking

#15630 Fix make_offsets_child_column usage in cudf::strings::detail::shift
  cpp/src/strings/copying/shift.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15631 Large strings support in MD5 and SHA hashers
  cpp/src/hash/md5_hash.cu
  cpp/src/hash/sha_hash.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15629 Use experimental make_strings_children for strings convert
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15632 Add support for large string columns to Parquet reader and writer
  cpp/CMakeLists.txt
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/column_buffer_strings.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/large_strings/parquet_tests.cpp
Labels: libcudf, CMake, improvement, non-breaking

#15545 Move timezone conversion logic to `DatetimeColumn`
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/series/test_datetimelike.py
Labels: cuDF (Python), improvement, non-breaking

#15544 Large strings support for cudf::interleave_columns
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reshape/interleave.cpp
  cpp/src/lists/interleave_columns.cu
  cpp/src/reshape/interleave_columns.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#15623 Concatenate dictionary of objects along axis=1
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_concat.py
Labels: feature request, cuDF (Python), non-breaking

#15634 Enable FutureWarnings/DeprecationWarnings as errors for dask_cudf
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_join.py
  python/dask_cudf/pyproject.toml
Labels: cuDF (Python), improvement, non-breaking

#15642 Enable warnings as errors in custreamz
  python/custreamz/pyproject.toml
Labels: cuDF (Python), improvement, non-breaking

#15594 Migrate to `{{ stdlib("c") }}`
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/conda_build_config.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
Labels: conda, improvement, non-breaking

#15446 Implement JNI for chunked ORC reader
  java/src/main/java/ai/rapids/cudf/ORCChunkedReader.java
  java/src/main/native/src/ChunkedReaderJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/resources/splittable.orc
Labels: feature request, 3 - Ready for Review, cuDF (Java), helps: Spark, non-breaking

#15636 Improve distinct join with set `retrieve`
  cpp/include/cudf/detail/distinct_hash_join.cuh
  cpp/src/join/distinct_hash_join.cu
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#15674 Remove host_parse_nested_json.
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/read_json.cu
  cpp/tests/io/nested_json_test.cpp
Labels: libcudf, improvement, non-breaking

#15604 Migrate string `find` operations to `pylibcudf`
  python/cudf/cudf/_lib/cpp/strings/find.pxd
  python/cudf/cudf/_lib/pylibcudf/strings/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/strings/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/strings/__init__.py
  python/cudf/cudf/_lib/pylibcudf/strings/find.pxd
  python/cudf/cudf/_lib/pylibcudf/strings/find.pyx
  python/cudf/cudf/_lib/strings/find.pyx
  python/cudf/cudf/pylibcudf_tests/test_string_find.py
Labels: feature request, cuDF (Python), CMake, non-breaking

#15657 Fix Index contains for error validations and float vs int comparisons
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, cudf.pandas

#15685 Upgrade pre commit hooks
  .pre-commit-config.yaml
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
Labels: cuDF (Python), improvement, non-breaking

#15687 Fix CI s3 api command to fetch latest results
  ci/cudf_pandas_scripts/pandas-tests/diff.sh
Labels: bug, non-breaking, ci

#15601 Fix decoding of dictionary encoded FIXED_LEN_BYTE_ARRAY data in Parquet reader
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, cuDF (Python), cuIO, non-breaking

#15683 Allow `fillna` to validate for `CategoricalColumn.fillna`
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_categorical.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#14107 Some additional kernel thread index refactoring.
  cpp/benchmarks/join/generate_input_tables.cuh
  cpp/benchmarks/type_dispatcher/type_dispatcher.cu
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/include/cudf/detail/valid_if.cuh
  cpp/src/bitmask/null_mask.cu
  cpp/src/copying/concatenate.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/strings/convert/convert_urls.cu
Labels: libcudf, improvement, non-breaking

#15686 Add `NumpyExtensionArray` proxy type in `cudf.pandas`
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, cudf.pandas

#15680 Add `Timestamp` and `Timedelta` proxy types
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/test_profiler.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking, cudf.pandas

#15655 Preserve sub-second data for time scalars in column construction
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, cudf.pandas

#15624 Avoid accessing attributes via `_column` if not needed
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
Labels: cuDF (Python), improvement, non-breaking

#15693 Rework some python tests of Parquet delta encodings
  python/cudf/cudf/tests/test_parquet.py
Labels: tests, cuDF (Python), improvement, non-breaking

#15677 Fix copy assignment and the comparison operator of `rmm_host_allocator`
  cpp/include/cudf/detail/utilities/rmm_host_vector.hpp
Labels: bug, libcudf, non-breaking

#15600 Round trip FIXED_LEN_BYTE_ARRAY data properly in Parquet writer
  cpp/include/cudf/io/types.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: feature request, libcudf, cuIO, non-breaking

#15692 Make `nan_as_null` behavior consistent across all APIs
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, cudf.pandas

#15493 Add new patch to hide more CCCL APIs
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/thirdparty/patches/cccl_override.json
Labels: bug, libcudf, CMake, non-breaking

#15332 Skip decode steps in Parquet reader when nullable columns have no nulls
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/src/io/utilities/column_buffer.hpp
Labels: libcudf, 5 - Ready to Merge, cuIO, Performance, improvement, non-breaking

#15681 Reducing runtime of JSON reader options benchmark
  cpp/benchmarks/io/json/json_reader_option.cpp
Labels: libcudf, Performance, improvement, non-breaking

#15682 Misc Column cleanups
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical_base.py
Labels: cuDF (Python), improvement, non-breaking

#15695 Add proxy for inplace operations in `cudf.pandas`
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking, cudf.pandas

#15588 Delay materializing RangeIndex in .reset_index
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: cuDF (Python), improvement, non-breaking

#15698 Rework get_json_object benchmark to use nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/json/json.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#15662 Remove obsolete `XFAIL` markers for query-planning
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_onehot.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, non-breaking

#15639 Enable sorting on column with nulls using query-planning
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15703 Upgrade `arrow` to `16`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  dependencies.yaml
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/data/parquet/usec_timestamp.parquet
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: libcudf, cuDF (Python), CMake, 5 - Ready to Merge, conda, improvement, non-breaking

#15660 Overhaul ops-codeowners coverage
  .github/CODEOWNERS
Labels: feature request, non-breaking

#15669 Add large-strings gtest for cudf::interleave_columns
  cpp/tests/CMakeLists.txt
  cpp/tests/large_strings/reshape_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#15706 Refine `CudaTest.testCudaException` in case throwing wrong type of CudaError under aarch64
  java/src/test/java/ai/rapids/cudf/CudaTest.java
Labels: bug, cuDF (Java), non-breaking

#15701 Fix maxima of categorical column
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/tests/test_categorical.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15644 Clean up join benchmarks
  cpp/benchmarks/join/conditional_join.cu
  cpp/benchmarks/join/distinct_join.cu
  cpp/benchmarks/join/join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/left_join.cu
  cpp/benchmarks/join/mixed_join.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15719 Fix `get_loc` to properly fetch results from an index that is in decreasing order
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15671 Fix multi-source reading in JSON byte range reader
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json_chunked_reader.cpp
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#15570 Change the default dictionary policy in Parquet writer from `ALWAYS` to `ADAPTIVE`
  cpp/include/cudf/io/parquet.hpp
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: libcudf, cuDF (Python), 5 - Ready to Merge, cuIO, improvement, non-breaking

#15717 Return same type as the original index for `.loc` operations
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15420 Adding parquet transcoding example
  ci/run_cudf_examples.sh
  cpp/examples/build.sh
  cpp/examples/parquet_io/CMakeLists.txt
  cpp/examples/parquet_io/example.parquet
  cpp/examples/parquet_io/parquet_io.cpp
  cpp/examples/parquet_io/parquet_io.hpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, non-breaking, ci

#15710 Fix ColumnAccessor caching of nrows if empty previously
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_column_accessor.py
Labels: bug, cuDF (Python), non-breaking

#15702 Remove experimental namespace from make_strings_children
  cpp/benchmarks/json/json.cu
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/include/cudf/strings/detail/strings_children_ex.cuh
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/json/write_json.cu
  cpp/src/strings/capitalize.cu
  cpp/src/strings/case.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/combine/concatenate.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/combine/join_list_elements.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_hex.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_lists.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/repeat_strings.cu
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_slice.cu
  cpp/src/strings/slice.cu
  cpp/src/strings/translate.cu
  cpp/src/text/detokenize.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/normalize.cu
  cpp/src/text/replace.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15715 Correct static builds + static arrow
  ci/configure_cpp_static.sh
  cpp/cmake/thirdparty/get_arrow.cmake
Labels: bug, libcudf, CMake, non-breaking, ci

#15688 Skeleton cudf polars package
  .pre-commit-config.yaml
  dependencies.yaml
  python/cudf_polars/LICENSE
  python/cudf_polars/README.md
  python/cudf_polars/cudf_polars/VERSION
  python/cudf_polars/cudf_polars/__init__.py
  python/cudf_polars/pyproject.toml
Labels: cuDF (Python), improvement, non-breaking, cudf.polars

#15661 Update libcudf developer guide for strings offsets column
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#15572 add --rm and --name to devcontainer run args
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  ci/release/update-version.sh
  cpp/scripts/run-cmake-format.sh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking, ci

#15739 Validate and materialize iterators earlier in as_column
  python/cudf/cudf/core/column/column.py
Labels: cuDF (Python), improvement, non-breaking

#15722 Fix `Index.repeat` for `datetime64` types
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15755 Fix arrow versioning logic
  cpp/cmake/thirdparty/get_arrow.cmake
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: bug, libcudf, cuDF (Python), CMake, 5 - Ready to Merge, non-breaking

#15744 Update cudf.pandas docs for GA
  docs/cudf/source/cudf_pandas/index.rst
Labels: doc, 5 - Ready to Merge, non-breaking

#15709 Allow `None` when `nan_as_null=False` in column constructor
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15617 Support `DurationType` in cudf parquet reader via `arrow:schema`
  .pre-commit-config.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_flatbuffers.cmake
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/ipc/Message_generated.h
  cpp/src/io/parquet/ipc/Schema_generated.h
  cpp/src/io/parquet/ipc/schema/Message.fbs
  cpp/src/io/parquet/ipc/schema/Schema.fbs
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/utilities/base64_utilities.cpp
  cpp/src/io/utilities/base64_utilities.hpp
  cpp/tests/utilities_tests/io_utilities_tests.cpp
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/parquet.pxd
  python/cudf/cudf/tests/test_parquet.py
Labels: libcudf, cuDF (Python), CMake, 5 - Ready to Merge, cuIO, improvement, breaking, Reliability

#15753 Avoid running sanitizer on Java test designed to cause an error
  java/src/test/java/ai/rapids/cudf/CudaTest.java
Labels: bug, tests, cuDF (Java), non-breaking

#15731 Implement null-aware NOT_EQUALS binop
  cpp/CMakeLists.txt
  cpp/benchmarks/binaryop/compiled_binaryop.cpp
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/NullNotEquals.cu
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/binaryop/compiled/binary_ops.cuh
  cpp/src/binaryop/compiled/binary_ops.hpp
  cpp/src/binaryop/compiled/operation.cuh
  cpp/src/binaryop/compiled/struct_binary_ops.cuh
  cpp/src/binaryop/compiled/util.cpp
  cpp/tests/binaryop/binop-compiled-test.cpp
  cpp/tests/binaryop/util/operation.h
  java/src/main/java/ai/rapids/cudf/BinaryOp.java
  java/src/main/java/ai/rapids/cudf/BinaryOperable.java
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/binaryop.pxd
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
Labels: libcudf, cuDF (Python), CMake, cuDF (Java), improvement, non-breaking

#15749 Eliminate circular reference in DataFrame/Series.iloc/loc
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_indexing.py
Labels: bug, cuDF (Python), non-breaking

#15736 remove unnecessary 'setuptools' host dependency, simplify dependencies.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#15737 Expose stream parameter in public reduction APIs
  cpp/include/cudf/reduction.hpp
  cpp/src/reductions/minmax.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/scan/scan.cpp
  cpp/src/reductions/segmented/reductions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/reduction_test.cpp
Labels: libcudf, CMake, 5 - Ready to Merge, improvement, non-breaking

#15735 Cap the absolute row index per pass in parquet chunked reader.
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#15761 Fix `DatetimeIndex.loc` for all types of ordering cases
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_indexing.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15672 Reduce runtime for ParquetChunkedReaderInputLimitTest gtests
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15707 Fix split-record result list column offset type
  cpp/src/strings/split/split.cuh
  cpp/src/strings/split/split_re.cu
  cpp/tests/column/factories_test.cpp
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/strings/array_tests.cpp
  cpp/tests/strings/factories_test.cu
  cpp/tests/strings/repeat_strings_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15721 Fix multibyte check for case convert for large strings
  cpp/benchmarks/string/case.cpp
  cpp/src/strings/case.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/large_strings/case_tests.cpp
  cpp/tests/large_strings/concatenate_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, CMake, strings, non-breaking

#15113 Fix parquet predicate filtering with column projection
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_reader_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#15765 Fix id_vars and value_vars not accepting string scalars in melt
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: bug, cuDF (Python), non-breaking

#15495 Update strings contains benchmarks to nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/find.cpp
  cpp/src/strings/search/find.cu
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#15757 Fix `chunked_parquet_reader` behavior when input has no more rows to read
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: 3 - Ready for Review, libcudf, cuIO, improvement, non-breaking, Reliability

#15771 Handle mixed-like homogeneous types in `isin`
  python/cudf/cudf/core/column/numerical.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#14534 Eagerly populate the class dict for cudf.pandas proxy types
  docs/cudf/source/cudf_pandas/faq.md
  python/cudf/cudf/pandas/_wrappers/common.py
  python/cudf/cudf/pandas/_wrappers/numpy.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/profiler.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/test_profiler.py
Labels: cuDF (Python), improvement, non-breaking

#15782 Limit runtime dependency to `libarrow>=16.0.0,<16.1.0a0`
  conda/recipes/libcudf/meta.yaml
  dependencies.yaml
Labels: bug, 3 - Ready for Review, conda, non-breaking

#15665 Add default pinned pool that falls back to new pinned allocations
  cpp/include/cudf/detail/utilities/stream_pool.hpp
  cpp/include/cudf/io/memory_resource.hpp
  cpp/src/io/utilities/config_utils.cpp
Labels: feature request, 3 - Ready for Review, libcudf, Performance, non-breaking

#15788 Raise error when sorting by categorical column in dask-cudf
  python/dask_cudf/dask_cudf/expr/_collection.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15712 Raise errors for unsupported operations on certain types
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, breaking

#15786 Add support for `PandasArray` for `pandas<2.1.0`
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, cuDF (Python), 5 - Ready to Merge, non-breaking

#15764 Support filtered I/O in `chunked_parquet_reader` and simplify the use of `parquet_reader_options`
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/reader.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, breaking

#15691 Add contributing warning about circular imports
  CONTRIBUTING.md
Labels: doc, 5 - Ready to Merge, non-breaking

#15745 [JNI] Expose java API for cudf::io::config_host_memory_resource
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
Labels: cuDF (Java), Spark, improvement, non-breaking

#15780 Fix cat.as_ordered not propogating correct size
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/tests/test_indexing.py
Labels: bug, cuDF (Python), non-breaking

#15792 Improve performance of Series.to_numpy/to_cupy
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/single_column_frame.py
Labels: cuDF (Python), improvement, non-breaking

#15763 Avoid index-to-column conversion in some DataFrame ops
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
Labels: cuDF (Python), improvement, non-breaking

#15353 For powers of 10, replace ipow with switch
  cpp/include/cudf/fixed_point/floating_conversion.hpp
Labels: libcudf, Performance, improvement, non-breaking

#15585 Add multithreaded parquet reader benchmarks.
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/cuio_common.hpp
  cpp/benchmarks/io/parquet/parquet_reader_multithread.cpp
  cpp/include/cudf/utilities/thread_pool.hpp
  cpp/src/io/utilities/file_io_utilities.hpp
Labels: libcudf, CMake, 5 - Ready to Merge, cuIO, Performance, Spark, improvement, non-breaking

#15810 Branch 24.08 merge branch 24.06
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/cuio_common.hpp
  cpp/benchmarks/io/parquet/parquet_reader_multithread.cpp
  cpp/cmake/thirdparty/get_arrow.cmake
  cpp/include/cudf/utilities/thread_pool.hpp
  cpp/src/io/utilities/file_io_utilities.hpp
  dependencies.yaml
  python/cudf/cudf/tests/test_orc.py
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
Labels: libcudf, cuDF (Python), CMake, conda

#15789 Fix row group alignment in ORC writer
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.MapManyNulls.parquet
  python/cudf/cudf/tests/test_orc.py
Labels: bug, 3 - Ready for Review, libcudf, cuDF (Python), cuIO, non-breaking

#15808 Deprecate `Groupby.collect`
  python/cudf/cudf/core/groupby/groupby.py
  python/dask_cudf/dask_cudf/expr/_groupby.py
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: cuDF (Python), 5 - Ready to Merge, improvement, breaking

#15801 Add temporary dask-cudf workaround for categorical sorting
  python/dask_cudf/dask_cudf/expr/_collection.py
  python/dask_cudf/dask_cudf/expr/_expr.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Labels: bug, 3 - Ready for Review, cuDF (Python), dask, non-breaking

#15805 Switch cuIO benchmarks to use pinned-pool host allocations by default.
  cpp/benchmarks/fixture/nvbench_fixture.hpp
Labels: libcudf, cuDF (Python), CMake, cuIO, conda, cuDF (Java), improvement, non-breaking

#15806 Raise FileNotFoundError when a literal JSON string that looks like a json filename is passed
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
Labels: cuDF (Python), improvement, breaking

#15338 Simplified README Examples
  README.md
Labels: doc, non-breaking

#15804 Deprecate `divisions='quantile'` support in `set_index`
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/expr/_collection.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: cuDF (Python), 5 - Ready to Merge, dask, improvement, non-breaking

#15781 Access `self.index` instead of `self._index` where possible
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dlpack.py
Labels: cuDF (Python), improvement, non-breaking

#15613 Expose some Parquet per-column configuration options via the python API
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/types.pxd
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: feature request, 3 - Ready for Review, cuDF (Python), cuIO, non-breaking

#15727 Fix spaces around CSV quoted strings
  cpp/include/cudf/io/csv.hpp
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/tests/io/csv_test.cpp
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/csv.pxd
Labels: feature request, libcudf, cuDF (Python), non-breaking

#15738 Push some as_column arrow logic to ColumnBase.from_arrow
  python/cudf/cudf/core/column/column.py
Labels: cuDF (Python), improvement, non-breaking

#15815 Return boolean from config_host_memory_resource instead of throwing
  cpp/include/cudf/io/memory_resource.hpp
  cpp/src/io/utilities/config_utils.cpp
  java/src/main/java/ai/rapids/cudf/PinnedMemoryPool.java
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
Labels: bug, libcudf, 4 - Needs Review, cuDF (Java), non-breaking

#15813 Remove legacy JSON reader and concurrent_unordered_map.cuh.
  cpp/CMakeLists.txt
  cpp/include/cudf/io/json.hpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/hash/managed.cuh
  cpp/src/io/json/legacy/json_gpu.cu
  cpp/src/io/json/legacy/json_gpu.hpp
  cpp/src/io/json/legacy/read_json.hpp
  cpp/src/io/json/legacy/reader_impl.cu
  cpp/src/io/json/read_json.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/hash_map/map_test.cu
  cpp/tests/io/json_test.cpp
  cpp/tests/io/nested_json_test.cpp
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/json.pxd
  python/cudf/cudf/io/json.py
Labels: libcudf, cuDF (Python), CMake, improvement, breaking

#15840 Use rapids_cpm_nvtx3 to get same nvtx3 target state as rmm
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvtx.cmake
  cpp/tests/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
Labels: bug, 3 - Ready for Review, libcudf, CMake, cuDF (Java), non-breaking

#15844 Remove problematic call of index setter to unblock dask-cuda CI
  python/cudf/cudf/core/indexed_frame.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#15845 Ensure cudf.Series(cudf.Series(...)) creates a reference to the same index
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Labels: cuDF (Python), improvement, non-breaking

#15842 Fix docs for IO readers and strings_convert
  docs/cudf/source/libcudf_docs/api_docs/io_readers.rst
  docs/cudf/source/libcudf_docs/api_docs/strings_convert.rst
Labels: doc, non-breaking

#15843 Avoid unnecessary `Index` cast in `IndexedFrame.index` setter
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_index.py
Labels: bug, 3 - Ready for Review, cuDF (Python), non-breaking

#15857 Use ColumnAccessor row and column length attributes more consistently
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
Labels: cuDF (Python), improvement, non-breaking

#15834 Implement `on_bad_lines` in json reader
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/json.pxd
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking

#15827 Migrate reshape.pxd to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/reshape.rst
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/reshape.pxd
  python/cudf/cudf/_lib/pylibcudf/reshape.pyx
  python/cudf/cudf/_lib/reshape.pyx
  python/cudf/cudf/pylibcudf_tests/test_reshape.py
Labels: cuDF (Python), CMake, improvement, non-breaking

#15552 Work around issues with cccl main
  .pre-commit-config.yaml
  cpp/cmake/thirdparty/patches/cccl_override.json
  cpp/cmake/thirdparty/patches/revert_pr_211_cccl_2.5.0.diff
  cpp/cmake/thirdparty/patches/thrust_disable_64bit_dispatching_cccl_2.5.0.diff
  cpp/cmake/thirdparty/patches/thrust_faster_scan_compile_times_cccl_2.5.0.diff
  cpp/cmake/thirdparty/patches/thrust_faster_sort_compile_times_cccl_2.5.0.diff
  cpp/src/io/comp/statistics.cu
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/data_casting.cu
  cpp/src/join/distinct_hash_join.cu
  cpp/src/strings/split/split_re.cu
  cpp/tests/hash_map/map_test.cu
Labels: libcudf, CMake, improvement, non-breaking

#15869 Manual merge of Branch 24.08 from 24.06
  .pre-commit-config.yaml
  cpp/cmake/thirdparty/patches/cccl_override.json
  cpp/cmake/thirdparty/patches/revert_pr_211_cccl_2.5.0.diff
  cpp/cmake/thirdparty/patches/thrust_disable_64bit_dispatching_cccl_2.5.0.diff
  cpp/cmake/thirdparty/patches/thrust_faster_scan_compile_times_cccl_2.5.0.diff
  cpp/cmake/thirdparty/patches/thrust_faster_sort_compile_times_cccl_2.5.0.diff
  cpp/src/io/comp/statistics.cu
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/data_casting.cu
  cpp/src/join/distinct_hash_join.cu
  cpp/src/strings/split/split_re.cu
Labels: bug, libcudf, CMake, non-breaking

#15756 Improve performance for long strings for nvtext::replace_tokens
  cpp/src/text/replace.cu
  cpp/tests/text/replace_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15872 Revert "Fix docs for IO readers and strings_convert"
  ci/build_docs.sh
  docs/cudf/source/libcudf_docs/api_docs/io_readers.rst
  docs/cudf/source/libcudf_docs/api_docs/strings_convert.rst
Labels: bug, non-breaking, ci

#15873 Refactor join benchmarks to target public APIs with the default stream
  cpp/benchmarks/join/distinct_join.cu
  cpp/benchmarks/join/join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/mixed_join.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15853 add unit test setup for cudf_kafka
  ci/run_cudf_kafka_pytests.sh
  ci/run_custreamz_pytests.sh
  ci/run_dask_cudf_pytests.sh
  ci/test_python_other.sh
  python/cudf_kafka/cudf_kafka/tests/__init__.py
  python/cudf_kafka/cudf_kafka/tests/test_version.py
  python/cudf_kafka/pyproject.toml
Labels: 3 - Ready for Review, cuDF (Python), improvement, non-breaking, ci

#15860 DOC: add linkcode to docs
  docs/cudf/source/conf.py
Labels: doc, non-breaking

#15645 Add `from_arrow_host` functions for cudf interop with nanoarrow
  cpp/CMakeLists.txt
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_utilities.cpp
  cpp/src/interop/arrow_utilities.hpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_schema.cpp
  cpp/src/interop/to_arrow_utilities.cpp
  cpp/src/interop/to_arrow_utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/interop/from_arrow_device_test.cpp
  cpp/tests/interop/from_arrow_host_test.cpp
  cpp/tests/interop/nanoarrow_utils.hpp
  cpp/tests/interop/to_arrow_device_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#15359 Utilities for decimal <--> floating conversion
  cpp/include/cudf/fixed_point/floating_conversion.hpp
Labels: libcudf, improvement, non-breaking

#15245 Use rapids-build-backend.
  .pre-commit-config.yaml
  build.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_dask_cudf.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/_version.py
  python/cudf/cudf/tests/test_version.py
  python/cudf/pyproject.toml
  python/cudf_kafka/cudf_kafka/_version.py
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/cudf_polars/_version.py
  python/cudf_polars/pyproject.toml
  python/custreamz/custreamz/_version.py
  python/custreamz/custreamz/tests/test_version.py
  python/custreamz/pyproject.toml
  python/dask_cudf/dask_cudf/_version.py
  python/dask_cudf/dask_cudf/tests/test_version.py
  python/dask_cudf/pyproject.toml
Labels: 3 - Ready for Review, cuDF (Python), conda, improvement, non-breaking, ci

#15877 Update interleave lists column for large strings
  cpp/src/lists/interleave_columns.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15762 Change thrust::count_if call to raw kernel in strings split APIs
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/large_strings/split_strings_tests.cpp
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#15504 Executor for polars logical plans
  dependencies.yaml
  python/cudf/cudf/_lib/pylibcudf/types.pyx
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/__init__.py
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/containers/scalar.py
  python/cudf_polars/cudf_polars/dsl/__init__.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/__init__.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/cudf_polars/utils/__init__.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
  python/cudf_polars/cudf_polars/utils/sorting.py
  python/cudf_polars/docs/overview.md
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/expressions/test_filter.py
  python/cudf_polars/tests/expressions/test_gather.py
  python/cudf_polars/tests/expressions/test_numeric_binops.py
  python/cudf_polars/tests/test_distinct.py
  python/cudf_polars/tests/test_extcontext.py
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/test_hconcat.py
  python/cudf_polars/tests/test_hstack.py
  python/cudf_polars/tests/test_join.py
  python/cudf_polars/tests/test_scan.py
  python/cudf_polars/tests/test_select.py
  python/cudf_polars/tests/test_slice.py
  python/cudf_polars/tests/test_sort.py
  python/cudf_polars/tests/test_union.py
Labels: cuDF (Python), improvement, non-breaking, cudf.polars

#15772 Update `pylibcudf` testing utilities
  python/cudf/cudf/pylibcudf_tests/common/utils.py
  python/cudf/cudf/pylibcudf_tests/test_column_from_device.py
  python/cudf/cudf/pylibcudf_tests/test_copying.py
  python/cudf/cudf/pylibcudf_tests/test_string_case.py
  python/cudf/cudf/pylibcudf_tests/test_string_find.py
Labels: feature request, cuDF (Python), non-breaking, pylibcudf

#15876 Simple NumPy 2 fixes that are clearly no behavior change
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/tests/test_hash_vocab.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/utils/hash_vocab_utils.py
Labels: cuDF (Python), improvement, non-breaking

#15886 Fix categorical conversion from chunked arrow arrays
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, cuDF (Python), non-breaking

#15878 Use offsetalator in nvtext::tokenize_with_vocabulary
  cpp/src/text/vocabulary_tokenize.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#15798 Fix JSON parsing memory corruption - Fix Mixed types nested children removal
  cpp/src/io/json/json_column.cu
  cpp/tests/io/json_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#15807 Fix multi-replace target count logic for large strings
  cpp/src/strings/replace/multi.cu
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#15863 Migrate round to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/round.rst
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/libcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/libcudf/round.pxd
  python/cudf/cudf/_lib/pylibcudf/libcudf/round.pyx
  python/cudf/cudf/_lib/pylibcudf/round.pxd
  python/cudf/cudf/_lib/pylibcudf/round.pyx
  python/cudf/cudf/_lib/round.pyx
  python/cudf/cudf/pylibcudf_tests/test_round.py
Labels: feature request, cuDF (Python), CMake, non-breaking, pylibcudf

#15891 Use offsetalator in orc rowgroup_char_counts_kernel
  cpp/src/io/orc/dict_enc.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#15871 Fix url-decode benchmark to use offsetalator
  cpp/benchmarks/string/url_decode.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking
