Repository rapidsai/cudf, pull requests merged in 2024-07, with the labels that each got.

#16113 Implement handlers for series literal in cudf-polars
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
  python/cudf_polars/tests/expressions/test_literal.py
  python/cudf_polars/tests/test_dataframescan.py
Labels: Python, improvement, non-breaking, cudf.polars

#16077 Add patch for incorrect cuco noexcept clauses
  cpp/cmake/thirdparty/get_cucollections.cmake
  cpp/cmake/thirdparty/patches/cuco_noexcept.diff
  cpp/cmake/thirdparty/patches/cuco_override.json
Labels: bug, 3 - Ready for Review, libcudf, CMake, ! - Hotfix, non-breaking

#16100 Backport: Fix segfault in conditional join (#16094)
  cpp/src/join/conditional_join.cu
  cpp/tests/join/conditional_join_tests.cu
Labels: bug, libcudf, ! - Hotfix, non-breaking

#16106 Ensure cudf objects can astype to any type when empty
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexing_utils.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/tests/test_interval.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, Python, non-breaking

#16101 Backport #16038 to 24.06
  cpp/include/cudf/ast/detail/operators.hpp
Labels: bug, libcudf, ! - Hotfix, non-breaking

#16034 Add stream parameter to cudf::io::text::multibyte_split
  cpp/include/cudf/io/text/byte_range_info.hpp
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/text/multibyte_split_test.cpp
  cpp/tests/streams/io/multibyte_split_test.cpp
  docs/cudf/source/conf.py
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#16144 Use verify-alpha-spec hook
  .pre-commit-config.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#16133 Backport: Use size_t to allow large conditional joins (#16127)
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join_common_utils.cuh
Labels: bug, libcudf, ! - Hotfix, non-breaking

#16102 Backport #16045 to 24.06
  cpp/tests/ast/transform_tests.cpp
Labels: bug, libcudf, ! - Hotfix, non-breaking

#16149 Update cudf-polars for v1 release of polars
  ci/test_cudf_polars.sh
  dependencies.yaml
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.polars

#16131 Promote has_nested_columns to cudf public API
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/table_view.hpp
  cpp/src/table/table_view.cpp
  cpp/tests/table/experimental_row_operator_tests.cu
  cpp/tests/table/row_operator_tests_utilities.cu
  cpp/tests/table/row_operator_tests_utilities2.cu
Labels: feature request, libcudf, non-breaking

#15952 Start migrating I/O writers to pylibcudf (starting with JSON)
  docs/cudf/source/user_guide/api_docs/pylibcudf/io/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/io/json.rst
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/pylibcudf/io/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/io/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/io/__init__.py
  python/cudf/cudf/_lib/pylibcudf/io/avro.pyx
  python/cudf/cudf/_lib/pylibcudf/io/json.pxd
  python/cudf/cudf/_lib/pylibcudf/io/json.pyx
  python/cudf/cudf/_lib/pylibcudf/io/types.pxd
  python/cudf/cudf/_lib/pylibcudf/io/types.pyx
  python/cudf/cudf/pylibcudf_tests/common/utils.py
  python/cudf/cudf/pylibcudf_tests/conftest.py
  python/cudf/cudf/pylibcudf_tests/io/test_avro.py
  python/cudf/cudf/pylibcudf_tests/io/test_json.py
  python/cudf/cudf/pylibcudf_tests/io/test_source_sink_info.py
  python/cudf/cudf/pylibcudf_tests/test_copying.py
Labels: feature request, Python, CMake, non-breaking, pylibcudf

#16171 [HOTFIX] v24.06.01
  cpp/cmake/thirdparty/get_cucollections.cmake
  cpp/cmake/thirdparty/patches/cuco_noexcept.diff
  cpp/cmake/thirdparty/patches/cuco_override.json
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join_common_utils.cuh
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/join/conditional_join_tests.cu
Labels: libcudf, CMake

#16151 Run DFG after verify-alpha-spec
  .pre-commit-config.yaml
Labels: bug, 3 - Ready for Review, non-breaking

#16135 Remove the (unused) implementation of `host_parse_nested_json`
  cpp/src/io/json/nested_json_gpu.cu
Labels: libcudf, improvement, non-breaking

#16153 Use provided memory resource for allocating mixed join results.
  cpp/src/join/mixed_join.cu
  cpp/src/join/mixed_join_semi.cu
Labels: bug, libcudf, non-breaking

#16037 Add compile option to enable large strings support
  build.sh
  ci/test_java.sh
  cpp/CMakeLists.txt
  cpp/src/strings/utilities.cu
  python/cudf/cudf/tests/test_column.py
Labels: 3 - Ready for Review, libcudf, Python, CMake, improvement, breaking

#16124 cudf::merge public API now support passing a user stream
  cpp/include/cudf/detail/merge.hpp
  cpp/include/cudf/merge.hpp
  cpp/src/merge/merge.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/merge_test.cpp
Labels: feature request, libcudf, CMake, non-breaking

#16168 Fix unused-return-value debug build error in from_arrow_stream_test.cpp
  cpp/tests/interop/from_arrow_stream_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#16126 Add throughput metrics for REDUCTION_BENCH/REDUCTION_NVBENCH benchmarks
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/common/benchmark_utilities.cpp
  cpp/benchmarks/common/benchmark_utilities.hpp
  cpp/benchmarks/common/nvbench_utilities.cpp
  cpp/benchmarks/common/nvbench_utilities.hpp
  cpp/benchmarks/common/table_utilities.cpp
  cpp/benchmarks/common/table_utilities.hpp
  cpp/benchmarks/reduction/anyall.cpp
  cpp/benchmarks/reduction/dictionary.cpp
  cpp/benchmarks/reduction/minmax.cpp
  cpp/benchmarks/reduction/rank.cpp
  cpp/benchmarks/reduction/reduce.cpp
  cpp/benchmarks/reduction/scan.cpp
  cpp/benchmarks/reduction/scan_structs.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#16082 `cudf-polars` string slicing
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/expressions/test_stringfunction.py
Labels: feature request, Python, non-breaking, cudf.polars

#16160 Refactor from_arrow_device/host to use resource_ref
  cpp/include/cudf/dictionary/detail/update_keys.hpp
  cpp/include/cudf/interop.hpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/from_arrow_stream.cu
Labels: bug, libcudf, breaking

#16178 Add environment-agnostic `ci/run_cudf_polars_pytest.sh`
  ci/run_cudf_polars_pytests.sh
  ci/test_cudf_polars.sh
Labels: 3 - Ready for Review, improvement, non-breaking

#16181 Make `test_python_cudf_pandas` generate `requirements.txt`
  dependencies.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#16192 Cast count aggs to correct dtype in translation
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, improvement, non-breaking, cudf.polars

#16191 Some small fixes in cudf-polars
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_union.py
Labels: Python, improvement, non-breaking, cudf.polars

#16193 Fix `memory_usage` when calculating nested list column
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Labels: bug, Python, non-breaking, cuDF (Python)

#16185 Migrate lists/modifying to pylibcudf
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/reverse.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pyx
  python/cudf/cudf/pylibcudf_tests/test_lists.py
Labels: feature request, Python, non-breaking, pylibcudf

#16197 Expose type traits to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/traits.rst
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/libcudf/utilities/traits.pxd
  python/cudf/cudf/_lib/pylibcudf/traits.pxd
  python/cudf/cudf/_lib/pylibcudf/traits.pyx
  python/cudf/cudf/pylibcudf_tests/common/utils.py
  python/cudf/cudf/pylibcudf_tests/test_copying.py
  python/cudf/cudf/pylibcudf_tests/test_traits.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
Labels: Python, CMake, improvement, non-breaking, cudf.polars, pylibcudf

#16148 Use strings concatenate to support large strings in CSV writer
  cpp/src/io/csv/writer_impl.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#16156 CI: Build wheels for cudf-polars
  .github/workflows/pr.yaml
  ci/build_wheel_cudf_polars.sh
  ci/run_cudf_polars_pytests.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
  python/cudf_polars/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.polars

#16173 Implement translation for some unary functions and a single datetime extraction
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
  python/cudf_polars/tests/expressions/test_round.py
  python/cudf_polars/tests/expressions/test_unique.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, improvement, non-breaking, cudf.polars

#16167 Fix cudf::strings::replace_multiple hang on empty target
  cpp/include/cudf/strings/replace.hpp
  cpp/src/strings/replace/multi.cu
  cpp/tests/strings/replace_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#16202 skip CMake 3.30.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf_kafka/conda_build_config.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
Labels: Python, improvement, non-breaking

#16182 Define PTDS for the stream hook libs
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#16175 Add missing methods to lists/list_column_view.pxd in pylibcudf
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/lists_column_view.pxd
Labels: feature request, Python, non-breaking, pylibcudf

#16201 Add single offset to an empty ListArray in cudf::to_arrow
  cpp/src/interop/to_arrow.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#16177 Support at/iat indexers in cudf.pandas
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, non-breaking, cudf.pandas

#16158 interpolate returns new column if no values are interpolated
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_interpolate.py
Labels: bug, Python, non-breaking

#16095 Defer copying in Column.astype(copy=True)
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
Labels: Python, improvement, non-breaking

#16207 Remove CCCL patch for PR 211.
  cpp/cmake/thirdparty/patches/cccl_override.json
Labels: bug, libcudf, CMake, non-breaking

#16211 Handler csv reader options in cudf-polars
  python/cudf/cudf/_lib/csv.pyx
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, improvement, non-breaking, cudf.polars

#16213 Publish cudf-polars nightlies
  .github/workflows/build.yaml
Labels: feature request, non-breaking

#16091 Free temp memory no longer needed in multibyte_split processing
  cpp/src/io/text/multibyte_split.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#16105 Support `pd.read_pickle` and `pd.to_pickle` in `cudf.pandas`
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, non-breaking, cudf.pandas

#16109 Parallelize `gpuInitStringDescriptors` for fixed length byte array data
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_string_decode.cu
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#16170 Migrate pylibcudf lists gathering
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/gather.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pyx
  python/cudf/cudf/pylibcudf_tests/test_lists.py
Labels: feature request, 3 - Ready for Review, Python, non-breaking, pylibcudf

#15875 Support `arrow:schema` in Parquet writer to faithfully roundtrip `duration` types with Arrow
  cpp/CMakeLists.txt
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/parquet/arrow_schema_writer.cpp
  cpp/src/io/parquet/arrow_schema_writer.hpp
  cpp/src/io/parquet/parquet_common.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/io/parquet/writer_impl_helpers.cpp
  cpp/src/io/parquet/writer_impl_helpers.hpp
  cpp/tests/io/parquet_writer_test.cpp
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/parquet.pxd
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: libcudf, Python, CMake, 5 - Ready to Merge, cuIO, improvement, breaking, pylibcudf

#16154 Add groupby_max multi-threaded benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_max.cpp
  cpp/benchmarks/groupby/group_max_multithreaded.cpp
Labels: feature request, libcudf, CMake, Performance, non-breaking

#16128 Disable dict support for split-page kernel in the parquet reader.
  cpp/src/io/parquet/decode_fixed.cu
Labels: libcudf, cuIO, improvement, non-breaking

#16125 Promote IO support queries to cudf API
  cpp/include/cudf/io/config_utils.hpp
  cpp/include/cudf/io/nvcomp_adapter.hpp
  cpp/include/cudf/utilities/logger.hpp
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/comp/nvcomp_adapter.hpp
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/text/bgzip_data_chunk_source.cu
  cpp/src/io/utilities/config_utils.cpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/getenv_or.hpp
Labels: feature request, libcudf, non-breaking

#16071 Migrate lists/extract to pylibcudf
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/extract.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pyx
  python/cudf/cudf/pylibcudf_tests/test_lists.py
Labels: feature request, Python, non-breaking, pylibcudf

#16231 Remove `mr` param from `write_csv` and `write_json`
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/csv.hpp
  cpp/include/cudf/io/detail/json.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json_test.cpp
  cpp/tests/io/json_writer.cpp
Labels: libcudf, improvement, breaking

#15905 New Decimal <--> Floating conversion
  cpp/benchmarks/decimal/convert_floating.cpp
  cpp/include/cudf/fixed_point/floating_conversion.hpp
  cpp/include/cudf/unary.hpp
  cpp/tests/fixed_point/fixed_point_tests.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  python/cudf/cudf/tests/test_decimal.py
Labels: libcudf, Python, Performance, Java, improvement, non-breaking

#16234 Add custom name setter and getter for proxy objects in `cudf.pandas`
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, non-breaking, cudf.pandas

#16120 Allow only scale=0 fixed-point values in fixed_width_column_wrapper
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_v2_test.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/streams/io/csv_test.cpp
  cpp/tests/streams/io/orc_test.cpp
  cpp/tests/streams/io/parquet_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#16243 Add Column.strftime/strptime instead of overloading `as_string/datetime/timedelta_column`
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
Labels: Python, improvement, non-breaking

#16254 remove `cuco_noexcept.diff`
  cpp/cmake/thirdparty/get_cucollections.cmake
  cpp/cmake/thirdparty/patches/cuco_noexcept.diff
  cpp/cmake/thirdparty/patches/cuco_override.json
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#16239 Expose reflection to check if casting between two types is supported
  cpp/include/cudf/unary.hpp
  cpp/src/unary/cast_ops.cu
  python/cudf/cudf/_lib/pylibcudf/libcudf/unary.pxd
  python/cudf/cudf/_lib/pylibcudf/unary.pxd
  python/cudf/cudf/_lib/pylibcudf/unary.pyx
  python/cudf/cudf/pylibcudf_tests/test_unary.py
Labels: libcudf, Python, improvement, non-breaking, pylibcudf

#16058 Fix ArrowDeviceArray interface to pass address of event
  cpp/src/interop/to_arrow_device.cu
  cpp/tests/interop/to_arrow_device_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#16247 Improve the test data for pylibcudf I/O tests
  python/cudf/cudf/pylibcudf_tests/common/utils.py
  python/cudf/cudf/pylibcudf_tests/conftest.py
  python/cudf/cudf/pylibcudf_tests/io/test_json.py
Labels: Python, improvement, non-breaking

#16260 Add docstring for from_dataframe
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
Labels: doc, Python, non-breaking

#16240 Expose sorted groupby parameters to pylibcudf
  python/cudf/cudf/_lib/pylibcudf/groupby.pxd
  python/cudf/cudf/_lib/pylibcudf/groupby.pyx
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/containers/test_dataframe.py
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/expressions/test_sort.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#16253 Update contains_tests.cpp to use public cudf::slice
  cpp/tests/lists/contains_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#16242 Remove temporary functor overloads required by cuco version bump
  cpp/include/cudf/detail/distinct_hash_join.cuh
  cpp/src/search/contains_table.cu
  cpp/src/text/bpe/byte_pair_encoding.cuh
  cpp/src/text/vocabulary_tokenize.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#16203 Clean up state variables in MultiIndex
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_repr.py
Labels: Python, improvement, non-breaking

#16204 Add low memory JSON reader for `cudf.pandas`
  cpp/src/io/json/read_json.cu
  cpp/src/io/utilities/datasource.cpp
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/pylibcudf/io/json.pxd
  python/cudf/cudf/_lib/pylibcudf/io/json.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_json.py
Labels: libcudf, Python, 5 - Ready to Merge, improvement, non-breaking, pylibcudf

#16057 Add multi-file support to `dask_cudf.read_json`
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/io/json.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
Labels: Python, 5 - Ready to Merge, dask, improvement, non-breaking

#16141 MAINT: Adapt to NumPy 2 promotion changes
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_doctests.py
  python/cudf/cudf/tests/test_dtypes.py
Labels: Python, improvement, non-breaking

#16245 Make nvcomp adapter compatible with new version macros
  cpp/src/io/comp/nvcomp_adapter.cpp
Labels: libcudf, cuIO, improvement, non-breaking

#15964 Fix convert_dtypes with convert_integer=False/convert_floating=True
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/series/test_conversion.py
Labels: bug, Python, non-breaking

#16262 Replace is_datetime/timedelta_dtype checks with .kind checks
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#16277 Type & reduce cupy usage
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Labels: Python, improvement, non-breaking

#16255 Replace is_bool_type with checking .dtype.kind
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexing_utils.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
Labels: Python, improvement, non-breaking

#16279 Fix logic in to_arrow for empty list column
  cpp/src/interop/to_arrow.cu
Labels: bug, libcudf, non-breaking

#16280 Introduce version file so we can conditionally handle things in tests
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, improvement, non-breaking, cudf.polars

#16289 Introduce dedicated options for low memory readers
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking

#16259 Build and test with CUDA 12.5.1
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  README.md
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#16292 Fix tests for polars 1.2
  python/cudf_polars/tests/test_groupby.py
Labels: Python, improvement, non-breaking, cudf.polars

#16270 [BUG] Make name attr of Index fast slow attrs
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: bug, 3 - Ready for Review, Python, non-breaking, cudf.pandas

#16056 Migrate expressions to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/datetime.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/expressions.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/index.rst
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/expressions.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/expressions.pxd
  python/cudf/cudf/_lib/pylibcudf/expressions.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/libcudf/expressions.pxd
  python/cudf/cudf/_lib/pylibcudf/libcudf/expressions.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/_internals/expressions.py
  python/cudf/cudf/pylibcudf_tests/test_expressions.py
Labels: feature request, Python, CMake, non-breaking, pylibcudf

#16274 Remove xml from sort_ninja_log.py utility
  cpp/scripts/sort_ninja_log.py
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#16276 Update cudf::detail::grid_1d to use thread_index_type
  cpp/include/cudf/detail/utilities/cuda.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#16165 Move kernel vis over to CUDF_HIDDEN
  cpp/src/join/mixed_join_kernel.cuh
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_size_kernel.cuh
Labels: feature request, 3 - Ready for Review, libcudf, non-breaking

#16293 Rename `.devcontainer`s for CUDA 12.5
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
Labels: bug, non-breaking

#16287 Remove decimal/floating 64/128bit switches due to register pressure
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/fixed_point/floating_conversion.hpp
Labels: libcudf, Performance, improvement, non-breaking

#16088 Add TPC-H inspired examples for Libcudf
  cpp/examples/build.sh
  cpp/examples/parquet_io/parquet_io.cpp
  cpp/examples/parquet_io/parquet_io.hpp
  cpp/examples/tpch/CMakeLists.txt
  cpp/examples/tpch/README.md
  cpp/examples/tpch/q1.cpp
  cpp/examples/tpch/q5.cpp
  cpp/examples/tpch/q6.cpp
  cpp/examples/tpch/q9.cpp
  cpp/examples/tpch/utils.hpp
  cpp/examples/utilities/timer.hpp
Labels: feature request, libcudf, CMake, Performance, non-breaking

#16291 Fix split_record for all empty strings column
  cpp/src/strings/split/split.cuh
  cpp/tests/strings/split_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#16011 Migrate CSV reader to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/io/csv.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/io/index.rst
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/pylibcudf/io/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/io/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/io/__init__.py
  python/cudf/cudf/_lib/pylibcudf/io/csv.pyx
  python/cudf/cudf/_lib/pylibcudf/io/types.pxd
  python/cudf/cudf/_lib/pylibcudf/io/types.pyx
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/pylibcudf_tests/common/utils.py
  python/cudf/cudf/pylibcudf_tests/conftest.py
  python/cudf/cudf/pylibcudf_tests/io/test_csv.py
Labels: feature request, Python, CMake, non-breaking, pylibcudf

#16301 Drop `{{ pin_compatible('numpy', max_pin='x') }}`
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
Labels: Python, improvement, non-breaking, conda

#16241 Remove hash_character_ngrams dependency from jaccard_index
  cpp/benchmarks/text/jaccard.cpp
  cpp/src/text/jaccard.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#16303 Use Column.can_cast_safely instead of some ad-hoc dtype functions in .where
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#16210 Update vendored thread_pool implementation
  cpp/CMakeLists.txt
  cpp/benchmarks/groupby/group_max_multithreaded.cpp
  cpp/benchmarks/io/orc/orc_reader_multithreaded.cpp
  cpp/benchmarks/io/parquet/parquet_reader_multithread.cpp
  cpp/cmake/thirdparty/get_thread_pool.cmake
  cpp/include/cudf/utilities/thread_pool.hpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
Labels: libcudf, CMake, improvement, non-breaking

#16218 Support Literals in groupby-agg
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, improvement, non-breaking, cudf.polars

#16072 Migrate lists/count_elements to pylibcudf
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/count_elements.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pyx
  python/cudf/cudf/pylibcudf_tests/test_lists.py
Labels: feature request, Python, non-breaking, pylibcudf

#15846 DOC: use intersphinx mapping in pandas-compat ext
  docs/cudf/source/developer_guide/documentation.md
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/ewm.py
Labels: 0 - Waiting on Author, doc, Python, non-breaking

#16314 Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#16268 Preserve order in left join for cudf-polars
  python/cudf/cudf/_lib/pylibcudf/join.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/utilities/type_dispatcher.pxd
  python/cudf/cudf/_lib/pylibcudf/types.pyx
  python/cudf/cudf/_lib/types.pyx
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_join.py
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#16313 Deprecate dtype= parameter in reduction methods
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_reductions.py
Labels: Python, improvement, breaking

#16312 Remove squeeze argument from groupby
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
Labels: Python, improvement, breaking

#16316 Fix polars for 1.2.1
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, improvement, non-breaking, cudf.polars

#16309 Clean unneeded/redudant dtype utils
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#16083 Rename gather/scatter benchmarks to clarify coalesced behavior.
  cpp/benchmarks/copying/gather.cu
  cpp/benchmarks/copying/scatter.cu
  cpp/benchmarks/lists/copying/scatter_lists.cu
Labels: libcudf, improvement, non-breaking

#16311 Make __bool__ raise for more cudf objects
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
Labels: bug, Python, non-breaking

#16310 Align more DataFrame APIs with pandas
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
Labels: Python, improvement, breaking

#15470 Add tests for `pylibcudf` binaryops
  cpp/include/cudf/binaryop.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/tests/binaryop/binop-verify-input-test.cpp
  python/cudf/cudf/_lib/pylibcudf/binaryop.pxd
  python/cudf/cudf/_lib/pylibcudf/binaryop.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/binaryop.pxd
  python/cudf/cudf/pylibcudf_tests/common/utils.py
  python/cudf/cudf/pylibcudf_tests/test_binaryops.py
Labels: feature request, libcudf, Python, non-breaking, pylibcudf, cuDF (Python)

#16275 Replace np.isscalar/issubdtype checks with is_scalar/.kind checks
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#16318 Mark cudf._typing as a typing module in ruff
  pyproject.toml
  python/cudf/cudf/core/resample.py
Labels: Python, improvement, non-breaking

#16261 Replace is_float/integer_dtype checks with .kind checks
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing_utils.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#16307 Implement read_csv in cudf-polars using pylibcudf
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, improvement, non-breaking, cudf.polars

#16132 Deprecate Arrow support in I/O
  python/cudf/cudf/_lib/pylibcudf/io/datasource.pyx
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/pylibcudf_tests/io/test_source_sink_info.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_gcs.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
  python/cudf/cudf/utils/utils.py
  python/dask_cudf/dask_cudf/io/tests/test_s3.py
Labels: Python, cuIO, improvement, breaking, pylibcudf

#16195 Report number of rows per file read by PQ reader when no row selection and fix segfault in chunked PQ reader when skip_rows > 0
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_chunking.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_chunked_reader_test.cu
  cpp/tests/io/parquet_reader_test.cpp
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/types.pxd
Labels: libcudf, Python, 5 - Ready to Merge, cuIO, improvement, breaking, pylibcudf

#16285 Make ColumnAccessor strictly require a mapping of columns
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_column_accessor.py
Labels: Python, improvement, non-breaking

#16078 Migrate Parquet reader to pylibcudf
  docs/cudf/source/user_guide/api_docs/pylibcudf/io/index.rst
  docs/cudf/source/user_guide/api_docs/pylibcudf/io/parquet.rst
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/pylibcudf/expressions.pyx
  python/cudf/cudf/_lib/pylibcudf/io/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/io/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/io/__init__.py
  python/cudf/cudf/_lib/pylibcudf/io/parquet.pxd
  python/cudf/cudf/_lib/pylibcudf/io/parquet.pyx
  python/cudf/cudf/_lib/pylibcudf/io/types.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/io/parquet.pxd
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/pylibcudf_tests/common/utils.py
  python/cudf/cudf/pylibcudf_tests/conftest.py
  python/cudf/cudf/pylibcudf_tests/io/test_parquet.py
  python/cudf/cudf/tests/test_parquet.py
Labels: feature request, Python, CMake, non-breaking, pylibcudf

#16020 Experimental support for configurable prefetching
  cpp/CMakeLists.txt
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/detail/join.hpp
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/include/cudf/utilities/prefetch.hpp
  cpp/src/column/column_view.cpp
  cpp/src/join/hash_join.cu
  cpp/src/utilities/prefetch.cpp
  python/cudf/cudf/_lib/pylibcudf/CMakeLists.txt
  python/cudf/cudf/_lib/pylibcudf/__init__.pxd
  python/cudf/cudf/_lib/pylibcudf/__init__.py
  python/cudf/cudf/_lib/pylibcudf/experimental.pxd
  python/cudf/cudf/_lib/pylibcudf/experimental.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/experimental.pxd
Labels: feature request, libcudf, Python, CMake, non-breaking, pylibcudf

#16333 Align Series APIs with pandas 2.x
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
Labels: Python, improvement, breaking

#16319 Add missing `stream` param to dictionary factory APIs
  cpp/include/cudf/dictionary/dictionary_factories.hpp
  cpp/src/dictionary/dictionary_factories.cu
  cpp/tests/streams/dictionary_test.cpp
Labels: libcudf, improvement, breaking

#16187 Use resource_ref for upstream in stream_checking_resource_adaptor
  cpp/include/cudf_test/stream_checking_resource_adaptor.hpp
  cpp/include/cudf_test/testing_main.hpp
Labels: feature request, libcudf, non-breaking

#16317 Add `stream` param to list explode APIs
  cpp/include/cudf/lists/explode.hpp
  cpp/include/cudf/lists/set_operations.hpp
  cpp/src/lists/explode.cu
  cpp/tests/streams/lists_test.cpp
Labels: libcudf, improvement, non-breaking

#16346 Implement parquet reading using pylibcudf in cudf-polars
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, improvement, non-breaking, cudf.polars

#16179 Migrate lists/sorting to pylibcudf
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/sorting.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pyx
  python/cudf/cudf/pylibcudf_tests/test_lists.py
Labels: feature request, Python, non-breaking, pylibcudf

#16351 Fix docstring of `DataFrame.apply`
  python/cudf/cudf/core/dataframe.py
Labels: bug, Python, non-breaking

#16162 Remove size constraints on source files in batched JSON reading
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/read_json.cu
  cpp/src/io/json/read_json.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/json/json_chunked_reader.cu
  cpp/tests/io/json/json_quote_normalization_test.cpp
  cpp/tests/io/json/json_test.cpp
  cpp/tests/io/json/json_tree.cpp
  cpp/tests/io/json/json_type_cast_test.cu
  cpp/tests/io/json/json_utils.cuh
  cpp/tests/io/json/json_whitespace_normalization_test.cu
  cpp/tests/io/json/json_writer.cpp
  cpp/tests/io/json/nested_json_test.cpp
  cpp/tests/large_strings/json_tests.cu
Labels: libcudf, CMake, 5 - Ready to Merge, cuIO, improvement, non-breaking

#16290 Add `drop_nulls` in `cudf-polars`
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/test_drop_nulls.py
Labels: feature request, Python, non-breaking, cudf.polars

#16232 Fall back when casting a timestamp to numeric in cudf-polars
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/expressions/test_casting.py
Labels: bug, Python, non-breaking, cudf.polars

#16336 Fix compile warnings with `jni_utils.hpp`
  java/src/main/native/include/jni_utils.hpp
Labels: 3 - Ready for Review, Java, Spark, improvement, non-breaking, cuDF (Java)

#16143 Adds write-coalescing code path optimization to FST
  cpp/benchmarks/io/fst.cu
  cpp/src/io/fst/agent_dfa.cuh
  cpp/src/io/fst/dispatch_dfa.cuh
  cpp/src/io/fst/lookup_tables.cuh
  cpp/src/io/json/json_normalization.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/fst/common.hpp
  cpp/tests/io/fst/fst_test.cu
Labels: libcudf, cuIO, improvement, non-breaking

#16188 Fall back to CPU for unsupported libcudf binaryops in cudf-polars
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
  python/cudf_polars/tests/expressions/test_literal.py
Labels: feature request, Python, non-breaking, cudf.polars

#16206 Modify `make_host_vector` and `make_device_uvector` factories to optionally use pinned memory and kernel copy
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/null_mask.cuh
  cpp/include/cudf/detail/utilities/host_memory.hpp
  cpp/include/cudf/detail/utilities/host_vector.hpp
  cpp/include/cudf/detail/utilities/vector_factories.hpp
  cpp/include/cudf/io/text/detail/trie.hpp
  cpp/include/cudf/lists/detail/dremel.hpp
  cpp/include/cudf/utilities/pinned_memory.hpp
  cpp/include/cudf/utilities/span.hpp
  cpp/src/copying/concatenate.cu
  cpp/src/copying/contiguous_split.cu
  cpp/src/datetime/timezone.cpp
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/json/read_json.cu
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/lists/dremel.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/src/strings/translate.cu
  cpp/src/table/row_operators.cu
  cpp/src/utilities/cuda_memcpy.cu
  cpp/src/utilities/host_memory.cpp
  cpp/tests/io/json/json_tree.cpp
  cpp/tests/strings/integers_tests.cpp
  cpp/tests/utilities_tests/pinned_memory_tests.cpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, Performance, Spark, non-breaking

#16358 Rename PrefetchConfig to prefetch_config.
  cpp/include/cudf/utilities/prefetch.hpp
  cpp/src/column/column_view.cpp
  cpp/src/utilities/prefetch.cpp
Labels: libcudf, improvement, non-breaking

#16297 Host implementation of `to_arrow` using nanoarrow
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nanoarrow.cmake
  cpp/include/cudf/interop.hpp
  cpp/include/cudf/interop/detail/arrow.hpp
  cpp/src/interop/arrow_utilities.cpp
  cpp/src/interop/arrow_utilities.hpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/to_arrow.cu
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_host.cu
  cpp/src/interop/to_arrow_schema.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/interop/nanoarrow_utils.hpp
  cpp/tests/interop/to_arrow_device_test.cpp
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#16308 Warn on cuDF failure when `POLARS_VERBOSE` is true
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/tests/test_config.py
Labels: feature request, Python, non-breaking, cudf.polars

#16362 Align Index __init__ APIs with pandas 2.x
  docs/cudf/source/conf.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Labels: Python, improvement, breaking

#16288 [JNI] Add setKernelPinnedCopyThreshold and setPinnedAllocationThreshold
  java/src/main/java/ai/rapids/cudf/Cudf.java
  java/src/main/native/src/CudfJni.cpp
Labels: feature request, Java, non-breaking, cuDF (Java)

#16189 Migrate lists/filling to pylibcudf
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/filling.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pyx
  python/cudf/cudf/pylibcudf_tests/test_lists.py
Labels: feature request, Python, non-breaking, pylibcudf

#16190 Migrate lists/set_operations to pylibcudf
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/set_operations.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pyx
  python/cudf/cudf/pylibcudf_tests/test_lists.py
Labels: feature request, Python, non-breaking, pylibcudf

#16385 Gracefully CUDF_FAIL when `skip_rows > 0` in Chunked Parquet reader
  cpp/src/io/parquet/reader.cpp
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: libcudf, 5 - Ready to Merge, ! - Hotfix, cuIO, improvement, non-breaking

#16377 Fix some issues with deprecated / removed cccl facilities
  cpp/benchmarks/common/generate_input.cu
  cpp/include/cudf/detail/gather.cuh
  cpp/src/io/fst/agent_dfa.cuh
  cpp/src/reductions/minmax.cu
  java/src/main/native/src/aggregation128_utils.cu
Labels: libcudf, Java, improvement, non-breaking

#16183 split up CUDA-suffixed dependencies in dependencies.yaml
  ci/release/update-version.sh
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: 3 - Ready for Review, Python, improvement, non-breaking, cudf.polars

#16379 Make C++ compilation warning free after #16297
  cpp/include/cudf/interop.hpp
  cpp/src/interop/to_arrow.cu
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  cpp/tests/streams/interop_test.cpp
Labels: libcudf, improvement, non-breaking

#16365 fix [tool.setuptools] reference in custreamz config
  python/custreamz/pyproject.toml
Labels: Python, improvement, non-breaking

#15766 Fix inconsistent usage of 'results' and 'records' in read-json.md
  docs/cudf/source/user_guide/io/read-json.md
Labels: doc, non-breaking

#16184 Migrate lists/filtering to pylibcudf
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/pylibcudf/libcudf/lists/stream_compaction.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pxd
  python/cudf/cudf/_lib/pylibcudf/lists.pyx
  python/cudf/cudf/pylibcudf_tests/test_lists.py
Labels: feature request, Python, non-breaking, pylibcudf

#16296 Add ability to prefetch in `cudf.pandas` and change default to managed pool
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf/pandas/__main__.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas

#16393 Merge branch-24.08 into branch-24.10
  ci/release/update-version.sh
  cpp/include/cudf/interop.hpp
  cpp/src/interop/to_arrow.cu
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  cpp/tests/streams/interop_test.cpp
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: libcudf, Python, improvement, non-breaking, cudf.polars

#16263 Implement support for scan_ndjson in cudf-polars
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/tests/test_scan.py
Labels: feature request, Python, non-breaking, cudf.polars

#16381 Require fixed width types for casting in `cudf-polars`
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/tests/expressions/test_numeric_binops.py
  python/cudf_polars/tests/expressions/test_stringfunction.py
Labels: bug, Python, non-breaking, cudf.polars

#16398 Don't export bs_thread_pool
  cpp/cmake/thirdparty/get_thread_pool.cmake
Labels: bug, libcudf, CMake, non-breaking

#16401 Gate ArrowStringArrayNumpySemantics cudf.pandas proxy behind version check
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: bug, Python, non-breaking, cudf.pandas

#16409 Branch 24.10 merge branch 24.08
  cpp/cmake/thirdparty/get_thread_pool.cmake
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: libcudf, Python, CMake, cudf.pandas
