Repository rapidsai/cudf, pull requests merged in 2024-12, with the labels that each got.

#17436 Expose stream-ordering in replace API
  cpp/src/replace/nans.cu
  cpp/tests/streams/replace_test.cpp
Labels: libcudf, improvement, non-breaking

#17465 skip most CI on devcontainer-only changes
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#17340 Move make_strings_column benchmark to nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/factory.cpp
  cpp/benchmarks/string/factory.cu
Labels: 3 - Ready for Review, libcudf, CMake, strings, improvement, non-breaking

#17472 Temporarily skip tests due to dask/distributed#8953
  python/custreamz/custreamz/tests/test_dataframes.py
Labels: bug, Python, non-breaking

#17428 Remove cudf._lib.replace in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/replace.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
Labels: Python, CMake, improvement, non-breaking

#17475 Update PyTorch to >=2.4.0 to get fix for CUDA array interface bug, and drop CUDA 11 PyTorch tests.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: improvement, non-breaking

#17459 Remove cudf._lib.filling in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
Labels: Python, CMake, improvement, non-breaking

#17457 Update MurmurHash3_x64_128 to use the cuco equivalent implementation
  cpp/include/cudf/hashing/detail/murmurhash3_x64_128.cuh
  cpp/include/cudf/hashing/detail/murmurhash3_x86_32.cuh
  cpp/include/cudf/hashing/detail/xxhash_64.cuh
  cpp/src/hash/murmurhash3_x64_128.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking, cuco

#17350 add comment to Series.tolist method
  python/cudf/cudf/core/series.py
Labels: doc, Python, non-breaking

#17492 Revert "Temporarily skip tests due to dask/distributed#8953"
  python/custreamz/custreamz/tests/test_dataframes.py
Labels: bug, Python, non-breaking

#17431 Apply clang-tidy autofixes from new rules
  ci/cpp_linters.sh
  cpp/CMakeLists.txt
  cpp/src/bitmask/is_element_valid.cpp
  cpp/src/column/column_view.cpp
  cpp/src/copying/copy.cpp
  cpp/src/copying/pack.cpp
  cpp/src/datetime/timezone.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/interop/dlpack.cpp
  cpp/src/interop/to_arrow_schema.cpp
  cpp/src/io/avro/avro.cpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/functions.cpp
  cpp/src/io/json/parser_features.cpp
  cpp/src/io/parquet/arrow_schema_writer.cpp
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/text/bgzip_utils.cpp
  cpp/src/io/utilities/base64_utilities.cpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/jit/cache.cpp
  cpp/src/jit/parser.cpp
  cpp/src/quantiles/tdigest/tdigest_column_view.cpp
  cpp/src/reductions/scan/scan.cpp
  cpp/src/reductions/segmented/reductions.cpp
  cpp/src/rolling/detail/optimized_unbounded_window.cpp
  cpp/src/strings/regex/regcomp.cpp
  cpp/src/strings/regex/regexec.cpp
  cpp/src/structs/utilities.cpp
  cpp/src/table/table_view.cpp
  cpp/src/transform/transform.cpp
  cpp/src/utilities/prefetch.cpp
  cpp/src/utilities/stream_pool.cpp
Labels: libcudf, CMake, improvement, non-breaking

#17477 Workaround for a misaligned access in `read_csv` on some CUDA versions
  cpp/src/io/csv/csv_gpu.cu
Labels: bug, libcudf, non-breaking

#17445 Use exec_policy_nosync in write_json
  cpp/src/io/json/write_json.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#16715 Make `column_empty` mask buffer creation consistent with libcudf
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/utils/queryutils.py
Labels: Python, improvement, non-breaking

#17500 Turn off cudf.pandas 3rd party integrations tests for 24.12
  .github/workflows/test.yaml
Labels: bug, ! - Hotfix, non-breaking, ci

#17390 Change indices for dictionary column to signed integer type
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/dictionary/encode.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/column/column_factories.cpp
  cpp/src/dictionary/add_keys.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/dictionary_factories.cu
  cpp/src/dictionary/encode.cu
  cpp/src/dictionary/remove_keys.cu
  cpp/src/dictionary/search.cu
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
  cpp/src/utilities/traits.cpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/dictionary/add_keys_test.cpp
  cpp/tests/dictionary/encode_test.cpp
  cpp/tests/dictionary/factories_test.cpp
  cpp/tests/dictionary/search_test.cpp
  cpp/tests/interop/from_arrow_host_test.cpp
  cpp/tests/interop/nanoarrow_utils.hpp
  cpp/tests/interop/to_arrow_device_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  cpp/tests/rolling/lead_lag_test.cpp
  cpp/tests/streams/dictionary_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, breaking

#17326 Remove upper bounds on cuda-python to allow 12.6.2 and 11.8.5
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/pylibcudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: feature request, Python, non-breaking, pylibcudf

#17233 Update to CCCL 2.7.0-rc2.
  cpp/cmake/thirdparty/patches/cccl_override.json
  cpp/cmake/thirdparty/patches/cccl_symbol_visibility.diff
  cpp/cmake/thirdparty/patches/thrust_disable_64bit_dispatching.diff
  cpp/cmake/thirdparty/patches/thrust_faster_sort_compile_times.diff
Labels: libcudf, CMake, 5 - DO NOT MERGE, improvement, non-breaking

#17446 Expose stream-ordering in nvtext API
  cpp/include/nvtext/byte_pair_encoding.hpp
  cpp/src/text/bpe/byte_pair_encoding.cu
  cpp/src/text/bpe/load_merge_pairs.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/text/bpe_test.cpp
Labels: libcudf, CMake, 5 - Ready to Merge, improvement, non-breaking

#17468 Remove cudf._lib.binops in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/core/_internals/binaryop.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/utils/applyutils.py
Labels: Python, CMake, improvement, non-breaking

#17491 Migrate `cudf::io::merge_row_group_metadata` to pylibcudf
  python/cudf/cudf/_lib/parquet.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyi
  python/pylibcudf/pylibcudf/io/parquet.pyx
Labels: feature request, 3 - Ready for Review, Python, non-breaking, pylibcudf

#17499 Fix groupby(as_index=False).size not reseting index
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, Python, non-breaking

#17512 Fix libcudf compile error when logging is disabled
  cpp/src/io/comp/nvcomp_adapter.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17523 Force Thrust to use 32-bit offset type.
  cpp/cmake/thirdparty/patches/thrust_disable_64bit_dispatching.diff
Labels: libcudf, CMake, improvement, non-breaking

#17370 Remove cudf._lib.merge in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/merge.pyx
  python/cudf/cudf/core/reshape.py
Labels: Python, CMake, improvement, non-breaking

#17516 Move cudf._lib.aggregation to cudf.core._internals
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/core/_internals/aggregation.py
  python/cudf/cudf/core/window/rolling.py
Labels: Python, CMake, improvement, non-breaking

#17513 Migrate copy_column and Column.from_scalar to pylibcudf
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/copying.pyx
Labels: Python, improvement, non-breaking

#17506 Plumb pylibcudf.io.parquet options classes through cudf python
  python/cudf/cudf/_lib/parquet.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyi
  python/pylibcudf/pylibcudf/io/parquet.pyx
Labels: feature request, Python, non-breaking, pylibcudf

#17330 Improve strings contains/find performance for smaller strings
  cpp/benchmarks/string/find.cpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/strings/search/find.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#17408 Remove cudf._lib.text in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/text.pyx
  python/cudf/cudf/io/text.py
Labels: Python, CMake, improvement, non-breaking

#17517 Replaces uses of `cudf._lib.Column.from_unique_ptr` with `pylibcudf.Column.from_libcudf`
  python/cudf/cudf/_lib/strings_udf.pyx
  python/cudf/cudf/_lib/utils.pyx
Labels: Python, improvement, non-breaking

#17430 Remove cudf._lib.round in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/round.pyx
  python/cudf/cudf/core/column/numerical_base.py
Labels: Python, CMake, improvement, non-breaking

#17466 Remove cudf._lib.orc in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/utils/ioutils.py
  python/pylibcudf/pylibcudf/io/types.pxd
  python/pylibcudf/pylibcudf/io/types.pyi
  python/pylibcudf/pylibcudf/io/types.pyx
Labels: Python, CMake, improvement, non-breaking, pylibcudf

#17464 Add Parquet Reader options classes to pylibcudf
  cpp/include/cudf/io/parquet.hpp
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyi
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
Labels: feature request, 3 - Ready for Review, libcudf, Python, non-breaking, cudf.polars, pylibcudf

#17348 Fix all null list column with missing child column in JSON reader
  cpp/src/io/json/host_tree_algorithms.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/parser_features.cpp
  cpp/tests/io/json/json_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, cuIO, non-breaking

#17547 Update cuda-python lower bounds to 12.6.2 / 11.8.5
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/pylibcudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, pylibcudf

#17540 Use cooperative-groups instead of cub warp-reduce for strings contains
  cpp/src/strings/search/find.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#17374 Remove unused IO utilities from cudf python
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
Labels: Python, improvement, non-breaking

#17534 Fix nvcc-imposed UB in `constexpr` functions
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/utilities/span.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/utilities/time_utils.cuh
Labels: bug, libcudf, non-breaking

#17542 Document undefined behavior in div_rounding_up_safe
  cpp/include/cudf/detail/utilities/integer_utils.hpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17526 [JNI] Enables fabric handles for CUDA async memory pools
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/RmmAllocationMode.java
  java/src/main/java/ai/rapids/cudf/RmmCudaAsyncMemoryResource.java
  java/src/main/native/src/RmmJni.cpp
Labels: Performance, Java, improvement, non-breaking

#17553 [JNI] remove rmm argument to set rw access for fabric handles
  java/src/main/native/src/RmmJni.cpp
Labels: bug, Java, non-breaking

#17505 Remove cudf._lib.transform in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/datasets.py
  python/cudf/cudf/tests/test_column.py
Labels: Python, CMake, improvement, non-breaking

#17549 Remove unused `BufferArrayFromVector`
  python/cudf/cudf/_lib/parquet.pyx
Labels: Python, improvement, non-breaking

#17332 Enable rounding for Decimal32 and Decimal64 in cuDF
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_series.py
Labels: feature request, Python, non-breaking

#17559 Fix CMake format in cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/CMakeLists.txt
Labels: Python, CMake, improvement, non-breaking

#17527 Remove Thrust patch in favor of CMake definition for Thrust 32-bit offset types.
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/patches/cccl_override.json
  cpp/cmake/thirdparty/patches/thrust_disable_64bit_dispatching.diff
Labels: libcudf, CMake, improvement, non-breaking

#17551 gate telemetry dispatch calls on TELEMETRY_ENABLED env var
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#17520 Replace cudf::detail::copy_if logic with thrust::copy_if and gather
  cpp/benchmarks/stream_compaction/apply_boolean_mask.cpp
  cpp/include/cudf/detail/copy_if.cuh
  cpp/src/dictionary/remove_keys.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#17552 Simplify serialization protocols
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/abc.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/data/pkl/stringColumnWithRangeIndex_cudf_23.12.pkl
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_struct.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: Python, improvement, non-breaking

#17307 Use rapids-logger to generate the cudf logger
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/io/cuio_common.cpp
  cpp/cmake/thirdparty/get_spdlog.cmake
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cudf/detail/utilities/logger.hpp
  cpp/include/cudf/utilities/logger.hpp
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/base64_utilities.cpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/getenv_or.hpp
  cpp/src/utilities/host_memory.cpp
  cpp/src/utilities/logger.cpp
  cpp/src/utilities/stream_pool.cpp
  cpp/tests/utilities_tests/logger_tests.cpp
  dependencies.yaml
Labels: libcudf, CMake, improvement, non-breaking

#17546 Fix typos, rename types, and add null_probability benchmark axis for distinct
  cpp/benchmarks/stream_compaction/distinct.cpp
  cpp/src/stream_compaction/distinct.cu
  cpp/src/stream_compaction/distinct_helpers.cu
  cpp/src/stream_compaction/distinct_helpers.hpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#17509 Fix Dask-cuDF `clip` APIs
  python/dask_cudf/dask_cudf/_expr/collection.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: bug, 2 - In Progress, Python, dask, non-breaking

#17421 Rework minhash APIs for deprecation cycle
  cpp/benchmarks/text/minhash.cpp
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
  cpp/tests/text/minhash_tests.cpp
  docs/cudf/source/conf.py
  python/cudf/cudf/_lib/nvtext/minhash.pyx
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/minhash.pxd
  python/pylibcudf/pylibcudf/nvtext/minhash.pxd
  python/pylibcudf/pylibcudf/nvtext/minhash.pyi
  python/pylibcudf/pylibcudf/nvtext/minhash.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_minhash.py
Labels: 3 - Ready for Review, libcudf, Python, improvement, breaking, pylibcudf

#17573 Specify a version for rapids_logger dependency
  cpp/CMakeLists.txt
Labels: bug, libcudf, CMake, non-breaking

#17557 Replace direct `cudaMemcpyAsync` calls with utility functions (within `/include`)
  cpp/include/cudf/detail/get_value.cuh
  cpp/include/cudf/table/table_device_view.cuh
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#17473 Fix some possible thread-id overflow calculations
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/src/partitioning/partitioning.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/row_bit_count.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17569 Branch 25.02 merge 24.12
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/abc.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/data/pkl/stringColumnWithRangeIndex_cudf_23.12.pkl
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_struct.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
Labels: Python

#17580 Expose Scalar's constructor and `Scalar#getScalarHandle()` to public
  java/src/main/java/ai/rapids/cudf/Scalar.java
Labels: 3 - Ready for Review, Java, Spark, improvement, non-breaking

#17572 Use batched memcpy when writing ORC statistics
  cpp/src/io/orc/writer_impl.cu
Labels: libcudf, 5 - Ready to Merge, Performance, improvement, non-breaking

#17581 Remove unused code of json schema in JSON reader
  cpp/src/io/json/nested_json.hpp
  cpp/src/io/json/parser_features.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#17529 Add anonymous namespace to libcudf test source
  cpp/tests/bitmask/set_nullmask_tests.cu
  cpp/tests/bitmask/valid_if_tests.cu
  cpp/tests/column/bit_cast_test.cpp
  cpp/tests/column/compound_test.cu
  cpp/tests/device_atomics/device_atomics_test.cu
  cpp/tests/fixed_point/fixed_point_tests.cpp
  cpp/tests/fixed_point/fixed_point_tests.cu
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/interop/dlpack_test.cpp
  cpp/tests/io/json/json_tree.cpp
  cpp/tests/io/json/json_tree_csr.cu
  cpp/tests/io/parquet_chunked_reader_test.cu
  cpp/tests/iterator/optional_iterator_test_numeric.cu
  cpp/tests/iterator/pair_iterator_test_numeric.cu
  cpp/tests/quantiles/percentile_approx_test.cpp
  cpp/tests/reductions/tdigest_tests.cu
  cpp/tests/streams/interop_test.cpp
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/wrappers/timestamps_test.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17562 Remove cudf._lib.parquet in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/io/CMakeLists.txt
  python/cudf/cudf/_lib/io/__init__.pxd
  python/cudf/cudf/_lib/io/__init__.py
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python, CMake, improvement, non-breaking

#17571 Allow large strings in nvbench strings benchmarks
  cpp/benchmarks/string/case.cpp
  cpp/benchmarks/string/char_types.cpp
  cpp/benchmarks/string/contains.cpp
  cpp/benchmarks/string/copy_if_else.cpp
  cpp/benchmarks/string/copy_range.cpp
  cpp/benchmarks/string/count.cpp
  cpp/benchmarks/string/extract.cpp
  cpp/benchmarks/string/join_strings.cpp
  cpp/benchmarks/string/lengths.cpp
  cpp/benchmarks/string/like.cpp
  cpp/benchmarks/string/replace_re.cpp
  cpp/benchmarks/string/reverse.cpp
  cpp/benchmarks/string/slice.cpp
  cpp/benchmarks/string/split.cpp
  cpp/benchmarks/string/split_re.cpp
  cpp/benchmarks/string/string_bench_args.hpp
Labels: 2 - In Progress, libcudf, strings, improvement, non-breaking

#17535 Remove cudf._lib.nvtext in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/nvtext/CMakeLists.txt
  python/cudf/cudf/_lib/nvtext/__init__.pxd
  python/cudf/cudf/_lib/nvtext/__init__.py
  python/cudf/cudf/_lib/nvtext/byte_pair_encode.pyx
  python/cudf/cudf/_lib/nvtext/edit_distance.pyx
  python/cudf/cudf/_lib/nvtext/generate_ngrams.pyx
  python/cudf/cudf/_lib/nvtext/jaccard.pyx
  python/cudf/cudf/_lib/nvtext/minhash.pyx
  python/cudf/cudf/_lib/nvtext/ngrams_tokenize.pyx
  python/cudf/cudf/_lib/nvtext/normalize.pyx
  python/cudf/cudf/_lib/nvtext/replace.pyx
  python/cudf/cudf/_lib/nvtext/stemmer.pyx
  python/cudf/cudf/_lib/nvtext/subword_tokenize.pyx
  python/cudf/cudf/_lib/nvtext/tokenize.pyx
  python/cudf/cudf/_lib/strings/__init__.pxd
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/core/byte_pair_encoding.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/core/tokenize_vocabulary.py
Labels: Python, CMake, improvement, non-breaking

#17485 Remove cudf._lib.csv in favor in inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/io/csv.py
Labels: Python, CMake, improvement, non-breaking

#17521 Propagate failures in pandas integration tests and Skip failing tests
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_holoviews.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_matplotlib.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_numpy.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_pytorch.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_seaborn.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_tensorflow.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_xgboost.py
Labels: bug, Python, non-breaking, cudf.pandas

#17574 Remove cudf._lib.reduce in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/copy_types.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/window/ewm.py
Labels: Python, CMake, improvement, non-breaking

#17584 Use no-sync copy for fixed-width types in cudf::concatenate
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/column/concatenate.cpp
  cpp/benchmarks/copying/concatenate.cpp
  cpp/src/copying/concatenate.cu
Labels: libcudf, CMake, improvement, non-breaking

#17576 Fix ctest fail running libcudf tests in a Debug build
  cpp/CMakeLists.txt
Labels: bug, 2 - In Progress, libcudf, CMake, non-breaking

#17530 Remove unused masked keyword in column_empty
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/io/parquet.py
Labels: Python, improvement, non-breaking

#17488 Move cudf._lib.sort to cudf.core._internals
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/core/_internals/sorting.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Labels: Python, CMake, improvement, non-breaking

#17545 Mark more constexpr functions as device-available
  ci/build_docs.sh
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/utilities/cuda.cuh
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/include/cudf/fixed_point/detail/floating_conversion.hpp
  cpp/include/cudf/hashing/detail/hash_functions.cuh
  cpp/include/cudf/hashing/detail/hashing.hpp
  cpp/include/cudf/strings/detail/utf8.hpp
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/types.hpp
  cpp/include/cudf/utilities/span.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/binaryop/compiled/binary_ops.cuh
  cpp/src/copying/contiguous_split.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/hash/murmurhash3_x64_128.cu
  cpp/src/hash/sha_hash.cuh
  cpp/src/hash/xxhash_64.cu
  cpp/src/io/avro/avro_common.hpp
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/fst/agent_dfa.cuh
  cpp/src/io/statistics/byte_array_view.cuh
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/io/utilities/trie.cuh
  cpp/src/quantiles/quantiles_util.hpp
  cpp/src/strings/search/find.cu
  cpp/src/strings/slice.cu
  docs/cudf/source/conf.py
Labels: libcudf, improvement, non-breaking

#17593 Ignore NaN correctly in .quantile
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/tests/test_quantiles.py
Labels: bug, Python, non-breaking

#17563 Enable all json reader options in pylibcudf read_json
  python/cudf/cudf/io/json.py
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
Labels: Python, 4 - Needs Review, cuIO, improvement, non-breaking, pylibcudf

#17586 Remove unused functionality in cudf._lib.utils.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/parquet.py
Labels: Python, improvement, non-breaking

#17548 Move cudf._lib.copying to cudf.core._internals
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/copying.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_pack.py
  python/cudf/cudf/tests/test_scalar.py
Labels: Python, CMake, improvement, non-breaking

#17550 Replace direct `cudaMemcpyAsync` calls with utility functions (within `/src`)
  cpp/include/cudf/detail/device_scalar.hpp
  cpp/src/bitmask/is_element_valid.cpp
  cpp/src/column/column_device_view.cu
  cpp/src/copying/contiguous_split.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/reductions/minmax.cu
  cpp/src/scalar/scalar.cpp
  cpp/src/strings/regex/regexec.cpp
  cpp/src/text/subword/load_hash_file.cu
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#17603 Stop memory_resource.hpp from including itself
  cpp/include/cudf/utilities/memory_resource.hpp
Labels: libcudf, improvement, non-breaking

#17604 Correctly accept a `pandas.CategoricalDtype(pandas.IntervalDtype(...), ...)` type
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_categorical.py
Labels: bug, Python, non-breaking

#17456 Move cudf._lib.stream_compaction to cudf.core._internals
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/stream_compaction.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
Labels: Python, CMake, improvement, non-breaking

#17460 Remove cudf._lib.string_casting in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/tools/numeric.py
Labels: Python, CMake, improvement, non-breaking

#17608 Use `[[nodiscard]]` attribute before `__device__`
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/strings/string_view.hpp
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
Labels: libcudf, improvement, non-breaking

#17612 Fix ``dask_cudf.read_csv``
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/io/csv.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
Labels: bug, Python, 5 - Ready to Merge, dask, non-breaking

#17599 Add Avro Reader options classes to pylibcudf
  python/cudf/cudf/io/avro.py
  python/pylibcudf/pylibcudf/io/avro.pxd
  python/pylibcudf/pylibcudf/io/avro.pyi
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/tests/io/test_avro.py
Labels: feature request, Python, non-breaking, pylibcudf

#17611 Bump the oldest `pyarrow` version to `14.0.2` in test matrix
  dependencies.yaml
Labels: 5 - Ready to Merge, improvement, non-breaking

#17588 A couple of fixes in rapids-logger usage
  cpp/CMakeLists.txt
Labels: libcudf, CMake, improvement, non-breaking

#17610 Fix memcheck error in ReplaceTest.NormalizeNansAndZerosMutable gtest
  cpp/tests/streams/replace_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17555 Remove cudf._lib.interop in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/io/dlpack.py
Labels: Python, CMake, improvement, non-breaking

#17605 Use `host_vector` in `flatten_single_pass_aggs`
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/src/aggregation/aggregation.cu
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_global_memory_aggs.cu
  cpp/src/groupby/hash/compute_global_memory_aggs.cuh
  cpp/src/groupby/hash/compute_global_memory_aggs.hpp
  cpp/src/groupby/hash/compute_global_memory_aggs_null.cu
  cpp/src/groupby/hash/create_sparse_results_table.cu
  cpp/src/groupby/hash/create_sparse_results_table.hpp
  cpp/src/groupby/hash/flatten_single_pass_aggs.cpp
  cpp/src/groupby/hash/flatten_single_pass_aggs.hpp
  cpp/src/groupby/hash/hash_compound_agg_finalizer.cu
  cpp/src/groupby/sort/group_scan_util.cuh
Labels: libcudf, improvement, non-breaking

#17618 Remove patch that is only needed for clang-tidy to run on test files
  cpp/cmake/thirdparty/get_nanoarrow.cmake
  cpp/cmake/thirdparty/patches/nanoarrow_clang_tidy_compliance.diff
  cpp/cmake/thirdparty/patches/nanoarrow_override.json
Labels: libcudf, CMake, improvement, non-breaking

#17606 Add JSON Writer options classes to pylibcudf
  python/cudf/cudf/io/json.py
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/tests/io/test_json.py
Labels: feature request, Python, non-breaking, pylibcudf

#17615 update telemetry actions to fluent-bit friendly style
  .github/workflows/pr.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#17601 Add ORC reader options structs to pylibcudf
  python/cudf/cudf/io/orc.py
  python/pylibcudf/pylibcudf/io/orc.pxd
  python/pylibcudf/pylibcudf/io/orc.pyi
  python/pylibcudf/pylibcudf/io/orc.pyx
  python/pylibcudf/pylibcudf/tests/io/test_orc.py
Labels: feature request, Python, non-breaking, pylibcudf

#17495 Add partition-wise `Select` support to cuDF-Polars
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/expressions/ternary.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/traversal.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/tests/dsl/test_traversal.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#17617 Fix a minor potential i32 overflow in `thrust::transform_exclusive_scan` in PQ reader preprocessing
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#17596 Check if nightlies have succeeded recently enough
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#17614 Add JSON reader options structs to pylibcudf
  python/cudf/cudf/io/json.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/tests/io/test_json.py
Labels: feature request, Python, non-breaking, cudf.polars, pylibcudf

#17602 Replace the outdated cuco window concept with buckets
  cpp/src/groupby/hash/compute_groupby.cu
  cpp/src/groupby/hash/compute_mapping_indices.cuh
  cpp/src/groupby/hash/helpers.cuh
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/parquet_gpu.cuh
  cpp/src/io/parquet/writer_impl.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking, cuco

#17471 Detect mismatches in begin and end tokens returned by JSON tokenizer FST
  cpp/src/io/fst/logical_stack.cuh
  cpp/src/io/json/nested_json_gpu.cu
  cpp/tests/io/json/json_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#17622 Fix return types for MurmurHash3_x86_32 template specializations
  cpp/include/cudf/hashing/detail/murmurhash3_x86_32.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#17582 Remove cudf._lib.groupby in favor of inlining pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/core/_internals/aggregation.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python, CMake, improvement, non-breaking

#17494 Add multi-partition `Scan` support to cuDF-Polars
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/tests/experimental/test_scan.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#17634 Support compression= in DataFrame.to_json
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
Labels: Python, improvement, non-breaking, pylibcudf

#17504 Fix pylibcudf to_arrow with multiple nested data types
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/tests/test_interop.py
Labels: bug, Python, non-breaking, pylibcudf

#17616 Fix failing xgboost test in the cudf.pandas third-party integration tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_xgboost.py
Labels: bug, Python, non-breaking, cudf.pandas

#17587 Simplify expression transformer in Parquet predicate pushdown with `ast::tree`
  cpp/src/io/parquet/predicate_pushdown.cpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#17592 Implement `HOST_UDF` aggregation for groupby
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/aggregation/host_udf.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/host_udf_aggregation.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/host_udf_example_tests.cu
  cpp/tests/groupby/host_udf_tests.cpp
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/java/ai/rapids/cudf/HostUDFWrapper.java
  java/src/main/native/src/AggregationJni.cpp
Labels: feature request, 3 - Ready for Review, libcudf, CMake, Java, Spark, non-breaking

#17591 Fix groupby argmin/max gather of sorted-order indices
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_argmax.cu
  cpp/src/groupby/sort/group_argmin.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17633 Fix possible int overflow in compute_mixed_join_output_size
  cpp/src/join/mixed_join_size_kernel.cuh
  cpp/src/json/json_path.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17621 Clean up namespaces and improve compression-related headers
  cpp/include/cudf/io/nvcomp_adapter.hpp
  cpp/src/io/comp/common.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/comp.hpp
  cpp/src/io/comp/debrotli.cu
  cpp/src/io/comp/gpuinflate.cu
  cpp/src/io/comp/gpuinflate.hpp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/comp/nvcomp_adapter.cu
  cpp/src/io/comp/nvcomp_adapter.cuh
  cpp/src/io/comp/nvcomp_adapter.hpp
  cpp/src/io/comp/snap.cu
  cpp/src/io/comp/statistics.cu
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl_helpers.cpp
  cpp/src/io/parquet/writer_impl_helpers.hpp
  cpp/src/io/text/bgzip_data_chunk_source.cu
  cpp/tests/io/comp/decomp_test.cpp
  cpp/tests/io/orc_test.cpp
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#17625 Remove cudf._lib.utils in favor of python APIs
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/__init__.pxd
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
Labels: Python, CMake, improvement, non-breaking

#17585 Use cuda-python `cuda.bindings` import names.
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/utils/gpu_utils.py
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pylibcudf/utils.pyx
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#17619 Use more pylibcudf.types instead of cudf._lib.types
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/types.pxd
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#17627 Use PyNVML 12
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/dask-cudf/meta.yaml
  dependencies.yaml
  python/dask_cudf/pyproject.toml
Labels: Python, improvement, non-breaking, conda

#17653 Fix: DataFrameGroupBy.get_group was raising with length>1 tuples
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, Python, non-breaking

#17661 Add support for `Groupby.cumprod`
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking

#17644 Avoid double MultiIndex factorization in groupby index result
  python/cudf/cudf/core/groupby/groupby.py
Labels: Python, improvement, non-breaking
