Repository rapidsai/cudf, pull requests merged in 2025-08, with the labels that each got.

#19548 Capture commit hashes in pdsh benchmarks
  python/cudf_polars/cudf_polars/experimental/benchmarks/utils.py
Labels: Python, improvement, non-breaking, cudf-polars

#19557 Move str accessor tests in test_string.py to new cudf classic test directory structure
  python/cudf/cudf/tests/series/accessors/__init__.py
  python/cudf/cudf/tests/series/accessors/test_str.py
  python/cudf/cudf/tests/test_string.py
Labels: Python, improvement, non-breaking

#19559 Add streams to all single-function modules
  python/pylibcudf/pylibcudf/concatenate.pxd
  python/pylibcudf/pylibcudf/concatenate.pyi
  python/pylibcudf/pylibcudf/concatenate.pyx
  python/pylibcudf/pylibcudf/interop.pxd
  python/pylibcudf/pylibcudf/interop.pyi
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/json.pxd
  python/pylibcudf/pylibcudf/json.pyi
  python/pylibcudf/pylibcudf/json.pyx
  python/pylibcudf/pylibcudf/labeling.pxd
  python/pylibcudf/pylibcudf/labeling.pyi
  python/pylibcudf/pylibcudf/labeling.pyx
  python/pylibcudf/pylibcudf/libcudf/concatenate.pxd
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/libcudf/json.pxd
  python/pylibcudf/pylibcudf/libcudf/labeling.pxd
  python/pylibcudf/pylibcudf/libcudf/merge.pxd
  python/pylibcudf/pylibcudf/libcudf/nvtext/edit_distance.pxd
  python/pylibcudf/pylibcudf/libcudf/round.pxd
  python/pylibcudf/pylibcudf/libcudf/strings/repeat.pxd
  python/pylibcudf/pylibcudf/libcudf/strings/substring.pxd
  python/pylibcudf/pylibcudf/libcudf/transpose.pxd
  python/pylibcudf/pylibcudf/merge.pxd
  python/pylibcudf/pylibcudf/merge.pyi
  python/pylibcudf/pylibcudf/merge.pyx
  python/pylibcudf/pylibcudf/nvtext/edit_distance.pxd
  python/pylibcudf/pylibcudf/nvtext/edit_distance.pyi
  python/pylibcudf/pylibcudf/nvtext/edit_distance.pyx
  python/pylibcudf/pylibcudf/round.pxd
  python/pylibcudf/pylibcudf/round.pyi
  python/pylibcudf/pylibcudf/round.pyx
  python/pylibcudf/pylibcudf/strings/repeat.pxd
  python/pylibcudf/pylibcudf/strings/repeat.pyi
  python/pylibcudf/pylibcudf/strings/repeat.pyx
  python/pylibcudf/pylibcudf/strings/slice.pxd
  python/pylibcudf/pylibcudf/strings/slice.pyi
  python/pylibcudf/pylibcudf/strings/slice.pyx
  python/pylibcudf/pylibcudf/transpose.pxd
  python/pylibcudf/pylibcudf/transpose.pyi
  python/pylibcudf/pylibcudf/transpose.pyx
Labels: feature request, Python, non-breaking, pylibcudf

#19575 Avoid querying device memory on systems without it in cudf-polars benchmarks
  python/cudf_polars/cudf_polars/experimental/benchmarks/utils.py
Labels: bug, Python, non-breaking, cudf-polars

#19566 Expose `filter` and `columns` parquet reader builder options to python
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyx
Labels: feature request, Python, non-breaking, pylibcudf

#19580 Update rapids-build-backend to 0.4.0
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/libcudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf-polars, pylibcudf

#19538 Construct cuDF classic columns with __array_interface__ through pylibcudf
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/pandas/scripts/conftest-patch.py
  python/cudf/cudf/tests/series/test_constructors.py
Labels: Python, improvement, non-breaking, cudf.pandas

#19426 Use more pytest fixtures and avoid GPU parameterization in test_replace/reshape/rolling.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_reshape.py
  python/cudf/cudf/tests/test_rolling.py
Labels: Python, improvement, non-breaking

#19506 Clean testing/_utils.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/cudf/cudf_pandas_tests/test_disable_pandas_accelerator.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: Python, improvement, non-breaking, cudf.pandas

#19434 Use more pytest fixtures and avoid GPU parameterization in test_query/rank/reduction/repr.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/tests/test_query_mask.py
  python/cudf/cudf/tests/test_rank.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_repr.py
Labels: Python, improvement, non-breaking

#19573 Increase alignment requirement for parquet bloom filter to 256
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/tests/io/experimental/hybrid_scan_test.cpp
  python/cudf/cudf/tests/data/parquet/bloom_filter_alignment.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, Python, 5 - Ready to Merge, ! - Hotfix, non-breaking

#19510 Remove cudf/_fuzz_testing directory
  python/cudf/cudf/_fuzz_testing/__init__.py
  python/cudf/cudf/_fuzz_testing/avro.py
  python/cudf/cudf/_fuzz_testing/csv.py
  python/cudf/cudf/_fuzz_testing/fuzzer.py
  python/cudf/cudf/_fuzz_testing/io.py
  python/cudf/cudf/_fuzz_testing/json.py
  python/cudf/cudf/_fuzz_testing/main.py
  python/cudf/cudf/_fuzz_testing/orc.py
  python/cudf/cudf/_fuzz_testing/parquet.py
  python/cudf/cudf/_fuzz_testing/tests/fuzz_test_avro.py
  python/cudf/cudf/_fuzz_testing/tests/fuzz_test_csv.py
  python/cudf/cudf/_fuzz_testing/tests/fuzz_test_json.py
  python/cudf/cudf/_fuzz_testing/tests/fuzz_test_orc.py
  python/cudf/cudf/_fuzz_testing/tests/fuzz_test_parquet.py
  python/cudf/cudf/_fuzz_testing/tests/readme.md
  python/cudf/cudf/_fuzz_testing/utils.py
Labels: Python, improvement, non-breaking

#19449 Use more pytest fixtures and avoid GPU parameterization in test_dropna/factorize.py and more
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_doctests.py
  python/cudf/cudf/tests/test_dropna.py
  python/cudf/cudf/tests/test_duplicates.py
  python/cudf/cudf/tests/test_factorize.py
  python/cudf/cudf/tests/test_feather.py
  python/cudf/cudf/tests/test_gcs.py
Labels: Python, improvement, non-breaking

#19600 Add streams to all modules with three or fewer functions
  cpp/include/cudf/partitioning.hpp
  python/pylibcudf/pylibcudf/binaryop.pxd
  python/pylibcudf/pylibcudf/binaryop.pyi
  python/pylibcudf/pylibcudf/binaryop.pyx
  python/pylibcudf/pylibcudf/libcudf/binaryop.pxd
  python/pylibcudf/pylibcudf/libcudf/partitioning.pxd
  python/pylibcudf/pylibcudf/libcudf/quantiles.pxd
  python/pylibcudf/pylibcudf/libcudf/reduce.pxd
  python/pylibcudf/pylibcudf/libcudf/search.pxd
  python/pylibcudf/pylibcudf/partitioning.pxd
  python/pylibcudf/pylibcudf/partitioning.pyi
  python/pylibcudf/pylibcudf/partitioning.pyx
  python/pylibcudf/pylibcudf/quantiles.pxd
  python/pylibcudf/pylibcudf/quantiles.pyi
  python/pylibcudf/pylibcudf/quantiles.pyx
  python/pylibcudf/pylibcudf/reduce.pxd
  python/pylibcudf/pylibcudf/reduce.pyi
  python/pylibcudf/pylibcudf/reduce.pyx
  python/pylibcudf/pylibcudf/search.pxd
  python/pylibcudf/pylibcudf/search.pyi
  python/pylibcudf/pylibcudf/search.pyx
Labels: feature request, non-breaking

#19591 Compatibility with rapidsmpf 25.10.0
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: bug, non-breaking

#19474 Use more pytest fixtures and clean data files cuDF classic tests subdirectories
  .pre-commit-config.yaml
  python/cudf/cudf/tests/data/ipums.pkl
  python/cudf/cudf/tests/data/text/vocab.txt
  python/cudf/cudf/tests/groupby/test_ordering_pandas_compat.py
  python/cudf/cudf/tests/input_output/test_parquet.py
  python/cudf/cudf/tests/series/test_datetimelike.py
  python/cudf/cudf/tests/text/test_subword_tokenizer.py
Labels: Python, improvement, non-breaking

#19570 Fix strftime with non-exact %a, %A, %b, %B
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, Python, non-breaking

#19501 Move test_joining to new cudf classic test directory structure
  python/cudf/cudf/tests/reshape/test_join.py
  python/cudf/cudf/tests/reshape/test_merge.py
Labels: Python, improvement, non-breaking

#19543 Compile `libcudf_kafka` and `cudf_kafka` with C++20
  cpp/libcudf_kafka/CMakeLists.txt
  cpp/libcudf_kafka/tests/CMakeLists.txt
  python/cudf_kafka/CMakeLists.txt
Labels: feature request, libcudf, Python, CMake, non-breaking

#19562 Additional gtests error checks for string/timestamp convert libcudf APIs
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#19364 Replace sprintf with std::format in libcudf parquet tests
  cpp/tests/io/experimental/hybrid_scan_common.cpp
  cpp/tests/io/parquet_common.cpp
  cpp/tests/io/parquet_v2_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#19605 Add fast path for Parquet reading with predicate pushdown via AST filters
  python/cudf/benchmarks/API/bench_io.py
  python/cudf/cudf/io/parquet.py
Labels: feature request, non-breaking

#19635 Fix anchor naming conventions in dependencies.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#19628 Propagate exceptions thrown in async IO operations
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/reader_impl_preprocess_utils.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/io_test_utils.hpp
  cpp/tests/io/json/json_test.cpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_reader_test.cpp
Labels: bug, non-breaking

#19645 Use cudaDeviceGetAttribute to get ComputeMode for CUDA13
  java/src/main/native/src/CudaJni.cpp
Labels: Java, improvement, non-breaking

#19608 Simplify cudf::scalar usage in reduce utility
  cpp/include/cudf/reduction/detail/reduction.cuh
  cpp/src/copying/get_element.cu
  cpp/src/scalar/scalar_factories.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#19627 Make `DataFrame.dtypes` not fallback to CPU always
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/scripts/conftest-patch.py
Labels: bug, non-breaking

#19629 Move test_replace.py to new cudf classic directory structure
  python/cudf/cudf/tests/dataframe/methods/test_clip.py
  python/cudf/cudf/tests/dataframe/methods/test_fillna.py
  python/cudf/cudf/tests/dataframe/methods/test_replace.py
  python/cudf/cudf/tests/dataframe/methods/test_where.py
  python/cudf/cudf/tests/series/methods/test_clip.py
  python/cudf/cudf/tests/series/methods/test_fillna.py
  python/cudf/cudf/tests/series/methods/test_replace.py
  python/cudf/cudf/tests/series/methods/test_where.py
  python/cudf/cudf/tests/test_replace.py
Labels: Python, improvement, non-breaking

#19611 Move test_rolling/ewm.py to new cudf classic directory structure
  python/cudf/cudf/tests/test_rolling.py
  python/cudf/cudf/tests/window/test_ewm.py
  python/cudf/cudf/tests/window/test_rolling.py
Labels: Python, improvement, non-breaking

#19473 Use more pytest fixtures and avoid GPU parameterization in test_binops/column/column_accessor/contains.py and more
  python/cudf/cudf/tests/conftest.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_buffer.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_column_accessor.py
  python/cudf/cudf/tests/test_contains.py
  python/cudf/cudf/tests/test_copying.py
Labels: Python, improvement, non-breaking

#19492 Move test_search/test_scan/test_seriesmap.py to new cudf classic test directory structure
  python/cudf/cudf/tests/dataframe/methods/test_searchsorted.py
  python/cudf/cudf/tests/series/methods/test_cumulative_methods.py
  python/cudf/cudf/tests/series/methods/test_map.py
  python/cudf/cudf/tests/series/methods/test_searchsorted.py
  python/cudf/cudf/tests/test_scan.py
Labels: Python, improvement, non-breaking

#19651 Add streams to stream_compaction
  python/pylibcudf/pylibcudf/libcudf/stream_compaction.pxd
  python/pylibcudf/pylibcudf/stream_compaction.pxd
  python/pylibcudf/pylibcudf/stream_compaction.pyi
  python/pylibcudf/pylibcudf/stream_compaction.pyx
Labels: feature request, non-breaking

#19653 Skip managed memory test if managed memory not supported in cudf-polars
  python/cudf_polars/tests/test_config.py
Labels: bug, non-breaking

#19654 Add streams support to datetime APIs
  python/pylibcudf/pylibcudf/datetime.pxd
  python/pylibcudf/pylibcudf/datetime.pyi
  python/pylibcudf/pylibcudf/datetime.pyx
  python/pylibcudf/pylibcudf/libcudf/datetime.pxd
Labels: feature request, non-breaking

#19613 Add streams to transform and unary
  python/pylibcudf/pylibcudf/libcudf/transform.pxd
  python/pylibcudf/pylibcudf/libcudf/unary.pxd
  python/pylibcudf/pylibcudf/transform.pxd
  python/pylibcudf/pylibcudf/transform.pyi
  python/pylibcudf/pylibcudf/transform.pyx
  python/pylibcudf/pylibcudf/unary.pxd
  python/pylibcudf/pylibcudf/unary.pyi
  python/pylibcudf/pylibcudf/unary.pyx
Labels: feature request, non-breaking

#19631 Require `--scale` for PDS-DS benchmarks (due to nonlinear scaling)
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsds.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/utils.py
Labels: improvement, non-breaking

#19648 Use public Arrow functions for TDigest in PercentileApproxInputTypesTests
  cpp/cmake/thirdparty/get_arrow.cmake
  cpp/tests/quantiles/percentile_approx_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#19661 Improve documentation around why we need no_gc_clear on pylibcudf Scalars
  python/pylibcudf/pylibcudf/scalar.pyx
Labels: doc, non-breaking

#19615 Move test_resampling/query/pickling to new cudf classic directory structure
  python/cudf/cudf/tests/dataframe/methods/test_query.py
  python/cudf/cudf/tests/groupby/test_function_application.py
  python/cudf/cudf/tests/groupby/test_resample.py
  python/cudf/cudf/tests/groupby/test_stats.py
  python/cudf/cudf/tests/input_output/test_pickling.py
Labels: Python, improvement, non-breaking

#19649 Re-enable Disabled Join Tests
  cpp/tests/join/distinct_join_tests.cpp
  cpp/tests/join/join_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#19667 [FEA] Remove excessive copies of JITIFY's ProgramData during JIT kernel launch
  cpp/src/jit/cache.cpp
  cpp/src/jit/cache.hpp
Labels: feature request, non-breaking

#19638 Fix integer overflow in warp-per-row grid calculation
  cpp/src/strings/attributes.cu
  cpp/src/strings/case.cu
  cpp/src/strings/like.cu
  cpp/src/strings/search/find.cu
  cpp/src/text/vocabulary_tokenize.cu
  cpp/src/text/wordpiece_tokenize.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#19119 Replace `rmm::device_scalar` with `cudf::detail::device_scalar` due to unnecessary synchronization (Part 3 of miss-sync)
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cudf/detail/sizes_to_offsets_iterator.cuh
  cpp/include/cudf/reduction/detail/reduction.cuh
  cpp/include/cudf_test/nanoarrow_utils.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/iterator/sizes_to_offsets_iterator_test.cu
  cpp/tests/scalar/scalar_device_view_test.cu
Labels: libcudf, Performance, improvement, non-breaking

#19672 Add streams to pylibcudf join APIs
  python/pylibcudf/pylibcudf/join.pxd
  python/pylibcudf/pylibcudf/join.pyi
  python/pylibcudf/pylibcudf/join.pyx
  python/pylibcudf/pylibcudf/libcudf/join.pxd
Labels: feature request, non-breaking

#19569 Support hash-based workflow for `M2` groupby aggregation
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_m2.cpp
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/src/aggregation/aggregation.cu
  cpp/src/groupby/hash/flatten_single_pass_aggs.cpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/hash/hash_compound_agg_finalizer.cu
  cpp/src/groupby/hash/hash_compound_agg_finalizer.hpp
  cpp/src/groupby/hash/m2_var_functor.cuh
  cpp/tests/groupby/m2_tests.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, 3 - Ready for Review, libcudf, CMake, Spark, non-breaking

#19637 Move test_array_function/ufunc to new cudf classic test directory structure
  python/cudf/cudf/tests/conftest.py
  python/cudf/cudf/tests/dataframe/test_array_function.py
  python/cudf/cudf/tests/dataframe/test_np_ufuncs.py
  python/cudf/cudf/tests/indexes/index/test_array_function.py
  python/cudf/cudf/tests/indexes/multiindex/test_array_function.py
  python/cudf/cudf/tests/indexes/test_np_ufuncs.py
  python/cudf/cudf/tests/series/test_array_function.py
  python/cudf/cudf/tests/series/test_np_ufuncs.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_array_ufunc.py
Labels: Python, improvement, non-breaking

#19657 Run pylibcudf tests without its optional dependencies
  ci/test_wheel_cudf.sh
  dependencies.yaml
  python/pylibcudf/pyproject.toml
Labels: tests, improvement, non-breaking

#19267 Support output-type for MEDIAN/QUANTILE aggregation in cudf::reduce
  cpp/CMakeLists.txt
  cpp/include/cudf/reduction.hpp
  cpp/include/cudf/reduction/detail/reduction_functions.hpp
  cpp/src/reductions/quantile.cu
  cpp/src/reductions/reductions.cpp
  cpp/tests/reductions/reduction_tests.cpp
  python/cudf_polars/tests/expressions/test_agg.py
Labels: feature request, 3 - Ready for Review, libcudf, Python, CMake, breaking, cudf-polars

#19614 Move test_reshape.py to new cudf classic directory strucutre, remove reshape._merge_sorted
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/dataframe/methods/test_interleave_columns.py
  python/cudf/cudf/tests/reshape/test_crosstab.py
  python/cudf/cudf/tests/reshape/test_melt.py
  python/cudf/cudf/tests/reshape/test_pivot.py
  python/cudf/cudf/tests/reshape/test_pivot_table.py
  python/cudf/cudf/tests/reshape/test_stack.py
  python/cudf/cudf/tests/reshape/test_tile.py
  python/cudf/cudf/tests/reshape/test_unstack.py
  python/cudf/cudf/tests/test_reshape.py
Labels: Python, improvement, non-breaking

#19599 Move test_cuda_array_interface/cut/dataframe_copy.py to new cudf classic test directories
  python/cudf/cudf/tests/conftest.py
  python/cudf/cudf/tests/dataframe/methods/test_copy.py
  python/cudf/cudf/tests/general_functions/test_cut.py
  python/cudf/cudf/tests/general_functions/test_register_accessor.py
  python/cudf/cudf/tests/series/test_attributes.py
  python/cudf/cudf/tests/series/test_constructors.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
Labels: Python, improvement, non-breaking

#19680 Match polars semantics for rolling-sum with all-null windows (non-empty)
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/cudf_polars/dsl/utils/rolling.py
  python/cudf_polars/tests/expressions/test_rolling.py
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/test_rolling.py
Labels: bug, non-breaking

#19646 Add Java JNI interface to get Gpu UUID
  java/src/main/java/ai/rapids/cudf/Cuda.java
  java/src/main/native/src/CudaJni.cpp
  java/src/test/java/ai/rapids/cudf/CudaTest.java
Labels: feature request, 3 - Ready for Review, Java, non-breaking

#19705 Add new xfails for xarray release
  python/cudf/cudf/pandas/scripts/conftest-patch.py
Labels: bug, 5 - Ready to Merge, non-breaking

#19675 Move test_stats/reductions/quantile and misc to new cudf classic testing directory
  python/cudf/cudf/tests/conftest.py
  python/cudf/cudf/tests/dataframe/methods/test_cov_corr.py
  python/cudf/cudf/tests/dataframe/methods/test_reductions.py
  python/cudf/cudf/tests/series/methods/test_cov_corr.py
  python/cudf/cudf/tests/series/methods/test_pct_change.py
  python/cudf/cudf/tests/series/methods/test_reductions.py
  python/cudf/cudf/tests/series/methods/test_unique.py
  python/cudf/cudf/tests/series/test_reductions.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_quantiles.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python, improvement, non-breaking

#19706 Move to pyarrow and numpy to run_constrained
  conda/recipes/pylibcudf/recipe.yaml
Labels: improvement, non-breaking

#19561 [FEA] Switch to NVIDIA's JITIFY2
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/libcudf/recipe.yaml
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/cmake/thirdparty/get_jitify.cmake
  cpp/src/binaryop/jit/kernel.cu
  cpp/src/jit/accessors.cuh
  cpp/src/jit/cache.hpp
  cpp/src/jit/helpers.hpp
  cpp/src/rolling/jit/kernel.cu
  cpp/src/rolling/jit/operation.hpp
  cpp/src/stream_compaction/filter/filter.cu
  cpp/src/stream_compaction/filter/jit/kernel.cu
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  dependencies.yaml
Labels: feature request, libcudf, CMake, non-breaking

#19353 Run cudf-polars tests with all supported polars versions
  ci/test_wheel_cudf_polars.sh
  ci/utils/fetch_polars_versions.py
  dependencies.yaml
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/expressions/test_stringfunction.py
Labels: Python, 4 - Needs Review, improvement, non-breaking, cudf-polars

#19732 Fix filter call in benchmark
  cpp/benchmarks/filter/minmax_filter.cpp
Labels: bug, non-breaking

#19440 Updated libcudf-example conda package to preserve directories structure
  ci/run_cudf_examples.sh
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/billion_rows/CMakeLists.txt
  cpp/examples/nested_types/CMakeLists.txt
  cpp/examples/parquet_io/CMakeLists.txt
  cpp/examples/string_transforms/CMakeLists.txt
  cpp/examples/strings/CMakeLists.txt
Labels: libcudf, CMake, 4 - Needs Review, improvement, non-breaking, ci

#19652 Use build cluster in devcontainers
  .devcontainer/Dockerfile
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#19669 Fix `group_by().agg()` on non-aggregatable dtypes
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/tests/test_groupby.py
  python/pylibcudf/pylibcudf/aggregation.pyx
Labels: bug, non-breaking

#19709 Move test_{io}.py files to new cudf classic test directory
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/input_output/test_csv.py
  python/cudf/cudf/tests/input_output/test_hdf5.py
  python/cudf/cudf/tests/input_output/test_hdfs.py
  python/cudf/cudf/tests/input_output/test_orc.py
  python/cudf/cudf/tests/input_output/test_parquet.py
  python/cudf/cudf/tests/input_output/test_s3.py
  python/cudf/cudf/tests/test_gcs.py
  python/cudf/cudf/tests/test_hdf.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, improvement, non-breaking

#19670 Cache hash values to improve hash-based groupby performance with wide/complex table keys
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_complex_keys.cpp
  cpp/src/groupby/hash/compute_aggregations.cu
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_aggregations.hpp
  cpp/src/groupby/hash/compute_aggregations_null.cu
  cpp/src/groupby/hash/compute_global_memory_aggs.cu
  cpp/src/groupby/hash/compute_global_memory_aggs.cuh
  cpp/src/groupby/hash/compute_global_memory_aggs.hpp
  cpp/src/groupby/hash/compute_global_memory_aggs_null.cu
  cpp/src/groupby/hash/compute_groupby.cu
  cpp/src/groupby/hash/compute_mapping_indices.cu
  cpp/src/groupby/hash/compute_mapping_indices.cuh
  cpp/src/groupby/hash/compute_mapping_indices.hpp
  cpp/src/groupby/hash/compute_mapping_indices_null.cu
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
  cpp/src/groupby/hash/compute_shared_memory_aggs.hpp
  cpp/src/groupby/hash/helpers.cuh
  cpp/src/groupby/hash/single_pass_functors.cuh
Labels: 3 - Ready for Review, libcudf, Spark, improvement, non-breaking

#19726 Add streams to column APIs
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/libcudf/column/column_factories.pxd
Labels: feature request, non-breaking

#19711 Require `numba-cuda>=0.19.0,<0.20.0a0`
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: feature request, numba, Python, non-breaking

#19738 Remove outdated numba workarounds
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: improvement, non-breaking

#19746 Revert "Support decimal columns in cudf_polars"
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/containers/datatype.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/tests/expressions/test_literal.py
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/test_scan.py
  python/cudf_polars/tests/test_select.py
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/tests/test_interop.py
Labels: improvement, non-breaking

#19745 Update cuDF classic testing documention regarding testing organization
  docs/cudf/source/developer_guide/testing.md
Labels: doc, non-breaking

#19712 Suppress NVRTC warning from stdint.h
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#19719 Optionally print shuffle stats in pdsh benchmarks
  python/cudf_polars/cudf_polars/experimental/benchmarks/utils.py
Labels: improvement, non-breaking

#19694 Improve `M2`, `VARIANCE` and `STD` hash-based groupby aggregations
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/groupby/group_m2_var_std.cpp
  cpp/src/groupby/common/m2_var_std.cu
  cpp/src/groupby/common/m2_var_std.hpp
  cpp/src/groupby/hash/flatten_single_pass_aggs.cpp
  cpp/src/groupby/hash/hash_compound_agg_finalizer.cu
  cpp/src/groupby/hash/hash_compound_agg_finalizer.hpp
  cpp/src/groupby/hash/m2_var_functor.cuh
  python/cudf/cudf/pandas/scripts/conftest-patch.py
Labels: 3 - Ready for Review, Performance, Spark, improvement, non-breaking

#19685 Change nvtext::character_tokenize to return a list column
  cpp/include/cudf/strings/detail/attributes.hpp
  cpp/src/strings/attributes.cu
  cpp/src/text/tokenize.cu
  cpp/tests/text/tokenize_tests.cpp
  python/cudf/cudf/core/accessors/string.py
  python/pylibcudf/tests/test_nvtext_tokenize.py
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#19754 Fix bug in `eval` function with `nvtx-0.2.11`
  python/cudf/cudf/pandas/_wrappers/pandas.py
Labels: bug, 5 - Ready to Merge, non-breaking

#19731 Move more test_dataframe.py tests to new cudf classic testing directory
  python/cudf/cudf/tests/dataframe/methods/test_add_prefix_suffix.py
  python/cudf/cudf/tests/dataframe/methods/test_astype.py
  python/cudf/cudf/tests/dataframe/methods/test_nlargest_nsmallest.py
  python/cudf/cudf/tests/dataframe/methods/test_squeeze.py
  python/cudf/cudf/tests/dataframe/methods/test_to_dict.py
  python/cudf/cudf/tests/dataframe/methods/test_transpose.py
  python/cudf/cudf/tests/dataframe/methods/test_where.py
  python/cudf/cudf/tests/dataframe/test_attributes.py
  python/cudf/cudf/tests/dataframe/test_constructors.py
  python/cudf/cudf/tests/groupby/test_cov_corr.py
  python/cudf/cudf/tests/series/methods/test_astype.py
  python/cudf/cudf/tests/series/test_constructors.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python, improvement, non-breaking

#19742 Support `nan` in non-floating point column in cudf-polars
  ci/test_narwhals.sh
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/tests/expressions/test_booleanfunction.py
Labels: bug, non-breaking

#19769 Avoid using multiple `Cache` nodes with the same hash
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_cache.py
Labels: bug, 5 - Ready to Merge, non-breaking, cudf.polars

#19775 Remove validation on import
  python/cudf/cudf/__init__.py
  python/cudf/cudf/utils/gpu_utils.py
Labels: improvement, non-breaking

#19743 Vendor libnvcomp in libcudf
  build.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvcomp.cmake
  python/libcudf/CMakeLists.txt
  python/libcudf/libcudf/load.py
Labels: improvement, breaking

#19698 Moves test_options to cudf testing directory, clean up old, stubbed testing files in directory
  python/cudf/cudf/tests/conftest.py
  python/cudf/cudf/tests/indexes/datetimeindex/methods/test_tz_convert.py
  python/cudf/cudf/tests/indexes/datetimeindex/test_attributes.py
  python/cudf/cudf/tests/indexes/test_categorical.py
  python/cudf/cudf/tests/indexes/test_combining.py
  python/cudf/cudf/tests/indexes/test_computation.py
  python/cudf/cudf/tests/indexes/test_constructing.py
  python/cudf/cudf/tests/indexes/test_conversion.py
  python/cudf/cudf/tests/indexes/test_memory_usage.py
  python/cudf/cudf/tests/indexes/test_missing.py
  python/cudf/cudf/tests/indexes/test_modifying.py
  python/cudf/cudf/tests/indexes/test_multiindex_compat.py
  python/cudf/cudf/tests/indexes/test_numeric.py
  python/cudf/cudf/tests/indexes/test_properties.py
  python/cudf/cudf/tests/indexes/test_selecting.py
  python/cudf/cudf/tests/indexes/test_sorting.py
  python/cudf/cudf/tests/indexes/test_time_specific.py
  python/cudf/cudf/tests/lists/__init__.py
  python/cudf/cudf/tests/lists/test_list_methods.py
  python/cudf/cudf/tests/options/test_options.py
  python/cudf/cudf/tests/series/accessors/test_dt.py
  python/cudf/cudf/tests/series/methods/test_astype.py
  python/cudf/cudf/tests/series/methods/test_convert_dtypes.py
  python/cudf/cudf/tests/series/methods/test_to_pandas.py
  python/cudf/cudf/tests/series/test_constructors.py
  python/cudf/cudf/tests/series/test_datetimelike.py
  python/cudf/cudf/tests/strings/__init__.py
  python/cudf/cudf/tests/strings/test_string_methods.py
  python/cudf/cudf/tests/test_options.py
Labels: Python, improvement, non-breaking

#19643 remove initial memset of values in parquet reader
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
  cpp/include/cudf/detail/utilities/batched_memset.hpp
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
Labels: libcudf, Performance, improvement, non-breaking

#19774 Add examples of null handling to doxygen for cudf::rank
  cpp/include/cudf/sorting.hpp
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#19737 Move test_buffer/column/column_accesor/cuda_apply.py to new cudf classic testing directory
  python/cudf/cudf/tests/dataframe/methods/test_apply_chunks.py
  python/cudf/cudf/tests/dataframe/methods/test_apply_rows.py
  python/cudf/cudf/tests/input_output/test_dlpack.py
  python/cudf/cudf/tests/private_objects/__init__.py
  python/cudf/cudf/tests/private_objects/test_buffer.py
  python/cudf/cudf/tests/private_objects/test_column.py
  python/cudf/cudf/tests/private_objects/test_column_accessor.py
  python/cudf/cudf/tests/private_objects/test_compile_udf.py
  python/cudf/cudf/tests/private_objects/test_extension_compilation.py
  python/cudf/cudf/tests/private_objects/test_memory_records_report.py
  python/cudf/cudf/tests/private_objects/test_nrt_stats.py
  python/cudf/cudf/tests/series/methods/test_astype.py
Labels: Python, improvement, non-breaking

#19786 When bundling `libnvcomp.so.X` only append the major version value
  cpp/cmake/thirdparty/get_jitify.cmake
  python/libcudf/CMakeLists.txt
Labels: bug, non-breaking

#19725 Move test_numerical/{numpy|pandas}_interop/setitem.py to new cudf classic testing directory
  python/cudf/cudf/tests/dataframe/indexing/test_loc.py
  python/cudf/cudf/tests/dataframe/indexing/test_setitem.py
  python/cudf/cudf/tests/dataframe/methods/test_to_pandas.py
  python/cudf/cudf/tests/dataframe/methods/test_to_records.py
  python/cudf/cudf/tests/dataframe/test_constructors.py
  python/cudf/cudf/tests/general_functions/test_to_numeric.py
  python/cudf/cudf/tests/indexes/rangeindex/test_constructors.py
  python/cudf/cudf/tests/private_objects/test_column.py
  python/cudf/cudf/tests/private_objects/test_compile_udf.py
  python/cudf/cudf/tests/series/indexing/test_iloc.py
  python/cudf/cudf/tests/series/indexing/test_loc.py
  python/cudf/cudf/tests/series/indexing/test_setitem.py
  python/cudf/cudf/tests/series/methods/test_to_pandas.py
  python/cudf/cudf/tests/series/test_attributes.py
  python/cudf/cudf/tests/series/test_constructors.py
  python/cudf/cudf/tests/test_numpy_interop.py
  python/cudf/cudf/tests/test_pandas_interop.py
  python/cudf/cudf/tests/test_setitem.py
Labels: Python, improvement, non-breaking

#19164 Use KvikIO's implementation of file-backed memory mapping
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf, improvement, non-breaking

#19794 rearrange dependencies.yaml, other small changes
  ci/cudf_pandas_scripts/pandas-tests/diff.sh
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: improvement, non-breaking

#19796 Update rapids-dependency-file-generator
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#19776 Some clarifications, improvements to GroupedRollingWindows in cudf-polars
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/tests/expressions/test_rolling.py
Labels: 3 - Ready for Review, improvement, non-breaking

#19491 Improve support for sliced input on from_arrow_host APIs
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/from_arrow_host.hpp
  cpp/src/interop/from_arrow_host_strings.cu
  cpp/tests/interop/from_arrow_host_test.cpp
  cpp/tests/interop/from_arrow_test.cpp
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: 3 - Ready for Review, libcudf, Python, improvement, non-breaking, cudf-polars

#19807 Update identify_stream_usage CUDA runtime hooks to CUDA 13
  cpp/tests/utilities/identify_stream_usage.cpp
Labels: bug, non-breaking

#19821 xfail polars `decimal(precision=None)` test
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: bug, non-breaking

#19816 Remove test_mvc.py
  python/cudf/cudf/tests/test_mvc.py
Labels: Python, improvement, non-breaking

#19721 Warn on fallback in the streaming tests in cudf-polars
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_unique.py
Labels: improvement, non-breaking

#19793 Update exception handling in pdsh benchmarks
  python/cudf_polars/cudf_polars/experimental/benchmarks/utils.py
Labels: improvement, non-breaking

#19768 Build and test with CUDA 13.0.0
  .devcontainer/cuda13.0-conda/devcontainer.json
  .devcontainer/cuda13.0-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  CONTRIBUTING.md
  README.md
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: improvement, non-breaking

#19834 Construct cuDF classic Decimal32/64Columns from RMM buffers
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/interval.py
Labels: Python, improvement, non-breaking

#18940 Add multi-column support for primitive row operator dispatch
  cpp/include/cudf/table/primitive_row_operators.cuh
  cpp/src/table/primitive_row_operators.cu
  cpp/tests/join/distinct_join_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, Performance, non-breaking

#19835 Add join `*_match_context` APIs to hash join
  cpp/include/cudf/detail/join/hash_join.cuh
  cpp/include/cudf/join/hash_join.hpp
  cpp/include/cudf/join/join.hpp
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/hash_join.cu
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
Labels: feature request, 3 - Ready for Review, libcudf, Spark, breaking

#19847 Fix flaky DataFrame `to_string` test
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python, improvement, non-breaking

#19848 Fix .str.replace ignoring n for single character replacements
  python/cudf/cudf/core/accessors/string.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/series/accessors/test_str.py
Labels: bug, Python, non-breaking

#19210 Update `pandas-tests-diff` to only display GPU/CPU usage metrics
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/pandas-tests/diff.sh
  ci/cudf_pandas_scripts/pandas-tests/job-summary.py
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  python/cudf/cudf/pandas/scripts/summarize-test-results.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#19851 Disallow loc.__setitem__ with list-like indexer when list elements not in index
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/dataframe/indexing/test_loc.py
Labels: bug, Python, non-breaking

#19736 Collect join-key information in cudf-polars
  python/cudf_polars/cudf_polars/experimental/base.py
  python/cudf_polars/cudf_polars/experimental/statistics.py
  python/cudf_polars/docs/overview.md
  python/cudf_polars/tests/experimental/test_stats.py
Labels: feature request, 5 - Ready to Merge, non-breaking, cudf-polars
