Repository rapidsai/cudf, pull requests merged in 2025-04, with the labels that each got.

#18392 Pin cmake in test_java to be less than 4.0.0
  dependencies.yaml
Labels: bug, non-breaking

#18398 Skip failing Narwhals rolling groupy tests
  ci/test_narwhals.sh
Labels: bug, non-breaking

#18371 Silence warning by setting BUILD_SHARED_LIBS
  cpp/cmake/thirdparty/get_zstd.cmake
Labels: libcudf, CMake, improvement, non-breaking

#18367 Pass stream through when taking ownership from libcudf
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/orc.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/io/types.pxd
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/table.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: Python, improvement, non-breaking, pylibcudf

#18387 Bump polars version to <1.27
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.polars

#18351 Deterministic hashing for DataFrameScan nodes in cudf-polars multi-partition executor
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: bug, Python, non-breaking, cudf.polars

#18395 Fix synchronization issues in host compression and decompression
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/comp.hpp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/json/write_json.cu
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
  cpp/tests/io/comp/comp_test.cpp
  cpp/tests/io/json/json_chunked_reader.cu
  cpp/tests/io/json/json_test.cpp
  cpp/tests/large_strings/json_tests.cu
Labels: bug, libcudf, non-breaking

#18409 Use pyarrow 15 in oldest dependency CI jobs
  dependencies.yaml
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, improvement, non-breaking

#18420 Backport: Deterministic hashing for DataFrameScan nodes in cudf-polars multi-partition executor (#18351)
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: bug, Python, non-breaking, cudf.polars

#18331 Remove cudf.Scalar in as_column
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_indexing.py
  python/dask_cudf/dask_cudf/backends.py
Labels: Python, improvement, non-breaking

#18311 Add standard data ingestion pipelines to pylibcudf for ndarrays
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
  python/pylibcudf/pylibcudf/tests/test_column_from_device.py
Labels: feature request, Python, breaking, pylibcudf

#18401 add static push and pop methods to NvtxRange
  java/src/main/java/ai/rapids/cudf/NvtxRange.java
Labels: 3 - Ready for Review, Java, Spark, improvement, non-breaking

#18306 Avoid stateful construction in `DataFrame.__init__`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_json.py
Labels: Python, improvement, non-breaking

#18407 Add rank and label_bin methods to ColumnBase
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/resample.py
Labels: Python, improvement, non-breaking

#18419 Switch the ptr type in gpumemoryview from Py_ssize_t to uintptr_t
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, improvement, non-breaking, pylibcudf

#18412 Use delete not free to release data allocated with new
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
Labels: bug, Python, non-breaking, pylibcudf

#18360 Deprecate old nvtext::normalize_characters
  cpp/include/nvtext/normalize.hpp
  cpp/tests/streams/text/replace_test.cpp
  cpp/tests/text/normalize_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#18415 Add optional dtype argument to `Scalar.from_any`
  python/pylibcudf/pylibcudf/scalar.pyi
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: feature request, Python, non-breaking, pylibcudf

#18413 Allow polars arrow conversion to produce string_view
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
Labels: Python, improvement, non-breaking, cudf.polars

#18181 Support `cudf-polars` `strftime`
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: feature request, 3 - Ready for Review, Python, non-breaking, cudf.polars

#18426 Remove numpy requirement when converting 2d cuda array interface objects to pylibcudf Columns
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, improvement, non-breaking, pylibcudf

#18429 Fix alpha versions of cudf package.
  ci/build_python.sh
  ci/build_wheel.sh
Labels: bug, non-breaking

#18404 Remove `_sync` suffix from hostdevice types
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/error.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/hostdevice_span.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
  cpp/tests/io/comp/comp_test.cpp
  cpp/tests/utilities_tests/span_tests.cu
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#18431 Test against stable tags for narwhals
  .github/workflows/pr.yaml
  ci/test_narwhals.sh
  dependencies.yaml
Labels: improvement, non-breaking

#18345 Performance improvement for to_lower/to_upper for multi-byte UTF-8 characters
  cpp/src/strings/case.cu
  cpp/tests/strings/case_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18430 Refcount-based dropping of cached evaluations in cudf-polars executor
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/test_cache.py
Labels: Python, improvement, non-breaking, cudf.polars

#18231 Add rapidsmp shuffle support to cudf-polars
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_rapidsmp.py
Labels: feature request, Python, 4 - Needs Review, non-breaking, cudf.polars

#18405 Automatic single-partition fallback in cudf-polars
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/base.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.polars

#18057 Support `include_file_paths` in cudf polars
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/tests/test_scan.py
Labels: feature request, Python, non-breaking, cudf.polars

#18363 Automatically dispatch between host and device decompression/compression based on the number of buffers
  cpp/src/io/comp/common_internal.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: feature request, libcudf, 5 - Ready to Merge, non-breaking

#18456 [DOC] Fix typo in CONTRIBUTING.md on build type tests
  CONTRIBUTING.md
Labels: doc, non-breaking

#18451 Fix a segfault when reading a Parquet file with unsupported compression type
  cpp/src/io/parquet/reader_impl_chunking.cu
  python/cudf/cudf/tests/data/parquet/hadoop_lz4_compressed.parquet
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, Python, 5 - Ready to Merge, non-breaking

#18452 Ensure DataFrame column label operations reset label_dtype
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, Python, non-breaking

#18393 Add support for long string columns in cudf::contiguous_split
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/slice_tests.cuh
  cpp/tests/copying/split_tests.cpp
Labels: feature request, libcudf, non-breaking

#18444 Fix logger macros
  cpp/CMakeLists.txt
Labels: bug, libcudf, CMake, non-breaking

#18441 Promote Parquet type enums to enum classes
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/compact_protocol_writer.cpp
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_data.cuh
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/stats_filter_helpers.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_common.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: 3 - Ready for Review, libcudf, cuIO, improvement, breaking

#18466 [DOC] Improve clarity in parquet APIs set_row_groups and set_columns parquet
  cpp/include/cudf/io/parquet.hpp
Labels: doc, libcudf, non-breaking

#18470 Add ARM conda environments.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#18473 Vendor RAPIDS.cmake
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
  cpp/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
  python/cudf/CMakeLists.txt
  python/cudf_kafka/CMakeLists.txt
  python/libcudf/CMakeLists.txt
  python/pylibcudf/CMakeLists.txt
Labels: libcudf, Python, CMake, Java, improvement, non-breaking, pylibcudf

#18279 Removing unnecessary StreamSynchronization in reading
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf, 5 - Ready to Merge, Performance, improvement, non-breaking

#18347 Skip decoding of pages marked as pruned in PQ reader
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
Labels: feature request, 3 - Ready for Review, libcudf, cuIO, breaking

#18460 Add a usage page to cudf-polars documentation
  docs/cudf/source/cudf_polars/index.rst
  docs/cudf/source/cudf_polars/usage.md
Labels: doc, non-breaking

#18469 Bump polars version to <1.28
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.polars

#18434 Replace direct use of nvCOMP and of its adapter with the higher-level decompression API
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/unsnap.cu
  cpp/src/io/text/bgzip_data_chunk_source.cu
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#18478 Fix an error when reading some compressed Parquet V2 files
  cpp/src/io/parquet/reader_impl_chunking.cu
  python/cudf/cudf/tests/data/parquet/empty_datapage_v2.parquet
  python/cudf/cudf/tests/test_parquet.py
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: bug, libcudf, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#18476 Rerun flaky pytests in CI
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf/tests/test_repr.py
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.polars, pylibcudf

#18481 Fix unspecified behavior involving move semantics and order of evaluation
  cpp/src/io/json/read_json.cu
  cpp/src/io/utilities/datasource.cpp
Labels: libcudf, improvement, non-breaking

#18493 Rename rapidsmp to rapidsmpf
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/experimental/test_rapidsmpf.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#18497 Remove casting functions in pylibcudf utils
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/contiguous_split.pyx
  python/pylibcudf/pylibcudf/null_mask.pyx
  python/pylibcudf/pylibcudf/transform.pyx
  python/pylibcudf/pylibcudf/utils.pxd
  python/pylibcudf/pylibcudf/utils.pyx
Labels: Python, improvement, non-breaking, pylibcudf

#18436 Disabled Jitify Minification
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: libcudf, CMake, improvement, non-breaking

#18487 Increase wheel size limit.
  python/libcudf/pyproject.toml
Labels: Python, improvement, non-breaking

#18364 Avoid patching sort algorithms from CCCL
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/patches/cccl_override.json
Labels: libcudf, CMake, improvement, non-breaking

#18501 Fix cpp examples cmake to use the rapids_config.cmake
  cpp/examples/set_cuda_architecture.cmake
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#18500 Replace thrust functors with libcu++ ones
  cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md
  cpp/include/cudf/detail/indexalator.cuh
  cpp/src/copying/concatenate.cu
  cpp/src/dictionary/detail/concatenate.cu
  cpp/src/dictionary/set_keys.cu
  cpp/src/io/comp/comp.cu
  cpp/src/io/json/column_tree_construction.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/labeling/label_bins.cu
  cpp/src/sort/common_sort_impl.cuh
  cpp/src/sort/sort_column_impl.cuh
  cpp/src/strings/attributes.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/search/contains_multiple.cu
  cpp/src/text/edit_distance.cu
  cpp/src/text/normalize.cu
  cpp/src/text/subword/subword_tokenize.cu
  cpp/src/text/subword/wordpiece_tokenizer.cu
  cpp/tests/reductions/host_udf_example_tests.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18417 Add strings::extract_single API
  cpp/include/cudf/strings/extract.hpp
  cpp/src/strings/extract/extract.cu
  cpp/tests/strings/extract_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#18358 refactor(rattler): enable strict channel priority for builds
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking

#18502 Add pylibcudf.Column.from_rmm_buffer
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, improvement, non-breaking, pylibcudf

#18402 Use owning Arrow types in C++ to expose data to Python
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/include/cudf/interop.hpp
  cpp/src/column/column_view.cpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_schema.cpp
  dependencies.yaml
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/cudf/core/column/column.py
  python/cudf/pyproject.toml
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/_interop_helpers.pxd
  python/pylibcudf/pylibcudf/_interop_helpers.pyx
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
  python/pylibcudf/pylibcudf/interop.pxd
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/null_mask.pxd
  python/pylibcudf/pylibcudf/null_mask.pyi
  python/pylibcudf/pylibcudf/null_mask.pyx
  python/pylibcudf/pylibcudf/table.pyx
  python/pylibcudf/pylibcudf/tests/test_labeling.py
  python/pylibcudf/pylibcudf/tests/test_null_mask.py
  python/pylibcudf/pylibcudf/tests/test_string_extract.py
  python/pylibcudf/pylibcudf/tests/test_string_padding.py
  python/pylibcudf/pylibcudf/tests/test_string_repeat.py
  python/pylibcudf/pylibcudf/tests/test_transform.py
Labels: libcudf, Python, CMake, improvement, non-breaking, pylibcudf

#18505 Optimize pandas metadata generation to reduce memory pressure
  python/cudf/cudf/utils/ioutils.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking

#18496 Support reading from device buffers in the pylibcudf IO APIs
  python/pylibcudf/pylibcudf/io/types.pxd
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/libcudf/io/types.pxd
  python/pylibcudf/pylibcudf/tests/common/utils.py
  python/pylibcudf/pylibcudf/tests/io/test_avro.py
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
  python/pylibcudf/pylibcudf/tests/io/test_json.py
  python/pylibcudf/pylibcudf/tests/io/test_orc.py
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
Labels: feature request, Python, non-breaking, pylibcudf

#18499 Rename cudf-polars executors
  ci/run_cudf_polars_pytests.sh
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/conftest.py
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_parallel.py
  python/cudf_polars/tests/experimental/test_rapidsmpf.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/experimental/test_select.py
  python/cudf_polars/tests/experimental/test_shuffle.py
  python/cudf_polars/tests/test_executors.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking, cudf.polars

#18346 Moving wheel builds to specified location and uploading build artifacts to Github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_cudf.sh
  ci/build_wheel_cudf_polars.sh
  ci/build_wheel_dask_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#18513 Fix `print()` keyword argument in cudf pandas test
  python/cudf/cudf_pandas_tests/test_main.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking, cudf.pandas

#18485 Add CategoricalIndex.from_codes
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Labels: Python, improvement, non-breaking

#18287 Remove extranous modules from top level cudf namespace
  python/cudf/cudf/__init__.py
  python/cudf/cudf/tests/test_api.py
Labels: Python, improvement, breaking

#18435 Fix printing decimal128 types that are zero
  cpp/include/cudf/fixed_point/temporary.hpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18457 Support title-case characters in strings capitalize() and title() APIs
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#18418 improve docs related to documentation contribution
  CONTRIBUTING.md
  docs/cudf/source/developer_guide/documentation.md
Labels: doc, non-breaking

#18477 Remove need for to_cudf_compatible_scalar
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#18416 Add to_arrow_host_stringview interop API
  cpp/include/cudf/interop.hpp
  cpp/src/interop/to_arrow_host.cu
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18532 Pin hypothesis<6.131.1 due to performance issues
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.pandas, pylibcudf

#18507 Remove redundant task-graph logic for streaming ``GroupBy``
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.polars

#18423 Share more cudf.Column methods for `indices_of`/`isin`
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_series.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking

#18433 Add more `cudf.DataFrame` constructor pytest benchmarks
  python/cudf/benchmarks/API/bench_dataframe.py
Labels: Python, improvement, non-breaking

#18531 Change default memory resource for 'distributed' cudf-polars
  python/cudf_polars/cudf_polars/callback.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#18378 Implemented String Input support for Transforms and Removed `jit::column_device_view`
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/column/column_device_view_base.cuh
  cpp/include/cudf/detail/normalizing_iterator.cuh
  cpp/include/cudf/jit/types.cuh
  cpp/include/cudf/strings/detail/convert/string_to_float.cuh
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: feature request, libcudf, CMake, non-breaking

#18105 Add benchmark for join operations with low build table cardinality
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/join/join.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/benchmarks/join/left_join.cu
  cpp/benchmarks/join/multiplicity_join.cu
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, non-breaking

#18530 Fix copy-on-write buffer separation and cleanup
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_copying.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#18517 Fix doxygen usage of the contraction for it is
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/include/cudf/detail/utilities/linked_column.hpp
  cpp/include/cudf/detail/valid_if.cuh
  cpp/include/cudf/partitioning.hpp
  cpp/include/cudf/transform.hpp
  cpp/include/cudf/utilities/span.hpp
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#18523 Add multi-partition MapFunction support to cudf-polars
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#18518 Don't fetch dlpack headers when building cuDF Python
  python/cudf/CMakeLists.txt
Labels: Python, CMake, improvement, non-breaking

#18509 Use `cuda::std::iter_value_t` instead of thrust iterator traits
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/labeling/label_segments.cuh
  cpp/include/cudf/detail/scatter.cuh
  cpp/include/cudf/detail/sizes_to_offsets_iterator.cuh
  cpp/include/cudf/reduction/detail/reduction.cuh
  cpp/include/cudf/reduction/detail/segmented_reduction.cuh
  cpp/src/reductions/minmax.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18524 Reduce the number of miscellaenous pandas unit tests run with cudf.pandas
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, improvement, non-breaking, cudf.pandas

#18515 Clarify @brief tag as description/title on documentation guide
  cpp/doxygen/developer_guide/DOCUMENTATION.md
Labels: 3 - Ready for Review, doc, libcudf, non-breaking

#18508 Adds support for writing raw UTF-8 characters (without escaping) in the JSON writer
  cpp/include/cudf/io/json.hpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/json/json_writer.cpp
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
  python/pylibcudf/pylibcudf/tests/io/test_json.py
Labels: feature request, libcudf, Python, non-breaking, pylibcudf

#18489 Add a utility to bulk set multiple null masks
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/null_mask/set_null_mask.cpp
  cpp/include/cudf/fixed_point/detail/floating_conversion.hpp
  cpp/include/cudf/null_mask.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/io/comp/comp.cpp
  cpp/src/io/parquet/compact_protocol_reader.hpp
  cpp/tests/bitmask/set_nullmask_tests.cu
Labels: feature request, libcudf, CMake, 4 - Needs Review, non-breaking

#15370 Add support for the Arrow device capsule interfaces
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pylibcudf/_interop_helpers.pxd
  python/pylibcudf/pylibcudf/_interop_helpers.pyx
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/table.pyx
  python/pylibcudf/pylibcudf/tests/test_interop.py
  python/pylibcudf/pyproject.toml
Labels: feature request, Python, non-breaking, pylibcudf

#18361 Expose join hash table load factor
  cpp/benchmarks/join/distinct_join.cu
  cpp/include/cudf/detail/join/distinct_hash_join.cuh
  cpp/include/cudf/detail/join/hash_join.cuh
  cpp/include/cudf/join/distinct_hash_join.hpp
  cpp/include/cudf/join/hash_join.hpp
  cpp/src/join/distinct_hash_join.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join.cu
  cpp/tests/join/distinct_join_tests.cpp
  cpp/tests/join/join_tests.cpp
  java/src/main/native/src/HashJoinJni.cpp
  java/src/main/native/src/TableJni.cpp
Labels: feature request, libcudf, Java, non-breaking

#18544 Add back cudf root
  conda/recipes/libcudf/recipe.yaml
Labels: bug, non-breaking

#18440 Fix auto-detection of compression type in host-side decompression
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/functions.cpp
  cpp/tests/io/comp/comp_test.cpp
Labels: bug, libcudf, cuIO, non-breaking

#18467 Added `pylibcudf.utilities.is_ptds_enabled`
  docs/cudf/source/pylibcudf/api_docs/index.rst
  docs/cudf/source/pylibcudf/api_docs/utilities.rst
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/__init__.pxd
  python/pylibcudf/pylibcudf/__init__.py
  python/pylibcudf/pylibcudf/libcudf/utilities/default_stream.pxd
  python/pylibcudf/pylibcudf/tests/test_utilities.py
  python/pylibcudf/pylibcudf/utilities.pxd
  python/pylibcudf/pylibcudf/utilities.pyi
  python/pylibcudf/pylibcudf/utilities.pyx
Labels: feature request, Python, CMake, non-breaking, pylibcudf

#18521 Make pylibcudf.Column.from_rmm_buffer a Python staticmethod
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_device.py
Labels: Python, improvement, non-breaking, pylibcudf

#18520 Add more short circuit checks for .equals
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_column.py
Labels: Python, improvement, non-breaking

#18439 Consolidate logic in DataFrame.__init__ for listlike arguments
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python, improvement, non-breaking

#18542 Refactor scan test I/O logic into shared `make_partitioned_source` helper
  python/cudf_polars/cudf_polars/testing/io.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/test_scan.py
  python/cudf_polars/tests/testing/test_io.py
Labels: Python, improvement, non-breaking, cudf.polars

#18550 Adjust cudf Python groupby test for cuCollections update
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: Python, improvement, non-breaking

#18535 Make Python testing dependencies more specific to pylibcudf vs cudf
  ci/cudf_pandas_scripts/fetch_pandas_versions.py
  ci/test_python_common.sh
  ci/test_python_cudf.sh
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#18540 [JNI] Expose row-wise sha1 api
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/native/src/ColumnVectorJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, Java, non-breaking

#18561 Skip cuml third-party integration tests that may segfault
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_cuml.py
Labels: bug, Python, non-breaking, cudf.pandas

#18514 Refactor internal strings utility to separate header and definition file
  cpp/CMakeLists.txt
  cpp/src/strings/positions.cu
  cpp/src/strings/positions.hpp
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split.cuh
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#18546 Fix overflow for `MERGE_M2` groupby aggregation
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/tests/groupby/merge_m2_tests.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: bug, libcudf, Java, Spark, breaking

#18559 Support `plc.Scalar.from_py(None)` and `plc.Scalar.from_py(int, float type)`
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#18537 Update hypothesis version
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.pandas, pylibcudf

#18548 [DOC] Running libcudf benchmarks and comparing output results
  cpp/doxygen/developer_guide/BENCHMARKING.md
Labels: doc, libcudf, non-breaking

#18554 Reduce cudf-polars pyarrow usage
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, improvement, non-breaking, cudf.polars

#18406 Improve performance of strings::like for long strings
  cpp/benchmarks/string/like.cpp
  cpp/include/cudf/strings/contains.hpp
  cpp/src/strings/like.cu
  cpp/tests/strings/like_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18516 Refactor polars configuration
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/docs/overview.md
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_select.py
  python/cudf_polars/tests/experimental/test_shuffle.py
  python/cudf_polars/tests/test_config.py
  python/cudf_polars/tests/test_executors.py
Labels: Python, improvement, non-breaking, cudf.polars

#18235 Update to CCCL 2.8.x with no CCCL patches
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/get_cccl.cmake
  cpp/cmake/thirdparty/patches/cccl_override.json
  cpp/cmake/thirdparty/patches/thrust_faster_scan_compile_times.diff
  cpp/cmake/thirdparty/patches/thrust_faster_sort_compile_times.diff
  cpp/src/io/fst/dispatch_dfa.cuh
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake, improvement, breaking

#17969 Enable `stumpy_distributed` tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: Python, improvement, non-breaking, cudf.pandas

#18327 Add tests for `cudf.polars` to be able to work on a cpu-only machine
  conda/recipes/cudf-polars/recipe.yaml
Labels: improvement, non-breaking

#18565 Update KvikIO S3 endpoint usage
  cpp/src/io/utilities/datasource.cpp
Labels: bug, libcudf, non-breaking

#18580 Fix some duplicate toctree issues and improve groupby docs
  docs/cudf/Makefile
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/api_docs/dataframe.rst
  docs/cudf/source/user_guide/api_docs/groupby.rst
  docs/cudf/source/user_guide/api_docs/index.rst
  docs/cudf/source/user_guide/api_docs/list_handling.rst
  docs/cudf/source/user_guide/api_docs/series.rst
  docs/cudf/source/user_guide/api_docs/string_handling.rst
  docs/cudf/source/user_guide/api_docs/struct_handling.rst
  docs/cudf/source/user_guide/api_docs/wordpiece_tokenizer.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/groupby/__init__.py
  python/cudf/cudf/core/groupby/groupby.py
Labels: doc, Python, non-breaking

#18557 Add xfail window function tests for cudf_polars
  python/cudf_polars/tests/test_window_functions.py
Labels: Python, improvement, non-breaking, cudf.polars

#18577 Allow datetime.timedelta objects in pylibcudf.Scalar.from_py
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar.pxd
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/libcudf/wrappers/durations.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, improvement, non-breaking, pylibcudf

#18365 Expose new grouped_range_rolling API in pylibcudf
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/rolling.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/rolling/detail/rolling.hpp
  cpp/src/rolling/detail/rolling_utils.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling.cpp
  python/pylibcudf/pylibcudf/aggregation.pxd
  python/pylibcudf/pylibcudf/aggregation.pyi
  python/pylibcudf/pylibcudf/aggregation.pyx
  python/pylibcudf/pylibcudf/libcudf/aggregation.pxd
  python/pylibcudf/pylibcudf/libcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pxd
  python/pylibcudf/pylibcudf/rolling.pyi
  python/pylibcudf/pylibcudf/rolling.pyx
  python/pylibcudf/pylibcudf/tests/test_rolling.py
Labels: libcudf, Python, CMake, improvement, non-breaking, pylibcudf

#18519 Add synchronous task scheduler to cudf-polars
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/scheduler.py
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: Python, 4 - Needs Review, improvement, non-breaking, cudf.polars

#18492 Support multi-partition ``Select`` operations with aggregations
  python/cudf_polars/cudf_polars/dsl/expressions/base.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/__init__.py
  python/cudf_polars/cudf_polars/dsl/utils/naming.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/select.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/dsl/test_expr.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_select.py
Labels: feature request, Python, 4 - Needs Review, non-breaking, cudf.polars

#18574 Additional tests strings for strings split APIs
  cpp/tests/strings/split_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18591 Update `numba-cuda` dependency to `>=0.9.0`
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python, improvement, non-breaking

#18595 Fix `DataFrame.memory_usage` output order
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, Python, non-breaking

#18592 Add temporary pdsh benchmarks to ``cudf_polars.experimental``
  python/cudf_polars/cudf_polars/experimental/benchmarks/__init__.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/pyproject.toml
Labels: 2 - In Progress, Python, Performance, improvement, non-breaking, cudf.polars

#18510 Improve performance of strings split-record on whitespace
  cpp/src/strings/split/split_record.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18601 Use `cached_property` for Datetime and Timedelta column properties
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python, improvement, non-breaking

#18480 High level interface for experimental PQ reader and implementation of metadata APIs
  cpp/CMakeLists.txt
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/include/cudf/io/parquet_schema.hpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/experimental/hybrid_scan.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.hpp
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: feature request, libcudf, CMake, 4 - Needs Review, cuIO, non-breaking

#18590 Set flag to always use unsafe atomic storage
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: bug, CMake, non-breaking

#18599 Enable reporting peak memory usage for gtests
  cpp/include/cudf_test/testing_main.hpp
  cpp/scripts/gtest_memory_usage.sh
  cpp/tests/CMakeLists.txt
  cpp/tests/large_strings/large_strings_fixture.cpp
  cpp/tests/streams/binaryop_test.cpp
  cpp/tests/streams/concatenate_test.cpp
  cpp/tests/streams/copying_test.cpp
  cpp/tests/streams/datetime_test.cpp
  cpp/tests/streams/dictionary_test.cpp
  cpp/tests/streams/filling_test.cpp
  cpp/tests/streams/groupby_test.cpp
  cpp/tests/streams/hash_test.cpp
  cpp/tests/streams/interop_test.cpp
  cpp/tests/streams/io/csv_test.cpp
  cpp/tests/streams/io/json_test.cpp
  cpp/tests/streams/io/multibyte_split_test.cpp
  cpp/tests/streams/io/orc_test.cpp
  cpp/tests/streams/io/parquet_test.cpp
  cpp/tests/streams/join_test.cpp
  cpp/tests/streams/labeling_bins_test.cpp
  cpp/tests/streams/lists_test.cpp
  cpp/tests/streams/null_mask_test.cpp
  cpp/tests/streams/partitioning_test.cpp
  cpp/tests/streams/pool_test.cu
  cpp/tests/streams/quantile_test.cpp
  cpp/tests/streams/reduction_test.cpp
  cpp/tests/streams/replace_test.cpp
  cpp/tests/streams/reshape_test.cpp
  cpp/tests/streams/rolling_test.cpp
  cpp/tests/streams/round_test.cpp
  cpp/tests/streams/scalar_test.cpp
  cpp/tests/streams/search_test.cpp
  cpp/tests/streams/sorting_test.cpp
  cpp/tests/streams/stream_compaction_test.cpp
  cpp/tests/streams/strings/strings_tests.cpp
  cpp/tests/streams/text/tokenize_test.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/streams/unary_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#18578 Add APIs to check ORC and Parquet compression support at runtime
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/comp.hpp
  cpp/src/io/comp/io_uncomp.hpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_misc_test.cpp
Labels: feature request, libcudf, non-breaking
