Repository rapidsai/cudf, pull requests merged in 2025-10, with the labels that each got.

#20152 Branch 25.12 merge branch 25.10
  dependencies.yaml
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/pandas/scripts/conftest-patch.py
  python/cudf/cudf/tests/conftest.py
Labels: Python, improvement, non-breaking, cudf.pandas

#19804 Remove iterative `nan` & `nat` inefficient checks in `as_column` constructor
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/pandas/scripts/conftest-patch.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas

#20157 Manual forward merger for Branch 25.12 - branch 25.10
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/pandas/scripts/conftest-patch.py
Labels: Python, improvement, non-breaking, cudf.pandas

#20162 Temporarily disable conda-java-tests
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#20141 Remove unused ColumnBase.view
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/private_objects/test_column.py
Labels: Python, improvement, non-breaking

#20097 Deprecate legacy public row operators
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/row_operator/row_operators.cuh
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/primitive_row_operators.cuh
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/stream_compaction/unique_count_column.cu
  cpp/src/table/primitive_row_operators.cu
  cpp/src/table/row_operators.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/row_operator/nan_tests.cpp
  cpp/tests/row_operator/row_operator_tests.cu
  cpp/tests/row_operator/row_operator_tests_utilities.hpp
  cpp/tests/row_operator/self_comparison_utilities.cu
  cpp/tests/row_operator/two_table_comparison_utilities.cu
  cpp/tests/row_operator/two_table_equality_utilities.cu
  cpp/tests/table/table_view_tests.cu
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#20124 Run cudf-polars wheels unit tests with more than 1 process
  ci/test_python_other.sh
  ci/test_wheel_cudf_polars.sh
  python/cudf_polars/tests/experimental/conftest.py
Labels: Python, improvement, non-breaking, cudf-polars

#19895 Trace node execution in cudf-polars
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  dependencies.yaml
  docs/cudf/source/cudf_polars/usage.md
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/tracing.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsds.py
  python/cudf_polars/cudf_polars/experimental/benchmarks/utils.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_tracing.py
Labels: Python, improvement, non-breaking, cudf-polars

#20176 Reduce execution times for parquet dictionary tests
  cpp/tests/io/parquet_common.cpp
  cpp/tests/io/parquet_misc_test.cpp
Labels: tests, libcudf, 4 - Needs Review, improvement, non-breaking, Reliability

#20138 Adjust rmm pool handling in PDSH benchmarks
  python/cudf_polars/cudf_polars/experimental/benchmarks/utils.py
Labels: Python, improvement, non-breaking, cudf-polars

#19907 Support forward/backward filling null values in a grouped window context
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/tests/expressions/test_rolling.py
Labels: feature request, Python, non-breaking, cudf-polars

#20160 Fix RMM JNI pinned_fallback_host_memory_resource for CCCL 3.1.0
  java/src/main/native/src/RmmJni.cpp
Labels: bug, Java, non-breaking

#20175 Skip filtering Parquet row groups with dictionaries if there are non-dict encoded pages
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
Labels: libcudf, 4 - Needs Review, cuIO, improvement, non-breaking

#20171 Require passing memory resources to from_libcudf methods
  python/cudf/cudf/_lib/strings_udf.pyx
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/contiguous_split.pxd
  python/pylibcudf/pylibcudf/contiguous_split.pyx
  python/pylibcudf/pylibcudf/io/types.pxd
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/table.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: bug, Python, non-breaking, pylibcudf

#20180 Remove unnecessary work from `read_parquet_metadata`
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf, Performance, improvement, non-breaking

#20164 Add PDSH benchmark runner for cudf.pandas
  python/cudf/cudf/pandas/_benchmarks/__init__.py
  python/cudf/cudf/pandas/_benchmarks/pdsh.py
  python/cudf/cudf/pandas/_benchmarks/utils.py
Labels: Python, improvement, non-breaking, cudf.pandas

#20200 Pin pydantic<2.12 in ci/test_cudf_polars_polars_tests.sh
  ci/test_cudf_polars_polars_tests.sh
Labels: improvement, non-breaking

#20197 Add remaining memory resources
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/contiguous_split.pxd
  python/pylibcudf/pylibcudf/contiguous_split.pyx
  python/pylibcudf/pylibcudf/io/timezone.pyx
  python/pylibcudf/pylibcudf/libcudf/column/column.pxd
  python/pylibcudf/pylibcudf/libcudf/io/timezone.pxd
  python/pylibcudf/pylibcudf/libcudf/null_mask.pxd
  python/pylibcudf/pylibcudf/libcudf/table/table.pxd
  python/pylibcudf/pylibcudf/libcudf/transform.pxd
  python/pylibcudf/pylibcudf/null_mask.pxd
  python/pylibcudf/pylibcudf/null_mask.pyx
  python/pylibcudf/pylibcudf/transform.pxd
  python/pylibcudf/pylibcudf/transform.pyx
Labels: feature request, Python, non-breaking, pylibcudf

#20145 Add pylibcudf is_valid_reduce_aggregation API
  python/pylibcudf/pylibcudf/libcudf/reduce.pxd
  python/pylibcudf/pylibcudf/reduce.pxd
  python/pylibcudf/pylibcudf/reduce.pyi
  python/pylibcudf/pylibcudf/reduce.pyx
  python/pylibcudf/tests/test_reduce.py
Labels: feature request, 2 - In Progress, Python, non-breaking, pylibcudf
