Repository rapidsai/cudf, pull requests merged in 2025-03, with the labels that each got.

#18134 Use protocol for dlpack instead of deprecated function
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/tests/test_dlpack.py
Labels: bug, Python, non-breaking

#18142 Branch 25.04 merge branch 25.02
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/tests/test_dlpack.py
Labels: Python, improvement, non-breaking

#18144 Update calls to KvikIO's config setter
  cpp/src/io/utilities/config_utils.cpp
Labels: bug, libcudf, non-breaking

#18145 [RELEASE] `v25.02.02`
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/tests/test_dlpack.py
Labels: Python

#18136 Reduce memory use when writing tables with very short columns to ORC
  cpp/src/io/orc/writer_impl.cu
  cpp/src/utilities/host_memory.cpp
  cpp/tests/CMakeLists.txt
Labels: bug, libcudf, CMake, non-breaking

#18147 Use protocol for dlpack instead of deprecated function in cupy notebook
  docs/cudf/source/user_guide/cupy-interop.ipynb
Labels: bug, non-breaking

#18146 Skip failing test
  ci/run_cudf_polars_pytests.sh
Labels: bug, non-breaking

#18062 Optimization improvement for substr in cudf::string_view
  cpp/include/cudf/strings/string_view.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18113 Preserve DataFrame.column subclass and type during binop
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, Python, non-breaking

#18143 Remove some unnecessary module imports
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/utils/utils.py
Labels: Python, improvement, non-breaking

#18119 Replace more deprecated `CUB` functors
  cpp/benchmarks/common/generate_input.cu
  cpp/include/cudf/detail/utilities/functional.hpp
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/filling/repeat.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_replace_nulls.cu
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/comp/nvcomp_adapter.cu
  cpp/src/io/fst/logical_stack.cuh
  cpp/src/io/json/column_tree_construction.cu
  cpp/src/io/json/host_tree_algorithms.cu
  cpp/src/io/json/json_column.cu
  cpp/src/io/json/json_tree.cu
  cpp/src/io/json/write_json.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/parquet/delta_enc.cuh
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/src/io/utilities/data_casting.cu
  cpp/src/lists/set_operations.cu
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
  cpp/src/reductions/segmented/simple.cuh
  cpp/src/rolling/detail/rolling_collect_list.cu
  cpp/src/sort/rank.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_re.cu
  cpp/src/text/bpe/byte_pair_encoding.cu
  cpp/src/text/minhash.cu
  cpp/tests/iterator/iterator_tests.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18054 Port all conda recipes to `rattler-build`
  ci/build_cpp.sh
  ci/build_python.sh
  conda/recipes/cudf-polars/build.sh
  conda/recipes/cudf-polars/meta.yaml
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/build.sh
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/build.sh
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/build.sh
  conda/recipes/custreamz/meta.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/build.sh
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/libcudf/build.sh
  conda/recipes/libcudf/install_libcudf.sh
  conda/recipes/libcudf/install_libcudf_example.sh
  conda/recipes/libcudf/install_libcudf_kafka.sh
  conda/recipes/libcudf/install_libcudf_tests.sh
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/build.sh
  conda/recipes/pylibcudf/meta.yaml
  conda/recipes/pylibcudf/recipe.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/libcudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#17922 Remove cudf.Scalar from shift/fillna
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
Labels: Python, improvement, non-breaking

#18020 Add pylibcudf.Scalar.from_numpy for bool/int/float/str types
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, improvement, non-breaking, pylibcudf

#18120 Minor typo fix in filling.pxd
  cpp/examples/interop/interop.cpp
  python/pylibcudf/pylibcudf/libcudf/filling.pxd
Labels: 2 - In Progress, libcudf, Python, improvement, non-breaking, pylibcudf

#18133 Add `pylibcudf.gpumemoryview` support for `len()`/`nbytes`
  python/pylibcudf/pylibcudf/gpumemoryview.pyi
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
  python/pylibcudf/pylibcudf/tests/test_gpumemoryview.py
Labels: feature request, 3 - Ready for Review, Python, non-breaking, pylibcudf

#17695 Added polynomials benchmark
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/ast/polynomials.cpp
  cpp/benchmarks/binaryop/polynomials.cpp
  cpp/benchmarks/transform/polynomials.cpp
Labels: feature request, libcudf, CMake, non-breaking

#18032 Added Imbalanced Tree Benchmarks for Transforms
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/transform/transform.cpp
Labels: feature request, libcudf, CMake, non-breaking

#18150 Prune more seldom used dtype utils
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#18034 Separate stats filtering helpers to reuse in page pruning
  cpp/CMakeLists.txt
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/stats_filter_helpers.cpp
  cpp/src/io/parquet/stats_filter_helpers.hpp
Labels: libcudf, CMake, 5 - Ready to Merge, cuIO, improvement, non-breaking

#17600 New nvtext::wordpiece_tokenizer APIs
  cpp/CMakeLists.txt
  cpp/benchmarks/text/subword.cpp
  cpp/include/nvtext/wordpiece_tokenize.hpp
  cpp/src/text/wordpiece_tokenize.cu
  cpp/tests/text/subword_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/wordpiece_tokenize.py
  python/cudf/cudf/tests/text/test_subword_tokenizer.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/wordpiece_tokenize.pxd
  python/pylibcudf/pylibcudf/nvtext/CMakeLists.txt
  python/pylibcudf/pylibcudf/nvtext/__init__.pxd
  python/pylibcudf/pylibcudf/nvtext/__init__.py
  python/pylibcudf/pylibcudf/nvtext/wordpiece_tokenize.pxd
  python/pylibcudf/pylibcudf/nvtext/wordpiece_tokenize.pyi
  python/pylibcudf/pylibcudf/nvtext/wordpiece_tokenize.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_subword_tokenize.py
Labels: feature request, 3 - Ready for Review, libcudf, Python, CMake, strings, non-breaking, pylibcudf

#18108 Fix rmm macro call
  java/src/main/native/src/RmmJni.cpp
Labels: bug, Java, non-breaking

#18173 Add fmt to the test/benchmarks env
  conda/recipes/libcudf/recipe.yaml
Labels: bug, non-breaking

#18175 Disable ARM CI in C++ and Python test CI jobs
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#18187 Skip flaky multi GPU test
  ci/run_cudf_polars_pytests.sh
Labels: bug, non-breaking

#17793 More minor fixes for CCCL
  cpp/include/cudf/ast/detail/operators.hpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18180 Fix build.sh docs for default behavior
  build.sh
Labels: doc, non-breaking

#18125 [DOC] Document character normalizer
  docs/cudf/source/user_guide/api_docs/character_normalizer.rst
  docs/cudf/source/user_guide/api_docs/index.rst
Labels: doc, non-breaking

#18141 Prune some seldom used dtype utils
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/testing/dataset_generator.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python, improvement, non-breaking

#18138 Support deserializing cudf-polars objects composed of RMM frames
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking, cudf.polars

#18162 Test cudf against the latest stable branch of Narwhals
  ci/test_narwhals.sh
Labels: improvement, non-breaking

#18177 Drop unnecessary fmt dep
  conda/recipes/libcudf/recipe.yaml
Labels: improvement, non-breaking

#18154 Add telemetry to build workflows
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#18128 Unpin numpy<2.1
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_unaops.py
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#18163 Move nanoarrow_utils.hpp from cpp/tests/interop to cpp/include/cudf_test
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/interop/interop.cpp
  cpp/include/cudf_test/nanoarrow_utils.hpp
  cpp/tests/interop/from_arrow_device_test.cpp
  cpp/tests/interop/from_arrow_host_test.cpp
  cpp/tests/interop/from_arrow_stream_test.cpp
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/to_arrow_device_test.cpp
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#18178 Remove cudf.Scalar in where
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
Labels: Python, improvement, non-breaking

#18069 send sccache logs to telemetry
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
Labels: improvement, non-breaking

#18164 Allow nonnative cupy dtype in cudf.Series
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, Python, non-breaking

#18166 Fix merge(how=left, left_on=, right_index=True, sort=True)
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: bug, Python, non-breaking

#18190 Ignore run exports of libcufile.
  conda/recipes/libcudf/recipe.yaml
Labels: bug, non-breaking

#18075 Support sorted merges in cudf.polars
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_mapfunction.py
  python/cudf_polars/tests/test_merge_sorted.py
Labels: feature request, Python, non-breaking, cudf.polars

#18179 Drop `CUB_QUOTIENT_CEILING`
  cpp/src/io/fst/agent_dfa.cuh
  cpp/src/io/fst/dispatch_dfa.cuh
Labels: bug, libcudf, non-breaking

#17978 Ensure dtype objects are passed within Column.astype
  docs/cudf/source/conf.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#18152 Support `cudf-polars` `ordinal_day`
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: feature request, Python, non-breaking, cudf.polars

#18170 Refactor join internals: separate hash_join declaration and cleanup
  cpp/include/cudf/detail/join/distinct_hash_join.cuh
  cpp/include/cudf/detail/join/hash_join.cuh
  cpp/include/cudf/detail/join/join.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/distinct_hash_join.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18198 Make the version file inside cudf.pandas not a symlink
  ci/release/update-version.sh
  python/cudf/cudf/VERSION
Labels: bug, Python, non-breaking

#18194 Added pylibcudf.contiguous_split to API docs
  docs/cudf/source/pylibcudf/api_docs/contiguous_split.rst
  docs/cudf/source/pylibcudf/api_docs/index.rst
Labels: doc, non-breaking

#18192 Ensure RAPIDS_ARTIFACTS_DIR is set for build metrics reports.
  ci/build_cpp.sh
Labels: bug, 3 - Ready for Review, non-breaking

#18195 fix(rattler): add `cudatoolkit` ignore run export to `cudf`
  conda/recipes/cudf/recipe.yaml
Labels: improvement, non-breaking

#18131 Optimized compilation of CUDFTESTUTIL's interface sources
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: libcudf, CMake, improvement, non-breaking

#18203 Update Numpy <2.1 unpinning xfail condition
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_unaops.py
Labels: Python, improvement, non-breaking

#18184 Fix BPE merges table static-map capacity size
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/byte_pair_encoding.cpp
  cpp/src/text/bpe/load_merge_pairs.cu
Labels: bug, 3 - Ready for Review, libcudf, CMake, strings, non-breaking

#18207 Drop more thrust functions with libcu++ ones
  cpp/src/ast/operators.cpp
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/src/reductions/minmax.cu
Labels: libcudf, improvement, non-breaking

#18169 Add Ruff rule to enforce cudf dtype utils over numpy/pandas dtype utils
  pyproject.toml
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_api_types.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_dlpack.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/dask_cudf/dask_cudf/backends.py
Labels: Python, improvement, non-breaking, cudf.pandas

#17807 Extend and simplify API for calculation of range-based rolling window offsets
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/rolling.hpp
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/detail/range_comparator_utils.cuh
  cpp/src/rolling/detail/range_utils.cuh
  cpp/src/rolling/detail/range_window_bounds.hpp
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/rolling/detail/rolling_utils.cuh
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/range_rolling.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/rolling/range_comparator_test.cu
  cpp/tests/rolling/range_window_type_test.cpp
Labels: libcudf, CMake, improvement, non-breaking

#18213 Bump nightly check limit
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#17921 Enabling `cross` join in `cudf` python
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_sorting.py
  python/cudf/cudf/utils/applyutils.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#18223 Add missing `cudatoolkit` run_export ignore to `pylibcudf`
  conda/recipes/pylibcudf/recipe.yaml
Labels: improvement, non-breaking

#18220 Workaround for ARM compiler issue with single space literal string
  cpp/src/text/bpe/load_merge_pairs.cu
  cpp/src/text/subword/load_hash_file.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#18209 Bump polars version to <1.25
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_join.py
Labels: Python, improvement, non-breaking, cudf.polars

#18230 Ignore `cudatoolkit` run exports by name, not package
  conda/recipes/cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: improvement, non-breaking

#18208 Export RAPIDS_ARTIFACTS_DIR.
  ci/build_cpp.sh
Labels: improvement, non-breaking

#18197 Run conda import tests on Python packages
  ci/build_python.sh
Labels: improvement, non-breaking

#18121 Handle empty dictionary in to_arrow_device interop
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_host.cu
  cpp/src/interop/to_arrow_schema.cpp
  cpp/tests/interop/to_arrow_device_test.cpp
  cpp/tests/interop/to_arrow_host_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#16930 Use xdist worksteal on the `cudf.pandas` test suite
  ci/cudf_pandas_scripts/run_tests.sh
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, improvement, non-breaking, cudf.pandas, ci

#17503 Add basic multi-partition `GroupBy` support to cuDF-Polars
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#18031 Run the narwhals test suite with cudf.pandas
  ci/test_narwhals.sh
Labels: feature request, non-breaking

#18218 Remove unused round_up_pow2 utility
  cpp/include/cudf/detail/utilities/cuda.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18233 Use CCCL::libcudacxx include directories in Jitify preprocessing.
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
Labels: bug, libcudf, CMake, non-breaking

#18222 Support `top-k` expression
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/test_top_and_bottom_k.py
Labels: feature request, Python, non-breaking, cudf.polars

#18234 Explain why we disable parallelism for profiler tests to avoid pytest-cov issue
  ci/cudf_pandas_scripts/run_tests.sh
Labels: improvement, non-breaking

#18241 Fix `datetime64` vs `datetime` binops max resolution
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_datetime.py
Labels: bug, Python, non-breaking

#18249 Skip Narwhals cross join tests for cudf.pandas CI run
  ci/test_narwhals.sh
Labels: bug, non-breaking

#18245 Fix `cudf_kafka` run export for `cudatoolkit`
  conda/recipes/cudf_kafka/recipe.yaml
Labels: improvement, non-breaking

#18244 Fix experimental cudf-polars tests
  ci/run_cudf_polars_pytests.sh
  python/cudf_polars/tests/experimental/test_dataframescan.py
  python/cudf_polars/tests/experimental/test_groupby.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: bug, Python, 4 - Needs Review, non-breaking, cudf.polars, ci

#18246 Fix cudf-polars tests for polars < 1.24
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/expressions/sorting.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/cudf_polars/utils/conversion.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/tests/containers/test_column.py
  python/cudf_polars/tests/expressions/test_top_and_bottom_k.py
  python/cudf_polars/tests/test_join.py
Labels: bug, Python, non-breaking, cudf.polars

#18225 Disable conda prefix patching to avoid mangling binaries
  conda/recipes/libcudf/recipe.yaml
Labels: bug, non-breaking

#18217 Add flake8-print/debugger Ruff rules
  pyproject.toml
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/options.py
  python/cudf/cudf/pandas/scripts/conftest-patch.py
  python/cudf/cudf/pandas/scripts/summarize-test-results.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_no_cuinit.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_query.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/utils/hash_vocab_utils.py
  python/cudf/cudf_pandas_tests/data/disable_cudf_pandas_multi_thread.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_tensorflow.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Labels: Python, improvement, non-breaking, cudf.pandas

#18212 Support `cudf-polars` `is_leap_year`
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: feature request, Python, non-breaking, cudf.polars

#18247 [DOC] Add wordpiece tokenizer to cudf documentation
  docs/cudf/source/user_guide/api_docs/index.rst
  docs/cudf/source/user_guide/api_docs/wordpiece_tokenizer.rst
Labels: 3 - Ready for Review, doc, non-breaking

#18200 Support comparitive binops between catgorical and non categorical
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/tests/test_binops.py
Labels: bug, Python, non-breaking

#18252 Remove RMM macro usage from to_arrow_device.cu
  cpp/src/interop/to_arrow_device.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#18188 Revert "Disable ARM CI in C++ and Python test CI jobs"
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#18221 Remove cudf.Scalar from Column.__setitem__
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_setitem.py
Labels: Python, improvement, non-breaking

#18264 Skip failing polars test test_general_prefiltering
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: bug, Python, non-breaking, cudf.polars

#18137 Add `ConfigOptions` convenience class to cudf-polars
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.polars

#18262 Filter all cudf.pandas profiler tests from running in parallel
  ci/cudf_pandas_scripts/run_tests.sh
Labels: bug, non-breaking

#18254 Fix `Dataframe.loc` to not modify the actual dataframe
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, Python, non-breaking

#18256 Fix `cross` join with extra columns
  ci/test_narwhals.sh
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: bug, Python, non-breaking

#18236 Remove warning in the stream pool when asking for more streams than available
  cpp/src/io/comp/comp.cpp
  cpp/src/io/json/read_json.cu
  cpp/src/utilities/stream_pool.cpp
Labels: libcudf, improvement, non-breaking

#18258 Minor clean up and optimizations in the Parquet writer
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#18227 Revert "Bump nightly check limit"
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#18243 dask-polars: use splat everywhere.
  python/cudf_polars/cudf_polars/experimental/base.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: Python, improvement, non-breaking, cudf.polars

#18211 Support `cudf-polars` `month_start`/`month_end`
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: feature request, Python, non-breaking, cudf.polars

#18168 Combine multiple str.minhash() APIs into one call
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#17968 Implemented Decimal Transforms
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/jit/types.cuh
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/copying/copy_tests.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
Labels: feature request, libcudf, CMake, non-breaking

#18284 Add and revise experimental cudf-polars config options
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_join.py
  python/cudf_polars/tests/experimental/test_shuffle.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#18267 Split Narwhals cudf.pandas tests failures into to fix and to skip
  ci/test_narwhals.sh
Labels: 5 - Ready to Merge, improvement, non-breaking

#18084 Add owning types to hold Arrow data
  cpp/CMakeLists.txt
  cpp/include/cudf/interop.hpp
  cpp/include/cudf_test/nanoarrow_utils.hpp
  cpp/src/interop/arrow_data_structures.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/interop/arrow_data_structures_test.cpp
  cpp/tests/interop/from_arrow_stream_test.cpp
Labels: feature request, libcudf, CMake, non-breaking

#17935 Introduce ZSTD host-side compression and decompression APIs
  cpp/cmake/thirdparty/get_zstd.cmake
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/json/read_json.cu
  cpp/tests/io/comp/comp_test.cpp
  cpp/tests/io/json/json_chunked_reader.cu
  cpp/tests/io/json/json_test.cpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, cuIO, non-breaking

#17620 Add stream parameters in pylibcudf IO APIs
  python/pylibcudf/pylibcudf/io/avro.pxd
  python/pylibcudf/pylibcudf/io/avro.pyi
  python/pylibcudf/pylibcudf/io/avro.pyx
  python/pylibcudf/pylibcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/io/csv.pyi
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/orc.pxd
  python/pylibcudf/pylibcudf/io/orc.pyi
  python/pylibcudf/pylibcudf/io/orc.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyi
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/libcudf/io/avro.pxd
  python/pylibcudf/pylibcudf/libcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
  python/pylibcudf/pylibcudf/libcudf/io/orc.pxd
  python/pylibcudf/pylibcudf/libcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/tests/io/test_avro.py
  python/pylibcudf/pylibcudf/tests/io/test_csv.py
  python/pylibcudf/pylibcudf/tests/io/test_json.py
  python/pylibcudf/pylibcudf/tests/io/test_orc.py
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
  python/pylibcudf/pylibcudf/utils.pxd
  python/pylibcudf/pylibcudf/utils.pyx
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, pylibcudf

#18295 Make a pylibcudf Column from a device array object with `strides=None`
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_device.py
Labels: bug, Python, non-breaking, pylibcudf

#18297 xfail narwhals sqlframe tests
  ci/test_narwhals.sh
  python/cudf/cudf/testing/narwhals_test_plugin.py
Labels: bug, Python, non-breaking

#18186 Define Column.where to be used across DataFrame/Series
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python, improvement, non-breaking

#18107 Add interop support from arrow StringView to libcudf strings column
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/interop/interop_stringview.cpp
  cpp/src/interop/arrow_utilities.cpp
  cpp/src/interop/arrow_utilities.hpp
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/from_arrow_host.hpp
  cpp/src/interop/from_arrow_host_strings.cu
  cpp/tests/interop/from_arrow_host_test.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#18296 [BUG] Disabled JIT for CUDA Runtime < 11.5
  cpp/CMakeLists.txt
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/jit/runtime_support.hpp
  cpp/src/jit/runtime_support.cpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/binaryop/binop-generic-ptx-test.cpp
  cpp/tests/binaryop/binop-null-test.cpp
  cpp/tests/streams/binaryop_test.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
  python/pylibcudf/pylibcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/__init__.pxd
  python/pylibcudf/pylibcudf/__init__.py
  python/pylibcudf/pylibcudf/jit.pxd
  python/pylibcudf/pylibcudf/jit.pyi
  python/pylibcudf/pylibcudf/jit.pyx
  python/pylibcudf/pylibcudf/libcudf/CMakeLists.txt
  python/pylibcudf/pylibcudf/libcudf/jit.pxd
  python/pylibcudf/pylibcudf/libcudf/jit.pyx
  python/pylibcudf/pylibcudf/tests/test_transform.py
Labels: bug, libcudf, Python, CMake, 5 - Ready to Merge, ! - Hotfix, breaking, pylibcudf

#18285 Require type annotations in cudf.polars
  pyproject.toml
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/nodebase.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/cudf_polars/utils/versions.py
Labels: Python, improvement, non-breaking, cudf.polars

#18127 Added NDSH Q09 Benchmark for Transforms
  cpp/benchmarks/ndsh/q09.cpp
Labels: feature request, libcudf, non-breaking

#18224 Fix `cudf.pandas` to be able to work on a cpu-only machine
  conda/recipes/cudf/recipe.yaml
  python/cudf/cudf/pandas/__init__.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas

#18288 Fix `cudf.pandas` objects to not be `Callable`
  ci/test_narwhals.sh
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.pandas

#18259 Allow cudf.Series([pd.NA], dtype=, nan_as_null=False)
  ci/test_narwhals.sh
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#18314 Support constructing pylibcudf Columns and Tables from views into arbitrary objects
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/contiguous_split.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
  python/pylibcudf/pylibcudf/table.pxd
  python/pylibcudf/pylibcudf/table.pyx
Labels: feature request, Python, non-breaking, pylibcudf

#18313 Remove unused `group_range_rolling_window` API
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
Labels: libcudf, improvement, breaking

#18290 Improve the groupby performance for extremely low cardinality
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
Labels: libcudf, Performance, improvement, non-breaking

#18240 Remove cudf.Scalar from binops
  python/cudf/cudf/core/_internals/binaryop.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python, improvement, breaking

#18333 Fix index of right table in unary operators in AST, in Joins
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/tests/join/mixed_join_tests.cu
Labels: bug, libcudf, non-breaking

#18106 Expose the Number of Filtered Parquet Rowgroups (IO Metadata) to pylibcudf
  python/pylibcudf/pylibcudf/io/types.pyi
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/libcudf/io/types.pxd
  python/pylibcudf/pylibcudf/tests/io/test_parquet.py
  python/pylibcudf/pylibcudf/tests/io/test_types.py
Labels: Python, improvement, non-breaking, pylibcudf

#18132 Support new callback API for lazyframe.profile
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/timer.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/dsl/test_to_ast.py
  python/cudf_polars/tests/dsl/test_traversal.py
  python/cudf_polars/tests/expressions/test_sort.py
  python/cudf_polars/tests/test_join.py
  python/cudf_polars/tests/test_profile.py
  python/cudf_polars/tests/test_python_scan.py
  python/cudf_polars/tests/test_scan.py
Labels: Python, improvement, non-breaking, cudf.polars

#18302 Cache column view creation from arrow types
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
  cpp/tests/interop/arrow_data_structures_test.cpp
Labels: libcudf, improvement, non-breaking

#18342 Backport: Fix index of right table in unary operators in AST, in Joins
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/tests/join/mixed_join_tests.cu
Labels: bug, libcudf, non-breaking

#18344 Branch 25.06 merge branch 25.04
  ci/test_narwhals.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/recipe.yaml
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
  cpp/tests/interop/arrow_data_structures_test.cpp
  dependencies.yaml
  docs/cudf/source/cudf_pandas/usage.md
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/timer.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/dsl/test_to_ast.py
  python/cudf_polars/tests/dsl/test_traversal.py
  python/cudf_polars/tests/expressions/test_sort.py
  python/cudf_polars/tests/test_join.py
  python/cudf_polars/tests/test_profile.py
  python/cudf_polars/tests/test_python_scan.py
  python/cudf_polars/tests/test_scan.py
Labels: libcudf, Python, improvement, non-breaking, cudf.polars

#18265 Support `cudf-polars` `isoyear` and `week` (`isoweek`)
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/tests/expressions/test_datetime_basic.py
Labels: feature request, 3 - Ready for Review, Python, non-breaking, cudf.polars

#18312 Add offsetalator to contiguous-split
  cpp/src/copying/contiguous_split.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#18283 Support large strings in nvtext vocabulary-tokenizer
  cpp/src/text/vocabulary_tokenize.cu
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#18334 Deprecate nvtext subword tokenizer
  .pre-commit-config.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/benchmarks/text/subword.cpp
  cpp/include/nvtext/subword_tokenize.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/text/subword_tokenize_test.cpp
  cpp/tests/text/subword_tests.cpp
  dependencies.yaml
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/core/wordpiece_tokenize.py
  python/cudf/cudf/tests/data/subword_tokenizer_data/__init__.py
  python/cudf/cudf/tests/data/subword_tokenizer_data/bert_base_cased_sampled/__init__.py
  python/cudf/cudf/tests/data/subword_tokenizer_data/bert_base_cased_sampled/vocab-hash.txt
  python/cudf/cudf/tests/data/subword_tokenizer_data/test_sentences.txt
  python/cudf/cudf/tests/data/vocab.txt
  python/cudf/cudf/tests/test_hash_vocab.py
  python/cudf/cudf/tests/text/test_subword_tokenizer.py
  python/cudf/pyproject.toml
  python/pylibcudf/pylibcudf/tests/test_nvtext_subword_tokenize.py
Labels: 3 - Ready for Review, libcudf, Python, CMake, improvement, breaking, pylibcudf

#18357 Optimize `sequences` by introducing `make_offsets_child_column`
  cpp/src/lists/sequences.cu
Labels: libcudf, improvement, non-breaking

#18366 Fix zstd build interface include definition
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#18370 Bump librdkafka to 2.8.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
  python/custreamz/pyproject.toml
Labels: Python, improvement, non-breaking

#18094 Create file sources in parallel
  cpp/src/io/functions.cpp
Labels: libcudf, improvement, non-breaking

#18204 Use the mapped buffer for all read operations in the memory-mapped source; switch default source to the kvikIO one
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/utilities/datasource.cpp
  python/cudf/cudf/tests/test_csv.py
Labels: libcudf, Python, Performance, improvement, non-breaking

#18337 test: Install pytest-env and hypothesis in test_narwhals.sh
  ci/test_narwhals.sh
Labels: improvement, non-breaking

#18352 Decompress all data in a single `decompress_page_data` when reading Parquet input in a single chunk
  cpp/src/io/comp/common.hpp
  cpp/src/io/comp/common_internal.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
Labels: libcudf, Performance, improvement, non-breaking

#18374 Add restart kernel note in cudf pandas docs
  docs/cudf/source/cudf_pandas/usage.md
Labels: doc, non-breaking

#18343 Use dask-cuda for cudf-polars experimental testing
  dependencies.yaml
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/conftest.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.polars

#18388 Skip polars tests that fail with pydantic deprecation warnings
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: bug, Python, non-breaking, cudf.polars

#18319 Allow `cudf.DataFrame.from_pylibcudf` to accept a `pylibcudf.io.TableWithMetadata`
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, improvement, non-breaking

#18126 Improve test coverage in the catboost integration tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
Labels: Python, improvement, non-breaking, cudf.pandas

#18382 Update Dask array-conversion handling
  python/dask_cudf/dask_cudf/_expr/collection.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking
