Repository rapidsai/cudf, pull requests merged in 2025-01, with the labels that each got.

#17674 Use rapids-cmake for the logger
  cpp/CMakeLists.txt
  docs/cudf/source/user_guide/api_docs/general_functions.rst
  docs/cudf/source/user_guide/api_docs/io.rst
Labels: libcudf, CMake, improvement, non-breaking

#17642 Fix possible overflow in WriteCoalescingCallbackWrapper::TearDown
  cpp/src/io/fst/agent_dfa.cuh
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#17671 Fix groupby.len with null values in cudf.polars
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/tests/test_groupby.py
Labels: bug, Python, non-breaking, cudf.polars

#17646 Avoid shallow copies in groupby methods
  python/cudf/cudf/core/groupby/groupby.py
Labels: Python, improvement, non-breaking

#17609 Refactor distinct hash join to handle multiple probes with the same build table
  cpp/benchmarks/join/distinct_join.cu
  cpp/include/cudf/detail/distinct_hash_join.cuh
  cpp/include/cudf/join.hpp
  cpp/src/join/distinct_hash_join.cu
  cpp/tests/join/distinct_join_tests.cpp
  java/src/main/native/src/TableJni.cpp
Labels: feature request, 3 - Ready for Review, libcudf, Java, breaking, cuco

#17659 Implement `.dt.total_seconds`
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking

#17668 Cross-link cudf.pandas profiler documentation.
  docs/cudf/source/cudf_pandas/faq.md
  docs/cudf/source/cudf_pandas/usage.md
Labels: doc, 5 - Ready to Merge, non-breaking

#17680 Fix formatting in logging
  cpp/src/io/comp/nvcomp_adapter.cpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/getenv_or.hpp
  cpp/src/utilities/host_memory.cpp
  cpp/src/utilities/stream_pool.cpp
Labels: bug, libcudf, non-breaking

#17598 Enable binaryop build without relying on relaxed constexpr
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/src/binaryop/compiled/binary_ops.cuh
Labels: feature request, 3 - Ready for Review, libcudf, non-breaking

#17683 remove find_package(Python) in libcudf build
  .github/CODEOWNERS
  python/libcudf/CMakeLists.txt
Labels: Python, CMake, improvement, non-breaking

#17685 Fix cudf.polars sum of empty not equalling zero
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/tests/expressions/test_agg.py
Labels: bug, Python, non-breaking, cudf.polars

#17684 Set default logger level to warn
  ci/build_wheel_libcudf.sh
  cpp/CMakeLists.txt
  cpp/tests/utilities_tests/logger_tests.cpp
Labels: feature request, libcudf, CMake, non-breaking

#17636 Move unnecessary utilities from cudf._lib.scalar
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/utils.py
Labels: Python, improvement, non-breaking

#17673 Java Parquet reads via multiple host buffers
  java/src/main/java/ai/rapids/cudf/ParquetChunkedReader.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/include/multi_host_buffer_source.hpp
  java/src/main/native/src/ChunkedReaderJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/multi_host_buffer_source.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: CMake, Java, improvement, non-breaking

#17533 Add XXHash_32 hasher
  cpp/CMakeLists.txt
  cpp/include/cudf/hashing.hpp
  cpp/include/cudf/hashing/detail/hashing.hpp
  cpp/include/cudf/hashing/detail/xxhash_32.cuh
  cpp/src/hash/xxhash_32.cu
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/join/join_common_utils.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/hashing/xxhash_32_test.cpp
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/pylibcudf/pylibcudf/hashing.pxd
  python/pylibcudf/pylibcudf/hashing.pyi
  python/pylibcudf/pylibcudf/hashing.pyx
  python/pylibcudf/pylibcudf/libcudf/hash.pxd
  python/pylibcudf/pylibcudf/tests/test_hashing.py
Labels: 3 - Ready for Review, libcudf, Python, CMake, 4 - Needs Review, improvement, non-breaking, pylibcudf

#17570 Fix the ORC decoding bug for the timestamp data
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.timestamp.desynced.snappy.RLEv2.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.timestamp.desynced.uncompressed.RLEv2.orc
  python/cudf/cudf/tests/test_orc.py
Labels: bug, libcudf, Python, non-breaking

#17558 Remove "legacy" Dask DataFrame support from Dask cuDF
  ci/test_python_other.sh
  ci/test_wheel_dask_cudf.sh
  python/dask_cudf/dask_cudf/__init__.py
  python/dask_cudf/dask_cudf/_expr/collection.py
  python/dask_cudf/dask_cudf/_expr/expr.py
  python/dask_cudf/dask_cudf/_expr/groupby.py
  python/dask_cudf/dask_cudf/_legacy/core.py
  python/dask_cudf/dask_cudf/_legacy/groupby.py
  python/dask_cudf/dask_cudf/_legacy/io/__init__.py
  python/dask_cudf/dask_cudf/_legacy/io/csv.py
  python/dask_cudf/dask_cudf/_legacy/io/json.py
  python/dask_cudf/dask_cudf/_legacy/io/orc.py
  python/dask_cudf/dask_cudf/_legacy/io/parquet.py
  python/dask_cudf/dask_cudf/_legacy/io/text.py
  python/dask_cudf/dask_cudf/_legacy/sorting.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/__init__.py
  python/dask_cudf/dask_cudf/io/csv.py
  python/dask_cudf/dask_cudf/io/json.py
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_s3.py
  python/dask_cudf/dask_cudf/io/tests/test_text.py
  python/dask_cudf/dask_cudf/io/text.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_onehot.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
  python/dask_cudf/dask_cudf/tests/utils.py
  python/dask_cudf/pyproject.toml
Labels: 2 - In Progress, Python, 5 - Ready to Merge, dask, improvement, breaking

#17613 Introduce some simple benchmarks for rolling window aggregations
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/rolling/grouped_rolling_sum.cpp
  cpp/benchmarks/rolling/rolling_sum.cpp
Labels: libcudf, CMake, improvement, non-breaking

#17679 Fix build metrics report format with long placehold filenames
  cpp/scripts/sort_ninja_log.py
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#17637 Remove pragma GCC diagnostic from source files
  cpp/src/join/mixed_join_kernel.cuh
  cpp/src/join/mixed_join_kernels_semi.cu
  cpp/src/join/mixed_join_size_kernel.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#17694 Skip polars test that can generate timezones that chrono_tz doesn't know
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, improvement, non-breaking, cudf.polars

#17657 Control pinned memory use with environment variables
  cpp/src/utilities/host_memory.cpp
Labels: feature request, libcudf, non-breaking

#17675 Define cudf repr methods on the Column
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_repr.py
Labels: bug, Python, non-breaking

#17686 Convert cudf.Scalar usage to pylibcudf and pyarrow usage
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/byte_pair_encoding.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tokenize_vocabulary.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_list.py
Labels: Python, improvement, non-breaking

#17690 Use latest ci-conda images
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#17632 Bump Polars version to <1.18
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cudf-polars/meta.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_join.py
Labels: Python, improvement, non-breaking, cudf.polars

#17628 Use Numba Config to turn on Pynvjitlink Features
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/cudf/utils/_numba.py
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python, improvement, non-breaking

#17699 Fix parquet reader list bug
  cpp/src/io/parquet/decode_fixed.cu
Labels: libcudf, improvement, non-breaking

#17670 Support multithreaded reading of compressed buffers in JSON reader
  cpp/src/io/json/read_json.cu
Labels: feature request, libcudf, cuIO, non-breaking

#17665 Remove cudf._libs.types.pyx
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/column.pxd
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/types.pxd
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/aggregation.py
  python/cudf/cudf/core/_internals/binaryop.py
  python/cudf/cudf/core/_internals/unary.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/copy_types.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, CMake, improvement, non-breaking

#17693 Use 64-bit offsets only if the current strings column output chunk size exceeds threshold
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_chunking.hpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#17691 Make tests build without relaxed constexpr
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/include/cudf/utilities/span.hpp
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/io/utilities/trie.cuh
  cpp/tests/transform/segmented_row_bit_count_test.cu
  cpp/tests/utilities/column_utilities.cu
Labels: feature request, 3 - Ready for Review, libcudf, non-breaking

#17713 Add special orc test data: timestamp interspersed with null values
  python/cudf/cudf/tests/data/orc/TestOrcFile.timestamp.desynced.snappy.RLEv2.hasNull.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.timestamp.desynced.uncompressed.RLEv2.hasNull.orc
  python/cudf/cudf/tests/test_orc.py
Labels: Python, improvement, non-breaking

#17643 Add seed parameter to hash_character_ngrams
  cpp/include/nvtext/detail/generate_ngrams.hpp
  cpp/include/nvtext/generate_ngrams.hpp
  cpp/src/text/generate_ngrams.cu
  cpp/tests/streams/text/ngrams_test.cpp
  cpp/tests/text/ngrams_tests.cpp
Labels: 3 - Ready for Review, libcudf, improvement, breaking

#17645 Implement `HOST_UDF` aggregation for reduction and segmented reduction
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/aggregation/host_udf.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/host_udf_aggregation.cpp
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/segmented/reductions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/host_udf_example_tests.cu
  cpp/tests/groupby/host_udf_tests.cpp
  cpp/tests/reductions/host_udf_example_tests.cu
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/java/ai/rapids/cudf/ReductionAggregation.java
  java/src/main/java/ai/rapids/cudf/SegmentedReductionAggregation.java
Labels: feature request, 3 - Ready for Review, libcudf, CMake, Java, Spark, non-breaking

#17656 Host compression
  cpp/CMakeLists.txt
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/comp.cu
  cpp/src/io/comp/comp.hpp
  cpp/src/io/comp/gpuinflate.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/io/parquet/writer_impl_helpers.cpp
  cpp/src/io/parquet/writer_impl_helpers.hpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_misc_test.cpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, non-breaking

#17234 Precompute AST arity
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/ast/operators.cpp
Labels: libcudf, CMake, improvement, non-breaking

#17727 Require to implement `AutoCloseable` for the classes derived from `HostUDFWrapper`
  java/src/main/java/ai/rapids/cudf/HostUDFWrapper.java
Labels: bug, 3 - Ready for Review, Java, non-breaking

#17677 convert all nulls to nans in a specific scenario
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#17733 Update kvikio call due to upstream changes
  cpp/src/io/utilities/config_utils.cpp
Labels: libcudf, 5 - Ready to Merge, improvement, non-breaking

#17711 Add pylibcudf.null_mask.null_count
  python/cudf/cudf/_lib/column.pxd
  python/cudf/cudf/_lib/column.pyx
  python/pylibcudf/pylibcudf/null_mask.pxd
  python/pylibcudf/pylibcudf/null_mask.pyi
  python/pylibcudf/pylibcudf/null_mask.pyx
Labels: Python, improvement, non-breaking, pylibcudf

#17719 Update minimal sphinx theme version so that we can use parallel doc builds
  ci/build_docs.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#17717 Add more aggregation methods in pylibcudf
  python/pylibcudf/pylibcudf/aggregation.pyx
  python/pylibcudf/pylibcudf/libcudf/aggregation.pxd
Labels: Python, improvement, non-breaking, pylibcudf

#17715 Make cudf._lib.string_udf work with pylibcudf Columns instead of cudf._lib Columns
  python/cudf/cudf/_lib/strings_udf.pyx
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_string_udfs.py
Labels: Python, improvement, non-breaking

#17728 Delay setting MultiIndex.level/codes until needed
  python/cudf/cudf/core/multiindex.py
Labels: Python, improvement, non-breaking

#17435 Expose stream-ordering in copying APIs
  cpp/benchmarks/copying/contiguous_split.cu
  cpp/include/cudf/contiguous_split.hpp
  cpp/src/copying/contiguous_split.cu
  cpp/src/copying/pack.cpp
  cpp/tests/copying/split_tests.cpp
  cpp/tests/streams/copying_test.cpp
  java/src/main/native/src/TableJni.cpp
Labels: libcudf, 5 - Ready to Merge, Java, improvement, non-breaking

#17286 Mukernels strings
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_hdr.cu
  cpp/src/io/parquet/page_string_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
Labels: libcudf, Performance, improvement, non-breaking

#17736 Deprecate dataframe protocol
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_df_protocol.py
Labels: Python, improvement, non-breaking

#17700 Fix writing of compressed ORC files with large stripe footers
  cpp/src/io/orc/writer_impl.cu
  cpp/tests/io/orc_test.cpp
Labels: bug, libcudf, 5 - Ready to Merge, non-breaking

#17705 Adapt cudf numba config for numba 0.61 removal
  python/cudf/cudf/utils/_numba.py
Labels: Python, improvement, non-breaking

#17730 Add public interop functions between pylibcudf and cudf classic
  docs/cudf/source/user_guide/api_docs/dataframe.rst
  docs/cudf/source/user_guide/api_docs/series.rst
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: feature request, Python, non-breaking

#17735 Add parquet reader long row test
  python/cudf/cudf/tests/input_output/test_parquet.py
Labels: tests, Python, improvement, non-breaking

#17704 Support `dask_expr` migration into `dask.dataframe`
  python/dask_cudf/dask_cudf/__init__.py
  python/dask_cudf/dask_cudf/_expr/__init__.py
  python/dask_cudf/dask_cudf/_expr/collection.py
  python/dask_cudf/dask_cudf/_expr/expr.py
  python/dask_cudf/dask_cudf/_expr/groupby.py
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/pyproject.toml
Labels: feature request, Python, 5 - Ready to Merge, non-breaking

#17434 Expose stream-ordering in column view APIs
  cpp/include/cudf/column/column_view.hpp
  cpp/src/column/column_view.cpp
  cpp/src/copying/copy_range.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/streams/column_view_test.cpp
Labels: libcudf, CMake, improvement, non-breaking

#17724 Bounding pool size in multi-batch JSON reader
  cpp/src/io/json/read_json.cu
Labels: libcudf, cuIO, improvement, non-breaking

#17753 Avoid instantiating bloom filter query function for nested and bool types
  cpp/src/io/parquet/bloom_filter_reader.cu
Labels: bug, libcudf, 5 - Ready to Merge, non-breaking

#17721 Use GCC 13 in CUDA 12 conda builds.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/conda_build_config.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/pylibcudf/conda_build_config.yaml
  conda/recipes/pylibcudf/meta.yaml
  cpp/src/io/orc/writer_impl.cu
  dependencies.yaml
Labels: libcudf, improvement, non-breaking

#17589 Deprecate cudf::grouped_time_range_rolling_window
  cpp/include/cudf/rolling.hpp
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/streams/rolling_test.cpp
Labels: libcudf, improvement, breaking

#17777 Add `numba` pinning to `cudf` repo
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: bug, Python, non-breaking

#17758 Use the `aligned_resource_adaptor` to allocate bloom filter device buffers
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: bug, libcudf, 5 - Ready to Merge, non-breaking, cuco

#17776 Allow .sort_values(na_position=) to include NaNs in mode.pandas_compatible
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_sorting.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#17709 Prevent use of invalid grid sizes in ORC reader and writer
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/tests/io/orc_test.cpp
Labels: bug, libcudf, 5 - Ready to Merge, non-breaking

#17774 allow deselecting nvcomp wheels
  dependencies.yaml
  python/libcudf/pyproject.toml
Labels: bug, Python, non-breaking

#17767 Add getInts api for HostMemoryBuffer and UnsafeMemoryAccessor
  java/src/main/java/ai/rapids/cudf/HostMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/UnsafeMemoryAccessor.java
  java/src/test/java/ai/rapids/cudf/HostMemoryBufferTest.java
  java/src/test/java/ai/rapids/cudf/UnsafeMemoryAccessorTest.java
Labels: Java, improvement, non-breaking

#17770 Update how to manage host UDF instance
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/HostUDFWrapper.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/HostUDFWrapperJni.cpp
Labels: CMake, Java, improvement, non-breaking

#17623 Performance improvements and simplifications for fixed size row-based rolling windows
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/detail/lead_lag_nested.cuh
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/rolling/detail/rolling_collect_list.cuh
  cpp/src/rolling/detail/rolling_fixed_window.cu
  cpp/src/rolling/detail/rolling_utils.cuh
  cpp/src/rolling/detail/rolling_variable_window.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/streams/rolling_test.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: libcudf, Java, improvement, breaking

#17788 Make cudf build with latest CCCL
  cpp/src/io/fst/agent_dfa.cuh
  cpp/src/io/fst/in_reg_array.cuh
  cpp/src/io/parquet/page_enc.cu
  cpp/src/strings/case.cu
  cpp/src/strings/replace/multi.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/split/split.cuh
  cpp/src/text/tokenize.cu
  cpp/src/text/vocabulary_tokenize.cu
Labels: libcudf, improvement, non-breaking

#17765 Standarize methods used from `cudf.core._internals`
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/unary.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/testing/testing.py
Labels: Python, improvement, non-breaking

#17791 Reduce libcudf memcheck tests output
  ci/run_cudf_memcheck_ctests.sh
Labels: 3 - Ready for Review, improvement, non-breaking

#17790 Disable intended disabled ORC tests
  cpp/tests/io/orc_test.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17697 Migrated Dynamic AST Expression Trees in Benchmarks and Tests to use AST Tree
  cpp/benchmarks/ast/transform.cpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/tests/ast/transform_tests.cpp
Labels: libcudf, improvement, non-breaking

#17779 Fix `count` API issue about ignoring nan values
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/input_output/test_parquet.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, 3 - Ready for Review, Python, non-breaking

#17782 Fix various `.str` methods for pandas compatability
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: bug, Python, non-breaking

#17701 Remove cudf._lib.scalar in favor of pylibcudf
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_internals/binaryop.py
  python/cudf/cudf/core/_internals/copying.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_struct.py
Labels: Python, CMake, improvement, non-breaking

#17813 Remove incorrect calls to set architectures
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/billion_rows/CMakeLists.txt
  cpp/examples/interop/CMakeLists.txt
  cpp/examples/nested_types/CMakeLists.txt
  cpp/examples/parquet_io/CMakeLists.txt
  cpp/examples/strings/CMakeLists.txt
Labels: libcudf, CMake, 5 - Ready to Merge, improvement, non-breaking

#17784 Fix empty DataFrame construction not returning RangeIndex columns
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/dataframe/test_io_serialization.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, Python, non-breaking

#17804 Make Series(dtype=object) raise in mode.pandas_compat with non string data
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Labels: bug, Python, non-breaking

#17794 Add support for `pyarrow-19`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, pylibcudf

#17811 Resolve race-condition in `disable_module_accelerator`
  python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf_pandas_tests/data/disable_cudf_pandas_multi_thread.py
  python/cudf/cudf_pandas_tests/test_disable_pandas_accelerator.py
  python/cudf/cudf_pandas_tests/test_main.py
  python/cudf/cudf_pandas_tests/test_profiler.py
Labels: bug, 3 - Ready for Review, Python, non-breaking, cudf.pandas

#17746 Make more constexpr available on device for cuIO
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/include/cudf/fixed_point/temporary.hpp
  cpp/include/cudf/io/text/detail/multistate.hpp
  cpp/include/cudf/strings/detail/convert/fixed_point.cuh
  cpp/include/cudf/strings/detail/convert/fixed_point_to_string.cuh
  cpp/include/cudf/strings/detail/convert/int_to_string.cuh
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/json/write_json.cu
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/compact_protocol_reader.cpp
  cpp/src/io/parquet/decode_preprocess.cu
  cpp/src/io/parquet/delta_binary.cuh
  cpp/src/io/parquet/delta_enc.cuh
  cpp/src/io/parquet/page_decode.cuh
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/rle_stream.cuh
  cpp/src/io/text/multibyte_split.cu
  cpp/src/io/utilities/data_casting.cu
  cpp/src/io/utilities/output_builder.cuh
  cpp/src/io/utilities/parsing_utils.cuh
Labels: feature request, libcudf, 4 - Needs Review, cuIO, non-breaking

#17792 increase parallelism in nightly builds
  .github/workflows/build.yaml
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#17819 Fix pre-commit.ci failures
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#17702 Compute and use the initial string offset when building `nested` large string cols with chunked parquet reader
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
  cpp/include/cudf/detail/sizes_to_offsets_iterator.cuh
  cpp/include/cudf/strings/detail/strings_children.cuh
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_delta_decode.cu
  cpp/src/io/parquet/page_string_utils.cuh
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/utilities/column_buffer.hpp
  cpp/src/io/utilities/column_buffer_strings.cu
  cpp/src/lists/sequences.cu
  cpp/src/text/jaccard.cu
  cpp/tests/large_strings/parquet_tests.cpp
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#17771 Bump polars version to 1.20
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cudf-polars/meta.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/test_join.py
  python/cudf_polars/tests/test_union.py
Labels: feature request, Python, non-breaking, cudf.polars

#17755 Implement string join in cudf-polars
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/tests/expressions/test_stringfunction.py
Labels: Python, improvement, non-breaking, cudf.polars

#17820 Apply ruff everywhere (notebooks and scripts)
  .pre-commit-config.yaml
  ci/cudf_pandas_scripts/fetch_pandas_versions.py
  ci/cudf_pandas_scripts/pandas-tests/job-summary.py
  ci/utils/nbtestlog2junitxml.py
  cpp/scripts/sort_ninja_log.py
  docs/cudf/source/_ext/PandasCompat.py
  docs/cudf/source/conf.py
  docs/cudf/source/user_guide/10min.ipynb
  docs/cudf/source/user_guide/cupy-interop.ipynb
  docs/cudf/source/user_guide/guide-to-udfs.ipynb
  docs/cudf/source/user_guide/missing-data.ipynb
  docs/cudf/source/user_guide/performance-comparisons/performance-comparisons.ipynb
  docs/dask_cudf/source/conf.py
  pyproject.toml
  python/cudf/benchmarks/common/utils.py
  python/cudf/benchmarks/conftest.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing_utils.py
  python/cudf/cudf/core/mixins/mixin_factory.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/options.py
  python/cudf/cudf/tests/test_array_ufunc.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_cuda_array_interface.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_unaops.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/hash_vocab_utils.py
  python/cudf/cudf/utils/ioutils.py
  python/cudf/cudf/utils/performance_tracking.py
  python/cudf/cudf/utils/queryutils.py
  python/cudf/cudf_pandas_tests/data/repr_slow_down_test.ipynb
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/pylibcudf/pylibcudf/tests/common/utils.py
Labels: libcudf, Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas, cudf.polars, pylibcudf

#17787 Introduce some more rolling window benchmarks
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/rolling/grouped_range_rolling_sum.cu
  cpp/benchmarks/rolling/grouped_rolling_sum.cpp
  cpp/benchmarks/rolling/range_rolling_sum.cu
  cpp/benchmarks/rolling/rolling_sum.cpp
Labels: libcudf, CMake, improvement, non-breaking

#17822 Fix rolling(min_periods=) with int and null data with mode.pandas_compat
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_rolling.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#17773 Improve parquet reader very-long string performance
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
  cpp/src/io/parquet/page_string_utils.cuh
Labels: libcudf, Performance, improvement, non-breaking

#17708 Enforce schema for partial tables in multi-source multi-batch JSON reader
  cpp/src/io/json/read_json.cu
  cpp/tests/large_strings/json_tests.cu
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#17800 Fix typo in exception raised when attempting to convert a string column to cupy
  python/cudf/cudf/core/column/string.py
Labels: Python, improvement, non-breaking

#17841 Fix possible OOB mem access in Parquet decoder
  cpp/src/io/parquet/decode_fixed.cu
  cpp/src/io/parquet/page_delta_decode.cu
Labels: bug, 5 - Ready to Merge, cuIO, strings, non-breaking

#17846 Update cudf.pandas colab link in docs
  docs/cudf/source/cudf_pandas/index.rst
Labels: doc, non-breaking

#17629 Add public APIs to Access Underlying `cudf` and `pandas` Objects from `cudf.pandas` Proxy Objects
  docs/cudf/source/cudf_pandas/faq.md
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas

#17840 Add `verify-codeowners` hook
  .github/CODEOWNERS
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#17744 Add multi-partition `Shuffle` operation to cuDF Polars
  python/cudf_polars/cudf_polars/experimental/base.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/shuffle.py
  python/cudf_polars/tests/experimental/test_shuffle.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#17778 Add shellcheck to pre-commit and fix warnings
  .pre-commit-config.yaml
  ci/build_docs.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_cudf_polars.sh
  ci/build_wheel_dask_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/check_style.sh
  ci/checks/doxygen.sh
  ci/cpp_linters.sh
  ci/cudf_pandas_scripts/pandas-tests/diff.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  ci/cudf_pandas_scripts/run_tests.sh
  ci/cudf_pandas_scripts/third-party-integration/run-library-tests.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  ci/release/update-version.sh
  ci/run_cudf_examples.sh
  ci/run_cudf_memcheck_ctests.sh
  ci/run_cudf_polars_polars_tests.sh
  ci/test_cpp.sh
  ci/test_cpp_memcheck.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
  ci/utils/nbtest.sh
  ci/validate_wheel.sh
Labels: improvement, non-breaking

#17688 Add multi-source reading to JSON reader benchmarks
  cpp/benchmarks/io/json/json_reader_input.cpp
Labels: libcudf, 5 - Ready to Merge, cuIO, Performance, improvement, non-breaking

#17854 Make `_Series_dtype` method a property
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, non-breaking, cudf.pandas

#17766 Expose stream-ordering in scalar and avro APIs
  cpp/include/cudf/io/avro.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/io/functions.cpp
  cpp/src/scalar/scalar.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/binaryop/assert-binops.h
  cpp/tests/streams/scalar_test.cpp
Labels: libcudf, CMake, improvement, breaking

#17422 Avoid converting Decimal32/Decimal64 in `to_arrow` and `from_arrow` APIs
  conda/recipes/cudf/meta.yaml
  conda/recipes/pylibcudf/meta.yaml
  cpp/cmake/thirdparty/get_arrow.cmake
  cpp/cmake/thirdparty/get_nanoarrow.cmake
  cpp/cmake/thirdparty/patches/nanoarrow_override.json
  cpp/src/interop/arrow_utilities.cpp
  cpp/src/interop/arrow_utilities.hpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_host.cu
  cpp/src/interop/to_arrow_schema.cpp
  cpp/tests/interop/arrow_utils.hpp
  cpp/tests/interop/from_arrow_device_test.cpp
  cpp/tests/interop/from_arrow_host_test.cpp
  cpp/tests/interop/from_arrow_test.cpp
  cpp/tests/interop/nanoarrow_utils.hpp
  cpp/tests/interop/to_arrow_device_test.cpp
  cpp/tests/interop/to_arrow_host_test.cpp
  cpp/tests/interop/to_arrow_test.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_scalar.py
Labels: 3 - Ready for Review, libcudf, Python, CMake, Java, improvement, non-breaking

#17844 Remove cudf.Scalar from interval_range
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/indexes/test_interval.py
Labels: Python, improvement, non-breaking

#17834 Build and test with CUDA 12.8.0
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  CONTRIBUTING.md
  README.md
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/libcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.pandas

#17851 Fix the bug in determining the heuristics for shared memory groupby
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
  cpp/src/groupby/hash/single_pass_functors.cuh
Labels: bug, libcudf, 5 - Ready to Merge, ! - Hotfix, non-breaking

#17852 Remove predicate param from `DataFrameScan` IR
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/tests/dsl/test_traversal.py
Labels: Python, improvement, non-breaking, cudf.polars

#17874 Fix merge conflict for branch-25.02 into branch-25.04
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/pr.yaml
  CONTRIBUTING.md
  README.md
  conda/environments/all_cuda-128_arch-x86_64.yaml
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
  cpp/src/groupby/hash/single_pass_functors.cuh
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/libcudf/pyproject.toml
Labels: libcudf, Python, improvement, non-breaking, cudf.pandas

#17814 Include more information in error messages in the nvcomp adapter
  cpp/src/io/comp/nvcomp_adapter.cpp
Labels: libcudf, improvement, non-breaking

#17875 Move `isinstance_cudf_pandas` to `fast_slow_proxy`
  docs/cudf/source/cudf_pandas/faq.md
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.pandas

#17847 Remove cudf.Scalar from scatter APIs
  python/cudf/cudf/core/_internals/copying.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
Labels: Python, improvement, non-breaking

#17872 Explicitly call out that the GPU open beta runs on a single GPU
  docs/cudf/source/cudf_polars/index.rst
Labels: doc, non-breaking

#17594 Measure the number of Parquet row groups filtered by predicate pushdown
  cpp/include/cudf/io/types.hpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_chunking.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_reader_test.cpp
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#17879 Revert CUDA 12.8 shared workflow branch changes
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#17560 Add support for unary negation operator
  cpp/include/cudf/unary.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/unary/math_ops.cu
  cpp/tests/unary/math_ops_test.cpp
  cpp/tests/unary/unary_ops_test.cpp
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_unaops.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/tests/expressions/test_numeric_unaryops.py
  python/pylibcudf/pylibcudf/libcudf/unary.pxd
  python/pylibcudf/pylibcudf/unary.pyi
Labels: feature request, 3 - Ready for Review, libcudf, Python, non-breaking, cudf.polars, pylibcudf

#17886 Remove extra local var declaration from cudf.pandas 3rd-party integration shell script
  ci/cudf_pandas_scripts/third-party-integration/test.sh
Labels: bug, non-breaking

#17863 Remove cudf.Scalar from .dt timedelta properties
  python/cudf/cudf/core/column/timedelta.py
Labels: Python, improvement, non-breaking

#17877 Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking
