Repository rapidsai/cudf, pull requests merged in 2025-02, with the labels that each got.

#17891 Remove `orc::gpu` namespace
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/orc_field_reader.hpp
  cpp/src/io/orc/orc_field_writer.hpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/reader_impl_chunking.hpp
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/reader_impl_helpers.cpp
  cpp/src/io/orc/reader_impl_helpers.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Labels: libcudf, improvement, non-breaking

#17900 Fix third-party `cudf.pandas` tests
  ci/cudf_pandas_scripts/third-party-integration/run-library-tests.sh
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/conftest.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.pandas

#17890 Fix `numpy` data access by making attribute private
  python/cudf/cudf/pandas/_wrappers/numpy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.pandas

#17887 Update pre-commit-hooks to version 0.6.0
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#17897 Remove cudf.Scalar from factorize
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/scalar.py
Labels: Python, improvement, non-breaking

#17839 Avoid `cudf.dtype` internally in favor of pre-defined, supported types
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_internals/aggregation.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/utils.py
Labels: Python, improvement, non-breaking

#17894 disallow fallback to Make in Python builds
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/libcudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, pylibcudf

#17908 Rename PascalCase functions and types to to snake_case to improve consistency
  cpp/include/cudf/io/orc_metadata.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.hpp
  cpp/src/io/orc/orc_field_reader.hpp
  cpp/src/io/orc/orc_field_writer.hpp
  cpp/src/io/orc/orc_gpu.hpp
  cpp/src/io/orc/reader_impl_chunking.cu
  cpp/src/io/orc/reader_impl_chunking.hpp
  cpp/src/io/orc/reader_impl_decode.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Labels: libcudf, improvement, non-breaking

#17905 Raise NotImplementedError if `.merge(suffixes=)` introduces duplicate labels
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Labels: bug, Python, non-breaking

#17882 Add script to run pylibcudf tests
  ci/run_pylibcudf_pytests.sh
  ci/test_python_common.sh
  ci/test_python_cudf.sh
  python/pylibcudf/.coveragerc
Labels: improvement, non-breaking

#17837 Require batches to be non-empty in multi-batch JSON reader
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json/json_test.cpp
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#17781 Run spark-rapids-jni CI
  .github/workflows/pr.yaml
  .github/workflows/spark-rapids-jni.yaml
Labels: feature request, 3 - Ready for Review, non-breaking

#17734 Replaced std::string with std::string_view and removed excessive copies in cudf::io
  cpp/benchmarks/json/json.cu
  cpp/benchmarks/string/join_strings.cpp
  cpp/benchmarks/string/like.cpp
  cpp/benchmarks/string/replace_re.cpp
  cpp/examples/strings/libcudf_apis.cpp
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/text/detail/trie.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/io/avro/avro.cpp
  cpp/src/io/avro/avro.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/text/multibyte_split.cu
  cpp/src/scalar/scalar.cpp
  cpp/tests/json/json_tests.cpp
  cpp/tests/strings/case_tests.cpp
  cpp/tests/strings/like_tests.cpp
  cpp/tests/text/bpe_tests.cpp
  cpp/tests/text/ngrams_tokenize_tests.cpp
Labels: libcudf, improvement, non-breaking

#17859 Fixed incorrect PTX parsing of `ret` instruction after branch label
  cpp/src/jit/parser.cpp
  cpp/tests/jit/parse_ptx_function.cpp
Labels: bug, libcudf, breaking

#17912 Fix incorrect example in pylibcudf docs
  docs/cudf/source/pylibcudf/index.rst
Labels: doc, non-breaking

#17518 Add multi-partition `Join` support to cuDF-Polars
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#17915 Add missing pin
  conda/recipes/cudf/meta.yaml
  conda/recipes/pylibcudf/meta.yaml
Labels: bug, non-breaking

#17888 Only run Auto Assign PR workflow if PR is not merged
  .github/workflows/auto-assign.yml
Labels: improvement, non-breaking

#17860 Remove cudf.Scalar from date_range/to_datetime
  python/cudf/cudf/core/tools/datetimes.py
Labels: Python, improvement, non-breaking

#17861 Added support for custom types in PTX parser
  cpp/src/binaryop/binaryop.cpp
  cpp/src/jit/parser.cpp
  cpp/src/jit/parser.hpp
  cpp/src/rolling/detail/rolling.cuh
  cpp/src/transform/transform.cpp
  cpp/tests/jit/parse_ptx_function.cpp
Labels: libcudf, 4 - Needs Review, improvement, non-breaking

#17920 Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/build_wheel_libcudf.sh
  ci/configure_cpp_static.sh
  ci/test_cudf_polars_polars_tests.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: improvement, non-breaking

#17895 Fix groupby scans with int and NA data in mode.pandas_compatible
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, Python, non-breaking

#17911 Initialize inout parameter
  cpp/src/io/avro/reader_impl.cu
  cpp/src/quantiles/tdigest/tdigest_aggregation.cu
Labels: libcudf, improvement, non-breaking

#17909 Remove dataframe protocol
  docs/cudf/source/user_guide/api_docs/general_functions.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
  python/cudf/cudf/tests/test_df_protocol.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, 5 - Ready to Merge, improvement, breaking, cudf.pandas

#17925 Add build_type input field for `test.yaml`
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#17928 Add missing standard includes
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/copying/pack.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17878 Patch `__init__` of `cudf` constructors to parse through `cudf.pandas` proxy objects
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.pandas

#17939 Remove deprecated nvtext::minhash_permuted APIs
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, breaking

#17943 Use shared-workflows branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#17954 Fix DataFrame/Series.rank for int and null data in mode.pandas_compatible
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_rank.py
Labels: bug, Python, non-breaking

#17918 More avoid cudf.dtype internally in favor of pre-defined, supported types
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#17936 Enable third party library integration tests in CI with `cudf.pandas`
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_stumpy_distributed.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking, cudf.pandas

#17945 Remove pandas backend from `cudf.pandas` - ibis integration tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: Python, improvement, non-breaking, cudf.pandas

#17956 Raise NotImplementedError for groupby.agg if duplicate columns would be created
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Labels: bug, Python, non-breaking

#17975 Pin `ibis` version in the cudf.pandas integration tests <10.0.0
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: bug, Python, non-breaking, cudf.pandas

#17942 Get rid of the deprecated `thrust::identity`
  cpp/benchmarks/common/generate_input.cu
  cpp/benchmarks/join/join_common.hpp
  cpp/include/cudf/detail/utilities/cast_functor.cuh
  cpp/include/cudf/reduction/detail/reduction_operators.cuh
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/src/groupby/sort/group_scan_util.cuh
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/io/json/json_normalization.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/join_utils.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/interleave_columns.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/sort/rank.cu
  cpp/src/stream_compaction/unique.cu
  cpp/src/strings/search/contains_multiple.cu
  cpp/tests/iterator/iterator_tests.cuh
  cpp/tests/iterator/value_iterator_test_transform.cu
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/stream_compaction/apply_boolean_mask_tests.cpp
  cpp/tests/transform/row_bit_count_test.cu
  cpp/tests/utilities/column_utilities.cu
Labels: libcudf, improvement, non-breaking

#17899 Use new rapids-logger library
  .github/workflows/pr.yaml
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_fmt.cmake
  cpp/include/cudf/logger.hpp
  cpp/src/utilities/logger.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities_tests/logger_tests.cpp
  dependencies.yaml
  python/libcudf/libcudf/load.py
  python/libcudf/pyproject.toml
Labels: libcudf, Python, CMake, improvement, breaking

#17913 Fix `to_pandas` writable bug for `datetime` and `timedelta` types
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#17971 Fix the index type in the indexing operator of the span types
  cpp/include/cudf/utilities/span.hpp
Labels: bug, libcudf, non-breaking

#17985 Fix race check failures in shared memory groupby
  cpp/src/groupby/hash/compute_aggregations.cuh
  cpp/src/groupby/hash/compute_shared_memory_aggs.cu
  cpp/src/groupby/hash/compute_shared_memory_aggs.hpp
  cpp/src/groupby/hash/shared_memory_aggregator.cuh
Labels: bug, 3 - Ready for Review, libcudf, 4 - Needs Review, ! - Hotfix, non-breaking

#17992 Compatibility with Dask `main`
  python/dask_cudf/dask_cudf/_expr/__init__.py
  python/dask_cudf/dask_cudf/_expr/collection.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#17869 Remove decimal32/64 to decimal128 conversion in Parquet writer
  cpp/CMakeLists.txt
  cpp/src/interop/decimal_conversion_utilities.cu
  cpp/src/interop/decimal_conversion_utilities.cuh
  cpp/src/interop/to_arrow_device.cu
  cpp/src/interop/to_arrow_host.cu
  cpp/src/io/parquet/arrow_schema_writer.cpp
  cpp/src/io/parquet/ipc/Schema_generated.h
  cpp/src/io/parquet/ipc/schema/Schema.fbs
  cpp/src/io/parquet/writer_impl.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: libcudf, CMake, 4 - Needs Review, cuIO, improvement, non-breaking

#17987 Continue on failures in cudf.pandas integration tests CI job
  .github/workflows/pr.yaml
Labels: 5 - Ready to Merge, improvement, non-breaking, ci

#17964 Check null count too in sum aggregation
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/binaryop.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/selection.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/tests/containers/test_column.py
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/utils/test_broadcast.py
Labels: bug, Python, non-breaking, cudf.polars

#17898 Add `pylibcudf.Scalar.from_py` for construction from Python strings, bool, int, float
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, improvement, non-breaking, pylibcudf

#17931 Add catboost integration tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_catboost.py
Labels: feature request, Python, non-breaking, cudf.pandas

#17764 Use KvikIO to enable file's fast host read and host write
  cpp/CMakeLists.txt
  cpp/include/cudf/io/config_utils.hpp
  cpp/include/cudf/io/data_sink.hpp
  cpp/src/io/utilities/config_utils.cpp
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/file_io_test.cpp
  docs/cudf/source/user_guide/io/io.md
Labels: libcudf, CMake, improvement, breaking

#17979 Avoid cudf.dtype calls in build_column/column_empty/.where
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_apply_rows.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/tests/test_testing.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/queryutils.py
Labels: Python, improvement, non-breaking

#17881 Added Multi-input & Scalar Support for Transform UDFs
  cpp/include/cudf/transform.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  python/cudf/cudf/core/column/numerical.py
  python/pylibcudf/pylibcudf/libcudf/transform.pxd
  python/pylibcudf/pylibcudf/tests/test_transform.py
  python/pylibcudf/pylibcudf/transform.pxd
  python/pylibcudf/pylibcudf/transform.pyi
  python/pylibcudf/pylibcudf/transform.pyx
Labels: feature request, libcudf, Python, Java, breaking, pylibcudf

#18002 Fix forward merge 24.12->25.02
  CHANGELOG.md
Labels: doc, non-breaking

#17993 Remove deprecated rolling window functionality
  cpp/include/cudf/rolling.hpp
  cpp/src/rolling/grouped_rolling.cu
Labels: libcudf, improvement, breaking

#17995 Create Conda CI test env in one step
  ci/release/update-version.sh
  ci/test_python_common.sh
  ci/test_python_other.sh
  dependencies.yaml
Labels: improvement, non-breaking

#17990 Add `Column.serialize` to cudf-polars
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/experimental/dask_serialize.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#17991 [Bug] Fix Parquet-metadata sampling in cudf-polars
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/tests/experimental/test_scan.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#17929 Make `cudf.pandas` proxy array picklable
  python/cudf/cudf/pandas/_wrappers/numpy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_holoviews.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_matplotlib.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_numpy.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_seaborn.py
Labels: bug, Python, non-breaking, cudf.pandas

#17946 Refactor predicate pushdown to reuse row group pruning in experimental PQ reader
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/predicate_pushdown.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, non-breaking

#17998 Make most cudf-polars `Node` objects pickleable
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/nodebase.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/experimental/test_parallel.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#17980 Fix pickle and unpickling for all objects
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.pandas

#17866 Expose JSON reader options to builder in pylibcudf
  python/cudf/cudf/utils/ioutils.py
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, pylibcudf

#17996 Move cudf::lists::detail::make_empty_lists_column to public API
  cpp/include/cudf/column/column_factories.hpp
  cpp/src/lists/lists_column_factories.cu
  cpp/src/lists/sequences.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18015 Skip failing polars tests
  ci/test_cudf_polars_polars_tests.sh
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#17955 Ensure disabling the module accelerator is thread-safe
  python/cudf/cudf/pandas/module_accelerator.py
  python/cudf/cudf_pandas_tests/test_disable_per_thread_safety.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.pandas

#17972 Install duckdb the default backend for ibis in the cudf.pandas integration tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: bug, Python, non-breaking, cudf.pandas

#18014 consolidate more conda solves in CI
  ci/build_docs.sh
  ci/release/update-version.sh
  ci/test_cpp_common.sh
  ci/test_java.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  dependencies.yaml
Labels: improvement, non-breaking

#18022 Fix failing ibis test
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_ibis.py
Labels: bug, Python, non-breaking, cudf.pandas

#17994 Add seed parameter to cudf hash_character_ngrams
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/generate_ngrams.pxd
  python/pylibcudf/pylibcudf/nvtext/generate_ngrams.pxd
  python/pylibcudf/pylibcudf/nvtext/generate_ngrams.pyi
  python/pylibcudf/pylibcudf/nvtext/generate_ngrams.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_generate_ngrams.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, pylibcudf

#18025 Fix the build error due to KvikIO update
  cpp/src/io/utilities/data_sink.cpp
  cpp/src/io/utilities/datasource.cpp
Labels: bug, libcudf, non-breaking

#18008 Pass dtype objects to Column.astype
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/subword_tokenizer.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/utils/utils.py
Labels: Python, improvement, non-breaking

#18024 Update spark-rapids-jni CI image version to cuda12.8.0
  .github/workflows/spark-rapids-jni.yaml
Labels: improvement, non-breaking

#17940 Limit buffer size in reallocation policy in JSON reader
  cpp/src/io/json/read_json.cu
  cpp/tests/io/json/json_test.cpp
  cpp/tests/large_strings/json_tests.cu
Labels: bug, libcudf, cuIO, non-breaking

#18013 Replace `cub::Int2Type` with `cuda::std::integral_constant`
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/src/io/fst/agent_dfa.cuh
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#17760 Remove cudf._lib.column in favor of pylibcudf.
  python/cudf/cudf/_lib/CMakeLists.txt
  python/cudf/cudf/_lib/column.pxd
  python/cudf/cudf/_lib/column.pyi
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/binaryop.py
  python/cudf/cudf/core/_internals/copying.py
  python/cudf/cudf/core/_internals/search.py
  python/cudf/cudf/core/_internals/sorting.py
  python/cudf/cudf/core/_internals/stream_compaction.py
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
  python/cudf/cudf/tests/test_string_udfs.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, CMake, improvement, non-breaking

#18010 Remove deprecated single component datetime extract APIs
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  python/pylibcudf/pylibcudf/datetime.pxd
  python/pylibcudf/pylibcudf/datetime.pyi
  python/pylibcudf/pylibcudf/datetime.pyx
  python/pylibcudf/pylibcudf/libcudf/datetime.pxd
  python/pylibcudf/pylibcudf/tests/test_datetime.py
Labels: libcudf, Python, improvement, breaking, pylibcudf

#18006 Refactor math_ops.cu dispatcher logic
  cpp/src/unary/math_ops.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18037 Skip the failing connectorx polars tests
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: bug, Python, non-breaking, cudf.polars

#18041 Forward merge branch-25.02 to branch-25.04
  ci/test_cudf_polars_polars_tests.sh
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: Python, improvement, non-breaking, cudf.polars

#18005 Prevent setting custom attributes to `ColumnMethods`
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_string.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#18049 Expose `num_rows_per_source` (IO metadata) to pylibcudf
  python/pylibcudf/pylibcudf/io/types.pyi
  python/pylibcudf/pylibcudf/io/types.pyx
  python/pylibcudf/pylibcudf/tests/io/test_types.py
Labels: feature request, Python, non-breaking, pylibcudf

#18044 Pass more dtype objects to `astype` calls
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: Python, improvement, non-breaking

#18019 Fix 'Unexpected short subpass' exception in parquet chunked reader.
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: bug, libcudf, cuIO, Spark, non-breaking

#18045 Fix upstream dask `loc` test
  python/dask_cudf/dask_cudf/_expr/__init__.py
  python/dask_cudf/dask_cudf/_expr/expr.py
Labels: bug, Python, 5 - Ready to Merge, dask, non-breaking

#18039 Fix hang on invalid UTF-8 data in string_view iterator
  cpp/include/cudf/strings/string_view.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#18036 Replace deprecated CCCL features
  cpp/src/io/fst/dispatch_dfa.cuh
  cpp/src/io/fst/logical_stack.cuh
  cpp/src/io/parquet/writer_impl_helpers.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#17884 Test narwhals in CI
  .github/workflows/pr.yaml
  ci/test_narwhals.sh
  dependencies.yaml
Labels: feature request, non-breaking

#18042 Update to nvcomp 4.2.0.11
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  dependencies.yaml
  python/libcudf/pyproject.toml
Labels: Python, improvement, non-breaking

#17831 Allow cudf::type_to_id<T const>()
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/tests/types/type_dispatcher_test.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18058 Fix memcopy direction for concatenate
  cpp/src/copying/concatenate.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17824 Host Snappy compression
  cpp/src/io/comp/comp.cpp
  cpp/src/io/utilities/getenv_or.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/comp/comp_test.cpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, non-breaking

#18007 Require CMake 3.30.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/conda_build_config.yaml
  conda/recipes/cudf_kafka/conda_build_config.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  conda/recipes/pylibcudf/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/billion_rows/CMakeLists.txt
  cpp/examples/interop/CMakeLists.txt
  cpp/examples/nested_types/CMakeLists.txt
  cpp/examples/parquet_io/CMakeLists.txt
  cpp/examples/strings/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  dependencies.yaml
  java/ci/Dockerfile.rocky
  java/src/main/native/CMakeLists.txt
  python/cudf/CMakeLists.txt
  python/cudf/pyproject.toml
  python/cudf/udf_cpp/CMakeLists.txt
  python/cudf_kafka/CMakeLists.txt
  python/cudf_kafka/pyproject.toml
  python/libcudf/CMakeLists.txt
  python/libcudf/pyproject.toml
  python/pylibcudf/CMakeLists.txt
  python/pylibcudf/pyproject.toml
Labels: libcudf, Python, CMake, Java, improvement, non-breaking, pylibcudf

#17927 [FEA] Expose `stripe_size_rows` setting for `ORCWriterOptions`
  java/src/main/java/ai/rapids/cudf/ORCWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
Labels: feature request, Java, non-breaking

#18038 Fix `dask_cudf.to_orc` deprecation
  python/dask_cudf/dask_cudf/__init__.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#18073 Use the right version macro `CCCL_MAJOR_VERSION`
  cpp/src/io/fst/dispatch_dfa.cuh
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#18016 Enable pytest-xdist runs for py-polars tests
  ci/run_cudf_polars_polars_tests.sh
Labels: 5 - Ready to Merge, improvement, non-breaking

#18050 Add a slice expression to polars IR
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expr.py
  python/cudf_polars/cudf_polars/dsl/expressions/slicing.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/tests/expressions/test_slice.py
Labels: feature request, Python, non-breaking, cudf.polars

#18080 Support melt(ignore_index=False)
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: Python, improvement, non-breaking

#18081 Remove `FindCUDAToolkit` backport
  cpp/cmake/Modules/FindCUDAToolkit.cmake
Labels: libcudf, CMake, improvement, non-breaking

#17957 Read the footers in parallel when reading multiple Parquet files
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/utilities/host_worker_pool.hpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/utilities/host_worker_pool.cpp
Labels: libcudf, CMake, 5 - Ready to Merge, Performance, improvement, non-breaking

#18017 Support IntervalDtype(subtype=None)
  docs/cudf/source/conf.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_interval.py
Labels: Python, improvement, non-breaking

#18092 Use conda-build instead of conda-mambabuild
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking

#18078 Update numba dep and upper-bound numpy
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/meta.yaml
  conda/recipes/pylibcudf/meta.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#18091 Remove static configure step
  .github/workflows/pr.yaml
  ci/configure_cpp_static.sh
Labels: improvement, non-breaking

#18093 Run narwhals tests nightly.
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#17818 Add new nvtext::normalize_characters API
  cpp/benchmarks/text/normalize.cpp
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/include/nvtext/normalize.hpp
  cpp/src/strings/utilities.cu
  cpp/src/text/normalize.cu
  cpp/src/text/normalize.cuh
  cpp/src/text/subword/data_normalizer.cu
  cpp/tests/text/normalize_tests.cpp
  python/cudf/cudf/core/character_normalizer.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/normalize.pxd
  python/pylibcudf/pylibcudf/nvtext/normalize.pxd
  python/pylibcudf/pylibcudf/nvtext/normalize.pyi
  python/pylibcudf/pylibcudf/nvtext/normalize.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_normalize.py
Labels: 3 - Ready for Review, libcudf, Python, strings, improvement, non-breaking, pylibcudf

#18096 Remove unused var
  python/cudf/CMakeLists.txt
  python/cudf_kafka/CMakeLists.txt
  python/pylibcudf/CMakeLists.txt
Labels: Python, CMake, improvement, non-breaking, pylibcudf

#18095 Fix scatter_by_map with spilling enabled
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_spilling.py
Labels: bug, Python, non-breaking

#18064 Fix `test_scan_csv_multi` cudf-polars test
  python/cudf_polars/tests/test_scan.py
Labels: bug, 2 - In Progress, Python, non-breaking, cudf.polars

#17554 Relax inconsistent schema handling in `dask_cudf.read_parquet`
  python/dask_cudf/dask_cudf/_legacy/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Labels: bug, Python, 5 - Ready to Merge, dask, non-breaking

#18070 Enforce deprecation of dtype parameter in sum/product
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/tests/test_reductions.py
Labels: Python, improvement, breaking

#18099 Remove static column vectors from window function tests.
  cpp/tests/rolling/offset_row_window_test.cpp
Labels: bug, tests, libcudf, non-breaking

#18086 Align StringColumn constructor with ColumnBase base class
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Labels: Python, improvement, non-breaking

#18115 Allow pivot_table to accept single label index and column arguments
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Labels: bug, Python, non-breaking

#18111 Simplify DecimalDtype and DecimalColumn operations
  docs/cudf/source/conf.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/scalar.py
Labels: Python, improvement, non-breaking

#18072 Add `as_proxy_object` API to `cudf.pandas`
  python/cudf/cudf/pandas/__init__.py
  python/cudf/cudf/pandas/fast_slow_proxy.py
  python/cudf/cudf_pandas_tests/test_cudf_pandas.py
Labels: Python, improvement, non-breaking, cudf.pandas

#18066 Make Column.view/can_cast_safely accept a dtype object
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/utils/utils.py
Labels: Python, improvement, non-breaking

#18076 Bump polars version to <1.24
  ci/test_cudf_polars_polars_tests.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf-polars/meta.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/dtypes.py
  python/cudf_polars/pyproject.toml
Labels: feature request, Python, non-breaking, cudf.polars

#18112 [HOTFIX] v25.02.01
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/libcudf/conda_build_config.yaml
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/tests/io/parquet_chunked_reader_test.cu
  dependencies.yaml
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/libcudf/pyproject.toml
Labels: libcudf, Python, cudf.polars

#18117 Make pylibcudf traits raise exceptions gracefully rather than terminating in C++
  python/pylibcudf/pylibcudf/libcudf/utilities/traits.pxd
Labels: feature request, Python, non-breaking, pylibcudf

#18123 Remove now non-existent job
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#18124 Use cpu16 for build CI jobs
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#18102 Add include for `<functional>`
  cpp/benchmarks/common/random_distribution_factory.cuh
  cpp/src/column/column_device_view.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/host_tree_algorithms.cu
  cpp/src/io/json/read_json.cu
  cpp/src/io/orc/aggregate_orc_metadata.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/lists/dremel.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/replace/multi_re.cu
  cpp/src/table/row_operators.cu
  cpp/src/text/bpe/load_merge_pairs.cu
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/io/metadata_utilities.cpp
  cpp/tests/io/parquet_writer_test.cpp
  cpp/tests/reductions/scan_tests.cpp
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#17944 Add new nvtext tokenized minhash API
  cpp/include/nvtext/minhash.hpp
  cpp/src/text/minhash.cu
  cpp/tests/text/minhash_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/minhash.pxd
  python/pylibcudf/pylibcudf/nvtext/minhash.pxd
  python/pylibcudf/pylibcudf/nvtext/minhash.pyi
  python/pylibcudf/pylibcudf/nvtext/minhash.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_minhash.py
Labels: 3 - Ready for Review, libcudf, Python, strings, improvement, non-breaking, pylibcudf

#18097 Add a list of expected failures to narwhals tests
  ci/test_narwhals.sh
  docs/cudf/source/conf.py
  python/cudf/cudf/testing/__init__.py
  python/cudf/cudf/testing/narwhals_test_plugin.py
Labels: Python, improvement, non-breaking

#18053 Minor improvements in arrow interop
  cpp/include/cudf/interop.hpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
  cpp/src/interop/from_arrow_stream.cu
Labels: libcudf, improvement, non-breaking
