Repository rapidsai/cudf, pull requests merged in 2025-05, with the labels that each got.

#18604 Export cudf compiler flags and definitions
  cpp/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
Labels: feature request, 3 - Ready for Review, libcudf, CMake, Java, Spark, non-breaking

#18226 Reduce register pressure for compute_column_kernel
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/transform/compute_column.cu
  cpp/src/transform/compute_column_kernel.cuh
  cpp/src/transform/compute_column_kernel.hpp
  cpp/src/transform/compute_column_kernel_complex.cu
  cpp/src/transform/compute_column_kernel_null_complex.cu
  cpp/src/transform/compute_column_kernel_null_primitive.cu
  cpp/src/transform/compute_column_kernel_primitive.cu
Labels: libcudf, CMake, Performance, improvement, non-breaking

#18617 Pin to cython<3.1
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: bug, Python, non-breaking, pylibcudf

#18607 Update cudf::cast internal function to use sizeof instead of cudf::size_of
  cpp/src/unary/cast_ops.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18622 Fix merge branch-25.06 into branch-25.08
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
  cpp/src/unary/cast_ops.cu
  dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_kafka/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: libcudf, Python, CMake, Java, improvement, non-breaking, cudf.pandas, cudf.polars, pylibcudf

#18612 xfail all known errors in pandas-test suite
  python/cudf/cudf/pandas/scripts/conftest-patch.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas

#18606 Add streaming support for ``group_by -> n_unique`` to cudf-polars
  python/cudf_polars/cudf_polars/experimental/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#18596 Switch `tensorflow` integration tests to use 12.x
  ci/cudf_pandas_scripts/third-party-integration/test.sh
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas

#18576 Add `Distinct` support to the cudf-polars streaming executor
  python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/tests/experimental/test_unique.py
Labels: feature request, 3 - Ready for Review, Python, non-breaking, cudf.polars

#18593 refactor: use `libnvcomp` from `libkvikio` wheel to unblock Python 3.13 upgrade
  ci/build_wheel_libcudf.sh
  dependencies.yaml
  python/libcudf/CMakeLists.txt
  python/libcudf/pyproject.toml
Labels: Python, CMake, improvement, non-breaking

#18647 Forward-merge branch-25.06 into branch-25.08
  ci/build_wheel_libcudf.sh
  dependencies.yaml
  python/libcudf/CMakeLists.txt
  python/libcudf/pyproject.toml
Labels: Python, CMake, improvement, non-breaking

#18506 Replace `GPU_ARCHS` build variable by `CMAKE_CUDA_ARCHITECTURES`
  .github/workflows/spark-rapids-jni.yaml
  build.sh
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, Java, Spark, improvement, non-breaking, ci

#18318 Sort-based inner join for high-multiplicity tables
  cpp/CMakeLists.txt
  cpp/include/cudf/join/sort_merge_join.hpp
  cpp/src/join/sort_merge_join.cu
  cpp/tests/join/join_tests.cpp
  cpp/tests/streams/join_test.cpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, non-breaking

#18526 Deduplicate parquet physical type enums
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/tests/io/parquet_reader_test.cpp
Labels: libcudf, 5 - Ready to Merge, cuIO, improvement, breaking

#18522 Improve nvtext::tokenize_with_vocabulary performance
  cpp/src/text/vocabulary_tokenize.cu
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#18621 Add gtest error check for nvtext::wordpiece_tokenize
  cpp/include/nvtext/wordpiece_tokenize.hpp
  cpp/src/text/wordpiece_tokenize.cu
  cpp/tests/text/subword_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#18628 Replace unnecessary cudf::size_of() calls with sizeof()
  cpp/src/reshape/byte_cast.cu
  cpp/src/unary/cast_ops.cu
  cpp/tests/column/column_test.cpp
  cpp/tests/copying/concatenate_tests.cpp
  cpp/tests/streams/column_view_test.cpp
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18660 Fix compile warnings in Java JNI
  java/src/main/native/src/ColumnViewJni.cu
Labels: 3 - Ready for Review, Java, Spark, improvement, non-breaking

#18662 Disable `arm64` python tests
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#18602 pylibcudf.Column: add `device_buffer_size` and register a dask.sizeof function for cudf-polars Column and DataFrame
  docs/cudf/source/conf.py
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
  python/cudf_polars/tests/experimental/test_dask_sizeof.py
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pxd
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#18649 Add missing header to host_memory.cpp
  cpp/src/utilities/host_memory.cpp
Labels: bug, libcudf, 5 - Ready to Merge, non-breaking

#18543 Implement row group pruning with stats in experimental PQ reader
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_experimental_reader_test.cpp
Labels: feature request, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#18461 Enable rapidsmpf spilling in cudf-polars
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/spilling.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/experimental/test_rapidsmpf.py
  python/cudf_polars/tests/test_config.py
Labels: Python, improvement, non-breaking, cudf.polars

#18655 Fix optional operator* called on a disengaged value in clamp.cu
  cpp/src/replace/clamp.cu
Labels: bug, 3 - Ready for Review, libcudf, non-breaking

#18666 Skip test_large_unique_categories_repr in CI
  python/cudf/cudf/tests/test_repr.py
Labels: Python, improvement, non-breaking

#18562 Add support for large list host Arrow data conversion
  cpp/src/interop/arrow_utilities.cpp
  cpp/src/interop/from_arrow_device.cu
  cpp/src/interop/from_arrow_host.cu
  python/cudf_polars/cudf_polars/containers/dataframe.py
Labels: feature request, libcudf, Python, non-breaking, cudf.polars

#18658 Drop ``Empty`` nodes from IR graph
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.polars

#18614 Polars dataframe serialize using chunked pack
  python/cudf_polars/cudf_polars/experimental/dask_registers.py
  python/cudf_polars/tests/experimental/test_dask_serialize.py
Labels: Python, improvement, non-breaking, cudf.polars

#18629 Access private objects by importing from module instead of `cudf.core/util` namespace
  docs/cudf/source/conf.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
  python/cudf/cudf/utils/dtypes.py
Labels: Python, improvement, non-breaking

#18631 Deprecate Series.nullmask, Series.nullable, Series.from_categorical, Series.from_masked_array, cudf.isclose
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_search.py
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_sparse_df.py
Labels: Python, improvement, non-breaking

#18661 Pin numba-cuda>=0.9.0,!=0.10.0 due to CI hangs on ARM
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python, improvement, non-breaking

#18648 Add support for Python 3.13
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
  dependencies.yaml
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.pandas, cudf.polars, pylibcudf

#18657 Revert "Set flag to always use unsafe atomic storage"
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: bug, 3 - Ready for Review, libcudf, CMake, non-breaking

#18671 Add missing header
  cpp/benchmarks/io/cuio_common.cpp
Labels: bug, libcudf, non-breaking

#18642 Cleanup libcudf detail/aggregation.hpp/.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/src/aggregation/aggregation.cu
  cpp/src/groupby/hash/create_sparse_results_table.cu
  cpp/src/groupby/hash/hash_compound_agg_finalizer.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18693 Fix merge conflict for auto-merger 25.06 to 25.08
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/cuio_common.cpp
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/table/table.hpp
  cpp/src/aggregation/aggregation.cu
  cpp/src/column/column.cu
  cpp/src/groupby/hash/create_sparse_results_table.cu
  cpp/src/groupby/hash/hash_compound_agg_finalizer.cu
  cpp/src/table/table.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/table/table_tests.cpp
  dependencies.yaml
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/cudf/pyproject.toml
  python/cudf_polars/pyproject.toml
  python/custreamz/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pyproject.toml
Labels: 3 - Ready for Review, libcudf, Python, CMake, improvement, non-breaking, cudf.pandas, cudf.polars, pylibcudf

#18691 Exclude librmm.so from auditwheel
  ci/build_wheel_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
Labels: improvement, non-breaking

#18450 Add a public API for copying a table_view to device array
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/reshape/table_to_array.cpp
  cpp/include/cudf/detail/reshape.hpp
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/table_to_array.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/reshape/table_to_array_tests.cpp
Labels: feature request, libcudf, CMake, non-breaking

#18581 Bump polars version to <1.29
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/expressions/test_booleanfunction.py
  python/cudf_polars/tests/test_parquet_filters.py
  python/cudf_polars/tests/test_profile.py
  python/cudf_polars/tests/test_python_scan.py
  python/cudf_polars/tests/test_scan.py
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#18698 Forward-merge branch-25.06 to branch-25.08
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf_polars/cudf_polars/callback.py
  python/cudf_polars/cudf_polars/containers/dataframe.py
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/utils/versions.py
  python/cudf_polars/pyproject.toml
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/expressions/test_booleanfunction.py
  python/cudf_polars/tests/test_parquet_filters.py
  python/cudf_polars/tests/test_profile.py
  python/cudf_polars/tests/test_python_scan.py
  python/cudf_polars/tests/test_scan.py
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#18605 Move cudf/utils/utils.py methods to appropriate locations
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/buffer/buffer.py
  python/cudf/cudf/core/buffer/spill_manager.py
  python/cudf/cudf/core/buffer/spillable_buffer.py
  python/cudf/cudf/core/buffer/string.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/mixins/__init__.py
  python/cudf/cudf/core/mixins/getitem.py
  python/cudf/cudf/core/mixins/notiterable.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/utils/applyutils.py
  python/cudf/cudf/utils/utils.py
Labels: Python, improvement, non-breaking

#18600 Annotate and simplify `from_arrow`
  docs/cudf/source/conf.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python, improvement, non-breaking

#18597 Prune methods from Frame that are specific to subclasses
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/single_column_frame.py
Labels: Python, improvement, non-breaking

#18611 Add `TemporalBaseColumn` as a parent class to `DatetimeColumn` and `TimedeltaColumn`
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/temporal_base.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
  python/cudf/cudf/utils/temporal.py
  python/cudf/cudf/utils/utils.py
Labels: Python, improvement, non-breaking

#18572 Support datetime.datetime objects in pylibcudf.Scalar.from_py
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar.pxd
  python/pylibcudf/pylibcudf/libcudf/scalar/scalar_factories.pxd
  python/pylibcudf/pylibcudf/libcudf/wrappers/timestamps.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, improvement, non-breaking, pylibcudf

#18585 Add nvtext substring duplication APIs (Part 1)
  cpp/CMakeLists.txt
  cpp/include/doxygen_groups.h
  cpp/include/nvtext/deduplicate.hpp
  cpp/src/text/deduplicate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/text/deduplicate_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/deduplicate.pxd
  python/pylibcudf/pylibcudf/nvtext/CMakeLists.txt
  python/pylibcudf/pylibcudf/nvtext/__init__.pxd
  python/pylibcudf/pylibcudf/nvtext/__init__.py
  python/pylibcudf/pylibcudf/nvtext/deduplicate.pxd
  python/pylibcudf/pylibcudf/nvtext/deduplicate.pyi
  python/pylibcudf/pylibcudf/nvtext/deduplicate.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_deduplicate.py
Labels: 3 - Ready for Review, libcudf, Python, CMake, improvement, non-breaking, pylibcudf

#18651 Make cuda12 as JNI default
  java/README.md
  java/ci/Dockerfile.rocky
  java/ci/README.md
Labels: Java, improvement, non-breaking

#18692 ci: run unit-tests-cudf-pandas on `branch-25.06` workflow
  .github/workflows/pr.yaml
  python/cudf/cudf/utils/gpu_utils.py
Labels: Python, improvement, non-breaking

#18711 Switch from printing to logging
  cpp/src/column/column_view.cpp
Labels: libcudf, improvement, non-breaking

#18641 Skip all known pytest failures in pandas-tests
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, improvement, non-breaking, cudf.pandas

#18690 Add C++ tests for different compression implementations
  cpp/src/io/parquet/page_enc.cu
  cpp/tests/io/compression_common.hpp
  cpp/tests/io/orc_chunked_reader_test.cu
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_chunked_reader_test.cu
  cpp/tests/io/parquet_misc_test.cpp
  cpp/tests/io/parquet_reader_test.cpp
  cpp/tests/io/parquet_writer_test.cpp
Labels: tests, libcudf, 5 - Ready to Merge, improvement, non-breaking

#18634 Support quantile in cudf-polars grouped aggregations
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/tests/expressions/test_agg.py
  python/cudf_polars/tests/test_groupby.py
Labels: Python, improvement, non-breaking, cudf.polars

#18715 Move `test_large_unique_categories_repr` to benchmarks
  python/cudf/benchmarks/API/bench_index.py
  python/cudf/cudf/tests/test_repr.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#18717 Run unit-tests-cudf-pandas on branch-25.06 for nightly tests
  .github/workflows/test.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#18669 Replace ``parquet_blocksize`` with ``target_partition_size``
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/cudf_polars/cudf_polars/experimental/parallel.py
  python/cudf_polars/cudf_polars/experimental/spilling.py
  python/cudf_polars/cudf_polars/utils/config.py
  python/cudf_polars/tests/experimental/test_scan.py
  python/cudf_polars/tests/test_config.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.polars

#18720 Revise `DaskIntegration` protocol to align with `rapidsmpf`
  python/cudf_polars/cudf_polars/experimental/shuffle.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#18723 Support `ConditianalJoin` via broadcasting in cudf-polars streaming engine
  python/cudf_polars/cudf_polars/experimental/join.py
  python/cudf_polars/tests/experimental/test_join.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#18277 Handle empty aggregations in multi-partition cudf.polars group_by
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/tests/experimental/test_groupby.py
Labels: bug, Python, non-breaking, cudf.polars

#18718 Add more `cudf.Series` microbenchmarks
  python/cudf/benchmarks/API/bench_series.py
Labels: Python, improvement, non-breaking

#18425 Support creating a pylibcudf Column from a host array
  python/pylibcudf/pylibcudf/column.pxd
  python/pylibcudf/pylibcudf/column.pyi
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: feature request, Python, non-breaking, pylibcudf

#18725 Improve lowering of ``Distinct`` IR nodes for high-cardinality data
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/distinct.py
  python/cudf_polars/cudf_polars/experimental/expressions.py
  python/cudf_polars/cudf_polars/experimental/utils.py
  python/cudf_polars/tests/experimental/test_unique.py
  python/cudf_polars/tests/experimental/test_utils.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.polars

#18730 Link to `nvtx3::nvtx3-cpp` instead of `nvToolsExt`
  cpp/examples/billion_rows/CMakeLists.txt
  cpp/examples/parquet_io/CMakeLists.txt
  cpp/examples/strings/CMakeLists.txt
Labels: bug, libcudf, CMake, non-breaking

#18708 Extend `explain_query` to support printing the logical plan (pre lowered plan)
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/explain.py
  python/cudf_polars/cudf_polars/testing/io.py
  python/cudf_polars/tests/experimental/test_explain.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, cudf.polars

#18744 Support creating a pylibcudf Column from a general ndarray
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/common/utils.py
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: Python, improvement, non-breaking, pylibcudf

#18688 Require at least numba-cuda `0.10.1`
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: Python, improvement, non-breaking

#18579 Expose column chunk metadata in `read_parquet_metadata()`
  cpp/include/cudf/io/parquet_metadata.hpp
  cpp/src/io/parquet/reader_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
  cpp/tests/io/parquet_reader_test.cpp
  python/cudf/cudf/utils/ioutils.py
  python/cudf_polars/cudf_polars/experimental/io.py
  python/pylibcudf/pylibcudf/io/parquet_metadata.pxd
  python/pylibcudf/pylibcudf/io/parquet_metadata.pyi
  python/pylibcudf/pylibcudf/io/parquet_metadata.pyx
  python/pylibcudf/pylibcudf/libcudf/io/parquet_metadata.pxd
Labels: feature request, libcudf, Python, 5 - Ready to Merge, cuIO, breaking, cudf.polars, pylibcudf

#18714 Fix `skip_compression` option in the Parquet writer with host compression
  cpp/src/io/comp/comp.cpp
  cpp/src/io/comp/snap.cu
  cpp/tests/io/parquet_writer_test.cpp
Labels: bug, libcudf, non-breaking

#18724 Simplify Numba-CUDA MVC logic
  python/cudf/cudf/tests/test_mvc.py
  python/cudf/cudf/utils/_numba.py
  python/cudf/cudf/utils/_ptxcompiler.py
Labels: Python, improvement, non-breaking

#18551 Implement `BITWISE_AGG` aggregations (bitwise `AND`, `OR` and `XOR`) for sort-based groupby and reduction
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/reduction/detail/reduction_functions.hpp
  cpp/include/cudf/reduction/detail/reduction_operators.cuh
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_bitwise.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/reductions/bitwise.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/reductions/simple.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/bitwise_tests.cpp
  cpp/tests/reductions/bitwise_tests.cpp
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/java/ai/rapids/cudf/ReductionAggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Labels: feature request, 3 - Ready for Review, libcudf, CMake, Java, Spark, non-breaking

#18734 Fix overflow case and clean up some logic
  python/pylibcudf/pylibcudf/column.pyx
Labels: bug, Python, non-breaking, pylibcudf

#18766 Remove pytest-rerunfailures
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
Labels: Python, improvement, non-breaking

#18686 Add `nvidia-cuda-{nvrtc, nvcc}` as a dependency for cuDF wheels
  dependencies.yaml
Labels: improvement, non-breaking

#18771 Remove unecessary _Ravelled class
  python/pylibcudf/pylibcudf/column.pyx
Labels: Python, improvement, non-breaking, pylibcudf

#18712 Allow `pylibcudf.Column` to consume objects exposing `__arrow_c_stream__`
  cpp/include/cudf/interop.hpp
  cpp/src/interop/arrow_data_structures.cpp
  cpp/src/interop/from_arrow_stream.cu
  python/pylibcudf/pylibcudf/_interop_helpers.pyx
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/libcudf/interop.pxd
  python/pylibcudf/pylibcudf/table.pyx
  python/pylibcudf/pylibcudf/tests/test_interop.py
Labels: libcudf, Python, improvement, non-breaking, pylibcudf

#18763 Fix noexcept annotations on strings_column_view
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/src/strings/strings_column_view.cpp
Labels: bug, libcudf, non-breaking

#18758 Fix integer overflows in pylibcudf `from_column_view_of_arbitrary`
  cpp/include/cudf/strings/strings_column_view.hpp
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/gpumemoryview.pyx
  python/pylibcudf/pylibcudf/libcudf/strings/strings_column_view.pxd
  python/pylibcudf/pylibcudf/libcudf/types.pxd
  python/pylibcudf/pylibcudf/types.pxd
  python/pylibcudf/pylibcudf/types.pyx
Labels: bug, libcudf, Python, non-breaking, pylibcudf

#18780 Ensure scalar dtype is always set in from_py
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: bug, Python, non-breaking, pylibcudf

#18774 Fix reading of Snappy compressed Avro files
  cpp/src/io/avro/reader_impl.cu
Labels: bug, libcudf, non-breaking

#18710 Add Python tests for different compression implementations
  python/cudf/cudf/tests/conftest.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: tests, Python, improvement, non-breaking

#18682 Reuse `libcudf` dependencies for Java JNI build when they are available
  build.sh
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Labels: feature request, 3 - Ready for Review, CMake, Java, Spark, non-breaking

#18787 Skip test that fails due to polars issue
  python/cudf_polars/cudf_polars/testing/plugin.py
Labels: bug, Python, non-breaking, cudf.polars

#18784 Quote head_rev in conda recipes
  conda/recipes/cudf-polars/recipe.yaml
  conda/recipes/cudf/recipe.yaml
  conda/recipes/cudf_kafka/recipe.yaml
  conda/recipes/custreamz/recipe.yaml
  conda/recipes/dask-cudf/recipe.yaml
  conda/recipes/libcudf/recipe.yaml
  conda/recipes/pylibcudf/recipe.yaml
Labels: improvement, non-breaking

#18765 Fix missing semicolon in label_bins.cu
  cpp/src/labeling/label_bins.cu
Labels: bug, libcudf, non-breaking

#18589 Implement `BIT_COUNT` unary operation
  cpp/include/cudf/unary.hpp
  cpp/src/unary/math_ops.cu
  cpp/tests/unary/math_ops_test.cpp
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/UnaryOp.java
  python/pylibcudf/pylibcudf/libcudf/unary.pxd
  python/pylibcudf/pylibcudf/unary.pyi
Labels: feature request, 3 - Ready for Review, libcudf, Python, Java, Spark, breaking, pylibcudf

#18770 Require `numba-cuda>=0.11.0`
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  dependencies.yaml
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
Labels: feature request, numba, Python, non-breaking

#18802 Avoid going OOM in `test_row_limit_exceed_raises` by using dummy array
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: bug, Python, non-breaking, pylibcudf

#17726 Refactor distinct join to use primitive row operators when proper
  cpp/include/cudf/detail/join/distinct_hash_join.cuh
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/primitive_row_operators.cuh
  cpp/src/join/distinct_hash_join.cu
Labels: 3 - Ready for Review, libcudf, Performance, improvement, non-breaking

#18793 Improve pandas version fetching script
  .github/workflows/pr.yaml
  ci/cudf_pandas_scripts/fetch_pandas_versions.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking

#18663 Locally import pyarrow.dataset and fsspec for `import cudf` performance
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/utils/ioutils.py
Labels: Python, improvement, non-breaking, cudf.pandas

#18800 Fix host decompression of empty Snappy data
  cpp/src/io/comp/uncomp.cpp
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, libcudf, Python, 5 - Ready to Merge, non-breaking

#18817 Forward-merge branch-25.06 to branch-25.08
  ci/cudf_pandas_scripts/fetch_pandas_versions.py
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cudf/recipe.yaml
  cpp/include/cudf/detail/join/distinct_hash_join.cuh
  cpp/include/cudf/table/experimental/row_operators.cuh
  cpp/include/cudf/table/primitive_row_operators.cuh
  cpp/src/io/comp/uncomp.cpp
  cpp/src/join/distinct_hash_join.cu
  dependencies.yaml
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf/cudf/utils/ioutils.py
  python/cudf/pyproject.toml
  python/dask_cudf/pyproject.toml
  python/pylibcudf/pylibcudf/tests/test_column_from_array.py
Labels: libcudf, Python, improvement, non-breaking, cudf.pandas, pylibcudf

#18755 CUDA 12.9 use updated compression flags
  cpp/cmake/Modules/ConfigureCUDA.cmake
Labels: libcudf, CMake, improvement, non-breaking

#18786 Change cudf::sort googlebench benchmarks to nvbench
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/sort/rank.cpp
  cpp/benchmarks/sort/sort.cpp
  cpp/benchmarks/sort/sort_strings.cpp
Labels: 3 - Ready for Review, libcudf, CMake, improvement, non-breaking

#18808 Change calls to thrust::swap to cuda::std::swap
  cpp/src/sort/sort_column_impl.cuh
  cpp/src/text/edit_distance.cu
Labels: 3 - Ready for Review, libcudf, improvement, non-breaking

#18681 Support rolling aggregations in in-memory cudf-polars execution
  cpp/src/rolling/detail/rolling_utils.cu
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/cudf_polars/dsl/utils/replace.py
  python/cudf_polars/cudf_polars/dsl/utils/rolling.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/containers/test_column.py
  python/cudf_polars/tests/expressions/test_rolling.py
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/test_rolling.py
  python/cudf_polars/tests/test_window_functions.py
Labels: libcudf, Python, improvement, non-breaking, cudf.polars

#18814 Reduce more data sizes of Python tests
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
Labels: Python, improvement, non-breaking

#18824 Auto merge fix for branch-25.08
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/sort/rank.cpp
  cpp/benchmarks/sort/sort.cpp
  cpp/benchmarks/sort/sort_strings.cpp
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/src/rolling/detail/rolling_utils.cu
  cpp/src/sort/sort_column_impl.cuh
  cpp/src/text/edit_distance.cu
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_parquet.py
  python/cudf_polars/cudf_polars/containers/column.py
  python/cudf_polars/cudf_polars/dsl/expressions/rolling.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/dsl/utils/groupby.py
  python/cudf_polars/cudf_polars/dsl/utils/replace.py
  python/cudf_polars/cudf_polars/dsl/utils/rolling.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
  python/cudf_polars/cudf_polars/testing/plugin.py
  python/cudf_polars/cudf_polars/typing/__init__.py
  python/cudf_polars/tests/containers/test_column.py
  python/cudf_polars/tests/expressions/test_rolling.py
  python/cudf_polars/tests/test_groupby.py
  python/cudf_polars/tests/test_rolling.py
  python/cudf_polars/tests/test_window_functions.py
Labels: 3 - Ready for Review, libcudf, Python, CMake, improvement, non-breaking, cudf.polars

#18825 Skip a decompression test
  python/cudf/cudf/tests/test_parquet.py
Labels: bug, Python, non-breaking

#18816 Scan a headerless CSV file with column names provided
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/testing/io.py
  python/cudf_polars/tests/test_scan.py
Labels: feature request, Python, non-breaking, cudf.polars

#18807 Move implemented BaseIndex methods over to Index
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_timedelta.py
Labels: Python, improvement, non-breaking, cudf.pandas

#18490 Implemented String Output & User-data Support for Transforms
  cpp/benchmarks/ndsh/q09.cpp
  cpp/include/cudf/jit/span.cuh
  cpp/include/cudf/transform.hpp
  cpp/src/transform/jit/kernel.cu
  cpp/src/transform/transform.cpp
  cpp/tests/streams/transform_test.cpp
  cpp/tests/transform/integration/unary_transform_test.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: feature request, libcudf, Java, breaking

#18721 Test with CUDA 12.9.0
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  dependencies.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
  python/libcudf/pyproject.toml
Labels: Python, improvement, non-breaking, cudf.pandas

#18801 Add fast paths for `DataFrame.to_cupy`
  docs/cudf/source/user_guide/api_docs/index_objects.rst
  python/cudf/benchmarks/API/bench_dataframe.py
  python/cudf/benchmarks/API/bench_series.py
  python/cudf/benchmarks/common/config.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
  python/pylibcudf/pylibcudf/libcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pxd
  python/pylibcudf/pylibcudf/reshape.pyi
  python/pylibcudf/pylibcudf/reshape.pyx
  python/pylibcudf/pylibcudf/tests/test_reshape.py
Labels: feature request, Python, 5 - Ready to Merge, non-breaking, pylibcudf

#18839 Finish CUDA 12.9 migration and use branch-25.06 workflows
  .github/workflows/build.yaml
  .github/workflows/pandas-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
Labels: improvement, non-breaking

#18468 Add sink support in cudf_polars
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/utils.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/write_json.cu
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json/json_writer.cpp
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/testing/asserts.py
  python/cudf_polars/tests/test_sink.py
  python/cudf_polars/tests/testing/test_asserts.py
  python/pylibcudf/pylibcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/io/csv.pyi
  python/pylibcudf/pylibcudf/io/csv.pyx
  python/pylibcudf/pylibcudf/io/json.pxd
  python/pylibcudf/pylibcudf/io/json.pyi
  python/pylibcudf/pylibcudf/io/json.pyx
  python/pylibcudf/pylibcudf/io/parquet.pxd
  python/pylibcudf/pylibcudf/io/parquet.pyi
  python/pylibcudf/pylibcudf/io/parquet.pyx
  python/pylibcudf/pylibcudf/libcudf/io/csv.pxd
  python/pylibcudf/pylibcudf/libcudf/io/json.pxd
  python/pylibcudf/pylibcudf/libcudf/io/parquet.pxd
Labels: libcudf, Python, improvement, non-breaking, cudf.polars, pylibcudf

#18833 Remove toplevel `import cudf` from window/tools/join directories
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/rolling.py
Labels: Python, improvement, non-breaking

#18829 Remove toplevel `import cudf` from cudf/io files
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/io/hdf.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/io/text.py
Labels: Python, improvement, non-breaking

#18545 Implement row group pruning with bloom filters in experimental PQ reader
  cpp/CMakeLists.txt
  cpp/include/cudf/io/experimental/hybrid_scan.hpp
  cpp/src/io/parquet/bloom_filter_reader.cu
  cpp/src/io/parquet/experimental/dictionary_page_filter.cu
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.cpp
  cpp/src/io/parquet/experimental/hybrid_scan_helpers.hpp
  cpp/src/io/parquet/experimental/hybrid_scan_impl.cpp
  cpp/src/io/parquet/reader_impl_helpers.hpp
Labels: feature request, libcudf, CMake, 5 - Ready to Merge, cuIO, non-breaking

#18835 Throw a descriptive exception in Parquet reader when trying to read files with more than two billion rows
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/utilities/column_buffer.cpp
  cpp/tests/io/parquet_chunked_reader_test.cu
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#18849 Fix cudf_polars pl.col(...).len() always excluding null values
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/tests/expressions/test_len.py
Labels: bug, Python, non-breaking, cudf.polars

#18805 Fix host decompression of empty DEFLATE data
  cpp/src/io/comp/uncomp.cpp
  cpp/tests/io/text/data_chunk_source_test.cpp
Labels: bug, libcudf, non-breaking

#18850 Call the correct `from_pandas` in `hdf` reader
  python/cudf/cudf/io/hdf.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking

#18848 Update `__all__` in `cudf_polars/dsl/ir.py`
  python/cudf_polars/cudf_polars/dsl/ir.py
Labels: Python, improvement, non-breaking, cudf.polars

#18843 Add retries to prevent failures in occasionally slow CI runs
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cudf/cudf_pandas_tests/test_disable_pandas_accelerator.py
  python/cudf/cudf_pandas_tests/test_disable_per_thread_safety.py
  python/cudf/pyproject.toml
Labels: 3 - Ready for Review, Python, improvement, non-breaking, cudf.pandas

#18785 Only warn in cudf.pandas if rmm mode explicitly set and rmm already configured
  python/cudf/cudf/pandas/__init__.py
Labels: Python, improvement, non-breaking, cudf.pandas

#18847 Upload examples conda package
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#18826 Update pdsh benchmark script to support explain-only
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, improvement, non-breaking, cudf.polars

#18852 Add CUDF_INSTALL_DIR for JAVA build script
  java/ci/build-in-docker.sh
Labels: Java, improvement, non-breaking

#18870 Update NumPy dependency in cudf.pandas-catboost integration test
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  python/cudf/cudf_pandas_tests/third_party_integration_tests/dependencies.yaml
Labels: Python, improvement, non-breaking, cudf.pandas

#18699 Remove redundant xfails in cuml integration tests
  python/cudf/cudf_pandas_tests/third_party_integration_tests/tests/test_cuml.py
Labels: Python, improvement, non-breaking, cudf.pandas

#18854 Fix fencepost error in `Repartition` task generation
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
  python/cudf_polars/cudf_polars/experimental/repartition.py
Labels: bug, Python, non-breaking, cudf.polars

#18563 Store Python scalars instead of PyArrow Scalars in cudf_polars Literal expr
  python/cudf_polars/cudf_polars/dsl/expressions/aggregation.py
  python/cudf_polars/cudf_polars/dsl/expressions/literal.py
  python/cudf_polars/cudf_polars/dsl/expressions/string.py
  python/cudf_polars/cudf_polars/dsl/expressions/unary.py
  python/cudf_polars/cudf_polars/dsl/ir.py
  python/cudf_polars/cudf_polars/dsl/to_ast.py
  python/cudf_polars/cudf_polars/dsl/translate.py
  python/cudf_polars/cudf_polars/dsl/utils/aggregations.py
  python/cudf_polars/cudf_polars/dsl/utils/windows.py
  python/cudf_polars/tests/dsl/test_to_ast.py
  python/pylibcudf/pylibcudf/interop.pyx
  python/pylibcudf/pylibcudf/libcudf/wrappers/durations.pxd
  python/pylibcudf/pylibcudf/libcudf/wrappers/timestamps.pxd
  python/pylibcudf/pylibcudf/scalar.pyx
  python/pylibcudf/pylibcudf/tests/test_scalar.py
Labels: Python, improvement, non-breaking, cudf.polars, pylibcudf

#18857 Remove top level cudf imports in core
  docs/cudf/source/conf.py
  python/cudf/cudf/api/extensions/accessor.py
  python/cudf/cudf/core/_internals/timezones.py
  python/cudf/cudf/core/buffer/exposure_tracked_buffer.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Labels: Python, improvement, non-breaking

#16543 Update chunked parquet reader benchmarks
  cpp/benchmarks/io/parquet/parquet_reader_input.cpp
Labels: libcudf, improvement, non-breaking

#18880 Fix Dataframe `getitem` when `MultiIndex` columns exist
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Labels: bug, Python, 5 - Ready to Merge, non-breaking

#18875 Ensure __eq__/__ne__ between Columns in public objects don't return bool
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/temporal_base.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_binops.py
Labels: bug, Python, non-breaking

#18895 Branch 25.08 merge branch 25.06
  python/cudf/cudf/core/indexing_utils.py
  python/cudf/cudf/tests/test_indexing.py
  python/custreamz/custreamz/tests/test_dataframes.py
Labels: Python, improvement, non-breaking

#18821 Fix memory access error in nvtext::edit_distance
  cpp/include/nvtext/edit_distance.hpp
  cpp/src/text/edit_distance.cu
  cpp/tests/text/edit_distance_tests.cpp
Labels: 3 - Ready for Review, libcudf, strings, improvement, non-breaking

#18104 Add nvtext substring deduplication APIs (Part 2)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/text/deduplicate.cpp
  cpp/include/nvtext/deduplicate.hpp
  cpp/src/text/deduplicate.cu
  cpp/tests/text/deduplicate_tests.cpp
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/text/test_text_methods.py
  python/pylibcudf/pylibcudf/libcudf/nvtext/deduplicate.pxd
  python/pylibcudf/pylibcudf/nvtext/deduplicate.pxd
  python/pylibcudf/pylibcudf/nvtext/deduplicate.pyi
  python/pylibcudf/pylibcudf/nvtext/deduplicate.pyx
  python/pylibcudf/pylibcudf/tests/test_nvtext_deduplicate.py
Labels: feature request, 3 - Ready for Review, libcudf, Python, CMake, strings, non-breaking, pylibcudf

#18751 Remove cudf.BaseIndex
  docs/cudf/source/conf.py
  python/cudf/benchmarks/API/bench_frame_or_index.py
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_typing.py
  python/cudf/cudf/api/extensions/accessor.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/io/dlpack.py
  python/cudf/cudf/pandas/_wrappers/pandas.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_factorize.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
  python/dask_cudf/dask_cudf/_expr/collection.py
  python/dask_cudf/dask_cudf/backends.py
Labels: Python, improvement, breaking, cudf.pandas

#18408 Change `dask_cudf.to_parquet` behavior for local filesystems
  python/dask_cudf/dask_cudf/_legacy/io/parquet.py
Labels: 2 - In Progress, Python, dask, improvement, non-breaking

#18768 Create a pylibcudf Column from a python iterable
  python/cudf_polars/cudf_polars/dsl/expressions/boolean.py
  python/cudf_polars/cudf_polars/dsl/expressions/datetime.py
  python/pylibcudf/pylibcudf/column.pyx
  python/pylibcudf/pylibcudf/tests/test_column_from_iterable.py
  python/pylibcudf/pylibcudf/types.pyi
  python/pylibcudf/pylibcudf/types.pyx
Labels: feature request, Python, non-breaking, cudf.polars, pylibcudf

#18899 Add CLI argument to enable RMM async memory resource in PDS-H
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: feature request, 3 - Ready for Review, Python, non-breaking, cudf.polars

#18862 Remove more top level cudf imports in core
  docs/cudf/source/conf.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/core/tokenize_vocabulary.py
  python/cudf/cudf/core/wordpiece_tokenize.py
Labels: Python, improvement, non-breaking

#18822 Update strings benchmarks to use alloc_size column/table function
  cpp/benchmarks/string/case.cpp
  cpp/benchmarks/string/char_types.cpp
  cpp/benchmarks/string/combine.cpp
  cpp/benchmarks/string/contains.cpp
  cpp/benchmarks/string/convert_datetime.cpp
  cpp/benchmarks/string/convert_durations.cpp
  cpp/benchmarks/string/convert_fixed_point.cpp
  cpp/benchmarks/string/convert_numerics.cpp
  cpp/benchmarks/string/copy.cpp
  cpp/benchmarks/string/copy_if_else.cpp
  cpp/benchmarks/string/copy_range.cpp
  cpp/benchmarks/string/count.cpp
  cpp/benchmarks/string/extract.cpp
  cpp/benchmarks/string/factory.cpp
  cpp/benchmarks/string/filter.cpp
  cpp/benchmarks/string/find.cpp
  cpp/benchmarks/string/find_multiple.cpp
  cpp/benchmarks/string/join_strings.cpp
  cpp/benchmarks/string/lengths.cpp
  cpp/benchmarks/string/like.cpp
  cpp/benchmarks/string/repeat_strings.cpp
  cpp/benchmarks/string/replace.cpp
  cpp/benchmarks/string/replace_re.cpp
  cpp/benchmarks/string/reverse.cpp
  cpp/benchmarks/string/slice.cpp
  cpp/benchmarks/string/split.cpp
  cpp/benchmarks/string/split_re.cpp
  cpp/benchmarks/string/translate.cpp
  cpp/benchmarks/string/url_decode.cu
Labels: bug, 3 - Ready for Review, libcudf, strings, non-breaking

#18902 use 'rapids-init-pip' in wheel CI, other CI changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/build_wheel_cudf.sh
  ci/build_wheel_cudf_polars.sh
  ci/build_wheel_dask_cudf.sh
  ci/build_wheel_libcudf.sh
  ci/build_wheel_pylibcudf.sh
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  ci/cudf_pandas_scripts/run_tests.sh
  ci/test_narwhals.sh
  ci/test_wheel_cudf.sh
  ci/test_wheel_cudf_polars.sh
  ci/test_wheel_dask_cudf.sh
Labels: improvement, non-breaking

#18914 Add CLI argument to enable OOM protection in PDS-H
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: feature request, 3 - Ready for Review, Python, non-breaking, cudf.polars

#18906 Fix a potential segfault in PQ reader's number of rows per source calculation
  cpp/src/io/parquet/reader_impl.cpp
  cpp/tests/io/parquet_reader_test.cpp
Labels: bug, libcudf, 5 - Ready to Merge, cuIO, non-breaking

#18823 Refactor UDF utils and add a hook to enable NRT when necessary
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/udf/groupby_utils.py
  python/cudf/cudf/core/udf/masked_typing.py
  python/cudf/cudf/core/udf/nrt_utils.py
  python/cudf/cudf/core/udf/row_function.py
  python/cudf/cudf/core/udf/scalar_function.py
  python/cudf/cudf/core/udf/udf_kernel_base.py
  python/cudf/cudf/core/udf/utils.py
  python/cudf/cudf/tests/test_string_udfs.py
Labels: Python, improvement, non-breaking

#18915 Ensure gc fixture is used in custreamz test
  python/custreamz/custreamz/tests/test_dataframes.py
Labels: bug, Python, non-breaking

#18616 String Transform Examples
  cpp/examples/build.sh
  cpp/examples/string_transforms/CMakeLists.txt
  cpp/examples/string_transforms/README.md
  cpp/examples/string_transforms/common.hpp
  cpp/examples/string_transforms/info.csv
  cpp/examples/string_transforms/int_output.cpp
  cpp/examples/string_transforms/output.cpp
  cpp/examples/string_transforms/preallocated.cpp
Labels: feature request, libcudf, CMake, non-breaking

#18934 Docs for streaming executor options
  docs/cudf/source/cudf_polars/engine_options.md
Labels: 3 - Ready for Review, doc, non-breaking

#18949 parameterized ucx / ucxx
  python/cudf_polars/cudf_polars/experimental/benchmarks/pdsh.py
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.polars

#18944 Remove deprecated get_dummies(cats=, ...)
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_onehot.py
Labels: Python, improvement, breaking

#18927 Remove cudf.Scalar
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_typing.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/temporal_base.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/utils/scalar.py
Labels: Python, improvement, breaking

#18876 Apply linter suggestions to cuIO code
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/host_tree_algorithms.cu
  cpp/src/io/json/nested_json_gpu.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl_chunking.cu
  cpp/src/io/parquet/reader_impl_preprocess.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/utilities/trie.cu
Labels: libcudf, improvement, non-breaking

#18946 Remove deprecated groupby.collect
  python/cudf/cudf/core/groupby/groupby.py
  python/dask_cudf/dask_cudf/_expr/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Labels: Python, improvement, breaking

#18947 Remove deprecated Series methods, isclose
  docs/cudf/source/user_guide/api_docs/series.rst
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Labels: Python, improvement, breaking

#18872 xfail pandas unit tests that fail with cudf.pandas
  ci/cudf_pandas_scripts/pandas-tests/run.sh
  python/cudf/cudf/pandas/scripts/conftest-patch.py
  python/cudf/cudf/pandas/scripts/run-pandas-tests.sh
Labels: Python, 5 - Ready to Merge, improvement, non-breaking, cudf.pandas

#18951 add 'rapids-init-pip' to test_cudf_polars_polars_tests.sh
  ci/test_cudf_polars_polars_tests.sh
Labels: improvement, non-breaking
